[2017-08-13 15:51] lolodomo commented on #3861
I will take a look and fix this issue.

[2017-08-13 18:28] kaikreuzer commented on #4042
So how do you explain that https://openhab.ci.cloudbees.com/job/openHAB2-Bundles/115/ is green...?

Anyhow, openHAB build issues do not belong in the ESH issue tracker.
The null annotations should have been addressed there through https://github.com/openhab/openhab-core/pull/179 (and others). If this does not work as expected, please file a bug there (and mention how you exactly launch the build).

[2017-08-13 18:28] #4042 closed

[2017-08-13 18:36] lolodomo commented on #4042
I was just signaling issues (breaking API or sort of) in case you produce a new ESH build for OH. Until that, no problem of course.

[2017-08-13 20:08] kaikreuzer commented on #4042
Ok, sure, that's appreciated.
So just to get you right: If you do a local ESH build so that the artefacts are installed in the local Maven repo and you then do an openhab2-addons build, you get this error?
@triller-telekom Could you check this? Do we require people to have null annotations on every overridden method? Or what is this error trying to tell us...?

[2017-08-13 20:15] kaikreuzer commented on #4044
The ESH version has not changed between the builds 1008 and 1009.
The only thing that changed in this context is the version of Jetty (and thus also the Jetty Proxy, which is used for the image widgets) - it has been upgraded from 9.2.19 to 9.3.14. We would have to check whether our code requires some change here (and if so we need to think about more strictly defining the compatible version).

[2017-08-13 20:31] kaikreuzer commented on #4044
The good news is: I can reproduce the issue.
The bad news is: We therefore indeed seem to have an issue 😞 .

I just briefly googled and came across https://github.com/eclipse/jetty.project/issues/806, which is fixed in 9.3.14 - afair, we did a workaround because of this bug, so it might make sense to use the new feature now. @svilenvul, as you were the bug reporter at that time, would you want to

[2017-08-13 20:31] lolodomo commented on #4042
Yes, ESH build with maven and then OH2 build.
I can see all the errors in Eclipse too after a full rebuild.

[2017-08-13 20:59] kaikreuzer commented on #3692
I also like the idea, but it will also mean that we introduce yet another "entity" that needs to be handled by the infrastructure.

FTR: I have started prototyping a proof of concept - the rough architecture is the following:
- A new MetaData class, which has itemname+extensionid as a key and a Map as value.
- Introduction of a MetaDataRegistry with the common ESH design pattern (i.e. with MetaDat

[2017-08-14 06:14] watou commented on #4044
It may be that later [AbstractProxyServlet.java](https://github.com/eclipse/jetty.project/commits/jetty-9.4.x/jetty-proxy/src/main/java/org/eclipse/jetty/proxy/AbstractProxyServlet.java) versions no longer call the deprecated [`copyHeaders`](https://github.com/eclipse/smarthome/pull/2753/files#diff-58b13e7e76574d68a9bff9904cd8d817R56) (see my comment in the code) so the proxy servlet has to now in

[2017-08-14 06:39] kaikreuzer commented on #4044
Thanks for the hint, @watou! I remembered that there was some code that is to be changed when upgrading, but couldn't find it anymore (I only checked `ProxyServlet` and missed looking at the `AsyncProxyServlet`).

[2017-08-14 07:28] kaikreuzer commented on #4044
Ok, I have updated my local target platform to include Jetty 9.3.14 and I indeed even get compilation errors at that code now - I'll look at how to get it working.

@maggu2810 & @sjka I guess as a result we should increase the minimal required version of Jetty to 9.3.x as we cannot guarantee compatibility otherwise. As Karaf/Pax-Web is by now on 9.3 as well, there probably isn't a strong reason fo

[2017-08-14 07:36] Dan1001 commented on #3870
Well that's interesting - doesn't work for me on Classic UI or basic UI. I created a blank sitemap with nothing except the above code, and I just get an empty frame.

Dan

[2017-08-14 07:50] lolodomo commented on #4042
It looks like that the addition of these annotations in ESH core could require a massive amount of changes in OH if all method signatures have to be updated.

[2017-08-14 08:13] sjka commented on #4044
I'm not aware of any, so okay from my side.

[2017-08-14 08:17] sjka commented on #4009
I'm not so sure about this - so far, the assumption simply was that the registries return the original entities. Sure, that's because historically there was nothing seriously to be changed anyway.

Still, I'm not convinced that creating copies all over the place is the best idea, considering the crappy hardware that solutions are running on...

[2017-08-14 08:24] kaikreuzer commented on #4009
FTR: I also mentioned [here](https://github.com/eclipse/smarthome/pull/3934#issue-247314208) that we have different ways to handle it and will need to think about a common solution. https://github.com/eclipse/smarthome/pull/3405 is also related to it.

[2017-08-14 08:52] doandzhi opened #4045 "Eclipse compilation errors in core bundles - Annotations"
Hello, I am facing compilation problems on **org.eclipse.smarthome.core** bundle. The compiler says

  I checked which version of **org.eclipse.jdt.annotation** and it is **1.1.0** which according to this [this](https://stackoverflow.com/questions/22531237/how-to-enable-jsr308-null-annotations-on-types-in-eclipse ) article is not compatible with Java 8. Tried to delete the whole bundle pool in cas

[2017-08-14 08:58] svilenvul commented on #4044
I think this should be changed after the upgrade - https://github.com/eclipse/smarthome/blob/afe6ecafe38faccb8b705a9087de472da0d8bd21/bundles/io/org.eclipse.smarthome.io.net/src/main/java/org/eclipse/smarthome/io/net/http/HttpUtil.java#L196-L208

[2017-08-14 09:01] svilenvul commented on #4045
I can confirm the problem with Eclipse Neon Build id: 20160613-1800 and the latest changes from the master branch.

[2017-08-14 09:07] kaikreuzer commented on #4044
That's the place that you could adapt once we upgraded, but the place that fixes the AsyncProxyServlet is [here](https://github.com/eclipse/smarthome/blob/067bd5122b4666452bda319cb4e1de13eda9ab00/bundles/ui/org.eclipse.smarthome.ui/src/main/java/org/eclipse/smarthome/ui/internal/proxy/AsyncProxyServlet.java#L49-L60). I am already on it - most work is the adaption of the target platform...

[2017-08-14 09:18] triller-telekom commented on #4045
@doandzhi Do you also have Eclipse Neon? Does it work in maven for you?

[2017-08-14 09:18] sjka commented on #3963
FYI: I just updated https://www.eclipse.org/smarthome/schemas/... to reflect the latest XSDs from the sources. Hope that helps...?

[2017-08-14 09:18] kaikreuzer commented on #3963
Thanks!

[2017-08-14 09:18] #3963 closed

[2017-08-14 09:21] doandzhi commented on #4045
Yes it is built succesfully in Maven.
I use Eclipse Version: Mars.2 Release (4.5.2)
Build id: 20160218-0600

[2017-08-14 09:32] triller-telekom commented on #4045
@doandzhi: Oh, Mars is even older that Neon. By that time these annotations where not fully supported. We would kindly ask you to update to Eclipse Oxygen since this is our official development environment: https://www.eclipse.org/smarthome/documentation/development/ide.html

@svilenvul: Does ESH compile clean with maven for you? If not what is the error message? And if it does, would you also ple

[2017-08-14 09:50] triller-telekom commented on #4042
It's a bug in Eclipse JDT :(

See https://bugs.eclipse.org/bugs/show_bug.cgi?id=463359

I have reverted the changes regarding generics on the Bindings API, see PR #4046

[2017-08-14 10:17] kaikreuzer commented on #4044
Issue should be fixed by #4047.
@svilenvul Once this is merged, feel free to create a PR that cleans the HttpUtil from the current workaround, which then won't be needed anymore.

[2017-08-14 10:31] svilenvul commented on #4045
Yes, ESH compiles clean with maven. I will update to Oxygen.

[2017-08-14 11:53] maggu2810 commented on #3989
Doesn't an image item and a raw type do the job?
Image item already declared that the type should encode an image.
The image type could mostly be identified by a magic header or something similar and doesn't need to be set by a redundant enum (that at least must fit to the raw data itself).

So IMHO an updated documentation should do the job.

WDYT?

[2017-08-14 12:42] doandzhi commented on #4045
After updating to Eclipse Oxygen the issue is resolved. Thanks a lot :)

[2017-08-14 12:42] #4045 closed

[2017-08-14 13:15] maggu2810 commented on #4044
Okay for me.

[2017-08-14 13:15] #4044 closed

[2017-08-14 13:47] lolodomo commented on #4042
I can confirm that the openhab-core PR + ESH PR made OH2 buildable again with Maven.
Errors on OH2 bindings are still present in Eclipse but I imagine it is the purpose of the pending OH2 PR to fix them.

[2017-08-14 14:15] lolodomo commented on #3861
I am not able to reproduce the problem.
First I tried to rename a radio in my Sonos favorites from `RTL 2` to `RTL & 2`.
Using the command `smarthome:send SonosChambreFavorite "RTL & 2"` in the console, the radio station is played and I see no errors in logs.
Then I tried to rename a Spotify song in my Sonos favorites from `Bird Set Free` to `Bird & Set & Free`.
Using the command `smarthome:send S

[2017-08-14 14:25] lolodomo commented on #3861
Also I tried `sendCommand(SonosChambreFavorite,"Bird & Set & Free")` inside a rule and no problem.

So that I can be exactly in the same case, can you tell me what is "Entspannte Rock-Klassiker & Oldies" ? Is a tune-in radio ?

[2017-08-14 14:32] lolodomo commented on #3963
Thank you @sjka , it is ok now.

[2017-08-14 20:55] kaikreuzer commented on #3870
@Dan1001 I was able to reproduce the issue with a sitemap entry like
[code]
The issue was that the current Proxy servlet expected always complete credentials (i.e. "user:password@...") and failed adding an auth header in case no password was given.
#4051 fixes the issue for me - I can ping you as soon as it is available in the openHAB distro for you to retest.

[2017-08-14 21:56] #3870 closed

[2017-08-14 21:57] Dan1001 commented on #3870
Many thanks, but unfortunately I think I must have a different problem, as I moved to incomplete authentication thinking that might fix the problem - I originally experienced it will complete credentials. I also have the same issue with urls that don't require authentication, e.g. https://i.ytimg.com/vi/GNaAYKV5mIM/hqdefault.jpg (as above).

[2017-08-14 22:03] Mr-iX commented on #3870
Same for me, I also used an authentification with username and password, witch hasn’t worked.

[2017-08-15 01:48] davidgraeff commented on #3989
I'm fine with an updated documentation with a small example if possible.

[2017-08-15 07:41] DriesA commented on #4018
Hi,
Thank you for your help.
What I did:
* I stopped OpenHAB;
* I deleted the contents of /cache and /tmp;
* I upgraded OpenHAB to build #1010;
* I started OpenHAB;
* During the start-up, I noticed the following in the openhab.log:

*****
`2017-08-15 00:01:24.071 [INFO ] [ding.astro.handler.AstroThingHandler] - Scheduled astro job-daily-moon at midnight for thing astro:moon:local
2017-08-15 00:01:

[2017-08-15 08:05] plamen-peev opened #4052 "Override hashCode and equals in RuleTemplate"
I have a `Collection` of `RuleTemplates` and i know that a given template instance is in the collection, but the `contains(template);` method returns `false`. In order to use the methods in `java.util.Collection` we need to override `hashCode()` and `equals()` in `RuleTemplate`.

[2017-08-15 08:28] kaikreuzer commented on #3870
@Dan1001 Please don't mix different issues here - the original issue was the support of urls like `http://openhab@192.168.1.145/dms` that is used by D-Link cams; this definitely didn't work, but is fixed now (already available in openHAB distro 1012, please test!).

FTR, I have also checked the cat picture with that latest build and it works smoothly as well:

![screen shot 2017-08-15 at 10 28 01]

[2017-08-15 12:50] kaikreuzer opened #4056 "Extensions are lacking XML files in OSGI-INF"
With the change from handwritten XML DS to DS annotations, we switched to felix-scr plugin to generated the XMLs on the fly during the build.
Unfortunately, the current build misses generating them for our extensions, it only does it for core bundles.

See https://github.com/openhab/openhab-distro/issues/518

[2017-08-15 13:06] #4052 closed

[2017-08-15 14:01] #4056 closed

[2017-08-15 16:01] kaikreuzer opened #4058 "IllegalStateException in LanguageResourceBundleManager"
Just had this in my log during a system shutdown:

[code]

I guess this should be caught in our code.

[2017-08-15 19:42] kaikreuzer commented on #3870
Nope, sorry. If we do not make any progress on a fully automatic build&release chain, it'll probably be in autumn - otherwise possibly earlier, but I am not too optimistic.

[2017-08-15 19:48] Mr-iX commented on #3870
I would be great if there where x.x.1 (and so on) releases, that fix some bugs, but don’t provide new features.

[2017-08-15 20:11] kaikreuzer commented on #3870
Right, exactly for this we require the fully automatic process :-)

[2017-08-16 05:01] marcus-schneider opened #4059 "Astro Binding Range Event"
"Earliest" attribute is not applied in Build #1011

[2017-08-16 05:55] kubawolanin opened #4060 "[REST API] Ability to add/edit multiple items within one request"
## Background

I'm working on a [home structure generator](https://github.com/openhab/openhab-core/pull/172) for openHAB. It allows you to create an Items collection with simple point-and-click.

There are two forms of generated Items:
* Text file - Xtext based `*.items` file
* REST API call - Items are structured as objects that [API](demo.openhab.org/doc/index.html) understands

In order to acco

[2017-08-16 07:32] kaikreuzer commented on #2926
Null annotations are in place now, so I would consider the Java8 upgrade and related actions being done.

[2017-08-16 07:32] #2926 closed

[2017-08-16 08:27] davidgraeff opened #4064 "[Feedback required] TCP/UDP/HTTP binding"
In OpenHab 1.x their exists basic TCP, UDP, HTTP bindings, where an item could be defined that reads/writes simple network/http packages. Together with the transformation services, even XML and JSON could be read. According to the OpenHab forum people still uses those a lot, for example to read weather data or interact with any available REST service.

I'd like to discuss how to transfer those fun

[2017-08-16 08:38] #4058 closed

[2017-08-16 11:05] #4059 closed

[2017-08-16 13:20] robbyb67 commented on #3867
Same on my site.
Removing and re-adding the Bulb and gateway things in PaperUI fixed that temporarily.

[2017-08-16 13:50] triller-telekom commented on #4041
I am trying to reproduce this issue but somehow I do get the correctly encoded names:

I do have 2 .item files:

utf8.items: (encoded with UTF-8, check via "file utf8.items" on a console)
[code]

iso8859-1.items: (encoded with ISO8859-1, check via "file iso8859-1.items" on a console)
[code]

http://localhost:8080/rest/items/
[code]

Looks like the ISO8859-1 file leads to a broken encoding, but the

[2017-08-17 04:55] davidgraeff opened #4069 "[Documentation/API Doc] BaseThingHandler.getBridge().getHandler()"
The JavaDoc of `BaseThingHandler.getBridge().getHandler()` says "the handler can be null", but in recently added extensions I saw this:
[code]
There is no null check. Is `getHandler()` guaranteed to return a handler if called in a thing `initialize`?
This issue is either/or:
* Change the JavaDoc to mention when and under which conditions the bridge handler is available.
* Correct the usage of the

[2017-08-17 07:18] sjka opened #4071 "[Test Failures] Wemo Binding"
Happend here: https://travis-ci.org/eclipse/smarthome/builds/265218318?utm_source=github_status&utm_medium=notification

[code]

[2017-08-17 07:59] sjka commented on #4069
Good point - in fact both is correct. The `getHandler()` method _can_ return `null`, but since #2087 is it guaranteed by the framework that children only get initialized once the bridge successfully got initialized, therefore at this point in time the bridge's handler cannot be null.

Would a "(can be null for a Thing which is not initialized)" be more clear from your perspective?
I guess it would

[2017-08-17 08:07] davidgraeff commented on #4069
@sjka I would duplicate the information of the linked page instead.

Can we make it even more explicit like in:
"(can be null for a Thing which is not initialized. Note that a Bridge is guaranteed to be initialized before its children. It is therefore safe to call getBridge().getHandler() for a subordinate Thing)"

[2017-08-17 10:43] J-N-K opened #4074 "Changing BaseThingHandler bridgeStatusChanged behaviour"
Currently this method works as follows:

bridgeStatus changes from ONLINE to OFFLINE: thingStatus is set to OFFLINE, thingStatusDetail to BRIDGE_OFFLINE
bridgeStatus changes from OFFLINE to ONLINE: checks whether the thingStatusDetail is BRIDGE_OFFLINE and if so, sets the thing Status to ONLINE

On my opinion this is wrong. If the thing was OFFLINE (e.g. because of mis-configuration) when the brid

[2017-08-17 10:56] maggu2810 commented on #4074
Just to summarize:
It is about the `bridgeStatusChanged` method implementation of `BaseThingHandler`.
Every binding can override this method and change the behavior to its need.

That being said, we can surely discuss the "base" implementation.
Do you think there is a rule that fits always? What should the user "see", is my thing offline because it is wrongly configured or because the bridge is of

[2017-08-17 11:02] maggu2810 commented on #4074
There are other transitions, too:
If the thing is still in unknown state (so, not online or offline), it is set to offline,bridge_offline, too and then to online if the bridge goes online...

[2017-08-17 11:11] J-N-K commented on #4074
That is exactly my point. The "base implementation" should check if the thingStatus was ONLINE before setting it to OFFLINE/BRIDGE_OFFLINE. And only set it ONLINE if it was OFFLINE/BRIDGE_OFFLINE (already implemented).

[2017-08-17 12:23] Flole998 opened #4076 "Charts causing Issues on ODROID C2"
With Version 2.6.x there are issues with the Charts on ODROID C2 as noticed in openhab/openhab-distro#514 aswell as the [OpenHAB Community](https://community.openhab.org/t/oh2-1-fonts-scrambled/33050/8) . The XChart Library should be upgraded to a newer version, I suggest to the newest Version.

[2017-08-17 12:23] josor001 commented on #2601
Hi folks, just purchased a Hue motion sensor and thought about integrating it in our smart home lab at dortmund's applied sciences university.
@ddudnik  Is there any progress regarding the Hue API update (especially the Sensor API)? Do you need any help? I may find some student assistant who 'volunteers' ;)

[2017-08-17 12:54] kaikreuzer commented on #4076
Can you prove that this is the correct path to fix the issue? As shown in https://github.com/openhab/openhab-distro/issues/514#issuecomment-321232874, the current version seems to work fine and at least is not generally broken,

As already mentioned in the forum, the last commit message says:
“3.x was not used due to increased size without benefit and refactoring.”
Did you check the size issues? W

[2017-08-17 13:05] Flole998 commented on #4076
It seems to be causing issues with certain Java versions or architectures (something related to the ODROID C2, would need more time and reports to confirm), for me thats reason enough to upgrade. Still waiting for Feedback from the community to see if that fixes the issue. The newest Library seems to be working fine on the C2 according to a community member, if the old one is broken we can safely

[2017-08-17 13:19] triller-telekom opened #4078 "Randomly failing Core Thing XML Tests"
Found in [Travis](https://s3.amazonaws.com/archive.travis-ci.org/jobs/265288220/log.txt?X-Amz-Expires=30&X-Amz-Date=20170817T072349Z&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAJRYRXRSVGNKPKO5A/20170817/us-east-1/s3/aws4_request&X-Amz-SignedHeaders=host&X-Amz-Signature=6c8c44f6b61b53ad2b5350f5c776681a7ae12a296a92bb8b784dee8dcf41233f)

[code]

[2017-08-17 13:29] triller-telekom commented on #4074
I agree with @J-N-K. When the bridge goes OFFLINE, we should not blindly set the thing to OFFLINE too, but rather check if it is ONLINE. Because it is not ONLINE there usually is a reason for it which is set as a StatusDetail message which we should preserve.

So if the bridge goes OFFLINE, check if the attached thing is ONLINE or UNKNOWN, then set it to OFFLINE with reason "bridge offline" and ot

[2017-08-17 13:53] #3956 closed

[2017-08-17 14:03] ddudnik commented on #2601
Hi @josor001 ,
Integrating Sensor API is tracked in #2603
So far there was no progress and I will not have time to work on it in the near future. So feel free to "volunteer" some students to tackle it ;)

[2017-08-17 14:05] ddudnik commented on #2601
Closing this one to avoid confusion, see related issue #2603

[2017-08-17 14:05] #2601 closed

[2017-08-17 14:19] davidgraeff commented on #4076
Why did the size increase? Does the new version offer more features that might be useful to expose them to the framework?

In a similar case I used an external library (moquette) and they decided to add additional dependencies at some point (and the resulting jar grew therefore). I just mocked the dependencies away instead and could safe about a megabyte.

_Sent from my Lge LG-F700K using [FastHub

[2017-08-17 14:21] davidgraeff commented on #4074
I second this request. I always need to overwrite the method because the base implementation is not useful in many cases.

_Sent from my Lge LG-F700K using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-08-17 15:08] maggu2810 opened #4081 "Digitalstrom: get zone group ID data type error"
The function in `org.eclipse.smarthome.binding.digitalstrom.internal.lib.manager.impl.StructureManagerImpl` currently looks like:

[code]

Eclipse IDE reports:

[code]

So, it is clear that `HashMap<Short, String>` needs to be changed to `HashMap<String, Short>`.

But I don't think the `Object[]` etc. should be used at all.
I would prefer fixed types.

[2017-08-17 16:29] pgfeller commented on #4041
Thank you for the analysis. My environment is as follows:

- Microsoft Windows [Version 10.0.14393] (32 bit)
- java version "1.8.0_101"
Java(TM) SE Runtime Environment (build 1.8.0_101-b13)
Java HotSpot(TM) Client VM (build 25.101-b13, mixed mode, sharing)
- OH 2.1 release version

But I can also see the issue with snapshot 2.2.0 # 1014 (did only try the item endpoint with this build).

`Charset.d

[2017-08-17 16:42] Gerry33 commented on #4076
Pls. kindly refer to my findings regarding this issue at [https://community.openhab.org/t/oh2-1-fonts-scrambled/33050/10](url)

Result from there: It make so sense to upgrade the XCharts to the latest version as it appears in any XChart- version. This bug is related to ODROID C2 and/or JVM running there.  The same XChart- jar runs perfect on e.g. WINDOWS, but produces these problems on ODROIDs.

P

[2017-08-17 17:42] J-N-K commented on #4074
@triller-telekom: If we set it to OFFLINE/BRIDGE_OFFLINE from UNKNOWN it is wrong to set it to ONLINE after the bridge goes to ONLINE. We don't know if that is true. We should set it to UNKNOWN then (or leave it at UNKNOWN when the bridge goes OFFLINE). Another possibility would be to set it to UNKNOWN/BRIDGE_OFFLINE (if that is allowed) and return to UNKNOWN/NONE if the bridge goes online again.

[2017-08-17 18:49] kaikreuzer commented on #4076
Many thanks for your investigations @Gerry33!
So as I expected, merely upgrading XChart won't help to solve this issue.
I agree that the best way forward is to deal with that issue at the XChart project itself.
As there is nothing to do for us in ESH at the moment, I'll close the issue - once a fixed XChart version is available, we can re-open it.

[2017-08-17 18:49] #4076 closed

[2017-08-17 22:08] Flole998 commented on #4076
Closing the issue is not going to fix the Problem. If an issue is closed, it means it is resolved or not an issue. This is clearly an issue and also clearly not resolved and should therefor not be closed. If someone is looking at what needs to be done because they want to contribute, they are unable to see this because it is already closed (event though the issue is still there). Another thing we

[2017-08-17 22:42] Flole998 commented on #4076
I tested with version 2.2.1 and reverting back would indeed fix the issue. I suggest doing so for now (as 3.x doesn't seem to be an option either as it's not working aswell and also for some reason the 2MB extra are too large for you guys.....). I will create an Issue in the XChart Repository now, even though it doesn't matter for us at the moment.

[2017-08-18 04:35] marcus-schneider opened #4087 "Astro range event still not applied"
Still neither "earliest" (tested with rise) nor "offset" (tested with set) are applied in build #1016 and #1017.

[2017-08-18 05:49] maggu2810 commented on #4074
Isn't the whole problem what should be done if the bridge change to online again?
If a bridge changes to offline a thing should not be online anymore.
If a bridge changes to online it is binding specific if the things are online, still offline, ...

[2017-08-18 06:39] davidgraeff commented on #3989
@sjka Can you tag this as documentation? Thanks

[2017-08-18 06:45] kaikreuzer commented on #4087
Correct, see https://github.com/eclipse/smarthome/wiki/ESH-used-in-openHAB.

[2017-08-18 06:45] #4087 closed

[2017-08-18 06:45] kaikreuzer commented on #4087
FTR: https://github.com/eclipse/smarthome/pull/4061 fixes that issue.

[2017-08-18 07:12] davidgraeff opened #4088 "New service for providing SSL/DTLS configuration"
At the moment there are only web services (REST, PaperUI, etc), that needs configuration for secure connection support. But this may change with further enhancements and added features, like
* the embedded Mqtt Broker ( #3910 ) and
* LwM2M support, which is based on CoAP and therefore ESH would be in the role of a CoAP server ( #4063 ).

I suggest to provide a central OSGi service to provide SSL/D

[2017-08-18 07:15] kaikreuzer commented on #4074
I agree. The only valid status is OFFLINE.BRIDGE_OFFLINE in that situation.

I agree as well. Contemplating about it, there is indeed no one-fits-all implementation. The current logic in the BaseThingHandler deals with the simple bindings, where the Things are accessible whenever the bridge is online (so they should rather be channels...). But @J-N-K is right that even in that simply situation, it

[2017-08-18 07:20] triller-telekom commented on #4074
In this case I would prefer that a binding developer CANNOT override the "bridge goes offline" situation but is FORCED to override the "bridge goes online" situation. WDYT?

[2017-08-18 07:24] kaikreuzer commented on #4074
Well, besides setting the Thing status, he might want to take some other actions like resource cleanup or whatever. So we must allow him to be notified about that status change.

[2017-08-18 07:28] maggu2810 commented on #4074
I agree.
But isn't it a breaking change for all bindings, that don't handle bridge status changed itself?

[2017-08-18 07:31] kaikreuzer commented on #4074
Yes, it would be a breaking change - but from this discussion I would claim that any binding that does not yet override the method might anyhow have a buggy behavior that should be looked at more closely - this might be some work indeed :-/ Maybe worth to first investigate a bit the impact on the ESH bindings to get an idea.

[2017-08-18 07:39] #3903 closed

[2017-08-18 08:03] kgoderis commented on #4088
@davidgraeff you might want to look at the PR that I proposed some time ago in which an ACME implementation (for let's encrypt) is provided. https://github.com/openhab/openhab-core/pull/92

[2017-08-18 08:56] J-N-K commented on #4074
@kaikreuzer While I agree that it is nearly impossible to find a general solution apllicable to all bindings for the transition BRIDGE_OFFLINE->BRIDGE_ONLINE, I still think that if the thing already is in OFFLINE state, this state should not be touched as it is very unlikely that this condition changes when the bridge goes online again.

What do you suggest? Splitting bridgeStatusChanged into brid

[2017-08-18 09:02] davidgraeff commented on #4088
@kgoderis I have seen your contribution, but in my opinion it is too short sighted because it only targets jetty. Moquette, which I use for the MqttBroker uses *netty*, and Californium for CoAP uses *scandium*.

I would rather go with a more generic approach for TCP / UDP connections, because all TCP Servers (netty+jetty) support to set a custom SSLSocketFactory and for DTLS on UDP there exists on

[2017-08-18 10:00] kgoderis commented on #4088
@davidgraeff indeed, and it was the acme piece in particular that I was referring to. If that could be integrated we get a lot of benefits. It has been a while since I wrote that code so I am not sure how easy it would be.

@kaikreuzer what do you think?

[2017-08-18 11:06] maggu2810 commented on #4009
I agree that generating copies in general is not a good thing.
But changing the internal hold item and break the update mechanism needs to be solved.
A clone method that is used optionally (e.g. different get methods or by the caller itself) could solve it, but don't know if it is the best approach.

[2017-08-18 12:45] triller-telekom commented on #4041
How do you create your items? Via an `.items` file? If so, what is the encoding of that file?

[2017-08-18 14:32] pgfeller commented on #4041
I´m using .items files; edited width Designer; if I check the file with Notepad++ it reports UTF-8 w/o BOM.

[2017-08-18 16:02] kaikreuzer commented on #4088
If it releases me from my bad consciousness of not having reviewed  openhab/openhab-core#92 by now, I am all for it ;-)

No, seriously: I understand @davidgraeff's request and having (optional) ACME support in that framework would be a plus.

[2017-08-18 16:20] sjka commented on #4041
To me, this looks like a client-issue: The returned documents _is_ in UTF-8, but indeed the REST resource's response does not give any indication about it but only returns `application/json`.

If it was `application/json;charset=UTF-8`, I claim this issue will vanish. That would mean we need to have `@Produces(MediaType.APPLICATION_JSON + ";charset=UTF-8")` all over the place. Does anybody by chan

[2017-08-18 16:50] MHerbst opened #4093 "Paper UI seems to hang if thing configuration contains a huge number of entries"
I have added new thing (Homematic dimmer) to my openHAB configuration and tried to edit the thing's location. After opening the thing configuration edit page in Paper UI the edit fields for description and location appeared immediately. But I was not able to enter anything).

After more than 10s some configuration entries appeared but I was not able to scroll the page and the Chrome browser compla

[2017-08-18 18:11] pgfeller commented on #4041
Hi Simon, (@sjka)
not sure if I understand your comment correctly; the message I capture with fiddler already has a wrong encoded character if I understand correctly:
# Request
[code]
# Response
[code]
I expect UTF-8 encoding - which it actually is - but the character \u00E4 (ä) is sent to the client as \uFFFD (label=G\uFFFDstezimmer). Thus jetty used a replacement character here. Thus the client

[2017-08-19 01:06] davidgraeff commented on #4088
Is the acme library Apache or eclipse license?

_Sent from my Lge LG-F700K using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-08-19 05:23] kgoderis commented on #4088
@davidgraeff Apache 2.0

[2017-08-19 09:01] davidgraeff commented on #4093
900 entries is usually not a big thing, I use google spreedsheets, the online JS application and it can handle way more data. I guess the culprit is the two-way binding of Angular and that it itself is multiple megabytes in size. And of course the data should be processed in pieces with a timer or web workers.

[2017-08-19 10:53] kaikreuzer commented on #4088
No issue for ESH then.

[2017-08-19 11:44] resetnow opened #4094 "Can't get Eclipse IDE to work, lots of errors"
Every once in a while build breaks when I update my fork. Usually I do the following until it works:

1. `git reset --hard`
1. `git clean -xdf`
1. Delete `~/.m2`
1. Reinstall Eclipse
1. Delete `~/.eclipse/org.eclipse.oomph.setup` and reinstall Eclipse

Usually 1 and 2 is enough. However, right now I can't get IDE setup to work now matter what I try (and I have tried all of the above).

Here is one

[2017-08-19 15:40] metbril opened #4095 "[Sonos] Error when using setpoint for volume in sitemap"
I use a setpoint for my volume and found that (since openHAB 2.1?) this no longer is working.
As a workaround I can use a slider, that has less finegrained control for me. I am sure that the setpoint has worked with OH2.0, build don't know when it broke.

Running OH2.1 Stable on a RPi3B/openhabian

sonos.items
[code]

default.sitemap
[code]
openhab.log
[code]

[2017-08-19 21:22] biohazardxxx opened #4096 "Basic UI - Webview visibility change not working"
In basic ui the web elements are not rendered if their visibility changes to visible. After a page refresh/reload they are shown.
Since this works fine in classic UI, I strongly belive it i a bug.
My sitemap part as example:

[code]

[2017-08-20 08:18] kaikreuzer commented on #4094
Something is odd here. The screenshots seem to tell me that you are using the openHAB IDE (not the ESH IDE). In the openHAB IDE, no esh.model projects are ever imported into the workspace as the whole Xtext code generation is not supported in that IDE. Instead, the model projects are only used as a binary from the target platform.

[2017-08-20 08:19] kaikreuzer commented on #4094
Oh, and btw, you definitely need "openHAB Development" being selected in the IDE setup!

[2017-08-20 09:21] resetnow commented on #4094
No only I needed to select “openHAB Development” (along with ESH) in the installer, I also used wrong git clone location rule. Here is how it should be:

![screenshot from 2017-08-20 12-05-51](https://user-images.githubusercontent.com/2057191/29493592-017b86a0-85a2-11e7-900a-8c7a911592f9.png)

Thank you!

[2017-08-20 09:21] #4094 closed

[2017-08-20 16:48] rocketdeveloper commented on #3861
I can still reproduce this issue.
If I use `sendCommand(Sonos_Favorite,"Entspannte Rock-Klassiker & Oldies") ` inside a rule I see in the openhab.log the following output:

`2017-08-20 18:37:16.144 [ERROR] [inding.sonos.internal.SonosXMLParser] - Could not parse MetaData from string '<DIDL-Lite xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:upnp="urn:schemas-upnp-org:metadata-1-0/upnp/" xmlns:r

[2017-08-21 07:58] martinvw opened #4099 "Question: Missing @NonNull in Thing.getThingTypeUID()"
As discussed with @triller-telekom https://github.com/openhab/openhab2-addons/pull/2556#issuecomment-323672397

@triller-telekom and me think `@NonNull` annotation is missing on [getThingTypeUID](https://github.com/eclipse/smarthome/blob/master/bundles/core/org.eclipse.smarthome.core.thing/src/main/java/org/eclipse/smarthome/core/thing/Thing.java#L163) do you agree?

[2017-08-21 08:07] kaikreuzer commented on #4095
That's interesting, because afaics, none of the related code has been touched since 2015...
But the exception speaks for itself.
@lolodomo Would you want to have a look at that (and can you confirm to see the same)?

[2017-08-21 10:35] sjka commented on #4099
No, to my understanding Thing Types are optional - i.e. they can (and most of the time will) be used as prototypes to describe a thing, but could be omitted completely when describing Things manually.

[2017-08-21 10:39] danchom commented on #3907
I think we have already commented this here:
https://github.com/eclipse/smarthome/pull/3670#discussion_r124230515
;)

[2017-08-21 11:05] martinvw commented on #4099
Then our archetype is wrong and should be throwing NPE's as well:

https://github.com/eclipse/smarthome/blob/master/tools/archetype/binding/src/main/resources/archetype-resources/src/main/java/internal/__bindingIdCamelCase__HandlerFactory.java#L46

@maggu2810 @kaikreuzer wdyt?

[2017-08-21 11:44] ghys opened #4101 "Automation: ability to negate a condition"
Hi,

Would you consider a new flag in a condition's config in a rule, telling it should NOT be satisfied for the rule to run?

Thanks!

----

For context - My use case is, I have hacked together a GUI to make rules from flowcharts as an experiment:
https://github.com/ghys/flowsbuilder

and allowed the ability to specify an "else" branch for conditions like this:
![image](https://user-images.github

[2017-08-21 12:08] ghys commented on #4101
Possibly related to #3224 (even though it's about triggers, not conditions)

[2017-08-21 15:06] sjka commented on #4099
Independent of that, it would be the better (in the sense of defensive) style anyway to turn it around, i.e.

[code]

[2017-08-21 16:44] hannibal85 opened #4103 "Thread:sleep pauses whole rule engine."
Hi all,

I hope this is the right repo for this issue.

Following situation:
I have a rule where I use Thread::sleep for 60sec. During this 60sec all rules are paused, even if they are distributed across multiple files.

After encountering this behaviour in a quite complex setup I could proof it with a minimal setup just for this purpose (see below). Test with OH2.1.0 stable and OH2.2.0 snapshot b

[2017-08-21 20:25] cweitkamp opened #4104 "[core] NPE in core.items.GenericItem -> bad parametrized logging message?"
log in openHAB 2.1.0 - release build -

[code]

log in openHAB 2.1.0 -  snapshot 1020 -
[code]

Related discussion in community: https://community.openhab.org/t/what-channel-types-are-supported-by-wich-netatmo-device/24394/28

[2017-08-21 20:43] kaikreuzer commented on #4104
Hm, the exception occurs in `org.openhab.persistence.mapdb` - shouldn't it hence be reported at https://github.com/openhab/openhab1-addons or what makes you think that it is in any way related to ESH?

[2017-08-21 21:09] cweitkamp commented on #4104
I was not sure if this error is a concatenation of multiple circumstances or a specific situation for the mapdb persistence.

First of all the parametrized logging message has a bad format - one, maybe two, parameters is/are missing:
https://github.com/eclipse/smarthome/blob/master/bundles/core/org.eclipse.smarthome.core/src/main/java/org/eclipse/smarthome/core/items/GenericItem.java#L232

After t

[2017-08-21 22:25] kaikreuzer commented on #4103
Well, I would say it is a bug that such a thing is possible within the rules at all. In general, `Thread::sleep` should not be used and if, only for very pausing very short periods of time. The rule engine uses a thread pool and hence single rules must not block such threads.

The much better idea is to use the `createTimer` method with code blocks as a closure - this allows you to easily say that

[2017-08-22 05:57] kaikreuzer commented on #4104
Ok, true. This should be fixed with https://github.com/eclipse/smarthome/pull/4106.

You mean as a state to the item? No, this should not be allowed.
So imho the MapDBPersistenceService should be hardened to not crash in such a situation. And the binding should be fixed not to set null states.

[2017-08-22 06:38] cweitkamp commented on #4104
Thanks.

I hope I understand it correctly. I mean something like this `new StringType(null)`:
https://github.com/eclipse/smarthome/blob/master/bundles/core/org.eclipse.smarthome.core.test/src/test/java/org/eclipse/smarthome/core/library/types/StringTypeTest.java#L41

I will take care of that.

[2017-08-22 06:46] kaikreuzer commented on #4104
Ah, that's indeed an interesting question. The tests indeed suggest that it is ok that way, but having passed null to it indeed means that this implementation crashes on many method calls.
Imho we should disallow null as a parameter or internally set it to empty in such a case. Interestingly, there are even tests that null should not be the same as empty - not sure if this really makes sense. @sjk

[2017-08-22 07:23] sjka commented on #4104
Reopening (was auto-closed by the PR)

[2017-08-22 07:28] htreu commented on #4009
From the looks of the API I always thought to have immutable objects which could only be updated through the update mechanism. To me immutable objects seem to be the solution to not having copies and forbid mutations w/o the knowledge of the registry.

[2017-08-22 07:50] cweitkamp commented on #4104
Very beasic setup to reproduce this error:

**Precondition:**
`mapdb` persistence installed and Item `mapdbString` should have a matching strategy : everyChange.

demo.items
[code]

demo.rules
[code]

[2017-08-22 07:55] maggu2810 commented on #4099
I don't know who is currently using things without a type, but it could be possible (if this is an officially supported feature).
So, the change @sjka presents would be a good one.

[2017-08-22 08:10] sjka commented on #4104
Now thinking about it, IMHO the `StringType(null)` should be disallowed completely. It does not add any value - for that matter we have `UnDefType`.

It looks like I added these awkward assertions to the test with #2479. If I remember correctly, I mainly did it to verify that `StringType` _can_ handle null values gracefully. But in this PR I obviously didn't solve the root-cause, I was just hiding

[2017-08-22 08:12] martinvw commented on #4099
@maggu2810 I agree that the change of @sjka is a good one and should be done but my question started out from the following warning and code snippet:

[code]

 Fragment:

[code]
https://github.com/openhab/openhab2-addons/blob/master/addons/binding/org.openhab.binding.rfxcom/src/main/java/org/openhab/binding/rfxcom/internal/RFXComHandlerFactory.java

We are not allowed to pass null to `supportsThin

[2017-08-22 08:40] maggu2810 commented on #4099
If
* `getThingType` is allowed to return null (leave it up to other ones if it is an official feature)
* `supportsThingType` is not allowed to receive null (makes sense, why should someone ask if `null` is a supported thing type)
* your binding is not able to create an handler for a non set thing type

I assume you should return `null` yourself if thing type UID is `null`.

[code]

[2017-08-22 08:53] martinvw commented on #4099
So my main question remains:

@kaikreuzer wdyt?

[2017-08-22 08:54] maggu2810 commented on #4104
I would prefer to disallow the null type for the StringType constructor and not adding workarounds to the framework that handle wrong usage.
Sure we could state that to create an empty StringType you are allowed to call `StringType(null)` but does it make sense?

[2017-08-22 09:03] kaikreuzer commented on #4104
My main concern is that I cannot assess what this might break - as we see from this report, there null seems to be currently used and it was allowed for years... And it hasn't been a wrong usage, because it is not "null" as a state, but StringType instance, which is in general ok. So if we want to break the functionality, we should have a good reason.

Well, it would be just another option to usin

[2017-08-22 10:14] kaikreuzer commented on #4099
@sjka Is right that it used to be an official feature of the originally designed architecture. Nonetheless, in practise this has never been used/supported by any binding and as such it got out of sight.
I'd be ok to give up on that feature and say that we always require a thing type as I see that anything else will rather cause bugs in many situations and I do not see a use case now that would jus

[2017-08-22 11:08] mherwege opened #4107 "Cannot notify InboxListener about thing added event."
NPE in a recent build of OH2.

Here is the log:

[code]
I have seen this NPE with multiple bindings now, so not specific to the nikohomecontrol binding. Is the representationProperty new? If so, it is not set in the bindings generating this error. Should the framework work when no representationProperty is set? If not, I suspect many bindings need to be adapted to make this work.
I tried switching

[2017-08-22 11:35] kaikreuzer commented on #4107
This should be already fixed with https://github.com/eclipse/smarthome/commit/04c173aad7a3cc34b053cc7ea0eb7c25f67a8aa6#diff-a96a064a67dc0ee07f84307c7b2c33caR85 - will try to do a new stable release soon!

[2017-08-22 11:35] #4107 closed

[2017-08-22 12:38] danchom commented on #4101
I'm not sure if this config property is needed. Actually if you write a condition which is satisfied on positive value you can write a negative condition too. For example if the door == open is positive condition, the door != open is its negative one. We have core.GenericCompareCondition which supports equal and not equal operation.

Isn't be possible to implement your use case in the following wa

[2017-08-22 13:19] triller-telekom commented on #4104
I would also add a `@NonNull` annotation in this constructor: `StringType(@NonNull String s) `. This will raise a warning everywhere where its called and people can then change their code to use `StringType()` instead.

[2017-08-22 13:48] kaikreuzer commented on #4104
@triller-telekom Please read https://github.com/eclipse/smarthome/issues/4104#issuecomment-323947528 above - it is used in scripts, so this does not only break code at compile time, but also individual user installations. So why should we force a NonNull, if there is no strong reason to do so?

[2017-08-22 13:56] triller-telekom commented on #4104
Sorry, I overlooked that its being used during runtime too.

[2017-08-22 14:13] ghys commented on #4101
Sure, that's what I meant by "hardcoded the negate functions for the built-in conditions": my client knows how to compute the negation of the well-known conditions `timer.DayOfWeekCondition`, `core.ItemStateCondition`, `script.ScriptCondition` but if another module type without a well-known negation were added, it wouldn't know how to do it (I'm currently throwing an exception to the user telling

[2017-08-22 14:30] txt8888 commented on #3632
All,

I am very newbie to OpenHAB and home automation in general.

I stumble on HAB2 a couple weekend ago and managed to have it up and running on Pi with RazBerry z-wave controller.  Got a Z-wave dimmer to work.

in the midst of trying to see if HAB2 support WeMo Dimmer and found this article, it seemed a lot great works have been done and tested.

And I like to see if there is any updates on thi

[2017-08-22 14:45] triller-telekom commented on #4096
I just tried to reproduce your problem, but for me its working fine.

How is the underlying item `CHART_PERIOD_HW1` defined in your `.items` file?

Have you tried restarting your smarthome instance after editing the items and sitemap files? Does it work then? Maybe its a hickup while reloading them.

[2017-08-22 16:48] sjka commented on #3907
No, not really. At least I was not aware of how bit the impact was.
We were discussing this as a solution with

and if you just consider the source compatibility this indeed holds true. What we missed to realize is that this change was completely incompatible in the binary level.

In any case, I realize that we won't rollback this change, so there actually is no use to keep this issue open.

[2017-08-22 16:48] #3907 closed

[2017-08-22 16:49] sjka commented on #3907
Although done in the context of the automation component, this issue was not about the rule engine itself. Therefore removing the label.

[2017-08-22 18:19] martinvw commented on #4099
Just to be sure,  a PR could exist of adding the annotation and making sure that no other errors happen because of the added annotation?

[2017-08-22 19:27] aisebastian opened #4110 "PaperUI: Item icons not appearing in Control"
When you set an item category, say "Light", an icon is automatically associated with the item. On the control tab however, a generic "switch" icon is displayed. I know that you can control icons with textual config, but I think it would be usefull if the item category icon would be added for the item under "Control"

Is this something that should have been implemented and it doesn't work, or is it

[2017-08-22 19:49] aisebastian opened #4111 "Automation: Add a Number item type value threshold"
I propose to add the possibility of setting a threshold for number item types in rules:

E.g.:
When item "Distance" state update < 20 then ...

This way, you could use operators for less than or greater than to create automation rules.
Is such a feature planned in any way or does anyone have a suggestion on how it would best be implemented?

[2017-08-22 20:15] kaikreuzer commented on #4111
I'd guess this is a duplicate of https://github.com/eclipse/smarthome/issues/3224.
(Note that bigger new features will only be implemented on the new rule engine)

[2017-08-22 20:15] #4111 closed

[2017-08-23 08:31] kaikreuzer commented on #4099
Give it a try ;-)

[2017-08-23 12:29] lolodomo commented on #4095
@metbril : can you tell us with what UI you have this problem ? All UIs ?

[2017-08-23 13:17] metbril commented on #4095
@kaikreuzer Perhaps I'm mistaken and hasn't it been working at all.

I will try multiple UI's and report back asap: basic, classic and iOS.

[2017-08-23 14:42] htreu opened #4115 "PaperUI: integer config parameter allow decimal input"
PaperUI allows decimal input for configuration parameters typed as `integer`. The decimal value is also saved and retrieved again.
This should be limited to integer values.

[2017-08-23 14:42] kaikreuzer commented on #4009
@htreu In general I would agree, but check the use case in [the unit test](https://github.com/eclipse/smarthome/pull/4008/files#diff-670314dbd94fe4ca2d07ee8c20d6a28eR95): If you want to edit an item, you get it, you modify it and you call `update` on the registry. If it were immutable, you would for the clients to find some way to create an exact copy.

So as a minimum, we would have to provide a

[2017-08-23 15:30] danchom commented on #4101
Actually  the GenericCompareCondition is intended to compare values, not to negate the result.
And yes you are right in some case it is hard to create a negate condition. For example if we have a timer which must not be satisfied on day 15 of mount it is not suitable to create 30 other rules.
It can be implemented in few ways:
1) condition property - it changes current JSON api it is not breakable

[2017-08-23 15:40] maggu2810 commented on #4101
An optional flag to allow the negate of the condition result could be a simple option to satisfy @ghys requirements. It does not break an API and I don't see a problem to support it.

[2017-08-23 18:56] #4115 closed

[2017-08-24 06:04] danchom commented on #4101
Yes it is the simplest solution which satisfied @ghys requirement, but isn't be useful to have such composite module types handled by the RuleEngine itself? In that way we can create any logic expression on the conditions and it won't be needed to duplicate the triggers and actions in the second rule when we need an OR operation between conditions.

[2017-08-24 08:33] triller-telekom commented on #581
@hakan42 Are you still planning to implement this? I guess a couple of your holidays are over by now ;-)

[2017-08-24 08:39] kaikreuzer commented on #581
Please note that it might be a bad moment as we are trying to get rid off Quartz. So it might be worthwhile to actually FIRST replace the createTimer implementation to not use Quartz anymore.

[2017-08-24 08:50] triller-telekom commented on #581
Actually I thought of a ConsoleCommand for the new ESH scheduler, that is able to list/edit/delete jobs.

This issue would also be a nice candidate for the tag "help wanted" ;)

[2017-08-24 08:53] kaikreuzer commented on #581
Then a refactoring ot `TimerImpl` is even more required because such a console command otherwise would not at all address the issue here :-)

[2017-08-24 09:26] adimova commented on #4101
I'm not sure where this "optional flag" can be:
1. in rule configuration (which does not exist at the moment)
2. in the condition configuration, which is described in the concrete module type
3. as a field in Condition, which changes current JSON schema and changes the Condition class

For me only Dancho's option 3 is appropriate

[2017-08-24 09:30] triller-telekom commented on #583
There is some ongoing work on such profiles here: https://github.com/eclipse/smarthome/pull/4108
However, these profiles are not configurable at the moment.

[2017-08-24 09:38] triller-telekom commented on #3936
@doandzhi Since you are touching our date/time datatypes, maybe you can also have a look on this [issue](594) about timestamps on the persistence api. Would be cool!

[2017-08-24 10:10] triller-telekom commented on #595
@digitaldan Currently there is a PR #4108 which introduces profiles on `ItemChannelLinks` and based on that there will soon be a follow-up PR introducing the ability to configure these auto-updates.

[2017-08-24 10:13] kaikreuzer commented on #4074
Well, you might be right that there is a good chance that the Thing might be offline for the same reason, but effectively, we do not know. When the bridge goes offline, the reason for the Thing to be offline is clearly the bridge - so setting it to OFFLINE.BRIDGE_OFFLINE is the only correct thing to do. Now if the bridge goes online again, we have to do a status transition to a correct status for

[2017-08-24 11:04] triller-telekom commented on #607
I just tried this sitemap with the current openhab and I can open it with habdroid without any problems after I have corrected it.

There is the `sitemap test label="mySitemap" {}` entry around the frame missing and also a `}` after `Text item=HVAC_Operating_State`

So this bug can be closed @sjka @kaikreuzer

[2017-08-24 11:22] sjka commented on #607
The exception just got fixed by #4121 which now issues a proper warning to the logs instead.

[2017-08-24 11:22] #607 closed

[2017-08-24 11:37] kaimahnke commented on #4018
This has been going on since #850 I believe and was reported by a lot of folks.
I am on build #1023 now and nothing has improved.
As you can see below the Astro event-jobs get scheduled right before midnight.
I then run a rule at 00:01 to display the new times. I wonder why they display the _past day_ for the upcoming one?
In any case, none of the rules that should run at Civil Dawn or Nautic Dawn

[2017-08-24 12:26] triller-telekom opened #4123 "Weather Underground Binding gets stuck in Initializing state if location parameter is wrong"
If the location parameter contains a space between latitude and longitude the thing never comes online and is stuck in initializing state.

I will provide a PR for it.

[2017-08-24 12:32] sjka commented on #4009
...or a builder which takes an entity, has setters to alter it and in the end spits out the modified entity. Pretty much like we have it for `Thing`s (except that it is lacking a static `fromThing(Thing)` method). What a pity that exactly _they_ also have setters in their interface 😞

[2017-08-24 12:50] hakan42 commented on #581
Oops, did I really volunteer to something again?

Honestly, while I understand much more about ESH by now, I am even more swamped than before, so I have to take back my promise for the next few "days" or months... Sorry 😊

[2017-08-24 14:20] doandzhi commented on #3936
Fine, but by now the PR regarding the impacts of my changes is really solid. I suppose that it is better to make it in a separate PR. Wouldn't it be a cleaner approach?

[2017-08-24 14:51] triller-telekom commented on #3936
Sure, a separate PR makes sense. I just saw that is is related :)

[2017-08-24 16:55] ghys commented on #4101
Is there a way to configure children of composite types at runtime i.e. when building a rule?
If I understand correctly (correct me if I'm wrong) they are used to define new module types, but how can I configure a composite condition with children each having their own configuration?
Could I do something like this in a rule?

[code]

[2017-08-24 16:58] ghys commented on #4101
Btw: I implemented

see my commit above (https://github.com/ghys/smarthome/commit/8b59c85693000485efb30d9d96b99034f64dd6b6), but I won't submit a PR since this the approach is still being discussed. I can discard it.

[2017-08-24 17:04] RyanRamchandar opened #4127 "Binding Skeleton fails mvn install"
I setup my esh environment on the mac following: https://eclipse.org/smarthome/documentation/development/ide.html

I was able to successfully run the Smarthome Runtime from eclipse IDE and view the PaperUI in my browser.

Before creating a binding I wanted to make sure my environment was correct. So I created a simple test binding using
[code]
However when I call `mvn install` in its directory I g

[2017-08-24 17:04] J-N-K commented on #4074
I adjusted the PR accordingly: if the bridge goes offline -> thing OFFLINE/BRIDGe_OFFLINE, if bridge goes online -> thing UNKNOWN/NONE

[2017-08-24 19:07] kaikreuzer commented on #4074
"if bridge goes online -> thing UNKNOWN/NONE" -> hm, this wasn't part of my suggestion.
Having that in there means that everybody needs to implement both cases, while with my suggestion, people could simply call `super()` and only implement the "goes online" case....

[2017-08-24 19:44] J-N-K commented on #4074
Ok, but then every binding needs to be updated, otherwise the things will never go back online. I could prepare the changed for the ESH repo, adding methods that behave the same as the old basehandler.

[2017-08-24 19:47] kaikreuzer commented on #4074
Correct, that's what I stated [here](https://github.com/eclipse/smarthome/issues/4074#issuecomment-323281682).

So before going through this effort: @maggu2810 & @sjka, do you agree with it? Or do you have any better alternative?

[2017-08-25 07:06] kaikreuzer commented on #4101
I am actually not sure about the whole idea. The conditions in a rule are not meant as a mechanism for the control flow, but merely as an option to suppress the execution of certain rules (where the reason for the suppression is NOT necessarily a part of the use case per se). Stuff like "only if I want automatic rules to execute" or "if there are no guests at home", etc.

The flow you showed above

[2017-08-25 07:47] FrankR59 opened #4130 "cron rules stop working every few days"
All my cron rules stop working every few day without any recognizable reason. There are no errors and no warning in openhab.log regarding my rules or anything that could be related. Other rules don't stop working.
This happens since I changed from a 2.1.0.SNAPSHOT to 2.1.0.STABLE and also happens with 2.2.0.SNAPSHOT (build #1003).
Other report similar problems as you may see here: https://communit

[2017-08-25 09:10] kaikreuzer opened #4132 "Add a blog section to our website"
Our project website is pretty static and hasn't been touched for a long time.
I think it would be cool if we could regularly publish some content about the project, its features and progress - a blog would imho be an appropriate mechanism.

I'd therefore suggest to add a "blog" menu entry to our (Jekyll-based) website and allow the contribution of posts through standard PRs against our repo.

[2017-08-25 09:36] kaikreuzer opened #4133 "Cron Scheduler Replacement?"
We have learned over the past months that implementing a cron scheduler is not a trivial task - our current implementation has caused quite some issues, which are hard to analyse, debug and fix.

Instead of fully inventing it on our own, we should check whether using existing implementations might be a viable option. Two potential candidates have already been mentioned in the past and I would like

[2017-08-25 09:41] kaikreuzer commented on #4103
I'd suggest to close this as a won't fix as it is rather an unpattern to use it that way.

[2017-08-25 09:54] ghys commented on #4101
@kaikreuzer Point taken.
To be honest I wasn't too sure about the approach either for similar reasons, thinking I was abusing the rule system a little bit, but figured it was worth a try, see how it went. The "run rules" module type certainly allows interesting scenarios even with the current API.

One week later, I feel fine with those "technical" rules in my system, since 1) they're put under a

[2017-08-25 10:27] sjka commented on #3321
That's indeed correct - group members so far have no natural order. By chance, they are initially sorted in the way they were added when the items files were loaded. But since multiple items files can add members to groups, I don't see how this could be turned into a deterministic order in any way.
I fear if you want to have a reliable ordering on your UIs, then you will have to define them in you

[2017-08-25 10:36] sjka commented on #3284
They're shown in the overview list:

![image](https://user-images.githubusercontent.com/2592443/29710688-a86b13ca-8991-11e7-9f62-99c64c60368f.png)

Doesn't this suffice? If you think it would be of particular value to have it on the Thing's detail page repeated, feel free to re-open this issue.

[2017-08-25 10:39] kaikreuzer commented on #3284
@sjka: Isn't that the ThingUID and not the ThingTypeUID?

[2017-08-25 10:40] #3244 closed

[2017-08-25 11:39] sjka commented on #3284
Ouch, my bad...!

[2017-08-25 11:46] sjka commented on #3150
I didn't yet looked deeper into the new errors. But on the first glance I noticed you are running on Felix and not on Equinox. Which of course is perfectly fine - it just might matter for the analysis.

[2017-08-25 11:56] sjka commented on #3145
If I'm not mistaken this is implemented by #4040

[2017-08-25 11:56] #3145 closed

[2017-08-25 12:07] sjka commented on #2636
I just adapted the issue title to reflect the underlying root-cause

[2017-08-25 12:28] sjka commented on #2549
bindings don't create items.
It looks though like there is a link pointing to the item with this invalid name. However, it is not obvious from the stacktrace where it comes from. In any case the auto-linking feature would have replaced the `-` with `_`. Also, the PaperUI would have created a valid item name when enabling the channel (as it is an advanced one...) correctly since #1572.

Therefore I

[2017-08-25 12:28] #2549 closed

[2017-08-25 12:30] sjka commented on #2517
fixed with #3621

[2017-08-25 12:30] #2517 closed

[2017-08-25 12:31] sjka commented on #2489
#2687 was merged some time ago. It was just missing a reference for the auto-close to work.

[2017-08-25 12:31] #2489 closed

[2017-08-25 12:34] maggu2810 commented on #3907
I have to admit that I recompile and update all bundles after a new ESH build so it has been never a problem for myself.

[2017-08-25 13:03] sjka commented on #2315
I like!

[2017-08-25 13:08] sjka commented on #2200
I assume this is obsolete by now.

[2017-08-25 13:08] #2200 closed

[2017-08-25 13:14] sjka commented on #1922
addressed by #3730

[2017-08-25 13:19] sjka commented on #1596
You missed to set the inverse reference on the member, i.e. `o.e.sh.core.items.ActiveItem.addGroupName(String)`.

[2017-08-25 13:19] #1596 closed

[2017-08-25 13:24] sjka commented on #1402
superseeded by #3898

[2017-08-25 13:24] #1402 closed

[2017-08-25 13:27] sjka commented on #1352
With https://github.com/eclipse/smarthome/pull/1353#issuecomment-251192073 I guess we can close this issue too.

[2017-08-25 13:27] #1352 closed

[2017-08-25 18:10] Spybyte commented on #4130
Same here. With one of the latest SNAPSHOT releases cron based rules worked pretty well. Since release 2.1 it's coincedence that they don't stop working.

[2017-08-25 20:52] hmerk commented on #3632
No, there is no ETA, for two reasons.
First reason is a lack of time, second is that it is really difficult to implement devices that I don't have at hands. As I wrote ear

[2017-08-26 08:45] hannibal85 commented on #4103
Ok.
I know that using Thread::sleep with such a long time is not recommended and a timer is the better solution. Was just for a testing situation.
But one more question: Does this mean using Thread::sleep should not be used at all? I think the usage with short times (300ms) is quite common. So I tried it again with a Thread::sleep(300) and the result is the same.

[2017-08-26 13:05] maggu2810 commented on #4130
Can you please refer to the ESH specific version / commit ID instead of the openHAB one?
https://github.com/eclipse/smarthome/wiki/ESH-used-in-openHAB

[2017-08-26 13:17] maggu2810 commented on #4133
FYI: The same github person that hosts the cron-utils project also hosts an cron-utils-scheduler project.
Perhaps we could have a look at this one, too.

[2017-08-26 14:11] kgoderis commented on #4133
Cons : it only supports cron expressions

I initially implemented the scheduler as part of a larger exercise to have a built in caldav server, but that was never reviewed, and to replace the quartz scheduler. I would not like to throw that effort away

This aside, imho this kind of effort is energy badly spent. What kind of issues did we have, and that we are unable to solve? Does the 2-3 bugs we

[2017-08-26 14:44] FrankR59 commented on #4130
list -s returns: 0.9.0.201708041325

[2017-08-26 15:31] Spybyte commented on #4130
I use the current docker version (2.1.0-amd64) and it returns: 0.9.0.b5

So I wonder why they differ?

[2017-08-26 18:53] kjasdal opened #4138 "Astro binding : Peculiarities of the Sun phase channel"
I am using the Astro binding in my openHAB system, using the Sun / Phase channel as a way to check the "state of daylight" in my rules.

While testing this I was looking at the log files for a "full cycle" (i.e. a 24 hour period) and I noticed a couple of strange things.

Here is a snip of my log file:

2017-08-14 03:55:00.003 [ItemStateChangedEvent     ] - AstroSunHome_sPhase_Name changed from UN

[2017-08-26 19:53] pearson opened #4139 "Line wrapping?"
The standard Eclipse editor option for soft line wrapping seems to be removed. (Or it is well hidden!)

I'm new to the SmartHome Designer, but I've looked at the latest snapshot as well as the release 0.8.0, and I cannot find the soft line wrapping option anywhere. I'm using the Win 64 versions.

Is it possible to get this option back?

Thanks!

[2017-08-27 16:15] ppieczul opened #4140 "Dynamic changes to the channel type parameters"
## Introduction

The goal for this topic is to agree on the changes required in the framework in order to support dynamic changes to some of the channel type characteristics. An examples are: value to text mappings (options) and format string, which are provided as part of the channel type definition, either in xml or through a channel type provider programatically. Also, we can think of extending

[2017-08-27 16:42] kaikreuzer commented on #4140
FTR: This discussion was started during the Loxone bindin review here: https://github.com/openhab/openhab2-addons/pull/2423#discussion_r132446174

My suggestion there was not to allow channel types to be dynamic, but rather to provide a way to dynamically contribute to a StateDescription from within a binding (currently this is only static through the `ChannelStateDescriptionProvider`, which deriv

[2017-08-27 17:40] davidgraeff commented on #4140
I thing, I had the same problem (assuming that I understood the problem) in the OpenHAB Yamaha binding. The device returned a list of supported input modes, and I needed to create a channel type dynamically with the given modes as state options:

 https://github.com/openhab/openhab2-addons/blob/c8bd7f9ebda6be35d76bb37a8b98cda8fdf97aca/addons/binding/org.openhab.binding.yamahareceiver/src/main/java

[2017-08-27 17:49] davidgraeff commented on #3812
@kaikreuzer Any progress here? I can't help with PaperUI unfortunately (Angular is the most unfriendly inconsistent web-developer framework in my opinion), but might help with the core if changes are necessary there too.

[2017-08-27 17:55] Dan1001 commented on #3870
Unfortunately the latest snapshot hasn't fixed it for me. That cat example now works, but a simple sitemap displaying the webcam doesn't:

`sitemap test label="Test"`
`{`
`    Frame label="Image" {`
`        Image url="http://openhab@192.168.1.145/dms" refresh=1000`
`    }`
`}`

Nor does it work with http://admin:[password]@192.168.1.145/dms. No errors in the logs.

The exact same links work fine

[2017-08-27 19:19] ppieczul commented on #4140
It may be relevant. If your channels could share the same channel type, if only you did not have to provide format and options to the channel type, then I think it is relevant. The other thing is whether you have this information at initialization time or before thing goes online or after thing goes online. In my case this is the worst situation - after the thing goes online.

There is also harmon

[2017-08-28 06:54] kaikreuzer commented on #3838
Does this problem still exist after #3731 had been merged?

[2017-08-28 07:24] maggu2810 commented on #4110
@htreu @aounhaider1 Do you know?

[2017-08-28 08:38] maggu2810 commented on #4127
Do you try to build the whole reactor or your new bundle only?

[2017-08-28 08:39] htreu opened #4142 "PaperUI: add new channels to things"
For generic bindings like KNX (see https://github.com/openhab/openhab2-addons/pull/2323), MQTT (see #3876) and others, where things are used to structure generic things with a user defined sub-list of channels the PaperUI should provide a feature to add channels to things.
This results in the following tasks:
- identify if its allowed to add channels to a specific thing
- provide an "Add channel"

[2017-08-28 08:42] maggu2810 commented on #4074
If my reading has been correct, your suggestion https://github.com/eclipse/smarthome/issues/4074#issuecomment-324594265 fits exactly to what I think about.
If the bridge goes offline we could assume that the thing is offline, too. Every other transition is unclear.

[2017-08-28 08:45] kaikreuzer commented on #3812
@davidgraeff Sorry, I didn't see any action on my side - I was actually waiting for the refactoring of https://github.com/eclipse/smarthome/issues/3812#issuecomment-320660894 to be done.
It seems there is some misunderstanding, when you were waiting at the same time for a new feature in the Paper UI for which there hasn't been even an issue so far (@htreu now just created #4142 for it).
Anyhow, th

[2017-08-28 09:08] kaikreuzer commented on #3611
@gerrieg Could you comment on this suggestions?

[2017-08-28 09:16] kaikreuzer commented on #3473
Yes, I'd think it is still valid.

I agree - our vocabulary is "status" for the rules, so this must be reflected in the event topics as well; this change will also make it in sync with the Thing status events.

Well, we obviously have to adapt our code. But I would vote to fix it rather sooner than later. Or do you have any external code that would be heavily impacted by such a change (@danchom &

[2017-08-28 09:19] maggu2810 commented on #4132
Makes sense.

[2017-08-28 09:30] kaikreuzer commented on #652
Hi @dominicdesu, I am just doing some issue clean up - this one had been created as a follow-up of #342; is this still open and relevant (despite being pretty old)? If so, would you want to create a PR to address it?

[2017-08-28 10:11] maggu2810 commented on #3473
No one that can't be changed... So, okay for me.

[2017-08-28 10:12] kaikreuzer commented on #3318
I think this issue is a bit too broad, so that we won't see any further action on it like that.

While most remarks seem to make sense to everyone, I would suggest to come up with official "coding guidelines" for JS / Paper UI (discussion that @htreu has started on the mailing list).
All specific refactorings that are agreed should be logged as a separate issue - or even much better, be directly a

[2017-08-28 10:17] sjka opened #4143 "Circular Reference"
[code]

ItemRegistryImpl -> ChannelItemProvider -> ItemChannelLinkRegistry -> ItemRegistry

[2017-08-28 10:25] sjka commented on #4143
Looks like we missed this cycle when introducing the dependency in #2122

[2017-08-28 11:14] maggu2810 commented on #4143
This cycle exists since Sep 6, 2016?
Why didn't we notice earlier?
I have never seen this warning in my runtime (using Felix).

[2017-08-28 11:47] kaikreuzer commented on #2830
This should have been fixed by https://github.com/eclipse/smarthome/pull/3639.

[2017-08-28 11:47] #2830 closed

[2017-08-28 11:48] Dan1001 opened #4144 "NullPointerException error in logs"
I updated yesterday to the 2.2 snapshot. Everything seems to be working fine, but I'm getting the following error in the logs every 40 minutes or so:

`2017-08-28 12:27:28.326 [ERROR] [ore.internal.events.OSGiEventManager] - Dispatching/filtering event for subscriber 'org.eclipse.smarthome.core.events.EventSubscriber' failed: java.lang.NullPointerException
java.util.concurrent.ExecutionException:

[2017-08-28 11:50] kaikreuzer commented on #4144
This has already been fixed with https://github.com/eclipse/smarthome/pull/4079/files#diff-a96a064a67dc0ee07f84307c7b2c33caR150. Will be part of the next ESH stable build.

[2017-08-28 11:50] #4144 closed

[2017-08-28 11:54] kaikreuzer commented on #4139
Just like code, the config files are not considered to be soft-wrapped.
Note that there is no further effort put into the Designer, but other options are actively pursued now, see https://dev.eclipse.org/mhonarc/lists/smarthome-dev/msg00146.html.

[2017-08-28 11:54] #4139 closed

[2017-08-28 11:59] Dan1001 commented on #4144
thanks

[2017-08-28 12:09] kaikreuzer commented on #2109
Afaics, this has been addressed in https://github.com/eclipse/smarthome/pull/2108.

[2017-08-28 12:09] #2109 closed

[2017-08-28 12:12] #4132 closed

[2017-08-28 12:12] kaikreuzer commented on #1980
This has been fixed with #4134.

[2017-08-28 12:12] #1980 closed

[2017-08-28 12:15] kaikreuzer commented on #2111
According to https://github.com/eclipse/smarthome/pull/2108#issuecomment-259146138, this is the expected behavior.

[2017-08-28 12:15] #2111 closed

[2017-08-28 12:18] sjka commented on #4143
The dependency is somewhat hidden to the SCR because the AbstractRegistry registers a ServiceTracker instead of properly declaring a dependency. Probably to circumvent such cycles - which worked in Equinox DS most of the time as a "workaround". So maybe it doesn't anymore since the Equinox upgrade (which is now using Felix SCR). But I'm just guessing wildly, in fact I was surprised by it too.

In

[2017-08-28 12:22] maggu2810 opened #4145 "Cron Scheduler: Job seems to be executed to early"
It seems that a cron expression that for daily midnight ("0 0 0 * * ? *") could lead to an job execution on the "day before".

See comments here: https://github.com/eclipse/smarthome/pull/4131

IMHO the common behavior of a scheduled job is to be executed on the expected time or a little bit later, but not sooner.
That a cron job that should be executed on midnight has to add a delay just to be su

[2017-08-28 12:27] sjka commented on #4130
@Spybyte Version 0.9.0.b5 suffered from #3809 - so it's expected to die after a few days.

We don't provide any docker images here, so you might want to ask the maintainers of the docker image you are using.

[2017-08-28 12:38] davidgraeff commented on #3812
@kaikreuzer: I thought at least the thing XML definition needs adaption. It should allow me to define possible but not mandatory channels.

[2017-08-28 12:47] kaikreuzer opened #4146 "Add a property to thing types that declares extensibility"
A few thing types have a fixed set of defined channels, while others are meant to have a flexible number of channels defined by the user.

We would need a way to identify the "extensibility" of a thing type, so that this can be checked by the framework and nicely be supported by UIs (see e.g. #4142).

Possibly it is also good to give a list of channel-types which are allowed to be added (not all t

[2017-08-28 12:47] kaikreuzer commented on #4142
See https://github.com/eclipse/smarthome/issues/4146.

[2017-08-28 12:48] kaikreuzer commented on #3812
You're right, such an addition makes sense - but this is completely unrelated to the Paper UI (despite the fact that @htreu listed it as one feature in #4142). Probably best to address this in an independent issue in the core framework: https://github.com/eclipse/smarthome/issues/4146.

[2017-08-28 12:55] kaikreuzer commented on #2185
I would hope that this has been fixed by https://github.com/eclipse/smarthome/pull/3639. If it still occurs, please feel free to re-open.

[2017-08-28 12:55] #2185 closed

[2017-08-28 13:03] kaikreuzer commented on #1901
@lolodomo Has this been (at least partially) addressed with #1957?
Is there anything more we can/should do in the binding?

[2017-08-28 13:18] kaikreuzer commented on #4127
@RyanRamchandar You need to execute the full build locally at least once before you are able to use the skeleton generation script.

[2017-08-28 13:18] #4127 closed

[2017-08-28 13:28] kaikreuzer commented on #4133
Right, that's a good point - caldav support can indeed become an important feature.

We had a couple of issue that haven't been solved: https://github.com/eclipse/smarthome/issues/3185, https://github.com/eclipse/smarthome/issues/3912 and https://github.com/eclipse/smarthome/issues/4145 and a few others that were solved.

The problem is that all of them are rather critical issues and quite some pe

[2017-08-28 13:33] kaikreuzer commented on #2190
I think we will live with this greyed out validation markers and not put further effort in the designer, see https://dev.eclipse.org/mhonarc/lists/smarthome-dev/msg00146.html.
If anybody out there would like to work on it, feel free to do so and we can re-open the issue.

[2017-08-28 13:33] #2190 closed

[2017-08-28 13:35] kaikreuzer commented on #2220
This has been added meanwhile.

[2017-08-28 13:35] #2220 closed

[2017-08-28 14:04] triller-telekom commented on #4138
This depends on your location. It might be the case that in this specific time of the year there is no astronomical night for you ;) You can use this [site](https://www.timeanddate.com/worldclock/astronomy.html) to see if there is a night at your location.

[2017-08-28 14:18] sjka commented on #4138
That would still leave the question: Why is it UNKNOWN then - even if there would be no "NIGHT" at a certain location, shouldn't it rather transition symmetrically from ASTRO_DUSK to ASTRO_DAWN then? In the definition, there is no room for an "UNKNOWN" phase.

[2017-08-28 14:34] kjasdal commented on #4138
Although this holds true for the northern part of Norway - for parts of the year - I am afraid it does not for my part (I live at the south most tip). The site you linked to reports night as 23:26 until 03:27 for the current 24-hour period.

The main point, however, is as @sjka pointed out; there should not be an UNKNOWN (or UNDEF as I experience) period. If there is no night, then the transition

[2017-08-28 14:46] kjasdal commented on #4138
I just took a look at the logs for the previous 24-hour period, and I see that the situation is apparently a bit different than what I thought:

2017-08-27 23:37:00.010 [vent.ItemStateChangedEvent] - AstroSunHome_sPhase_Name changed from ASTRO_DUSK to NIGHT
2017-08-28 00:00:00.028 [vent.ItemStateChangedEvent] - AstroSunHome_sDaylight_Start changed from 2017-08-27T06:23:00.000+0200 to 2017-08-28T06

[2017-08-28 15:11] FrankR59 commented on #4130
But [#3809](https://github.com/eclipse/smarthome/issues/3809) does not affect my 0.9.0.201708041325, right?

[2017-08-28 15:15] kaikreuzer commented on #4130
@sjka Please note: The report here is about DSL rule triggering - this still uses Quartz, so #3809 is completely unrelated.

[2017-08-28 15:22] kaikreuzer commented on #616
Implemented with https://github.com/eclipse/smarthome/pull/384.

[2017-08-28 15:22] #616 closed

[2017-08-28 16:04] RyanRamchandar commented on #4127
Yes that did it.

Here are the correct steps:
1. Set up dev environment via:
https://eclipse.org/smarthome/documentation/development/ide.html
2. navigate to `smarthome` repo directory
3. run `mvn install`
4. go to smarthome/extensions/binding/
5. run `create_binding_skeleton.sh`
6. navigate to the new binding directory
6. run `mvn install`

[2017-08-28 18:06] rkoshak commented on #4103
Even if someone used only Thread:sleep(300), isn't it still bad behavior for the whole rules engine to stop rather than just that one rule?

If someone has even just a few of these minimal sleeps scattered throughout their rules it could add up to real problems.

This used to work just fine.

To me, it seems to be better to either fix or eliminate the possibility of using Thread::sleep all-togethe

[2017-08-28 18:26] LightIsLife commented on #4103
Would like to add my support to @rkoshak; not only is this simply bad behavior of software, this will likely cause quite some trouble for all the users who try to figure out their problems or just starting to write rules by reading the forum. Thread::sleep is deeply ingrained in many, many blog-posts as a solution. It will take many a user many eons to figure out why their system is misbehaving.
N

[2017-08-28 18:33] kaikreuzer commented on #4103
Yes indeed. Sorry, I have to admit that I didn't get that it blocks everything - I thought it is an exhausted thread pool which leads to no rules being executed because too many are sleeping.
So thanks for pointing it out and let's reopen the issue.

This actually surprises me - I am not aware of any change that could have changed anything in this behavior. Do you recall WHEN it was still working?

[2017-08-28 19:05] thelaoshi commented on #3869
I can confirm this behaviour too. Usually it takes around a day till the updates stop working. I always have to restart openhab, to get it working again :-(

[2017-08-28 19:12] rkoshak commented on #4103
Unfortunately, I don't. And I may be remembering back to the good old 1.8.3 days when I ran these sorts of experiments, and even then I was never that rigorous so I could be mistaken that it actually was working. I was looking to learn about a different behavior at the time with Timers.

Since then I've always used tiny sleeps so I wouldn't have noticed. I probably shouldn't have claimed it used t

[2017-08-28 19:13] dominicdesu commented on #652
Hi @kaikreuzer, actually this issue was found by you, I've just created a seperate ticket because it was not really related to my last PR 😃
I don't know what happened to the hue binding in the meanwhile. If it didn't change much, the issue probably persists, although it is IMHO a very minor issue. I can have a look, but probably not in the next few weeks... I'll put it on my list. Feel free to clo

[2017-08-28 19:16] georgeerhan commented on #4103
Indeed, I am testing this as we speak!

[2017-08-28 19:16] kaikreuzer commented on #652
Ok, thanks for your quick feedback. It isn't urgent at all, but probably worth to fix one day. So if you put it on your list for in a few weeks, that would be nice 👍

[2017-08-28 19:31] hannibal85 commented on #4103
@rkoshak

Yes, the original code also included a System started trigger

Just tried this. And your are right. If I don't use the System started trigger but a manual trigger it works.

I myself already got more and more the feeling that this has nothing to do with Thread::sleep. I tried it with a rule trigger by System started but w/o Thread::sleep. The behaviour is more or less the same that other

[2017-08-28 20:50] georgeerhan commented on #4103
So, after testing on build #1023, I can state the following:
If you fire two rules with system started trigger both having a thread.sleep instruction, one will be interrupted - that means that only one thread can be paused with a system started trigger (which seems reasonable in terms of code, but not in use cases!)
For the threads pausing when a rule is triggered with a thread sleep high enough (

[2017-08-28 23:14] pearson commented on #4139
I'd debate that point, as Eclipse's line wrapping feature is simply a visual aid for lines that are longer than a viewing window is wide.

Thanks for the link, though. It's good to know that it's a waste of time to work on this code base.

[2017-08-29 06:58] thelaoshi commented on #3867
I dont even need to change anything. It just starts to happen after several hours. This time it took around 1-2 days till it started. Only solution is to restart openhab.
Usually https://github.com/eclipse/smarthome/issues/3869 comes first, and then a few hours later this bug starts. Really annoying. Already thinking of giving back the Ikea smarthome stuff for now, because this way its just not us

[2017-08-29 08:30] kaikreuzer opened #4151 "Circular Reference in Automation Component"
Similar to #4143, the now used DS implementation from Felix provoked yet another circular dependency:

[code]

Checking the code, I do not find any real issue. What looks suspicious is that in the exception, there are two places with:
[code]

This might be a hint that in fact the OSGi JAX-RS Connector is causing the issue as it activates all services (in order to check whether they have JAX-RS ann

[2017-08-29 08:32] kaikreuzer commented on #4151
@sjka just pointed me to https://github.com/hstaudacher/osgi-jax-rs-connector/blob/master/bundles/com.eclipsesource.jaxrs.publisher/src/com/eclipsesource/jaxrs/publisher/ResourceFilter.java - I would assume implementing our own filter will solve many of the issues that we regularly see regarding cyclic dependencies.

[2017-08-29 09:03] kaikreuzer opened #4152 "NPE in ThingTypeI18nLocalizationService"
An NPE has been reported [here](https://community.openhab.org/t/oh-2-2-0-snapshot-1025-zwave-npe/33711):

[code]
It looks to me as if no channel type can be resolved, which leads to the NPE.
@lolodomo Should we add a safe-guard here? I am not sure, in which situations we can fail to resolve the channel type, but it seems to happen...

[2017-08-29 11:23] sjka commented on #4130
Oh, äh, of course, sure... - sorry for the confusion!

[2017-08-29 11:57] kjasdal commented on #4138
Seeing that this has gotten a "bug"-label, I just wanted to summarize what I believe are issues that should be looked at (and hopefully corrected):

1) When the DailyJob is run at midnight, the Sun Phase state is set to UNDEF.
- This should not happen (the state should continue to be NIGHT).
2) There is a Sun Phase called NOON that seems to have a duration of one minute (although some comment in t

[2017-08-29 12:29] sjka commented on #4138
Good summary, thanks!

1. Indeed, the first thing the DaiyJobSun does is republishing all channels with the claculations of a new sun object. This however appears to not have the correct phase calculated initially [here](https://github.com/eclipse/smarthome/blob/0bae79367d47fcd8288670c7f79afcfbb15c5a9b/extensions/binding/org.eclipse.smarthome.binding.astro/src/main/java/org/eclipse/smarthome/bindi

[2017-08-29 13:36] htreu commented on #4110
I will have a look, hold on.

[2017-08-29 13:50] afuechsel commented on #4025
+1 from me. Localization is an issue for the discovery results.

[2017-08-29 14:40] JochenHiller commented on #4025
Also +1 from me. Seems to be a good idea to clone the thing status approach also for I18N discovery results

[2017-08-29 14:46] htreu commented on #2666
@kgoderis or @sjka: is this still an issue for you? what is the state of the KNX channel-types right now? Do we need to address this further?

[2017-08-29 14:55] tomhoefer commented on #4025
Makes definitely sense

[2017-08-29 14:58] triller-telekom commented on #4133
I just tried to fix #3185 with PR #4154. It took me a couple of days to understand what is going on in the scheduler and I am still not sure that I understood everything. I have to say that the code is pretty hard to read because:

* classes that contain static inner classes such as [ExpressionThreadPoolManager](https://github.com/eclipse/smarthome/blob/master/bundles/core/org.eclipse.smarthome.co

[2017-08-29 15:32] htreu commented on #645
The designer is not actively maintained anymore, please see https://github.com/eclipse/smarthome/issues/4139#issuecomment-325333205.

@sjka please close.

[2017-08-29 15:48] htreu commented on #634
The designer is not actively maintained anymore, please see https://github.com/eclipse/smarthome/issues/4139#issuecomment-325333205.

@sjka please close.

[2017-08-29 15:49] htreu commented on #620
The designer is not actively maintained anymore, please see https://github.com/eclipse/smarthome/issues/4139#issuecomment-325333205.

@sjka please close.

[2017-08-29 15:49] htreu commented on #618
The designer is not actively maintained anymore, please see https://github.com/eclipse/smarthome/issues/4139#issuecomment-325333205.

@sjka please close.

[2017-08-29 15:50] htreu commented on #997
The designer is not actively maintained anymore, please see https://github.com/eclipse/smarthome/issues/4139#issuecomment-325333205.

@sjka please close.

[2017-08-29 15:56] htreu commented on #635
another ping @kaikreuzer: is this still valid?

[2017-08-29 16:01] kaikreuzer commented on #635
Sure, why not?

[2017-08-29 16:13] htreu commented on #637
I can confirm this is fixed now. @kaikreuzer please close.

[2017-08-29 16:22] #637 closed

[2017-08-29 16:22] gerrieg commented on #3611
Sure, it's possible. But this can also be done with simple Rule. Just listen to the Azimuth changes and save the value in a variable (e.g previousAzimuth). If the currentAzimuth < previousAzimuth, then solar midnight has been reached.

[2017-08-29 16:23] #997 closed

[2017-08-29 16:24] #618 closed

[2017-08-29 16:24] #620 closed

[2017-08-29 16:24] #634 closed

[2017-08-29 16:24] #645 closed

[2017-08-29 16:27] htreu commented on #623
@kaikreuzer I guess this is already implemented in PaperUI, please close.

[2017-08-29 16:33] #623 closed

[2017-08-29 16:33] htreu commented on #612
@maggu2810 does the condition hold true by now? can this be closed or do we need to discuss this further?

[2017-08-29 16:35] htreu commented on #609
another ping @cdjackson: can you confirm this issue or ping the maintainers to close please?

[2017-08-29 16:38] maggu2810 commented on #612
Nothing to discuss anymore.

[2017-08-29 16:38] #612 closed

[2017-08-29 16:46] htreu commented on #610
@kgoderis this issue is quite old, do you want to add some input to the discussion? Otherwise please let the maintainers know to close it, thanks.

[2017-08-29 16:47] htreu commented on #614
Since classic ui is out of maintenance I guess this can be closed @kaikreuzer?

[2017-08-29 16:50] cdjackson commented on #609
Sorry - I don't remember this at all - it was 2 years ago. I'd suggest to close.

[2017-08-29 16:50] #609 closed

[2017-08-29 16:59] htreu commented on #603
@maggu2810 and @kaikreuzer: since Google PhysicalWeb is BLE only right now I guess this should be closed at the time being. Maybe with the new Bluetooth binding there is another chance to look into this. Sadly this issue does not point to any code or further implementation detail. wdyt?

[2017-08-29 17:02] gerrieg commented on #4138
1.) UNDEF should not happen
2.) Makes sense to remove NOON from the sun phase and keep it as event

@kjasdal can you please post (or send by mail) your coordinates so that i can try it myself. Then i can say more.

[2017-08-29 17:09] kjasdal commented on #4138
Here you go @gerrieg:
Thing astro:sun:home [ geolocation="58.1461,07.9957" ]

Let me know if I can help in any other way!

[2017-08-29 17:23] htreu commented on #635
from BasicUI:

<img width="549" alt="screen shot 2017-08-29 at 19 22 07" src="https://user-images.githubusercontent.com/1729268/29834534-6aa31a4a-8cef-11e7-8439-149ae0e5d525.png">

do we miss one in PaperUI? Can you give some details please?

[2017-08-29 17:25] htreu commented on #635
I guess we do miss a `Player` keyword in the DSL. The screenshot is with `Default player` in the sitemap file.

[2017-08-29 18:15] kTitan opened #4156 "[SONOS] Playbar add support for NightMode and DialogLevel"
I am currently migrating my fhem installation to openhab.
Here I have noticed that the SONOS Binding is missing the possibility to set the NightMode and DialogLevel Status.
I am using this in fhem for switching the status in the night, to not disturb the neighbors.
As far as I know these options are only supported for the Playbar.

It would be nice to get these options added.

Here is the link to

[2017-08-29 18:16] kaikreuzer commented on #603
Is it? Do you have a reference that they dropped mDNS support?
I'm still dreaming of ESH instances popping up in Chrome if being discovered in the vicinity...

[2017-08-29 18:17] kaikreuzer commented on #614
No, Classic UI might not be in the focus, but it is still actively maintained.

[2017-08-29 18:27] kaikreuzer commented on #635
Yes, it is mainly about adding a Player option in the Sitemap DSL (plus its parameters, whatever makes sense for it) and adding support for it in all UIs (Classic+Basic) (best including the native openHAB UIs as well).

@digitaldan As you were the one asking for such a widget at the time, does it still make sense to you and would it be easy to include support for such a new widget type in iOS and

[2017-08-29 18:36] maggu2810 commented on #603
Hm, my Chrome (on a desktop machine) doesn't Popup anything if I follow this instructions:
https://github.com/google/physical-web/blob/master/documentation/mDNS_Support.md

[2017-08-29 19:27] Dan1001 commented on #3935
Has anyone found a neat way to exclude this error from the logs, without excluding other (real) errors from the Sonos binding?

thanks,

Dan

[2017-08-30 06:38] htreu commented on #603
Yes, you got me here. I was referring to the point @scottjenson made earlier. Thanks @maggu2810 for pointing me to the dev docs.
I tested the mDNS support as described in the docs with the latest iOS version and iOS Chrome as [described here](https://support.google.com/chrome/answer/6239299?co=GENIE.Platform%3DiOS&hl=de&oco=1) w/o success.
Side note: the iOS client in fact does show a link I copy

[2017-08-30 07:17] lolodomo commented on #4152
I will take a look. It seems to happen when initializing z-wave things. As you said it would be interesting to know in which cases the resolv fails.

[2017-08-30 08:35] kaikreuzer commented on #4152
According to [this comment](https://community.openhab.org/t/oh-2-2-0-snapshot-1025-zwave-npe/33711/9?u=kai), it is most likely due to an invalid thing type definition (having channels that are of a non-declared type). So even if it is an error situation, we should harden the code here and not throw an NPE.

[2017-08-30 08:37] gerrieg commented on #4138
I found a bug in the initial calculation of the sun phase at midnight. Will fix it soon and thanks for the bug report.

[2017-08-30 12:03] mhilbush commented on #4152
@kaikreuzer Do you think the root cause of this issue is the same root cause that's causing the REST API calls to fail as described [here](https://community.openhab.org/t/oh-2-2-0-snapshot-1025-zwave-npe/33711/40).

[2017-08-30 13:11] Dan1001 opened #4161 "Visual Studio and "configuration model x.rules is either empty or cannot be parsed correctly" error"
Hi,

I'm running OH2.2 snapshot on Ubuntu 14.04. I usually use SublimeText as an editor, editing locally. When I use Visual Studio and the OH extension (also locally) I get the above error when editing rules.

I appreciate a number of people have experienced similar issues with a variety of editors when editing across a Samba networked drive, but a local problem seems unusual, and it was suggested

[2017-08-30 13:13] kaikreuzer commented on #4161
Could you post a log file with exceptions here?

[2017-08-30 13:16] Dan1001 commented on #4161
Sure - do you mean just:

2017-08-30 14:04:43.325 [INFO ] [el.core.internal.ModelRepositoryImpl] - Refreshing model 'sonos.rules'
2017-08-30 14:04:43.326 [WARN ] [el.core.internal.ModelRepositoryImpl] - Configuration model 'sonos.rules' is either empty or cannot be parsed correctly!
2017-08-30 14:04:43.969 [INFO ] [el.core.internal.ModelRepositoryImpl] - Loading model 'sonos.rules'

or something e

[2017-08-30 13:17] kaikreuzer commented on #4152
@mhilbush Yes, very likely as it seems that the REST response simply states that an unexpected NPE has happened.

[2017-08-30 13:46] kaikreuzer commented on #4161
That is a well known issue when using Samba shares - there simply is a moment in which the file is empty and thus cannot be parsed. So the warning is technically correct.
But your log shows that it is correctly loaded as soon as the content is available. So I expect that everything works, right?

[2017-08-30 13:55] htreu opened #4162 "NPE in GenericItemProvider"
I got this NPE in the logs:

[code]

Steps to reproduce:

- Start ESH in the IDE using `SmartHome-Runtime.launch`
- Edit `distribution/smarthome/conf/items/demo.items`
- add a label to one of the items like `String DemoString "Demo String"`
- save file

--> NPE

[2017-08-30 13:56] Dan1001 commented on #4161
The oddity is that this isn't a Samba share - I'm locally editing files on a local drive, and those files aren't shared over the network.

As this is a live system I stopped using Visual Studio when I saw the error - but I'll play with it a little and let you know if I see any real problems.

[2017-08-30 14:03] Dan1001 commented on #4161
On second thoughts, get a series of errors when I edit an items file:

2017-08-30 14:58:22.347 [INFO ] [el.core.internal.ModelRepositoryImpl] - Refreshing model 'sensors.items'
2017-08-30 14:58:22.353 [WARN ] [ore.common.registry.AbstractRegistry] - org.eclipse.smarthome.core.library.items.NumberItem with key 'CoffeePower' already exists! Failed to add a second with the same UID!
[and so on for ea

[2017-08-30 14:08] kaikreuzer commented on #4025
@lolodomo It sounds as if your feature request found some friends ;-)
So feel free to start looking into it!

One thought: Would we really require a "dynamic" translation at any time (as it is done for config status etc.) or wouldn't it here be good enough to enable the binding to provide the label in the current system language when creating the inbox entry? Note that this label becomes the Thing

[2017-08-30 14:12] kaikreuzer commented on #4161
This is weird and I haven't seen this with any other editors - maybe worth to report at https://github.com/openhab/openhab-vscode/issues and have @kubawolanin comment on it.

I am afraid not - this is something that should be looked into.

[2017-08-30 14:14] triller-telekom commented on #4060
@kubawolanin I am currently looking into this issue and I am asking myself what kind of `Status` I should send for the response of such a bulk action.

As information I do have 3 lists: `added items`, `updated items`, `failed items` whose names I was planning to return in my response. So my response would contain these 3 list of names plus the `Status` code.

If I just return `Status.OK` in any ca

[2017-08-30 14:15] Dan1001 commented on #4161
thanks

[2017-08-30 14:28] htreu commented on #4162
This is an excerpt from my log starting the framework when the error later occurs:

[code]

notice the extra logging `--> sending model added event` I added when the `ModelRepositoryImpl` does load the model.
In `GenericItemProvider` is a corresponding extra logging on processing the `ADDED` event which is absent here. I will provide the same excerpt for the situation when the error does _not_ occ

[2017-08-30 15:15] #2775 closed

[2017-08-30 15:29] kaikreuzer opened #4164 "Switch to EPLv2 and introduce new license headers"
The EPLv2 has been released, see https://www.eclipse.org/org/press-release/20170829eplv2.php.

According to the press release, Eclipse projects are expected to migrate to that new version.

We have a long standing discussion about needing new license headers, which move the list of copyright holders away from the header into NOTICE files.

[2017-08-30 16:54] kubawolanin commented on #4060
Hi @triller-telekom! Thank you so much for working on it!

That was my thought as well :)
Cheers

[2017-08-30 17:12] lolodomo commented on #4025
Yes the idea is to create a discovery result with a translated label. The idea is to use the usual syntax  "@text/xxx" with xxx being set in the properties file.
The only thing not clear for me is if it requires a new specific service like for the config status localization ?

[2017-08-30 20:55] metbril commented on #4095
The issue does NOT occur with basic UI.
It DOES occur with both iOS and classic UI.

I noticed that basic ui send this event:

[code]

Both other UIs send

[code]

It appears that basic send an integer without decimals and the other send a number with 1 decimal. The latter raises the issue.

[2017-08-30 21:08] #4138 closed

[2017-08-31 03:56] davidgraeff commented on #4088
To continue on this I like to discuss how the configuration for the service should be done. The following conditions need to be met:
* Hierarchical structure possible
* File config is synchronized to the service config

The OSGI properties interface would work. A value of the properties map can theoretically contain another map object. The current ConfigAdmin unfortunately does not meet criteria 2

[2017-08-31 04:07] FrankR59 commented on #4130
I unstilled HarmonyHub binding to check if it influnces the cron scheduler. But my cron jobs still went down. Then I reinstalled the binding and meanwhile cron is going down once a day!

[2017-08-31 06:24] lolodomo commented on #1901
Yes, there remains potential "wrong informations" at startup in case of a device in a Sonos group. I should have a look, maybe it could be resolved by first requesting the group topology. It is a minor problem that could lead to bad informations in channels.

[2017-08-31 06:54] Baumi1245 commented on #4018
Same here... after some time it stops working.
I´m on openHAB 2.2.0 Build #999 at the moment - also the ntp-binding does not show the correct time anymore...

[2017-08-31 07:04] kaikreuzer commented on #4130
So does that mean you have a reproducible setup?
Nothing could be more helpful than a set of config files (items, rules) that can be put on a plain runtime and which will provoke this issue.
Note that I (and many many other people) run the very latest runtime with many rules and don't have any such issue - so we really need to find out the culprit in your setup.

[2017-08-31 07:18] kaikreuzer commented on #4025
That's what I tried to outline above - I do not see a need for a new service; a `DiscoveryResultI18nUtil` (similar to e.g. `BindingI18nUtil`) should be just fine.

[2017-08-31 07:23] triller-telekom commented on #4018
@Baumi1245 Do you have any logs when it last worked and once it stopped? I am especially interested in the time when this happened: `[INFO ] [rthome.binding.astro.internal.job.Job] - Scheduled Astro event-jobs for thing astro:sun:YOURNAME`

Also that you are saying that the ntp binding is reporting wrong times is interesting. Can you elaborate a bit on this please? In which sense is it wrong? What

[2017-08-31 07:25] triller-telekom opened #4167 "Revert Astro 30 seconds after midnight hack"
A small reminder to revert the hack done in PR #4131 once issue #4145 is fixed

[2017-08-31 07:27] #4018 closed

[2017-08-31 07:27] lolodomo commented on #4025
I will try to implement that in the next days.

[2017-08-31 07:28] DriesA commented on #4018
Hi,
Some more info from my side:
* The rule never gets triggered, also not directly after restarting OpenHAB. I saw that a potential fix is to schedule the job 30secs after midnight, but I'm not convinced it would be the solution for me. In that case the jobs would be scheduled after rebooting OH and stop running after the first midnight.
* I also have the NTP binding, and I can say it is showing

[2017-08-31 07:30] triller-telekom commented on #4018
@DriesA Please have a look on whether the 30seconds hack fixes the issue for your and if not feel free to reopen this issue. Thanks.

[2017-08-31 07:32] DriesA commented on #4018
I will test! In which build can I expect the fix? The upcoming #1029?

[2017-08-31 07:55] triller-telekom commented on #4018
You mean the #1029 build of openHAB? No, it will not be included there. In openHAB it takes until we release a new ESH stable and then the next openHAB build will contain the fix.

But meanwhile you can uninstall the Astro binding via paperui and download the attached zip file and extract the containing jar file into the `addons` directory. It contains the newest sources as of now.

[astro.zip](ht

[2017-08-31 07:56] Dan1001 commented on #4161
Update on the weirdness: looking again at the logs, it doesn't just give the "failed to add a second" error for the items in that items file; it gives it for every item across all items files. So am I right to think this is definitely an openhab and not a VisualStudio problem?

[2017-08-31 07:57] Dan1001 commented on #4161
Further update: I just got exactly the same items error when editing with Sublime Text. So not a Visual Studio problem for sure.

[2017-08-31 08:35] Baumi1245 commented on #4018
@triller-telekom
Waiting for the next crash... i createt a rule to get notified if the ntp-binding isn´t changing time...

`2017-08-29 00:00:00.062 [INFO ] [thome.binding.astro.internal.job.Job] - Scheduled Astro event-jobs for thing astro:moon:home
2017-08-29 00:00:00.098 [INFO ] [thome.binding.astro.internal.job.Job] - Scheduled Astro event-jobs for thing astro:sun:home

2017-08-30 00:00:00.061

[2017-08-31 10:31] sjka commented on #4161
The duplicate items sound like what was fixed by #3641 or #3639 - as you said that you are on a snapshot version, could you please paste the versions of your

`org.eclipse.smarthome.model.thing`
`org.eclipse.smarthome.core.thing`

bundles in order to see what exact version you got?

[2017-08-31 10:51] Dan1001 commented on #4161
Thanks!

Versions are

0.9.0.201708151402     org.eclipse.smarthome.model.thing
0.9.0.201708151402     org.eclipse.smarthome.core.thing

Dan

[2017-08-31 11:25] sjka commented on #4161
From a timing perspective, both PRs should be included in your version. Therefore this needs to be looked into more closely.

Just to be sure we don't miss any clues: Are there any other errors/exceptions in your logs? Maybe the one from #4162?

[2017-08-31 11:34] FrankR59 commented on #4130
I have a reproducible setup and of course I could provide it. But my rules and items contain lots of stuff that would never run within a plain runtime. There are z-wave things that do not exist anywhere else, different raspberry-pis and other machines I contact via ssh and http, a special implementation for my google calender (due to not working cladav binding) and so on. Almost every rule would r

[2017-08-31 11:41] kaikreuzer commented on #4088
ESH has the notion of `ConfigurableService`s, which simply have to provide a `ConfigDescription` and which can then be configured through cfg files (in openHAB e.g. in `conf/services/*.cfg`) as well as through the Paper UI (Configuration->Services).

[2017-08-31 11:57] Baumi1245 commented on #4018
Here is my setup...

[code]

No - no wrong times... it stops!
Therefor i now wrote this, to be informed (ntp refresh 1 Minute, sleep 2 Minutes - testet and working so far):
[code]
Everytime the Astro didn´t trigger, the NTP-time has stopped working.

[2017-08-31 12:13] triller-telekom commented on #646
With the current Classicui I cannot see any infinite loop once I click and hold up or down on a Dimmer.

@kaikreuzer @sjka Can you please close this issue?

[2017-08-31 12:18] #646 closed

[2017-08-31 12:29] #4123 closed

[2017-08-31 12:34] triller-telekom commented on #633
I guess this issue is obsolete since the models are now checked and discarded if there are validation errors.

@kaikreuzer @sjka Can you please close this issue?

[2017-08-31 12:43] triller-telekom commented on #625
PaperUI already provides a time picker for the rule engine, see:

![image](https://user-images.githubusercontent.com/26876013/29923657-90dd7982-8e5a-11e7-8825-e87f5e3d1266.png)

[2017-08-31 12:43] sjka commented on #633
fixed by #2872

[2017-08-31 12:43] #633 closed

[2017-08-31 12:50] kaikreuzer commented on #4130
Yes, that would be perfect.
IF there is a general issue within cron scheduling and the rule engine itself, it must happen completely independently of any bindings.
If the issue is due to some binding, you will only find out by adding/removing them one by one.

Ftr, I have just created this rule for testing:
[code]

If anything can make the scheduling crash, this should actually do it - but it seem

[2017-08-31 12:51] kaikreuzer commented on #3869
#4159 probably does not cover all potential situations, so I am re-opening the issue.

[2017-08-31 12:52] triller-telekom commented on #622
If I leave the Colorpicker open in basicui and restart ESH the browser reestablishes the link and closes the Colorpicker automatically now. If I then set a color via `smarthome update DemoColor 50,50,50` and open the Colorpicker it shows these values. If I leave it open and send a different value via the console it updates immediately.

@kaikreuzer @sjka This bug can be closed.

[2017-08-31 12:55] kaikreuzer commented on #625
This issue is about a "UI widget" for items, not about configurations (which didn't even exist at the time the issue was created...)

[2017-08-31 12:58] kaikreuzer commented on #622
This issue is about the Classic UI, not the Basic UI.
But I would tend to close it as a won't fix as it is imho a low prio and the Basic UI can be used as a replacement.

[2017-08-31 12:58] #622 closed

[2017-08-31 13:02] triller-telekom commented on #625
Hmm in the original issue I read:

So I understand that the feature request was about being able to specify a time for a rule.

But I agree we do not have a Time/Datepicker in our basicui (yet).

[2017-08-31 13:05] FrankR59 commented on #4130
Ok, I will check that out and report here after moving my stuff to my test machine.

[2017-08-31 13:06] triller-telekom commented on #621
This issue is about the old classicui interface and either has been fixed or won't be fixed in favor to the new basicui.

@kaikreuzer @sjka Can you please close this issue?

[2017-08-31 13:07] #621 closed

[2017-08-31 13:13] triller-telekom commented on #617
This issue still applies for the current version of ESH, see:

`demo.items` was there before and I added `test.items`. After adding `test.items` the `GenericItemProvider` read the items from the `demo.items` file again.

[code]

[2017-08-31 13:21] Dan1001 commented on #4161
No, no other errors other than those above (with the warning repeated for every single item).

Dan

[2017-08-31 13:45] triller-telekom commented on #1102
@watou is this issue still valid for you? I just opened the developer tools in chromium and clicked through the demo sitemap in classicui but I did not get such an error message. Can you still reproduce it? And if so can you please provide some details about your `.items` and `.sitemap` files?

[2017-08-31 14:44] mherwege commented on #4161
@sjka Probably not related, and I feel we are going away from the original issue files, but it might give a clue. I noticed the same error on all of my items (both defined in .items files and through PaperUI) when starting or restarting openHAB. I have exactly the same version of ESH running as @Dan1001. It is not consistent though. I tried restarting about 10 times. 7 out of 10, I get the "Failed

[2017-08-31 14:48] Dan1001 commented on #4161
I too have everything restoring on startup from mapDB, but the error occurs well after a restart. I can't find a pattern to when it happens - no more than once every editing session, I would say.

[2017-08-31 16:11] #4060 closed

[2017-08-31 17:06] davidgraeff commented on #4088
Yup I read about that when I skimmed through the ESH packages. I haven't found it in the documentation.
It does not support tree like structures though, I assume?

[2017-08-31 17:56] davidgraeff opened #4170 "MqttService API break"
As we don't have any consumers of the MQTT API right now (they would have been affected by the reconnect bug that just recently got fixed), we should discuss some little API breaks that I strongly recommend:

In MqttBrokerConnection:
* Rename close() to stop(). The semantic of close is usually, that the object cannot be used anymore. Stop would be matching with start(). Alternatively call start()

[2017-08-31 18:37] DriesA commented on #4018
@triller-telekom : I can confirm the Astro JAR file you provided works, thanks!!

This is what I did:
* I delete the things “local sun” and “local moon”;
* I removed the Astro binding installed via PaperUI;
* I stopped OpenHAB;
* I deleted the contents of /cache and /tmp;
* I upgraded to the latest build (#1028) (apt-get);
* I started OpenHAB;
* I added the jar-file to the addons-file;
* Two thing

[2017-08-31 18:49] maggu2810 commented on #4170
At least me is using the MQTT transport bundle and has been affected by the reconnect bug.
But the changes are okay for me.

[2017-09-01 07:27] kaikreuzer commented on #4088
Correct, unfortunately no trees, only flat lists.

[2017-09-01 07:33] davidgraeff commented on #4088
The ConfigDescription can handle groups. Is it possible to "simulate" a tree (depth=2) structure? For both mentioned services, I would need to describe an instance (Mqtt connection / TLS configuration) with multiple parameters. Does PaperUI support to add a new instance / "group"?

[2017-09-01 09:05] davidgraeff commented on #4170
I thing the URL should stay, paho uses this: https://www.eclipse.org/paho/files/javadoc/org/eclipse/paho/client/mqttv3/MqttAsyncClient.html#MqttAsyncClient-java.lang.String-java.lang.String-

[2017-09-01 09:10] htreu commented on #4161
The PR #4163 should fix the duplicate items bug.

Still open here: `Configuration model 'sonos.rules' is either empty or cannot be parsed correctly` even when edited locally.

[2017-09-01 09:19] Dan1001 commented on #4161
Cool - do you know when it will go into the snapshot so I can test?

[2017-09-01 09:27] #617 closed

[2017-09-01 09:27] #4162 closed

[2017-09-01 09:31] htreu commented on #4161
the fix got accepted and merged. the next ESH stable build is planed in the next 12h I guess and the next openHAB snapshot afterwards will be your choice :-)

[2017-09-01 09:32] Dan1001 commented on #4161
That is awesome - thank you. Out of interest, how come so few people have come across the problem? In other words: why am I special?

[2017-09-01 10:20] maggu2810 commented on #4170
IIRC @kaikreuzer dislike the `tcp` and `ssl` prefix.
Does it care which representation paho is using? We are using an abstraction layer, so if we would like to use `host`, `port`, `useSSL`, we could build the paho URL using that three information. If we ever move from paho to another implementation, we could build (using this three information) another URL representation.

[2017-09-01 10:24] kaikreuzer commented on #4088
No, groups are only used for a logical grouping within the UI based on the parameters. Every parameter can refer to a groupId it belongs to. But you cannot create new group "instances" within a configuration.

[2017-09-01 10:36] Baumi1245 commented on #4018
NTP stopped working at 11:53
Last astro log:
[code]
Astro triggert three times today - next trigger is in the evening.
I don´t think, astro ist still working...

[2017-09-01 11:22] davidgraeff commented on #4088
Can ConfigDescription and the xml dtd behind it be extended to include the concept of group-able parameters that can exist in multiple instances? There are probably more use cases than only the two services that needs this. For instance I can think of user management related configuration where a parameter group instance would consist of a username and a password.

[2017-09-01 11:49] htreu commented on #4161
The problem originates in a non-deterministic start order of OSGi services. It could happen that the item model was parsed bevor the GenericItemProvider was available. But this does not happen on every startup. And the probability may also depend on your system settings and installed bundles.

[2017-09-01 12:00] Dan1001 commented on #4161
I've been experiencing it on a system that's been running for hours/days - is it possible I have a different problem? I guess we'll find out when I install the snapshot...

[2017-09-01 13:10] ThomDietrich commented on #4161
@kaikreuzer

But your log shows that it is correctly loaded as soon as the content is available. So I expect that everything works, right?

Even though everything technically works, these log messages are "error messages on firth sight" and a lot of users are probably irritated by them. In my opinion they should be dealt with for the sake of UX.
I could imagine they can be easily ignored by adding

[2017-09-01 13:41] kaikreuzer commented on #4161
@ThomDietrich My comment is pretty old and has been already proven incorrect in the discussion here. The issue is hence still open and we need to find out what the actual root cause of it is. Ignoring it without knowing why they happen is imho not an option.

[2017-09-01 14:20] ThomDietrich commented on #4161
I actually got that, thanks for the clarification.
My main goal was to emphasize, that the warnings should be dealt with rather than just accepting them. Good to know we feel the same way ;)

[2017-09-01 15:19] sihui62 commented on #4152
I vote for a "critical bug" label because since #1024 openHAB is not fully usable anymore:

- 500 error in PaperUI
- Items tab missing
- NPE

https://community.openhab.org/t/bug-items-category-missing-paperui-error-500-on-build-1029-on-openhabian/33824
https://community.openhab.org/t/oh-2-2-0-snapshots-1025-1028-zwave-npe/33711/40

[2017-09-01 15:39] lolodomo commented on #4152
To be closed, my PR fixing it was merged today.

[2017-09-01 16:21] #4152 closed

[2017-09-01 17:12] sihui62 commented on #4152
Thx @lolodomo (and all others) for your hard work, appreciate that.

[2017-09-01 21:18] kaikreuzer commented on #4152
FTR, the latest openHAB distro 1030 includes this fix.

[2017-09-01 21:20] kaikreuzer commented on #4018
FTR, the latest openHAB distro 1030 includes @triller-telekom's fix.

[2017-09-02 05:39] davidgraeff commented on #3812
I will close this issue now, because we have individual PRs already for discussion.

[2017-09-02 05:39] #3812 closed

[2017-09-02 05:41] davidgraeff commented on #4170
I changed the url to host+port+secure and removed the name from the connection as well as the textualConfigured flag.

[2017-09-02 06:14] davidgraeff opened #4178 "Support hierarchical configuration & exclusive cfg files"
I'm facing the problem in two services (MqttService and #4105 SSLService) that I'm in a need of a simple 2-level hierarchical configuration (parameters grouped in instance-able sections). I'm calling this "sections" in the followup text. I propose to add support to the framework in a way that GUIs can interact with sections (create/modify/delete) and that they can be stored in configuration files

[2017-09-02 15:37] kaimahnke commented on #4018
I installed 1030 and can confirm that the triggers work as designed (again). @triller-telekom : excellent job!

[2017-09-02 15:51] kgoderis commented on #610
@kaikreuzer Let's close this one. I am not sure it if is still relevant after such a long time

[2017-09-02 15:53] euphi commented on #2528
Please reconsider the decision to not accept commands for ContactItems.

Simple and important use case:

- Frequent test of an alarm system.

I have a group of ContactItems that trigger an alarm if Group-state is OPEN (simple OR-function).
For an alarm system it is common to have a test function. This shall be done by just adding the TestContact as a normal contact to the group.

[2017-09-02 15:55] kgoderis commented on #3912
@kaikreuzer Kai, based on your investigation of alternative schedulers, are there any - at first sight - that can be extended to support different expression formats?

[2017-09-02 16:29] watou commented on #2528
@euphi Instead of commanding the contact, you can update its state to be OPEN or CLOSED.  To do this from a UI, you could have a command-able item type (like a Switch item) which, when it receives a command, updates the state of a Contact item to be OPEN or CLOSED using a rule.  So your TestContact item will behave like any other Contact item.

[2017-09-02 16:49] kgoderis commented on #4133
@triller-telekom @kaikreuzer

I do acknowledge that the code of the scheduler is quite hard, and it became quite hard when I tried to combine cron expressions with RFC5545 expressions. These are quite different animals, for example, in RFC5545 one can specify an end date, and I tried to come up with an algorithm that would be able to calculate both expressions. If you would only consider cron, the

[2017-09-02 16:52] kgoderis commented on #2666
@htreu Not for me

[2017-09-02 20:43] #610 closed

[2017-09-03 08:58] sihui62 opened #4179 "Component XML generation broken for services with a configuration-pid"
https://community.openhab.org/t/oh-2-2-0-snapshots-1025-1028-zwave-npe/33711/65

[2017-09-03 09:07] kaikreuzer commented on #4179
The issue is that Felix Fileinstall writes this entry to the config file:
[code]
I assume that the link service does not correctly handle boolean (instead of string) values.

[2017-09-03 09:12] lolodomo commented on #4095
I will fix that, the binding is handling DecimalType value but without any rounding.

[2017-09-03 09:43] lolodomo commented on #4095
I am not able to reproduce the issue with Classic UI ! Are you sure that the issue is not only with iOS app ?
So I can provide a fix but I will not be able to test it.

[2017-09-03 10:12] metbril commented on #4095
I was running 2.1 stable at the time and now on 2.2 snaphot. I currently can't see the error with classic ui either. I don't have the means to go back simply, so it might already be fixed in the current snapshot?

[2017-09-03 10:37] lolodomo commented on #4095
Ok. By the way, I fixed the binding to use an integer even if a decimal value is provided. So it should work in iOS app too.

[2017-09-03 10:52] J-N-K commented on #942
I did have a look at this one. The problem is that the ThingManager.thingRemoving sets the ThingStatus to REMOVING and notifies the handler about that. The handler then sets the ThingStatus to REMOVED (at least the BaseThingHandler) and the ThingManager then removed the thing.
Obviously waiting for the handler to update the ThingStatus will fail if the handler is missing.
I'll add a check if the T

[2017-09-03 11:11] rapiertg commented on #3838
Don't have test environment, so sorry, until next stable release I can't check it.

[2017-09-03 16:13] FrankR59 commented on #4133
Regarding this: could #4130 be caused by some kind of overflow or memory leak?

[2017-09-04 06:26] htreu commented on #2666
@sjka I guess we can close here then.

[2017-09-04 07:24] kaikreuzer commented on #2666
@htreu If it hasn't been fixed yet, I wouldn't close it - I think it is the duty of the framework to make sure that only correct values are passed to the handers.

[2017-09-04 07:34] maggu2810 commented on #4179
[code]

I assume there is a missing "to lower case" between `toString()` and `equals`

[2017-09-04 07:40] maggu2810 commented on #4179
I has been wrong. The code should be correct:

[code]

[code]

[2017-09-04 08:20] kaikreuzer commented on #4133
@FrankR59 Clearly not, see my https://github.com/eclipse/smarthome/issues/4130#issuecomment-325382966.

[2017-09-04 08:22] #4095 closed

[2017-09-04 08:25] kaikreuzer commented on #3912
Sorry, I didn't yet do any investigation on the alternatives, so I cannot answer this question - I only listed in #4133, what people mentioned to me in the past as potential implementations.

[2017-09-04 08:37] htreu commented on #4110
The item category in PaperUI is currently displayed only for a small number of categories. Most of the items fall back to a default for the item type (like Switch for the Light category).
However with #3510 we will provide a new set of thing type categories and updated category-item-mapping. For PaperUI we will then incorporate the new MaterialDesign icon set from https://github.com/openhab/openha

[2017-09-04 11:00] DriesA commented on #4018
Hi Kai,
For me upgrading to #1031 did bring back the issue. [See details here](https://community.openhab.org/t/astro-binding-to-move-switches-at-sunset-sunrise/18750/81?u=dries).

[2017-09-04 14:41] kaikreuzer commented on #2580
I would think that this should be fixed by the fact that we now do not load rules with parsing errors anymore.

@JueBag If you still experience this issue, please feel free to re-open.

[2017-09-04 14:41] #2580 closed

[2017-09-04 15:58] kjasdal commented on #4138
I hope this doesn't re-open the thread, but I just wanted to let you know that the fix has propagated all the way to my openHAB setup and I can confirm that it is working well. No more UNDEF's at midnight, and no more NOON's at midday, :-)

Thanks for a swift resolve!

[2017-09-04 16:22] mattwire opened #4184 "New Rule engine not initialising rules at startup"
The new rule engine is starting too early (before other modules that implement things defined in the rules) and this is causing the rules to be unitialised.  See https://community.openhab.org/t/new-rule-engine-startup-rule-initialisation/18622/13 for workaround using API PUT.

#2694 seems related but I'm on openhab2.2.0 snapshot 1020 and it is still happening.

[2017-09-04 18:13] JueBag commented on #2580
I tried using my old rule as posted in [#2545](https://github.com/eclipse/smarthome/issues/2545).
Using the OH2.1 stable release, I get log messages that exactly point to the false usage of an escape character.
[code]
In other words, CLOSED!

[2017-09-04 18:50] kaikreuzer commented on #2580
Perfect, thanks for the feedback!

[2017-09-04 19:49] kaikreuzer commented on #4103
Thanks @hannibal85 and @georgeerhan for your thorough examinations - I think I was able to fix all the reported issues with #4185. It all looks pretty good in my tests and I hope you can confirm the same!

[2017-09-04 19:50] schnidrig commented on #3912
Just noticed, that the expression: * * * ? * SAT,SUN * does not match Sept 3 2017 either.

[2017-09-04 19:51] kaikreuzer commented on #2708
There have been many improvements and fixes on the rule engine meanwhile (the latest is https://github.com/eclipse/smarthome/pull/4185), so I would hope that your issues are solved.
If you still encounter any issues, please feel free to open a new issue with details and logs about it. Thanks!

[2017-09-04 19:51] #2708 closed

[2017-09-04 19:52] kaikreuzer commented on #3344
The bug about `ScriptServiceUtil` exceptions has been fixed a while ago, so I would assume that this issue is solved. If not, please feel free to re-open it.

[2017-09-04 19:52] #3344 closed

[2017-09-04 20:02] kaikreuzer commented on #3157
Just FTR: While `ScriptServiceUtil` does not have any issue anymore, refreshing `org.eclipse.smarthome.model.script` still results in an exception.

[2017-09-05 07:08] #4103 closed

[2017-09-05 07:35] lolodomo commented on #3861
Finally, I might have identified where is the problem. We are building XML metadata including the title in particumlar without any XML characters escaping.
I just have to understand why it is working well for favorite tunein radio stations as it is handled the same way.

[2017-09-05 07:41] #4151 closed

[2017-09-05 09:24] afuechsel opened #4187 "Inbox auto ignored results are never removed"
When adding e.g. a hue bridge manually, its result is automatically set to IGNORED in the inbox as expected. When removing the bridge, the IGNORED entry in the inbox must be automatically deleted so a new discovery can find it again. It turns out, that this is not happening most of the time.

The reason is, that we do not have such a thing as a Pre-Delete-Hook, where we could easily check and remo

[2017-09-05 11:01] sjka commented on #4138
Nope, all fine. Thanks for the feedback!

[2017-09-05 11:03] hannibal85 commented on #4103
Thanks a lot for your work @kaikreuzer !
And also to all the other developers out there!

Of course I will try to confirm it with my example and give feedback here.
Starting with which snapshot of OH2 will this fix be included? I'm not really familiar with the procedure when ESH fixed or included in new OH builds

[2017-09-05 11:38] #568 closed

[2017-09-05 12:19] hsudbrock opened #4191 "Inbox auto-ignores discovery results when representation property value matches, but thing type does not"
The inbox auto-ignore feature ignores discovery results if the representation property value of the discovery result is the same as the representation property value of an existing thing. In consequence, discovery results are ignored even if there is an existing thing of a different type with the same representation property value.

Context: The representation property value is something that is i

[2017-09-05 12:25] afuechsel commented on #4191
@hsudbrock Would it be possible to post your test code here?

About the issue, you are absolutely right, this needs to be fixed. Also the bridge issue with different bridges should be solved in a potential PR.

[2017-09-05 12:38] #2962 closed

[2017-09-05 12:40] afuechsel commented on #1763
With the current release, this issue is slightly different. The lamp is still not being removed but now its state is "UNINITIALIZED - HANDLER_MISSING_ERROR". If trying to remove it, it stays in REMOVING and must be forcefully removed.

Wouldn't it be mich better to add a logic to the BaseBridgeHandler, to remove all of its children when the bridge is being removed, @kaikreuzer ?

[2017-09-05 12:41] afuechsel commented on #1763
Looks like #2757 is not fixed (at least in the hue binding)

[2017-09-05 13:01] amitjoy opened #4193 "Registry for RESTResource(s)"
I believe it would be a useful OSGi service to track all the registered RESTResource(s) or the URI paths registered by the available RESTResource(s). I am opening this issue (or specific feature request) to start discussing it.

[2017-09-05 13:13] lolodomo commented on #2962
Why clising this issue ?
At my knowledge, this is still open and waiting for a solution acceptable by the mainteners.

[2017-09-05 13:19] ThomDietrich commented on #2962
Hey @lolodomo, indeed it does and I still care strongly about this problem.
I've closed it because my initial arguments where a bit sidetracked and from the wrong perspective. See my last comment.
You have since opened another issue (#3742) discussing the real issue. I was going to add my opinion there.

Do you agree so far?

[2017-09-05 13:32] hsudbrock commented on #4191
@afuechsel Yes, I can post the test code here. It is probably not a "minimal" test, since I adapted one of the existing unit tests for the auto-ignore feature for it. I stripped the class AutomaticInboxProcessorTest down to make it somewhat more readable here (see https://github.com/hsudbrock/smarthome/commit/1d095d10060aa0ba4d59b9dbea8a0b8916b7f595 for the complete class with my added test).

Her

[2017-09-05 14:01] kaikreuzer commented on #4193
Well, we already have `RootResource`, which does that. It doesn't provide that info as an OSGi service, though, it only serves it to the REST API. Why do you think it would be useful to have such an OSGi service?

[2017-09-05 14:07] kaikreuzer commented on #1763
Well, at least @J-N-K would be against that, see https://github.com/eclipse/smarthome/issues/2757#issuecomment-272390904.

[2017-09-05 14:15] amitjoy commented on #4193
Any consumer application might need to check the list of REST URIs registered in the runtime. A concrete use-case would be as follows:

1. Bundles can provide REST configuration by specifying REST endpoints to be consumed by the respective bundle
2. Such a Registry would facilitate checking if the specified REST service is at all registered in the runtime
3. If it is registered but not specified i

[2017-09-05 14:24] J-N-K commented on #1763
I don't have HUE lamps, so I can't comment in detail, but: is it possible to define things in textual configuration? These can't be removed automatically. IMO it is very confusing if things are treated differently. And like I said in #2757, for the upcoming DMX binding (#2704) it would be a very bad idea to remove the things only because no bridge is assigned.

BTW, This is a perfect example, why

[2017-09-05 14:39] J-N-K commented on #1763
Oh. And as far as I can see our thing lifecycle is not very clear here. It does not state what the correct status for a thing missing the bridge or the bridge handler (not having an OFFLINE bridge) is.

If the bridge configuration is missing or the bridge handler is not available, the thing is set to "OFFLINE/BRIDGE_OFFLINE" in the HUE binding (IMO should better be OFFLINE/CONFIGURATION_ERROR if t

[2017-09-05 14:51] kaikreuzer commented on #4179
My suspicion was apparently wrong. It seems that the configuration is just fine.
If I call GET http://localhost:8080/rest/services/org.eclipse.smarthome.links/config I get
[code]
Also, the toggle in the Paper UI correctly is in "off" state:

<img width="851" alt="screen shot 2017-09-05 at 16 46 07" src="https://user-images.githubusercontent.com/3244965/30067145-48138c4c-925a-11e7-8394-a7567d53496a

[2017-09-05 15:13] kaikreuzer commented on #3523
@resetnow & @htreu Any suggestion how to proceed here? Could we simply switch to the version that is also used by the Paper UI?

[2017-09-05 15:15] #2352 closed

[2017-09-05 15:23] resetnow commented on #3523
So the proposal here is to remove fonts from openHAB overlay and copy the ones from PaperUI to BasicUI ESH extension? If this is a matter of making ESH bundle work on its own, could we also just move fonts from overlay to ESH?

[2017-09-05 17:41] #2437 closed

[2017-09-05 19:57] lolodomo commented on #3861
I should have fixed the issue.
I finally understood why my use case with favorite renaming was not triggering the issue.

[2017-09-05 20:05] rocketdeveloper commented on #3861
Thanks :-)

[2017-09-05 22:38] wborn opened #4199 "[LIFX] Add light effects"
Today LIFX has [announced](https://community.lifx.com/t/announcing-waveforms/3253) the release of Waveforms to the public part of the LAN API.

With these messages it is easier to create light effect loops. These messages will also greatly reduce the CPU load and network traffic caused by these effects.

Is the Hue Binding effects implementation a good reference for effects implementation? It seem

[2017-09-06 02:59] 9037568 opened #4200 "Add MeteoBlue weather service binding"
This is something I've started working on.

This ticket is to serve as a placeholder if the ESH community would consider adopting it. If not, please close this ticket.

[2017-09-06 04:26] htreu commented on #3889
@kaikreuzer please let me know which exact versions of `eventsource-polyfill` and `jquery-ui` have been approved. I will then provide a PR.

[2017-09-06 05:03] htreu commented on #3651
How do we proceed here? I like @martinvw proposal the best with adding a warning (might be even an error) for assignment of parameters. This will not result in `final` keyword overload and enforces a rule we all can agree an I guess. In combination with a save action adding `final` to private fields where applicable should do a good job (like @sjka proposed).
Ideally a PR for this does address at

[2017-09-06 05:19] htreu commented on #3191
@markusjw are you able to provide your config description somewhere online? maybe pastebin.com and link it here? We did some performance tuning on the control page and config parameters might also be worth a look. thanks.

[2017-09-06 06:47] htreu commented on #3150
As the JAXRS ResourceTracker is in the stacktrace `at com.eclipsesource.jaxrs.publisher.internal.ResourceTracker.addingService(ResourceTracker.java:39)` this might very well be fixed by https://github.com/eclipse/smarthome/pull/4153.
@dragondagda could you please check again with the latest SNAPSHOT?

[2017-09-06 07:04] maggu2810 commented on #3651
I would prefer an `error` for a parameter assignment.
There are such a lot of warnings in the IDE that they got ignored easily.

[2017-09-06 07:07] #3861 closed

[2017-09-06 07:23] kaikreuzer commented on #3889
- EventSource Polyfill Version: 20160604
- jQuery UI 1.11.2

[2017-09-06 07:49] maggu2810 commented on #4191
I agree that this needs to be solved.

Shouldn't it be responsible to the binding itself to choose a representation property that is unique?
The binding could use the binding ID as prefix for the "normal" representation property.
If the type is relevant the binding could use the binding ID + thing type as prefix for the "normal" representation property.

If the representation property is changeabl

[2017-09-06 08:08] maggu2810 commented on #4193
I assume @sjka does know more about "com.eclipsesource.jaxrs.publisher" as he already looked into it while implementing the resource filter recently.

Just thinking about it what could be done...
* All ESH REST resources could be blacklisted for the "com.eclipsesource.jaxrs.publisher" so they are not scanned.
* Perhaps we could implement it in a way we do not depend on that publisher implementatio

[2017-09-06 08:17] #4187 closed

[2017-09-06 09:19] kaikreuzer commented on #4193
@maggu2810 I understood the request to be completely independent of any jaxrs.publisher discussion.

[2017-09-06 09:33] maggu2810 commented on #4193
Me, too but while I think about an implementation for the solution I realized that we could kill two birds with one stone.

[2017-09-06 10:24] maggu2810 opened #4202 "build with enabled static code analyzer tool"
Track "problems" of "Static Code Analyzer Tool" introduction.

[2017-09-06 10:24] maggu2810 commented on #4202
HIPP seems to fail all the time now.

[2017-09-06 10:30] maggu2810 commented on #4202
What is the estimated time for a full build?
I am currently running a build + deploy to a private repo and the job is still running (above 3 hours now).

It also seems to consume a lot of memory:

[code]

[2017-09-06 10:55] htreu commented on #3120
I did test this on macOS with `doorbell.wav` which plays nicely from the OSGi console when permissions are granted. Doing a `chmod -r doorbell.wav` and trying to play again results in the console log `File 'doorbell.wav' not found!`.
@claus007 is this still an issue for you? If so please provide some more information about the file and steps to reproduce.

[2017-09-06 11:15] kaikreuzer commented on #4202
HIPP fails with
[code]
@svilenvul Does this mean anything to you?

[2017-09-06 11:31] maggu2810 commented on #4202
FYI:

[code]

About the HIPP problem:
Hasen't there been a problem on openHAB some time that only occurs on the build system? I assume you can point me to the correct issue @kaikreuzer

[2017-09-06 11:37] kaikreuzer commented on #4202
Cannot find it myself right now... But it was about a SAX parser dependency, which by now has been removed in SAT, so this here is definitely something else.

[2017-09-06 11:57] maggu2810 commented on #4202
What I have in mind has been this one: https://community.openhab.org/t/jenkins-build-problems/25977/37
Now we added a bunch of plugins (dependencies of the SAT one). I followed the artifactory plugin problem not in detail but could there be something related?

[2017-09-06 12:00] kaikreuzer commented on #4202
No, I doubt that this is related, because it was really just due to that specific Maven plugin that was used for deployment.

The weird thing is that travis just passes nicely with SAT as can be seen on all the latest PRs...

[2017-09-06 12:03] maggu2810 commented on #4202
My system succeeded, too.
Does HIPP inject another plugin?
Need to check what has been the reason for the ZIP failures we solved some month ago.
Or perhaps the Maven version could be relevant?

[2017-09-06 12:05] kaikreuzer commented on #4202
It seems to be the maven-checkstyle-plugin, which still depends on Maven 2.1 stuff.
It might be worth a try to update to version 3.0.0 of that plugin: https://issues.apache.org/jira/browse/MCHECKSTYLE-335

[2017-09-06 12:07] kaikreuzer commented on #4202
... which isn't yet released :-(

[2017-09-06 12:12] maggu2810 commented on #4202
Hm, HIPP and my machine is using the same Maven version (Apache Maven 3.3.9). So why does it make a difference?

[2017-09-06 12:20] maggu2810 commented on #4202
We should who injects the different slf4j version and exclude the old ones (at least we could give it a try).
We should not mix different versions in the classpath at all.

urls[2] = file:/home/hudson/genie.smarthome/.hudson/jobs/SmartHomeDistribution-Nightly/workspace/.maven/repo/org/slf4j/slf4j-simple/**1.7.24**/slf4j-simple-1.7.24.jar
urls[98] = file:/home/hudson/genie.smarthome/.hudson/jobs/Sm

[2017-09-06 12:24] maggu2810 commented on #4202
It seems the static code analyzer has dependencies to slf4j.

[code]

"... that the Mojo will have access to the standard Maven user-feedback mechanism, `org.apache.maven.plugin.logging.Log`, so the Mojo can communicate important events to the console or other log sink."

Shouldn't we drop the slf4j usage in the plugin and rely on the mojo logging mechanism?

[2017-09-06 12:33] kaikreuzer commented on #4202
Probably yes, so feel free to open an issue at https://github.com/openhab/static-code-analysis.

Shall we temporarily deactivate the plugin, so that we get the build green again?

[2017-09-06 12:35] maggu2810 commented on #4202
I think so. Should be possible in the build configuration using `-DskipChecks`, if I understand the pom correctly. But you surely know.

[2017-09-06 12:37] kaikreuzer commented on #4202
Let's see: https://hudson.eclipse.org/smarthome/job/SmartHomeDistribution-Nightly/2163/console

[2017-09-06 12:42] kaikreuzer commented on #4202
Seems to work.

Off-topic question: What would you think about retiring our Hudson and request a modern Jenkins instance (https://wiki.eclipse.org/Jenkins) as a replacement?

[2017-09-06 12:45] maggu2810 commented on #4202
I like it.
I followed the Eclipse bug and so one for a while but didn't ask you because we have all such a lot stuff to do. :wink:

[2017-09-06 12:52] kaikreuzer commented on #4179
We have tracked down the issue to be a bug in the XML generation during the Maven build:
https://issues.apache.org/jira/browse/FELIX-5506

This effectively means that all our services that rely on a specific configuration-pid are currently broken. 😢

[2017-09-06 13:08] kaikreuzer commented on #4202
Right, but I am afraid that that won't change over the next years...

So here we go: https://bugs.eclipse.org/bugs/show_bug.cgi?id=521928

[2017-09-06 14:25] markusjw commented on #3191
Sure. I'm looking forward to the result.
This is the example that I also sent to aounhaider1: https://pastebin.com/QVbbrxM6

[2017-09-06 14:39] maggu2810 opened #4205 "NetUtil: Netmask '32' is out of bounds"
Why is a netmask '32' out of bounds?

[code]

[2017-09-06 14:41] maggu2810 commented on #4205
@triller-telekom You implemented this in https://github.com/eclipse/smarthome/pull/3930 could you give me some background?

[2017-09-06 14:46] maggu2810 opened #4206 "PaperUI: Bindings loads Extensions"
If you don't use an extension service but open the "Configuration, Bindings" category in the PaperUI (http://sb-jowe.local:8080/paperui/index.html#/configuration/bindings) it complains about a non available service using a notification:
ERROR 503 - Service not available

The service that is not available is the extension one.
I don't think we need to warn every time the rules category is opened th

[2017-09-06 14:52] kaikreuzer commented on #4205
According to https://askubuntu.com/a/709497, this is no valid netmask for a local subnet. What is your use case here?

[2017-09-06 15:24] kaikreuzer commented on #4205
Anyhow, the NetworkConfigOptionProvider implementation has just been completely changed by https://github.com/eclipse/smarthome/pull/4189 - so I would suggest to test against the latest master.

[2017-09-06 17:07] JochenHiller commented on #4193
I would like to give more details why @amitjoy came up with that issue.

We are using the com.eclipsesource.jaxrs.publisher in our commercial product based on Eclipse SmartHome. We have added security stuff to the REST endpoints, where we can give (or deny) permissions to access resources and verbs based on caller identity (based on OAuth2 tokens).

We have such kind of filter implemented:
* if no

[2017-09-06 17:24] sjka commented on #4193
To my knowledge that's not only fine, but rather the proper way of doing it.

Sounds good, unless anybody sees another valid use-case for it.

@maggu2810 I would treat revolutionizing the publisher as a separate issue then, if you still feel like giving it a go 😄

[2017-09-06 17:59] maggu2810 commented on #4205
I did not realize any change of the method `getIpv4NetAddress` in that PR.

The machine is part of a VPN network and that address has been assigned to the client by the VPN server. I didn't realize any other tool that complains about the network configuration. The communication between different VPN clients work as expected.

All the time I open Configuration, Services in the Paper UI the log is f

[2017-09-06 18:01] maggu2810 commented on #4205
Ah, I should have a deeper look at the stack trace...
Will test it again.

[2017-09-06 18:08] maggu2810 commented on #4193
So, if the issue has been rejected (@amitjoy I assume @JochenHiller has your agreement) I will close it.

@sjka if we ever feel happy to convert the REST resources to OSGi services this is something that can perhaps solved on the go. No need (for me) to change anything.

[2017-09-06 18:08] #4193 closed

[2017-09-06 18:21] amitjoy commented on #4193
As @JochenHiller has mentioned, we had a follow-up discussion in this regard and due to the argumentations that @JochenHiller mentioned, it would rather expose internal details inadvertently.

[2017-09-06 18:44] maggu2810 commented on #4179
:open_mouth:

[2017-09-06 18:45] maggu2810 commented on #4179
Should we add the `Critical` label?

[2017-09-06 19:37] kaikreuzer commented on #4179
Yes and I also updated the title to reflect that this is actually not at all about the Paper UI.

[2017-09-07 05:33] DanielMalmgren opened #4208 "Timers in OH rules sometimes not being executed"
I have the following code in a openHAB rule:

[code]

(timer_u is declared as a global Timer)
What this is supposed to achieve is the following:

- [ ] Every time the sensor reading changes, send the reading to temperatur.nu
- [ ] If the reading has _not_ changed for 19 minutes, send the reading anyway and reschedule the Timer

This means that during normal operation (ie the sensor is changed more

[2017-09-07 06:07] maggu2810 commented on #4179
Should we try to use the attached patch (JIRA) and build a r1 of the SCR plugin?

[2017-09-07 06:08] htreu commented on #4179
The most promising solution right now is to re-package the org.apache.felix:org.apache.felix.scr.ds-annotations jar and apply the fix described in https://issues.apache.org/jira/browse/FELIX-5506.
Question: do we re-package with the original groupID/artifactId and only change the version number to the version we provide, or de we re-package with our own o.e.sh groupId?
Same question for the packag

[2017-09-07 06:28] htreu commented on #4179
@maggu2810 I already have this build at hand. please let me know how you think about providing the library in terms of naming/packaging (see https://github.com/eclipse/smarthome/issues/4179#issuecomment-327697004).
I already have it in the `tools` module which can be build first in the reactor build:
[code]

This way it will be available for all other artefacts to build the DS meta files.

[2017-09-07 06:42] kaikreuzer commented on #4179
@htreu I'd think the main issue with this approach is that we cannot take the sources of the Felix and add them to the ESH repository. It might be easier to build it by hand and host it as a plugin externally as a temporary solution.

[2017-09-07 06:48] htreu commented on #4179
This sounds like groupId/artifactId/package names will all remain apache original but with a different version. Do we have an external maven repo to host the artifact?

[2017-09-07 06:59] kaikreuzer commented on #4179
I could offer hosting it at JCenter (which we anyhow already have listed as a plugin repo), but I would then change the group id to "org.openhab" as it should be made clear that it isn't an official release from Apache.

[2017-09-07 07:01] htreu commented on #4179
okay, I will provide a PR changing the pom.xmls here and the artifact for hosting at JCenter.

[2017-09-07 07:03] maggu2810 commented on #4179
My favorite would be changing the group ID and the version.
I prefix the group ID mostly with a domain under my control and 'thirdparty', so e.g. if you would like to use openHAB "org.apache.felix" => "org.openhab.thirdparty.org.apache.felix".
If you change a stable release you could append a `.sp1` to the version (see e.g. [ComparableVersion])

[ComparableVersion]: https://maven.apache.org/ref/3.

[2017-09-07 11:18] triller-telekom commented on #1651
Since this issue is older than a year and there was no reaction at the end of last september when the creater was pinged again, I think we can close this issue. @tavalin feel free to reopen with new information if it still exists in the current version.

@kaikreuzer @sjka Can you please close this issue?

[2017-09-07 11:22] #1651 closed

[2017-09-07 11:28] triller-telekom commented on #1650
After more than one year of no activity and yet another [Xtext update](https://github.com/eclipse/smarthome/pull/4149), either the problem has been fixed or @dynostatic please feel free to re-open the issue.

@kaikreuzer @sjka Can you please close this issue?

[2017-09-07 11:39] triller-telekom opened #4212 "Consolidate and update our icon sets"
Since we now support [categories on group channel types](https://github.com/eclipse/smarthome/pull/3629) and also [categories for thing types](https://github.com/eclipse/smarthome/pull/3510) in addition to the categories we already had for channels, we should consolidate our icon set(s).

Currently we have a [classic iconset](https://www.eclipse.org/smarthome/documentation/features/ui/iconset/clas

[2017-09-07 11:59] triller-telekom commented on #1475
MOISTURE and NOISE are now included with #3629, see [here](https://www.eclipse.org/smarthome/documentation/concepts/categories.html).

@FrankZimmer can you please explain what you mean by "TILT"? if it is not important anymore, please close this issue. Thanks.

[2017-09-07 11:59] kaikreuzer commented on #1650
Isn't that the same as https://github.com/eclipse/smarthome/issues/3577? If so, it means that it still exists, but that we might want to merge the reports into a single issue and mark the other as a duplicate.

[2017-09-07 12:03] triller-telekom commented on #1567
@kgoderis Any chance of finding that commit in your history? If so, will it also fix #1649?

[2017-09-07 12:11] triller-telekom commented on #1550
I think this issue was fixed in PR #3423

which will finally be restructured by #4203. @sjka Am I right that this is fixed due to our ReadyMarkers?

[2017-09-07 12:20] htreu commented on #3523
For ESH the solution is to use the PaperUI font (for which we have a CQ approval) also in BasicUI. This means reverting https://github.com/eclipse/smarthome/commit/072e76c7be6efadd93821fba17b82516b3265c83 so BasicUI uses the old codes again. This would also mean the overlay in openHAB must be updated or dropped.

[2017-09-07 12:23] resetnow commented on #3523
Why can't we just move existing fonts to ESH?

[2017-09-07 12:32] #4179 closed

[2017-09-07 12:33] davidgraeff commented on #4205
Hm, I finally read the JavaDoc for `NetworkConfigOptionProvider`

We don't show the user the interface name though, only the IP address. A way to change this is to extend CidrAddress with an optional `NetworkInterface` field and in the loop where we create the options we would say:
`cidrAddress -> new ParameterOption(cidrAddress.toString(), cidrAddress.getNetworkInterface().getDisplayName()+" ("+c

[2017-09-07 12:33] htreu commented on #3523
We would have two different versions of the same font which is confusing at least. Also one of the fonts (the openHAB overlay) is not approved by the Eclipse IP Team. @kaikreuzer do you second this?

[2017-09-07 13:01] triller-telekom commented on #1477
I have just created a `thing` with an integer parameter like this:
[code]

Inside `public void handleConfigurationUpdate(Map<String, Object> configurationParameters) ` of my `ThingHandler` the parameter is represented as a `BigDecimal` and I see `23` with `scale 0`. There is no `23.0` here. is that what you were expecting and this bug can be closed @cdjackson ?

[2017-09-07 13:07] resetnow commented on #3523
I wasn't aware of that.

I don't remember why exactly I changed these font codes, but odds are it's for Internet Explorer compatibility. I'll check a bit later.

[2017-09-07 13:11] resetnow commented on #3523
But there was a CQ?

https://github.com/eclipse/smarthome/pull/536

[2017-09-07 13:18] cdjackson commented on #1477
Yes, if it's now returning no scale, then this is what I would expect. I've not looked at this for a long time so not sure when this was fixed, but if it's fixed, then we can close - thanks.

[2017-09-07 13:18] #1477 closed

[2017-09-07 13:24] htreu commented on #3889
thats a strange version. Is there an URL attached?

[2017-09-07 13:38] maggu2810 commented on #1550
Seems to be fixed.

[2017-09-07 13:38] #1550 closed

[2017-09-07 14:01] htreu commented on #3523
Yes, I did read the conversation you and @kaikreuzer had back in the days. My understanding is this: Your initial work on BasicUI got merged w/o the iconset (see https://github.com/eclipse/smarthome/pull/536#issue-118621055) and then @kaikreuzer did the fragment in openHAB providing the iconset (see https://github.com/eclipse/smarthome/pull/411#issuecomment-159585499). Unfortunately the iconset fr

[2017-09-07 14:04] triller-telekom commented on #4205
Hmm yes indeed we do not show the user the interface name. The fact that it is (still) in the javadoc is because of the discussions before I implemented that option. The original idea was to let the user select an interface name, but then he doesn't know which IP address this is and also the user does not care which name it is, other operating systems might even create very long names...

In the e

[2017-09-07 14:20] davidgraeff commented on #4205
Probably because I forgot to add the call to the conversion method. Why do we only allow IPv4 here? And we should use apache/commons/net/util/SubnetUtils.java. As I understood Guava goes, but the apache library stays, so can and should be used here.

[2017-09-07 14:26] triller-telekom commented on #4205
Maybe I should have left a comment there or paid some attention on your PR, sorry for noticing this late. Will you change it in a follow-up PR please?

It's the first implementation since most people still have IPv4. But our intention was that IPv6 support should be added there too, at some point in time.

I wanted to use that method, but @kaikreuzer complained that we should not add such a depend

[2017-09-07 14:34] davidgraeff commented on #4205
We use apache felix :D A lot of Guava code can be replaced by Java8 and soon Java9, but the apache library is really helpful.

IPv6 would work differently, because we need the zone index additionally (*fe80::3%eth0*). Which is the network interface name on linux/macOS and the network interface number on Windows.

[2017-09-07 14:51] davidgraeff commented on #4205
I would say, we show the user the CIDR notation (including ipv6 zone index) and store it as value as well.

The networkAdressService would find the network interface for IPv4 like at the moment (computing the subnet mask etc) and for IPv6 the zone index is used.

[2017-09-07 14:55] triller-telekom commented on #4205
But you still want to have the IPv6 configuration as a separate field, right? So the user can select the subnet to be used for IPv4 and **in addition** can configure the zone for IPv6. If that is what you suggest, I am fine with that.

[2017-09-07 15:05] davidgraeff commented on #4205
Nope, no separate field. The user will be presented with all assigned IP addresses (IPv4+IPv6) in the list. This is because you are using IPv4 or IPv6 to bind your network services, not both. Of course the respective other protocol works as well on the bound network interface.

[2017-09-07 15:09] kaikreuzer commented on #3889
20160604 is the date of the latest commit of the repo (for which there is no released version): https://github.com/amvtek/EventSource/commits/master

So it corresponds to the current master.

[2017-09-07 15:58] davidgraeff commented on #4205
I will create a pr tomorrow

[2017-09-07 18:02] kaikreuzer commented on #4179
Issue is fixed in latest openHAB distro 1034.

[2017-09-07 18:03] kaikreuzer commented on #4103
Issue is fixed in latest openHAB distro 1034.

[2017-09-07 18:18] kgoderis commented on #4145
@maggu2810 I do agree that delaying the execution with an arbitrary amount of time is not ok. I was not able to reproduce the problem. Here is the test setup:

[code]

I chose 20:04:00 instead of midnight because that about 1 minute in the future right now, but I the outcomes should be the same. This is the output I get

2017-09-07 20:03:26.569 [TRACE] [r$ExpressionThreadPoolExecutor:187  ] - Expr

[2017-09-07 18:48] resetnow commented on #3523
Thank you for explanation. I have checked both font versions across different browsers and haven't noticed any differences. So this means we can use the same npm package in BasicUI too.

[2017-09-07 18:52] kgoderis commented on #3912
@afuechsel I can confirm this is a bug and is due to the fact that our cronexpression does not support the fact that the Year field is non mandatory per Quartz cron expression definition, e.g. It wrongly assumes it is a mandatory field. I will provide a fix for this shortly

[2017-09-07 19:24] kgoderis commented on #4133
That issue is not related to this one, see https://github.com/eclipse/smarthome/issues/4130#issuecomment-325382966

That being said, AFAIK there never have been memory leak problems with Quartz.

[2017-09-07 19:57] maggu2810 commented on #4202
@svilenvul migrated the logging.
Do you consider to release a 3.1?

[2017-09-07 20:00] kaikreuzer commented on #4202
No, only a 0.3.1 ;-)
Yeah, I could schedule it for the next days (cannot promise to find the time tomorrow).

[2017-09-08 06:07] kaikreuzer commented on #3150
If it helps re-testing: Latest openHAB distro 1034 now contains this fix.

[2017-09-08 06:09] lolodomo commented on #1650
Mine is still present and systematic at each OH startup. It is the most critical issue I have with OH.

[2017-09-08 07:09] FrankZimmer commented on #1475
Thanks to @triller-telekom

[2017-09-08 07:09] #1475 closed

[2017-09-08 08:06] triller-telekom commented on #4205
I disagree! A user might want to use IPv6 on one interface and IPv4 on another, so this should be 2 fields.

[2017-09-08 08:23] davidgraeff commented on #4205
This would mean, that every service (all netty, jetty instances and any other service) would need to start two times on bind to two interface addresses if the user selects an IPv4 and IPv6 address?

[2017-09-08 08:45] davidgraeff commented on #4205
I created a PR (#4218). Of course we need to discuss and agree first on what each of us mean and what  use case each of us has in mind.

[2017-09-08 09:22] triller-telekom commented on #1650
Looks like this is indeed a duplicate. @kaikreuzer Can you please add a duplicate label on this issue and close it in favor to #3577?

[2017-09-08 09:50] sjka commented on #2655
#2860

[2017-09-08 10:08] sjka commented on #3446
That's exactly the point: This assumption in your case apparently is incorrect. No matter where you do decision how to interpolate (i.e. graph drawing layer, database retrieval, or database write): You have to decide which strategy is most appropriate for this specific item. If the device does not send any more frequent data, you cannot compensate this by simply writing the previous value into the

[2017-09-08 10:08] #3446 closed

[2017-09-08 10:38] triller-telekom commented on #1465
This is possible since [a while](https://github.com/reitermarkus/smarthome/commit/8fa8889501258fdf0ee7f07be96952420f0cbd32)

Just `PUT` this
[code]

onto `http://localhost:8080/rest/items/TestSwitchGroup` to create the group `TestSwitchGroup`.

@kaikreuzer @sjka This issue can be closed.

[2017-09-08 10:51] #1465 closed

[2017-09-08 11:39] sjka opened #4221 "Assignment of currentConnections gets lost"
If the given `currentConnections` is `null` a new instance will be created. However, the added connections will be lost afterwards:

https://github.com/eclipse/smarthome/blob/b53b704eaf4420de82c4246f00df344bc783eeab/bundles/automation/org.eclipse.smarthome.automation.core/src/main/java/org/eclipse/smarthome/automation/core/internal/RuleEngine.java#L1259-L1263

[2017-09-08 14:12] kgoderis commented on #1649
@maggu2810 @tavalin in o.e.s.c.scheduler there is a DateExpression that can be used with the Scheduler to schedule the execution of a task at a given precise moment

[2017-09-08 15:38] J-N-K commented on #2703
#2704 has been merged. Have fun.

[2017-09-08 15:38] #2703 closed

[2017-09-08 15:45] kaikreuzer commented on #1650
I'd actually prefer it the other way round, because this issue here was first.

But to not loose @lolodomo's example, I repeat it here:

----
In my rule file, I have at top few global variables:
[code]
With new installed build 937, at startup, I have now these warnings:
[code]
It looks like all variable init that use a call to a function are failing.
Then my rules are failing because the variable

[2017-09-08 15:46] kaikreuzer commented on #3577
Closing as duplicate of #1650.

[2017-09-08 15:46] #3577 closed

[2017-09-08 16:02] dynostatic commented on #1650
I can confirm that I still see this occasionally. It did drastically improve as newer builds came out, so I mostly forgot about it.

[2017-09-08 17:45] kaikreuzer commented on #4202
Seems a new release is not urgent anymore. Our new Jenkins succeeds with SAT enabled 👍

[2017-09-08 17:47] kaikreuzer commented on #4202
@svilenvul The [report looks a bit raw](https://ci.eclipse.org/smarthome/job/SmartHomeDistribution-Nightly/ws/target/summary_report.html) - do you why this is?

[2017-09-08 20:43] gismofx commented on #4179
Thanks! I just pulled 1034 and _Items_ are back!

[2017-09-08 22:35] briaeros opened #4228 "New DB driver"
As #3446 get closed with an answer which indicate exactly the opposite of what I was trying to said/ask/wish, I permit myself to open a new wishlist.

English isn't my native language , I must had trouble explain what I wanted, so  I will be much more concise and I hope it will be clearer.

Actually only two driver exists when a sensor send values.
- first change timestamp for a value (ie : each t

[2017-09-09 05:23] danchom commented on #4184
OSGi is dynamic environment and services and things can appeared/disappeared at any time. It is normal situation that a thing can appeared when the rule engine is running. I'm not sure of your problem, but in case if you have a condition which depends of item and the item is not available, then yes, the rule engine won't execute the rule. If you want to ensure to run the rule when the thing is app

[2017-09-09 10:16] lolodomo opened #4230 "Maven build failing for any binding due to checkstyle code analysis"
If I run a "mvn clean install" at the root of the repo, everything is fine.

But if I run it inside "extensions/binding" or "extensions/binding/org.eclipse.smarthome.binding.sonos", I got this kind of error:
[code]
I can confirm that I don't have any tools directory inside the binding structure; this directory seems to be present only at the root of the repo.

[2017-09-09 10:19] J-N-K commented on #4230
The same issue occurs in IDE. I didn't report it because I thought it was a local issue.

[2017-09-09 10:24] J-N-K commented on #4074
With the latest discussions in #4086, what do you think about removing the implementation in BaseThingHandler (making it abstract) and leave the correct handling entirely to the binding?

[2017-09-09 12:16] wborn commented on #3913
@paulianttila With #4231 you can now optionally configure the host of the light. I've succesfully tested controlling lights from another machine on another location via a VPN and Docker in bridge mode when UDP broadcasts don't work. :-)

[2017-09-09 13:00] lolodomo opened #4232 "Random order of group members"
I moved from OH snapshot 1003 to snapshot 1034 and unfortunately discovered that group members are now presented in a random order and no more like since the origin of OH in the order they are declared in the item file.
Why having changed that ? This was practical to have a kind of control on the group members order.
It has been changed after snapshot 1003.

[2017-09-09 20:04] paulianttila commented on #3913
@wborn, just tested your changes and host parameter seems to works great. Now I can control bulbs in my vlan environment without python script. Big thanks to you 👍

[2017-09-09 20:59] maggu2810 commented on #4230
I have a fix in mind. Will create a PR next week.

[2017-09-09 21:35] ppieczul commented on #4140
Ok, let's start with that. I will need your help as my understanding of how Eclipse smarthome is designed is just building up now. My initial idea would be:
  * In `org.eclipse.smarthome.core.thing.type` create a `ChannelTypeStateDescriptionProvider` interface with a method to resolve `ChannelTypeUID` into `StateDescription`
  * Create a registry of providers in a similar way to `ChannelTypeProvid

[2017-09-09 21:51] ppieczul commented on #4140
On a second thought, this will be not enough, because to differentiate the state descriptions per channel for the same channel type, I will need to map Channel to StateDescription, not ChannelType. Then it leaves only the third bullet as a possible option.

[2017-09-10 06:56] davidgraeff opened #4235 "Secrets vault service API"
A service should be offered by ESH that keeps secrets.

## Requirements

* The service would need to be unlocked with a user provided master password on start (via environment, cli argument, etc).
* En/Decryption would take place with the master password hash, so that we don't need to keep the master password in memory.
* Getting/Setting secrets directly operates on a file, so that we don't keep p

[2017-09-10 09:00] openhab-5iver commented on #4232
The order of group members will also change after items files are saved.  So, after you get accustom to a random order, after you save an items file, you need to get used to another random order. I migrated from OH1 and have been using snapshots since before 2.1. I could be mistaken, but I think I've seen groups behave this way since I migrated. I'm currently on 1033. My preference would be for th

[2017-09-10 09:05] lolodomo commented on #4232
My openHAB environment in production is stable and I don't update my items without restarting OH.
I am just asking myself why breaking something that was useful for most of users ?
Having the order of definition in the config file was a good idea.

[2017-09-10 09:15] J-N-K opened #4236 "build fails in o.e.s.c.voice.test because of SAT"
Local build and Jenkins fails because SAT reports incompatible type comparion in voice tests in in InterpretCommandTestl.90

`assertThat(console.getPrintedText(), is(not(equals(INTERPRETED_TEXT))));`

To me this looks like a false positive, `console.getPrintedText()` returns a String, `INTERPRETED_TEXT` is a String.

[2017-09-10 11:46] ppieczul commented on #4140
@kai can you look the code in #4238 - I tried to model what I think it could be

[2017-09-10 14:21] hannibal85 commented on #4103
Ok,
finally had the time to test latest OH2 build 1035 and my example from above just works fine after the upgrade.
Great!

[2017-09-10 14:46] kai commented on #4140
@ppieczul You probably [meant to mention](https://github.com/eclipse/smarthome/graphs/contributors) @kaikreuzer, rather than me

[2017-09-10 18:13] kaikreuzer commented on #4232
Looks like a duplicate of #3321 to me.

[2017-09-10 18:15] kaikreuzer commented on #3321
@sjka As @lolodomo mentions in #4232, this was different in the past and I agree that a deterministic behavior (at least if items and groups are defined within the same file) would be desirable. (I actually think to remember that we already addressed a similar issue about the order of items outside of groups in the past).  So please allow me to re-open this issue so that we can check whether there

[2017-09-10 18:18] kaikreuzer commented on #4236
See also https://github.com/eclipse/smarthome/pull/2860#issuecomment-328179573.

[2017-09-10 18:59] lolodomo commented on #4232
No it is a different issue because I am not editing any file, I am just starting OH.
Until snapshot 1003, after a startup, the group members were in the order they are declared in my items file. No more with snapshot 1034.

[2017-09-11 06:21] svilenvul commented on #4202
Jenkins requests a username and password and I can`t open it, but I think I know what you mean.

Yes, I should have warned you, the report as you know it before is now called `summary_bundles.html` (it wasn't really a summary report, it was just containing links to individual reports.)

The new one was an attempt to provide a different view - how often an issue occurs in the whole repository.

[2017-09-11 06:31] kaikreuzer commented on #4202
No, that's not what I meant. Here's how it looks like (and how the detailed bundle reports appear as well):

<img width="1370" alt="screen shot 2017-09-11 at 08 29 53" src="https://user-images.githubusercontent.com/3244965/30261180-976b2e24-96cb-11e7-9391-8b2abd8fe50a.png">

[2017-09-11 06:34] kaikreuzer commented on #4232
Editing also causes a reload, so I would say that it is very likely the same cause. Anyhow, if #3321 is fixed, your issue should not appear anymore either.

[2017-09-11 06:49] svilenvul commented on #4202
Let me guess than - the tool uses inline [CSS for visualization](https://github.com/openhab/static-code-analysis/blob/master/src/main/resources/report/create_html.xslt#L48) which may be suppressed by: https://wiki.jenkins.io/display/JENKINS/Configuring+Content+Security+Policy.

```The CSP header sent by Jenkins can be modified by setting the system property hudson.model.DirectoryBrowserSupport.CSP

[2017-09-11 06:56] lolodomo commented on #3321
Please note that we have now the issue even without editing the file but just loading it at startup is enough to produce a random order.

[2017-09-11 06:57] kaikreuzer commented on #4202
Could be... I cannot change those settings myself. Could you maybe directly open an issue at https://bugs.eclipse.org/bugs/enter_bug.cgi?product=Community (Component "Hudson") and request this change?

[2017-09-11 08:11] maggu2810 commented on #3446
I think so, too.

[2017-09-11 08:58] svilenvul commented on #4202
https://bugs.eclipse.org/bugs/show_bug.cgi?id=522114

[2017-09-11 10:02] #4236 closed

[2017-09-11 10:54] hsudbrock commented on #4191
@maggu2810 I agree that it should also work to let the binding itself choose a representation property that is unique amongst all bindings (e.g., as you suggest, by including the binding ID or the thing type ID or the bridge ID in the representation property values).

However, I think that the "safer" way would not to rely on the correctness of the bindings here, but to include a check in Eclipse

[2017-09-11 12:58] VelinYordanov opened #4244 "Target platform jetty problems"
I am working on migrating the FSInternetRadio tests to mockito and in order to do that I created a jetty server for the tests. I noticed that the smarthome target platform has 2 versions of some of the jetty packages - 9.3.14 and 9.4.5. When choosing the 9.3.14 version I am able to successfully execute the tests in eclipse but when running the tests in maven i get an error code 13.

Maven log: [15

[2017-09-11 13:02] triller-telekom commented on #4235
What about joining the ideas with PR #4169?

In there @paulianttila proposes a sevice for encypted configuration file values. Such a value could also be private keys, etc.

Since there already is some code to start with it would be cool if features that you need for #4105 would be integrated into #4169. In case that discussions around #4169 take longer we could also decide to store the private key

[2017-09-11 13:24] sjka commented on #4232
as this concerns different locations in the code, let's keep the issues separate (although I understand that from a users' perspective it sucks equally).

[2017-09-11 14:06] #4232 closed

[2017-09-11 14:36] maggu2810 commented on #4145
@kgoderis I didn't analyze the cause myself. @triller-telekom reported that problem and explained me that this problem exists. Perhaps he can give more details what he analyzed.

[2017-09-11 14:41] maggu2810 commented on #2655
Can we close this one now?

[2017-09-11 14:56] triller-telekom commented on #4145
It didn't happen to me so I cannot reproduce it, also with an old version, but I saw the problem in the logoutput from @kaimahnke [here](https://github.com/eclipse/smarthome/issues/4018#issuecomment-324610726)

[2017-09-11 15:39] #2655 closed

[2017-09-11 16:01] lolodomo opened #4248 "Exception in UI for channels with options"
For a channel with options linked to a number item, the displayed value in UI depends on the pattern requested by the user in the item file or sitemap file.
If the user requests the value as a `%d`, the displayed value in UI is the raw value.
If the user requests the value as a `%s`, the displayed value in UI is the mapped value (option).

The problem is that when `%d` is used, the ESH framework p

[2017-09-11 18:13] kgoderis commented on #4018
@kaimahnke Could you provide me the necessary .items, .things and alike that I can use to reproduce the problem that some Astro linked jobs are executed ahead of their scheduled time?

[2017-09-11 18:39] kaimahnke commented on #4018
@kgoderis , as mentioned above, everything works fine since build 1030. But I can provide the item and ruel files if it would help you.

[2017-09-11 19:11] hreichert opened #4251 "[Tradfri] Support for new RGB bulbs"
IKEA sells new Tradfri products.

RGB bulbs, E27 socket, 600 lm, 8.6 W
packaged with 1 remote control
Product number: 703.389.51

I think they will be announced in October 2017.
The official IKEA Tradfri app does not support them fully right now. Currently it's only possible to change the color temperature (from white to orange), but you can not select a color yet. If you change the color through

[2017-09-11 19:17] normalfag commented on #4251
ja, genau!

[2017-09-11 19:34] sjka commented on #4251
Yes, sure! The only limiting factor so far was their non-availability - nobody mentioned here yet that he/she was working on it. So it's good that you created this issue for coordination!

Looking forward to your contribution!

[2017-09-11 19:52] kgoderis commented on #4145
@maggu2810 cfr https://github.com/eclipse/smarthome/issues/4018#issuecomment-328620269, shall we close this  issue then?

[2017-09-11 20:35] #3912 closed

[2017-09-11 21:08] maggu2810 commented on #4145
@kgoderis I don't think so. The root cause has not been found or fixed.
The workaround has been to change the cron expression from "0 0 0 * * ? *" to "30 0 0 * * ? *" to ensure that it is executed later in the timeline.
So, nothing has been changed to get "0 0 0 * * ? *" running.
Or do I miss something?

[2017-09-12 07:17] htreu commented on #2408
I gave this another try. But as @sjka already pointed out the `xs:choice` elements are forbidden inside of `xs:any` or `xs:all`. There is however a [workaround described here](https://stackoverflow.com/questions/11508147/xsd-choice-inside-all) which to some extend is doable. Unfortunately we would loose namespace definitions for channel & config descriptions as they would have to be refactored int

[2017-09-12 08:26] VelinYordanov commented on #4244
@sjka @kaikreuzer Can you provide any assistance?

[2017-09-12 08:36] maggu2810 commented on #4244
Can't we remove 9.4.5 from the target platform?

[2017-09-12 08:40] kaikreuzer commented on #4244
Where does it come from? I'd suspect it is implicitly included through the Eclipse SDK features, so it won't be too easy to exclude it. Before the Eclipse upgrade, we always had Jetty 8.1 as an additional version in the target platform...

[2017-09-12 08:57] maggu2810 commented on #4244
Currently (I need to check again, because I already changed the target definition file) I see Jetty 9.4.5 stuff also in the jetty 9.3.14 repo.

Another question:
Why do we need the repo "http://download.eclipse.org/eclipse/updates/4.7" with "Eclipse SDK" and "PDE" in the target platform at all? Is it necessary for the Maven build?
I removed the repo (and so the two features) from the file and didn

[2017-09-12 13:56] maggu2810 commented on #4244
@kaikreuzer Can you give this one [smarthome.target] a try?

Using the IDE to change part of the content of the target platform seems to rearrange XML elements so here the changes in separate commits: https://github.com/eclipse/smarthome/compare/master...maggu2810:tp?expand=1

Sort summary:
* remove repo "http://download.eclipse.org/eclipse/updates/4.7" with "Eclipse SDK" and "PDE" in the target p

[2017-09-12 16:09] #3321 closed

[2017-09-12 22:44] hreichert commented on #4251
CoAP response for RGB bulb:
[code]
* Firmware version _1.3.002_ (RGB) is newer than currently available _1.2.217_ (Dimmable/Colortemperature bulb)
* Attribute _5706_ (COLOR) represents the correct hex value _6c83ba_ of the current bulb color

[2017-09-12 23:49] wborn opened #4255 "[Paper UI] Control page items stop being updated"
After navigating away from the Control page and returning back to it the items in it no longer update. According to the browser debug console the updates are received via SSE.

This is how I reproduce it:
1. Install latest OH 2.2.0-SNAPSHOT (I've tested with build # 1036 and Chrome 61.0.3163.79 (Official Build) (64-bit))
2. Set "Item Linking" (Configuration > System) to "Simple Mode" and click "Sa

[2017-09-13 04:32] htreu commented on #4255
thanks for the report @wborn. I will take a look.

[2017-09-13 07:57] martinvw opened #4257 "[HttpUtil] Suggestion for using a builder like pattern for Http requests"
Hello,

I was using the `HttpUtil` and found it a little bit inconvenient to use with all those `null` parameters in between, so I prepared a small suggestion which makes it more readable in my opinion. Wdyt?

Is:

[code]
Suggestion:

[code]

Current:

[code]
Suggestion:

[code]

Any thoughts on this?

[2017-09-13 08:35] sjka commented on #4221
Reopening - it was auto-closed because of a wrong reference in the PR

[2017-09-13 08:38] sjka commented on #3651
I have added the WARNINGs for method parameters with #4223. Errors are a little tricky because of the generated code (see #4223).

As there was no objection to letting the auto-formatter change private fields to final, I created #4258.

[2017-09-13 09:53] sjka opened #4260 "NPE on model reload"
Just ran into this here:

[code]

On a first glance, it looks like XtextResource is not exactly thread-safe. Maybe there is a better way for this hack?

https://github.com/eclipse/smarthome/blob/6379979c05e59c6abf3960daea1cae1ec222c37c/bundles/model/org.eclipse.smarthome.model.core/src/main/java/org/eclipse/smarthome/model/core/internal/ModelRepositoryImpl.java#L197-L201

[2017-09-13 09:55] sjka commented on #4244
I can confirm this. However, the 9.4.5.x bundles neither seem to exist at this location nor they are mentioned in the content.xml/artifacts.xml. I _must_ have missed something, but this looks weird!

[2017-09-13 09:56] sjka commented on #4244
For the designer, I guess

[2017-09-13 10:40] igilham commented on #4257
Looks way better and should make it easier to avoid putting params in the wrong positions, NPEs etc.

[2017-09-13 10:50] kgoderis commented on #4145
@maggu2810 You're right. Anyways, I am unable to reproduce this (outside of the Astro binding)

[2017-09-13 11:32] hreichert commented on #4251
@kaikreuzer Is it OK that I change the `getColorTemperature()` calculation within this issue? I want to implement a fallback if the current calculation fails due to full-color XY-values. So this is related to "Support for new RGB bulbs", I think?

[2017-09-13 11:55] HeyChangSha opened #4261 "Error for PaperUI"
when i change the runtime plug-in choice the org.eclipse.smarthome.ui.paper and org.openhab.ui.paperui in workspace (not target platform) there is an error : ProxyServlet: /paperui/index.html
anybody who has fix this problem? please help me

[2017-09-13 12:21] martinvw commented on #4257
@sjka wdyt? If enough people like it I might be able to build a first sketch of it in the train to home tonight :-)

[2017-09-13 14:27] kaikreuzer commented on #4257
Would be ok for me.
But please note that the HttpUtil was meant to be a helper class to make simple HTTP interaction possible for rules, i.e. the main "client" of that class should be `org.eclipse.smarthome.model.script.actions.HTTP` for which the syntax is pretty irrelevant.

HttpUtil is NOT meant to be the HTTP client of choice for bindings or other Java code - we actually suggest to use the Jet

[2017-09-13 14:38] martinvw commented on #4257
In some openHAB PR's I though you or maybe others suggested the use of it because some corner case where handled incorrectly with the risks of resource leaks etc.

Some overview of the current usage:
 - WeatherUnderground uses it download images
 - YahooWeather uses it for any json request
 - WEMO uses it for SOAP calls
 - Hue uses it to detect bridges
 - ZonePlayer uses it for some meta informati

[2017-09-13 22:56] wborn opened #4265 "[Paper UI] Unable to update a Thing when its type has no configuration description"
When a Thing Type does not have a `<config-description>` XML block, you can not update any Things of this type in Paper UI. An example of this are the Nest Binding [Thing types](https://github.com/openhab/openhab2-addons/tree/master/addons/binding/org.openhab.binding.nest/ESH-INF/thing) (except for the type defined in bridge.xml).

Because of this it is not possible to update following Thing prope

[2017-09-14 04:17] lolodomo commented on #4257
Why bindings should not use it ?

[2017-09-14 05:51] martinvw commented on #4257
And I found your suggestion :-)

https://github.com/openhab/openhab2-addons/pull/1535#discussion_r120370329

@kaikreuzer please share your view and what should be the best practice from our current point of view and how best to proceed: advice on using the HttpUtil and improve it or start advising not to use it and use pure Jetty.

[2017-09-14 07:23] htreu commented on #4146
Since this change would add just another property to thing-types I would recommend to move the ThingType class from 4 - 5 constructors to a Builder pattern. I will deprecate the current constructors but will add the `extensible` property only to the builder.

any objections @maggu2810, @kaikreuzer, @sjka?

[2017-09-14 10:17] lakshmipathi256 opened #4268 "Generate node id in openHAB2.x"
How to generate node id  in openHAB2.x when request came from MQTT broker and it has to send same id to  MQTT broker.  Can you please provide the procedure am new to openHAB

[2017-09-14 10:20] kaikreuzer commented on #4268
Hey @lakshmipathi256, you might be better off in the openHAB forum to ask general questions about openHAB. https://community.openhab.org/

[2017-09-14 10:20] #4268 closed

[2017-09-14 10:21] kaikreuzer commented on #4261
Check https://www.eclipse.org/smarthome/documentation/development/notes.html#paperui-development-jshtml for details on how to do development on the Paper UI within the workspace.

[2017-09-14 10:21] #4261 closed

[2017-09-14 10:56] maggu2810 commented on #4146
Okay for me.

[2017-09-14 13:19] triller-telekom commented on #1104
@petrklus @xsnrg This bug is quite old and there have been a lot of changes to the REST API meanwhile. I cannot reproduce the bug, I can have paperui and basicui open in 2 tabs in the same browser and nothings hangs. Can you still reproduce the bug? If not, please feel free to close this issue. Thanks.

[2017-09-14 13:58] #3889 closed

[2017-09-14 14:05] #4248 closed

[2017-09-14 14:19] triller-telekom commented on #2581
I do not know exactly when this has been fixed but if I put this into a `*.persist` file:
[code]
I get this error on startup and the configuration is not added to the model repository and thus not used.

[code]

@kaikreuzer @sjka This issue can be closed.

[2017-09-14 14:20] #2581 closed

[2017-09-14 14:23] kaikreuzer commented on #4244
Sounds like a good reason for it. So as long as we have the launch config for the designer in the IDE, we should not remove those. But if we soon succeed to have a replacement and fully deprecate the designer, we can indeed hugely clean our target platform.

[2017-09-14 14:25] triller-telekom commented on #2483
We have californium in our target platform ready to be used. I have also already mentioned it in [your PR](https://github.com/eclipse/smarthome/pull/2936).

@sjka @kaikreuzer This issue can be closed.

[2017-09-14 14:34] triller-telekom commented on #2408
I agree that this is too much effort and also we would need to change all existing bindings because of the added namespace to the elements. Maybe if we have to break the API some day anyway we could think of it. But now just to ignore the order of elements it is IMHO not worth it.

@sjka @kaikreuzer Can you please clsoe this issue as @htreu suggested with "won't fix" label?

[2017-09-14 14:40] triller-telekom commented on #2389
@danchom The test has been converted to Java but still fails [here](https://github.com/eclipse/smarthome/blob/master/bundles/automation/org.eclipse.smarthome.automation.module.core.test/src/test/java/org/eclipse/smarthome/automation/module/core/internal/RuntimeRuleTest.java#L123). Can you please have a look at it again?

[2017-09-14 14:51] #3651 closed

[2017-09-14 14:51] kaikreuzer commented on #2408
I don't like it, but what is there to do...

[2017-09-14 14:51] #2408 closed

[2017-09-14 14:53] kaikreuzer commented on #2483
@triller-telekom How is that related to #2936? Why should the issue be closed without the PR not being merged (yet)?

[2017-09-14 14:54] triller-telekom commented on #2483
I read this issue as a request that the coap protocol should be made available in the framework. And it is available now...

[2017-09-14 15:22] #802 closed

[2017-09-15 06:01] davidgraeff opened #4272 "Trigger channels"
This issue is either about poor documentation or extending the trigger channel.

The way that the documentation is layout out, with the trigger channels described first in the channels section among other channel types like switch, made me understand the concept differently than it was meant to be.

There are generally two types of channel types, those that are read-only and show information to th

[2017-09-15 07:35] sjka commented on #4272
Well, the key point is that trigger channels only _fire events_, but they neither maintain a state (i.e. don't send state updates) nor accept any commands. Therefore they cannot be linked to items. Their only purpose (currently) is to trigger rules by listening to these events.

They only way I see which would allow linking trigger channels to items is by having something "in between" which transl

[2017-09-15 07:55] davidgraeff commented on #4272
My personal confusion is cleared, I'm just worried about fellow binding developers and see a need to clarify the documentation.

The profiles concept is great. But do I really need to have a `State`? The whole point of a trigger is to be stateless. To speak in code, I would expect `handleCommand(channel, state)` to have a `null` or `EmptyState` second argument for a trigger channel. And in a rule/

[2017-09-15 08:14] maggu2810 commented on #4272
@sjka There has been already another issue some time ago where we discussed "write only" channels (perhaps not "discussed", but there should at least be two or three comments about it).
Haven't we agreed that we could use normal channels without state updates, so leaving the state `UnDefType.UNDEF` or `UnDefType.NULL` all the time?

[2017-09-15 08:31] martinvw opened #4273 "[Rest] DELETE /rest/things/*/channels/*/link"
As reported in https://github.com/openhab/openhab-core/issues/209 the rest api offers an endpoint `DELETE /rest/things/*/channels/*/link` which does not really function also it seems to be duplicate compared to `DELETE /rest/links/*/*` and the implementations differ.

Maybe they (there is also an add endpoint) should be removed otherwise there some issues which I quickly spotted:

* Wrong annotati

[2017-09-15 08:33] mherwege opened #4274 "NetUtil invalid address"
I configured the primary network address in PaperUI, selecting an address from the dropdown list. When starting openHAB I get an 'Invalid address' warning, although the address is correct, as can be seen a few lines lower in the logfile.
This is happening for me with openHAB build #1037.

[code]

[2017-09-15 08:35] sjka commented on #4272
Yes, that was [here](https://github.com/eclipse/smarthome/pull/3740#issuecomment-311005040). And you remember correctly.

In fact I got confused a little myself - now I understand that it's not the device who trigger something... So the same as was discussed for Sonos should work for the use-case here equally well.

Just one thought on the modeling of the channels, but keep in mind that I'm really

[2017-09-15 08:38] sjka commented on #4274
What is the netmask of your 192.168.0.10 interface?

[2017-09-15 08:45] davidgraeff commented on #4272
But then again I have a state ("mode"). But take the milight "nightmode" for example. It's not really that I put the light bulb into that mode, it's more like a command that is just executed. If I send a colour later on, I'm immediately out of that "nightmode" or let's call it "very dimmed state" to avoid the word mode here.

I need a channel that is stateless and guis to provide pushbuttons to ac

[2017-09-15 08:50] maggu2810 commented on #4272
Isn't at what I have written above.
Use a channel `mode`, don't ever that a state to that channel (no state update), and only handle commands.

[2017-09-15 09:14] sjka commented on #4273
Look like yet another remaining of the ThingSetupManager (#1726, R.I.P.)

It's broken so it's safe to assume that no UI currently can be using it. Therefore I also tend to drop it rather than fixing it.

[2017-09-15 09:15] mherwege commented on #4274
It is 255.255.255.0, so should be fine. Anyway, the dropdown in PaperUI lists 192.168.10/24, so if the netmask would have been different, the selection in PaperUI would have been wrong.

[2017-09-15 09:30] maggu2810 commented on #4274
Same here (but it is not the latest master -- need to check later)

[code]

[2017-09-15 09:30] maggu2810 commented on #4274
Forget my previous comment

[2017-09-15 09:36] sjka commented on #4274
I can confirm this is a bug:

With `10.20.0.225`/`255.255.0.0` being the network configuration and `10.20.0.225/16` being the configuration in ESH,

https://github.com/eclipse/smarthome/blob/996722162a031601b04ac69c2322046f2bad69db/bundles/core/org.eclipse.smarthome.core/src/main/java/org/eclipse/smarthome/core/net/NetUtil.java#L320

ends up comparing `10.20.0.0/16` to `10.20.0.225/16` (which obvi

[2017-09-15 10:11] kaikreuzer commented on #4140
@ppieczul Very sorry to be so late with further comments.
As already mentioned in https://github.com/eclipse/smarthome/issues/4140#issuecomment-325209748, I think that channel types should not be a part of the discussion/implementation at all - so it feels to me as if most of your outline above heads the wrong direction.

This is actually imho exactly what we need. At the moment, this implementati

[2017-09-15 10:23] ppieczul commented on #4140
So would that mean extending the `Channel` class with a method that could be overridden in a binding and used for resolution of the state description?

[2017-09-15 10:46] davidgraeff commented on #4274
The ipv6 pr fixes this

[2017-09-15 12:22] davidgraeff commented on #4272
But there's no way for a GUI to autolink this to a bush button like widget, because it's not obvious to a GUI.

[2017-09-15 13:35] triller-telekom commented on #4140
I think what @kaikreuzer means is that bindings can define a service reference to `ChannelStateDescriptionProvider` in their handler factory. The `ChannelStateDescriptionProvider` then needs a new method to register `DynamicChannelStateDescriptionProvider`s (or whatever cool name you can come up with for the new interface).

The binding can define such a `DynamicChannelStateDescriptionProvider` an

[2017-09-15 14:21] kaikreuzer commented on #4140
@triller-telekom Almost correct, besides the fact that you do not need the "service reference to ChannelStateDescriptionProvider in their handler factory" - "binding can define such a XXXProvider and register it" should imho be enough.

[2017-09-15 17:57] ppieczul commented on #4140
@triller-telekom @kaikreuzer Ok, so I think I don't understand how this is different to what I modeled and where do hooks come into this picture. A binding registers an implementation of the provider and that's it - it will be called when a state description is being prepared.
If this is about the registry - can you guide me where else should I gather the information about various implementations

[2017-09-15 19:15] hreichert commented on #4251
The new full color lights are ZLL ID 0x0200, so I name the new ThingType 200, correspondending to the existing thing types 100 and 220.

[2017-09-15 19:43] DanielMalmgren commented on #4208
I'll simply close this one. Turned out the problem was me rescheduling a timer from inside the timer's body, which I thought I could do. Apparently a timer is only executed once so that's never gonna work...

[2017-09-15 19:43] #4208 closed

[2017-09-15 19:59] kaikreuzer commented on #4265
Err, how is this at all possible? (I know, I merged that binding, so I should have asked that earlier already...)

How can a handler identify a certain thing if there isn't a single config parameter? This sounds like an invalid case to me.

[2017-09-15 20:17] wborn commented on #4265
In the code that got merged the only Thing you can add manually is the Nest Bridge. The other Things have `listed="false"`.

It then uses discovery to add the other Things (with a REST call to the Nest API) to the Inbox. The Nest Things have a property that stores the Nest device ID which is a 50+ character long computer generated string. Normally you could only retrieve this ID by making your own

[2017-09-15 20:24] kaikreuzer commented on #4265
Thanks, so this is indeed the flaw.
I should remember not to merge any binding that is [lacking the Full Example in the README...](https://github.com/openhab/openhab2-addons/pull/1880#discussion_r134551125).

The device ID has to be a config parameter, it must not be a property. The discovery would set it and if there is someone wanting to configure it textually, he would be able to do so, if he g

[2017-09-15 20:26] kaikreuzer commented on #4265
Argh, again I am mixing up things - @martinvw is the author of openhab/openhab2-addons#2698, so I probably rather have to ask him for that change...

[2017-09-15 20:28] wborn commented on #4265
I'll fix it in that PR. We're collaborating together. :-) This change will also allow people to define the Things in files which would otherwise not be possible.

[2017-09-15 22:16] mvalla commented on #1093
OpenHAB is an *OPEN* framework targeting multiple bindings/IoT protocols, however to support multiple ontologies would be a mess.
I think  the best solution is to use a STANDARD.
OCF is participated by many companies/institutions (see the list [here](https://openconnectivity.org/foundation/membership-list), you name it!) and making OH2 compatible with its concepts/semantics is also a future-proof

[2017-09-16 09:15] wborn commented on #4265
It would be better to prevent these kinds of errors by letting ESH validate that there is a config-description block for each thing type. If things types without these blocks still allowed the UI should be able to handle these and this issue/PR still makes sense.

[2017-09-16 10:15] htreu commented on #4265
Technically the XSD does allow the absence of the `<config-description>` element:

[code]

Isn´t there always one handler for one thing? Using the magic-bundle and creating multiple things from one thing-type (which is missing config-parameters, too) does indeed work.

[2017-09-16 15:53] kaikreuzer commented on #4265
Yes, of course. But I am talking about the real device: The handler needs a configuration to know how to access the device and hence it needs at least one parameter. So two things of the same type need to differ in their configuration.

[2017-09-16 16:04] euphi opened #4279 "JSR223 rule trigger fires although no trigger has been defined for item."

[2017-09-16 19:47] maggu2810 opened #4282 "Wemo Light Handler: remove subscription"
@hmerk Hi, I have a question about the current `removeSubscription` implementation.

[code]

You set `subscription` to `null` and use this as a key for the `subscriptionState` map.
A key of a map is IMHO non null by default, so what do you want to check here?
What am I missing here?

[2017-09-17 06:40] maggu2810 commented on #4282
The [Map interface][Map#get(Object)] itself does not forbid null keys.

Also the HashMap itself explicitly allows null keys.

[code]

So, if this is what you want to do, all is fine.

[Map#get(Object)]: https://docs.oracle.com/javase/8/docs/api/java/util/Map.html#get-java.lang.Object-

[2017-09-17 07:02] maggu2810 commented on #4282
In `onSubscription` you use `String subscription = "bridge1";` shouldn't be used the same in `removeSubscription`?

[2017-09-17 07:42] mueller-ma opened #4284 "Chart: add parameter in url to change font size"
Especially on high-res smartphones the text is too small.
I tried to reduce the resolution of the chart to increase the font size, but than it will be a little bit pixelated.

Something like "http://openhab/chart?items=foo&fontsize=10px" would help a lot

[2017-09-17 08:21] maggu2810 commented on #4244
This should not add much work if we add new or update existing features, but will us allow to control what should be used and what should not be used.

I could leave `repo "http://download.eclipse.org/eclipse/updates/4.7" with "Eclipse SDK" and "PDE"` in place, but WDYT about explicitly naming the bundles that should be present in the TP?
We could start with removing unwanted Jetty version and red

[2017-09-17 08:42] kaikreuzer commented on #4244
It makes the maintenance of the target file imho much harder; in general I am for it, but I would prefer to wait with that step until we have deprecated the designer, so that the list of repos to handle that way is much shorter.

[2017-09-17 08:50] kaikreuzer commented on #4279
@smerschjohann Can you provide help here?

[2017-09-17 09:02] euphi commented on #4279
Maybe also @steve-bate can have look to ensure that the problem is not inside [openhab2-jython](https://github.com/steve-bate/openhab2-jython) .
_(I'm quite sure, it is NOT)._

Which loging instance should be set to `DEBUG` to see when triggers are added?

I also checked the group members **as seen by jython**, by adding a `AbstractConsoleCommandExtension` to the karaf console that shows group mem