[2016-05-24 17:30] apuder opened #1564 "Issues installing Eclipse SmartHome IDE"
I followed these instructions:
http://www.eclipse.org/smarthome/documentation/development/ide.html

But at the end I have compile errors:
`
47544 [main] ERROR mf.mwe2.launch.runtime.Mwe2Launcher  - Problems running workflow all:
[ERROR]: GeneratorException: (Element: -UNKNOWN-; Reported by: LazyGenerator)
	 java.lang.IllegalStateException: Duplicate adapter
	at org.eclipse.xtext.xtext.RuleNames.in

[2016-05-24 17:51] digitaldan commented on #579
Thank @marziman , I'll take a look at Shiro, have not used it in the past, it would be great not to reinvent the wheel, especially with security.

[2016-05-24 19:04] smar000 commented on #1517
I can also confirm that I'm seeing exactly the same behaviour as @feens. I wonder though why other users don't appear to be reporting the same issue and whether there is some other underlying cause in our specific cases - i.e. version of linux/jre etc?

[2016-05-24 19:34] maggu2810 commented on #1564
See #1505

[2016-05-24 20:20] kaikreuzer commented on #579
@marziman I came across Shiro quite a while ago and thought that this could be interesting. So I agree that we should have a closer look. I so far cannot judge how well it integrates with Pax-Web, Java-servlets and Jersey.

[2016-05-24 21:10] kaikreuzer commented on #1557
Sounds like a good compromise to me!

@aounhaider1 Do you have any good idea/suggestion on how this could be achieved?

[2016-05-24 22:27] splatch commented on #579
My main concern on that is bringing external dependency to our more or less dependency less core artifacts. That's why I based on very similar basis as security frameworks so they could be wired in when needed. It was not intented to build everything from scrach but rather adapt existing solution in the way that anyone have freedom of choice.

Currently there is no other standard in Java than JAAS

[2016-05-24 22:44] marziman commented on #579
@splatch,
I think your Security Idea is good and appretiate your concept.
But we really should investigate first. Iam not dogmatic and dont want to force it. I just got the feeling that this Framework will be good for our requirements. I had no time to make a prototype or sth. like that to say anything about ext. dependencies, but we may think about NOT putting it into the core and making a standa

[2016-05-24 23:39] digitaldan commented on #579
Well I'm no expert on Java security (nor OSGI), I have used JAAS in the past (years and years ago) and remember fighting it constantly every time a corner case came up. I'm sure Shiro has its own "quirks" too.  IMHO authentication is becoming one of the major roadblocks to users adopting OH2, so I think this is becoming more urgent to get done soon.   @splatch are you still working on submitting y

[2016-05-25 04:57] apuder commented on #1564
Thanks. That worked.

[2016-05-25 04:57] #1564 closed

[2016-05-25 06:06] danchom commented on #1561
Yes, I will debug it.

[2016-05-25 08:04] kaikreuzer commented on #1483
1) makes sense, fine with me
2) I'd prefer to go for var args, i.e. providing an additional covenience method getByTags("tag1", "tag2") and have the method implementation convert that in a set.
3) Agreed. We might also want to add a getStatus which then returns a RuleStatus.
4) This is discussed in #1508
5) It imho makes sense to skip re-resolution of the rule in this case, but I would refrain fro

[2016-05-25 08:08] #1443 closed

[2016-05-25 08:13] chrisschauer commented on #1479
These are exactly the points i expect from ESH. The notification if athing is assigned / de-assigned is nice to have. Thx

[2016-05-25 08:28] kaikreuzer commented on #1210
1+2 are implemented, 3 is continued on #1472, so I close this issue.

[2016-05-25 08:29] #1210 closed

[2016-05-25 08:33] aounhaider1 commented on #1557
We can store the newly added things in the local storage and remove them when user clicks on them. But that means that if a user has the same page open on two different devices he will see two different lists.

[2016-05-25 08:37] aounhaider1 commented on #1560
This library will not work in our case. It does the normal syntax highlighting in elements like divs. A textarea does not allow text formatting as such, so to implement this we need to explore some other available editor options.

[2016-05-25 08:45] #1558 closed

[2016-05-25 08:45] #905 closed

[2016-05-25 08:50] #695 closed

[2016-05-25 08:52] danchom commented on #695
Won't implemented. Other modules does not have performance test

[2016-05-25 08:52] kaikreuzer commented on #697
Available here: https://www.eclipse.org/smarthome/documentation/development/rules/sample.extension.java.html

[2016-05-25 08:52] #697 closed

[2016-05-25 08:55] kaikreuzer commented on #696
There is some introduction here: https://www.eclipse.org/smarthome/documentation/features/rules.html

@danchom I leave it to you whether you can provide more details on this and enhance the documentation or to close this issue for now.

[2016-05-25 09:04] kaikreuzer commented on #694
Available at https://www.eclipse.org/smarthome/documentation/development/rules/sample.extension.java.html

[2016-05-25 09:04] #694 closed

[2016-05-25 09:17] kaikreuzer commented on #691
@smgit: I am not completely sure what a "failure" exactly means in this context - I therefore assume we talk about unexpected exceptions happening in the module handlers.

In that situation, I would suggest to catch the exception, stop further execution of the rule and set its status to IDLE with a status details of the exception message.

[2016-05-25 09:23] kaikreuzer commented on #690
I would tend to say that we are able to do this by using tagging - so we can filter the list of rules for certain tags and have bulk operations on them. Similarly, we can provide Java API functions like "disableAllRulesTaggedWith(String tags...)".

[2016-05-25 09:23] #690 closed

[2016-05-25 09:35] kaikreuzer commented on #689
Ok, picking this up again: I think this is a very useful feature that should be implemented.

The RuleRegistry could have a new method "runNow(ruleUID)", which skips triggers&conditions and directly executes the actions of the rule. This should always be possible unless an action has a mandatory input that is linked to a trigger; in that case, we should not execute the actions, but set the rule st

[2016-05-25 09:57] kaikreuzer commented on #688
I'll try to address this by filtering information in config descriptions - this should imho work straight away.

[2016-05-25 10:08] kaikreuzer commented on #658
The new scheduler service has been merged with https://github.com/eclipse/smarthome/pull/1239, so my suggestion is to close this issue and have the timer module type adapted to use the new scheduler instead.

[2016-05-25 10:08] #658 closed

[2016-05-25 10:09] kaikreuzer opened #1567 "Adapt Timer trigger to use new scheduler implementation"
See https://github.com/eclipse/smarthome/issues/658.

[2016-05-25 10:45] #611 closed

[2016-05-25 10:47] kaikreuzer commented on #569
@kgoderis I would assume we can close this or is this still applicable?

[2016-05-25 11:06] kaikreuzer commented on #1527
Would it be possible to cover this by tests e.g. in https://github.com/eclipse/smarthome/blob/master/bundles/core/org.eclipse.smarthome.core.test/src/test/groovy/org/eclipse/smarthome/core/internal/i18n/I18nProviderOSGiTest.groovy?

[2016-05-25 12:06] maggu2810 commented on #689
Is it common (the title refers to IFTTT) to skip the condition on a manual trigger?

I would assume, that I trigger the rule manually and so the given triggers are not evaluated but I have assumed that the condition are checked before the action is executed.
Don't know what is common practice.

Perhaps there should be a distinction between trigger action and trigger rule execution.

[2016-05-25 12:21] kaikreuzer opened #1568 "Replace service trackers by Declarative Services XMLs in automation component"
As discussed, the automation component would be much more in line with other ESH code if it uses DS instead of service trackers.
Additionally, this reduces the dependency on OSGi from a source code perspective.

[2016-05-25 12:29] kaikreuzer commented on #689
IFTTT does not have conditions, so this is not a good reference for answering that question.
I as a user would think something is broken, if I click "run now" and nothing happens. So I would assume that skipping the coditions is a logical way to do it.

[2016-05-25 12:35] kgoderis commented on #689
FYI I had implemented an "empty" trigger to simulate this behaviour, but if we change the API in that way of course that is a better solution.

[2016-05-25 12:38] kgoderis commented on #1568
+1

[2016-05-25 12:39] kgoderis commented on #569
Yes - it almost a year old - don't even remember the complete issue.

[2016-05-25 12:41] kgoderis commented on #658
Yes, indeed

[2016-05-25 12:42] kgoderis commented on #1567
I already have the code for this sitting somewhere in an old commit, but need to revisit after final code of the new scheduler was merged

[2016-05-25 12:52] #569 closed

[2016-05-25 13:11] kaikreuzer commented on #922
@tomhoefer I think the problem is if a module type UID contains an _ and we create a configDescriptionURI from that.
How do we do it for thing-types? How does the config description URI look like for them if they contain an underscore? The very same should imho then happen for the automation entities.

[2016-05-25 13:21] kaikreuzer opened #1569 "Implement a file system TemplateProvider and ModuleTypeProvider"
For templates and composite module types it would be nice to be able to directly put the json files to a folder in the file system instead of having to deploy them in an OSGi bundle.

[2016-05-25 13:33] maggu2810 commented on #689
I think this depends if I trigger a rule execution or I trigger the rule's action.

Example
* trigger: motion sensor changed to ON
* condition: illumination < 500
* action: set light to ON

I assume
* if I trigger the rule manually and if the illumination is lower then 500, the light is switched on. If the illumination is greater or equal 500, the light state is unchanged
* if I trigger the action

[2016-05-25 14:20] tomhoefer commented on #922
I have to check....

[2016-05-25 15:49] mastix commented on #639
Hey guys,

I've just downloaded v0.8.0 of the eclipse smarthome designer.

Ran into the same issue and fixed the plist file like mentioned above. Now the splash screen appears but then it fails with the following error message (creates log file in the configuration folder of the eclipse application):

OS: El Capitan
JDK: Java 8

Any ideas what might be causing this?

Regards and thx in advance,

S

[2016-05-25 15:51] mastix commented on #639
Ah, never mind: Just found this issue: https://github.com/eclipse/smarthome/issues/1442

[2016-05-25 21:30] kaikreuzer commented on #1557
Sounds fine to me, I would even expect that these are different lists, as he only added the thing in the one browser. How exactly would the "highlighting" look like? Some kind of "glowing" effect would be cool ;-)

[2016-05-26 08:53] kaikreuzer commented on #689
@maggu2810 This is exactly my suggestion, isn't it?

[2016-05-26 09:11] kaikreuzer commented on #1479
Ok, so now we only need a volunteer to implement this change. Afair, @sbussweiler is on leave for a while, so I assume we cannot count on him?

[2016-05-26 10:02] maggu2810 commented on #689
Okay, then my reading is not correct.
I just read about trigger the action of the rule.

I would like to have both, trigger action execution (skip trigger & condition) AND trigger rule execution (skip trigger only).

But if that fits to your suggestion, all is fine :wink:

[2016-05-27 03:04] satish-nikam opened #1571 "Unable to tag item belonging to thing created dynamically (using discovery method)"
I recently upgraded to latest ESH and noticed that I cannot tag an item belonging to thing created dynamically using discovery method. This was working earlier (around 2 months back), but now it returns METHOD_NOT_ALLOWED. I tried to debug and noticed that it is not part of managedItemProvider and fails the following check in org.eclipse.smarthome.io.rest.core.item.ItemResource.java file.

[2016-05-27 08:41] maggu2810 commented on #1571
Hm, perhaps that related to the changes done in #1288

[2016-05-27 08:48] kaikreuzer commented on #1571
No, it was also the case that only managed items were taggable, the only difference now is that through #1288 no items are created for you in the database anymore - so you need to create the items yourself in order to be able to tag them (in Paper UI, go to Services->Linking and disable the "simple mode). I'll try to document this soon...

[2016-05-27 08:48] #1571 closed

[2016-05-27 09:27] satish-nikam commented on #1571
oh..thanks for info. I will try creating item myself and then tag.

[2016-05-27 15:05] s-simma commented on #1517
The problem seems to be a startup problem.
I have the same problem running OH in the IDE.

One way where all rules work as expected:
1. stop debuger
2. delete rule file (in IDE)
3. start debuger
4. copy rule file during debugger running into IDE
-> all rules work fine.
But restarting the debugger gives again NPE.

[2016-05-27 19:23] benjaminhofmann1 commented on #639
What did you end up doing to fix it @mastix?  I looked at issue #1442 and it really doesn't tell me what was wrong and how to fix it.

Thanks!

[2016-05-27 19:26] mastix commented on #639
Switched back to 0.7.0! Looks like 0.8.0 is pretty messed up! :)

[2016-05-27 19:28] benjaminhofmann1 commented on #639
Ahhhhhh, thanks.  I should've saved some time and asked sooner.

[2016-05-28 21:16] rtvb commented on #640
+1 for resolving this. This is a showstopper for me actually migrating to OH2

[2016-05-29 02:43] feens commented on #1517
I had some time so I did a bit more digging and was able to isolate things a bit more.

The following rule works when present during restart:

`
rule "Family Room Switch"
when
        Item Switch_Family_Room changed or
        Item Switch_Family_Room received command
then
        logInfo("FR_Switch", "Family room switch turned "+Switch_Family_Room.state)
        if(Switch_Family_Room.state == ON){

[2016-05-29 17:20] maggu2810 commented on #1517
Why do you start three of your lines with a hash symbol? Has this bash based comment style been allowed?

[2016-05-29 19:18] kaikreuzer commented on #689
Hm, no, sorry, I must have misread your comment then.
I don't think that we should introduce two features here at the same time (this might become confusing in the API as well as in the UI).

I would go for the "trigger actions" solution for now since I believe that many conditions will depend on trigger outputs and thus this feature anyhow won't apply to those rules (and in turn this feature is l

[2016-05-30 06:40] sbussweiler commented on #1479
If there is no other volunteer (?), I can try my best. But I can not promise when I can deliver it ;)

[2016-05-30 07:30] maggu2810 commented on #1479
I am too busy ATM. So it would be great if you can do so.

[2016-05-30 07:51] maggu2810 commented on #689
Ok

[2016-05-30 11:32] maggu2810 commented on #1550
Continue from: https://github.com/eclipse/smarthome/pull/1519#issuecomment-221036336

So, what can we do to solve this?

[2016-05-30 14:22] #1556 closed

[2016-05-30 15:32] feens commented on #1517
Well, that commenting style seems to work.  To be honest, I'm not sure where I picked it up (aside from being a Ruby programmer).  I probably should look at changing those though...but I don't think they're the cause of the errors here.

[2016-05-30 17:53] lolodomo commented on #588
I get these warnings with the hue binding when starting openHAB 2 beta 3 and having hue things defined in a file..

[2016-05-30 17:53] kaikreuzer commented on #1550
Unfortunately it is not possible to subscribe to the ThingTypeRegistry as a listener to be informed when new thing types become available. I could instead directly depend on ThingTypeProviders and refresh the constructed item list if there is any change. But it is probably cleaner to add a listener possibility to the registry, what do you think?

[2016-05-30 18:00] lolodomo opened #1574 "Duplicate field warnings when defining rules"
When I define a rules file, I get this kind of errors at startup:
[code]
These items are even not used in my rules.

If I remove my rules file and restart OH, these warnings disappear.

Occurred with OH2 beta 3.

[2016-05-30 18:07] lolodomo opened #1575 "Thread pool 'safeCall' rejected execution of class java.util.concurrent.FutureTask"
Starting OH 2 beta 3 with a rules file, several warning are logged:
[code]
Is it normal ?

[2016-05-30 18:11] kaikreuzer commented on #1528
Implemented with https://github.com/eclipse/smarthome/pull/1532

[2016-05-30 18:11] #1528 closed

[2016-05-30 18:14] kaikreuzer commented on #1575
This sounds as if you have a misbehaving add-on. Could you try to de-install them and see which one is the culprit?

[2016-05-30 18:45] lolodomo commented on #1575
I forgot to mention that I got these warnings only when I define a rules file.
Without my rules file, these warnings don't appar.
Do you still want that I try to de-install add-on one by one ?

[2016-05-30 20:42] kaikreuzer commented on #1575
This sounds as if you have long-running/blocking rules then - is that possible?

[2016-05-31 06:21] s-simma commented on #1517
@kaikreuzer. Could it be that rule engine is startet before all items/things are initalized?

[2016-05-31 06:46] kaikreuzer commented on #1517
Yes, that's the normal behaviour. The rule engine can be there before the items are created.
But it listens to newly added items and should re-run any startup rule that previously failed because of missing items.

[2016-05-31 07:22] kaikreuzer opened #1576 "Support for additional config description parameter contexts"
Config description parameters can have a [context](https://www.eclipse.org/smarthome/documentation/development/bindings/xml-reference.html#xml-structure-for-configuration-descriptions).
Afaik, the Paper UI currently only handles the "password" and "item" contexts.

Further support should be added for:
- date -> rendering a date picker with yyyy-MM-dd string representation
- time -> rendering a tim

[2016-05-31 09:31] maggu2810 opened #1578 "System channel type: low battery"
I have used a custom battery low channel type until now and want to move to the system channel type one (system.low-battery).
My custom one and the system provided one differs in the state description.
The system provided one does not set a state description at all.
I set the read-only flag to true for the "low battery" channel.

I assume the low-battery flag is set by the device and should not be

[2016-05-31 10:54] chrisschauer opened #1580 "Strange xml example in thing-types documentation"
I'm wondering about the documentation on:
https://github.com/eclipse/smarthome/blob/master/docs/documentation/development/bindings/thing-definition.md

I don't understand the following line:
[code]

There is a step with 0.5 and a pattern defined "%d" (decimal integer). I find this a little confusing because pattern with %d returns only a integer.

I think it should work with:

[code]

[2016-05-31 10:56] maggu2810 commented on #1580
IMHO it should work with both, but the second one makes more sense.
Can you fix this?

[2016-05-31 10:56] kaikreuzer commented on #1580
Sounds right, so why don't you create a PR for it?

[2016-05-31 10:58] chrisschauer commented on #1580
i'm just creating the PR :-)

[2016-05-31 11:11] danchom commented on #1561
Fixed by PR #1579

[2016-05-31 11:27] tulamidan commented on #1575
Sounds familiar indeed. When the messages appear in the log file - no rule is executed in my case. So long running or blocking rules should not be the issue.

[2016-05-31 13:28] #639 closed

[2016-05-31 14:23] #1580 closed

[2016-05-31 22:59] mohsh86 commented on #982
I have a similar issue, but for some reason, the ntp:ntp:local thing won' go back to initialized, and stuck at "uninitialized"

i deleted it (initially added through a file), tried to alter the things file to get it refreshed, the ntp thing won't appear again

`00:19:35.205 [INFO ] [me.event.ThingStatusInfoChangedEvent] - 'ntp:ntp:local' changed from ONLINE to UNINITIALIZED (HANDLER_MISSING_ERROR)

[2016-06-01 06:45] lolodomo commented on #1575
No I don'tthink I have long running rules.
I could add log traces to check the duration of each of them.
Could it be due to the initial compilation time of each rule ?

[2016-06-01 07:53] s-simma commented on #1517
@kaikreuzer
How to reproduce this problem:
1. Install latest offline version as demo
2. put the following rule into rule file
rule "test"
	when
		Item Scene_General changed
	then
    		var Number test1 = 0
end
3. Goto "Dicrete widgets" and change "TV/DINNER/READING"

[2016-06-01 09:01] maggu2810 opened #1590 "Rule trigger / action / condition all mixed up"
If I use the Paper UI to create a trigger, condition and action all module types are shown.

![rule-action](https://cloud.githubusercontent.com/assets/204670/15703901/23ead8e4-27e8-11e6-9af5-d5c484b320c7.png)

![rule-condition](https://cloud.githubusercontent.com/assets/204670/15703908/26135d80-27e8-11e6-8f1b-347a86f9858a.png)

![rule-trigger](https://cloud.githubusercontent.com/assets/204670/1570

[2016-06-01 09:38] maggu2810 opened #1591 "Paper UI: removal of advanced configuration incomplete"
The PR #1288 / commit 165291932813e037d08192d936afad92fde41f6f brings also this change:
* Preferences "advanced" flag has been removed and is now determined from the server through /rest/links/auto

Is there any reason to keep the JavaScript code to set the advanced mode in the preferences page controller?
https://github.com/eclipse/smarthome/blob/165291932813e037d08192d936afad92fde41f6f/extension

[2016-06-01 09:42] maggu2810 opened #1592 "Paper UI: added item in list after refresh only"
Related to: #1526

I activated the Paper UI advanced mode by disable the auto link simple mode.
After the the "Configuration, Items" page is shown.

If I add a new item, the item is not shown in the list.
The item is shown after a manually refresh.

I would expect, that after adding the item and return to the item list, the item is shown.

Perhaps there is some timing dependent behavior similar to

[2016-06-01 09:43] Liamj001 opened #1593 "Switch control of color channel bug"
I have a Switch item linked to the color channel of a LIFX bulb. It works correctly, but seconds after switching the bulb on the binding sends an HSB value and thus the Switch item is set to UNDEF and the sitemap toggle shows OFF.

[2016-06-01 11:21] tulamidan commented on #1575
I did a test yesteday and I triggered a rule with a button. It took a while an reported a lot of the above mentioned errors. But in the end the rule fired. Yet it took really long. about a minute to switch of a couple of sensors and all lights in a group.

On OH1 it takes sub-seconds and I event had to out **thread::sleep(300)** in it to put less traffic on the bus. I'll try tonight without the sl

[2016-06-01 11:39] maggu2810 commented on #1590
After switching between different branches I want to response of [http://localhost:8080/rest/module-types?type=action](http://localhost:8080/rest/module-types?type=action) to see if it is a bug of the Paper UI or another one.
Now it seems to be working (also in the Paper UI).

Don't know what has been wrong previously.

[2016-06-01 11:44] maggu2810 commented on #991
@sbussweiler Are you still planning to fix this for the Hue binding?

[2016-06-01 11:53] maggu2810 commented on #1550
With PR https://github.com/eclipse/smarthome/pull/1419/files we have a mechanismus to be informed if a bundle loading has been finished.
Perhaps we could use this mechanism to process thing types only if the whole bundle is loaded.
Also I assume we need to be informed about new thing types, so we can re-trigger the item creation.
Items for links that thing-type or channel information is not availa

[2016-06-01 11:58] maggu2810 commented on #1590
This bug has been introduced by 3dd817ea4ec37880b6315d141b520a5d068b7e49 (#1586).

[2016-06-01 12:00] maggu2810 commented on #982
@mohsh86 I don't see how your issue is related to the one of @lolodomo

[2016-06-01 12:46] mohsh86 commented on #982
my bad must be a wrong tab, had 20+ tabs on my browser, i'll remove the comment now

[2016-06-01 13:40] sbussweiler commented on #991
Oh, I have forgotten it! Thanks for reminding me. I will fix it...

[2016-06-01 14:32] aounhaider1 commented on #1590
I have a question about ModuleTypes, is it possible to get the type of module from ModuleTypes? e.g. I can request modules of specific types by specifying type in the request but can I separate the modules based on the type field after I get all the modules ?

[2016-06-01 15:28] maggu2810 commented on #1590
I am interested to.
I used the REST API to get a list of all modules and don't find a way to sort them by type.
I think the module type should be added.
Or is there any use case to get all modules (without limit to a special type) if we don't know the type of an object of the result collection?

[2016-06-01 15:30] kaikreuzer commented on #1590
Not yet possible, but tbd, see point 1 in https://github.com/eclipse/smarthome/issues/1483.
@danchom Can you already estimate when you will work on this?

[2016-06-01 17:31] satish-nikam opened #1596 "It seems items added programmatically to GroupItem are not persisted in mapdb"
I am using GroupItem.addMember() method to programmatically add item to the group switch. This works fine and I am able to operate group switch from Basic-UI. I also see group members using REST API.

But when I restart ESH, I do not see these members at all. REST API also returns empty json array for GroupItem members. It seems group item members are not persisted in mapdb.

[2016-06-01 19:07] maggu2810 commented on #1590
How is this related to point 1.

In both cases we can build a list that contains all module types (triggers, collections, actions). The point is that the returned collection misses the information about the type.
Can't this be solved by using a DTO that contains all the current information and a field (module-type) that contains an enum value (ACTION, TRIGGER, CONDITION)?

[2016-06-01 19:42] kgoderis commented on #1393
Anyone any progress on this?

Sorry to be bitching about this, but to me this sounds as a critical issue for which we do not have a solution yet, besides downgrading xtext.... It renders the Karaf based runtime useless in an operational environment.

[2016-06-01 19:56] maggu2810 commented on #1551
@ChristophRathfelder Does your path of your cloned repo (the path you used to install the IDE using the Eclipse Installer) contains whitespaces or any other special characters?

It should work with the default launch configuration.

Here a log from my system:
https://gist.github.com/maggu2810/89477dd03fcf10776e2c64484c79da9a

[2016-06-01 20:01] maggu2810 commented on #1393
I assume that the situation (lack of man power etc.) is still the same (see: https://github.com/eclipse/smarthome/issues/1393#issuecomment-218570353, https://github.com/eclipse/smarthome/issues/1393#issuecomment-218580673).

I am afraid that nobody currently works on improving this situation (enhance logging etc.).

Any volunteer is welcome.

[2016-06-02 05:42] kaikreuzer commented on #1590
Well, if you have a specific call getTriggers, you don't need an additional attribute about the type in the result since you already know that they all are triggers, don't you?

[2016-06-02 05:51] kaikreuzer commented on #1596
Items are only persisted when you call ItemRegistry.update(yourItem).

[2016-06-02 06:16] satish-nikam commented on #1596
I already have following code:
groupItem.addMember(memberItem);
itemRegistry.update(groupItem);

Do you mean I need another update call as follows?
itemRegistry.update(memberItem);

[2016-06-02 06:22] kaikreuzer commented on #1596
Yes, the membership is actually stored within the member, not within the group - so the member has to be persisted.

[2016-06-02 06:54] maggu2810 commented on #1590
I don't think that @aounhaider1 points to the need of the additional attribute.
Using an attribute "/rest/module-types?type=action" or a separate REST endpoint "/rest/module-types/action" doesn't make much different (in both cases action must be spelled correctly, but okay, it is perhaps "safer").
If you have a look at the result (and this is what we are talking about -- IMHO), it is the same for

[2016-06-02 06:58] kaikreuzer commented on #1590
Point 1 in #1483 is about replacing this call by individual endpoints. If this is nothing you consider valid, you should veto on #1483.

[2016-06-02 07:00] maggu2810 commented on #1590
I don't think I have written something against the usage of a different endpoint above.
I give up, perhaps @aounhaider1 is able to write it in a more readable / understandable way.

[2016-06-02 07:50] aounhaider1 commented on #1590
Yes @maggu2810 that was my question. Currently, we have endpoint 'rest/module-types', we can get all the module-types if we do not specify any 'type' in the argument. The response from this will have all the module-types (triggers, actions, conditions) but it is not possible to segregate these module-types on the client side.i.e. we cannot separate triggers, actions, conditions in separate arrays

[2016-06-02 10:08] satish-nikam commented on #1596
I tried registry update for individual member as you suggested, but still facing same issue.

[2016-06-02 10:15] kaikreuzer commented on #1590
Sorry, if I don't make myself clear, but I can only repeat my statements above.
The plan of #1384 is to REMOVE the /rest/module-types endpoint and rather have /rest/trigger-types instead. So on the JSON response your will ALWAYS KNOW that it is a trigger, because you requested exactly this.

If you REQUIRE a single call for all types, please VETO on #1384.

[2016-06-02 14:36] rtvb opened #1598 "[Sonos] Update binding documentation"
I noticed that the documentation

https://github.com/eclipse/smarthome/blob/master/extensions/binding/org.eclipse.smarthome.binding.sonos/README.md

is not up to date. Mostly, new channels are missing. I plan to update the channel list and the demo code and will submit a PR.

[2016-06-02 14:37] rtvb commented on #1382
I have started updating the Sonos documentation:

#1598

[2016-06-02 15:00] maggu2810 commented on #1598
:+1:

[2016-06-02 17:14] kgoderis commented on #1393
@maggu2810 @kaikreuzer  @R-Edelhoff @chriskn @sjka I fully understand the lack of manpower/time at hand, let us then please revert to an older version of Xtext in the meantime?

For me it is essential to have Rules/Script working so that I least I can test new code (migration to new scheduler, migration of existing userland Rule engine to Automation Rule Engine, CalDAV server Rule scheduling) agai

[2016-06-02 17:23] maggu2810 commented on #1506
The problem still exists (only the line changed from 317 to 314).

[2016-06-02 18:01] rtvb opened #1599 "[Classic Icons] Missing icon for television"
Every icon has an neutral version and optionally a version per state. For television, only the states are in the repo: `television-on` and `television-off`. The neutral `television` should be added.

Related to:
https://github.com/eclipse/smarthome/tree/master/extensions/ui/iconset/org.eclipse.smarthome.ui.iconset.classic/icons

[2016-06-02 19:10] kaikreuzer commented on #1393
Did anybody come up with a reproducible scenario that would help to analyze the problem? I mean simply a tweaked demo.rules file from the demo setup, without requiring any further special setup besides the demo installation?

[2016-06-03 04:44] rtvb opened #1600 "[Sonos] Fatal error playlist channel"
I tried to play playlist "Robert" for a String item:

    sendCommand(Sonos_Living_PlayList, "Robert")

version:

    194 | Active   |  80 | 0.8.0.201605191852    | org.eclipse.smarthome.binding.sonos

debugging:

    log:set DEBUG org.eclipse.smarthome.binding.sonos

logging:
[code]

[2016-06-03 06:56] kaikreuzer commented on #579
Any news here? I'd also be very interested to get a PR for that soon!

[2016-06-03 08:10] rtvb commented on #1599
Needs modification of `_iconcopy` script:

https://github.com/eclipse/smarthome/blob/master/extensions/ui/iconset/org.eclipse.smarthome.ui.iconset.classic/icons/_iconcopy

[2016-06-03 09:31] maggu2810 opened #1604 "ref-tag create tool: add further files"
It seems that we should improve the script to change some other files, too.
See PR: #1603

[2016-06-03 09:39] maggu2810 commented on #1599
Can you create a PR to fix this?

[2016-06-03 09:39] maggu2810 commented on #1599
Sorry, wrong button

[2016-06-03 09:56] #1561 closed

[2016-06-03 13:03] maggu2810 commented on #1551
I assume you missed to start a Maven build (command line).
This is necessary for the Paper UI as it fetches a lot of third-party dependencies using Maven only.

[2016-06-03 13:24] maggu2810 commented on #1327
[code]

[code]

[2016-06-03 13:34] afuechsel opened #1605 "Bug in ThingHandlerCallback#changeThingTyp: timing issues"
It happens during changing of the thing type of several things at the same time, that some of these things end up in INITIALIZED state afterwards (not ONLINE). It has been analyzed, that the handler initiating the migration is not correctly removed but still handles the thing with the new changed thing type initiating another migration which then fails.

[code]

[2016-06-03 14:25] maggu2810 commented on #1605
Is this a duplicate of #1506?

[2016-06-03 21:53] kaikreuzer opened #1609 "Itemnames are not resolved in rules and scripts"
Items are not correctly resolved in the Designer when editing rules and scripts and hence they show many errors, although the items are declared.

[2016-06-04 05:48] tulamidan commented on #1575
Just now I have tested the latest build and I got the impression that there is a promlem with binding my items to the event bus. (knx)
Later the already posted "dispatching takes more than... " messages are written to the log.

    07:39:03.369 [INFO ] [smarthome.event.ItemCommandEvent    ] - Item 'sLichtwert' received command 5296
    07:39:03.431 [ERROR] [ore.internal.events.OSGiEventManager] -

[2016-06-04 06:00] tulamidan commented on #1575
Or maybe the server is too slow? It is running on a Raspi 2 - like a good share of the OH installations out there

[2016-06-04 08:56] kgoderis commented on #1600
This is similar to https://github.com/eclipse/smarthome/issues/862 which was fixed by https://github.com/eclipse/smarthome/pull/1364

Is "Robert" is non-empt playlist that was duly defined in the Sonos Controller?

I am not sure where we best handle this e.g. in the SonosXMLParser or before its get called (as in the PR 1364), because the XML string argument might not be empty/null but still contai

[2016-06-04 09:06] rtvb commented on #1600
The playlist "Robert" is an existing playlist that contains 4 tracks. I have created the playlist through the iOS app and can select and play it from there. When I select the playlist through OH2, the player is TRANSITIONING and then continues playing what it did (a radio station in my test scenario).

[2016-06-04 09:10] rtvb commented on #1600
Configuration

**my.things**
[code]

**sonos.items**
[code]

**sonos.rules**
[code]

[2016-06-04 10:11] #1442 closed

[2016-06-04 10:18] kaikreuzer commented on #1575
No, a RasPi2 should be perfectly fine.

For any such problems it would be terribly helpful if you could reproduce it with the demo setup, i.e. simply add a new rule to it that makes the problem appear, so that others can help analyzing it.

Btw, the log suggests that you are using global variables within your rule file - I do not see this mentioned anywhere. Could you remove them and see if it mak

[2016-06-04 11:02] sja opened #1611 "OSX: Designer does not start"
I downloaded the Designer nightly from [here](http://www.eclipse.org/smarthome/documentation/community/downloads.html) but after the splash screen, it just shows me an error `An error has occurred.` and a direction to the logfile.

/Applications/Eclipse SmartHome Designer.app/Contents/Eclipse/configuration/1465037592714.log

Content:
[code]

[2016-06-04 11:20] kaikreuzer commented on #1611
Are you sure that you already have a build that includes https://github.com/eclipse/smarthome/pull/1610?

[2016-06-04 11:22] sja commented on #1611
Ah, no. Just had a look at open issues - not already merged stuff. Thanks! Will reopen if it won't work.

[2016-06-04 11:22] #1611 closed

[2016-06-04 11:58] tulamidan commented on #1575
Right, there is a global. So I have created an isolated rule file with only the above mentioned and stripped away the global.
The result is good. I still get one warning (takes more than 5000ms) but the rule executes fine.
would you say globals are deprecated?

[2016-06-04 12:11] kaikreuzer commented on #1575
No, globals are not deprecated - it seems to be a bug regarding their processing then.

The [demo setup](https://github.com/openhab/openhab-distro/blob/master/features/openhab-demo-resources/src/main/resources/rules/demo.rules#L3) also contains one - so could you check what is the difference to your case that makes the problem appear?

[2016-06-04 12:33] lolodomo commented on #1575
Just one idea: could it be relative to the initial loading (compilation ?) of each rule ?

I added one log message at first instruction and final instruction of each of my rules.
Running 1.8.3 server, I can see that the initial run of a rule can take more than 5 seconds on a RPI 2, 6 seconds for example.
Note that several rules are called more or less at the same time when you start openHAB (while

[2016-06-04 12:50] lolodomo commented on #1575
If I suppress all my rules that are triggered by "Item xxx changed" and "Item xxx received update", that means all my rules that are systematically run at startup while the items are set by binding startup, the warnings are disappearing.
So these warnings are relative to all rules run at startup when items are first set.
Maybe the timeout of 5s is too much small for intial loading of rules ?

[2016-06-04 12:53] lolodomo commented on #1575
Is there a direct link between the log relative to event dispatching and the log relative to the thread pool ?

[2016-06-04 14:40] kgoderis commented on #1600
Yes, the binding is unable to fetch the items that make up the playlist. It is to be investigated as to why that is happening.

[2016-06-04 16:16] kgoderis commented on #1393
@kaikreuzer @maggu2810 In the process of setting up a test environment in the IDE, i discovered that exceptions (with the famous "Script interpreter couldn't be obtain") are thrown at simple initialisation statements at the beginning of the .rules files.For example, declaring a global variable like
`var Number lowerChargeTreshold = 75`
is sufficient, whereas
`var Number lowerChargeTreshold`
is not

[2016-06-04 16:22] kaikreuzer commented on #1393
Ok, I think we are coming closer - this very much sounds like a similar cause as https://github.com/eclipse/smarthome/issues/1575.

[2016-06-04 16:51] kgoderis commented on #1393
well yes, I have to back what I wrote as I can not replicate that bit anymore.

in the IDE now, when I have an almost empty .rules things are running fine. I can add additional Rules to the .rules file (while the runtime is running) without a problem. When I now stop the runtime, and start again, I run again into that Exception.

to me it seems that something fishy is going on with respect to vari

[2016-06-04 21:14] marcelrv commented on #1479
+1 for simplifying this piece

[2016-06-05 06:00] rtvb opened #1612 "[Sonos] LED channel not working"
The LED channel is not working. It doesn't receive the status of the setting if it is modified through the Controller app. It isn't set through the UI.

**main.things:**
[code]
**sonos.items**
[code]

**bundle:list**

    194 | Active   |  80 | 0.8.0.201605311814    | Sonos Binding

[2016-06-05 07:01] kgoderis commented on #1612
You have a typo in the Switch item definition

channel="sonos:PLAY1:living:led" it should be

[2016-06-05 07:12] kgoderis commented on #1393
FYI Xtext 2.10.0 is released. Should we now upgrade or downgrade?

[2016-06-05 07:23] rtvb commented on #1612
:(

Working now. Thanks.

[2016-06-05 07:23] #1612 closed

[2016-06-05 09:29] rtvb opened #1613 "[SmartHome Designer] Things file does not open"
## Things file does not open.

    java.lang.IllegalStateException: Unresolved proxy http://www.eclipse.org/smarthome/model/Thing#//ModelThing. Make sure the EPackage has been registered.

I can open it in the system editor, but not in the Designer.

Designer:

    Eclipse SmartHome Designer	0.8.0.201606041137	org.eclipse.smarthome.designer.product	null

[code]

[2016-06-05 09:29] rtvb commented on #1613
Continued...
[code]

[2016-06-05 09:34] kgoderis commented on #1393
@kaikreuzer @maggu2810  @R-Edelhoff @chriskn @sjka
It is https://github.com/eclipse/smarthome/blob/master/bundles/model/org.eclipse.smarthome.model.script.runtime/src/org/eclipse/smarthome/model/script/runtime/internal/engine/ScriptImpl.java#L71 that is causing the Exception to be thrown, e.g. the underlying provider (DefaultResourceServiceProvider) is calling injector.getInstance(t) on a com.goog

[2016-06-05 13:38] lolodomo opened #1614 "Default switch icon"
Would it be possible to change the default switch icon to have a really visible difference between ON and OFF states ? Maybe having a different color would be perfect.

[2016-06-05 13:42] kaikreuzer commented on #1614
I am all for it - I actually much preferred the old "bulb" instead of a wall switch...
Any suggestions for a good generic icon (as a bulb is not necessarily appropriate in all cases)?

[2016-06-05 15:53] digitaldan commented on #1614
I also agree, it doesn't much look like a switch at all.  I would opt for something less like a physical light switch (like a simple circle or square that's empty for off, filled for on).  The "text" icon is probably also worth looking at,  I had to go through and set icon='" everywhere I had a text item (it's huge, white and looks out of place on a sitemap).

[2016-06-05 17:34] kaikreuzer commented on #1614
@reitermarkus As you are the icon design specialist, do you have suggestions for good alternatives?

[2016-06-05 18:40] joergkling opened #1616 "Philips Hue Binding: Please add support for lamp Osram Lightify Classic B40"
This is a dimmable lamp for socket E14, white with changeable color temperature.

Technical type in Hue-App: Classic B40 TW - LIGHTIFY

The configuration should be similiar to LIGHTIFY PAR16 TW

Details:
		"18": {
			"state": {
				"on": true,
				"bri": 51,
				"ct": 370,
				"alert": "none",
				"colormode": "ct",
				"reachable": false
			},
			"type": "Color temperature light",
			"name": "Sch

[2016-06-05 19:10] maggu2810 commented on #1393
The commit you mentioned was the bump to Xtext 2.8.4 that has been reverted because of problems. See #732 and #456

Perhaps we can use #947 and move then also to DS at the place you mentioned.

[2016-06-05 19:30] joergkling opened #1617 "[Sonos] Please add support for CurrentAlbumArt, Shuffle and Repeat"
Would be great if these three feature could also be provided by the Sonos bindind.
- CurrentAlbumArt: is avaible in the OH1 binding, String provided by the Sonos player with the URI to the AlbumArt
- Shuffle: boolean triggering the shuffle function in the player
- Repeat: boolean triggering the repeat function in the player

[2016-06-05 20:14] #1505 closed

[2016-06-05 20:14] #1013 closed

[2016-06-05 20:15] #1490 closed

[2016-06-05 20:15] #1139 closed

[2016-06-05 20:32] tulamidan commented on #1575
The most obvious difference between the globals in my rules and the demo rule is:
Demo uses solely a timer as gobal - I am using a Number item in this particular rule.

[2016-06-05 21:05] lolodomo commented on #1575
For information, I am using global variables too.

[2016-06-05 21:09] kaikreuzer commented on #1613
I can confirm to see the same.

[2016-06-05 22:47] reitermarkus commented on #1614
Maybe a green and red power-button symbol?
![Switch Icons](https://cloud.githubusercontent.com/assets/1309829/15808725/742efc14-2b7f-11e6-869c-e8fedbb74ce3.png)

What kind of devices are you using the switch icon for? I think every switch belongs to something, so maybe we should be creating icons for those things, too.

[2016-06-06 04:12] #1613 closed

[2016-06-06 06:20] kaikreuzer commented on #1614
I like the power-buttons!

The "switch" icon is mainly used as a fallback when all we know is that we deal with something switchable and the user didn't specify a more fine-grained category. As you have covered the list of categories with the icon set, I think we are fine in this regard (and new stuff should first be added to the list of categories and then to the iconset).

[2016-06-06 07:31] #1609 closed

[2016-06-06 07:44] splatch commented on #579
@kaikreuzer It should be fine to merge it, however I didn't have enought of time to attempt implementation of this SPI thus futher changes may be necessary. I think it's safer to submit complete pull request. From other hand I've done an example of smarthome rest services running together with CXF which allowed to support JAAS security out of the box.

[2016-06-06 08:01] kaikreuzer commented on #579
Fine with that as long as you are still planning to work on this and create such a PR in the not too distant future :-)

[2016-06-06 08:07] sjka commented on #1605
Not really sure, but it might. I'm having a look...

[2016-06-06 14:42] maggu2810 opened #1621 "Remove uninitialized thing fails"
It seems that a thing that is "uninitialized" cannot be removed anymore.
If a thing is "uninitialized" and should be removed, the state updates to removing. That's all.

[code]

* add a binding to your Eclipse SmartHome system
* add a new thing of that binding
* restart the Eclipse SmartHome without that binding
* the thing keeps uninitialized because no thing handler is available
* try to remove

[2016-06-06 14:53] maggu2810 commented on #1621
Sorry, I realized that there is a force removal...

[2016-06-06 14:53] #1621 closed

[2016-06-06 15:02] digitaldan commented on #1614
I like the power button as well!  I would suggest using black/silver/grey for 2 reasons, one is that I think it looks better, my opinion ;-) , and two,  I know several people who are colorblind, so red and green may not mean much.

[2016-06-06 15:09] kaikreuzer commented on #1614
I think we should go for the colors as the whole icon set is colorful and not shades of grey. We should rather introduce additional greyish icon sets then (btw, the [KNX KUF one](https://github.com/OpenAutomationProject/knx-uf-iconset) is waiting to be integrated as well!).

[2016-06-06 17:52] kaikreuzer commented on #1575
I just tried all kinds of global variables and rules on the latest oh2 snapshot, but it all works smoothly for me...
Is this only happening on slow computers like the RPi? I am currently testing on my Macbook, might this be a difference?

[2016-06-06 18:10] kgoderis commented on #1393
Ok so what shall we do then?

[2016-06-06 18:50] rtvb commented on #1614
![](http://i.stack.imgur.com/rVrPi.jpg)

[2016-06-06 18:51] rtvb commented on #1599
Solved

[2016-06-06 18:51] #1599 closed

[2016-06-06 19:05] kaikreuzer commented on #1614
@rtvb This would suggest that the icon itself is a toggle, which it isn't.

[2016-06-06 19:21] kaikreuzer commented on #1393
I have spend the last days to get the Designer in a usable state again. The latest snapshot builds should work again (at least the Mac version does for me) and it nicely highlights all errors that exist within the rules. And as we can see from the discussions above, many issues seem to be due to invalid rule syntax.

Being the only reproducible example that I was able to find in this thread, I tri

[2016-06-06 19:49] rtvb commented on #1614
A toggle would make a clear distinction between states. I have been
experimenting with some flat icons and liked the visual effect.

Op Ma jun 6 2016, om 21:05 schreef Kai Kreuzer:

Links:

  1. https://github.com/rtvb
  2. https://github.com/eclipse/smarthome/issues/1614#issuecomment-224056222
  3. https://github.com/notifications/unsubscribe/AAiI8iACtD8z_m0VPRx67jW1-qz1QG6bks5qJG-GgaJpZM4IuWz9

[2016-06-06 21:20] maggu2810 opened #1624 "Rule JSON template documentation wrong"
I assume the rule template documentation is not correct.

https://github.com/eclipse/smarthome/blob/884f1d6/docs/documentation/features/rules.md#rule-templates
vs.
https://github.com/eclipse/smarthome/blob/884f1d66bfe836e8710ff9d8e007b700a54c6eef/bundles/automation/org.eclipse.smarthome.automation.sample.extension.json/ESH-INF/automation/templates/SampleTemplateDefinitions.json

* configDescriptio

[2016-06-06 22:03] maggu2810 commented on #1578
@kaikreuzer If you are fine that the low battery system channel is read only, I will create a PR for that. But if you are against that, then I do not need to do any implementation.

[2016-06-06 23:11] lolodomo opened #1628 "Events logged in events.log and openhab.log"
In OH2, ItemStateChangedEvent are logged twice, in events.log and in openhab.log.
In OH1.x, they were only logged in events.log.
Is it the expected behaviour ?

Is there a setting to have events only logged in events.log ?

[2016-06-06 23:44] digitaldan commented on #1614
I will also add while it should visually represent the switch state, it should not look so my like a UI switch that the user confuses it for the actual widget he/she was suppose to push.

[2016-06-07 00:00] lolodomo commented on #1575
That is not systematic but sometimes after a new OH start my rules are not working at all and I get a message of this kind:
[code]
In this case, MiniMoteSceneDeactivated is the rule trigger. Could it be that rules are internally "compiled" before the items are loaded ?

In general, after a new restart, it is ok.
Except this particular case, I have always the warning mentioned in my initial post at

[2016-06-07 05:30] maggu2810 commented on #1628
The logging settings of the openHAB-distro are not related to Eclipse SmartHome.
Please report such problems to the relevant project.

[2016-06-07 05:30] #1628 closed

[2016-06-07 06:35] reitermarkus commented on #1614
I also agree that it shouldn't look like a UI toggle as it would be redundant.

[2016-06-07 07:21] kaikreuzer commented on #1614
So I'd suggest to use https://github.com/eclipse/smarthome/issues/1614#issuecomment-223842588 for a start. @reitermarkus, would you create a PR for it?

[2016-06-07 07:37] kaikreuzer commented on #1578
Yes, I am absolutely fine with defining it as read-only!

[2016-06-07 07:58] #1598 closed

[2016-06-07 07:59] #1551 closed

[2016-06-07 08:03] tomhoefer commented on #922
There is no special logic to build the config description URI from thing-types that consist of an underscore. So having an underscore in the thing-type will result in a config description URI with an underscore.

[2016-06-07 10:54] sjka commented on #1605
After analyzing @afuechsel's logs, it looks like for one of the Hue bulbs the ThingHandler did not get removed entirely, i.e. I can see the attempt to remove it, but it never actually happened, so no serviceRemoved events were triggered in time. I basically see two possible reasons for it: Either it happened asynchronously and the changeThingType didn't wait for it to finish so there was no new Th

[2016-06-07 11:10] kaikreuzer opened #1631 "Sonos Things are shown ONLINE although not on the network"
It seems that the Sonos thing handler sets the status to ONLINE on initialization, even if the device is not reachable (or not even on the network).
I would expect it to be OFFLINE instead.

[2016-06-07 11:22] kaikreuzer opened #1632 "Support option filtering"
The [config descriptions](https://www.eclipse.org/smarthome/documentation/development/bindings/xml-reference.html#xml-structure-for-configuration-descriptions) support filter criteria.

The Paper UI should support this (for a few cases for the start):

- Filtering item lists by type or tags:
If the context "item" is given, the Paper UI currently shows the full list. By defining a filter like
[code

[2016-06-07 11:45] ChristophRathfelder commented on #1551
I tried to run maven from the command line with different targets.
After several tries mvn compile worked.
In Eclipse several projects showed errors, so I need to perform a clean.
After that the Smart Home Runtime could be started. An also mapping the paperUI to /ui was listet, see the attached log.
Anyhow Openiing http://127.0.0.1:8080/ui/index.html from internal and external web browser still re

[2016-06-07 12:05] mgf909 commented on #575
Hi Kai - Any update on this. I want to be able to use nginx reverse proxy so i can use some security and enable access via internet. (SSL ) - so would be fantastic to get this done.

[2016-06-07 13:25] lolodomo commented on #577
Any progress ?

[2016-06-07 13:34] maggu2810 commented on #577
I think we need a volunteer that implements a solution and assume that no one is currently working on that.

[2016-06-07 15:51] kgoderis commented on #1393
@kai will do and feed back (the example you mention, at least in my copy of the code, does have the import). At least we then can root out syntax errors

[2016-06-07 17:41] kgoderis commented on #1393
@kai @maggu2810 Here below are some items flagged by the editor. It would be good to flag them as an issue, or not, (or suggest a solution) with the objective to document these somewhere for other users:

1. `import org.eclipse.smarthome.core.types.UnDefType` -> Access restriction: The type UnDefType is not accessible due to restriction on required project config

2. ` TeslaTemperature.sendCommand

[2016-06-07 19:01] lolodomo opened #1633 "Default sitemap parameter for Classic UI not saved properly"
If I set a default sitemap for Classic UI using Paper UI => Configuration => Services => Classic UI (Configure button), then when I open Classic UI from the dashboard, it opens on my specific sitemap.
If I restart OH2, the setting is again set to _default rather than my specific sitemap.

PS: the same setting is apparently working for Basic UI.

[2016-06-08 07:00] marinmitev commented on #1624
done

[2016-06-08 07:14] maggu2810 commented on #1633
Does it work if you remove that line?
https://github.com/openhab/openhab-distro/blob/72e5a7c/distributions/distribution-resources/src/main/resources/runtime/etc/services.cfg#L17

[2016-06-08 07:18] maggu2810 commented on #1624
Thanks @marinmitev
One additional question.

The documentation contains a list "Supported Java Types The java types supported in the input/output objects are".
The available event trigger demonstrates that also other types are possible (and necessary).
https://github.com/eclipse/smarthome/blob/884f1d66bfe836e8710ff9d8e007b700a54c6eef/bundles/automation/org.eclipse.smarthome.automation.module.core/

[2016-06-08 08:17] danchom commented on #1624
I think this is an old list. We have to remove it. The type of input/output is defined by string and it is used for validation of connection. It is done in following way:
1) if the input type and the output type are equal as string the connection is accepted
2) if the input type is "*" and the output type is any the connection is accepted
3) if the input type and the output type are strings repres

[2016-06-08 08:22] maggu2810 commented on #1624
Thanks for explanation @danchom
So, I think this change should be added to #1624.
Will merge this then.

[2016-06-08 08:38] marinmitev commented on #1624
description added  and squashed the commits

[2016-06-08 08:50] #1624 closed

[2016-06-08 09:24] maggu2810 opened #1638 "JSON Editor"
At least for the rule modules we are using JSON files.

As there are already some on JSON files, I would like to ask if there is a preferred Eclipse IDE extension that supports formatting etc.

I have found this ones:
* https://marketplace.eclipse.org/content/json-editor-plugin
* https://marketplace.eclipse.org/content/json-tools

If we can choice one, I assume it is okay to add it to the setup fi

[2016-06-08 09:29] reitermarkus commented on #1614
Ok, I have created one here: https://github.com/eclipse/smarthome/pull/1637

[2016-06-08 11:22] reitermarkus commented on #1614
@digitaldan, what would you suggest for the text icon?

Maybe simplyfying it would help.

![Text Icon](https://cloud.githubusercontent.com/assets/1309829/15892763/d0bfe788-2d7b-11e6-8f51-7099747f5e4e.png)

[2016-06-08 12:55] maggu2810 commented on #1632
If my reading is correct the same config description is used for rules (automation API), too.
So I assume this "configurationDescription" should give us only a list of Switch items.

[code]

Correct?

[2016-06-08 13:23] sjka commented on #1605
@afuechsel could you please verify that #1629 indeed fixes this issue?

[2016-06-08 13:57] afuechsel commented on #1605
Having done my migration back and forth 3 times now it seems that #1629 fixes this issue.

[2016-06-08 14:29] maggu2810 opened #1640 "ConcurrentModificationException on OSGiEventManager"
Using ESH 893554bd646ab1d876fe0efc735ea08d05313267

[code]

[2016-06-08 14:30] maggu2810 commented on #1640
Just to keep track of this bug.

[2016-06-08 17:00] kaikreuzer commented on #1632
Correct, actually the rule editor is my main use case for requesting this feature.

[2016-06-08 21:07] ollie-dev commented on #1599
The television icons are still not fully ok - there is a typo in the name "televison-off.svg" and "televison-off.png".

[2016-06-08 23:11] kaikreuzer commented on #1633
I would tend to say yes, this looks like a remainder from older setups that should be removed!

[2016-06-09 07:45] maggu2810 opened #1641 "Automation: multiple triggers"
I don't know if my understanding of the rule engine is correct.

If I add two trigger to a rule, I assume it is executed
* if the first trigger matches
* if the second trigger matches

Is this correct?

I add two item state changed event trigger to a rule, one for ITEM_SWITCH_0 and one for ITEM_SWITCH_1.
The rule is only triggered for one of both.

@danchom, @marinmitev: Is this a bug or is my und

[2016-06-09 07:53] #1605 closed

[2016-06-09 08:09] s-simma opened #1642 "Sonos does not work any more"
I do the openhab2 configuration by use of text-editor. My configuration worked fine with
earlier snapshots. With the latest one my Sonos does not work any more.

What does work:
---------------
1. Remove Player configuration from "demo.things"
2. PaperUI -> Inbox -> Search for Sonos
3. Add a found player as Thing (RINCON_000E5851B1C401400)
4. PaperUI -> Control
5. Change Volume,Play/Pause -> ok
6.

[2016-06-09 08:34] maggu2810 commented on #1641
The rule looks like:

[code]

The function "internalCreate" of "GenericEventTriggerHandler" looks if there is already a handler for "ruleUID + module.getId()". A new one is only created if there is no one.
The module.getId() returns the ID of the module itself, but not the ID that is used in the rule  (not trigger_1 or trigger_2 but itemStateChangeTriggerID).
So there will not be two handlers crea

[2016-06-09 08:38] maggu2810 commented on #1641
The ID of the children of CompositeTriggerType (of all composite types) needs to be unique.

[2016-06-09 08:58] kaikreuzer commented on #1642
Please see https://github.com/eclipse/smarthome/blob/master/extensions/binding/org.eclipse.smarthome.binding.sonos/README.md#supported-things

There is no thing type "sonos:zoneplayer" anymore, instead you have to e.g. define a "sonos:PLAY1". This should make it all work for you again, please confirm.

[2016-06-09 09:53] #1633 closed

[2016-06-09 09:57] s-simma commented on #1642
@kaikreuzer
thanks for info. Now Sonos works as it did before.

[2016-06-09 10:10] danchom commented on #1641
Hi Markus,
1) Your understanding is not right. Each one of the triggers can trigger the rule. There is OR relation between triggers. Your use case is close to CEP (complex event processing) which is not supported by the Automation module. May be you can implement it with condition, where the state of one switch will be get from the system (through the ScriptCondition) when the other triggers the r

[2016-06-09 10:15] kaikreuzer commented on #1642
perfect!

[2016-06-09 10:15] #1642 closed

[2016-06-09 11:04] maggu2810 commented on #1641
1) This is what I mean :wink: Perhaps my spelling was wrong.

I think my example is rather simple and easy to reproduce.

* Create two switch items
* Create a rule with two composite triggers of the same type, e.g. the ESH "ItemStateChangeTrigger" (https://github.com/eclipse/smarthome/blob/90e1804/bundles/automation/org.eclipse.smarthome.automation.module.core/ESH-INF/automation/moduletypes/EventT

[2016-06-09 11:28] rtvb commented on #1599
I will submit a PR

Op Wo jun 8 2016, om 23:07 schreef Ollie:

Links:

  1. https://github.com/eclipse/smarthome/issues/1599#issuecomment-224728105
  2. https://github.com/notifications/unsubscribe/AAiI8jesDENd3DfAfEEmrygKPckem944ks5qJy8VgaJpZM4Is0h9

[2016-06-09 11:55] #1632 closed

[2016-06-09 12:25] #1559 closed

[2016-06-09 13:25] maggu2810 opened #1646 "Paper UI: filterCriteria broken"
After using #1643 I cannot use the Paper UI to instance my rule templates anymore.
The templates are using the filterCriteria configuration.

Here a very simple template to reproduce the error.

[code]

Using this in the ESH Eclipse IDE (the default demo setup), I can choose the one switch item for the output. But I do not see any item for the input.

[2016-06-09 13:27] #1592 closed

[2016-06-09 13:57] rtvb opened #1647 "UI and accessibility"
UI's, including icons, should be created with [accessibility](https://en.wikipedia.org/wiki/Accessibility) in mind.

In issue https://github.com/eclipse/smarthome/issues/1614#issuecomment-223986194 @digitaldan refers to using green and red icons being an issue for the color blind among us. I think he has a strong point and created this issue as a placeholder for future discussion.

[2016-06-09 14:06] kaikreuzer commented on #1641
Sounds very much like a bug to me.

[2016-06-09 15:08] tavalin opened #1649 "Automation: one off time based triggers"
I couldn't find a way to create a one-off trigger. e.g. turn off the light in _x_ minutes from now.

Is this/will this be supported?

[2016-06-09 15:15] maggu2810 commented on #1649
There is currently no out-of-the-box solution -- at least, I don't know.
You could create a (dsl) rule that starts a timer and turn the light of if the timer is shot.

[2016-06-09 17:45] lolodomo commented on #1633
I can confirm that commenting this line in runtime/etc/servies.cfg solved the issue.

[2016-06-09 18:21] dynostatic opened #1650 "Random "Variable cannot be initialized with value" During Startup"
I'm experiencing random variable initialization errors in some of my rule files during startup. Sometimes the variables are initialized without issue, but then fail on a restart with no rule or config changes made in between. The problem seems limited to complex values using HashMap / LinkedHashMap.

[code]
I loaded the rules in the latest designer snapshot, and it didn't indicate any syntax error

[2016-06-09 21:47] kaikreuzer commented on #1633
Great, thanks for the feedback!

[2016-06-09 21:52] tavalin opened #1651 "Automation: missing handler after restart"
I seem to have run into an issue whereby after creating a rule and restarting, it fails to restore the rule properly.  The rule looks as follows after the restart:

[code]

To resolve this I have to go into edit mode on the rule and then OK the rule to update/fix.

[2016-06-09 21:53] lolodomo commented on #1633
If I want to force a default sitemap inside my config files and avoid using Paper UI, I assume I can just use this line but can I put it somewhere in conf/services directory ? In addons.cfg file for example ?

[2016-06-09 21:56] kaikreuzer commented on #1633
The best file to add this line in OH2 would probably conf/services/runtime.cfg.

[2016-06-09 21:58] lolodomo commented on #1633
OK thank you for the advice and the fix.

[2016-06-10 00:17] mohsh86 commented on #1575
I have a similar issue, running latest OH2 snapshot on RPI3.

Dispatching event to subscriber 'org.eclipse.smarthome.core.internal.items.ItemUpdater@1879618' takes more than 5000ms

One of the rules i defined has a 7 iteration loop for electricity bill calculation (performed up on 2 ArrayLists of type int

The messages appears once i update the rule file containing the loop (even if just adding co

[2016-06-10 09:39] tavalin commented on #1649
Thanks @maggu2810. I was asking in the context of the new automation engine as I'd like to move away from the DSL.  In fact I think this type of thing would be difficult to do with the DSL without creating proxy items.

Having seen one of @kaikreuzer's recent presentations I was hoping to use the rule template to create a generic 'do _something_ in _some time period_' where you give it the number

[2016-06-10 10:01] maggu2810 commented on #1649
If you implement your own ModuleHandlerFactory and custom Modules I am sure that this could be done. I recently started writing my custom implementations of handler factory, action, trigger, template etc.

But I assume for such stuff a general concept should be designed because there could be others interested, too.

[2016-06-10 11:10] danchom commented on #1651
Sorry, but what is the problem with this rule? If you mean that it has additional statusInfo and enable state - they are available only in rest responses not in the rule itself. It is done for convenience to get these three peace of information with one rest call.

[2016-06-10 11:13] danchom commented on #1641
Ok I understand now.I'll check it

[2016-06-10 11:22] maggu2810 commented on #1651
@danchom
Reading the topic of this issue and the posted rule I assume it is about the status itself.

* Missing handler  'ItemStateChangeTrigger' for module 'trigger_1'
* Missing handler  'ItemStateCondition' for module 'condition_2'
* Missing handler  'ItemPostCommandAction' for module 'action_3'
[code]

@tavalin Has the handler been available before? Is the handler really missing? Have you chang

[2016-06-10 11:53] tavalin commented on #1651
@danchom @maggu2810

From a user point of view the problem is simple: I created a rule which worked OK but after I restarted the runtime (OH2 in my instance) the rule did not work which I assume is due to the "missing handler" message.  The action taken to 'fix' the rule was to put the rule into edit mode and confirm (without actually changing anyting).

[2016-06-10 12:03] rtvb opened #1653 "[Sonos] Music not resuming after notification"
When music is playing and a notification is sent, the music does not continue after the notification has finished.

Logfile:
http://pastebin.com/jkckE9cU

(It looks like some XML parsing issue)

[2016-06-10 17:39] lolodomo commented on #1575
An additional point that could be interesting. I tried to start OH2 without any rules. When OH2 is well started, then I put my rules file in conf/rules. At this point, I got the same logs.
So that means the warnings do not depend on the full starting process but clearly only depends on the rules initial loading.
That would mean that the problem should be easily reproducable on any RPI2.

[2016-06-11 18:04] joergkling commented on #1616
I assume this issue can be linked with #673 or #1652.

[2016-06-12 09:13] kaikreuzer commented on #1653
@kgoderis & @R-Edelhoff Could one of you comment on this?

[2016-06-12 09:28] lolodomo commented on #575
@mgf909 : isn't this kind of nginx setup http://docs.openhab.org/configuration/jetty.html a valid setup ?
It is what I have setup with an additional authentication.

[2016-06-12 09:31] kaikreuzer commented on #922
@tomhoefer As @marinmitev points out in https://github.com/eclipse/smarthome/issues/922#issuecomment-180346717, underscores are not a valid character for URIs, so you are hence doing it wrong, which needs to be fixed. Is your code not using the constructor of URI? If it does, it should also fail with an exception.

[2016-06-12 09:37] kaikreuzer commented on #575
@mgf909 No news from me, I also doubt that I will have time to work on this any time soon.
If it is important for you, please either look into solving it yourself or find somebody else willing to do so!

[2016-06-12 09:51] kaikreuzer opened #1654 "Provide access to Thing status in textual (DSL) rules"
In rules it is often desirable to access the status of a Thing - currently, this information is not yet available.
We should add a function to access this information within the (old) Xtext DSL rules.

[2016-06-12 10:13] lolodomo opened #1655 "openHAB exposed to mDNS only on IP v6"
It looks like openHAB is exposed only on one interface.
My RPI2 has a IP v4 interface and a IP v6 interface.
[code]
On my Android tablet, I installed an application that browse domains and openHAB is not discovered, probably because the tablet uses only a IP v4.

[2016-06-12 10:17] lolodomo commented on #1655
It probably have a link with #577

[2016-06-12 11:00] kgoderis commented on #1653
This issue has the same root cause as  https://github.com/eclipse/smarthome/issues/1600

[2016-06-12 13:30] xsnrg commented on #1442
designer still is not working for me.  I am trying .9 now, so will open a new ticket

[2016-06-12 13:32] xsnrg opened #1656 "Designer 0.9.0 will not start"
Start up log attached.

[designer.txt](https://github.com/eclipse/smarthome/files/310786/designer.txt)

[2016-06-12 15:46] rtvb commented on #1653
After creating the issue, I noticed that I had 2 Sonos things: an old one through discovery and the used one from my `.things` file. I deleted the first/old one and restarted OH2. That has helped a little (gut feeling). I still get xml parsing errors.

[2016-06-12 15:51] rtvb commented on #1653
Something else I have noticed is, that it matters what file I present. I use as `.wav` file that has been build in different ways.

For example:

1. Directly from say command:

    $ say -o start.wav --dataformat=LEF32@32000 'openHAB started'

2. Through Audacity

    $ say -o start.aiff 'openHAB started'

That `.aiff` file is than run through Audacity and exported as "Microsoft signed 16 bit WAV"

[2016-06-12 15:56] maggu2810 commented on #1656
I tried it myself a few days ago and it worked.
Have done it now again: `products/org.eclipse.smarthome.designer.product/target/products/org.eclipse.smarthome.designer.product/linux/gtk/x86_64/SmartHome-Designer`

[code]

[2016-06-12 17:43] MHerbst opened #1657 "Paper UI does not work with Edge browser under Windows 10"
I have tried to use the Paper UI with the Microsoft Edge browser under Windows 10. But it does not work at all:

![paperui_edge](https://cloud.githubusercontent.com/assets/616792/15992796/782912ae-30d5-11e6-8d5b-5214fcf77f6d.PNG)

There were also lots of error message displayed in the developer console. I think that this is the reason while Paper UI does not work:

[code]

BTW: Basic UI, Classic U

[2016-06-12 21:06] maggu2810 commented on #1657
The EventSource is necessary for the Events and used by the PaperUI.
https://github.com/eclipse/smarthome/blob/master/docs/documentation/features/rest.md#server-sent-events-sse

It seems that is not supported by the Microsoft Web Browser: http://www.w3schools.com/html/html5_serversentevents.asp

[2016-06-13 06:26] afuechsel commented on #1616
#1652 replaces #673 but is meant to introduce generic thing types. So the mentioned Osram bulb should be supported out-of-the-box with the new thing-type _hue:color-temperature-light_. Unfortunately there is still some "special-handling" for Osram Par16 50 in the code, we should check, if this is really necessary and hopefully get rid of it.

[2016-06-13 06:56] lolodomo commented on #1655
Can someone help me to identify the class implementing this feature ?

[2016-06-13 07:15] maggu2810 commented on #1655
I assume this is really the same as #577.
The mDNS Service needs some work. Interfaces that are not up on startup are completely not used etc.
You need to have a look at org.eclipse.smarthome.io.transport.mdns
I think there are more classes involved.
See my comment here:
https://github.com/eclipse/smarthome/issues/577#issuecomment-219017195

[2016-06-13 08:18] joergkling commented on #1616
As far as I know, the Osram stuff is needed because with standard HUE commands they wouldn't switch of properly (stay on a minimal dimm level). However, since the intoduction of the fix there have been new software versions for the Osram bulbs, so there is a chance that the workaround is not needed anymore. Also I wonder if it is the Par16 bulb only which needs this fix or other Osram bulbs as wel

[2016-06-13 08:37] adimova commented on #1527
Solved with #1607

[2016-06-13 08:37] #1527 closed

[2016-06-13 09:13] maggu2810 opened #1658 "Refresh command on item linkage / creation"
I an item is created its state is null until an update is triggered.
For items that are linked to a channel I think it would be possible to send a refresh command to the channel.
A binding that receives the refresh command for a channel could (if it is possible) trigger a state update.

For channels that are updated very rarely we could avoid items with state null if it is possible for the binding

[2016-06-13 10:01] kaikreuzer commented on #1656
also works for me on MacOS.

[2016-06-13 10:20] tomhoefer commented on #922
According to chapter 2.3 of RFC 2396 the underscore belong to the unreserved characters that are allowed in URIs

Furthermore there is also no problem to execute the following simple main operation:

[code]
Maybe I still don´t get the issue....

[2016-06-13 10:24] tomhoefer commented on #922
Ok... I see the problem now....

[2016-06-13 10:43] danchom commented on #1651
@tavalin you are correct your rule is not executing due to the missing handler. The rules have states, when the state is a not initialized, this means that the rule engine can't find some of the handlers needed by the modules of the rule. When all the modules of the rule have associated handlers then the rule does into IDLE state and it can be executed by the rule engine. The OSGi is dynamic envir

[2016-06-13 10:45] adimova commented on #922
I made changes in the way I construct the keys for localization that fixes the problem for automation module

[2016-06-13 10:58] tomhoefer commented on #922
The problem is the underscore in the scheme.... So

[code]

cannot be parsed. Is it possible to exchange / replace the underscore in the module type ID?

[2016-06-13 11:09] adimova commented on #922
This was my first proposition but Kai regect it, so I changed the way to construct the keys.  They are now:
module-type.{moduleTypeUID}.label;
module-type.{moduleTypeUID}.description;
module-type.input.{moduleTypeUID}.name.{InputName}.label;
module-type.input.{moduleTypeUID}.name.{InputName}.description;
module-type.output.{moduleTypeUID}.name.{OutputName}.label;
module-type.output.{moduleTypeUID}

[2016-06-13 11:47] tomhoefer commented on #922
your change fixes the URISyntaxException, correct?

[2016-06-13 11:49] kaikreuzer commented on #922
I am very confused now. @adimova, where did you ever have an underscore within the URI scheme? Can you give a concrete example?

[2016-06-13 11:56] adimova commented on #922
yes, now Module Type UIDs participate only to the Scheme Specific Part and can contain "_"

[2016-06-13 12:17] adimova commented on #922
in the first way the constructed URI was module-type.ItemStateEvent_ON_Condition:param and the scheme was "module-type.ItemStateEvent_ON_Condition" and Scheme Specific Part - "param", now the URI will be "module-type:ItemStateEvent_ON_Condition.name" where the scheme will be "module-type" and the Scheme Specific Part - "ItemStateEvent_ON_Condition.name"

[2016-06-13 12:20] kaikreuzer commented on #922
Ok, so the "first way" never made sense, as the scheme should only be the entity type as it is given in https://www.eclipse.org/smarthome/documentation/development/bindings/xml-reference.html#xml-structure-for-configuration-descriptions.
So there is no issue after all about underscores. Sorry @tomhoefer to have you bothered with that!

[2016-06-13 12:41] kaikreuzer commented on #1655
Let's close this as a duplicate.

[2016-06-13 12:41] #1655 closed

[2016-06-13 14:43] kaikreuzer commented on #1658
This looks like a duplicate of what I did in https://github.com/eclipse/smarthome/pull/212 and which has been rejected at that time and the `channelLinked()` method had been added instead. What we can do is to have a default implementation in BaseThingHandler sending a REFRESH command to the handler.

Or do you ask for something different?

[2016-06-13 16:00] maggu2810 commented on #1550
Steps to reproduce the problem: https://github.com/eclipse/smarthome/pull/1661#issuecomment-225625971

[2016-06-13 16:15] kaikreuzer commented on #1550
Ok, you are right. I actually misunderstood #1419 - my expectation was that the XMLThingTypeProvider is also only added once all xmls are processed. Instead it is registered and provides an empty result list, which is then silently filled later on. So my fix indeed misses the point here. :-(
As I won't be able to come up with anything more clever tonight, I suggest to release 0.8.0 as is - there i

[2016-06-13 16:15] kaikreuzer commented on #1550
Sorry, I meant to close the PR, not the issue.

[2016-06-13 16:17] maggu2810 commented on #1658
Sorry, I missed that function.

Use case and current behavior:
* a thing handler manages a thing for a real device it receives updates and can request the current state
* a thing handler receives some input from the real devices
* the thing handler calls `updateState(CHANNEL_ID, value)`
* the Paper UI is used to link a newly created item with the channel
* current behaviour: the state of the item

[2016-06-13 16:22] maggu2810 commented on #1646
@aounhaider1 Have you seen this one?

[2016-06-13 16:46] tavalin commented on #1651
I've restarted OH2 and the rule is still missing the handlers, i.e. not working.  I've also checked the bundles and they all appear to be active.

[code]

[2016-06-13 17:01] aounhaider1 commented on #1646
Yes, there is a problem in current implementation. I worked on it but it still needs some time. I will update this pull request latest by tomorrow.

[2016-06-13 17:19] kaikreuzer opened #1662 "Eclipse Installer for SmartHome IDE does not work with Neon"
When choosing "Product Version: Neon" in the Eclipse Installer, the setup fails with this message:

[code]
As Neon is about to be released on June 22, this needs to be fixed soon.

[2016-06-13 17:22] maggu2810 commented on #1662
I am using the ESH Setup already (for a few weeks) with the Neon RC, it is just the Groovy repo that needs to be changed to 4.6 in the setup file.

[2016-06-13 17:24] kaikreuzer commented on #1662
Will Mars also still work with the new Groovy repo?

[2016-06-13 17:29] maggu2810 commented on #1662
I don't know.
For Mars and the Groovy integration you could be interested in this bug: https://github.com/groovy/groovy-eclipse/issues/181

[2016-06-13 17:34] lolodomo commented on #1655
After searching and studying the source code, I understand now that it is not exactly the same error but the root cause is the same.
The feature I mention in this issue is implemented by service MDNSAnnouncer which references the service MDNSService. The problem is in service MDNSService.

[2016-06-13 17:35] kaikreuzer commented on #1655
So shall I reopen this issue, because there are different fixes required?

[2016-06-13 17:42] maggu2810 commented on #1655
I assume both fixed needs the same base implementation to get notified for interfaces that receives a new IP addresses.

[2016-06-13 18:00] lolodomo commented on #577
Ok, I studied the source code and that is clear for me what needs to be changed.
 I would suggest a slightly different approach for the fix that would require no change of cardinality in OSGI service declaration. My proposal is to change only the interface MDNSClient replacing "public JmDNS getClient();" by "public Set<JmDNS> getClientNetInterfaces();"
In class MDNSClientImpl, I will create a set

[2016-06-13 18:41] maggu2810 commented on #577
If I understand what you want to do, I think it does not solve the problem at all.

If you start the runtime with no assigned IP address to your network interfaces no registration will be done. If your interfaces reveices an IP address later, no registration is done.
Also if the IP address of one network interface change, no new registration is done.

I have not such a deepen look at the code, so

[2016-06-13 18:47] lolodomo commented on #577
Another option would be to have two mdnsclient services, one for IP v4 and one for IP v6. So in this case, we will have to handle a cardinality 1..n.
MDNSClientImpl would be replaced by MDNSIPV4ClientImpl and MDNSIPV6ClientImpl
mdnsclient.xml would be replaced by mdnsipv4client.xml and mdnsipv6client.xml.
If there is no IP v6 interface for example, MDNSIPV6ClientImpl.getClient will return null.
@m

[2016-06-13 18:58] lolodomo commented on #577
@maggu2810 : what you are refering to is another case where OH could be started before network interfaces are setup. Can this really happen in real life ?!
What I try to solve now is not this problem. Even when all network interfaces are setup on my server, openHAB creates just one unique instance of jmDns without specifying the network IP. So jmDns chooses automatically one network interface. The

[2016-06-13 19:12] lolodomo commented on #577
By the way, if we choose my first implementation, one unique service MDNSClient managing a set of jmDns instances, what you request could be easily implemented by just adding a cyclic thread running a check of network interfaces and updating the set of jmDns.
So I will do that if OK for everybody.

[2016-06-13 19:49] lolodomo commented on #1655
Yes I think one correction should fix the 2 issues at the same time.
Keep this one closed.
I will reference the 2 issues in my future PR.

[2016-06-13 23:09] weswitt commented on #1575
Sorry if this is bad form to comment after this is closed. I agree that this is an OH2 startup issue and not specific to MQTT. So is there an issue tracking the startup problems and will it be fixed anytime soon?

[2016-06-14 05:47] maggu2810 commented on #577
Sure, if I power off my router and my embedded devices, the embedded devices running an ESH based solution are up before the router assignes an IP address. The IP address is assigned if the router is up and it can be after the ESH solution is started.
Or think about a wireless connection that is little unstable.
Put your machine to another network (you change the IP range from e.g. 192.168.1.x to

[2016-06-14 08:12] phxql commented on #1043
Hey, I'm currently working on the triggers. My proposal:

* Create a new class `TriggerChannel` which has a `TriggerChannelUID`
* Create a new enum `TriggerEventType` with values `PRESSED`, `RELEASED`, `LONGPRESS_RELEASED`.
* Create a new class `TriggerEvent` which has fields `TriggerEventType`
* Add a new method in the `BaseThingHandler` called `emitTriggerEvent(TriggerChannelUID, TriggerEvent)`

[2016-06-14 08:51] cdjackson commented on #1043
I have a few suggestions to see if it can be better aligned with ZWave...  There are two things here - more possible triggers -:

* Double press
* Tripple press

There might be others, but I think these two should be standardised at least since they seem like they should be needed in many bindings/devices (definately ZWave)...

The other issue is timing. Currently in ZWave scene triggers, they pro

[2016-06-14 09:04] kaikreuzer opened #1665 "Add possibility to specify dayOfWeek in configurations"
A regular use case for rules is to choose the days of the week (i.e. only weekdays, not weekend).
We are lacking a suitable context in the config descriptions.

My suggestion is to add a new context "dayOfWeek", which will then make the Paper UI render a selection of one of the 7 days. If the config parameter is "multiple=true", it should render checkboxes, where multiple days can be chosen. The e

[2016-06-14 09:20] marcelrv opened #1666 "[NTP] timezone seems not considered"
From https://community.openhab.org/t/ntp-time-zone-problem-and-time-sinchronization/11569

I just upgraded OH to Beta3 and it has some strange behavior.

-OH2 running on a Raspberry Pi
OS configured with correct local time (For example 16:00) (UTC+2)

-My NTP thing is correctly configured (I also tried with different configurations such Europe/Berlin)
hostname: 0.pool.ntp.org
Timezone: Europe/Madr

[2016-06-14 10:42] phxql commented on #1043
The `properties` will be a map from String -> Object?

[2016-06-14 11:12] cdjackson commented on #1043
Yes, that was my thought anyway. Maybe there's a better solution, but this would be consistent with other 'properties' within ESH.

[2016-06-14 11:48] #1576 closed

[2016-06-14 13:54] aounhaider1 commented on #1557
Should same behaviour be applied when a thing is approved from inbox?

[2016-06-14 14:21] sja opened #1669 "Designer URLs dead"
I cannot download the nightly builds of the Designer. All links seem to be dead.
Example:
`http://eclipse.org/downloads/download.php?file=/smarthome/nightly-snapshots/eclipsesmarthome-incubation-0.9.0-SNAPSHOT-designer-macosx64.zip`

I don't know how to fix this. I tried it for some days and different times of the day.

[2016-06-14 14:36] maggu2810 commented on #1669
Please retry...

[2016-06-14 14:37] sja commented on #1669
Amazingly fast, @maggu2810 ! What was the problem?

[2016-06-14 14:37] #1669 closed

[2016-06-14 14:42] maggu2810 commented on #1669
I just started the publish nightly job again.
The previous job succeeded, too.
Don't know why the zip files have not been available.

[2016-06-14 14:45] R-Edelhoff commented on #1631
Yes i can reproduce the issue with following steps:
- Sonos player will be paired while reachable in network -> State of created thing is ONLINE
- Restart the runtime and disconnect the Sonos device afterwards
- When the runtime is back again the state of the thing is still ONLINE

The rootcause for this issue is that the polling runnable (where the thing state is periodically updated)
will not be

[2016-06-14 14:51] weswitt opened #1670 "RuleEngineImpl.runStartupRules masks errors"
If an arbitrary exception is thrown during the execution of a startup rule the details of the exception are not logged, leaving the user mystified as to what actually happened.

Here is the current code:

                } catch (ScriptExecutionException e) {
                    if (!e.getMessage().contains("cannot be resolved to an item or type")) {
                        logger.error("Error dur

[2016-06-14 17:18] #1646 closed

[2016-06-14 17:20] maggu2810 commented on #1557
:+1:

[2016-06-14 17:58] lolodomo commented on #577
Considering @maggu2810 's acceptable request to have something dynamic that evolves with network interfaces appearing or disappearing with the time, I think the clean solution is to have as many MDNSClient services as there are network interfaces ON at a certain time. That would require to have services with a dynamic reference to 0..n MDNSClient services and so the fix requires someone with a goo

[2016-06-14 18:48] sja opened #1674 "Designer cannot open Projects/Folders"
Ok, I can start the Desginer (OS X), but if I try to open the conf-folder, I get the following error:

    An error occurred while opening the configuration folder
          Resource '/config' is not open.

[Screenshot](https://www.dropbox.com/s/ovc6iannbdz3y71/Screenshot%202016-06-14%2020.45.32.png?dl=0)

The same project can be opened with the old Designer.

[2016-06-14 19:29] kaikreuzer commented on #1674
Try a clean designer install or manually delete the workspace folder, which has been created within the .app folder.

[2016-06-14 19:45] #1631 closed

[2016-06-14 19:55] dynostatic commented on #1650
I've been searching around in other discussions for something related, and I'm pretty sure these errors are directly related to the xtext upgrade discussed in #1393. The same vars never had a problem until then.

[2016-06-15 02:20] xsnrg commented on #1656
Closing.  It appears to have been a problem on my end where an older .ini file was not compatible.  The solution was to remove everything and start fresh.  It works. Thanks!

[2016-06-15 02:20] #1656 closed

[2016-06-15 06:02] kgoderis opened #1675 "Rules : Access restriction: The type UnDefType is not accessible due to restriction on required project config"
This happens on declaring

`import org.eclipse.smarthome.core.types.UnDefType
`
in a .rules file

I use this in clauses like

`if(TeslaScheduledDeparture.state == UnDefType.UNDEF || TeslaScheduledDeparture.state == UnDefType.NULL) { ...}`

Is there an alternative to checking the .state of an Item?

[2016-06-15 07:42] sja commented on #1674
I do always clean installs. After downloading I replace the App in /Applications and this contains the workspace.

I deleted this workspace, but nothing changes. The startup take a lot of time (1-2 Minutes). All fat Eclipse installations I have are up in <20 seconds.

I walked through the settings of the Designer and noticed, that on all ESH specific menu entries, like 'Sitemap' or 'Rules', which

[2016-06-15 08:37] maggu2810 commented on #1670
I am fine with that change, but perhaps there has been some reasons of the filter.
Can you create a PR?
I think we can omit the creation of an Object array and using the variable arguments function.

[2016-06-15 08:38] maggu2810 commented on #1674
I will give it a try.

[2016-06-15 08:44] maggu2810 commented on #1674
No probs here, see log: https://gist.github.com/maggu2810/4cf2bf1d5d1799e67d1a6d7952ad0ff7

[2016-06-15 08:48] sja commented on #1674
Hm, strange. How do you get those logs? Are there any files in $HOME which are accessed which I can delete?

[2016-06-15 08:52] maggu2810 commented on #1674
The log is written to the stdout. I don't know if there is an additional one.
I started the Designer using the command line and there has the messages been written to.

[2016-06-15 11:28] #1530 closed

[2016-06-15 11:39] maggu2810 commented on #1393
This issue gets very long now.

A different behaviour between ESH + the ESH based solutions (e.g. openHAB) and OH1 is perhaps more related to the https://github.com/openhab/openhab-docs/ project.

The bugs that could be solved / found by the Designer are obsolete, too.

WDYT if we close this one and create separate ones, that needs to be fixed?

I added a label "Rule" which we can use to tag that

[2016-06-15 11:51] maggu2810 commented on #577
I googled a little bit and found the NetworkElement class by Cisco that provides e.g.:
* addInterfaceAddressChangeListener
* addInterfaceStateListener
https://developer.cisco.com/media/onePKJavaAPI/com/cisco/onep/element/NetworkElement.html

Does someone know a Java library that provides such a network interface "inspector"?

[2016-06-15 11:55] maggu2810 commented on #1665
Should this be evaluated by the module handler and break the rule execution is the current day of week does not fit to the configuration in the rule?

[2016-06-15 11:55] maggu2810 commented on #1658
@kaikreuzer ping :wink:

[2016-06-15 11:56] maggu2810 commented on #1604
Implemented by: #1664

[2016-06-15 11:56] #1604 closed

[2016-06-15 12:17] kaikreuzer commented on #1665
Well, this is not specifically about rules, but a requested feature for config descriptions.
It then depends on the service, which is using this in its config on how it will handle it.
I envision a Condition-Module, which will simply evaluate in "false", if the current day of week is not within the configured list. Does this make sense?

[2016-06-15 12:23] maggu2810 commented on #1665
A condition module that simply evaluates to false if it is the wrong date / time make really sense.

But why not using a condition that has (multiple) cron syntax in its configuration?
Sure, it is not such simple for the user, but that is something that could be solved by the UI that generates the correct one if "only on Monday" is chosen.
But we can handle a lot of date / time configuration with

[2016-06-15 12:24] kaikreuzer commented on #1658
A link indeed only makes sense if the item already exists.
With the new ChannelItemProvider, this should always be the case, because it specifically provides bindings for all links for which there is no other dedicated item.

I cannot rule out though, that the channelLinked() is called before the item is REALLY available (und thus receives the state update) - but if this doesn't always work, I wou

[2016-06-15 13:19] maggu2810 opened #1676 "Paper UI: unlink not working anymore (Firefox)"
The unlinking does not work anymore.

[code]

The missing event has already been discussed here: #1570

I am rather sure, that the item linking and unlinking has been working in the Firefox weeks ago, so I assume this is a regression.

[2016-06-15 13:27] maggu2810 commented on #1676
Okay, it could also be caused by a Firefox update :wink:

[2016-06-15 13:39] maggu2810 commented on #1676
Hm, perhaps something is wrong on my setup. Using "gulp serve --development" it is working now...
Will reopen if I can reproduce it.

[2016-06-15 13:39] #1676 closed

[2016-06-15 17:00] dynostatic commented on #1650
I tried explicitly casting all of the map members (which the designer correctly flagged as redundant).

[code]
Now same problem, just a slightly different error. Eight restarts were fine, and then it failed.

[code]

[2016-06-15 18:33] rtvb commented on #1043
@kaikreuzer mentioned this issue in a Community thread about [Simulation of Astro events](https://community.openhab.org/t/simulate-astrobinding-events-in-oh-2/11594/6).

So if these kind of events are to be supported, an event type like **STARTED** or **FINISHED** should be available.

Thinking even further, you might also consider types like PAGEUP, PAGEDOWN, HOME, END etc. Much like a keyboard.

[2016-06-16 07:52] phxql commented on #1043
A keypress on a keyboard could be modelled as `PRESSED` and `RELEASED`, with the keycode stored in the `properties` map.

[2016-06-16 09:12] maggu2810 opened #1681 "Test failure(s): automation.integration.test"
The Hudson instance of the Eclipse SmartHome project fails mutliple times.

| Build Nr.  | Date | Console |
| ------------- | ------------- | ------------- |
| 1116 | 15.06.2016 08:05:39 | [1116-consoleText.txt](https://github.com/eclipse/smarthome/files/318030/1116-consoleText.txt) |
| 1117 | 15.06.2016 13:05:39 | [1117-consoleText.txt](https://github.com/eclipse/smarthome/files/318032/1117-conso

[2016-06-16 09:35] kaikreuzer commented on #1043
@phxql I don't think we should try to come up with an exhaustive list of possible events. Modelling every button on a keyboard/remote control imho does not make sense - instead it should imho be possible to send any kind of String as an event, like it is e.g. done as a ["regular" channel in the Harmony binding](https://github.com/openhab/openhab2-addons/blob/master/addons/binding/org.openhab.bindi

[2016-06-16 10:27] kaikreuzer commented on #1043
@cdjackson I would refrain from adding properties/parameters to those trigger events. After all, we do not have properties on state updates or commands either, so that I would like to keep the concepts as similar as possible. After all, these channels are supposed to be a equivalent to UI control widgets, which also do not send any further properties.

@phxql I am not sure we should introduce new

[2016-06-16 11:25] afuechsel commented on #588
I analyzed this a bit. `updateProperties()` actually updates the properties at least in the hue binding, but code is called more than once and the update is only beeing done because of the special implementation in the hue binding. Explanation:

E.g. the hue binding sets 3 properties in its `HueLightHandler#initialize()` method:

[code]

What happens, is this:

1. updateProperty calls `AbstractMan

[2016-06-16 11:46] kaikreuzer commented on #588
I would ask a more general question: If the method updateProperties() is only called by bindings themselves (I at least could not find any other caller) and when bindings must not assume that properties are persistable: Should they simply assume that a call to this method NEVER persists the changes, but only sets them in memory until the next restart?
All we would have to do is to remove the `this

[2016-06-16 11:49] afuechsel commented on #588
I would agree to @kaikreuzer and create a PR for this change.

[2016-06-16 12:15] kaikreuzer commented on #1665
Well, you would shift the declaration of what kind of configuration should be presented for the user to the UI implementation, completely dismissing the concept of our config descriptions. Note that we already have support for time, day, month, etc., so adding dayOfWeek is a natural addition, which can be used in other situations as well (e.g. a Thing or a service configuration).

[2016-06-16 12:36] kaikreuzer commented on #577
And it will imho stay this way. Afaik, Java has a big problem if you change the local ip address while it is running. Even if we find some libs that can handle that and notify you about it, I am pretty sure that Jetty, upnp, the ssh console, the remote debug port and everything else that uses local TCP sockets will have a problem.

So for this issue here, I would go with @lolodomo's suggestion to

[2016-06-16 12:39] danchom commented on #1681
It is strange because we haven't merged changes more then a week ago. The integration tests are closely related to Items implementation and events fired by them. Are there some majer changes?

[2016-06-16 12:44] maggu2810 commented on #577
I don't see the parallel here. Jetty, ssh console and the remote debug port are listen (TCP) sockets. They listen on a specific IP range. If I am not wrong the userspace don't care about the interface at all, that is managed by the kernel.
So if my Jetty listens on 0.0.0.0 interface can go up and down and change the addresses. It does not care.

Publishing / advertising is another point, this shou

[2016-06-16 12:46] kaikreuzer commented on #577
Ok, if this is the case, forget my remark. Nonetheless, my expectation is that not much will work if I change my ip while keeping openHAB running. But that would need to be tested.
Anyhow, this is not directly related to this issue, is it?

[2016-06-16 12:47] maggu2810 commented on #1681
Have ATM no time to further inspect the logs.
But the error could be caused by bundle resources handling.
Or because the automation tests rely on a special behavior.

[code]

[2016-06-16 12:49] maggu2810 commented on #577
It has been your argument that we have the problem also for other stuff e.g. Jetty. Not mine :wink:

[2016-06-16 12:49] kaikreuzer commented on #1670
Yes, clearly there was. If `getMessage().contains("cannot be resolved to an item or type")`, there simply is no error and thus it must not be logged. The rule engine will simply try to re-run the rule whenever a new item appears.

[2016-06-16 12:52] kaikreuzer commented on #1670
Let me precise this: This situation regularly happens at startup when the rule does not have any problem - and thus no error must be logged. If the rule is buggy, this situation might of course also occur and in that case the error would be swallowed. The debug logging happens in this case, which should be fine when debugging your system.

[2016-06-16 12:54] kaikreuzer commented on #577
But I understood you were asking to solve this issue by dynamically reacting on interface changes. And I now only meant that I would be fine with solving it for the (static) interfaces, which are there at startup.

[2016-06-16 12:56] #588 closed

[2016-06-16 12:56] maggu2810 commented on #577
I am happy if @lolodomo finds the time to solve that for the interfaces that are up on startup.
But I don't think that it is the final solution and we should keep an issue open that is needs some time to be resolved (for dynamically changes), too.
For openHAB it could be fine to state that it does not handle such changes, but for the ESH framework I assume it should be solved some time.

[2016-06-16 12:58] kaikreuzer commented on #577
Yep, fine with that as a second step.

[2016-06-16 13:16] phxql commented on #1043
Okay, so `TriggerEvent` contains a `String` field which denotes the event.

In the XML:

[code]

Something like this?

[2016-06-16 13:17] maggu2810 commented on #588
The merge request has been accepted very fast.

Now I have a question:
I have used the properties in the thing handler to persist stuff (one time assigned addresses -- non-configurable ones). So, I assume this does not work anymore. Correct?

Should a binding always store its information about things in a custom persistent storage with its own cleanup methods etc.?

[2016-06-16 13:34] kaikreuzer commented on #588
Well, the conclusion of this change was already there 26 days ago (https://github.com/eclipse/smarthome/issues/588#issuecomment-220767420).

As discussed in this issue, that meant that your binding made inherent assumptions that the thing existed in the managed provider - imho not a valid assumption.

Correct. While as an easy workaround you can simply do a call to updateThing(getThing()) - but th

[2016-06-16 13:42] kaikreuzer commented on #1575
@weswitt This issue here is still open, not closed.

[2016-06-16 13:48] lsafelix75 commented on #1479
Please implement this feature. My current code has a lot of checking on thing to make sure that bridge has already been created.

Im not sure whether this is a right chatroom. How does this affect Paper UI? As far as i know whenever we convert an inbox item to thing, bridgehandler is not assigned until you manually do it on Things setting. With above suggestion, does mean a thing will only initial

[2016-06-16 13:58] kaikreuzer commented on #1479
Yes, this would be the result. Do you expect any side effects from this? Is there any reason why such a Thing (without an assigned bridge) should already have a handler instance?

[2016-06-16 14:38] maggu2810 commented on #588
Okay, I will store the persistent properties in a custom storage for my bindings.
No prob, but that the change does impact all (not only DSL ones) has been realized by me by the PR.

To be sure to understand the impact:
Properties are now transient for all things, because they are not stored persistent for the DSL ones.
What about configuration?
Can a configuration persisted for the things that ha

[2016-06-16 14:42] maggu2810 commented on #1479
Hi @lsafelix75, I think we already agreed that this should be changed but to the lack of time nobody has implemented this. See https://github.com/eclipse/smarthome/issues/1479#issuecomment-221818491. If you can create a PR for, we all will be happy.

[2016-06-16 14:56] kaikreuzer commented on #1043
Let me have a try. Currently the documentation says
[code]

Let's try to come up with something usable for a few different examples.

Homematic wallbutton:
[code]

Astro sunrise event:
[code]

Leapmotion "circle" gesture event:
[code]

@kgoderis @gerrieg @marcelrv As you are all implementing bindings that need this feature (or are at least impacted by it): Please feel free to join the discussion a

[2016-06-16 15:12] kaikreuzer commented on #588
Same problem. Bindings are not supposed to change the configuration by themselves, such changes should originate from a user.

Before you further ask: Dynamic channels are also not possible for DSL defined Things.
I think we should sooner or later finish the discussion on https://www.eclipse.org/forums/index.php/t/1072808/ and come to a conclusion...

[2016-06-16 17:11] s-simma opened #1685 "Set state of a channel to null"
Is it possible to set the state of e.g. a "CONTACT" from inside a binding to "NULL" or "undefined" ?

updateState(new ChannelUID(getThing().getUID(), CHANNEL_STATE), null); -> thows an exception during runntime.

I can only manage to set it to "OPEN" or "CLOSED".
This would be very helpfull to show that a sensor is no longer sending data (e.g. battery emtpty)

[2016-06-16 17:51] kgoderis commented on #1043
@kaikreuzer Yes, indeed, I have some bindings that could benefit from the concept:
 - KNX; a direct mapping of some KNX Telegrams / DPT can made onto <event><options>, I think
 - Helios; some Helios have a built-in keyboard, and emits a Key_Pressed / Key_Released event, but cfr the discussion on properties of the events, these events emitted by the device contain the value of the key that was pres

[2016-06-16 18:02] maggu2810 commented on #1685
You should use UnDefType.NULL or in this case better UnDefType.UNDEF

[2016-06-16 18:03] kgoderis commented on #588
I am again late to the discussion (/me slap!), but I am ok with the initial change. To me, these transient properties are/should simply stored in the remote devices themselves. As such, they should imo not be persisted by the framework, since we read them out every time the runtime starts.

However, on the dynamic channels: I think the same principle should apply, e.g. it should be possible to dyn

[2016-06-16 18:58] s-simma commented on #1685
thanks for your help, works great.

[2016-06-16 18:58] #1685 closed

[2016-06-16 19:38] kgoderis opened #1686 "NPE : ould not inform the listener 'org.eclipse.smarthome.core.thing.internal.ChannelItemProvider$2@1ba7eb61' about the 'ADDED' event!: null"
Using the latest snapshot, I get a *lot* of these at startup of the runtime:

21:29:16.869 [INFO ] [smarthome.event.ItemAddedEvent      ] - Item 'AtticOutlet2Switch' has been added.
21:29:16.870 [INFO ] [home.event.ItemChannelLinkAddedEvent] - Link 'AtticOutlet2Switch-knx:energyswitch:ip1:AtticOutlet2Switch:switch' has been added.
21:29:16.871 [ERROR] [ore.common.registry.AbstractRegistry] - Could

[2016-06-16 22:19] kgoderis commented on #1686
It seems that the channelTypeUID field of the Channel that is being linked is null. Can anyone point me out what could be wrong with the Thing Type definition here below?

[code]
with the actual application of the definition then being:

[code]

This used to work a few weeks ago, but with the latest snapshot something has changed obviously

[2016-06-17 05:39] danchom commented on #1641
Fixed  by #1641

[2016-06-17 07:27] maggu2810 commented on #588
The discovery service changes the IP configuration of the things.
So, I assume this is a corner case and normally every configuration should be changed by the user.

There are devices that do not store stuff itself but leave it to the application to store it.
But if the properties are not the correct place I will use another one.

Perhaps @kaikreuzer you can give me some tips to do it in the corre

[2016-06-17 07:29] maggu2810 commented on #1641
Fixed by #1683 :wink: (#1641 points to the issue itself and not to the PR).

[2016-06-17 08:06] #1686 closed

[2016-06-17 08:12] maggu2810 commented on #1686
Have you identified the error?

[2016-06-17 08:16] kgoderis opened #1687 "ChannelTypeUID on manually defined channels is not set -> NPE in ChannelItemProvider"
When creating channels manually as in https://github.com/eclipse/smarthome/blob/master/docs/documentation/features/dsl.md#defining-channels, then the ChannelTypeUID of these channels is never set, and consequently, the call to ChannelItemProvider.createItemForLink() fails with an NPE because ChannelTypeRegistry.getChannelType() is getting called with null value parameter

The error thrown looks li

[2016-06-17 09:16] kaikreuzer commented on #1686
What I learn from this is that I missed to switch the openHAB distro to ESH 0.9.0-SNAPSHOT.
This is now done with https://github.com/openhab/openhab-distro/pull/232, so that @kgoderis at least again tests again the latest sources :-)

[2016-06-17 10:16] kaikreuzer commented on #1657
@aounhaider1 Just a question: I vaguely remember that there was some trick (doing SSE through some JS) to still support Paper UI on IE. If this is correct, I would expect a similar thing to be possible for Edge.
If not, we should document this as a known limitation.

[2016-06-17 10:31] kaikreuzer opened #1688 "Allow Switch/Dimmer items to be used for Color/Dimmer channels"
If a channels declares to be linkable to a Color item, it is not possible to link it to Switch or Dimmer items. Likewise a Dimmer channel cannot be linked to a Switch item.

The problem is that in such a case the state updates are always HSB and not automatically converted to the sub-type (i.e. ON/OFF).

There are many problem reports about this:
https://community.openhab.org/t/hue-item-definition

[2016-06-17 10:41] kgoderis commented on #1686
@maggu2810 yep -> https://github.com/eclipse/smarthome/issues/1687
But I will try again cfr 0.9.0

[2016-06-17 12:04] kaikreuzer commented on #1688
Duplicate of https://github.com/eclipse/smarthome/issues/1593

[2016-06-17 12:04] #1688 closed

[2016-06-17 12:58] kaikreuzer commented on #1687
Yes, absolutely!

Which is correct, because no type is declared for them, right? They are simply channels without referencing a type, which is absolutely legal.

So the bug here is the NPE itself, I would say.

[2016-06-17 13:19] svilenvul opened #1689 "Replace multiple HttpClients with Jetty"
The problem is discussed already in the [forum](https://www.eclipse.org/forums/index.php/t/1069192/).
I could not find any opened other close issue about that.
I will paste here some of the posts:

Jochen Hiller wrote on Sat, 08 August 2015 09:30

I struggled over that the Eclipse SmartHome framework and some bindings (from ESH, from openHAB2, ignoring openHAB1 for the moment) are using different

[2016-06-17 13:31] kaikreuzer commented on #588
Yes, this is a corner case, and this one can be sure that the Thing is editable, because it was added through discovery and not manually added.

I think we still have a general issue with the concepts, because the original intention of the configuration is the configuration of the handler, not of the remote device. See e.g. the IP address config parameter of Philips hue: This is the IP address to

[2016-06-17 13:33] kaikreuzer commented on #1689
Thanks for looking into this!

[2016-06-17 14:24] svilenvul commented on #1689
The current state looks like this:

Bundles using Apache HttpClient 3.x (org.apache.commons.httpclient) - 29:
openhab\bundles\action\org.openhab.action.telegram\META-INF\MANIFEST.MF
openhab\bundles\binding\org.openhab.binding.denon\META-INF\MANIFEST.MF
openhab\bundles\binding\org.openhab.binding.ecobee\META-INF\MANIFEST.MF
openhab\bundles\binding\org.openhab.binding.enphaseenergy\META-INF\MANIFEST

[2016-06-17 14:29] kaikreuzer commented on #1689
Please ONLY regard the bundles in smarthome and openhab2-addons repository - for openHAB 1, it is absolutely ok to use something else and openhab-core simply requires this for the compatibility layer.

[2016-06-17 14:31] svilenvul commented on #1689
OK, I was not sure if I can ignore them, I will edit the list then.

[2016-06-17 14:57] kaikreuzer commented on #1638
I don't have any strong opinion on which one to choose, but having a JSON editor in the IDE would indeed be nice.

From the download stats, the json-editor-plugin seems to be the one getting more attention recently.

[2016-06-17 15:12] kaikreuzer opened #1692 "Integer config parameter is stored as decimal"
If a service is configured through the Paper UI (and therefore through the REST API), numbers are sent in JSON always as double, i.e. an integer 1 becomes 1.0.
The REST API then stores this value as a BigDecimal with 1 decimal digit, so that it is not regarded as an integer anymore.

A concrete problem with this behavior is described here: https://community.openhab.org/t/change-homekit-setting-in-

[2016-06-17 15:21] marcelrv commented on #1666
The background of this issue due to the formatter class always using the default time zone for this instance of the Java virtual machine. See also
http://docs.oracle.com/javase/7/docs/api/java/util/Formatter.html

[2016-06-17 15:39] cdjackson commented on #1692
I suspect this is a duplicate of #1477

[2016-06-17 15:49] kaikreuzer commented on #1692
I seem to enter only duplicates today :-/
Thanks for pointing it out!

[2016-06-17 15:49] #1692 closed

[2016-06-17 16:50] kgoderis commented on #1687
@kaikreuzer the problem is still there with 0.9.0

[2016-06-17 16:52] kgoderis commented on #1687
makes me wonder why it did work a few weeks ago.....

the DSL states that the first token in the definition is the accepted Item type for the channel, however, we could easily change that to be a channelTypeID, as defined in the ESH-INF xml, no? That way the problem is solved altogether.

[2016-06-17 18:34] kaikreuzer commented on #1687
Most likely because the ChannelItemProvider didn't exist and hence didn't throw an NPE.

It is right that we currently cannot define channels based on a type in the DSL. But we should imho also keep the current feature where you do not have to have a channel type at all. So we should enhance the DSL in a backward compatible way. Feel free to enter an issue for it and make a proposal about the synt

[2016-06-17 21:49] saerdnaer commented on #1083
I would recommend an WGS84 lat/lon coordinates with floor number as third dimension in one String field. Definition of relations between spatial entities works best with set theory. Define rooms/floors/building als (planar) 3D polygon and you can simply query all things which are inside this area – probably in most cases cubes. I personally would use geodatabase extensions like PostGIS or SpatiaLi

[2016-06-17 22:51] #1687 closed

[2016-06-18 04:09] metbril opened #1694 "Unify geolocation"
Several bindings require a [geolocation](https://en.wikipedia.org/wiki/Geolocation) to work. Some require the system's location (Astro) while others require any (nearby) location (Weather).

Instead of providing the same latitude and longitude (and altitude etc.) over and over again, I was thinking if this could not be set globally once for the entire installation.

I have come up with these optio

[2016-06-18 04:14] rtvb commented on #1694
@kaikreuzer @rkoshak you are invited :)

[2016-06-18 06:42] kgoderis commented on #1689
Miele and Helios are bindings that are still (@kai ahum ;-) ) in a (OH2) PR. ATSAdvanced is a binding that I can not publish due to SDK license constraints

[2016-06-18 06:57] kgoderis commented on #1687
I made suggestion in https://github.com/eclipse/smarthome/pull/1690

[2016-06-18 07:45] maggu2810 commented on #588
IIRC the properties and the configuration has been stored in the same collection in the thing. There is some logic to split the configuration and the properties entries by their name etc. The properties are now transient, wouldn't be it a good time to split the internal holding of the configuration and of the properties, so different collections are used that can't ever be mixed up?

[2016-06-18 08:39] watou commented on #1694
If there were a "structure" or "smarthome" thing type, and these things had configuration and channels for address, lat/long, home/away status, total energy usage and other attributes of a structure, the existing mechanisms in ESH could be used (including all the config UI).  You would just have ESH come with (or just a simple binding) the built-in ability to model a SmartHome Thing itself, and th

[2016-06-18 08:55] lolodomo commented on #1593
When this issue is fixed, issue #866 should be checked again. Probably a very similar problem if not the same.

[2016-06-18 09:03] gerrieg commented on #1043
For the Astro binding, isn't every channel-type with a DateTime item-type (with a value in the future) automatically a trigger without the need for a extra definition?

example:
[code]
rule:
[code]
or rule with an offset, so that the event fires 3 minutes before
[code]

[2016-06-18 09:16] lolodomo commented on #577
OK that is now (almost) working with my patched code.
One question for inet v6 expert: I discovered that I have in fact 2 inet v6 IP for the same interface, one is tagged scope global and the other scope link. Any clear explanation about what it is ? Should I filter the scope link IP ?
I discovered that in the freebox binding, I badly defined the service type. "_fbx-api._tcp*shoul"  be replaced by

[2016-06-18 09:59] lolodomo opened #1695 "Problem with Maven dependencies resolution"
When I try to compile with Maven a particular bundle, I got dependencies issue.
For example, for org.eclipse.smarthome.io.transport.mdns, a command "mvn clean package" ends with:
[code]
If I try to compile from the root point of the project, I think it is working.
I tried to remove my .m2/repository but it changed nothing.

[2016-06-18 10:00] kaikreuzer commented on #1695
Could you try if "mvn clean install" makes a difference?

[2016-06-18 10:05] lolodomo commented on #1695
Same result :(

[2016-06-18 10:06] kaikreuzer commented on #1695
Ah, I didn't read that carefully enough.
When compiling a single bundle, you must have already compiled all its dependencies at least once.
So make sure to run mvn clean install from the repo root once.

[2016-06-18 10:42] kgoderis commented on #1687
@kaikreuzer @maggu2810 Pls re-open this issue, as the fix generates a lot of

`Item 'abcd' has been removed. ` messages. It seems that Items are added, the links are created, and subsequently, the created Items are removed again for some reason.

[2016-06-18 10:51] kgoderis opened #1696 "BaseThingHandler.channelLinked() should be empty"
The default implementation

[code]

break all existing bindings/handler implementations. That being said, should it not rather be an abstract method, and leave it to the implementing Handler how to deal with newly linked channels?

[2016-06-18 11:19] kgoderis commented on #1687
Ok - Pls neglect the previous comment, and I now understand how the ChannelItemProvider is built. However, the fact that the message in the logs make it a  bit confusing from a end-user point of view. Maybe some additional logging code in ChannelItemProvider would be helpful to get around this.

[2016-06-18 12:58] lolodomo commented on #1695
Ok thank yo. After a full compilation, now I can compile a particular bundle.

[2016-06-18 12:58] #1695 closed

[2016-06-18 16:56] lsafelix75 opened #1697 "thing.config() always return default values in ESH-INF?"
Hi,

No matter how i change on xxxx.things file in openhab2, whenever i call this.getconfig() it always return me the default values in ESH-INF after the thing is initialized(). If i want to get the values of xxxx.things, which method call should I use? Or this is a bug?

E.g in the XML file:
<parameter name="refreshInterval" type="integer" required="false">
                <label>Refresh Time (se

[2016-06-18 17:22] #1697 closed

[2016-06-18 21:48] cdjackson opened #1698 "Missing channels stop a binding from starting"
If thing XML files for a binding contain a channel ID that doesn't exist, then there is no useful error and the binding will not start. The error that's logged is provided below, and it's extremely difficult to work out where the error lies in a large binding like ZWave.

It would be more useful to provide an error that allowed this to be debugged, such as logging the name of the missing channel.

[2016-06-19 09:23] cdjackson commented on #1698
Actually, in addition to improving the logging, I would suggest that only things with missing channels are rejected, and the binding should then be started.

[2016-06-19 14:50] MHerbst opened #1699 "Bridge configuration does not show all options in PaperUI"
The bridge configuration for Homematic contains configuration options for "gatewayAddress" and "callbackHost". Both entries are not visible in the PaperUI configuration:
![homematicbridge](https://cloud.githubusercontent.com/assets/616792/16178002/329f6644-363d-11e6-9851-78852fa6c348.png)
This problem seems to be caused by the configuration in `ESH-INF/config/thing/bridge.xml`. Both settings conta

[2016-06-19 15:01] MHerbst opened #1700 "Loop(?) in PaperUI "Control" page"
I have used the PaperUI to addseveral things to my OpenHAB 2 configuration (Homematic, Astro, Yamaha Receiver). At some time the "Control" page stopped working correctly. In Chrome I could see that the refresh function was activated permanently before it "crashed" with a Chrome error.
On Firefox I got this error message after some seconds:
![paperuicontrol](https://cloud.githubusercontent.com/asse

[2016-06-19 17:47] kaikreuzer commented on #1699
@aounhaider1 Could you have a look?

[2016-06-19 18:07] #1658 closed

[2016-06-19 18:08] kaikreuzer commented on #1696
Please find the related discussion at https://github.com/eclipse/smarthome/issues/1658.

Can you you please elaborate a bit on why it "breaks all existing bindings"?

[2016-06-19 20:22] paphko commented on #1689
There is already an issue for the FS Internet Radio binding: https://github.com/eclipse/smarthome/issues/682 but AFAIK there is no work done for it yet.

[2016-06-20 06:44] maggu2810 commented on #1700
The rendering of the control page takes some time. I don't know if it has been faster before but also for only a few things it needs (IMHO) to much time.

[2016-06-20 06:59] DM-Kang commented on #1641
Hello guys! I have a question.
If I add 2 or more conditions in my Rule, there is also OR Relation between conditions, right?
Can I make AND or another Relation between conditions?

[2016-06-20 07:08] kaikreuzer commented on #1700
@aounhaider1 Could you please have a look?

[2016-06-20 07:16] kaikreuzer commented on #1641
@DM-Kang Conditions are always AND, so a rule is only executed if all conditions are met.

[2016-06-20 07:23] chr-fritz opened #1701 "System Channels in Channel Groups"
When using [System-Channels](http://www.eclipse.org/smarthome/documentation/development/bindings/thing-definition.html#channels) within channel groups, for only one Thing it is not possible to bind any things for the whole binding.

The PaperUI shows any thing of this binding as "Unknown Decvice" and reports "409 Conflict" when trying to add the device as thing. Within the logfile of OpenHab you c

[2016-06-20 07:27] kgoderis commented on #1696
We can group the discussions, but as far as I noticed, the handleCommand() in the bindings are not necessarily written in such a fashion that they can handle new types of Commands. Some do use a simple switch statement to differentiate between the Command types passed on, with a default option to drop the Command received, but others (at least in my case) there is an automatic mapping of the Comma

[2016-06-20 07:34] maggu2810 commented on #1696
There are other default implementation already (e.g. handeRemoval, initialize, ...), so I don't see any reason, why we should not be allowed to have one for channelLinked.

The refresh type is used in the example here
* https://www.eclipse.org/smarthome/documentation/development/bindings/how-to.html#handling-commands-and-updating-the-state

I think a binding have to check the commands it receives

[2016-06-20 08:11] #1666 closed

[2016-06-20 08:26] sjka commented on #1083
I personally doubt that it's realistic to let every user determine the precise lat/long coordinates of each thermostat or wall switch. While it's a funny idea, it's simply not realistic to use coordinates for distinguishing between living room or toilet.
Therefore, if you have movable devices that can figure out themselves where they are (being it GPS tags or whole cars...), simply continue using

[2016-06-20 08:31] kaikreuzer commented on #1083
@saerdnaer As @sjka says, this issue is only about holding a reference to something that defines the location.
For having precise locations in different kinds of coordinate systems, there is already the LocationItem available and there are also discussions like https://github.com/eclipse/smarthome/pull/1042 and https://github.com/eclipse/smarthome/issues/1694.

[2016-06-20 09:36] maggu2810 opened #1702 "MapDB storage backend"
Caused by the recent changes, that properties are transient and so no longer persisted (#1682) I have a look at the esh storage.mapdb bundle.

There is one storage database (storage.mapdb) and all the maps are created in this backend.
[Here](https://github.com/eclipse/smarthome/blob/bb0b5f6/bundles/storage/org.eclipse.smarthome.storage.mapdb/src/main/java/org/eclipse/smarthome/storage/mapdb/MapDbS

[2016-06-20 10:00] kgoderis commented on #1696
@kaikreuzer that is not what I wrote : It is obviously documented, but I was not aware that a change in documentation was advertised. I mean, if documentation get changed, unless re-reading that documentation from time to time there is no way to be aware of changes. And after doing so many bindings, it is not something I visit / read up...

[2016-06-20 10:08] maggu2810 commented on #1696
Hm, it has been part of the documentation from the beginning: 7f104697
But I think that does not matter, you have not been aware of it and so it is rather annoying that the bindings are broken now.
But I still think it is correct that the base implementation triggers a refresh so the items gets a state.
And I also think a binding needs to check the command it receives. Rules etc. could post comman

[2016-06-20 10:17] kgoderis commented on #1696
@maggu2810 Indeed, it does not matter, it is ok in itself, I will review the whole lot. I started binding dev well before Jul 2014.... ;-)

[2016-06-20 10:17] #1696 closed

[2016-06-20 11:45] saerdnaer commented on #1083
@sjka I do not understand what's unrealistic in your point of view. Of course users will not input coordinates by numbers, they select the device position via a floor plan. The are already products like ABB-free@home where it's done in simular ways: http://new.abb.com/docs/librariesprovider84/freeathome/system-manual_free@home_en_abb_05_03.pdf -> page 20ff.

[2016-06-20 12:39] kaikreuzer commented on #1393
@kgoderis:

1. Thanks, this should be fixed with https://github.com/eclipse/smarthome/pull/1703
2. You should do either `TeslaTemperature.send(TeslaTargetPreheatingTemperature.state as DecimalType)` for a specific type (here DecimalType) or `TeslaTemperature.sendCommand(TeslaTargetPreheatingTemperature.state as Command)` for a generic Command (note that this now only works because of (1) above).
3

[2016-06-20 12:39] #1393 closed

[2016-06-20 14:36] kaikreuzer opened #1706 "FirmwareUpdateService thread pool is created even though not in use"
I just noticed that threads are spawned for a FirmwareUpdateService thread pool, altough my default installation neither has any firmware providers nor bindings that support firmware updates.

In such a situation I would not expect a thread pool to be created, because it requires unnecessary system resources.

[2016-06-20 14:37] kaikreuzer commented on #1706
@tomhoefer Could you please have a look?

[2016-06-20 14:49] kaikreuzer commented on #1702
This isn't fully correct - properties are still persisted, it is just that bindings themselves do not persist changes anymore.

I simply assume that nobody needed such a feature yet and it sounds dangerous ;-)

Feel free.

What do you mean by "not documented"? The interface has:

[code]
but I agree that this should actually rather be a Set than a Collection.

No idea what the MapDB implementation

[2016-06-20 15:24] maggu2810 commented on #1702
I would like to say, that it is not documented that the returned collection is a **view** and so it is dangerous to use the returned collection while changing the storage.

[2016-06-20 15:35] kaikreuzer commented on #870
Actually not - parts of #1407 had to be reverted, because they broke the Designer; it is simply required to start the bundles before any of their classes are used. So this issue is back and I think we should have a closer look at #947.

[2016-06-20 16:09] IOOOTAlan opened #1707 "ItemThingLinkRegistry removal in 0.8.0"
Greetings,

first, apologies if this in not the right place to ask for this kind of information, but I couldn't find a more proper place to ask for it.
Our code-base depends on the aforementioned class to retrieve all Items linked to a `Thing` using the `getLinkedItems` method. The method was already marked as deprecated, but now the whole class is nowhere to be found, so our code cannot compile w

[2016-06-20 17:44] kgoderis commented on #1696
@kaikreuzer @maggu2810 FYI the documentation link you rightfully pointed out is not in sync with https://github.com/eclipse/smarthome/blob/master/docs/documentation/development/bindings/thing-handler.md (which is the document I was mentally referring to). I think it is part of the confusion at my side

[2016-06-20 17:54] aounhaider1 commented on #1699
Can you please provide the xml that you are using for this bridge?

[2016-06-20 17:55] kaikreuzer commented on #1707
Apologies for removing the method :-)
But it simply didn't make a lot of sense to link items to Things, since it is more or less duplicate information then.
So instead, you would now simply request the Thing and see its channels, which have the set of linked items attached to them (talking here about the REST API).
If you want to do that in Java code, you will have to iterate yourself over the cha

[2016-06-20 17:55] #1707 closed

[2016-06-20 18:00] MHerbst commented on #1699
This is the bridge.xml contained in the Homematic Add On. Parameters "gatewayAddress" and "callbackHost" are not shown.
[bridge.xml.txt](https://github.com/eclipse/smarthome/files/323988/bridge.xml.txt)

[2016-06-20 18:24] kaikreuzer commented on #1675
Fixed through https://github.com/eclipse/smarthome/pull/1703

[2016-06-20 18:24] #1675 closed

[2016-06-20 19:02] tomhoefer commented on #1706
sure... will change ti

[2016-06-20 19:34] #1699 closed

[2016-06-20 19:37] kaikreuzer commented on #1650
Some good and some bad news:
I managed to reproduce it on my RPi3, but I fail to see the effect on my MacBook. So I assume it is related to the slower startup behavior. Unfortunately, I noticed that remote debugging a RPi does not really work - it is so slow that simply nothing happens.

This effectively means that I don't really have a clue on how to best analyze the startup behavior...
If someon

[2016-06-21 07:34] maggu2810 commented on #870
Would like to add this link, I think it is very an interesting (and related) discussion: https://bugs.eclipse.org/bugs/show_bug.cgi?id=490062#c12

[2016-06-21 07:51] IOOOTAlan commented on #1707
Thank you very much for the pointers!

[2016-06-21 08:49] kaikreuzer commented on #870
Interesting discussion indeed. But their statement "it means that BAPL has no impact in plain OSGi when all bundles are automatically activated" somehow does not seem to be true if I look at our issue here?

[2016-06-21 08:54] maggu2810 commented on #870
The guys are much more familiar about the OSGi framework, but after reading the "Technical Solution" here (https://www.osgi.org/developer/design/lazy-start/), I can't believe that it has no impact at all.

[2016-06-21 08:59] kaikreuzer commented on #870
So shall we challenge them?

[2016-06-21 10:53] maggu2810 opened #1713 "Test failure(s): core.thing.test: ChangeThingTypeOSGiTest"
I run into this error the last two builds.

[code]

`$ git rev-parse HEAD`
[code]

`$ git status`
[code]

[2016-06-21 12:08] kaikreuzer commented on #1687
Yes, I agree that the logging is a bit confusing; I actually wonder if we should completely remove those "removed/added" logging/events at startup/shutdown, because they do not make much sense anyhow. But I already feel that this will quickly become a bigger refactoring regarding startup behavior etc...

[2016-06-21 12:24] kaikreuzer commented on #1043
@kgoderis:

You do not trigger triggers, see https://github.com/eclipse/smarthome/issues/1043#issuecomment-184598078: "The option to link them to an existing "light" item would actually be something like a "simple, hard-wired rule""
This is exactly the same way as it works in OH1: You have one item that represents the light and you have the "actuator" channel linked to that item as well as the wal

[2016-06-21 12:45] sja commented on #1674
I'm sorry, this sounds like a noob problem, but I neither get it correctly imported to Eclipse to start the Designer from there, nor I get it running from console.
I deleted the workspace which is located at _/Applications/Eclipse SmartHome Designer 2.app/Contents/MacOS/workspace_ and this is recreated on launching the app again. But the problem stays.
I see a binary at _/Contents/MacOS/SmartHome-

[2016-06-21 12:50] sja commented on #1674
RIGHT after sending this text I got an idea. I launched it from the maven target folder and that version works! Sorry for the noise, but strange behaviour. Can't wait to get the text configs replaced to obsolete the Designer.

[2016-06-21 12:50] #1674 closed

[2016-06-21 12:53] kaikreuzer commented on #1674
ok, glad to hear that it works!

They will definitely stay (as an option), but you might be interested in https://github.com/eclipse/smarthome/issues/1402 as a replacement for the Designer!

[2016-06-21 13:50] kaikreuzer commented on #1694
I was thinking about this requirement a few time as well already.
I usually also tried to think along the lines of @watou and would say that we can already define locations with Location items and potentially mark them with suitable [tags](https://github.com/eclipse/smarthome/issues/1093) as a "home". To be generic, this would also allow the option to have multiple "home locations", because you mi

[2016-06-21 14:14] aounhaider1 commented on #1657
Yes, there are some polyfills available for IE. And I think this one (https://github.com/remy/polyfills/blob/master/EventSource.js) will work for Edge as well. But I will have to check.

[2016-06-21 14:19] dynostatic commented on #1650
My test machine is a NUC with an i5, so I don't think it's limited to a slower startup. Perhaps my specific collection of rules is more susceptible to triggering the underlying timing issue? Merging all of my items into one file helped solve some weird startup errors on the earlier betas. My rules are still split into about ten files. I'm not sure if that makes any difference for this issue.

I ha

[2016-06-21 14:28] rkoshak commented on #1694
Taking a step back, does it make sense to make this mechanism more generic and not location specific? Are there other configuration parameters that are needed across multiple bindings etc. that could benefit from having a "set once and reference multiple times?"

I'm sure this greatly complicates the problem but thought I'd throw out that idea for consideration.

[2016-06-21 14:40] cdjackson commented on #1043
Ok, but how can we make use of information that different systems might provide? We could handle these different bits of information as different items, but then we have an issue with ensuring consistency unless we have some sort of "structure" item that can group data together.
Alternatively, we could try and encode the value into a string or integer, or even json encode the data to a string, in

[2016-06-21 16:27] kaikreuzer commented on #1700
We just tested it against an older version - and no, it wasn't any faster in earlier versions.

The problem is that a rather complex HTML is constructed dynamically for this page - there isn't really a quick fix for this. The best workaround is to not have too many things on a page) - with https://github.com/eclipse/smarthome/issues/1083, we will have the Things on multiple tabs, which will ease t

[2016-06-21 16:54] sjka commented on #1681
One to add here (based on commit 7f8693abc):

[code]

[2016-06-21 17:28] sjka commented on #1083
@saerdnaer let's stick to strings where you maintain references to items. Your are free to use coordinates there then...

[2016-06-21 17:32] rtvb commented on #1083
How would you set a location for a mobile, moving thing? Like a laptop, mobile phone or BTLE tag for my dog? These might move around the house only (so use smallest possible location 'home') or move outside as well.

And how does this location property relate to presence?

[2016-06-21 17:35] kaikreuzer commented on #1083
@rtvb Use the item name as the location reference and then update your item.

[2016-06-21 18:23] maggu2810 commented on #870
@kaikreuzer FYI: Using equinox install the most ESH features results in a circular reference detected message. If I install the same features using felix, I don't get this error.

[2016-06-21 18:33] kaikreuzer commented on #870
Are you silently suggesting me to switch OH to Felix...?

[2016-06-21 18:43] maggu2810 commented on #870
No, this has not been my intention. I just want to inform you about my observations.

I think it would be a good start to use DS instead of the Activator (#947), so we can have a good dependency chain.

[2016-06-21 19:29] tomhoefer opened #1720 "LocaleProvider: Use always default locale for getLocale operation as long as no locale has been configured"
Currently the newly introduced ```org.eclipse.smarthome.core.internal.i18n.LocaleProviderImpl``` initializes its locale attribute at instantiation and sets it to the Java default locale.

I would prefer if we never initialize the locale attribute with a default locale. For this reason the ``` getLocale``` operation should return the default locale if the attribute has not been configured.

[2016-06-21 19:35] kaikreuzer commented on #1720
This would allow to use Locale.setDefault() during runtime (e.g. during test execution) and still have this taken into account by the LocaleProviderImpl.

Does that make sense to you, @maggu2810?

[2016-06-21 20:18] pabloNZ opened #1721 "Text doesn't wrap in frame"
I have a xslt transformation for my weather binding which can produce text strings which extend well past the frame bounds.

Neither the frame title nor the frame itself will wrap the text so it is visible in its entirety on smaller width screens. Larger screens can display the text, but it crops it, so is not particularly appealing visually.

![4d12e28716a31eadde9ef03a5e8a8bdbdf98c412_1_690x160](

[2016-06-22 03:49] polarathene commented on #1332
@kgoderis Any reason the transition time is not configurable? In some cases I may want to run a light effect over several hue bulbs and instant changes of state(0 transition time) or more drawn out smooth transitions can be desirable depending on the effect. Advice on how to approach this if transition time is not configurable?

[2016-06-22 05:23] polarathene commented on #866
@lolodomo ~~I'm still new to openHAB but it looks like you're connecting a Slider to Color item? I think the color item expects 3 values for HSB, or the slider is provided 3 values instead of it's 0-100 percent value.~~

I see you use hue, and perhaps the wiki docs confuse you [here](https://github.com/openhab/openhab/wiki/Hue-Binding#brightness-dimmer-items), Right under the heading it is talking

[2016-06-22 05:27] polarathene commented on #1593
@lolodomo Please refer to [my response](https://github.com/eclipse/smarthome/issues/866#issuecomment-227646618) on #866 . I only have Hue not LIFX, but your bug might be a config issue? The solution I provided does not trigger any problems with any of the controls.

[2016-06-22 06:33] kgoderis commented on #1332
@polarathene There was a PR  after this one that made it configurable, see https://github.com/eclipse/smarthome/blob/master/extensions/binding/org.eclipse.smarthome.binding.lifx/ESH-INF/thing/thing-types.xml#L19

[2016-06-22 06:48] polarathene commented on #1332
@kgoderis Is that only for LIFX? I had a look at the hue binding and there doesn't appear to be a `thing-types.xml`. I think they're similar but Hue has that file for each of the different bulb types? [This is mine](https://github.com/eclipse/smarthome/blob/master/extensions/binding/org.eclipse.smarthome.binding.hue/ESH-INF/thing/LCT001.xml) according to Paper UI.

Phillips Hue was mentioned in th

[2016-06-22 06:56] polarathene commented on #650
At present at least from what I see on Paper UI, `Effect` is not treated the same as `Alert`, and is named `Color Loop` despite the `effect` channel. I may not understand channels yet, if a new effect is released will this result in another effect name mapped to `effect`  channel, or would this need to be changed to be treated like `Alert`.

Transition time is also not supported yet? I see it was

[2016-06-22 07:05] maggu2810 commented on #1720
I already changed the default locale in some tests (e.g. using CM), so it is also possible without that change.
I don't know if it make sense remove the control of the locale from the LocaleProvider just to make some tests simpler (need to think about).
I assume if Locale.setDefault() is working, it is used again.
And last but not least, the Locale.setDefault() will work only as long as there is n

[2016-06-22 07:16] kaikreuzer commented on #1721
@resetnow Could you have a look, please?

[2016-06-22 07:42] kaikreuzer commented on #1681
And three more:
https://hudson.eclipse.org/smarthome/job/SmartHomeDistribution-Stable/79/
https://hudson.eclipse.org/smarthome/job/SmartHomeDistribution-Stable/81/
https://hudson.eclipse.org/smarthome/job/SmartHomeDistribution-Stable/83/

@danchom @adimova This is now a critical issue as it prevents a successful build. The failure rate seems to be >50%. Please have a look at how they can be fixed.

[2016-06-22 07:49] kaikreuzer commented on #1720
I think you didn't fully get the suggestion here, this is not about tests.

The issue is this line: https://github.com/eclipse/smarthome/blob/master/bundles/core/org.eclipse.smarthome.core/src/main/java/org/eclipse/smarthome/core/internal/i18n/LocaleProviderImpl.java#L32

You are setting the locale (that the LocaleProviderImpl will return if no configuration is set) to the default locale at system

[2016-06-22 07:50] kgoderis commented on #1332
LIFX only AFAIK

[2016-06-22 07:53] kaikreuzer commented on #650
Correct, transitions are not (yet) supported by the Hue binding. Feel free to create a new issue for it if you plan to implement this.

[2016-06-22 07:58] kaikreuzer commented on #866
There actually should not be a brightness channel, whenever there is already a Color channel. There is a bug in the hue binding, which will be cleaned with https://github.com/eclipse/smarthome/pull/1652. This PR also contains an enhanced README.md.

[2016-06-22 08:02] polarathene opened #1722 "[Hue] Add support for TransitionTime and treat Effect like Alert"
At present at least from what I see on Paper UI, `Effect` is not treated the same as `Alert`, and is named `Color Loop` despite the `effect` channel. I may not understand channels yet, if a new effect is released will this result in another effect name mapped to `effect`  channel, or would this need to be changed to be treated like `Alert`.

Transition time is also not supported yet? I see it was

[2016-06-22 08:26] BenediktNiehues commented on #1681
The current failures are resulted by a timing issues again. The ModuleType is still null. PR #1723 should solve the problem. At least waitForAssert will also wait even if there was a NPE.

[2016-06-22 08:55] #1670 closed

[2016-06-22 09:04] maggu2810 commented on #1720
This has been realized by me.
That is the reason I written:

If it returns the default locale a LocaleProvider.getLocale() will return all the time the value that could be changed by Locale.setDefault(). But this does only work as long as no configuration admin is used. If someone sets the locale configuration the Locale.setDefault() will not be work anymore.

That is the reason, I am using it jus

[2016-06-22 09:13] maggu2810 commented on #1720
The reason for the LocaleProvider has also been to not use Locale.setDefault(), because it will change the locale for all non-ESH bundles that are using Locale.getDefault(). And as ESH is not aware of all the other bundles a product using the ESH framework is running in its OSGi framework, I would prefer if the ESH-framework does not touch the default locale.

[2016-06-22 09:13] tomhoefer commented on #1720
I think if someone uses the configuration to set the locale he will be aware of that the LocaleProvider will not provide the default locale any longer.

I still prefer that the LocaleProvider should not initialize its locale with the default locale.

[2016-06-22 09:22] kaikreuzer commented on #1720
This would mean that you mandatorily ask for it to be used - but currently, it only requires the configuration optionally (which is imho fine). And the behavior of what locale is provided if no config is available, is currently not specified. And as mentioned above, I think the specification "returns the system default locale" makes most sense.

[2016-06-22 09:30] maggu2810 commented on #1720
I have to search for the discussion before I start the implementation of the service, but IIRC I want to do it because I don't want to use Locale.setDefault with all its side effects for the other bundles anymore. Perhaps I miss-interpret your reply, but I thought you are fine, that we introduced the locale provider and do not rely on setDefault anymore.
If we now add the non-initialized method ag

[2016-06-22 09:36] kaikreuzer commented on #1720
So what is your suggestion for the specification on how LocaleProvider.getLocale() behaves, if no configuration is provided?

[2016-06-22 09:37] maggu2810 commented on #1720
That the one I refer to:
https://github.com/eclipse/smarthome/issues/1516#issuecomment-219557992

[2016-06-22 09:39] kaikreuzer commented on #1720
Your argument is:

So with the LocaleProvider you have achieved that purpose (having a separate language for JVM and ESH). I do not see any valid reason to say at the same time that Locale.setDefault is evil and must not be allowed to be used.

[2016-06-22 09:43] kaikreuzer commented on #1681
It seems that #1723 solves the issues, so I close this now.
Many thanks for the fix, @BenediktNiehues!

[2016-06-22 09:43] #1681 closed

[2016-06-22 09:47] maggu2810 commented on #1720
If Locale.setDefault() is used by the ESH framework e.g. some core bundle, didn't it break the separate language for the ESH framework and the remaining bundles in the OSGi framework.

So, how can we offer that purpose if we start using Locale.setDefault again?

Perhaps I missed something here.
My assumption is:
* Locale.setDefault is accepted to change the locale of the LocaleProvider for the ESH

[2016-06-22 09:53] maggu2810 commented on #1720
So, to be clear.
I am not against "keep it unitialized and return the value of Locale.getDefault()" in its own.
I am afraid that if this is done, the ESH-framework uses Locale.setDefault and change the locale for non-ESH bundles, too.

[2016-06-22 09:54] danchom opened #1724 "Module configuration must be done by Configuration object."
At the moment module configuration (set configuration values to the module) is done by the Map<String, Objects> containing configuration id as key and configuration value corresponding to this key.
The configuration values has to be passed to the module as Configuration object.

[2016-06-22 10:04] kaikreuzer commented on #1720
I think if this is done anywhere (apart from tests), it can be in any case considered as a bug as it would not consider a potential CM configuration, which it has to.
But for tests (like https://github.com/eclipse/smarthome/pull/1714/files), it should be a valid thing to do.

Ok, @tomhoefer would you create an according PR then?

[2016-06-22 10:05] tomhoefer commented on #1720
Yes, will do

[2016-06-22 11:52] kaikreuzer commented on #588
I think you don't ;-)
The Thing already has separate sets for its configuration and property values.

[2016-06-22 12:46] kaikreuzer commented on #587
I think this issue is meanwhile outdated as validation is in place.

[2016-06-22 12:46] #587 closed

[2016-06-22 12:48] #1039 closed

[2016-06-22 12:55] kaikreuzer commented on #1062
Implemented with https://github.com/eclipse/smarthome/pull/1660

[2016-06-22 12:55] #1062 closed

[2016-06-22 13:12] kaikreuzer opened #1729 "Introduce an index for thing type definitions"
Analyzing performance issues on the Paper UI lately, I noticed that the REST API response on /thing-types is about 1.5MB with Z-Wave binding installed and 62KB without.

This clearly indicates that there are some bindings with a huge number of thing types and that we need to optimize the way to access this information.

A while ago, @cdjackson already predicted this and suggested a kind of index o

[2016-06-22 13:41] cdjackson commented on #1729
For ZWave, I need a few bits of device specific information that I use to compare with the information recovered from the device. I suspect that the information required will be binding dependant, so either we need a generic way to describe this, or it needs to be flexible. Providing a generic solution might be difficult as it ultimately results in having to modify things to fit the generic descri

[2016-06-22 13:55] #922 closed

[2016-06-22 15:06] feens commented on #1043
@kaikreuzer I guess my question, as an end user is this: with triggers, how would I go about handling something like a double (or triple) tap from an actual item (i.e. a dimmer switch).  My expectation would be to a have a rule such as "Item Dimmer_Kitchen received command DoubleTap".  Is that the end goal of these trigger channels? I guess I wouldn't really think of DoubleTap as channel but as an

[2016-06-22 16:18] resetnow commented on #1721
Yes, it does look bad. What is the desired behaviour here, though? I can clip all the labels to the viewable area and make them end with an ellipsis like this:

![screenshot from 2016-06-22 19-18-03](https://cloud.githubusercontent.com/assets/2057191/16274388/77f2f92e-38b6-11e6-9a41-8e61c1561146.png)

Would it be ok?

[2016-06-22 16:27] resetnow commented on #640
Just for the record, I tried to implement sitemap events the way I have described it earlier and it turned out to be a horrible mess of hashmaps, sets and workarounds so I abandoned it. I think I just don't know the internal architecture of ESH well enough to implement a more efficient solution which will not lookup the widgets by the item name every time some event happens  (e7fe038960725981f95c3

[2016-06-22 21:38] pabloNZ commented on #1721
How will that look with the frame title? As it is now the frame title gets cut off also (see last pic attached above). This makes it difficult to relate the frame data if you haven't used the sitemap much before.

In some ways as a user i'd prefer to be able to make it either wrap, or end with ellipsis. But I feel like having a random frame being taller than the others will mess with the simple st

[2016-06-23 06:23] maggu2810 opened #1731 "Test failure(s): core: LocaleProviderOSGiTest"
New introduced test breaks build.
Related to #1730

[code]

[2016-06-23 06:39] kaikreuzer commented on #1731
@tomhoefer Please check!

[2016-06-23 06:55] maggu2810 commented on #1731
Hm, I am confused...

I am inserted this code in front of the test that fails.

[code]

The result is:

[code]

My system is using the english locale.

So I think there is the CM used by the locale provider (the only one that could inject de_DE -- I assume).

[2016-06-23 07:04] maggu2810 commented on #1731
I added further debug messages to the locale provider.

[code]

[code]

That is the "difficult" about the introduced relying on the system default locale, it is only working if no other one injects a default locale using CM.

[2016-06-23 07:08] maggu2810 commented on #1731
The I18nProviderOSGiTest setup the locale provider in its setUp method.
It is not using the Locale.setDefault() method, but modifies the internal one.

You could change this one, to use also Locale.setDefault() but I still think it is very confusing because the order of test execution etc. could change result. So every test needs to use Locale.setDefault() or no one or we have to check the executi

[2016-06-23 07:23] kaikreuzer commented on #1517
@s-simma
[code]
Not possible to reproduce for me :-/

[2016-06-23 07:43] tomhoefer commented on #1731
will fix it

[2016-06-23 08:37] kgoderis commented on #1043
I think I am lost here. My question was rather : if these event-channels represent a button as you mention in the example, how is that button then integrated/rendered/.... in for example the BasicUI? Since the idea is not to have an Item anymore, and since .sitemaps are driven by Items, .....

[2016-06-23 10:59] #1578 closed

[2016-06-23 12:19] svilenvul commented on #1689
Bundles using package *org.eclipse.smarthome.io.net.http* from *org.eclipse.smarthome.io.net* (that currently depends on Apache HttpClient 3.x):

openhab2-addons\addons\binding\org.openhab.binding.astro\META-INF\MANIFEST.MF
openhab2-addons\addons\binding\org.openhab.binding.avmfritz\META-INF\MANIFEST.MF
openhab2-addons\addons\binding\org.openhab.binding.hdanywhere\META-INF\MANIFEST.MF
smarthome\bu

[2016-06-23 14:25] kaikreuzer commented on #1043
@cdjackson:

Yes, this is my suggestion (see e.g. for [remote controls](https://github.com/eclipse/smarthome/issues/1043#issuecomment-226436416)). If you have more complex content, this might also be discussed for the profiles, which I see as a second step. But in this feature, I do not see parameterized events, since with the same right you can also ask for parameterized commands and states for t

[2016-06-23 14:32] kaikreuzer opened #1735 "Replace jodatime with java.time"
Using the Xtext rule engine on Java8 brings [some issues when using time expressions](https://community.openhab.org/t/execution-of-startup-rule-system-started-has-been-postponed-as-items-are-still-missing/11581/6?u=kai).
Historically, the rule engine comes with jodatime to nicely support time expressions, but with Java8, there is a very similar library part of the JDK as java.time.

When being use

[2016-06-23 15:01] kaikreuzer commented on #1729
I assume you need this information for the discovery service to decide for the right type, but not have these things exposed to the UI through the REST API, right?

In case the content is binding specific (do you have other examples than ZWave, which will need it?), we will also have to think about how this information is provided - will key-value pairs be enough?

Besides generation at build time

[2016-06-23 15:19] kaikreuzer commented on #1596
ok, let's reopen it then.

[2016-06-23 15:36] cdjackson commented on #1729
Correct.

I'm not sure what you mean by this? If you mean do I need the index exposed, then that’s correct - the index doesn’t need to be exposed through the REST API.

Zigbee might, although at the moment it’s written avoid this since the ZCL is more self describing than ZWave. So, no, no other good examples at the moment.

In ZWave, the data is stored in the properties -:
      <property name="m

[2016-06-23 16:23] maggu2810 opened #1736 "Missing no-arg constructors for Gson"
Continues: #876

Found other ones.

[code]

[code]

[2016-06-23 22:26] sjka commented on #1477
I have created a binding with a Thing's config param like you pasted above. When I now configure it via the PaperUI, this is what I see:

the paperui sends a request with payload

    {controller_exclude: -232323}

the ThingResource.updateConfguration() receives in configurationParameters

    {controller_exclude=-232323.0} //Double

and turns it into via normalizeConfiguration(configurationParame

[2016-06-24 02:33] polarathene opened #1738 "[Hue/Jue] Runtime/API Exception, Internal Error 404"
[code]

The setup involved item type `Color` hue bulbs being affected via a rule to control their brightness via KNX `Dimmer` item when it receives a command.

hue.items:

[code]

knx.items:

[code]

knx.rules:

[code]

bug.sitemap:
sitemap bug label="Bug Sitemap"
{
        Slider item=knx_boardroom_dimmer label="KNX Dimmmer"
        //Slider item=gHue //Server Error 500 prevents Classic UI render

[2016-06-24 02:37] polarathene opened #1739 "[Classic UI] Server Error 500 when using Slider element with Group item"
## Expected Behavior

UI should render without throwing the provided error.
## Current Behavior

Accessing Classic UI with a Slider element mapped to a Group item throws the following error:

[code]
## Possible Solution

The [original issue has a response](https://github.com/openhab/openhab/issues/4493#issuecomment-227953552) for difference between Basic and Classic UI that is likely the cause.
##

[2016-06-24 06:15] maggu2810 commented on #1043
I added some rockers to my system recently.
I have to encode
* up pressed
* up released
* down pressed
* down released

For that I created two channels, one for up and one for down.
The item-type is set to switch, so I have on for pressed and off for released.

To use the rockers to switch other stuff on or off, I would like to leave it to the user if he want to use the pressed or released event a

[2016-06-24 07:55] #1736 closed

[2016-06-24 09:09] kaikreuzer commented on #1616
This should now be supported with https://github.com/eclipse/smarthome/pull/1652.
Please check whether the same workaround is needed for the B40 as it is needed for the Par16. It should be easy to add this.
Optimistic as I am, I assume it is NOT required. If this assumption is false, please re-open this issue.

[2016-06-24 09:09] #1616 closed

[2016-06-24 09:09] kaikreuzer commented on #1391
#673 is now merged and hence this model should now be supported out of the box as well.

[2016-06-24 09:09] #1391 closed

[2016-06-24 09:11] kaikreuzer commented on #659
#1652 now supports generic types, hence new models are automatically supported.

[2016-06-24 09:11] #659 closed

[2016-06-24 10:00] svilenvul commented on #1689
kaikreuzer wrote:

I found some missing dependencies in the smarthome target platform:

`[DEBUG] No solution found because the problem is unsatisfiable.: [Unable to satisfy dependency from org.eclipse.smarthome.io.net 0.9.0.qualifier to package org.
eclipse.jetty.client 0.0.0.; Unable to satisfy dependency from org.eclipse.smarthome.io.net 0.9.0.qualifier to package org.eclipse.jetty.client.api 0.

[2016-06-24 10:12] maggu2810 commented on #1731
@kaikreuzer Should we revert #1730 as long as it is fixed? Every build on Hudson will fail as the test will never succeed.

[2016-06-24 10:39] tomhoefer commented on #1731
isnt it fixed by my last change for #1732 ?

[2016-06-24 10:48] maggu2810 commented on #1731
As Github does not send a notification (it seems they started with, but at least not if you rebase the branch instead of adding commits), you should add a notification, after you have added a new commit.

[2016-06-24 14:25] kaikreuzer commented on #1689
@svilenvul Just add this commit to your PR and the Jetty client is part of the smarthome.target: https://github.com/kaikreuzer/smarthome/commit/56d8ab652ebbcc189e1c62170473a073b9772172

[2016-06-24 14:28] svilenvul commented on #1689
@kaikreuzer thanks

[2016-06-24 15:27] kaikreuzer commented on #1043
What you have done with the rule templates sounds very much like the "profiles" - i.e. a mechanism that translates the raw events into commands for existing items.

I think this can depend on the rocker and its configuration. Many rockers are designed in a way that they switch one functionality only (i.e. pressing top for ON/UP and bottom for OFF/DOWN). But many (e.g. my KNX wall-switches) can be

[2016-06-25 00:45] alfista2600 commented on #1650
I've just read through the notes on this issue, as it just started appearing for me on a RPI3. I'm no expert, but wanted to report a finding. I was getting this error on two rules. If I delete the rules without stopping/restarting the service, I continue to get the errors - even without the rules in the file.

[2016-06-25 14:25] rtvb opened #1743 "Thread pool 'items' rejected execution of class org.eclipse.smarthome.core.items.GenericItem$1"
I installed the latest nightly today and my log file is flooded with this message:

    16:23:48.536 [WARN ] [rthome.core.common.ThreadPoolManager] - Thread pool 'items' rejected execution of class org.eclipse.smarthome.core.items.GenericItem$1

Known issue? Or new bug?

[2016-06-25 16:21] kaikreuzer commented on #1743
new bug...

[2016-06-25 17:14] rtvb commented on #1743
What would you need from me to debug?

Groet, Robert

Op Za jun 25 2016, om 18:21 schreef Kai Kreuzer:

Links:

  1. https://github.com/eclipse/smarthome/issues/1743#issuecomment-228553752
  2. https://github.com/notifications/unsubscribe/AAiI8k7CItslBdBurY0YKvUy9uOavEW7ks5qPVWggaJpZM4I-WuC

[2016-06-25 17:18] kaikreuzer commented on #1743
Good question, I just tried to reproduce it, but I do not see such logging.
I assume you have many startup rules that might be long running?

[2016-06-25 18:27] kaikreuzer commented on #1743
This should hopefully be fixed with https://github.com/eclipse/smarthome/pull/1744.

[2016-06-25 20:15] kaikreuzer commented on #1650
Can you tell me which bundle version you are currently using?
I wonder if the problem still exists now that https://github.com/eclipse/smarthome/issues/870 is happening again.

I have a setup with 30-40 rules in 10 different files and am using the lastest OH2 build (ESH bundles 0.9.0.201606220943). I restarted the runtime many times, but didn't have any issue a single time. It is really weird that

[2016-06-25 20:51] kgoderis commented on #1650
@kaikreuzer If you are making a reference to the recent Xtext discussion we had, I must say that making the .rules syntax-perfect resolved my issues, including removing depreciated declarations and alike. I personally do not use Hashmaps in my rules. That being said, at the time I also experienced some randomness in the errors I faced.

[2016-06-25 20:54] kaikreuzer commented on #1650
@kgoderis Yes, this is what I was referring to (mainly the "ScriptInterpreter not found" messages and alike). I am very glad to hear that this seem to be solved now for you. So I assume you withdraw your request to downgrade Xtext again? :-)
In any case, whenever you can specify your remaining random errors, please do report them.

[2016-06-26 09:35] lolodomo opened #1745 "mDNS discovery: weird things in class MDNSDiscoveryService"
There are weird things in the class MDNSDiscoveryService.

First, why addServiceListener is called inside startBackgroundDiscovery while it is already called inside setMDNSClient ? The result is that the JmDNS instance stores this class twice and so serviceAdded is called twice for example.

Second, I see that nothing is done in method serviceResolved. When JmDNS is calling serviceAdded, the servi

[2016-06-26 09:53] lolodomo commented on #1745
If I correctly understand OSGi declaration, referencing MDNSClient as static in MDNSDiscoveryService service makes sure that the bind method (setMDNSClient) will be called before every else and so before startBackgroundDiscovery is called.
Is it true ?

[2016-06-26 19:13] cdjackson opened #1746 "Time conversion not accounting for timezone"
There are some issues with time conversion with charting in HABmin so I traced through the persistence REST resource.

In ```getItemHistoryBean```, ```timeBegin``` is received as ```2016-06-25T18:52:42.362Z```.

On line 142 -:
[code]

```dateTimeBegin``` gets converted to ```Sat Jun 25 18:52:42 BST 2016```. This is incorrect - it should have been 19:52 BST.

On my Mac, the time is ```2016-06-26T20

[2016-06-27 07:58] maggu2810 commented on #1662
So, now Eclipse Neon is the "latest release".
Should we change the setup file to Groovy 4.6 Repository?

If the feature in the repository can't be installed, I think this is okay, if someone uses an older IDE.

[2016-06-27 08:09] marcelrv commented on #1746
@cdjackson this is what I found working on similar issues last week

For all Types, there is the general assumption that they should be reconstructable from their string representation, i.e. typeX.equals(new TypeX(typeX.toString())) should be true.

This is currently not the case for the DateTimeType, since the toString methods converts from a calendar to a Date Object, removing the timezone infor

[2016-06-27 08:15] marcelrv commented on #992
as @watou indicated:

This is indeed an issue for other bindings as well... see e.g.
https://github.com/eclipse/smarthome/issues/1666

[2016-06-27 08:33] maggu2810 commented on #1662
Will do

[2016-06-27 08:33] maggu2810 commented on #1662
I will do

[2016-06-27 08:39] kaikreuzer commented on #1746
@cdjackson @marcelrv Can you check that #1747 fixes the issue?

[2016-06-27 08:40] sjka commented on #1746
While @marcelrv's observation is fully correct, I think here the issue is that the "Z" notation comes from ISO format, while our parser so far could handle only RFC date formats (see also http://docs.oracle.com/javase/7/docs/api/java/text/SimpleDateFormat.html).

Therefore I created #1747 in order to try ISO format in case the RFC parsing failed before trying other formats...

[2016-06-27 08:42] #1746 closed

[2016-06-27 08:43] #1662 closed

[2016-06-27 09:03] derkens commented on #1517
I found this issue when having the same problem, I remembered before the errors, I have changed the system locale.
I'm running archlinuxarm on a raspberrypi 2 with OH2 Beta 3.
I had two locales in /etc/locale.gen:
`en_US.UTF-8 UTF-8`
`nl_NL.UTF-8 UTF-8`
I have removed `nl_NL.UTF-8 UTF-8`, regenerated locales, and restarted OH2.
I now no longer have the errors.
My NPE was right after an update of t

[2016-06-27 09:45] maggu2810 commented on #1731
I updated a workstation to Neon.
So I have done a fresh installation and checkout.
After that I started the first "mvn clean install" for the newly checked out repo.

The build does not succeed:

[code]

[2016-06-27 09:58] maggu2810 commented on #1731
I assume you should a waitForAssert here:
https://github.com/qivicon/smarthome/blob/aa34daa0deb1c75114be15936e5de1a458d73c0a/bundles/core/org.eclipse.smarthome.core.test/src/test/groovy/org/eclipse/smarthome/core/internal/i18n/LocaleProviderOSGiTest.groovy#L94

[2016-06-27 09:59] maggu2810 commented on #1731
Ignore my comment :wine_glass:

[2016-06-27 10:31] sjka commented on #1713
that's weird, but I'm trying to understand what's going on... I tried to reproduce it, but even after 50 iterations I can't see it. You don't by any chance still got the logs?

[2016-06-27 11:02] maggu2810 commented on #1713
If I don't forget it, I will try to start an iteration loop this night till tomorrow.

[2016-06-27 11:33] #1743 closed

[2016-06-27 11:34] #1720 closed

[2016-06-27 11:37] kaikreuzer commented on #1614
@digitaldan What would you suggest for the "text" icon? I agree that the current icon looks weird besides most "text" widgets, but I have no good suggestion either...

[2016-06-27 11:43] tomhoefer commented on #1731
should be fixed bx #1750

[2016-06-27 11:57] sjka opened #1751 "Test failure(s): HueLightHandlerOSGiTest"
I ran into the following errors where the properties have not been set as expected.

Are they potentially related to #1652 ?

[code]

[code]

[2016-06-27 12:14] #1731 closed

[2016-06-27 12:38] sjka commented on #1751
as we were just talking about why hudsons didn't fail: my hit rate is about .3:

[code]

[2016-06-27 12:53] tomhoefer opened #1753 "Test failure(s): AbstractWatchServiceTest"
After #1597 has been merged the ``ÀbstractWatchServiceTest```s are failing on my macbook...

@dstivanov can you pls check this?

[code]

[2016-06-27 13:40] digitaldan commented on #1614
Sorry to have forgotten about this!   The text widget is difficult, unlike a switch widget which by its nature is on or off (forgetting a multivalue pushbutton type), a text item may convey temperature, geolocation, security status, or any infinite amount information. So the icon would almost certainly never really match what the content of what the text means.  Also b/c text is so often used ( I'

[2016-06-27 13:42] digitaldan commented on #1614
Also I'm ok @reitermarkus if we use the image you provided (thanks for doing that) and let users do their own customization .

[2016-06-27 13:57] maggu2810 commented on #1731
Thanks

[2016-06-27 15:20] dstivanov commented on #1753
Hi,

I took a look and it seems that no events are processed within the tests execution on your machine. Can you run the tests in Eclipse IDE with the ch.qos.logback.classic, ch.qos.logback.core, ch.qos.logback.slf4j and slfj.api bundles included so we can see more logs from the tests executions.

Thanks,
Dimitar

[2016-06-27 16:25] kaikreuzer commented on #1614
Something like this maybe?

<img width="122" alt="screen shot 2016-06-27 at 18 24 27" src="https://cloud.githubusercontent.com/assets/3244965/16387280/7c6c4f50-3c94-11e6-88df-11678216b44d.png">

[2016-06-27 17:18] digitaldan commented on #1614
How about
![lines4](https://cloud.githubusercontent.com/assets/1903737/16388899/339a8f92-3c50-11e6-8baf-e6a4f1f8a53c.png)

Yes it has 4 lines, but I realized 3 was tough to tell what it was :-)

[2016-06-27 17:24] kaikreuzer commented on #1614
Well, that was all the purpose of it :-)

Your icon instead clearly looks like a written text paragraph, which very often is inappropriate as an icon as you explained above.

[2016-06-27 17:29] digitaldan commented on #1614
thats fair :-)  I guess my intent is to minimize it as much as possible (blend in), the three straight lines looks like something I would be expected to drag to re-order list items which is common on IOS, on android this looks like the "hamburger" menu icon (like when selecting sitemaps).  I am also aware of how much time we are talking about a little text item, so let us choose something quick ;-

[2016-06-27 17:47] reitermarkus commented on #1614
First of all, the border wasn't part of the icon anyway, it was just to show the dimension of the icon.

Yes. Also, different background colors on different devices/UIs are the exact reason why icons shouldn't be black/white.

I think the `text` icon should be considered a placeholder, because there is always a *thing* that is described by the displayed text, and there almost certainly will be a w

[2016-06-27 23:18] dynostatic commented on #1650
I'm running bundle 0.9.0.201606271819 as of today, and the issue persists. It sounds like we have about the same size setup. I haven't had a chance to do any debugging yet, but I hope to have some time tomorrow.

[2016-06-28 07:19] maggu2810 commented on #1713
I canceled the 99. build now :wink:
Will have a look at the result and give you some feedback.

[2016-06-28 07:22] maggu2810 opened #1757 "Test failure(s): automation.module.timer.internal.RuntimeRuleTest"
commit id: d279efc780f28abfeb7f906239c39c9612ac3013

[code]

[16.log.txt](https://github.com/eclipse/smarthome/files/336450/16.log.txt)

[2016-06-28 07:23] maggu2810 commented on #1757
[23.log.txt](https://github.com/eclipse/smarthome/files/336453/23.log.txt)
[27.log.txt](https://github.com/eclipse/smarthome/files/336454/27.log.txt)

[2016-06-28 07:23] maggu2810 commented on #1751
[32.log.txt](https://github.com/eclipse/smarthome/files/336456/32.log.txt)

[2016-06-28 07:28] maggu2810 commented on #1713
Cannot reproduce it ATM.
Will start another test iteration loop if the remaining tests stop failing.

[2016-06-28 07:28] #1713 closed

[2016-06-28 07:36] maggu2810 opened #1758 "tmpfs lost memory on each build (npm)"
After a lot of builds I run into a "no space left on device" error.
I looked at the space usage of my mount points and realized that the space of /tmp (a tmpfs) is 100% used.
I have 87 directories starting with "npm-".
79 of them have a size of 50MB (79 * 50M = 3950M).

We should have a look at the npm's maven plugin configuration if there is a clean up option.

[2016-06-28 07:37] maggu2810 commented on #1758
@kaikreuzer I assume this will also consume a lot of tmp space on the HIPP.
I remember that a few days ago the tmp of the Eclipse infra went out of space.

[2016-06-28 07:40] kaikreuzer commented on #1758
@aounhaider1 Could you check this?

[2016-06-28 07:40] tomhoefer commented on #1753
The only relvant output of the tests is:

[code]

[2016-06-28 08:36] kaikreuzer commented on #1614
Yes, I think we all agree. So this placeholder icon should try to imply as little meaning as possible. So which one is the most suitable in this regard?

[2016-06-28 09:10] aounhaider1 commented on #1758
This seems to be a npm issue (https://github.com/npm/npm/issues/6761). However, I noticed that tmp files are not even created if I use a local npm.i.e. set npm global flag to false (npm set global=false --local).

[2016-06-28 09:19] mathieubrochard opened #1760 "Errors in Eclipse Smart Home projects"
Hi everyone,

I have installed the Eclipse Smart Home development tools by following the [documentation](http://www.eclipse.org/smarthome/documentation/development/ide.html).
When I launch the Eclipse IDE, I have a lot of errors in the Smart Home projects.

![eclipse_smart_home](https://cloud.githubusercontent.com/assets/10001635/16410257/f39b471a-3d21-11e6-9553-a54256ac1001.jpg)

I tried to clean

[2016-06-28 09:44] maggu2810 commented on #1758
We are using Maven, so I would prefer that all temporary stuff for one build run should be stored into the build directory (target) instead of TMPDIR.
target is cleaned up on the clean phase.

So, can't we use the plugin "installDirectory" configuration and set it to a subdir of project build directory?
https://github.com/eirslett/frontend-maven-plugin/issues/18

[2016-06-28 10:31] hakan42 commented on #1758
In another project of mine, I used the Environment Injector plugin ( https://wiki.jenkins-ci.org/display/JENKINS/EnvInject+Plugin ) to set the variable

[code]

as a Build Environment step. This caused those file to be moved from /tmp to the workspace itself where the normal workspace cleanup helps keeping things tidy.

[2016-06-28 11:07] maggu2810 commented on #1758
IMHO we need a solution for the Maven build regardless if Jenkins is used or it is build on the command line on a workstation.
If the usage of "${project.build.directory}/npm" for temporary directories (e.g. npm_config_tmp or the some for the plugin configuration) then I would prefer to use it.

[2016-06-28 11:27] kaikreuzer commented on #1083
I am re-opening this issue in order to also add support for this new property in the Paper UI.

I would like to see two features there:

- Have a text input field on the "edit Thing" page
- Add tabs on the control UI for all different locations (use the capitalized string as a label) and keep the "ALL" tab (rename it to "OTHER") for all Things that do not have any location set.

[2016-06-28 11:29] maggu2810 commented on #1083
Is the "use the item name as the location reference" something that could be done or something that should be done? If it is the common use case, I think that should be considered while changing the Paper UI.

[2016-06-28 11:41] kaikreuzer commented on #1083
As discussed in https://github.com/eclipse/smarthome/issues/1083#issuecomment-227080646, we do not have the general assumption that it has to be an item name.

Maybe we can come to such a definition, but before doing so, I would like to come to conclusions on https://github.com/eclipse/smarthome/issues/582 and https://github.com/eclipse/smarthome/issues/1093, so that it is also clear, what items (

[2016-06-28 11:49] maggu2810 commented on #1758
Perhaps interesting for someone: https://gist.github.com/phillipgreenii/7c954e3c3911e5c32bd0

[2016-06-28 12:55] maggu2810 commented on #1758
Further links:
* https://gist.github.com/phillipgreenii/7c954e3c3911e5c32bd0
* https://github.com/npm/npm/issues/6855

I will create a PR soon.

[2016-06-28 13:31] kaikreuzer commented on #1724
This change broke the REST API (RuleResource) - since configurations cannot be (de)serialized anymore.
In the file system parser, you have implemented the Configuration(De)serializer classes to deal with that, but you missed the REST API.

[2016-06-28 14:11] #1758 closed

[2016-06-28 14:15] afuechsel opened #1763 "Hue lamp is not removed when removing hue bridge"
A hue lamp is not removed, when the bridge is removed. Furthermore, the lamp status is still ONLINE and won't even change, when sending a command to the bulb is answered with this log entry: "16:13:15.600 WARN  o.e.s.b.h.h.HueBridgeHandler[:203] - No bridge connected or selected. Cannot set light state."

[2016-06-28 15:29] reitermarkus commented on #1614
I think we should get rid of it completely. There is already a discrepancy between

[code]

and

[code]
A text item which is internally a number shows up blank by default. So why does `text` even need an icon when `number` doesn't have one? The label and text itself should be enough information already. The label is text, the text is text, so it should be clear that the sitemap item is a text item

[2016-06-28 17:54] kgoderis opened #1766 "No 'SPI-Provider' Manifest header. Skipping bundle"
I get the errors here below for the LIFX and Sonos bindings when running the latest snapshot

[code]

[2016-06-28 17:57] kgoderis commented on #870
I can confirm the problem, and in addition to that, the following (partly copied) is thrown as well:

[code]

[2016-06-28 18:18] kgoderis opened #1767 "QueueingThreadPoolExecutor : Thread pool 'items' exhausted, queueing tasks now"
@kaikreuzer After your submission of the new QTPE class, I get the above WARN message pretty fast and very often when I start up the runtime.

After a while the runtime breaks down with  a

It seems to me that a lot of things are being queued here, but the queue is not being cleared or processed?

[2016-06-28 18:23] kgoderis opened #1768 "RefreshType.REFRESH Commands issued before Bridge Handler is initialised?"
In the (experimental) KNX 2.0 Binding I log the following line

`2016-06-28 18:06:29.950 [WARN ] [ding.knx.handler.KNXBaseThingHandler] - KNX bridge handler not found. Cannot handle command without bridge.`

when I start up the runtime. It is specific for the KNX binding, but is only issued when a Thing receives a Command, which it will ignore when the BridgeHandler is not present. As it seems, a

[2016-06-28 18:29] kgoderis opened #1769 "RulesJvmModelInferrer : Duplicate field WARNings"
With the latest snapshot, when starting the runtime I see a massive amount of messages like:

`2016-06-28 18:07:51.982 [WARN ] [.rule.jvmmodel.RulesJvmModelInferrer] - Duplicate field: 'BathroomKidsSonosVolume'. Ignoring 'org.eclipse.smarthome.core.library.items.DimmerItem'.`

[2016-06-28 18:31] kgoderis opened #1770 "org.quartz.SchedulerException due to java.lang.RuntimeException of unresolved Item"
The following error is thrown by Quartz when a startup Rule is executed when the an Item is not yet defined:

[code]

[2016-06-28 18:34] kgoderis commented on #1687
@kaikreuzer @maggu2810 Here is another location where a similar error is popping up

[code]

[2016-06-28 18:41] kgoderis opened #1771 "Startup rules executed more than once"
Consider the following simple rule:

[code]

I get the following in the logs when starting up the runtime only **once**:

2016-06-28 18:12:22.081 [INFO ] [e.smarthome.model.script.org.openhab] - Switching simulation mode off
2016-06-28 18:12:36.117 [INFO ] [e.smarthome.model.script.org.openhab] - Switching simulation mode off
2016-06-28 18:12:50.294 [INFO ] [e.smarthome.model.script.org.openhab] -

[2016-06-28 21:15] lolodomo commented on #1769
It is a duplicate of #1574.

[2016-06-28 21:30] maggu2810 commented on #1768
The lifecycle for bridge and thing handler relationship needs to be changed and I think we already agreed about this one.
Please have a look at this issue: https://github.com/eclipse/smarthome/issues/1479

[2016-06-28 21:32] maggu2810 commented on #1766
That is not an error, it is an information.
Also this is not related to any ESH binding but to the openHAB runtime.
A bundle scans all other ones and informs about that one. As you can see the log message is written by Apache Aries (not available in the Eclipse SmartHome project at all).

[2016-06-28 21:34] maggu2810 commented on #870
Thanks @kgoderis. The message you given is the result of the circular reference. One part of the circular reference chain cannot get the service. It will be disappear as soon as the circular reference is resolved.

[2016-06-28 22:21] #1766 closed

[2016-06-28 22:22] #1769 closed

[2016-06-29 00:06] dynostatic commented on #1650
@kaikreuzer What information will be useful to you from a remote debug? I'm a bit new to some of this. I can connect and view the thread stack in the debugger, but I'm not sure where to go from here. I captured the stack from a good and bad startup, but I don't know if that helps or not.

[2016-06-29 07:19] kaikreuzer commented on #1771
Could you change the order to
[code]
A startup rule is called multiple times until it can successfully execute and resolve all its items.

[2016-06-29 07:51] joergkling commented on #1616
Happy to confirm that the lamp is now fully working with the new binding. Thanks for the great work!

[2016-06-29 07:55] kaikreuzer commented on #1616
Cool, thanks for the feedback!

[2016-06-29 08:32] kaikreuzer commented on #1402
@chriskn told me that he successfully prototyped this feature and it seems as if there should be no blockers regarding the implementation of such a feature for the runtime.

A remaining question is, where this web editor should be built in. There are imho several options:

1. Build a new simple UI specifically for the textual configuration support.
Pros: easy to provide as an option, UI can be des

[2016-06-29 08:59] maggu2810 commented on #1402
I agree with your cons for point 2.

For point 1 and 3 this means, offer the runtime side for both, but differ in the UI (no one for 1, add one for 3).
I would prefer to add a **simply** one (or if someone have time, it could be as good as possible) but at least one, that could be used as a showcase what is possible.
Other solutions are free to not use the simply one and add a more extended versio

[2016-06-29 09:24] afuechsel commented on #1616
Does it mean, we could just remove the special handling even for OSRAM PAR16 TW?

[2016-06-29 09:35] kaikreuzer commented on #1616
No, it only means the B40 does not have the same firmware bug as the PAR16.

[2016-06-29 11:40] kgoderis commented on #1766
@maggu2810 @kaikreuzer Sonos and LIFX are ESH bindings, and coincidently with this messages, these are the only bundles that fail to load in my setup whatever I do

[2016-06-29 11:42] kgoderis commented on #1771
Ok - will do. Mental note to document this as I will not be the only one to stumble in this pitfall

[2016-06-29 11:50] maggu2810 commented on #1766
The INFO message is produced by http://aries.apache.org/modules/spi-fly.html
So, if you want to get rid of the message, change the logger, stop the bundle org.apache.aries.spifly.dynamic.bundle (on Karaf: `bundle:stop org.apache.aries.spifly.dynamic.bundle`) or don't install it in your runtime.

The message is not produced by and there is no relationship to Eclipse SmartHome.

If you use install a

[2016-06-29 11:59] kaikreuzer commented on #1766
@maggu2810 Is this the discussion you refer to? https://github.com/openhab/openhab-distro/issues/16
I do not remember anything Aries specific besides that...

But the question indeed is: Why is this bundle at all installed/active - but this is something to discuss at openhab-distro indeed.

[2016-06-29 12:01] kgoderis commented on #1766
@maggu2810 the messages themselves are ok, I just noticed them and coincidently the LIFX and Sonos bundles were not loaded. e.g. Does one have to do with the other? From you answer I deduct that this is should not be the case, so I will further investigate why these binding refuse to load with the latest snapshot

[2016-06-29 12:06] maggu2810 commented on #1766
@kgoderis Ah, okay. No, that **should** not be related. :wink:

[2016-06-29 12:10] maggu2810 commented on #1766
@kaikreuzer No, I refer to the service scanning discussion (it has not been the SPI Fly one, but also stuff like the Whiteboard extender and  META-INF/service scanning):
https://github.com/openhab/openhab-distro/issues/10

[2016-06-29 12:48] kgoderis commented on #1771
@kaikreuzer For my understanding, will a rule execute partially, or fail altogether one a single Item is missing (except for the logInfo()s)? If the former, then this is maybe not desired behaviour for more complex start up rules.

[2016-06-29 15:21] digitaldan commented on #1614
@reitermarkus I would be ok with that, this is also what I have done on my system (set image="") to all text items.

[2016-06-29 22:04] s-simma commented on #1517
@kaikreuzer
updated yesterday to the latest version -> no idea what happened -> problem is gone. Can't reproduce it any more too.

[2016-06-30 07:13] danchom commented on #1641
@DM-Kang if you want OR relation between conditions you just split the rule into two rules.

[2016-06-30 07:50] #1724 closed

[2016-06-30 08:59] kaikreuzer opened #1774 "JS error when manually creating a thing without configuration"
When creating a Thing through the Paper UI, where the thing type does not have any config description, the UI crashes with a JS error when trying to set default config values.

[2016-06-30 09:12] kgoderis commented on #1771
@kaikreuzer I was just wondering why this logic for StartupRules is not applied to regular rules. I very often get things like

[code]

at startup of the runtime, especially when the loading process takes a lot of time

[2016-06-30 09:16] kgoderis opened #1775 "Unresponsive Karaf console"
Often, but not all the time, the Karaf console is not responsive. .e.g the session that is initiated when running the startup scripts. One can not enter commands anymore, it is a total freeze

However, ssh-ing into the runtime for a new session is working fine, and commands can be issued

Anyone seen this behaviour?

[2016-06-30 09:19] kgoderis commented on #1775
When doing a system:shutdown, the following is then thrown:

[code]

[2016-06-30 12:11] kaikreuzer commented on #1638
I think this issue is obsolete.
I saw a nice presentation by @ibuziuk yesterday at an Eclipse DemoCamp, where he showed the new features of JSDT in Neon - one of it is a JSON editor, see https://www.eclipse.org/webtools/releases/3.8.0/NewAndNoteworthy/sourceediting.php.

As the IDE setup is now updated to Neon, this is already part of our IDE and the editor shows up nicely for me :-)

[2016-06-30 12:11] #1638 closed

[2016-06-30 12:41] kaikreuzer commented on #1771
I am not completely sure - my expectation was that Xtext tries to parse the script and fails altogether if the item is unkown. But if changing the order actually makes a difference (did you test it?), it would mean that it partially executes the rule, which is - I agree - no good.

Well, mainly because a "regular" rule is supposed to fire only after the system startup (and the items potentially be

[2016-06-30 12:43] kaikreuzer opened #1778 "ColorTemperature not working on LIFX Color 1000"
I did a demo with a LIFX Color 1000 yesterday and noticed that the color temperature channel wasn't working at all - when moving the slider in the Paper UI, it was going to a cold white, flickering a bit, but I was not able to change the temperature as expected.

@kgoderis Does it work for you?

[2016-06-30 12:49] kaikreuzer commented on #1775
Nope, and again, this would be an issue for https://github.com/openhab/openhab-distro and not ESH.

[2016-06-30 12:49] #1775 closed

[2016-06-30 16:28] kaikreuzer commented on #1766
FYI: https://twitter.com/schneider_chris/status/748423161834770433

[2016-06-30 17:20] kaikreuzer commented on #1614
I am not too happy with the visual appearance, if there is no icon at all - to me the UI then looks somewhat broken; so I would prefer some kind of "meaningless placeholder", so that the UI at least pleases the eye :-)

[2016-06-30 18:44] kgoderis commented on #1778
I personally do not use the temperature channel in my ops env, only the color channel. That one is working fine. I will try to have it a go

[2016-06-30 18:51] kgoderis commented on #1778
@kaikreuzer

Something is fishy. I get

[code]

or

[code]

with LivingRoomLIFXLeftTemp being a Dimmer Item

[2016-06-30 18:54] kgoderis commented on #1778
I get

[code]

with LivingRoomLIFXLeftTemp being a Dimmer. How is that possible?

[2016-06-30 18:56] kaikreuzer commented on #1778
Sounds as if the LIFX binding does a stateUpdate with a DecimalType parameter instead of a PercentType...?

[2016-06-30 19:03] kgoderis commented on #1778
Dunno - That is (to me) not what is in the code....

[code]

[2016-06-30 19:06] kaikreuzer commented on #1778
The message is from "Received update", i.e. the ItemUpdater has received an event from your binding. The code snippet above instead is the code where your binding handles received commands.

[2016-06-30 19:11] kgoderis commented on #1778
Ok indeed - but that does not make sense at all. I presume then that this comes from the state the bulb is sending back after we issue an command to that bulb, but then the code below is executed:

[code]

The temperature channel is updated with a PercentType.....

[2016-06-30 19:14] kaikreuzer commented on #1778
Looks like it... Would have to debug to further analyze it - unfotunately, I won't find the time tonight...

[2016-07-01 08:14] kaikreuzer commented on #1767
Which would mean that some queued jobs are not terminating.
Might be interesting to do a thread dump (using jstack on the command line) of such an situation.

[2016-07-01 08:56] #1665 closed

[2016-07-01 09:00] kaikreuzer commented on #1591
@aounhaider1 Can you comment?

[2016-07-01 09:31] #1774 closed

[2016-07-01 10:11] kaikreuzer commented on #1083
@aounhaider1 Thanks for #1764.
One last change request on that: Could you rename the tab DEFAULT to OTHER (as mentioned in https://github.com/eclipse/smarthome/issues/1083#issuecomment-229022730) and always place it as the last (most right) tab?

[2016-07-01 10:18] kaikreuzer commented on #1557
This has meanwhile been implemented.
The inbox behavior has not changed - it stays on the inbox after approval. I think this is ok as it is.

[2016-07-01 10:18] #1557 closed

[2016-07-01 10:25] kaikreuzer opened #1787 "ClosedSelectorException in LIFX discovery"
I very often see this in my logs:

[code]
From the code, it is not clear to me how the selector can be closed at that point, so I don't really know how to fix it.
@kgoderis Do you have any bright idea?

[2016-07-01 10:58] aounhaider1 commented on #1591
Yes, some unused code is still there. I will remove that.

[2016-07-01 10:59] kgoderis commented on #1787
mmmh... While revisiting the code I noticed that a concurrency issue on the selector exists when a number of discovery scans are fired rapidly after each other, e,g. within the 10 second timeout set in the scan loop.

[2016-07-01 16:14] kgoderis opened #1790 "BasicUI : not updating and/or issue with "visibility=" tag in .sitemap"
I have the following in a .sitemap:

[code]

The goal is that only Switches that are in the ON state are displayed. However, when an Item changes from OFF to ON, the UI is not getting updated

[There is no such problem in the Classic UI or iOS UI]

[2016-07-01 16:42] kgoderis commented on #1790
Dupe of #1138

[2016-07-01 16:42] #1790 closed

[2016-07-01 16:49] kgoderis commented on #1771
Changing the order does change the output. I see the log message only once

[2016-07-01 16:52] #1768 closed

[2016-07-01 17:01] kgoderis commented on #1593
Should be fixed with https://github.com/eclipse/smarthome/pull/1788

[2016-07-01 19:05] cdjackson opened #1791 "Unable to get information or update properties on existing inbox entry"
As was discussed [here] (https://github.com/eclipse/smarthome/pull/1213) (see [comment](https://github.com/eclipse/smarthome/pull/1213#issuecomment-200056170)) there is no way to get information, or even the existence of an existing inbox entry. This means that when I discover the entry a second time, if at that time I have less information about the device than I might have known earlier, this in

[2016-07-02 08:02] joergkling opened #1792 "[HUE] Switch-off not working for Osram bulbs on older software version"
Osram bulbs (here PAR16 50 TW) don' switch off completely when using a toggle in classic/basic UI and the bulbs are on an older software version. However the predefined toggle in PaperUI works fine (regardless the software version).

**Item definition**
Switch	Light_Kueche_Innen1_Toggle					"Kueche Innen 1 Toggle"			(gLight_Kueche)	{channel="hue:0220:00178810d0dc:22:brightness"}

**Not working: V1

[2016-07-02 08:52] maggu2810 commented on #581
@hakan42 Are you still working on this?

[2016-07-02 09:09] kaikreuzer commented on #1792
Did this work before the changes from https://github.com/eclipse/smarthome/pull/1652?

[2016-07-02 10:13] joergkling commented on #1792
Seems so. I just tested this on a beta3 and there the switch is working for all bulbs/firmware.

[2016-07-02 10:30] s-simma opened #1793 "rule "when System started""
I have about 70 Things and 120 items configured (Startup procedure takes about 40 seconds)
Using in the "System started" rule:
  sendCommand("HouseStatus","3")
  sendCommand("Alarm","OFF")
  ........
  .........
throw following error:
2016-07-02 08:52:04.866 [ERROR] [.script.engine.ScriptExecutionThread] - Error during the execution of rule 'roomToHeizung': An error occured during the script execu

[2016-07-02 12:40] kgoderis commented on #1767
Ah... After a bit of testing and study I come to the conclusion that when .items are processed with a lot of Items in them, the queuing mechanism is activated by https://github.com/eclipse/smarthome/blob/1257c94e1752a6caf5f8227efa7155d2ac824880/bundles/core/org.eclipse.smarthome.core/src/main/java/org/eclipse/smarthome/core/items/GenericItem.java#L219 flooding the executor. There are after all onl

[2016-07-02 21:03] cdjackson opened #1796 "XML files are loading after the things are initialised"
This seems to now be broken. I see the ```All data has been loaded``` message before any data is loaded...

[code]

[2016-07-03 10:01] resetnow commented on #1721
#1797

[2016-07-03 11:37] kaikreuzer commented on #1792
@afuechsel As this seems to be a regression caused by #1652, could you please have a look?

@joergkling Could you provide a bit more details on that? After all, the Paper UI also only sends commands to the item.

Can you reproduce it by issuing commands through the console (```smarthome:send Light_Kueche_Innen1_Toggle OFF```) and check whether it makes a difference if you use a Switch or Dimmer it

[2016-07-03 11:41] #1767 closed

[2016-07-03 13:50] s-simma commented on #1793
And with snapshot 388 it becomes even worse:

SystemStarted = 0;

thorows the exception:
2016-07-03 15:42:09.436 [ERROR] [ntime.internal.engine.RuleEngineImpl] - Error during the execution of startup rule 'Systemstart': Couldn't invoke 'assignValueTo' for feature JvmVoid:  (eProxyURI: demo.rules#|12)

[2016-07-03 19:58] joergkling commented on #1792
Mhhh, not sure what I did two days ago. Today I triggered again the OFF command via Paper UI and got the same result as when using a switch (meaning the light dimms down but does not switch off completely). So please ignore the statement: _However the predefined toggle in PaperUI works fine_

Sorry about the confusion.

[2016-07-03 20:37] dominicdesu opened #1798 "RawType base64-encoded value is written to log file every time state changes"
Hi,

whenever an item changes, the ItemStateChangedEvent is logged (on info level), containing the old and the new state of an item:
`itemName + " changed from " + oldItemState.toString() + " to " + itemState.toString();`

If a RawType item has changed, the toString method of the RawType outputs its Base64-encoded value:
`PortableBase64.getEncoder().encode(bytes);`

This is not really nice as I do

[2016-07-04 02:28] feens commented on #1517
I update today, same results.  I think it's fair to mark this as closed.

[2016-07-04 02:28] #1517 closed

[2016-07-04 06:42] kaikreuzer commented on #1798
I agree, this should be avoided.
It would be nicest to implement RawType.toString() so that it comes up with something short like "binary content", but as the toString method is also used to have a full string representation from which types can be reconstructed again, this won't work.
So the better fix is probably to change the toString method of the item events in a way that they behave differen

[2016-07-04 07:18] #1778 closed

[2016-07-04 07:18] #1787 closed

[2016-07-04 08:18] afuechsel commented on #1792
This could be related to the initialization of the isOsramPar16 in the HueLightHandler, which could be missed, as we recently have seen in some unstable tests and due to #1479. A workaround could be to remove this property completely and check the light type each time a command is processed, whether it is an OSRAM bulb and needs special handling.

However, as it does not happen with newer firmware

[2016-07-04 11:56] afuechsel commented on #1792
Any comments about removing the OSRAM hack completely?

After analyzing this a bit, it turns out, that both this bug (where the isOsramPar16 is initialized too late) and also the spurious test failures, where the expected property value has not yet been set (https://github.com/eclipse/smarthome/pull/1652#issuecomment-230226871) have the same reason:

Previously, as properties could be stored, it h

[2016-07-04 12:26] afuechsel commented on #1792
Created #1799 which should fix this issue. I am lacking of OSRAM bulbs, so @joergkling could you please retest with this branch? The PR should also fix the sporadic test failures.

[2016-07-04 12:50] joergkling commented on #1792
Regarding the Osram hack: It could be that not all users have the chance to upgrade the software of the Osrams bulb. Reason for this is that as owner of the Hue bridge they don't have a Osram bridge which is needed for the update. I spent the extra money for an Osram bridge and this is why most of my bulbs are on the newest software version.

Happy tho test the fix. I assume I need to wait for the

[2016-07-04 12:56] afuechsel commented on #1792
I need to update the PR before it could be merged. I have no idea when this will be. In the meantime you could also just fetch my branch into your repo and build it locally, if you have everything setup to build Eclipse SmartHome. If not, I guess you have to wait for the merge.

[2016-07-04 15:47] digitaldan opened #1800 "Add support for Image items in Sitemaps and Classic+Basic UI"
Continuing the discussion from https://community.openhab.org/t/squeezebox-display-coverart/12072/4

The Squeezebox binding implemented image support (coverart) by retrieving the image from a URL and converting the raw image data to a RawType.  Is this a supported use of a RawType?  I remember reading in a comment that images were one of its intended uses, but is this still the case? Right now I do

[2016-07-04 16:17] davidgraeff commented on #1760
@mathieubrochard Atleast Openhab2, an implementation of Eclipse smarthome is not compatible to eclipse neon (something with missing dependencies) and eclipse mars has to be used. This may be the problem here, too.

[2016-07-04 16:32] maggu2810 commented on #1760
@davidgraeff If I am not wrong, openHAB supports the usage Eclipse Neon in its IDE setup: https://github.com/openhab/openhab-distro/commit/dac835719a856699f5472b0105ee6f0dbf5f2f20

[2016-07-04 16:36] maggu2810 commented on #1760
@mathieubrochard Are you sure you have followed the steps 8 and 9?
Has the model generation been succeeded?

Can you try to manual trigger the model generation?
Project: org.eclipse.smarthome.model.codegen
File: Generate All Models.launch
Richt click
Run As: Generate All Models

After that (copy console if it fails) you should clean and rebuild all bundles.