[2017-12-20 07:26] michel53 opened #4789 "Multi-Line item/sitemap text"
I would like to use multi-line text for items/sitemaps.
This could be added via special escape character like "\n".
F.e.
Switch Wall_Plug "Schaltbare Steckdose1 \n(Wohnzimmer) [%s]"
Number Shutter1_Power "Rollo Küchentür \nLeistung [%.1f W]"

To show in 2 lines in all UIs.

[2017-12-20 07:29] lolodomo commented on #4764
There were 2081 warnings last weekend. We are now at 1278. Digitalstrom binding represents now 16,5% of all ESH warnings.

[2017-12-20 08:22] sjka opened #4790 "remove the usage of ServiceTracker"
...in BaseThingHandler.

[2017-12-20 08:35] kaikreuzer commented on #4781
We have meanwhile defined Jetty 9.3.15 as a minimal version for ESH anyhow, so I am not sure that we have to keep that information in place.

[2017-12-20 08:56] sjka commented on #4764
Thanks @lolodomo for joining the spring-cleaning efforts 👍

[2017-12-20 11:45] maggu2810 commented on #4781
The intention of that section in the manifest (and all the other ones) is to add information to the OSGi runtime. The whole wiring depends on that correct information.
So, if we know that something does not work with a version lower or greater then, this information should be added to the manifest.
I don't know about a OSGi runtime that reads some ESH documentation :wink:
Also if I as a product ow

[2017-12-20 13:26] triller-telekom commented on #4693
Thanks to @sjka we have annotations on the `ChannelTypeProvider` since this PR: https://github.com/eclipse/smarthome/pull/4735/files#diff-40a2a4edcb30dc026e81c7ab59f420adR28

@wborn Does that solve your problem so this issue can be closed?

[2017-12-20 13:28] wborn commented on #4693
Thanks @sjka ! This solves the issue :+1:

[2017-12-20 13:29] #4693 closed

[2017-12-20 16:13] #4697 closed

[2017-12-21 08:37] lolodomo commented on #4781
So it was intentional and required in the current case ?

[2017-12-21 08:41] lolodomo commented on #4782
So it was intentional and still required in the precise case ?

[2017-12-21 13:34] sjka commented on #4781
Yes, and I'd like to second @maggu2810: In this particular case it should stay in there.

[2017-12-21 13:50] kaikreuzer commented on #4781
Sorry, but I do not agree with @maggu2810 and @sjka.
To be precise: I agree that providing minimal package version information can be helpful, but I do not agree that this is the agreement so far in ESH.

What we have done so far is to define the minimal version with which ESH is working in the target platform (or in the ESH documentation) and we deliberately decided against adding that informatio

[2017-12-21 16:10] maggu2810 commented on #4781
Hm, IIRC this has never been really discussed (perhaps the time before my involvement or I have don't remember anymore).

Yes, perhaps this is what should be done.

[2017-12-21 16:15] maggu2810 commented on #4781
To be clear:
I don't want to have different version constraints for the same package in ESH bundles.
All ESH bundles should use the same version constraints for the same package.
So, I would like to have the constraints ESH defines (per documentation and target platform) in every bundle for the respective packages.

As long as we do use the manifest first approach, I could create a utility that he

[2017-12-21 19:57] TheNetStriker opened #4794 "Hue addon not switching all lights in big groups"
Since the latest Hue firmware update (version 01038802) the Hue api seams to be blocking rapid http requests. This happens e.g. when switching on/off lights using a group with a lot of lights. (In my case from 7 lights up) This results in several lights that do not react to the command from OpenHab.

I've reproduced this problem simply by using the Chrome ARC plugin and uploaded a video showing th

[2017-12-21 20:37] travellingkiwi opened #4795 "HTTP 500 when exception is thrown during configuration update"
When attempting to update the automatic turn off timer of the second switch on a Qubino dual module... I get the exception below. Sadly it seems to be quite reproducible.

R-Pi2
Raspberian 8
Oracle 8 build 151 (Arm 64 bit)
Openhab 2.2.0-1

Using the zWave serial binding

[code]

[2017-12-21 21:29] openhab-5iver commented on #4795
This looks to be an issue with the OH zwave binding. I recommend you close this issue and open one [here](https://github.com/openhab/org.openhab.binding.zwave/issues).

[2017-12-21 23:44] cdjackson opened #4798 "Conflict with definition of min/max and multipleLimit"
Currently there is a conflict of the definition of multipleLimit, and min/max definition with respect to the maximum number of options that can be selected in a list.

[code]

As seen above, both ```mutipleLimit``` and ```max``` can apparently be used to set the number of options that can be selected, and this probably should be consolidated...

One limitation I see with the re-use of min/max in m

[2017-12-22 00:44] rikkyrik opened #4799 "VS Code - editing .rules-files: The type RulefilenameRule is already defines in Rulefilename.rules"
ive noticed following problems since upgrade to oh 2.2.0 rel:

every first statement of each rule-file is marked as a problem with this strange hint of a “type is already defined in…” ive never defined. no matter whether the first statement is a var or an import.
![grafik](https://user-images.githubusercontent.com/34756949/34280535-834634e2-e6b8-11e7-925f-b4aa5928f671.png)

c&p of the problem line

[2017-12-22 06:49] juscruzin777 commented on #3632
Hello.

Noob here. First post. I installed OH2 on my Win7 machine just a few days ago. I received my Wemo Dimmer in the mail this morning. I've been searching and searching on how to install the version provided by hmerk (thank you very much!) for testing.

Can anyone assist or point me in the right direction for more information in traveling this rough and rugged road?!

[2017-12-22 07:04] kaikreuzer commented on #4794
Thanks for the analysis @TheNetStriker! This indeed sounds as if some throttling has to be implemented in the hue binding - we already have something similar for TRADFRI afaik.

[2017-12-22 08:10] hmerk commented on #3632
Just drop the downloaded jar file into your addons folder.

[2017-12-22 10:31] hannibal85 commented on #4799
I can confirm this

OH2.2.0 stable on Ubuntu 16.04

[2017-12-22 14:05] aploese commented on #4465
If there is an interest I could dual licence (LGPL and EPL) the SPSW api stuff.
Then there would be at least common ground to implement the provider.
The provider itself is forked from jssc, which is under LGPL and not maintained any more too.

For SPSW there is:

* an interface SerialPortSocket
* an log wrapper which logs all native port access for SerialPortSocket
* a mock wrapper for testing
*

[2017-12-22 14:48] bdleedy opened #4803 "WeatherUnderground binding does not provide pressure_trend"
@lolodomo Awesome work on this binding! I'm missing the handling of icons but it seems as though that is being discussed and on it's way somehow.

I'm not a Java guy but tried to code the following. mvn install clean fails for me with a tools.jar issue I'm trying to figure out. I'm wondering if you would take a look at what I wrote and integrate it or a better version. I considered a converter but

[2017-12-22 15:21] hww3 commented on #4748
I've been thinking about this on the derived weather data front, and sort of thought the idea of a MetaBinding might fit the need... a class of binding that could consume updates from other things/items/channels and present its own set (and potentially hiding/masking the channels that it consumes).

Also, this sort of thing might be very useful in other situations. For example, I have a number of

[2017-12-22 16:24] lsafelix75 opened #4804 "feature:install pax-war returns download error"
Hi,

I am getting the following error on OpenHab 2.2's Karaf console. Is this normal?
openhab> feature:install pax-war
Error executing command: Error:
	Error downloading mvn:org.ops4j.pax.web/pax-web-extender-war/6.0.7
	Error downloading mvn:org.ops4j.pax.web/pax-web-descriptor/6.0.7
	Error downloading mvn:org.ops4j.pax.url/pax-url-war/2.5.2/jar/uber
	Error downloading mvn:org.ops4j.pax.web/pax-we

[2017-12-22 16:26] pgfeller commented on #4041
Just an update on this issue; I still see the problem with openHAB 2.2; all files are utf-8 encoded (items, and sitemap). Items show ok in sitemap.

js request
[code]

For "Wohnen & Küche" I still reveice "K�che"; the & is encoded:
[code]
The request header looks like this:
`Accept:*/*
Accept-Encoding:gzip, deflate
Accept-Language:de,de-CH;q=0.9,en-US;q=0.8,en;q=0.7
Connection:keep-alive
Content-T

[2017-12-22 16:28] kaikreuzer commented on #4804
Please note that this is the ESH issue tracker, which has nothing to do with Karaf.
You might want to post in the openHAB forum instead.

[2017-12-22 16:28] #4804 closed

[2017-12-22 16:44] travellingkiwi commented on #4795
zWave error or not, I would argue that you shouldn't get a 500 error back from the REST server because of a downstream issue...

At least a sensible message logged that people who don't want to be java developers can read and say what happened would be appreciated by many.

[2017-12-22 16:48] kaikreuzer commented on #4795
Ok, you have a point there - let's reopen this in order to correctly catch the 500. But for the downstream issue, you should definitely enter an issue for ZWave :-)

[2017-12-22 20:49] juscruzin777 commented on #3632
Wow, thank you for the quick reply!
I did as you instructed but cannot find any reference to the added file in Paper UI.

Any suggestions?

[2017-12-22 20:52] hmerk commented on #3632
You should find it under config/bindings in PaperUI.
Also please check in Karaf console if bundle:list command shows it as running.

[2017-12-22 22:03] juscruzin777 commented on #3632
I see your original Wemo Binding in PUI that I installed a few days ago, but do not see anything about "dimmers". I do not see the new binding listed in Karaf console after running bundle:list command.

[2017-12-22 22:09] hmerk commented on #3632
Ok, you have missed to uninstall WeMo Binding first and the clear /userdata/cache to remove the old Binding completely.
After a clean restart put the new binding into addons folder again.

[2017-12-22 22:12] travellingkiwi commented on #4795
Agreed.

[2017-12-22 22:17] jakobstenfeldt opened #4806 "[Tradfri] - Small documentation error"
Number is used in Sitemap, will change to Text instead.

[2017-12-22 22:36] juscruzin777 commented on #3632
I uninstalled the Wemo Binding in PaperUI
Cleared /userdata/cache of all files and folders
Restarted OpenHAB
Put the new binding into /addons
Installed Wemo Bindings

I still do not see any "dimmers". I only see the original Wemo Binding under Config/bindings in PaperUI.
Will the dimmer be a separate binding or will it be listed under the original Wemo Binding with the coffee maker, switch... ?

[2017-12-22 22:40] hmerk commented on #3632
If you scan for new WeMo devices, it should appear in Inbox.
Could you post what Binding version is shown in Karaf console.
Another question, is your Dimmer working with original WeMo App?

[2017-12-22 23:03] juscruzin777 commented on #3632
The original WeMo app is buggy and intermittent at best. WeMo hardware seems solid, but app is in need of big help.  OpenHAB straight away recognized my light switch and mini switch. I was even able to add rules to turn on and off at specific dates. OpenHAB is great!

Other than the initial discovery in the installation of WeMo app, I was never able to control the dimmer with WeMo app.

[2017-12-22 23:06] juscruzin777 commented on #3632
When scanning for new WeMo devices, nothing is found.

I will try posting binding versions in Karaf...

[2017-12-22 23:07] jakobstenfeldt commented on #4806
Merged #4807.

[2017-12-22 23:07] #4806 closed

[2017-12-22 23:09] juscruzin777 commented on #3632
These are the only references I see to WeMo in Karaf bundle:list

193 | Installed |  80 | 0.9.0.201712142306     | Eclipse SmartHome Wemo Binding
194 | Active    |  80 | 0.9.0.b5               | Eclipse SmartHome Wemo Binding
195 | Active    |  80 | 0.9.0.b5               | Eclipse SmartHome UPnP Transpor
t Bundle
openhab>

[2017-12-22 23:17] hmerk commented on #3632
Rhis clearly says your old Wemo Binding is active, not the new one.
So again, please stop OH, delete content of cache and temp folder.
If you have added Wemo Binding to addons.cfg, please remove that entry there and restart OH
Check in console if you have just one Entry for Wemo Binding and that‘s not the 0.9.0.b5 one.

[2017-12-23 00:49] juscruzin777 commented on #3632
Still unable to see "dimmers" in PaperUI

I stopped OH and deleted contents of /openhab2/cache/
No WeMo bindings in addons.cfg

console show no instance of wemo bindings

193 | Installed |  80 | 0.9.0.201712142306     | Eclipse SmartHome Wemo Binding
194 | Active    |  80 | 0.9.0.b5               | Eclipse SmartHome Wemo Binding
195 | Active    |  80 | 0.9.0.b5               | Eclipse SmartHome UP

[2017-12-23 01:10] 9037568 commented on #4041
The default encoding for application/json is UTF-8 ([per the RFC](http://www.ietf.org/rfc/rfc4627.txt)). Therefore, there is no need to add "charset=utf-8" to the Content-Type.

[2017-12-23 07:50] hmerk commented on #3632
Ok, i forgot the obvious:
1. Uninstall Wemo Binding from PaperUi
2. Stop openHAB
3. Delete Wemo Binding in addons folder
4. Delete content of cache AND temp folder
5. Start openHAB
6. Check with console that there is no Wemo Binding installed
7. Place downloaded jar into addons folder
8. Check in console if you got the new binding active

[2017-12-23 18:42] juscruzin777 commented on #3632
hmerk,
No dimmer control yet, but making progress! Thank you for your time and patience!
It looks like I did not delete the TMP folder contents.

Doing steps 1 - 8 above, console now shows:
s: 188
191 | Active    |  80 | 2.1.0                  | HABPanel User Interface
192 | Resolved  |  75 | 2.1.0                  | openHAB Paper UI Theme Fragment
, Hosts: 189
193 | Installed |  80 | 0.9.0.201712

[2017-12-23 18:46] hmerk commented on #3632
No, don‘t install WeMo Binding through Paper UI again.
Jusz check in console if the new binding comes active. If it stays installed, please post the according logs here.

[2017-12-23 18:59] juscruzin777 commented on #3632
Ok, I'm back to step 8.

console
s: 188
191 | Active    |  80 | 2.1.0                  | HABPanel User Interface
192 | Resolved  |  75 | 2.1.0                  | openHAB Paper UI Theme Fragment
, Hosts: 189
193 | Installed |  80 | 0.9.0.201712142306     | Eclipse SmartHome Wemo Binding
openhab>

openhab.log
2017-12-23 10:52:18.241 [INFO ] [basic.internal.servlet.WebAppServlet] - Stopped Basic UI
2

[2017-12-23 19:03] hmerk commented on #3632
Ok, that looks good. The Binding is not startet, as the UPnP Module is not installe when dropped into addons folder. Easiest solution, just install Sonos Binding through PaperUI even you don‘t use it.
Afte another restart, you should see Wmo Binding active

[2017-12-23 19:14] juscruzin777 commented on #3632
I SEE WEMO DIMMER IN MY IN BOX!!
THANK YOU, THANK YOU, THANK YOU!

Thank you again for your time and patience.  I am excited about OpenHAB and the awesome support that follows.

[2017-12-23 19:24] hmerk commented on #3632
Glad you got it running. If you see any issues, feel free to post your comments here.
Mary X-MAS

[2017-12-23 19:29] smerschjohann commented on #4651
I cannot reproduce with latest 2.2.0 release. Can you try again with the latest version?

[2017-12-23 19:38] juscruzin777 commented on #3632
Will do, I will post any dimmer issues here... I have other Wemo issues that I will try and tackle myself first. If I have no luck, I will open a new topic.

And yes, MERRY CHRISTMAS!

[2017-12-23 23:44] wborn opened #4808 "JSR223 scripts loaded before ScriptExtensionProviders are initialized"
I'm using the JSR223 scripting engine with some Groovy scripts to update the state of some items with Thing status and firmware information. That all works well. However when I start openHAB 2.2.0 the scripts are loaded before the `DefaultScriptScopeProvider` is fully initialized.

This results in the following error:

`21:23:58.192 [ERROR] [ript.internal.ScriptEngineManagerImpl] - Error during ev

[2017-12-24 09:43] lolodomo commented on #4670
Ok, I need now a fix to this issue to implement SSE in the Android app. So I will propose the fix.

To avoid duplicating the item state in the message, I will set the new state field to `#item.state#` when the widget state is simply the (raw) item state.

[2017-12-24 09:51] lolodomo commented on #4803
À simple MAP should work. But if you are sure of all possible values, this could be included in the binding.

[2017-12-24 09:56] lolodomo opened #4809 "Sitemap SSE: releasing subscriptions"
@kaikreuzer @resetnow : I am working on the Android app to use SSE. With the Android app, I will need to get new SSE subscription(s) when switching from local to remote access or the reverse.
I am surprised to not find in the API a call to unsubscribe a subscription ID. Is there a valid reason to not provide such API ? If not, I can add it.

[2017-12-24 10:02] resetnow commented on #4809
The reason not to provide such API initially was because it's impossible to call it when the device connection is shut off or the page is closed. Right now subscriptions are garbage-collected. Honestly I think you can just leave them unused, it's how it happens right now with BasicUI. In this case, this switching is unlikely to be performed very often so it's not much different.

[2017-12-24 12:55] smerschjohann commented on #4808
As we don't know when the whole platform is initialized, the [ScriptFileWatcher](https://github.com/eclipse/smarthome/blob/master/bundles/automation/org.eclipse.smarthome.automation.module.script.rulesupport/src/main/java/org/eclipse/smarthome/automation/module/script/rulesupport/internal/loader/ScriptFileWatcher.java) currently waits for 25 seconds before importing the scripts located at the `jsr

[2017-12-24 14:34] wborn commented on #4808
It may take my RPi3 up to 10 minutes to get everything fully started so I guess the 25 seconds are a bit short in that case.

I'll try the workaround but I put in this issue so everyone does not have to resort to manually applying such workarounds. :-)

[2017-12-25 05:13] jmsjones commented on #579
I have been looking over this thread and the linked material and wanted to pass along some initial thoughts.

**Clarifications regarding requirements:**

- What authentication methods need to be supported? Username and password is a minimum. OAuth2 has been requested. I have been considering using LDAP.
- Most of the discussion has been based on runtime access, such as can the user view a certain

[2017-12-26 07:30] lolodomo commented on #4809
My way to use subscriptions in the Android app is to request a subscription when I need it. Then the subscription could be not used during a possible very long time and then used again. Can it be a problem ?

[2017-12-26 08:01] resetnow commented on #4809
I think under the SSE layer there's a TCP connection which you need to keep opened. One thing I'm not sure about is whether or not we have or need some form of keep-alive packets which could be used to tell if the client was disconnected abnormally (e. g. went out of wifi coverage)

[2017-12-26 08:03] resetnow commented on #4809
Nonetheless, if a you make a request to a non-existing subscription you'll know about it — there is a 404 code.

[2017-12-26 08:08] lolodomo commented on #4809
SSE in one thing and ESH subscription id is another. I can request an ESH subscription id and then open a SSE connection with it during a certain time and then close it. Later I open again a SSE connection with the same subscription id.

[2017-12-26 08:11] lolodomo commented on #4809
Other thing: during my short tests with OkSse, I could see that the SSE messages have a null id. Is it something we are not setting on the server side ?

[2017-12-26 08:13] lolodomo commented on #4809
Ok so I should handle the 404 error and request a new subscription id in this case.

[2017-12-26 08:23] resetnow commented on #4809
What I was saying is that subscription may be garbage collected by then. If you don't open a connection, it's seen as unused server-side.

[2017-12-26 09:35] lolodomo commented on #4809
Ok, that is clear.
It will not be easy to handle in my current code.

[2017-12-26 09:56] resetnow commented on #4809
I can check it in a couple of days or so, in the meanwhile if you want to see if closing BasicUI in various ways triggers the subscription deletion you can check it here:

https://github.com/eclipse/smarthome/blob/8eff2ba62c00ba852e085e5713a08b16f5dd4ad6/bundles/io/org.eclipse.smarthome.io.rest.sitemap/src/main/java/org/eclipse/smarthome/io/rest/sitemap/internal/SitemapResource.java#L672

[2017-12-26 14:56] MHerbst opened #4814 "[Paper UI] Sidebar disappear if combox is open or modal dialog displayed"
There is small issue in Paper UI (partially also existed in OH 2.1). When I open a combobox e.g. in the "System" tab, the sidebar disappears which looks quite ugly:
![image](https://user-images.githubusercontent.com/616792/34359059-156a3040-ea55-11e7-8b99-bb76f9fd6c55.png)

Same happens for modal windows.

I have tested it on Windows 10 with Chrome 63, Firefox 57 and Edge.

[2017-12-26 15:02] MHerbst opened #4815 "[Paper UI] Add links to (available) docs for all Add-Ons"
On the "Add-ons" page the add-ons on tabs "BINDINGS" and "PERSISTENCE" have links to the corresponding documentation pages on docs.openhab.org.
For the add-ons on the other tabs (e.g. "TRANSFORMATIONS", "USER INTERFACES") the links are missing although the documentation exists.

[2017-12-26 16:22] 9037568 commented on #4200
I have the basic data retrieval working. Plan to commit a first version to my fork soon.

[2017-12-27 10:00] kaikreuzer commented on #4815
Sorry, ESH must not link to openHAB documentation.
The links that you find on the addons are defined within the extension service of openHAB, see https://github.com/openhab/openhab-core/blob/master/bundles/org.openhab.core.karaf/src/main/java/org/openhab/core/karaf/internal/KarafExtensionService.java#L109-L115

[2017-12-27 10:00] #4815 closed

[2017-12-27 10:28] MHerbst commented on #4815
It's sometimes not so easy to figure out the correct Repo. Thanks for the hint and the link to implementation.

[2017-12-27 10:38] Dan1001 opened #4816 "[sonos] clearqueue channel doesn't work"
Hi,

The clearqueue channel doesn't seem to work at all on the Sonos binding.

If I create a queue on a Sonos devices, then all other of the openHAB channels work perfectly on that device, but clearqueue does nothing. There are no log entries.

thank you!

Dan

[2017-12-27 11:23] kaikreuzer opened #4817 "DSL serializer for items and things"
Some people ask whether it is possible to get item&thing DSL files from an existing setup that was done through the GUIs - this is currently clearly not possible.

To offer it, we would need a kind of serializer/exporter to DSLs. This could simply be a new console command. I am not sure, what information might be lacking the database for constructing "nice" DSL files, but in general, it should be

[2017-12-27 19:03] kubawolanin commented on #4817
I've created a little POC that serializes all the items to the textual form.
I've used a piece of code I wrote for [Home Builder](https://github.com/openhab/openhab-core/tree/master/bundles/org.openhab.ui.homebuilder/web) and slightly modified it.

Unpack the following into your `/openhab-conf/html/`:
[exporter.zip](https://github.com/eclipse/smarthome/files/1589678/exporter.zip)

And then go to h

[2017-12-28 09:32] lolodomo opened #4819 "Sitemap SSE vs sitemap REST API: diffent widget ID"
For a client UI, the normal way to handle a page is first to download the page with all its widgets using the sitemap REST API and then to use the sitemap SSE to get updates of widget in the page. For that, the SSE event contains a widget id toidentify whart widget is updated.
The problem is that the two API are using different widget ID for the same widget ! So when you receive an event through t

[2017-12-28 09:42] lolodomo commented on #4819
@NicoVermeir : you told me that you were using the sitemap SSE in the Windows app to update the app. Can you explain how you handle this issue without encountering problems ? In my opinion, it is just impossible to handle that in a 100% reliable way.

[2017-12-28 10:20] sjka commented on #4817
For the sake of consistency I'd suggest doing it in a different way though: Creating EMF model instances (i.e. these EObject derrived classes we have in the model bundles) created from the database entries and then Xtext takes care of the serialization. The only drawback I see is that this actually requires having the Xtext stuff installed, but I guess we can consider this a given for such use-cas

[2017-12-28 18:56] lolodomo commented on #4819
Additionally, there was a bug in the sitemap REST API when building the widget ID at this line: https://github.com/eclipse/smarthome/blob/master/bundles/io/org.eclipse.smarthome.io.rest.sitemap/src/main/java/org/eclipse/smarthome/io/rest/sitemap/internal/SitemapResource.java#L426

[2017-12-28 20:30] gdgeist commented on #1722
How would you sponsor a bounty to add Transition Time?

[2017-12-28 22:15] polarathene commented on #1722
BountySource could help fund it, but I guess the dev would need hardware access too.

[2017-12-29 08:48] kaikreuzer commented on #1722
FTR: https://www.bountysource.com/issues/35385223-hue-add-support-for-transitiontime-treat-
effect-like-alert-bridge-groups

I'd assume that there are many developers that own a Hue system already, so there is a good chance that it spawns some interest.

[2017-12-29 09:26] #4819 closed

[2017-12-29 10:45] kaikreuzer commented on #4795
On a closer look, you actually haven't. The REST API handles it in the most appropriate way.

It internally catches the exception and logs a proper message with all details that a user needs in order to report a bug. It then returns "internal server error" to the caller, because this is what has happened - a bug on the server that prevents a proper processing of the request.

[2017-12-29 10:45] #4795 closed

[2017-12-29 10:55] lolodomo commented on #4558
I have the feeling that it should be easy to make widgets visible but less easy to identify the widgets to hide.

[2017-12-29 13:07] travellingkiwi commented on #4795
It may be 'handled' correctly, but I think the presentation of the info could be improved. A lot.

For example the 500 is just flashed up in the bottom RHC of the web page. Not very useful to a user. Unless you're watching for it, you may miss it as sometimes you get multiple problems in a  row. Sometimes a success quickly followed by a 500... It's not like there is a log anywhere showing that a 5

[2017-12-29 13:16] cdjackson opened #4823 "PaperUI is displaying configuration of channel-type rather than channel"
Currently it seems that PaperUI is only displaying the configuration of the channel-type, and not the channel itself.

For example -:
[code]
and not
[code]

This means it's not possible to have channel specific configuration shown in PaperUI as the system supports. A direct call to the rest interface with the above config uri works fine.

I'm not sure if this is a bug in PaperUI, or maybe in the t

[2017-12-29 17:10] cribskip opened #4824 "Rules/Sitemaps/Scripts refreshed twice"
When changing files (rules, scripts, sitemaps), this results in openHAB to Load and Refresh the file twice, causing unnecessary delays especially on embedded platforms.

**Expected behaviour**
When changing files, the ModelRepositoryImpl should only refresh known files. When a new file is added, it should be added and watched out for changes.

**Current behaviour**
When changing files (rules, scri

[2017-12-30 12:50] smerschjohann opened #4825 "Exceptions in Actions are not logged"
Exceptions in Actions aren't logged, instead only the action id is mentioned.
Example: `Failed to execute rule '420aa8d5-3f8b-41a3-be5c-6d64f49d7148': Fail to execute action: 2`

Workaround: Set the log level of the automation.core to DEBUG.

Proposed solution: Add the Exception message behind "Fail[ed] to execute action"...

[2017-12-30 14:48] smerschjohann commented on #4551
The swagger [codegenerator](https://github.com/swagger-api/swagger-codegen) makes use of the Apache Oltu library. In other projects, we successfully used it in combination with the retrofit2/rxjava codegenerator. In addition, this can be easily integrated in okhttp.

I'm not sure what the ultimate goal here is. Do you only want a default OAuth2 implementation or a way to communicate with (possible

[2017-12-30 16:58] lolodomo commented on #4816
Works well and as expected for me.

[2017-12-30 18:57] lolodomo commented on #4558
@resetnow: I investigated this issue and finally understood one of the problems.
In long polling mode, we are relying on `dataModelLegacy` which in fact stores only the widgets being attached to an item. Thinking about it, I don't understand why we are keeping `dataModelLegacy` while we could use `dataModel` as we do in the SSE case. It will give a better chance to update the visibility of all wid

[2017-12-30 19:04] resetnow commented on #4558
If I remember correctly dataModelLegacy binds item IDs to widgets while dataModel uses widget IDs as a key, and back then it wasn't possible to get sitemap-related events. Is it possible now?

[2017-12-30 19:20] lolodomo commented on #4558
Oh yes, I see, it was impossible before my fix #4820. Now we get in the REST API response widget IDs which are identical to the id used by Basic UI as key in dataModel. So this could now be changed and I think we could forgive dataModelLegacy.
I will study that and propose a PR.

[2017-12-30 23:20] txt8888 commented on #3632
I also just received the Wemo Dimmer. I put the downloaded jar into: `/usr/share/openhab2/addons`
from karaf console, I see:

`194 | Installed |  80 | 0.9.0.201712142306     | Eclipse SmartHome Wemo Binding`
when I tried to start this with the command `bundle:start 194` and I got this error

[code]
So I install SONOS on PaperUI as suggested,  and rerun the `bundle:start -t 194` and it work.

Do I

[2017-12-30 23:23] hmerk commented on #3632
No, if you see Bundle 194 schown as active, all should be fine.
Check your inbox, it should list your WeMo Dimmer if it is connected to the same network as your openHAB Server. If it does not sho up, Start a scan for WeMo devices in Inbox.

[2017-12-30 23:25] txt8888 commented on #3632
Thanks HMerk for quick replied.    I have not installed the Dimmer.  I will do shortly.   After I install, do I need to use Wemo App to do anything?  or just straight to OpenHAB2 ??  many thanks.  so happy to have this new toy for the holiday!

[2017-12-30 23:27] hmerk commented on #3632
After physical installation, you need the original WeMo App to let the Dimmer join your WIFI network.
This step cannot be done trough openHAB.

[2017-12-31 03:48] txt8888 commented on #3632
I got it to work.   thank you for the great works on this Wemo dimmer.

[2017-12-31 08:59] lolodomo commented on #4575
Some users are complaining that refresh is not working after an update of config files. Please restart OH after any update of your files to see if you are not in this case.

[2017-12-31 10:23] lolodomo opened #4828 "Date comparison with now inverted in sitemap attribute (visibility, valuecolor, ...)"
https://github.com/eclipse/smarthome/blob/master/bundles/ui/org.eclipse.smarthome.ui/src/main/java/org/eclipse/smarthome/ui/internal/items/ItemUIRegistryImpl.java#L887
The diff calculation between dates is done in the wrong way. It leads to unexpected behaviour when using date diff in sitemap attributes like visibility or valuecolor.
It is a major bug that was probably introduced with the refactor

[2017-12-31 10:47] lolodomo commented on #4828
This issue is not critical but at least major.
I am not sure we can wait 6 months to make the fix available to all users. WDYT ?
Maybe we should think about a OH version 2.2.1 in few weeks ?

[2017-12-31 15:05] lolodomo commented on #4558
I was able to suppress dataModelLegacy and make more code common between SSE and long polling.
In the case of Microsoft Edge (long polling), I was able to make widgets becoming visible dynamically but I am still fighting to identify the right widgets to hide dynamically.

[2018-01-01 16:42] lolodomo commented on #4558
Ok I have now something working well to show/hide dynamically.
To avoid code conflict, I will propose a PR only when my other PR 4810 is merged.

[2018-01-02 09:15] c--r opened #4831 "Code Validation not working with LSP (InvocationTargetException), using VS Code Extension"
## Current Behaviour

Code Validation in VS Code does not work (errors are not marked or explained), when clicking on other code lines, I get the following error message in the "Output" ("Ausgabe") area in VS Code:

[code]
This happens even when creating e.g. a new rules file.

This is a follow-up to this [discussion](https://community.openhab.org/t/openhab-vs-code-extension-0-3-5/36603/31?u=c_r),

[2018-01-02 09:34] sjka opened #4832 "[Sonos] notificationvolume is not persistent"
...as it is a pure "binding" feature and not backed by the real device at all (see https://github.com/eclipse/smarthome/pull/4830#issuecomment-354727202).

Question is: why is this a channel and not a configuration parameter? And if it is to remain a channel, shouldn't the handler persist the state somewhere itself rather than relying on the user to set the notificationvolume again and again after

[2018-01-02 09:35] #4825 closed

[2018-01-02 09:40] sjka commented on #4575
@lolodomo is there an issue for _that_?

[2018-01-02 09:44] martinvw commented on #4828
@lolodomo could you elaborate on this? What is done is how and how should it have been done instead?

[2018-01-02 09:59] kaikreuzer commented on #4612
You are right, we should discuss your original question.
I think the discussion already highlighted that there wouldn't really be a one-fits-all implementation of such methods as the right behavior can depend on the concrete binding.
Imho there are these three potential options of which each channel picks one:
Upon "null" from the remote device
- don't send any state update
- send UnDefType.UNDEF

[2018-01-02 10:01] sjka commented on #4824
The framework gets these events from the JVM, and the JVM gets them from the OS/FileSystem more or less directly. I have seen this a couple of times and apparently factors like OS, files system,  remote access method and used editor have an influence of this.

I was thinking already of adding a grace period in FolderObserver, i.e. only load/refresh models after there hasn't been any such event for

[2018-01-02 10:06] lolodomo commented on #4828
The code is computing a difference between the new value and "now". This difference must be positive and can be used in valuecolor for example.
Current code is between(now, val) while it should be between(val, now) to get a positive value.

[2018-01-02 10:09] lolodomo commented on #4575
I think there is not.
Note that I can't reproduce myself this possible issue.

[2018-01-02 10:13] martinvw commented on #4612
If you don't want send updates if the input to the `valueOf` is `null` it's easy to check that. But if you want send the updates as is, you will always need a util like class like we have a lot already or a lot repeated if checks.

Imho the `valueOf` returns an 'incorrect' value because because 'all' (or most) the methods that accept State don't want `null` but want to rather receive an `UnDefType

[2018-01-02 10:15] kaikreuzer commented on #4823
I would assume that it is a bug in the Paper UI.
@htreu Could you check?

[2018-01-02 10:17] martinvw commented on #4828
@lolodomo maybe a proper moment to make sure its covered by tests as well :-)

[2018-01-02 10:22] lolodomo commented on #4828
If someone wants to add a test, he is welcome. On my side, I am working on more important things (in my point of view).
But we need a quick fix for that issue, I think it should be included in the next ESH build for OH.
And I hope that the Datetime refactoring did not introduce other problems that this this one.

[2018-01-02 10:24] kaikreuzer commented on #4612
Let me rephrase my answer: From the 3 options above, I would claim that in 95% of the cases, the correct behavior is (1), i.e. immediately stop any further processing. "'all' (or most) the methods that accept State" should therefore not be called at all and where ever we find a binding to create an UnDefType.NULL state and pass this on, we should really question whether this is the right thing to

[2018-01-02 10:38] kaikreuzer opened #4833 "[Paper UI] Improve server error presentation for end user"
If a server error 500 occurs on the REST API, the Paper UI currently only shows this as a toast to the user, which he might not see or understand.

It might be better to come up with an modal error dialog which tells the user that an unexpected error has occurred, showing the error message, and asks him to check the server log file.

See https://github.com/eclipse/smarthome/issues/4795#issuecommen

[2018-01-02 10:39] kaikreuzer commented on #4795
Ok, but this is quite a different issue then than the one reported here. I have created #4833 for it.

[2018-01-02 10:53] kaikreuzer commented on #4817
I am not fully convinced that this is the only drawback. I am a bit concerned that we might have to dive deeply into Xtext specific stuff regarding adding formatting & layout meta-data to the EMF models in order to have the generation done in a user friendly format. Something that might be much easier to handle, if we simply serialise it ourselves. And as our aim is not a bi-directional synchronis

[2018-01-02 10:55] martinvw commented on #4612
Please note that some of your statement above have a pretty big impact, if the `valueOf` methods should be `null` safe and return `null` their output cannot be passed on
`updateState(CHANNEL_BB, OnOffType.valueOf(response.getBB());` without suppressing any warnings. Because that method does not accept `null`.

Imho this will lead to different ugly code because it will move the same problem one lay

[2018-01-02 11:01] sjka commented on #4817
We already have it for [Items](https://github.com/eclipse/smarthome/blob/36c9e2717e4f89cf60a0d885e7ecc6069b338f48/bundles/model/org.eclipse.smarthome.model.item/src/org/eclipse/smarthome/model/formatting/ItemsFormatter.xtend). For [Things](https://github.com/eclipse/smarthome/blob/36c9e2717e4f89cf60a0d885e7ecc6069b338f48/bundles/model/org.eclipse.smarthome.model.thing/src/org/eclipse/smarthome/mod

[2018-01-02 11:07] kaikreuzer commented on #4612
Perfect, just what I want to achieve 😎

No, it will make the implementor think about what he is doing!

[code]
This is actually not correct. The better version would be:
[code]

Well, this is a very different request to the orginal one now.
And I am not sure if such a method would be really that helpful. After all, null checks are a very common thing in Java and trying to avoid them by introducing

[2018-01-02 11:10] kaikreuzer commented on #4817
Yes, the first 80% of the formatting requirements will be easy to do with it 😛

Who tells you that no one might come up with an alternative lightweight parser for those files?

[2018-01-02 11:12] martinvw commented on #4612
@kaikreuzer

Nope, because it will fail because of `null` checks.

[2018-01-02 11:14] sjka commented on #4831
Wow, that's what I'd call a detailed problem description. Thanks for that effort!

I'll have a look and try reproducing it at home with a Windows PC.

[2018-01-02 11:16] martinvw commented on #4612
And I am not sure if such a method would be really that helpful.

Let's agree to disagree then about my main request...

If we decide that the `valueOf` methods should be `null` safe and return `null` I can create a PR with some tests for that.

[2018-01-02 11:19] kaikreuzer commented on #4612
At which line?

Well, considering the example code above, we would then probably rather want to add a `@NonNull` annotation to its parameter...?

[2018-01-02 11:21] martinvw commented on #4612
Line 3 because it pass a Nullable value to a NonNull parameter.

[2018-01-02 11:59] kaikreuzer commented on #4612
Well, not if we add `@NonNull` annotations to the valueOf method (not only its parameter, but also its return value).

[2018-01-02 12:01] sjka commented on #4817
Can it do the pretty-printing too? 😉
Okayokay, point taken.

[2018-01-02 12:08] #4824 closed

[2018-01-02 12:18] kaikreuzer commented on #4257
I'd say that if no advanced features are required, the suggestion for bindings would be to use HttpUtil as it will avoid implementation errors that people might otherwise do. For advanced use, people should directly make use of the Jetty APIs.

So yes, I think it is perfectly fine if you wish to provide a more convenient way to do HTTP requests. My concern above merely want to warn you that HttpUt

[2018-01-02 12:39] martinvw commented on #4612
That will be pretty big and breaking, should we add a follow issue to track that?

[2018-01-02 13:03] kaikreuzer commented on #4612
Are you sure that it is breaking? Wouldn't it just document the current behavior?
As I said, you currently must not pass a null value to it and it also never returns null, but rather throws an IAE.

[2018-01-02 14:12] lolodomo commented on #4832
I think it could be a thing setting rather than a thing channel.
We should keep the ability to have a different notification sound level for each Sonos device.

[2018-01-02 14:49] kaikreuzer commented on #4612
It would probably even suffice to only add `@NonNull` on the return value and simply throw IAEs if null is passed in as a parameter.

[2018-01-02 15:59] cweitkamp commented on #4832
What about using both? Instead of initializing the value for the `notificationvolume` from the original `volume` we can store and reinitialize it from a thing configuration/property? Wdyt?

Notice: There are some other bindings in OH2 e.g. Squeezebox (https://github.com/openhab/openhab2-addons/blob/master/addons/binding/org.openhab.binding.squeezebox/src/main/java/org/openhab/binding/squeezebox/ha

[2018-01-02 16:34] martinvw commented on #4257
Is this limited to the `HttpUtil` class or any static method in this package?

[2018-01-02 19:16] 9037568 opened #4837 "smarthome.config.xml.test failure: NoClassDefFound"
When attempting to build the package from the project root using `mvn clean install`:

[code]

[...]

[2018-01-02 21:52] #3709 closed

[2018-01-02 22:06] kaikreuzer commented on #4837
The current master works smoothly on Jenkins: https://ci.eclipse.org/smarthome/job/SmartHomeDistribution-Nightly/2407/

Can you make out any difference to your setup?

[2018-01-02 22:17] Seb-Maier commented on #4789
Same for me...
I use it as explanations a sitemap files. Like,
`Text label="Lüfter schalten an, sobald der Grenzwert überschritten ist.\nAbschaltung erfolgt bei Unterschreitung des Grenzwertes um die Hysterese"	 icon="info"`

With the current habdroid Version the line is cutted :-( and I can't use it as before

[2018-01-02 23:33] rralf opened #4839 "tradfri: gateway crashes after ~10 minutes when OpenHAB accesses it"
Hi,

I encountered some strange bug. When the tradfri binding is active in OpenHAB, my tradfri GW crashes after 10 minutes. If OpenHAB is not active, everything works fine. Eventually I found some time to hunt that bug down.

First, I think this is rather an IKEA firmware bug, but apparently that one gets somehow triggered by OpenHAB.

If the tradfri binding is active, my GW stops working after 10

[2018-01-03 03:42] 9037568 commented on #4837
As far as I can tell I'm working off the latest version of the current master branch. Yes, it's forked, but I can see no changes outside of the new binding I'm working on...

I'll kick off a run of a completely clean master and see if there's any difference.

[2018-01-03 04:48] 9037568 commented on #4837
Ah, yes, I remember now.

Starting from a completely clean master, the first failure encountered is #4370.
Working around that leads to the error described in this ticket.

So perhaps this is related to the platform (ie. only occurs on Windows) ?

[2018-01-03 08:01] JueBag commented on #4832
I second the approach to have both. Having the notificationvolume only as a setting would hinder the use of different volumes (normal volume for standard notifications ["Breakfast is ready!"] and real loud for smergencies ["Get out of bed NOW!"]).

[2018-01-03 08:30] kaikreuzer commented on #4257
Limited to HttpUtil.

[2018-01-03 09:14] kaikreuzer commented on #4789
This would be a huge change, which I think is rather unrealistic, since so far all labels throughout ESH are not meant to carry any formatting information (otherwise, we might easily wish to also introduce bold, italic, identation and whatever).
In general, labels are anyhow only supposed to be as short as possible (1-2 words) and that's what clients expect.

I'd therefore suggest to close this is

[2018-01-03 09:31] #4789 closed

[2018-01-03 09:42] kaikreuzer commented on #4789
Well, simply by context-specific labels, i.e. on a page of all my windows, the room information is just enough: http://demo.openhab.org:8080/basicui/app?w=020102&sitemap=demo

[2018-01-03 10:25] michaelkoetter commented on #2603
I'd be interested in this as well, however with the current API the only solution would be to do "rapid polling" for sensor state which makes me cringe :wink:

Philips announced a new API, although they don't mention sensors yet - but maybe this will be usable: https://developers.meethue.com/entertainment-blog

Another option might be to support the deCONZ REST API (RaspBee/ConBee hardware), which

[2018-01-03 12:12] mhilbush commented on #4832
Note that when I added the AudioSink feature for Squeezebox, I modeled it after the Sonos implementation -- thought it best to remain consistent

[2018-01-03 12:22] #4659 closed

[2018-01-03 14:13] #4370 closed

[2018-01-03 14:13] #4734 closed

[2018-01-03 14:13] #4758 closed

[2018-01-03 15:27] cweitkamp commented on #4832
Fair enough. I didn't want to blame you for that. Indeed I agree with you to be compliant in such cases.

[2018-01-03 16:32] kaikreuzer commented on #4837
Now that https://github.com/eclipse/smarthome/pull/4685 is merged, could you try the build without any workaround?

[2018-01-03 17:29] 9037568 commented on #4837
I will do that tonight.

[2018-01-03 21:29] TheNetStriker commented on #4794
Hi Kai, as I just found out the problem in my video seams to be that the button turns into an abort button and if it is fast clicked the request gets aborted by the button. But I still have the problem that not all my Hue lights react when I switch a huge group. Can I provide you more information about the problem somehow?

[2018-01-03 22:31] overdrive69 commented on #2603
Hello i Think #2601 is closed.
Are there any news for this one?

[2018-01-04 05:11] 9037568 commented on #4837
Confirmed that this problem no longer occurs after the fix for #4685.
Closing this accordingly.

[2018-01-04 05:11] #4837 closed

[2018-01-04 05:45] 9037568 opened #4844 "core.binding.xml.test failures"
When building from the root of the latest master code:

[code]

Platform: Windows 10 Pro
java version "1.8.0_144"
Java(TM) SE Runtime Environment (build 1.8.0_144-b01)
Java HotSpot(TM) 64-Bit Server VM (build 25.144-b01, mixed mode)

Full log file:
[org.eclipse.smarthome.core.binding.xml.test.BindingInfoI18nTest.txt](https://github.com/eclipse/smarthome/files/1602507/org.eclipse.smarthome.core.bin

[2018-01-04 08:12] preinhardt opened #4845 "[BasicUI] Webview loads twice"
I have added a Webview in my Sitemap. When it loads I see a little flicker.
After some research, I noticed that the Webview loads twice.

To confirm my suspicions I added an "alert" in a normal Website and added it in my Sitemap with the Webview Widget.
This confirmed my assumption because the alert was shown twice.

Is this a normal behavior? Is it possible to disable this behavior?

[2018-01-04 08:31] kaikreuzer commented on #4845
@resetnow Could you check this?

[2018-01-04 08:57] kaikreuzer commented on #2603
Well, this is clearly not an option for the hue binding itself (which should work with the hue bridge).
A dedicated RaspBee binding (https://github.com/eclipse/smarthome/pull/1353) has unfortunately been abandoned.

[2018-01-04 09:04] kaikreuzer commented on #4794
Well, you should make sure that your issue report contains all required information that is necessary to easily reproduce a problem. Once any developer wants to look into it (which won't be me any time soon, sorry), he might come back with further questions.

[2018-01-04 10:57] sjka commented on #3952
Nope - it's [still](https://github.com/eclipse/smarthome/commits/9aeae79edebd82283b812ffb41fdcf19f6f4d88e) there:

[code]

[2018-01-04 11:12] sjka commented on #4844
Just ran the build on a clean checkout (commit [9aeae79e](https://github.com/eclipse/smarthome/commits/9aeae79edebd82283b812ffb41fdcf19f6f4d88e)) on Windows and cannot confirm this.

[2018-01-04 13:59] michaelkoetter commented on #2603
Ah I didn't see that PR... thanks for the pointer, I'll have a look at what's there.

[2018-01-04 14:27] cweitkamp commented on #4832
I made a proposal #4846

[2018-01-04 16:24] mhilbush commented on #4845
I also see this error in the browser console when loading a Webview.  It doesn't appear to impact functionality.  If you would prefer, I can log this as a separate issue.

![capture](https://user-images.githubusercontent.com/19286354/34573260-a371683e-f141-11e7-9ac2-01e15e4d12af.JPG)

[2018-01-04 16:56] mhilbush opened #4849 "[Basic UI] 404 Not Found errors when sitemap contains Number item(s)"
I see this in the browser console when the page contains sitemap elements that reference items of type Number.  This is on build 1160.

Item definition
[code]
Relevant sitemap fragment
[code]
![capture](https://user-images.githubusercontent.com/19286354/34574685-28734c06-f146-11e7-9f5b-02a06778b0b0.JPG)

[2018-01-04 17:19] lsiepel opened #4850 "[sonos] media channel WARN messages while thing is not added"
The sonos binding shows warnings in the log while the corresponding thing is not yet added from the inbox (or in my case is hidden in the inbox).
I have a Playbar with two play 1's as left/right rear. The Playbar is added as Thing in openhab, the Play 1's are not. All works as expected except for these WARN messages in the log. The RINCON points to both play 1's. And that is a bit strange, because

[2018-01-04 19:03] cribskip opened #4852 "Rule compilation slow (on RPi3)"
Hi,

**Background**
as discussed several times in the community, rules executing the first time can cause significant delays as compilation happens.

https://community.openhab.org/t/solved-rules-first-time-slow-execution-after-some-use-fast/7042
https://community.openhab.org/t/openhab-2-rule-warmup-script-raises-the-waf/23125

In older versions, a mitigation had appearently been to include a "syst

[2018-01-04 19:04] TheNetStriker commented on #4794
Hi Kai, I now analyzed this using tcpdump to see which http packets get sent to the bridge using this command:

tcpdump -i eth0 host 172.17.4.13 and port 80 -n -s 0 -vvv -w /var/log/openhab2/http.pcap

After that I analyzed the result on https://packettotal.com and I did come to the following conclusion:

- I started with 22 of my 32 lights switched on. I then switched the lights off using the mai

[2018-01-04 19:43] lolodomo commented on #4849
First you should not use %s with a number item.
Second you should set an existing icon for your item because there is no default icon for number items. It certainly explain your 404 error.

[2018-01-04 19:53] mhilbush commented on #4849
Good point. Thanks.  But this has no bearing on the 404, correct?

Yes, that makes sense. So, should there be a default icon for Number items, or should Basic UI not request an asset that doesn't exist?

[2018-01-04 20:02] lolodomo commented on #4849
Normally we should have a default icon in my own opinion.
Very old issue. I even tried to propose an icon in the relative issue but then nothing finally happened.

[2018-01-04 20:24] mhilbush commented on #4849
Somehow I had a feeling I was revisiting something that had been discussed previously.  :-)

[2018-01-04 22:01] resetnow commented on #4845
It's somehow related to material components as stack trace points there:

[code]

TypeError could be literally anything and it's probably a different bug.

[2018-01-04 22:32] mhilbush commented on #4845
Ok, I'll open a separate issue for the TypeError.

[2018-01-04 22:34] resetnow commented on #4845
So what happens here is that MDL library for some reason re-arranges layout container in the onload handler:

https://github.com/google/material-design-lite/blob/fd21836fd49d94270e58b252187ebe93410209e4/src/layout/layout.js#L289

I have no idea why they do that. I'll think of a solution as it's not obvious now.

[2018-01-04 22:48] mhilbush opened #4853 "[Basic UI] TypeError when loading Webview"
I see this error in the Chrome (Mac and Windows) browser console when loading a sitemap with a Webview on the home page. It doesn't appear to impact functionality.  It occurs twice on the initial load of the sitemap (probably due to issue #4845), then once when returning to the page containing the Webview.

I see this on build 1160.

![typeerror](https://user-images.githubusercontent.com/19286354/

[2018-01-05 08:52] #4828 closed

[2018-01-05 08:56] kaikreuzer commented on #4828
I have [cherry-picked it in a 2.2.x branch](https://github.com/openhab/smarthome/tree/2.2.x) in the openHAB fork, from which we could potentially build a patch release.

Please nonetheless consider helping to improve the test coverage on such parts in future. After all, if there would have been tests, such issues would not have popped up in the first place.

[2018-01-05 09:05] kaikreuzer commented on #4832
Thinking about it, I actually second @sjka & @lolodomo's opinion that this feature actually IS a configuration parameter and not a channel. Having it as both feels to be a hack and would imho only be acceptable for keeping backward compatibility, but not to have it as a recommendation for any AudioSink.

[2018-01-05 10:26] resetnow commented on #4845
@kaikreuzer I think a more or less robust solution will require editing MDL minified JS file. It's because we have no way of knowing whether or not <a href="https://github.com/google/material-design-lite/blob/60f441a22ed98ed2c03f6179adf460d888bf459f/src/mdlComponentHandler.js#L479">this handler</a> has fired.

Best I can do to ease the process is the following:

1. Pull CQ-approved version of MDL

[2018-01-05 10:37] resetnow commented on #4853
I think it's somehow related to sitemap. So if you have a development environment, first step to do it would be one of these:

1. Edit sitemap to get a minimal reproducible example
1.
    1. copy smarthome.js from web-src to web
    2. reload page. Stack trace should now have line numbers and function names and can be copy-pasted here

[2018-01-05 15:33] monnimeter opened #4855 "[PaperUI] Wrong caching behaviour, StateDescriptions are ignored"
Hello all.

PaperUI seems to ignore StateDescriptions in some cases. Bug seems to be caused by wrongly caching objects in Browser: IMHO PaperUI should send apropriate headers to the browser so the caching is invalidated or somehow disabled in such cases.

### Description / Example
The channel "yahooweather:weather:berlin:humidity" is a read only channel. But, immediatly after linking the channel i

[2018-01-05 15:52] monnimeter opened #4856 "[PaperUI] Broken layout of the Inbox in Chrome"
Hello.

The layout of the Inbox is broken (PaperUI pulled yesterday from GitHub, 2.3.0-SNAPSHOT). In earlier versions everything was okay.

This is how it looks like now - the Label is cut:
![image](https://user-images.githubusercontent.com/12434126/34616353-4824fb24-f238-11e7-9f49-7f5c6fec3850.png)
I'm using the newes Chromw version (Version 63.0.3239.132 (Offizieller Build) (64-Bit)).

And this

[2018-01-05 15:56] kaikreuzer commented on #4856
Could you please fully clear your browser cache? Maybe this makes a difference to the layouting already.
Your screenshots still show the old openHAB logo, which definitely should not there since a couple of months and definitely not on a 2.3.0-SNAPSHOT...

[2018-01-05 16:49] monnimeter commented on #4856
Yes, you're right - thank you.
It has something to do with the browser caching. Disabled the cache in dev. tools, et voilà: the layout is okay. But for some reason the logo remains the same...
![image](https://user-images.githubusercontent.com/12434126/34618796-366bccc0-f240-11e7-9636-49e1a01f3b73.png)
Same with browser cache cleared.

Not showing the right logo is IMHO another issue. Hence I woul

[2018-01-05 16:49] #4856 closed

[2018-01-05 19:19] TheNetStriker commented on #4794
Hi Kai, I did some more tests and I can confirm that a simple delay when sending the commands help solving the problem. I changed the setLightState method of the HueBridge class like this:
[code]
This is a very simple fix and could be made better for sure, but it helps solving the problem for the moment. Maybe also the delay could be even smaller. This fix also helped that the lights remain in onl

[2018-01-05 23:06] liquidshock commented on #4831
I can confirm that the problem is the same on MacOS using VSCode 1.19.1 using stable openHAB 2.2.0 with openHAB VS Code Extension 0.3.5.

[2018-01-05 23:13] mhilbush commented on #4853
In the process of trying to narrow this down, the error stopped occurring.  Since I can no longer reproduce, I'm going to close the issue.

[2018-01-05 23:13] #4853 closed

[2018-01-06 10:11] lolodomo opened #4859 "Use relative URL in rest/sitemaps/events/subscribe or not ?"
Originally declared in openHAB repo: https://github.com/openhab/openhab-distro/issues/442

[2018-01-06 10:18] lolodomo commented on #4850
This warning happens when the group master is not attached to a thing. As an example, you send a command "NEXT" to the Sonos group, this command has to be handled by the group master. If this Sonos master is not attached to a thing, the binding is not able to send this command.
The recommendation is to declare a thing for each Sonos device that could become a group master in your house.
Now we can

[2018-01-06 10:31] lolodomo commented on #4849
Original discussion was in #2994

[2018-01-06 10:35] lolodomo commented on #4849
And PR #3844 restored the 404 error for missing icons.

[2018-01-06 10:36] lolodomo commented on #4849
Maybe this issue could be renamed into "Missing a default icon for number items".

[2018-01-06 10:50] lolodomo opened #4860 "Basiuc UI with Edge: widget update not fully reliable"
The widget update done by the Basic UI when run in a Microsoft Edge browser is not fully reliable due to the fact that Basic UI frontend is expecting an item state adjusted to the widget state while the long polling HTTP call is returning only the raw item state.
This is workin,g well in all browsers using SSE because the SSE events built by the server include this expected widget state.
The solut

[2018-01-06 10:53] lolodomo commented on #4860
@resetnow : for your information.

[2018-01-06 10:59] lolodomo commented on #4859
As I am fixing the sitemap SSE API at the moment to make it easily usable, it is certainly the right time to fix that issue too, even if it will break the API and require a little change in all API consumer to handle a relative or absolute path.

[2018-01-06 11:11] lolodomo commented on #4809
@resetnow : did you take the time to check that the subscription deletion is done ? Once it is verified, I will close my issue.

[2018-01-06 11:34] resetnow commented on #4809
For me on Linux subscriptions were deleted in several minutes after device was disconnected, so it's working.

[2018-01-06 11:57] lsiepel commented on #4850
The Sonos Playbar is added as a Thing and it is the group  master. I can control the Sonos from openhab, all commands work as expected.

These two Play 1's are not added because i don't need to control them, so i still don't see why it would log anything at all.

This is not the case, i don't send any command to these Play 1's.

[2018-01-06 12:03] lolodomo commented on #4850
Oups, you're right, looking again at your logs, the problem is more that the binding tries to update all group members, for example the currently track information. As you have not these things, there is a log message.
But in this case (group slaves), I agree that we should just ignore them if the thing does not exist.
I will think about a fix.

[2018-01-06 12:10] ThomDietrich opened #4862 "JSONPath transformation fails on indefinite paths"
I am not able to filter an MQTT json response with the [JSONPath transformation](https://github.com/eclipse/smarthome/blob/master/extensions/transform/org.eclipse.smarthome.transform.jsonpath/src/main/java/org/eclipse/smarthome/transform/jsonpath/internal/JSonPathTransformationService.java) even though my expression is correct. My guess (*Edit: assessment, proof further down*) is that the transfor

[2018-01-06 12:23] lolodomo opened #4863 "Maven build failed on Paper UI: Cannot find module 'internal/fs'"
[code]

[2018-01-06 12:54] mhilbush commented on #4832
I disagree.  I would vote to keep the channel for notification volume.  I don't see where this is any different than any other volume setting.  I surely wouldn't set the music playback volume through a config parameter.

What about the scenario where you want to use different volume levels depending on the type of notification?  For a notification about a severe situation (e.g. water detected by a

[2018-01-06 12:56] lolodomo commented on #4832
True, the channel is appropriate if you want to adjust the notification volume in a rule.

[2018-01-06 13:39] lolodomo opened #4867 "NTP binding: not at time"
I just discovered that my RPI is not at time at all but 11 minutes before the correct time.
The NTP binding is providing the server time as displayed in Basic UI.
Isn't it the role of the NTP binding to keep my server at time ?

[2018-01-06 14:48] Seb-Maier commented on #4789
What I don't understand is, that in an older HabDroid Version it was possible to see more lines on an text label and to make a manuel line feed with a \n

[2018-01-06 20:13] 9037568 commented on #4867
The NTP binding is for using/displaying time, not for setting it. The server's time isn't managed by the binding.

[2018-01-06 22:35] lolodomo commented on #4867
What is the usage done with the NTP server we set as thing parameter ?

[2018-01-06 22:38] lolodomo commented on #4867
Why does it return my wrong server date and time ?

[2018-01-06 23:07] lolodomo commented on #4867
So there is an issue somewhere.
I have now updated the time of my server but before that, my item was returning my server time and not the correct time.

[2018-01-06 23:59] 9037568 commented on #4867
Guess it's time to dig into the logs, then... 😄

[2018-01-07 05:11] 9037568 opened #4868 "[LSP] Many test failures from invalid URIs"
20 tests fail due to invalid URIs in org.eclipse.smarthome.model.lsp.test.

Like this one:

[code]

[2018-01-07 08:33] kaikreuzer commented on #4868
Might be related to different path separators on Windows - the official CI build (on Linux) does not show any such problems: https://ci.eclipse.org/smarthome/job/SmartHomeDistribution-Nightly/2416/

@sjka Could you check?

[2018-01-07 09:45] lolodomo commented on #4863
Here is my detailed logs:
[code]

[2018-01-07 13:58] pacive opened #4870 "Jsonpath transformation doesn't work with null values in json data."
Since commit [f1c63ba7177bf007b457f60676c8701e87c74343](https://github.com/eclipse/smarthome/commit/f1c63ba7177bf007b457f60676c8701e87c74343) the jsonpath transformation no longer work properly when the json data contains null values. Instead of returning null it returns the whole json string when accessing a key with null value.

For example when trying to access the 'upgrade' field in
`{"current

[2018-01-07 16:16] splatch commented on #579
Hi all,
It took me longer than expected, but I closed part related to description of concept and put a small list of initial requirements. Document is available here: https://docs.google.com/document/d/1Vja574ycr2f_1nDdhLheEPdqkRlsvHf2lc_byY2ahzc/edit?usp=sharing. If you would like to get write access to change document contact me at luke@code-house.org - will send you invite. If you need to move

[2018-01-07 16:44] lolodomo commented on #4859
I have a doubt because absolute URLs are used in all the sitemap REST API. Why should it be a relative path only for one particular API ?

[2018-01-07 21:03] mhilbush opened #4871 "Sitemap SSE connection closes prematurely when item state changes"
I'm seeing an issue with my sitemap on one of my systems.  Every time the CurrentTime item updates (which is every minute), in BasicUI I get the message **Offline: waiting for connection to become available**

I have an item that links to the NTP dateTime channel
[code]

And I have a sitemap that looks like this
[code]

Both systems have similar configs;
- OH build 1140
- Ubuntu Linux kernel 4.4.0

[2018-01-07 22:43] AfromD opened #4872 "Sonos: Add Channel for UDN to prevent hardcoding UDNs everywhere"
To have cleaner code, I wish it would be possible to have an item containing the UDN of a zone. I would like to code like this:
`sendCommand(SonosFernseher_Add, SonosBadezimmer_UDN.state)`
This is more legible, and it prevents the hardcoding of strings into my rules, which might make things more complicated than necessary when I change things or items or hardware.
Currently, I help myself by defin

[2018-01-07 23:25] marziman commented on #579
@splatch Thanks alot. We will add our comments and I had a longer discussion with @HeikoScholtes about this topic before christmas break, resulting that Heiko is going to provide our ideas, requirements in a document, too (maybe directly in your doc). We may at the end merge all of the inputs, as soon we have all feedbacks and a common accepted view on this.
From our side, @HeikoScholtes will acti

[2018-01-08 00:21] HentschelT opened #4873 "Proxy timeout when streaming with video widget"
When using the video widget in .sitemap with a video stream as input source like:
`Video encoding="mjpeg" url="http://cam:80/cgi-bin/hi3510/snap.cgi?&-getstream&-chn=1"`
(SV3C cam, but the result is the same for other streams), there is a proxy timeout after exactly 60 seconds, and the stream stops. The logs shows:

[code]

Is this intended behavior, and if so - is there a setting to change that t

[2018-01-08 01:15] jboeddeker commented on #1896
In my case, the Homematic-Channel-not-found-for-Datapoint-problems is also related to this.

https://community.openhab.org/t/homematic-binding-channel-not-found-for-datapoint-errors-for-definitely-existing-channels/26209

As soon as a i removed the rules, the issue is no longer existing. With the rules in place, i have quite often 1 to 3 devices with this problem.

[2018-01-08 02:03] ghys commented on #579
Hi, I just want to link to #3113 here - I tried adding basic support for JSON Web Tokens a while ago but never got around to finish it (there are many implications, notably make all UIs implement an OAuth2/OIDC flow, I only made the parsing of tokens inside the Authorization header part). Perhaps it will be of value, since the requirements document has very similar concepts.

[2018-01-08 04:28] 9037568 commented on #4844
This error went away after a system reboot. Not sure how that fixed anything, but apparently it did...

[2018-01-08 04:28] #4844 closed

[2018-01-08 04:34] 9037568 opened #4874 "[Build] JSonStorageTest failure"
After bypassing the failure in #4868, the build continues for a while and then encounters these errors:

[code]

Platform: Windows 10 Pro
java version "1.8.0_144"
Java(TM) SE Runtime Environment (build 1.8.0_144-b01)
Java HotSpot(TM) 64-Bit Server VM (build 25.144-b01, mixed mode)

[2018-01-08 06:55] lolodomo commented on #4871
Unfortunately this issue is not reproduceable by everyone, at least by me.

By the way, all my readings of yesterday about SSE show that the server should set Control-Cache header to "no-cache". I think we could try to apply this change and see with @mhilbush if it helps.
Other point not clear is whether chunked transfer encoding is a problem or not.
https://www.w3.org/TR/eventsource/#notes

[2018-01-08 07:17] michel53 commented on #4789
As I understand, the \n was never officially supported (there was no entry in the documentation) and I copied it from an example somewhere. It only worked in HabDroid, not in the other UIs. With a code update, it is broken now. That's how distributed open source software development may go...

[2018-01-08 11:53] davidgraeff commented on #4272
How to proceed with https://github.com/openhab/openhab2-addons/pull/3093? Is there documentation on how to use a stateless pushbutton like channel with the mentioned profiles architecture?

[2018-01-08 11:55] mhilbush commented on #4871
I forgot to mention that this problem is reproducible on a variety of client platforms.
- Windows (Chrome and Firefox)
- Mac (Chrome, Firefox, Safari)
- Linux (Chrome and Firefox)

[2018-01-08 12:08] triller-telekom commented on #4759
With the fix https://github.com/htreu/smarthome/commit/74ccfed14fcf00b507fbf4d9a465780e167f131e  from @htreu I cannot reproduce the issue anymore. All controls are aligned next to/below each other.

[2018-01-08 12:50] maggu2810 commented on #4832
Hm, IMHO a configuration value should be used and not a channel.

If rules would like to use different notification volumes for different notifications, then the global configuration parameter should be untouched and not used at all.

[code]

Wouldn't it make more sense to add the notification volume as an option to the URL if another then the configured volume should be used?

[2018-01-08 12:53] jangrewe commented on #4759
Great, thanks @htreu and @triller-telekom! Looking forward to the merge...

[2018-01-08 13:33] maggu2810 commented on #4863
I checked out the current master and did a full build -- no problem.

Then I did the following:

[code]

This triggers the rebuild of the Paper UI using a clean working copy and so should trigger all the npm / nodejs stuff to be fetched.

It ended up in a successful build, too.

[2018-01-08 13:37] kaikreuzer commented on #4863
@maggu2810 I wouldn't rule out that the problem only exists on Windows. @sjka wanted to test that today as well.

[2018-01-08 13:40] #4641 closed

[2018-01-08 13:42] kaikreuzer commented on #4759
Before anything can be merged, @htreu should create a PR for it :-)

[2018-01-08 13:45] kaikreuzer commented on #4832
The "clean" way to deal with features that require parameters (such as an other-than-default notification sound volume) would be to introduce a rule action. We still have to work out how to best combine bindings with actions (separate bundles or both in one?), see also https://github.com/openhab/openhab2-addons/pull/2926.

[2018-01-08 13:52] maggu2810 commented on #4832
Perhaps a rule action would solve this one for rules but what about using the REST API to trigger notifications? If I want to use "normally" the default notification volume but want to trigger two notifications using a special (different) volume, wouldn't it make sense to enhance the URL to contain that a volume, too?

[2018-01-08 13:59] kaikreuzer commented on #4832
The interesting part of your question is that it nowhere ever refers to Sonos - it is completely independent of this. Which is a clear sign that we must not add anything specific to the Sonos binding for that.
Fact is that we currently do not have any REST endpoint for sending notifications as all (nor to do TTS or many other such things), but that all such things are done in rules.

[2018-01-08 14:06] maggu2810 commented on #4832
Hm, okay then I am completely wrong.

My understanding has been:
Today the Sonos binding provides a channel "notificationsound" that could receive a string type that encodes an URL and it provides a channel "notificationvolume" to set the volume.
My reading of the arguments to keep the notification volume channel has been to play a notification sound using a special volume.

I second that the Sono

[2018-01-08 14:07] maggu2810 commented on #4872
Isn't the UDN already present as a thing property?

[2018-01-08 14:32] AfromD commented on #4872
You have to specify the Udn for the thing configuration. Is there a way to reference it in a rule? I didn't find that anywhere. If it is as easy as SonosSchlafzimmer.udn, I didn't see anyone using that thus far.
I am still learning how the objects and structures in OH all work together, so might well be I am just unaware of things.

[2018-01-08 14:34] #4759 closed

[2018-01-08 14:42] rralf commented on #4839
Update: I got myself a new gateway, to make sure that hardware isn't broken: Same again, gateway crashes after ~10 minutes, only if openhab's tradfri binding is active.

[2018-01-08 14:59] mhilbush commented on #4832
Whatever the solution, it would be nice to retain the simplicity.
[code]
or
[code]
If something was playing before the notification, after the notification it resumes playing at the same volume level before the notification played.  It works very nicely.

This works nicely when you specify the sink.  Arguably, it can be confusing if you use the default sink, because it requires that in your rule y

[2018-01-08 15:05] kaikreuzer commented on #4832
No, it should not retain it, it should improve it:
[code]
or
[code]
would imho be much simpler!

[2018-01-08 15:17] mhilbush commented on #4832
Yes, that would be even better!

[2018-01-08 19:06] lolodomo commented on #4863
My PC runs Windows 10.

[2018-01-08 20:55] lolodomo commented on #4367
To show a value, adding a label with a format could certainly help.

Regarding your image elements, I don't understand what you are trying to do ! Linking an image element to a number item has just no sense because an image element can only be linked to either a string item containing an URL or an image item containing the raw data of an image.

[2018-01-08 21:03] johnjore commented on #4367
Nah, you're missing the point. Forget the lines with the URL for now, and look only at

[code]
Only the Text item with "ModeJJNumber" works correctly, after its been updated by the rule. The string item never displays anything using Chrome. The only difference between the two is that one is defined as a String, the other a Number in the items file. If they are left as NULL, it shows up, but withou

[2018-01-08 21:14] lolodomo commented on #4367
So now your problem is the code in rule...
Can you check in your file events.log that you see a state change for your 2 items when your rule is run ? If not, there is a problem in your rule.
By the way, I would advice to use `sendCommand` rather than `postUpdate` and maybe use `ModeJJNumber.sendCommand(19)` and `ModeJJString.sendCommand("string")`
Once you see an update of your items in the events

[2018-01-08 21:15] johnjore commented on #4367
As above, the log file shows the number and string were updated with the correct values:

2017-10-10 15:59:00.110 [ItemStateChangedEvent ] - ModeJJNumber changed from NULL to 19
2017-10-10 15:59:00.111 [ItemStateChangedEvent ] - ModeJJString changed from NULL to string

I'll need to test using postUpdate and report back tomorrow. Thanks for the suggestion.

[2018-01-08 21:20] lolodomo commented on #4367
In this case, the rule is OK. So try to add a label as explained just before using `[%d]` for the number item and `[%s]` for the string item.

[2018-01-08 21:21] paulianttila commented on #4367
Anyhow, the orginal problem (or how it’s descriped) is a bug in the code or documentation.

From https://docs.openhab.org/configuration/sitemaps.html#element-type-image

url is the default URL from which to retrieve the image, if there is no associated Item or **if the associated item’s state is not a URL**.

[2018-01-08 22:50] lolodomo commented on #4873
Is it specific to a particular UI or the same (timeout) whatever the UI ?

[2018-01-08 23:02] lolodomo commented on #4872
The UDN is already set as thing setting and thing property, that will be strange to add a channel for that.

I will have to check but you can probably use the name you use in the thing UID rather than the UDN in case you have not the default thing UID with UDN.

[2018-01-09 00:50] HentschelT commented on #4873
I only tried this in basic ui. Not sure if this works different somewhere else.

Any particular UI you'd want me to test with?

Cheers,
-Th

[2018-01-09 05:08] paulianttila commented on #4367
Exactly @lolodomo, but ModeJJ is string item and that caused the problem. String item content was ”Away”, which is not valid url, so OH should fetch image from the url, right?

[2018-01-09 07:23] lolodomo commented on #4367
Exactly. If the item value is not a valid URL, the code is failing back to the URL set in url=.

[2018-01-09 08:36] lolodomo commented on #4873
Please try with Classic UI and another WEB browser for example.
And try with encoding="HLS" in the sitemap to bypass the proxy and confirm that the 60s timeout is only introduced by the OH proxy.

[2018-01-09 09:15] AfromD commented on #4872
According to a forum discussion, thing properties are not available to rules. In that case, it would be no harm to expose a property that is needed for commands in an item I think.

[2018-01-09 09:20] maggu2810 commented on #4872
In that case we should think about whether properties could be made readable by rules instead of adding channels only because we want to access that information in rules.

[2018-01-09 09:30] paulianttila commented on #4367
@lolodomo great, now we have a common understanding how it should work. How I understand the problem, code doesn't work like that, it return internal server error 500 rather than failing back to url=.

Or is this failing back feature actually a client feature, so if OH returns an error, client should fetch the image from fall back url?

[2018-01-09 09:39] AfromD commented on #4872
Or being creative, adjusting all methods that require the UDN to accept a thing as parameter and then figure out the UDN internally.

[2018-01-09 10:15] lolodomo commented on #4367
It is implemented on the proxy if I correctly remember.

[2018-01-09 10:50] triller-telekom opened #4878 "WrappedScheduledExecutorService"
The newly introduced `WrappedScheduledExecutorService` from PR #4772 creates these warnings:

[code]

This is because of [this line](https://github.com/eclipse/smarthome/blob/master/bundles/core/org.eclipse.smarthome.core/src/main/java/org/eclipse/smarthome/core/internal/common/WrappedScheduledExecutorService.java#L49) where we save the exception of a canceled task. Are we really interested in tha

[2018-01-09 10:57] HentschelT commented on #4873
Tried with Firefox and Chrome in both classic and basic UI, same result. I never gotten any stream to work with 'HLS' (correct me if I'm wrong, but isn't that just a playlist format which would have to supply a valid playlist file? Any pointers to get that done on a simple mjpeg stream?)

FWIW, this is all using my dev environment - Eclipse on a MBP on OSX Yosemite..
If you could point me to an en

[2018-01-09 12:26] triller-telekom commented on #4870
The change was indeed in [this line](https://github.com/eclipse/smarthome/blob/master/extensions/transform/org.eclipse.smarthome.transform.jsonpath/src/main/java/org/eclipse/smarthome/transform/jsonpath/internal/JSonPathTransformationService.java#L57) as you mentioned in the linked openHAB forum post.

But the problem is a few lines [above](https://github.com/eclipse/smarthome/blob/master/extensio

[2018-01-09 12:29] lolodomo commented on #4873
My comment about HLS was immediately suppressed because not appropriate.
Your tests seem to confirm the timeout is introduced by the proxy.
Do you have a video URL i cpuld use to reproduce?

[2018-01-09 12:36] #4850 closed

[2018-01-09 12:46] maggu2810 commented on #4839
I am not own a Trådfri gateway myself. Perhaps some other guys using such a gateway could comment if it is working / not working for them.

[2018-01-09 14:09] #4878 closed

[2018-01-09 14:13] mjohenneken opened #4880 "GroupItem causes Inconsistent Items states of subitems"
I found that adding an Item to a Group is not reflected in the member item state. Corresponding community discussion: https://community.openhab.org/t/how-to-model-location-of-an-item/32676/10

When using the API i would assume that adding a member to a group will create a link between both,  not only from Group -> Item

A first fix for this would be:

[code]
Notice: i came up with thix fix 6 month

[2018-01-09 15:08] pacive commented on #4870
I which cases does an error in the `JsonPath.read()` lead to a null value being returned? If I try to access a nonexistent field for example, it throws a `PathNotFoundException` which is handled and a `TransformationException` is thrown, instead of returning null as it previosly did.

[code]
logs:
[code]

[2018-01-09 15:43] triller-telekom commented on #4870
Thank you for trying this out with an example. I am wondering this is always the case? I could not find any documentation for this behavior, did you come across any?

[2018-01-09 16:28] triller-telekom commented on #4880
At a first glance it looks as simple as you describe, but at a second thought this is more complicated.

At first: Originally only items know in which group they belong and this is also persisted on the file-system. And if you reload an `.items` file the whole group/item model in memory will be replaced by what is persisted there.

Also we have to create `ItemUpdatedEvent`s to notify for example G

[2018-01-09 17:02] mhilbush commented on #4871
On the system that's not working correctly, I changed the NTP refresh interval from 60 to 10.  I now see activity in openhab.log that looks like this.  So the sitemap events are definitely being sent. However, the connection still is closing periodically. I guess it's time for wireshark.  :-(
[code]

[2018-01-09 17:14] pacive commented on #4870
Just the [JsonPath readme](https://github.com/json-path/JsonPath#tweaking-configuration). It can be configured to return null if an exception occurs, but that isn't the case in this implementation, so i don't think itshould return null unless the requested field is null.

@kaikreuzer or @sjka, any more input on this?

[2018-01-09 17:36] triller-telekom commented on #4870
Sounds like what we need. Do you want to come up with a PR for this?

[2018-01-09 17:47] bdleedy commented on #4803
Well you tell me! From all of the info I can find those are the only possible values (which makes sense). I guess it would make sense to have a map so you can convert it to whatever is required. I doubt anyone will use TREND_EQUAL and will map something else anyway.

[2018-01-09 18:28] lolodomo commented on #4871
Interesting it is not at each event.

[2018-01-09 19:24] mhilbush commented on #4871
Yes, it is.

I turned on more debugging and I'm starting to think it has nothing to to with the events.

I see this repeated every minute in my logs, and I have no idea what to make of it.
[code]

[2018-01-09 20:47] maggu2810 commented on #4871
Hm, could this be caused by some openHAB Karaf integration bundle that e.g. triggers some bundle / feature handling?
Can you try to reproduce the error without any openHAB logic running in the background and using e.g. the ESH launch configuration of the official ESH Eclipse IDE setup?

[2018-01-09 22:10] HentschelT commented on #4873
Try this one, it shows the error after 60 seconds:

http://webcam.st-malo.com/axis-cgi/mjpg/video.cgi?resolution=640x480

BTW, most public cams now do https/ssl, which is also broken in the proxy (different error). Lets do one thing at a time tho...

Cheers,
-Th

[2018-01-09 22:24] mhilbush commented on #4871
Ah, so the SSE issue is just the victim.  Good idea!

I don't have the IDE on this box.  And, it's my only OH instance that's exhibiting this problem.

I only install bindings through services/addons.cfg.  So, one by one I deleted the installed bindings.  Started at the top (I left package=minimal) and worked my way down, I finally got to the misc line, which had
[code]
Deleted gcal1 -- nothing

D

[2018-01-09 22:24] #4871 closed

[2018-01-10 04:07] Josar opened #4881 "triggeringItem state not update before rule is triggered."
As discussed here https://community.openhab.org/t/group-rules-trigger/38512

When items are grouped and then the group switch is pressed this triggers the members.
But reading out the  state results in wrong values, sometimes.

Hardware RPI3
setup and log can be found in the thread.

[2018-01-10 08:10] vbier commented on #4808
This is a duplicate of https://github.com/eclipse/smarthome/issues/4324. And it is a really annoying problem, as you have to add a rule with a system startup trigger that touches the groovy file to get it working.
Unfortunately, the rule does not only run at system startup (or openHAB restarts itself from time to time), as I can see that my rules are discarded and added again every now and then.

[2018-01-10 09:20] wborn commented on #4808
Since it is indeed a duplicate I'll close this issue. I've solved this issue (and others) for myself with hardware by migrating from a RPi3 to an Intel NUC.

[2018-01-10 09:20] #4808 closed

[2018-01-10 09:22] wborn commented on #4324
The root cause according to @smerschjohann in #4808 is:

[2018-01-10 11:39] mhilbush commented on #4871
Just to confirm it was the removal of restdocs that fixed it:
- I restored the backup I had made just before starting the process described above
- I removed ONLY restdocs from addons.cfg
- Confirmed problem went away
- Readded restdocs to addons.cfg
- Confirmed problem did not reoccur

Is there anything I should look at in my backup to help better explain why this was happening?

[2018-01-10 12:55] Josar commented on #4881
This is faulty by design. Using `received command` triggers before the state is updated.
to get the actual command use implicit variable `receivedCommand` isntead of `triggeringItem.state` solves this problem.

But the design is somehow not as i would expect it. On Trigger RECEIVED COMMAND i expect to be able to read out the command which triggered the change. This is solved by the implicite varia

[2018-01-10 12:55] #4881 closed

[2018-01-10 13:14] Josar opened #4886 "group rules and trigger"
https://community.openhab.org/t/group-rules-trigger/38512/6

1. It would be nice to change the behaviour of a group trigger to use a `postUpdated `like behaviout instead of a `sendCommand `.

So when using `changed` trigger in rule it triggers the rule when members get updated by the group, and using `received command` trigger it triggers when actually a command was issued.

This would reduce mult

[2018-01-10 13:53] maggu2810 commented on #4071
There are also other errors on the Wemo test execution that prevent the Travis CI to do its job:
* https://travis-ci.org/eclipse/smarthome/builds/326858924
* https://travis-ci.org/eclipse/smarthome/builds/326521295
* https://travis-ci.org/eclipse/smarthome/builds/326465095
* https://travis-ci.org/eclipse/smarthome/builds/326388663
* https://travis-ci.org/eclipse/smarthome/builds/326789286
* https:

[2018-01-10 14:06] evansj commented on #4367
I would say that the documentation matches the current behaviour. If the item is a `String` then it's expected to be a valid URL.

There's one part of the document that states:

The problem is with the part *if the associated item's state is not a URL*. I suspect that Java decodes the URL `string` as a "valid" URL with the following properties:

Field | value
-----|-----
protocol | `null`
host | `

[2018-01-10 14:10] sjka commented on #4071
@svilenvul as the original author of the tests, may I ask you to have a look please? These tests tend to fail quite often lately (see the the links above).

[2018-01-10 14:34] maggu2810 commented on #4871
You could try to identify "why" the bundle has been stopped and started all the time.
But for me it seems to be related to the openHAB Karaf integration and so not really related to the Eclipse SmartHome framework itself.
If Kai is interested in (to prevent that in other instances of the oh-distro) perhaps an issue in a openHAB tracker should be created. You could then set all your log levels (or

[2018-01-10 14:46] maggu2810 commented on #4881
@Josar Why do you think that the state of an item needs to be changed after an received command at all?

* an item receives a command
* channels could be linked to the items
* every channel is part of a thing
* a thing is handled by a handler (if available)
* the handler implements a `handleCommand` method
* the handler could do "whatever he wants" in the method

a handler could then do whatever h

[2018-01-10 15:09] htreu commented on #4823
Hi @cdjackson, this is actually a bug in PaperUI only looking up the config description URI for the channel-type and not using the full channel URI.

[2018-01-10 16:06] kaikreuzer commented on #4871
As the bundle re-installation happens once a minute, I very much suspect that it is related to the Karaf Feature installer in openhab-core.
@mhilbush If you can easily reproduce this behavior, please file an issue at https://github.com/openhab/openhab-core/issues for it - thanks!

[2018-01-10 16:54] mhilbush commented on #4871
I'll open an issue.

I didn't mention this, but earlier I set DEBUG log level on `org.openhab.core.karaf`. I saw the reinstallation occur when the feature installer ran.  That would seem to confirm your suspicion.

[2018-01-10 17:51] johnjore commented on #4367
What I was trying to do, (and worked in OH1.8), was a static image with a status message below (Home, Away). When moving to OH2, I got the NPE, and ended up implementing a workaround.

When logging the ticket, I removed everything relating to my client to simplify the bug report. However, as I use a custom written android client (Kala), my sitemaps are a little different, as they are extended with

[2018-01-10 18:35] kaikreuzer commented on #4272
Trigger channels are documented at the end of [this section](https://www.eclipse.org/smarthome/documentation/development/bindings/thing-definition.html#channels). A couple of bindings already use them.
If you feel that something is missing, @sjka might be able to help.

[2018-01-10 20:05] lolodomo commented on #4367
@evansj : if your assumption is correct, I think we should add a control that the protocol is not null.
I will try to reproduce that but to be honest it is not my first priority.

[2018-01-11 00:51] Josar commented on #4881
So let me reformulate my statement, IMHO, if there is an state change this schould be handled before the rule is called. So when the rule is called the changed state can be used. But this is solved by the `receivedCommand` which is more overhead to grasp.

So basically there should be a sort sequence in which handler are worked off, or a significants flag number to sort them.

And so the updateSta

[2018-01-11 07:31] #4823 closed

[2018-01-11 09:44] paulianttila commented on #4367
Proxy create URI directly rather than URL. URL doesn't accept url string which doesn't have protocol, so maybe proxy should create URL and then convert that to URI (.toURI()).

https://docs.oracle.com/javase/7/docs/api/java/net/URL.html#URL(java.lang.String)

Current proxy implementation:
[code]

[2018-01-11 10:40] sjka opened #4892 "[Weather Underground] support the system locale setting"
As it [turned out](https://github.com/eclipse/smarthome/pull/4875#issuecomment-355947353), the Weather Underground API has its own codes for the used locales, therefore it has to configured explicitly in the binding currently. It would be nice however it it would obey the system locale configuration as returned by the LocaleProvider.

See #4875 for the discussion.

[2018-01-11 12:49] triller-telekom commented on #4420
The "here" in https://github.com/eclipse/smarthome/blob/master/docs/documentation/features/rest.md#21 mentioned by @JochenHiller still points to a relative URL.

But if I enter:
https://www.eclipse.org/smarthome/rest/index.html

or

http://www.eclipse.org/smarthome/rest/index.html

in my browser, both work. The latter one is redirected to the https version.

Probably eclipse.org has enabled the re

[2018-01-11 13:21] triller-telekom commented on #4004
@hmerk Are there any news on this one?

[2018-01-11 13:25] triller-telekom commented on #3990
So if the reported behavior is the the implemented one by #3372, there is just some documentation missing, right?

@lolodomo Since that Pr is from you, could you please document the behavior the the "[]" so we can close this issue afterwards?

[2018-01-11 13:39] sjka opened #4895 "[PaperUI] Allow options outside of min/max"
see #4797 & #1282

[2018-01-11 13:50] sjka commented on #4895
Ha, just tested it: it works!

PaperUI validates limits for plain integer parameters, but doesn't do so for integer values having "options" (i.e. where it renders a drop-down box)

[2018-01-11 13:51] #4895 closed

[2018-01-11 14:13] cdjackson commented on #4895
Just a comment - I've not checked the implementation, but it should also check the limits when there are options. It needs to ensure the value is "min <> max || options" in this case.

[2018-01-11 14:37] HeikoScholtes commented on #579
Hi @splatch, @ghys, @kaikreuzer and @marziman. I also added a second document with requirements that also include authentication and authorisation use-cases from a cloud point of view. Imagine you have a remote access to the ESH server you also need to authenticate and authorise the users in the cloud and if the cloud is offline you also have to consider and synch it with the ESH mechanisms.
The c

[2018-01-11 16:27] Josar opened #4898 "[Exec Transformation] Items transformation bug"
There seems to be en bug in the exec transformation when used in an item for teh label.

https://community.openhab.org/t/exec-transformation-in-item/38332/15

this should work
[code]

but produces following error.
[code]

but this seems to work instead
[code]

some hint from pauli_anttila:
Most probably reason is that %s have special meaning in both exec transformation and in the label.

[2018-01-11 16:58] sjka commented on #4898
Indeed, looks like @paulianttila's guess is right:

The `ItemUIRegistry` tries to format the state with the given pattern:

https://github.com/eclipse/smarthome/blob/94105f81a0aae2849425bcdc1ef5220b2e618a8b/bundles/ui/org.eclipse.smarthome.ui/src/main/java/org/eclipse/smarthome/ui/internal/items/ItemUIRegistryImpl.java#L372

Therefore `StringType` is doing the following:

https://github.com/eclips

[2018-01-11 17:17] #4069 closed

[2018-01-11 19:25] paulianttila commented on #4898
@sjka, I implemented a fix, could you pre check before PR?

[2018-01-11 21:32] Flole998 commented on #1093
Groups are probably what we need here, multiple groups may be added, groups can also contain other groups, so absolutely no problems should arise when using groups for the tagging, so AlexaLights, HueLights, HomekitLights would be three examples. If you want to expose the same items you could make HueLights a member of AlexaLights and that a member of HomekitLights. Anyone can think of any issues

[2018-01-11 21:32] kaikreuzer commented on #4895
@sjka Can you confirm this?

[2018-01-12 00:28] lolodomo commented on #3990
Any idea where it should be added ? Sorry but I have not a good knowledge of the documentation.

[2018-01-12 04:38] michaeljoos72 commented on #3990
@lolodomo I would do it in this section here:

https://docs.openhab.org/configuration/items.html#state-presentation

[2018-01-12 07:58] lolodomo commented on #3990
Maybe you can add it yourself ?
I am always hesitant to write documentation with an approximative English.

[2018-01-12 11:17] EliasGabrielsson opened #4904 "[Tradfri] Trådfri incorrectly reports old firmware on startup"
#### Symptom:

The binding reports firmware incorrect on startup of openhab.

[code]

#### Reproduce:

Watch the `/var/log/openhab/openhab.log` while starting the system.

#### Expected outcome:

As my Ikea phone app reports up updated on all devices including the gateway (currently: 1.2.42) I don't expect this warn log.

#### System:

Openhab 2.2 running on an Pine64 device.

[Related forum threa

[2018-01-12 11:48] sjka commented on #4904
Thanks for this report!

It indeed looks like the version check implementation is a little too simple:

https://github.com/eclipse/smarthome/blob/4204ce06bb28c28e5f711e720f87ef83beff2e27/extensions/binding/org.eclipse.smarthome.binding.tradfri/src/main/java/org/eclipse/smarthome/binding/tradfri/handler/TradfriGatewayHandler.java#L378-L381

[2018-01-12 13:25] htreu commented on #4895
@cdjackson you are talking about an options list with `limitToOptions = false` right? So the user is able to enter own values which are not predefined in the drop down.

[2018-01-12 13:37] htreu commented on #4895
Besides, there are some other issues with drop downs and `limitToOptions` so when fixing this maybe its a good time to also fix the other problems:
* #2844
* #3556
* #4014

[2018-01-12 13:57] htreu commented on #4420
I also re-tested this: In a fresh incognito window, when navigating from an HTTP site to the URL in question the content is still blocked due to the same CORS error as always.
So sadly this issue remains.

[2018-01-12 14:48] sjka commented on #4014
When fixing this, please consider [this comment](https://github.com/eclipse/smarthome/issues/4895#issuecomment-356945467), i.e.

[2018-01-12 14:48] sjka commented on #4895
@kaikreuzer I understood the same and it is working as of today in the sense that it allows options outside of the min/max range and only those values which are predefined as an option. However, I fear this is mainly because of #4014 😉
Nevertheless, @cdjackson's use-case is working as of today.

[2018-01-12 15:23] sjka commented on #4898
Done. Thanks for picking this up! 👍

[2018-01-12 15:33] sjka commented on #4071
Just for the record - I have `@Ignore` annotated the failing `WemoLinkDiscoveryServiceOSGiTest` with #4889, just to get the builds working again. This issue remains valid nevertheless.

[2018-01-12 16:30] sjka commented on #4296
Here is another, fresh one:

[code]

Source: https://travis-ci.org/eclipse/smarthome/builds/328165836?utm_source=github_status&utm_medium=notification
Build log: [log.txt](https://github.com/eclipse/smarthome/files/1626717/log.txt)

[2018-01-12 16:44] cribskip commented on #4852
I've got a mitigation (at least for number or string items):
By introducing a dummy state, the rule may be executed when the rule file is reloaded. This way the rule is compiled when triggered 'for real'.

Example:

    rule "Lights" when Item Light received command
    then
    switch(receivedCommand) {
    /* precompile dummy */
      case 3: {
        logInfo("Light", "Rule Lights now precompil

[2018-01-12 16:45] sjka commented on #4324
This however is not really a dependency on "the system", but in this case clearly on the availability of `DefaultScriptScopeProvider`. I know, code-wise the `ScriptFileWatcher` couldn't care less about them, but shouldn't it technically have a mandatory dependency on this concrete service instance and presumably also on `RuleSupportScriptExtension` as they're kind of "API" for the scripts?

I know

[2018-01-12 17:09] sjka commented on #4870
As you can see from the discussion in #4379, we were all a little unsure what to return in that case. With your analysis it indeed would make sense to define null as a valid outcome. If the element doesn't exist it will still throw the TransformationException.

It can't be the real `null` though, it has to be the string representation of `UnDefType.NULL`, i.e. `"NULL"`

[2018-01-12 17:25] pacive commented on #4870
That would solve my problem, just need to change null to "NULL" in my rule. Thanks @sjka!

[2018-01-12 18:18] J-N-K commented on #4296
From the log the test failed because the handler failed to open an outgoing UDP socket, so OFFLINE is the correct status. I‘ll add the error message from the exception, so we can see why it failed. Will be in the next version of the binding.

I never saw any of these tests failing in my local builds.

[2018-01-12 18:58] sjka commented on #4296
Thanks for looking so quickly into this. I have no idea what they are doing on their infrastructure - sounds indeed weird.
Let's just observe it until then. [Here](https://travis-ci.org/eclipse/smarthome/builds/328208833?utm_source=github_status&utm_medium=notification) is another one for the gallery, but if they are troubling us too much because of infrastructure issues, then I would also be okay

[2018-01-12 20:44] cweitkamp commented on #4832
I thought about your opinions. At the beginning I was convinced the channel is necessary. Currently I changed my mind and think a property for a default notification sound volume should be enough.

At the moment the binding always changes the volume before playing the notification. We can manage to adjust this volume by setting it in a rule for different purposes. This won't be possible anymore if

[2018-01-12 20:50] marziman commented on #3113
This is essential for ESH. Lets keep this going, we have the ongoing discussion here https://github.com/eclipse/smarthome/issues/579#issuecomment-356952399

[2018-01-12 20:53] marziman commented on #579
@JochenHiller & @kaikreuzer can you also provide your feedback to the shared documents. I think we need to have a hangouts soon, if all interested parties of community gave their input. There we can nail down some points and discuss how to proceed.

Thx & BR Mehmet

[2018-01-12 21:26] hmerk commented on #4004
@triller-telekom Not atm, as my priorities have changed. I hope to have a test version ready by mid of February.
This will also include other devices and remove code redundancy.

[2018-01-12 21:28] hmerk commented on #4662
@sjka I think this issue can be closed.

[2018-01-12 21:50] cdjackson opened #4910 "Configuration normalisation not performed on channel configuration"
When saving channel configuration, normalisation is not performed on the channel configuration. Additionally, it looks like the defaults may not be of the correct type - defaults are specified as a ```String``` (ie in ConfigDescriptionParameterBuilder) and should be normalised before being passed to the binding.

For example, the following -:

[code]

will provide a String when the configuration i

[2018-01-12 21:55] lsiepel commented on #4872
Adding a method overload would be easier to use over UDN strings from users perspective:
sendCommand(SonosFernseher_Add, SonosBadezimmer)

[2018-01-13 10:42] lolodomo commented on #4873
60s is apparently the default Jetty proxy timeout: https://www.eclipse.org/jetty/documentation/9.4.x/proxy-servlet.html
We could probably set a different value but what value ?

[2018-01-13 11:16] emme-g commented on #3611
Hello,
I found out a little trick to have the approximate information about the time of the solar midnight and to trigger rules using this moment of the day, without the need to use rules.
I created a second sun thing and I made an offset of -720 minutes of its noon group:
astro.things
`
astro:sun:home	[geolocation="XX.XXXXXX,YY.YYYYYY,ZZ", interval=60]
astro:sun:home2	[geolocation="XX.XXXXXX,YY.Y

[2018-01-13 11:29] emme-g opened #4913 "[Astro] radiation group channels dimensions"
Hello,
I recently found and set up some new channels of the Astro binding in my Openhab system, among all of them are the radiation group channels (direct, diffuse and total radiation).
I searched in the documentation and in Internet but I couldn't find any information about the dimensions of the numbers that these channels provide. In my place now is Winter (I'm in the North of Italy) and the bin

[2018-01-13 12:14] lolodomo commented on #4873
By setting the "timeout" property to 0 for the proxy servlet, it looks like I am able to go over the 60 seconds. The playback stops after around 3 minutes, with no error as if the video is finished.
Note that the same WEB cam URL is finishing after arouind the same delay when used in my browser. So this WEB cam is not a good candidate for testing as it seems that the stream is closed after around

[2018-01-13 13:36] lolodomo commented on #4873
By the way, I think the timeout should be disabled only for video and not globally for all the proxy as I did.

[2018-01-13 17:58] cdjackson opened #4915 "@NonNull check on Map.get through ThingType.getProperties().get()"
I'm not sure where or why this is showing up, but as can be seen below, I get a warning in Eclipse saying that the return from ```ThingType.getProperties().get()``` can not be null. This is just backed by a Map, which can return null if there is no key. I do a null check from the response, and as can be seen, there's a warning under the "associations" variable which states ```Null comparison alway

[2018-01-13 20:54] mueller-ma opened #4916 "Rest: Color codes instead of names"
from https://github.com/openhab/openhab-android/issues/637#issuecomment-357466331

[2018-01-13 22:39] HentschelT commented on #4873
How do I change the timeout for the proxy - or disable the timeout?

[2018-01-13 22:39] HentschelT commented on #4873
How about starting to apply the timeout if there is no more data coming thru  the proxy? Ths way, i.e. as long as there is data streaming, don't start the timeout handler, once data flow stops, start timeout handler. If the connection isn't closed within the timeout, and no data flowing -> trip timeout handler.

[2018-01-14 07:26] lolodomo commented on #4873
I will finally publish my enhancement that makes the timeout as a setting of the proxy service.

[2018-01-14 07:34] lolodomo commented on #4873
Can you open another issue for https/SSL with an example of URL I can reproduce your other issue ?

[2018-01-14 08:28] lolodomo commented on #4873
I just discovered 2 very annoying additional problems:

* even when you leave the page with the video link in Basic UI, the proxy still streams the video. Due to this reason and until this is fixed, I don't think it is a good idea to disable the playback timeout in the proxy.
* In Basic UI, when I reopen the page containing the video (just defined with url=), I only get the invalid link icon. The

[2018-01-14 08:34] lolodomo opened #4917 "Basic UI: MJPEG video not rendered after the first rendering"
I define in my sitemap something like: `Video encoding="mjpeg" url="<url>"`
In Basic UI, when I first open the page containing this video element, the video is rendered as expected. Then if I leave this page and then come back, I just get the invalid link icon. I need to do a Ctrl+F5 to get thje video back.
Tested with Firefox.

[2018-01-14 08:41] HentschelT opened #4918 "Proxy fails to open https/ssl streams"
When creating a Video widget with a encrypted data stream (https), the proxy fails to open the connection, and the log shows:

[code]

The video widget is defined as:
`    Video encoding="mjpeg" url="https://webcam1.lpl.org/axis-cgi/mjpg/video.cgi"
`

Cheers,
-Th

[2018-01-14 08:42] HentschelT commented on #4873
For the https/ssl issue, please see:

https://github.com/eclipse/smarthome/issues/4918

Cheers,
-Th

[2018-01-14 08:44] lolodomo opened #4919 "Proxy service: video data transfer not stopped"
In Basic UI, even when you leave the page with a video delivered through the proxy service, the proxy continues streaming the video.
The expected behaviour is that the connection should be stopped.
Maybe the issue is in Basic UI rather than the proxy service.

[2018-01-14 08:57] lolodomo commented on #4918
I can reproduce but I am just asking myself if it is normal or not ?
This is a question of certificate I think.
But I agree that this URL is working in Firefox.
Maybe the solution would be to disable the SSL handshake in our Jetty proxy server ?

[2018-01-14 09:00] lolodomo commented on #4917
It certainly only concern video elements with mjep encoding set.

[2018-01-14 09:27] J-N-K commented on #4296
After adding the additional debugging information I found a faulty logic in setting the thing status which in some cases (depending on timing) caused opening an already open socket. This is fixed now.

[2018-01-14 09:44] cweitkamp commented on #4872
I second that idea. It would be a great advantage if we can access the properties of things in rules.

[2018-01-14 10:37] lolodomo commented on #4919
@resetnow: maybe you have an idea ?
I think the problem is that the JavaScript is not closing connections to the proxy server. When I close completely Basic UI, the proxy detects an exception "proxying failedorg.eclipse.jetty.io.EofException: null" and the data transfer ends.
How the JavaScript could close properly all opened connections to the proxy server from a page when exiting a page.

[2018-01-14 11:15] lolodomo commented on #4918
It may be a question of used TLS version or cipher. I am not enough expert in SSL to analyze that.

[2018-01-14 11:40] lolodomo commented on #4916
The conversion to a code should certainly be done at this place: https://github.com/eclipse/smarthome/blob/master/bundles/ui/org.eclipse.smarthome.ui/src/main/java/org/eclipse/smarthome/ui/internal/items/ItemUIRegistryImpl.java#L1033

It would then impact the color values set in the sitemap REST API, sitemap SSE and it would impact Basic UI and Classic UI servlets too.

[2018-01-14 12:03] lolodomo commented on #4918
For information, if I update Basic UI code to disable the proxy and use directly the video URL, the video is correctly rendered.

[2018-01-14 12:10] maniac103 commented on #4916
From my comment in the mentioned Android app issue:

[2018-01-14 13:01] cdjackson opened #4921 "[Paper UI] Inbox does not update entries upon "updated" event"
When an inbox entry is updated there is no notification. This leads to the inbox display in UIs being wrong until the UI is refreshed.

DiscoveryListener should have an updated method to alert the UI that things have changed.

Alternatively, the added method could be called again (maybe) since the method called is always ```thingDiscovered``` in the discovery service.

[2018-01-14 13:15] maggu2810 commented on #4915
That is caused because we are still missing external annotations for the JDK.
So as long as the support is not added, you have to ignore the "cannot be null" warning.

[2018-01-14 14:03] openhab-5iver opened #4922 "[LSP] Rule validation incorrectly identifies issue (The expression of type SwitchItem is already of type SwitchItem)"
ESH: 0.10.0.201712141004
OH: 2.3.0 snapshot 1181

This rule will recreate the problem when the rule file containing it is saved. But the rule will execute properly. This does not block any functionality, but is just incorrectly logging a validation issue that does not exist.
[code]
The full error from the log is...
[code]

[2018-01-14 14:35] mgeramb opened #4923 "[BaseThingHandler] Discussion: check state of channel before update"
Hi community,
I have to poll the state for my Things in my binding. In the polling thread, I update all the channel states without checking the previous state. Now I recognized, that channel with the image control which is bound to a String channel with an url flicker after each update in the ios app, regardless if the url was the same as the previous. It seems that the update is done through all

[2018-01-14 14:36] lolodomo commented on #4367
It exists a similar URL check in the Basic UI servlet.

[2018-01-14 15:34] lolodomo commented on #4923
Normally the framework is checking if there is a change of state so you can call update state in your binding without checking. The flicker in the iOS app is probably due to another reason. Check your file events.log to check if event is updated.

[2018-01-14 15:41] lolodomo commented on #4832
Adding sound volume to the playSound and say commands make sense.

[2018-01-14 16:03] lolodomo commented on #4832
This should be even easy to change. The question is how many bindings have a similar handling to the Sonos binding and should be then updated to suppress the notificationVolume channel ?

[2018-01-14 20:12] kaikreuzer commented on #4922
Err, that the heck is a `MotionItem`? I would actually expect the validation to show an error on this before even coming to warnings afterwards...

[2018-01-14 20:49] openhab-5iver commented on #4922
Yeah, that is one of the most stupid and embarrassing things I've done in a while. lol. That's gonna leave a scar...

OK, moving on... so there's still this other validation issue. Did I do something else ridiculously stupid here too? :)

[2018-01-14 21:08] kaikreuzer commented on #4922
Well, you seem to underestimate the rule syntax here.
`Test_Switch_1` is not just "any" variable name, but it is injected from the item definition, so indeed the system already knows that it is a SwitchItem and thus the if statement is superfluous. Cool, isn't it? 😎

[2018-01-14 21:12] openhab-5iver commented on #4922
Hmmm... I get the same with Virtual_Switch_1. Or is that another hidden gem?

[2018-01-14 21:24] #4922 closed

[2018-01-14 21:31] kaikreuzer commented on #4922
You're welcome, glad I could help (and even more glad that there isn't a bug ;-))!

[2018-01-14 21:42] resetnow commented on #4919
I would guess there's a dangling reference somewhere that can't be garbage collected. Since we replace all the DOM nodes when navigating between the pages, it could be an event callback, a timer or something like that.

[2018-01-14 21:56] resetnow commented on #4919
I think the problem here is this — https://github.com/google/material-design-lite/issues/271

There are a lot of detached DOM nodes, some are keeping the video stream. Solution would be to call downgradeElements before leaving the page.

[2018-01-15 07:59] kaikreuzer commented on #4845
Thanks for the analysis, @resetnow.
Modifying MDL does not sound like a good option for me - we would anyhow need a new CQ, because so far we have only requested to distribute it unmodified. I'd rather say we should leave that as a known issue and not fix it as.
Could the upstream MDL be enhanced in a way that a future version of it would allow us to tackle that issue?

[2018-01-15 08:01] #4670 closed

[2018-01-15 08:09] #4917 closed

[2018-01-15 08:11] triller-telekom commented on #4004
@hmerk: Thanks for the feedback. No need to rush anything. Just wanted to know what the state of this issue is. Take your time.

[2018-01-15 08:11] resetnow commented on #4845
Unfortunately, MDL is considered obsolete now and has been replaced with https://github.com/material-components/material-components-web which in my opinion are quite different in a lot of aspects (browser support, API, size)

[2018-01-15 08:18] kaikreuzer commented on #4845
Ouch, I wasn't yet aware of this :-(
That is really a pity, it was such a good match for our needs...

[2018-01-15 08:20] resetnow commented on #4845
I think it still is — and getting modification approval would provide us the opportunity to fix other bus as well (flaky slider implementation comes to mind).

[2018-01-15 08:26] kaikreuzer commented on #4845
MDL has more than 5000 forks, I would therefore expect that they still consider PRs that are created against their repo - at least it would be worth a try. If not, the better option would probably be to maintain our own fork (outside of Eclipse) and use the build results from that.

[2018-01-15 08:56] resetnow commented on #4845
They seem to accept non-breaking changes, I'll see if it's possible to get something there.

[2018-01-15 09:09] kaikreuzer commented on #4918
We should imho turn off the certificate validation (while of course supporting TLS encrypted communication between ESH and the webcam).

The main use case is to have IP cams in the local network, which most likely won't have a valid certificate anyhow. Failing to verify the certificate should thus not crash the runtime.

We could think about logging a warning, if the validation fails, although tha

[2018-01-15 09:34] #3952 closed

[2018-01-15 09:50] kaikreuzer commented on #4921
Hm, I would have expected that this is already in place?

https://github.com/eclipse/smarthome/blob/4204ce06bb28c28e5f711e720f87ef83beff2e27/bundles/config/org.eclipse.smarthome.config.discovery/src/main/java/org/eclipse/smarthome/config/discovery/internal/PersistentInbox.java#L472-L473

[2018-01-15 09:54] kaikreuzer commented on #4921
I do not see why the DiscoveryListener would need to be changed in order to notify UIs.

[2018-01-15 10:04] cdjackson commented on #4921
Ok, I assumed that this was the mechanism for updating the inbox. I didn't see an SSE event, and PaperUI doesn't update the inbox in this case.

Maybe I missed the SSE and the problem is just that PaperUI doesn't update.

[2018-01-15 10:08] kaikreuzer commented on #4923
The iOS uses the long-polling mechanism in the SitemapResource, which should only reload, if there is a state change (not merely an update).
Thing handlers should update the state as often as they have an updated value. The framework then automatically determines whether a state change has happened and it uses different events for those.

[2018-01-15 10:08] #4923 closed

[2018-01-15 10:25] #4716 closed

[2018-01-15 10:45] #4631 closed

[2018-01-15 11:31] lolodomo commented on #4918
I already tried but without success.

[2018-01-15 11:54] Josar opened #4925 "Bindings uninstall when installing new"
When a Binding was installed via Karaf and you try to add a new Binding via PaperUI all other Bingings get uninstalled.

[code]

Installing Bindings via PaperUI and then install one via Karaf, navigate to the PaperUI Binding Page and waiting some time leads to an uninstall of the installed Bining.

[code]
[code]

Sometimes a encountered that  a binding just uninstalled but could not find out why.

[2018-01-15 12:06] #4898 closed

[2018-01-15 12:10] sjka commented on #4925
I know this separation can be confusing sometimes: Eclipse SmartHome doesn't know anything about Karaf. The Karaf feature extension management is something which openHAB brings on top. So could you please open this very same issue in the https://github.com/openhab/openhab-core/issues project?

[2018-01-15 12:10] #4925 closed

[2018-01-15 12:16] Josar commented on #4925
How should anyone be able to know what is where?

[2018-01-15 12:30] sjka commented on #4925
Didn't expect that you know - that's why I was telling you 😄

[2018-01-15 12:54] sjka opened #4927 "[Test failures] Wemo test failure"
As seen here:
https://travis-ci.org/eclipse/smarthome/builds/329017654?utm_source=github_status&utm_medium=notification

[code]

Full log: [log.txt](https://github.com/eclipse/smarthome/files/1631663/log.txt)

[2018-01-15 13:03] cweitkamp commented on #4904
One question: Is it allowed to use the `org.apache.maven.artifact.versioning` bundle (e.g. the [DefaultArtifactVersion](https://maven.apache.org/ref/3.3.9/maven-artifact/apidocs/org/apache/maven/artifact/versioning/DefaultArtifactVersion.html) class)?

If not, do we have classes which can be used for the comparison?

[2018-01-15 13:16] emme-g opened #4928 "[FS Internet Radio] volume issues"
Hello,
I recently started to use this good binding with my Auna Connect 150. I could easily set the binding of Openhab2 without any big problem. So, now everything works fine with just one exception: the volume items don't work in the same way described in the documentation.
I start with the volume-absolute channel: the range of the volume in my device is 0-20 (not 0-32 as written in the binding d

[2018-01-15 13:35] kaikreuzer commented on #4925
Well, potentially by reading the docs: https://docs.openhab.org/appendix/contributing.html#reporting-issues

Feel free to improve it, if it isn't helpful enough.

[2018-01-15 13:47] kaikreuzer commented on #4904
I am afraid the answers are no and no.
Btw, we also have no clue what versioning scheme IKEA will use in future, so we probably best implement some custom logic anyhow.

[2018-01-15 14:20] Josar commented on #4925
But as the PaperUI is used to install and the event is smarthome it could also be a smarthome problem!
Using Paper UI  it uninstalls prevlously installed Bindings. I do not know

@kaikreuzer  As the problem is not that i am not aware of the various project where it could possibly relate to. But i don´t know what code belongs to which and i don´t think i will ever be able to know.

[2018-01-15 14:31] triller-telekom commented on #4913
@gerrieg Could you please comment on that?

Also once we have proper unit support with PR #4818 this would be a good candidate to use the new `QuantityType` then.

[2018-01-15 15:07] htreu commented on #4916
I second @maniac103´s comment: imho the client is responsible for rendering whatever color name is given by the REST interface. The UI may even render a completely different color then the name states when necessary for the current theme. The backend should not provide concrete color codes as those would again not fit every UI.

[2018-01-15 15:15] #4498 closed

[2018-01-15 15:48] mueller-ma commented on #4916
You're right. Color names are better, so they can be adjusted to the current client theme.

[2018-01-15 15:48] #4916 closed

[2018-01-15 16:10] sjka commented on #4928
Thanks for posting this! Your experience actually raises the question why there are two distinct channels for the same functionality at all... To my knowledge bindings are encouraged to use percentage values in such cases in order to abstract such device internals. Therefore IMHO the `volume-absolute` channel should be dropped completely...

Nevertheless, the handler indeed must learn to cope with

[2018-01-15 16:45] sjka commented on #4662
Maybe I should have been more precise - what I consider a bug is that `WemoHandler` implements the `DiscoveryListener` interface. Using UPnP in general (i.e. being a `UpnpIOParticipant`) is perfectly fine of course, no issues with that.

[2018-01-15 16:51] mstormi commented on #4716
Is this supposed to fix the 'UI hangs on processing rules' ?
I've just upgraded to snapshot #1186 (which is including this one, right ?) but it doesn't work any better than beforem UI still is blocking until the current rules file is done processing.

[2018-01-15 17:00] cweitkamp commented on #4904
I made a proposal: PR #4930

I guess it can be enhanced a lot. Please tell me. Maybe we even can move it to some place in the ESH core framework.

[2018-01-15 17:18] hmerk commented on #4662
Ok, now I understood. I am doing a major rework of the binding atm and will take this into count.

[2018-01-15 17:22] kaikreuzer commented on #4716
Yes, #4785 is included in distro 1186.
@htreu Could you check why it isn't solving the issue?

[2018-01-15 18:34] sjka commented on #4662
Cool, thanks.

[2018-01-15 19:09] sjka commented on #4910
I just had a closer look through the code:

* I can confirm that at least [GenericThingProvider](https://github.com/eclipse/smarthome/blob/4204ce06bb28c28e5f711e720f87ef83beff2e27/bundles/model/org.eclipse.smarthome.model.thing/src/org/eclipse/smarthome/model/thing/internal/GenericThingProvider.xtend#L423) doesn't do any normalization on the channel configuration coming from the DSL files. That in

[2018-01-15 19:35] cdjackson commented on #4910
Thanks @sjka. Re the default value, it’s possible I was wrong here and another possibility is that PaperUI is not doing normalisation on channel config (which I think it does on thing config).

I also just looked at the rest service, there is normalisation done there as well, but only on the thing. If I remember correctly, channel configuration is PUT in the ThingResource, and here it only focuses

[2018-01-15 20:36] lolodomo commented on #4868
I can confirm this issue on Windows.

[2018-01-15 20:42] lolodomo opened #4931 "Things remaining in INITIALIZING state at startup"
With the last ESH/OH build (snapshot 1186), we have the comeback of things not initializing correctly at startup.
Most of bridge things (hue, netatmo, ...) remains in a INITIALIZING state.
I have nothing special logged.
The problem is at each startup.

The problem was introduced after the snapshot 1140.

[2018-01-15 21:22] sjka commented on #4910
Thanks for the clarification. I will have a look.

[2018-01-15 21:29] kaikreuzer commented on #4931
I noticed the same on my setup that I just upgraded to 1186. Will try to debug.

[2018-01-15 21:36] mhilbush commented on #4931
While nothing is logged, I see messages in my log indicating that scheduled jobs are about to be started, but the jobs never start.  See [here](https://community.openhab.org/t/first-major-update-in-2-3-0-snapshot/38801/2)

[2018-01-15 22:19] lolodomo commented on #4863
Any chance to fix the build on Windows ?

[2018-01-15 22:36] #4931 closed

[2018-01-15 23:08] mhilbush commented on #4931
Confirming that build 1187 resolved the problem for me.

[2018-01-15 23:08] kaikreuzer commented on #4931
You are quick, it only just finished building!

[2018-01-15 23:09] mhilbush commented on #4931
I figured you might want some feedback before you went to bed.  :-)

[2018-01-15 23:10] kaikreuzer commented on #4931
Much appreciated :-)
I can confirm that the problem is solved for me as well - so we should be allowed to have some good sleep now!

[2018-01-15 23:18] kaikreuzer opened #4933 "[Paper UI] Location labels are not shown correctly"
It seems that something broke wrt displaying location items on the Control tab of the Paper UI:

<img width="366" alt="screen shot 2018-01-16 at 00 16 38" src="https://user-images.githubusercontent.com/3244965/34965193-a08d7d46-fa52-11e7-8a04-1c284760bfb8.png">

[2018-01-15 23:19] lolodomo commented on #4931
Thank you guys.

[2018-01-15 23:41] eiGelbGeek commented on #4839
Same here ... now switched to HUE Bridge

[2018-01-16 06:07] martinvw commented on #4543
See also my previous issue: https://github.com/eclipse/smarthome/issues/3325

[2018-01-16 07:52] afuechsel commented on #4931
It is strange, that reverting back solved the issue. The implementation done in WrappedScheduledExecutorService is according to the example which can be found in the javadoc and does nothing special. At least on first sight. https://docs.oracle.com/javase/8/docs/api/java/util/concurrent/ThreadPoolExecutor.html#afterExecute-java.lang.Runnable-java.lang.Throwable-

[2018-01-16 07:56] afuechsel commented on #4931
Looking deeper I wonder, if this may cause the `afterExecute` to block:

[code]

What will happen, if the underlying future takes a little bit longer? Will blocking the afterExecute be a problem? Will a second get() invoked on the same future cause some problems?

Just some quick thoughts...

[2018-01-16 08:07] kaikreuzer commented on #4931
When debugging, the problem indeed was that the `get()` method blocked.
But note that this code comes directly from the official JavaDoc of `afterExecute`, see https://docs.oracle.com/javase/8/docs/api/java/util/concurrent/ThreadPoolExecutor.html#afterExecute-java.lang.Runnable-java.lang.Throwable-.

The weird thing is that the status of the task was 0 (=NEW) and not [`status >= NORMAL`](https://s

[2018-01-16 08:10] afuechsel commented on #4931
As https://stackoverflow.com/questions/35366018/overriding-threadpoolexecutor-afterexecute-method-any-cons states, get() should NOT block, as the method is called AFTER execution. But it looks weird. Even the official javadoc may have some flaws...

[2018-01-16 08:20] afuechsel commented on #4931
The long discussion here: https://stackoverflow.com/questions/2248131/handling-exceptions-from-java-executorservice-tasks suggests something like this:

[code]

[2018-01-16 08:28] kaikreuzer commented on #4931
This would filter out the cases where status=0, so it might help, yes.

[2018-01-16 09:31] htreu commented on #4716
When switching frames in Basic UI there are other interactions with the ModelRepository: during frame rendering the category for a widget is calculated. In case the icon is not set directly in the widget (i.e. in the sitemap) the attached item is queried to provide an item. This will access the item model from the GenericItemUIProvider which in turn is loaded from the ModelRepository.
I will propo

[2018-01-16 10:59] htreu commented on #4716
The fix just gets the item from the also present ItemRegistry and removes the ModelRepository from the GenricItemUIProvider. This fixes it for me.

[2018-01-16 12:22] maggu2810 commented on #4863
As I don't use Windows I can't help.

[2018-01-16 12:38] mhilbush commented on #4751
In build 1187, while the NPE no longer occurs, in several bindings that use `setDiscoveryServiceCallback`, I am not seeing that method being called.

See community post [here](https://community.openhab.org/t/first-major-update-in-2-3-0-snapshot/38801/9) for more information.

[2018-01-16 12:55] kaikreuzer commented on #4751
@mhilbush Looking at the code in those discovery services, I wonder why the DiscoveryServiceCallback is used at all - it was only introduced if a bindings is able to do incremental discovery, but it should not be used to check whether a result is already there or not. I would claim that you could simply remove the whole if-statement. (But yes, this obviously does not explain why the callback isn't

[2018-01-16 13:06] kaikreuzer commented on #4751
No, the inbox itself checks if a Thing with the give id already exists and won't create an inbox entry in that case.

[2018-01-16 13:12] mhilbush commented on #4751
Ok, thanks. Has it always been that way?  I don't recall it being like that when I developed the bindings. But, I'm getting old and my memory is not what it used to be.  LOL

In any event, I removed that if-statement.  For the case where the thing doesn't exist already and there's no inbox entry already, I'm not getting anything in the inbox even though I'm calling `thingDiscovered`.  Ugh.

[2018-01-16 13:14] kaikreuzer commented on #4751
Yes, it has always been like that. Note that the callback was only introduced later upon request of the Z-Wave binding, which does incremental discovery.

[2018-01-16 15:42] ThomDietrich commented on #4862
One bonus issue to consider: https://community.openhab.org/t/problem-with-spaces-in-json-keys/38847 --> the transformation could remove newlines from the source string.

[2018-01-16 15:56] kaikreuzer commented on #4921
@htreu Can you confirm that the Paper UI should receive those events and react on them?

[2018-01-16 16:20] htreu commented on #4921
We have at least this code on Paper UI which should display a message with the chance to redirect the user to the inbox:
[code]

I have to check what happens when the inbox is actually open when these events occur.

[2018-01-16 16:22] kaikreuzer commented on #4921
This only reacts on added events, but we are talking about `smarthome/inbox/{thingUID}/updated` here.

[2018-01-16 16:27] htreu commented on #4921
There is a second snippet listening for `smarthome/inbox/*` events:

[code]

This will currently only add/remove results to the Paper UI `discoveryResultRepository`. This seems to be the correct place to extend for `updated` events.

[2018-01-16 17:04] cdjackson commented on #4921
Thanks.

[2018-01-16 17:50] mhilbush commented on #4751
Ok, I'll can submit a PR to remove that from both bindings.

Unfortunately, I can't test because nothing is being added to the inbox.  Perhaps the same root cause as the discoveryServiceCallback?  Should this issue be reopened, or would you prefer I open a separate issue?

[2018-01-16 17:54] leoMehlig opened #4936 "[Tradfri] Ikea Tradfri Gateway Communication Error"
After my Tradfri Gateway automatically updated itself to version 1.3.14 it stopped working with openHAB 2.2.

It gets reported as `OFFLINE (COMMUNICATION_ERROR)` and the log shows `[DEBUG] [.tradfri.internal.TradfriCoapHandler] - CoAP onError` regularly.

The release notes mention some changes to CoAP. Does anyone else have this issue?

[2018-01-16 19:56] TheNetStriker commented on #4794
I just got the confimation in the forum from another user that my workarround with the delay solved the problem on his installation too: https://community.openhab.org/t/hue-bridge-and-lamps-offline-after-oh-2-2-update/37556/17

[2018-01-16 22:34] lolodomo commented on #4863
Still not work.
Maybe my nodejs version is too old ?
What nodejs and npm versions are recommended ?

[2018-01-16 23:59] davidgraeff commented on #4178
Nice work and a fruitful discussion. I close this now.

[2018-01-16 23:59] #4178 closed

[2018-01-17 06:05] htreu commented on #4863
When you run the maven build a local node & npm version is installed:

10 verbose npm  v5.0.3

This works on travis/jenkins/<my machine> just fine.

[2018-01-17 06:19] htreu commented on #4863
You could actually try to build with your local npm as well: just run `npm install` in the paper ui root folder. I guess its always a good idea to clean at least the `node_modules` folder before doing so.

[2018-01-17 14:11] triller-telekom commented on #579
@htreu and me have just discussed a view thoughts regarding the role based access and we have summarized our results in the google document. @splatch Can you please accept my changes? THX.

[2018-01-17 14:55] splatch commented on #579
@triller-telekom I appended your section and placed two additional comments. Please take a look on them.

[2018-01-17 15:14] marziman commented on #579
Hi @htreu & @triller-telekom and @splatch ,

did you actually take a look on the document @HeikoScholtes provided as zip file?
Can we please try to pick up all sources of requirements and ideas and not only focus on the Google Docs document? Please make sure to orchestrate all inputs.
If no one does this, we can take that over.
But we should highly try to find the "overlapping" and "common" approa

[2018-01-17 15:23] splatch commented on #579
@marziman Yes, I have discussed with @HeikoScholtes his document last week. So far it is not yet clear if ESH will implement OAuth provider interface.

From requirements point of view there will be necessity to let run multiple authentication providers supporting given type of credentials and try all until first success while user login. So when first provider fails to validate credentials second

[2018-01-17 15:24] triller-telekom commented on #579
Yes, we did have a look at the document in the zip file.

What I do not like about it is the whole cloud based approach. ESH is meant to be a framework that runs locally in your home. if a solution that is based on ESH decides to add a cloud component, fine. But then it also has to implement everything it needs for this. In the openHAB2 case we have sketched an idea on how to do that.

All authent

[2018-01-17 16:17] marziman commented on #579
I think we should be more open minded with that one.
If all parties want that ESH is more used in products and can be a solid base, it needs to support and also make "cloud based" Auth mechanisms possible.
Lets please not fall into dogma at this topic, since we will end with a Auth concept which will only run with ESH based standalone, cloudless solutions.
That ESH supports OAuth is a must from my

[2018-01-17 16:33] triller-telekom commented on #579
@marziman I think you are mixing 2 things up here:

One is authentication, i.e. verifying a users identity and the other one is authorization, i.e. executing permission checks.

Authentication might ALSO (not only) be done in a cloud via OAuth2, but the permissions should be stored and checked by the local ESH server.

[2018-01-17 16:43] splatch commented on #579
@marziman @triller-telekom I think we can agree on technical things without diving into philosophical aspects of our work. :-) Lets focus and define software provider interfaces required for involved parties to implement their solutions and make sure that they are vendor or use case neutral.

From above messages I can clearly see there is necessity to define a user and permission store interfaces

[2018-01-17 18:04] mhilbush commented on #4751
@kai  I can see in the IDE that my binding's discovery service starts before the PersistentInbox and DiscoveryServiceRegistry have started.  So when the binding calls thingDiscovered, there are no listeners registered, and the discovery result is not processed.  I have no clue why this would be the case.

I'll also caveat this with the fact that my ESH sources are out of date in the IDE.  I'm goin

[2018-01-17 18:35] lolodomo opened #4938 "Sitemap REST API with long polling: not all items are observed for update"
All items used in visibility/labelcolor/valuecolor attributes which are not present in the current page are ignored, meaning the server is not listening for updates on these items.
Additionally, if you have a frame linked to an item, all widgets linked to items inside this frame are ignored too.

The consequence is that any UI using the long polling method will not be informed about the update of

[2018-01-17 19:32] mhilbush commented on #4751
@kaikreuzer

I updated to the latest sources.  No luck!

Then I looked at why the NTP binding's discovery service was working correctly.  It's defined like this.
[code]

My binding is defined like this.
[code]
I replaced it with this, and the inbox is now being populated.
[code]
I then did this and, not only is the inbox being populated, but setDiscoveryServiceCallback is being called. So it seems

[2018-01-18 07:20] eiGelbGeek opened #4939 "[HUE] Support for Tradfri RGB Bulb"
The Tradfri RGB Bulb supports no CIE Commands, only XY Commands!
Please Add an Work A Round for this Bulb... perhaps transform the CIE Commands from Openhab to XY Commands. I don't look into the Code of the Tradfri Binding, but I think they do this Transformation to get it worked.

[2018-01-18 07:48] kaikreuzer commented on #4939
Not sure what you are trying to say here. The hue Binding does all accesses through the hue bridge, which comes with its own REST API. And afaik, this REST API does not differ whether you are controlling a hue, a lightify or a tradfri bulb through it.

Do you have any log files that show that something isn't working as expected?

[2018-01-18 08:35] eiGelbGeek commented on #4939
If I expected correct the Binding send the Commands in CIE Color Mode? Right?
The Tradfri Bulbs don't support this Commands, they need Commands in XY Color Mode.

Here the link to the Thread

https://community.openhab.org/t/hue-colorpicker-not-working/38044/14

There are to Screenshots from me ... I hope you understand now the Problem :-)

There are no Error in Log Files.

[2018-01-18 09:12] kaikreuzer commented on #4939
So what you are saying is that the REST API of the hue bridge indeed requires different kinds of requests for bulbs from different vendors?
The official docs (https://www.developers.meethue.com/documentation/lights-api#16_set_light_state) do not state anything like that. Maybe it would be worth to first discuss at their forum whether this is a bug or indeed intended that way?

[2018-01-18 09:27] eiGelbGeek commented on #4939
Yes that is what I want to explain.

I think Point: - 1.6.2. Body arguments - in the Documentation - makes the difference.
I think the HUE Binding sends hue,sat,bri and the Tradfri RGB Bulb don't support this. The Tradfri RGB Bulb needs the xy coordinates.

[2018-01-18 09:31] eiGelbGeek commented on #4939
Controll the Tradfri RGB Bulb with the HUE App works perfectly.

[2018-01-18 09:34] kaikreuzer commented on #4939
My point is that the client cannot/shouldn't really know about the exact bulb type - the Philips REST API should do the conversion in such a case.
If you find any discussion around that at the hue developer forum, it would be helpful.

[2018-01-18 10:21] emme-g commented on #4928
Hello,
I write here the way I acted to bypass this volume problem in my FS Internet Radio device (with absolute volume range 0-20) and to use it in a easy way in my automation system, with a sitemap showing a percent volume info, until the issue will be hopefully be solved.
In the item file I have just set the volume-absolute channel.
`Number		Radio_Volume2	"radio volume (absolute): [%s]"	<soundvo

[2018-01-18 12:31] gerrieg commented on #4913
@clinique Could you please comment? It was your PR https://github.com/openhab/openhab2-addons/pull/1588

[2018-01-18 12:35] clinique commented on #4913
@emme-g : yes, this is W/m2, channels are described that way and you're right, it's missing in documentation. Maybe you can make a small update on it ?

[2018-01-18 13:30] leoMehlig commented on #4936
@eiGelbGeek  The next morning everything worked again. Thought it was related to the updated since it happened immediately after it update.
Should I close this again?

[2018-01-18 13:56] rralf commented on #4839
Ok, so do you have the exact same issue? Then i'm not the only one, and I still don't know how to fix this.

[2018-01-18 14:13] sjka commented on #4751
Indeed, very good analysis! Looks like PR #2559 was not really precise in that respect: Subclasses of a service won't be injected as their superclasses.

[2018-01-18 14:15] kaikreuzer commented on #4751
Good finding indeed, @mhilbush!

[2018-01-18 14:21] rralf commented on #4936
Somehow sounds like this could be duplicate of my (yet unsolved) bug report #4839 ?

[2018-01-18 14:28] leoMehlig commented on #4936
The only difference is, that it couldn't communicate right away after startup.

[2018-01-18 14:54] mhilbush commented on #4751
Thanks. It took quite a few hours of digging to track this down.  At least now I have a somewhat better understanding of how discovery works. :-)

[2018-01-18 15:29] emme-g commented on #4913
Thank you clinique, I haven't seen the PR openhab/openhab2-addons#1588 before I created this issue.

I'll be happy to make the small update on the documentation, but actually would be the first time for me to amend an Openhab or Eclipse public document and I don't know how to do it. I'll try to find out how to modify the documentation file (or if you have time to give me a link to the information

[2018-01-18 15:38] triller-telekom commented on #4913
@emme-g Thank you that you volunteer to update the documentation.

Some hints to help you get started: https://www.eclipse.org/smarthome/documentation/community/contributing.html#conventions-for-pull-requests

You need an account at eclipse.org where you sign the CLA (Contributor license agreement) with an email address that you have to use in your commit message as a "Sign-Off" tag.

Then you can

[2018-01-18 15:40] #4933 closed

[2018-01-18 16:02] triller-telekom commented on #2834
@kaikreuzer: Aoun has done this update on 23.02.2017 in commit e4cad788eec2087bd2e3c5c691a4aac90dd65674 but I cannot find a PR for it.

Can you please close this issue?

[2018-01-18 16:09] kaikreuzer commented on #2834
Sure.

[2018-01-18 16:09] #2834 closed

[2018-01-18 16:09] kaikreuzer commented on #2834
FTR, PR was https://github.com/eclipse/smarthome/pull/3061.

[2018-01-18 17:43] sjka commented on #4874
I cannot confirm this issue. This works fine doing a full build (on any of MacOS, Linux, Windows) in a clean workspace.

I don't know what exactly you meant with "bypassing the failure...", but could it be that you did a partial build which resolved the `org.eclipse.smarthome.test` bundle against an old version coming from your local m2 repository?

[2018-01-18 17:43] #4874 closed

[2018-01-18 20:12] maggu2810 commented on #1896
It does perhaps not fit fully into the ESH start level concept, but I just played around a little with an idea and created a very simple demo.

See: https://github.com/maggu2810/shk/commit/6cd9e182369159410d3906fee6865a08cb023186

There is a `SystemStateInjector` service that could be used to inject information about a system state. The provider interface in the demo use a string key and an object

[2018-01-18 21:17] cweitkamp opened #4942 "Feature request: Populate Selection elements in sitemaps automatically"
In Paper UI you automatically have a select menu when the channel-type definition contains an `options` list. e.g.
[code]
![unbenannt](https://user-images.githubusercontent.com/5131747/35121566-23724e26-fc9c-11e7-8644-735e3b4537eb.png)

This is not possible in a sitemap for Basic UI without using a mapping parameter. A mapping parameter is static which makes it impossible to use dynamically create

[2018-01-18 23:17] cdjackson opened #4943 "Unable to remove properties from a thing"
There is no ```removeProperty``` method in the BaseThingHandler to allow removal of a property. Additionally, the ```updateProperties``` method will not allow a property to be removed since it checks for changes by iterating over the new properties map.

```updateProperties``` should be updated to also iterate over the existing properties so that it can see if a property has been removed.

[2018-01-19 07:27] kaikreuzer commented on #4943
Would it maybe be a better idea to interpret a property with null value as not set and thus to be removed? This would make the intention more explicit and would avoid accidental removal of existing properties.

[2018-01-19 07:28] #4868 closed

[2018-01-19 07:35] kaikreuzer commented on #4942
I agree with @lolodomo - this needs to be a feature of the sitemaps, which could dynamically provide the mapping information, which would make this available in Android, iOS, etc., too.

[2018-01-19 07:58] cweitkamp commented on #4942
Absolutely. Even better if it's available in all UIs.

[2018-01-19 07:58] htreu commented on #4943
@cdjackson can you give an example of a volatile property of a thing?

[2018-01-19 08:29] cdjackson commented on #4943
My use case here was after changing the firmware of a device - I wanted to be able to remove some properties that weren’t applicable and to indicate that others needed to be refreshed when the handler restarts.

If it is not allowed to remove properties, then at least this should be documented as I expect that updateProperties(newProperties) does just that - updates the properties with the new val

[2018-01-19 10:58] emme-g commented on #4913
@triller-telekom Hi Stefan, I tried yesterday to make the update but I guess the update process is not finished. This is what I did:
- I created my account at eclipse.org and signed the CLA;
- I forked the repository eclipse/smarthome (I did it directly on the github website using the fork button, I don't have git locally on my computer);
- I went down in my repository to smarthome/extensions/bind

[2018-01-19 11:52] triller-telekom commented on #4913
@emme-g Indeed I was referring to a local installation of git instead of the edit steps you did online on github.

Nevertheless I just had a look on what you did and you now have a branch with your changes in your github account, great!

Now you can visit: https://github.com/emme-g/smarthome/tree/git-checkout--b-astroDocFix

And click the "New pull request" button.

On this page you see your commi

[2018-01-19 12:53] sjka commented on #4867
I can at least confirm that behavior

[2018-01-19 12:53] maggu2810 commented on #4867
Hm, I don't think so.

If it has been written under the assumption that `getTime(...)`
updates the computer's system clock, then the next line that uses
`System.currentTimeMillis()` to calculate the diff wouldn't make
sense.

[code]

[2018-01-19 13:09] sjka commented on #4867
Yes, I noticed it the moment when I hit the button. Nevertheless, I think I found the problem: It only returned the _receive time_ and completely ignored the offset.

[2018-01-19 13:34] emme-g commented on #4913
@triller-telekom  Hi Stefan, I tried to do what you wrote me but unfortunately I still have problems:
I did what you wrote me but I had problems with the sign-off, so I deleted what I did yesterday and started again from the beginning. I think now I succeded to update the README.md file in emme-g/smarthome but I can't update the README.md in eclipse/smarthome. My pull request #4949 is open with th

[2018-01-19 13:41] #4867 closed

[2018-01-19 13:42] kaikreuzer opened #4950 "Improve ThingHandler API to allow easy addition of Channels"
In our [thing modelling FAQs](https://www.eclipse.org/smarthome/documentation/development/bindings/faq.html#structuring-things-and-thing-types), we suggest as (4) to dynamically add channels to a Thing within the handler.
As [discussed here](https://github.com/openhab/openhab2-addons/issues/2930#issuecomment-358709502), this is currently a bit cumbersome, though, as there isn't an easy way to cons

[2018-01-19 13:44] sjka commented on #4915
see #4513

[2018-01-19 14:08] triller-telekom commented on #4913
@emme-g It looks pretty good now, don't worry.

The only missing thing is that the commit you did was not signed-off with your email address (honestly I also do not know how to do that online on github). But since you wrote the "Signed-Off-By" footer into the github message we can manually check if you have signed the CLA.

[2018-01-19 14:14] sjka commented on #4862
Makes sense to me, I quickly created #4951 to implement this.

One _could_ argue that the first element should be chosen in case there are multiple elements returned - but I agree that your proposal is cleaner.

[2018-01-19 14:30] ThomDietrich commented on #4862
Great @sjka thanks again!!

I am not sure if that argument would be valid. What is true however is: With the right jsonpath selector you should be able to always select exactly the one element you are after. ✌️

[2018-01-19 15:14] eiGelbGeek commented on #4839
The New Tradfri Gateway Firmware solved my Problems. *First prognosis after 1 hour use*

[2018-01-19 15:21] eiGelbGeek commented on #4936
Just had the time to test the new firmware on the Tradfri Gateway ... Fresh OH 2.2.0 installation, Tradfri Binding installed, Tradfri Gateway added, security code entered. It seems to work. No crash in the last hour.

[2018-01-19 16:03] sjka commented on #4863
I just did a build on Windows with a clean repository (see https://github.com/eclipse/smarthome/issues/4863#issuecomment-355967082) and it also ran through.

Although the NPM repository has been a bit flaky at times, I can't confirm that there is a general issue with the Paper UI build on Windows. Really, try cleaning your git workspace (or manually delete all the `node*` & `npm*` folders and `pac

[2018-01-19 16:25] sjka commented on #1896
As far as I can tell on the first glance this is pretty much along the lines of the basic idea we already discussed here. In your example it is indeed visible how nicely it would work having higher-level abstractions of "somethings" that need to be ready. That's what I tried with the ReadyMarkers, but on a too fine-grained level and got hit badly by the performance issue we spoke about in the othe

[2018-01-19 16:25] lolodomo commented on #4863
Sorry, I did not understand that the files to clean up were in my git repository but only searched in the folders that were mentioned in the link provided by @htreu.
I will try again this week-end.

[2018-01-19 16:32] sjka commented on #4863
Alternatively

[code]

also does the trick - just note that you'll lose all uncommitted changes from the Paper UI and not only the cache stuff.

[2018-01-19 18:51] lolodomo commented on #4863
Thank you a lot, it is now working after running the git clean command that removed npm files I have not found (not searched at the right place).

[2018-01-19 18:51] #4863 closed

[2018-01-19 19:09] kaikreuzer commented on #579
Hi all,

Sorry to reply so late, but both @JochenHiller and myself have been sick / on vacation / both over the past week and I had to catch up with a lot of stuff.

So first of all thanks @splatch and @HeikoScholtes for sharing your documents, I think both are very good and a perfect start for the further discussions.
I have added a few comments on the Google doc, but also read the PDF from Heiko

[2018-01-19 19:30] sjka commented on #4863
Great!
Thanks for the feedback.

[2018-01-19 19:31] rralf commented on #4839
Cool, thanks, let me check next week if this update is available for me and if so, if it fixes my issue.

[2018-01-19 19:34] sjka commented on #4936
Just for the record: we are talking about gateway firmware version 1.3.14 where it so far appears to be fixed. Correct?

[2018-01-19 21:58] eiGelbGeek commented on #4936
Yes Firmware 1.3.14 works for me

[2018-01-19 22:09] ulfwin commented on #4831
I have the same issue on Linux Mint (LMDE 2 Cinnamon 64-bit) using VSCode 1.19.2 and openHAB 2.2.0

[2018-01-19 22:18] cdjackson opened #4955 "Circular reference detected trying to get service {org.eclipse.smarthome.core.audio.AudioSink}"
I'm trying to reinstall the IDE and can't get a fresh install to run.
System is MacOS, Java 8 - everything has been updated to latest and p2 m2 caches cleaned. System starts, then there is this circular reference, and the system appears to hang. Terminating the execution doesn't work - it needs to be terminated with the Mac activity monitor.

[code]

[2018-01-19 22:19] leoMehlig commented on #4936
The initial problem seems to be fixed somehow. The gateway is not running for a few days without any problems. Maybe this was due to some hiccup during the update??
I'm closing this for now.

[2018-01-19 22:19] #4936 closed

[2018-01-19 23:08] kaikreuzer commented on #4955
Similar report was here: https://github.com/openhab/openhab2-addons/issues/2263#issuecomment-358778341

[2018-01-19 23:10] kaikreuzer commented on #4955
Did you already try to disable some unneeded bundles from your launch configuration (e.g. `org.eclipse.smarthome.core.audio`) and see if it starts then?

[2018-01-19 23:13] cdjackson commented on #4955
Yes - tried disabling some bundles but haven’t been able to isolate it. What I have found is if I wait a while (I think 10s of seconds, but I’ve not found the actual time) then things do seem to work, and the terminate will also work, so I guess something times out after a bit. No messages to go on though.

I’m also occasionally seeing other circular references for different services on startup.

[2018-01-19 23:25] kaikreuzer commented on #4955
Hm, sorry, I can not reproduce - it all starts up nicely in my IDE.
But I also occasionally see other circular references; I cannot tell when and how they disappeared, though :-/
My best advice would be to keep removing bundles that you do not need right now...

[2018-01-20 09:31] ollie-dev commented on #4955
@cdjackson, do you have some unusual audio interfaces installed? I have none connected right now, but used multichannel interfaces in the past.
I disabled all audio, sound and voice bundles as well as the default bundles like hue and ntp. But I still won't get it to work - even after waiting some time. I also shut down my air-sonos service in my network to remove potential airplay issues on my Mac

[2018-01-20 09:33] cdjackson commented on #4955
No - I only have a standard MacBook pro with no non-standard anything really.

[2018-01-20 12:53] vasu1124 opened #4956 "Higher precision for PercentType required for some actors"
Hello SmartHome Team,

the PercentType being used to represent many actors (Dimmer, Blinds, etc.) at first sight looks sufficient. Decimal values between 0 and 100 should give ample means to set any desired settings.

Unfortunately, there are certain actors, e.g. Rollershutter or Blinds which need higher precision to be set to a correct angle:
![Window Blind](https://upload.wikimedia.org/wikipedia

[2018-01-20 13:01] kaikreuzer commented on #4956
Hey Vasu,

Thanks for your input!
Please note that PercentType (as well as DecimalType) both allow fractions, so sending 1.2% as a command to a rollershutter should be perfectly possible. If this is not the case, I would rather consider it a bug in the respective binding.

[2018-01-20 14:50] vasu1124 commented on #4956
Hi Kai,

ah ok, had to look up BigDecimal, that was my misunderstanding.

Yes, sending fractions is possible, but I think that is because the command is sent via a direct path to the underlay. I looked at java/org/openhab/binding/homematic/internal/converter/type/PercentTypeConverter.java:
[code]

The then following sync/readout leads to the internal state of the PercentType object to be rounded t

[2018-01-20 19:45] cdjackson opened #4957 "Enhance HSBType to add additional conversions"
I'd like to suggest that ```HSBType``` is enhanced to provide conversions to/from XY, and potentially to/from CT.

A helper class for converting XY was recently added to the [ZigBee binding](https://github.com/openhab/org.openhab.binding.zigbee/blob/master/src/main/java/org/openhab/binding/zigbee/converter/ColorHelper.java), but I'm sure other bindings would also make use of this and I think it mi

[2018-01-20 20:33] kaikreuzer commented on #4957
If it is similar to RGB, I don't see any reason against adding this as well to HSBType.

[2018-01-20 20:38] kaikreuzer commented on #4956
I'd recommend to open an issue about that for the Homematic binding at https://github.com/openhab/openhab2-addons/issues.

[2018-01-20 20:38] #4956 closed

[2018-01-20 20:50] jewesta commented on #4711
Hi @htreu,

first of all my apologies for the late reply. And thank you very much for taking the time to look into this.

What happens in my setup is that Visual Studio Code marks the var "index" inside the lambda as an error (red underline). When hovering over the error, the popup text reads "Cannot refer to the non-final variable index inside a lambda expression".

<img width="633" alt="screensh

[2018-01-20 22:57] cdjackson opened #4958 "RFC: ThingType versioning"
I would like to propose a mechanism for thing type versioning and updating. At least in ZWave, thing types change occasionally - channels get added or updated, and it would be good to provide the user with a notification that this has happened, and secondly provide a mechanism for updating to the latest definition.

Currently there is no notification, and updating requires deleting the thing and a

[2018-01-21 08:29] lolodomo commented on #4958
This is something we could use each time a developer adds a new channel to a thing type for example ?

[2018-01-21 09:06] cdjackson commented on #4958
Yes - that's exactly the purpose - if the thing definition changes (new channels, changed channels...) then update the version and the system can tell the user.

I wouldn't personally advocate an automatic update to the latest thing type based on this as it will likely screw peoples systems if channels change, but they should at least be alerted and given the option to use the latest definition.

[2018-01-21 10:55] MHerbst commented on #4958
Such a mechanism could really be very helpful. E.g. with the Homematic binding it has been necessary to remove things an re-create them again a few times.

[2018-01-21 16:49] kaikreuzer commented on #4958
I would claim that https://github.com/eclipse/smarthome/issues/2555 would solve most of the issues without introducing yet another layer of complexity through versioning.

[2018-01-21 16:56] cdjackson commented on #4958
Yes - I’d not seen that. However if I understand the suggestion, it would automatically update the thing description each time the handler started (or something along those lines). This will have the downside of breaking peoples systems if channels have changed and they upgrade. It might lead to much unhappiness for this reason.

[2018-01-21 17:09] kaikreuzer commented on #4958
Could you comment that on #2555 so that discussions happen at the right place?

[2018-01-21 17:16] cdjackson commented on #2555
I've just seen this issue. This is a major concern with ZWave since thing types change reasonably often and there needs to be a way to update the definitions without deleting all the things and adding them back again each time.

In #4958 I proposed a different solution to this - to version the thing types and allow people to manually update (ie the UI tells them there is a new definition available

[2018-01-21 17:34] J-N-K commented on #2555
I agree with @cdjackson, it should require user input to update the thing, at least if linked channels are removed or changed. Deleting or changing unlinked channels or adding new channels is safe, so this could be done in the background.

[2018-01-21 18:03] kaikreuzer commented on #2555
@cdjackson What you describe rather sounds like a binding that continuously breaks its own backward compatibility. I think this is something that should be addressed in the first place.

The normal case when upgrading should be that new channels are added and users want to see them supported - this is mainly what drove the creation of this issue and which would be solved nicely.
An upgrade should

[2018-01-21 18:17] cdjackson commented on #2555
I'm not sure I understand what you mean. There is no breaking of backward compatibility.

Let me try and explain.

The ZWave binding supports many different channels - these are not changed. The channels link to ZWave functions - again, this doesn't change. So there's no backward compatibility that is changing - at least not in the software.

What does change though is the XML files. The XML files

[2018-01-22 06:10] Kroki0815 opened #4960 "[astro] additional location -> Event Trigger not working"
Hi,
i need for my parrots the astro times from this home location. I added a second astro thing:

[code]

First it looks like the events are triggered correctly, but than i saw that only the last installed sun thing are triggerred !

Her are the log:

[code]

You can see, that only for sun:home the positional job is scheduled ....

I hope the problem is clear ..... and that the design normaly shou

[2018-01-22 07:47] kaikreuzer opened #4961 "Add documentation about tile server usage for Locations"
#3730 introduced a mechanism that allows displaying maps for locations (both for items and configuration parameters).

ESH does not come with this feature enabled, but it is merely an extension point that can be used by solutions that can be used to plug in their tile server.

This extension mechanism should be documented. As long as this is only a feature of the Paper UI, the best location would

[2018-01-22 07:56] htreu commented on #4360
This is the result from my analysis:
* `PersistentInbox` will pass a newly discovered thing to the `thingAdded` method from the `AutomaticInboxProcessor` which does the `autoIgnore` check.
* the `AutomaticInboxProcessor` will call `setFlag(thingUID, IGNORED)` on the `PersistentInbox`. This marks the discovery result from the storage with the flag, not the instance which is currently processed by t

[2018-01-22 07:59] htreu commented on #4360
One solution would be to reload the discovered result from storage before emitting the first `add` event. This will then provide the correct flag.
The unused `updated` event is obsolete (in this scenario) but does not hurt as long as the client checks for existence of the given thingUID.

[2018-01-22 08:24] lolodomo commented on #4961
Is this feature already available in openHAB ? Official 2.2 ?

[2018-01-22 10:36] pkriens commented on #1896
@sjka I think I share your view. The danger is that you start thinking global and that always falls apart in a component model. In general, you need to handle the dependency on the requirer side that has the actual knowledge of what it needs. I.e. a rule that need X should not be evaluated before X is present. This is much better than waiting to start the rule engine until all devices have started

[2018-01-22 11:03] maggu2810 commented on #1896
I considered things, rules, ... ready that the framework stuff is ready (thing handler could start doing its work, rules could be proceeded, etc.).
Is waiting for "all things need to be present" e.g. to be ready to execute rules possible at all?
Thing about a binding / thing handler, that is fully initialized itself, but needs an undefined time until it could detect its things (if they are online)

[2018-01-22 11:39] #4360 closed

[2018-01-22 11:43] kaikreuzer commented on #4961
Not yet, see https://github.com/openhab/openhab-core/pull/224.

[2018-01-22 12:10] sjka commented on #1896
Looking at the tons of issues which are linked against this one, I'm about to say: pretty much everything 😉 But that's exactly why I'd like to avoid - as tempting as it is.

However, in the end I think it's mainly about the rule engine(s). The other cases need to be looked more deeper into, and hopefully can be solved locally.

In the rule engine(s), the major pain-point are the "system started" t

[2018-01-22 12:20] sjka commented on #4960
Please note that the positional jobs only get scheduled if at least one of the positional channels (`position#azimuth`, `position#elevation`, `radiation#direct`, `radiation#diffuse`, `radiation#total`) actually are linked to an item. Also, events are only sent for those channels which have an item linked to it. Are you actually using any of these channels for an item in your setup?

[2018-01-22 12:29] sjka commented on #4936
Cool, thanks for the clarifications.

[2018-01-22 12:40] jboeddeker commented on #1896
No, from my opinion it's not just "system started". More problems are created from the ItemStateChanged triggers triggered for example by the persistence engines.
And some bindings take more time to initialize than others.

[2018-01-22 12:40] Kroki0815 commented on #4960
Ok, that's maybe the propblem. I only used then sun-rise/-set time as item, on the home-location i also have the the other channels active.
But on the other hand: If i added the second location in the thing file, after that the home-location event-trigger didn't work any more. I only used on the second location the daylight-event, and that worked at that point. After restart, the second location i

[2018-01-22 13:32] tomhoefer opened #4964 "Remove Firmware UID - Firmware provider should provide firmwares for things"
In ESH, firmwares are identified by their FirmwareUID, which consists of the firmware's thing type UID, and the firmware version. The firmware UID must be unique amongst all firmwares. I.e., each firmware for a given thing type must have a unique version. This is not the case for the following scenario:

In our project there are two firmwares for a special thing type with version 1, and two firmwa

[2018-01-22 13:44] #4921 closed

[2018-01-22 13:55] #4913 closed

[2018-01-22 14:19] cweitkamp commented on #4832
PR #4963 - Improvements in Audio and Voice API

[2018-01-22 15:49] htreu commented on #4960
When executing with your configuration for `astro:sun:home` and `astro:sun:parrot` I get the following output in the logs:

[code]

and for `astro:sun:parrots`:

[code]

This seems to schedule all the jobs just fine.

What does

and

mean for you? What is the behaviour you observe then? Do rules not get triggered any more?

[2018-01-22 15:49] htreu commented on #4960
I assume you are running openHAB? Which version do you run at?

[2018-01-22 17:45] paulianttila opened #4966 "ConfigDispatcher doesn't remove configuration variable in runtime"
When user remove configuration property from configuration file in runtime, property is not removed from the configuration existing in memory. So basically, when you want to remove configuration property, you need to restart environment. Is this a bug or feature?

I meet this problem in openHAB dashboard. User can add additional tiles to dashboard by configuration properties, but when user removes

[2018-01-22 20:15] mgeramb commented on #4942
I want use a DynamicStateDescriptionProvider in my amazonechoncontrol binding for selecting the bluetooth device and have the same problem that it is useless in sitemaps. If this can be don easily in the sitemap implementation, it would be nice.

[2018-01-22 21:35] #4904 closed

[2018-01-23 00:50] jboeddeker commented on #1896
Sorry, i think it was misunderstandable. It's not the persisting of items but restoring (strategy = restoreOnStartup) which causes the ItemChanged trigger to be fired. In my case this was a major problem, which was mainly solved when i excluded the change from Null from the trigger condition.

[code]

This change removed much from the startup exceptions.

[2018-01-23 08:29] kaikreuzer opened #4968 "Document configuration dispatcher mechanism and feature"
We are lacking documentation about the logic of the ConfigDispatcher, with automatic pid prefixing, exclusive definitions, etc.

We should add a short section in the docs, possible to the page https://www.eclipse.org/smarthome/documentation/features/dsl.html (while it should be renamed to something other than dsl) or next to that one.

@htreu Could you come up with something for that?

[2018-01-23 08:29] kaikreuzer commented on #4966
I have created https://github.com/eclipse/smarthome/issues/4968 so that it is easier to explain in future :-)

[2018-01-23 08:29] #4966 closed

[2018-01-23 09:20] #4862 closed

[2018-01-23 09:24] #4558 closed

[2018-01-23 09:46] mherwege commented on #1896
I would add two more cases that could cause issues with rules when the system is started. I have seen all of these when starting openHab. A few restarts usually gets me over the problem, but that’s not very nice.

- cron triggered rules, triggered when the system has not fully initialized all its items yet

- a mix of items defined in items files and through pape UI: this can cause issues if one s

[2018-01-23 10:13] #4938 closed

[2018-01-23 10:15] #4961 closed

[2018-01-23 10:35] maggu2810 commented on #1896
Should a rule be triggered at all if

* items are used that are not available
* items are available but not linked
* items are available, linked, but thing has no handler assigned
* items are available, linked, handler assigned, but thing is offline
* ...

Isn't the rule engine a special use case? I don't think that could be solved with a global "system is started and rules could be executed" stat

[2018-01-23 11:35] rralf commented on #4839
So I updated my gateway updated to 1.3.14. My gateway still crashes after ~10 minutes after I start openhab.

[2018-01-23 12:24] Kroki0815 commented on #4960
Ok, it's now a little bit clearer for me whats happend:
 First,: All working like expected ! All events are now fired correctly :-)

 My problems are the events that are triggerred at the END of the period, like END of daylight.
 If something changed in the astro.thing file or the system restarted after the daylight job is scheduled, than the daylight job will not be rescheduled and the daylight e

[2018-01-23 13:07] sjka commented on #4960
That shouldn't be the case. According to the code, at least the `END` event _should_ be scheduled, even if the `START` already is in the past. Let us know what you found out and especially how it can be reproduced, preferable with a simple configuration.

[2018-01-23 14:51] HomeOfSourceCode opened #4972 "group membership not updated on every circumstances after group type change"
I run into a problem in openHAB.

First the group was defined as
Group:Switch:OR(ON, OFF)    gSwitchesAll
and works well.

I decided to changed it to
Group:Number:SUM            gSwitchesAll

and it looks like it is working too.

But the group did not get some updates from item changes and soem rule tigggers are not working. After restart of OH the error was gone.

It looks like the group update i

[2018-01-23 15:29] sjka opened #4974 "RFC: Update to JsonPath 2.4.0"
JsonPath has added some additional functions by now (e.g. "concat", "size", "append" - see [PathFunctionFactory.java](https://github.com/json-path/JsonPath/blob/b4c26b25fad44423e85ca2120485806ccb1a90af/json-path/src/main/java/com/jayway/jsonpath/internal/function/PathFunctionFactory.java)). In particular the "concat" could be useful, e.g. for joining latitude and longitude to a coordinates which c

[2018-01-23 16:42] Kroki0815 commented on #4960
You are rigth and i don' t know what has changed that  now all works without any problems:

[code]

I only removed the astro:moon thing and added 2 items for elevation and azimuth to the sun:parrots location .....

I think the issue can be closed ...

Thank all for the time you spend in this strange behaviour ...

[2018-01-23 16:42] #4960 closed

[2018-01-23 16:47] mstormi commented on #4716
Just installed OH #1194 (to include yesterday's ESH update) and yes, looks like it is fixed now.
Thanks!

[2018-01-23 16:56] sjka commented on #4960
There is no trick, it's pure magic 😉

It leaves a strange feeling though, but I'm glad to see everything works now as expected. Just reopen this issue in case you can reproduce it.

[2018-01-23 17:35] triller-telekom commented on #4972
@HomeOfSourceCode Thanks for reporting this bug. I have created #4975 to fix it.

[2018-01-23 17:48] mhilbush commented on #4716
1194 looks good from here.  Yay!

[2018-01-23 21:05] maggu2810 commented on #4974
Not really interested, but if it doesn't break anything, I don't mind. :wink:

[2018-01-23 22:21] BasvanH commented on #4939
I have two types of Ikea Tradfri lamps bound to the Hue bridge.

TRADFRI_bulb_GU10_WS_400lm / 0220
TRADFRI_bulb_E27_CWS_opal_600lm / 0200

I experience the same as @eiGelbGeek . Color_temperature and Color cant be set, only on/off and brightness.

[2018-01-24 01:00] eiGelbGeek commented on #4939
I think there is the Bug .... it is a 210 and not 200 Bulb .... @kaikreuzer

I think this must be fixed by Phillips or Ikea ....

[2018-01-24 07:55] eiGelbGeek commented on #4936
4 Days without a Crash..... now the Gateway crashed every 10 Minutes :-(

[2018-01-24 08:59] kaikreuzer commented on #4939
@eiGelbGeek Good catch. This is indeed a bug in the Tradfri bulb firmware.
Even the Tradfri gateway reaches this information through, so the Tradfri binding [has a special check for the exact model in place](https://github.com/eclipse/smarthome/blob/4204ce06bb28c28e5f711e720f87ef83beff2e27/extensions/binding/org.eclipse.smarthome.binding.tradfri/src/main/java/org/eclipse/smarthome/binding/tradfri/

[2018-01-24 10:07] HomeOfSourceCode opened #4978 "Visual studio code does not detect duplicate item names"
It looks like visual studio code does not check duplicate item names.

Visual studio code:
![grafik](https://user-images.githubusercontent.com/33092270/35326322-9f797518-00f6-11e8-9881-8527db62c392.png)

Eclipse SmartHome Designer
![grafik](https://user-images.githubusercontent.com/33092270/35326340-a9262160-00f6-11e8-9225-1828efc9ea66.png)

I've verified, that language server (LSP) is running and

[2018-01-24 12:16] rralf commented on #4936
Does it also crash if OpenHAB's tradfri binding is inactive, could you please check that?

I'm very sure that OpenHAB causes - in some way - this issue, but nevertheless, the Gateway must not crash and stop functioning. Not saying that OpenHAB's implementation is buggy, it just causes the GW to crash because of its crappy firmware.

This darn issue now exists (at least for me) for more than three

[2018-01-24 14:58] triller-telekom opened #4979 "GenericItemProvider does not send updated event if StateDescription of an Item changes"
The following test should [notify the listeners](https://github.com/eclipse/smarthome/blob/master/bundles/model/org.eclipse.smarthome.model.item/src/org/eclipse/smarthome/model/item/internal/GenericItemProvider.java#L371) that an `Item` was changed if its `StateDescription` has been changed.

However the method [`hasItemChanged()`](https://github.com/eclipse/smarthome/blob/master/bundles/model/org

[2018-01-24 15:27] mhilbush opened #4980 "Config not updating properly after changing cfg file"
Not sure if this is the right repo, or if the issue has already been logged somewhere.  I wasn't able to find it after searching this and a couple other repos.

I was helping someone troubleshoot a problem they were having with the openhab1 gcal-persistence binding.  The forum discussion starts [here](https://community.openhab.org/t/presence-simulation-with-google-calendar-scheduler/19281/52).

I

[2018-01-24 17:13] eiGelbGeek commented on #4936
Perhaps via Twitter? https://twitter.com/IKEAUKSupport?lang=de

I will check later the Tradfri Gateway without Openhab.

Now I connected the Bulbs Back to the HUE Bridge .... but there is the RGB Bulb Problem ;-)

[2018-01-24 17:33] eiGelbGeek commented on #4939
I try now textually .... Bulb come up as 210. But Color Change not Work.

I think here is a PR that can fix the Problem... https://github.com/eclipse/smarthome/pull/4959

[2018-01-24 21:25] martinvw commented on #4955
Would this maybe provide any new insights?

https://github.com/openhab/openhab-core/issues/248

[2018-01-24 21:57] cbfief opened #4981 "Rule triggers before Item state changed"
Using Example 1 from the [Separation of Behaviors Design Pattern](https://community.openhab.org/t/design-pattern-separation-of-behaviors/15886/5), when triggering a rule based on "received command" rather than "received update," the rule appears to trigger before the Items state has been updated.  This result in the previous state of the Item being used and sent in the notification instead of the

[2018-01-25 07:59] htreu commented on #4964
Hi @tomhoefer. Your issue, as well as the linked discussions all seem to agree that a refactoring of the current firmware API makes sense. Since there are no other consumers (at least known) of the firmware API I guess we could change and go from thing-type to the thing entity here. This will even add more information available to the FirmwareProvider, so migrating should be quite simple.
It would

[2018-01-25 08:10] sjka commented on #4981
That's why you should listen to state updates using the `received update` trigger if your are interested in item state events. The `received command` is simply the wrong trigger in your case.

[2018-01-25 08:10] #4981 closed

[2018-01-25 08:15] sjka commented on #4955
I also can't reproduce it here - nevertheless, if that's indeed the bugger on some systems, then we should apply the workaround here as well, but that should be confirmed first...

[2018-01-25 08:19] sjka commented on #4980
If I'm not mistaken, it is the same "root-cause" (or rather: design decision) as in #4966. Could you try adding a pid to make it an exclusive configuration as suggested by @htreu [here](https://github.com/eclipse/smarthome/issues/4966#issuecomment-359515147)?

[2018-01-25 08:20] sjka commented on #4968
+1 -> #4980

[2018-01-25 08:40] cdjackson commented on #4964
Please note that any change here will break the ZigBee binding. I've no objection to this and had raised the same issue with @tomhoefer but I'd like to coordinate the release so as not to break the binding.

[2018-01-25 09:50] htreu commented on #4980
I guess @sjka is right: removing options is only provided when using an exclusive pid marker in the .cfg file. Otherwise the ConfigDispatcher is unable to decide if a configuration is removed since the configuration can possibly spread over separate files. Documentation is ongoing (see #4968).

[2018-01-25 09:51] #4972 closed

[2018-01-25 09:58] sjka commented on #4979
The state descriptions are not an integral part of the item entities and can change anytime (e.g. via a `DynamicStateDescriptionProvider`) without prior notice, therefore they are correctly are not considered to be a "change" of an item. A UI refresh though should (and I just tested that it actually does) show the new description.

[2018-01-25 09:58] #4979 closed

[2018-01-25 09:59] tomhoefer commented on #4964
@cdjackson I am aware of the FirmwareProvider inside the ZigBee binding. Currently I consider that provider as a development tool that we need to adapt accordingly. There are some more providers used in our project that need to be adapted, too.

[2018-01-25 10:07] cdjackson commented on #4964
Thanks @tomhoefer - I know you're aware, but I just wanted to comment here for everyone elses visibility...

[2018-01-25 10:33] sjka commented on #4711
This limitation is actually something that Xbase & Xtend inherit from Java and is nothing we can influence, neither in VSCode nor in Eclipse SmartHome.

You can't do something like this in Java and would get a "Local variable index defined in an enclosing scope must be final or effectively final" compiler error. Xtext jumps some hoops to make it work nevertheless in the Xbase interpreter, but it a

[2018-01-25 10:33] #4711 closed

[2018-01-25 10:53] #4978 closed

[2018-01-25 11:10] HomeOfSourceCode opened #4983 "item.previousState(false) does not reflect the state before current state"
As I understood, item.previousState(false) should reflect the state before current state of an item regarding to persistance database.
It is clear, that this dos not work with
- MAPDB (no history values stored)
- RRD4J (because older values are commulated, maybe no correct timestamp too)

But should work with any SQL-Database if persistance is configured as strategy = everyChange, everyUpdate

I m

[2018-01-25 12:51] mhilbush commented on #4980
Ah, yes, you're right! I searched only the open issues. :-(

Let me experiment with putting the pid marker as the first line in the cfg file.  Can you clarify which of these I should use?
[code]

[2018-01-25 13:12] maggu2810 commented on #4981
See also: https://github.com/eclipse/smarthome/issues/4881#issuecomment-356623238

[2018-01-25 13:15] triller-telekom commented on #4943
As far as I can see from

https://github.com/eclipse/smarthome/blob/8ba6df54cb73197c644a5c1d8a223802cab7ff3d/bundles/core/org.eclipse.smarthome.core.thing/src/main/java/org/eclipse/smarthome/core/thing/binding/BaseThingHandler.java#L596-L616

if one provides a map where a property is set to `null` then this method is called:

https://github.com/eclipse/smarthome/blob/8ba6df54cb73197c644a5c1d8a2238

[2018-01-25 13:15] htreu commented on #4980
`org.openhab.gcal-persistence` is the PID defined in the service xml, see https://github.com/openhab/openhab1-addons/blob/master/bundles/persistence/org.openhab.persistence.gcal/OSGI-INF/gcalpersistence.xml#L12

So `pid:org.openhab.gcal-persistence` is the correct entry.

[2018-01-25 13:25] sjka commented on #4881
Just for reference, in case anybody else ends up here: the `received update` trigger does exactly what you wanted - it will be called _after_ the item changed its state.

[2018-01-25 13:42] triller-telekom commented on #4505
@Schnupper ESH is hosting the code for the Philips Hue binding but not many users of solutions like for example openHAB are reading the issues here. So maybe you are better off posting your request in the [openHAB community forum](https://community.openhab.org). There might be some people which do have the hardware and knowledge to implement it.

[2018-01-25 14:01] cbfief commented on #4981
I was asked to open an issue by others who thought that a discussion of the actual vs expected behaviors was worth having.  My apologies for not searching existing issues thoroughly enough.

I understand that a received command does not imply that the state will be updated, but a sendCommand _does_ in fact update the state if it differs.  Given that, I don't believe that there is any scenario in w

[2018-01-25 14:29] sjka commented on #4983
Looks like the PersistenceExtensions always takes the "last persisted state" into account - which most likely will reflect the "current" state of the item. Clearly not what you would have expected from the method name...

To me this looks like a bug and the "most recent" entry should be discarded for that matter - @kaikreuzer please object if you remember differently.

[2018-01-25 14:50] kaikreuzer commented on #4983
I agree, looks like a bug.

[2018-01-25 14:51] cbfief commented on #4981
I was asked to open an issue by others who thought that a discussion of the actual vs expected behaviors was worth having.  My apologies for not searching existing issues thoroughly enough.

I understand that a received command does not imply that the state will be updated, but a sendCommand _does_ in fact update the state if it differs.  Given that, I don't believe that there is any scenario in w

[2018-01-25 15:12] mhilbush commented on #4980
Yes, that works.  Thank you for the help.

But how would someone know to do that. I realize it's being added to the documentation. However, it seems unlikely someone would know to look in the docs for that, as commenting something out in a config file to remove, or revert to default, is a well-accepted practice.  Should those cfg files be created containing the pid markers as that would seem to el

[2018-01-25 15:18] kaikreuzer commented on #4981
That's not correct. This only happens when the autoupdate is enabled for the item (which is the default), but it must not be the case. And also the auto-update should be considered to be an asynchronous operation (which might happen at some later moment in time).

[2018-01-25 15:45] Tech4Ever commented on #4831
I am getting the same error message

[Error - 16:43:06] Request textDocument/hover failed.
  Message: Internal error, please look at the server's logs.
  Code: -32603

[2018-01-25 16:40] htreu commented on #4980
You are configuring a persistence service. I don't think the component is deactivated during configuration update. The Configuration Admin will just try to pass the new configuration to the component's `modified` method.
I guess thats the problem here: The `GCalPersistenceService` does not define one. So its more of a missing feature than a bug ;-)

[2018-01-25 18:26] mhilbush commented on #4980
I can see (in the IDE) that deactivate/activate is running.  It runs every time I modify the cfg file.

[2018-01-25 19:12] mgeramb commented on #4923
@kaikreuzer : Hi Kai, I'am really sure now, that there is problem with the change check of channel, at least for String Items. In my binding I have a String channel which shows an text editor in the paperUI if you click in the field. Everytime, I my binding calls updateState with a new StringType instance, the editor closes, so it get a notification for a change. This happens regardless, if the St

[2018-01-25 19:16] kaikreuzer commented on #4923
I'd rather suspect that the Paper UI reacts not only on change events, but also on update events.
@htreu Can you confirm this? If so, should it be considered as a bug?

[2018-01-25 19:21] mgeramb commented on #4923
Which layer should do the compare if the state is changed? The user interface or the backend which holds the state? Because I'am sure, that the UI gets an update (the iOS App and the PaperUI). Is there an event which is passed trough the layers regardless if the value of the state have changed which you described as "update event"?

[2018-01-25 19:26] sjka commented on #4980
Yes, "deactivate -> activate" is indeed the correct behavior for services which don't have a "modified" method - and entirely valid.

OSGi however is not reusing any component instance, after "deactivate" it will discard the old instance and create a new one which then is going to be "activated". Therefore the behavior you described above in theory shouldn't occur. Nevertheless, if you still exper

[2018-01-25 19:26] #4980 closed

[2018-01-25 19:32] sjka commented on #4923
Yes:

* [ItemStateEvent](https://www.eclipse.org/smarthome/documentation/javadoc/org/eclipse/smarthome/core/items/events/ItemStateEvent.html) <- on every state update, regardless if it changed or not
* [ItemStateChangedEvent](https://www.eclipse.org/smarthome/documentation/javadoc/org/eclipse/smarthome/core/items/events/ItemStateChangedEvent.html) <- on every state _change_

The item itself does t

[2018-01-25 19:50] mhilbush commented on #4980
Thanks. That's what I needed to know.

Thanks for that!  Your comment made me look a bit closer. It's because `executeScript` and `offset` are declared static.
[code]

[2018-01-25 20:06] mgeramb commented on #4923
Thank's for the clarification!

[2018-01-25 21:08] rkoshak commented on #4881
I know this is closed and probably will not be addressed, but I agree with Josar.

For the average user who is not fully versed in the underlying architecture on how a command is processed, the natural assumption is when the Rule triggers on an `Item MyItem received command` or `Item MyItem received update`, if I call `MyItem.state` in the Rule I will get the state that caused the Rule to trigger.

[2018-01-26 00:32] torpex77 opened #4985 "Easy Groovy Rules"
_This issues covers the enhancement suggestion posted [here](https://community.openhab.org/t/easy-groovy-rules-long/34286) on the discussion forums.  Much of the content below is copied (with minor edits) from my initial post in that thread._

I want to make it easy to write rules in Groovy by creating a small set of base classes that add functionality found in the standard rules engine.

The base

[2018-01-26 07:28] htreu commented on #4923
Paper UI does indeed update the items state on the `smarthome/items/*/state` SSE topic, which is the `ItemStateEvent` SSE endpoint.
In the code history I could not find a hint on why this was done (its the main item update code base and part of Paper UI forever).
@kaikreuzer I would consider this a bug. I will create a new issue.

[2018-01-26 07:33] htreu opened #4988 "Paper UI: every item update refreshes UI item state"
From the discussion and analysis in #4923 we can see that Paper UI does update its item states on every `ItemStateEvent` which is emitted regardless of a state change. Instead the UI should update its own item representation only on `ItemStateChangedEvent`.

[2018-01-26 08:04] kaikreuzer opened #4989 "Sitemap should include group members for location widgets"
The location widget currently supports only a single location by taking a Location item name as its item parameter.
Technically, it is already possible to hand in a Group item name instead.
Using a Group might be a neat use case to show several locations on the same map - I'd therefore suggest that the sitemap should directly provide the group members (maybe filtered for only Location items?) in t

[2018-01-26 08:18] kaikreuzer commented on #4881
@rkoshak This is a pretty nasty misconception of the fundamental principles then that should indeed be better addressed in the documentation.

I actually [documented it in 2010 for openHAB1](https://github.com/openhab/openhab1-addons/wiki#the-event-bus) and also always mentioned the concepts of command vs. state events right in the beginning of any presentation/tutorial/etc. that I did.

[2018-01-26 09:12] triller-telekom commented on #4494
I just had a look on this issue. The idea behind the icon files with a state from 0 to 100 is that we cover `PercentType` states only. They are not meant for `DecimalType` states.

@michael-bartmann In your use case you are not interested that you lamp has value 255 but is on 100% brightness, right? So the mapping is actually the right thing to do. However I am wondering why you have 0-255 on your

[2018-01-26 10:11] thomasstrangert commented on #4494
@triller-telekom Problem with only supporting `PercentType` comes when using another type in a sitemap, for instance the `Number` type item that represents the present power consumption of a Fibaro Z-wave wallplug:
Item:
`Number  plugTest_Power "Test plug - power" channel="zwave:device:12345678:node3:sensor_power" }`
Sitemap:
`Text item=plugTest_Power label="Test plug [%.0f W]" icon="fibaroplug"`

[2018-01-26 10:12] maggu2810 commented on #4964
We don't use the firmware API currently in our products and there is no official ESH binding (or I missed it) that uses this feature (too bad). So it is more about the downstream projects that could get broken. I think we should give the product owner a few days if someone complains about that API break.

[2018-01-26 11:04] maniac103 opened #4992 "[hue] Ambilight TV doesn't restore light values set by OpenHAB"
I have an 'Ambilight+Hue' enabled TV which can use Hue lights as part of its Ambilight, controlling their color depending on the TV image contents. When turning off the TV, there's a difference in behavior of the lamp depending on the way I used for setting the color prior to turning on the TV:

- When I use the Hue app to control the color, the TV correctly restores that color when it's turned of

[2018-01-26 11:15] rodneyrehm opened #4993 "[ThingStatus] proposing OFFLINE.DISABLED"
As a user of the system I'd like to be able to (temporarily) disable certain Things to "debug" complex scenarios. Right now there's no way to prevent a certain Thing from triggering or reacting to rules.

* I want to "debug" my alarm system, but not entertain the entire neighborhood with the blaring of my sirens.
* I want to "debug" my alarm system, but certain sensors should be ignored because I'

[2018-01-26 11:20] kaikreuzer commented on #4993
What you are overlooking here is that OFFLINE status is realm of the handler - and a handler will never set it to disabled.
Don't you rather want the framework to not at all initialize the handler, just as if the binding would not be present? This would then rather be a `UNINITIALIZED.DISABLED` status.

[2018-01-26 11:27] rodneyrehm commented on #4993
I used `OFFLINE` to make my point but `UNINITIALIZED.DISABLED` makes more sense :) I didn't think of that because I assumed it wasn't possible for the framework to "de-initialize" a Thing - I mean the Thing may very well be `ONLINE` at the time I disable it.

[2018-01-26 11:30] kaikreuzer commented on #4993
The main question for me is: How do we tell the framework that we want a Thing to be disabled and where is it supposed to store this information?

[2018-01-26 14:32] afuechsel commented on #4993
We would need to introduce a method like `disable()` or similar in the `ThingHandler`.

[2018-01-26 15:02] kaikreuzer commented on #4993
That wouldn't help much if the handler is not at all initiated ;-)

We should align it what we have in the rule engine, where it is also possible to temporarily deactivate certain rules.

[2018-01-26 17:06] mhilbush commented on #4832
I'll take care of the squeezebox changes.

[2018-01-26 19:32] cweitkamp commented on #4521
@maggu2810 I'm not sure which configurations you mean exactly. What do you need: rr4dj.cfg, all related items and groups, the sitemap? Anything else?

Here is a link to the community thread where other people talk about these warnings too. https://community.openhab.org/t/io-error-with-png-files-after-update-to-oh2-2-i-o-error-writing-png-file/37724/14

You would make me happy if we can reopen this

[2018-01-26 19:48] cweitkamp commented on #4832
I'm working on the Kodi binding to introduce the new feature. :-D

[2018-01-26 20:10] rkoshak commented on #4881
Well, the English presentation requires creating an account with Element 14 to access. Something that not everyone will have (I used to but it is not letting me get into my account) so I can't comment on the presentation. I remember watching it a long long time ago but I don't remember getting this information from it. I'm not saying it isn't there, just that I don't remember or failed to recogniz

[2018-01-26 21:23] torpex77 commented on #4985
I should have added that my code is on the GroovyRuleHelperClasses branch of my fork.  All my classes can be found here:

https://github.com/torpex77/smarthome/tree/GroovyRuleHelperClasses/bundles/automation/org.eclipse.smarthome.automation.module.script.rulesupport/src/main/java/org/eclipse/smarthome/automation/module/script/rulesupport/shared/simple/helper

Doug

[2018-01-27 18:46] armintan commented on #4300
Is there any update? I just ran into the same issue.

!ENTRY org.apache.felix.scr 4 0 2018-01-27 19:26:10.349
!MESSAGE Circular reference detected trying to get service {org.eclipse.smarthome.config.core.ConfigDescriptionRegistry}={service.id=154, service.bundleid=120, service.scope=bundle, component.name=ConfigDescriptionRegistry, component.id=139}
 stack of references: ServiceReference: {org.ecl

[2018-01-27 19:07] cweitkamp commented on #4521
@maggu2810 I guess I've found a way how to reproduce these IIOExceptions.

My sitemap files look like this (it's only an abstract):
[code]
Navigate to the sitemap which contains the multiple charts, only one of them is visible. If you now change the visibility of one chart by clicking on the related `fritzChartPeriod` button the first chart gets hidden and the second chart will be shown. Switch in

[2018-01-27 19:35] cweitkamp commented on #4104
Just for the records: While testing #4963 I found another situation which should be handled in a different way:

https://github.com/eclipse/smarthome/blob/da57eda4edd9d41bbf41316f23e1b9b29687069b/bundles/core/org.eclipse.smarthome.core/src/main/java/org/eclipse/smarthome/core/library/types/DecimalType.java#L54-L56

The constructor [BigDecimal(String val)](https://docs.oracle.com/javase/8/docs/api/

[2018-01-27 20:11] rralf commented on #4936
So let's give it a try: https://twitter.com/r__ralf/status/957345063914364928
I wouldn't mind if others confirm this issue :-)

[2018-01-27 20:24] kaikreuzer commented on #4936
Wow, they were quick in answering!

[2018-01-28 09:01] Daronspence opened #4998 "[TRÅDFRI] New bulb support"
Hello, first time contributor here and new to openHAB, so apologies if the format is incorrect for your organization.

I got setup with a Tradfri starter kit and some extra bulbs and everything seems to be detected correctly in openHAB except for the smaller bulbs I bought. OpenHAB detects them fine after connecting the gateway, but the type is incorrect.

`TRADFRI bulb E12 WS opal 400lm `
is repo

[2018-01-28 11:19] maniac103 commented on #4992
Color restoring indeed works fine when applying this patch: https://github.com/maniac103/smarthome/commit/24ac104c385cd98624031d1189d383ed79d5c292 ... I'll submit a PR once #4959 is merged.

[2018-01-28 20:59] eiGelbGeek commented on #4936
I think I could narrow down the problem a bit. I have to buy the day only a lamp to test .... if the gateway is registered without lamps to Openhab ... no crashes are produced. If the RGB lamp is registered, then the gateway crashes again.

It seems to be the Crappy RGB firmware!

If the RGB lamp is registered to a HUE gateway, then I can use the API and curl to set colors, but after about 1 hour

[2018-01-28 21:36] rralf commented on #4936
A crappy firmware of a lamp must not lead to crashes of the gateway.

[2018-01-28 22:31] eiGelbGeek commented on #4936
But it seems so 😉

Perhaps there are too much Request from the Bulb.... that the Gateway crash.

[2018-01-28 22:45] rralf commented on #4936
Yes, no doubts. But then both firmwares are buggy.

[2018-01-29 00:26] rralf commented on #4839
Update: I think I was able to significantly narrow down the bug:

I tried to filter and drop those suspicious packets using iptables:
`iptables -I OUTPUT -p udp --destination-port 5353 --src 172.16.2.1 --dst 172.16.2.34 -j DROP`

No crash of the Tradfri gateway so far. Those packets are multicast DNS (Bonjour) packets and, apparently, crash the tradfri gateway.

To verify that, I used tcpreplay to

[2018-01-29 01:03] eiGelbGeek commented on #4839
Yes .... Networkbinding for Ping iOS Devices.... Bonjour WakeUp ...

The Tradfri Gateway need the Bonjour for Homekit i think..... bad Implementation in Firmware?