[2017-02-01 12:03] amarpulli544 opened #2947 "Configuration folder 'conf\services' does not exist"
Hello,

I am trying to access eclipse smart home. I successfully code complied in Eclipse Smart Home IDE without any errors. But unable to access paper ui. What I should  do to access paper ui . Here is my log file, in log file marked some files these files couldn't find in a project.

![upld](https://cloud.githubusercontent.com/assets/16384828/22505502/d8261574-e8a1-11e6-849e-b2fde4a433fd.png)

T

[2017-02-01 12:09] kaikreuzer commented on #2947
The message is not related to the Paper UI at all.
To develop the Paper UI in the IDE, please see https://www.eclipse.org/smarthome/documentation/development/notes.html#paperui-development-jshtml.
In general, please use the forum at https://www.eclipse.org/forums/index.php/f/271/ for support questions, thanks!

[2017-02-01 12:09] #2947 closed

[2017-02-01 13:49] amarpulli544 opened #2948 "Unable to load Rules in Paper UI in Eclipse Smart Home."
Hello,
I am trying to do load Rules option in Paper UI , project running through Eclipse Smart Home IDE. But when i am trying to access Paper UI ,it will not show Rule option, see below screen shot.

![papaer_ui](https://cloud.githubusercontent.com/assets/16384828/22509464/25aa9916-e8b4-11e6-9ac0-0fbe4ebaf972.png)

Here is my log file

[code]

how can i get Rules option in Paper UI, project runnin

[2017-02-01 14:16] kaikreuzer commented on #2948
Please use the forum, I have provided the link here: https://github.com/eclipse/smarthome/issues/2947#issuecomment-276642255
Thanks!

[2017-02-01 14:16] #2948 closed

[2017-02-01 14:53] aounhaider1 commented on #2911
@wborn Can you please check if https://github.com/eclipse/smarthome/pull/2949 fixes the issue for you?

[2017-02-01 15:30] ViToni opened #2950 "DayOfWeekConditionHandlerTest fails in non-English locales"
The SimpleDataFormatter uses the local Locale  thus generating "unknown" weekday names for non-English locales.

[2017-02-01 16:32] #2950 closed

[2017-02-01 17:50] maggu2810 commented on #2788
WRT to

` http://homenuc:8080/rest/items/Wohnzimmer_Fenster1_OpenClosed `

I added the `REST` and `bug` label

[2017-02-01 20:59] maggu2810 opened #2954 "Configuration model 'logging.persist' has errors"
Using the standard Eclipse SmartHome launch Runtime shows that warning:
[code]

Is the logging configuration `logging.persist` really corrupt?
Can you show me the error?

[2017-02-01 22:36] guyyakobovitch opened #2956 "[Basic UI] - Live Update doesn't work except on IE"
test.items:
[code]

test.sitemap:
[code]

test.rules:
[code]

The expected behavior of switch toggling is working only on IE (no SSE?). On Chrome & Firefox I have to refresh the page to see changes.
When I made dashboard with those items on HABPanel, it worked perfectly.

Tried it on two machines, two different installations, same behavior.

EDIT: Thing I found later is that it does work few minut

[2017-02-02 07:19] amarpulli544 opened #2957 "Eclipse Smart Home Run through Command Prompt."
hello,
I would like to know eclipse smart home run through command prompt. how to distribute eclipse smart home for windows, linux machines.
thanks
amar.

[2017-02-02 07:50] kaikreuzer commented on #2957
Please use the forum at https://www.eclipse.org/forums/index.php/f/271/ for support.

[2017-02-02 07:50] #2957 closed

[2017-02-02 09:38] #2911 closed

[2017-02-02 09:59] kaikreuzer commented on #2954
Well, use the Designer and you will see that it is indeed an error:

<img width="829" alt="screen shot 2017-02-02 at 10 57 00" src="https://cloud.githubusercontent.com/assets/3244965/22544759/6b0eda08-e936-11e6-8131-e06585c165c5.png">

There is a semicolon missing at the line end, this is the corrected version:

<img width="819" alt="screen shot 2017-02-02 at 10 58 02" src="https://cloud.githubuse

[2017-02-02 10:06] maggu2810 commented on #2954
I am fine with removing that file.
Using the Designer? I should do it :wink:

[2017-02-02 10:07] maggu2810 commented on #2954
If there is no file in that directory, it will not be part of the Git repo (no empty directories for Git).

[2017-02-02 10:14] kaikreuzer commented on #2954
We can also fix the file, so that we at least have an example of how they should look like.
Btw, maybe we should continue on https://github.com/eclipse/smarthome/pull/2081, so that we at least have ONE persistence service available in ESH for such things :-)

[2017-02-02 12:17] #2954 closed

[2017-02-02 12:21] maggu2810 commented on #2954
If we ever know how to handle an invalidated value e.g. if a binding knows that the current value is not correct anymore but does not know another one (https://github.com/eclipse/smarthome/pull/2081#issuecomment-260286090) I will update the PR.

[2017-02-02 12:41] regnets commented on #2601
So far i didn't experienced any issues with your test binding. However i just got 18 Actors and for the most part i am using basic functions (On/Off, Dimming).

I think the sensor api ins't implemented at this time?

[2017-02-02 13:10] mhilbush opened #2959 "Basic UI sends dimmer command twice"
When changing the slider on the sitemap, the Basic UI appears to be sending the dimmer command twice.  Here's a screen snip of the browser debug that was produced after moving the slider. You can see the two OfficeLamp_Dimmer calls.

![be02fef76bb4a01be236e3869926aec3853f8044_1_690x105](https://cloud.githubusercontent.com/assets/19286354/22550458/302809f4-e91e-11e6-87b9-db904e911347.JPG)

Here are

[2017-02-02 13:14] kaikreuzer commented on #2959
@resetnow Could you please have a look?

[2017-02-02 13:35] ddudnik commented on #2601
Hi @regnets

Thank you for providing the feedback! Sensor API is not there yet, it will be a part of #2603.

[2017-02-02 14:23] FusedHe3 commented on #2882
Thanks @resetnow! At least it's working now :D

[2017-02-02 14:23] #2882 closed

[2017-02-02 14:58] resetnow commented on #2959
One or more commands may be sent during slider changes (when user drags the slider knob) and another will be sent after the knob is released. It's “may be” because it depends on the browser and it's hard to get  the exact same behavior across different platforms. I assumed it's not a problem for slider items, is it?

[2017-02-02 15:07] mhilbush commented on #2959
The behavior is caused by a single click on the slider (versus dragging the slider).  The mouse press event didn't generate anything.  The mouse release event generated the 3 operations shown above in the browser debug window.

I see the behavior on Chrome and Firefox on both Windows and Mac platforms.

As for causing a problem, I would agree it's not causing a problem (other than in this case res

[2017-02-02 15:08] #2823 closed

[2017-02-02 15:14] danchom commented on #2921
There is visibility property to differentiate rules. The scope property duplicate purpose of the visibility.

[2017-02-02 15:27] danchom commented on #2921
Also you can use tags for this purpose.

[2017-02-02 15:54] kaikreuzer commented on #2717
I assume that you mean "for the channel-group", since for the channel-group-type, this is already possible.

Yes, I agree that this makes sense. As you mention, we have that situation in the Astro binding and also in https://github.com/openhab/openhab2-addons/issues/1252 we came across the same issue.

If you want to go for it, that would be great! In case you get stuck somewhere, let us know. I a

[2017-02-02 23:47] ThomDietrich opened #2962 "BasicUI: Switch, no differentiation between OFF and NULL"
A switch item can have three states, the obvious ON and OFF, and a third initialized NULL state. BasicUI currently doesn't differentiate between OFF and NULL. Here's an example, where the icon state is somewhat helpful (and wrong too at the same time):

![grafik](https://cloud.githubusercontent.com/assets/2870104/22573532/b6579ad6-e9a9-11e6-95f7-2e24f185ff53.png)

The states here are actually: NUL

[2017-02-02 23:48] ThomDietrich commented on #2784
I would also agree

[2017-02-03 03:59] #2893 closed

[2017-02-03 08:08] bodiroga opened #2963 "[Persistence REST API] Java heap space OutOfMemoryError when querying more than 200.000 datapoints"
Hi guys!

I have being testing openHAB2.0 in a Rasperry Pi 3 Model B for the last few days using the Z-Wave binding and things have worked really great, congratulations to the whole team!

I'm using [this](http://www.vesternet.com/z-wave-aeon-labs-smart-switch-6-gen5) device to register the voltage levels at home and, because the device sends the data very frecuently, in a week I have collected mo

[2017-02-03 09:06] BenediktNiehues opened #2964 "create a RunRuleAction"
In order to directly execute a set of actions defined in another rule there should be an action module which supports this. This would enable the rule engine to support a kind of scene support. Scenes could be defined in a rule with only a set of actions, theses scenes then can be "activated" by callling runNow() on the rule directly or by an action within anoter rule.
The RunRuleAction needs as p

[2017-02-03 09:13] kaikreuzer commented on #2964
Sounds useful to me. @danchom, any comments?
@smerschjohann How well would that fit to your work on the JSR233 rule support? Would it be easily possible to define trigger-/condition-less rules in e.g. Jython that are effectively merely a script to be executed as an action?

[2017-02-03 09:29] ViToni commented on #2921
Thae basic idea is, that eg. if there is some kind of alarm system, the setup for the system could create rules with the scope `Alarm`.
If the setup is run again it could check for the rules with scope `Alarm` and change or delete & recreate them if necessary.

All `Rules` created by the user could have the scope `User`.

Or if the user would want to uses some special remote UI, this remote Ui cou

[2017-02-03 10:47] danchom commented on #2964
1) A set of actions can be presented as one action throught the CompositeAction
2) if you wish one rule to start other rule, you can do it now with event action and event trigger
3) I think it is not right a rule action to execute actions of another rule. You just to workaround the entire rule engine.
If you want to reuse module instances (Trigger and Actions) between rules, this is other question

[2017-02-03 10:54] kaikreuzer commented on #2964
1. As a user, you can't.
2. How? There is nothing like a "TriggeredByAnActionTrigger".
3. This is not at all related to conditions here. It is about reusing "a readily-configured set of actions".

[2017-02-03 11:14] danchom commented on #2964
1) right, at the moment. In the feature I think we should have a composite editor for users.
2) one of actions executed by the rule can be EventAction (which throws event with topic=a). The other rule has to have a EventTrigger which is listening for events with topic=A
3) Right "This is not at all related to conditions here", but if we can do OR operation between conditions we can reuse "a readil

[2017-02-03 11:53] stefaanbolle opened #2966 "Startup rule "system started" fired multiple times"
I have defined a rule which should only run once when system is started on a RPI3 running OH2.0 stable. I notice that after each reboot or restart of OH2 this rules is fired multiple times.

Is this a possible bug with the System started trigger mechanism?
Below my rule (simplified)

The log gives:

[2017-02-03 13:34] lolodomo commented on #2717
Ok, I can try to update the DTD, update the XML loading and adjust the thing REST API.
To validate, my test case will consist in adding a label and a description in one of the astro channel grouop, and then check that they are returned when using the thing REST API.

Can you confirm that Paper UI uses the thing REST API to get label and description for the channel groups ? If it does, it should be

[2017-02-03 13:40] kaikreuzer commented on #2717
I do not know. But in any case, @aounhaider1 can probably quickly adapt the Paper UI to get the information from the right place, once it is there.

[2017-02-03 16:24] kgoderis commented on #2945
@kaikreuzer My wrong usage of wording in  openhab/openhab2-addons#1813. That PR provides a work-around, but the root cause is still prevailing, maybe we need this issue open for the time being while @sjka is working on a fix

[2017-02-03 16:32] kaikreuzer commented on #2945
That was Githubs auto-closing feature, not me ;-) Reopening again.

[2017-02-03 20:21] smerschjohann commented on #2964
@kaikreuzer that would be possible. That would just mean that no (other) triggers have to be added to the rule.

But I think @danchom's solution to simply use topics is more generic and more useful. If there are tags for the rules, it would be cool to simply use those to trigger them as it allows to group the rules.

[2017-02-03 21:24] lolodomo commented on #2717
@kaikreuzer : I need help. I've done the changes but unfortunately when I try to start OH to test them from Eclipse IDE, I got this stupid error: "Variable references non-existent resource : ${project_loc:distro-resources}". Where is defined this variable ?
In VM arguments, I can see that this variable is used: "-Dopenhab.conf=${project_loc:distro-resources}/src/main/resources"
In "Infrastructure"

[2017-02-03 22:16] lolodomo commented on #2717
Bingo, it is working without changing anything in Paper UI. Cool.

[2017-02-04 08:28] danchom commented on #2921
@ViToni  thanks for explanation.

This is not possible for rules created by our importers. We have two types of rules:
- editable - these are rules added through the RuleRegistry interface and stored in ManagedRuleProvider. Our importers (BundleResourceImiporter and FileResoureImporter) uses RuleRegistry and imports Rules instead of provides them.  The main reason is to prevent loosing user change

[2017-02-04 08:50] maggu2810 commented on #2962
The Framework itself allows four possible states (as it allows the OnOffType and the UndefType):
* OnOffType.ON
* OnOffType.OFF
* UndefType.NULL
* UndefType.UNDEF

IIRC at the moment no one set UNDEF in the core framework, but it is possible by the framework.
NULL is set as long as no other state has been set (startup, item refresh without anyone handling the refresh command, ...).
IMHO the UI sho

[2017-02-04 08:55] resetnow commented on #2962
I can't think of a way to implement that in a non-confusing way. Graying it out will make it look disabled. Moving the knob to the middle requires modifications in the MDL library. I understand equating OFF and NULL is not technically correct, but adding a third state to a control that historically only had two states is just going to raise more questions from users.

[2017-02-04 09:02] maggu2810 commented on #2945
That is rather strange for me. Why can a PR in the openHAB addons repo auto close an issue in the ESH repo?

[2017-02-04 09:05] maggu2810 commented on #2962
I agree it could be confusing and don't know what is a good solution for the UI to render that.
But this don't apply to the switch state only but for every item type (as every one allows the usage of the undef type and is set to null on startup).

[2017-02-04 09:08] kaikreuzer commented on #2945
That's how it works - maybe only because I have the right to close issues on both repos. I don't know if it would also do it if someone else does the merge.

[2017-02-04 09:14] kaikreuzer commented on #2962
I don't think we should do any changes here - having a greyed out icon imho is good enough to signal to the user that the current state is not yet known. This should anyhow only be the case at system startup thus not be a "normal" situation. And as @maggu2810 says, this would need to be done in all other UIs that exist, which might be pretty difficult. Having the off-state for the knob and a grey

[2017-02-04 09:21] maggu2810 commented on #2962
My reading of @resetnow comment

has been that it is not greyed out ATM.

I cannot have a look at the UI now, so: It is greyed out at the current master or it is shown identical to off?

[2017-02-04 09:26] resetnow commented on #2962
I was referring to graying out the switch itself — as if it was 50% transparent and more drak-gray.

[2017-02-04 09:36] kaikreuzer commented on #2962
As @resetnow says: Wrt "greyed" out, I was referring to already have the icon greyed out, so I would not do anything to the switch itself. And the grey icons are managed through the icon set / icon servlet, so this is the same feature on all UIs automatically. If there are icons where a grey version is missing, we should add that.

[2017-02-04 10:26] MHerbst opened #2972 "[ENH] Regular Expression in configuration parameter definitions"
In the configuration parameter definition there are several pre-defined types (text, integer). There is also the option to enter a context (like network, email, ...). But currently only the type is used to check whether a value is correct or not.

I am missing an option to specify a regular expression to validate an input before it is sent to the add-on. This could be used to validate whether a va

[2017-02-04 10:39] guyyakobovitch commented on #2956
Should I post this issue to another repository?

[2017-02-04 11:02] maggu2810 commented on #2956
I think the repository is correct.
@resetnow Can you have a look at / do you know about that?

[2017-02-04 12:06] resetnow commented on #2956
Live updates may not work after the sitemap is edited — you will need to restart openHAB. If the package you are using is the one released on January 23, it should work — I'm using a git version from about the same time and it works for me.

Also, can you open a developer console in your browser (F12) and check if there are any errors?

[2017-02-04 14:05] ThomDietrich commented on #2962
@kaikreuzer as you can see in my examples, the "battery" icon is one example where there is no differentiation between the OFF and the UNDEF/NULL icon. The "siren" icon is even colorful in the NULL state. I don't think we should rely on the icons alone. Even if you designed another battery and siren icon, there will be others, including user-defined icons.

We can't know that. If and how an item i

[2017-02-04 14:12] watou commented on #2962
I don't see a way to have a switch widget represent more than two states in an acceptable way.  Could the visual feedback need be met instead by `switch-undef` and `switch-null` icons?

[2017-02-04 14:15] kaikreuzer commented on #2962
The "no state" icon name is automatically the one used for undef/null.
I.e. a switch.png should be grey, switch_on.png green, switch_off.png red (or something like that). And this is how it is already done for most icons (where it makes sense).

[2017-02-04 14:30] watou commented on #2962
To address the original question of battery icons not reflecting NULL or UNDEF state, the default battery icon should indicate the undetermined battery level, maybe with a question mark overlaying the battery icon.  The same suggestion applies to any other default icons that might give a misleading default state that suggests known state.

[2017-02-04 14:38] ThomDietrich commented on #2962
@watou The original question was not related to the battery icon. I merely chose it as an example. Please read my answer above, where I already tried to make a point...

[2017-02-04 14:43] watou commented on #2962
Yes, it needs to tell a clear story: ON or OFF.  It is even incorrect to grey it out in any case except when it would be disabled for the user, which is not applicable here.  The icon would be the only other place to explain the state besides the textual label (which would be screen readable).  For icons where there ought to be a distinction between UnDefType vs. other states, those icons should b

[2017-02-04 15:38] guyyakobovitch commented on #2956
Normal behavior seems to be when openhab is restarted.
But about an hour (+-) later it happens again (I did change the sitemap during that time).
Developer console in chrome (F12) is clean.
The problem happens simultaneously on all BASIC UI clients, on chrome on my android, and on the PC.
Commands and updates are sent when Switch/Setpoint are clicked, but no update is showing (only on page refresh

[2017-02-04 15:52] resetnow commented on #2956
Well, to test it properly, try not editing a sitemap during an extended period of time. It's still a problem, I'm just trying to figure out whether it's a new or an existing one.

[2017-02-04 17:38] arstorey commented on #2715
In my case I have a binding I'm working on which is providing remaining battery capacity in the range of 0.0-100.0.  PercentType seemed a natural fit to use given its description in the Javadoc.  However you decide to convert it, the conversion logic should round-trip between the data types.  Currently NumberType as PercentType, and PercentType as NumberType use different and incompatible conversi

[2017-02-04 22:27] guyyakobovitch commented on #2956
There is no problem(!) if not touching config files after openhab2 service loads.

[2017-02-05 08:45] danchom commented on #2964
It is possible to extend runNow(String ruleUID) command to  a command with optional parameter action tags i.e. runNow(String ruleUID, String... actionTags). When tags are not specified, the rule engine will try to run all rule actions (as it works at the moment). in case when tags are selected, the runNow command will only execute the actions which contains all specified tags.

[2017-02-05 13:42] yphyph01 commented on #1901
Hi @lolodomo , @kgoderis , @kaikreuzer
Any update on that subscription issue?
I'm still facing the same error with Sonos ConnactAmp Devices:

`2017-02-05 13:15:07.676 [ERROR] [g.jupnp.protocol.sync.ReceivingEvent] - Invalid subscription ID, no active subscription: (IncomingEventRequestMessage) NOTIFY /upnpcallback/dev/RINCON_B8E937AA001201400/svc/upnp-org/ZoneGroupTopology/event/cb SEQUENCE: 0`

R

[2017-02-05 17:26] lolodomo commented on #1901
You have just to ignore this error produced by the jupnp library. The binding is working well even if you get these errors at startup.

[2017-02-05 17:51] yphyph01 commented on #1901
Thanks for this quick reply.
So, I guess the issues I've got are not link to this one.
If you could see this problem : https://community.openhab.org/t/sonos-playsound-issue-no-sound-and-noerror/20350
Any help / advice would be welcome ;-)

[2017-02-05 18:59] pfink commented on #2226
Some ideas regarding profiles:

- Taking a look to the key-value pairs of the binding config part within the item configuration files, in OH2, the key lost it's semantic purpose. In OH1, the key determined which binding to use (e.g. `knx="..."`), in OH2 it's just always `channel="..."`. Therefore, we gained some 'syntactical capacity' here, why not reuse it for profiles?
- `channel` could be the d

[2017-02-05 19:13] yphyph01 commented on #1901
@lolodomo

Sorry for the question, but I'd like to know if it's normal to have this infinite loop in the Sonos Binding Debug Trace:

[code]

and this is only an extract of 50 milliseconds ;-)

[2017-02-05 19:22] lolodomo commented on #1901
Excuse me but why pushing that in that issue ?
Discuss first on the forum to identify what you are doing wrong and if an issue is identified, open a new issue describing your issue.

[2017-02-05 19:53] yphyph01 commented on #1901
You're right. My mistake. Sorry
I'll push it on thé forum
Regards

[2017-02-05 23:56] pfink opened #2975 "BaseThingHandler does cancel scheduled tasks on dispose()"
I think BaseThingHandler should keep track of the scheduled tasks and cancel them within the default implementation of the dispose() method. I can imagine that many binding developers won't care about the tasks they started on disposal, so maybe it would be better / more clean to implement this as a default disposal action?

Possible solution:
- Use ListeningExecutorService by Guava
- Decorate Lis

[2017-02-06 00:59] ThomDietrich commented on #2962
Let's try to summarize while this ticket is still warm.

* Items can be in the range of their respective states, or uninitialized (UndefType)
* If and how an item is getting initialized is only dependent on the user setup
* Sitemap elements are currently not clearly indicating an uninitialized state of an item (this applies for all element/item types)
* The visual icon is not strictly representing

[2017-02-06 05:50] resetnow commented on #2962
I'd like to note that my idea was an example of  <i>bad</i> and confusing implementation.

Another solution would be adding an "undefined" icon to each icon type. Overlaying a question mark should work too, may not look as good in some cases though.

[2017-02-06 09:04] adimova opened #2976 "Rule and Module Configurations are not copied"
When create RuntimeRule, Rule and Module Configurations are not copied and could be changed from primary created rule

[2017-02-06 09:14] adimova opened #2977 "Some bugs in Providers"
1. ConcurrentModificationException is thrown in AutomationResourceBundlesEventQueue
2. AbstractFileProvider notifies Listeners for update and add, instead only for update
3. ResourceBundleProvider components are not fully initialized when the service is registered

[2017-02-06 11:08] lolodomo commented on #1653
Please close this issue.

[2017-02-06 11:20] lolodomo commented on #2333
It is something to be checked but my feeling when looking at the code is that it is correctly handled by the Sonos audio sink.

[2017-02-06 11:21] #1653 closed

[2017-02-06 12:34] ThomDietrich commented on #2962
The icon is from a functional standpoint not the right place for this information.
Adding opacity and a tooltip looks great to me, check the screenshot above to see it in action. The combination is quite intuitive.

[2017-02-06 13:01] kaikreuzer commented on #2964
I don't want to overrule anyone, I like the discourse :-)
I am wondering a bit though that you do not think it is useful, since you have "scenes" in HAM and this construct would allow something fairly similar.

Regarding 1-3:
1. The result would be a new action type, but not a new action, so that is no solution.
2. As a user, you cannot "throw event with topic A". You would have to use some existi

[2017-02-06 13:52] aounhaider1 commented on #2903
This should be fixed by https://github.com/eclipse/smarthome/pull/2949

[2017-02-06 13:54] pathec commented on #2903
Thank you for your message. I test it as soon as the change is in the build.

[2017-02-06 13:59] aounhaider1 commented on #2883
Fixed.

[2017-02-06 14:00] aounhaider1 commented on #2820
Fixed.

[2017-02-06 14:38] danchom commented on #2964
HAM has different architecture. In the HAM condition and actions are standalone objects which can be connected and shared by rules. In the Automation architecture there no standalone modules. All the modules are part of the rule and only the rule can interact with them. To have scene functionality in Automation we permitted each rule to execute a list of actions and this is actually a scene execut

[2017-02-06 14:41] maggu2810 commented on #2226
@kaikreuzer Just to ensure I understand your thoughts about profiles correctly.
Let's assume we have rockers that emit four events:
* up_pressed
* up_released
* down_pressed
* down_released

Then profiles could be used to transform that events to commands.
For example:
* profile_rollershutter_1: drive as long as button is pressed
  * up_pressed => UP
  * down_pressed => DOWN
  * up_released => STO

[2017-02-06 20:17] Marty56 commented on #2333
I can confirm that the above "synchronous" operation is not working.
I had to insert message specific Thread::sleeps again.

[2017-02-06 21:19] ThomDietrich commented on #2190
@sjka I can confirm that the problems are not entirely solved yet.
The good news: Item resolution is working again and valid rules are without shown errors once again.

In the following screenshots you can see the "greyed out error markers" @kaikreuzer was mentioning before. Any chance you could have yet another look? Thanks ;)

![grafik](https://cloud.githubusercontent.com/assets/2870104/22666683

[2017-02-07 09:47] ViToni commented on #2921
Maybe my wording was misleading. By setup I mean some remote UI (eg. a phone app) being called again to setup the rules for its (the app's) use case.

The scope is _NOT_ used to change the visibility of a rule. It is the value of the scope Property itself which might or might not be shown to the user (maybe showing it at least in the PaperUI but making it readonly would be a good start, because it

[2017-02-07 09:54] adimova opened #2982 "Rules without triggers and actions can be created using REST"
Perform POST REST call using rule without triggers or actions (null or empty) - rule is added in RuleRegistry but should not be. The expected behavior is error message: code = 400, message = "Creation of the rule is refused. Missing required parameter."

[2017-02-07 10:23] #2883 closed

[2017-02-07 10:24] #2820 closed

[2017-02-07 10:49] BenediktNiehues commented on #2964
Just to note: At the moment such kind of Scene support is already available with runNow and imho it is really straight forward for users. The user just has do define a rule with a set of actions as a scene. To activate the scene the rest endpoint POST /{ruleUID}/runnow can be used. So what currently is just missing is an activation for such scene rules from another rule. And the behavior of runNow

[2017-02-07 13:05] kaikreuzer commented on #2921
@danchom I also do not see how Visibility could help here. But I remember that we once discussed that the rule "uid" is supposed to be a "real" uid, i.e. it should be built from several segments, one being a kind of namespace prefix, right?

@ViToni Would such a prefix address your requirements? We could have "system", "user", "appXYZ" prefixes and this would at the same time make sure that the UI

[2017-02-07 14:49] danchom commented on #2964
For me this is not scene support, it is  a bug exploit in the rule engine which permits to add a rule without triggers. In the past, this was forbidden (I don't know when the bug appears again). For me this is not a rule (without trigger it will never be triggered by the rule engine), it is some kind of dangling object containing group of actions.  I don't understand why do you need the rule engin

[2017-02-07 15:07] danchom commented on #2964
On the other hand you are right, there is no cycling dependency. But I want to mention this support runNow + group of action will work only for self-dependent actions (actions which can be executed by runNow ) - part of actions. This means for other actions, which have inputs and depends from data of other modules you will not have scene support. And how can you explain to the user this can be add

[2017-02-07 15:25] danchom commented on #2964
@kaikreuzer no I don't think we should add a new concept and rewrite half of functionality. For me it will be clean approach with dedicated trigger/action. The advantages are:
- clean action execution logic - It will be clear why some actions are executed. It will not be possible a rule from one application to execute actions of other application (for me this is security hole)
- all the action can

[2017-02-07 17:16] BenediktNiehues commented on #2964
@danchom wasn't there already a validation for rules which checks if input/outputs fit together? This would/schould then notice if a mandatory input of an action is missing because of a missing output of another module. And if this is in place I see no problem to have rules without triggers.

An additional point is the handling of the stopOnFirstFail parameter in the executeActions method: I would

[2017-02-08 08:08] danchom commented on #2964
Yes you are right, If they not fit the rule will not be in IDLE state and the runNow command can be used.  My point was how to add actions with required inputs into scene. How to explain, why only part of actions can be group into scene and why if I add a non self-dependent action the entire rule goes into UNINITILIZED state. For me all the actions can have opportunity to be group into scene and t

[2017-02-08 14:24] danchom commented on #2982
This Issue is related to #2964 discussion

[2017-02-08 14:32] adimova opened #2984 "ClassCastException in Automation REST"
java.lang.ClassCastException: org.eclipse.smarthome.automation.type.ActionType cannot be cast to org.eclipse.smarthome.automation.type.TriggerType
at org.eclipse.smarthome.automation.dto.TriggerTypeDTOMapper.map(TriggerTypeDTOMapper.java:36)
at org.eclipse.smarthome.automation.rest.internal.ModuleTypeResource.getAll(ModuleTypeResource.java:82)

[2017-02-08 14:37] adimova commented on #2984
Possible solutions are:
1. Changing the code in ModuleTypeResource.getAll:
@GET
    @Produces(MediaType.APPLICATION_JSON)
    @ApiOperation(value = "Get all available module types.", response = ModuleTypeDTO.class, responseContainer = "List")
    @ApiResponses(value = { @ApiResponse(code = 200, message = "OK") })
    public Response getAll(
            @HeaderParam("Accept-Language") @ApiParam(val

[2017-02-08 15:08] danchom commented on #2984
For the first solution you can use method moduleTypeRegistry.getByTags(..) to retrieve all the modules and after that to filter them by specific type i.e. instanceOf Trigger, instanceOf Action and etc.  In that way we will be sure that the tag filtering is same as it is done in the moduleTypeRegistry (it will be done on one place).
But I'm for the second solution, it is not API breaking change and

[2017-02-08 16:00] lolodomo commented on #2717
Closed by PR #2970

[2017-02-08 16:00] #2717 closed

[2017-02-08 21:07] maggu2810 commented on #2592
FYI: Karaf 4.1.0 is out

[2017-02-08 23:33] cdjackson opened #2986 "Handlers taking more than 5000ms to run"
There are a growing number of problems showing up on the OH2 forum about handlers taking more than 5000ms - see -:

https://community.openhab.org/t/handler-takes-more-than-5000ms-for-processing-event/22158/15

This seems to affect a wide range of bindings so I would guess it could be framework related.

[2017-02-09 10:34] afuechsel opened #2990 "DiscoveryServiceRegistryImpl#thingRemoved will not remove the cachedElement"
Findbugs showed this bug: org.eclipse.smarthome.core.thing.ThingUID is incompatible with expected argument type org.eclipse.smarthome.config.discovery.DiscoveryResult in org.eclipse.smarthome.config.discovery.internal.DiscoveryServiceRegistryImpl.thingRemoved(DiscoveryService, ThingUID)

This is true, as it is a `MultiMap<DiscoveryService, DiscoveryResult>`, which would not contain a key value pai

[2017-02-09 11:50] #2923 closed

[2017-02-09 12:53] kaikreuzer commented on #2972
Looks like a duplicate of https://github.com/eclipse/smarthome/issues/2556.

[2017-02-09 12:53] #2972 closed

[2017-02-09 13:56] guyyakobovitch commented on #2956
I tested it for the last few days, and it is working without problems (as long as I don't touch the config files)

[2017-02-09 18:11] smerschjohann commented on #2964
I don't really understand your point here. Typically someone will provide an action handler which can be harmful in some way, ok, but I don't see anywhere in the rule engine or handler registry where someone can restrict a module handler to be only instantiated by a rule template? Otherwise it is always possible to create a rule which damages the system? So where is the point here?

Typically you

[2017-02-10 07:35] #2986 closed

[2017-02-10 08:05] danchom commented on #2964
Yes you are right it always can be  possible to add third party module which harm the system but my point was that this must not be core once which have to be used as examples. For me this will be confused for users and they will wonder how to run actions through the triggers or through the runNow.

This is only one use case. Typically there is one rule engine on one OSGi platform where runs more

[2017-02-10 08:10] rtvb commented on #1614
Re: https://github.com/eclipse/smarthome/issues/1614#issuecomment-229085863

OH1 had the option to use a `<none>` icon in a `.items` file. Why not default to this icon for Text and Number type items?

Or instead of <none> provide <default> as an alternative?

Personally, I actually like every item having an icon. So instead of using 'none' I should opt for a 'number' icon. Being visually distingui

[2017-02-10 08:13] metbril opened #2994 "Broken image in basic ui for number items without explicit icon"
Any Number type item without an explicitly defined icon (in a text based .items file) will show a broken image in basic UI.

Until a final choice has been made what to do with these icons i will create a PR to create a number icon that is an alias for the text icon.

[2017-02-10 08:18] kaikreuzer commented on #2994
Sounds like a duplicate of what https://github.com/eclipse/smarthome/pull/2799 wants to address.

[2017-02-10 08:41] rtvb commented on #2994
Re https://github.com/eclipse/smarthome/issues/2994#issuecomment-278884070

Not exactly. This is just a quick fix to remove an annoying issue.

[2017-02-10 08:51] rtvb commented on #2994
The Switch related issue #1614 also has some discussion about the use of the text (and number) icon.

[2017-02-10 11:28] Leonid1973 commented on #2813
I tested SmartHomeDesigner 0.9 (actual Version from today) with macOS 10.12.3
Start fails with error: java.lang.RuntimeException: Application "org.eclipse.smarthome.designer.ui.application" could not be found in the registry.
I don't know what to do. Can somebody help?

log-File is attached...

[1486725753210.txt](https://github.com/eclipse/smarthome/files/766510/1486725753210.txt)

[2017-02-10 12:58] lolodomo commented on #1617
@kaikreuzer : this issue can now be closed because all requested enhancements have been implemented in the binding.

[2017-02-10 13:15] #1617 closed

[2017-02-10 13:56] #2922 closed

[2017-02-10 13:57] #2920 closed

[2017-02-11 00:44] rgerrans opened #2998 "Sonos populating opml configuration"
I've had the issue a couple of times now where the Sonos binding is populating the OPML configuration field with a url and then generating the following error.  I've deleted the OPML configuration parameter a few days ago.  Uninstalled the binding, deleted the .cfg file and reinstalled and it was fine.  Just uploaded to the latest snapshot and it populated it again.

[code]

[2017-02-11 07:33] danchom commented on #2964
I've another proposal. We can extend RuleEngine to fire (always or configured by the rule) an OSGi event for status of action execution. The status can be:
- SUCCESS in case  when the actions are run without problem (to run I mean that they are started without exception, not that they finish their job successfully, because we don't have a callback from a real job)
- FAILED - with status details of

[2017-02-11 07:58] #2976 closed

[2017-02-11 07:59] danchom commented on #2976
Fixed with #2978

[2017-02-11 07:59] danchom commented on #2977
Fixed with #2978

[2017-02-11 07:59] #2977 closed

[2017-02-11 11:53] Rossko57 commented on #2830
This looks like a manifestation of this reported problem -
https://community.openhab.org/t/modbus-log-erro-item-that-doesn-t-exists-anymore/22661/2
there are quite a few similar reports of "ghost items"

Reproduceable by (1) declare a 'faulty' item in 1.x binding (2) Edit out said item
I cannot do that myself, not an OH2 user.
I guess it does not fill the ESH requirement as it is 1.x binding invol

[2017-02-12 08:47] lolodomo opened #2999 "isLinked exception when a channel is unknown by the thing"
isLinked(channel) throws an exception when the channel in argument does not exist for the thing.
When a binding is enhanced with a new channel and a user updates to this new binding version, a use of isLinked for the new channel will lead to an exception until the user removes his thing and create another one.

I am asking myself if the exception should not be catched by isLinked and if the channe

[2017-02-12 08:49] lolodomo commented on #2999
Here is an example of the problem : https://community.openhab.org/t/solved-sonos-binding-problems/22599

[2017-02-12 08:57] J-N-K commented on #2999
IMHO the last option would be best. The OH2 Astro binding had the Same problem. As long as only one or two things need to be updated, manually doing so is ok, but imagine a OneWire binding where you need to configure each sensor again.

[2017-02-12 09:26] lolodomo opened #3000 "Paper UI not showing updated thing settings without a browser cache refresh"
Using Paper UI, I update a thing configuration and validate. My thing is updated (dispose and then initialize).
Then if I reopen my thing configuration in Paper UI, I see the previous settings. Using Ctrl+F5 in Firefox then show me the current and correct settings.

[2017-02-12 09:29] lolodomo commented on #3000
Using snapshot 786.

[2017-02-12 10:39] kaikreuzer commented on #3000
Congratulations on issue 3000 :-)

@aounhaider1 Could you check this issue, please?

[2017-02-12 16:37] maggu2810 commented on #2999
IIRC there is already an issue (or an comment in an issue) that will bring that function into account.
Will try to find them...

[2017-02-12 16:38] maggu2810 commented on #2999
#2555

[2017-02-13 05:31] rtvb commented on #2714
The formatted uses the Java locale. Unless specified that is the OS locale. To overwrite this, 2 command line parameters can be set.

http://www.oracle.com/technetwork/articles/javase/locale-140624.html?ssSourceSiteId=ocomen#using

https://community.openhab.org/t/locale-specific-datetime-formatting/22656/4?u=rtvb

[2017-02-13 11:38] kaikreuzer commented on #2994
Ok, checking [the code](https://github.com/eclipse/smarthome/blob/bcf246de9082bbac43ae07a0b641d443feb307f2/bundles/ui/org.eclipse.smarthome.ui/src/main/java/org/eclipse/smarthome/ui/internal/items/ItemUIRegistryImpl.java#L116), the assumption is indeed that we have an icon available for every item type - so there should be one for number.

What default icon would make sense here? I do not really l

[2017-02-13 13:54] kaikreuzer commented on #2998
@kgoderis Looks as if the `%id` placeholder has not been correctly replaced. Looking at the code, I cannot immediately see any reason why that could happen. Do you have any idea?

[2017-02-13 18:13] #2692 closed

[2017-02-13 18:13] MHerbst commented on #2714
It is possible to solve it this way, but in my opinion this is only a bypass. It is possible to define the locale in Paper UI but this locale settings is ignored when formatting decimals and dates. And this is the problem.

[2017-02-13 22:20] kgoderis opened #3003 "Extend org.eclipse.smarthome.model.script.actions.Audio with a mechanism to group and ungroup sinks"
The Sonos system has a mechanism to group and ungroup players, and act upon them simultaneously. Grouping and ungrouping players can be done from the DSL using Items that are linked to specific channels for this purpose (e.g. "add" and "remove"). However, the time for players to process the commands to group/ungroup is widely variable and not consistent. The alternative approach, which consist in

[2017-02-13 22:50] rgabo74 opened #3004 "SSE event - trouble with empty separator line"
I am using the Rest API from OpenHab2.0. I have troubles with all kinds of sse clients. I finally realized that clients looking for an empty line closing the event. SSE server in eclipse smarthome seem to be sending the empty line before the event, not after, which does not seem to be along with the specs.

![image](https://cloud.githubusercontent.com/assets/11273702/22906605/94c7dab2-f245-11e6-83

[2017-02-14 06:07] rtvb commented on #2714
@MHerbst You are absolutely right. openHAB should respect the locale setting. But it would be impossible to develop a custom made locale handler for low level functions. That implies that setting the locale in openHAB should set the Java locale.

A possible solution would be, to require a restart after the user has changed country and/or language. openHAB should then automatically add both paramet

[2017-02-14 10:26] ThomDietrich opened #3006 "Basic UI: Available Sitemaps prompt"
From time to time you can see newcomers struggling with the basic UI and the sitemap shown there. Two pieces of knowledge are missing in this case. 1) the sitemap shown by default is "_default", the sitemap automatically generated from things, and 2) another sitemap (user-created) needs to be explicitly set (can not be selected) under Settings or browsed directly by modifying the URL.

Reasons for

[2017-02-14 12:01] MHerbst commented on #3006
Good idea.

[2017-02-14 12:08] kaikreuzer commented on #3006
Actually, the _default sitemap is created by openhab.core, the default configuration is defined there as well and the Basic UI as it is part of ESH must not reference any openHAB documentation. So I'd suggest to move this issue over to https://github.com/openhab/openhab-core.

[2017-02-14 12:08] #3006 closed

[2017-02-14 12:18] ThomDietrich commented on #3006
Thanks. https://github.com/openhab/openhab-core/issues/118
Even after all these months, each issue creation is a round of russian roulette :smile:

[2017-02-14 13:39] maggu2810 commented on #3003
How do you plan to sync different sinks without knowing how the sinks handle the stream itself?
Isn't there a requirement that you need to know a lot of details of the sinks itself (different cache strategies, delay caused by internal stream processing etc.)?

[2017-02-14 13:53] maggu2810 commented on #3004
I looked at the code and it seems we are using the upstream jersey implementation.

I also tested it myself using the command line tool `curl`

[code]

I generate an event and this has been written
[code]

So, no newline at the beginning but a new line at the end.
After some time I generate another event

[code]

again, a new line at the end after the event generation and no-one in front of the ev

[2017-02-14 13:55] maggu2810 commented on #2714
Eclipse SmartHome has its own locale provider (available as an OSGi service).
So you can set the and get the locale that should be used by the Eclipse SmartHome ecosystem without changing the user locale settings and there is also no need to change the locale of the whole JVM.

[2017-02-14 13:58] maggu2810 commented on #2714
* https://github.com/eclipse/smarthome/blob/bf5539767b8e92aee9ebfd3d2a703952a1a43ede/bundles/core/org.eclipse.smarthome.core/OSGI-INF/localeprovider.xml
* https://github.com/eclipse/smarthome/blob/bf5539767b8e92aee9ebfd3d2a703952a1a43ede/bundles/core/org.eclipse.smarthome.core/src/main/java/org/eclipse/smarthome/core/i18n/LocaleProvider.java
* https://github.com/eclipse/smarthome/blob/bf5539767b8e

[2017-02-14 15:04] maggu2810 opened #3008 "Scripts share global namespace"
Do scripts (of different rules) share their global namespace by intention?

I created two rules.
Every rule contains an action that executes a JavaScript script.

This is the script of the first rule's action:

[code]

If the script (the first one) is executed it looks like:

[code]

This is the script of the second rule's action:

[code]

If the script (the second one) is executed it looks like:

[2017-02-14 15:06] kaikreuzer commented on #2984
I would have expected that
[code]
only returns instances of T, so that there would't be any issue in the first place. Is that not working because of Java's type erasure? If so, I also think that this method is rather useless and option 2 sounds like a good option.

[2017-02-14 15:11] #2903 closed

[2017-02-14 15:19] kgoderis commented on #3003
@maggu2810 In fact, as you point out, you can't. The only thing you can do is make sure you "stream" to them at the same time. How they finally handle it is up to the implementation. In this respect, perfect audio syncing might not be achieved. But, as it stands right now, even within a single binding like Sonos stuff is not played very well in sync (it kinda works with a low number of players, bu

[2017-02-14 15:47] maggu2810 commented on #2984
Yes.

If getByTags should return only instances of class `T` it needs an attribute `Class<T> clazz` and implement an instance check.

[2017-02-14 15:59] rockster2410 opened #3009 "Basic UI: Colorpicker ON/OFF problem"
Hi,
there is an issue with the colorpicker in the BasicUI.
The colorpicker is working perfectly but not the two buttons next to it (left and right to turn on and off).

The problem is discussed here:
https://community.openhab.org/t/openhab2-problem-with-colorpicker-in-basic-ui/19421

Does anyone know a solution?

Thanks!

[2017-02-14 16:00] kaikreuzer commented on #3009
@resetnow Could you please check?

[2017-02-14 16:15] maggu2810 opened #3010 "PaperUI: thing-type should be fetched only once"
Some time the PaperUI has been changed to fetch a thing type only if there is a thing that use it (on the control page).
This has been done because a binding can provide a big number of thing types and perhaps most of them are not used at all (IIRC it has been 1.7 MB using the Z-Wave binding at the time of reporting).

I looked at the requests the web browser does if the control page is loaded and

[2017-02-14 16:17] kaikreuzer commented on #2921
This feels a bit like a misuse of tags to me. I'd really like to see them as semantical information in the light of https://github.com/eclipse/smarthome/issues/1093; using them for filtering for "sources"/"owners" does not seem to be right.

Correct, but we could offer some smarter search options, like checking for prefixes and/or substrings on uids.

[2017-02-14 17:31] maggu2810 opened #3011 "Groovy: compiler mismatch"
After bumping my local workspace copy to the most recent Git version I realized this errors in the `Eclipse IDE`

---

* Description:
[code]
* Resource: `org.eclipse.smarthome.automation.module.script.test`
* Path:
* Location: `org.eclipse.smarthome.automation.module.script.test`
* Type: `Groovy compiler mismatch problem`

---

* Description:
[code]
* Resource: `org.eclipse.smarthome.binding.wemo.

[2017-02-14 17:35] rtvb commented on #2714
@maggu2810 then why is my nl/NL setting not working? I see English weekday and month names and dots for decimals instead of commas.

[2017-02-14 17:43] maggu2810 commented on #2714
I don't say that the setting is used in every case and I don't know if it is bug free.
I just want to give you some background information where you can look at to find what is going wrong.

[2017-02-14 17:44] maggu2810 opened #3013 "CNFE in ScriptModuleActivator"
I get a CNFE on the first Script rule execution.

[code]

Details below...

* Use the recent master branch (commit f3f43bf3c764bb03e7465139c17a75cf3c058f34) without local modifications
* Change the Eclipse SmartHome launch configuration and enable the most of the Automation bundles
* Start the Eclipse SmartHome launch configuration
* Open the `Rules` section of the PaperUI
* Create a new rule
* Ch

[2017-02-14 17:48] lolodomo commented on #2998
@rgerrans : to reproduce your problem, please tell us what was the tune-in radio station you were listening when it happened.

[2017-02-14 17:49] MHerbst commented on #2714
@rtvb the cause of the problem is probably here https://github.com/eclipse/smarthome/blob/f7aa4bc9787f6e90f94f924b7efc10ca382e8e86/bundles/core/org.eclipse.smarthome.core/src/main/java/org/eclipse/smarthome/core/library/types/DecimalType.java#L74
and here https://github.com/eclipse/smarthome/blob/f7aa4bc9787f6e90f94f924b7efc10ca382e8e86/bundles/core/org.eclipse.smarthome.core/src/main/java/org/ecl

[2017-02-14 18:31] rgerrans commented on #2998
I don't use TuneIn and had never configured my system to use it.  The OPML url go injected into the system when I did an update.

[2017-02-14 19:01] lolodomo commented on #2998
Interesting, this URL should be used only when you listen a tunein station.
Please restore the binding. OPML URL setting and then tell us what music service you are listening when you trigger the exception ?
Apparently this service is using the same kind of URI as tunein.
A simple fix would be to avoid requesting the OPML URL when we can't extract a station ID from the URI.

[2017-02-14 19:12] rgerrans commented on #2998
Palm to forehead.... Just dawned on me that my wife listens to a local station.  I bet that is where it is coming from.  I'll look when I get home to verify.

Thanks

[2017-02-14 19:13] CWempe opened #3014 "Not all LIFX items are shown in PaperUI"
I added all my four LIFX bulbs.
I configured the things and items via config files.

#### lifx.things
[code]

#### lifx.items
[code]

#### karaf output
[code]

#### PaperUI
![image](https://cloud.githubusercontent.com/assets/1270359/22944679/c594c04a-f2f1-11e6-85e4-cfcc18c2f43d.png)

As you can see two of four bulbes do not show Color and Saturation.

The item "Licht Subwoofer" was added first as

[2017-02-14 19:38] kgoderis opened #3015 "Stopping/Restarting a bundle does not "reset" the state of Things"
Sometimes the SystemInfo binding hangs startup, and keeps the Things in INITIALIZING state. To resolve this issue, one can try to restart the bundle of the binding

openhab> smarthome:things | grep INI
systeminfo:computer:work (Type=Thing, Status=INITIALIZING, Label=Systeminfo, Bridge=null)

Stopping or restarting the bundle of the binding does not reset the state of the Thing

openhab> bundle:sto

[2017-02-14 22:38] rgerrans commented on #2998
@lolodomo It looks like the stations she's been listening to are coming off iHeart radio.  But if I run one of those stations, and stop/start openhab it isn't populating the OPML URL setting.    When the next update gets pushed out I'll see if that triggers the writing to the cfg file.

[2017-02-14 22:56] lolodomo commented on #2998
OK, let us know when you can test again.
Maybe we are not making a difference between TuneIn radio and iHeart radio.
By the way, if that is really the problem, I see how it can be fixed easily.

[2017-02-14 23:06] rgerrans commented on #2998
It won't be until the next build for the snapshot runs since that seems to correspond to the OPML config getting repopulated.

[2017-02-15 07:06] danchom commented on #3013
The problem should be in script action handler. As it is seen in the logs the runNow command is trying to execute the action and there is an exception in javascript evaluation.

[2017-02-15 07:35] lolodomo commented on #3015
Yes it was already reported. It happens when an exception is thrown while initialize() is running. But I don't remember if a fix was proposed and merged.

[2017-02-15 07:59] lolodomo commented on #2998
If you want to test without waiting for an update, here is the value of the binding setting you can set with Paper UI: http://opml.radiotime.com/Describe.ashx?c=nowplaying&partnerId=IAeIhU42&id=%id&serial=%serial
When you encounter the problem again, please tell us what value you get in channel "currenttransporturi".

[2017-02-15 08:09] kaikreuzer commented on #3014
[code]

This is not recommented. Having the color item should be fully enough - the other items really merely duplicate that (duplicates with some restrictions).

[2017-02-15 08:57] maggu2810 commented on #3013
I don't think so.
I assume it is caused because the Script Engine implementation (in this case Nashorn) tries to load classes that are not part of its class loader.
Providers inject classes that are not part of the class loader used by the script module activator (not declared in its manifest etc.) so how to you think the respective script engine implementation should know about?
Does the script e

[2017-02-15 09:10] kaikreuzer commented on #2963
Hi @bodiroga! I had [raised such a use case as a concern when the REST service was implemented](https://github.com/eclipse/smarthome/pull/549#issuecomment-173229541), but the outcome of the discussion was that the user should rather look into optimizing his persistence strategies, e.g. using an rrd database for cases, where high volume data is to be visualised for a longer time span.

[2017-02-15 09:27] maggu2810 commented on #3013
But perhaps I should do what the comment state:
[code]

Will give it a try 😉

[2017-02-15 09:43] maggu2810 commented on #3013
As written here http://stackoverflow.com/a/30251930/7546824 is will work using a modified context class loader in engine create using the factory method.

To test it I modified the `getScriptEngine` method of `ScriptModuleActivator`.

[code]

No class loading issue anymore.

[2017-02-15 09:45] kaikreuzer commented on #3013
Note that this part of the code is refactored in https://github.com/eclipse/smarthome/pull/1783 anyhow - you should check if it works in there as expected.

[2017-02-15 09:50] maggu2810 commented on #3013
If we don't fix this because it is refactored by #1783 I don't think we should postpone that PR because of this issue.
As it is not solved correctly in the current code base, so #1783 does not break it, we can fix it after #1783 has been merged.
I don't see any class loader modification / injection in the referenced PR, so I assume it is not solved there, too.

[2017-02-15 10:19] resetnow commented on #2994
I would vote for "none" since there could be aby meaning behind a number.

[2017-02-15 12:03] bodiroga commented on #2963
Hi Kai!

Thanks for your answer! It's a pleasure to talk to you!

I understand that the user should optimize his persistence strategy and that more than 200.000 values is an enormous amount of data for a week, but our use case was to record the voltage level at home during a week because we suspect that our electricity provider was not giving us enough voltage (less than 213V).

Anyway, shouldn't

[2017-02-15 12:45] lolodomo commented on #3015
The issue I was thinking of is the issue #2582 that was closed by merged PR #2599.

[2017-02-15 15:07] philomatic opened #3016 "JsonDB: Things and Links got missing after Hard Reset"
In rare cases after a power failure / hard reset, all Things / Links (Items are declared by file) are missing. Inbox is filled with these missing Things (Z-Wave).

This happens to us rarely but repeatedly since the change to JsonDB.
So, I guess this only happens when there are changes written to the DB during the power failure.
However, following http://docs.openhab.org/administration/jsondb.html,

[2017-02-15 16:40] kgoderis commented on #3015
@sjka wdyt?

Sent from my iPhone

[2017-02-15 17:43] wborn commented on #2956
That the SSE stream breaks when configurations are modified is already reported in #2706. So that makes this issue a duplicate.

[2017-02-15 18:59] robnielsen opened #3017 "Content-Type header is missing for woff and woff2 files"
The content is missing for both woff and woff2 files:

[code]
According to http://www.iana.org/assignments/media-types/media-types.xhtml#font, the Content-Type header should be:

[code]

[2017-02-15 19:45] #2956 closed

[2017-02-15 19:45] sjka commented on #3015
stopping a binding will remove the ThingHandlerFactory. As a result, the Thing goes into UNITIALIZED (HANDLER_MISSING). From this state, initialization can (and will) start again.

However, what we have seen in #2945 is a race condition, leading to the ThingHandler updating a stale object so that the _real_ one stays in INITIALIZING. I have a fix for this, but while testing all combinations I foun

[2017-02-15 20:05] robnielsen opened #3018 "Wrong redirection when behind a reverse proxy server"
When smarthome is behind a reverse proxy server that only allows https, the redirection from https://host/ is improperly going to http://host/start/index. This is happening because the 302 redirect is ignoring the X-Forwarded-Proto header. See https://community.openhab.org/t/nginx-redirect-to-port-80/16760/6 for more details.

[2017-02-15 21:28] maggu2810 commented on #3016
If you read articles like e.g. https://danluu.com/file-consistency/, https://lwn.net/Articles/457667/ and so on, you will see that reliable data storage is a very difficult topic.
Database systems does a lot of stuff to ensure that data should be stored correctly.

So perhaps you could change your startup script to backup the userdata directory used by JsonDB before your SmartHome system is starte

[2017-02-15 21:37] maggu2810 commented on #3018
Isn't the redirect done by the Jetty configuration of openHAB?
I don't see any relationship to ESH, could you please point me to?

[2017-02-15 22:33] CWempe commented on #3014
Ok.
I removed the other items and the PaperUI does show all four bulbes with three sliders 'inside' the color items as expected.

- I will try to edit the dosumentation more clearly about this.
- I am not sure if this solves the issue. I still think all configured items should be displayed.
Even if they don't make sense.

[2017-02-16 08:04] philomatic commented on #3016
Hi maggu,

yes, I'm totally with you. A crash-proof DB is a very difficult topic, there are whole OSs which deal with this topic.
And don't get me wrong here: I'm not saying that esh should be totally crash-safe, especially not in terms of data reliability for recent values. I think this would be over-engineered.
Nor I'm saying that JsonDB is more problematic or worse than the old MapDB implementa

[2017-02-16 08:57] #3011 closed

[2017-02-16 09:02] kaikreuzer commented on #3016
If I read this https://github.com/eclipse/smarthome/pull/1868#issuecomment-233144376 correctly, an automatic integrity check and reverting to a backup is NOT yet implemented; so it is up to the user to notice that the db is broken and to replace if by one of the backups. I'd agree that it would be nice to have this as an automatic mechanism (with some red warnings in the log) in place. @cdjackson

[2017-02-16 09:05] maggu2810 commented on #3016
@philomatic I didn't get you wrong (I think so).
If ESH provide a storage implementation IMHO it should be as good / reliable as possible (with respect to the effort).
Its not about blaming an implementation and the work someone has been done (in this case, I assume we are all happy about the JsonDB at all).
We all want a good and working solution. Didn't we?
So, if there is anything to improve, f

[2017-02-16 09:09] maggu2810 opened #3020 "Automation: Context map should use Object values"
With respect to the (offtopic) discussion at #3007 I would like to create a new issue.

The values of the elements in the context map should be of type Object (so, a known type) and not `?`.

[2017-02-16 09:10] maggu2810 opened #3021 "Automation: Context map shouldn't be modifiable"
With respect to the (offtopic) discussion at #3007 I would like to create a new issue.

The context map that is given to the handler should be not modifiable.
So we should use a unmodifiable map view that is provided by the Collections class.

[2017-02-16 09:17] kaikreuzer commented on #3014
Yes, I agree, this should work nonetheless. But this is most likely not an issue about LIFX nor Paper UI, but simply that the core framework does not correctly send updates to all linked items. So we should probably rather formulate a pretty different and much simpler bug report.

You are here at ESH, that's why it is here: https://github.com/eclipse/smarthome/tree/master/extensions/binding/org.ec

[2017-02-16 09:31] cdjackson commented on #3016
I'm pretty sure it is implemented. I guess the commits were squashed so we don't see changes after this comment, but it retains 5 backups, and during loading of the json files, if there's an error, [it will try the backups](https://github.com/eclipse/smarthome/blob/master/bundles/storage/org.eclipse.smarthome.storage.json/src/main/java/org/eclipse/smarthome/storage/json/JsonStorage.java#L85). Mayb

[2017-02-16 09:41] plamen-peev opened #3023 "Not clear error message when module id contains spaces."
For example if we have a rule on which one of the modules is with id `"Timer Trigger"` the description of the error that is thrown, by the fact that the the module id can not contain white spaces, is unclear.
The message says: Validation of rule ..... has failed! Timer Trigger

It is unclear because the expression:
`"Invalid module uid: " + mId != null ? mId
                        : "null" + ". I

[2017-02-16 10:18] #3000 closed

[2017-02-16 10:19] kaikreuzer commented on #3000
@lolodomo In case #3024 does not fix this issue, please simply re-open the issue here!

[2017-02-16 10:38] kaikreuzer commented on #3017
This probably depends on what HttpService is used.
The ESH UIs simply register the resources on the httpService, using the web server's default http context.
In openHAB, the files are thus served by Jetty through Pax-Web; it seems that [Jetty does not know font mime types](http://download.eclipse.org/jetty/stable-9/apidocs/org/eclipse/jetty/http/MimeTypes.Type.html), so this is potentially an issu

[2017-02-16 10:54] philomatic commented on #3016
Hmm... interesting, actually I also do not change the configuration on a regular basis, but sometimes I have 5 different  backups files created for e.g. Thing.json within 10 seconds from first to last. If I understood correctly (as the backup files are only created when written changes occur), this means configuration changed in about 10 seconds 5 times.
 Ill check the differences between them.

N

[2017-02-16 11:46] cdjackson commented on #3016
It might be interesting to 'diff' them to see what changes?

JsonDB defers writes for something like 1/2 second, so any repeat writes in that time will only result in a single write to disk. Maybe during startup if there's a lot of bindings / things starting up and updating configuration, it might result in a lot of updates in a relatively short period, but I wouldn't think that it should be somet

[2017-02-16 12:12] kaikreuzer commented on #3023
Please add a "fixes #XXXX" to your PRs in future, then the associated issues will automatically be closed upon merge.

[2017-02-16 12:12] #3023 closed

[2017-02-16 12:23] kaikreuzer commented on #2963
I would say yes, the persistence service API has not been built for that - note that values are not streamed from the DB directly to the HTTP response, but all are kept in memory (as a Java object structure, which can consume some memory).

I doubt that this will solve your issue, because paging is only done for the REST API, while the runtime always request all data from the db (as there is no pa

[2017-02-16 12:36] kaikreuzer commented on #3008
No, I don't think so. If I am not mistaken, this is also fixed by https://github.com/eclipse/smarthome/pull/1783 - maybe @smerschjohann can comment as well?

[2017-02-16 12:52] kaikreuzer commented on #3018
Correct, the redirection is defined [here](https://github.com/openhab/openhab-distro/blob/master/distributions/openhab/src/main/resources/runtime/etc/jetty.xml#L42-L50).

@robnielsen If you know what needs to be changed there to keep the correct scheme in place, please provide a PR for it!

[2017-02-16 12:52] #3018 closed

[2017-02-16 12:58] shoeper commented on #2963
Is this a technical limitation or would it be possible to stream it instead?

[2017-02-16 13:55] kaikreuzer opened #3027 "Add template browser to rule editor in Paper UI"
With #2924, there will be a new extension type "ruletemplate" available that allows users to easily share and use complex rule logic.
From a user's perspective it is awkward to first go to "extensions", browse for a template use, install it, then go to the rule editor and select "create new rule from template".

It would be much nicer to allow browsing available rule templates directly within the

[2017-02-16 14:08] danchom commented on #2984
Your proposal is to add parameter Class<T> clazz to the getByTags method?
i.e.
public Collection<T> getByTags(Class<T> clazz, Locale locale, String... tags);

[2017-02-16 14:12] kaikreuzer commented on #2984
No no, please don't! Option 2 be it!

[2017-02-16 15:04] kaikreuzer commented on #2963
As explained above, the persistence service API (and thus the service implementations) does not allow any streaming.

[2017-02-16 15:57] smerschjohann commented on #3008
Yes, this should be fixed right now and also in the future.

Currently, I create a new ScriptEngine instance each time I'm executing the Handler. That would mean that no state can be preserved at all. I will change that to each time I'm creating a handler instance, this will allow the script to keep state in the context of the rule.

[2017-02-16 16:34] bodiroga commented on #2963
Then perhaps there is a bug in the way the persistence service return the data through the REST API, because the paging "workaround" has worked perfectly fine here. I have made a python script that requests the data using paging with 100.000 datapoints per page and the data has been downloaded correctly. Here you have the output of my script:

"239041 datapoints downloaded in 32.8137860298 seconds

[2017-02-16 16:41] shoeper commented on #2963
Having a look at the behaviour @bodiroga reported, it could be a solution to always query the next 10000 (up to) entries from the persistence and stream the response to the user.

[2017-02-16 18:30] CWempe commented on #3014
Like: "Some random items are not displayed by PaperUI"? 😕

I am here, because of paperUI.
I expected the lifx binding where all the other bindings are.
But you are right, of cause. 😄

[2017-02-16 18:44] AndersenKasper opened #3029 "Rules engine (experimental) - Failed to execute rule"
Hi

I have created a rule using Paper UI which should start playing radio on my Sonos a 7am mon-fri.

Unfortunately Karaf reports the following:

The automation_rules.json is looking like this:
[code]

[2017-02-16 19:16] wborn opened #3031 "Basic UI: Recover from connection issues"
The items in the Basic UI are no longer updated when the SSE stream stops working due to a connection timeout. I've looked at the Basic UI code but it seems no error handling function is assigned to the EventSource `onerror` property.

There could be several reasons for a connection timeout (or other connection related issues):
* reverse proxy or firewall connection timeout settings
* unstable WiF

[2017-02-16 19:32] maggu2810 commented on #3031
Re-establishing the event stream sounds good to me.
A reload makes perhaps sense, too.
IIRC the current implementation in the PaperUI implements only a re-establishing without a reload.

[2017-02-17 07:51] kaikreuzer commented on #3029
Afair, this has been fixed about a month ago. Which ESH version are you using?

[2017-02-17 08:27] kaikreuzer commented on #3031
@resetnow Could you have a look at that?

[2017-02-17 08:47] AndersenKasper commented on #3029
The latest stable version. It was installed two days ago.

[2017-02-17 08:54] kaikreuzer commented on #3029
"stable version" probably means openHAB debian package? Yes, that's the 2.0.0 release, which had this issue, but in the latest snapshots that is imho fixed.

[2017-02-17 09:03] AndersenKasper commented on #3029
Ok thanks. I'm new to this so I'm working my way through it. Yes it is the OpenHab2 located here: https://bintray.com/openhab/mvn/openhab-distro. I will look into the latest snapshots later on.

[2017-02-17 09:03] #3029 closed

[2017-02-17 12:44] kgoderis opened #3032 "[Reopen Distro #306] - SafeMethodCaller time-outs"
@kaikreuzer I refer to your post in the above (closed) Issue #306 (https://github.com/openhab/openhab-distro/issues/306#issuecomment-280598506).

I notice a lot of SMC Time-outs in the core when I start up my operational environment (It runs on a Mac mini (so decent hardware), but I have about 15-ish binding including a few heavy ones running)

But I also observed another issue with the ThreadPool

[2017-02-17 19:11] smerschjohann commented on #2964
In general that sounds like a nice feature. But I think it is only useful if SUCCESS means the Job has completed, otherwise it only has limited use. What do you mean we do not have a callback from a real job? I don't see a reason to not have that. Just place the event after the job has completed.

[2017-02-17 19:45] kgoderis commented on #3032
This was a silent exit due to a OutOfMemory on the JVM Heap.

[2017-02-17 23:51] mherwege opened #3036 "BasicUI Switch element linked to Dimmer item does not update correctly"
I put on one sitemap both a slider and a switch for the same dimmer item.
When I move the slider (but not to 0 so the light does not completely turn off), my switch element does turn off. Refreshing the browser turns it back on.
When the switch and slider are off, turning the light on with the switch does turn the physical light on, but does not turn the switch on. Again refreshing the browser sol

[2017-02-18 09:55] lolodomo commented on #1138
I just run new tests with snapshot 803 and that looks good now. Cool. I close the issue.

[2017-02-18 09:55] #1138 closed

[2017-02-18 18:27] resetnow commented on #3009
This is an old bug I forgot about, sorry.

Question: should I leave INCREASE/DECREASE commands on long press? They don't seem to do anything to me (on demo sitemap), are they specific to a binding?

[2017-02-18 18:42] kaikreuzer commented on #3009
Yes, please! They only work if you have associated a binding; the auto-update that jumps in when no binding is configured indeed does not handle INCREASE/DECREASE.

[2017-02-18 23:44] mherwege opened #3040 "BasicUI Errors in treatment of Default element type"
I create the following simple test sitemap:
`sitemap test label="Test"
{
	Frame {
		Switch item=Licht_Zithoek
		Slider item=Licht_Zithoek
		Setpoint item=Licht_Zithoek minValue=0 maxValue=100 step=5
		Default item=Licht_Zithoek
	}
}`
Licht_Zithoek is a dimmer item.
The above sitemap shows correctly.
If I put the Default element type first, I get another frame around all 4 elements inside the first

[2017-02-19 10:39] UdoK opened #3041 "Basic UI: Hangs when going back to Home screen"
Basic UI hangs occasionally when going back from a screen to the home screen.
Here what openhab.log shows:
2017-02-19 11:31:05.991 [WARN ] [basic.internal.servlet.WebAppServlet] - Basic UI requested a non-existing event subscription id (084fdd27-f67d-4d9a-9881-e31b4676c544)
2017-02-19 11:31:07.954 [WARN ] [eclipse.jetty.servlet.ServletHandler] - /basicui/app
java.lang.IllegalArgumentException: Sub

[2017-02-19 20:30] #2154 closed

[2017-02-19 20:30] #3009 closed

[2017-02-19 22:42] mueller-ma opened #3044 "[Feature Request] More icons"
Hi,
I would like to see some more icons:

- Smartphone, Tablet, Computer, Laptop, Server, ...
- Temperature icons like the humidity ones. A good aproach would be to create temperature_celsius-0, temperature_fahrenheit-40,.. where the number is the actuall value, not a percentage value.
- Arrows. Currently there is flowpipe and returnpipe. I can give it a try, but I don't know how to name the icons

[2017-02-20 12:19] GrimmiMeloni opened #3045 "REST API always returning state NULL for Group Item"
**Situation:** State of a Group Item of type Contact is requested via Rest API, e.g. `http://<SERVER>:8080/rest/items/<GroupItemName>/state`

**Problem:** state is always returned as NULL, no matter what the actual value (either CLOSED or OPEN) as reported in event log is.

**Expected Behavior:** actual state should be returned from REST API

**Details:**
The group Item 'GrpWohnzimmerFenster' is s

[2017-02-20 12:24] maggu2810 commented on #3045
There is an "update" and a "changed" event.
A changed event should only be fired if the new state differs from the previous state.
I assume this is a little bit timing related and the state is changed from different places. But I don't know.
I would expect only one "changed" event.

[2017-02-20 16:02] #3010 closed

[2017-02-20 18:39] kaikreuzer commented on #1800
So shall we simply rely on smart image renderers, assuming that the UIs are anyhow only used on modern browsers? If not, we might have a look at using the StateDescription for it, e.g. the "pattern" property of it. The state description is meant to carry meta-information about the state.

[2017-02-20 19:21] lolodomo commented on #1800
I am not familiar at all with WEB UI code but I will take a look to Basic UI code in case I am able to update it. Normally the Paper UI code should help me.

[2017-02-20 19:22] kaikreuzer commented on #1800
We can also ask @resetnow for help, I would assume that it is easiest for him.

[2017-02-20 20:55] lolodomo commented on #1800
Unfortunately looks too much difficult to me :-(

[2017-02-20 21:01] resetnow commented on #1800
I'll look into it. Passing raw data without content-type header is not exactly the right thing to do, but it's easy enough to detect JPG and PNG magic bytes and it will cover 99% cases.

[2017-02-20 21:04] lolodomo commented on #1800
Paper UI is apparently using an angularJS feature to load image data.
Neither Basic UI nor Classic UI are using angularJS.

[2017-02-20 21:12] lolodomo commented on #1800
Note that Paper UI is probably only able to display JPEG images. It is hardcoded.

[2017-02-20 21:34] lolodomo commented on #1800
Apparently the data URI to be used in HTML to provide the data encoded in base64 requires to define a media type like image/jpeg or image/png.

[2017-02-20 22:09] lolodomo commented on #1800
Maybe we should enhance RawType with an optional media type and update the format method to return a data URI ?
With that done, UIs will not have to build the data URI but just get it from the state, and each binding could set the media type when they know it.

[2017-02-20 22:34] wborn commented on #3031
Thanks for having a look at this issue @resetnow . The offline notification is also helpful. I just gave it a test with enabling/disabling airplane mode on my mobile phone and all works as expected. :-)

[2017-02-20 22:36] lolodomo commented on #1800
Like suggested today by Kay, we could even consider the state pattern in channel type to produce the data URI. It will only require a little change in RawType to take into account the pattern.
But it would be better to not have systematically the need to hardcore the media type in the pattern. So adding a media type to RawType remains a good idea I think.

[2017-02-20 22:56] lolodomo commented on #1800
So I can propose the following changes and apply it to the Sonos binding, keeping a compatibility for other bindings:
* Add an optional media type (string) to RawType
* Allow a pattern for image channels that let you substitute the media type and the encoded base64 data
* Consider the pattern parameter in RawType:format method; if no pattern set, returns the data URI currently used by Paper UI, th

[2017-02-20 23:40] watou commented on #1800
What do you do when you don't have access to the media type from any source?  Do you emulate all that a web browser does in that situation in the server?

I also wonder if it would be possible to suppress the loading and holding of raw image data in server memory either per binding or systemwide, since users who have no client viewing the image will have no need for consuming server heap space wit

[2017-02-20 23:54] lolodomo commented on #1800
The media type is optional in a data URI. We could suppress the hardcoded media type in Paper UI to test how WEB browsers deal with that kind of data URI.
If it does not work well, we could decide to set the media type to image/jpeg by default.

I agree with you with the unnecessary memory used by these image processed on the server side.
At least, each binding could avoid to download the image if

[2017-02-21 00:09] watou commented on #1800
I hope it doesn't come to that, for all the cases where that will be a bad assumption.  Otherwise you are headed further down the road of duplicating client image handling in the server.

[2017-02-21 07:04] lolodomo commented on #1800
@resetnow : I let you analyze the code but my feeling is that if we do the changes I propose, then it could work in Basic UI without any code to change.

[2017-02-21 07:08] resetnow commented on #1800
I haven't looked at the code yet but my intention was to do the following:

1. Create a servlet (inside basicui) for rendering images from RawType
2. Render `image item=RawTypeItem` sitemap items to point at the created servlet
3. If it's possible to guess image type (jpg, png), add content-type header

[2017-02-21 08:08] lolodomo commented on #1800
Please note that UIs already support image element attached to string item storing an URL.

[2017-02-21 08:37] lolodomo commented on #1800
@resetnow : I have not studied the basic UI code in details but apparently it creates a img HTML tag repacing the src value by the item state. My idea is that if we have an item returning a date URI in the REST API, it should work the same way as with an item returning an image URL.

[2017-02-21 08:38] kaikreuzer commented on #1800
No, this is completely against the idea - you already receive the image as an SSE event, so you should not create a separate communication channel for that.

Yes.

Image items are items like all others. Suppressing events does not really make sense, because it is a pubsub mechanism and you do not know the subs. If you don't want images in memory, don't use these channels, but rather go for the url

[2017-02-21 08:40] resetnow commented on #1800
Ok, so how do I receive the image when the page is loaded initially?

[2017-02-21 08:41] kaikreuzer commented on #1800
How do you receive the states of all other items on initial load?

[2017-02-21 08:42] resetnow commented on #1800
So, encode the image data into page HTML?

[2017-02-21 08:44] resetnow commented on #1800
This will work, my only concern is that base64 encoding will effectively quadruple the size of image.

[2017-02-21 08:47] kaikreuzer commented on #1800
The same is the case for the SSE events, so it doesn't make it worse...

[2017-02-21 08:48] lolodomo commented on #1800
As a POC, I could try to update the RawType to return a data URI and then check what happens in basic UI and classic UI.

[2017-02-21 08:49] kaikreuzer commented on #1800
What is this supposed to be?

[2017-02-21 08:50] resetnow commented on #1800
That's why I was thinking about separate communication channel — it could also be implemented globally, not as a part of BasicUI

`data:image/gif;base64,R0lGODdhMAAwAPAAAAAAAP...`

[2017-02-21 08:53] kaikreuzer commented on #1800
We already have the separate communication channel for images with https://github.com/eclipse/smarthome/pull/2412#issue-187518826.

This issue here is just about NOT requiring a separate channel.

Ah, cool :-)

[2017-02-21 09:00] lolodomo commented on #1800
The default pattern would be: `data:[<media type>];base64,<base64 data>`
There are tests to run to check what happens in common WEB browsers when no media type is provided.

[2017-02-21 09:07] lolodomo commented on #1800
If no MIME type is provided, normally `text/plain` is assumed. So it should probably not work without a MIME type. So if the binding does not provide a MIME type, I would propose to consider `image/jpeg` as a default.

[2017-02-21 12:22] lolodomo commented on #1800
For information, the RawType is currently used only by 5 bindings, each one used it only for one channel being a cover art.

[2017-02-21 12:27] kaikreuzer opened #3050 "Cannot create rule based on template"
I have this template defined:
[code]
When creating a rule through the REST API (using the Paper UI), this is what ends up in the rule registry:
[code]
Note that
- the placeholders are not replaced with the config values (or is this already a new feature?)
- the rule contains the config params and config descriptions
- the trigger is missing label and description

[2017-02-21 12:28] kaikreuzer commented on #3050
@danchom I didn't use templates for a while, so maybe I am missing something - would be great to have your feedback!

[2017-02-21 12:36] lolodomo commented on #1800
An interesting point about album art requirements for Sonos:
* Artwork embedded into the music files must be in one of the following formats: JPG, BMP, GIF or PNG.
* Maximum resolution for embedded artwork is 1024 x 1024.
* Album artwork that is placed into the music folder must be in JPG or GIF format and named folder.xxx (e.g., folder.jpg or folder.gif). Each album should be in its own folder an

[2017-02-21 12:51] lolodomo commented on #1800
Additionaly, on the binding side, the following methods could be used to identify the MIME type: first getContentType() of course and when there is no content-type header then guessContentTypeFromStream().

[2017-02-21 22:04] lolodomo commented on #1800
Here are my first results after updating RawType to produce a data URI + a minor change in Paper UI:
* Paper UI still displays the image as expected
* Paper UI (in Firefox) does not display the image if the data URI does not contain a MIME type like image/jpeg
* Unfortunately only the default image specified by url= in the sitemap image element is displayed in basci UI and classic UI. I don't know

[2017-02-22 02:19] watou commented on #1800
Please see [here](https://github.com/eclipse/smarthome/blob/master/bundles/ui/org.eclipse.smarthome.ui/src/main/java/org/eclipse/smarthome/ui/internal/proxy/ProxyServletService.java#L260).

Why is that necessary?  When an item has no valid image to offer, and the Image widget has no valid URL, what should the Image widget do?  At least with the mandatory `url=` parameter, the Image widget will hav

[2017-02-22 06:58] lolodomo commented on #1800
Ah OK in the proxy !  It certainly requires a change in the proxy too.

By default sitemap, I mean the sitemap named _default.

[2017-02-22 07:30] watou commented on #1800
If the client is to display a RawType value pushed via SSE, the client wouldn't need to use the proxy for that at all, right? The default `url=` would behave as defined, but further image updates would be made via SSE updates (I think).

[2017-02-22 07:45] lolodomo commented on #1800
Yes, you're right. I have now to understand why UIs display the default image.
Maybe UIs use systematically the result of the proxied URL for image element ?

[2017-02-22 07:48] lopez1de opened #3051 "Switch Groups changing to UNDEF"
With OH2 GA (might also occur with other versions) I do face an issue with Group:Switch:OR going to "UNDEF" instead of ON or OFF.

I do own some motion sensors (Homematic HM-Sen-MDIR-O-2) and "itemized" them as follows:

[code]
However, the group's state only is ON or OFF if both sensors have the same state. If their state's differ, the group reports itself as UNDEF.

On motion, the event.log prin

[2017-02-22 07:54] lolodomo commented on #1800
Something done in the sitemap REST API maybe ?

[2017-02-22 08:53] lolodomo commented on #1800
The problem is very probably here: https://github.com/eclipse/smarthome/blob/master/extensions/ui/org.eclipse.smarthome.ui.basic/src/main/java/org/eclipse/smarthome/ui/basic/internal/render/ImageRenderer.java#L57
We put as URL in the img HTML tag the URL of the proxied image that will be the default image in our case.

[2017-02-22 09:57] kaikreuzer commented on #3051
Clearly sounds like a bug to me (some regression as this definitely worked before) - thanks for reporting.

[2017-02-22 10:01] lopez1de commented on #3051
More findings: A simple Group:Switch config without any binding works as intended. But at the point where I add a binding/thing to it, it shows up with the problem. The values we got from homematic binding are 0 or 1. This should represent the value of a switch like 0=OFF and 1=ON. But it looks like something went wrong here and OH isn't interpreting a 1 state as ON in groups. But at always, I may

[2017-02-22 10:08] kaikreuzer commented on #3051
Ah, that's important then - 0 and 1 are no valid states for Switch items, so I guess the items switch to UNDEF state and as an effect, the Group cannot determine its own state. So this is rather a bug in the Homematic binding then, which should be reported at https://github.com/openhab/openhab2

[2017-02-22 10:09] kaikreuzer commented on #3051
But somehow this does not really fit to the logs that you provided above, hm...

[2017-02-22 10:39] lopez1de commented on #3051
Homematic is binary (0/1). This transforms well to switches in OH. But not for the groups for some reason. I have to use contacts to get groups working, but it's strange to handle OPEN/CLOSED for switches etc.

[2017-02-22 11:01] kaikreuzer commented on #3051
Only if this transformation is done by the binding. As I said, 0 and 1 are no valid values for Switch items, see https://www.eclipse.org/smarthome/documentation/concepts/items.html.

[2017-02-22 13:03] phimic commented on #2548
Same issue here with openhab2, plugin works but lot of 404 warnings in log.
[code]

[2017-02-22 13:03] lopez1de commented on #3051
Then the only way for Homematic things is to use Contacts if I like to use groups?

[2017-02-22 13:05] kaikreuzer commented on #2548
@paphko Could you please have a look at this?

[2017-02-22 13:28] kaikreuzer commented on #3032
Ok, this explains it, because I would not even know of a way to kill any running thread...
I hope the OutOfMemory was also due to some buggy binding and not a problem in the core?

Your blocking threads look really weird. The ones about the ItemRegistryImpl are within the get() method, which retrieves an Item instance from its name - this is unlikely to be blocking, but maybe your setup is so huge

[2017-02-22 13:55] lolodomo commented on #1800
I will do a new try later today but I think I know now how to easily fix classic UI and basic UI tp support image items.

Regarding my initial proposal, I think now that I will forget what I said about pattern because we don"t need that.

[2017-02-22 14:23] kaikreuzer commented on #3004
So all seems to be correct. @rgabo74 Feel free to re-open, if you disagree.

[2017-02-22 14:23] #3004 closed

[2017-02-22 14:30] lopez1de commented on #3051
@kaikreuzer How would one know, of which type a value is? The binding should give me some informations about the type. But the documentation says nothing about types. You have to guess this. What would be the best approach to find the correct type.

[2017-02-22 15:06] lopez1de commented on #3051
@kaikreuzer
And again, besides from anything told before in the issue. Is the following statement true?

We have two Items of type Switch. If one Switch updates to ON and the other Switch to OFF which I can see clearly in the events.log. Then the Group:Switch:OR(ON,OFF) should be ON.

[2017-02-22 20:42] rodneyrehm opened #3054 "Documentation for config parameter contexts"
The changes made to the documentation in regard to parameter contexts in #2168 are missing a few things:

* The newly introduced context "Day of week" was not added to the [XML structure for Configuration Descriptions](https://github.com/qivicon/smarthome/blame/09b115c0738e8117db67baa8dbd66002c7648a1e/docs/documentation/development/bindings/xml-reference.md#L52) and [ConfigDescriptionParameter.get

[2017-02-22 21:58] lolodomo commented on #1800
Bingo, I got it. The only problem ramining is that the picture is not refreshed in basic UI (it is in classic UI).

[2017-02-22 22:45] lolodomo commented on #1800
I created PR #3055

[2017-02-22 23:01] lolodomo commented on #1800
One advantage of using an image item rather than an URL seems to be the time needed to render the image in UIs.

[2017-02-23 03:53] rgerrans commented on #2998
@lolodomo Sorry, got tied up.  Here is teh errors I got when I put in the test string:
[code]

I'm going to need a little guidance on how to pull the currenttransporturi channel value since it's not exposed in the PaperUI

[2017-02-23 06:51] danchom commented on #3050
HI Kai, I know that there is a problem with templates (i.e. it is not resolved when the template is appeared after creating a rule) and i'm going to check them.
@kaikreuzer could you please add the source of rule which uses this template and produce the wrong rule. Also is the problem appears only through the REST api or in any template usage?

[2017-02-23 07:01] lolodomo commented on #2998
The fix is not yet available in the snapshots.

[2017-02-23 07:48] kaikreuzer commented on #3054
@aounhaider1 Could you check the Paper UI implementation against this and complete the documentation with those infos? I think @rodneyrehm's tables are a very good starting point for this.

[2017-02-23 07:55] watou commented on #1800
I'm very interested in understanding how you compared image rendering times.

[2017-02-23 08:15] lolodomo commented on #1800
Nothing scientific, just a clear user feeling when doing my tests.

[2017-02-23 08:31] DanielMalmgren opened #3056 "BasicUI: Updates in Items end up in wrong place"
Hi.
Got a kinda weird problem here. When I first load up Basic UI everything looks fine, but as soon as I change track on my Sonos system, the new track name suddenly appears in completely wrong place in the UI.

This is a snippet of the relevant part of my sitemap:
[code]

...and this is what that part of the UI looks like after changing track:

![basicuibug](https://cloud.githubusercontent.com/a

[2017-02-23 08:45] ShaunCurrier opened #3057 "Paper UI's Add-ons > Misc Tab is blank when window maximized, populated when not"
4k screen laptop with DPI set to 200%, chrome at 100% view.  When maximized, tab is blank. When half screen, it's populated.

More details posted at:
https://github.com/openhab/openhab2-addons/issues/1945

(Sorry, I'm on mobile)

[2017-02-23 09:33] kaikreuzer commented on #3056
Can you reduce your problem to a pure Basic UI update problem, i.e. take Sonos out of the picture here?
I.e. can you reproduce it by doing a state update on the console through
[code]
?

[2017-02-23 10:01] DanielMalmgren commented on #3056
Ok, tried updating both sonoskok_completetrackinfo and sonos_PLAY1_RINCON_B8E937BECD0001400_currenttitle (which is the Item containing just the title, sorry for the naming chaos here) using smarthome:update and it all works like it should (ie the text label that should be updated is updated and nothing else). Does this mean it's the SONOS binding doing something fancy?

I noticed another thing as

[2017-02-23 10:05] kaikreuzer commented on #3050
This is what the Paper UI sends as a POST to `/rest/rules` when doing a create "rule from template":
[code]

[2017-02-23 11:04] lopez1de opened #3058 "BasicUI/HABdroid Slider postUpdate not working constantly"
Slider.postUpdate(50) or postUpdate(Slider,50) often not updating the BasicUI and HABdroid. When it happens, both UI's fail. Maybe even other UI's are involved. I haven't tested it.

But what's interesting: The Slider Icon is updating well at the same time when the Slider itself not updating its position.

[2017-02-23 11:04] lopez1de commented on #3058
Maybe related to this issue:
https://github.com/eclipse/smarthome/issues/3036

[2017-02-23 11:07] lopez1de commented on #3058
Findings. Update of Slider only not working one time if the slider was moved manually (touch/click). After the next update the Slider works fine until it was touched or clicked.

[2017-02-23 12:06] lopez1de opened #3059 "val definition fails for negative Number sometimes"
I set a val Number in my rules file.

`val Number TEMP_COLD = -1`

Sometimes, not every time, on a OH2 startup, the declaration fails with:

`2017-02-23 12:58:26.016 [WARN ] [me.internal.engine.RuleContextHelper] - Variable 'TEMP_COLD' on rule file 'licht_wohnz.rules' cannot be initialized with value '- <XNumberLiteralImpl>': An error occured during the script execution: The name '- <XNumberLitera

[2017-02-23 19:37] kgoderis opened #3062 "Sonos : Notification : Wrong TransportState after notification sound"
When playing a notification sound on the Sonos ZonePlayer (for example, triggered by playing an mp3 to an AudioSink linked to a ZonePlayer) the TransportState is not correctly restored if the handleSharedQueue (or similar method) is called again before the end of the notification sound handling.

In fact, the second time the method is triggered, it "saves" the transport state of the already playin

[2017-02-24 00:42] rgerrans commented on #2998
That makes sense.  I was afraid it was closed because I hadn't responded back.  Glad you guys figured it out.

[2017-02-24 08:33] rtvb opened #3065 "BasicUI: valuecolor not updated"
Any time the color has changed to match a value, it will not revert back to the default color (for unspecified ranges).

[code]

I did some testing. As long as the value stays below the treshold of 40, it has the default color. When it passes the threshold of 40 it becomes orange. But when it then lowers back below the threshold (say 10%) it remains orange and never turns back to the default color

[2017-02-24 08:35] paphko commented on #2548
Thank you @janKG for the detailed log, that was really helpful!

[2017-02-24 11:27] danchom commented on #3050
Yes this is a new feature. The rule registry persists rules as they are added. The references are resolved by the RuleEngine. In that way you always get what you have added and simplifies normalization and reference resolution. In the future this will give opportunity to update the rule just with update of its configuration.

yes because they are part of added rule and if we remove them it will be

[2017-02-24 11:43] kaikreuzer commented on #3050
Ok, I can see the reasoning behind it. BUT this means that UI editors are broken - they cannot handle that as the configurations do not have any valid value, but merely the placeholder.

I wonder if we might require to differentiate betweeen template configurations that should go hardcoded into the rule and the ones that should be kept as a rule configuration value.

We could also try to dynamical

[2017-02-24 14:27] maggu2810 opened #3070 "Test failure(s): Wemo tests"
After switching to Java 8 and also updating the Tycho plugin etc. it seems that the Wemo tests failed on Hudson.

It seems that the `Failed` is first caused by `org.eclipse.smarthome.binding.wemo.handler.test.WemoHandlerOSGiTest.assert that thing handles OnOff command correctly`

[code]

[code]

The tests does not fail on my machine using the Eclipse IDE and the tests does not fail using Maven.

T

[2017-02-24 14:45] maggu2810 commented on #3070
@kaikreuzer As you complained about that errors on your machine, too:
Have you ever tried to clean out your working copy before?
The "test" job on Hudson does not fail on the Wemo test.

[2017-02-24 14:49] maggu2810 commented on #3070
Hudson was able to build the whole test job, so it looks like an unclean setup.
WDYT?

I could try to change the nightly build configuration to do a "git clean -x -d -f" or something similar in front of the build.
Should I give it a try?

[2017-02-24 14:54] kaikreuzer commented on #3070
Let me simply delete the workspace for a test, which will automatically lead to a fresh clean checkout.

[2017-02-24 15:01] maggu2810 commented on #3070
The only code change I have done in the branch I tested to build on Hudson are added prints to get the content of the Item registry on the assert (and the call to add the item).
See: https://github.com/eclipse/smarthome/compare/master...maggu2810:wemo-test?expand=1

[2017-02-24 15:19] kaikreuzer commented on #3070
Didn't help...

[2017-02-24 15:31] svilenvul commented on #3070
I have tried to reproduce the failure on my machine without a success. Sorry for wasting your time with this one.. , I don't believe it is caused from the @maggu2810's changes.

Unfortunately I don't have an idea now what causes the issue.

I can invest some time to rewrite part of the tests, include more logging and try to make them more stable.

Feel free to ignore the tests, if the failures are

[2017-02-24 15:52] lolodomo commented on #1800
Regarding my problem of image refresh in Basic UI, can someone tell me where is the code handling new events and triggering refresh ?

[2017-02-24 16:18] resetnow commented on #1800
@lolodomo every Control object implements setValuePrivate method. It's called from either SSE or long-polling update listener.

[2017-02-24 17:16] maggu2810 commented on #3070
@kaikreuzer Can you give https://github.com/maggu2810/smarthome/tree/wemo-test a try and send me the output of the Wemo test (if it fails)?

[2017-02-24 18:50] maggu2810 commented on #3070
@svilenvul All fine

I added some changes to get the items in registry (the result says there are two but there should be zero).

Here the result:

[code]

[2017-02-24 18:51] maggu2810 commented on #3070
@svilenvul Where are this items coming from:

[code]

[2017-02-24 19:01] maggu2810 commented on #3070
Is the default for the "simple mode" true and the items are created because you create such a thing in your test.
As you already create an item yourself, perhaps you should disable the simple mode for this test.

[2017-02-24 20:25] #3070 closed

[2017-02-25 01:07] wborn commented on #3058
Regarding the Basic UI issue, it sounds a lot like #2695 so it this may be a duplicate. I also added a reproduction scenario to this issue.

[2017-02-25 05:31] lopez1de commented on #3058
Thanks. I tested HABpanel which is affected too.

[2017-02-25 07:08] lopez1de commented on #3058
I noticed that it's not only relating to Slider item. Text for example is also affected. I think it's a general issue which will not get fixed that fast. I'm using OH1 and OH2 for about 1.5 years now. ANd this problem persists.

[2017-02-25 07:36] lolodomo commented on #1800
OK thank you, it leads to something else to be updated: a timestamp is updated at the end of the URL. It has to be avoided when the image URL is a data URI.

[2017-02-25 07:46] lolodomo commented on #1800
Regarding the required default URL in the sitemap image element, it is something not obvious to choose for a final user. Could we imagine to make it optional in the syntax but have a default URL value as distribution setting. For openHAB, this setting could be set to the URL of an openHAB small image.
It could even be used by the "_default" sitemap.
What do you think about that ?

[2017-02-25 10:22] watou commented on #1800
Does `refresh` even make sense when the associated item is an ImageItem?

I didn't want to change the DSL when adding `item=` support or leave the widget with no usable image, but if you look back at my PRs I think there is an edge case that uses a pre-existing blank PNG in some situation.  It certainly makes sense to me that an Image widget should be able to be associated with an item (ImageItem,

[2017-02-25 14:32] lolodomo commented on #1800
@resetnow : I need your help.

First, if I put breakpoints in web-src/smarthome.js in Eclipse IDE, are they taken into account ?
If not, how can I debug ? Is there a way to log ?

Second, in ControlImage, I tried to change _t.setValuePrivate just to see if it is called. Here is the updated code:
[code]
The openHAB image is never displayed so I have the feeling that setValuePrivate is never called.

[2017-02-25 14:52] lolodomo commented on #1800
And another question: why is there a "web" and a "web-src" directories ? Shall I update only files in "web-src" ?

[2017-02-25 15:01] resetnow commented on #1800
@lolodomo

1. please refer to contributing.md in the BasicUI directory (mostly to the part where you need to run grunt to assemble client-side resources)
2. client-side javascript can be debugged in browser's developer tools (F12)

[2017-02-25 15:29] lolodomo commented on #1800
No chance to just edit the source file in Eclipse IDE and then run from inside Eclipse ? I need to run "grunt" outside Eclipse after each file update ? Isn(t it something integrated in Eclipse that runs automatically when I run OH from inside Eclipse ?
If I run a "mvn clean install" in the root directory of Basic UI, is it ok ?

[2017-02-25 15:32] resetnow commented on #1800
No, there is not. You can create a run configuration (there is a "Grunt" configuration type), which will basically call the same command from Eclipse. It still will need to be triggered manually.

[2017-02-25 15:40] lolodomo commented on #1800
Just to understand, when I run "mvn clean install", it does not do all the job ?

[2017-02-25 15:43] resetnow commented on #1800
It does not. Client-side scripts and styles are assembled with grunt. It's not included in the maven build process (as far as I remember due to legal reasons — it requires getting clearance on lots of javascript libraries).

[2017-02-25 15:48] lolodomo commented on #1800
Tu understand, where are in the tree the source files to edit and the files that are produced by grunt and then used at runtime ?

Is it easy to install grunt on a Windows machine ? It looks more something for Linux...

[2017-02-25 15:50] resetnow commented on #1800
Sources are in /web-src, resulting files are in /web. You need to install node.js and npm first, Google can help with the rest.

[2017-02-25 15:53] lolodomo commented on #1800
For testing purposes, if I copy smarthome.js from web-src to web, can it work ?

[2017-02-25 15:55] resetnow commented on #1800
It will work, but the changes must be validated by eslint (run from grunt) before being commited.

[2017-02-25 16:10] lolodomo commented on #1800
Thank you for your explanations, I am now able to see the impact of my changes (I have copied smarthome.js from web-src to web and edited it in web).

If only few lines need to be updated, maybe I can provide them to you so that you can propose a proper PR ?

[2017-02-25 16:32] lolodomo commented on #1800
Now that I can edit and debug the smarthome.js file (cool, thank you @resetnow ), I can see that setValuePrivate is called as expected but with itemState argument having the value "raw type (unknown): 4387 bytes". It is the format output of RawType.toString(). As a remember, I only put the data URI in RawType.toFullString(). So I can't update the image as I would like in setValuePrivate as I don't

[2017-02-25 16:39] resetnow commented on #1800
It's not really up to me right now. I mean it's technically correct and probably will work, you just need to confirm it with maintainers.

[2017-02-25 20:07] lolodomo commented on #1800
@watou : a blank PNG would be OK. Will look for that in the existing code.

Regarding support of my changes in Safari, I will not be able to check that myself, sorry. But I will check at least with Firefox and Chrome.

[2017-02-26 00:40] lolodomo commented on #1800
I succeeded making the update of image working in Basic UI (only 2 minor changes are required) but there is still one case that does not work, when state becomes UNDEF and you have suddenly to display the default URL while it was ignored when initially building the page.

@watou : I was asking myself if rather than bypassing the proxy, we could use the proxy even for images that are stored in imag

[2017-02-26 03:00] kaikreuzer commented on #3070
@maggu2810 Many thanks for looking into this and coming up with a fix 👍

[2017-02-26 03:36] #2548 closed

[2017-02-26 04:19] kaikreuzer commented on #3051
Yes, this info is unfortunately missing in the Homematic binding docs...
You could use the REST API and request your "Thing" - this should give you a list of all channels, which each will have a property "itemType".

Yes, that should be the case.

[2017-02-26 09:21] kgoderis commented on #3015
@sjka Any updates from your side? This bug is quite annoying in an operational environment when bundles have to stopped (e.g. upgraded with new jar). One always has to restart the complete runtime

[2017-02-26 09:25] MHerbst commented on #3051
@kaikreuzer What do you think of displaying the type in the channel list in Paper UI? This would help especially for bindings that create the channels dynamically and where it is nearly impossible to have an always up-to-date doc of the channels.

[2017-02-26 09:55] lolodomo commented on #1800
Sorry to share all my thoughts loudly lol
I see now that the proxy idea is a wrong idea.
But I think I have the solution: we need to store the default proxied URL in the HTML in case we need it at a certain time. So we just need to add a new entry in snippets/image.html to store it.

[2017-02-26 10:30] lolodomo commented on #1800
Ok, the refresh of image in Basic UI is now working.

[2017-02-26 10:35] kaikreuzer commented on #3051
Why not. Any suggestion where and how to display it?

[2017-02-26 10:45] maggu2810 opened #3073 "Test failure(s): NTP: communication error"
Sometimes I get this error on compilation:

[code]

[2017-02-26 11:42] lopez1de commented on #3059
The result of another service restart:

[code]

[2017-02-26 11:51] MHerbst commented on #3051
We could add the type to the third line of the channel description. Some ideas (Font and color of the text does not exaclty fit):
![image](https://cloud.githubusercontent.com/assets/616792/23339403/a47493ac-fc21-11e6-9fec-e426e18fe1e6.png)

We could also write it in front of the description:
![image](https://cloud.githubusercontent.com/assets/616792/23339398/8fe066aa-fc21-11e6-93b3-1ef20c9e4097.pn

[2017-02-26 11:59] lopez1de commented on #3051
I really like the last idea.

[2017-02-27 07:33] svilenvul commented on #3070
@maggu2810 many thanks too for identifying the problem and solving it.

[2017-02-27 08:18] lolodomo commented on #1800
In case no default URL is set, my idea would be that the proxy would return the none.png icon. What would be the URI to build that leads to this icon ? A relative path ?

[2017-02-27 09:26] BenediktNiehues commented on #2964
Let's get back to the essential question here again and handle other questions in other issues.
The main question is if a rules has to have a trigger?
Then for the scene scenario I would need:

- a rule with a set of actions to represent my scene
- this rule needs an eventTrigger, listening on a topic e.g. "smarthome/rule/execute/{RuleUID}"
- a Rest endpoint to fire the event (to activate the scen

[2017-02-27 09:42] maggu2810 commented on #595
I am currently looking into this...

Please correct me if I am wrong, but the auto-update post an update for the item after receiving a command for it.
This could currently be disabled by implementations of `AutoUpdateBindingConfigProvider` by using the item name.

There could be different ways to implement that feature, so, without going into deeper details of the special implementations I assume

[2017-02-27 09:43] watou commented on #1800
The ProxyServlet is not able to address an image that isn't referenced via `url=` or `item=` in an Image sitemap widget.  The images/none.png image that is part of the Basic and Classic clients could be accessed without need of the ProxyServlet.

[2017-02-27 09:44] resetnow commented on #1800
You can encode 1x1 transparent PNG in base64.

[2017-02-27 09:46] maggu2810 commented on #595
At the moment, if there exists multiple `AutoUpdateBindingConfigProvider` for the same item the auto update is done if at least one enables the auto update.
Should we proceed the same way using binding IDs?

[2017-02-27 09:46] watou commented on #1800
I had trouble making that work in Safari in #1106.  See [here](https://github.com/eclipse/smarthome/pull/1106/files#diff-ee0239b05dcc713c6860244dfd4d8688R78).

[2017-02-27 13:10] danchom commented on #2964
To summarize my :
If a list of action is a rule then list of conditions and list of triggers or some combination of then are they rules too? Should they go in IDLE  state despite of they won't be trigger or they don't do anything?
If the scene does not have a trigger then it can't be run without runNow command.
I don't like a rule to be executed by an action which just call runNow method and skipp

[2017-02-27 13:12] #2984 closed

[2017-02-27 13:18] danchom commented on #2937
May be this issue should be closed. The normalization of configuration properties without config description is merged but internal presentation will stay in big decimal not in the type of defined config description.

[2017-02-27 13:35] adimova opened #3079 "Threads "Dir Watcher" remain active after automation bundles are uninstalled"
There are 3 threads which remain active even after automation bundles are uninstalled
Dir Watcher, Maximum Priority
Dir Watcher, Maximum Priority
Dir Watcher, Maximum Priority
Moreover, after installing again the automation these threads are 6

The reason is that the deactivate method of the AbstractFileProvider do not deactivate the WatchService-s

[2017-02-27 14:18] maggu2810 commented on #2964
A rule without triggers and condition but at least one (or more) action could be used to realize "scenes".
I have to re-read the whole thread, but at the moment I don't see anything bad to support action only rules.

I don't think a rule without any action make sense.
So IMHO at least one action should be mandatory for rules, condition and triggers are optional.

That is right, but we can trigger

[2017-02-27 14:19] maggu2810 commented on #2937
Okay for me.

[2017-02-27 14:22] BenediktNiehues commented on #2964
@danchom I don't want to overrule you, but from my perspective the initial way would be the easiest and less effort way to support something like scenes. We could even provide an other method which considers the conditions first or make the runNow configurable.

[2017-02-27 14:47] danchom commented on #2964
If @kaikreuzer and @maggu2810 are agree with this PR then its ok for me too.
BTW Its not easy to recalculate conditions on runNow execution when the condition have inputs.

[2017-02-27 17:59] #2937 closed

[2017-02-27 18:00] #3079 closed

[2017-02-27 19:47] maggu2810 commented on #2585
Has this issue been solved?

[2017-02-27 21:37] #3057 closed

[2017-02-27 21:52] kaikreuzer commented on #595
Hm, I think the binding ID is much too coarse grained. The idea of this issue was to achieve a similar feature as in OH1, where a binding can decide for each item (here now channel), whether it wants to disable the auto-update as it itself will take care of reliable status updates after commands. This feature very much depends on the specific channel, so having just all on/off isn't imho helpful.

[2017-02-27 22:06] maggu2810 commented on #595
It is helpful for me, because I don't rely an the auto-update at all and so I want to disable it for every item that is linked to some channel of a thing of that bindings.

Hm, if the binding author wants to use the auto-update for some channels and don't want to use it for others channel, why not simply put the updateState line into the handleCommand method of the respective channels.
Why should

[2017-02-28 06:47] lolodomo commented on #2585
Don't know but I have not encountered it recently (but I don't restart OH very often too).

[2017-02-28 06:56] maggu2810 commented on #2585
WDYT could we close it for now and reopen if it is still present?

[2017-02-28 07:00] maggu2810 commented on #595
IIRC AutoUpdateBindingConfigProvider is not inly a reminder but used by model.item

[2017-02-28 07:08] lolodomo commented on #1800
@watou : the current logic is mostly implemented by the ProxyServlet and hidden to the UIs. By the way, a minor update of the ProxyServlet will be required because if not it will lead to an exception (not valid URI).
We have now several combinations (StringItem, ImageItem, hardcoded url) and allowing to not set a default URL will even add more combinations. We could use images/none.png image that

[2017-02-28 07:29] watou commented on #1800
Why would the ProxyServlet need to be involved in using ImageItems' state to show images?  There are no http[s] URLs involved in those items.  If the client has hit the proxy servlet in order show an image from an ImageItem, then it's already on the wrong code path.  What am I missing here?

[2017-02-28 07:56] lolodomo commented on #1800
No, I don't want to inject ImageItem in ProxyServlet, it is hanlded outside the ProxyServlet and it is ok. My concern is no more the ImageItem but the default URL and more precisely how to handle the case it will not be set in the sitemap image element (and so not provided by the ProxyServlet).
But that is ok, I will try to handle the full logic inside each UI. I have now already a good idea how t

[2017-02-28 08:14] lolodomo commented on #2585
Ok

[2017-02-28 08:14] #2585 closed

[2017-02-28 08:24] lolodomo commented on #1800
To be clear, I would like any UI to support all these cases for the sitemap image element:
* url without item
* ImageIten with url as default
* ImageIten without url as default
* StringIten with url as default
* StringIten without url as default
And of course, there is still the refresh parameter to not forget.

[2017-02-28 09:31] kaikreuzer commented on #2964
As already mentioned above, I also do not see any concerns in having rules without triggers - after all, you can also define rules that will never be executed by themselves because their conditions always evaluate to false. If we translate "rule" with "business logic", the requirement that a rule must  have at least one action sounds reasonable to me. No need for mandatory triggers&conditions.

@m

[2017-02-28 09:47] kaikreuzer commented on #595
Well, there is a much simpler solution for you: Simply remove the autoupdate bundle from your setup :-)

Because the default behavior, especially if there is NO binding is that the state update is done. Removing this feature would force every binding to do it manually.

As we do not have a deactivation feature in place yet, but a large number of well-working bindings, I think this shows that deact

[2017-02-28 09:50] petarnv commented on #3073
@maggu2810, I intend to refactor these tests soon, because we can now use Java 8 date time API, which is much more convenient than the Java 7 one. When I refactor them, I will take into consideration this failing test. You can help me, if you tell me on what operating system are you running the tests. In the meantime, if the tests are failing a lot, we can ignore them.

[2017-02-28 09:55] #3027 closed

[2017-02-28 09:59] kaikreuzer commented on #3050
@danchom Can you point me to the PR which introduced that feature? I would suggest to revert it for the moment, so that it is in sync again with the rule editor of the Paper UI - I will actually need it working again for demos by the end of this week...
We can then discuss how to best deal with the different situations (hidden/visible) modules and implement support in the Paper UI at the same time

[2017-02-28 10:12] ViToni commented on #2921
I would like to explain the basic idea a bit more:
  - Visibilty of `Rule`s
My personal point of view i, that rules should not be hidden from the user. The `Scope` property is in no way meant to hide `Rule`s.
Rules should be visible to the user otherwise he might not understand what's happening in his environment, because an invisible rule which activates an action is "non-existent" for him.

  -

[2017-02-28 12:14] maggu2810 commented on #595
This does not work as long as I want to use an unmodified model.item.
Sure, I can add a custom bundle that provides the `AutoUpdateBindingConfigProvider` interface in the same package but this isn't a better work around at all.

[2017-02-28 12:15] maggu2810 commented on #595
This does not work as long as I want to use an unmodified model.item.
Sure, I can add a custom bundle that provides the `AutoUpdateBindingConfigProvider` interface in the same package but this isn't a better work around at all.

And as you have written above, there are bindings that rely on the auto-update, so, removing the auto-update bundle completely will not work, too.

[2017-02-28 12:21] maggu2810 commented on #595
I updated the PR #3082
* The new interface offers two function to add and remove a configuration to enable / disable auto-update for a whole binding (by Binding ID)
* The new interface offers two function to add and remove a configuration to enable / disable auto-update for channels (by Channel UID)

[2017-02-28 12:22] kaikreuzer commented on #595
Ah, I wasn't even aware of the AutoUpdateGenericBindingConfigProvider. It does not seem to have any dependency to the model stuff, so possibly this could be moved to the autoupdate bundle (and thus allow you to not include it)?

[2017-02-28 12:27] maggu2810 commented on #3073
With respect to the Java 8 migration and the usage of closures, I give it a try and converted the NTP test to a plain Java test (instead a Groovy one): https://github.com/eclipse/smarthome/pull/3078
This showed me e.g. usage of private API in that test...
What do you think about using pure Java?

[2017-02-28 12:32] maggu2810 commented on #595
The class implements the BindingConfigReader interface that is part of model.item

[2017-02-28 12:40] kaikreuzer opened #3087 "Control UI does not show Image items when being opened"
When an Image item has a state, the Paper UI does not correctly render it when opening the Control tab:

<img width="437" alt="screen shot 2017-02-28 at 13 38 44" src="https://cloud.githubusercontent.com/assets/3244965/23405605/59749e88-fdbb-11e6-8ae6-f8142f64ba77.png">

Once an update is received through SSE, it is displayed correctly.

[2017-02-28 14:31] petarnv commented on #3073
I'm fine with NTP tests being pure Java.

[2017-02-28 15:13] sjka commented on #595
I just read though this discussion here. To be honest, I don't think this is going into the right direction. The problem I see is that the question whether the auto-update should be active or not not only depends on the binding developer's point of view, but also in many cases on the concrete setup and user preferences.
As a matter of fact, this must be a property of each ItemChannelLink. Clearly,

[2017-02-28 15:42] danchom commented on #3050
Please try the fix from Ani, and check if it will fix the problem.
I'm not sure if I catch the problem. When a rule is created by template and added, it can't return its configuration values, because the rule registry was stored them before the resolving procedure?
I think the Ani's fix will help in that case, but we can't apply different configuration to this rule anymore. For example we can't up

[2017-02-28 16:19] #2357 closed

[2017-02-28 16:28] maggu2810 commented on #595
@sjka Thank you for your comment.
What do you think about the scenario where two channels are linked to the same item?

To use your example:

* the first link uses the "no auto-update" profile
* the second link uses the "auto-update" profile

If the profiles are handled separately the "no auto-update" profile will delegate the command to the handler. The "auto-update" profile will delegate the com

[2017-03-01 06:33] danchom commented on #3020
Implemented by #3028

[2017-03-01 06:33] #3020 closed

[2017-03-01 06:33] danchom commented on #3021
Implemented by #3028

[2017-03-01 06:33] #3021 closed

[2017-03-01 06:35] lolodomo commented on #1800
I have now something working in my 5 use cases in Basic UI and Classic UI.

@resetnow : I installed node.js, grunt-cli and grunt. What is the command to run at the root of Basic UI folder ? I tried just "grunt" but it seems to do nothing, web/smarthome.js is not updated.

[2017-03-01 06:37] resetnow commented on #1800
`npm install` and `grunt`

[2017-03-01 06:46] lolodomo commented on #1800
Works now, thanks.
I have errors of this kind: Mixed spaces and tabs  no-mixed-spaces-and-tabs
JavaScript file seems to not use the standard of the project (Eclipse IDE), that is tab for 4 spaces.
Not clear how I must update Eclipse IDE setting to update the JavaScript files.

[2017-03-01 08:52] lolodomo commented on #3087
I have noticed that too.
I can try to debug the problem

[2017-03-01 09:02] kaikreuzer commented on #3087
No need, already identified and PR is coming.

[2017-03-01 09:27] tomhoefer opened #3093 "Display localized description for a thing status info"
## Desired impact in front of user

In our project we have to display a localized description for a thing status, e.g »Device is blocked by remote service for 60 minutes. Maximum limit of 10 configuration changes per hour has been exceeded. For further info please refer to the device vendor. « in case of device status ```ONLINE:CONFIGURATION_PENDING```.

## Problem

The ESH device status infrastru

[2017-03-01 09:55] #3087 closed

[2017-03-01 11:07] kaikreuzer commented on #3093
Sounds feasible to me in general with one exception:

The properties describe the Thing (device), not the features of a binding. I would therefore abstain from misusing the properties for such an information.

As a result, I would suggest that the information in the event simply has to be considered to be in default locale in any case and if a UI expects a localized version, it has to do the REST

[2017-03-01 11:15] sjka commented on #595
That is indeed a very valid point. My intention was the opposite: that as a user, I want to stay in control of who (framework, binding - and if so: which one...) updates the state of an item, in order to make such situations as deterministic as possible.

So to stay in the above example: What if both bindings "veto" the auto-update and handle it themselves? Which one wins? And what if they don't b

[2017-03-01 11:17] kaikreuzer commented on #3051
Actually, the last line seems to display the description, which in most cases does not bring any additional value here (and potentially blows up the list, if someone creates a multi-line description.

I wonder if we should make the list appear the same way as it is for items:

![screen shot 2017-03-01 at 12 14 55](https://cloud.githubusercontent.com/assets/3244965/23457568/bdea2352-fe78-11e6-8294-

[2017-03-01 11:22] tomhoefer commented on #3093
I agree. I will think about to a different solution

Sure... In this case it should be offline

[2017-03-01 11:23] sjka commented on #595
PS: Just to make this clear

I'm very well aware that as of today we don't have configurations on item level. And probably also don't want that. So we could use ItemChannelLink properties for this, but should be aware that conceptually this would be what it is: First "opt-in" of a binding wins for the whole item and an explicit enabling of auto-update at any ItemChannelLink would overrule any bind

[2017-03-01 12:34] danchom commented on #2921
Hi ViToni,
I'm agree with you that the rules should be always visible.
The application id was introduce in HAM to separate automation objects and rules between different applications, moreover it introduce security concept where the resources (rules and automation objects) of one application can be access only when you have permissions for that. The HAM has a different architecture which is not ap

[2017-03-01 13:12] aounhaider1 commented on #3050
The update event after creation of a rule from template still contains the placeholders instead of actual configuration values. I tried debugging it and found that values are not replaced before the event is dispatched. Here is a screenshot:
<img width="911" alt="screen shot 2017-03-01 at 14 10 21" src="https://cloud.githubusercontent.com/assets/5161937/23461154/0c7d939a-fe89-11e6-86ce-7a9ab4747b5

[2017-03-01 13:15] kaikreuzer commented on #3050
@danchom @adimova Could you have a look at how to solve that issue?

[2017-03-01 13:35] kaikreuzer commented on #3056
Well, it might be some special chars in the state causing an issue in the Basic UI. You'd have to do some further tests to see what event causes it (again, you should be able to reproduce it by sending the event on the command line - the Sonos binding does nothing else than that).

Which is correct, because you define a label without a state placeholder (i.e. `label="Daniel"` instead of `label="Da

[2017-03-01 15:03] danchom commented on #3050
Yes it is correct to send event when the template is resolved. At this point the rule is updated in rule registry - the remplateUID is removed and trigger condition and actions are added, but at this point the references are not resolved yet.
When they are resolved there is no event, because the runtime rule is available only in memory and managed provider is not changed

[2017-03-01 15:04] kaikreuzer commented on #3050
Well, this is clearly a bug then (at least as long as we have #3090 in place).

[2017-03-01 15:05] kaikreuzer commented on #3050
Note: All I am trying to do is to get the existing rule editor working again for now - and for this, there must be no placeholders anywhere in visible modules.

[2017-03-01 15:10] danchom commented on #3050
Ok I'll try to fix this.

[2017-03-01 15:20] danchom commented on #3050
Could you explain what does not work in PaperUI, because I've created a rule from template?
How can I reproduce the problem?

[2017-03-01 16:23] danchom commented on #3050
I think the PR#3097 will fix the problem.  But IMHO this should be a temporary change.

[2017-03-01 16:29] kaikreuzer commented on #3050
Thanks.

Yes, so we should continue discussing a proper solution. I did a suggestion above already:

This would allow us to do "black box templates", i.e. create rules from templates, which do not expose their inner workings, but merely offer their configuration to the user. The hidden, internal modules would still have the placeholders, which are only replaced for the RuntimeRule.
On the other ha

[2017-03-01 16:58] kaikreuzer opened #3098 "Rule editor should show rule configuration if available"
As the discussion in https://github.com/eclipse/smarthome/pull/3097 shows, there are going to be configurations (and with it config descriptions) on rules themselves in future.

The rule editor should hence check for existing configuration values and if they are present, allow the user to edit it. My suggestion is to show the configuration options right below the description and above the modules.

[2017-03-01 18:06] MHerbst commented on #3051
@kaikreuzer Sounds good. I like the idea to have similar looking lists. A popup for descriptions would also allow to display larger texts (... if available)

[2017-03-02 08:02] #3050 closed

[2017-03-02 08:31] danchom opened #3099 "Template resolving discussion."
I open this issue to continue discussion from #3050 - about template resolving.

@kaikreuzer 's comment:

Thanks.

Yes, so we should continue discussing a proper solution. I did a suggestion above already:

This would allow us to do "black box templates", i.e. create rules from templates, which do not expose their inner workings, but merely offer their configuration to the user. The hidden, intern

[2017-03-02 08:34] #2829 closed

[2017-03-02 08:46] kaikreuzer commented on #3051
@aounhaider1 Could you adapt the Thing-Channel list in the Paper UI accordingly?

[2017-03-02 09:32] danchom commented on #3099
I think separating module into two types complicate rule creation (the user has to explicitly set a module as hidden) and rule execution.
We have internal discussion and our proposal is:
1) add new RuleRegistry method getResolvedRule(String ruleUID) which will return rule with resolved configuration placeholders. In this way you can get rule with placeholders stored into RuleManagedProvider using

[2017-03-02 09:50] geiststreicher commented on #2900
The same is true for a "Selection" element in the sitemap:

Selection item=PresenceString label="Presence" labelcolor=[hmvar_presentState==ON="green", hmvar_presentState==OFF="red"] mappings=[auto="auto", present="here", notPresent="not here"]

The entries are shown without any labelcolor in the BasicUI.

It works perfectly in the ClassicUI, except that not only the label is colored, but the displ

[2017-03-02 10:23] kaikreuzer commented on #3099
Let's move a step back:

Our design of the rule engine never envisioned any placeholder support within rule modules.
The only places where we defined to have placeholders are:
1. rule templates, where placeholders were to be replaced upon rule creation
2. "inner" modules of a composite module - this is just an implementation detail of composite modules; to the outside world these inner modules are

[2017-03-02 11:03] ivivanov-bg opened #3102 "ConfigParam MIN and MAX value not compated properly"
When a config parameter is of type decimal and has `min` and `max` value specified, the comparison is done in `org.eclipse.smarthome.config.core.validation.internal.TypeIntrospections.FloatIntrospection` as follows:

[code]

The signature of the method expects the MAX value to be integer which causes precision issues.

[2017-03-02 12:01] IOOOTAlan commented on #2730
Where those two artifacts removed again?
0.9.0-b2 seems to be broken again today...

[2017-03-02 12:08] kaikreuzer commented on #2921
@ViToni I'd again like to point to my suggestion in https://github.com/eclipse/smarthome/issues/2921#issuecomment-277993520 - I didn't yet see any response to that and as far as I can see, it would address all requirements that you have mentioned here.

[2017-03-02 12:50] danchom commented on #3099
I'm agree with 1 and 2 but I want mention there is a place holders for inputs of the modules too (They are resolved dynamically - on rule execution).

Yes that is correct, but how can you configure such rule if you lost the references and replace them with calculated values in configured modules? This is one way rule creation and further configuration is  impossible.

For me the API should not be

[2017-03-02 15:33] maggu2810 commented on #2730
@IOOOTAlan You are right
Caused by: https://github.com/eclipse/smarthome/commit/98ad74e10e05a715c131a41cb1280f2d28632809
Related: https://github.com/eclipse/smarthome/pull/1857#issuecomment-283598036

We need to define how we should proceed with that custom p2 repos.
Perhaps we need to create a p2 repo for every ref build and refer to this one in the ref-build itself.
IMHO this is the only way to

[2017-03-02 15:45] kaikreuzer commented on #2730
Oops, sorry, maybe I should have removed it only when doing the next beta release...

I am not sure if we can/should provide p2 repos of un-approved dependencies - I'd prefer not to, even if this means that older ref-tags are potentially not buildable anymore.

@IOOOTAlan Why do you need to build it from sources at all, if there are the binaries available in the Maven repo? And IF you are building

[2017-03-02 15:53] maggu2810 commented on #2730
Ah, I remember our previous discussion.
An approved dependency could be revoked, this has to be removed, regardless if it breaks something.

[2017-03-02 16:01] IOOOTAlan commented on #2730
Sorry @kaikreuzer , I guess my wording could sound ambiguous: our build currently references ESH maven artifacts, so the problem is that the target platform used throughout the build points to the same repository location of the latest versions, where those versions were recently removed, resulting in a failed build process because of missing target platform dependencies.
If there's no other way o

[2017-03-02 16:04] adimova opened #3105 "Automation Rest ModuleTypeResource does not return children of the Composites"
When request GET {CompositeModuleTypeResourceID} module type, the children are not returned in response. The reason is a missing implementation for Composite Module Type DTOs

[2017-03-02 16:19] kaikreuzer commented on #2730
As a temporary measure, I could bring back the two artifacts on the p2 site again.

Nonetheless, upgrading might make sense as there is by now already a 0.9.0.b4 (which will have the same build issues, though...)

I have tried to mark all potentially breaking changes with the "APIBreaking" label: https://github.com/eclipse/smarthome/pulls?q=is%3Apr+is%3Aclosed+label%3AAPIBreaking

[2017-03-02 16:23] kaikreuzer commented on #2730
FTR: https://github.com/eclipse/smarthome/pull/3107

[2017-03-02 16:40] #3054 closed

[2017-03-02 16:53] IOOOTAlan commented on #2730
Thank you very much @kaikreuzer , for both the PR and info :wink:

[2017-03-03 07:42] maggu2810 commented on #3102
Let's assume #3103 fixes your issue. Reopen is it doesn't fix it.

[2017-03-03 07:42] #3102 closed

[2017-03-03 09:02] kaikreuzer commented on #3099
I wouldn't call this placeholder - this is really rather a reference instead as you actually cannot set a value for an input, but it always only is a reference to some output.

You cannot configure the rule, you can only configure the modules. This was really our fundamental design of templates: They simply create the rule for you initially and then they "disappear".

Note that all the meta-data h

[2017-03-03 15:04] walwe opened #3108 "PaperUI | DecimalType is parsed to Integer"
I noticed that the Paper UI no longer displays decimals places.
This bug was introduced in #2628:
The PR added the handling of the `statechanged` event, but it ignores the fact, that the `statechanged`event is not unique to the Rollershutter type and therefore parsing all DecimalType and PercentType using `parseInt`.

Please correct me if i am wrong, but I do not see a real use case for the `state

[2017-03-03 15:09] kaikreuzer commented on #3108
@aounhaider1, Could you please check?

[2017-03-03 21:42] maggu2810 opened #3110 "PaperUI, Rules: Rule from catalog"
Using the current PaperUI on a setup with enabled Rule / Automation support, it shows the "Rule from catalog" option if you want to create a new rule.
This results in "ERROR: 503 - Service Unavailable".
I assume this option should only be visible if the service is available.

[2017-03-03 21:43] kaikreuzer commented on #3110
Yes, I noticed the same and already asked @aounhaider1 to fix this.

[2017-03-04 19:44] pinkfish commented on #1093
I think this is all about single channels?  Or would this cover channel groups too?

The issue with something like a thermostat is that they are a collection of channels/traits that are not just a single piece and at times the channels work together to get the outcome.  I think you need some sort of system that sits at a higher level across a group of channels to say all of these conform to the 't

[2017-03-04 19:47] pinkfish commented on #582
I don't think you need people, really, but locations are a very strong semantic link.  For doing occupancy in a useful way rooms/location are needed to be able to pull flags and stats up a level from things to the thing they are inside.  Making the rooms in a structure also gives the structure inherent information about occupancy too.  A movement sensor gives some level of occupancy but an alarm g

[2017-03-05 11:09] resetnow commented on #2695
Many of the slider problems in BasicUI are caused by the slider implementation in the Material Design Lite library. Sliders are implemented by applying styles to a native `input type=range` element, and with these elements, every single browser behaves differently (see https://github.com/google/material-design-lite/issues/1738). This requires applying a number of hacks and quirks to get somewhat c

[2017-03-05 12:05] ghys opened #3113 "Support JSON Web Tokens as bearer tokens for access control"
Hi,
I experimented yesterday with the everlasting issue of access control in ESH based on my experience with JWT tokens and I ended implementing some basic working support as an exercise, therefore I wanted to spark discussion here first instead of submitting an incomplete PR out of the blue.

It's curerntly sitting here:
https://github.com/eclipse/smarthome/compare/master...ghys:jwt-auth?expand=1

[2017-03-05 13:08] maggu2810 opened #3114 "Rule / Modules: Should they use a separate scope?"
Perhaps I am wrong, so please me correct me...

The different module handles add information to the global scope and this information could be used by e.g. Scripts.

E.g. some different modules add different stuff, e.g. state, newState, oldState, event, ...

All this is added to the global namespace...
Wouldn't it be better placed in a separate namespace?

So, stuff injected by handlers does not c

[2017-03-05 13:10] Marty56 commented on #2410
Meanwhile I am using the following workaround:

	old_state = Wohnzimmer_linein.state.toString
        if (old_state == "ON") {                                               // Switch to Playqueue if optical link is used
	     Wohnzimmer_playqueue.sendCommand(ON)
	     Wohnzimmer_control.sendCommand(PAUSE)
        }
        say(Out,"voicerss:deDE","sonos:PLAYBAR:Wohnzimmer")
        if (old_state =

[2017-03-05 14:15] maggu2810 opened #3115 "Hue test: error in the Eclipse IDE"
There seems to be a problem of the Groovy Eclipse IDE plugin and the usage of full vs. integral builds.

# Steps to reproduce

## Full build

Trigger a build of the whole "Hue binding test" bundle

* Start the Eclipse IDE
* Open the Hue binding test
* Ensure "Project, Build autmatically" is activated
* Select "Project, Clean..." and choose `org.eclipse.smarthome.binding.hue.test` only

Check the "

[2017-03-05 20:39] bredmich commented on #1722
Is someone working on this?
I would like to use the transition time for some of my rules.

[2017-03-06 06:53] Marty56 commented on #2410
While testing the workaround I discovered that I can simplify the above procedure by

Wohnzimmer_playqueue.sendCommand(ON)
Wohnzimmer_control.sendCommand(PAUSE)
say("This is a text to speech IO test","voicerss:deDE","sonos:PLAYBAR:Wohnzimmer")

This is working if the sound is already cached and does not have to be translated into the respective mp3 file anymore.
It seems that basically the binding

[2017-03-06 08:18] danchom commented on #3099
For me the placeholders are equivalent to references and we have applied same concept  for module configuration values as the input values.

Yes my question was how to configure modules if we have lost references in them.
Our initial design was:
template(paramA), paramA = 5 -> ruleA(){condition(x < 5)} in rule registry -> ruleA(){condition(x < 5)} in rule engine

To change the paramA to be 6 for t

[2017-03-06 09:42] danchom commented on #3114
@maggu2810 What context do you mean? In the automation engine context only outputs from calculated modules are put in it. They are in form moduleID.outputId = value. Also the input values of connected inputs are  also put in, in form of inputId=value. Other modules can't change automation context as we have discussed that in #3021.

[2017-03-06 09:42] #3108 closed

[2017-03-06 09:52] maggu2810 commented on #3114
I talk about the context the script is using (not really about the context that is used in the automation source code).

Let's assume I am an user of the Paper UI and would like to create a new Rule:

* create a new rule
* add trigger `an item state changes`
* add action `execute a given script` (JavaScript)
* there is now `newState`, `oldState` and `event`

I can add code like:

[code]

So, that

[2017-03-06 15:36] claus007 opened #3120 "No error is logged when access is denied while trying to play sound"
When trying to play a file in Linux with the standard user rights no sound is played.
Also there is no log entry and if you try to play it in the ssh console there is also no (error) message.
Just nothing.
OS: Linux Ubuntu 16.10
OpenHab installed via package manager

[2017-03-07 10:01] ViToni commented on #2921
@kaikreuzer I like this approach. Your suggestion has the benefit that there is no additional property which needs to be persisted.
The implementation can be changed to scan for a prefix within the UID / set a prefix to the UID.

@danchom @kaikreuzer
Is this approach fine for all?

[2017-03-07 11:02] madte commented on #579
@kaikreuzer Sorry for the super late response. Working out the Secure Device Pairing and secure communication topics consumed a lot of time, unfortunately i won't be able to really understand the OpenHAB software architecture to present a detailed concept on how to integrate access control. There will only be some high level information about access control concepts in general and a rough concept

[2017-03-07 15:10] maggu2810 commented on #3113
It sounds very interesting. I hopefully have some time to have a look at your changes and read dig into it.

[2017-03-07 15:14] #3110 closed

[2017-03-07 15:23] maggu2810 commented on #3120
I would expect that the `FileAudioStream` would throw an Exception.
Could you dig into the code and check if the exception
* is not raised
* is catch silently

[2017-03-07 16:25] lolodomo commented on #2788
Ok, I think it is time to make progress on this issue.

Here is the proposal following the full discussion:
- we change the current API to always provide the unmapped value in the current field (item and sitemap REST API)
- we add a new field to the REST API that will provide the mapped value so that the REST API will provide the unmapped and the mapped value in 2 different fields

I can apply thi

[2017-03-07 18:43] RyanRamchandar opened #3126 "Create client library with core types to consume JSON from Rest API and Event Source"
There are many places where we receive JSON via the REST API or EventSource and we need to deserialize and consume JSON for various smarthome types. For example Items can have various Types, and in turn these Item Types can only accept certain Payload Types to store as state.

Currently, we need to write a lot of redundant code on our client to parse and validate this data which already exists in

[2017-03-07 19:07] pinkfish commented on #2649
I think the way units should work, perhaps should pull that piece in a different issue?  Is that the internals of the system should all use one unit.  All the bindings use Celsius, use metric everywhere.  In the ux you can set the unit you want as the display unit and the ux does the conversion on the edge to display it.  We provide a nice helper class that does the conversions for you...  Otherwi

[2017-03-07 21:51] lolodomo opened #3127 "Paper UI: show more / show less button no more available for things with channel groups"
For thing types using channel groups, the button "show more" / "show less" is no more available in Paper UI.

[2017-03-07 22:14] rtvb opened #3128 "Rule triggers multiple times for combined events"
(Originally submitted in the openhab bindings repo: https://github.com/openhab/openhab2-addons/issues/1949)

When you have a rule that triggers based on multiple events (combined with 'or'), then the rule is triggered multiple times.

For example, if you combine 7 astro sun event triggers, the rule is triggered 7 times for each of the 7 events, so 49 times a day. Expected is that it only triggers

[2017-03-08 07:34] danchom commented on #2921
This approach is fine for me if it does not do breakable changes in API. I mean the UID of rule should stay String which can contain segments. We can add pattern search" functionality  method in RuleRegistry.
But IMHO this functionality duplicates tags and even more it is a corner case of tags. I can't  see the difference. Both can mark group of rules as (system, user, appXYZ), both can be editabl

[2017-03-08 07:55] danchom commented on #3099
Actually If you think this is a breakable change for PaperUI , we can reverse the methods i.e.
get() - will return the resolved rule
getRule() will return rule with references.
but IMHO this will be confused for the users because they put a rule in ruleregistry and gets something different - resolved rule.
BTW I don't understand your approach with HIDDEN markers. In my example above if we mark a c

[2017-03-08 09:20] adimova opened #3129 "Reduce the Threads "Dir Watcher" count"
The idea is all automation file providers to share one watch service, that way will achieve the reducing the count of the threads and they become two: one thread "Dir Watcher"(this one processing watch events) and one that watch the directory.

This change has impacts in the same code as #3112

[2017-03-08 09:24] danchom commented on #2964
Its OK for me, but I want mention if a condition has an inputs such as ComparatorCondition, the actions of such rule won't be executed by the runNow action because the conditions can be evaluated without input. This can be confused for the user.
The problem can partially be solved by tasteful/stateless outputs which I'm going to introduce in separate issue.

[2017-03-08 12:57] kaikreuzer commented on #3127
@aounhaider1 Could you please check?

[2017-03-08 13:24] aounhaider1 commented on #3127
Seems to be working fine with sonos and astro bindings. Can you please provide the xml that you are using for defining channels types?

[2017-03-08 14:19] kaikreuzer commented on #2921
@danchom See my https://github.com/eclipse/smarthome/issues/2921#issuecomment-279754689 regarding tags. So no, for me this is no duplication (and besides the argument given there, the tags are something that is under the control of the user, while the scope/UID is under control of the system/app).

[2017-03-08 14:31] kaikreuzer commented on #3099
Note that our design did not at all have the possibility of config params on a rule. So this question is simply not to be asked. The template instead is used to create a rule "based on" (and not "with") certain config values. So the configuration belongs to the template, not to the rule!

Yes, I would actually suggest to revert the changes that had been done (treating config params as params of th

[2017-03-08 14:39] kaikreuzer commented on #3129
Question: Would it make sense to extend that improvement to ALL watch services in ESH, i.e. only have a single thread in place that watches all registered directories? This might be possible to change AbstractWatchService in a way that it only constructs a single watch thread for all class instances.

[2017-03-08 14:45] kaikreuzer commented on #2964
Yes, such a runNow action with respecting conditions wouldn't make sense on ComparatorConditions, but e.g. on ItemStateConditions (which can also check (in an event-less way) for current states) - and I think this will be the main use case (e.g. disable a rule based on presence=off or stuff like that).

[2017-03-08 16:48] lolodomo commented on #3127
I tested with a astro thing type.

[2017-03-08 17:41] maggu2810 commented on #2788
Okay for me

[2017-03-08 17:47] maggu2810 commented on #3128
@rtvb I don't know if I understand your entry correctly.

I assume it should be possible to create a simple example with an items file, a rule and the command line statements to trigger the state updates.

One minor comment about your rule, there is an additional or at the end of the last "when" section.

[2017-03-08 20:22] maggu2810 commented on #3129
Sounds like a good plan.

[2017-03-08 20:55] wastlchuck commented on #2701
I'm having the same issue in Chrome and Windows 10.
With Chrome 56.0.2924.87 I can only move the handle at the outer edge of the colorpicker between 9 and 11 o'clock position.
With Chrome Canary I can move the handle between 9 and 12 o'clock position. And with some offset, the handle can be moved almost up to the middle of the colorpicker.
With Firefox everything is working fine.

[2017-03-08 21:36] resetnow commented on #2701
If possible, could you please share a screen recording? I heard windows 10 had this feature built-in

[2017-03-09 07:24] maggu2810 commented on #2410
@Marty56 Thanks for your report but I assume we need a volunteer that owns a Playbar and has the time to debug and fix / improve / implement that code.

[2017-03-09 07:26] danchom commented on #2921
@kaikreuzer semantically you are right, but the user can change the uid of rule as easy as to add a new tag.
OK what is the propolsal?
The uid could be in form of "xxx:yyy:zzz" and to add a method:
Collection<Rule> getAll(String "patternUID");
The pattern has to be regex or something simple?

[2017-03-09 07:55] kgoderis commented on #2410
I will do that asap.
K

Sent from my iPhone

[2017-03-09 08:03] maggu2810 commented on #2410
Great!

[2017-03-09 08:05] danchom commented on #3099
Yes, but we have talk about rule's configuration which has to be implemented in feature and this is just an extension of our design. IMHO it is very useful feature which we are using. We can be backup compatible with my second proposal: to reverse the method methods. The reference will be stored in rule registry, but the get method will resolve them on each call. We will have second method for exa

[2017-03-09 09:48] adimova commented on #3129
As intention it is a good idea, I'll try to implement it, seems it is possible and not a big change

[2017-03-09 12:15] aounhaider1 commented on #3127
Are you defining the advanced property on channel-type or channel-group-type? I noticed that advanced property is allowed on group but is returned in rest response. It is defined in ChannelGroupType but is not present in ChannelGroupDefinitionDTO.
@kaikreuzer @maggu2810 is this intentional?

[2017-03-09 12:30] lolodomo commented on #3127
My intention was to add ir on a channel group type in order to test a fix for issue #1497. But now I am just using the current astro binding and the button is not available. Maybe the button is hidden in case there are no advanced channels for the thing ?

In case it is the case, I will first add the advanced flag on a channel type of the astro binding.

[2017-03-09 13:16] maggu2810 commented on #3127
* The `ChannelType` describes a concrete type of a `Channel`
  * has advanded information
* `ChannelTypeDTO` has advanced information
* The `ChannelDefinition` class defines a `Channel` of a `ThingType`
  * no advanced information
* `ChannelDefinitionDTO has advanced information

The `ChannelDefinitionDTO` aggregates information of the `ChannelType` and `ChannelDefinition`.
Is this is done for the

[2017-03-09 15:01] kaikreuzer commented on #2921
I'd think that no "normal" end user UI will allow the user to define or modify the rule UID.

Imho a "prefix:id", would suffice.

I wonder if we should directly go for something more generic like `getAll(FilterCriteria filter)`, where we could add all possible criterias to FIlterCriteria (a new class, not the existing one) - you might want to filter for a prefix, certain tags and and current statu

[2017-03-09 15:09] kaikreuzer commented on #3099
I don't see how that would work, because if you use a UI that sets a configuration value, you will ALWAYS lose your placeholder in there.

Sorry, yes, you are right. The only thing that remains there is the configuration on the rule, but as long as #3104 is not merged, that's not an issue.

Yes, correct. When things are hidden from sight, they cannot be seen :-)

But as I asked above already: What

[2017-03-09 15:27] kaikreuzer commented on #2788
For me as well, thanks!

[2017-03-09 20:53] maglnet opened #3131 "rule cannot be processed because of uninitialized script"
Hello,

I sometimes (about 25%-50% of restarts) experience the following log messages at startup:

[code]

my rule:
[code]

When the log message appears the holidays wont be calculated at startup, at midnight the script is called normally and holidays are calculated.

I feel like scripts should be loaded prior the rules?

I'm running `openHAB 2.1.0-SNAPSHOT Build #816` on a RaspberryPI 3.

best re

[2017-03-09 21:29] resetnow commented on #2701
Oh I see, thank you. I think it may be some weird floating point issue related to colorspace conversion. I'll look into it.

[2017-03-10 07:53] danchom commented on #2921
Usually when we want to filter to more then one property we are using LDAP expression.
What do you think to have  getAll(String ldapFilter).  For example:  getAll("('&(uid=abc)(tag=tag1)"); This gives possibility to evaluate  arbitrary logic expression over the predefined fields.

[2017-03-10 09:32] danchom commented on #3099
There is two options:
1) Change the GUI in a way that it has to resolve the references and show the values instead of placeholder, but it must not change the rule. When update a module's configuration value which has a reference to a rule's configuration property,  the new value has to be put into rule's configuration (where the reference is pointed) instead of module's configuration. The other op

[2017-03-10 10:02] maggu2810 opened #3132 "Scheduler not working reliable for Cron Expressions"
Rules using a Cron trigger does not work as expected.

There are messages from the `ExpressionThreadPoolManager` (I assume for every rule one message):

[code]

I assume it is a bug that there are no future executors for that expression.

@kgoderis Could you have a look at.
Is it similar to #2105 or #2746?

[2017-03-10 10:35] maggu2810 commented on #3132
I just had a look at the uptime of the system:
[code]

and the date of the system
[code]

So, it worked only one day this time.

[2017-03-10 11:03] maggu2810 commented on #3132
@kgoderis I have created a test using the current code base:

[code]

This results in:

[code]

[2017-03-10 11:24] maggu2810 commented on #3132
It seems to be related to the question mark on position four.
IIRC you we support the Quartz definition documented e.g. here: http://www.quartz-scheduler.org/documentation/quartz-2.x/tutorials/crontrigger.html

A question mark for "Day of month" should be allowed.

I tested the expression:
* `* * * ? * *` getTimeAfter does not return
* `0 * * ? * *` getTimeAfter returned null

[2017-03-10 11:30] kgoderis commented on #3132
@maggu2810 If this would be the issue, then I am very glad that the bug is not in the core algorithm itself, and thus the patch could relatively easy. That being said, it has been a *long* time that I have been in the code, you might be faster than me in fixing this in https://github.com/eclipse/smarthome/blob/master/bundles/core/org.eclipse.smarthome.core/src/main/java/org/eclipse/smarthome/core/

[2017-03-10 11:32] kgoderis commented on #3132
https://github.com/eclipse/smarthome/blob/master/bundles/core/org.eclipse.smarthome.core/src/main/java/org/eclipse/smarthome/core/scheduler/CronExpression.java#L869 is where it goes wrong

[2017-03-10 11:34] maggu2810 commented on #3132
It seems that
[code]
works as expected.

But
[code]
does not work at all.

[2017-03-10 11:35] maggu2810 commented on #3132
It seems that
[code]
works as expected.

But
[code]
does not work at all.

You agree that the expression should return the same result?

[2017-03-10 11:39] kgoderis commented on #3132
yes, however, in the algorithm at https://github.com/eclipse/smarthome/blob/master/bundles/core/org.eclipse.smarthome.core/src/main/java/org/eclipse/smarthome/core/scheduler/CronExpression.java#L869 the behaviour will be different. The first example will return the candidates collection, the second one is "specific", and will execute the method.

[2017-03-10 11:49] maggu2810 commented on #3132
Hm, I don't think so, because it not only about "it has been a long time that I have been in the code" but only that I never dig into the code that deeply as you.

I created #3133 to reproduce the issue(s).

[2017-03-10 12:31] BenediktNiehues commented on #2964
I've updated my PR #2965 with the option to consider conditions.

[2017-03-11 10:29] lolodomo commented on #2788
I just implemented the change and it works well (including in HABdroid).

Just one last question: in most cases, "state" and "transformedState" have the same value. Do you want I set a null string for "transformedState" in case there is no transformation ? It will just reduce the size of messages in particular when your state is a data URI (image).

I will propose a PR as soon as my PR relative to

[2017-03-11 11:46] lolodomo commented on #3127
I discovered that Paper UI is clever enough and does not display the button in case it thinks there are no advanced channels for the thing.
It apparently does not consider the advanced flag on channel group types. But we fail back to the issue #1497. So I close this issue.

[2017-03-11 11:46] #3127 closed

[2017-03-11 13:18] lolodomo commented on #1497
@resetnow : could you explain how is built $scope.thingType because when this function is called
https://github.com/eclipse/smarthome/blob/master/extensions/ui/org.eclipse.smarthome.ui.paper/web-src/js/controllers.configuration.js#L496
thingType.channelGroups[i].advanced inside the function seems to be always false even if advanced was set to true on the channel group type.

Additionally, the fuin

[2017-03-11 13:38] lolodomo commented on #3127
@maggu2810 : to follow you analysis, it looks like ChannelGroupDefinitionDTO is missing a member "advanced". I will try to add it and see what happens.

[2017-03-11 13:48] lolodomo commented on #1497
Finally, the reason was that advanced was missing in ChannelGroupDefinitionDTO. Adding it makes my Paper UI fix working.

Just remains now to fix the function "checkAdvance".

[2017-03-11 13:49] lolodomo commented on #3127
@maggu2810 : adding advanced available in ChannelGroupDefinitionDTO is the solution. I can now fix Paper UI as the information is now available.

[2017-03-11 14:45] resetnow commented on #1497
@lolodomo sorry, I didn't write any of PaperUI code so I'm not quite familiar with it.

[2017-03-11 14:47] lolodomo commented on #1497
Sorry for the mismatch. How is the main author of Paper UI ?

[2017-03-11 14:48] resetnow commented on #1497
Check git blame

[2017-03-11 17:41] maggu2810 commented on #1497
The main author is @aounhaider1
As @resetnow already stated a `blame` should manifest it. Or a simply `git log extensions/ui/org.eclipse.smarthome.ui.paper/`

[2017-03-11 17:44] #3132 closed

[2017-03-11 20:59] rtvb commented on #3128
@maggu2810 You do not need a lot more than a thing definition for the Astro binding, like that in the docs page http://docs.openhab.org/addons/bindings/astro/readme.html

[code]
 and the above rule

And you are correct about the additional 'or'; I removed that.

Just watch the openhab.log when the events are triggered.

[2017-03-12 11:40] metbril opened #3136 "Hue: dynamic icons for dimmer items on color channel not working"
Usually, you need to define the dimmer for a Hue bulb through the color channel.
If you use a slider in the sitemap (with the slider icon), the state for that dimmer item is the RGB code, and that state is used for generating the dynamic item.
The effect is, that dynamic icons in the sitemap will not work.

Example src for the dynamic image:

`http://raspberrypi.local:8080/icon/slider?state=74,78,

[2017-03-12 11:42] rtvb commented on #3136
Relation with #866?

[2017-03-12 14:00] lolodomo commented on #3051
Is the initial issue finally an issue with homematic binding only ?
Are you using map transformation in your items ?

[2017-03-12 17:40] lolodomo commented on #3045
I just tried to reproduce using group "Windows" from the demo sitemap. This group is defined like that:
[code]
http://192.168.1.4:8080/rest/items/Windows/state returned OPEN as expected.

Then I updated the group item to be more similar to your example:
[code]
http://192.168.1.4:8080/rest/items/Windows/state returned CLOSED.

So I can't reproduce your case. Maybe, the item in your group are all NU

[2017-03-12 18:59] lolodomo commented on #3065
I was able to reproduce it. It only concerns Basic UI.
I will try to fix it.

[2017-03-12 19:44] lolodomo commented on #3065
https://github.com/eclipse/smarthome/blob/master/extensions/ui/org.eclipse.smarthome.ui.basic/web-src/smarthome.js#L1646

@resetnow : at this place, it is necessary, when label color or value color is undefined to call setLabelColor / setValueColor with the default color. How getting the default color ?

[2017-03-12 20:24] resetnow commented on #3065
@lolodomo it's not implemented right now, you can extend Control function to save default colors from either computed style or data attribute (better). setLabelColor/setValueColor could accept undefined values then (which will revert the color to default). Also, these functions should check if the current color differs from the one being assigned (to prevent interactions with DOM when it's not nee

[2017-03-12 20:25] resetnow commented on #3065
(I was replying to comment which was probably deleted)

[2017-03-12 20:32] lolodomo commented on #3065
@resetnow : I suppressed my message because I found the solution.
I just submitted a PR that fixes the issue.

[2017-03-12 21:27] lolodomo commented on #2713
As PR was merged, I assume the issue could be closed ?

[2017-03-13 00:03] lolodomo commented on #2900
I found what's wrong for groups and fixed it.
But there is still something not working, that is the dynamic update of the value and the value color when the frame is opened. Label color update is now ok.

[2017-03-13 00:07] lolodomo commented on #2443
@resetnow : I found why group value is not updated.
https://github.com/eclipse/smarthome/blob/master/extensions/ui/org.eclipse.smarthome.ui.basic/web-src/smarthome.js#L1307
_t.container is null. I will search what's wrong in this line but maybe you have an idea (hint) ?

PS: for the same reason, the value color is not updated too.

[2017-03-13 00:12] lolodomo commented on #2900
@geiststreicher : can you please open a specific issue for selection element ?

[2017-03-13 04:45] resetnow commented on #2443
I would first check if there's an event in the SSE stream.

[2017-03-13 06:02] #2713 closed

[2017-03-13 07:59] lolodomo commented on #1800
PR now merged.. issue to be closed.

[2017-03-13 08:26] lolodomo opened #3141 "Group:Switch / Group:Contact: number of items not refreshed in UIs"
If you have such item with a %d in the label, you can notice that the value is not refreshed in Classic UI or HABdroid except when the group state is updated, that is number updated to 0 or number leaving 0.
To be even clearer. If you count your opened windows and you have 4 opened. You display the group item in UI, 4 is displayed. Then you close one window. You can see that the number remains at

[2017-03-13 08:30] lolodomo commented on #2443
I separated the problems by opening the issue #3141 something not specific to Basic UI.

The current issue is specific to Basic UI: not able to refresh any group value received.

[2017-03-13 08:35] maggu2810 commented on #2788
Are we able to remove the transformedState from the REST response if it is equal to state? So the client could assume if transformedState is missing, then there is no transformation or the transformation is equal to the state itself.

[2017-03-13 08:36] resetnow commented on #3141
Group dependency is not currently tracked — you can try implementing it here https://github.com/eclipse/smarthome/blob/3ae5d7b1b284f2bde6199bfe8dad950fd38cae39/bundles/io/org.eclipse.smarthome.io.rest.sitemap/src/main/java/org/eclipse/smarthome/io/rest/sitemap/internal/PageChangeListener.java#L156

[2017-03-13 08:57] lolodomo commented on #2788
@maggu2810 : removing the transformedState from the REST response would probably mean defining deux different DTO objects :( That's why I am proposing to keep the field but set it to null when there is no transformation.

[2017-03-13 09:00] #1800 closed

[2017-03-13 09:03] #2701 closed

[2017-03-13 09:08] kaikreuzer commented on #3128
@rtvb Your partial events.log above does not seem to be related to the problem that you describe, or am I missing something? (Or you might possibly want to also provide the openhab.log of the very same timestamp next to it?)

[2017-03-13 09:32] kaikreuzer commented on #2788
Would be ok for me - although it requires the clients to implement some more logic on their end.

[2017-03-13 09:38] lolodomo commented on #2788
I will update my PR accordingly.

[2017-03-13 10:32] maggu2810 commented on #3073
The test has been changed from Groovy to pure Java and some stuff has been changed.
Will reopen the issue if the problem raises again.

[2017-03-13 10:32] #3073 closed

[2017-03-13 11:00] geiststreicher opened #3143 "In Sitemaps LabelColor and ValueColor not working on Selection elements in BasicUI"
I've defined the following switch:

`Switch hmvar_Presence "Presence" <parents_3_3> (gPresence) {channel="homematic:GATEWAY-EXTRAS-CCU2:ccu2:GWE00000000:1#Presence"}`

In my sitemap I tried to apply the following label colors:

`Selection item=PresenceString label="Presence" labelcolor=[hmvar_Presence==ON="green", hmvar_Presence==OFF="red"] mappings=[auto="auto", present="here", notPresent="not he

[2017-03-13 11:02] geiststreicher commented on #2900
@lolodomo: Of course I can :) I opend the issue #3143

[2017-03-13 11:29] lolodomo commented on #2788
Is there existing documentation I should update to present the new field in REST API response?

[2017-03-13 12:29] lolodomo commented on #674
@kaikreuzer : isn't it something already implemented?

[2017-03-13 12:39] kaikreuzer commented on #674
Yes, you are right, this has been implemented with https://github.com/eclipse/smarthome/pull/2030.

[2017-03-13 12:39] #674 closed

[2017-03-13 12:58] rtvb commented on #3128
The event log is from the original issue in the openHAB addon repo per your request.

The openHAB log I referred to above was the log that will be generated when you use the sample rule. If needed I will post both a corresponding openHAB and event log.

[2017-03-13 13:18] lolodomo commented on #2419
There is no colorpicker icon, only colorwhell icon available in PNG and SVG formats.

[2017-03-13 13:21] lolodomo commented on #2999
I close this issue as the real issue is #2555.

[2017-03-13 13:21] #2999 closed

[2017-03-13 15:35] #2945 closed

[2017-03-13 15:35] #3015 closed

[2017-03-13 16:05] kaikreuzer commented on #3099
Not really, because if you set a rule to HIDDEN, I would expect that you cannot see the rule at all. This is something different then hiding the modules of a rule. So I think it is still ok to use the visibility of modules (and we can say that it usually makes sense to have all or none visible).

[2017-03-13 16:15] kaikreuzer commented on #2788
Hm, no, unfortunately, there is no documentation for the sitemap REST API.

[2017-03-13 16:22] kaikreuzer commented on #2921
Imho LDAP filters are the worst possible syntax anybody could come up with. If we want to really allow "arbitrary logic expression", we could add such a method (`getAllByLDAPFilter`) optionally. But we should definitely have an easier mechanism for standard queries.

[2017-03-13 18:16] kaikreuzer commented on #2994
@rtvb If you agree with @resetnow, could you update #2995 accordingly?

[2017-03-13 19:00] #3115 closed

[2017-03-13 19:01] rtvb commented on #2994
I agree

[2017-03-13 19:11] maggu2810 commented on #1640
Hm, about half a year without realizing this error again.
I assume it is safe to close this one.

[2017-03-13 19:11] #1640 closed

[2017-03-13 20:14] resetnow opened #3145 "BasicUI compiled frontend files should not be commited to the repo"
This is an old problem but lately more people started contributing to BasicUI, so it has become more noticeable. Currently minified js/css files are stored in the repository to avoid legal stuff. I think sooner or later we'll have to fix this, and to make it easier, I propose the following changes:

1. BasicUI uses grunt, but PaperUI already has approved gulp. In our case it doesn't really matter

[2017-03-13 21:04] jvivanco28 opened #3146 "Installing Rules Engine Crashes Event Source"
It seems that when I install the Rules engine (either through PaperUI or by hitting the endpoint `http://{ip_addr}/rest/extensions/misc-ruleengine/install`) the event stream crashes, hence why the loading spinner never completes in PaperUI.

Steps to reproduce:
- `curl http://{ip_addr}/rest/events` to listen to the event stream.
- Install the rules engine in PaperUI > Add-ons > Misc > Install Rule

[2017-03-13 21:26] RyanRamchandar commented on #3146
Yes, I'm seeing the same thing and I am able to reproduce this with your steps.

[2017-03-13 21:42] kaikreuzer commented on #3146
Could you investigate, why the Paper UI actually succeeds to receive the event? For me the spinner stops and I can see the "Rule Engine installed" notification.
It only fails to do so, if at the same time I also do the curl command. Maybe there is some issue with providing SSE events to different receivers at the same time?

[2017-03-13 22:00] lolodomo commented on #2788
I updated the PR. Finally, the transformedState is not present in the REST API response when there is no transformation requested.
To be honest, I am not absolutely sure if it is not present or just not displayed by the REST API UI.
Using the REST API UI, I only see the transformedState field when a MAP is used in the item label.

[2017-03-13 23:11] lolodomo commented on #3141
In fact, PageChangeListener.constructSitemapEvents is called only when PageChangeListener.stateChanged is triggered.
Nothing is done when PageChangeListener.stateUpdated is triggered.

Consider a group of windows. If you open or close one of the windows without changing the group state, PageChangeListener.stateUpdated  is triggered and so no event is sent to UIs. If you open or close one of the wi

[2017-03-13 23:19] lolodomo commented on #3141
Maybe for group item, we should only consider PageChangeListener.stateUpdated and not PageChangeListener.stateChanged.

[2017-03-14 00:20] jvivanco28 commented on #3146
If I don't `curl` the event stream, the callback still never happens and the loading spinner animates indefinitely. I'm running my own instance of openhab where nothing is listening to the event stream.

I just tried installing/uninstalling some of the other extensions in Add-ons > Misc and this happens to a few others as well. **Google Calendar Scheduler** never receives the finished callback whe

[2017-03-14 12:21] lolodomo commented on #669
@maggu2810  :  is ir an issue to be clised (PR merged(  ?

[2017-03-14 13:32] maggu2810 commented on #669
If you mean "Is this an issue to be closed (PR merged)?" then I need to check.
The issue that has been merged is only about the "store and reuse the result of ...".

If the issue itself -- handling of state options -- has been solved, needs to be checked.
I add it on my todo list.

[2017-03-14 14:05] lolodomo commented on #669
Please take a look to issue #2729 that looks similar.

[2017-03-14 15:40] #2788 closed

[2017-03-14 16:01] lolodomo commented on #2792
Should be fixed by merged PR. #3135

[2017-03-14 17:58] maggu2810 commented on #669
It looks very similar.
I assume @sjka or @kaikreuzer (both comment the related issue) can state if it is the same.

[2017-03-14 19:43] rtvb commented on #3128
These are some recent logs. As you can see, the Astro event is triggered only once, but the rule is triggered as many times as there are event based clauses in the rule:

partial rule (see above):
[code]

events.log
[code]

openhab.log

[code]

[2017-03-14 20:43] ViToni commented on #2921
I would second that. Using `getAll(FilterCriteria filter)` as proposed in https://github.com/eclipse/smarthome/issues/2921#issuecomment-285375056 seems to be a more versatile approach. If anyone wants to use LDAP-like search expressions, he can implement a FilterCriteria with this functionality.
Is the usage of a String UID set? (I've seen UID classes (Things-related)). This might be a chance to h

[2017-03-15 08:25] #3105 closed

[2017-03-15 13:37] kaikreuzer commented on #3131
Yes, the "System started" trigger is indeed not reliable for such cases - I assume we would first need https://github.com/eclipse/smarthome/issues/1896 to find the right moment when everything is up and fully loaded...

[2017-03-15 13:45] kaikreuzer commented on #2649
@pinkfish Please also note https://github.com/eclipse/smarthome/pull/1857, which will add the unit to the state. So in general I think it is ok if bindings provide the value in the unit that the device is actually providing - this way, we do not have any rounding issues and do not end up with "odd" numbers. Using the uom library would nonetheless allow us to do automatic conversion to any other un

[2017-03-15 13:53] kaikreuzer commented on #3126
I'd assume that we could extract certain packages from the smarthome.core and smarthome.io.rest.core bundles to separate OSGI bundles, which then must not have any further dependencies.

The main classes that you will need are probably all the *DTOs and Enriched*DTOs, right?
Could you come up with a list of what you would expect in the client lib?

[2017-03-15 14:13] kaikreuzer commented on #669
If I understand the issue here right, I would agree that it is a duplicate - so let's close this one here.

[2017-03-15 14:13] #669 closed

[2017-03-15 15:43] maglnet commented on #3131
Thank you for your response.
What would be the way to go?

I'll try to add the calculated Items to persistence / restoreOnStartup and call the script after a delay of one minute, that should be enough, imho.

I'll give feedback in some days if my idea works :)

[2017-03-16 06:52] danchom commented on #3129
Merged #3144

[2017-03-16 06:52] #3129 closed

[2017-03-16 06:54] danchom commented on #3114
@kaikreuzer may be you have to answer here. I'm not in deep in the scripting module handler implementation.

[2017-03-16 07:16] lolodomo commented on #2924
To be closed ?

[2017-03-16 07:20] danchom commented on #3099
OK lets leave the visibility property in modules, but how we proceed with the references in the rule. What do you think about my proposal?  I prefer 1, but the 2 will be backward compatible.

[2017-03-16 07:27] #2924 closed

[2017-03-16 07:29] #2443 closed

[2017-03-16 07:50] maglnet commented on #3131
The following seems to work for now (restarted about 10 times, no Warning appeared):

[code]

[2017-03-16 07:53] kaikreuzer commented on #3131
Sounds like a viable workaround.

[2017-03-16 07:56] danchom commented on #2921
Ok, I'm agree with the FilterCriteria approach. You mean filter criteria will be an interface and a different impl on this interfaces can be applied to the getAll().  I'm not sure if we have to provide some default impl. of it. There are a lot of different criteria and may be we have to leave this to the user.

Yes we have set that when design the Automation API and this is a breakable change.
Als

[2017-03-16 07:57] lolodomo commented on #3065
To be closed now that PR #3139 is merged.

[2017-03-16 07:58] lolodomo commented on #2900
To be closed now that PR #3139 is merged.

[2017-03-16 08:00] #3065 closed

[2017-03-16 08:00] #2900 closed

[2017-03-16 08:05] danchom commented on #2982
We have decided the rules with at least one action (for scene purposes) to have possibility  to be added in rule engine.

[2017-03-16 14:33] dragondagda opened #3150 "Circular reference while initializing StateDescriptionProvider"
Hi,

we're having an issue, that sometimes(1 out of 4) at startup a circular reference occurs while initializing StateDescriptionProvider. It seems that this circular reference is happening between ItemChannelLinkRegistry and ItemRegistry. We tried to change some configurations, but couldn't solve it.

That's what we tried:

- We used different esh versions: 0.9.0.b4 and 0.9.0-SNAPSHOT
- We used d

[2017-03-16 20:20] ViToni commented on #2921
Great.

Exactly.

I would provide a simple implementation so that it can be used within the REST API to search for tags and scope (both are missing at the moment).

[2017-03-17 06:37] #3141 closed

[2017-03-17 06:46] lolodomo commented on #3141
Please note the PR fixed Basic UI but not Classic UI.
It looks like it was already working in HABdroid but with a very slow update, as if there is a refresh mechanism implemented.

[2017-03-17 19:38] lolodomo opened #3156 "Auto linking: channels in advanced channel group types should not be linked"
In simple mode (auto linking), the channels associated to an advanced channel type are not linked.
But channels in advanced channel group types are linked while they should not.

[2017-03-18 15:57] maggu2810 opened #3157 "Model Script: bundle refresh result in errors"
If the OSGi framework tries to refresh the model.script bundle this results in errors.

[code]

---

The problem could be reproduced e.g. using openHAB:

[code]

---

You can see errors using the standard SmartHome runtime launch configuration:

[code]

[2017-03-19 07:15] maggu2810 commented on #3157
It has been easy to find the (first) root cause of the problem. It is caused by some singletons that are created and kept over the bundle lifecycle. So, we break the whole OSGi concept here.
There are different places such "getInstance()" logic is used.

Does it make sense to invest time to solve this one and refactor some classes?

If #1783 is finished, are that bundle obsolete some time?

[2017-03-19 08:43] kaikreuzer commented on #3157
Unfortunately, #1783 won't make those bundles obsolete as we will still support Xbase as a scripting language to be backward compatible.

Note that the singletons were introduced because of many issues with Guice, which is internally used by Xtext. I am not saying that it cannot be solved, but a while ago I already spent significant time on getting this stuff to work at all. It won't be easy to so

[2017-03-19 10:27] lolodomo commented on #3156
Can I have please some help to find where is implemented in Paper UI the automatic creation of items and channel links when a new thing is added ?

[2017-03-19 10:31] maggu2810 commented on #3156
Have a look at `bundles/core/org.eclipse.smarthome.core.thing/src/main/java/org/eclipse/smarthome/core/thing/link/ThingLinkManager.java`

[2017-03-19 10:56] lolodomo commented on #3156
Thanks a lot, I see the bug in createLinkIfNotAdvanced(). I will provide a fix.

[2017-03-19 13:34] MHerbst opened #3158 "[Paper UI] Add-on title overlaps with upper-right icon in card view"
In the add-ons card view the add-on title of some add-ons overlaps with the icon in the upper-right corner:
![image](https://cloud.githubusercontent.com/assets/616792/24081276/12c77c9e-0cb1-11e7-956f-d02ceea07325.png)

It seems that the automatic line break does not work correctly for all title variants.

[2017-03-19 13:40] MHerbst opened #3159 "[Paper UI] Consider use of same height for all cards in add-ons view"
The cards in the add-ons view are sorted from left to right and from top to bottom. If the marketplace client is installed the height of the cards differs quite a lot which leads to a confusing display, e.g.
![image](https://cloud.githubusercontent.com/assets/616792/24081330/d4cca88c-0cb1-11e7-9b5b-1dd3059e4c1c.png)
It would look better if all cards have the same height. If the description is too

[2017-03-19 15:40] pdegeus opened #3160 "itemAdded called multiple times on RegistryChangeListener at boot"
Hi there,

I'm maintaining the ImperiHome IO add-on for openHAB and have an issue getting the item event listener stable when loaded at boot time of openHAB.

Consider the following code:

    public class TestAddon {

        private final Logger logger = LoggerFactory.getLogger(TestAddon.class);

        private ItemRegistry itemRegistry;

        private ItemProcessor itemProcessor;

        pr

[2017-03-19 20:33] jeffsf opened #3161 "Group Item Does Not Have Valid Defaults For Group:Dimmer and Group:Switch"
The Item syntax in `Items.xtext` clearly indicates that the `ModelGroupFunction` is optional, even if the `ModelItemType` is specified. However, at least with `Group:Dimmer` and `Group:Switch` (without a `ModelGroupFunction`), declarations like
[code]
result in an error
[code]
This is in conflict with the openHAB documentation at http://docs.openhab.org/configuration/items.html#groups

Pretty clea

[2017-03-20 00:10] kaikreuzer commented on #3158
Thanks, I wanted to create the same issue, you were faster ;-)

@aounhaider1 Can you fix that?

[2017-03-20 00:13] kaikreuzer commented on #3156
Sorry, I didn't closely enough follow why we have "advanced channel group types" at all now.
Afair the original design, there was no such flag on channel groups and a groups is simply visible if it contains at least one non-advanced channel and otherwise it is not visible. So why do we need the advanced flag there, which can rather contradict the flags of the channels?

[2017-03-20 00:20] kaikreuzer commented on #3159
What you are asking for is a grid layout, not a card layout.
Note that this layout has been chosen for browsing, not for searching - it should resemble more a catalog that you browse through; It uses the same design principle as e.g. Google+ here.

If you want a sorted presentation, you should rather go for the list view.

And if you only want to see marketplace content in the card view, simply ty

[2017-03-20 00:20] #3159 closed

[2017-03-20 01:32] jeffsf opened #3162 "[Rules] File-level var/val Declarations and Initialization can leave null Values Unexpectedly"
At least as far as I have seen, and no matter the choices of `val` vs. `var` here
[code]
Observed behavior --  a `null` value for `y`
Expected behavior -- `y` would have the value `1`

This is certainly unexpected, especially as `val` is supposed to be immutable.

See follow-on post for example code to explore all the combinations.

Use case is single-point initialization of multiple variables to

[2017-03-20 01:38] jeffsf commented on #3162
Simple .rules file to view if the identifiers return `null` or not

In my experience all of the val/var initialized from a previously declared variable are `null`

I haven't checked to see if there is a multiple-assignment syntax. It's better than nothing, but far from as maintainable as being able to call assignment each out in its own line.

Pick your favorite trigger...

[code]

[2017-03-20 09:32] lolodomo commented on #3156
The general concept was certainly to make a group of channels globally advanced. I can clearly see the interest in such a thing.

By the way, IMHO this "advanced" flag should not be set on a channel type but directly on a channel. For example, I define a channel type representing a temperature; then I want to define different channels using this type, few of them being advanced and others being no

[2017-03-20 20:23] digitaldan commented on #1093
FYI, besides wanting to add more features to Homekit, the Alexa voice service has added locks and temperature requests.  I don't have a good suggestion here, would be nice to do something soon.  The other thing to think about is separating tagging an item and exposing an item.  I may want to describe something as a "Light", but I may only want to expose it to say Alexa vs homekit or the Echo emula

[2017-03-20 22:00] #3158 closed

[2017-03-20 22:22] jn-se commented on #2668
I can confirm the issue. For each rule only the first Time cron is used.
Any other ORs (like Item received update) are working well.

[2017-03-21 07:00] jvolkman opened #3165 "NPE when removing a Thing through OpenHab's zwave exclusion mechanism"
This exception is logged when I remove my Aeotec Multisensor 6 from my ZWave network using the exclusion procedure.

[code]

[2017-03-21 08:26] chr-fritz opened #3166 "Calling ProgressCallback#pending() without defining a sequence before results in a NPE"
Post the pending event using the `org.eclipse.smarthome.core.thing.binding.firmware.ProgressCallback#pending()` while firmware update results in a `NullPointerException` unless a sequence was defined using `ProgressCallback#defineSequence(ProgressStep...)`.

This code will result in a NPE:
[code]

This code works:
[code]

[2017-03-21 08:52] tomhoefer commented on #3166
Thix... I will check this...

[2017-03-21 15:56] n-kristev opened #3167 "NPE in Configuration.toString()"
In the ThingHandlerFactory of my binding I log a Thing's configuration when I process a Thing in createHandler(). The thing types are initialized with static XMLs, and I have several configuration properties which do not have a default value. The current Configuration.toString() method fails with a NPE, since it attempts to read the class of a property's value, and such value is not set.

[2017-03-21 17:07] kaikreuzer commented on #3165
As the NPE occurs within the Z-Wave binding, I would suggest to report the issue at https://github.com/openhab/org.openhab.binding.zwave/. Thanks!

[2017-03-21 17:07] #3165 closed

[2017-03-21 19:48] jvivanco28 opened #3168 "JSON Field Type Mismatch in `/rules` Endpoint."
Hi,

It seems like there might be a JSON field type mismatch when hitting the `/rules` endpoint.

When fetching the rules from `GET /rules`, sometimes the JSON response for a rule contains the field `"required": "false"` which I believe is meant to actually be a `boolean` (inside `Rule->Actions->Inputs`).

Steps:
- I created a new rule (containing just one trigger) with `POST /rules`.
- Next, I up

[2017-03-21 21:03] Rossko57 commented on #3162
A similar exercise in OH1 produces an more enilghtening error message

[code]

[2017-03-21 22:01] kaikreuzer commented on #3168
@danchom Could you have a look at that?

[2017-03-21 22:29] RREE commented on #1339
I also get several of these entries whenever I restart the openhab2 service:

2017-03-21 23:04:04.160 [WARN ] [ore.internal.events.OSGiEventManager] - Could not find an Event Factory for the event type 'ItemChannelLinkRemovedEvent'.
2017-03-21 23:04:04.162 [WARN ] [ore.internal.events.OSGiEventManager] - Could not find an Event Factory for the event type 'ItemChannelLinkRemovedEvent'.
2017-03-21 2

[2017-03-21 22:33] kaikreuzer commented on #1339
These messages can be ignored, they are not harmful.
This should be solved once we have a solution for https://github.com/eclipse/smarthome/issues/1896.

[2017-03-22 04:53] jeffsf commented on #3162
This construct fails as well
[code]
with the message
[code]

[2017-03-22 05:04] jeffsf commented on #3162
Seemingly related is the failure of creating a constant to be later within a lambda (it gets used more than once in the complete file)
[code]
[code]

[2017-03-22 07:34] maggu2810 commented on #3160
I don't think this is the expected behavior.
The `added` notification should be called only once for one item.

[2017-03-22 07:54] maggu2810 commented on #3160
[code]

I tried to reproduce your problem, but did not succeed.
Can you create a minimal example that demonstrate your problem?

You can e.g. continue mine: https://github.com/eclipse/smarthome/compare/master...maggu2810:demo-3160?expand=1

If I start this demo using the Eclipse IDE, the result looks as expected.

[2017-03-22 08:20] lolodomo commented on #2792
Please check that it is fixed with a recent snapshot (at least 849) and then clise the issue.

[2017-03-22 13:36] danchom commented on #3168
Ok I'll check this.

The input's JSON Data returned by the /module-types endpoint is a meta data describing corresponding input. It is different from the input's JSON data returned for the action, which contains map of connected inputs this action i.e. {"input1":"module1.output1", "input2":"module2.output1" }.

[2017-03-22 13:47] BennieGe commented on #1093
Is there any progress in sight for this topic? Especially the window coverings would be very nice to be implemented. Is there a bèta or even an alpha version I can test? I would help with the coding but unfortunately I am not well educated enough for that..

[2017-03-22 14:24] danchom commented on #3168
I can't reproduce your problem.
1) I've created a rule only with a trigger.
2) I use POST /rules to add it into rule registry
3) I use PUT /rules/ruleID to update the rule added in point 2. This time the payload contains a rule with same  ruleUID and two triggers only.
4) The result of GET /rules contains list of one rule with two triggers and no actions.

It is strange that you have added a rule

[2017-03-22 18:27] lolodomo opened #3175 "Basic UI: page and frame title containing item state are not updated"
If you open a frame linked to an item, the title at the top of the page display the item label with including its state. If the item state is then changed, the title is not updated.
Exiting the frame and re-opening it then oif course displays the correct title.

[2017-03-22 18:27] lolodomo opened #3176 "Classic UI: page title containing item state is not updated"
If you open a frame linked to an item, the title at the top of the page display the item label with including its state. If the item state is then changed, the title is not updated.
Exiting the frame and re-opening it then oif course displays the correct title.

[2017-03-22 18:45] lolodomo commented on #3175
@resetnow : before I start to investigate, maybe you can provide your initial feeling of what could be wrong. Do you thing the problem is on server side, that is no update event sent for the event attached to the frame, or is it on the front side that the event would not be handed correctly ?

[2017-03-22 18:54] resetnow commented on #3175
I don't know if there's an event in the event stream but updating frame (and page) titles is definitely not implemented client-side

[2017-03-22 19:00] lolodomo commented on #3175
Ok. Do you thing it could be easy to fix ?

I don't know if I should say frame or page... What I am talking about is the title with a blue background and an arrow to return to the parent frame/page.

[2017-03-22 19:46] resetnow commented on #3175
There is a list of widgets stored in the `smarthome` object; one could make a new widget type for the top bar, send the necessary information (item ID/widget ID) with ajax response and also account for a case when a page is opened by URL. But I would first check if there are any SSE events.

[2017-03-23 08:19] danchom commented on #3168
@jvivanco28  Could you please check this issue again and if possible show me a way to reproduce the problem.

[2017-03-23 09:43] plamen-peev opened #3179 "Security exception is thrown in AbstractEventFactory in security mode."
When I run the framework in security mode, Security Exception is thrown while an instance of a class that extends AbstractEventFactory  is created.
The problem is that the Declarative Services implementation which actually creates the instance does not have a permission to read `automation.esh.event.payload.enabled` system property.
The exception is thrown at this block of code:
`static {

[2017-03-23 09:57] danchom commented on #3179
Sounds good for me. @kaikreuzer , @maggu2810  what do you think?

[2017-03-23 09:58] maggu2810 commented on #3179
Need to have a look at the code. Don't know why we need to use a system property at all.

[2017-03-23 10:16] danchom commented on #3179
Actually  there is not such code in org.eclipse.smarthome.core.events.AbstractEventFactory. So there is no such problem.

[2017-03-23 11:01] maggu2810 commented on #3179
If there is no such code available, then I don't understand the issue at all?
What should be changed in the current code base?
@plamen-peev Can you point me to the location you complain?

[2017-03-23 11:53] plamen-peev commented on #3179
It is my mistake.
I am looking at old source code.

[2017-03-23 11:58] #3179 closed

[2017-03-23 13:43] Rossko57 commented on #3162
It probably is related but it is "well known" that global variables are not visible in a global lambda
https://community.openhab.org/t/is-there-a-way-to-create-functions-routines-in-openhab/3126
Quote "Global lambda have no access to variables or items so you have to pass everything you want to reference to it "
https://community.openhab.org/t/reusable-functions-a-simple-lambda-example-with-copiou

[2017-03-23 17:47] jvivanco28 commented on #3168
@danchom I can reproduce the issue by doing the following:

`PUT /rules/rule_1`
`{
	"conditions": [],
	"name": "A Test Rule",
	"triggers": [{
		"id": "1",
		"label": "an item state changes",
		"description": "This triggers the rule if an item state has changed.",
		"type": "core.ItemStateChangeTrigger",
		"configuration": {
			"itemName": "some_item_id"
		}
	}],
	"configDescriptions": [],
	"action

[2017-03-23 19:38] pdegeus commented on #3160
Thanks for looking into this! I had a big argument with Eclipse IDE trying to start your test and eventually gave up (sorry, I'm an IntelliJ guy).

However, I cloned my openHAB VM, messed around with my config and found a big clue: the issue does not occur with a single items file. When adding a second file, the items in the first file are 'added' to the listeners again. When adding a third items

[2017-03-24 08:36] maggu2810 commented on #3168
@danchom Currently the ActionDTO uses `Map<String,String>` for `inputs`. Could this be related to.

[2017-03-24 08:45] maggu2810 commented on #3160
You are right. It could be reproduced using multiple item files.

* demo1.items

[code]

* demo2.items

[code]

* demo3.items

[code]

This results into:

[code]

[2017-03-24 11:59] danchom commented on #3168
I think the @jvivanco28 is mix the
ActionDTO and ActionTypeDTO where the inputs field is define as List<Input> objects and they are two different type of data.

The ActionDTO represents a action instance part of rule. Its inputs field is a map of String keys and String values. This map shows where the inputs of action instance are connected to. For example it should be: "
{
 "input1": "trigger1.ou

[2017-03-24 16:37] jvivanco28 commented on #3168
Yep. I think you're right. A bit of a mix up on our end differentiating between the Action and ActionType models.

Thanks for the quick and helpful feedback, guys. Very much appreciated!

[2017-03-24 16:37] #3168 closed

[2017-03-24 18:24] timonreinhard opened #3183 "Wemo Binding causes an IllegalArgumentException on OSRAM Lightify Flex discovery"
Wemo Binding 0.9.0.b2 (on openHAB 2.0.0.b5) causes an `IllegalArgumentException` when an OSRAM Lightify Flex device is paired with the discovered Wemo Link bridge. As a result, not any of the devices connected to the bridge get found.

[code]

[2017-03-24 19:04] hmerk commented on #3183
Only original WeMo LED bulbs are supported by the binding.

[2017-03-24 21:02] timonreinhard commented on #3183
This is what I understood from the docs, right. I have two original Wemo bulbs and the Osram mentioned above in my setup. My expectation was that the Wemo bulbs get discovered while the Osram will be ignored. I'm however facing that no bulb is found and the exception above is thrown every couple of seconds, even after removing the Wemo Link thing.

[2017-03-24 22:17] hmerk commented on #3183
Ok, this sounds clearly like a bug. I will check this asap.

[2017-03-24 23:29] hmerk commented on #3183
To track this down to the root caus, could you please set the WeMo binding to log level trace
**log:set TRACE org.eclipse.smarthome.binding.wemo**
and post your discovery output.

[2017-03-26 09:00] lolodomo commented on #3156
Any answer ?

[2017-03-26 16:41] kaikreuzer commented on #3156
I think this is going the wrong way. Actually, I feel it was already a mistake to add label and description to the channel, because I see people now start misusing this to define "string channel type" and "switch channel type" and then reuse these throughout their things - this is not at all the intention of the channel types, which should be a specific functionality of a device (and two "temperat

[2017-03-26 17:24] timonreinhard commented on #3183
[code]

[2017-03-26 19:14] kgoderis opened #3184 "Proxy time-outs"
I am not sure whether this is related to https://github.com/eclipse/smarthome/issues/2734, but I recently moved to a new linux-based OH2 runtime environment, and suddenly, proxied images are not longer displayed, and in fact, time out. I *think* this is related to OH2/ESH and not nginx in front of OH2, but this is what I get in the OH logs (never mind the exact URL, I have 6 or so images that fail

[2017-03-27 02:16] Marty56 commented on #2410
Any update so far?

[2017-03-27 06:17] kgoderis commented on #3184
For all completeness, nginx is running on the same host as OH, and the upstream URL work fine when used directly in a browser

[2017-03-27 07:17] lolodomo commented on #3156
Your approach means almost one channel type per channel. In this case, the limit between channel and channel type is not so clear for me.
But ok we can go in this direction too and multiplying the channel types.

[2017-03-27 09:11] JueBag opened #3185 "Change to DayLigth saving Time causes stop in timerelated persistence strategies"
As reported in the OH community ( [Link](https://community.openhab.org/t/openhab-not-saving-mesaurements-after-daylight-saving-time-change/25647)) the change to DayLigth Saving Time caused persistence schedules that are only using a time based strategy (everyMinute etc.) to stop at the time-switch.

Checks done on my side:
Actual values continued to be displayed.
The check of the database (rrd4j w

[2017-03-27 09:14] markusjw commented on #1700
Besides the fact that the web UI should not block, there is a general question:
Should a slider be shown for values with large number ranges? In these cases, the slider is no longer usable for precise inputs.
@kaikreuzer What do you think?