[2016-09-06 07:59] maggu2810 commented on #2121
@kaikreuzer Thank you for the response.
I assume also if the startup is done completely we cannot assume that all items has been created.
IIRC the ChannelItemProvider (correct me if I am wrong) service can be deactivated and is so an optional feature.
If this is correct, a channel item link exist but the item is not available as long as it is created by some other logic / by the user / ...
Can't w

[2016-09-06 08:04] sjka commented on #2121
on a first look, I think the root cause lies within the ´AbstractLinkRegistry.getLinkedItems(UID)´ method. Although it claims that it returns items (or better: the names of the linked items), it actually only returns the pointers to the items without checking if they actually exist.
However, changing this should be done carefully. Also we need to think about the semantics of ´ThingHandler.channelL

[2016-09-06 08:05] kaikreuzer commented on #2121
This is correct, but this situation could also be considered to be an inconsistent system setup and thus a warning log message about it might be adequate.

This is what '[BaseThingHander.channelLinked()](https://github.com/eclipse/smarthome/blob/master/bundles/core/org.eclipse.smarthome.core.thing/src/main/java/org/eclipse/smarthome/core/thing/binding/BaseThingHandler.java#L195)' does as a default

[2016-09-06 08:10] sjka commented on #2116
Ah, I see. Thanks for the detailed explanation. No, there I also have no idea. @tomhoefer anything we have missed?

[2016-09-06 08:11] maggu2810 commented on #2121
I think so.

Really? I need to check it again, but it does not fit to my observation yesterday.

My binding stores the last set channel state and calls updateStatus on a refresh command using the last stored channel state.
So, if the refresh command is send on "link" AND on "item creation" I would expect that the state of the item is not NULL but the one the channel updates before too.

[2016-09-06 08:18] sjka commented on #2115
There are formatters for all the DSLs (e.g. [ItemsFormatter.xtend](https://github.com/eclipse/smarthome/blob/master/bundles/model/org.eclipse.smarthome.model.item/src/org/eclipse/smarthome/model/formatting/ItemsFormatter.xtend)) and as far as I can see they were added more than a year ago. I just tried it out and it seems to work for me.
What version/build were you using? And in which DSL didn't i

[2016-09-06 08:21] maggu2810 commented on #2121
I modified the Yahoo Weather binding.
* disable the automatic refresh
* return a fixed number on refresh for every channel

[code]

[code]

[code]

The refresh command is not executed on item creation, too.
Or am I missing something.

[2016-09-06 08:47] phieber commented on #2115
The DSLs are working fine. They get indented properly.
I was referring to the fact that if I screw up the formatting for whatever reason (copy paste/..), I cannot easily reformat it properly in one shot. I am using the latest build (v0.8, I suppose).

[2016-09-06 08:59] kaikreuzer commented on #2121
Ok, so in this case it is the handler that creates the channel state updates and the problem is that `ThingHandlerCallback.stateUpdated` does not check for the existence of the item, before posting the event. Again, it assumes that if the link exist, the item must exist.

No, as I said, it is called upon link creation (by ThingLinkManager.informHandlerAboutLinkedChannel), but only "if the thing is

[2016-09-06 15:25] kaikreuzer commented on #2117
After a looong, loooong debugging session, I hope I have finally tackled the problem!

[2016-09-06 16:07] #2062 closed

[2016-09-06 16:49] maggu2810 opened #2127 "Thing Status enhancements"
Does it make sense to allow the control of things that status is not online?

[2016-09-06 17:01] maggu2810 commented on #2109
I have replied to #2108 about this topic

[2016-09-06 17:07] maggu2810 opened #2128 "JmDNS: multiple versions in TP"
The target platform contains multiple versions of the JmDNS bundle:
* 3.4.2
* 3.5.1

There is one entry for _org.jmdns.feature.feature.group_

[code]

and one entry for _javax.jmdns.feature.feature.group_

[code]

Has this done by intention?

[2016-09-06 17:11] #2118 closed

[2016-09-06 17:33] #2121 closed

[2016-09-06 17:34] kaikreuzer commented on #2127
Definitely YES! Because OFFLINE might be an outdated status and it is possible to reach them.
Why did you enter this issue? Is is currently NOT possible to control them?

[2016-09-06 17:36] kaikreuzer commented on #2128
No.

[2016-09-06 17:39] #2128 closed

[2016-09-06 17:46] kgoderis commented on #2105
mmh... it assumes that at each call of getTimeAfter, the afterTime is later than the previous afterTime from the previous call, no? It also has a bit of a performance issue because the set is recalculated all the time.

What if we change the strategy completely? and calculate a new candidate set with every call to getTimeAfter()?

we define "Set<Date> parseExpression(expression, afterTime)" that d

[2016-09-06 17:47] kgoderis commented on #2105
You have a point here, but I have to revisit what I have implemented (E.g. return null or alike in certain cases)

[2016-09-06 17:50] kgoderis commented on #2105
I must admit that I had first developed the RFC5545 part, and then added in cron. I think that the solution lies in setting the startDate to afterTime in case of certain types of expressions, like cron, that do not define explicit start dates.

[2016-09-06 18:38] maggu2810 commented on #2127
What do you mean with outdated status? The Paper UI is using SSE to keep track of the events and already adds / removes stuff in certain views if some information changes. Or do you mean a thing handler does not set the status correctly?

Hm, because I don't see any reasons to be able to control actuators if the handler states that he cannot talk to the devices.

[2016-09-06 19:41] kaikreuzer commented on #2127
I mean you never know whether your device is reachable or not if you use radio. In many cases, the ONLINE/OFFLINE status is only set by a handler, if it (un)successfully sent a command to the device over radio. successful->ONLINE, otherwise->OFFLINE. But if you send the next command 5 minutes later, you have no clue whether you can reach it or not. So you have to try it out.
And no, especially on

[2016-09-06 20:00] maggu2810 commented on #2127
If a thing handler don't know if a device is online or offline this is a pain but is in responsible of the handler and there needs to be found a way to handle that. But I don't think that the user should see a offline device that could be controlled.

[2016-09-06 20:03] maggu2810 commented on #2127
Wouldn't make another state sense, "unknown (offline or online)" and keep an offline to mark devices offline?

[2016-09-06 20:03] kaikreuzer commented on #2127
Think of the label "OFFLINE" as "failed communicating with it 10 minutes ago". The status can NEVER be up-to-date, all it tells you is something about the past. Believe me, I had many such discussions in the past already, all with the same result...

[2016-09-06 20:40] #2117 closed

[2016-09-06 21:06] igorrobertifoc commented on #2117
Goooood! Bravo!
where it was the problem just to know?

Thank you

[2016-09-06 21:22] sjka commented on #2115
Shift+Cmd+F works fine on MacOS, so I guess it must a problem with the key bindings for Windows then.

[2016-09-06 23:02] jmichaluk commented on #2098
This item was added when approving a discovery from the Hue Bridge.

[2016-09-07 06:01] maggu2810 commented on #2117
You can have a look at #2125

[2016-09-07 07:03] #1600 closed

[2016-09-07 07:55] maggu2810 commented on #2127
I still need to think about, but at the moment I would still prefer if the thing handler could then use two different offline states (offline_weak, offline_strict, or something similar).
The weak variant could be used if no real online / offline could be detected.
The weak strict could be used where the handler really knows that the device is not reachable.
For example all devices that are accesse

[2016-09-07 08:06] marinmitev opened #2131 "Synchronization in Automation RuleEngine"
Please see the comments here
https://github.com/eclipse/smarthome/pull/2102#issuecomment-244394912

RuleEngine.java has several blocks with `synchronized (this) ` which can be optimized by using separate locks - one for the map containing rules, another for the map containing rule statuses

[2016-09-07 08:13] phieber commented on #2115
Tried it once more and it works with .items but not with .sitemap files. Can you confirm this on MacOS? I am using the Linux version.

[2016-09-07 08:33] kaikreuzer commented on #2127
Let's speak about "Status", not "State" here.
I don't think we should introduce different OFFLINE statuses, but we could define new sub-statuses for OFFLINE, if you think this is worthwhile.
Btw, I would also suggest to introduce a new Thing status like UNKOWN, which should be the one set by the framework as soon as the handler is initialized and as long as the handler did not yet figure out wheth

[2016-09-07 09:00] tomhoefer commented on #2116
As far as I know currently you can only use the ```ConfigI18nLocalizationService#getLocalizedConfigDescriptionParameter``` to internationalize a config description parameter.

Do you require additional operations ```withLabelKey``` and ```withDescriptionKey``` that should replace the current operations ```withLabel```and ```withDescription``` or should the builder be extended by the new operations

[2016-09-07 09:18] kaikreuzer opened #2134 "Don't show option keys in control UI"
If a channel type define state options, they currently appear like this in the control UI:

![screen shot 2016-09-07 at 10 34 05](https://cloud.githubusercontent.com/assets/3244965/18306562/b56b5bf8-74ec-11e6-9bea-3cd97dca1a81.png)

I would prefer to only show their label text, i.e. None, Alert, Long Alert in this example.

[2016-09-07 09:28] kaikreuzer opened #2135 "Sliders for color items do not work as expected"
I am controlling a hue bulb through the sliders of the Paper UI:

![screen shot 2016-09-07 at 11 23 55](https://cloud.githubusercontent.com/assets/3244965/18306760/982e00da-74ed-11e6-8a14-75c443255927.png)

I noticed, that the Paper UI does not send correct commands, if I drag a slider to a new location - the new position on the "button up" event is not used, only the "automatic" commands that are

[2016-09-07 09:43] cdjackson commented on #2116
I agree that this can be done. But I was thinking that it made sense to have a consistent interface where i18n is supported more natively. In the ZWave binding, I’ve effectively had to implement a number of methods to allow me to use i18n and it seems to make sense to make it easier to use. I believe the status provider has this (if I remember correctly).

[2016-09-07 11:12] tomhoefer commented on #2116
@cdjackson can you share the link to the repository for the ZWave binding?

[2016-09-07 11:16] cdjackson commented on #2116
It’s in the openhab organisation on github - it’s a separate zwave repo so easy to find, but am on my mobile - if you can’t find it I can provide the link tonight.

[2016-09-07 11:16] maggu2810 commented on #2116
https://github.com/openhab/org.openhab.binding.zwave

[2016-09-07 12:35] kaikreuzer opened #2136 "Avoid error logging in HttpUtil"
My log is full of errors like
[code]
This is due to the fact that the AVM Fritz binding is using HttpUtil for accessing the device and the device is not reachable (which is expected, because I am in a different network) - this should result in the Thing being OFFLINE, but not in a log cluttered with errors.

I would suggest to change the methods in HttpUtil to only log debug at max, but additional

[2016-09-07 12:36] aounhaider1 opened #2137 "Rule addition event's structure is wrong"
I am listening to rule addition event on endpoint "smarthome/rules/*/added". The structure of received rule is not correct. In the JSON below is an Action with some configurations, these configurations are nested inside properties which is not correct.

[code]

[2016-09-07 12:40] kaikreuzer commented on #2137
It seems to me that RuleEventFactory was missed when RuleDTO was introduced - The rule events still use Rule, not RuleDTO for serialization.

[2016-09-07 13:13] kaikreuzer commented on #579
@splatch It would be great if we could again more actively look into this. It is one of the few last missing features that is required before openHAB 2.0 can be released. So I would very much hope that we can come up with at least a basic starting point (to at least use credentials globally, similar to what openHAB 1 offered). Feel free to create an unfinished PR as a starting point for further di

[2016-09-07 13:24] aounhaider1 commented on #2134
Should it be same on other places like item/thing dropdowns as well?

[2016-09-07 13:29] #2134 closed

[2016-09-07 13:30] kaikreuzer commented on #2134
No, not for parts that the user might have defined by himself (what he does for item & thing names).

[2016-09-07 14:30] mhilbush opened #2140 "[paperui] Thing status not updated on page"
I'm on build 469.

If status of a thing changes, the updated status is not showing in paper ui (in fact, the status disappears completely).  I'm seeing this on multiple browsers (Chrome, Firefox, Safari) and on multiple platforms (Linux, Windows, Mac).

Before:
![before-stopping-astro](https://cloud.githubusercontent.com/assets/19286354/18314448/1db7793c-74e1-11e6-9b27-9eb8ad95e018.jpg)

After sto

[2016-09-07 14:38] mhilbush commented on #2140
I also saw these warnings in the log, but I'm not sure if these are related, as I can't figure out how to make them reoccur.

[code]

[2016-09-07 15:47] maggu2810 commented on #2140
I don't think the error log is related. I have seen this error for a long time, too. But I forgot to report. I don't know if it is still present in the current master. But it is easy to reproduce.

[2016-09-07 17:53] #2137 closed

[2016-09-07 17:55] #2135 closed

[2016-09-08 06:15] splatch commented on #579
@kaikreuzer I will try to get last step on this sunday and wire in authentication into jaxrs publisher. This should close gap for now.

[2016-09-08 08:00] svilenvul commented on #2136
yes, I can do it

[2016-09-08 11:09] svilenvul commented on #2136
Additional PR will be opened for the openhab2-addons bundle that are affected as well:

- org.openhab.binding.astro
- org.openhab.binding.avmfritz
- org.openhab.binding.freebox
- org.openhab.binding.hdanywhere

I will make a sample exception handling in the PR, but I guess the developers that implemented the bindings will take a look, if it is ok as well.

[2016-09-08 13:19] #2140 closed

[2016-09-08 14:24] #2040 closed

[2016-09-09 09:32] kaikreuzer opened #2149 "Paper UI renders switches with state options"
I have a Switch item ("Switch Plug" in demo.items), which is linked to a switch channel of a Thing.
This is what the Paper UI renders:

![bildschirmfoto 2016-09-09 um 11 36 00](https://cloud.githubusercontent.com/assets/3244965/18382521/99ee1dd4-7681-11e6-90f7-3b708fa5d33b.png)

It used to be a toggle in the past.

[2016-09-09 11:56] aounhaider1 commented on #2149
Are you sure that the option array is empty in channelType? The dropdown is shown only when there are some options in channelType.

[2016-09-09 12:20] kaikreuzer commented on #2149
Ah, many thanks! That is indeed a bug in the Z-Wave binding...

[2016-09-09 12:20] #2149 closed

[2016-09-09 13:22] danchom commented on #2057
Hi maggu2810, Sorry for the late response, but I was seek. I see that there is merged PR for this issue.
Is still have a problem with setEnable()? I've tested a rule with timer (* * * * * * ?) and it is stopping immediately.

[2016-09-09 13:28] danchom commented on #2131
I'm not agree about that. One lock grantees that each rule (in the rule engine) has corresponding status.

[2016-09-09 14:53] maggu2810 opened #2150 "Paper UI: state for r/o items with options broken"
HEAD: 9a7ea3237656cd4380c7ac99a8284a8c30a53e4d

I have a thing that is using a channel of this type
[code]

I added a thing and have an item (automatically created) connected to the channel.

Previously the Paper UI shows me
* "alpha" if the item state is A
* "beta" if the item state is B
* "charlie" if the item state is C

Now I see nothing value in the Paper UI.

[code]
[code]
[code]

The Paper

[2016-09-09 15:55] cdjackson commented on #2149
@kaikreuzer why aren't options allowed on a switch?  The ESH categories defines many items as switches, but ON/OFF states are not always appropriate. While a toggle might be the suitable representation in the case of a light switch, what about the state of a door state - maybe someone wants to show open/closed. Or what about if you're just displaying a state and want "On" or "Off". Shouldn't optio

[2016-09-09 17:15] kaikreuzer commented on #2149
@cdjackson Yes, options are permitted in case they are true. Note that I kept all your alarm "Switch" channels in place with options (saying "Ok" and "Alarm"). But this channel type that I fixed is the "generic" power switch and for this a toggle is definitely the right widget - a drop down does not make sense.
Btw, the options were even wrong, they sent "On" and "Off" instead of "ON" and "OFF".

[2016-09-09 17:25] cdjackson commented on #2149
I don't disagree that toggle is a perfect representation for the widget - for sure.

My question is really if PaperUI shouldn't provide a toggle control even when options are provided. Ie the logic in PaperUI could have been that any control with type switch, use the toggle even if options are provided.  This would have allowed options to be specified, such that if someone used a text widget sitem

[2016-09-11 11:38] kgoderis commented on #1200
@kaikreuzer I started putting the code together for this feature, I just noticed that there are bundles now that implement the "say" AbstractConsoleCommandExtension, e.g. o.e.s.io.voice.internal.extensions and one o.e.s.core.voice.internal. I presume that io.voice is depreciated ?

[2016-09-11 12:04] kgoderis commented on #1200
@kaikreuzer mm... can you elaborate on that ? I have been studying the old and new code, also javax.sound, and the only way to support mp3 is through an external lib like jl

for playSound() there are two approaches: 1. is to be similar to the VoiceManager class, e.g. pick up an mp3 file (through jl), put it in an AudioStream, and then pick/choose the AudioSink to play it on
or 2. make each mp3 a

[2016-09-11 18:18] lolodomo opened #2152 "Paper UI: empty control panel"
Using snapshot 464, when I click on "Control" in Paper UI, nothing is displayed, I just got an empty frame. Sometimes, I can see the display of controls during a very short time and then they disappear for ever.
Either with Firefox on my PC or with Chrome on my Android tablet.
This was working for me in older snapshots.

[2016-09-11 18:36] kaikreuzer commented on #2152
It only shows Things there, if they have enabled channels.
It works fine for me and I am not aware of any bug reports.

If you really have a reproducible case, please provide exact details including log messages of the Paper UI.

[2016-09-11 18:36] #2152 closed

[2016-09-11 18:45] lolodomo commented on #2152
I have of course several things (defined in files) and several channels linked to items.
I have disabled the simple mode.
I noticed no exception in the logs relative to Paper UI.
In older snapshots, it took a lot of time to display all my things and I got a message from the browser asking me if I want to continue the script (something like that).

[2016-09-11 18:54] kaikreuzer commented on #2152
So can you reproduce it in the demo setup with simple mode activated as well? If not, try to find out what makes the difference!

[2016-09-11 20:18] kaikreuzer opened #2153 "Layouting issues on Smartphones"
While testing the Paper UI on a smartphone, I came across many issues regarding the layout (mainly due to the constraint space). Although smarthome support might not be the top priority, I think we should try fix the most obvious issues there. Here are some screenshots:

Overlaying:
![screenshot_2016-09-09-16-07-22](https://cloud.githubusercontent.com/assets/3244965/18420197/344d533a-786d-11e6-81f

[2016-09-11 20:19] kaikreuzer opened #2154 "Basic UI: Colorpicker button short press not working"
@resetnow I just noticed that when using a Colorpicker in the Basic UI, no command is sent if I press up/down buttons short. I would expect them to send ON/OFF. A long press works (which sends INCREASE/DECREASE).

Could you have a look, please?

[2016-09-11 20:21] kaikreuzer opened #2155 "INCREASE/DECREASE not working for LIFX"
@kgoderis While preparing a demo, it appeared to me that my LIFX Color 1000 did not react on any INCREASE/DECREASE commands to the color channel. I didn't yet debug myself, but is this a known issue?

[2016-09-11 20:45] kaikreuzer commented on #1200
This does not exist anymore (only on your local filesystem...?) - so yes, you are right: This one is deprecated!

With decoupled I mean that "playSound" can be within ESH and it creates an AudioStream from a file (and also setting the appropriate AudioFormat, be it WAV or mp3 or whatever). In OH2, I started implementing an AudioSink similar to the io.javasound, but which comes with jl and thus has

[2016-09-12 06:04] kaikreuzer commented on #2149
I think there is no general right answer, since we do not have the flexibility here as when using sitemaps where the user can specify whether he wants toggles or selection options instead.
As Paper UI is mainly for setup&testing the devices, I think it makes sense to show the option texts, if they are available - rendering a toggle would suppress this information, so you would not have a chance to

[2016-09-12 06:33] cdjackson commented on #2149
This issue means that the state descriptions now influence the widgets - this doesn't seem right to me. I really think that people should be able to specify a state description for a switch.

Maybe, but you're telling me that in order to make the widget work in PaperUI, I'm not allowed to have state descriptions, so they aren't rendered anyway.

Let's leave it as it is untill after the next beta,

[2016-09-12 06:43] kaikreuzer commented on #2149
The Paper UI treats the state options like the Classic UI behaves when it finds "mappings" defined; if there is no special information (On/Off simply does not provide any additional info), this should be omitted.

As I said, this is only the case for the Paper UI, which is meant for administrative purposes and NOT for operation. On any other UI, the user can (e.g. through sitemaps) decide how it s

[2016-09-12 07:55] cdjackson commented on #2149
But it does since by adding these states into the system, it can be internationalised. It can also be On/Off rather than the actual ON/OFF enum states.

Sure - fully appreciate that, and again, the system should allow state descriptions to be added. Just because PaperUI doesn't support them is not a good reason to remove them (IMHO anyway).

[2016-09-12 08:23] maggu2810 commented on #2150
I need to add, that it is broken for read only channels but working for the read / writable ones.

[2016-09-12 08:34] maggu2810 commented on #2150
I assume it has been broken by 81a0fdf0e47c0e1d4ebca22227a36a94bb56f963

[2016-09-12 12:33] kgoderis commented on #2155
It is a bug indeed. We simple forgot to include in the handleCommand() switch() statement

[2016-09-12 13:38] mdeneen commented on #1393
I also receive this when using the Pushover service.  The rule itself is very simple and is really just in place to give me confidence in the sensor:

`rule "notifyGarage"
when
        Item zwave_device_6c398668_node3_sensor_binary changed
        pushover("Door state is " + zwave_device_6c398668_node3_sensor_binary.state, "phone", 0)
end`

[2016-09-12 19:42] kgoderis opened #2160 "org.eclipse.smarthome.core.audio : who is responsible for closing (Input)Streams?"
Not really an issue, for now, but with respect to the Audio... API, which class is responsible for properly closing InputStreams after usage? As far as I can see, this does not happen at all

[2016-09-12 20:29] kgoderis commented on #1200
Ok - that's the route I have taken. I think we have done a bit of double work here, I just happen to read this post after a night of coding away. I have a jl based sink, but had to use some PipedInputStream/PipedOutputStream to get things done

From what I understood afterwards, I assume that it is up to the Sink to deal with the format specific stuff, all the rest before is just byte piping

Done

[2016-09-13 05:08] rocket59 commented on #2031
@kgoderis Sorry for the late response. I meant that the control interface within paperui, the color channel has 3 inbuilt sliders (for color, brightness and saturation). The brightness slider is unable to correctly control the dimming level for the bulb.

[2016-09-13 07:23] kgoderis commented on #2031
@rocket59 I am unable to use paperUI in my setup so hard to comment. I thought the paperUI generated a slider for each channel defined in the Thing; saturation is not one of them. Maybe I am missing something here.

[2016-09-13 07:54] #2072 closed

[2016-09-13 08:41] kaikreuzer commented on #2031
@kgoderis The Paper UI renders three sliders for a "Color" item/channel, one for hue,saturation,brightness.

@rocket59 I cannot reproduce your issue. Using the current code, I can use all 3 sliders and my LIFX reacts as expected to all of them.

[2016-09-13 08:53] kaikreuzer commented on #2160
The consumer, i.e. the AudioSink should make sure that it is closed.

The only existing implementation of an AudioSink in ESH is the AudioPlayer and this imho correctly closes the input stream, see https://github.com/eclipse/smarthome/blob/master/extensions/io/org.eclipse.smarthome.io.javasound/src/main/java/org/eclipse/smarthome/io/javasound/internal/AudioPlayer.java#L91.

I therefore close this

[2016-09-13 08:53] #2160 closed

[2016-09-13 08:55] kaikreuzer commented on #1200
Probably not, because I actually didn't get the jl-sound bundle to work yet. If you did, I am very much looking forward to your PR :-)

[2016-09-13 11:24] aounhaider1 commented on #2153
```Font size too huge for descriptions```
Do you mean size of just the headings or overall size of the text?

[2016-09-13 11:29] kaikreuzer commented on #2153
Definitely the headings and I think even the rest can be a bit smaller. It should somehow be easily visible where the one thing type info ends and the next one starts.

[2016-09-13 13:47] #2045 closed

[2016-09-13 13:48] kaikreuzer commented on #1590
The originally reported issue is imho solved since a while.

[2016-09-13 13:48] #1590 closed

[2016-09-13 15:39] #2153 closed

[2016-09-13 17:02] #2150 closed

[2016-09-13 17:07] resetnow commented on #2154
On a singe press the colorpicker buttons are supposed to send a single INCREASE/DECREASE command, which they don't do for some reason. I'll fix it a bit later. Regarding ON/OFF, wouldn't it be more logical from UX standpoint to send INC/DEC instead? These buttons look like ones used in setpoint and setpoint doesn't act as on/off.

[2016-09-13 17:53] kaikreuzer commented on #2154
No, it used to be like that in the Classic UI from the beginning. And if a INC/DEC is wished, you can do so by a long press. But VERY often (if not most of the time) you simply want to turn the light on or off, so this imho makes a lot of sense. Btw, most physical wall switches that also operate as dimmers behave in a similar way.
For setpoint, this wouldn't really make sense, since you hardly eve

[2016-09-13 18:55] resetnow commented on #2154
OK, got it

13 сент. 2016 г. 20:53 пользователь "Kai Kreuzer" <notifications@github.com>
написал:

[2016-09-13 19:44] kgoderis opened #2162 "javasound : NPE in AudioPlayer:convertAudioFormat()"
At various places in the codebase we create AudioFormats with a lot of null values for things like frequency (for example JavaSoundAudioSink line #45). Feeding those AudioFormat objects to the method mentioned above, in order to convert them to an javax.sound.sampled.audioformat will throw an NPE in lines 113 and beyond. In my use case, feeding a .wav file (from the filesystem) with an AudioFormat

[2016-09-13 19:47] kaikreuzer commented on #2162
Having null values was only meant for format matching, when a service declares what it supports. A concrete AudioFormat (of a stream) was supposed to have all meta-data correctly filled in.

But I see your issue: When reading WAV or mp3 from the file system, you stand no chance to figure out their bitrate etc. So yes, the code should be adapted to also be able to cope with incomplete format inform

[2016-09-13 22:29] lolodomo opened #2164 "Sonos binding: new channel to know what source is being played"
It can be useful when working with automation rules to have a way to know what a Sonos device is currently playing. For example, I would like to know if a particular TuneIn station is being played.
So we need to add a new channel that will match CurrentAVTransportURI.

I will implement this enhancement.

[2016-09-13 22:38] lolodomo commented on #2152
@kaikreuzer : where can I find traces produced by Paper UI to debug this issue ?
What are the recent changes with the Control frame ?
Is there something changed relative to a timeout ? I ask this question because when it works in the recent past, it takes several seconds to display the content of the frame.

[2016-09-13 22:46] jmichaluk commented on #2098
Steps to reproduce:

[code]

- Add hue binding through paperUI
- Add hue bridge through paperUI
- Add "Front Door" (hue Dimmable Light) through paperUI Inbox.

`docker restart openhab
`

[2016-09-14 06:39] kaikreuzer commented on #2152
I'd like to forward these questions to @aounhaider1, the master of the Paper UI ;-)

[2016-09-14 06:46] maggu2810 commented on #2152
@lolodomo You can open the developer console of your browser and have a look at.
Some time ago I realized that e.g. the thing type definitions (loaded by the control page) of the Z-Wave binding have a size of 1.5 MB -- the transfer of such a big content and parsing etc. has been caused the delay on my system. At least this delay could be identified by the developer console of the browser.
But perh

[2016-09-14 07:45] kaikreuzer commented on #1729
Actually, I think we can also split the implementation in two separate steps here:

1. Adapt the REST API to only return the list of thing types with reduced information and let the UIs request the "full glory" through an individual REST call for a specific thing type. This step should be easy and it would speed up the Paper UI right away (since I have heard many complaints about loading speed due

[2016-09-14 08:03] #2091 closed

[2016-09-14 09:02] kaikreuzer commented on #602
Question: Where shall we put such a demo packaging?
My suggestion is to provide a fully stand-alone build, i.e. a pom.xml that does not depend on any of the other Maven projects in the repo, but instead assembles the runtime from the artifacts on repo.eclipse.org. This has several benefits:
- We only provide these files as an example, they are NOT executed as part of our build - we therefore do no

[2016-09-14 09:39] maggu2810 commented on #602
I would vote for a different repository as it has been done for the EnOcean driver already.
We have separate issue and pull request trackers, etc.

[2016-09-14 09:41] kaikreuzer commented on #602
Any suggestion for its name?

[2016-09-14 09:52] maggu2810 commented on #602
Perhaps "smarthome-dist-concierge-demo"?

[2016-09-14 09:55] kaikreuzer commented on #602
It isn't really that much about concierge, rather an example to show how to package an individual runtime. So maybe "smarthome-demo-packaging"?

[2016-09-14 09:57] sjka commented on #1928
@lolodomo did it?

[2016-09-14 10:00] chrisschauer commented on #602
I thought it's a good idea add "minimal" to its name because it should catch some guys who want use it on a embedded device with minimal footprint.

[2016-09-14 10:02] sjka commented on #2115
argh, I missed that: There IS a formatter for sitemaps too, but it's not doing anything useful:
[SitemapFormatter.xtend](https://github.com/eclipse/smarthome/blob/9609214/bundles/model/org.eclipse.smarthome.model.sitemap/src/org/eclipse/smarthome/model/formatting/SitemapFormatter.xtend)

[2016-09-14 10:03] kaikreuzer commented on #602
@JochenHiller speaks in https://github.com/eclipse/smarthome/issues/602#issue-120137718 about "optimized ESH distribution" - imho "minimal" is relative. To me it would mean that it does not even include the Paper UI (as a UI is something optional), but this might be too minimal in order to be a demo package on which you can try out some stuff and see it working. Also, it might contain already one

[2016-09-14 10:08] kaikreuzer commented on #2115
Note that there is already an issue for this: https://github.com/eclipse/smarthome/issues/645
According to it, @planger has it on his to-do list, but not much has happened in the past year...

[2016-09-14 10:08] #2115 closed

[2016-09-14 10:28] lolodomo commented on #1928
I will check again but yes I think this issue is gone. I will close it myself before the end of week.

[2016-09-14 11:30] kaikreuzer commented on #602
Any further comments regarding the name? What is in common to all three suggestions is "smarthome-demo" - so we could take that as the intersection :-)

[2016-09-14 14:15] kaikreuzer commented on #602
@maggu2810 Would "smarthome-demo" be a valid compromise for you? If so, I will enter a bug for the webmaster to create such a repo.

[2016-09-14 14:48] maggu2810 commented on #602
If the setup is not related to Concierge only but allows different OSGi framework (e.g. Felix etc.), I assume it is okay to drop concierge from the name.

If it is a demo for packaging, why not keep "packaging" or "distro" or something similar in the name?

For a "smarthome-demo" I expect to demonstrate the possibilities of the Eclipse SmartHome system. This does not fit IMHO to a packaging demo w

[2016-09-14 14:50] kaikreuzer commented on #602
Ok, so "smarthome-demo-packaging" it is then?

[2016-09-14 14:54] maggu2810 commented on #602
"smarthome-demo-packaging" or "smarthome-packaging-demo"
I would prefer the second one but if you feel more comfortable with the first one, it is okay, too.

[2016-09-14 14:56] kaikreuzer commented on #602
"smarthome-packaging-sample" maybe? Your comment above made me now dislike the word "demo" ;-)

[2016-09-14 14:59] maggu2810 commented on #602
:+1:

[2016-09-14 15:30] kaikreuzer commented on #602
Ok, requested it: https://bugs.eclipse.org/bugs/show_bug.cgi?id=501436

[2016-09-14 18:50] kaikreuzer commented on #602
Repo has been created: https://github.com/eclipse/smarthome-packaging-sample

[2016-09-14 19:51] mhilbush opened #2174 "[ntp] Is timeout on call to gettime too short?"
@marcelrv

I'm seeing these warnings pretty regularly in my log file.  I expect it might be because the timeout value, `NTP_TIMEOUT` in NtpHandler, is set pretty short at 5000 ms.  I see this using a variety of different NTP pools.

[code]

[2016-09-15 08:35] aounhaider1 commented on #867
I was thinking about implementing this feature. Here is one idea about how it may be implemented:
We can have a link button in channels list. Clicking on it can open a dialog box with all the currently linked channels and a Autocomplete input field. User can search an item there and can link it to current channel. The new item will then be added to the list. What do you think?

[2016-09-15 09:02] #1483 closed

[2016-09-15 12:36] maggu2810 opened #2177 "Hue: handling of "Umlaut" not correct"
I connected a Hue bridge to an ESH system.
Instead of "Küche" (the german word for Kitchen) I see `K��che`.

So I assume the reading is not done using the correct charset.

[2016-09-15 14:33] aounhaider1 commented on #867
Here it is how it currently looks like.
Channels list with expandable icon:
<img width="946" alt="screen shot 2016-09-15 at 16 30 41" src="https://cloud.githubusercontent.com/assets/5161937/18553750/e9db4922-7b61-11e6-9d1c-0060ffae0c5f.png">
Expanded channel:
<img width="947" alt="screen shot 2016-09-15 at 16 30 18" src="https://cloud.githubusercontent.com/assets/5161937/18553751/e9de2958-7b61-11e

[2016-09-15 15:14] kaikreuzer commented on #867
lgtm - @lolodomo I guess that would meet your needs?

[2016-09-15 16:24] lolodomo commented on #867
lgtm. Just don't forget we should be able to delete a link too.

[2016-09-15 17:16] wborn commented on #2082
I have quite a few LIFX bulbs and also want things to be more speedy with the LIFX binding. After looking at the code to me it seems the main issue is that the `ThingManager` does not concurrently dispatch commands/updates to different Things.

`ThingManager.receiveCommand` uses the `SafeMethodCaller`. I wrote a simple test mimicking the `SafeMethodCaller` behavior. Most of the time it will just e

[2016-09-15 17:19] kaikreuzer commented on #867
Didn't you see the trash bin icons on the right?

[2016-09-15 18:18] lolodomo commented on #867
I see it now :)
very good.

[2016-09-15 20:03] chrisschauer commented on #602
I discovered some issues using concierge as runtime with non OSGi Bundles from maven repositories. I have a pom.xml with all required dependencies: https://github.com/chrisschauer/smarthome-demo/blob/master/pom.xml

For some Bundles/Jars Concierge throws a

[code]

The JARs does not always have a correct manifest and a defined Bundle-Name. I guess, if there is no bundle-name defined the exception

[2016-09-16 07:13] danchom commented on #2085
It is merged by PR #2086

[2016-09-16 07:13] #2085 closed

[2016-09-16 07:14] danchom commented on #2075
It is merged with PR #2076

[2016-09-16 07:14] #2075 closed

[2016-09-16 07:39] kaikreuzer commented on #2073
Yes, WeMo does not seem to be conform to HTTP specs (and neither to UPnP specs as we already know...)

I have improved the handling of such responses in HttpUtil with https://github.com/eclipse/smarthome/pull/2179, which should solve this issue.

[2016-09-16 08:25] marinmitev commented on #2131
ok, lets not complicate the things. I will close the issue

[2016-09-16 08:25] #2131 closed

[2016-09-16 08:31] danchom commented on #1862
It is fixed by PR #1987

[2016-09-16 08:34] kaikreuzer commented on #602
I doubt that there are SO many libs that are not already OSGi'fied. The message that you get rather suggests that you have the same bundle twice? If there's a jar without a manifest, I would expect concierge to simply ignore it.

We are not the only ones that need OSGi-compatible versions of these libs. Look e.g. at https://github.com/apache/camel/blob/master/platforms/karaf/features/src/main/reso

[2016-09-16 08:58] chrisschauer commented on #602
O.K Let me check via the concierge mailing list how bundles without manifests are handled. Maybe it's a bug in concierge. I will ask after the mechanism to identify a bundle, if there is no manifest.

[2016-09-16 09:04] kaikreuzer commented on #602
Better go and seek correct OSGi versions of the required bundles as stated above. After all, Karaf and others also manage to find them...

[2016-09-16 09:36] Mixajlo commented on #1729
I am about to start working on this issue. So, as @kaikreuzer suggested, I will remove the configDescription and the channels for now, but if you guys  ( @cdjackson , @aounhaider1 ) have something to add/remove, please let me know.

[2016-09-16 09:48] chrisschauer commented on #602
Of course i seek the correct OSGi version. But isn't easy for commons-* libs. Karaf also uses these libs from maven central and is able to start it. concierge can't start it. Due to this i wrote to mailing list.

[2016-09-16 09:52] vilchev opened #2180 "Modify org.eclipse.smarthome.automation.core to use DS"
By now automation.core module was activated through BundleActivator. Dependencies were tracked by implementing ServiceTrackers.

Extract ModuleTypeRegistry, RuleEventFactory, RuleRegistry, TemplateRegistry as declared components

[2016-09-16 09:57] aounhaider1 commented on #1729
One thing, removing channels from thingType will cause the control page of PaperUI to send a lot more request to server. Would that be fine?

[2016-09-16 10:03] kaikreuzer commented on #1729
Yes - one request per thing-type on the page, right?
In case we find this too inefficient, we could also provide the option to request a list of thing types within a single request, but I would first do without it.

[2016-09-16 10:07] aounhaider1 commented on #1729
Yes, for a few things it will be fine. But it will surely affect the performance if there are too many things.
List based request would be a good solution in my opinion.

[2016-09-16 10:16] cdjackson commented on #1729
Just to clarify my understanding - sorry for any repetition but I’m interested in making sure this meets the needs of ZWave since it’s the biggest ‘offender’ with the number of XML files ;)…

The index is there so that the system doesn’t need to load all the thing XML files on startup. It will provide a list of things in a single file, and will allow bindings and UIs to load this list (right?). On

[2016-09-16 10:26] kaikreuzer commented on #1729
Yes, more or less. What you have to keep in mind is that XML loading and REST responses are two different issues (that's why I suggested to split this issue into two): Even without any XML files, a binding could dynamically create 1000 thing types and thus the REST response would be too huge. So it is not "no detail until the thing type XML is loaded", but "no detail until the thing type is specif

[2016-09-16 10:41] cdjackson commented on #1729
Understood.

Correct.

Probably it's not needed in the REST response - I can't think of a use case at the moment at least.

[2016-09-16 11:23] vilchev commented on #2180
RuleRegistryImpl is tracking **TemplateProviders** via ServiceTracker

[code]

Here implementation uses **modifiedService** to be notified when the TemplateProvider service has been modified (templates from that TemplateProvider have been edited).

Along with **bind**, **unbind** methods from **Event strategy** ( one of the strategies for accessing services ) there is **updated** which can be used

[2016-09-16 11:56] kgoderis commented on #2082
@cbcoursera1 Note that the group concept in the LIFX protocol spec is different than the groups in openHAB. They are not necessarily the same, and I presume the LIFX groups match the groups as defined in the LIFX iOS app. AFAIK this is not something we can use, unless groups are equally defined in the iOS app and openHAB. This is a dangerous assumption.

[2016-09-16 11:57] kgoderis commented on #2082
@wborn I have also revisited the LIFX code, and the communication bit for each LIFX bulb stands separate from other bulbs, so the solution/problem lies outside of the binding, I think.

[2016-09-16 12:17] lolodomo commented on #867
@aounhaider1: will you consider the item type ?

[2016-09-16 12:33] cbcoursera1 commented on #2082
I definitely didn't want to make any assumptions, just providing some
information.

Thanks for having a look at how concurrent changing could be implemented.

On Sep 16, 2016 7:56 AM, "Karel Goderis" <notifications@github.com> wrote:

[2016-09-16 13:12] svilenvul opened #2181 "Improve Thing Handler Implementation documentation"
I have seen that there are a lot of ongoing changes (and some already merged) regarding the communication between a ThingHandler and Items - as you know they are created parallel at startup. I will mention some of them:

- [Refresh command on item linkage / creation](https://github.com/eclipse/smarthome/issues/1658);
- [Item initialization / item channel link handling](https://github.com/eclipse/s

[2016-09-16 15:49] tomhoefer commented on #2116
Because the ```ConfigDescriptionProvider``` is responsible for the translation we cannot avoid to use the ```ConfigI18nLocalizationService``` in the ```ZWaveConfigProvider```.

First of all you have to create the parameters as follows:

[code]

Then you should provide i18n properties files under ESH-INF/i18n containing the messages:
[code]

Pls check also the rules for creating such i18n keys here

[2016-09-16 15:54] cdjackson commented on #2116
Sure - I understand how to use i18n, that's not the issue, and I already use it extensively in ZWave. My point was to enhance the API to provide better support in a similar way to provided by the config status API.

I guess this isn't something that you consider is needed so I'll close this.

[2016-09-16 15:54] #2116 closed

[2016-09-16 15:57] tomhoefer commented on #2116
It would be feasible if we change the config description provider interface

[2016-09-16 15:59] cdjackson commented on #2116
Ok - it’s no problem. I just thought it would make it easier for others and be more consistent, but if it’s not so easy it’s really not a priority :)

[2016-09-16 16:10] lolodomo commented on #2152
I am mo more alone.

https://community.openhab.org/t/control-screen-paper-ui-only-show-things-split-second/14174

[2016-09-16 21:55] wborn commented on #2082
I implemented a proof of concept to create more concurrency in the command/update dispatching to Things. I've tested it with 6 LIFX bulbs in a room which now update near instantaneous instead of one by one. :-)

Besides LIFX I don't have other bindings with a lot of Things. So I can't test what the behavior with those are.

I've attached the proof of concept JAR which I tested with openHAB 2 beta

[2016-09-16 22:42] lolodomo commented on #2152
I have now installed snapshot 480 and the problem seems to have disappeared.

[2016-09-16 22:49] arstorey opened #2182 "Letter inside of Circle on Paper UI Thing Screen Still Relies on ThingType being part of the ThingUID"
In the file:  smarthome/extensions/ui/org.eclipse.smarthome.ui.paper/web-src/partials/configuration.html

The code that renders a circle with a letter beside it in the Thing view of the paper UI is getting its text from the 2nd field of the ThingUID string at index 1.  Since we now have the ability to change the TypeType of a Thing after its creation, this field is no longer relevant and changes h

[2016-09-17 06:29] kgoderis commented on #2082
@wborn Can you share the URL of your repo/branch where the code is sitting?

I have the KNX binding with >1500 Things in it, so that might be a good stress test

[2016-09-17 06:30] kgoderis commented on #2082
@maggu2810 @sbussweiler  @kaikreuzer  Pls join the discussion on concurrency in the .core.thing

[2016-09-17 06:46] danchom commented on #2180
As I remember, we have changed to use modified service method because the providers (especially script provider) to have opportunity to update supported module types (same with templates). I'm not sure if this functionality is still needed.  For me bind and unbind is enough to introduce module types and templates from providers. But if the  supper of OSGi R4.2 is not requirement, the updated can b

[2016-09-17 08:20] vilchev commented on #2180
In OSGi R4.2

**Bound Service Replacement**

It seems service modified case is handled with the bind/unbind (if dynamic strategy is used) and deactivate/activate of the component (if static strategy is used).

So it seems, to me, that it would work. However, if we put the **updated** in the component xml (To gain benefit from it (from OSGi R4.3+)), would it still run in R4.2. Best case scenario(in

[2016-09-17 08:58] wborn commented on #2082
@kgoderis  I just commited the code of the POC with c8d704f113120819c9108d780dc77ab44b539147.

It still uses the `SafeMethodCaller` which has its own threadpool that may become a bottleneck. That pool can be easily increased in `runtime/etc/services.cfg`.

[2016-09-17 09:04] vilchev commented on #2180
Just checked that Prosyst framework 7.5.* (R4.2) handles the **updated**, only the component namespace must be declared in v1.2.0

<scr:component xmlns:scr="http://www.osgi.org/xmlns/scr/v1.2.0"

[2016-09-17 10:55] lolodomo commented on #1928
Ok, this issue is not reproduced. Fix #1926 certainly fixed it. I close the issue.

[2016-09-17 10:55] #1928 closed

[2016-09-17 11:02] lolodomo opened #2183 "channelLinked not called by the thing manager"
At startup, sometimes the thing manager is running this strange sequence for a thing in a very short time:
- initialize()
- dispose()
- initialize()

In this case, channelLinked on the thing handler seems to not be called for the linked channels.

[2016-09-17 12:52] kaikreuzer commented on #2183
Please note that https://github.com/eclipse/smarthome/pull/2087 is in the pipeline to be merged. This is supposed to solve such issues - I'd suggest you re-test this once it is merged.

[2016-09-17 12:56] kaikreuzer commented on #2082
I would suggest to wait for https://github.com/eclipse/smarthome/pull/2087 to be merged as @sbussweiler did a lot of changes around that (and if I remember correctly, we also spoke about not having to wait for one handler to return before the next one is informed about an event).
I still need to find the time to review and test #2087, but as you seem to be very interested in the Thing handler func

[2016-09-17 13:06] lolodomo commented on #2183
Ok I will but please note that I can see that issue even without a bridgr thing. The astro binding is not using bridge.

[2016-09-17 13:19] wborn commented on #2082
@kaikreuzer  I just had a look at the [ThingManager](https://github.com/qivicon/smarthome/blob/aad5c86a603e0779b2889e8369b0ca64dd1094c2/bundles/core/org.eclipse.smarthome.core.thing/src/main/java/org/eclipse/smarthome/core/thing/internal/ThingManager.java) in that PR, but the behavior of `receiveCommand` and `receiveUpdate` are unchanged.

[2016-09-17 14:28] kaikreuzer commented on #2082
Hm, pity, I would have hope so... Nonetheless, I would suggest to first merge #2087 before creating further PRs for that class, in order to avoid merge conflicts.

[2016-09-17 14:28] kaikreuzer commented on #2183
#2087 is not only about bridges, but about the whole handler lifecycle.

[2016-09-17 15:15] kaikreuzer commented on #2182
@aounhaider1 Could you change this?

[2016-09-17 16:03] kaikreuzer commented on #2181
Yes, this documentation indeed needs some love :-)
Note that @sbussweiler also did some adaptions in the pending https://github.com/eclipse/smarthome/pull/2087/files#diff-22cc4dabffb6227204637be8c9c49b58.

[2016-09-18 08:44] lolodomo opened #2184 "Paper UI: unable to unlink a channel"
My thing is defined in a .things file.
Using Paper UI, I am able to link not yet linked channels to items but then I am unable to unlink it. Clicking the button, nothing happens, no messages logged.

[2016-09-18 08:54] lolodomo opened #2185 "Removing an item from the console or Paper UI fails"
If I suppress an item from my .items file and restart openHAB, the item is still present. Is it expected ?
Then if I try to remove it from the console, I get a success message but the item is still here:

[code]

[2016-09-18 09:02] lolodomo commented on #2185
When I try to delete it from Paper UI, I can see this message:
[code]
But then the item is not removed.
Remember that this item is no more in my .items file ... but was in the past.
Strangely, its label has changed after I suppress it from my .items file.

[2016-09-18 09:03] kaikreuzer commented on #2185
Are you sure you have the [simple linking mode](https://community.openhab.org/t/items-things-and-their-names/11001/9?u=kai) deactivated?

[2016-09-18 09:04] lolodomo commented on #2185
Yes, just checked.

[2016-09-18 09:06] kaikreuzer commented on #2185
It might actually be active nonetheless, if you try to switch it through the Paper UI. There was just a fix 3 days ago about that: https://github.com/eclipse/smarthome/pull/2173

[2016-09-18 09:06] lolodomo commented on #2185
Is there a console command to remove a link ? Maybe it fails because of there is a channel linked to it ? I created another issue, I cannot delete this link with Paper UI.

[2016-09-18 09:07] kaikreuzer commented on #2185
At least to clear all links from the database: "smarthome:links clear"

[2016-09-18 09:07] kaikreuzer commented on #2184
@aounhaider1 Could you check?

[2016-09-18 09:10] lolodomo commented on #2185
I am running snapshot 480.
The simple mode is disabled by a setting in my runtime.cfg file:
[code]
I just consult the setting in Paper UI but do not change it.

[2016-09-18 09:14] lolodomo commented on #2185
I suppressed my mapdb files and restart OH and now channel link and item are gone.
But there is apparently a real issue.

[2016-09-18 23:10] float2net opened #2186 "build error"
An error is given when I tried to build the souce:
`Failed to load p2 metadata repository from location http://hstaudacher.github.io/osgi-jax-rs-connector/5.3.0:`

it seems the link 'http://hstaudacher.github.io/' is invalid ?

[2016-09-19 00:11] beowulfe commented on #1093
I'd like to think about extending the existing ontology with support for WindowCoverings, GarageDoors, Locks and Fans. (Using HomeKits terms here) Any thoughts on including these in the ontology?

For comparison with HomeKit, the characteristics of a WindowCovering are:
-Position (RollerShutter)
and zero or more of:
-HorizontalTiltAngle (Dimmer)
-VerticalTiltAngle (Dimmer)

GarageDoor supports a v

[2016-09-19 00:30] kaikreuzer commented on #2186
If you try http://hstaudacher.github.io/osgi-jax-rs-connector/5.3.0/content.jar, you will see that it is valid. I assume you just had some temporary issue, in general the build works as you can see on our Hudson at https://hudson.eclipse.org/smarthome/job/SmartHomeDistribution-Nightly/

[2016-09-19 00:30] #2186 closed

[2016-09-19 08:30] maggu2810 commented on #602
@chrisschauer There is a wrap feature in Karaf to create OSGi version of non OSGi bundles. But this feature is not used at all. Bnd could also transform non-OSGi bundles to OSGi ones. But also this one has not been used by us.

All bundles we are using are already OSGi ones.

[2016-09-19 08:49] lolodomo commented on #2183
The sequence dispose followed by initialize looks like a call by the thing manager to thingUpdated ? I could check that.

[2016-09-19 09:25] JochenHiller commented on #602
@chrisschauer Thanks for start working on that issue.
And @kaikreuzer @maggu2810 thanks for creating the demo repo.
As I am back from holidays I will also try out Christoph's branch now and investigate on that Concierge issues.
My assumption would be that the bundles created from the demo-package should be the same like in an openHAB2 build, as all these bundles are yet OSGi-fied in correct way.
L

[2016-09-19 10:01] float2net commented on #1662
Please help, I met similar problem on setup smarthome project , attached the error shot:
<img width="515" alt="2016-09-19 5 56 12" src="https://cloud.githubusercontent.com/assets/4687104/18628483/05091592-7e93-11e6-89a4-a06385d4d661.png">
<img width="502" alt="2016-09-19 5 56 36" src="https://cloud.githubusercontent.com/assets/4687104/18628482/05084e6e-7e93-11e6-8ff4-7f35269893c1.png">

[2016-09-19 10:09] JochenHiller commented on #602
@chrisschauer I cloned your project from https://github.com/chrisschauer/smarthome-demo and created a distribution (smarthome-demo-0.9.0-SNAPSHOT.zip). I then unpacked the distribution, and started the runtime (using JavaSE 8) by

[code]
which does start without any issues. I can also connect to HTTP server via localhost:8080 and get immediately the PaperUI. There were 87 bundles running in ACTIVE

[2016-09-19 12:20] maggu2810 commented on #1662
I don't think your problem is similar to the other one.

Are you sure, that you have followed every point here:
https://www.eclipse.org/smarthome/documentation/development/ide.html

Also e.g. point 8?

[2016-09-19 14:39] #2097 closed

[2016-09-19 14:41] #1862 closed

[2016-09-19 15:20] maggu2810 commented on #2082
I have had a look at #2087 and added my review comments.
After it has been merged let's have a look at this (and the other PRs waiting for #2087).

[2016-09-19 15:34] maggu2810 commented on #1662
So, as written above, there is no relationship between your problem and this original issue.
Could you create a separate one?

But I assume the error is not related to the setup file itself (but I can reinstall the IDE myself if you want).
If you cannot resolve the target platform there is a problem with the installed Eclipse IDE plugins (PDE) or you have problems to access some servers.

[2016-09-19 18:25] kaikreuzer commented on #1662
@float2net You should try to repeat the target platform resolution. This error sometimes occurs if people have slow or unreliable Internet connections or if some remote server might have been down at the moment of resolution.

[2016-09-19 18:57] kaikreuzer opened #2190 "Item resolution broken in Designer"
Items are not resolved in the Designer, i.e. when trying to use content completion e.g. in sitemaps, no proposals show up.

[2016-09-19 19:25] wborn opened #2191 "[LIFX] Deadlock may occur when sending broadcast packet"
When I added my LIFX bulbs via `smarthome:inbox approve lifx:colorlight:....` the binding ran into deadlock when it was trying get locks for sending a broadcast packet.

The two deadlocked threads had the following stacktraces:

[code]

After looking at the code, I think an explanation for this deadlock could be that values were being added to the `locks` ConcurrentHashMap in the `LifxNetworkThrot

[2016-09-19 19:39] kaikreuzer commented on #2191
@kgoderis Could you have a look?

[2016-09-19 19:44] MHerbst opened #2192 "PaperUI: Locale settings does not work properly"
Test environment: openHAB 2.0 b4 on a Raspberry PI
Browser: Chrome 53 on Windows 10

I have played a bit with the locale settings options and discovered some problems. This is what I did.
In a previous setting I have set the language explicitly to "en" and country to "US".

Now I entered an invalid language under _Configuration/System_:
![image](https://cloud.githubusercontent.com/assets/616792/18

[2016-09-19 19:56] lolodomo commented on #2183
I answer to myself (previous message): no, it does not a call to thingUpdated that trigger this init sequence ... and this issue.

[2016-09-19 21:05] wborn opened #2193 "[LIFX] Bulb offline issues"
The LIFX binding is still pretty unstable for me when using it with my 34 bulbs.

Bulbs go offline a lot. I've been trying to get it stable. Bulbs go offline less when I use `MAXIMUM_POLLING_RETRIES = 4;` in the `LifxLightHandler`. So maybe the value can be increased or made configurable e.g. via Paper UI?

Also when bulbs go offline often the following error is logged:

[code]

The `orccurred` ty

[2016-09-19 21:14] splatch commented on #579
@kaikreuzer Just to let you know - I pushed to [esh-authz](https://github.com/Code-House/smarthome/commits/esh-authz) branch complete code which provides basic authentication based on dummy AuthenticationProvider implementation (user: `test`, pwd `test123`).

I wired it into rest layer, so all resources with `javax.annotation.security.RolesAllowed` gets automatically protected. This is early stage

[2016-09-20 03:16] float2net commented on #1662
It's java7 and java8 installed in my environment, I tried to re-install SmartHome from begin, with Eclipse Mars, has exactly the same error, from the error I assume maybe due to cannot connect to some remote server, if this is the reason, is there any alternative workaround e.g. offline setup?
@maggu2810 if it's due to my internet connection, maybe it's trivial to fork a NEW issue?

[2016-09-20 05:56] kaikreuzer commented on #2192
Not sure if this might be solved through https://github.com/eclipse/smarthome/pull/2173 already or not.
@aounhaider1 Could you please analyze this? Thanks!

[2016-09-20 07:32] maggu2810 commented on #1662
@float2net You have to create a new issue. There is no "fork issue" (copy, split, move) feature for Github.

@float2net That cannot work, because part of the setup requires Neon.

@float2net There isn't (at least I don't know about). Sorry

[2016-09-20 08:08] sjka commented on #2051
Thanks for the description of what you want to do. Nevertheless, it is still unclear to me why these properties are only available during discovery and why they must be removed later on. This sounds a bit surprising, as the `ThingHandler.initialize()` in bindings usually always behaves in the same way: it initiates the communication with the device, regardless of the fact if it's talking to it for

[2016-09-20 09:08] kgoderis commented on #2191
Ok - that seems to be a nasty problem.

[2016-09-20 09:12] kgoderis commented on #2193
@wborn You are definitely in a position to this kind of testing - I only have 3 bulbs, poor me ;-)

I will implement the StackOverflow solution, and you are right about clearing sendPackts.

[2016-09-20 13:43] maggu2810 commented on #2057
@danchom I have no problem anymore and the PR could be closed.
I am not sure if I understand your problem. What it is about?

[2016-09-20 14:23] markusjw commented on #2051
My discovery mechanism can find devices that exist already (in the system, not as thing) and devices that are completely new. New devices need to be included into the system at the first thing handler start, the others don't.
So this is thing specific information that is only needed at the first handler initialization.

[2016-09-20 14:39] aounhaider1 commented on #2184
I am unable to reproduce this issue. I used this channel in demo thing:
[code]

[2016-09-20 14:46] maggu2810 opened #2197 "Paper UI: Cannot read property 'getItem' of null"
I received an error message if I visit the Paper UI.
To get a more meaningful trace I replaced the content of angular.min.js with the non-minimized version.

[code]

[2016-09-20 14:50] maggu2810 commented on #2197
Sorry, it seems I am missing the local storage.

[2016-09-20 14:50] #2197 closed

[2016-09-20 15:29] aounhaider1 commented on #2192
Wrong enabling/disabling of Save button should (already) be fixed by https://github.com/eclipse/smarthome/pull/2173

Requiring two clicks to submit form behaviour should be fixed by https://github.com/eclipse/smarthome/pull/2198

[2016-09-20 16:02] float2net opened #2200 "Strange errors on setup SmartHome development environment"
I met strange errors on setup SmartHome development environment, I followed this page:
https://www.eclipse.org/smarthome/documentation/development/ide.html
at step 8 has error:
![image](https://cloud.githubusercontent.com/assets/4687104/18677564/b7d0cf50-7f8b-11e6-970e-44913b8a3a8d.png)
then I choose 'proceed' and it ends with Error:
 'cannot find or load main class: org.eclipse.emf.mwe2.launch.ru

[2016-09-20 17:08] wborn commented on #2193
@kgoderis thanks for looking into my LIFX issues. When the LIFX binding is stable, I will be a very happy person, because I can finally retire my own coded HA solution with ESH/OH.

My own LIFX implementation is rock solid, but not as versatile as yours (only static IPs). I kept things very simple and stupid by just sending packets 3 times to a bulb. That way they always arrive and I didn't have t

[2016-09-20 20:39] Sheriff-Donnerknall opened #2202 "OH2 new-gen rule engine only shows two conditions"
I am using OH2 beta 4 with the new-gen rules. When I enter more than two conditions for my rule OH2 seems to save the rule fine. But when I open the rule again it only displays two conditions. I am using a temperature and solar azimuth and solar elevation. But the last one of the solar conditions I enter survives and the first that I have entered is no longer shown. No matter which one I enter fir

[2016-09-21 06:25] svilenvul commented on #2181
Thanks, then I guess it is better to wait first this PR to be merged.

[2016-09-21 07:13] #2057 closed

[2016-09-21 07:38] maggu2810 commented on #2057
Fixed by: #2102 and #2126

[2016-09-21 08:10] lolodomo commented on #2184
Misunderstanding :  I am not defining channels in my .things file, I am just linking a channel already defined by the binding (XML file).
But my astro thing is defined in a file astro.things and the item the channel is linked to is fefined in a .items file.
I am using the advanced mode in Paper UI (simple mode deactivated).

[2016-09-21 09:59] aounhaider1 commented on #2184
It might be that you are trying to unlink the item whose link is defined in .items file. However, PaperUI should display an error message. https://github.com/eclipse/smarthome/pull/2204 should fix that.

[2016-09-21 10:19] lolodomo commented on #2184
No, I used an item that is linked to nothing in my .tems file.
I will provide my data later.

[2016-09-21 11:25] phxql opened #2206 "RuleTriggerManager.removeRule doesn't work for some rule types"
It's implemented like this:

[code]

It doesn't work for `UPDATE`, `CHANGE`, `COMMAND` and `TRIGGER`, as the fields are `Map<String, Set<Rule>>` and are called with `.remove(Rule)`.

[2016-09-21 21:24] lolodomo commented on #2184
Hre is an extract of my .items file:
[code]
Here is my astro.things file:
[code]
Using Paper UI, I link channel "astro:sun:local:set#start" to item Debut_Jour2.
Then I try to unlink channel "astro:sun:local:set#start". Impossible.

[2016-09-22 07:10] kaikreuzer commented on #2202
@danchom & @aounhaider1 Could you check whether this is a problem in the rule engine or in the Paper UI?

[2016-09-22 08:59] aounhaider1 commented on #2184
Are you using Firefox?

[2016-09-22 09:12] lolodomo commented on #2184
Yes

[2016-09-22 10:40] aounhaider1 commented on #2202
Did you create this rule using PaperUI? The problem is that two conditions have the same id. PaperUI expects id's to be unique. That is the reason only one of the two conditions is shown. I'll try to find if PaperUI is setting the module id wrong somewhere.

[2016-09-22 10:52] chrisschauer commented on #602
Hi all,

i updated my distro again. No exception - the startup works fine. I also updated the readme. In my opinion i could provide a PR against  https://github.com/eclipse/smarthome-packaging-sample.

@kaikreuzer Could you pls check why i can't fork the repo. Maybe because it's empty, or some permission thing!

Thx

[2016-09-22 15:05] kaikreuzer commented on #602
@chrisschauer This was apparently due to the repo not being yet initialized. I have just created a first commit in it and now it should be possible to fork it. Looking forward to your PR!

[2016-09-22 15:16] #2182 closed

[2016-09-22 15:18] #2184 closed

[2016-09-22 15:23] kaikreuzer commented on #2206
Indeed, although it luckily isn't very critical as this method is nowhere used in the code.
Will you provide a fix?

[2016-09-22 21:17] beowulfe commented on #1093
@kaikreuzer - any thoughts?

[2016-09-22 22:12] kaikreuzer commented on #1093
I'm currently travelling - please allow me until next week before I can answer (in a meaningful way ;-))!

[2016-09-22 22:54] beowulfe commented on #1093
Thanks - enjoy your trip!

[2016-09-22 22:59] kaikreuzer commented on #2051
I invite @cdjackson to this discussion as he imho did similar things for Z-Wave.
I would think that it is not necessary to pass any "new flag" through the discovery service - instead, the binding can store information about "known" devices in a persistent store and thus can identify whether a Thing is newly added or not. That's how you deal with it, @cdjackson, am I right?

[2016-09-22 23:02] kaikreuzer commented on #579
@splatch This sounds (and looks) pretty good! Looking forward to your PR and I will look into its details then!

[2016-09-22 23:17] cdjackson commented on #2051
The use case here sounds similar to what I do in ZWave. I don't use a persistent store though (I think we discussed this, but it wasn't implemented in the end).

When a thing is discovered, I store a bunch of properties in the inbox thing that allow me to decide the thing type. During discovery these can be added to if I discover more information. When devices are added to the inbox, they are all

[2016-09-23 08:57] chrisschauer commented on #602
I just created the PR: https://github.com/eclipse/smarthome-packaging-sample/pull/1

[2016-09-23 09:19] phxql commented on #2206
I've created a PR.

[2016-09-23 09:22] abinmathewabraham opened #2210 "Removal of dynamically created channels"
At present, if we need to remove the channels which were created dynamically, we need to get the whole channel list using the getChannels() method, convert the immutable list to mutable, remove the channels from the created mutable list and then use the build() method to create the thing again. It would be good if a removeChannel() method is provided.

[2016-09-23 14:17] markusjw commented on #2051
@cdjackson Thanks for the explanation. The difference is that in your case the information is not just useful/correct once but these are really properties that can remain unchanged.

@kaikreuzer Also thanks for the discussion. Yes, I can store this information in the bridge handler. However, I still think it would be cleaner to store it in the thing since it is one flag per thing.

Summing up:
- T

[2016-09-23 15:30] #2206 closed

[2016-09-23 16:23] kaikreuzer commented on #2051
Remember that Things can also be defined in other places, like the DSL files and thus they are read-only. So what meaning would such a flag have if it cannot be changed? And what would the user be expected to put in there? This does not really fit well into the architecture.

If you are ok with the suggestion above and this is not blocking for you, I'd close this issue at that point.

[2016-09-23 16:23] #2051 closed

[2016-09-23 17:45] cdjackson commented on #2051
Some properties remain unchanged - the explanation I used above was for the device discovery since I thought that was the use case, but there are a number of other properties that I update regularly...

[2016-09-23 19:00] markusjw commented on #2051
@kaikreuzer  OK
@cdjackson Yes, you can change properties and the changes are not persisted. The strange thing is that  properties added to the DiscoveryResult **are persisted once** and you can never persist changes to those initial values either.

[2016-09-23 19:04] cdjackson commented on #2051
Really? If that's correct then that's a big problem isn't it? We just added some additional functions to allow the binding to read the inbox entry properties so they can be updated. I had assumed the updates were being persisted, and if not I think it should be...

[2016-09-24 03:26] #2192 closed

[2016-09-24 04:27] kaikreuzer commented on #2051
You should not mix up the "discovery api" and the "binding api", these are actually two separate apis. Discovery can create and update discovery results. Once a result is approved, it becomes a Thing and at that moment its information is "frozen", like if it were defined in a DSL file (or coming from any other ThingProvider). ThingHandlers can therefore only make changes to it that are transient.

[2016-09-24 08:50] lolodomo commented on #2164
@kgoderis & @R-Edelhoff : I have a question for you because I discovered something a little strange I don't really understand. It concerns the call to getMediaInfo() every minute (by default). What is used in return to this call is only CurrentURI and CurrentURIMetaData. But these information are already provided in pseudo real time through the event subscription: AVTransportURI and AVTransportURI

[2016-09-24 10:06] lolodomo commented on #2164
In fact, the track data are already updated when receiving CurrentTrackMetaData from the event subscription. Perect. I am just surprised that sometimes in the code "CurrentURIMetaData" is used, something that is set only by a call to updateMediaInfo() every minute.
And my feeling is that we should consider AVTransportURI being notified in real time rather than CurrentURI being set only every minut

[2016-09-24 10:10] lolodomo commented on #2164
Independently of the previous remarks, I have now proposed a PR to add 2 new channels (URI).

[2016-09-24 11:17] viruzofficial commented on #1093
HomeKit also supports new Sensors in iOS 10 like Smoke or Movement Sensors. This should also be supported by openHAB.

[2016-09-24 13:16] lolodomo opened #2214 "Sonos binding: why calling updateMediaInfo() every minute ?"
@kgoderis & @R-Edelhoff : I have a question for you because I discovered something a little strange I don't really understand. It concerns the call to updateMediaInfo() every minute (by default). What is used in return to the call to getMediaInfo is only CurrentURI and CurrentURIMetaData. But these information are already provided in (pseudo) real time through the event subscription (but not used)

[2016-09-24 13:55] #2164 closed

[2016-09-24 16:56] kgoderis commented on #2214
@lolodomo I think this is an artefact from the reverse engineering effort I did a looooong time ago. ;-) Yes, if we can get the same info from 2 new event subscriptions, that we should go that way instead. Can you propose a PR ?

[2016-09-25 07:34] lolodomo commented on #2214
Yes I will. My current feeling after a short analysis of the code yesterday is that the change to do is very simple but then it will require a lot of testing.

[2016-09-25 14:48] #2191 closed

[2016-09-25 14:48] #2193 closed

[2016-09-25 19:53] cdjackson opened #2215 "DSL specified properties are not handled correctly"
When we add properties using the ```DiscoveryResultBuilder.withProperties``` method, we can add properties and configuration and when the thing is instantiated from the inbox, (if I remember correctly!) the framework uses the configDescription to decide if the entry is a property or a parameter and moves them into the appropriate place.

This is not the case if things are defined in the DSL - in t

[2016-09-25 20:48] kaikreuzer commented on #2215
If it is as you describe, this sounds like a bug...

[2016-09-26 09:10] abinmathewabraham opened #2216 "Thing updates by handers should not be persisted"
The dynamic channels I created if not removed, is being shown up again when the server is restarted due to the cache of the Thing. If there is an option for Thing to not persist any changes it had, it would give more flexibility for the developer

[2016-09-26 13:02] tomhoefer commented on #2177
@maggu2810 can you pls explain for which entity you receive the "wrong" kitchen value? For the name of a light?

[2016-09-26 19:33] gauranggunde opened #2217 "Smarthome.git does not give me permissions to create a new branch for a pull request"
Hello,

I would like to create a pull request for a binding extension. I tried to create a new branch and then push the changes to it. However, the git smarthome repo says permission denied. Please help ASAP. Thanks.

[2016-09-26 19:34] tavalin commented on #2217
You need to create your own fork of the repository, then create a branch in your own fork. Then you can create a pull request from your branch in your fork back to the smarthome repository.

[2016-09-26 19:45] gauranggunde commented on #2217
Thanks for the prompt reply. I forked the smarthome repo to create a local one and will create a pull request shortly. :)

[2016-09-26 19:54] wborn commented on #2155
Should increase/decrease on the color channel change colors or brightness?

I would think colors because the command is send to that channel for a reason, i.e. like changing the color slider in Paper UI. But when I look at the Hue implementation for some reason brightness is increased/decreased.

[2016-09-27 05:46] kaikreuzer commented on #2155
It should change the brightness, just like ON/OFF should turn the light on and off.

[2016-09-27 06:48] #2155 closed

[2016-09-27 07:00] maggu2810 opened #2219 "build error: npm"
Hi, it seems that Travis CI and Hudson can build the project. So it could be related to my local machine, but I have no clue (ATM) what causes the error. Perhaps someone can help.

I cannot build the Paper UI anymore.

I already checked, that I have a clean working copy of the sources:

[code]

But this does not solve the problem.
I always run into the same error.

[code]

[2016-09-27 07:05] maggu2810 commented on #2219
As I already mentioned: Close the Eclipse IDE if you start a Maven command line build.

[2016-09-27 08:11] maggu2810 commented on #2177
Yes, it has been the name.
I tried to do the same again:

Hi, I am using a slightly modified the normal SmartHome launch configuration
* add plugin: org.eclipse.smarthome.binding.hue
* add plugin: org.eclipse.smarthome.io.transport.upnp
* add plugin: org.jupnp (set auto-start to default)

* open Paper UI in the browser
* the "Hue Bridge" has been detected
* Add as Thing
* Press link button on the

[2016-09-27 08:27] tomhoefer commented on #2177
Ok. Thx for the information. I will try to reproduce and fix the issue

[2016-09-27 10:50] plamen-peev opened #2220 "Automation Demos"
1. There should be a module type demo bundle, which shows how to define module types, create handlers for them and how to create a handler factory. It also should contains a group of commands which will be used to trigger the rules created from this module types.
   I think that following module types should be defined.
   A ConsoleTrigger, that is triggered by event with specified topic, passed a

[2016-09-27 12:28] mhilbush commented on #2190
The items list in the lower left of the designer window also is not populated with items.  Could this be another symptom of the above problem?

[2016-09-27 12:31] kaikreuzer commented on #2190
Yes, other symptom of the same root cause.

[2016-09-27 13:14] kaikreuzer commented on #2216
FTR: This is related to https://github.com/eclipse/smarthome/issues/588#issuecomment-226565087, where @kgoderis suggested: "it should be possible to dynamically define channels on Things without these channel definitions being persisted, because the creation of those channels is triggered/dependent on the data that is read from the remote device. These channels can be "built up" every time the run

[2016-09-27 13:28] #2217 closed

[2016-09-27 14:55] kaikreuzer opened #2221 "ThingManager should notify handlers about commands/updates fully asynchronously"
Currently, the ThingManager notifies handlers sequentially using the safemethodcaller. If a call blocks, it times out after 5 seconds and the next handler is informed only then.

As there is no order specified and all calls to the handlers are independent from each other, they should be called fully asynchronously, so that no handler can delay the further processing.

[2016-09-27 14:58] kaikreuzer commented on #2082
FYI, I have entered https://github.com/eclipse/smarthome/issues/2221 to deal with the ThingManager improvements specifically.

[2016-09-27 15:39] #2202 closed

[2016-09-28 13:37] #867 closed

[2016-09-28 14:05] danchom commented on #2220
I think the automation demos are too complex and not clear at the moment.  For example JSON demo defines handlers and JSON definitions of moduletypes, templates and rules. The java demo defines other motule types, handlers, templates, and providers and rules.
There are different customers of automation module and they have different interest in use of the engine. For example one who is only intere

[2016-09-28 15:17] maggu2810 commented on #1798
I think there are two options:
We could create a static function that returns a simplified string of the state for debugging purpose etc.
It can then skip the value encoding for RawType
[code]
This method could be used in [Group]ItemStateChangedEvent or whenever a message is logged.

Okay, but that does not look good as a static method does need to decide how a state should be logged and not the s

[2016-09-28 15:22] maggu2810 commented on #1651
@tavalin Do you still see this error?

[2016-09-29 01:58] kaikreuzer commented on #1798
I agree that option 1 is not really clean as we have some special handling in the event class for a certain type. Nonetheless, I wonder if we could say that RawType qualifies to be treated exceptionally - then we can consider this option to be the simplest way to solve the issue.

For option 2, I am not sure if we manage to reach everyone that relies on the current toString() behavior; planning to

[2016-09-29 02:03] kaikreuzer commented on #2220
I am fine with this proposal.
Just one question: Why should 2.1 and 2.2 depend on the module types of 1? If this example would use core module types, it would even be independent of 1, right?

(and btw, where is 3 in your list?)

[2016-09-29 02:40] kaikreuzer opened #2226 "Trigger Channels Part 2"
With https://github.com/eclipse/smarthome/issues/1043, we have introduced trigger channels to the framework, but as already mentioned early in https://github.com/eclipse/smarthome/issues/1043#issuecomment-184598078 that was only a first step for the basic functionality.

Imho, we are left with a dangerous situation now, if people start using it although what they would really need for their purpos

[2016-09-29 06:03] maggu2810 commented on #1798
Sure. It is only about that toString is the convenient method for logging (e.g. slf4j calls toString() implicitly etc.).

We can use a very long transition phase and state that toString should not be used serialization if the whole internal information should be kept.
How is it different from all the other methods that are marked deprecated to remove them in e.g. after a new major release?

[2016-09-29 06:50] kaikreuzer commented on #1798
Well, most of the others were introduced as part of new APIs that were still under development and thus changed. The behavior of toString() is the same since the first commit in 2010 and thus has been a stable since the very beginning. Hence I feel that the risk is much higher to do changes to this, in comparison to changing newly introduced classes that not many people are anyhow familiar with ye

[2016-09-29 08:23] maggu2810 commented on #1798
I have done some changes on my working copy, but know I don't know how to proceed.
Let's assume there is a full and a simple string generation method (we don't neet to care is toString() is the same as full or not, I just want to use clear names here).

At which places we do need a full string and where is a simple sufficient?
Does an Event require, that the one that receives the event is able to

[2016-09-29 09:04] kaikreuzer commented on #1798
Up to now, yes. E.g. the UIs get the event stream and dynamically update their views without the need to do any further requests to the server. The PaperUI also supports this for the image item type already.

We hence must make sure that the "payload" of the events is complete. So the following occurences need the full information:
- org.eclipse.smarthome.core.items.events.ItemEventFactory.createS

[2016-09-29 10:02] #2136 closed

[2016-09-29 10:37] sjka commented on #2216
this is a duplicate of #1977

[2016-09-29 10:38] kaikreuzer commented on #2216
Indeed, thanks.

[2016-09-29 10:38] #2216 closed

[2016-09-29 12:08] sjka commented on #1977
The way it is currently implemented, all changes end up in the objects that the `ThingRegistry` holds in memory and these are then either persisted or not. Even if we prevent the `ThingHandler` to inform the `ManagedThingProvider` about the updates, then when at any later point in time a legitimate update happens which indeed _should_ be persisted, these changes that the `ThingHandler` did earlier

[2016-09-29 12:12] maggu2810 commented on #2219
I run into this error again - without any opened IDE.

[2016-09-29 12:25] maggu2810 commented on #2219
I have tried it again (git clean + build only paper ui instead of the whole tree) and it succeeded.

Is there some kind of magic?

[code]

[2016-09-29 12:28] sjka commented on #2215
no, you are right: [PersistentInbox.java:197](https://github.com/eclipse/smarthome/blob/915918ab57035a8dc94ecccefc228311d6573ef2/bundles/config/org.eclipse.smarthome.config.discovery/src/main/java/org/eclipse/smarthome/config/discovery/internal/PersistentInbox.java#L197)

There indeed only the configuration gets synchronized. However, if we would synchronize the properties too, then these get pers

[2016-09-29 12:52] danchom commented on #2220
1) We was thinking that the MT from demo will be simple and understandable for users, but you are right it is better to use core MT. In that way we  will not have dependencies between demos and will show real MT in use.
2) Just counting error ;)

[2016-09-29 12:59] kaikreuzer commented on #2215
@sjka Hm, the issue is about DSL-defined Things, so what does this have to do with the Inbox and its synchronization?

[2016-09-29 13:41] sjka commented on #2215
I was mislead by @cdjackson's  introduction of the problem, I guess. You are right, the GenericThingProvider indeed does not set any properties, everything ends up as configuration. We indeed should add the same logic there...

[2016-09-30 10:59] emiovska opened #2234 "Can not disable a channel from an item with custom name"
In the demo.items there is an item with a custom name:
`Number Weather_Temperature 		"Outside Temperature [%.1f °C]"	<temperature> (Weather_Chart) { channel="yahooweather:weather:berlin:temperature" }`

When I try to disable the temperature channel from this item I receive a toastr with the following message: _ERROR: 404 - Not Found._ The response contains the following error:
`"error": {
    "mes

[2016-09-30 11:22] ThomDietrich opened #2235 "Add Javascript info text to PaperUI"
A small request.

Could somebody please add the typical "If you see this, your Browser does not support Javascript" warning to the static PaperUI view?

https://community.openhab.org/t/paper-ui-empty/14623/2?u=thomdietrich

[2016-09-30 12:23] kaikreuzer commented on #2235
@ThomDietrich I am not sure if the problem in the linked thread was that the browser didn't know javascript, it was simply IE ;-) So maybe the warning should be something like "unsupported browser, use chrome, firefox or safari instead and make sure js is enaböed" or something along this line.

@aounhaider1 Could you take care of this, please?

[2016-09-30 19:28] ThomDietrich commented on #2235
IE is a problem by itself, I do not doubt that :grin: Pointing out a counted number of browsers is not fair either. Let's go with a neutral form:
https://answers.atlassian.com/questions/74647/a-javascript-warning-when-access-the-jira-website

[2016-09-30 19:36] kaikreuzer commented on #2235
Well, my point is that this warning is not correct. IE supports Javascript and even if the user has enabled it, the Paper UI might not work on it.

[2016-09-30 19:45] ThomDietrich commented on #2235
Aaah misunderstood. Okay, I'm sure @aounhaider1 will think of something nice to tell the user :)

[2016-10-01 07:09] lolodomo commented on #2174
I got it sometimes too.
[code]

[2016-10-01 07:41] marcelrv commented on #2174
I'll double it to 10 sec, guess that will be sufficient.

[2016-10-01 08:02] lolodomo commented on #2214
I studied more in depth the current code and the change to do is more important as I first imagined.
I will probably not be able to propose a change soon. But I keep it in my TODO list.

[2016-10-01 09:50] lolodomo commented on #1140
Done now.

[2016-10-01 09:50] #1140 closed

[2016-10-01 10:30] mhilbush commented on #2174
Running ntpdate using a variety of pools, I see response times in the 4-7 second range. Doubling it should be fine.

[2016-10-01 15:39] digitaldan opened #2238 "Unset a setting value in the paper ui"
I just noticed that when using the configuration forms in Configurations -> Services -> .... that I can set a string value for a configuration option, but I can not set it empty or blank.  Since configuration options can be optional, it would be nice to be able to unset or at least send a blank entry for values.

[2016-10-02 16:44] dmartinpro commented on #1657
I'm encountering the same issue with both Paper UI AND Habmin2. Unable to use Edge with both of them.
I didn't have a look at the root cause, but I suspect this to be easily fixed as Edge is rather good with standards (not the same with IE...).

[2016-10-03 05:44] beowulfe commented on #1093
@kaikreuzer - just reminding you about this

[2016-10-04 07:42] sjka opened #2240 "Locking of channels"
The primary use-case I have in mind are rules, e.g. if the terrace door is open, open the rollershutter and _leave it open_ until the door closes again, so no other rule (or person) can lock me out accidentally. Heating control when a window opens would be another one.

When locking a channel, it should be possible to send a "last" command, so that it can be set into the required state ("OPEN" in

[2016-10-04 07:43] sjka commented on #2240
does anybody has some additional thoughts on this?

[2016-10-04 08:09] kaikreuzer commented on #2238
@aounhaider1 I thought that once worked. Could you have a look, please?

[2016-10-04 09:13] markusjw commented on #2226
If I understand your last paragraph correctly, it matches my opinion. There are two more or less separate things:

1. To link trigger channels to items, we might need trigger channel types that match the item types. A thing (let's say a rocker switch) can now implement two trigger channels (predefined type system.button) for the two buttons. But at the same time, it could also implement a "switch

[2016-10-04 09:28] kaikreuzer commented on #2234
@aounhaider1 Could you have a look?

[2016-10-04 09:30] kaikreuzer commented on #2234
@emiovska Please note that even if the bug is fixed, you won't be able to delete the link, since it is provided through the items file (and thus read-only). But the response should indeed be a 405, not a 404.

[2016-10-04 09:45] petarnv opened #2242 "Incorrect update of dateTime channel of the NTP Binding"
In the NTP Binding the state of an item, linked to a NTP thing is not updated with a time from the time zone, that is set as a property in the thing configuration. Even though in the NtpHandler the state of the item is updated with a DateTimeType, containing a calendar with the proper time zone (the one set in the configuration of the thing) - https://github.com/eclipse/smarthome/blob/master/exten

[2016-10-04 10:03] petarnv commented on #1983
I have made a PR for NTP Binding Tests: https://github.com/eclipse/smarthome/pull/2243

[2016-10-04 10:10] emiovska commented on #2234
Yes @kaikreuzer , you are totally right. I think that I should change the name of the issue to be "Wrong error message when I try to disable a channel from a read-only item with custom name". What do you think?

[2016-10-04 10:33] kaikreuzer commented on #2234
sure, that would fit better.

[2016-10-04 13:42] marcelrv commented on #2242
This issue is indeed known. Unfortunately not directly fixable by the binding see

https://github.com/eclipse/smarthome/issues/992

[2016-10-04 14:03] aounhaider1 commented on #2238
There is indeed this bug in PaperUI but sending null values for parameters is giving 500 internal server error. As far as I remember null values are allowed, right?

[2016-10-04 14:37] kaikreuzer commented on #2238
Yes, null values should be allowed in order to unset a value.

[2016-10-04 14:45] aounhaider1 commented on #2238
Here is the log from console:
[code]

[2016-10-04 15:14] svilenvul opened #2249 "Wemo binding does not handle REFRESH command"
During the implementation of the #2247, I have noticed that the handlers in Wemo binding do not handle REFRESH command, but the channelLinked() method in the BaseThingHandler class is sending REFRESH command. Several tests in #2247 are ignored.

I would expect that on REFRESH command the binding will send a HTTP request to the device, ask for information about the current state and update the chan

[2016-10-04 15:29] #2235 closed

[2016-10-04 15:33] #2238 closed

[2016-10-04 16:06] digitaldan commented on #2238
Many thanks!

[2016-10-04 16:47] kgoderis commented on #1977
That sounds ok as a way forward. It does makes sense for ThingHandlers to be able to steer the usage and mix in of Channels, just for consistency reasons wrt the actual hardware.

[2016-10-04 18:53] hmerk commented on #2249
Thanks for opening this issue.
As I have some Additions for WeMo in mind, I will take care of this.

[2016-10-04 21:16] adarazs opened #2253 "ThingManager should adapt state updates to linked item type"
I have a hue light defined like this in hue.things:

[code]

I want to have an on/off switch on my sitemap, so I defined an item for it as

[code]

I read in the documentation that I need to use the :color channel instead of :switch to make it work. So now I have a sitemap definition as

[code]

It works nicely as far as turning the light on and off from the UI but if I try to turn the light on/of

[2016-10-05 06:52] kgoderis commented on #2105
I am preparing fix for this

[2016-10-05 07:26] tomhoefer commented on #2177
I cannot reproduce the issue... Tested as mentioned above and the umlauts are displayed properly

[2016-10-05 07:47] kaikreuzer commented on #2253
Thanks, @adarazs, this is indeed an unexpected behavior (let's call it bug :-)). It is actually NOT a problem within the hue binding itself, but needs to be fixed in the core ESH framework instead. I therefore adapted the issue title to make this clear.

[2016-10-05 08:01] aounhaider1 commented on #2234
The server currently responds with a 404 in the above scenario. It needs to be changed on the server side.

[2016-10-05 08:06] jwveldhuis commented on #1393
@mdeneen looks like you are missing the '**then**' in the rule?

[2016-10-05 08:30] emiovska commented on #2234
"error": { "message": "Link yahooweather_weather_berlin_temperature -\u003e yahooweather:weather:berlin:temperature does not exist!", "http-code": 404 }

According to the response error I think that the server response with status 404, because receives wrong item name.  The name of the item is Weather_Temperature but the server received yahooweather_weather_berlin_temperature.

thing.UID.replace(/

[2016-10-05 08:31] maggu2810 commented on #2177
Thanks. Will reopen (hopefully not necessary) if I run into again.

[2016-10-05 08:31] #2177 closed

[2016-10-05 08:47] aounhaider1 commented on #2234
[code]
Which means that item was linked in advanced mode, as simple mode always generates itemName by replacing semicolons with underscore.
Moreover, with https://github.com/eclipse/smarthome/pull/2195 we can not just delete the first linked item as there can be multiple linked items now.
Are you sure you are on latest master? There was recently a bug (https://github.com/eclipse/smarthome/pull/217

[2016-10-05 09:01] kaikreuzer commented on #1977
+1 from me.

[2016-10-05 09:47] kaikreuzer commented on #2226
Regarding 1:
- For a rocker, I would rather prefer a single channel with events like up_pressed, down_pressed, released - since they are not really independent (you cannot press both sides at the same time).
- What you call a "switch trigger channel" is for me the "switch profile" that could be configured on the trigger channel. The very same device/channel could also be used to control a roller s

[2016-10-05 10:41] sjka commented on #2215
okayokay, working on it... ;-)

[2016-10-05 11:00] cdjackson commented on #2215
I'm not sure why these two issues came in at the same time, but thanks :)

[2016-10-05 14:15] andrew-veresov opened #2255 "REST API for changing state of an item doesn't work"
I have a Z-Wave switch which I can control via classicui of OpenHab (turn ON/OFF).

## Expected Behavior
When REST API command is sent to change a state of the item then not only the item state must be changed in the OpenHab database but also command must be sent to the actual device.
The REST API command is:
PUT http://localhost:8080/rest/items/lamp/state
ON

## Current Behavior
UI (classicui for

[2016-10-05 14:15] digitaldan opened #2256 "Duplicate channels on Thing"
A thing's channels are stored as a List<Channel> , see

https://github.com/eclipse/smarthome/blob/e0985e90d389350580e59bfbcd7e0adaaccf7519/bundles/core/org.eclipse.smarthome.core.thing/src/main/java/org/eclipse/smarthome/core/thing/internal/ThingImpl.java#L49

Because this is a list, its possible for a Thing to have duplicate channels with the same ID. This also means that calling "getChannel(Stri

[2016-10-05 14:23] kaikreuzer commented on #2255
This clearly contradicts your issue title. It shows that the REST API works and that item states are updated correctly.

I assume that you have some misconfiguration in your setup regarding the ZWave devices. As ZWave is not part of ESH, I close this issue here. Since it is likely that there isn't any bug, I'd suggest to seek for help in the [openHAB community](https://community.openhab.org/) firs

[2016-10-05 14:23] #2255 closed

[2016-10-05 14:24] kaikreuzer commented on #2256
See also https://www.eclipse.org/forums/index.php/t/1081737/

[2016-10-05 14:34] andrew-veresov commented on #2255
But why doing same thing throw UI does change state in UI and on device? REST API changes only UI state and not the device state.
It looks like UI and REST API doesn't call some "common method" which does actual state change on the device.

[2016-10-05 14:45] kaikreuzer commented on #2255
State change on the device is done by the binding, not by the core framework.
In order to ask the device to change its state, you actually have to issue a command - this is probably your misconception.

[2016-10-05 17:09] adarazs commented on #2253
Thank you for acknowledging the bug, I mean behavior. :)

I think it's clear for you at this point but just stating that this also affects dimmer types too, not just switches.

For others fighting with the same problem, my workaround is:

- remove the hue link from the switch item
- add a rule that updates the switch items periodically directly from the "color" type items like this:

[code]

Now t

[2016-10-05 20:30] mhilbush opened #2259 "Multiple javasound exceptions at startup"
I'm seeing this at startup in build 512.
[code]

[2016-10-06 12:54] sjka commented on #2256
@kaikreuzer in the forum discussion you mentioned to use a SortedSet. However, from a user's perspective it makes sense to keep the order in the same way as the channels were defined. Therefore a LinkedHashSet would make more sense IMHO.

However, changing the List to a Set would break pretty much everything. You sure this is a good idea? I'd suggest to ensure uniqueness internally only and keep t

[2016-10-06 13:03] kaikreuzer commented on #2256
You are right, a LinkedHashSet would be the implementation that retains the given order, a SortedSet might actually mess it up by sorting it itself.

I didn't suggest this, I only said that this should have better be done from the start.

Yes, we should simply add some checks, that should be good enough. Probably mainly the ThingBuilder needs to be fixed.

[2016-10-06 13:06] emiovska commented on #2234
I have the latest version of the master and the item name is manually set in the demo.items file

[2016-10-06 13:28] kaikreuzer commented on #1093
Thanks for the reminder, I sense the urgency, but I am still not on it :-/ Sorry for asking for that much patience...

[2016-10-06 14:43] tmrobert8 commented on #2259
I get the javasound issue but my cause is different (not sure if that makes a difference to the fix you implemented):

[code]

[2016-10-06 14:45] kaikreuzer commented on #2259
The fix should cover your case as well.

[2016-10-06 15:10] beowulfe commented on #1093
Understood - it's not a trivial topic.

[2016-10-06 15:13] beowulfe commented on #1093
@digitaldan - maybe you have some thoughts on this too? I think the Alexa add-on has the same challenge with enum values for the hearing/cooling state.

[2016-10-06 15:28] emiovska opened #2267 "An item should not be editable if it is bound to read only channel"
When an item is provided from the .items file and has a custom pattern, the state description readOnly property in GenericItemProvider  is set to false by default.

Currently there are two state description providers: **GenericItemProvider** and **ChannelStateDescriptionProvider** which are sorted descending by service ranking.
Moreover the ChannelStateDescriptionProvider has service ranking -1 se

[2016-10-06 15:48] #2259 closed

[2016-10-06 19:37] remogloor opened #2268 "Basic UI does not update visible items"
In classic UI it is possible to configure items with a visibility and change the visible items by changing a switch:

Switch item=interval label="Interval" mappings=[0="Day", 1="Week"]
Text item=DayItem visibility=[interval ==0]
Text item=WeekItem visibility=[interval ==1]

Basic UI correctly shows the visible items when navigating to the frame. But when the switch is changed it won't update the v

[2016-10-06 19:47] hfanieng opened #2269 "group function is not correctly (at all...) persisted in the mapdb"
After setting up and restarting ESH the groups created via the new group item function of Paper UI the values like sum, avg and so on get lost.

[2016-10-06 19:53] kaikreuzer commented on #2268
See also https://github.com/eclipse/smarthome/pull/2030#issuecomment-249437634, @resetnow  is already aware of it. But good to track it as a separate issue here.

[2016-10-06 19:54] kaikreuzer commented on #2269
I can confirm the issue.

[2016-10-06 20:33] resetnow commented on #2268
Yes I'm aware and I'll hopefully fix it this weekend (I think it should go as a separate PR after sitemap events are merged).

[2016-10-07 09:19] kaikreuzer opened #2271 "Support REWIND and FASTFORWARD in Player widget"
The Player widget of the Paper UI has buttons for PREVIOUS and NEXT, but it does not yet support the REWIND and FASTFORWARD commands.

I'd suggest to use the same buttons, but with a long-press behavior.
This means: If the left button is pressed less than 300ms, it sends PREVIOUS, if it is pressed longer than 300ms it sends a REWIND command exactly at 300ms and a PLAY command upon button release.

[2016-10-07 14:26] tmrobert8 commented on #2259
Was this part of last night's build?  If so, I'm still getting the same issue

[2016-10-07 14:54] kaikreuzer commented on #2259
Nightly ESH, yes. OH2 only picks up ESH stable and the fix was included there a few hours ago only, see https://hudson.eclipse.org/smarthome/job/SmartHomeDistribution-Stable/changes.
Next OH2 distro will have it.

[2016-10-07 14:58] tmrobert8 commented on #2259
Ah thanks!

[2016-10-07 22:18] digitaldan commented on #1093
I do have this issue,  right now I have to accept strings that match "OFF, AUTO, HEAT, COOL", I also accept numbers "0, 1, 2 ,3"  that map to those values.  Obviously this will not work for some/most people, having these associated with the item would be better.  Also  I look for a "Fahrenheit" tag to try and set the user's prefered unit of measurement.

 Agreed, where do we start?  I read through

[2016-10-07 22:42] hmerk commented on #2249
Created PR #2277
@svilenvul Would be fine if you could test.

[2016-10-08 09:12] #640 closed

[2016-10-08 09:24] kaikreuzer commented on #2259
Available now, see https://community.openhab.org/t/basic-ui-tts-and-more/14972.

[2016-10-08 10:45] watou commented on #1093
Would it make sense to have an optional capability in bindings to translate between the semantics of a chosen ontology and the semantics of the underlying systems?  Thermostats, as a class of thing, have widely differing semantics across vendors and technologies, and it seems to me that the proper place to translate would be in the binding code, since it is where the full domain knowledge resides

[2016-10-08 11:18] marcelrv commented on #2174
@mhilbush with the increased time, is the issue fixed now?

[2016-10-08 11:30] mhilbush commented on #2174
I installed build 512 on three different systems on 10/5.  Since then I've seen a total of 6 log entries (2 on one system, 4 on one system, and 0 on one system).  This is a very significant reduction from before.  Nonetheless, I might suggest you bump the timeout to 15.

[2016-10-08 11:55] kaikreuzer commented on #2174
15 seconds for an NTP response? Maybe it makes more sense to choose a server that responds quicker...=

[2016-10-08 11:57] mhilbush commented on #2174
Yeah, it seems long, doesn't it.  I've tested using ntpdate across a variety of pools, all of which seem to take 5-7 seconds on average.

[2016-10-08 14:33] resetnow commented on #2268
It doesn't seem like sitemap events are sent when visibility state changes. @kaikreuzer could you please tell whether this feature is implemented server-side?

[2016-10-08 20:01] wborn opened #2278 "Basic UI does not update icons of read only switches"
I've done some more testing with the functionality provided by #2030 and it seems that icons of read only switches in the Basic UI are not properly updated. I typically use these for representing the state of motion/smoke/CO sensors.

You can easily reproduce this in the demo by replacing the `Group demo` in `demo.sitemap` with

[code]

and replacing the definition of `Light_C_Corridor_Ceiling` in

[2016-10-08 21:41] maggu2810 opened #2281 "Karaf feature 'esh-ui-basic' resolution fails"
Perhaps caused by #2030

[code]

[2016-10-08 22:01] digitaldan commented on #1093
I would agree, if I use the zwave binding as an example, devices have a "Generic Device Class" property so it would be fairly easy to map a ontology to it, also if nearly all items map to a chosen ontology, I would not want to burden the end user with having to do all  of that manually.

Given a much more complex and integrated strategy about using a formal ontology (our own or something like seri

[2016-10-09 07:03] jaydee73 commented on #2259
@kaikreuzer Unfortunately, I still get the same java sound exceptions (as @mhilbush) with the latest build #524. Can anyone confirm this? Or did I do something wrong?

[2016-10-09 07:13] kaikreuzer commented on #2259
Are you using OracleJDK or OpenJDK? The log from @mhilbush sounds as if he is using OpenJDK (which is not recommended for OH).
I successfully tested it with OracleJDK on a RaspPi.

[2016-10-09 07:21] jaydee73 commented on #2259
OracleJDK. I am using openhabian (latest v0.9) for installation of OH2 on my RPi3.

I also do think that @mhilbush uses Oracle JDK, as I can see the code 1.8.0_91 many times in his error messages. For me, it was 1.8.0_101 (as this is the latest OracleJDK version).

Maybe I'll give it a try and install from scratch.

[2016-10-09 08:05] jaydee73 commented on #2259
Nevermind...I did a clean new install using openhabian. Now the error is gone!

[2016-10-09 08:07] kaikreuzer commented on #2259
Ok, perfect!

[2016-10-09 08:49] maggu2810 opened #2282 "Test failure(s): esh.core.thing: FirmwareUpdateServiceOSGiTest"
* Commit: 2538c1d
* Travis job: https://travis-ci.org/eclipse/smarthome/builds/166162273
* raw console log: https://s3.amazonaws.com/archive.travis-ci.org/jobs/166162274/log.txt

Excerpt(s):
[code]
[code]

IIRC I already seen this error some days ago on my machine. My working copy has been a master with some changes, so I didn't report it. It also worked again...
But if Travis fails now, too, I as

[2016-10-09 08:52] maggu2810 commented on #2282
Build succeeded, so perhaps a timing problem.

[2016-10-09 10:30] mhilbush commented on #2259
I installed build 524, and can confirm that the exceptions are gone.  Thanks.

I am running OpenJDK, BTW.  Haven't noticed any stability issues, and I have plenty of compute capacity (not running on ARM).  Nevertheless, I'll likely switch over to Oracle.

[2016-10-09 14:20] mhilbush commented on #2174
I ran some more tests this morning from a couple locations in the US (all east coast) using 4-5 different ntp server pools.  All response times were between 6 and 8.5 seconds.  Over a longer sampling period, it would not surprise me to see the occasional transaction taking longer than 10 seconds.

[2016-10-09 19:16] kaikreuzer commented on #2259
Ok, if you are not on ARM, then OpenJDK might be ok - but there were many issues with it on ARM.
Actually, I am moving towards [Zulu](http://zulu.org/download/) as a recommended JVM - this is freely available like OpenJDK but has some improvements over it, especially for ARM.

[2016-10-09 21:04] mhilbush commented on #2259
Good to know. Thanks.

That being the case I'll probably stick with openjdk for now, then switch to Zulu openjdk if that becomes the recommendation.

I'd also be willing to put Zulu on my test box if you would benefit from some additional testing.

[2016-10-09 21:22] #2281 closed

[2016-10-09 22:53] Boby71 opened #2285 "Safari, iOS (iPad): PaperUI corrupted by hide icon"
I'm running the latest snapshot version from openhab2.
This is what the PaperUI looks like on my iPad Air:
![img_3039](https://cloud.githubusercontent.com/assets/22266373/19224322/e8eb273c-8e83-11e6-8a06-91dd936d6d4d.PNG)
On my PC (e.g. Firefox) everything looks normal.

[2016-10-10 06:12] kaikreuzer commented on #2285
@aounhaider1 Could you please have a look?

[2016-10-10 07:51] mdilger commented on #2285
FWIW, I am using 2 iPad's on my system and neither are showing this problem.

First one is an iPad 2 running iOS 9.3.5 and the other is an iPad Pro running iOS 10.0.2

[2016-10-10 08:18] Boby71 commented on #2285
I'm running 10.0.2 as well, rebooted the iPad and cleared all cache/temp
data in Safari.
Tried to use a differnt browser - Firefox on iOS. And the result is the
same. Don't know if Firefox has its own rendering engine or using Safari in
the background, but it's strange to see the same issue in another
browser. My hardware: iPaid Air 1

Any idea which file(s) I should check if they're really up-to-

[2016-10-10 08:34] svilenvul commented on #2249
I have ran the ignored tests for REFRESH command and now they are passing.

[2016-10-10 08:48] aounhaider1 commented on #2285
Is this issue only in inbox screen or is it in all other pages as well?

[2016-10-10 09:04] kaikreuzer commented on #2268
@resetnow With https://github.com/eclipse/smarthome/pull/2290, this is now implemented :-)

[2016-10-10 09:13] maggu2810 commented on #2285
@Boby71 FYI: http://www.howtogeek.com/184283/why-third-party-browsers-will-always-be-inferior-to-safari-on-iphone-and-ipad/

[2016-10-10 09:14] kaikreuzer commented on #2278
I can reproduce this. The event is correctly sent (as can be seen by the fact that the label texts are updated correctly), so I assume that is something for @resetnow to fix.

[2016-10-10 09:17] kaikreuzer commented on #2268
Re-opening as the there is also something left to do by @resetnow in the Basic UI.

[2016-10-10 09:18] maggu2810 commented on #2268
Ah, that's the reason for the missing "Fixes ..." ;)

[2016-10-10 09:18] kaikreuzer commented on #2268
Updated https://github.com/eclipse/smarthome/issues/2268#issuecomment-252566587 to make it clearer :-)

[2016-10-10 09:38] hmerk commented on #2249
@svilenvul Thanks!!!

[2016-10-10 12:40] aounhaider1 commented on #2285
I was only able to reproduce this issue on an iPad air simulator using openhab 2.0.0.b4 release (which does not have latest PaperUI package). Everything worked fine using openhab 2.0.0 offline and online snapshots.

[2016-10-10 12:55] kaikreuzer commented on #2285
@Boby71 Could you report the exact version you are running?
(do a `list -s | grep org.eclipse.smarthome.ui.paper` on the console)

[2016-10-10 13:22] maggu2810 commented on #2249
@svilenvul As #2277 is now merged, I assume this one could be closed. Correct?

[2016-10-10 13:22] #2249 closed

[2016-10-10 13:25] maggu2810 commented on #2073
@chrisschauer #2179 has been merged 24 days ago. Is the problem solved now?

[2016-10-10 16:25] resetnow commented on #2268
Fixed in #2294.

One thing I noticed is that widget visibility events may stop working after a sitemap file was edited and reloaded.

[2016-10-10 16:29] #2271 closed

[2016-10-10 19:27] DavidR1953 commented on #2185
I had a similar problem in that I could not delete an Item, even though the console reported success, but I have never used .items files.
When I deleted the link in PaperUI, it deleted both the Item and the Link!
So success, but concerning.

[2016-10-10 20:10] wborn commented on #2278
Thanks a lot @resetnow. It seems to be fixed with #2294 :-) The visibility changes also works well!

[2016-10-10 20:49] Boby71 commented on #2285
Seems like I'm having an old version:
180 | Active    |  80 | 0.9.0.b1              | org.eclipse.smarthome.ui.paper, Fragments: 185

I did for the installation what's described here under "snapshot release":
http://docs.openhab.org/installation/linux.html#package-repository-installation
And every 2-3 days I make an apt-get update and apt-get upgrade to get the latest version.

-> Isn't this the l

[2016-10-10 20:52] #2278 closed

[2016-10-10 20:58] Boby71 commented on #2285
Only Inbox; the rest looks fine.

Btw: Just found out, my PaperUI package has the version 0.9.0.b1 - that's an old one, right?

[2016-10-10 20:59] Boby71 commented on #2285
Markus, thank you - it says exactly this: No own rendering engine on iOS allowed.
That explains the same behaviour on different browsers...

[2016-10-10 21:10] kaikreuzer commented on #2285
But you have a beta release; I know that a while ago, there was some confusing documentation and snapshots actually gave you betas. I do not know how to clean it up in your case, but the best would be if you simply test a snapshot tar.gz version.

[2016-10-10 21:10] #2285 closed

[2016-10-10 21:13] kaikreuzer commented on #2268
I would tend to say that this is acceptable; editing the sitemaps always required a browser refresh in the past as well.

[2016-10-10 21:13] #2268 closed

[2016-10-11 05:40] beowulfe commented on #1093
It does make sense for the binding to provide the mapping to the ontology type and translation to an enum state. We'd likely still need to come up with a way to let the user define these (probably via tagging and transforms?) - the truth is, the ecosystem of bindings include many that aren't implemented natively against the ESH APIs (i.e. OH1 bindings).

[2016-10-11 06:25] michaeljoos72 opened #2295 "Basic UI: Player widget doesn't update automatically"
Hi

In the new ESH builds automatic update of Sonos-Controller (Play, Pause) doesn't work anymore:

Player Sonos_Controller   "Controller" (Sonos) {channel="sonos:PLAY1:living:control"}

sitemap demo label="Main Menu"
{
        Frame label="Sonos" {
            Default item=Sonos_Controller
        }
}

![image](https://cloud.githubusercontent.com/assets/20517474/19263217/8bdd9188-8f9b-11e6-8245-6

[2016-10-11 08:07] chrisschauer commented on #2073
Hi @maggu2810
I will retest it today.  Thanks for your ping. If it's solved i will close the ticket

[2016-10-11 08:22] kaikreuzer commented on #2295
I can confirm the issue. I can see the events correctly being received by the Basic UI, so I assume this is something for @resetnow to fix.

[2016-10-11 08:23] kaikreuzer commented on #2295
Note: This is completely unrelated to Sonos, it is not required to actually use any binding on the item/widget in order to reproduce it.

[2016-10-11 08:27] michaeljoos72 opened #2297 "Basic UI:"
Hi

This is more a feature request:

In Classic UI it's possible to see the numbers for a group item even if mapping is used:

![image](https://cloud.githubusercontent.com/assets/20517474/19263517/ff7562c8-8f9c-11e6-950e-20928211284d.png)

In Basic UI this is not possible right now. Any plan to implement this as well?

BR
Michael

[2016-10-11 08:29] kaikreuzer commented on #2297
I'd be for it - Basic UI should behave similar to the Classic UI. @resetnow?

[2016-10-11 08:50] resetnow commented on #2268
Maybe it's just me, but I had to restart ESH after adding or removing a simtemap item with visibility condition.

[2016-10-11 09:34] #2210 closed

[2016-10-11 09:34] #2256 closed

[2016-10-11 11:11] chrisschauer commented on #2073
Sorry @maggu2810 for keep this issue open for a long time.
I have retested the issue. The exception does not occur anymore.  WeMo Link discovery does not work, but i'll create a ticket for that issue. thx

[2016-10-11 11:11] #2073 closed

[2016-10-11 11:20] maggu2810 commented on #2073
No problem, thank you for testing it again.

[2016-10-11 12:02] chriskn commented on #1402
In order to use the web feature we should update to Xtext 2.10 because this version includes multiple bug fixes regarding the web integration.

Furthermore, the lanugae server protocol (LSP: https://github.com/Microsoft/language-server-protocol) is currently in implementation for Xtext. LSP will allow a generic integration of frontends. Likely LSP will be used in further versions of Xtext for web

[2016-10-11 12:52] tomhoefer commented on #2282
The only thing that we can change here is to separate the assertions for wait for things became online and the initial propagation of a fw status..

[2016-10-11 14:40] hmerk commented on #2073
@chrisschauer I just checked the latest version in my IDE and can confirm that discovery is working as expected. My WeMo Link was dicovered and after adding it as a thing, all my WeMo LED bulbs appeard in inbox.

[2016-10-11 15:35] chrisschauer commented on #2073
I just tested the snapshot version of the binding from yesterday's build. The WeMo Link can be successfully discovered and added. The discovery is started, but does not create an discoveryResult.

Here are the logs...

[code]

[2016-10-11 15:41] hmerk commented on #2073
Strange, i will give it a try as well to see the diference between snapshot and my ide.

[2016-10-11 16:38] hmerk commented on #2073
@chrisschauer
I just downloaded Offline Snapshot 527 and can not reproduce your error on my Windows10 machine. Lightbulbs are discovered as expected.

[2016-10-11 18:15] resetnow commented on #2295
I wasn't aware of existence of the Player widget. I assume next/previous buttons should also be non-selectable?

[2016-10-11 18:22] kaikreuzer commented on #2295
REWIND and FASTFORWARD are both states - so if this item is in one of these states, the according button should appear selected. The other two states of the item are PLAY and PAUSE.

[2016-10-11 19:08] resetnow commented on #2295
Ok, I found the problem, for some reason event widget ID and the id assigned when a page is rendered are different. I can see a numeric widget id in the event but at the rendering time itemUIRegistry returns item name as ID here:

[code]

[2016-10-11 23:33] Boby71 commented on #2285
I can confirm that the error vanished as soon as I used the snapshot zip
file instead of apt-get. Thank you.

[2016-10-12 09:55] chrisschauer commented on #2073
@hmerk
Thanks for trying to reproduce the issue. I'll do a debugging session during the next days with latest sources in eclipse IDE.

[2016-10-12 10:00] hmerk commented on #2073
@chrisschauer Please feel free to ping me directly if you find any problem.

[2016-10-12 10:27] chrisschauer opened #2304 "Duplicate Rule import from Bundle-Resources"
Hi,

i can't found any specification how rules from bundle resources are imported. So I decided to start with this issue a discussion.

**Problem**
I have a binding which includes a rule (maybe for rule-templates it's the same) in the bundle resources under /ESH-INF/automation/rules as JSON. The first rule import works perfect. But on every further restart of the bundle the importer tries to re-ad

[2016-10-12 11:35] maggu2810 commented on #2304
Is it expected behaviour that the rule is still available if the provided bundle is removed?

[2016-10-12 11:51] chrisschauer commented on #2304
In my use case it does not make sense to keep the rule if the bundle isn't installed. In general I would also suggest a way, where the rule is removed/or disabled if the bundle is stopped.

[2016-10-12 12:49] sjka commented on #2304
the `RuleResourceBundleImporter` is not a `RuleProvider` but actually does (or better: tries to do) an import, therefore saving the rule in the `ManagedRuleProvider`. So it rather looks like purpose and not like a bug.
That way of implementing it IMHO is (at least) surprising, considering the way how it works for all the other entities within ESH...

[2016-10-12 12:55] sjka commented on #2269
Fully plausible, as `ManagedItemProvider.toPersistableElement()` does not take care to persist the function field. Definitely a bug.

[2016-10-12 15:11] xrow opened #2308 "Minor issue in title tag"
Hi,

It seems that for example german umlaut "ü" out of "Menü" is not properly encoded in the HTML title of the basic ui. If the files and text are properly encoded you don't need special HTML encoding.
<img width="202" alt="unbenannt" src="https://cloud.githubusercontent.com/assets/295491/19315659/d2ce2dd8-909e-11e6-89b4-7c2e5020ee96.PNG">

[2016-10-12 15:27] kaikreuzer commented on #2308
@resetnow Could you please check?

[2016-10-12 18:09] resetnow commented on #2295
@kaikreuzer when a default widget is resolved to an actual widget type (resolveDefault in ItemUIRegistry.java), parent reference (eContainer) is lost. Should `WidgetImpl` be extended with `setParent(Widget parent)` which would call eBasicSetContainer?

[2016-10-12 18:21] resetnow commented on #2295
@michaeljoos72 as a temporary fix please consider using a Switch with an explicit mapping:
[code]

[2016-10-13 02:52] xsnrg commented on #2295
This might be a larger issue as I am seeing similar issues in BasicUI after #640 was merged.  https://community.openhab.org/t/icons-no-longer-updating-in-basicui/15199/1

[2016-10-13 08:02] chrisschauer commented on #2073
@hmerk Sorry. Now all works without issues. All LED bulbs are discovered. I don't know why it was not working the last time... :-) Thx

[2016-10-13 09:17] sja opened #2312 "Textarea for rule script editor has wrong height"
I already have a solution but no time to fix that line:

https://github.com/eclipse/smarthome/blob/9f862e59309bc8424eec5fc1fb5c97e030a62a23/extensions/ui/org.eclipse.smarthome.ui.paper/web-src/css/components.css#L694

There is `overflow:scroll` but to fix the height calculation for an auto-growing textarea this has to be `overflow:hidden`.

I think the solution here was copied from [this codepen](

[2016-10-13 12:07] #2269 closed

[2016-10-13 13:22] kaikreuzer opened #2315 "Make use of service context in config parameter descriptions"
In the [documentation](https://www.eclipse.org/smarthome/documentation/development/bindings/xml-reference.html#xml-structure-for-configuration-descriptions), we list "service" as a possible value for the context of config parameters.
As we have more and more new services in place (tts, audiosinks, voices, persistence, etc.), I would actually like to make use of this. The goal is to give the UIs a

[2016-10-13 16:23] hmerk commented on #2073
👍

[2016-10-13 20:26] rkoshak commented on #2190
I'm also not having any of my Items identified in my Rules. Actions are also not recognized in Rules (below is a screenshot showing createTimer and logInfo . Hovering over the error it says "The method logInfo(String, String) is undefined".

![image](https://cloud.githubusercontent.com/assets/6385096/19365584/aa9a385e-9150-11e6-8728-563bbf16f3ac.png)

[2016-10-14 20:11] wborn opened #2321 "LIFX commands sometimes not executed due to UDP packet loss"
In the current LIFX implementation commands may not be succesfully executed due to UDP packet loss. As a result bulbs do not turn on/off or change to the correct color. In my setup it occurs quite often since I have a lot of bulbs that are motion activated. Sometimes I end up in a completely unilluminated room which is quite annoying.

I think the binding should:
- keep track of the most recently

[2016-10-14 20:39] xsnrg opened #2322 "Basic UI no longer updates icons"
from: https://community.openhab.org/t/icons-no-longer-updating-in-basicui/15199/7

Using Chrome or Firefox, icons no longer update in BasicUI.

I am using Linux as the client, and either Firefox or Chrome as the browser on the client, I have tried build 531, 536, and 537.  I have used a NUC running LInux and a Pi2 as the servers.  I have tried various devices, though lights are easiest to test, an

[2016-10-14 21:23] wborn commented on #2322
Yes I've also seen this issue after more testing. It looks a lot like the issue I reported in #2030. But this time around it is harder to reproduce. Some pages still have a proper eventsstream, but others don't. I've also seen the eventsstream stop like this on the demo.

When I enabled logging on the sitemap package, I saw the frontend subscribing itself to events. But when events are generated (

[2016-10-14 22:10] wborn commented on #2322
I don't know if it is the same issue. But when I open 6 tabs to the same Basic UI in Chrome, it totally stops working. As soon as I go back from 6 to 5 works again.

[2016-10-15 07:18] smar000 commented on #2322
I am seeing the issue with the item states as well. For example, a simple string item:
`String 	Last_Location_Method "Location method"`

and a corresponding sitemap entry:
`Text item=Last_Location_Method label="Last Location Method [%s]" icon="flow"`

The `Last_Location_Method ` state is then updated in a rule. The state is verified as updated via REST. However, the BasicUI sitemap no longer autom

[2016-10-15 10:07] kaikreuzer commented on #2322
Thanks @smar000, an example like yours is what we need in order to reproduce things. A single item and a single widget on a sitemap. So I did exactly this and here is the result:

https://www.youtube.com/watch?v=gy6xpob_404 (seeing Chrome, Safari & Firefox side by side).

[2016-10-15 10:17] kaikreuzer commented on #579
@splatch Ping!

[2016-10-15 10:20] kaikreuzer commented on #584
This is now fully in place (through quite a few PRs in the last two weeks, which I don't want to list all here).

[2016-10-15 10:20] #584 closed

[2016-10-15 10:21] #602 closed

[2016-10-15 10:22] kaikreuzer commented on #631
Implemented with https://github.com/eclipse/smarthome/pull/1872

[2016-10-15 10:22] #631 closed

[2016-10-15 10:22] #2308 closed

[2016-10-15 10:24] #2297 closed

[2016-10-15 10:31] #1021 closed

[2016-10-15 10:31] #1028 closed

[2016-10-15 10:47] mhilbush commented on #2322
I'm seeing the same thing as @smar000.  I have an item `CurrentTime` that's updated every 60 seconds by the NTP binding.  I see `CurrentTime` being updated every minute in events.log, however, the time is never updated in the Basic UI.  It updates on the page only on the first load of the page, and when I refresh the page.  I see this across multiple platforms (Windows, Mac, Android) and across mu

[2016-10-15 10:50] kaikreuzer commented on #2322
Can you reproduce the steps that I did in the video posted above? What is the difference to your situation?

[2016-10-15 11:01] mhilbush commented on #2322
Not exactly what you did.  But here's a trace of events.log showing the CurrentTime updates, yet Chrome, Firefox, and Safari all are showing an old date.

<img width="1440" alt="screen shot 2016-10-15 at 6 58 20 am" src="https://cloud.githubusercontent.com/assets/19286354/19409590/161e39cc-92a5-11e6-9025-0c2c99d08a7a.png">

[2016-10-15 11:14] mhilbush commented on #2322
A couple other facts.
- I have one system on build 524 and other one on 537.  I see the same behavior on both systems.
- I see these bundles on the 537 build.  Does that look right?
[code]

[2016-10-15 11:47] kaikreuzer commented on #2322
I guess we are more interested in the version of the Basic UI ;-)

As mentioned above: Please help analyzing the problem by first confirming that what I do in the video is working for you as well, so we can be sure we start off common grounds.
Then try to slightly change this setup until it shows your issues.

[2016-10-15 11:49] mhilbush commented on #2322
Yeah, sorry about that.  :-(

[2016-10-15 12:38] mhilbush commented on #2322
Here you go.  This is on my Ubuntu box running build 524, where I have only Chrome and Firefox installed.
https://youtu.be/zgx64m45xpg

[2016-10-15 12:46] kaikreuzer commented on #2322
What your video lacks is the moment that you initially request the UI.
Note that it is normal that you won't have any updates if you just leave the browser on the page and do changes to items or sitemaps or you restart the runtime.

[2016-10-15 13:17] mhilbush commented on #2322
Ok, ok.
https://youtu.be/ZicFT1lT0CQ

[2016-10-15 13:29] smar000 commented on #2322
Thanks @kaikreuzer. I have also just tried again using exactly same approach as on your video. Using build 537 of OH and Chrome 53.0.2785.143m on Windows 10, my results are the same as before - i.e. the item state does not dynamically update and remains as `-` until I do a refresh of the page.

However, I repeated the test using IE 11 (actually 11.321.14393.0), and this time, the updates show corr

[2016-10-15 14:20] kgoderis commented on #2321
I have never experiences UDP packet losses, but I can imagine this is quite annoying to say the least.

Do you plan to leverage the message ID for this purpose? e.g. you can resend for every message that did not get a return, not only the last one sent, or LightPower/Color/State. btw, it is the reason why I initially opted for the (do not remember exact denomination by LIFX here) "mechanism to exp

[2016-10-15 15:38] resetnow commented on #2322
Yes. It worked for me, but I had to restart openhab in order to get it working.

[2016-10-15 15:39] resetnow commented on #2322
As a side note, please try cleaning you browser cache! It's a very unlikely cause but since we are trying to narrow down a problem it's worth a try.

[2016-10-15 15:54] xsnrg commented on #2322
I have tried Chrome with incognito, cleared cache in normal mode, and firefox normal and private browsing.  The result is the same for me in every case.  The icons do not update.  A refresh of the browser in each case shows the proper icons that reflect the states.  It looks like @mhilbush 's video.

[2016-10-15 16:44] xsnrg commented on #2322
To try to get more information that may be valuable, I created a new sitemap that looks like this:

[code]

and the corresponding .items file:
[code]
I load this new site map in chrome and it exhibits the same behaviour that the actual items do in my live sitemap, so I hit good ole F12 in the browser on this stripped down sitemap, and there are some errors:

[2016-10-15 17:12] resetnow commented on #2322
None of referenced Javascript files belong to BasicUI (it should be smarthome.js or mdl.js). Do they appear every time page is refreshed?

[2016-10-15 17:23] xsnrg commented on #2322
Good question, yes, they are there all the time, but I think we can ignore this as they are not there in incognito mode, so there must be a plugin on that browser.  I will chase that down later.  Ignoring those then, there are no js errors.  Incognito mode behaves the same without the errors.  Will keep digging.

[2016-10-15 17:29] resetnow commented on #2322
Thanks for checking this. Chrome can display event stream if you click on Network tab in devtools, refresh the page, click that long subscription ID and then click “Event stream” tab. Do you see any events in there?

[2016-10-15 17:51] xsnrg commented on #2322
This is bizarre.  It started working correctly.  There are no events without moving a switch, as you would expect, but when the switch is toggled, there are events.  They are below, and the icons are updated as one would suspect.  I completely restarted chrome and it is still working, so I reloaded and went back to my sitemap.  My sitemap is not working, and there are no events in the stream.

Wha

[2016-10-15 17:53] BClark09 commented on #2322
This seems to be an intermittent problem for everyone, the eventsource is created (times out after 1 minute and a new one is created), but it doesn't respond to any changes.

![image](https://cloud.githubusercontent.com/assets/8983584/19412192/469f0762-9308-11e6-96ee-aa327e2c4dc7.png)

Every now and then I get a working view, and the eventsource receives the event and updates the widget accordingl

[2016-10-15 18:01] resetnow commented on #2322
Subscription should be the same, but its ID is sent every time a navigation event occurs, so server knows which widgets should receive events.

[2016-10-15 18:16] xsnrg commented on #2322
so... try this sitemap with the same .items file from before.

[code]

The first switch operates and updates.  The second switch also has events appear in the stream, but the browser does not update the elements.

[2016-10-15 18:37] Boby71 opened #2324 "PaperUI: Values of OH2 things should have identifyable names"
When I discover a thing in OH2 with more than one channel, it appears in the "control" view of OH2 the following way:
![paperui_value](https://cloud.githubusercontent.com/assets/22266373/19412449/c95f4654-9316-11e6-8984-33c5fa00b374.png)
As you can see, it's not possible to identify which value belongs to which channel.
At least the name of the channel should appear here in order to be able to ide

[2016-10-15 18:43] kaikreuzer commented on #2324
I actually think this is a duplicate of https://github.com/eclipse/smarthome/issues/1550, but I have to agree that #1550 is a bit cryptic to read...

Is it possible that the labels are correctly shown after you added a thing and they only disappear after a restart of the runtime?
There is no general problem with Things with more than one channel, this is for sure.

[2016-10-15 19:25] xsnrg commented on #2322
I just upgraded to build 542, and now I have a consistent experience to report.  Here is a video:

[youtube video](https://youtu.be/jSztyY83ty8)

Starting from a fresh chrome browser, I go to the bookmark that I have set for my sitemap.  The sitemap loads, and there is a subscription.  I click on a link to go to the next page, and there is not a new subscription.  Is the assumption here is that th

[2016-10-15 19:27] resetnow commented on #2322
Yes, they should. The subscription is updated with the address of the page you go into.

[2016-10-15 20:19] MHerbst opened #2325 "PaperUI: message "PaperUI works best ..." on latest versions of Chrome, Edge, IE on Windows 10"
I have installed the latest openHAB Build (#542) on Windows 10. But now Paper UI complains that id works best with modern browsers.
This message appears on Chrome 54, Edge 38.14393 and also Internet Explorer 11.321.14393. Firefox 47 is OK.

In addtion on Chrome the configuration page for the HomeMatic is shown incomplete. On top of the page you can see the message, but not completelsy visible (loo

[2016-10-15 20:41] kaikreuzer commented on #1093
This is very much the idea of the [system channels](https://www.eclipse.org/smarthome/documentation/development/bindings/thing-definition.html#channels). Note that bindings CAN define such "enum" channels and provide a fixed set of possible values with them. Different bindings might define it slightly different though, so there is no "enforcement by the framework". Once we come to terms that bindi

[2016-10-15 20:49] kaikreuzer commented on #2325
@aounhaider1 Could you have a look, please?

[2016-10-15 21:55] kaikreuzer opened #2326 "Read-only switches show toggle AND state"
Just came across this channel type, i.e. a normal read-only switch without any state options:

[code]

This is what the Paper UI renders:
![bildschirmfoto 2016-10-15 um 23 51 45](https://cloud.githubusercontent.com/assets/3244965/19413616/9e8715d0-9332-11e6-8479-e0ab7c78f4fd.png)
I assume this is not intentional. There should be either the toggle (and then in a deactivated form) OR the label text.

[2016-10-15 22:02] kaikreuzer opened #2327 "Example bundle for UI testing"
We have many different combinations of channel types, item types, read-only, state-options etc. and I see that these are a regular source for [regressions](https://github.com/eclipse/smarthome/issues/2326) in the Paper UI (and possibly others as well).

As automatic UI testing is challenging and we do not have anything for testing the visual appearence in place, I would suggest to create an exampl

[2016-10-16 09:00] smar000 commented on #2322
I think @BClark09  is correct. The problem is intermittent and may be specific to Chrome (possibly on Windows). My Chrome has again stopped showing updated item states this morning, but IE is still working. I have tried all the usual methods of clearing browser cache etc in Chrome, but that didn't help.

@resetnow WRT the chart visibility tag issue, this is there even after a restart. The issue is

[2016-10-16 09:04] resetnow commented on #2322
IE does not support event streams and uses long-polling. It seems that the problem is related to the event stream generation, therefore IE is not affected.

[2016-10-16 10:40] wborn commented on #2322
I especially have this issue on pages with a lot of updates. So I wrote little stress test that can reproduce it on the demo by opening closing windows a lot of times. This is the rule I used:

[code]

Things start work pretty well initially. But after a while the items on the `Open windows` group page no longer update for me.

[2016-10-16 11:16] wborn commented on #2322
More specifically. The events stream to the `Open windows` group page breaks when I reload this page a couple of times.

[2016-10-16 14:43] Marty56 opened #2329 "SONOS command "notificationsound" does not add sound file to the playqueue"
The new SONOS command "notificationsound" is not added a respective sound file in the SONOS playqueue. If used it only plays the sound file which is already exisiting in the queue.

The desire behavior would be to act like the "playuri" command in this respect. Meaning to clear the queue and add the respective sound file.

[2016-10-16 17:46] kaikreuzer commented on #2329
It works well for me, I especially also use it in https://github.com/eclipse/smarthome/pull/2306.

It adds the notification sound to the play list, changes the volume, plays it, changes the volume back and removes it again from the playlist.

Note that there was a bug that notification sounds didn't work if nothing else was played before (i.e. after a runtime restart) - this has been fixed in the

[2016-10-16 19:18] Marty56 commented on #2329
Thanks for the feedback. I just tried it and although my build is only about 9 days old, I seem to be affected by the bug you have described.
So if this is fixed then you can close the issue.

[2016-10-16 21:48] wborn commented on #2321
I'm currently researching what a good approach could be for tackling this issue. Besides unguaranteed delivery of packets, UDP also has no guarantees about packet order. The very reason LIFX choose to use UDP over TCP is probably to eliminate packet overhead so packets either get lost or get delivered on time which is helpful for lighting effects. Making sure each packet is received at the bulb in

[2016-10-16 22:29] wborn opened #2332 "Selection sitemap item does not show current selection after Basic UI page (re)load"
`Selection` items don't show the current selection after a page (re)load in Basic UI. On the demo the reproduction scenario is:

1. Open Basic UI
2. Open `Widget Overview`
3. Click on the `Scene selection` dropdown menu
4. Choose a value e.g. `Dinner`
5. Notice how the item now shows `Dinner` as current selection
6. Reload the page
7. Notice how the item no longer shows `Dinner` as current selecti

[2016-10-16 22:41] splatch commented on #579
I rebased code to latest master and pushed jaas auth code to branch (should work with any login module based on user+password credentials). Didn't have time to test it yet. I will test it over coming days, wrap it into single PR and let others pick it up and continue or bury it.

Sorry it takes so long, my daily work consumes all time I could have and I doubt if it will change until end of Novembe

[2016-10-17 07:38] kgoderis commented on #2321
@kaikreuzer If I remember well we decided to change brightness for ON/OFF switching to bring it in line with other bindings e.g. Hue. Maybe we have to do things differently for LIFX, as @wborn suggests adding an additional channel

[2016-10-17 09:11] Marty56 opened #2333 "Requirements for audio capabilities of OH2"
I have noted that in issue #2306 an enhancement of the audio capability in OH2 is actively developed.
I am not sure whether the following requirements are covered.

1. Enable an asynchronous for the say instructions.
User should be able to issue many "say" instructions in rules without having to worry about the timing. OH2 should manage those "say" instructions and process the output sequentially

[2016-10-17 10:58] mhilbush commented on #2322
I turned on trace level debugging and saw this.  Problem is my sitemap is not called demo...  I changed the name of my sitemap to demo.sitemap, and the basic UI updates started working.

[code]

[2016-10-17 11:14] mhilbush commented on #2322
Well, maybe not.  I can't seem to reproduce the behavior that made it work.

[2016-10-17 11:19] maggu2810 commented on #2327
I am fine with this suggestion.

I have already done it myself some time e.g. here if I need to test / fix the Paper UI myself:
https://github.com/maggu2810/smarthome/tree/binding-test/extensions/binding/org.eclipse.smarthome.binding.test

[2016-10-17 11:37] mhilbush commented on #2322
@kaikreuzer What's happeneing here is pretty strange.  I can consistently reproduce this behavior after a fresh restart of OH2.
 https://youtu.be/mpEcXMPkiFQ

[2016-10-17 11:48] mhilbush commented on #2322
In another scenario, if I start with the sitemap named demo, it works.  After changing to another sitemap, it never works again (even with demo).  Again, I can reproduce this only after a clean restart.
https://youtu.be/CCEX-PDEPCw

[2016-10-17 17:47] resetnow commented on #2322
So I did some debugging and there is a potential problem: <a href="https://github.com/eclipse/smarthome/blob/master/bundles/io/org.eclipse.smarthome.io.rest.sitemap/src/main/java/org/eclipse/smarthome/io/rest/sitemap/SitemapSubscriptionService.java#L184">it seems like sitemap name is compared to the sitemap file name</a>.

In the example given by @xsnrg, sitemap should be saved under name test.sit

[2016-10-17 18:18] kaikreuzer commented on #2322
This is indeed required and was so since the beginning of sitemaps in OH1. We might want to add some validation that logs a warning if this is not the case.

[2016-10-17 18:18] kaikreuzer commented on #2322
So is there actually an issue left here? Could anyone summarize?

[2016-10-17 18:29] wborn commented on #2322
Yes I still have a reproducible issue with the demo (see comment above). The sitemap name is `demo.sitemap` and it starts of with `sitemap demo label="Main Menu"`. The timing of my example may seem absurd. But when I change it to 500ms and spam the refresh button of my browser, the eventsstream always breaks.

[2016-10-17 18:31] BClark09 commented on #2322
Unfortunately so. I have a default.sitemap which starts "sitemap default", and I am still experiencing this issue inconsistently. I can't seem to find a way to reproduce this problem reliably, since sometimes doing the same steps works, sometimes it doesn't. Furthermore:

[code]

The last time this issue occurred was with the above sitemap, I went into "Bedroom" and I saw a live update of my senso

[2016-10-17 18:32] mhilbush commented on #2322
Ah, that was it for me.  If the name inside the sitemap file doesn't match the name of the sitemap file (before the .), then it almost works (i.e. the pages render correctly, but nothing updates).  And, yes, I would agree a warning would be very helpful.  👍

[2016-10-17 18:41] xsnrg commented on #2322
I too, knew of the rule they must match.  My example sitemap as well as my home sitemap follow the rule and still exhibit the issue.

[code]

[2016-10-17 20:07] resetnow commented on #2322
@kaikreuzer out of curiosity have you been able to reproduce the issue?

Also, I think it wouldn't hurt to post what platform we're running openhab on. I tested on Linux (Fedora), openjdk 1.8.0_101.

[2016-10-17 20:34] xsnrg commented on #2322
Tested on Fedora 23 server with Oracle JDK version "1.8.0_60".
Client chrome 54, and Firefox 49 on Fedora 24

[2016-10-17 20:58] wborn commented on #2322
openHAB 2.0.0-SNAPSHOT Build *#*546
Chrome 54.0.2840.59 (64-bit)
Oracle Java 1.8.0_101 (64-bit)
Ubuntu 16.04.1 LTS
Firefox 49.0

My issue is something in the backend. Because when the eventsstream breaks on a certain page, it breaks on all my browsers for that page. Also on browers/devices that did not yet connect. It really reminds me of the issue I reported in #2030.

[2016-10-17 21:02] resetnow commented on #2322
Well this is certainly <i>not</i> a browser compatibility issue. Event stream was used in BasicUI before, just in a different way.

That's two people with Oracle JDK, by the way.

[2016-10-17 21:29] xsnrg commented on #2322
Just reproduced it on a Pi2, also Oracle JDK 1.8.0_70

[2016-10-17 21:40] wborn commented on #2322
My issue is only reproducible with my stress test rule when only one browser connected to the `Open windows` page and I spam the refresh button. When I spam the refresh button while a second browser is also connected, it keeps working.

[2016-10-18 12:09] aounhaider1 commented on #2325
I could not reproduce this issue on Chrome. I tried with chrome 53 and 54 and everything seems to work fine. On edge and IE the error makes sense as it is they both do not support SSE. It is, however, missing the error class which I have added here https://github.com/eclipse/smarthome/pull/2335) With https://github.com/eclipse/smarthome/pull/2254 we will not need this message at all.
Can you pleas

[2016-10-18 16:14] resetnow commented on #2322
It would be nice to try with openjdk then.

[2016-10-18 16:26] BClark09 commented on #2322
Pi3 (Debian Jessie), also Oracle JDK 1.8.0_65

Will try open JDK and get back to you.

[2016-10-18 16:33] wborn commented on #2322
I think I found the issue. At line 116 in `SitemapSubscriptionService` the `listener` is removed whereas I think it should remove the `sitemapPage`. The `.remove(..)` works on map keys, which should be the `sitemapPage`. Whereas the `listener` is the value of the map.

When I apply this change my reproduction scenario can no longer reproduce the issue. I can then spam the reload button all I want.

[2016-10-18 16:34] resetnow commented on #2322
I'll check it in an hour or so

[2016-10-18 16:53] Marty56 commented on #2329
I have just installed the last build 546. The behavior did not changed.
Was the bugfix already included in this build 546?

[2016-10-18 16:54] maggu2810 commented on #2282
Thanks @tomhoefer, let's see if #2301 solve the problem. Will reopen this issue is the problem still remains (sometime).

[2016-10-18 16:54] #2282 closed

[2016-10-18 16:57] #2325 closed

[2016-10-18 17:08] resetnow commented on #2322
Sounds right to me. It's not clear to me why I can't reproduce it though. Could you open a PR? (I'm not fluent in Java so @kaikreuzer may have different opinion on this),

[2016-10-18 17:16] maggu2810 commented on #2329
Would be great if you could setup the Eclipse SmartHome IDE and test the current master yourself to check if it is already fixed in ESH.

openHAB normally include the latest "stable" snapshot build.
Here you can check the build date of that snapshots:
https://hudson.eclipse.org/smarthome/job/SmartHomeDistribution-Stable/

If the respective fix has been merged after that date, it is not included in

[2016-10-18 18:18] wborn commented on #2322
Here's a fix for people who are eager to test and want to see if my fix also solves their issue:

* Download [org.eclipse.smarthome.io.rest.sitemap-0.9.0-SNAPSHOT.zip](https://github.com/eclipse/smarthome/files/537029/org.eclipse.smarthome.io.rest.sitemap-0.9.0-SNAPSHOT.zip)
* Rename .zip to .jar
* Open console and find the bundle ID to update:
[code]
* Update the bundle (e.g. when bundle ID is 11

[2016-10-18 18:49] #2322 closed

[2016-10-18 18:57] MHerbst commented on #2325
Checked it again with build #546. The form works now correct on all browsers.
Only the message "PaperUI works ..." ist not completely visible on Edge:
![image](https://cloud.githubusercontent.com/assets/616792/19492035/77426480-9575-11e6-8169-011f651c592a.png)

[2016-10-18 19:18] #1983 closed

[2016-10-18 19:55] kaikreuzer commented on #2321
No, an additional channel makes no sense. Brightness=0% simply is the same as OFF in ESH terms (and from a consumer perspective, this makes a lot of sense anyhow).
There are just two different options on how to deal with an ON afterwards:
a) go to brightness 100%
b) go to the last brightness level before it was turned off (be it by receiving 0% or OFF, which are the same).
For different people and

[2016-10-18 20:49] kgoderis commented on #2321
mmh... I would make it behave like the LIFX app itself. Having to change the brightness on the iOS app is quite annoying when being in a mixt environment of both ESH and iOS app (it is the Wife factor ;-) ). LIFX clearly sees brightness and switching as different things.

With respect to b. here above, we could have side effects of lost state after a restart of the runtime and so forth....

[2016-10-19 01:06] xsnrg commented on #2322
Thanks for the sleuthing folks!

[2016-10-19 09:47] sjka opened #2340 "[Test Failures] WemoLightHandlerOSGiTest & WemoMakerHandlerOSGiTest"
https://s3.amazonaws.com/archive.travis-ci.org/jobs/168602572/log.txt

[code]

[2016-10-19 09:48] sjka commented on #2340
@hmerk could you please have a look?

[2016-10-19 10:26] hmerk commented on #2340
would be better to adress this to @svilenvul as he wrote the tests. Bevor the tests had been merged a couple of days ago, he checked and the tests passed.

[2016-10-19 11:33] dstivanov opened #2341 "WatchService Provides Only File Name Instead of Relative Path to File"
When implementing the AbstractWatchService, a developer can provide an option to track the sub-directories of the watched directory by implementing the AbstractWatchService.watchSubDirectories() method. However, when the sub-directories are tracked, the AbstractWatchService.registerDirectory(Path subDir) will be called for each sub-directory. This means that the file path, passed to the AbstractWa

[2016-10-20 07:25] danchom commented on #2304
@chrisschauer you can't overwrite existing rule, because all the changes made on that rule will be lost on restart of the system. This is expected behavior. If you want to remove a rule you have to explicitly delete it.
@maggu2810 expected behavior is to remove the rules from provider when the provider is disappeared. These means the imported rules have to disappeared when the managed provider is

[2016-10-20 08:13] aounhaider1 commented on #2312
No, actually that's the desired behaviour. The textarea should only expand to a maximum height and after that, the scroll should be available and height should not increase.

[2016-10-20 08:14] sja commented on #2312
Then you have to implement that. Actually, in Chrome this is unusable!

[2016-10-20 08:18] aounhaider1 commented on #2312
Is it not working at all for you? Can you please share a screenshot and the chrome version that you are using? I am currently testing it with 53.* and 54.*.

[2016-10-20 08:19] sjka commented on #583
That's only partially right - considering that the user also can define channels... So if the level of abstraction is right (i.e. server <-> Thing, topic <> Channel), then something like this would be possible:

[code]

In #2343 I just made an proposal how existing `ChannelType`s can be referenced in such manual channel definitions, making it easier for bindings to define what can be expected. Thi

[2016-10-20 08:41] maggu2810 opened #2345 "Test failure(s): NtpOSGiTest"
The build on the HIPP failed:
https://hudson.eclipse.org/smarthome/job/SmartHomeDistribution-Nightly/1387/

[code]

Full log: [log.txt](https://github.com/eclipse/smarthome/files/541207/log.txt)

[2016-10-20 08:44] maggu2810 commented on #2345
@petarnv As the test has been written by you, can you have a look at?

[2016-10-20 09:39] maggu2810 commented on #2341
#2074 has been merged

[2016-10-20 09:58] sjka commented on #2327
I like the idea too. We actually have built something similar here for our purposes, like a "virtual" binding. It's used heavily for development and fulfills its purpose for the "standard" use-cases.

However, I think it's also worth mentioning that the complexity gets enormous if you want to cover all dimensions completely and also use it for bug analysis. So we just had the idea to extend it in

[2016-10-20 11:52] petarnv commented on #2345
Yes, I will look at it.

[2016-10-20 20:41] #2332 closed

[2016-10-21 07:17] m-memova commented on #1993
Hello everyone,
while I was implementing the tests, I noticed some things in the code. They are not bugs but I made some changes in the binding's code that I think can be considered as minor improvements. I made a PR for them:
#2348
@paphko can you take a look and let me know if you are OK with those changes?
Regards,
Mihaela

[2016-10-21 09:50] petarnv commented on #2345
I saw that couple of builds have failed, because of the NTP Tests. I have pulled the latest changes, but I can't get this tests to fail. But judging from the log of builds on the HIPP, all the failures are caused by the fact that I can't get an item with type `StringType` from the item registry. On the other hand it is odd that I have no problem getting an item of type `DateTimeType`. I'm not sure

[2016-10-21 10:05] maggu2810 commented on #2345
Have you realized that message:

[2016-10-21 10:22] petarnv commented on #2345
Yes, but I don't think that a wrong host name may be the reason. When there is a wrong host name the thing is still online and the item registry is updated with the system time.

[2016-10-21 20:03] kaikreuzer commented on #2345
The build is red since the beginning of this week now - it was only broken by introducing new tests (and not by breaking any existing ones), so I would think that we should deactivate it, if no solution can be found quickly.

[2016-10-22 07:21] marcelrv commented on #2345
Strange indeed. When I did the testing ntptests ran fine in both Linux & Windows.
@petarnv during testing I did have failures in other tests (i had to disable core.thing.test). Possibly that got fixed in the mean time, but broke the ntp tests

[2016-10-22 19:59] kaikreuzer opened #2352 "VoiceManager fails to find suitable voice"
There is some problem with the selection of the right voice to use in VoiceManager.

If e.g. MaryTTS is installed, you have:

[code]

Calling

[code]

results in

[code]

When the locale (in Configuration->System) is set to "de" instead of "de_DE", TTS works as expected.

[2016-10-22 22:51] kaikreuzer commented on #2327
I am not sure if we should restrict it to "binding". As mentioned above, we could also have rule modules and other stuff (persistence services, voice features, etc.) in there - I would prefer to have all this in a single bundle and not ending up with 5 different bundles that cover different parts of the system.

[2016-10-23 08:10] wborn opened #2353 "Add documentation URL to binding.xml"
A lot of bindings have their own wiki page that contain lots of useful information. I think adding the URLs to these in `binding.xml` could help in several ways:

* in Paper UI a hyperlink could be created to the binding wiki page
* the URLs can be used in automatically generated documentation

People could cleanup their wiki bookmarks and don't have to update them when they get relocated some day

[2016-10-23 08:50] kaikreuzer commented on #2353
Wiki pages are only used in openHAB 1, for ESH the agreed way of [documenting a binding](https://www.eclipse.org/smarthome/documentation/development/bindings/docs.html) is to keep it with the sources, so that it is also versioned with them.
It is then up to the solution to include this into their own documentation - there should be no hardcoded urls anywhere.

[2016-10-23 08:50] #2353 closed

[2016-10-23 17:18] Jaghova commented on #2352
Is there any plan to add other lenguages in case they are supported? As far as I know VoiceRSS supports multiple lenguages.

[2016-10-23 17:41] #2345 closed

[2016-10-23 19:10] kaikreuzer commented on #2352
The voice infrastructure supports ANY language, it all just depends on what voices are available. Currently, the VoiceRSS TTS has [support for de and en](https://github.com/openhab/openhab2-addons/blob/master/addons/voice/org.openhab.voice.voicerss/src/main/java/org/openhab/voice/voicerss/internal/cloudapi/VoiceRSSCloudImplementation.java#L67), but this can be easily extended to all 26 languages o

[2016-10-23 19:58] JochenHiller commented on #2352
@Jaghova Yep, there are more languages, which I planned to add. The initial contribution was done in just 2 evenings, I wanted to add first test cases before adding more features. But sure, I will add all supported languages of VoiceRSS extension soon.

@kaikreuzer about the reported issue: VoiceRSS extension does register languages with both country and region code (e.g. de_DE). So I did not run

[2016-10-23 20:09] kaikreuzer commented on #2352
The say() command in rules supports defining a voice that should be used - through this, the locale is also directly chosen. I would think that this is good enough (and we could add this option to the console say command as well, yes), since in most cases, you really want to chose the voice that is used.

[2016-10-23 20:12] kaikreuzer commented on #2352
I actually think that this problem might be fixed through the [commented out code](https://github.com/eclipse/smarthome/blob/360455fa2f7ba5d226794788186018c0c27cfd87/bundles/core/org.eclipse.smarthome.core.voice/src/main/java/org/eclipse/smarthome/core/voice/VoiceManager.java#L339) in VoiceManager - unfortunately, this feature is only available in Java 8, so this code cannot be enabled (yet)...

[2016-10-24 07:05] dstivanov commented on #2341
Thank you @maggu2810 ! I will try to help @petarnv with fixing the issues in the Config Dispatcher tests.

[2016-10-24 21:27] OLibutzki opened #2356 "i18n: label of channel is not resolved"
In my binding I have this channel definition:

[code]

On the Paper UI the label is not resolved (_@text/dashButtonPressChannelLabel_ is displayed) although the entry is contained in the i18n properties file.

[2016-10-25 00:31] ghys commented on #1081
Hi,
As discussed with Kai [here](https://github.com/openhab/org.openhab.ui.habpanel/pull/51) I would like to hijack this issue (as it is still open) to start some discussion about a simpler interface for external TTS services which simply accept text and take care of the audio playback themselves. They might even not offer the ability of controlling the voice or format.

In "my" case this would pa

[2016-10-25 12:14] maggu2810 opened #2357 "invalid point to ItemThingLinkRegistry"
The JavaDoc of the public non-static method `ItemChannelLinkRegistry.getBoundThings(String itemName)` statues that the method is deprecated and the method `ItemThingLinkRegistry#getLinkedThings(String)` should be used instead.

https://github.com/eclipse/smarthome/blob/d87b1532643a1fbcdebe338e934db8b8c955507c/bundles/core/org.eclipse.smarthome.core.thing/src/main/java/org/eclipse/smarthome/core/th

[2016-10-25 13:22] kaikreuzer commented on #2357
As the JavaDocs says "Will be removed soon", we might simply remove it now?
The idea of having an item for a Thing in order to be able to define a label is deprecated, since the Thing has a label property itself by now - so I would think the method is obsolete.

[2016-10-25 18:13] #1993 closed

[2016-10-25 20:58] #2105 closed

[2016-10-25 22:11] splatch commented on #579
As promissed - tested PR: https://github.com/eclipse/smarthome/pull/2359 - still have some IP to clarify (I've used different mail address long time ago in eclipse.org).

[2016-10-25 22:39] wborn commented on #2321
The channel configuration option is already working well for me after a little coding. The channel configuration option goes on to the `color` channel for the color lights, and the `brightness` channel for the whites only lights.

I came up with the following thing type `config-description`.

[code]

This single configuration option allows for the following brightness options when switching ON/OFF

[2016-10-26 09:02] mkotsbak commented on #625
Yes please. Would be nice to set the leave time for an car engine heater to start some time before the set time.

[2016-10-26 16:25] adimova opened #2361 "TemplateProvider & ModuleTypeProvider interfaces should extend Provider interface, ModuleTypeRegistry & TemplateRegistry interfaces should extend Registry interface"
There is a problem that appears when replacing the service trackers with Declarative Services XMLs in the automation component "org.eclipse.smarthome.automation.providers". Declarative Services do not provide the ServiceRegistration object of a service. This requires to change the current mechanism for notifying the Rule Engine for new module types or rule templates appearing to the system. Curren

[2016-10-26 16:25] adimova commented on #2361
Refers #1568

[2016-10-26 22:25] kaikreuzer commented on #579
Many thanks! Will try to review and test it very soon!

[2016-10-27 09:53] danchom commented on #2361
I agree with that,  in that way we will have real registry services, simple implementation and we can introduce ModuleType/Template added, remove and updated events.

[2016-10-27 09:56] quazzie opened #2362 "smarthome.js behind a proxy, event subscription wrong host."
I have openhab behind a nginx proxy.
Smarthome.js tries to subscribe to "http://127.0.0.1:8080/rest/sitemaps/events/...".
It should strip the "protocol://host:port" part from the Location response of /rest/sitemaps/events/subscribe

[2016-10-27 10:37] BClark09 commented on #2362
Your nginx proxy is set up incorrectly I feel.

Would you mind posting the configuration that you're using? Or comparing it to: [openHAB's docs](http://docs.openhab.org/configuration/nginx.html) on the subject?

[2016-10-27 10:49] quazzie commented on #2362
Hah, embarrassing!
You are correct. I had an error in my proxy config.
I had even looked at the doc's..

Thanks a bunch!

[2016-10-27 10:49] #2362 closed

[2016-10-28 10:36] BClark09 opened #2368 "Sitemap Events should have header: X-Accel-Buffering = "no""
# 2300 Fixed the problem with REST SSE behind a buffered reverse proxy.  However the change is not applied to Sitemap SSE.

The same header needs to be applied to [SitemapResource](https://github.com/eclipse/smarthome/blob/master/bundles/io/org.eclipse.smarthome.io.rest.sitemap/src/main/java/org/eclipse/smarthome/io/rest/sitemap/internal/SitemapResource.java) in order to pass events through a buff

[2016-10-28 10:38] BClark09 commented on #2368
Was discussed in the previous PR, but thought it would be best to have an open issue for it.

[2016-10-28 19:17] resetnow opened #2370 "Sitemap events widget IDs aren't the same as IDs obtained through ItemUIRegistry for Default type widgets"
This was discussed in #2295, but I decided to open a new issue to define a problem better and to propose some solutions because I don't know how to fix it in BasicUI (and if I should fix it there at all).

When user specifies a Default type widget in a sitemap, this type is resolved through ItemUIRegistry.resolveDefault. The problem is the resulting widget does not contain the same references as o

[2016-10-28 20:57] kaikreuzer commented on #2368
@kolkoo Could you be so kind to create a PR for that?

[2016-10-28 22:35] SuperOok commented on #1402
For Rules and Scripts, the textual DSL makes sense. But for items and sitemap I sometimes thought that some other representation might make more sense. Especially the items are a long list of unconnected entries. Maybe some table or forms-control would give a better overview? How about employing EMF Forms? It has a web-renderer via RAP...

[2016-10-29 18:18] kaikreuzer commented on #1402
@SuperOok Please note that this issue is about supporting the existing config files and only replace the complexity of the RCP Designer by a small web-based addon on the runtime.

If people are looking for UIs for configuration, they can have a look at the Paper UI and HABmin.

[2016-10-30 12:14] J-N-K opened #2371 "Item Label using only Map Transformation fails"
An item defined in a .items file with a label using a MAP transformation

`String         Feiertag_Name       "[MAP(holidays_de.map):%s]"`

leads to

`2016-10-30 13:07:24.043 [WARN ] [.core.transform.TransformationHelper] - Cannot get service reference for transformation service of type MMAP
2016-10-30 13:07:24.044 [WARN ] [ui.internal.items.ItemUIRegistryImpl] - couldn't transform value in label

[2016-10-30 18:19] kaikreuzer opened #2372 "HttpServiceUtil throws NPE"
Just found this in my log file:

[code]

[2016-10-30 20:12] petarnv opened #2376 "NTP Tests bug, when time is changed"
In the NTP Binding Tests the "Europe/Helsinki" time zone is used. But recently there has been a time change in this time zone and that broke two of the tests:

1) 'if no time zone is set in the configuration, the string channel is updated with the default one'

The message is:
The string channel was not updated with the right timezone
Expected: is "EEST"
     but: was "EET"

Aparently the abbrevia

[2016-10-30 20:17] kaikreuzer opened #2378 "Add more space above channel group headings"
The thing detail page if channel groups are defined currently looks like this:

<img width="755" alt="screen shot 2016-10-30 at 21 13 38" src="https://cloud.githubusercontent.com/assets/3244965/19839652/06de87f8-9ee6-11e6-8d1f-67d3ba25a889.png">

I would suggest to add some additional space above the channel group headers and also remove the horizontal ruler after every last channel of a group (he

[2016-10-30 20:22] kaikreuzer commented on #1701
It isn't even possible to use system channels within channel group definitions of a Thing, see (2) in https://github.com/openhab/openhab2-addons/pull/1367.

[2016-10-30 21:47] #2372 closed

[2016-10-31 01:34] Boby71 opened #2379 "BASIC UI throws webserver error 500 when parsing NULL value"
When I'm getting a NULL value from one of my sensors, the BASIC UI kills the webserver:

[code]
Doing the same with the CLASSIC UI only gives a "NULL" at the item as expected.

[2016-10-31 07:28] kaikreuzer commented on #2379
@resetnow Could you please check?

[2016-10-31 09:17] kaikreuzer commented on #2361
Sounds good to me!

[2016-10-31 10:19] lolodomo commented on #2333
I agree with your first point.
@kaikreuzer : can you comment please ?

[2016-10-31 10:41] lolodomo commented on #1800
@kaikreuzer : could give an example of how item and sitemap should be defined ?
In OH 1.x wiki, we can find the syntax for Image and Video elements:

Is it still valid in OH 2 ?
Unfortunately I don't understand what represents the item in this case as you have to define at the same time the URL of the image.

[2016-10-31 11:39] #2378 closed

[2016-10-31 16:02] #2253 closed

[2016-10-31 16:38] watou commented on #1800
It would be great if `image` and `Video` sitemap elements could take the string version of the associated `item`'s state in place of the explicitly specified `url` parameter, and make the `url` parameter optional.  Whenever the associated item's state changes, the sitemap element would take it as the URL from which to fetch the image or video.  There are existing bindings that could benefit from t

[2016-10-31 17:08] #2326 closed

[2016-10-31 17:09] lolodomo commented on #1800
Isn't it what is done in OH 1.x ? If not, what is done with the provided item ?

[2016-10-31 17:09] kaikreuzer commented on #2340
Is this issue still relevant? Recent builds succeeded, right?

[2016-10-31 17:49] watou commented on #1800
* The `url` parameter is [mandatory](https://github.com/openhab/openhab/blob/1.8/bundles/model/org.openhab.model.sitemap/src/org/openhab/model/Sitemap.xtext#L46).

* I don't find any evidence on the 1.8 branch of any use of the `item=` attribute of the `Image` widget ([here](https://github.com/openhab/openhab/blob/1.8/bundles/ui/org.openhab.ui.webapp/snippets/image.html#L1) for example).

[2016-10-31 18:58] ThomDietrich opened #2383 "BasicUI: Presentation of nested elements"
Currently linked/nested elements (meaning elements which contain a group or a subframe) are presented with a ">" on the right **inline**. Example (please ignore the unicode tick symbol):

![2016-10-31 19_43_06-w66a openhab installation](https://cloud.githubusercontent.com/assets/2870104/19867353/d7584c9e-9fa3-11e6-8463-eafb29bb2011.png)

The special meaning of ">" is not clear and the alignment of

[2016-10-31 19:30] kaikreuzer commented on #2383
Naaaah, I don't like that... It looks as if it will open a new browser window, which it definitely doesn't. Looking at my phone, the > seems to be a pretty natural choice:

![screen](https://cloud.githubusercontent.com/assets/3244965/19868519/b143885c-9fa8-11e6-88b1-465909ca8386.png)

So imho the only thing that can be discussed is the alignment (i.e. to decouple the text from it).

[2016-10-31 20:03] MHerbst commented on #2383
I agree with Kai, the ">" is more common to indicate an expandable element. But as one can see in Thom's  first screenshot it sometimes can be distinguished badly badly from the text.
I think it would be a good idea to add more space to the left of the ">" and maybe use a slightly larger font and and grey color.

[2016-10-31 20:10] kaikreuzer commented on #2383
@resetnow Want to have a try to optimize the appearance?

[2016-10-31 21:43] SuperOok opened #2384 "Start paper UI requires extra mvn install"
Following the [Smarthome IDE Setup Guide](http://www.eclipse.org/smarthome/documentation/development/ide.html) explains how to get cleanly compiled Java projects.

However, starting the runtime using the provided Run Configuration will fail starting the Paper UI. Though it registers the paper UI servlet correctly against the path /ui to the ressource folder "web", there is no folder "web". Consequ

[2016-10-31 21:55] ThomDietrich commented on #2383
You are totally right. My choice was unfortunate. I just took the first symbol that came to mind. It is used to open a new window. I am **not** against the ">".  I am for a consistent alignment of the item text and for a better distinction of the symbol, for example by choosing a lighter color as can be seen in the iPhone screenshot. Moving the icon to the top right corner is also something that w

[2016-10-31 22:02] kaikreuzer commented on #2384
@aounhaider1 Should this procedure work on Windows? In any case, you might want to provide some more elaborate documentation on such things.

[2016-10-31 22:30] ThomDietrich commented on #2371
Confirmed with latest snapshot.

[2016-10-31 23:30] BClark09 commented on #2384
I can't build the paper ui and therefore mvn clean install will fail on Windows (10) unless I change the following line in [org.eclipse.smarthome.ui.paper\package.json](https://github.com/eclipse/smarthome/blob/master/extensions/ui/org.eclipse.smarthome.ui.paper/package.json)

line 28 from:
[code]
to:
[code]

[2016-11-01 08:53] lolodomo commented on #1800
So, we have to wait for Kai's explanation as he said that it works in Paper UI.

[2016-11-01 09:04] sjka commented on #2221
let's wait for #2087 to be merged before addressing this.

[2016-11-01 09:28] aounhaider1 commented on #2384
The above code was actually a hack and it was never tested on Win 10 npm. It is possible that npm on Win behaves differently. As we now have the official release of jQuer-UI in npm we can change it to get the lib from npm instead of Git. I'll create a pull request shortly.

[2016-11-01 10:01] kaikreuzer commented on #1800
Well, as there weren't any Image items in OH1, the (current) sitemaps do not support them. So adding support in Classic/Basic UI actually also means to add support in the sitemaps first (I adapted the issue title accordingly).

I think the sitemap change is pretty straight forward: Instead of having the url mandatory, we require either a url OR an item to be specified.

[2016-11-01 10:07] watou commented on #1800
@kaikreuzer - In OH2, does the use case work where `item=MyStringItem` containing a URL from which the client retrieves the image?  I would find this much easier to work with than having to set the state of an ImageItem to the raw image data.

[2016-11-01 10:22] kaikreuzer commented on #1800
@watou Currently no, because the UIs simply do not support it.
I also think that IF we consider to support this, it will often only be an ugly workaround as a last resort. It will only work, if the url points to some publicly available server on the Internet, since the UI has to resolve it. And if you are using an app on your smartphone while you are on the road, it won't be able to get images e.g

[2016-11-01 11:14] watou commented on #1800
Thanks for resolving that question, @kaikreuzer.  Could the StringItems' states, treated as URLs, be piped through the runtime just as the `url=` attribute is currently?  There are currently bindings that report image URLs that change over time, and being able to specify `Image item=MyImageURLStringItem` in the sitemap, proxying the image through the runtime and refreshing the widget on state chan

[2016-11-01 12:05] lolodomo commented on #1800
String item that eould be set to an URL + image element in sitemap. This will perfect for album cover.

I have mo idea how is remdered image by UIs in OH 1.x (using url parameter). Do we meed an optional size to resize the image to a particlar size ?

[2016-11-01 12:11] kaikreuzer commented on #2312
@sja?

[2016-11-01 13:23] #2069 closed

[2016-11-01 14:56] #2219 closed

[2016-11-02 06:41] itheiss commented on #566
Just looking through the old issues in hope to get the number down.
As #2355 was merged, can we close this issue?

[2016-11-02 06:43] itheiss commented on #572
@cdjackson  Just looking through the old issues in hope to get the number down. Is this still an open issue or can we close the issue?

[2016-11-02 06:45] itheiss commented on #577
Just looking through the old issues in hope to get the number down.
Is this fixed with #1742 and we can close the issue?

[2016-11-02 07:01] itheiss commented on #678
Isn't the issue obsolete with the migration to Jetty and can be closed?

[2016-11-02 08:01] #1200 closed

[2016-11-02 08:04] resetnow commented on #2383
Leaving a space for ">" wastes space for widget value which may not look as a problem on desktop but doesn't look good on mobile.

One thing to do though would be aligning the ">" in line with other elements (it's not currently aligned).

![openhab1](https://cloud.githubusercontent.com/assets/2057191/19920604/c8e62166-a0ea-11e6-9c1f-65ef7ebbaadc.png)

Also, making it larger (something like 1.41 *

[2016-11-02 10:06] ThomDietrich commented on #2383
In Material Design there is no such thing. I think the rule is something along the line "Everything a user might click should be clickable" meaning if the fact if a menu element can be clicked should be relatable based on the content. This concept works in my android settings dialogs but I don't think it's a good idea for openHAB. Example: My room temperature element is nested, yours is not.

I do

[2016-11-02 10:18] resetnow commented on #2383
When less space is reserved for ">", it looks too close to the border and/or text and this is kind of ugly.

[2016-11-02 12:30] kaikreuzer commented on #678
Not really as the target platform still contains those two versions.
And we indeed still depend on apache http through jUPnP, so we cannot remove it. I have just created https://github.com/jupnp/jupnp/issues/70; once this is implemented, I think we should be fine to fully remove apache http from the target platform. (And regarding the original question of the issue: No, I still do not know why we

[2016-11-02 12:31] kaikreuzer commented on #577
Yes, I think so - thanks for noticing!

[2016-11-02 12:31] #577 closed

[2016-11-02 12:34] kaikreuzer commented on #566
I think most of the suggestions above have indeed been implemented by now, so I am ok to close this issue (and open new specific ones for any further requirements).

[2016-11-02 12:34] #566 closed

[2016-11-02 12:35] kolkoo commented on #2368
It's happening as we speak!

[2016-11-02 13:16] kolkoo commented on #2368
Created #2388

[2016-11-02 14:55] kaikreuzer opened #2389 "Fix testPredefinedRule unit test"
In https://github.com/eclipse/smarthome/pull/2293/files I had temporarily set a test to ignore in order to make the build pass again. This test still needs to be reactivated.

@plamen-peev Could you please take care of that?

[2016-11-02 15:33] sjka commented on #2340
looks like it - let's close and reopen in case we see it again.

[2016-11-02 15:33] #2340 closed

[2016-11-02 16:10] #2368 closed

[2016-11-02 16:20] stevenmcastano opened #2390 "REST API Fails through SSL reverse proxy with authentication in mobile app."
I've got a sitemap, items, etc... all working fine locally, and if I access the site remotely through a browser, the connection hits my public nginx instance, which is configure to redirect everything to SSL, and it does, and it's configure for anything off of my local network to use authentication.

From a browser, when I log in with my username and password everything works great and I can see t

[2016-11-02 16:41] BClark09 commented on #2390
You might be in the wrong place here, are you talking about the [openHAB iOS app](https://github.com/openhab/openhab.ios)?

Nonetheless, it sounds like you don't have the following line:

[code]

If this doesn't work for you, then have a look at the [openHAB docs](http://docs.openhab.org/configuration/nginx.html) and compare your setup. I have this working on my partner's iOS so if you continue to

[2016-11-02 16:42] maggu2810 commented on #2384
#2385 has been merged
Does the problem still exist?

[2016-11-02 17:15] kaikreuzer commented on #2390
Indeed, it doesn't seem to be an issue for ESH itself, since there isn't even any authentication in place.

[2016-11-02 17:15] #2390 closed

[2016-11-03 09:06] sjka opened #2392 "[Test Failures] WemoLinkDiscoveryServiceOSGiTest"
I know my build server is not the fastest, but nevertheless I just ran into this one:

[code]

[2016-11-03 09:07] sjka commented on #2392
@svilenvul could you please have a look?

[2016-11-03 09:53] sjka commented on #1798
with #2230 being merged this once is fixed, or did I miss anything?

[2016-11-03 09:59] #2356 closed

[2016-11-03 10:12] sjka commented on #1701
If have a test-cases where I can reproduce and confirm it easily, so it's definitely a bug. I will have a look...

[2016-11-03 10:47] svilenvul commented on #2392
Yes, I will definitely take a look.

[2016-11-03 10:49] maggu2810 commented on #678
The 4.3.6 version is part of the this repository: http://download.eclipse.org/eclipse/updates/4.4/R-4.4.2-201502041700

[2016-11-03 12:10] kaikreuzer opened #2394 "Fix bugs in ESH scheduler and add more unit tests"
When reviewing https://github.com/eclipse/smarthome/pull/2094, I noticed a couple of issues (see [here](https://github.com/eclipse/smarthome/pull/2094#discussion_r86155377), [here](https://github.com/eclipse/smarthome/pull/2391/files#r86192254) and [here](https://github.com/eclipse/smarthome/pull/2391/files#r86191773)) that definitely would result in regressions wrt cron scheduled rules.

I think

[2016-11-03 13:04] maggu2810 opened #2396 "MQTT Transport: Excpetions"
I recently had a look at "illegal catches" in my code using Checkstyle: http://checkstyle.sourceforge.net/config_coding.html#IllegalCatch

So I noticed that the MqttSenderChannel provides an interface method publish that states that this method throws "Exception".
It seems very uncommon to use such the class "Exception" in an API.

Shouldn't this be changed on the interface to an IOException or so

[2016-11-03 13:05] maggu2810 commented on #2396
https://github.com/eclipse/smarthome/blob/e0985e9/bundles/io/org.eclipse.smarthome.io.transport.mqtt/src/main/java/org/eclipse/smarthome/io/transport/mqtt/MqttSenderChannel.java#L24

[2016-11-03 13:55] kaikreuzer commented on #1800
I think this is difficult, since "piping through the runtime" would either mean to sent the content as a state event (that's what is done for ImageItems) or to provide a specific servlet, where the runtime would serve the content. Both is not really easy to do and probably rather results in something ugly, especially if this is only meant to be a temporary solution.

So I think there should only b

[2016-11-03 14:12] watou commented on #1800
I don't recall any suggestion of using StringItems holding URLs as being a temporary solution; sorry if I missed that somewhere.  As I said, there are a few bindings already that update items with image URLs, but there is no UI that can make use of them without `item=StringItem` support.  Option 2 above would not be useful because, as you said, the client may not be able to reach the URL.  The Cla

[2016-11-03 14:40] kaikreuzer commented on #1800
Sorry, I interpreted "There are currently bindings that report image URLs" as "soon there won't be such bindings anymore" ;-)

Thanks for reminding me, this indeed completely escaped me. So this actually IS already the servlet option that I mentioned above.

If this someone is you, I would never ever dare to reject it ;-) Go ahead!

[2016-11-03 14:47] watou commented on #1800
Excellent!  I'll give it a go.

[2016-11-03 14:53] kaikreuzer commented on #2333
1. I don't agree with this. I think it is good to have rule actions behave synchronously, so that the caller knows when it is done. It should rather be easy within rules to start certain code asynchronously (in a separate thread), which is currently already possible through createTimer(now,....) - so the rule implementor has the full flexibility and this is not related to only "say", but to all ac

[2016-11-03 15:37] cdjackson opened #2399 "Color controls for HSB seem to be independant."
It seems that the 3 controls for color in PaperUI are independant controls?  If I slide the Sat, then I get a saturation, but H and B are 0. Likewise for others - if I change Hue, then S and B are 0.

For example, below I moved the brightness, and I get the following -:
[code]

The controls look as follows -:

![image](https://cloud.githubusercontent.com/assets/1041475/19900289/e604718e-a05a-11e6-

[2016-11-03 15:50] sjka commented on #2399
That's indeed not the plan - when one of the values changes it should indeed keep the values of the other ones

[2016-11-03 16:02] kaikreuzer commented on #2399
I cannot confirm this issue:
[code]

[2016-11-03 19:11] J-N-K opened #2404 "averageSince is wrong"
The calculation of averageSince is wrong (it does not follow the description in the code). The description is the right way to do the job, the current implementaion is not.

The current value should only be used if no persisted values are found. It is used in every calculation now.

[2016-11-03 19:25] J-N-K commented on #2376
There is an additional problem (at least on my system) which is probably related and NOT fixed. Build on my Win 10 machine fails because OEZ is returned instead of EET. OEZ is the correct name in germany, so there might be a localization issue involved.

[2016-11-03 21:54] BClark09 commented on #2399
I believe I am getting the same problem. Not just paper though.

[code]

[2016-11-04 07:18] kaikreuzer commented on #2399
Ok, so it is actually the runtime that discards the HSB value and only sends a brightness value as a state update. The Paper UI only takes this and sends it back, so it is not the fault of the Paper UI.

The cause is VERY likely https://github.com/eclipse/smarthome/pull/2334 - @sjka Any chance to analyze this asap?

[2016-11-04 07:23] sjka commented on #2399
yes, and I found the root cause. hang on a sec...

[2016-11-04 08:27] petarnv commented on #2376
@J-N-K, thank you for finding this problem. It is indeed localization issue. I have made a PR with a fix: https://github.com/eclipse/smarthome/pull/2407. Can you run it on your machine, please?

[2016-11-04 09:00] #2399 closed

[2016-11-04 09:03] kaikreuzer commented on #2399
I'll build an ESH stable today, so that this fix is available in OH by tonight.

[2016-11-04 09:13] #1701 closed

[2016-11-04 13:08] kaikreuzer opened #2408 "Order of XML elements should not matter"
XML thing/channel types have a couple of properties that are declared in the XML as elements.
Currently, a certain order seems to be expected, this leads to problems like the one that required [this patch](https://github.com/openhab/openhab2-addons/pull/1385/files) in order to make the XML parsable. This is imho very unexpected and I do not really see a good reason why it has to be that way.

[2016-11-04 19:18] J-N-K commented on #2376
Works for me. Thanks.

[2016-11-05 00:38] bboser opened #2409 "Listing channels bound to thing"
1) How do I get a list of all channels?
I tried overriding
`channelLinked(ChannelUID did)`
in my handler class (which extends from BaseThingHandler), but it gets never called.

Background: I am trying to connect OH2 to a security system that has lots of "items" with all sorts of properties. In OH2 I am interested in some of them and define items for those. E.g.
`String name7 "Zone  7 name [%s]" <t

[2016-11-05 06:08] Marty56 opened #2410 "SONOS PLAYBAR support TV optical input"
The sonos PLAYBAR supports a TV optical input which should be made usable by openhab probably similar like the "playlinein" command for PLAY5, CONNECT, CONNECTAMP.

Use Case: User watches TV and PLAYBAR is getting a notification. After the notification SONOS should be set back by OH to TV optical input reception.

[2016-11-05 10:06] kaikreuzer commented on #2409
Closing in favor of https://www.eclipse.org/forums/index.php?t=rview&goto=1746819#msg_1746819.

[2016-11-05 10:06] #2409 closed

[2016-11-05 18:58] SuperOok commented on #2384
On my Windows 10 installation, I got a fresh copy of the latest plugin and it compiled fine. So the compiling issue is fixed.

However, the original problem I had was that I was not even aware that I would have to run `mvn install` at that bundle. Should this either be documented on the [Smarthome IDE Setup Guide](https://www.eclipse.org/smarthome/documentation/development/ide.html)
or added to th

[2016-11-05 20:01] watou commented on #1800
https://github.com/eclipse/smarthome/pull/2412
https://github.com/openhab/openhab-distro/pull/317

[2016-11-05 20:06] watou commented on #1617
If a String item can contain a URL to the cover art, https://github.com/eclipse/smarthome/pull/2412 addresses it.

[2016-11-05 20:51] lolodomo commented on #1617
@watou: thank you for your PR, I will add the required channel in the Sonos binding to provide album art.

[2016-11-05 21:01] kaikreuzer commented on #1617
I still think the proper way to have cover art support for the Sonos binding is to add an Image channel, not a String channel. Supporting urls in String items is rather a workaround for OH1 bindings that do not have an Image item type available.

[2016-11-05 21:23] #2379 closed

[2016-11-05 21:31] watou commented on #1617
I would expect to see the opposite: APIs that provide URLs to local or remote images over HTTP, where the URLs just need to be conveyed and possibly proxied.  It would also be helpful to know an item's state has changed at the client without also marshalling the entire raw image data, which URLs are fine for.  It seems like so much more work to have a binding capture the raw image data and marshal

[2016-11-05 21:43] kaikreuzer commented on #1617
You should note that the url-string trick only works for UIs that are using sitemaps - and the ProxyServlet is also tied to sitemap use. So this mechanism does NOT work for UIs like Paper UI and HABPanel.

The more I think about it, the less I like it. I am back to the situation where I think that it really only makes sense if the urls are pointing to some Internet resource. After all, we are send

[2016-11-05 21:58] watou commented on #1617
The only real point of the proxy servlet is to solve the problem with the server and client existing on different networks.  Some thought about solving that specific problem, so a client like HABPanel or Paper UI is always given a URL it can dependably use to retrieve an image, and less proxying would happen, and clients can deal in all image and video URLs in a natural way.  A new "media" servlet

[2016-11-05 22:21] watou commented on #1617
Could the non-sitemap-based UIs simply use new, additional usages of the proxy servlet like:

http://openhab:8080/proxy?url=http%3A%2F%2Fwww.placecage.com%2Fc%2F640%2F480
http://openhab:8080/proxy?item=MyImageOrStringItem

with the possible enhancement of returning a 301 redirect in the case that the client is on the same network?

[2016-11-05 22:24] kaikreuzer commented on #1617
As I mentioned, the proxy servlet is really tied to the sitemaps. You are not asking a url from it, but the content of a sitemap widget. This is designed like that for security reasons (as otherwise, you can very easily spy on the local network, just by having access to the runtime through HTTP).

Furthermore there are ESH solutions that do not use sitemaps and thus do not even have the smarthome.

[2016-11-05 22:36] watou commented on #1617
Yes, so why not extend it to also take `item=X` instead of `sitemap=X&widget=Y`?

In that case, instead make a new servlet that has no dependencies on the smarthome.ui bundle, but only takes an item name and returns media over HTTP that is from either an ImageItem's RawType state, or a StringItem's StringType state that holds a URL?

[2016-11-05 22:50] kaikreuzer commented on #1617
You are not resolving the security issue: You can post any url as state to the item and then have it resolved - all through http.

[2016-11-05 23:36] watou commented on #1617
Just so it's clear, what is the specific security issue in the above scenario? Having write access to items' states or issuing commands to items is in the same class of security issue, isn't it?

[2016-11-06 09:31] kgoderis commented on #2410
@Marty56 To be investigated, but if I remember well this is implemented by Sonos by means of a special grouping of Sonos players, rather than a 'switch' that is toggled

[2016-11-06 11:11] lolodomo commented on #1617
Sorry, just to be clear with a less technical speaking, kai you would expect that the binding downloads the image from the URL and stores the data in the image object ?
Do we have somewhere in OH a common util to dowmload data from a URL ? This could be used by any binding.
We could have 2 channels, one string channel with the URL and one image channel with the downloaded image. Then the user will

[2016-11-06 11:17] kgoderis commented on #1617
This is in fact quite an interesting discussion, even a bit related to https://github.com/openhab/openhab-distro/issues/312 and https://github.com/eclipse/smarthome/pull/2359. Reading the comments and concerns it looks as if we have to ask ourselves to what extend ESH/OH(2) should be considered a trusted and secure gateway to control a home. In that sense moving away from proxying towards a transf

[2016-11-06 11:35] watou commented on #1617
Good points, @kgoderis.  When all API access to ESH/OH is properly secured and access to private resources must flow through secured paths, then complicated reverse proxy setups will be called for less often.  But until the paths are secured system wide, we should still be building those paths!

[2016-11-06 12:13] lolodomo commented on #1617
For Sonos, we are talking about album cover art. There is no problem of privacy, they are public data.
If I correctly remember, the URL is a HTTP request to the Sonos device and so will only work in the local network if not proxied by the OH server.

[2016-11-06 12:40] lolodomo commented on #1617
If the channel is declared as read only, is a state update by the user possible ?
Maybe we should forbid all state updates not done by the binding for any read only channel. It would avoid security problem mentionned by Kai.

[2016-11-06 13:14] watou commented on #1617
My thinking is that having full access and authorization logic over the REST API would be the right place to implement this kind of control.  Adding ad hoc security limits in absence of that would only cripple ESH in very specific ways, which would then need workarounds.  REST APIs that implement permissions for various read/write access would be a superior approach IMHO.

[2016-11-06 17:03] maggu2810 commented on #2376
Also with a merged #2407 I run into this error:

[code]

[2016-11-06 17:30] maggu2810 opened #2413 "automation.core: service resolution resulted in a cycle"
With a snapshot build of the currently most recent HEAD (126640283ade80d2045004e6e6d972598a8c1690) and its usage in a custom distribution I run into a circular reference:

[code]

[2016-11-06 17:33] J-N-K commented on #2376
That's the same problem like EET vs. EST, they changed back from PDT to PST this weekend in the US

[2016-11-06 18:04] kaikreuzer commented on #2413
@danchom Could you check how this can be resolved?

[2016-11-06 18:53] kaikreuzer commented on #1617
The issue is that a user that has access to the REST API of the runtime server, automatically has access TO ALL HTTP RESOURCES that are in the same network as this server. This is imho a major security issue and the reason, why I never introduced this feature (what I unfortunately didn't remember when giving @watou the ok on https://github.com/eclipse/smarthome/issues/1800#issuecomment-258161383 l

[2016-11-06 19:03] petarnv commented on #2376
Yes, it was the same problem, but this time, caused by time change in the US. I have made a PR with fix: https://github.com/eclipse/smarthome/pull/2414

[2016-11-06 19:49] #2376 closed

[2016-11-06 19:51] watou commented on #1617
OK, but I see this as an argument to secure the APIs, not to restrict the features.  The exploit you describe still requires knowledge of which items hold URLs, and anyone with that knowledge would also have knowledge of how to turn off my furnace in winter, unlock my doors, disable the alarm system, and so on.

If the argument is to never deal in URLs at all (even with a new UrlType State type),

[2016-11-06 20:00] kaikreuzer commented on #1617
Yes, but if you grant someone access to your smarthome runtime, this is expected. You would not expect to expose all (not smarthome related) servers that are in your LAN, though - e.g. your router, on which you might use a default password as you think it is not exposed anyhow. It is a bit similar to Cross-Site-Scripting attacks.

Fully with you and as you can see, I am trying to push #2359 forwar

[2016-11-06 20:19] watou commented on #1617
I understand the distinction you are drawing, but without an audit of every possible configuration and the backend systems they are tied to, there is already a theoretically infinitely long list of other vulnerabilities of the same sort, in absence of a secured API that stops all malicious actors at the front gate.  These vulnerabilities might be less obvious to you and me, but in plain sight to o

[2016-11-07 08:49] maggu2810 commented on #2384
The only documentation about Paper UI development I know about is this one:
http://www.eclipse.org/smarthome/documentation/development/notes.html#paperui-development-jshtml

[2016-11-07 09:22] kaikreuzer commented on #2384
I'd suggest to improve http://www.eclipse.org/smarthome/documentation/development/notes.html#paperui-development-jshtml and add a hint (with a link to the notes) to the IDE setup page.
@aounhaider1 Could you prepare a PR for that?

@SuperOok Regarding the oomph setup: I am not sure how reliable we could add a mvn execution to the automatic setup - as you are almost an Oomph expert by now, feel fre

[2016-11-07 09:31] danchom commented on #2413
As I see the problem is in SCR implementation of Felix:

org.osgi.framework.ServiceException: ServiceFactory.getService() resulted in a cycle.
	at org.apache.felix.framework.ServiceRegistry.getService(ServiceRegistry.java:301)[org.apache.felix.framework-5.4.0.jar:]
	at org.apache.felix.framework.Felix.getService(Felix.java:3699)[org.apache.felix.framework-5.4.0.jar:]
	at org.apache.felix.framework

[2016-11-07 09:38] kaikreuzer commented on #2413
Well, one hint that the log shows is that com.eclipsesource.jaxrs.publisher is involved - so I would expect the automation REST API components to be somehow involved in the cycle. Probably best to draw a picture of the service components and their dependencies to find the cycle.

[2016-11-07 12:53] maggu2810 commented on #2384
We could (I do it on my plain Maven projects), but I don't know if it is the best approach (for the most developers) to build the whole tree using Maven.

[2016-11-07 12:55] kaikreuzer commented on #2384
Definitely not the whole tree - I was only thinking about using m2e to run mvn on the paper ui, so that gulp etc. is executed once.

[2016-11-07 12:58] maggu2810 commented on #2384
Seems doable as long as the Paper UI Java Code does not use any dependencies to other ESH bundles.

[2016-11-07 13:00] maggu2810 commented on #2384
Seems doable as long as the Paper UI Java Code does not use any dependencies to other ESH bundles.

I am doing it for example this way: https://github.com/maggu2810/shk/blob/b8a21ab/oomph/SmartHomeKarafProject.setup#L1021
That triggers the execution of this one: https://github.com/maggu2810/shk/blob/b8a21abc67fdd23063db18e643a72dcaf1c5ca16/launch/shk-repo%20(rebuild%20with%20deps).launch

[2016-11-07 13:34] danchom commented on #2413
Here is a component diagram.
![componentdiagram](https://cloud.githubusercontent.com/assets/11029931/20059383/b7c40110-a4fe-11e6-8f68-77e574a213d8.jpg)

I don't see any cycle dependency, except between components: RuleRegistry and BasicModuleHandlerFactory, but I think  it is not a problem, because the BasicModuleHandlerFactory is waiting for RuleRegistry to be registered. May be there shouldn't b

[2016-11-07 13:36] danchom commented on #2413
How can we reproduce this problem, because everything works on master of ESH and equinox?

[2016-11-07 15:00] plamen-peev commented on #2389
I have exequted the test many times and it passes every time.
I do not think that the problem is related to the thing that I've done

[2016-11-07 15:19] #2392 closed

[2016-11-07 16:17] kgoderis commented on #2394
@kaikreuzer Some of your comments in https://github.com/eclipse/smarthome/pull/2391 seem to be missing; I copy from email digest to recap them:

You might be interested in looking - with your mathematician hat on - at how the unified algorithm works for all types of Expressions. At the time I first developed the algorithm for the RFC5545 expressions, and then implemented cron expressions following

[2016-11-07 16:32] kaikreuzer commented on #2394
We might consider using https://github.com/jmrozanec/cron-utils for the CRON expressions and do a scheduler implementation similar to [this one](https://github.com/jprante/elasticsearch-gatherer/blob/master/src/main/java/org/xbib/cron/CronThreadPoolExecutor.java). Would this be an option, so that we do not have to come up with a clever algorithm ourselves?

[2016-11-07 17:38] kgoderis commented on #2394
I will study the code; the scheduler implementation you mention is similar to what we had initially - you killed it at the time because it effectively blocks threads in the scheduler pool (e.g. the Thread.sleep call). Woud you use the cron-utils lib as is, or shall we have our own equivalent implementation?

[2016-11-07 17:43] kaikreuzer commented on #2394
Oh, right, I didn't see it in that code - that is of course still a valid argument and blocking threads must be avoided.

It seems to be actively maintained, so if it is suitable as is, I would suggest to include it as a binary.

What do you mean by this? You mean the syntax of the cron expressions is different?