[2018-03-26 15:11] kaikreuzer commented on #4939
Sorry for my late response. Ok, if we have the `colormode` at hand from the JSON response within the binding, this can probably be used to automatically decide whether we need to send HSV or CIE values to it. I'll thus happily accept an according PR from a Tradfri RGB bulb owner.

[2018-03-26 16:28] lolodomo commented on #5312
The problem is that I am running this code and it does not work.

[2018-03-26 19:13] ssalonen commented on #5301
Very good comment with much appreciated references.

I would like to highlight that the blukii example shows how bundle/binding ("bluetooth.blukii") can refer to bridges in some other bundle ("bluetooth").

Interestingly, the bindingId in blukii bundle is set to "bluetooth". So does this mean that this setup works when there is no need to introduce bridges by blukii bundle? Otherwise one could not

[2018-03-26 21:26] kaikreuzer commented on #5301
The important point to understand is that OSGi bundles are just a technical split - whether all code and XMLs for Bluetooth (incl. Blukii) are in a single bundle or they are spread over x bundles is just the same at runtime. This has been designed this way right from the start - so that any binding can be easily extended by more specific features by simply adding those features as separate bundles

[2018-03-26 21:35] euphi commented on #5309
My proposal already addresses most of the issue you list - and I think they all can be solved.

1. / 2. That's exactly the reason why there should be a mechanism to monitor the result of a command. If there is no result after a configurable time, some action should be triggered (_in my first proposal, actions were not mentioned, I edit it into the proposal now_). Of course this should be optional

[2018-03-26 21:40] kaikreuzer commented on #5309
Most of your use cases sound like candidates for rules (e.g. through rule templates), but not like a feature that should be built into a new binding (as bindings are really meant to integrate with external devices / data sources).

[2018-03-26 21:50] euphi commented on #5309
Yes, rules would be possible, but you need to spend a lot of time for repeating yourself. And if you change some items, you also need to change your rules.

Please also remember that you need to register a rule for each item you want to monitor, as you cannot get the source of a rule trigger if you registered a Group.

In my proposal I mentioned the "expire"-binding. The feature it offers could al

[2018-03-26 22:04] kaikreuzer commented on #5309
Correct, the (1.x) Expire Binding is the worst example of what a binding should do and it better wouldn't exist at all...
It adds pure logic, i.e. rules and automation. With the new rule engine, I would think that it should be feasible to define suitable trigger modules that react on any set of items and provide certain features for them. Using rule templates, it should also be easy to make such f

[2018-03-27 09:01] htreu commented on #5312
I tested again with the demo setup in the ESH IDE and have the following entries in demo.items & demo.sitemap:
[code]

and

[code]

All three values are displayed correctly.

[2018-03-27 09:12] sjka commented on #5204
That is true. However, then the question is why their discovery services don't remove their discovery results in that case themselves? There are several options, like a time-to-live for the result and/or a dedicated `removeOlderResults(long, ThingUID)` which would explicitly remove the results for that bridge.

I'm not 100% sure yet if such an automatic removal would be suitable for all bindings (

[2018-03-27 12:05] euphi commented on #5309
It may be a "bad example" from a pure architectural point of view, but it is also very useful, so many people use it.

_There is the analogy that "a dirt track is always a sign for mistakes in urban planning"
So, you are right  that a binding is a "dirt track", but then please provide a pavement - with no indirections around some architectural obstacles._

That said, I don't think that the feature

[2018-03-27 14:37] kaikreuzer commented on #4009
I had a discussion with @sjka today (see also https://github.com/eclipse/smarthome/pull/4468#issuecomment-376547458) and we think it would be much nicer not to work with copies, but rather return immutable instances instead where possible.
The Thing infrastructure would actually break if we introduced copies as the ThingManager would not be able to update status and handler information on Things.

[2018-03-27 22:13] maggu2810 commented on #4330
Let's pick this up again:
If you think it could be useful, it is okay for me to export them.
But does it make sense?
I assume exporting the handlers could be useful if you want to create a derived class. Then you will also need a thing handler factory that create instances of your subclasses for special thing type IDs.
If the handlers are exported and used by subclasses in special products -- and

[2018-03-28 08:26] maggu2810 commented on #5300
@davidgraeff If you haven't read it already and are interested in: [Configuration Updater]

[Configuration Updater]: http://aqute.biz/2018/03/22/configuration-updates.html

[2018-03-28 11:06] davidgraeff commented on #5300
Thanks @maggu2810, a good read. And I read on on this topic and apparently at least bnd can generate xml files out of OSGi R6 `@interface` configuration descriptions. So this issue is basically about replicating functionality of R6 to make life for binding developers easier.

[2018-03-28 13:06] htreu commented on #5312
@lolodomo please provide detailed setup information if the problem persists for you. In case you also find this working please close this issue.

[2018-03-28 14:12] hsudbrock opened #5322 "Prerequisite version not always honored by FirmwareUpdateService"
**Context**
`o.e.sh.core.thing.binding.firmwareFirmware`s have an optional `prerequisiteVersion`. The prerequisite version indicates that the firmware can only be installed on a device on which a firmware with version greater or equal to the prerequisite version is already installed.

Example: If the prerequisite version of a firmware with version '3.0.0' is '2.0.0', then this firmware must not be

[2018-03-29 06:55] hsudbrock commented on #5322
Suggestion for a fix: Instead of fixing this in the `FirmwareUpdateService` now, rather wait until https://github.com/eclipse/smarthome/issues/4964 is resolved, and then add logic for checking for prerequisite versions directly into the `FirmwareRegistry` (which, after https://github.com/eclipse/smarthome/issues/4964 has been resolved, provides firmwares for `Thing`s, and not for `ThingType`s.).

[2018-03-29 13:10] hsudbrock opened #5323 "mDNS background discovery cannot be set dynamically by the config admin"
The `o.e.sh.config.discovery.mdns.internal.MDNSDiscoveryService` extends the `org.eclipse.smarthome.config.discovery.AbstractDiscoveryService`, which provides a `modified` method to enable and disable background discovery at runtime using the config admin. In addition, the `MDNSDiscoveryService` has a `configurationPid`, which indicates that it is intended to be configurable using config admin. Ho

[2018-03-29 14:54] #5162 closed

[2018-03-29 15:33] kaikreuzer commented on #5323
I would guess you are right, so I'll happily accept a PR that fixes this :-)

[2018-03-30 08:43] svilenvul opened #5325 "[Compact Profile 2] - Mqtt bundle depends on javax.naming (compact3)"
Looking at the report generated by https://github.com/openhab/static-code-analysis/pull/283, I see that several packages in `org.eclipse.smarthome.io.transport.mqtt` bundle depend on `javax.naming`.

This is a violation of C.1 in the ESH coding guidelines https://www.eclipse.org/smarthome/documentation/development/guidelines.html#c-language-levels-and-libraries.

[2018-03-30 08:49] svilenvul opened #5326 "[Compact Profile 2] - Smarthome UI bundle depends on Full JRE packages"
Looking at the report generated by openhab/static-code-analysis#283, I see that several packages in `org.eclipse.smarthome.ui` bundle depend on packages in the Full JRE :

- org.eclipse.smarthome.ui.chart depends on java.awt.image
- org.eclipse.smarthome.ui.internal.chart depends on java.awt.image
- org.eclipse.smarthome.ui.internal.chart depends on javax.imageio
- org.eclipse.smarthome.ui.interna

[2018-03-30 08:51] svilenvul opened #5327 "[Compact Profile 2] - Digitalstrom binding depends on Full JRE"
Looking at the report generated by https://github.com/openhab/static-code-analysis/pull/283, I see that one package in `org.eclipse.smarthome.binding.digitalstrom` bundle depends on Full JRE:

Package org.eclipse.smarthome.binding.digitalstrom.internal.lib.serverConnection.impl depends on javax.xml.bind (Full JRE).

This is a violation of C.1 in the ESH coding guidelines https://www.eclipse.org/sm

[2018-03-30 08:53] svilenvul opened #5328 "[Compact Profile 2] Javasound bundle depends on Full JRE"
Looking at the report generated by https://github.com/openhab/static-code-analysis/pull/283, I see that one package in `org.eclipse.smarthome.io.javasound` bundle depends on `javax.sound.sampled`.

This is a violation of C.1 in the ESH coding guidelines https://www.eclipse.org/smarthome/documentation/development/guidelines.html#c-language-levels-and-libraries.

[2018-03-30 16:06] #5325 closed

[2018-03-30 16:16] kaikreuzer commented on #5323
Fixed through #5324.

[2018-03-30 16:16] #5323 closed

[2018-03-30 18:35] #2921 closed

[2018-03-31 09:20] maggu2810 opened #5332 "SAT plugin configuration"
The change done in #5304 eliminates a warning (if `skipChecks=false`) but introduced a lot of other ones (if `skipChecks=true`).

There is one profile that configures the SAT plugin and there is another profile that enables the usage of the SAT plugin.
This will e.g. if the manifest file is present but skipChecks is set to an execution of an unconfigured mojo.
As the default configuration does not

[2018-04-01 17:43] J-N-K commented on #5243
Please see [openhab/openhab-core#325](https://github.com/openhab/openhab-core/issues/325). The question is, is it right to strip the unit-subtype there or is it better stripped in the ItemProvider in ESH?

[2018-04-01 19:15] kaikreuzer commented on #5243
@J-N-K Clearly to be fixed in the compat layer, not in ESH.

[2018-04-02 10:28] J-N-K opened #5333 "add density to QuantityType"
While working on the onewire binding (#4287) I noticed that `QuantityType<Density>` is missing. This is useful for absolute humidity values (measured in g/cm^3). uom-se is unfortunately not provding the needed interfaces, so this cannot be easily added.

[2018-04-02 12:40] HolgerHees opened #5334 "IllegalStateException: ServiceLocatorImpl has been shut down"
Currently I’m running openhab 2.1 without any problems.

But if I try to upgrade to openhab 2.2 or openhab 2.3 snapshot (1246) I get a lot of

[code]

it is mostly if I use Habdroid. A lot of rest requests ( 1 of 10) are answered with a 500 or 503. In most of the cases Habdroid is requesting the same resource again so it works at the end. And it is not limited to the rest url in the exception. In

[2018-04-02 15:56] kaikreuzer commented on #5334
Please don't do cross posts of the same issue in multiple trackers - you already entered https://github.com/openhab/openhab-distro/issues/673, which itself is a duplicate.

[2018-04-02 15:56] #5334 closed

[2018-04-03 05:13] flaviocosta-net opened #5337 "Proposal for a new Sitemap concept"
This issue is a transfer of the [respective ESH forum topic](https://www.eclipse.org/forums/index.php/m/1784414/) to GitHub.

The idea is to propose a new Sitemap concept that would help overcome various problems seen on the current sitemap implementation:

- It is represented on Xtext DSL, which is an unnecessary dependency for many scenarios
- It is not editable via REST
- Components cannot be e

[2018-04-03 09:18] nesys commented on #3935
I've also from time to time the same error in my logs:

[ERROR] [g.jupnp.protocol.sync.ReceivingEvent] - Invalid subscription ID, no active subscription: (IncomingEventRequestMessage) NOTIFY /upnpcallback/dev/RINCON_000E58289D5001400/svc/upnp-org/AudioIn/event/cb SEQUENCE: 0

[2018-04-03 09:25] maggu2810 opened #5340 "SecureHttpClientFactory: avoid throwing RuntimeException"
The `SecureHttpClientFactory` violates the `AvoidThrowingRawExceptionTypes` rule.

Continues: https://github.com/eclipse/smarthome/pull/5318#discussion_r178756494

I assume an unchecked exception has been chosen because an interface method is implemented that does not declare any exception. So, the interface expects that the method does not fail (it also don't accept a nullable return value AFAIK)

[2018-04-03 11:34] kaikreuzer opened #5341 "kWh are not recognized as Energy values"
The recently introduced unit support has an "Energy" dimension defined, which uses by default the SI unit "J" (Joule).
In practice, the alternative "Wh" are used much more frequently and thus I would expect this unit to be usable for items with `Energy` dimension.

I defined an Item like this:
[code]
Sending a value on the console
[code]
results in
[code]
and no unit being assigned to the item sta

[2018-04-03 15:29] Xrygramming opened #5344 "ThingStatusDetail.GONE is listed as ThingStatus in the Things Documentation"
The [ThingStatusDetail.GONE](https://github.com/eclipse/smarthome/blob/68ce82a5d61b7576fec47aaf82cb5336bd8fd2cc/bundles/core/org.eclipse.smarthome.core.thing/src/main/java/org/eclipse/smarthome/core/thing/ThingStatusDetail.java#L38) is incorrectly listed in the [Things documentation](https://github.com/eclipse/smarthome/blob/master/docs/documentation/concepts/things.md). It should be listed as sta

[2018-04-03 15:39] #5344 closed

[2018-04-03 16:00] J-N-K commented on #5341
I have created a patch for that. Please note, that  `kW·h` is the correct notation, not `kWh`.

[2018-04-03 18:04] ggzengel commented on #5341
https://de.wikipedia.org/wiki/Wattstunde

[2018-04-03 18:14] ggzengel commented on #5341
I was a little bit more searching and found here https://en.wikipedia.org/wiki/Kilowatt_hour:

The main usage in OH2 is for reference of electrical power, so I would like to see (k)Wh.

[2018-04-03 18:16] ggzengel commented on #5341
Now the last one:
http://www.electropedia.org/iev/iev.nsf/display?openform&ievref=131-11-58

[2018-04-03 18:19] kaikreuzer commented on #5341
`kWh`, just like `Wh` and `Ws` must be supported. As @ggzengel rightly pointed out, these are also the officially used unit identifiers.

[2018-04-03 18:28] J-N-K commented on #5341
I‘ll see what can be done about that.

[2018-04-03 18:43] ggzengel commented on #5341
Does this help?
https://www.programcreek.com/java-api-examples/?code=unitsofmeasurement/uom-demos/uom-demos-master/domain/energy-se/src/main/java/tec/uom/demo/energy/se/HeatRequirementDemo.java

[2018-04-03 19:24] J-N-K commented on #5341
Thanks. I already found a solution.

[2018-04-03 21:06] kgoderis opened #5347 "Static Code Analysis Tool to strict on AuthorTagCheck"
Currently the SCAT classifies AuthorTagCheck as priority 1 issues. Although this is with good intention, this is troublesome for .java files that are generated by a third party tool, for example when using 'xjc' to generate java classes from xsd files using JAXB annotations. Manually adding AuthorTags to generated files is troublesome as these files are often overwritten on the next execution of t

[2018-04-03 22:33] dimalo opened #5348 "[BasicUI] UI does not respond to events"
Installed Version:
openhab2=2.3.0~20180331153334-1
Working on debian for armhf and zulu8 embedded.

Cleared website caches.
Loading sitemap in Firefox or Chrome (latest stable versions) results in not responding UI.
The UI loads, but no element can be clicked, nor can the sitemap be navigated.

Chrome Dev Tools console shows
<img width="665" alt="bildschirmfoto 2018-04-04 um 00 13 27" src="https:/

[2018-04-03 23:49] s2nex opened #5350 "lightbulb svg is missing"
lightbulb.svg is missing in [iconset](https://github.com/eclipse/smarthome/tree/master/extensions/ui/iconset/org.eclipse.smarthome.ui.iconset.classic/icons)

[2018-04-04 07:53] sjka opened #5351 "[test failures] DynamicThingUpdateOSGITest"
Found by #5346:

[code]

[full log](https://github.com/eclipse/smarthome/files/1874751/log-discovery.txt)

[2018-04-04 08:11] sjka commented on #5348
I can confirm this on latest master.
@resetnow could you please have a look at this?

[2018-04-04 08:56] maggu2810 opened #5352 "[test failures] NPE on JsonStorageTest"
[code]

* https://travis-ci.org/eclipse/smarthome/builds/361732358 [log-361732358.txt](https://github.com/eclipse/smarthome/files/1874945/log-361732358.txt)
* https://travis-ci.org/eclipse/smarthome/builds/361852430 [log-361852430.txt](https://github.com/eclipse/smarthome/files/1874947/log-361852430.txt)

[2018-04-04 09:34] maggu2810 commented on #5352
I will provide a (potential) fix.

[2018-04-04 11:44] triller-telekom commented on #5350
Thanks for reporting. Fixed in #5354

[2018-04-04 12:28] #5352 closed

[2018-04-04 12:41] #5350 closed

[2018-04-04 12:54] triller-telekom commented on #5340
I would also vote for having a specific exception so the caller is aware of what happened and depending on its implementation he could react on it.

Here I think once could catch InvalidCipher, Key, etc. exceptions and throw a `SecurityException`.

https://github.com/eclipse/smarthome/blob/7a13dff3fd81036ddbe3d39181d4ec3fefe85883/bundles/io/org.eclipse.smarthome.io.net/src/main/java/org/eclipse/sm

[2018-04-04 13:53] sjka commented on #4964
For the record: 👍 from DT side

[2018-04-04 15:14] #5348 closed

[2018-04-04 15:34] cweitkamp commented on #5243
I found another issue related to the new `QuatityType`. In sitemaps rendered with Basic UI the highlight features like `labelcolor` and `valuecolor` are not working like expected. The color isn't applied anymore. Probably because of not matching comparisons for the item type. If you need an example you are welcome to ask.

[2018-04-04 16:03] lolodomo commented on #5243
The sitemap syntax should let you mention the unit for the visibility and color attributes.

[2018-04-04 16:09] #5351 closed

[2018-04-04 16:37] cweitkamp commented on #5243
How does it work? I didn't find an example. What has to be changed in the following line?
[code]

[2018-04-04 19:17] tmrobert8 commented on #4321
I'd like to add one thing to this discussion (unless you'd also like me to add situations where a null is marked even though there is no chance of a null) - you simply can't eliminate null checks on method parameters (ie Objects.requireNotNull, etc).  Both should be required!

Two reasons:
1.  The attributes are great at catching static analyzed nulls and go along way to helping a programmer write

[2018-04-04 19:39] lolodomo commented on #5243
Sorry, I mean you should be able but unfortunately you probably can't ... until this is enhanced.

[2018-04-05 08:01] triller-telekom commented on #4321
@tmrobert8 Thank you for participating in our discussion. I have created PR #5360 to explain why we introduced those null annotations. Does this answer your concerns?

[2018-04-05 08:12] maggu2810 commented on #579
As stated already in another issue I already use JWT in an ESH based product.

For the authorization and authentication I use two separate classes both implementing the [ContainerRequestFilter]. Both classes are annotated with [Provider] and use the respective [Priority] of [Priorities].

An [SecurityContext] is set for the [ContainerRequestContext].

I also added some utility methods and interfac

[2018-04-05 08:54] antoniosv commented on #579
@maggu2810 could you make a reference to that issue so I can take a deeper look into your approach?

[2018-04-05 09:09] maggu2810 commented on #579
@antoniosv The "another issue" I talk about only contains the information that I used a JWT based implementation, it does not bring any useful information (https://github.com/eclipse/smarthome/issues/3113#issuecomment-331883697)

[2018-04-05 11:56] #5332 closed

[2018-04-05 13:04] #5153 closed

[2018-04-05 16:01] Josar commented on #4898
I think there is still some improvement which can be done here.

There is a discussion on the forum
https://community.openhab.org/t/modify-transformed-value-as-shown-in-the-example/43147

there is the intent to have units passed with the lets call it `formatter string`, which does not work at the moment.
[code]

I think this is a legitimate request. what do you think.

[2018-04-05 18:55] michaeljoos72 opened #5366 "Item Colorpicker doesn't work on Sitemap-Top-Level (BasicUI)"
As soon as I place a Colorpicker on the Sitemap-Top-Level it doesn't work anymore. In addition BasicUI doesn't refresh automatically. Within another Text-Part everything is working as expected.

Working:

		Text label="Garage" icon="garage" {
			Frame label="Licht" {
				Switch item=Light_GarageWest_Toggle
				Colorpicker item=Light_GarageWest_Dimmer
				Switch item=Light_GarageOst_Toggle
				Colo

[2018-04-05 19:12] J-N-K commented on #5351
Unfortunately not fixed: [new build](https://api.travis-ci.org/v3/job/362701837/log.txt)

[2018-04-05 21:45] tfelix commented on #4794
On the first glance I have a similar/same problem. I have 9 lamps in a group for my livingroom:
4 Tradfri
2 Hue Color Spots
1 Hue E27 Color
2 LED Strips Controller from Dresden Electronics
all connected to a V1 Hue Bridge. When switching the group not always but sometimes I get a:

2018-04-05 23:36:34.974 [hingStatusInfoChangedEvent] - 'hue:bridge:001788170b48' changed from OFFLINE (COMMUNICATION_

[2018-04-06 06:48] lolodomo commented on #5243
@htreu : can you please remind us what is the new syntax including the unit in rules and in console commands ?

[2018-04-06 06:56] lolodomo commented on #5243
Looking at the code for the console commands, I have the feeling this was not updated, meaning you can't mention the unit ?

[2018-04-06 06:57] htreu opened #5368 "Basic UI: set label/value color for QuantityType states"
From this comment https://github.com/eclipse/smarthome/issues/5243#issuecomment-378665172:

`Text item=fritzWashingMachineDECT200Temperature label="FRITZ!DECT 200 (Waschmaschine) [%.1f %unit%]" valuecolor=[<15="blue", <=18="green", <=21="orange", >21="red"]`
// EDIT: Item type is Number:Temperature.

The label- and value-colors definitions are not matched correctly against QuantityType states.
Sin

[2018-04-06 06:59] htreu commented on #5243
@lolodomo in the console you are able to provide the value & unit in one string:

`smarthome update Weather_Pressure 1000hPa`

Unfortunately in the IDE console you get parsing errors when using the `°` character. This is a limitation of the Eclipse console implementation.

[2018-04-06 07:07] htreu commented on #5243
As for the syntax in rules it is missing in the docs right now. But I did [a blog post here](https://www.eclipse.org/smarthome/blog/2018/02/22/units-of-measurement.html). The syntax is described in the "Scripts & Rules" section.

[2018-04-06 07:26] lolodomo commented on #5243
So for sitemap, should we update the syntax the same way as for rules or should we consider the same syntax as in console commands  ?
Console syntax with one unique string would mean no change of syntax in fact, just a fix in the code parsing the values. I would vote for this option and I can even try to fix it (but I have a limited free time for that at this moment).

[2018-04-06 07:36] triller-telekom commented on #5366
This was fixed in PR #5357 and should be available in openhab snapshot 1250.

@sjka @htreu Can you please close this issue?

[2018-04-06 07:36] maggu2810 commented on #5351
@sjka Should I have a look at, too? Which commit ID is this log based on (to have a correct line number reference)?

[2018-04-06 07:40] J-N-K commented on #5351
@maggu2810: 1c311dc84806d177d4c2d55bded796616a9f00a3 (latest in #5346). I retriggered the build by close/open.

[2018-04-06 07:41] michaeljoos72 commented on #5366
yes, it's working in 1250 :)

[2018-04-06 07:41] #5366 closed

[2018-04-06 07:45] HentschelT commented on #4873
Hi @lolodomo , did your commit make it into the main eclipse/smarthome repository/build? I can close this report at that point.

[2018-04-06 07:51] maggu2810 commented on #5351
Hm, #5355 is not part of 1c311dc84806d177d4c2d55bded796616a9f00a3
Isn't the build based on a merged master?

[2018-04-06 07:55] maggu2810 commented on #5351
I merged master, will try to have a look at, but all that Mockito stuff... :wink:

[2018-04-06 07:57] maggu2810 commented on #5351
`assertNotNUpdatedWithSameConfig` fails on my machine in the IDE, too. So at least possible to reproduce.

[2018-04-06 08:02] maggu2810 commented on #5351
Hm, what about that error:

[code]

[2018-04-06 08:04] maggu2810 commented on #5351
After comment out

[code]

the test succeeds again.

[2018-04-06 08:28] J-N-K commented on #5351
@maggu2810 I'll check that. However, I don't understand why this is related and why the test case for the unit succeeds locally with `-fae` (i.e. ignoring the above error).

[2018-04-06 08:30] htreu commented on #5243
For sitemaps the syntax follows the item state description syntax: `label="my Label [%.2f °F]"` will convert and render the given temperature value in degree Fahrenheit.

[2018-04-06 08:43] htreu commented on #5243
The QuantityType is actually able to parse Strings like `20°C` but the console implementation of the eclipse IDE has encoding issues. So the problem can not be fixed in the scope of ESH.

[2018-04-06 09:20] J-N-K opened #5369 "Maven build fails on windows in o.e.s.c.d.usbserial.linuxsysfs.test"
When run as user:

[code]

as administrator:

[code]

[2018-04-06 09:26] davidgraeff opened #5370 "MQTT: Add protocol selection to MqttBrokerConnection"
# Abstract
At the moment the MqttBrokerConnection class assumes that the API user wants a TCP (+SSL) connection. MQTT is also specified for Websockets nowadays though. There might be additional transport protocols specified for MQTTv5.

# Usecase
For example to talk to the amazon IOT (AWS) cloud that speaks MQTT on websockets.

# Regression
The old API just required an URI string like "tcp://1.1.1

[2018-04-06 09:39] antoniosv commented on #2620
I'm having the opposite problem as @maggu2810 . I would like to be denied access to, say, things/items when I use curl without the headers of basic-authentication. However, all requests go through even though the endpoint things/items is annotated by `@RolesAllowed({ Role.ADMIN })`.
I'm guessing that, at some point, basic authentication was disabled, but what was changed?

[2018-04-06 12:04] maggu2810 commented on #5369
IMHO the whole linux sysfs tests should not be executed on Windows at all.
If this is tests are executed on every platform at the moment, Maven profiles should be used to add that test module on OS family linux only.

[2018-04-06 12:43] sjka commented on #5369
The tests create the necessary file system structure in a subdirectory of the temp folder and operate there. So they are not necessarily bound to be executed on linux, they e.g. run perfectly fine on macOS despite that it doesn't have a `/sys/...` filesystem.
In any case, Windows disqualified itself due to the fact that `:` are not allowed in filenames because it is reserved as a drive delimiter.

[2018-04-06 12:48] maggu2810 commented on #5369
Hm, then it is more complicated.
If will fail on every filesystem that does not accept `:` in its path names.
If could also fail on Unix based systems if such a filesystem has been chosen for the ESH source tree.

[2018-04-06 17:07] hr3 opened #5372 "SNAPSHOT-#1251 Z-WAY-Bindung lost"
At #1234 it still was available in PaperUI. Now it’s be absend.

[2018-04-06 17:57] lolodomo commented on #5243
As @cweitkamp explained,  the problem is not the label attribute but would be the labelcolor /valuecolor / visibility attributes.

[2018-04-06 18:50] cweitkamp opened #5373 "[hue] An error occurred while calling method 'ThingHandler.handleCommand()' on ... (NPE)"
I upgraded to OH2 #1521 earlier this day. This version is based on ESH #263. The hue binding has some issues right now. #5318 replaces catching a `NullPointerException` but it looks like we have some more potential NPE lines of code in there.
[code]

[2018-04-06 21:18] openhab-5iver opened #5374 "ClassicUI essentially blank"
All it displays is this…
[code]
No errors. BasicUI displays properly, and 1247 displayed properly too. Clearing the sitemap to display a single item did not help. Others are reporting this too.

https://community.openhab.org/t/2-3-0-snapshot-1250-classicui-essentially-blank/43252

OH 2.3.0 snapshot 1250
ESH 0.10.0.201804051647
Firefox, Chrome

[2018-04-06 21:29] hr3 commented on #5374
I get this error
`2018-04-06 23:22:54.455 [ERROR] [clipse.smarthome.io.transport.serial] - Component descriptor entry 'OSGI-INF/*.xml' not found`

[2018-04-07 08:30] lolodomo opened #5376 "Chart settings ignored"
Running OH server snapshot 1224, the chart settings defined in my file chart.cfg are simply ignored.
Here is an example:
[code]
With these settings, the charts displayed in, Basic UI should have the size 240x120 while they have the size 480x240 (default size).
Even a restart of the server does not help.

This problem was first reported in this topic: https://community.openhab.org/t/charts-are-not-

[2018-04-07 08:41] lolodomo commented on #5376
I found thefollowing  file userdata/config/org/eclipse/smarthome/ui/chart.config with this content:
[code]
Is it expected to have this file ?
Is it expected to have the number values surrounded by "" in this file ?
Is it expected to have this content even after restored my initial chart.cfg with this content (and after restarting OH):
[code]

[2018-04-07 12:17] lolodomo commented on #5312
I finally found the problem.
Imagine this sitemap:
[code]
with the item defined like that:
[code]
if the channel type is defined with the pattern `"%.0f %unit%"`, then only the third element is shown as Err, the others are ok.
if the channel type is defined with the pattern `"%d %unit%"`, then the first and third elements are shown as Err, the others are ok.
Note that the value in WU data is in fa

[2018-04-07 12:30] lolodomo commented on #5368
I think we should be able to define the valuecolor attribute like that! `valuecolor=[<15°C="blue", <=18°F="green", <=21K="orange", >21="red"]`
Values are stupid but it is only to show the syntax.
If unit is not mentioned, I am not sure what unit tshould be considered.
The code that is doing these comparisons is here: https://github.com/eclipse/smarthome/blob/master/bundles/ui/org.eclipse.smarthome

[2018-04-07 12:40] mhilbush commented on #5376
@lolodomo Could it be the same root cause as [this](https://github.com/openhab/openhab1-addons/issues/5460)?

[2018-04-07 13:04] lolodomo commented on #5376
In fact, it looks like there are two problems in my case:
* one is that the settings are not updated in my file chart.config when I comment lines in my file chart.cfg. It would be because I don't have service.pid defined in my old chart.cfg file ?
* second is really more annoying because the settings are apparently just ignored by the system. I am asking myself if this is because values in chart.c

[2018-04-07 13:12] mhilbush commented on #5376
Probably. You could confirm this by adding a pid marker as the first line of your chart.cfg file.

For example, my gcal config file now starts with:
[code]

I'm not sure about your second point.

[2018-04-07 13:13] lolodomo commented on #5368
Please note that this problem is not specific to Basic UI but impacts all UIs.

@htreu: can you please fix the method I pointed ? That should be really easy for you who have a perfect knowledge of QuantityType.
A fix in this method will fix at the same time the 3 sitemap attributes labelcolor, valuecolor and visibility.

[2018-04-07 13:26] J-N-K commented on #5368
I don‘t think it makes much sense to put the units in the Sitemap (aside from the label). It is much more intuitive that the unit for the values is the same as used in the label.

Therefore I would vote for htreu‘s Suggestion.

[2018-04-07 13:38] lolodomo commented on #5376
With my chart.cfg updated like this:
[code]
now my file userdata/config/org/eclipse/smarthome/ui/chart.config is updated when I update the file chart.cfg.

But these settings are still ignored by Basic UI to render charts. Chart size is always 480x240 whatever the settings. That's why I think the chart settings are just ignored by the system.

[2018-04-07 13:43] lolodomo commented on #5368
It could complex in this case to identify the right unit because the label is only an option in the sitemap. If not defined in the sitemap, the label to be used is the item label. And if item label is not defined, the label to consider is the pattern is the channel type.

[2018-04-07 14:02] bigbasec commented on #5374
Same issue here, Classic UI is completely broken.

[2018-04-07 14:28] lolodomo commented on #5376
In Eclipse, I put this chart.cfg file:
[code]
At startup, I can see that this method is called when the chart servlet is started:
https://github.com/eclipse/smarthome/blob/master/bundles/ui/org.eclipse.smarthome.ui/src/main/java/org/eclipse/smarthome/ui/internal/chart/ChartServlet.java#L175
But this line
https://github.com/eclipse/smarthome/blob/master/bundles/ui/org.eclipse.smarthome.ui/src/main/

[2018-04-07 14:32] lolodomo commented on #5376
I traced whar keys are inside the config object and there is no trace from the entries from my chart.cfg file!
[code]

[2018-04-07 14:37] lolodomo commented on #5376
@kaikreuzer : what's wrong now with the cfg files ? What was changed to explain that they are not loaded ?

[2018-04-07 17:00] #5369 closed

[2018-04-07 17:05] kaikreuzer commented on #5376
I am not aware of any changes, this would need to be analyzed.
What I see from the above is that it uses a non-standard pid - usually ALL our user-configurable settings use `org.eclipse.smarthome.<service>` as a pid, while the chart seems to have an additional `ui.` inbetween - I would strongly suggest to change that.

[2018-04-07 17:26] lolodomo commented on #5376
I updated my logs to log the config values and it confirms the pid to be used:
[code]

[2018-04-07 17:40] lolodomo commented on #5376
I tried in my production environmùent (snapshot 1224) too with the correct service pid. Now the updated file is of course userdata/config/org/eclipse/smarthome/chart.config but these settings have still no effect on the chart servlet.

[2018-04-07 17:43] kaikreuzer commented on #2620
Let me close this issue here as the whole authentication/security topic is currently rediscussed in https://github.com/eclipse/smarthome/issues/579 - it therefore does not make sense to document the current state as it won't stay as it is and anyhow is no properly usable solution.

[2018-04-07 17:43] #2620 closed

[2018-04-07 18:12] lolodomo commented on #3756
The initial list of proposed channels is not enough to cover a standard need for bindings handling weather data. After an analysis of these bindings (WU weather binding, Yahoo weather binding, Netatmo binding), the following list of channels allows to minimize the redefinition of the same channel types in all these bindings.
This was implemented in PR #5311

Channel Type | Category | Accessible Mo

[2018-04-07 21:17] J-N-K commented on #5368
I don't think it's very difficult. At least from the code side. If the `state` is `QuantityType` it is converted to the displayed units before the state is passed to the color matching code. So we have it available in the unit that is displayed later on.

[2018-04-08 06:10] maxx92 opened #5379 "Digitalstrom: GR-HKL230 not supported"
The above mentioned Hardware seems not to be yet supported. The current binding version allows opening and closing of the blinds but no control of the angle.

[2018-04-08 08:55] lolodomo commented on #5368
If this is easy and if the solution is not confusing for a normal user, let's go.

[2018-04-08 09:40] #5374 closed

[2018-04-08 09:53] lolodomo commented on #5243
Netatmo binding is handling Co2 and noise data, respectively in ppm and decibel units.
Are these units available in ESH ?

[2018-04-08 11:25] lolodomo commented on #5312
@htreu : I made a more fully example against the very last code without any change to the Yahoo and WU bindings.

For the Yahoo binding with:
[code]
only the 4th element (humidité 4) is displaying "Err", the 4 others are displaying the expected value.

For the WU binding with
[code]
only the first and the 4th elements are displaying "Err", the 3 others are displaying the expected value.

[2018-04-08 11:34] lolodomo commented on #5312
I can mention we have the same problem with the probability of precipitations WU channel but it makes sense as it is defined and handled the same way as the humidity channel.

[2018-04-08 11:49] lolodomo commented on #5310
The fix is technically extremely simple, you just have to add a description tag in addition to the label tag for each channel group.
The only difficulty is to define a correct description which means having a clear understanding of all the astro data... The minimum solution would be to duplicate the label into the description.

[2018-04-08 12:02] lolodomo commented on #5312
I am just seeing issue #5285 and maybe this is interesting for our problem here. I am not sure but maybe we have to add an additional case at the mentioned place.

[2018-04-08 12:49] lolodomo commented on #5376
Ok, I found the issue, configuration PID was not declared. I will provide a fix.

[2018-04-08 14:26] J-N-K commented on #5351
This can be closed. Never saw it again after fixing the above error. I still don't understand why this happens, though.

[2018-04-08 17:29] #5333 closed

[2018-04-08 17:29] #5341 closed

[2018-04-08 17:38] J-N-K commented on #5243
@lolodomo, I have created #5385 for dB and ppm.

[2018-04-08 18:38] wborn commented on #5310
The binding also has references in the code and labels to "planet". Our sun and moon are not planets. Perhaps we can use something like "celestial body" instead?

See also Wikipedia:
* [Planet](https://en.wikipedia.org/wiki/Planet)
* [Astronomical object](https://en.wikipedia.org/wiki/Astronomical_object)

[2018-04-08 23:12] jboeddeker commented on #5373
on openHAB 1252 the issue is still existing.

[code]

[2018-04-09 05:20] chadkuester opened #5387 "Paper UI: Hide the delete icon for items/things for objects created from a text file"
Platform information:
- Hardware: RPi 3 B+ (March 2018)
- OS: openHABian 1.4.1
- openHAB version: openHAB 2.3.0~20180404031746-1 (Build #1248)

Low priority wishlist improvement: Paper UI- Hide the delete icon for items/things for objects created from a text file.

In my system, some items are created via the Paper UI, other items are created via a .items text file. In Paper UI, deleting jsonDB it

[2018-04-09 06:13] lolodomo commented on #4794
Was this fix finally implemented ?

[2018-04-09 06:16] kaikreuzer commented on #4794
I didn't see any according PR so far - did you?

[2018-04-09 06:34] lolodomo commented on #5376
Now fixed

[2018-04-09 06:34] #5376 closed

[2018-04-09 07:01] kaikreuzer commented on #5373
@cweitkamp Please refrain from using "#" for such references as it will link the github issues with those numbers (which are obviously completely unrelated).

[2018-04-09 07:36] jboeddeker commented on #5373
According to my opinion, we have currently two issues with the hue-bridge-thing.

The first one is the constant loss of connection and reconnection, the other one is the NPE when sending a command.

Should we add a second issue?

[2018-04-09 07:50] antoniosv commented on #579
As Issue #2620 got closed, I'll repost this:

I'm guessing that, at some point, basic authentication was disabled, but what was changed?

[2018-04-09 09:01] kaikreuzer commented on #5326
It might make sense to split the chart support to a separate bundle and mark it with an exception (only working with full JRE).
But then again, there wouldn't be much left in smarthome.ui but the ItemUIRegistry/Provider, which itself depends on Xtext/EMF/etc. and thus isn't really applicable for constraint devices either - this should change in the context of https://github.com/eclipse/smarthome/i

[2018-04-09 09:11] sjka commented on #5373
Look like #5318 did some sever damage to the hue binding. I'm about to push a fix.

[2018-04-09 09:48] htreu commented on #5312
I can at least confirm the `Label [%d %%]` error in a test case. Stay tuned.

[2018-04-09 10:28] cweitkamp commented on #5373
No problem. I will do that. Changed it in my initial post.

[2018-04-09 10:59] cweitkamp commented on #5312
I don't know if it helps, but we had some precision issues in the avmfritz binding a while ago. I tackled it down to some well known issues with BigDecimal in Java (see openhab/openhab2-addons#3244 and http://www.stichlberger.com/software/java-bigdecimal-gotchas/ for more information).

[2018-04-09 11:17] lolodomo commented on #5312
Dtrange. `Label [%d %%]` is a case thst works for me.

[2018-04-09 11:43] htreu opened #5392 "QuantityType: format decimal values in state description"
Taken from this comment https://github.com/eclipse/smarthome/issues/5312#issuecomment-379542661 the issue is that a QuantityType fails to format well in the following scenarios:

State description:
1. `"Label [%d %unit%]"`: The `%d` forces conversion to DecimalType which is not aware of the special `%unit%` placeholder.
1. `"Label [%d %%]"`: In case the scalar value of the QuantityType state is no

[2018-04-09 11:44] htreu commented on #5312
I created a separate issue for this bug here: https://github.com/eclipse/smarthome/issues/5392

[2018-04-09 12:15] splatch commented on #579
Hey,
Over past couple of weeks I been walking around this topic and looking for a way to remove blocking element which is lack of filter support in OSGi 4.2. Please check below document where I describe simple approach based on whiteboard pattern which will allow to host compatibilty layer for runtime used in commercial products. Such layer will not be necessary for openhab which runs on newer ver

[2018-04-09 13:11] triller-telekom commented on #5310
Oh I see, I thought you wanted to rename the "Start time", "End time" per channel group, but you guys were talking about the "Range for a sun event" description...

[2018-04-09 13:34] hakan42 commented on #3756
The sensebox binding ( https://docs.openhab.org/addons/bindings/sensebox/readme.html ) supports:

* Humidity [%.1f %%] ( mappable to system:relative-humidity ? )
* Light Level [%.1f lx]
* UvIntensity [%.1f μW/cm²]
* Pressure [%.1f hPa] ( mappable to system:barometric-pressure ? )
* Temperature [%.1f °C] (mappable to system:current-temperature ? )

and particle densities, measured in [%.1f µg/m³].

[2018-04-09 14:32] #5198 closed

[2018-04-09 14:33] kaikreuzer commented on #5218
@htreu Do you happen to know if that had been fixed meanwhile?

[2018-04-09 14:33] TheNetStriker commented on #4794
Please note that my fix was just a quick fix. It works most of the time, but sometimes the problem still occurs. This should be fixed with a more elegant solution. Maybe with some kind of job queue that can limit the calls per second.

Maybe this RateLimiter would be useful to limit the calls per second: https://github.com/google/guava/blob/master/guava/src/com/google/common/util/concurrent/RateLi

[2018-04-09 14:38] #5310 closed

[2018-04-09 14:45] kaikreuzer commented on #4741
FTR: JSON-P is now even an Eclipse project, so it should be our natural choice: https://github.com/eclipse-ee4j/jsonp

I'd vote for replacing our recommendation for gson by json-p, although it means that we will have to carry around both for quite a while, I'm afraid...

[2018-04-09 14:49] kaikreuzer commented on #4669
No complaints, so I close it :-)

[2018-04-09 14:49] #4669 closed

[2018-04-09 15:01] kaikreuzer commented on #4662
@hmerk Any news on that "major rework"?

[2018-04-09 15:03] kaikreuzer commented on #4640
Afaics, this is not a bug report, but rather a support request, so I am closing it due to inactivity.

[2018-04-09 15:03] #4640 closed

[2018-04-09 15:06] kaikreuzer commented on #4575
I haven't heard any recent complains and as @lolodomo cannot reproduce it, I suggest to close this issue.

Feel free to re-open, if there is a reproducible situation of a such a bug.

[2018-04-09 15:06] #4575 closed

[2018-04-09 15:10] kaikreuzer commented on #4465
A serial API has been introduced as a facade with #5313.

[2018-04-09 15:10] #4465 closed

[2018-04-09 15:12] kaikreuzer commented on #4419
We did a lot of changes and improvements wrt blocking behavior in the event processing, so I would claim that this should be solved by now.

If there is still an issue, feel free to re-open.

[2018-04-09 15:12] #4419 closed

[2018-04-09 15:14] kaikreuzer commented on #4461
I'd think that this feature is now available through `ThingHandlerCallback.createChannelBuilder()`.

[2018-04-09 15:14] #4461 closed

[2018-04-09 15:25] kaikreuzer commented on #3918
This can imho be closed, now that we are using Mockito 2.

[2018-04-09 15:25] #3918 closed

[2018-04-09 15:28] kaikreuzer commented on #3798
I'd agree with @sjka's https://github.com/eclipse/smarthome/issues/3798#issuecomment-313138840 above and would suggest to close the issue. If you still see the need for changes, feel free to re-open it.

[2018-04-09 15:28] #3798 closed

[2018-04-09 15:34] #3306 closed

[2018-04-09 15:36] kaikreuzer commented on #3166
@tomhoefer Do you happen to know the status of this?

[2018-04-09 15:39] kaikreuzer commented on #3013
As `ScriptModuleActivator` does not exist anymore meanwhile, I would like to close this issue - if there is still a problem, it will likely be a different one :-)

[2018-04-09 15:39] #3013 closed

[2018-04-09 15:41] kaikreuzer commented on #2998
Should be fixed by https://github.com/eclipse/smarthome/pull/3037.
If anyone still sees this issue, please re-open or file a new report.

[2018-04-09 15:41] #2998 closed

[2018-04-09 15:50] kaikreuzer commented on #2586
@sjka I would assume that this is meanwhile outdated. Can it be closed?

[2018-04-09 15:53] kaikreuzer commented on #2433
Since we meanwhile had some refactorings of AbstractWatchService - is this still an issue that should be addressed?

[2018-04-09 15:55] kaikreuzer commented on #2267
Should be fixed by https://github.com/eclipse/smarthome/pull/4882.

[2018-04-09 15:55] #2267 closed

[2018-04-09 16:14] #1012 closed

[2018-04-09 16:40] tomhoefer commented on #3166
@dstivanov can you pls check this because you are developing a DFU extension at the moment?

[2018-04-09 16:55] hmerk commented on #4662
@kaikreuzer unfortunately no. As you know, my priorities are changing. Had some issues renovating the house and even some issues at day work. Don‘t really know when to have the PR ready, since the little one was born last Wednesday. So no more late coding sessions during night time for the moment. Hope to find some time during my fist paternity leave in June.

[2018-04-09 21:28] #4353 closed

[2018-04-09 23:27] chadkuester opened #5398 "Trouble with Wemo binding after rebooting"
Platform information:
-Hardware: RPi 3 B+ (March 2018)
-OS: openHABian 1.4.1
-openHAB version: openHAB 2.3.0~20180408143530-1 (Build #1252)

I’m having a terrible time with the Wemo binding. I’ve purchased a new Raspberry PI 3 B+, tried formatting the new SD card four times now, tried a 100% pure Paper UI method, tried a 100% method using text files (wemo.items), tried OH 2.2 and OH 2.3, but I can

[2018-04-10 06:26] htreu commented on #5370
Hi @davidgraeff, this looks okay to me.
For the HTTP headers I suggest to opening a separate issue.

[2018-04-10 06:40] davidgraeff opened #5399 "Mqtt: Support custom http headers for websocket connections"
# Abstract
As soon as #5370 is implemented, MQTT in ESH also allows Websocket connections. Websockets is initiated over a http connection and therefore custom headers are sometimes used for authentication, like with the AWS Iot service of Amazon. The related paho issue to support custom http headers is here: https://github.com/eclipse/paho.mqtt.java/issues/502

# Usecase
For example to talk to the

[2018-04-10 06:44] dstivanov commented on #3166
Yes, I will implement some tests (with the feedback provided above) and take care of this.

I see that callback implementation uses state machine. @tomhoefer Do you know whether we have its state diagram or it was just extended over time and its completeness is not assured?

[2018-04-10 07:13] kaikreuzer commented on #4794
We are trying to rather phase Guava out right now, but it would be fine to add a similar implementation somewhere to smarthome.core for general use (similar to the [caching implementation](https://www.eclipse.org/smarthome/documentation/features/frameworkUtilities.html#caching)).

[2018-04-10 07:25] maggu2810 commented on #5398
Perhaps it would help for diagnostic to set the log level for `org.eclipse.smarthome.binding.wemo` to `TRACE`, restart openHAB (I assume it will fail now) and then log the whole log from a openHAB restart till some presses in the UI.

[2018-04-10 08:01] tomhoefer commented on #3166
@dstivanov no - currently we dont have a diagram for this purpose. We should add such a diagram once we are going to finalize the DFU documentation PR #1424

[2018-04-10 08:12] TheNetStriker commented on #4794
Hi Kai, you mentioned a similar implementation on the Tradfri binding. Do you mean this "commandsQueue" in [this ](https://github.com/eclipse/smarthome/blob/4204ce06bb28c28e5f711e720f87ef83beff2e27/extensions/binding/org.eclipse.smarthome.binding.tradfri/src/main/java/org/eclipse/smarthome/binding/tradfri/internal/TradfriCoapClient.java)file?

Maybe this could also be used for the Hue addon. But I

[2018-04-10 08:32] kaikreuzer commented on #4794
Yes, that's exactly the place in Tradfri.
It isn't really much logic, so you could simply do it similarly for hue. Alternatively, extracting it as a reusable class into smarthome.core could make sense as well (might be slightly more discussion involved to make sure it ends up as a proper API).

[2018-04-10 09:52] kaikreuzer commented on #5266
I'd assume there isn't much we can do about it. As it doesn't happen often, shall we close this issue?

[2018-04-10 09:54] kaikreuzer commented on #5337
Many thanks for your elaborate concept, @flaviocosta-net!
Just ftr, I have put this issue [on our backlog](https://github.com/eclipse/smarthome/projects/3), so it is something that will be followed up on soon!

[2018-04-10 11:04] TheNetStriker commented on #4794
I did take a closer look at the Tradfri code and I think I now see how this works. This system also allows for different delays for every command. This is exactly what the Hue addon needs, because if more parameters are set on the lamps a higher delay is required. I will see if I find some time to implement this into the Hue addon.

[2018-04-10 11:16] #5368 closed

[2018-04-10 21:36] mrbig commented on #5301
@kaikreuzer I've tried to implement the same solution you shown with blukii (code can be found [here](https://github.com/mrbig/openhab2-addons/tree/3216-binding-sunspec-modbus/addons/binding/org.openhab.binding.modbus.sunspec) )
It works with PaperUI but unfortunately it doesn't when I try to set up the bridge and thing in a .things file.

My things file looks like this:

[code]
The bridge is foun

[2018-04-10 21:55] TheNetStriker commented on #4794
Hi Kai, I started a first try to implement this on the Hue Addon. Currently it is not as elegant as I want it to be. The problem is that in the current code exceptions where handled in different classes. When sending the commands async this has to be handled in some other way. I also only implemented this on the setLightState method as a first step. Later this should be implemented on all methods

[2018-04-11 07:16] htreu commented on #5392
discussion continues on #5312.

[2018-04-11 07:16] #5392 closed

[2018-04-11 08:17] mrbig opened #5404 "Bridge nested syntax does not support different thingHandlerFactory for thing"
This issue is a follow up from #5301 and refers to a somewhat experimental technology at the moment.

Given are two bundles that share the same binding id. Reasons for this are described in #5301 A prototype for this is the [blukii support](https://github.com/eclipse/smarthome/tree/master/extensions/binding/org.eclipse.smarthome.binding.bluetooth.blukii) or the modbus based [sunspec support](https

[2018-04-11 11:49] lolodomo commented on #5312
Ok, I did not understand why you created another issue but I said mothing :)

Did you finally reproduce the error case when you define no label at all ?

[2018-04-11 15:18] triller-telekom commented on #3756
Here are my findings on this discussion:

How I proceeded: First i searched for all channel definitions in ESH and OH2:

[code]

This resulted in a list of 2351 channel (730 are from the nibeheatpump binding alone btw!).

In this list i searched for the entries in the list from @cweitkamp in https://github.com/eclipse/smarthome/issues/3756#issue-238858603 and @hakan42 in https://github.com/eclipse

[2018-04-11 16:25] lolodomo commented on #3756
Please consider for weather data that we should have one binding defined per provider. System channels would be interesting in this case to not have each binding defining the same channels.

[2018-04-12 05:29] chadkuester commented on #5398
https://docs.openhab.org/administration/logging.html#config-file
says that log settings are lost when the system is rebooted so I edited /var/lib/openhab2/etc/org.ops4j.pax.logging.cfg

Then I set it to this:
# OSGi appender
log4j2.appender.osgi.type = PaxOsgi
log4j2.appender.osgi.name = OSGI
log4j2.appender.osgi.filter = *
log4j2.logger.org_openhab_binding_wemo.level = TRACE
log4j2.logger.org_ope

[2018-04-12 13:47] triller-telekom commented on #5398
@hmerk I looked at this issue and since it is your code maybe you can answer my question, and maybe also fix this issue with it too :)

The error message mentioned above arises due to the condition `if (service.isRegistered(this))` in https://github.com/eclipse/smarthome/blob/master/extensions/binding/org.eclipse.smarthome.binding.wemo/src/main/java/org/eclipse/smarthome/binding/wemo/handler/WemoH

[2018-04-12 14:03] triller-telekom commented on #3756
Of course we will also consider weather channel in the system-channel list. If a channel is used "often enough" we will create a system channel for it.

Regarding my fore-mentioned problem with `temperature`, `pressure`, `humidity`:

For `temperature` we could start with a `outdoor_temperature` channel which can then be used by weather bindings, but also in a heating binding if the heating device

[2018-04-12 14:12] chadkuester commented on #5398
Yes- it will- if I assist it.  So yesterday I removed all other bindings.  I removed all other items and just left one Wemo item in my wemo.items list (a lightswitch).  That's the log you saw above.

All night long it tried to discover the Wemo device and failed.
This morning I assisted it - I removed the Wemo binding and then added it back.

Instantly it's now discovered all of my devices.  The l

[2018-04-12 14:17] chadkuester commented on #5398
Most of my issues appear to be with discovery.  Since all of my switches have a DHCP reservation, is it possible to add the IP to each thing to assist with discovery?

For example:
Thing wemo:lightswitch:Lightswitch1 "Kitchen Switch" [udn="Lightswitch-1_0-221603K1300901", host="192.168.2.169"]

[2018-04-12 15:01] triller-telekom commented on #4672
@kgoderis Were you able to reproduce this in the meantime? Otherwise I would also blame it to an update issue and maybe you can close this (old) issue?

[2018-04-12 16:55] hmerk commented on #5398
@chadkuester
Do you have a feeling since when you face this issue? Did it happen with an earlier firmware?
My WeMo devices are still on an older firmware version, so I have to update them to see if Belkin again did some breaking changes.....

[2018-04-12 20:50] hmerk commented on #5398
@chadkuester
I can not reproduce the behaviour you are seeing. All my WeMo devices come online straight away.
@triller-telekom
Yes, handlers get registered, otherwise there would be no active GENA subscription, which is definitely working.

[2018-04-12 21:31] hmerk commented on #5398
@chadkuester
Do you just have a WeMo Lightswitch ? Any other device type you could test ?

[2018-04-13 05:53] chadkuester commented on #5398
When did I first face this issue?  I'm just started with openHAB about a week ago.  Starting with 2.2 and 2.3 - both were giving me this issue.  In the beginning, when things stopped working, I had assumed that I messed up a file somewhere and ruined the machine, so I formatted and started over.  After my 4th buildup running openHabian from scratch, I've finally traced the issue of Wemo failing to

[2018-04-13 07:45] chadkuester commented on #5398
With the service stopped, I started the openhab2 service, recorded the log, then stopped the service again.

On my first pastebin below, everything worked on the first try!  I don’t think that’s happened before!
On my 2nd pastebin, it failed.  Had I tried to uninstall/reinstall the Wemo binding it probably would have worked.  For an example of me uninstalling/reinstalling to make it work, see my p

[2018-04-13 07:55] hmerk commented on #5398
It is not neccesarily a timing issue with your Pi, as I am running openHAB on a NUC.
Setting things OFFLINE when they are unplugged is not completely implemented, but coming with the next Binding version.
I am about to rewrite major parts of the code to make it more robust and to support additional devices, like Dimmer Switch. Unfortunately, I can not tell when this will be ready, cause of private

[2018-04-13 09:21] htreu opened #5413 "SmartHomeUnits static import leaks dependent class methods/fields"
When importing SmartHomeUnits statically some methods and/or fields of the base Class `tec.uom.se.AbstractSystemOfUnits` leak into the calling class. The `tec.uom` dependency is not allowed for bindings/other bundles then smarthome core.

[2018-04-13 16:57] chadkuester commented on #5398
OK.  I'll sit tight.  I do have a workaround.  The power hardly ever goes out and I could always add a UPS.

Thanks for looking into this!

[2018-04-13 20:53] jscottnz commented on #4130
I have noticed the issues with day-of-week parameters. I removed all my day-of-week crons and I had stability again. I'm willing to work on this but I'm currently working on another problem.

[2018-04-14 10:59] lolodomo commented on #3756
Please note that you missed the netatmo binding for few channels like wind direction and winnd speed for example.

As the idea is to have one binding per weather data provider, even if we have currently only 2 bindings implemented in ESH and OH2, we could have later around 8 weather bindings (look at the openhab 1 weather binding how many providers are considered).

I am not sure but it is probabl

[2018-04-14 12:02] lolodomo commented on #5062
I think the solution would be to avoid an update notification when the chart widget contains a refresh argument.
There are changes to be done for sitemap SSE and for sitemap REST long polling.
I will work on these changes.

[2018-04-14 15:10] Confectrician opened #5416 "[Classic Icon Set] "presence-on" icon is missing"
Hi,

This is a port from openhab/openhab-docs#660

It seems that somethings going wrong in https://github.com/eclipse/smarthome/blob/master/extensions/ui/iconset/org.eclipse.smarthome.ui.iconset.classic/README.sh and the html tags for the presence icon are generated wrong.

[2018-04-14 15:44] lolodomo commented on #5062
Note that there is no such problem if the item linked to the chart element is a basic group like for example in the demo sitemap:
`				Chart item=Weather_Chart period=h refresh=600000 visibility=[Weather_Chart_Period==0, Weather_Chart_Period=="NULL"]`
This is because such a group has not state update when one of its member is updated.
The problem appears as soon as the linked item receives state u

[2018-04-15 19:51] #5379 closed

[2018-04-15 19:57] maxx92 opened #5418 "openhab2 digitalstrom binding"
I have two types of devices to control my SHADES (Lamellenjalousien) and BLINDS (Vertikalrollos): For the blinds I use KL220. They only go up and down, they have no angle functionality. For my shades I use HKL-230. They additionally have angle control.

However, the digitalstrom binding turns the two around! Now I have an angle control for my blinds (which have no angle in reality) and my shades h

[2018-04-16 05:53] htreu commented on #5243
Unfortunately this is not the case. The framework provides one instance of the UnitProvider and changes are not propagated to referencing services. The service setter `setUnitProvider` is annotated as `1..1, STATIC` which means the instance will not get overwritten once set.
Otherwise the whole HandlerFactory would be shut down and created from the ground up.

For the refresh to work we need some

[2018-04-16 06:37] kaikreuzer commented on #5418
@MichaelOchel or @hmerk Could you check and comment?

[2018-04-16 06:44] hmerk commented on #5418
@kaikreuzer Sorry Kai, I can't, as I am not so familiar with the Binding and won't find time to dig into it.

[2018-04-16 09:00] triller-telekom commented on #3756
These are all netatmo channel for now:

[code]

By "missing channels", do you mean these?

[code]

Is the angle of the wind the same as direction? Maybe it is, But maybe some other bindings treat this as "N, S, NW, SE", etc. And is the "strength" the speed in like "m/s"?

If it is like that, for sure we can add them! I guess my list above is not complete anyway because I have done a manual scan th

[2018-04-16 09:35] maxx92 commented on #5418
Is there at least a "work around"? Simply adding "shutter_angle" in the .items definition to the respective item does not work..

[2018-04-16 14:21] htreu commented on #5413
I posted [this stackoverflow](https://stackoverflow.com/questions/49859548/java-import-static-fails-when-imported-class-extends-3rd-party-lib) to gain some insight. Feel free to comment here or there.

[2018-04-16 18:56] hmerk commented on #5418
Could you try to override the hardwaretype to KL220

[2018-04-16 20:11] hmerk commented on #5418
@maxx92
As I can see, channels are added on demand, based on device config parameters. It seems that the device is reporting a wrong param. To verify, plesae set the Binding to log level TRACE and post the output.

[2018-04-17 09:52] hsudbrock opened #5420 "I18n of thing status info description does not work when extending thing handlers in another bundle"
**Context**
If a thing status info description is given in a special format (example: `@text/rate_limit`) then it is translated automatically by the `o.e.sh.core.thing.i18n.ThingStatusInfoI18nLocalizationService`, using the translations from the folder `ESH-INF/i18n` in the bundle of the thing handler.

**Issue**
If one extends a thing handler in another bundle, this translation mechanism does not

[2018-04-17 11:26] htreu commented on #5420
@hsudbrock thanks for the report and the nice analysis. Your proposed solution for this sounds good to me (although it would involve reflection...). Looking forward to see your PR.

[2018-04-17 13:42] htreu commented on #3484
Hi all, I will pick this up and move the discussion forward. Since my head works best visually my approach is *specification by example*. Please try to come up with concrete issues for your requirements.

From the forum threads I learned the following structural requirements:

#### Handler Configuration
Handler configuration is merely about configuration of communication parameters, like ip addres

[2018-04-17 14:24] htreu commented on #3484
Here are some additional thoughts from an offline discussion with @kaikreuzer:

* even when the current config description schema could be used I strongly suggest to not mix the existing handler configuration with the new thing configuration. It should be a separate domain model with a separate block in the thing-type XML and the thing DSL.
* Although I initially thought persisting the thing confi

[2018-04-18 06:55] cdjackson commented on #3484
A few comments - this is extensively used in ZWave where we have around 750 things, each with 10 to 50 device parameters...

* I would definitely like to see the existing config description being used - I don't see a need to devise something new. If we need new functionality for this, then I think we should try to add them to the existing config description.
* If you support persisting of thing co

[2018-04-18 08:43] wborn opened #5423 "Add units for Watt (sub)multiples"
The Windcentrale binding has a channel (powerAbsTot) that is used for state updates of the total power generated by a windmill in kilowatts. This unit is currently missing from SmartHomeUnits.  Therefor it's currently not possible to introduce a unit to this channel without breaking backwards compatibility.

Should we add all common (sub)multiples of the Watt unit to SmartHomeUnits?
See: https://e

[2018-04-18 09:01] cdjackson commented on #3484
Maybe I wasn't clear - this is what I meant. I don't mind if we move this into a separate domain within the XML, but I'd prefer to retain the schema. All ZWave things are derived from a database, so it's not hugely difficult to completely change the format if we are just moving this to a separate XML tag.

Ok, so you mean that when the thing is ONLINE, it would not use this data, but would instead

[2018-04-18 11:06] sjka opened #5424 "[test failures] SafeCallerImplTest sometimes fails with timeouts"
The `SafeCallerImplTest` sporadically fails with messages like

[code]

The root-cause is not clear though. With #5362 the thread-dumps now get printed to the build log in such cases. Hopefully they will provide some useful insights.

[2018-04-18 11:08] sjka commented on #5424
From https://ci.eclipse.org/smarthome/job/SmartHomeDistribution-Nightly-PR/290/console:

[code]

[2018-04-18 11:10] sjka commented on #5424
From https://ci.eclipse.org/smarthome/job/SmartHomeDistribution-Nightly/2653/console:

[code]

[2018-04-18 11:41] wborn commented on #5423
It really is the current power produced by the windmill.

Great! I didn't know you could use the MetricPrefix in bindings as well. So I'll close the issue because this will probably solve it. The KILOWATT_HOUR unit is probably just there because it is a very commonly used unit. :-)

[2018-04-18 11:41] #5423 closed

[2018-04-18 11:47] sjka commented on #5337
Wow, that's a pretty thorough concept! I very much like this approach. As you said, it's still on an abstract level, but on that level it fully makes sense from my point of view. And judging from the likes it got, I think it is safe to say I'm not the only one 😉

Especially the separation between the definition model and the rendering model is something which will be of great benefit and although

[2018-04-18 12:11] sjka commented on #5416
@ItIsFelix the mentioned script at least "works as designed". What would have been your expectation wrt to the alt property in case of the presence icon?

[2018-04-18 12:34] triller-telekom commented on #3756
In https://github.com/eclipse/smarthome/issues/1093#issuecomment-254009786 @kaikreuzer mentioned these 4 potential system-channels:

[code]

I just link them here to have a collection of all suggestions in one issue. We still have to check how many bindings make use of them and if its worth to (already) create a system channel type for them.

[2018-04-18 12:39] ItIsFelix commented on #5416
Hallo sjka, for the icon presence.png I see the alt-property "presence-off".
That looks strange to me.
See here: [OpenHab - Classic Icon Set](https://docs.openhab.org/addons/iconsets/classic/readme.html)

Thanks
Felix

[2018-04-18 12:42] triller-telekom commented on #5416
@ItIsFelix: I have fixed that in the linked PR. Thank you for reporting it!

[2018-04-18 12:45] sjka commented on #5416
It generally list all of the available state variants (if any). Have a look [here](https://www.eclipse.org/smarthome/documentation/features/ui/iconset/classic/readme.html) at e.g. `battery`, `blinds`, `door`, `frontdoor`, `garagedoor`,...

So, let me ask again: what did you _expect_ to see there? I.e.

* Do you think it is surprising that the `alt="..."` property contains all the available state v

[2018-04-18 12:59] ItIsFelix commented on #5416
Hello @sjka,
you are right. An alt-property like "presence" is not correct.
I was expecting an alt-property "presence-off presence-on"

I didn't realize that there is no presence-off.png

[2018-04-18 13:08] #4672 closed

[2018-04-18 14:04] sjka commented on #5266
Does a couple of times a week qualify?
Newest here: https://ci.eclipse.org/smarthome/job/SmartHomeDistribution-Nightly/2654/console

Hmmm, what about upgrading NPM as suggested in https://github.com/npm/npm/issues/16861#issuecomment-371255734 (FTR, we _are_ using 5.0.3 - the exact version which is discouraged to be used for this very reason)?

[2018-04-18 14:44] kaikreuzer commented on #1093
All,

Let me try to summarise the current state of things to define some common ground to move this forward.

## Vocabulary

Just for the sake of talking about the same stuff, let me define what I mean by:
- Classification: A "flat" list of categories, every entity is assigned to exactly one category
- Taxonomy: A classification with hierarchies, where parent categories exist ("Temperature sensor"

[2018-04-18 15:04] sjka commented on #1093
Just one thing: Be careful with hierarchies, even in taxonomies! There seems to be a human habit to try putting everything into hierarchies. But usually that doesn't work in general.

Think about a `LightBulb` which is an `Actor` (and thereby a `Device`) in your example: it is at the same time also a `BuildingObject` - or how would you explain to the poor `LightBulb` that the `Outlet` is one? Or t

[2018-04-18 15:41] sjka commented on #5275
Yes, it is - but it is also covered by #1896, therefore the comment can be removed from the code.

[2018-04-18 15:47] kaikreuzer commented on #1093
@sjka Just what I am explaining in minute 4 :-D : https://youtu.be/R1HVYWP51E0?t=4m24s
So let's don't go too deep with the "object" taxonomy (especially not for the devices), but rather look at the functionality (i.e. drill down to the capability/item level).

No, it might only be an `Actuator`;-)

That depends on the definition of "BuildingObject" - for me, the bulb is a technical part of a lamp/

[2018-04-18 21:28] #5266 closed

[2018-04-19 07:08] afuechsel commented on #1093
I would vote for using _Object_ instead of _Thing_, as this could be easily mistaken for the Thing of ESH. Just to make the wording clear.

So if we have 4 different kinds, how should we map them to the 3 "W"s? Like this?

* Object - The "What"
* Properties - The "What"
* Places - The "Where"
* Purposes - The "Why"

And now - how about the capability? Wouldn't that be a fifth branch? And a fourth

[2018-04-19 07:53] ItIsFelix commented on #5416
In theory I agree with you.
The alt attribute specifies an alternate text for an image, if the image cannot be displayed or if a user for some reason cannot view it.
But in this case, the alt attribute is used to show the different states of icons. (see the fire icon or switch icon)

Now we can say there is a icon named "presence" to display the presence (at home) and a icon named "presence-off" t

[2018-04-19 09:55] kaikreuzer opened #5428 "Use metadata Infrastructure for persisting item tags"
Currently, tags are an integral part of item definitions and are defined and persisted along with the items for that reason.

This makes it impossible to maintain tags for items that are not stored in the database, but are rather provided through other means, be it textual/DSL files or the "virtual" ChannelItemProvider.

As we now have the metadata infrastructure in place, which allows providing a

[2018-04-19 12:14] doandzhi opened #5430 "Unable to build a DiscoveryResult with channel configuration"
Sorry if this is already discussed but I could not find anyting related that is why I decided to trigger a discussion on this topic.

 The [ESH thing description concept ](https://www.eclipse.org/smarthome/documentation/development/bindings/xml-reference.html)allows adding custrom config descriptions to channels. This is very straightforward and useful but it is a little bit unclear how to use it

[2018-04-19 12:41] htreu commented on #3484
maybe we can find a solution to leave it up to binding on how to deal with "initial" flagged parameters. I think it can/should not be done by the framework anyway since its totally device specific on how/when thing configuration can actually be written to the device. In Homematic the controller is not able to start communication with a lot of devices, so config writes can only be performed when th

[2018-04-19 13:12] triller-telekom commented on #4490
@lolodomo Do you still think there is a memory problem? At least if there is, you cannot narrow it down to the use of image channels, can you?

So shall we rename this issue to something like "general memory leak" or rather decide to close it for now and open a new one once we have at least some more evidence?

[2018-04-19 13:39] triller-telekom commented on #4330
FYI: With the [ZigBee binding](https://github.com/openhab/org.openhab.binding.zigbee) we now have one which has an `ZigBeeCoordinatorHandler` in one **core** bundle and a specific handler in another bundle. And in this use case it absolutely makes sense to export the handler.

[2018-04-19 13:42] triller-telekom commented on #4473
I guess this issue obsolete now. In the PaperUI build where we use npm the current output is

[code]

@sjka @kaikreuzer @htreu Can you please close this issue?

[2018-04-19 13:47] #4473 closed

[2018-04-19 13:50] triller-telekom commented on #4459
I do not get any errors/warnings in the ESH console if I refresh my VisualStudioCode.

@sjka Was this issue fixed by your PR in openhab/openhab-vscode#43 ? Or did it just disappear? :) Please have a look at it since it was your PR and close this issue.

[2018-04-19 14:09] triller-telekom commented on #4104
To sum this issue up:

- The logging error was fixed in #4106 which this issue was originally about
- As @kaikreuzer states in https://github.com/eclipse/smarthome/issues/4104#issuecomment-324031598 we probably should keep the `new StringType(null)` as a valid use case to not break any old stuff
- the `DecimalType` discussion brought up by @cweitkamp in https://github.com/eclipse/smarthome/issues/

[2018-04-19 14:13] triller-telekom commented on #4093
@htreu: To quote you on

Did any of the PRs related to PaperUI, which were created since this issue came up, improve the situation or is this two-way binding on large configurations still a problem?

[2018-04-19 14:29] flaviocosta-net commented on #5337
Hello @sjka, thanks for the feedback! As I was writing down these ideas, there were many uncertain issues that came to mind: whether icon set handling was being properly considered, if/how we should support sitemap elements with "Default" type or deprecate that, what is the best way to handle languages/i18n, which changes are needed for notifications/SSE, but I assumed that during a first implemen

[2018-04-19 14:33] sjka commented on #4459
No, openhab/openhab-vscode#43 only prevented me from reproducing it. But as we are speaking about that: I currently also cannot reproduce _this_ bug. Therefore I'll indeed close it until further complaints.

[2018-04-19 14:34] #4459 closed

[2018-04-19 14:41] #4634 closed

[2018-04-19 14:52] triller-telekom commented on #3867
I am running this version of the tradfri binding: 0.10.0.201804091757

I haven't seen such an exception in my log files.

@cweitkamp: Did you see the exception recently again, or can we close this issue?

[2018-04-19 14:53] htreu commented on #4093
Unfortunately its still an issue.

[2018-04-19 14:56] triller-telekom commented on #3191
I think this issue is a duplicate of #4093.

@htreu can you please close this issue and mark it as a duplicate (although it is older than the other one)

[2018-04-19 14:58] cdjackson commented on #3484
I wasn't think about just "successful communication". For this, no configuration is generally required. However, what I'm getting at is configuration that allows the device to be usable. There are many devices (let's say 10 to 20% - so a couple of hundred) that can be configured in different ways. For example, you can configure a wall switch to act like a dimmer, and send dim commands, or you can

[2018-04-19 16:46] MichaelOchel commented on #5418
Hi @maxx92
I see 2 things:

1. Do you use the newest version of the binding?I wondered why you have so many configurations. At the last “update” we had move the most configurations into the properties, because the binding currently can not configure digitalSTROM.
2. I think you have to switch the output-mode in your digitalSTROM configurations. When we implemented it, "POSITION_CONTROL_US" was use

[2018-04-19 16:55] MichaelOchel commented on #5263
I don’t think, that I would implement it in the next time. And if no one else are interested, it can be deleted.

Or would that be something for another project @maieralex ?

[2018-04-19 16:56] MichaelOchel commented on #5271
Sorry for the late answer.

I don’t think, that I would implement it in the next time. And if no one else are interested, it can be deleted.

Or would that be something for another project @maieralex ?

[2018-04-19 16:56] MichaelOchel commented on #5272
Sorry for the late answer.

I don’t think, that I would implement it in the next time. And if no one else are interested, it can be deleted.

Or would that be something for another project @maieralex ?

[2018-04-19 16:57] MichaelOchel commented on #5259
Sorry for the late answer.

I don’t think, that I would implement it in the next time. And if no one else are interested, it can be deleted.

Or would that be something for another project @maieralex ?

[2018-04-19 16:57] MichaelOchel commented on #5269
Sorry for the late answer.

I don’t think, that I would implement it in the next time. And if no one else are interested, it can be deleted.

Or would that be something for another project @maieralex ?

[2018-04-19 18:32] lolodomo commented on #4490
Yes I think there is no link with image channels.
I don't know if there is or not a memory leak but OH on my RPI 2 never crash.
So I close the issue and I will reopen it the day I have more detailed information.

[2018-04-19 18:32] #4490 closed

[2018-04-20 06:42] htreu commented on #3191
Closed in favour of https://github.com/eclipse/smarthome/issues/4093.

[2018-04-20 06:42] #3191 closed

[2018-04-20 09:01] maggu2810 commented on #3484
@htreu I agree with your points in general.

Questions / comments:

* You have not written it but I assume the "initial" marked configuration can be changed if the device is offline, too. As that values are written all the time the devices went online, I see no reason to keep them unchangeable if the device if offline.
* The "initial" flag is important for devices that can be configured but do not

[2018-04-20 09:12] triller-telekom commented on #5430
Do you have a use-case for a thing with custom channels which you want to discover? It is probably easier to discuss that on an example rather than just the theory.

[2018-04-20 09:25] #5259 closed

[2018-04-20 09:25] #5269 closed

[2018-04-20 09:25] #5271 closed

[2018-04-20 09:25] #5272 closed

[2018-04-20 09:25] #5263 closed

[2018-04-20 09:25] #5275 closed

[2018-04-20 09:46] #5189 closed

[2018-04-20 10:41] maxx92 commented on #5418
Hello Michael

Thank you for your reply. Do I use the latest binding? I use 2.2.0 and I believe it is still the latest.

What do you mean by "so many configurations"? The electrician told me that they used these for the blinds because they came with a Hirschmann plug and it was easier to put them in.. However, it is not a problem that I have angle control on them, I just don't use it. It is more o

[2018-04-20 10:43] maxx92 commented on #5418
to hmerk:

"Could you try to override the hardwaretype to KL220".. How can I do that?

[2018-04-20 10:58] maxx92 commented on #5418
@hmerk
I did change the log level to TRACE for digitalstrom binding. But what do I need to do now in order to get a meaningful log printout?

[2018-04-20 11:07] htreu commented on #3484
First, lets rephrase what the config descriptions are made for: Provide a hint for UIs on how to render certain configuration parameters/parameter groups.
That said, here is what I think would work in this regard:
For the basic parameter description we could re-use the existing config description. I propose to embed these into a new schema block `device-config` in the thing-type description.
In ad

[2018-04-20 11:19] cdjackson commented on #3484
For me this sounds generally ok.

I would also like to see https://github.com/eclipse/smarthome/pull/5216 available as well to allow the descriptions to provide binding specific information.

[2018-04-20 11:55] triller-telekom commented on #4767
@sjka @htreu Can you please add a "help wanted" tag to this issue?

[2018-04-20 12:12] triller-telekom opened #5436 "Broken startup-rule leads to NPE"
While trying to reproduce a bug where I had to create broken rules on purpose I stumbled across this NPE:

[code]
Apparently the `ScriptExecutionException` does not have a cause but provides the error message directly via `getMessage()`.

https://github.com/eclipse/smarthome/blob/31ea3e1e315a1cba9176772fa27173528e6ac411/bundles/model/org.eclipse.smarthome.model.rule.runtime/src/org/eclipse/smartho

[2018-04-20 12:31] triller-telekom commented on #4726
As @maggu2810 wrote in https://github.com/eclipse/smarthome/issues/4726#issuecomment-352244038 this issue is about trying to execute rules which depend on items which are not initialized yet.

I am pretty sure this will be covered by #1896. So let's make this issue depend on #1896 and close it one this has been implemented.

[2018-04-20 12:41] triller-telekom commented on #4756
@Moxified I have just tried to reproduce your problem but failed to do so. Could you please try to install the latest OH snapshot to see if your problem still persists?

I have a rules file with >160 lines now and you said your problem starts at 50 lines.

If your problem still persists on the latest OH snapshot, please post a rule file together with the relevant items.

Otherwise please close thi

[2018-04-20 12:45] triller-telekom commented on #5340
There is PR #5409 to address this and all participants agreed on the solution.

@sjka @kaikreuzer Can you please close this issue?

[2018-04-20 12:48] #5340 closed

[2018-04-20 13:08] #5171 closed

[2018-04-20 13:32] #4723 closed

[2018-04-20 13:43] sjka commented on #4457
With openhab/static-code-analysis/pull/254 and #5422 being merged, this should be fixed now.

[2018-04-20 13:43] #4457 closed

[2018-04-20 14:25] triller-telekom commented on #4629
I have created an upstream issue https://github.com/eclipse/lsp4j/issues/187 to track this.

@sjka @kaikreuzer Can you please close this issue in favor to https://github.com/eclipse/lsp4j/issues/187 ?

[2018-04-20 14:36] triller-telekom commented on #4257
@martinvw Since you have started an implementation on your branch, are you planing to create an official PR for it?

[2018-04-20 15:17] martinvw commented on #4257
Let me move it a little bit more to the top of my action list, it would be great to have it wrapped up.

[2018-04-20 21:25] #4330 closed

[2018-04-21 13:08] Moxified commented on #4756
Hello @triller-telekom

I just updated my snapshot testing machine to the latest and retested... yes, the issue still persists.  I took a screen grab of it happening.  I just noticed you are asking for the rules file.  I'll have to look at the file and see how sanitary it is.  I dislike sharing things related to my automation for security reasons.  I have 3 different debian OH servers for testing

[2018-04-21 20:44] ianmaddocks commented on #3632
@hmerk I am looking to get my ESP8266 mains dimmer to emulate a Wemo dimmer switch so I can control it from Alexa and OpenHAB. Is there any explanation of the Wemo dimmer’s discovery and action command/responses so can extended the fauxmo module to emulate a dimmer too?

Ideally I’d emulate the dimmer switch in my mains dimmer’s ESP8266 or I could use a RPi as a bridge.

Thanks in advance.

Dimmer

[2018-04-22 08:26] cweitkamp commented on #3867
@triller-telekom No, I did not see the exception again. I am fine with closing this issue.

[2018-04-22 08:33] cweitkamp opened #5439 "[core] Handle exceptions in constructor of e.g. DecimalType"
From this comment https://github.com/eclipse/smarthome/issues/4104#issuecomment-361009347

The different types are public API and can be used in rules. We should discuss about introducing an exception handling if a user passes a value with wrong format to one of them.

[2018-04-22 08:34] cweitkamp commented on #4104
FTR #5439

[2018-04-22 08:34] #4104 closed

[2018-04-22 10:41] hmerk commented on #3632
@ianmaddocks
There is no official documentation published by Belkin. All I have achieved is done by trial and error and packet sniffing. I even don‘t think that it is a good idea to emulate a WeMo Dimmer, cause it has some very specific functions like NightMode or SleepTimer with fade to Zero.
So the best way would be to implement a MQTT protocol with your basic dimming functions.

[2018-04-22 13:31] cdjackson opened #5440 "Configuration is internationalised in the provider, and not the registry"
Currently configuration descriptions are internationalised in the provider, and not the ```ConfigDescriptionRegistry```. This requires that all providers perform their own internationalisation. So, if a binding registers a config provider, this data does not currently get internationalised unless the binding also performs the i18n conversion (adding more dependencies that probably aren't necessary

[2018-04-22 18:26] MichaelOchel commented on #5418
Hello Marc,

I only meant the thing-configurations (your screenshots), because you cannot configure anything through the binding, we delete the most of them. For GR-* dS-devices you currently only configure the dSID.

You can see the Binding-Version in the 4th column of the console command "bundle:list". The latest ESH build version is "0.10.0.b1", but I see that this build does not include the la

[2018-04-22 18:50] doandzhi commented on #5430
For instance, I have e "power" channel-type which is mapped to a Switch item-type. I have 20 devices that would make use of this channel-type deffinition. I would like to define a configuration parameter (for example "mqttTopic") in the channel-type and build discovery results based on a given configuration. The current way of doing this is definine the config-description in each thing-type. But f

[2018-04-22 19:00] ianmaddocks commented on #3632
Thanks HMerk for the quick reply.

[2018-04-22 21:35] maxx92 commented on #5418
Hello Michael

Just to have clear definitions. I refer to "rollershutter" when I talk about my Jalousien and I use "blind" when I mean "Sichtschutz/Vertikalstoren". It is even in German confusing ;-)

I control all rollershutters/Jalousien with GR-HKL230, and I control the blinds/Vertikalstoren with GR-KL220. In dSS I have angle control in all shade devices but they are useless for the blinds.

I

[2018-04-22 21:47] maxx92 commented on #5418
I just noticed that we have a misunderstanding, possibly. I absolutely need to control the angles of my jalousien, that's the whole point of having them ;-)
Whereas the vertical curtains or blinds (Terrassenmarkise might be the precise term!) just go up and down. There I also have angle control which does not do anything...

[2018-04-23 07:50] kssimova commented on #5285
Fixed by #5406

[2018-04-23 07:50] #5285 closed

[2018-04-23 08:28] kaikreuzer commented on #5439
I don't think that this would be an adequate solution - from a Java API perspective, an exception is the right way to respond.

This is in the context of DSL rules then. Did you try whether [try-catch blocks](https://www.eclipse.org/xtend/documentation/203_xtend_expressions.html#xtend-expressions-try-catch) work for rules? If so, would that already solve the issue?

[2018-04-23 08:29] #3867 closed

[2018-04-23 08:36] kaikreuzer opened #5441 "There should be a warning, if multiple SitemapProviders provide sitemaps with identical IDs"
See https://github.com/openhab/openhab-core/issues/336.

[2018-04-23 08:43] svilenvul commented on #5171
Thanks !

[2018-04-23 08:53] triller-telekom commented on #4257
Great, thank you!

[2018-04-23 09:49] sjka commented on #5328
@svilenvul  We'll need an exception for this bundle (`org.eclipse.smarthome.io.javasound`)

[2018-04-23 09:49] #5328 closed

[2018-04-23 10:45] kaikreuzer commented on #600
We have meanwhile our own `OSGiEventManager`, which extensively takes care of dispatching events to different threads - so this issue can be closed.

[2018-04-23 10:45] #600 closed

[2018-04-23 10:49] kaikreuzer commented on #4781
I'm ok with that wish and I guess all further discussion can be done on https://github.com/eclipse/smarthome/issues/5140 (thanks for that).
This issue can therefore be closed.

[2018-04-23 10:49] #4781 closed

[2018-04-23 11:25] kaikreuzer commented on #4782
The specific version has meanwhile been removed and with https://github.com/eclipse/smarthome/issues/4781#issuecomment-383533992, we will in future decide, which version constraints to add in bulk to which packages throughout ESH bundles.

[2018-04-23 11:25] #4782 closed

[2018-04-23 11:25] sjka commented on #601
I guess with #4818 being merged this one it resolved.

[2018-04-23 11:25] #601 closed

[2018-04-23 13:04] kaikreuzer commented on #3522
Coming back to this, I think it is tough to completely replace commons-lang 2 by 3, considering the amount of code that is already out there - and requiring solutions to carry both versions isn't ideal either.

In the light of https://github.com/eclipse/smarthome/pull/5356, I would rather suggest that we try to avoid the use of such libraries if possible - if the main use case are string operation

[2018-04-23 13:04] #3522 closed

[2018-04-23 13:32] sjka commented on #5337
Sure, that makes sense. I also don't have perfect answers for all those detail questions yet. Just some initial thoughts, but overall I share your opinion that it might be easiest to have a look at them individually while working on a PR on code:

* "Default" element: I personally tend to drop it and only keep in in the old sitemap DSL for compatibility reasons. During import it can be mapped to t

[2018-04-23 13:40] spikeygg opened #5445 "The Dimensionless dimension selection results in values with " one" string appended to them"
I have found that when using the "Dimensionless" option on items that result in a Number, the resulting value is the numeric value followed by the string " one". This post was suggested as the result from the following forum post on the openhab forum: https://community.openhab.org/t/new-homeseer-wd200-switches-coming/39244/46. I have found that I can use the "Area" dimension as a replacement which

[2018-04-23 13:57] #5441 closed

[2018-04-23 14:55] #4629 closed

[2018-04-23 15:42] splatch commented on #579
Last week I spoke with @antoniosv and we made some progress. Antonio was evaluating possibility to implement basic security checks with http context. We agreed ge will continue with his work and see if it will be possible to implement JWT checks there. It seems to be easiest solution which will be portable between multiple osgi specification versions.

Inspired by his findings I started looking on

[2018-04-23 16:01] kaikreuzer commented on #1081
As we have an TTSService interface, I'd like to close this issue.
@ghys Regarding the requirement for external TTS services: Is this something you'd still want to pursue (just asking as your comment is 1.5 years old already, sorry for never having answered it...)?
If so, I'd suggest to open a dedicated issue for it with a better matching title and we can pick that up again.

[2018-04-23 16:01] #1081 closed

[2018-04-23 16:25] kaikreuzer commented on #5291
@davidgraeff Has this been fixed meanwhile or is it still open? (I cannot fully interpret your commit comment on #5292...)

[2018-04-23 16:29] kaikreuzer commented on #4872
I agree with @maggu2810 and @cweitkamp. Adding a channel for the UDN doesn't really make any sense, so I'll close this issue.

[2018-04-23 16:29] #4872 closed

[2018-04-23 16:39] davidgraeff commented on #5291
I just mentioned this bug. If nobody worked on the magic binding, it may still exist. I have no Eclipse at hand right now to verify.

[2018-04-23 17:08] lolodomo commented on #4764
As only 65 warnings are now detected for the binding, I close my iossue. Most of them are "AuthorContributionDescriptionCheck".
This binding still represents 11.2% of all warnings detected in ESH.

[2018-04-23 17:08] #4764 closed

[2018-04-23 17:26] lolodomo commented on #4859
As there was no feedback, I assume using absolute path is expected.

[2018-04-23 17:26] #4859 closed

[2018-04-23 17:38] kaikreuzer commented on #638
This has been put in place long time ago -> closing issue.

[2018-04-23 17:38] #638 closed

[2018-04-23 17:47] kaikreuzer commented on #4880
I agree with @triller-telekom that Items must not be edited from within rules - I have created https://github.com/eclipse/smarthome/pull/5449 to clarify this for `ActiveItem`, while it is more complicated for `GroupItem` as there is no separate interface that only has getter methods.

For use within rules, we should imho rather make (a subset of) the ItemRegistry available, through which item mana

[2018-04-23 17:47] #4880 closed

[2018-04-23 17:48] kaikreuzer commented on #4845
Any news here?

[2018-04-23 17:56] #5286 closed

[2018-04-23 17:57] #5256 closed

[2018-04-23 19:25] kgoderis commented on #4088
@davidgraeff Hi David, did you make any progress on this topic/issue? e.g. a first draft/WIP of an implementation?

[2018-04-23 19:31] davidgraeff commented on #4088
Yes, #4105. The PR is done and "works", but I need a way to securely store passwords on disk. That need to be merged first before the PR can be reviewed and finalized.

[2018-04-23 19:38] resetnow commented on #4845
The main issue here is me forgetting about this — sorry. Unfortunately, I'm quite busy for a few more weeks.

[2018-04-23 20:31] cweitkamp commented on #4521
FTR #5442 solves this issue.

[2018-04-23 21:01] flaviocosta-net commented on #5337
Sounds good, I will start putting some work on the client side and once I have something that would allow some initial testing then I will see how I can help on the server-side, thanks!

[2018-04-23 21:07] kaikreuzer commented on #5223
I see that this can be useful. As mentioned in https://github.com/eclipse/smarthome/issues/4985#issuecomment-371782618, we will have to define some general "Scripting API" and getting hold of an item by name should definitely be supported by it. Not sure whether it makes sense to already introduce this for the old/current rule engine as it might be difficult to provide a migration path later on.

[2018-04-23 21:11] kaikreuzer commented on #4202
Nothing has happened on that issue so far, I just pinged the admins again...

[2018-04-23 22:04] marziman commented on #579
@antoniosv & @splatch,

lets make a meeting and discuss the new findings and synchronize.
We can also share our ideas around this topics, revisit the points from the protocol after our meeting.

Would be great and maybe a good time to check, where we stand and how to proceed to get the „must haves“.

BR Mehmet

[2018-04-23 22:52] #5404 closed

[2018-04-23 22:54] #5428 closed

[2018-04-24 08:36] sjka commented on #5224
fixed by #5306

[2018-04-24 08:36] #5224 closed

[2018-04-24 08:50] sjka commented on #5424
From https://travis-ci.org/eclipse/smarthome/builds/370334101?utm_source=email&utm_medium=notification:

[code]

[2018-04-24 09:07] sjka opened #5451 "[test failures] HueLightHandlerOSGiTest"
From https://ci.eclipse.org/smarthome/job/SmartHomeDistribution-Nightly/2663:

[code]

[consoleText.txt](https://github.com/eclipse/smarthome/files/1941834/consoleText.txt)

[2018-04-24 09:08] sjka opened #5452 "[test failures] DiscoveryServiceRegistryOSGiTest"
From https://ci.eclipse.org/smarthome/job/SmartHomeDistribution-Nightly/2666:

[code]

[consoleText.txt](https://github.com/eclipse/smarthome/files/1941984/consoleText.txt)

[2018-04-24 09:50] maggu2810 commented on #5445
Sounds like a bug to me.

[2018-04-24 12:45] htreu commented on #5445
The default "unit" for the dimension "Dimensionless" is actually the abstract unit "ONE". This unit renders with the "one" prefix. I did notice that in Paper UI its not possible to unset the dimension for a Number item. Bit my guess is that this is the bug, not the rendering.
A NumberItem which is bound to a channel only providing DecimalType should not define a dimension.

[2018-04-24 13:14] htreu commented on #594
This should be addressed by #4738.

[2018-04-24 13:14] #594 closed

[2018-04-24 13:30] maggu2810 commented on #4859
Sorry, that you never received any comments.
I am not using the sitemap REST API myself, so I don't have a string meaning here.

WRT reverse proxies I would assume that URLs have to be relative to be resolved.

[2018-04-24 14:10] htreu commented on #1284
@kaikreuzer do we have an open issue on the REST API then? From what I know the original issue described here is resolved by now. Could you please close here and create a new issue for you latest comments if required?

[2018-04-24 14:12] htreu commented on #1339
@kaikreuzer, since this is not harmful can we close this?

[2018-04-24 14:19] kaikreuzer commented on #1339
No, as it is pretty annoying. Happy to close it once its fix is confirmed when #1896 is done!

[2018-04-24 14:19] htreu commented on #5413
A suggested by [this StackOverflow answer](https://stackoverflow.com/a/49949448/2205232) its a bug in ECJ, [filed here](https://bugs.eclipse.org/bugs/show_bug.cgi?id=533890).

Our workaround is still not using static imports from SmartHomeUnits.

[2018-04-24 14:19] #5413 closed

[2018-04-24 14:37] htreu commented on #3502
@kaikreuzer are we going to change the situation as described here? Please close otherwise.

[2018-04-24 17:42] glyndon commented on #2706
Seeing this exact behaviour today. BasicUI stops reflecting updates if config changed, until OpenHAB restarted. Then all is fine.

openHAB Distribution Version Information
----------------------------------------
build-no        : Release Build
online-repo     : https://dl.bintray.com/openhab/mvn/online-repo/2.2

Repository        Version
----------------------------------------
openhab-distro  :

[2018-04-24 18:36] ghys commented on #1093
Surely there's a need to formalize tags on items, thanks to @kaikreuzer for pointing me to this discussion. I'll adapt to whatever comes out of it, but allow me to share some hindsight after several months working on this, and please bear with me if I fall off-topic.

This HABot project had a (equally if not more complex) problem: [named-entity recognition](https://en.wikipedia.org/wiki/Named-enti

[2018-04-24 21:00] kgoderis opened #5460 "[Sonos] Re-open {Fixes on UPnP infrastucture #4569} {UPnP action invocation results in an empty result, which sets the Thing to OFFLINE #4531}"
Just bumped my operational system to  2.3.0-SNAPSHOT Build 1263  and I ran into exactly the problems described in the issues mentioned here above.

[2018-04-24 21:46] kgoderis commented on #5460
When trying to replicate the problem in the ESH IDE, it was present at first, but after some time all sonos devices got "resolved" as being online. The JUNP version in the IDE is 2.3.0.201711021118, whereas the latest snapshot on Karaf reports 2.3.0

@kaikreuzer you initially rooted the problem to the Jetty client. Just doing the same, I found that the IDE runs Jetty 9.3.22, whereas the SNAPSHOT c

[2018-04-24 21:47] gmeks commented on #5218
If its usefull this happens to be constantly, i dont know a sure way to reproduce it :(

[2018-04-25 04:50] htreu commented on #5445
Hi @spikeygg what do you mean by

Are you using the item ZM_Server_CPULoad in a rule? Using "Dimensionless" for this item seems to be correct and I just realised that we may have a bug which prevents you from numerical comparison in a rule or script against simple numbers.

Please give some more context what is not working for you. Thanks.

[2018-04-25 11:56] maggu2810 commented on #5460
The used Jetty bundles are part of the product setup -- in your case openHAB.
Karaf 4.2.0 is already out that uses Jetty 9.4.x (works for me in general).
openHAB still uses Karaf 4.1.x (AFAIK) -- to bump the Jetty version only or the whole Karaf the openHAB distro repo would be the correct place.

[2018-04-25 12:39] spikeygg commented on #5445
Hello htreu, not with ZM_Server_CPULoad but with a switch in my house. I just purchased a [HomeSeer HS-WD200+](https://www.amazon.com/gp/product/B079F38TPF). It has some optional triggers such as two-clicks up, four-clicks down, etc. The switch reports the following for each case ([from mcqwerty's post](https://community.openhab.org/t/new-homeseer-wd200-switches-coming/39244/34?u=spikeygg)):

- Wh

[2018-04-25 12:57] htreu commented on #5445
Thanks greg, thats a sufficient explanation. The discussion in #5453 has some additional technical details, but I think we actually will drop the "one" prefix and in addition allow for numerical comparison of scalar values against the ONE unit or all Dimensionless units.
Also the de-selection of the dimension in Paper UI should be possible, in your case a dimension is not required on the Number it

[2018-04-25 14:48] htreu opened #5467 "Paper UI: allow de-selection of dimension on items"
As seen in #5445 its not possible to de-select the dimension property on an item in Paper UI.

[2018-04-25 16:07] MichaelOchel commented on #5418
Hello @maxx92,

I thought so, that the output mode is not changeable. So I think that that have to be add/implement in the binding. But there are 2 ways. 1 simple, but not really nice and one nicer, but a bit more complicate.

When I find the time, I take a look to fix it.

Best regards
Michael

[2018-04-25 16:52] kgoderis commented on #5460
@maggu2810 Tx - posted it here as the original Issues originated here, and because it is related to the Sonos binding. @kaikreuzer I am not an expert on Karaf, i.e. not my decision on Karaf 4.2.0, but to me the issue is severe enough to either bump in the short term, or find a short term workaround for openHAB. wdyt?

[2018-04-25 16:56] kgoderis commented on #5460
@kaikreuzer FYI I get a bunch of these:

[code]

Something fishy is going on indeed

[2018-04-25 20:34] kaikreuzer commented on #1093
@afuechsel Worth to note that @ghys' valuable input wasn't yet considered in what you have posted to the wiki - this should definitely be taken into account as well (many thanks @ghys, I only had a glance at it so far, but it seems to be closely in line with the proposal - I'll go through it in depth soon and provide feedback).

[2018-04-26 06:11] htreu opened #5468 "Allow comparison of scalar numbers and QuantityTypes with abstract unit ONE"
As seen in #5445 it is not possible to compare DecimalType or scalar numbers with QuantityTypes which do not have a dimension.
At least for the abstract unit `SmartHomeUnits.ONE` this should be possible because its the "dimensionised" representation of a scalar.

[2018-04-26 06:54] htreu commented on #5468
In addition I think that `plus` & `minus` operations should also be possible.

[2018-04-26 09:43] kaikreuzer commented on #3502
I'd tend to say that our goal should be to have the official releases published to Maven Central - independently of how frequent they happen.

[2018-04-26 09:43] ElliotSmith91 commented on #4939
I've been having similar issues with a different bulb and the hue binding seems to be returning a colour temperature value to the bulb even if it is not in colour temperature 'mode'. I believe this is happening in the `getCurrentColorTemp` function in the HueLightHandler. I'm not sure whether I am understanding the code correctly as I have never really done any Java programming and have no way of

[2018-04-26 12:26] hsudbrock opened #5483 "Selectively auto-approve inbox entries"
**Context**
Currently, the `o.e.sh.config.discovery.internal.AutomaticInboxProcessor` can be configured to automatically approve *all* added inbox entries (using the configuration flag `autoApprove`).

**Issue**
I would like to be able to automatically approve only selected inbox entries (in particular, only auto-approving inbox entries for selected thing types).

**Possible solutions**
I see two

[2018-04-26 12:34] triller-telekom commented on #656
From the origin issue:

Since we do not have the designer anymore, this issue can be closed.

[2018-04-26 12:58] triller-telekom commented on #652
I just had a look at this old issue again, but I don't understand it. In the `HueLightHandler` I see this for color:

https://github.com/eclipse/smarthome/blob/35104b43028cd8a68f1359ee0fa2f6ca7c5eb355/extensions/binding/org.eclipse.smarthome.binding.hue/src/main/java/org/eclipse/smarthome/binding/hue/handler/HueLightHandler.java#L303

and this for brightness:

https://github.com/eclipse/smarthome/

[2018-04-26 13:08] triller-telekom commented on #642
I agree with @lolodomo that this issue is fixed. The code to add a value to the chart:

https://github.com/eclipse/smarthome/blob/35104b43028cd8a68f1359ee0fa2f6ca7c5eb355/bundles/ui/org.eclipse.smarthome.ui/src/main/java/org/eclipse/smarthome/ui/internal/chart/defaultchartprovider/DefaultChartProvider.java#L358

converts the data if it is an `OnOffType` here:

https://github.com/eclipse/smarthome/

[2018-04-26 13:09] #642 closed

[2018-04-26 13:33] triller-telekom commented on #632
As you have already stated in https://github.com/openhab/openhab1-addons/issues/1147#issuecomment-46358617 this is indeed fixed.

In classicui and basicui I can see a chart if the chart is within the frame:

[code]

and also if the chart is within a text and then a frame.

[code]

@kaikreuzer Can you please close this issue?

[2018-04-26 13:40] kaikreuzer commented on #5483
I'm ok with option 2 as long as the docs of this interface clearly state that it is only meant to be implemented by solutions, but not by add-ons.

My suggestion would be that this interface extends `Predicate<DiscoveryResult>` - that makes it easy to be used within closures.

The alternative would be to veto auto-approval. In that case `autoApprove=false` would be the same as before and `autoAppr

[2018-04-26 13:52] hsudbrock commented on #5483
OK

That's a good hint, thanks!

I thought so as well at first; the problem I see with vetoing auto-approval is that the "vetoing components" might be injected into the `AutomaticInboxProcessor` too late. On activation, the `AutomaticInboxProcessor` will auto-approve all inbox entries if `autoApprove=true`, and at that time, the "vetoing components" might not yet have been injected. (This problem

[2018-04-26 14:25] kaikreuzer commented on #5483
Ok, convinced ;-) A (temporary not present) blacklist is indeed pretty risky, so going for a whitelist is the better option.

[2018-04-26 14:28] triller-telekom commented on #1901
@lolodomo a friendly ping :) Did you have a look at these "wrong information" on start-up? Is it a serious problem or can we close this issue?

[2018-04-26 14:40] triller-telekom commented on #1763
To dig this issue out again because I am now reading it probably the 10th time:

I would vote for @afuechsel's proposal. If a user **intentionally** removes a bridge, i.e. he clicks on "remove" in the things view of paperui, ALL of its children are removed too.

Of course this has to be supported by the UI in a sense that it is transparent for the user what happens. For now the things view is a fl

[2018-04-26 15:09] J-N-K commented on #1763
I think it is a bad idea. Some weeks ago I had a hardware failure and my sACN Bridge was replaced by an ArtNet device. I deleted my old bridge, created a new one and assigned all things to that new bridge.

Of course I could have changed the bridge in all things before deleting the old bridge. But IMO this is very error prone. If it is like it is now, a thing I forgot to switch to the new bridge i

[2018-04-26 18:00] lolodomo commented on #1901
Please keep this issue opened. The bug is not major but not easy to fix and not high in my TODO list.

[2018-04-26 18:28] J-N-K commented on #1763
I agree that - at least from all bindings I use - the DMX binding is special here. If changing the thing-types for bridges is easy, that might be a solution.

Another binding that will probably support different bridge types is the OneWire binding I'm currently developing. In the first version I'll only support OWFS/owserver as bridge, but I'm thinking of direct support for USB-busmaster devices a

[2018-04-26 19:02] dominicdesu commented on #652
@triller-telekom
The linked methods are only called for IncreaseDecreaseType, not for OnOffType or PercentType.

[2018-04-27 05:41] AngelosF opened #5490 "ManagedMetadataProvider Warnings"
System info:
openHAB 2.3.0 Snapshot [#1264](https://openhab.ci.cloudbees.com/job/openHAB-Distribution/1264/)
Debian Jessie (Linux 3.16.0-5-amd64 #1 SMP Debian 3.16.51-3+deb8u1 (2018-01-08) x86_64 GNU/Linux)
Java HotSpot(TM) 64-Bit Server VM (build 25.171-b11, mixed mode)
binding = knx1,mqtt1,zwave,weather1,samsungtv,astro,ntp,wol1
persistence = mapdb, influxdb

Issue:
Following the upgrade of OH2.

[2018-04-27 05:41] PiscisSwimeatus opened #5491 "[WARN ] [ysfs.internal.PollingUsbSerialScanner] - A NoSuchFileException prevented a scan for USB serial devices: \sys\class\tty"
Platform information:
OS: Windows 10 Enterprise (64bit)
Java Runtime Environment: Java Runtime Environment Version 8.0 Update 161 (32bit)
openHAB version: 2.3.0 SNAPSHOT 2018-04-23

Start from a clean copy
Add zwave binding
The following warning logs every 5 seconds
Except the warning everything seams to be working ok

[openhab.log](https://github.com/eclipse/smarthome/files/1953948/openhab.log)
[

[2018-04-27 05:43] kaikreuzer commented on #5491
@hsudbrock Could you have a look at how that can be prevented?
Imho, the bundle should ideally not become active at all on Windows, right?

[2018-04-27 08:28] triller-telekom commented on #1763
As I said we currently allow migration of thing types already, so we should also allow that for bridges in my opinion.

How do you "accidentally" delete a thing? There is at least a confirmation dialog. This dialog should of course be extended to make clear that all child things will be removed.

I think the deleting of channels if you delete a thing is related to https://github.com/eclipse/smarth

[2018-04-27 15:51] #5490 closed

[2018-04-28 06:29] sjka commented on #5424
From https://ci.eclipse.org/smarthome/job/SmartHomeDistribution-Nightly/2676:

[code]

[2018-04-28 08:16] maggu2810 commented on #1763
If we have a filter expression on get and remove things (see https://github.com/eclipse/smarthome/issues/4302) the UI could provide a "delete all things of bridge" trigger.
It could simply ask "you remove the bridge, should all assigned things be removed, too" and send send that additional REST call.
IMHO this is something the user should trigger and not automatically be done by some logic itself.

[2018-04-28 08:27] lolodomo opened #5498 "Missing sitemap SSE event for valuecolor/labelcolor conditions"
A sitemap SSE event is missing (ignored) when the item involved in a valuecolor or labelcolor condition is updated. Only the item involved in the visibility condition is considered.

[2018-04-28 09:04] lolodomo opened #5500 "Consider result of visibility/color condition rule as trigger for UI update"
We currently trigger an UI update when the state of the item involved in a sitemap visibility or color condition rule has its state updated. This state change could finally lead to no change of visibility or color.
An improvment would be to trigger the update not when the involved item state is updated but when the result of the condition is changed.
The difficulty could be to get the old result o

[2018-04-28 09:27] lolodomo commented on #5500
I think this would be doable but would require to enhance the item UI registry interface with new methods. I am not sure that is what we want,

[2018-04-28 09:36] lolodomo commented on #5500
So I wait for an advice and will do nothing until a GO is given.

@htreu

[2018-04-28 14:44] jsetton opened #5502 "Metadata with key already exists from provider GenericMetadataProvider Error"
While testing the newly added metadata infrastructure (#4390) in openHAB 2.3.0-SNAPSHOT Build #&#xfeff;1263, there seems to be a bug with refreshing/deleting metadata on already configured item. Each time I tried to update the metadata, it is failing with the below error and if I delete it, I can still see it present on that item when querying though the rest api. The only way to flush that inform

[2018-04-28 17:27] J-N-K commented on #1763
I agree with @maggu2810. An extra confirmation for thing deletion would be ok for me.

[2018-04-28 18:48] kaikreuzer commented on #5502
Isn't this warning fully correct? If you define certain metadata textually, this is expected to be present - therefore you cannot change it.
If you want to maintain metadata through the REST API, you should not define it in the text files.

[2018-04-28 19:04] jsetton commented on #5502
@kaikreuzer Thanks for getting back to me. I am not sure to follow what you are saying. I just trying to make changes to the metadata of a specific item the same way I would to change any other item settings. Each time I refresh an item file, I get these warnings for any items that have metadata configured even though I haven't change that data.

It looks to me that the refresh logic isn't able to

[2018-04-29 00:33] lolodomo opened #5504 "Missing Beaufort unit"
Beaufort is missing as unit for the wind speed.

[2018-04-29 08:10] kaikreuzer commented on #5502
Ok, so you are saying you see this warning even though you are not using the REST API at all?
They occur simply by changing/reloading the items file? If that's the case, I misunderstood you above and would say that this is indeed a bug.

[2018-04-29 08:10] kaikreuzer commented on #5502
@sjka Could you have a look?

[2018-04-29 11:03] wborn commented on #5504
We discussed adding it in https://github.com/openhab/openhab2-addons/pull/3497. It's not really a unit but a scale.

[2018-04-29 11:38] lolodomo commented on #5504
We might be not able to handle an entry speed in Beaufort and then convert it in km/h but we should certainly be able to display a wind speed in Beaufort when the entry value is in km/h.

Is it impossible to have a one direction conversion ?

I think the user should be able to use "Bft" as unit in iutem/sitemap. I remember this was asked by a user for the netatmo binding in the forum.
Note that th

[2018-04-29 12:04] wborn commented on #5504
It's a scale with a lot of history and some peculiarities.

See also "Conversion Of Anemometer Winds To Beaufort Numbers" on page 24 of this [PDF](http://citeseerx.ist.psu.edu/viewdoc/download?doi=10.1.1.543.440&rep=rep1&type=pdf).

Peculiarity:

sometimes differs from the wind force when the equivalent value expressed in knots or
miles per hour was used.

[2018-04-29 12:50] hsudbrock commented on #5491
Thanks for pointing out this issue @PiscisSwimeatus.

@kaikreuzer I agree that the bundle should not become active at all on Windows. I think that, ideally, the bundle should not even be installed on a Windows system. I had hoped that this might be achievable using a requirement in a Karaf feature on the property `osgi.os`. However, I stumbled upon https://github.com/eclipse/smarthome/issues/1416,

[2018-04-29 13:13] jsetton commented on #5502
You are correct on both counts. I just mentioned the REST API as a way to show that metadata deletes don't seem to be processed either after updating an items file since that warning isn't generated in that case.

[2018-04-29 14:19] cweitkamp opened #5506 "[UoM] Feature request: Apply TimeFormat for labels of Number:Time items"
Assuming we have an item of type "Number:Time" with seconds as source unit. We can display the value of the source unit with the pattern "[%d %unit%]". A conversion to minutes is possible with the pattern "[%.1f min]". A value of 80s will be displayed as "80 s" with the first pattern whereas it will be displayed as "1.3 min" with the second pattern.

It would be a great feature if it is possible t

[2018-04-29 17:46] lolodomo commented on #5243
As discussed in another PR (netatmo binding), it looks like the min/max/step attributes of a channel type are not correctly handled when the channel type uses UoM. It should be possible to set the unit with the value of these attributes, something like `min="4.5°C"`.

[2018-04-29 18:36] kaikreuzer commented on #5491
I agree that option 2 is not ideal, because it would be the user who'd have to explicitly install that feature.

Ftr, I see the same warning on Mac as well:
[code]

It would probably make sense to check for the availability of that file even before scheduling a regular scan - I could imagine that there are even Linux variants that do not have it.
By doing this check and reducing the warning to a d

[2018-04-29 19:15] hsudbrock commented on #5491
I agree, @kaikreuzer. The plan for my PR is then to check availability of the directories required for scanning, so that periodic scanning will never take place if they are not available, plus adapting the log message level. Thanks for your feedback!

[2018-04-30 06:11] htreu commented on #5445
Reopen, because https://github.com/eclipse/smarthome/pull/5453 does not fix the issue when comparing scalar and unit ONE values.

[2018-04-30 08:46] kaikreuzer commented on #5504
I agree with @wborn that this won't work as a unit - I'd recommend that users use the [scale transformation](https://github.com/eclipse/smarthome/blob/master/extensions/transform/org.eclipse.smarthome.transform.scale/README.md) instead.

[2018-04-30 08:46] #5504 closed

[2018-04-30 09:59] htreu opened #5509 "QuantityType: Add unit systems defined by units of measurement project"
The [Units of Measurement project](https://github.com/unitsofmeasurement) defines a lot more measurement systems and units then we currently use. In the light of all the PRs contributing missing units to ESH we could also introduce new dependencies to the libraries defined by the uom project. The maven artefacts [can be found here](https://mvnrepository.com/artifact/systems.uom).

#5423
#5503
#533

[2018-04-30 10:02] sjka commented on #5502
Looks like indeed the `GenericItemProvider` kept the old metadata on update. I have created #5510 to add the required amnesia.

[2018-04-30 10:03] #5467 closed

[2018-04-30 10:35] #5502 closed

[2018-04-30 12:10] sjka commented on #4757
I haven't figured out yet if there are any drawbacks, but just for the record, there is the following configuration parameter for the generator (`*.mwe2`-files):

[code]

This AFAIK is what it needs in order to change the file structure.

[2018-04-30 12:35] kaikreuzer commented on #5439
I just tried this:
[code]
And it works as expected - I would claim that this solves the issue.

[2018-04-30 12:35] #5439 closed

[2018-04-30 12:36] kaikreuzer commented on #5445
Now fully fixed by #5468.

[2018-04-30 12:36] #5445 closed

[2018-04-30 12:48] lolodomo commented on #5460
No, I have not seen this issue again. I restarted my OH server this morniong and my Sonos things are online. I am running snapshot 1262.

[2018-04-30 12:58] sjka commented on #5077
There is also another option: #4741

[2018-04-30 13:19] cweitkamp opened #5512 "Circular reference detected trying to get service {org.eclipse.smarthome.automation.handler.ModuleHandlerFactory}"
After a fresh reinstall I can't get it running completely.
[code]

Followed by a warning:
[code]

[2018-04-30 13:22] #5512 closed, assigned to nobody

[2018-04-30 13:31] kaikreuzer commented on #1093
@ghys Some feedback from my end:

I think this would pretty much work with what we suggest here - the "object" and "property" tags could probably simply be checked for the "what" part, while the "capability" tags could be used for a more fine-grained NER in future (often, you might want to refer to a specific function of your "object" and that's where those tags imho can be helpful).

I agree. My

[2018-04-30 13:48] #5163 closed

[2018-04-30 14:09] sjka commented on #4547
If I understand you correctly, then you are facing the problem that the configuration is not persistent across restarts of your system. ESH uses the OSGi config admin in order to store configuration changes. To what I can see, this works perfectly. If this would not be the case, then please re-open this issue.

Now, the question is what happens to the values in the config admin service after a reb

[2018-04-30 14:09] #4547 closed

[2018-04-30 14:16] sjka commented on #4495
When I read https://github.com/eclipse/smarthome/issues/4493#issuecomment-341885573 correctly, then this would not imply simply exchanging one chart library for another, but actually also changing the Basic UI architecture from server-side rendering to client-side rendering. With #4493 being fixed by #4496 I don't see any need to implement such a major change. Therefore I'm closing this for now.

[2018-04-30 14:16] #4495 closed

[2018-04-30 14:58] ptweety opened #5514 "Broken link in ...mqttembeddedbroker/README.md"
Hi,

I found a broken link in the upcoming MQTT embedded brokers README.md:

It should be:
`...(based on [Moquette](https://github.com/andsel/moquette))...`

[2018-04-30 17:42] J-N-K commented on #5460
@kaikreuzer, maybe I am wrong, bit I use OH snapshot 1256, which should already contain jetty 9.3.21, yet I see 9.3.15 in `bundle:list` (karaf shows 4.1.5). Maybe there is something wrong with the upgrade mechanism.

And even though I can't find the timeout error in my logs, I see my Play:1 thing going offline shortly after adding it:

[code]

The thing never turns online again until I use the Son

[2018-04-30 21:07] kaikreuzer commented on #5460
@J-N-K You are right, there seems to be some weird mix of Jetty versions:
[code]
I hope that this can be resolved on openHAB side - I have created https://github.com/openhab/openhab-distro/issues/692 for it - I therefore suggest to close this issue here.

[2018-04-30 21:07] #5460 closed

[2018-05-01 05:39] kgoderis opened #5517 "ChartServlet : wrong chart generated"
I am not sure this relates to ChartServlet, or to RRD4j feeding it, but I get these in my logs:

[code]

And the resulting chart is a bit of. As you can see, the header displays the actual value (21.6), but that value is not used in the chart. Also, chart generation was gone last night (as you can see), whereas the Item still got updated on the ESH Bus as it should be

![untitled](https://user-ima

[2018-05-01 11:34] cdjackson opened #5518 "Addition of discover information to ThingType XML"
In order to allow all data relating to a thing to be stored in one place, and handled consistently by the system, a "discovery information" section should be added to the thing-type XML file.

The discovery data should be defined in a binding independent way - I could suggest a similar construct as used in properties.

[code]

This information should be made available to bindings through a separat

[2018-05-01 13:42] ghys commented on #1093
yes, I see now how they can be useful even outside the NER, for instance acting on different items depending on the intent: the thermostat scenario is a good example. If you consider these:

- _what's the temperature in the living room?_
- _increase the temperature of the living room to 21°C_

while in both cases the recognized entities are `object:temperature` and `location:living room`, in the f

[2018-05-01 22:00] mhilbush opened #5519 "[astro] Time drift on positional job"
The sun elevation is supposed to be calculated at a regular frequency (default is every 300s). However, due to the use of `scheduleWithFixedDelay` for the positional job, which schedules the job starting from the termination of the previous job to the commencement of the next job, there is a small time drift introduced. This time drift can be anywhere from a few milliseconds to 35-40 milliseconds

[2018-05-02 02:41] flaviocosta-net commented on #5337
To give an update on this, I finally have some working code! As expected, it was a very helpful exercise to refine some ideas and get closer to actual implementation.

Here is the rendering model being used as an input:

[code]

It produces the following UI:

![demo](https://user-images.githubusercontent.com/35621323/39502666-6999d5a6-4d8f-11e8-9f43-686e130b7bed.jpg)

When you click on the Multime

[2018-05-02 04:30] htreu commented on #5077
Is JSON-P a suitable dependency for org.eclipse.lsp4j.jsonrpc?

[2018-05-02 04:35] #5062 closed

[2018-05-02 08:48] sjka commented on #5519
Very good analysis! Indeed it would make sense using `scheduleAtFixedRate(...)` in this case.

Would you volunteer to do that change? When doing so it would probably make sense to leave a commend in the code which documents why that is, and also add a suppression to  the static code analysis for this class in [checkstyle](https://github.com/eclipse/smarthome/blob/master/tools/static-code-analysis/

[2018-05-02 08:53] sjka commented on #5077
No, not for LSP4J in particular.

[2018-05-02 09:03] triller-telekom commented on #4503
I was just pointed to this discussion because I did quite a lot of reviews for bindings in openhab2-addons.

As a user that values privacy I am a bit concerned about more and more bindings using a cloud API to access the local hardware. Thus I would suggest a metadata information for bindings which express that they connect to the hardware locally or need some kind of internet connection to work.

[2018-05-02 09:04] sjka commented on #5337
Cool, thanks for the update! This indeed looks like a really helpful exercise to validate the requirements towards the rendering model.

I'm looking forward to seeing the next steps! I'd reckon that will be the definition model and application of the prototypes/templates on the server-side, right?

[2018-05-02 09:14] ThomDietrich commented on #4503
Hey @triller-telekom sounds good to me. Privacy is (still) one of the corner stones of openHAB and a clear classification like that would be interesting. Could you please propose a line as in the OP and I'll add it above.

[2018-05-02 09:43] sjka commented on #5451
Another one (with the same stacktrace):
https://ci.eclipse.org/smarthome/job/SmartHomeDistribution-Nightly/2690

[2018-05-02 10:02] #4356 closed

[2018-05-02 10:02] #4775 closed

[2018-05-02 11:59] triller-telekom commented on #4503
@ThomDietrich The problem with "adding a line" to you proposal above is the following:

You have `type` in there which might be any of `action`, `binding`, etc...

My "flag" would be for binding only, so it would have to be a child node of the `type=binding` definition.

Maybe the `type` node may have parameters, so we could have:

[code]

But these parameters would also exist for `<type>action</t

[2018-05-02 13:13] seeers commented on #4130
I have the same problem for a few weeks. Suddenly no more cron rules are executed. This happens reliably 1-2 times a day. Only through a reopenhab restart I was able to bring the cron rules back to work.
But is this a general problem or is it caused by a specific rule / binding combination? Apparently not everyone is affected?

[2018-05-02 13:17] sjka commented on #5452
Another one  with a different error.
From https://ci.eclipse.org/smarthome/job/SmartHomeDistribution-Nightly/2693:

[code]

[2018-05-02 13:38] ThomDietrich commented on #4503
Fields can be optional. If the `connection` field is not meaningful for a UI, don't define it mention it.

[2018-05-02 14:33] mhilbush commented on #5519
Thanks for the feedback, @sjka. Yes, I can make the change. It will be my first ESH change... :-)

Do you know...  Do I need to install the ESH IDE to make the change, or can I use the OH IDE that I already have installed? I already have a signed ECA.

[2018-05-02 14:46] sjka commented on #5519
That's wonderful!

The formatter settings are the same, IIRC. There are simply more dependencies available in the OH2 IDE, but that shouldn't matter. Therefore: As long as it builds, I think you will be fine using the OH2 IDE.

[2018-05-02 16:11] sjka opened #5522 "Sitemap updates the wrong widgets after reordering"
Let's assume we have a sitemap like this:

[code]

It's going to look like this in Basic UI:

![image](https://user-images.githubusercontent.com/2592443/39534945-00250fec-4e33-11e8-8622-adb1cd3f3af6.png)

Now I have a rule that increments the testNumber item's state on a regular basis.

When I now change the order of the two widgets in the sitemap file like this:

[code]

then the Basic UI refresh

[2018-05-02 17:14] sjka commented on #5522
I just realized that the is yet another flaw causing the same effect - see https://github.com/eclipse/smarthome/pull/5523#issuecomment-386051786

[2018-05-02 21:34] maggu2810 commented on #5518
Hm, I don't understand what this is about? Is there a short summary what the intention is and why we need it (or do I need to read the whole referenced issue)?

[2018-05-02 22:05] cdjackson commented on #5518
This is about adding discovery data into the thing-type files so that all information about a thing is in one place. As currently required, we have to put the thing description, and information used for the discovery in different places.

The idea is to add discovery data in the thing-type XML, and provide a service that can provide the discovery data to the binding.

[2018-05-03 06:26] FrankR59 commented on #4130
@seeers: Do you use day-of-week paramters? If so, you can try to disable those

[2018-05-03 07:07] seeers commented on #4130
No, I only use the following:
` Time cron "0 */30 * * * ?"
 Time cron "7 * * * * ?"
 Time cron "0 54 15 * * ?"
 Time cron "0 0 10 * * ?" or
 Time cron "0 0 14 * * ?" or
 Time cron "0 0 19 * * ?" or
 Time cron "0 0 20 * * ?" or
 Time cron "0 0/1 * * * ?"
 Time cron "0 59 23 * * ?"
 Time cron "0 55 23 * * ?"
 Time cron "0 0/1 * * * ?"
 Time cron "0 0 21 * * ?"
 Time cron "0 30 5 * * ?" Time cron "0

[2018-05-03 09:12] htreu commented on #3484
Here is a first idea on how the above described concepts could be modelled in XML. All three nodes `config-description`, `thing-config-description` and `admin-action-description` reference the same type `config-description`.
Although the `config-description` scheme is not a perfect fit for the `admin-action-description` there are a lot of reusable elements. Furthermore the existing `ConfigDescript

[2018-05-03 09:15] #5452 closed

[2018-05-03 09:33] cdjackson commented on #3484
My first thoughts is it looks good @htreu  - thanks.

Is this statement correct? Or to ask slightly differently, how would this be ignored for other URI schemes? I think the config description XML parser and config provider are standard - I agree they would be optional, but I assume that the config provider would provide these properties if they were provided in the XML no matter what the URI? (I

[2018-05-03 09:57] htreu commented on #3484
Yes, XML parser and config provider are standard and we would probaby just implement the parameter properties in the existing domain model. Otherwise as stated above, they will not be passed on to the UI and are merly used for binding/thing-type specific information to the handler. We can discuss if its sufficient to document where the stuff is available in the end or if we try to limit its use by

[2018-05-03 10:03] cdjackson commented on #3484
Ok, sounds good - thanks.

I'm not sure if I have an example - one thing that might be considered is a "system reset" in ZigBee - this does act on the device (ie the bridge in this case), but it also does "stuff" in the handler. Currently I have this as a boolean config option, but it would be much better defined as an action button so this spans the thing and device configuration (so I would prob

[2018-05-03 11:34] antoniosv commented on #579
I have written some code for the `HttpContext#handleSecurity(request,response)` logic. I'm making use of the Nimbus JWT to create and verify tokens using a RSA key. For the UI, I'm storing the JWT as a cookie. The logic I have implemented is as follows:
1. Check if authorization header or cookie is there (if not, return forbidden)
2. Attempt to do JWT Authentication with auth. header first: parse

[2018-05-03 11:46] triller-telekom commented on #4630
@marcelrv Since I have created a PR to address your issue I am wondering what you specific use-case is.

You are saying that you want to prevent double entries. Therefore we do have the `representationProperty` which can be set and if this exists the entry in the inbox is updated with the new values.

As I just learned, the callback should only be used in rare cases where one can discover a device

[2018-05-03 12:02] htreu commented on #3484
One thing to notice about the admin actions: They are not meant to be related to thing configs. A thing config will be saved/send to the handler with all values at once while the admin actions only trigger stuff on the handler. Also in the UI the thing config will be something edited in the known config description dialog, whether the admin actions may be placed directly in the thing details view.

[2018-05-03 12:04] kaikreuzer commented on #1093
@ghys Yes, these were exactly the use cases we came across when discussing the "capability" tags. I also first thought that this information could be derived from the item type, its read-only definition or its associated system channel type - but in the end, the clients would have to take many different sources into account, which can easily end up in a lot of complexity. Using special tags for th

[2018-05-03 12:18] htreu opened #5527 "[test failures] MQTT: BrokerHandlerTest fails randomly"
The `BrokerHandlerTest#handlerInit` test case fails randomly. This may be due to timing issues.

[2018-05-03 12:54] davidgraeff commented on #5527
Yes. I did some work on io.mqtt, that's where the problem comes from. it's not finished yet. But I might come around to upload something in the evening.

[2018-05-03 13:02] cdjackson commented on #3484
I guess this is an implementation issue in the UI - HABmin doesn't do this as this specific action can cause a lot of network traffic on ZWave which causes problems on large networks. I'd suggest that this isn't implemented in this way for device configuration and only updated configuration is sent to the thing handler.

[2018-05-03 14:08] #5522 closed

[2018-05-03 14:35] sjka commented on #5491
fixed by #5521

[2018-05-03 14:35] #5491 closed

[2018-05-03 14:50] htreu commented on #3484
Only updated yes, but nonetheless all at once. Are you talking about LAN network traffic? Or how is this ZWave dependent?

[2018-05-03 15:46] #5451 closed

[2018-05-03 16:33] cdjackson commented on #3484
No - not LAN - ZWave traffic.

When the ZWave binding receives ALL configuration, it updates ALL configuration in the device which can cause a lot of network traffic on the RF link. The ZWave binding doesn’t know if a user wants to reapply the existing configuration value to a device, or not, so it has to send everything to the device.  In the past I tried filtering based on change detection, but

[2018-05-03 16:53] ghys commented on #1093
Definitely. If this results in items being automatically tagged with predictable tags when adding things and creating links, saving the user from doing it manually, it would a huge improvement.
We'll still need to come up with an algorithm like you mentioned above to query the item registry, in my case with only "what"/"where" as an input (and an eventual intent to help) and I'm not sure how it wi

[2018-05-03 22:54] splatch commented on #579
Yeah, there is a need to bridge authenticators and http context, I made some scratch around that, but haven't finished it yet. I should get some plumbing done next week.

[2018-05-04 05:03] flaviocosta-net commented on #5337
Here is the link to the repository: https://github.com/flaviocosta-net/openhab-javafx

I am not sure it is organized the best possible way, as it's the first time I push code on GitHub, so please let me know if there is anything to improve on that. For the code itself, it's obviously still very basic and there should be a lot more progress when integration with the REST API is started. It mostly u

[2018-05-04 06:41] htreu commented on #3484
If I understand you right this is completely ZWave/binding specific. The actual device/thing update has to be done by the handler. Calculating the diff between current configuration and updated configuration is up to the handler.

[2018-05-04 08:51] htreu commented on #5506
Hi @cweitkamp, this would be nice indeed. Do you think you could provide a contribution for this?

[2018-05-04 09:15] cdjackson commented on #3484
It's not just about calculating the diff - it's about the fact that if the binding only sends through changes to the device (ie it calculates the diff, and only passes through changes) then the user has no way to re-apply a setting short of changing to another value and then back to the original value.

This has been a big issue in the past as it's quite common to have to re-apply a config setting

[2018-05-04 12:16] htreu commented on #5500
@lolodomo sorry for the delay. This sounds like a nice optimisation. I guess you would need some `getVisibility(Widget, State)` method on the ItemUIRegistry. It would be nice to see your contribution for this. Go ahead.

[2018-05-04 12:18] afuechsel commented on #3484
Having skimmed most of the discussion above I'd like to see a simple example with some real device to understand the proposal better. So for example take a camera with a simple motion detector where we would need to have these groups of configuration:

### Config Parameters to establish communication:
* ip address
* username
* password

### Thing Config Parameters to change the thing configuration

[2018-05-04 15:28] mhilbush opened #5533 "NPE in ThingManager at startup"
I upgraded to OH build 1271 (from 1250), which I believe includes the most recent ESH stable build 270.

I consistently see multiple NPEs (4 to be precise) in ThingManager during startup.

@htreu Could the recent changes to `BundleResolver` result in `getBundleName` being called before `bundleResolver` has been set?
https://github.com/eclipse/smarthome/commit/5847376494a201803aa526c675522cfa9ddde3

[2018-05-04 15:36] kaikreuzer commented on #5533
Looks indeed like a bug introduced by https://github.com/eclipse/smarthome/pull/5466.

[2018-05-04 15:38] J-N-K commented on #5243
As mentioned [here](https://community.openhab.org/t/uom-support-in-rules/43645), it is not possible to check for the correct type of an item's state without generating log messages.

[2018-05-04 15:39] sjka commented on #5533
...or just made another one surface...? On a first glance the root-cause is that too much is happening inside `addThingHandlerFactory(...)`,  which also gets called by the OSGi framework _before_ the `ThingManager` component is active, i.e. it might have some other dependencies missing at that point in time.

[2018-05-04 15:41] kaikreuzer commented on #5533
Don't think so, as [before](https://github.com/eclipse/smarthome/commit/5847376494a201803aa526c675522cfa9ddde3de#diff-24d71ac793f6de6c8557ea06292497ddL973) the FrameworkUtil was used, which is always there in contrast to the new service...

[2018-05-04 15:49] sjka commented on #5533
Hmmm... The whole thing handler creation, registration and initialization gets triggered there. Are you sure this doesn't rely on any other service dependency? Looks pretty coincidental to me that it worked so far, to be honest.

[2018-05-04 15:53] kaikreuzer commented on #5533
Well, at least there couldn't have been an NPE upon bundle retrieval.
But yes, the whole `handleThingHandlerFactoryAddition`call looks dangerous as well, if the component isn't yet active...

[2018-05-04 16:36] flaviocosta-net commented on #5337
By the way, how can I use ESH classes on a client application? I would like to use SitemapDTO to deserialize the API response, but I can't find an example on how to have the required dependency on a plain Maven/non-Tycho project.

This is the pom.xml I am playing with, it doesn't seem to help resolve any ESH dependencies:
[code]

[2018-05-04 16:36] rodneyrehm commented on #3484
Hey @cdjackson,

There are devices (e.g. some battery powered HomeMatic water sensor) that cannot be contacted by the controller and therefore no configuration can be read from them even if ESH thinks the devices are online. Some sort of cache is necessary. Assuming that devices are not configured other than through ESH I don't understand how persisting device configuration would be a problem.

Ca

[2018-05-04 16:53] rodneyrehm commented on #3484
Regarding the original topic, separating *thing config* and *device config*, I have not much to add, except maybe having another look at naming things: "config-description" (applied to the *thing*) and "thing-config-description" (applied to the *device*) is confusing.

---

Since the discussion has moved to extending the thing description, I might as well share how we solved `<admin-action-descrip

[2018-05-04 16:59] J-N-K commented on #5243
Comparison in rules for % is not possible:

.items
[code]

.rules
[code]

openhab.log
[code]

If I change to ```Bad_hum.state>55%``` the log is

[code]

[2018-05-04 19:02] cweitkamp commented on #5243
Did you try to put the % in square brackets like this `Bad_hum.state > 55 [%]`?

[2018-05-04 21:38] kaikreuzer commented on #4503
Nothing really to discuss - I merely suggested to have an optional "author" here in the technical metadata, but don't include it in the binding.xml anymore, which is user-facing content (within the Paper UI).

[2018-05-04 21:41] kaikreuzer commented on #1284
I cannot really well describe my last comment as an issue - I am still unsatisfied with the whole "simple mode", but don't yet have a suggestion on how to improve it. So let's just close this issue here for now.

[2018-05-04 21:41] #1284 closed

[2018-05-04 21:42] kaikreuzer commented on #1102
Well, we have the sources of the framework in our repo, so we could potentially fix it.
But as the Classic UI is rather legacy, I also doubt that it would be worth the effort.

[2018-05-04 21:52] #5533 closed

[2018-05-05 04:56] flaviocosta-net commented on #5337
@kaikreuzer,  thanks for the reference to smarthome-packaging-sample, I adapted my POM and it works like a charm! Indeed `.core` and `.io.rest.core` load a lot of unnecessary packages, but it serves well for testing purposes.

The good news is that this new sitemap implementation will probably help reduce some of this coupling, as the information on the rendering model (i.e. what the client sees)

[2018-05-05 12:06] marcelrv commented on #4630
@triller-telekom I have tried that, but I don't think it is doing the trick.
The main challenge: the things can be found with 2 different discovery methods, some devices support only one of the 2, some support both.
Unfortunately, only one of the methods reveals the real thing type, the other discovery method does not. This 2nd method requires a certain token to be provided.

Hence in the callback

[2018-05-05 12:28] omatzyo commented on #4794
Hi all, has there been any progress on this? As I’m sure you all know, the hue binding is one of the least reliable these days, even with the great quick fix that TheNetStriker added.

I certainly appreciate your time! Let me know if I can help in any way. Is there a version I can test?

[2018-05-05 12:39] TheNetStriker commented on #4794
I'am currently testing my code changes here: https://github.com/TheNetStriker/smarthome/commit/faf3ee1f0335e5cbff0ea585bca0f55b1578e032

The lamps do not switch as fast as before, but they always switch without exceptions. The binding should now automatically choose the right delay for the amount of commands that are being sent.

If you want to test my changes I've just uploaded the modified addon

[2018-05-05 13:04] yveshanoulle commented on #5337
What happens if people want to update their sitemap?

I'm working with two machines for the same building. (For testing purposes)
Im storing the full configuration in a source database.
I commit changes that I then download on a machine.
Having a history of the configuration changes is important.

I don't want to have to make changes manually on a machine.
I want to download the latest changes fro

[2018-05-05 13:06] yveshanoulle commented on #5337
I understand that multi-language is something to do after the basic features are done.
There is a risk that then it's harde to implement the use of multi-language.

I don't understand the sentence:

[2018-05-05 17:35] vzorglub opened #5538 "Nest Binding - Error build 1271"
This error appears in the log every few minutes:

2018-05-05 18:27:59.289 [ERROR] [g.nest.handler.NestThermostatHandler] - Unsupported channelId 'time_to_target_mins'

Thanks

[2018-05-05 19:41] kaikreuzer commented on #5538
Nest binding is at https://github.com/openhab/openhab2-addons, so please report the problem there - thank you!

[2018-05-05 19:41] #5538 closed

[2018-05-05 19:51] kaikreuzer commented on #4503
Yes, it seems you again misunderstood me.
What I said is that the current content of binding.xml is user-facing. That why I suggested to move the author information to the "Data as proposed here" (which I referred to as "technical metadata").

[2018-05-05 21:13] ThomDietrich commented on #4503
I see. I indeed misunderstood that part.

Yet again, I would question the meaning of "content of binding.xml is user-facing" as I believe what you actually mean is "every detail available in binding.xml is by chance also presented by Paper UI". Nothing forbids the addition of more information that is not or only conditionally presented in Paper UI or other user-facing graphical interfaces... - Cor

[2018-05-06 22:01] tfelix commented on #4794
I just installed the Addon from the dropbox and tested it with a total of 19 lamps (Hue, Tradfri and Dresden Elektroniks) and 1 Mains Switch from Osram. Currently it works flawlessly I report in a few days if I encountered any problems.

[2018-05-07 04:47] flaviocosta-net commented on #5337
I want to download the latest changes from my source control system.

A scenario with two servers is not a usual one, and retrieving definitions from a remote location is a completely separate topic.

multi-language support based on the Accept-Language header

This is a [standard content negotiation mechanism](https://www.w3.org/International/questions/qa-accept-lang-locales) for HTTP, and it will

[2018-05-07 05:10] yveshanoulle commented on #5337
Anyone who wants to install a new server will run into same issue.

For me it's not. This is how sitemaps work these days.
What I read in this proposal, is that the way sitemaps will work in the future, you will break this.
When I would bring this up in the future, it will already be broken and Openhab will become useless to me.

Do I understand correctly you will work with a language of the brows

[2018-05-07 05:44] #5519 closed

[2018-05-07 06:28] Simiil opened #5540 "StorageService can fail if the userdata path is not absolute"
During execution the jsonstorage service encounters the following error:

    07:57:09.230 ERROR o.e.s.s.j.internal.JsonStorage[:275] - Error writing JsonDB to userdata/jsondb/org.eclipse.smarthome.core.thing.Thing.json. Cause userdata/jsondb/org.eclipse.smarthome.core.thing.Thing.json (No such file or directory).
    07:57:09.230 ERROR o.e.s.s.j.internal.JsonStorage[:275] - Error writing JsonDB t

[2018-05-07 06:48] htreu opened #5541 "QuantityType: define unit for min, max, step in channel state description"
As mentioned in this comment https://github.com/eclipse/smarthome/issues/5243#issuecomment-385268489 its currently not possible to define a unit for a channel's state description `min`, `max` and `step` values.

[2018-05-07 07:25] veotax opened #5542 "Support jCasbin as the authorization mechanism for RBAC & ABAC"
[jCasbin](https://github.com/casbin/jcasbin) is an authorization library that supports models like ACL, RBAC, ABAC.

Related to RBAC, casbin has several advantages:
1. roles can be cascaded, aka roles can have roles.
2. support resource roles, so users have their roles and resource have their roles too. role = group here.
3. the permission assignments (or policy in casbin's language) can be persis

[2018-05-07 08:26] sjka commented on #5542
While this might be some valuable input for the implementation details of #579, I'm closing this as it doesn't make sense to have this as standalone issue.

[2018-05-07 08:26] #5542 closed

[2018-05-07 08:44] lolodomo commented on #5144
So no reason to keep this issue opened.

[2018-05-07 08:44] #5144 closed

[2018-05-07 08:48] lolodomo commented on #4919
This was fixed by @resetnow 's PR that is now merged.

[2018-05-07 08:48] #4919 closed

[2018-05-07 09:00] sjka commented on #5540
Sounds like the mentioned "proprietary native code" changes the current directory - but that's just a guess, obviously... We could try making `JsonStorageService` robust against that, but I cannot tell what else will break instead. Clearly, changing the current directory of the java process isn't exactly polite and generally can lead to pretty unexpected consequences. I'd primarily consider this a

[2018-05-07 11:49] maggu2810 commented on #5483
Thanks for the fix.
Please use one of the "closing keywords" next time: https://help.github.com/articles/closing-issues-using-keywords/

[2018-05-07 11:53] lolodomo commented on #5211
I will add the check.

@maggu2810 : regarding your comment about multiple connections made to the same subscription ID, I don't think it is something expected. Each client should ask for a subscription ID.

[2018-05-07 12:55] maggu2810 commented on #5540
If the CWD is changed, there could be problems all the time if a directory is accessed relative on any point later in time.

This could perhaps solved for ESH related stuff if ESH provides a "resolvePath" method. The implementation could the absolute paths for userdata, ... (all the config constants methods) on the beginning (service activation time). The method could e.g. consume two arguments, o

[2018-05-07 13:43] flaviocosta-net commented on #5337
Keeping the sitemap in the local memory cache is the way it's already implemented today, so maybe I didn't completely understand your use case. The idea is to make the new sitemap implementation a _superset_ of the existing one: everything that works today should keep working with no or minimal changes. Before the new implementation is released, please feel free to try it and flag any currently su

[2018-05-07 15:25] davidgraeff commented on #5540
I'm doing checks in my contributed code for relative/absolute paths as well. Most of the time by wrapping the Configs.userDataDirectory() (please insert the correct call here) with `Paths.get(...).toAbsolutePath()`.
ESH predates Java 1.8. Maybe it helps to add a method that returns a `Path` (resolved to an absolute path) directly and adapt the codebase?

[2018-05-07 15:30] davidgraeff commented on #5527
Fixed with a Future based API on `MqttBrokerConnection`. See #5535

[2018-05-07 20:31] Josar opened #5547 "XPATH in label, when xml contains namespace"
The XPATH transformation in a label seems to make some problems, when the xml contains a namespace which has to be resolved.
[code]

The first one is working, the second one does not, probably as the XPATH contains `[ ]`.

[2018-05-07 21:16] flaviocosta-net commented on #5337
@yveshanoulle, I will take that into consideration, although:

1. On web-based clients (e.g. Basic UI), language settings rely on browser configuration. You may need different user profiles on the browser or on the OS if you want to serve content in different languages ([Firefox](https://developer.mozilla.org/en-US/Firefox/Multiple_profiles)), or use some plugin/extension to switch between these (

[2018-05-07 21:38] yveshanoulle commented on #5337
1)a) We would like to use tablets in our facility to control openhab. Asking users to log in as different users would remove the opportunity to reuse the same tablet for everyone in a room/ building.

b) It's only a client problem because you make it one. Many websites/ web applications offer to switch the language and ignore the browsers language. I'm probably more used to these kind of websites

[2018-05-07 22:35] lolodomo opened #5548 "Paper UI: inbox filtering not working after an inbox update"
It looks like the inbox filtering by binding is no more working. It was working in the past.

I am runnning the snapshot 1262.

[2018-05-08 05:30] kaikreuzer commented on #5548
Just tested on build 1271 and it works for me as expected (in Chrome).

[2018-05-08 05:57] kaikreuzer commented on #3756
Do we have any consolidated list of suggested channels now? I must admit I am slightly lost with all the different tables and grep results in this issue...

[2018-05-08 06:48] sjka commented on #5527
How about this one?

[code]

Is it also covered by one of your PRs?

[2018-05-08 06:57] davidgraeff commented on #5527
Most likely. I touched the discovery class as well.

[2018-05-08 06:59] sjka commented on #5548
Works for me too (on master).
You either need to update or be more specific 😉

[2018-05-08 07:26] sjka commented on #5547
The problem is this line in `GenericItemProvider`:

https://github.com/eclipse/smarthome/blob/b5d4e9884e9e3713ee48178ed5b71ad14b36cb35/bundles/model/org.eclipse.smarthome.model.item/src/org/eclipse/smarthome/model/item/internal/GenericItemProvider.java#L283

[2018-05-08 08:45] kaikreuzer commented on #5483
So I assume this can be closed, right?

[2018-05-08 08:45] #5483 closed

[2018-05-08 08:46] hsudbrock commented on #5483
Yes, this can be closed. Thanks for the hint with the closing keywords, @maggu2810.

[2018-05-08 09:17] sjka commented on #4630
It used to be like that. However, since #4731 the representation property does not work across thing types anymore. The discussion in #4191 gives a pretty good impression why that is.

Although it's not a much of a quick-fix, I'd rather prefer though finding a "proper" solution in the framework for these kinds of contradicting requirements instead of having more and more bindings scraping the inbo

[2018-05-08 17:44] kgoderis opened #5551 "Karaf not stopping threads upon removing a bundle"
When stopping or removing a bundle (e.g. from the add-ons folder) from Karaf, threads that are created by that bundle keep running and are not terminated. Sometimes end-users do upgrade bundles in running instances, and in doing so, duplicating threads could be the result, with various side effects and so forth. AFAIK none of the binding bundles implement a mechanism to stop lingering threads. One

[2018-05-08 19:42] #5547 closed

[2018-05-08 20:30] jsjames opened #5552 "Bridge Thing offline, but child things stay online"
In my openhab binding (pentair), I have a serial bridge with several child things.  If there is a setup error for the bridge, I set the status of the bridge to offline (updateStatus(ThingStatus.OFFLINE, ThingStatusDetail.CONFIGURATION_ERROR, msg)).  This is reflected correctly in the paperUI.  However, all the child things still go ONLINE.  I had thought the framework took care of not allow child

[2018-05-08 23:23] Josar opened #5553 "Setpoint state contains whole label"
When using a setpoint with a label formatter the state of the setpoint seems to contain the whole formatter.

[code]

[code]

[code]

logg
[code]

so the setpoint is not usable in rules as it does not only contain the number but the whole formatter as state.

[2018-05-09 03:18] maxx92 opened #5554 "digitalstrom binding... more issues"
I use openHAB 2.2 with digitalstrom binding 2.2.0. The position of my blinds is not reliably reported between digitalstrom and openHAB. If I issue a command in OH then the position follows in OH. If I issue a command via dSS then OH does not update. And another "problem" in this context. dSS uses the value 100 as closed (weird, IMO) and 0 for open. The binding does the opposite. Now, strange enoug

[2018-05-09 05:33] J-N-K commented on #5552
Your thing handler should take care of the thing‘s status in „bridgeStatusChanged“.

[2018-05-09 08:33] lolodomo commented on #4859
@maggu2810 @kaikreuzer  : I played with the REST API and I discovered that absolute URLs are returned in several places:
* default GET / => filed "url"
* items GET /items => field "link"
* sitemaps GET /sitemaps => field "link"
* sitemaps POST /sitemaps/events/subscribe => field "location"

As you can see, this is not something specific to the sitemaps endpoint. In particular, the items endpoint h

[2018-05-09 09:59] Tony-Hu commented on #4942
Hello, I'm a new guy to the community. And I'm still trying to learn more about Eclipse Smarthome. Please correct me if I'm wrong. Thank you!

I'm wondering that as we do some settings in paper UI(or other UIs as well), is it possible to automatically generate a "sitemap" with all the existing settings in paper UI rather than manually creating the sitemap?
And, perhaps the auto-generated sitemap h

[2018-05-09 11:42] Josar commented on #5553
I think it's not a bug it is a feature related to UoM.

https://www.eclipse.org/smarthome/blog/2018/02/22/units-of-measurement.html

[2018-05-09 11:53] lolodomo commented on #5008
Looking at the code, I can confirm that eventOutputs is not cleaned even when the SSE connection is properly closed. It should be fixed.

[2018-05-09 11:58] triller-telekom commented on #3756
Regarding my https://github.com/eclipse/smarthome/issues/3756#issuecomment-382370721: I just checked the occurrences of "lock", "acMode", and "rotationDirection" in all ESH and openhab2-addons bindings.

lock: 6

[code]

acMode: 4

[code]

rotationDirection: 0

The question now is: Do we agree on this?

If so, @cweitkamp Could you please be so kind to update the table in the first post accordingly

[2018-05-09 11:58] lolodomo commented on #5008
I added that fix in my PR 5556.

Now if we want to avoid an infinite creation of sitemap SSE subscriptions, we could decide to limit the subscriptions to a max number ?

[2018-05-09 12:50] sjka commented on #5551
No, bindings _must_ do that! When bundles are stopped, their ThingHandlerRegistry gets removed. The framework detects that and disposes all its handlers. To `ThingHandler.dispose()` is called on all handlers.

It's clearly a bug in the binding if any threads and/or scheduled jobs are not cancelled properly after `disposed()`  was called.

[2018-05-09 14:27] htreu commented on #5553
Since the items where defined as plain Number items there should not be QuantityType updates from the UI.

[2018-05-09 14:45] jsjames commented on #5552
I don't have bridgeStatusChanged overloaded.  But it appears that if the Bridge sets status to OFFLINE in its initialize function, bridgeStatusChanged is never called.  In my case, that is what is happening.

In looking at some other code in other another binding (dcsalarm), it looks like in the initialize function for the child things, they automatically set the child status to OFFLINE.  Then, th

[2018-05-09 15:15] sjka commented on #5552
Ah, I see. I checked the `ThingManager` code and indeed you hit a weak spot there. The bridge obviously needs to be initialized first, before the thing handlers are created. So they cannot be possible to inform them because they simply don't exist at that point in time.

However, when the `ThingManager` then turns to the thing handler, it only checks whether they are initialized:

https://github.c

[2018-05-10 07:59] kgoderis commented on #5551
@sjka Well, I am not sure what is happening then, because I *do* get rid of the threads in the dispose(), but somehow they keep running afterwards. Note, this is while deleting the .jar from the add-ons folder. I am not sure how that impact the stopping of the bundle

[2018-05-10 12:53] kaikreuzer commented on #5551
I am pretty sure that Karaf does a proper "bundle uninstall" when you remove the jar - I'd suggest to go through with the debugger to see whether dispose is called and why your threads keep running.

[2018-05-11 08:27] sjka commented on #5554
/cc @MichaelOchel

[2018-05-11 09:07] kaikreuzer commented on #5552
I do not agree that this is a bug in the framework - we require ThingHandlers to always set a ThingStatus within the `initialize()` method. If the pentair binding currently sets it to ONLINE no-matter-what, then this is clearly a bug in the binding.

As every binding must have some logic of how to determine a correct thing status (and by this obviously also reflecting the bridge status), this logi

[2018-05-11 09:59] lolodomo opened #5561 "Syntax to set thing parameters that are inside parameters group"
I just discovered with the Z-Wave binding that is possible for a thing to define parameter groups and then define parameters in these groups.
The problem is that I have no idea what is the syntax to define such parameter in a things file. I searched in the documentation and this is defined nowhere.

The documentation should be enhanced with this concept of parameter groups with an explanation how

[2018-05-11 10:01] lolodomo commented on #5561
I tried `<group>:<parameter>=<value>` like for example `configuration:config_14_1=1` but it is an invalid syntax detected when the file is read.

[2018-05-11 10:43] kgoderis opened #5562 "createTimer expects Joda's AbstractInstant, not compatible with ZonedDateTime"
org.eclipse.smarthome.model.script classes still rely on org.joda.time.base.AbstractInstant for script actions (e.g. createTimer), whereas we have moved elsewhere in the core to java.time.ZonedDateTime

This leads to errors like

in .rules and so forth.

[2018-05-11 11:02] marQus3 opened #5563 "Filtering for multiple ReadyMarkers"
Having the ReadyMarkerFilter is nice, unfortunately it does not quite offer the functionality I need.
The requirement ist to filter for **multiple types of ReadyMarkers** (in my case two). But:
- ReadyMarkerFilter only allows one type
- registering a ReadyTracker at the ReadyService only allows one ReadyMarkerFilter
- one ReadyTracker cannot be registered twice with different filters

Please evalu

[2018-05-11 12:08] sjka commented on #5563
May I ask what you use-case is? The ReadyService stuff is meant to be used within the framework only, especially not for bindings...

[2018-05-11 12:10] sjka commented on #5562
What is your take on backward compatibility wrt to existing scripts?

[2018-05-11 12:17] sjka commented on #5562
Nevermind my previous question. I just realized this is only about `ScriptExecution.createTimer(...)` and `ScriptExecution.createTimerWithArgument(...)`. These can be kept compatible by simply by method overloading.
Will you create a PR for it?

[2018-05-11 12:18] kgoderis opened #5564 "Extend the AudioSink infrastructure to enable groups of sinks"
With respect to the discussions in https://github.com/eclipse/smarthome/issues/4832 and https://github.com/eclipse/smarthome/pull/4963 and the decision to remove the ability to set the notification volume of Sonos players in favour an extended playSound() API (which I second), IMO there is a need to revive (and improve) https://github.com/eclipse/smarthome/pull/3063 so that one would be able to pl

[2018-05-11 12:25] sjka commented on #5564
I haven't seen any general objections to this in #3063 and also I assume the discussions and feedback from #3063 are still valid. Feel free to simply revive it, to me it sounds like a viable addition to the overall audio story.

[2018-05-11 12:25] marQus3 commented on #5563
My binding needs to migrate things and adds channels that are defined in the thing type XMLs.
So it uses ThingTypeRegistry and ConfigDescriptionRegistry. For this, the registries don't just need to be available, they must have loaded all necessary XMLs, hence the waiting for "ready".
You could ask @FrankZimmer about this use case.

[2018-05-11 12:33] kgoderis opened #5565 "GenericItem : trying to set state of Group with invalid state"
I have the following Group definition:

`Group:Switch:OR(ON,OFF) gValveStateHC2 (All)
`
Which is referenced in the Item definition of a bunch of Switch items.

`gValveStateHC2 (Type=GroupItem, BaseType=SwitchItem, Members=5, State=OFF, Label=null, Category=null, Groups=[All])`

I also have a persistence strategy in place:

`gValveStateHC2* : strategy = everyChange, everyMinute, everyHour, everyDay

[2018-05-11 12:39] sjka commented on #5565
The persistence services have just a signature of `PersistenceService.store(Item)`. The rest is up to the concrete persistence service implementation.

As there is none within Eclipse SmartHome (yet), I think we can safely close this issue here. May I ask you to open a corresponding issue for the persistence service you are using (in the corresponding github project)?

[2018-05-11 12:39] #5565 closed

[2018-05-11 14:26] sjka commented on #4942
Welcome to the community, @Tony-Hu! Of course, asking questions is absolutely the right thing to do and I'm pretty sure there are numerous people around who are willing to help. Nevertheless, may I kindly ask you to not hijack any existing issues/discussions for your questions? You are always welcome to create new issues if you think something is not working as expected or you would like to sugges

[2018-05-11 15:42] kgoderis commented on #5562
@sjka Whilst giving it a go I started to wonder if we need to keep the backward compatibility with Joda. The API was already broken/depreciated when moving to ZonedDateTime, so why not changing everything else?

Philosophical question : it is OK to use instanceof while doing generics? In casu, the Time and TimerImpl classes have to altered. This can be done via generics, or via an abstract class a

[2018-05-11 16:05] flaviocosta-net commented on #5562
@kgoderis, `instanceof` and type casts are _runtime_ typing mechanisms. One of the biggest advantages of introducing generics in Java was to allow type checking at _compile time_.

If you are writing code with generics, you should try to take advantage of that as much as possible, and the fact you may still need `instanceof` often indicates that generics is not producing the expected benefits. If

[2018-05-11 20:11] toseRN opened #5567 "Basic UI: visibility defined in sitemap partly not working"
Platform information:

Hardware: RPi 3 B+
OS: raspbian stretch
openHAB version: openHAB 2.3.0 (Build #1272)
oracle java 1.8.0_65

In BasicUI the sitemap property visibility partly not working, but the classic UI works well with the same sitemap and item definitions. in example:

**item definition**
`Switch      KZ1Hide             "more"          <returnpipe>`
`Switch	    hue_1			    "hue 1"

[2018-05-12 02:14] theRealMCQwerty commented on #4799
I had this problem and resolved it, the cause was that when I selected 'Add Folder to Workspace' I selected the root OH folder. When I removed this folder from the Workspace and then added the 'conf' sub-folder only the problem went away. @bulletprooffool @rikkyrik - Can you check your setup and confirm which folder you have 'added' to the workspace.

[2018-05-12 06:58] mgeramb opened #5568 "BUG: ExtendedDiscoveryService implementation can cause null pointer access"
The implementation of the ExtendedDiscoveryService has a major timing problem. I have implemented a discovery service in my amazonechobinding.
Sometimes the function  DiscoveryServiceRegistryImpl.addDiscoveryService will be called with my extended discovery service before the safeCaller get injected.

I suggest, that if the safeCaller is not yet set, it should be ignored and extended discovery ser

[2018-05-12 08:42] kaikreuzer commented on #5563
This conversation makes me quiver.

Binding MUST NOT use `ReadyService`, `ThingTypeRegistry` nor `ConfigDescriptionRegistry`.
All the things that you mention should be possible from within the `ThingHandler`.
If there is anything specific missing, please file an enhancement request and it can be discussed how the binding/handler API can be enhanced.

[2018-05-12 08:42] #5563 closed

[2018-05-12 10:17] Tony-Hu commented on #4942
@sjka Acknowledged! I'm sorry to make a distraction of the topic.

[2018-05-12 15:35] sjka commented on #4942
All good. I didn't mean this to be offensive or anything. Just go ahead and create a new issue for that - your idea sounds absolutely plausible definitely is worth discussing!

[2018-05-13 07:54] veotax commented on #5542
OK, I will leave comments under that issue.

[2018-05-13 07:56] veotax commented on #579
Personally, I recommend: [jCasbin](https://github.com/casbin/jcasbin), which is an authorization library that supports models like ACL, RBAC, ABAC.

Related to RBAC, jCasbin has several advantages:
1. roles can be cascaded, aka roles can have roles.
2. support resource roles, so users have their roles and resource have their roles too. role = group here.
3. the permission assignments (or policy in

[2018-05-13 08:03] Tony-Hu opened #5569 "Feature request: Auto-generated sitemaps"
I was inspired by the [issue#4942](https://github.com/eclipse/smarthome/issues/4942)
For now, the paper UI provides a way to prevent us from writing Things and Items configurations from scratch. I'm wondering that is that possible to do the same stuff in paper UI(or other UIs as well) to have an auto-generated sitemap file?
And, perhaps the auto-generated sitemap has a special name like "auto_conf

[2018-05-13 08:07] Tony-Hu commented on #4942
@sjka It's OK! I just created my idea as a separate [issue](https://github.com/eclipse/smarthome/issues/5569). Thanks for the suggestion!

[2018-05-13 11:05] sihui62 commented on #4756
Meanwhile more users are experiencing similar issues when using Visual Studio Code. The autocompletion and syntax checking is extremely slow, if not unusable.

https://community.openhab.org/t/vs-code-openhab-extension/30205/244
https://community.openhab.org/t/vs-code-openhab-extension/30205/248 (video)
https://community.openhab.org/t/vs-code-openhab-extension/30205/245

[2018-05-13 13:30] kaikreuzer commented on #5569
Such a feature is [already implemented in openHAB](https://github.com/openhab/openhab-core/blob/47bfddeecdfdbd8b289bc6b7e2f34c0e1badb721/bundles/org.openhab.core/src/main/java/org/openhab/core/internal/item/DefaultSitemapProvider.java#L28-L29), but it honestly didn't proof to be very useful. (the only difference is that it does not physically write a sitemap file, such a feature is already support

[2018-05-13 13:30] #5569 closed

[2018-05-13 15:24] kaikreuzer opened #5570 "[Paper UI] Bridge selection is hidden, if no bridge instance exists"
When manually creating a Thing that requires a Bridge, the Bridge selection field is missing, if no Bridge instance exists so far:

<img width="701" alt="screen shot 2018-05-13 at 17 20 42" src="https://user-images.githubusercontent.com/3244965/39968725-02da5ad8-56d2-11e8-8391-3462b0b9c3da.png">

If there is a Bridge, the selection is shown:

<img width="696" alt="screen shot 2018-05-13 at 17 22 1

[2018-05-14 03:31] flaviocosta-net commented on #5337
I have done some preliminary work on this, I have a DSL that generates what would be the definition model and I have some ideas on how the SitemapProvider can be adjusted to serve both sitemap in the current and the new formats. The big piece missing is what would come between those two parts: the generation of the rendering model (that is sent to the client) from the definition model (either from

[2018-05-14 08:36] marQus3 commented on #5563
OK, I'll change the concept.
However right now, I don't see a possibility for the binding to access even its "own" ThingType/Channel definitions loaded from XML other than via the ThingTypeRegistry.

[2018-05-14 08:39] kaikreuzer opened #5571 "Define README format for sub-bundles of bindings"
We have more and more bindings that are split into several bundles, where there is a main bundle that holds the binding.xml and the README.md as specified [in the docs](https://www.eclipse.org/smarthome/documentation/development/bindings/docs.html) and additional bundles that bring (optional) support for specific devices/bridges.

Examples are the Bluetooth binding with the bluetooth.blukii bundle

[2018-05-14 10:06] #5416 closed

[2018-05-14 10:18] maggu2810 commented on #5211
Sure, it is not expected, But if another client could corrupt the event mechanism of another client, just by connect to that subscription ID and close that connection again, then it is not perfect design. WDYT? A client should not be able to collide with another client.

[2018-05-14 10:41] sjka commented on #5568
My assumption is that this was fixed with #4766.
Which version are you running on?

[2018-05-14 12:03] svagionitis opened #5573 "Maven Build: When I do mvn dependency:go-offline I get an error"
As per title, when I execute the command `mvn dependency:go-offline` in order to get all the dependencies for offline build, I get the following error

[code]

If I run the `mvn clean install`, as the README suggests, it's working without any issues. I am using the master branch, commit [643ccdbc0293bb00b46377c9329fbac1b41cf72a](https://github.com/eclipse/smarthome/commit/643ccdbc0293bb00b46377c93

[2018-05-14 12:06] kaikreuzer commented on #4503
@ThomDietrich & @maggu2810 What you are obviously missing here is that the `binding.xml` is just "the tip of the iceberg". Similar to thing xmls, it is just one way to provide runtime information about a binding. The major part of that infrastructure is the `BindingInfo`, `BindingInfoProvider`, the `BindingInfoRegistry` and `BindingResource` with all the content being localisable through the i18n

[2018-05-14 12:10] kaikreuzer commented on #5573
Might this be the same problem as [this SO question](https://stackoverflow.com/questions/32916951/maven-offline-build-fails-when-it-encouners-google-guava-url-with-invalid-charac/32939715)?

[2018-05-14 12:11] svagionitis commented on #5573
Thanks @kaikreuzer I will have a look if this fixes the issue.

[2018-05-14 12:17] kaikreuzer commented on #5564
It would be important to me that my https://github.com/eclipse/smarthome/pull/3063#issuecomment-286156669 is considered - it would be nice to have this implementation being nicely decoupled from the existing code and not simply add all kinds of additional methods that might be required for this into the existing framework classes.

[2018-05-14 12:54] kaikreuzer commented on #5518
What I am wondering is whether there is a chance to define at least some basic data structure besides key-value pairs for such information.
Do we have any clue, what kind of structured information about a thing type could be useful for a discovery service in general?

[2018-05-14 13:13] cdjackson commented on #5518
I think it's likely to be very device/binding dependant, but I can give you examples of ZWave and ZigBee -:

* Manufacturer/Vendor ID
* Model ID
* Product ID
* Version information

The format of this information is very different for ZWave and ZigBee. ZigBee uses strings, but ZWave uses numbers. I think the easiest and most generic option is to provide a set of key/value pairs that can be used as

[2018-05-14 13:46] triller-telekom commented on #3756
To sum up the postings from above:

In addition to the 3 existing system channels: `system.signal-strength`, `system.low-battery`, and `system.battery-level` I would propose to add the following new channels, because at least 5 bindings make use of them. More can be added upon necessity.

Channel Type | Category | Accessible Mode | Item Type | Description | Other
-- | -- | -- | -- | --
system.mute

[2018-05-14 16:41] gittyhub2 commented on #4799
@rikkyrik , @theRealMCQwerty - I can confirm above behavior.

Plus - if the rules file has the same name as the binding (like fritzboxtr064.rules) the problem occurs, when I rename the file (for example to fritte.rules), the error disappears.

Environment: VS Code 1.23.1, Windows 10

[2018-05-15 07:11] vzorglub opened #5578 "[SNAPSHOT 1276] - Warning on "Members of" triggers"
Just updated to 1276
Ubuntu 16.04 intel
Repo installation

I get these warnings on ALL the rules with "Member of" triggers

==> /var/log/openhab2/openhab.log <==
[code]
==> /var/log/openhab2/events.log <==

2018-05-15 08:09:36.070 [vent.ItemStateChangedEvent] - Bathroom_ThermostatTarget changed from 19.7 to 19.3

[2018-05-15 07:35] Tony-Hu commented on #5571
I do agree with the suggestion. It looks quite clear when I step into a binding folder. However, it's hard to know there are some bundles behind a binding(like Bluetooth binding and ZigBee binding you listed.) by just reading the documentation.
Since the bundles usually come up with specified devices/bridges, I believe a "Hardware configuration" part is commonly needed in a bundle's ``README.md``.

[2018-05-15 07:38] kaikreuzer commented on #5578
FTR, this bug has been introduced by https://github.com/eclipse/smarthome/pull/4383

[2018-05-15 07:58] htreu commented on #5567
@lolodomo could you have a look at this? With the provided item & sitemap definitions both visibility triggers are also not working for me.
Here is a more complete item setup:
[code]

and sitemap:

[code]

[2018-05-15 08:01] maggu2810 commented on #4859
As written above, I would prefer relative URLs so it works for certain reverse proxy configurations, too.
I don't know why absolute URLs has been used.

Yes, this would be a really major API break.

[2018-05-15 08:16] maggu2810 commented on #5008
I agree that the number of subscriptions should be limited (configurable by config admin), so the ESH instance can protect itself to not run out of its limits.

[2018-05-15 09:31] ThomDietrich commented on #4503
@kaikreuzer I'm deeply sorry but even after countless comments I am still unclear what exactly is the issue, why are we still so focused on "user-facing" and what all of this has to do with "UI infrastructure".

The goal is to provide a rich metadata file, so that each addon (not just bindings, therefore the change of file name) is accompanied by information that describes itself. Where this data

[2018-05-15 09:40] cdjackson commented on #5571
A few thoughts from me...

The danger with this is we end up with a very big readme, so I would like to suggest a possibility where the binding author can insert small "snipits" into the main readme for each sub-binding. This would allow the main readme to contain short summaries of each binding - possibly broken into sections that make sense for the binding (eg hardware overview, channel overview

[2018-05-15 12:40] tmrobert8 opened #5581 "NetworkAddressService listener"
Not really sure if this in important enough to actually do - but if the consensus is that it's a good idea, I can add it pretty easily...

It would be nice if this interface included a listener for changes to the addresses (propertychangelistener or custom listener).

If there is a binding (let's say the NEEO Brain binding) that registers a callback URL with the remote device and our primary addre

[2018-05-15 13:35] maggu2810 commented on #5581
What is your plan that your implementation looks like?
AFAIK the JVM does not provide a method to watch for that changes.
Do you consider to schedule a job that checks the address of an interface every x seconds and identify the change yourself?
Then we should perhaps think about "interface gone" and "interface added", too (up / down, too?).

[2018-05-15 13:50] #5578 closed

[2018-05-15 13:56] sjka commented on #4831
I remember having seen the same happening in good, old designer (R.I.P.) too. So it indeed might not be related to the language server but to the actual validation...

IIRC it was the [holiday.script](https://github.com/openhab/openhab1-addons/wiki/Samples-Rules#how-to-calculate-public-holidays) which let it go berserk pretty quickly. But I never found the time to nail it down to the root cause, b

[2018-05-15 14:18] tmrobert8 opened #5582 "Bridge Child Thing Discovery"
**Problem**
Discovery works great right now for bridges but discovering things within the bridge is a bit complicated.  The consensus design pattern seems to be something like (with alot of variations):
1. The ThingHandlerFactory creates a ThingHandler
2. The ThingHandlerFactory creates a DiscoveryService passing the handler - the service then adds a listener or sets something in the handler to be

[2018-05-16 07:00] #5211 closed

[2018-05-16 09:32] #5570 closed

[2018-05-16 13:34] flaviocosta-net commented on #4859
Hi @lolodomo, to make it short, it is either a matter of making it simpler for API clients. or for whoever is configuring the (proxy) server.

Long answer: this "philosophy" issue is indeed a recurring discussion on REST API designing. Many people does recommend an absolute URI to be returned to clients, for instance:
https://stackoverflow.com/questions/2239405/hateoas-absolute-or-relative-urls
ht

[2018-05-16 15:35] lolodomo commented on #5211
Any idea what could be done ? You would like that the server records something identifying a specific client ?

[2018-05-16 15:45] lolodomo commented on #5567
I could have a look ... when I have free time for that

[2018-05-16 17:55] mgeramb commented on #5568
I run it from the the eclipse. The repository is a from 29.12.1017 commit 81c2d771a53623a7fb4f600e906b4fad79f3b1e7. This is after the #4766 merge

Currently if have implement a workaround so that the discoverservice is not automatically created through the OSGI. This works for me, but it should be fixed, because other developers will fall in the same issue.

[2018-05-16 18:01] kaikreuzer commented on #5568
Why? You should urgently go to a more recent version as you might see all kinds of unexpected behaviour otherwise.

[2018-05-16 18:11] mgeramb commented on #5568
Because if have to build a 2.2 version of my binding for the community. And this seem to be the easiest way for me. For the addon repository if have created a branch. I know I can switch the other repositories, but currently I have no problem or unexpected behaviours.

[2018-05-16 18:14] kaikreuzer commented on #5568
Ok, thanks, that makes sense indeed. So time for the 2.3 release then :-)
But I'd nonetheless suggest that you retest this bug on the latest ESH code to make sure it still exists - this isn't urgent, so I'd suggest to close it meanwhile and you can re-open it any time when you can confirm that it is still an issue.

[2018-05-16 18:14] #5568 closed

[2018-05-16 19:29] c--r commented on #4831
Interesting. Unfortunately, this does not solve the problem in my case, since my rule file only consists of a few lines (<10) of code.

[2018-05-17 07:15] Tony-Hu commented on #4741
I agree with @kaikreuzer. It will cost much time to do the migration.
For JSON-P, it has a special interface ``JsonObject`` to store the JSON as a Java Object.
And for GSON, you know, every simple POJO can be converted to JSON.
As you can see, they used totally different strategies. So I guess that's a time-consuming job.

[2018-05-17 11:49] kaikreuzer commented on #5571
Sounds quite straight-forward, but I have one concern, though (which mainly applies to stage c):
Our [current archetype](https://github.com/eclipse/smarthome/blob/master/tools/archetype/binding/src/main/resources/archetype-resources/README.md) splits the information about a single thing into separate sections: list of the defined type, which ones are discovered, their configuration, their channels

[2018-05-17 12:09] hsudbrock commented on #5322
Fixed with https://github.com/eclipse/smarthome/pull/5544.

[2018-05-17 12:09] #5322 closed

[2018-05-17 12:36] triller-telekom commented on #5089
@DahlitzFlorian I have tried your `items` file from https://community.openhab.org/t/items-not-displayed-but-receiving-updates/39986/5 and `sitemap` file from https://community.openhab.org/t/items-not-displayed-but-receiving-updates/39986/6 but I do see all Items in basic ui.

Some groups are empty though, i.e. they do not have any Items. So obviously nothing can be shown. Did you notice that?

Als

[2018-05-17 13:18] triller-telekom commented on #4992
@maniac103 Since #4959 has been merged since a while, do you still want to come up with a PR?

[2018-05-17 13:34] maniac103 commented on #4992
@triller-telekom Sure; I wasn't aware that #4959 is merged. I'll look into it as soon as I find some free time.

[2018-05-17 13:45] htreu commented on #4741
Thanks @Tony-Hu for pointing out this huge feature gap. I did take a first look at JSON P and it seems to be "just" a very low level JSON API right now.
In case I didn't overlook something it does not match our requirements for a GSON replacement.

[2018-05-17 13:49] sjka commented on #5571
Sure, we might think as well about restructuring the readme files.

Nevertheless, having split up the information across several sections is exactly the purpose of "Stage C": You could as well have multiple snippets per extension (e.g. SNIPPET_DISCOVERY.md, SNIPPET_THING_TYPES.md, SNIPPET_CHANNELS.md) and include them accordingly.

I second @cdjackson though, this doesn't make sense for huge bindi

[2018-05-17 13:55] kaikreuzer commented on #5571
So what's your recommendation as a first step? Go for stage a or b and leave the content of such sub-readmes completely open/unspecified?

[2018-05-17 14:58] triller-telekom commented on #4992
@maniac103 Thanks, I am looking forward to see your PR!

[2018-05-17 23:03] tfelix commented on #4794
I want to give feedback that I can now switch perfectly fine all lamps in my apartment. Even switching in groups works flawless now every time (they MIGHT switch slower but I dont think its really noticable since prior at least 2 lamps stayed on most of the time which is definitaly to slow :D). So thank you for this fix. It made my installation usable.

[2018-05-18 05:47] kaikreuzer commented on #4794
So will you create a PR, @TheNetStriker?

[2018-05-18 07:39] lolodomo commented on #5567
Tested in my production environment (snapshot 1262) and it is working perfectly.

Unfortunately, I can't test with the current ESH code in Eclipse. I have first a compile error in  class GenericMetadataProvider due to an include of org.eclipse.emf.codegen.ecore.templates.edit.ItemProvider
If I remove this include, it is replaced by this include org.eclipse.smarthome.core.items.ItemProvider
Then th

[2018-05-18 08:31] triller-telekom commented on #3756
@maggu2810 Since you did not comment on this issue yet. What is your opinion on adding new system channels? Do you agree with the adjusted table in https://github.com/eclipse/smarthome/issues/3756#issuecomment-388822117 ? If not, what do you suggest to change?

[2018-05-18 09:10] #4071 closed

[2018-05-18 09:10] #4927 closed

[2018-05-18 09:18] sjka commented on #5571
Yes, my approach would be like that.

At this point I don't see a documentation structure which would work perfectly well across all extensible bindings. However, I think it would make sense to experiment a little on a concrete binding we have already and see how it feels. Maybe in that way we at least can derive a recommendation for future extensible bindings. I suggest to start with the bluetoot

[2018-05-18 09:30] htreu commented on #5567
@lolodomo did you try to clean all projects? Also, on the current master you may have to run the `Generate All Models.launch` from the `org.eclipse.smarthome.model.codegen` project once to re-create all xtext models.

[2018-05-18 09:54] lolodomo commented on #5567
I have now moved my production environment to the snapshot 1281 and I can reproduce the problem.
So it was broken after 1262.
I have done a change in this part so it could be my fault.
As soon as I can get a working Eclipse environment, I will debug that.

[2018-05-18 12:15] lolodomo commented on #5567
The problem was the target platform. Moving from the OpenHAB target platform to the Eclipse smarthome target platform fixed most of the compilation errors. But now I am fighting to have Basic UI running.
I started from the only launch configuration I found which is named "SmartHome Runtime Sample Rules" and then try to add everything that is required. I have now a dashboard runniong with Paper UI

[2018-05-18 12:47] lolodomo commented on #5567
The problem is the target platform. I need to switch to the Eclipse Smarthome target platform to have the sources compiling.
But in this case I am not able to get a working launch configuration.
[code]

[2018-05-18 12:49] lolodomo commented on #5567
Is there no default launch configuration that will provide the demo files with Paper UI and Basic UI ?
I am lost.
I should probably wait for an upgrade of the openHAB target platform...

[2018-05-18 20:58] #3989 closed

[2018-05-18 20:59] #5387 closed

[2018-05-19 06:34] SilentTheseYears commented on #4547
@sjka May be you are right. Now, I have wrote a binding which use the aplay. aplay is a command which play the audio. It is work well. May be my system cause this problem. I use the embedded yocto linux system.

[2018-05-19 09:33] lolodomo commented on #5567
I just understood what's wrong. I am sorry for this stupid bug. I will propose a fix quickly.

[2018-05-19 11:15] lolodomo commented on #5008
What status should we set in the response when the server has reached the limit ?
PS: it has to be handled in Basic UI.

[2018-05-19 11:46] lolodomo commented on #4809
What we could do is sending a kind of "alive" event after 5 minutes (example) of inactivity. If the client is gone, this will trigger an exception and then a close of the connection and then a proper cleanup of the subscription.
The alive message could be simply an empty list of events. Any client receiving it will then do nothing.

[2018-05-19 11:49] lolodomo commented on #5008
There is a linked subject being how to be sure that the subscriptions will be released. I proposed a solution in #4809.

[2018-05-19 11:58] lolodomo commented on #4809
We already have the special event type `SITEMAP_CHANGED`, we could add another one like `SERVER_ALIVE`.

[2018-05-19 14:15] #5567 closed

[2018-05-19 17:10] maggu2810 commented on #3756
I am fine with this table in general.
What I don't know is about the handling or r vs. rw on system channels.
If a thing would like to present the artist and title of a currently played song, but there is only the option to display it and it is not changeable by the user... Can we use the system channel that states R/W or do we have to use a custom channel, then?

[2018-05-20 08:18] maxx92 commented on #5554
Just to bring this up again: The positions of my blinds are not handed over from dSS to openhab2. That makes the whole binding basically useless... None of the rules work when the timer program of dSS does things.

[2018-05-20 08:47] kaikreuzer commented on #3756
Some feedback:

- I think it is ok to have the r/rw information defined on the system channels - it usually makes a big difference from a functional point of view whether it only reports a state or if you can also send commands to it.
- Wrt the list above, I really wonder what examples we have where we can send commands to `artist`, `title` and `location` channels - I would suggest to have them al

[2018-05-20 10:13] maxx92 opened #5594 "[digitalstrom]"
I got following error message when trying to remove a "offline" item:

java.lang.NullPointerException: null
	at org.eclipse.smarthome.binding.digitalstrom.handler.BridgeHandler.childThingRemoved(BridgeHandler.java:445) [218:org.eclipse.smarthome.binding.digitalstrom:0.10.0.b1]
	at org.eclipse.smarthome.binding.digitalstrom.handler.SceneHandler.handleRemoval(SceneHandler.java:114) [218:org.eclipse.

[2018-05-20 10:14] maxx92 commented on #5594
Are these numerous headaches coming from the digitalstrom server or from the binding? To compare: my homematic binding works like a charm...

[2018-05-20 16:01] 9037568 commented on #5594
The errors are from the binding, but they could be being caused by something the server is doing wrong (or just differently than the binding expects)

[2018-05-21 09:52] cweitkamp opened #5596 "CME: ConcurrentModificationException in GenericItem"
I run OH2 1281. This version is based on ESH 273. I got some ConcurrentModificationExceptions on items and groups during the day.

[code]
[code]

[2018-05-22 07:46] triller-telekom commented on #3756
I have changed the table in https://github.com/eclipse/smarthome/issues/3756#issuecomment-388822117 as follows:

- artist ( renamed to media-artist), title (renamed to media-title) and location now read-only
- renamed system.control to media-control
- removed step="1"
- removed stop channel since it doesn't have a state
-removed locks since it sometimes locks a setting and sometimes the door. we d

[2018-05-22 09:30] TheNetStriker commented on #4794
I've tried to re-commit my changes using git commit -s, but the errors are still showing. Do I have to submit this in a completeley new pull request? (I did a reset of my commit and commited again with git "commit -am -s" and then pushed with "git push -f")

[2018-05-22 11:02] triller-telekom commented on #3756
@cweitkamp Since you have started this issue, do you agree with the resulting table in https://github.com/eclipse/smarthome/issues/3756#issuecomment-388822117 ?

@lolodomo After discussing the topic with @kaikreuzer I have added the three main weather channels to the table. Given the requirement that we have to have at least 5 existing bindings that share a channel, do you agree with the table abo

[2018-05-22 12:17] maggu2810 commented on #5008
What about 429?
https://tools.ietf.org/html/rfc6585#section-4

[2018-05-22 12:43] cweitkamp commented on #3756
@triller-telekom Thank you very much for your work on this issue. I am currently a little bit busy. I will try to review your table and update the initial post accordingly in the next few days.

[2018-05-22 12:46] cweitkamp commented on #5506
@htreu Yes of course but I am currently a little bit busy. What do you think is the right place to start? Method `QuantityType.format()`?
https://github.com/eclipse/smarthome/blob/b5839c8e835bcc8b519e5d86f61807adb109dae2/bundles/core/org.eclipse.smarthome.core/src/main/java/org/eclipse/smarthome/core/library/types/QuantityType.java#L225

[2018-05-22 13:39] #5596 closed

[2018-05-22 13:42] triller-telekom commented on #3756
@cweitkamp No worries. I have to admit that I "hijacked" your table and all that is left is linked in the aforementioned comment. So you do not have to update your table but rather "just" comment and what you'd like to see changed in it. Thank you!

[2018-05-22 15:18] hsudbrock opened #5600 "Thing type migration ignores thing type properties"
*Context*:
The method `o.e.sh.core.thing.internal.ThingManager.thingHandlerCallback#migrateThingType(...)` permits to migrate a thing from one thing type to another. This is, e.g., used when changing thing types in `o.e.sh.core.thing.binding.BaseThingHandler#changeThingType(...)`.

*Issue*:
The thing type migration currently ignores thing type properties. When, for instance, a thing is migrated to

[2018-05-23 04:02] ikke-t commented on #3031
I have related problem, where HAProxy in front of OpenHAB doing SSL termination and auth breaks paperUI connection. Would you know why this connection does break with proxy?

I debugged it to the state that it seems paper UI sends cookie to client app to authenticate thee rest calls, is it so? However when HAprixy adds authorization header, the cookie is never seen. Thus REST calls fail, and I get

[2018-05-23 08:59] seeers commented on #4130
I found out that my cron rules stop sporadically after running a executeCommandLine
In my case:
```var String meter_payload = executeCommandLine("/home/pi/sml/libsml-master/examples/sml_server /dev/ttyZHeizung", 5000) ```

I "solved" the issue by:
```var String meter_payload = executeCommandLine("cat /home/pi/openhab/heizung.txt", 5000) ```
after running a system cronjob which writes the results o

[2018-05-23 09:46] triller-telekom commented on #5594
@MichaelOchel Can you please have a look at this, since you wrote large parts of that binding? Thanks!

[2018-05-23 12:24] wborn opened #5604 "[Paper UI] ngRepeat:dupes errors in browser console when loading Control page"
ngRepeat:dupes errors are logged in the browser console when the Paper UI Control page (http://localhost:8080/paperui/index.html#/control) is loaded:

![control](https://user-images.githubusercontent.com/12213581/40423846-0d797c52-5e94-11e8-914b-6eb340bece94.png)

See also this [console.log](https://github.com/eclipse/smarthome/files/2030953/console.log).

So far it seems the Control page is still

[2018-05-23 18:57] sjka commented on #5600
No dissent on my side at least. I simply didn't think of the properties defined in thing types when implementing #768. It makes sense though from my point of view. Thanks for creating the fix!

[2018-05-23 19:23] wborn opened #5609 "[Paper UI] 404 Not Found in console when adding discovered Things"
For certain Thing Types a 404 Not Found is logged in the browser console when you add the discovered Things via the Inbox.

This for example occurs with when adding discovered Things of the Astro or LIFX Bindings:

![selection_001](https://user-images.githubusercontent.com/12213581/40446298-0c663112-5ecf-11e8-9141-511035e4ee25.png)

So far there seems to be no loss of functionality.

CC @htreu

[2018-05-23 19:26] wborn opened #5610 "[Paper UI] TypeError: Cannot set property 'configuration' of undefined"
When editing Thing configurations (e.g. of an Astro Thing) a TypeError is logged in the browser console:

![selection_002](https://user-images.githubusercontent.com/12213581/40446494-b4ccd1da-5ecf-11e8-8d88-9790d1e1b225.png)

So far there seems to be no loss of functionality.

CC @htreu

[2018-05-23 21:07] maggu2810 opened #5613 "org.eclipse.smarthome.io.net missing package import"
The bundle `org.eclipse.smarthome.io.net` is using `javax.net.ssl.TrustManager` but don't import the package `javax.net.ssl`.

[code]

[2018-05-23 21:26] wborn opened #5615 "[Paper UI] Control page keeps showing "No Things available""
The Control page in Paper UI shows the message "No Things available" when you navigate to the Control page from any another Paper UI page. When you reload the Control page this message disappears:

![selection_003](https://user-images.githubusercontent.com/12213581/40451923-7a9ac52e-5ee0-11e8-81fc-c40c5037f366.png)

CC @htreu

[2018-05-23 21:52] maggu2810 opened #5616 "deactivated XmlBindingInfoProvider is used sometimes"
Sometimes I see the following message (just need to restart the container a few times):

[code]

The binding itself does not care.

Here a full stacktrace (line numbers of `XmlBindingInfoProvider` are changed because I already added some logging info as this stacktrace has been generated):

[code]

As method `createDocumentProvider` of the `XmlBindingInfoProvider` is using a mandatory reference fo