[2016-12-20 13:45] lolodomo commented on #2655
https://docs.oracle.com/javase/7/docs/api/java/lang/String.html#substring(int,%20int)
You're right, index is starting at 0 and not 1.

[2016-12-20 13:48] m-memova commented on #2655
And I tried the `smarthome:voice say The state is %itemName%` on the console but I got the same message : "Error executing command: bad expression: %itemName%". I did not get the first part of the message.

[2016-12-20 13:57] lolodomo commented on #2655
It looks like %itemName% breaks the Karaf console command and our code is even not reached.

[2016-12-20 13:58] lolodomo commented on #2655
Maybe % has to be escaped ?

[2016-12-20 14:04] m-memova commented on #2655
Thank you, @lolodomo, you are right! It works :-)

[2016-12-20 14:05] lolodomo commented on #2655
How did you escape it ?

[2016-12-20 14:09] m-memova commented on #2655
`smarthome:voice say \%itemName\%`
Now I get an error message that the item does not exist which is also weird, but I will figure it out.

[2016-12-20 16:53] lolodomo commented on #2655
@m-memova : be careful, that is a pattern, so for example if your item name contains a "-", you should escape it.

[2016-12-20 16:56] maggu2810 commented on #2649
@lolodomo WRT commercial use of ESH bundles: If you use one binding for all weather providers and a customer owns only the agreement of one provider (e.g. he pays for) to use that weather data, how could the other ones removed from its product?
Perhaps the data parser itself could be implemented using OSGi services, so one bundle contains the generic implementation and the other bundles contains o

[2016-12-20 17:25] #2614 closed

[2016-12-20 18:15] MHerbst commented on #2673
OK. So it is clear that the virtual item was automatically removed when I unlinked it.

[2016-12-20 21:21] kgoderis commented on #2666
In fact they do, but to illustrate the point I refer to https://github.com/openhab/openhab2-addons/pull/1438/commits/92371d709bdedad874e5b618fd300cac4aa0077d#diff-61210ca0007084deedd3c9378afcb3b2R341 and subsequent channel type definition: they are all generic in the sense that they allow a user to define a channel on a KNX Thing using only a Group Address and some DPT, but they only differ by the

[2016-12-20 23:46] lolodomo commented on #2410
@maggu2810 : I just tried playing the doorbell with my 2 Sonos and it works well without any error in the logs.

[2016-12-20 23:50] maggu2810 commented on #2410
@lolodomo Thanks for testing.
As written above the errors that are displayed in the log has been thrown only if I don't restart the runtime after adding a Sonos device using the PaperUI. So, I started with a fresh / clean environment, added some Sonos devices using the PaperUI and after adding the devices I tried playing an audio file using the command line.
After a restart, so a start with alread

[2016-12-21 09:06] petarnv commented on #2489
A public PR is now submitted - https://github.com/eclipse/smarthome/pull/2687

[2016-12-21 09:29] lolodomo commented on #2609
This issue can probably be closed.

[2016-12-21 09:35] lolodomo commented on #2491
To fix the Sonos binding, I traced all calls to handleCommand with a REFRESH command (meaning called by channelLinked) and I can see only one call per channel at startup.

[2016-12-21 10:00] lolodomo commented on #2649
We can also have very similar bindings, each one with its own code.
In this case, I will first implement the Wunderground Weather binding.

[2016-12-21 10:05] #2609 closed

[2016-12-21 10:06] lolodomo commented on #2649
If we have one binding per provider, I propose to put the API key as a binding parameter. The binding will handle only a location thing type.

[2016-12-21 10:20] lolodomo commented on #2649
And we can copy a large part of the YahooWeather binding. What needs to be specific to each provider is the method updateWeatherData and of course all the getXXX methods to get individual information from the data returned by the provider.

[2016-12-21 10:28] watou commented on #2649
Why not a property of the Thing?  It makes more sense to me to address each weather providing API on its own terms, and supply as many channels as available from that provider, instead of abstracting above them all, and then making exceptions for each.  Over time I've seen many problem reports with the OH1 weather binding where identifying the root cause was more difficult due to the abstractions

[2016-12-21 10:37] lolodomo commented on #2649
We could put the API key on the thing but it is something that is attached to the provider (and so the binding if we decide to have one binding per provider). Putting it on the thing means that the user will have to enter the API key for each thing (location) he wants to define, with no real reason.
The thing type I imagine could even be shared by all weather bindings but I don't think the Eclipse

[2016-12-21 10:40] lolodomo commented on #2649
In fact, the ideal would be an abstract weather binding lol

[2016-12-21 13:33] wborn commented on #2663
The reason I thought about groups is because the [documentation](http://www.eclipse.org/smarthome/documentation/development/bindings/thing-definition.html#channel-groups) immediately mentions *lots of channels*. :-)

When groupless channels can also be dynamic and advanced, I think it would be more consistent to use groupless channels for all LIFX thing types.

Do you mean like what the [Hue bindi

[2016-12-21 15:15] lolodomo commented on #2649
What is the recommended JSON parser and mapper to Java object for Eclipse SmartHome and openHAB 2 ? Is it Google Gson ?

[2016-12-21 15:46] watou commented on #2649
Yes.

[2016-12-21 15:56] lolodomo commented on #2649
Another reason to not re-use 1.x code ;)
So finally I will implement a new specific binding for Weather Underground that will look like the Yahoo Weather binding. This new binding could then be a good start point for other weather bindings that requires JSON parsing.

[2016-12-21 18:27] maikt opened #2692 "IP Cam: Stream will be not closed"
Hi,

this is my first issue and my english is not so good, please sorry for this.

I have a problem with my axis ip camera and the BasicUI. The camera video stream call is inserted into the sitemap with the following lines:
[code]
After starting openHAB 2 it is possible to view the video stream in the BasicUI. But after a few minutes or when I open the site several times, the stream can no longer

[2016-12-21 18:38] watou commented on #2692
Based on another recent report, I think the ProxyServlet is not properly cleaning up HTTP connections.  I will have a look.

[2016-12-21 18:56] jspuij commented on #1848
For anyone bumping into this: The default version in the installer on OSX seems to be Mars. Reinstalling (a.t.m.) Oxygen solved the problem. Maybe this should be a bit clearer on this page: http://docs.openhab.org/developers/development/ide.html. Saves a reinstall.

[2016-12-21 19:42] kaikreuzer commented on #2692
FTR, there is also a report about an OOM exception wrt video, see https://github.com/openhab/openhab-core/issues/56. Might be related as well.

[2016-12-22 09:33] #2680 closed

[2016-12-22 13:45] #2550 closed

[2016-12-22 13:46] danchom commented on #2465
merged #2584

[2016-12-22 13:46] #2465 closed

[2016-12-22 20:10] Nawygator opened #2694 "Problem with rules at startup"
Hey there,
at startup of OpenHab2 there is an issue about rules, that are created by the Rule engine of PaperUI.

[code]
If you disable every rule and then enable them again manually they work fine.
As i saw in the [OH Community](https://community.openhab.org/t/new-rule-engine-startup-rule-initialisation/18622/3), im not the only one with this problem.

Greetings

PS:
Just for Information my curre

[2016-12-22 20:14] kaikreuzer commented on #2694
@danchom The openHAB distro contains the very latest ESH code. I have seen the same effect, the module handlers actually aren't available on a first start.
I think it could be caused by https://github.com/eclipse/smarthome/issues/2413, because I have seen similar exceptions about cyclic service dependencies in my log.

[2016-12-22 23:54] wborn opened #2695 "Basic UI slider skips first item update after using it to change an item"
Basic UI sliders skip the first item update after you use them to change the state of an item.

I can reproduce this issue on the Demo as follows:
1. Open `Widget Overview` in the Basic UI demo
2. Change `Dimmer` to 100 in the Basic UI (move the slider all the way to the right)
3. Enter in the console: `smarthome:update DimmedLight 10`
4. Notice that the icon of `Dimmer` updates but the slider doe

[2016-12-23 07:08] danchom commented on #2694
I'll check the problem.

[2016-12-23 08:36] lolodomo commented on #2669
Closed by merged PR #2686.

[2016-12-23 08:36] #2669 closed

[2016-12-23 08:37] lolodomo commented on #2667
Closed by merged PR #2686.

[2016-12-23 08:37] #2667 closed

[2016-12-23 08:48] lolodomo commented on #2410
Apparently my PR #2410 was unfortunately not enough because you are at least 3 to report the sound notification is still not working with the playbar when the line-in is played.
That is probably a stupid error in my code that I don't see but without the ability to test with a playbar, I forgive and I let someone owning a playbar finishing the work.

[2016-12-23 09:39] danchom commented on #2694
I think the PR #2696 will fix the problem.

[2016-12-23 10:37] watou opened #2697 "JsonStorage uses com.google.gson.internal.* packages"
But they were removed from the OSGi bundle exports [here](https://github.com/google/gson/commit/2016e9553eb946a09a9e70d83d31f4e8da675805) (and not restored [here](https://github.com/google/gson/pull/797#issuecomment-188270672)), so  code [here](https://github.com/eclipse/smarthome/blob/master/bundles/storage/org.eclipse.smarthome.storage.json/src/main/java/org/eclipse/smarthome/storage/json/Proper

[2016-12-23 13:20] Marty56 commented on #2410
Hi lolodomo,
Too sad.
Actually the behavior has changed a bit to the worse side.
If I have watched TV using the spdif interface and also switched off the TV, there is not sound using the say command even though the TV input is not used. It seems the binding is not able to switch to the sound file which was created by the say command.

The binding could switch to the sound file but would not return

[2016-12-23 13:41] cdjackson opened #2698 "Config parameters normalisation not working for thing parameters"
I'm seeing some parameters being stored in the jsondb as a STRING when they are defined as INTEGER.

My guess is that this is happening in the normalisation code. The parameters in question are in the thing config descriptions - not the thing-type.

This is more obvious when using HABmin since HABmin only sends updates to parameters that have changed - if I don't change these parameters, then noth

[2016-12-23 14:11] cdjackson commented on #2698
I confirmed that as the system is only looking for the thing-type config descriptor, it doesn't get the full list of config descriptions and then doesn't normalise all parameters.

[2016-12-23 14:19] MHerbst commented on #2589
I have created a PR (#2699) that solves this problem that is caused by the wrong interpretation of the Accept-Language HTTP header. But the language handling in Paper UI in general seems not to work correct (e.g. the preferences settings seems to be ignored). I will do some further testing and create a new issue for that.

[2016-12-23 15:47] MHerbst commented on #2639
@kaikreuzer For the last two hours I tried do figure out what happens and how to solve it. The method `getTranslatedText` executes `resourceBunde.getString(key)`. This method reads the String from the properties file und converts it from ISO-8859-1 to UTF-8. All non ISO-8859-1 chars (like "ä", "ö", "ü") are replaced by hex values EF BF DB. This combination is an UTF-8 character that means REPLACEM

[2016-12-23 15:54] cdjackson commented on #2591
I've not seen this again recently, so I'll close until it returns ;)

[2016-12-23 15:54] #2591 closed

[2016-12-23 16:01] hakan42 commented on #2639
In my opinion, option three would be the best too. It avoids surprises as by now many developers are accustomed to simply saving everything in UTF-8 and expect this to just work (tm)

Actually, now that you mention this and remind me of it, I have a very similiar class in many of my projects 😄

[2016-12-23 17:46] NorbertHD commented on #2639
äöü are ISO-8859-1 or do you mean ANSI 7-Bit?

The initial problem is, getTranslatedText() uses a getBundle method with a custom resourceClassLoader.
This resourceClassLoader defined in org.eclipse.smarthome.core.common.osgi.ResourceBundleClassLoader
sets the read encoding to UTF-8.
With the current code the language files have to have UTF-8 encoding.
If you want that the language files remain wit

[2016-12-23 18:47] MHerbst commented on #2639
You are right @NorbertHD . They are of course valid ISO-8859-1 but can't be handle if a file is interpreted as UTF_8. Now, with your hints, I understand why the umlauts are replaced by the "question mark".
Thank you for pointing us to the ResourceBundleClassLoader class. I have overlooked this parameter in the call to getBundle and did not see that the files are already read as UTF-8 files. It see

[2016-12-23 19:07] EliasGabrielsson opened #2700 "Add "Digest algorithm SHA256" to support encryption of karaf user passwords"
## Goal:
Enable encryption of karaf users passwords according to [documentation](https://karaf.apache.org/manual/latest/security). Karaf already have a method implemented. Today all user passwords are stored in clear text in `etc/users.properties` file.

## Problem:
Eclipse smarthome does currently NOT include a package for SHA256 calculations.
Errorlog:
[code]
## Solution:
Add package to solve ab

[2016-12-23 20:00] kaikreuzer commented on #2700
I don't assume to ask that this should be implemented in ESH? I would think there are such bundles available for Karaf / JAAS already, right?

So I would think this issue is a matter of the solution that uses Karaf to package what is needed and no change is required in ESH itself. Feel free to reopen, if I miss anything.

[2016-12-23 20:00] #2700 closed

[2016-12-23 20:06] EliasGabrielsson commented on #2700
I think I was unclear. I wonder if the build of ESH could include correct karaf / JAAS package in the base release to enable this feature. Or is it easy to add them later on using karaf directly?

Excuse for my lack of knowledge how this frameworks package manage work.

[2016-12-23 20:10] kaikreuzer commented on #2700
The ESH build builds the source code if ESH, there is no such thing as a Karaf distro of ESH.

What you might be looking for is https://github.com/openhab/openhab-distro.

[2016-12-23 20:15] EliasGabrielsson commented on #2700
Aa. of course. Wrong repo.
Will recreate it over there.

[2016-12-24 01:39] cdjackson commented on #1729
Is this meant to be closed. It looks like it was closed accidentally with a 'fixes part of' statement....

[2016-12-24 14:44] hmerk commented on #2630
Fixed with #2685

[2016-12-24 14:44] #2630 closed

[2016-12-25 17:57] streppelchen opened #2701 "Basic UI - Google Chrome - Colorpicker Handle wrong Position"
I added a Colorpicker item to my sitemap and tried changing the Handle to another position in Google Chrome. The Handle has an offset and i can't move it to the right-hand side of the Colorpicker.

This issue happens only in Google Chrome, i've also tested a current Safari and Firefox 50.1.0 which both work as intended.

I'm using Google Chrome Version 55.0.2883.95 (64-bit) on a Mac.
openHAB 2 bet

[2016-12-25 17:59] kaikreuzer commented on #2701
@resetnow Could you check this?

[2016-12-25 18:16] #2694 closed

[2016-12-26 10:55] lolodomo commented on #2649
The advantage of a specific binding for each provider is that we can provide specific provider data.
I will try to provide a first version of the Weather Underground binding before the end of the year (I have now already something very basic running).

[2016-12-26 12:53] MHerbst opened #2702 "Paper UI Enhancement: add filter and/or grouping options to pages Things and Inbox"
The new search and filter options are really a great usability improvement.
But in the case that the Inbox contains lots of things resp. the list of things is quite large I could imagine the following enhancements:

- Inbox:
  - alphabetic order of discovered things
  - search function
  - filter/group by binding type
- Things:
  - filter/group by binding type
- All pages with lists
  - on optiona

[2016-12-26 14:00] lolodomo commented on #2649
Weather Underground provides icon sets for current weather conditions: https://www.wunderground.com/weather/api/d/docs?d=resources/icon-sets&MR=1
I am already afraid by your possible answer to the next question lol but what would be the correct way to provide this icon in Eclipse SmartHome ?
Shall I provide a channel with the URL ?
Shall I download the different icon sets and include them in Eclip

[2016-12-26 14:15] lolodomo commented on #2649
In case I should consider iconset, should I simply add WU icon set in org.eclipse.smarthome.ui.iconset.classic as wu1-<state>.png for first WU icon set, wu2-<state>.png for second WU icon set, ... ? This would require that I convert original GIF images into PNG (and/org SVG images.

[2016-12-26 14:35] hakan42 commented on #2649
There is a nice project over at https://github.com/ghys/org.openhab.ui.iconset.climacons that provides just icons. I was thinking of using that project as a template to create one of my own that provides the netatmo icons.

Perhaps something like that could be a basis for a seperate "binding" that provides just the icons, as I am not sure what the license situation with the WU icons are and whethe

[2016-12-26 14:56] lolodomo commented on #2649
Do you know if such icon set bundle after deployment (put in addons directory or included in the distro) would be directly available in all UI ? I don't jknow if UIs consider only the classic icon set or all icon set bundles ? @kaikreuzer : you certainly have the answer ?
By the way, I am not sure at all that we have the right to download and provide these WU icon sets in any product ?
But I could

[2016-12-26 15:13] lolodomo commented on #2649
No need to proxy, the icon set provider just needs to open an URL so we could provide the WU URL. The only problem would be the WU icon format (GIF) that is not supported by Eclipse SmartHome ! Would it be easy to add GIF format in Eclipse SmartHome ?

For Netatmo, I could imagine a similar icon set provider. (Note that a mapping could be required).

But still the same question: will such addition

[2016-12-26 15:18] hakan42 commented on #2649
I would expect the icons to be available to any and all consumers (bindings) in the same installation.

And about the gif format, the climacons project has a script inside it that converts some images automatically to svgs. A similiar build step could convert the WU icons to SVG or JPG, and maybe even provide both?

[2016-12-26 15:19] lolodomo commented on #2649
Maybe the mapping should be done in the binding itself.
I could even imagine to use the clamicons provider in the Weather Underground through an appropriate mapping.

[2016-12-26 15:26] cdjackson commented on #2649
Just for completeness, there's another nice weather icons [here](http://erikflowers.github.io/weather-icons/)

[2016-12-26 15:39] lolodomo commented on #2649
@cdjackson : interesting, there is even a proposed mapping for few weather providers including Weather Underground. But that is not clear for me how we could integrate that in Eclipse SmartHome.

[2016-12-26 15:48] cdjackson commented on #2649
Agreed - these are font icons - so they are used in CSS classes and not served up like images - many modern UIs are using them now as they are typically more theme-able… I just thought I’d throw the link into the mix ;)

[2016-12-26 15:49] lolodomo commented on #2649
Reading that page http://www.eclipse.org/smarthome/documentation/features/icons.html#icon-sets, unfortunately, I understand that an icon set cannot be specific to a category of channels but has to cover all standard channel categories. And there is the setting `org.eclipse.smarthome.iconset:default` to choose the used icon set.
My understanding is then that Eclipse SmartHome uses a unique icon set

[2016-12-26 15:55] lolodomo commented on #2649
... and this would require to define a new system channel with a list of accepted values.
Where are defined the system channels ?

[2016-12-26 16:07] watou commented on #2649
Unless Wunderground explicitly licences their icons to be freely repackaged into something like openHAB, I would assume that doing so is forbidden, even when converted to another format.

[2016-12-26 16:21] hakan42 commented on #2649
Well, the fonts are stored as one huge SVG file as well, so maybe some tool could be found / created that extracts each icon into its own SVG files. And then, we would be at the current setup, right?

[2016-12-26 16:28] lolodomo commented on #2649
@watou: in this case, using these WU icon sets in Eclipse SmartHome would require several prerequisites/enhancements in Eclipse SmartHome:

1. support of GIF icon format in Eclipse SmartHome
2. defining a new system channel for weather conditions with a pre-defined list of values
3. support the selection and the usage by UIs of several icon set providers at the same time, for example "classic,wu1"

[2016-12-26 17:00] watou commented on #2649
If starting with GIF, it would make sense to convert to PNG, since both are lossless raster format, and optionally allow transparency.  That's assuming one has the license to use the source images that way.  One would not satisfyingly convert raster icons to vector (SVG) format in any case.

Would it not make sense to simply add more icons to the existing icon sets that represent "rain", "clouds,"

[2016-12-26 17:06] lolodomo commented on #2649
Checking a little more the existing code relative to icon sets, it looks like we use the CustomIconProvider which already provides additional icons (icons put by the user in conf/icons/classic).
So we could certainly update CustomIconProvider to additionally look for particular WEB icons.
But the icon format provided by WU would remain a blocking problem to use WU icons.

[2016-12-26 17:13] lolodomo commented on #2649
@watou: you're right, that would be an easy solution to create our own icons with the same looking as those already existing in the classic icon set, nothing to change except creating icons ... but then we need an icon designer because I have no skill for that !

[2016-12-26 17:21] watou commented on #2649
I would almost expect that there is a license-friendly set of weather icons out there (in SVG or PNG) that can be incorporated into the codebase.  Of course it's easy to say, less easy to track down and verify. :smile:  Maybe ask the kind person(s) who contributed the icons so far if he/she has any suggestions?

[2016-12-26 17:22] lolodomo commented on #2649
Or we could just put inside the classic icon set the icons from the clamicons ? That is not really the same look but at least they are already available in an openHAB subproject.
But my understanding is that we cannot integrate this bundle directly in Eclipse Smarthome and use it in addition to the classic incon set.

[2016-12-26 17:27] cdjackson commented on #2649
The weather icons I linked above are licensed under MIT so should be compatible with EPL. As suggested by @hakan42, maybe it’s possible to convert the format...

[2016-12-26 17:29] lolodomo commented on #2649
Ckmacons are available here http://adamwhitcroft.com/climacons/ and I see no problem to re-use them in an open sourced project. So we could add them in the classic icon set with the appropriate script to convert them in PNG format

[2016-12-26 17:38] cdjackson commented on #2649
You can’t use them in any “open source” project as they are not for commercial use. My reading is that this means they aren’t compatible with some licenses such as EPL/MIT/Apache, and is probably more inline with GPL. It also states that you can’t redistribute them, so this might be a killer as I assume you would want to package them into openHAB and then distribute them as part of OH....

[2016-12-26 18:55] J-N-K opened #2703 "DMX binding in ESH"
Feature Request: A DMX binding should be included in ESH.

[2016-12-26 19:59] kaikreuzer commented on #2702
Sounds all like useful enhancements to me.
@aounhaider1 It probably makes sense to split it up in several PRs. Feel free to decide, what might be a quick win (like sorting inbox entries) and which might be a bigger refactoring (e.g. introducing filtering on other lists than items).

[2016-12-27 16:31] MHerbst opened #2705 "Paper UI Enhancment: Add an About / Info page"
I think especially for new users it is not so easy to find out the current version of Smarthome / openHAB ... and the correct places where he can ask for help.

Also the support very often needs information like the tool's version number, Java version, Operation System, browser.

Therefore I think it would be good to have one page with all relevant information:

- version of Smarthome and/or versi

[2016-12-27 19:51] MHerbst opened #2706 "Basic UI: automatic update of newly added items requires restart"
Tested with build 675 on Raspberry and a Chrome Browser.

After adding new items (a frame with3 items) to a sitemap the newly added items are note updated automatically. Only a browser refresh updates these item. Older items contained in another frame were automatically updated.
After a restart all items were properly updated. It seems that a restart is necessary to enable the automatic update of

[2016-12-27 19:54] MHerbst opened #2707 "Paper UI Enhancement: Add "copy to clipboard" button to item list"
The list of channels contain a button
![image](https://cloud.githubusercontent.com/assets/616792/21507177/62ba84ec-cc76-11e6-9cc6-c44b3c0919c7.png) that allows to copy the channel name to the clipboard.
The same function would also be helpful for item names. Especially when adding new items to a sitemap this function would make it easier to copy/paste the item names.

[2016-12-28 09:13] querdenker2k opened #2708 "Cron-Rules and Timers not executed with default threadCount"
My Cron based rules and timers are not executed with the default threadCount. Just when i increase the threadCount they are executed. Even in the log with org.quartz is nothing to see with the small threadCount.

[2016-12-28 09:26] lolodomo opened #2709 "Sonos binding: the sound notification mechanism should not parse the queue content"
The sound notification mechanism is parsing the queue content just to know how many items are in the queue and then add the new item at the end of the queue. This parsing could take a huge amount of time in case you have several thousands of items in your Sonos queue. By the way, this parsing is useless, you can add an entry at the end of the queue without knowing how many items are in the queue.

[2016-12-28 09:40] lolodomo opened #2710 "Sonos binding: SonosXMLParser.getEntriesFromString produces warnings"
It has been reported that SonosXMLParser.getEntriesFromString run by the binding when scanning the queue content (while a sound notification is played) produces several warnings due to metadata fields that are not considered. These fields are at least narrator and albumArtist.

[2016-12-28 09:51] lolodomo commented on #2710
Maybe the warning log should be replaced by a DEBUG log ?

[2016-12-28 10:49] kgoderis commented on #2710
Possibly, I think it was like it is to facilitate reverse engineering efforts. Pls feel free to improve this.

[2016-12-28 11:32] lolodomo commented on #2709
Is there any reason to insert the notification sound at the end of the queue ?
I think we could insert it "as next" in the queue and retrieve as result of the insert call the inserted position.
Like that, no need at all to parse the queue content to play a sound notification.

[2016-12-28 12:58] kaikreuzer commented on #2707
@aounhaider1 Could you add this?

[2016-12-28 13:00] kaikreuzer commented on #2705
Why would you think that the Paper UI is the right place for this? After all, it is one (optional) UI out of many.

For openHAB users, wouldn't the dashboard itself be the better place? This already contains the link to the online documentation, which in turn refers to the support forum, issue trackers, etc.

[2016-12-28 13:23] watou commented on #2707
Would it be possible and a good idea to copy a complete definition to the clipboard as one could paste into a .things or .items file, as an easy way to switch from UI definitions to DSL?

[2016-12-28 14:27] MHerbst commented on #2705
Your are absolutely right. The last days I have worked quite a lot with the Paper UI so only thought of it.

The most important thing of this enhancement is that we need some additions to the REST API that make the information available.

I agree, for openHAB users the dashboard is definitely the better place.

[2016-12-28 14:28] kaikreuzer commented on #2707
@MHerbst I assumed you are requesting this for the item list, but having re-read your description, I am not sure if this is your idea. Do you ask to have a second "copy" button on the channel links, next to the already existing one? That would probably rather be confusing.

@watou: Note that the Paper UI is agnostic of any DSL syntax.

[2016-12-28 14:44] MHerbst commented on #2707
@kaikreuzer Your first read was correct. I only mentioned the buttons on channel links as an example.

[2016-12-28 14:48] kaikreuzer commented on #2705
The REST API already exposes its version. For all the rest, I assume that the content is very solution specific and you might not even want to expose it on the REST API (note that the dashboard is a servlet, which can easily include information without requiring it being available through REST).

I'd therefore suggest to close this issue and rather open one for the openHAB Dashboard at https://git

[2016-12-28 14:48] #2705 closed

[2016-12-28 15:08] kgoderis commented on #2709
I have no clue, I did not contribute that code. but the approach you suggest might be more sensible

[2016-12-28 16:32] watou commented on #2707
The solution (OH2) could provide a serializer that overrides the default format for objects copied to the clipboard, as a means of providing a useful feature while ESH remains agnostic to the text format copied.

[2016-12-28 16:56] hakan42 opened #2712 "[PaperUI] Show Items even if Item Linking is "simple""
The paperui shows the item lists if the item linking option is not switched to "simple".

This list is so useful that I find myself always turning simple item binding to off, until I have to configure a new binding. Then I switch it to simple again for a short time.

Perhaps the list of Items could be always visible, and in a "read only" mode unless that option is switched to simple? Meaning, inst

[2016-12-28 17:55] MHerbst commented on #2705
OK

[2016-12-28 18:34] Andirs55 opened #2713 "Basic UI: Visibility for frames"
As mentioned in the [forums](https://community.openhab.org/t/sitemap-visibility-features-are-gone-for-frames/15586/5) the visibility feature for frames do not work (anymore).

Example Sitemap:
[code]

If the Mediaserver_Switch is OFF the text items are invisible,but the empty frame remains.
In older versions it went invisible as well.

[2016-12-28 19:02] MHerbst opened #2714 "Basic / Paper UI: locale are not taken into account when formatting e.g. decimal values"
Decimal values are always formatted with the default locale. A different default locale set in the configuration file or in Paper UI under Configuration/System is ignored.

One example is method `format` of class `org.eclipse.smarthome.core.library.types.DecimalType`: this method calls several times `String.format` but in all calls the _locale_ parameter is missing and thus the default locale of t

[2016-12-28 19:37] watou commented on #2714
The string format of Commands and States should not be variable by locale.  Locale should matter at the UI layer, though.

[2016-12-28 20:00] MHerbst commented on #2714
@watou I agree with you.

I thought that the "format" methods of the different type classes are only called in the UI context to format the strings according to label definitions of items resp. in sitemaps.

[2016-12-29 03:51] arstorey opened #2715 "PercentType to DecimalType conversion inconsistent after recent state conversion logic changes"
Conversion of a PercentType representing 0%-100% to a DecimalType should return a DecimalType in the range of 0.0 to 100.0 rather than latest behavior of 0.0-1.0 (a breaking change for anything displaying a PecentType value using a NumericItem with a format string to control the number of decimal places).  This change also does not round-trip between the type types.  For example, the current snaps

[2016-12-29 08:50] lolodomo opened #2716 "Documentation: label and description for a channel"
I discovered looking at the XSD that it is possible to define a label and a description for a channel. It is something not yet documented and I thought it was simply a missing feature.
Documentation only mentions the label and the description XML tags on the channel type, not on the channel.

[2016-12-29 08:55] lolodomo commented on #1497
Looking at the XSD it seems that it is already available.
To be checked whether Paper UI considers or not this attribute correctly.

[2016-12-29 09:03] lolodomo opened #2717 "Thing definition: accept a label and a description for a channel group"
Like for the "channel-type", it should be possible to define an optional label and an optional description for the "channel-group-type".
The XSD has to be updated and Paper UI has to be updated to consider these "properties".

It would make channels in Paper UI clearer for certain bindings like the astro binding.
https://github.com/openhab/openhab2-addons/issues/1520

[2016-12-29 09:53] lolodomo commented on #2716
I think it should be enhanced in this two places:
https://github.com/eclipse/smarthome/blob/master/docs/documentation/development/bindings/xml-reference.md
https://eclipse.org/smarthome/documentation/development/bindings/how-to.html

[2016-12-29 10:16] lolodomo commented on #2649
https://eclipse.org/smarthome/documentation/development/bindings/thing-definition.html

We already have the following channel categories:

- Humidity
- Pressure
- Rain
- Temperature
- Wind

That looks OK for me, I think we can use "Rain" even for snow.

Then I can propose to create the following system channel types:

- system.temperature-celcius => Number, read only, category Temperature, pattern

[2016-12-29 10:43] watou commented on #2649
celsius :slightly_smiling_face:

[2016-12-29 11:11] lolodomo commented on #2649
Fixed in my message ;)

[2016-12-29 11:30] lolodomo commented on #2649
I took a look to the channel types defined by the netatmo binding and lot of them could be replaced by the system channel types I propose just above. The only difference I found is the pattern for the pressure channel type. I propose "%d hPa" while the netatmo binding is defining "%.1f hPa". Usually I see the pressure without a decimal value.

[2016-12-29 11:34] lolodomo commented on #2649
I just took a look to the YahooWeather binding and the 3 channel types defined by this binding could then be replaced by the system channel types I proposed.
One time again, the pattern for pressure is "%.1f hPa" in the YahooWeather binding. So maybe that is the pattern to be used for pressure.

[2016-12-29 11:34] cdjackson commented on #2649
I would suggest to use %.1f in general. I would also use these channel in the Meteostick binding.

[2016-12-29 11:47] lolodomo commented on #2649
Ok, I took a look to the Meteostick binding and they could be used. Just few differences:

- Pattern "%.1f hPa" for Pressure => so ok we definitevely define this pattern for the system channel type
- Pattern "%.0f °" rather than "%d °" for the wind direction
- Pattern "%.2f m/s" for the wind speed => Is it a common unit for wind speed ? Is it miles per second or meters per second ? I could add ano

[2016-12-29 11:51] cdjackson commented on #2649
Agreed.

Fine with me.

It’s meters per second - I think it’s quite common.

It’s quite common. Most rain sensors read with a precision of 0.3mm or better. Again, I think it’s better to keep precision than to loose it.

[2016-12-29 11:52] cdjackson commented on #2649
For wind speed - I don't mind converting to another unit, although meters/second is quite common.

[2016-12-29 12:22] watou commented on #2649
The U.S. uses inches of Mercury (inHg) as the common unit for barometric pressure, so I suggest having two system channels, one for SI and one for Imperial.  InHg should probably have three digits of precision.

[2016-12-29 12:22] lolodomo commented on #2649
Updated list:

- system.temperature-celsius => Number, read only, category Temperature, pattern "%.1f °C"
- system.temperature-fahrenheit => Number, read only, category Temperature, pattern "%.1f °F"
- system.humidity => Number, read only, category Humidity, pattern "%d %%"
- system.pressure => Number, read only, category Pressure, pattern "%.1f hPa"
- system.wind-mph => Number, read only, categor

[2016-12-29 12:24] watou commented on #2649
If there are decimals, `%d` will throw an exception, so it's a good idea to use `%.0f` anywhere there is a BigDecimal which could conceivably have decimals.

[2016-12-29 12:28] lolodomo commented on #2649
Updated list:

- system.temperature-celsius => Number, read only, category Temperature, pattern "%.1f °C"
- system.temperature-fahrenheit => Number, read only, category Temperature, pattern "%.1f °F"
- system.humidity => Number, read only, category Humidity, pattern "%d %%"
- system.pressure-hPa => Number, read only, category Pressure, pattern "%.1f hPa"
- system.pressure-inHg => Number, read only

[2016-12-29 12:32] cdjackson commented on #2649
For completeness, there was a discussion a while back about measurement systems (https://www.eclipse.org/forums/index.php/t/1068864/ <https://www.eclipse.org/forums/index.php/t/1068864/>). I’m just wondering if adding loads of channels for the same parameter, but different units, is the best approach?

[2016-12-29 12:36] watou commented on #2649
Your updated list looks good now.  Might want to add `, min="0", max="100"` to humidity.  Also wonder whether `system.relative-humidity` would cut off future "complaints" of confusion between absolute and relative humidity.  And just checking that snow is measure in centimetres usually (not arguing against, just checking).

I think that either ESH gets a units system (see #1857), or the system cha

[2016-12-29 12:43] cdjackson commented on #2649
1) Yes - relative humidity - we probably should also have absolute humidity, but then there’s probably at least 2 options for unit…
2) I’d personally prefer a proper system for handling units so that it’s handled centrally. I suspect in the longer run, having dozens of channels is going to be a mess. we really want 1 ‘temperature’ channel, and then a method to set/read it in different units and le

[2016-12-29 12:52] lolodomo commented on #2649
Updated list:

- system.temperature-celsius => Number, read only, category Temperature, pattern "%.1f °C"
- system.temperature-fahrenheit => Number, read only, category Temperature, pattern "%.1f °F"
- system.relative-humidity => Number, read only, category Humidity, pattern "%d %%", min="0", max="100"
- system.pressure-hPa => Number, read only, category Pressure, pattern "%.1f hPa"
- system.press

[2016-12-29 12:55] lolodomo commented on #2649
Of course the RFXCOM binding could have used these system channels too.

[2016-12-29 12:55] watou commented on #2649
Agree, as long as openHAB can 1) allow the use of SI and non-SI units per channel (not systemwide), and 2) a single binding can publish values in multiple units (for example, the Nest API publishes all temps in both C and F, and I would want the binding to be able to have channels for both values instead of having the system convert one to the other.)  My "production" OH server manages items in bo

[2016-12-29 12:58] lolodomo commented on #2649
The Weather Underground Service provides values in the different units so my idea was to have one channel for each unit that just maps the provided value.

[2016-12-29 13:14] lolodomo commented on #2649
So I think we could already add these system channels (per unit) and later, when the Quantity item type is available, add other system channels that are not dependent on unit and attached to item type Quantity ?
Is it acceptable for all of you ?

[2016-12-29 13:19] cdjackson commented on #2649
I’m not sure it’s a good idea (sorry). I can understand why you suggest it, but in the longer term it would mean we have loads of system channels and most will not be used/required, and I suspect we have a backward compatibility issue.

In my mind, the big question is _IF_ the support for units and conversions will be added any time “soon” - if so, then we should wait. If not, then maybe we should

[2016-12-29 13:28] tiktok7 opened #2718 "take over createTimerWithArgument functionality from openhab"
In Openhab, ScriptExecution.java was updated like [this](https://github.com/openhab/openhab/pull/1436/files) in 2014 to allow an extension to the createTimer syntax that allows a parameter to be supplied to the timer function. This was apparently not fed back to the equivalent smarthome source [file](https://github.com/eclipse/smarthome/blob/master/bundles/model/org.eclipse.smarthome.model.script/

[2016-12-29 13:32] lolodomo commented on #2649
As @watou and I mentioned, we have services that published the values in different units. In this case, we don't want to use a system channel that will convert between the units, we just want to provide the value as it is sent by the provider. If the system channels are not defined, these bindings will define specific channel types and will not use the system channels.
But I don't really see what

[2016-12-29 13:36] lolodomo commented on #2649
@hakan42 : did you study the ability to extract individual icons from the big SVG file ?

[2016-12-29 13:39] cdjackson commented on #2649
My comment about backward compatibility was simply that if we add lots of channels now, then add more channels later, and remove the ones we add now, then we have a compatibility issue. I agree with @watou - we probably shouldn’t have both systems.

Providing the developer with options is fine - the problem is that it means the USER ends up not knowing what to do - there will end up being around 2

[2016-12-29 16:16] kaikreuzer commented on #2713
@resetnow Could you have a look, please?

[2016-12-29 16:20] kaikreuzer commented on #2712
No, the whole idea of the simple mode is that the users does not have to KNOW at all about the existence of items - hence showing them would be counter productive.
The question is rather, if you are working with items, what are you missing in advanced mode that makes you switch back to simple mode at all?

[2016-12-29 16:20] #2712 closed

[2016-12-29 16:21] #2707 closed

[2016-12-29 16:55] hakan42 commented on #2712
Mainly, I haven't found an easy way to determine the proper channel definition for a given item. I switch to simple, klick on the linkong button on the thing view, see the auto-generated item name and can deduct what the channel string must look like.

Mostly, I need this for auto-discovered things or bindings I am not that familiar with.

Admittedly, reading the documentation of a given binding m

[2016-12-29 17:33] MHerbst commented on #2712
I think you can also get the information via the Rest APi. If you instslk the Rest Add-On you can execute API  calls from the Browser.

[2016-12-29 17:37] kaikreuzer commented on #2712
Hm, isn't this very straight forward? The channel UID is displayed by the Paper UI and it even offers a "copy to clipboard" icon next to it, so that you can easily use it to link your items:

<img width="274" alt="screen shot 2016-12-29 at 18 35 22" src="https://cloud.githubusercontent.com/assets/3244965/21549880/c6372694-cdf5-11e6-8258-4203b9977992.png">

[2016-12-29 17:50] hakan42 commented on #2712
Hmmm... Sorry, temporary blindness on my part. I guess I stared so often at the Paper UI that I simply stopped seeing that part. I'll try to add a sentence or two to the "Items" section of the documentation .

[2016-12-29 18:09] hakan42 commented on #2649
@lolodomo sorry, not yet, as I am away from my computer. I can just follow github emails from my mobile for the next werk or so...

[2016-12-29 18:26] hakan42 commented on #2649
Could we perhaps add UV Irradiance (or "Intensity") as a weather specific information item? Units would be "%.1f μW/cm²" or ""%.1f W/m²" if we go with the base SI units.

Any providers of this information could then convert this to the UV Index: https://en.wikipedia.org/wiki/Ultraviolet_index , https://en.wikipedia.org/wiki/Irradiance

I imagine my OH system playing the "Sunscreen Song" if I want

[2016-12-29 21:35] lolodomo commented on #1497
I can confirm 2 things:
- you can define an "advanced" attribute for a channel-group-type
- this attribute is ignored by Papar UI

[2016-12-29 22:06] lolodomo commented on #2716
I just proposed a fix for the documentation inside Git repository.
I imagine that the documentation inside Eclipse SmartHime WEB site will then be updated either by an automatic or manual action (https://eclipse.org/smarthome/documentation/development/bindings/xml-reference.html) ?

[2016-12-30 07:17] lolodomo commented on #1497
Can someone points the source file in charge of displaying the channels in Paper UI ?

[2016-12-30 07:49] rtvb opened #2721 "Basic UI and classic UI not updating at all"
## Problem

Basic UI not updating my RFXCOM and ntp items.

I have configured the RFXCOM 2.0 binding and ntp

Items are updating/changing in the console (`log:tail`)

Tested browsers:

- Safari Mac
- Chrome Mac
- Eclipse Smarthome Designer browser

## Expected result

Automatically updating the UI in any browser

## Setup

- OH2 beta 5
- For testing purposes, I have removed nearly all other bindin

[2016-12-30 08:41] kaikreuzer commented on #2721
I cannot confirm this issue - it is all working well.

Tested with the demo package and ran a
[code]
on the console. Both UIs updated nicely in Chrome. I'd suggest you ask for support at https://community.openhab.org/ as it seems to be a probem with your personal setup.

[2016-12-30 08:41] #2721 closed

[2016-12-30 08:46] kaikreuzer commented on #2716
Correct, I update that manually from time to time.

[2016-12-30 09:41] lolodomo commented on #2717
It implies mainly:

1. adding a label and a description field to the class ChannelGroupDefinition
2. updating the XSD and the XML loading
3. updating in few places where ChannelGroupDefinition is used to handle properly the new fields
4. maybe updating Paper UI ?

Do I miss something ?

I can certainly take in charge the first 3 points.

Can I have an agreement for this change ?

[2016-12-30 09:46] lolodomo commented on #2649
@hakan42 : the Weather Underground service provides an UV value that is set to -1 when I checked it (the evening/night). Is it a normal value ? Any idea what is the range for the UV index ?
We could add a channel type for the UV index too.

[2016-12-30 09:53] lolodomo commented on #2649
Looking at the wikipedia page, it looks like the minimum value is 0.0. So I should probably consider a value "-1" as an unknown value.

[2016-12-30 10:42] lolodomo commented on #1497
The issue could be in the following JavaScript function that does not consider the advanced property on the group itself:
https://github.com/eclipse/smarthome/blob/e04e30e682d60c14f311a642fa2f61eaea31f36f/extensions/ui/org.eclipse.smarthome.ui.paper/web-src/js/services.js#L439

[2016-12-30 10:44] kaikreuzer commented on #2649
If we define new channel categories, existing icons sets should be extended to cover these, yes.

No, we only need to define new channel categories.

👍 A lot of sense! Note that the idea of iconsets is that all their icons should follow a common look&feel. So ideally, we have icons designed by @reitermarkus (he is the wizard that created the classic icon set!) for any new category that we want to

[2016-12-30 11:17] lolodomo commented on #2649
@kaikreuzer : as my Weather Underground binding should be ready in the following days, is it possible to push it in the openHAB 2 release ? I am sure lots of users will be happy.

Then later, when the #1057 will be merged, I will update the binding.
By the way, as already explained, Weather Undergeound is providing the different units. Using the internal unit conversion system could certainly lead

[2016-12-30 11:52] kaikreuzer commented on #2708
Can you provide more details / examples on how to reproduce it?

[2016-12-30 12:57] mhilbush commented on #2649
@lolodomo  I'd be interested in testing this when it's ready -- either in the distro, or as a jar I can drop into addons.

[2016-12-30 14:07] lolodomo commented on #2649
@mhilbush : I will push my work in my Git fork and then submit a PR. I don't know if the PR will be merged or not but at least my binding will then be available to anybody. I will also put the jar file somewhere for downloading and communicate the link.

[2016-12-30 20:31] J-N-K commented on #2715
I can't see from the code why that should happen. Can you provide a short example to reproduce that?

[2016-12-31 15:54] #2538 closed

[2017-01-01 10:33] lolodomo commented on #2649
My current work is available here: https://github.com/lolodomo/smarthome/tree/wu/extensions/binding/org.eclipse.smarthome.binding.weatherunderground
I will probably push a request today.

For the about.html, where can I get the reference file ? I copied the file from the YahooWeather binding, **updated the date** and of course the part relative to third-party services. Is it the right way to provi

[2017-01-01 10:56] lolodomo commented on #2649
Yes, you can enter a PWS too. Just enter "pws:XCLOXXXI4" in the location setting. Take a look at my README.md file.

[2017-01-01 10:59] lolodomo commented on #2649
Interesting, I started again (using lat,lon) and this time I got another station.
For the same lat/lon, WU does not always provide the data for the same station ?

[2017-01-01 11:05] hakan42 commented on #2649
Nice, I logged in to wunderground to obtain an API key and search for a provider for my location, and it promptly offers me my own netatmo station 😄

I guess I have to search a bit more to find an "official" station

[2017-01-01 11:09] lolodomo commented on #2649
@hakan42 : I don't know if there is a way to identify and request professional stations ?

[2017-01-01 11:22] hakan42 commented on #2649
I am looking over the web interface but did not find anything yet. The netatmo devices seem to have "netatmo" as their "software" tag, but I could not find this information in the response json.

All I could imagine right now would be to differientate between "airport" and "pws" nodes in the response.

[2017-01-01 11:29] lolodomo commented on #2649
The final question is how to identify a reliable and professional station.
I was surprised to see the "netatmo network" available in WU. I should compare the stations map from Netatmo and WU to check if all netatmo stations appear in WU.

[2017-01-01 11:45] hakan42 commented on #2649
http://help.wunderground.com/knowledgebase/articles/838122-how-do-i-link-my-netatmo-station-with-weather-unde

"Due to a recent partnership between Weather Underground and Netatmo, weather data from all Netatmo stations that are registered through Netatmo appear on Weather Underground."

I read a few blog entries from people complaining about all the noise coming in from the badly calibrated netat

[2017-01-01 19:16] querdenker2k commented on #2708
I used the nightly SNAPSHOT which was the newest 4 days ago. Before i updated i used an older version of OH2 but there everything worked (all crons and timer rules). After updating to the nightly build the crons and timers did not work. There had not been executed. After updating to Beta5 i found out that the cron rules are not working when they have spaces in the rule name like "Test Test". This

[2017-01-01 20:53] kaikreuzer commented on #2482
This rather seems to be an issue with the Z-Wave binding, not a general issue with the Basic UI, which in correctly updates, if there is a state update event.

[2017-01-01 20:53] #2482 closed

[2017-01-01 21:08] arins commented on #2482
No I don't agree because openhab Android app and classic web interface works just fine with same openhab instance. The gui is always up to date and also responds when switch is changing state. But maybe the binding s reporting something wrong when state is changing?

[2017-01-02 08:49] kaikreuzer commented on #2482
Well, you should first investigate if you have an issue with the binding or with a specific UI.
UIs can (and should!) all be tested completely independent of any binding. Simply issue state updates on the console (`smarthome:update <itemname> <newstate>`) and see what happens.

[2017-01-02 09:17] kaikreuzer commented on #2620
As all works as designed, I have updated the title of this issue that documentation still needs to be added for this.

[2017-01-02 09:20] kaikreuzer opened #2725 "change url of Paper UI from /ui to /paperui"
For consistency reasons, I would suggest to change the url of the Paper UI from /ui to /paperui, as we also have /classicui and /basicui.

@maggu2810 & @sjka, are you ok with such a change (seeing that it might potentially break existing documentation or clients)?

[2017-01-02 11:33] #2710 closed

[2017-01-02 11:35] #2716 closed

[2017-01-02 11:52] maggu2810 commented on #2725
It will break something (at least for me), but I agree that it makes sense and should be done (rather sooner then later).
I am ok with such a change.

[2017-01-02 12:39] maggu2810 opened #2726 "sounds directory"
The sounds directory needs to be placed under the configuration directory (e.g. conf/sounds).

* `static final String SOUND_DIR = "sounds";`
* `File soundsDir = Paths.get(ConfigConstants.getConfigFolder(), AudioManager.SOUND_DIR).toFile();`

The doorbell mp3 is currently placed in `distribution/smarthome/runtime/sounds`.
If the SmartHome launch configuration is used it will look for sounds into `d

[2017-01-02 12:44] kaikreuzer commented on #2726
Imho, it can be moved safely to conf. That has been changed in the openHAB distro, but I missed that file here in ESH.

[2017-01-02 13:00] BClark09 commented on #2725
Is it worth making /ui redirect to a default? This could be set as paperUI initially and then the capability to set it can come later.

[2017-01-02 13:05] kaikreuzer commented on #2725
I think this would be up to the solution to decide whether it wants to introduce such a redirect.

[2017-01-02 13:42] maggu2810 commented on #2725
I agree with @kaikreuzer that such a redirect is something that should be placed in the resp. solution / product.

[2017-01-02 16:45] #2726 closed

[2017-01-02 19:35] MHerbst commented on #2639
@kaikreuzer  There are about 50 i18n/*properties in the smarthome and openhab2 repositories. If you agree with changing the encoding to UTF-8 I would perform the necessary changes and create two PRs.
I would also check the new bindings that are waiting for review.

[2017-01-02 21:36] kaikreuzer commented on #2639
Sorry for not having followed up on this since christmas!

@NorbertHD Good catch indeed! I also never noticed the ResourceBundleClassLoader, which indeed is the culprit here that we were looking for.

I am not yet totally convinced. The other very simple option would be to change ResourceBundleClassLoader from UTF-8 to ISO-8859-1 it is only used to read *.properties files from i18n folders, so thi

[2017-01-02 21:48] resetnow commented on #2701
I can't reproduce this on Linux with Chrome 55.0.2883.87. Can this be a MacOS-specific Chrome bug? Could you please try with Chrome Canary?

[2017-01-02 21:53] hakan42 commented on #2639
Maybe we should add an .editorconfig file to the repo. Many editors support this, and eclipse and intellij have native support for it.

That way, we define once and for all time what encoding the property files should have  (which should be iso-8859-1 as this is what java natively expects).

I believe we have an editor config file in the docs project, if not, I can provide a pull request tomorrow

[2017-01-02 21:58] kaikreuzer commented on #2639
According to http://editorconfig.org/#download, you need a plug-in for most IDEs (with the exception of IntelliJ) - so while the idea is neat, it might not solve the issue (because if people know that they need a plugin, they could also know that they need to use UTF-8 encoding).

[2017-01-02 22:40] MHerbst commented on #2639
@kaikreuzer I understand your concerns. No matter what encoding we will choose, there will be problems.
I especially don't like the idea of an additional plugin only to ensure the correct  encoding.

I am not absolutely sure but maybe its possible to allow both encodings and detect dynamically the used encoding. I will check this. If it is possible we would onlsy have to modify the ResourceBundleC

[2017-01-03 08:15] sjka commented on #2725
👍
As far as I can tell we are okay with such a change.

[2017-01-03 08:20] kaikreuzer commented on #2639
Did you check which encoding most of the 50 files have today? As all of them were created through Eclipse, I would actually expect them all to be ISO-8859-1. So there wouldn't really even be the need to do an automatic check for the encoding.

[2017-01-03 08:38] arins commented on #2482
I will try that and come back with results.

[2017-01-03 08:53] crnjan opened #2729 "BasicUI does not map option values while PaperUI does"
I have a binding with one of the channels defined as below:

    <channel-type id="lastErrorCode">
        <item-type>String</item-type>
        <label>Last error information</label>
        <category>Error</category>
        <state readOnly="true" pattern="%s">
            <options>
                <option value="0">Sensor radiator return (GT1)</option>
                ...
                <option

[2017-01-03 09:10] MHerbst commented on #2639
@kaikreuzer Your assumption is correct. I made a quick check and all files were using ISO-8859-1. There is at least one binding (hue) that uses unicode constants.
To define that all i18 properties files must use ISO-8859-1 would be easiest solution and we probably don't need the ResourceBundleClassLoader any longer (it is only used by LanguageResourceBundleManager and a Groovy test).

[2017-01-03 09:13] kaikreuzer commented on #2639
I think we would still need the ResourceBundleClassLoader, but we could change it to read ISO-8859-1 from now on.

[2017-01-03 09:16] kaikreuzer commented on #2639
It actually even already tries to be clever and identify the encoding (in method `detectCharset`) - so we should only add ISO to the list of supported charsets.

[2017-01-03 09:41] shankarkalmade opened #2730 "Unable to build ref-0.9.0.b2"
I cloned master and checkout to specific tag ref-0.9.0.b2 and then i tried mvn clean install

.
.
.
[INFO] Computing target platform for MavenProject: org.eclipse.smarthome.test:org.eclipse.smarthome.test:0.9.0.b2 @ /home/shankar/Documents/esh_clone/smarthome/bundles/test/org.eclipse.smarthome.test/pom.xml
[INFO] Fetching p2.index from http://download.eclipse.org/tools/orbit/downloads/drops/R20140

[2017-01-03 09:43] MHerbst commented on #2639
@kaikreuzer That's the fastest way to solve it :-). I have tried it and it looks good. I will do some further tests and then create a PR.
What do you think about adding a hint regarding the encoding to the documentation (https://www.eclipse.org/smarthome/documentation/features/internationalization.html)?

[2017-01-03 09:56] kaikreuzer commented on #2639
Sure, if you could add that in your PR, it would be great. (Note, the source file of the documentation is [here](https://github.com/eclipse/smarthome/blob/master/docs/documentation/features/internationalization.md).

[2017-01-03 09:59] MHerbst commented on #2639
Of course, I will chnange the doc, too.

Tests are looking good. It even works with properties files that are using Unicode constants.

[2017-01-03 10:20] kaikreuzer commented on #2730
Should be solved as soon as #2732 is merged.
The easy workaround for you is to remove the reference to unit-api and unit-ri in the smarthome.target file.

[2017-01-03 10:25] rtvb opened #2733 "OH2 error when reloading things file"
Running latest snapshot on RPi, with apt-get install

On startup of service, things file loads perfectly. When I edit the file and save it, I get an error (see below)

demo.things
[code]

openhab.log
[code]

[2017-01-03 10:26] rtvb commented on #2733
Originally submitted here:

https://github.com/openhab/openhab2-addons/issues/1650

[2017-01-03 10:29] MHerbst commented on #2639
The `detectCharset` method contains a nice bug that sometimes leads to a wrong identification. It checks the charset in chunks of 512 bytes. If the first chunk is not valid UTF-8 but the second chunk, then the encoding is still identified as UTF-8 ...

[2017-01-03 10:58] marcelrv opened #2734 "Support Image/Video without proxying"
Currently to display an image that is coming from a URL in the item= definition always goes via the proxy.

Unfortunately the proxy does not always grap the correct headers resulting, causing the image not to display. In my case the 2 header lines are not seen by the proxy servlet as header preventing it to see the right content type as proxy content-headers as regular content

Would be great to h

[2017-01-03 11:03] resetnow commented on #2713
It looks like it was broken when I implemented client-side visibility events support. This can be fixed easily, but then there is a problem with sitemap events for frames — I don't see any events when a frame visibility is changed. I'll look into it.

[2017-01-03 11:24] watou commented on #2734
It is also true of the URL specified in the `url=` parameter also goes via the proxy servlet when `item=` is not specified.

There may be a bug in the ProxyServlet that is copying an empty header, which of course breaks HTTP.  Sidestepping the proxy servlet (going direct to the source URL) would only step around such a bug, and also would defeat the need to access the image remotely.  Any thoughts

[2017-01-03 11:42] sjka commented on #2733
On a first glance it looks like the GenericThingProvider still "knows" about the old Thing being there, so it informs its listeners about an  `update`.  On the other hand, the ThingManager (being of of these listeners) does NOT seem know the old version (anymore?).

I'm wondering why the ThingManager maintains its own cache at all and does not use the ThingRegistry.

I'm now trying to figure out w

[2017-01-03 12:16] sjka commented on #2733
Okay, wrong guess as it turns out...

It seems that the [GenericThingProvider](https://github.com/eclipse/smarthome/blob/master/bundles/model/org.eclipse.smarthome.model.thing/src/org/eclipse/smarthome/model/thing/internal/GenericThingProvider.xtend#L409) does not catch Things nested within the Bridge, assumes they are removed and informs its listeners accordingly. As a result, the "update" later

[2017-01-03 12:21] resetnow commented on #2713
#2735

[2017-01-03 12:49] tmrobert8 opened #2736 "PaperUI/Control - cannot edit "blank" item"
In the paperui/control - in beta 4 you could edit a blank (not "-") by simply double clicking and entering a new value.  In beta 5 - a blank cannot be edited (double clicking does nothing as the underlying html field doesn't exist).

[2017-01-03 13:31] kaikreuzer commented on #2736
@aounhaider1 Could you check?

[2017-01-03 13:46] marcelrv commented on #2734
Indeed, that behaves in the same way.

When I was debugging the issue I found that as far as I can see it is a bug in the used jetty library which fails to recognize the header.
https://github.com/eclipse/smarthome/blob/master/bundles/ui/org.eclipse.smarthome.ui/src/main/java/org/eclipse/smarthome/ui/internal/proxy/ProxyServlet.java#L181
`HttpFields headers = httpResponse.getHeaders(); ` comes bac

[2017-01-03 13:52] marcelrv commented on #2734
Note, that the 2nd reason to be in favor of allowing an option for non-proxied content is the load on the resource constraint servers (rpi's ,synology, etc ).  Esp for video is an extra burden to go via the proxy

[2017-01-03 14:00] watou commented on #2734
Thanks for the additional information.  So this is likely a recent regression due to the switch to Jetty libraries.  I will try to test my reworked servlet against this scenario and report back.

Agreed.  Avoiding the proxy only when it's not necessary is a bit tricky.  One small step in that direction could be to say, "if the requester is on the same IP4 network as the source, instead return a 30

[2017-01-03 14:12] resetnow commented on #2463
Fixed in  #2536

[2017-01-03 14:56] #2736 closed

[2017-01-03 15:40] #2733 closed

[2017-01-03 16:47] paulianttila opened #2740 "Empty things file issue"
When create new thing file via Eclipse SmartHome Designer (ctrl-n), designer automatically save new file, which is of course empty. Empty file seems to cause null pointer exception in dir watcher and then dir watcher doesn't react to any things file changes anymore.

[code]

Tested with OpenHAB 2.0b5

[2017-01-03 20:39] rtvb commented on #2733
I actually copied this syntax from the example for the Hue binding, that has been there ages ago.

[code]

https://github.com/eclipse/smarthome/blob/master/extensions/binding/org.eclipse.smarthome.binding.hue/README.md

[2017-01-04 05:09] kceiw commented on #1654
Thanks @kaikreuzer .
There is a big learning curve. I'm ramping up the code base and trying to understand ESH's design. It could take much time for me to work on this. Anybody with more experience is welcome to work on it. However, I'm still interested in working on it, for satisfy my own requirement.

I'm not quite understand about "the Things need to be added". My understanding is that the statu

[2017-01-04 05:23] mtzro2003 opened #2741 "PlayerItem STOP state and/or command?"
Hi!

I have a PlayerItem linked to the new Kodi binding and I noticed that the item does not have the STOP state. (original post: [https://community.openhab.org/t/open-tv-channel-in-xbmc-kodi/17330/18?u=mihai_badea](url))
Could the STOP state and command be implemented?
STOP is quite different than PAUSE. From PAUSE you can resume with a PLAY command, but from STOP evidently you cannot.

[2017-01-04 06:13] ivivanov-bg opened #2742 "DiscoveryResults not updated on DiscoveryService change"
When particular DiscoveryService is changed (eg. there are new properties added to the discovery results) the already discovered things are not been updated.

This is due to the cache used in DiscoveryServiceRegistryImpl:

`private HashMultimap<DiscoveryService, DiscoveryResult> cachedResults = HashMultimap.create();`

Javadoc of `HashMultimap` says:
`Adding a new key-value pair equal to an existi

[2017-01-04 09:09] sjka commented on #2733
Yes, and this syntax is correct and your are fully right to use it - and until 3 weeks ago it actually was working. I only wanted to tell you about a workaround until the fix reaches your OH2 installation.

[2017-01-04 09:57] sjka commented on #2730
as it merged now this issue is solved, right?

[2017-01-04 09:58] kaikreuzer commented on #2730
I would say so.

[2017-01-04 09:58] #2730 closed

[2017-01-04 11:24] sjka commented on #2729
This is not necessarily a flaw in the BasicUI, but could be solved in the core framework instead. We have two `StateDescriptionProvider`s: The `GenericItemProvider` which has the information from the items-DSL (including any custom formatting pattern) and the `ChannelStateDescriptionProvider` which has the information from the linked channel (including the state options as you outlined above).

Th

[2017-01-04 12:19] #2740 closed

[2017-01-04 13:48] kaikreuzer commented on #2729
This would introduce a dependency from the items to the things, which we try to avoid.
An alternative would be to add a priority to StateDescriptionProviders and merge their content together. This would still treat them equally, while there is still the possibility to say that one should overrule another.

[2017-01-04 14:49] sjka commented on #2729
That would be fine by me too.

[2017-01-04 15:21] kaikreuzer opened #2746 "CronExpression fails on execution on every minute"
While testing https://github.com/eclipse/smarthome/pull/2094, I came across a bug in the scheduler.
My persist file contains this cron expression: `"0 * * * * ?"`

When trying to schedule it, the ExpressionThreadPoolManager directly unschedules it again, because it does not find any candidates. Here's my log:

[code]

Also note, that none of the candidates mentioned by the trace logging is actuall

[2017-01-04 15:38] maggu2810 commented on #2639
IMHO we should not be such clever and detect the encoding but we should state that property files (e.g. for i18n) must use the ISO-8859-1 encoding.
If we would like to support UTF-8 encoded i18n files, I would prefer to use another file extension.

[2017-01-04 15:55] lolodomo commented on #2649
PR pushed.

Unfortunately, I am not able to provide the jar file (internet broken in my house !). I will do it as soon as Internet is back.

[2017-01-04 16:27] kaikreuzer opened #2749 "Add "runNow" button to the list of rules"
#2691 added the possibility to execute rules (without requiring waiting for a trigger event).
This feature is available on the REST API at `POST /rules/{ruleUID}/runnow`.

It would be nice to add a button in the Paper UI "rule list" for this. I would suggest to add a "play" symbol left of the "disable" button.

@aounhaider1, could you add this?

[2017-01-04 18:53] resetnow opened #2750 "BasicUI lacks branding"
When BasicUI is added as a webapp to home screen on iOS or Android, the shortcut has a default icon, and the splash screen doesn't have an image. Now, would it be wrong to have Openhab-related images in Eclipse Smarthome repository? Where should the branding go? Files are served statically and no additional processing on the server side is needed.

References:
* https://developer.chrome.com/multid

[2017-01-04 19:49] kaikreuzer commented on #2750
Good point, I also wanted to address this sooner or later. You are quicker :-)

The openHAB specific files should go into https://github.com/openhab/openhab-core/tree/master/bundles/org.openhab.ui.basicui/patch/web

[2017-01-04 19:53] #2639 closed

[2017-01-04 20:14] arstorey commented on #2715
Sorry it's taken me so long to get back with you on this.

Please check the file org.eclipse.smarthome.core.library.types.PercentType.java.

In the "as" method PercentType as DecimalType is being converted using the following line of code:

`            return new DecimalType(toBigDecimal().divide(BigDecimal.valueOf(100), 8, RoundingMode.UP));`

The call to .divide() in the line of code above is c

[2017-01-04 20:23] resetnow commented on #2750
Thanks for the hint. I couldn't find an openHAB logo in SVG, could you please point me to a vector version of <a href="http://www.openhab.org/assets/images/openhab-logo-square.png">this image</a>?

[2017-01-04 20:44] kaikreuzer commented on #2750
Try this: [openHAB-logo.svg.zip](https://github.com/eclipse/smarthome/files/685849/openHAB-logo.svg.zip)

[2017-01-04 20:56] arins commented on #2482
I ran smarthome:update zwave_device_0b45ea30_node2_switch_dimmer ON in the karaf console. Nothing happened in the GUI so I refreshed the webpage the GUI showed it was on. Same happens when I OFF it as well.
I tried the same command while watching the gui in openhab classic UI and android app and it worked there so there is something wrong with the basic ui.

[2017-01-05 02:56] tmrobert8 opened #2752 "PaperUI, text entry and annoying shifting"
In the PaperUI->Control - if you have a channel that is a simple string and start typing letters, eventually you'll enter the 8th character and the whole field shifts down a line.

The problem with the shift down is that the field loses focus.  Especially annoying is if you click it again and backspace once (so we have 7 characters) - it shifts back up and loses focus again. This behavior makes it

[2017-01-05 07:32] arins commented on #2482
ok it was my mistake I was proxying openhab through nginx and the eventstream was not handled correctly. When I fixed that it worked. Read this post on stackoverflow: http://stackoverflow.com/questions/13672743/eventsource-server-sent-events-through-nginx

But I noticed I had to send ON twice through karaf console to make it go from OFF to ON but not the opposite. Also If switch the light on nothi

[2017-01-05 09:02] kaikreuzer commented on #2752
@aounhaider1 Could you check how this could be improved?

[2017-01-05 11:44] mherwege opened #2757 "Child things missing handler when removing bridge"
In developing my own binding (pull request [#1589](https://github.com/openhab/openhab2-addons/pull/1589)) I am hitting an issue when removing a bridge. When I remove the bridge, it gets removed correctly, but the child things are not removed. They go to an uninitialized state. Discovery results attached to the bridge are also removed. I am probably missing something in my coding, but was expecting

[2017-01-05 11:47] kaikreuzer commented on #2757
Looks like a bug in your implementation. Note that you must not call updateStatus from the dispose method.

[2017-01-05 12:20] mherwege commented on #2757
@kaikreuzer Thank you for your quick reply. I have no updateStatus in my dispose methods. I only have a dispose method for the bridge, not for the connected things. I do expect this to be an implementation error  on my side, but can't figure out what it could be. I was assuming that if there is no dispose method and my classes extend ThingHandler and BaseThingHandler respectively, removal should w

[2017-01-05 12:58] sjka commented on #2698
Good point - I simply missed the fact that there are Thing specific configuration descriptions as well when implementing it.

How about #2759?

[2017-01-05 13:02] sjka opened #2760 "[Automation] encoding of property files in automation integration tests"
With #2737 we now stricly support ISO-8859-1 encoded property files only (default in Java).
As it seems, the org.eclipse.smarthome.automation.integration.test bundle contains some jar files which do not follow this standard:

See also https://hudson.eclipse.org/smarthome/job/SmartHomeDistribution-Nightly/1563/

Could you please have a look?

[2017-01-05 14:28] #2749 closed

[2017-01-05 14:29] kaikreuzer commented on #2757
You do: https://github.com/openhab/openhab2-addons/pull/1589/files#diff-249a56eb4381d3bfec06edd0e1e56bc4R122

[2017-01-05 14:47] mherwege commented on #2757
@kaikreuzer Correct for the pushed version, not anymore in my offline private copy. I removed that when solving another issue I discovered. It was just not ready for another push yet. Sorry for the misunderstanding.

[2017-01-05 15:04] kaikreuzer opened #2763 "UX improvements on rule editor"
I would like to suggest some improvements for the rule editor in the Paper UI.
This is how it currently looks like:

<img width="1006" alt="screen shot 2017-01-05 at 15 32 56" src="https://cloud.githubusercontent.com/assets/3244965/21684028/457df714-d35c-11e6-9a2a-46ecada5c594.png">

- Similar to the Things edit page, the title should not say `"Rules > Configure"`, but `"Edit <ruleId>"`.
- The nam

[2017-01-05 16:31] kaikreuzer opened #2764 "Add additional contexts for config descriptions"
We currently have [this list of supported contexts](https://www.eclipse.org/smarthome/documentation/development/bindings/xml-reference.html#supported-contexts) (actively supported in the Paper UI).

Looking at rule modules, we might want to cover some more of the ESH entities:

- The RuleEnableModule requires the selection of a rule. A "Rule" context would be nice for it.
- The ChannelEventTrigger

[2017-01-06 07:48] mherwege commented on #2757
@kaikreuzer Below is a new log file. Removal of the updateStatus call got rid of the exception. However, the child thing is still not removed when removing the bridge. So in the paperUI, the net result is the same. I have the bridge thing removed and a child thing is remaining in state uninitialized.

I appreciate all your effort on this.

[code]

[2017-01-06 09:03] #2760 closed

[2017-01-06 14:25] sjka opened #2770 "[Test Failures] FirmwareUpdateServiceOSGiTest setup"
Happend at  https://github.com/eclipse/smarthome/commit/1a12e3b4e0fa6c370c4940d515a048f841e41b19 on [Travis](https://travis-ci.org/eclipse/smarthome/builds/189453129):

[code]

@tomhoefer @chriskn could you please have a look?

[2017-01-06 15:27] tomhoefer commented on #2770
I will have a look

[2017-01-06 15:46] mherwege opened #2771 "BasicUI not showing all icons"
I have created a number of switch type items through PaperUI, all exactly the same way. I did not specify a category for the items. In the PaperUI item configuration screen, the switch icon shows up for all of them. Only one of them shows with a switch icon in BasicUI, all the others have the icon missing.
Looking at the URL for the images, I can see different URLs: http://localhost:8080/icon/swit

[2017-01-06 15:47] mherwege commented on #2757
I have now updated the PR with my most recent code changes. The issue is still there.

[2017-01-06 20:48] phil2fer opened #2773 "missing BasicUI and PaperUI after upgrade lastest snapshot"
After upgrading from `openhab2-offline_2.0.0~20170103034422_all.deb`,  to `openhab2-offline_2.0.0~20170106124335_all.deb`

 to openhab2-offline_2.0.0~20170106124335_all.deb, i have a problem with PaperUI and Basic UI. No more icon Application in my start page

![image](https://cloud.githubusercontent.com/assets/23247807/21732171/897a9af6-d458-11e6-8ed7-3498e30b6517.png)
and in my log file i have t

[2017-01-06 20:55] kaikreuzer commented on #2773
There is definitely no bug/problem is ESH.
I also tried the latest openHAB distro right now and both UIs start up correctly.
I'd assume that you have some broken setup due to upgrades.
In any case, it is probably best if you ask for help at
https://community.openhab.org/.

[2017-01-06 20:55] #2773 closed

[2017-01-06 21:12] #2752 closed

[2017-01-07 12:09] codefalk opened #2775 "Hue Binding: No status update for things with Id 0000/0010"
Have an issue here when items are being switched on/off via external app or switch (eg. Hue App):
- items with thing Id 210 are being updated in openhab
- items with thing Id 0000 or 0010 (Switches) are not being updated in openhab (no log entries)

There is no log entry either for items where status is not being updated. With my configuration I can control all items via openhab2. When controlled

[2017-01-07 18:12] danchom commented on #2763
Sounds good but:
1) If the name was not set I think the ruleUID should be display.
2) I'm not sure about changing names of triggers conditions and actions boxes. If the trigger name is WHEN how do you explain to customers that its configuration is part of the trigger section of JSON presentation? Also I'm  not sure if the users will understand purpose and difference between "when" and "but  only i

[2017-01-07 18:36] MHerbst opened #2777 "Paper UI: Language set in Preferences is ignored"
This is a follow-up issue to #2589.

On page *Preferences* it is possible to set a language for the user interface. This value is ignored. Instead always the language of the browser is used as language in all REST API  request that are executed by Paper UI receive the different values (e.g. binding infos).
I have checked it with the debugger and the *acceptlanguage* field of the request contains a

[2017-01-07 18:36] MHerbst commented on #2589
This problem was solved with PR #2699. For the problem with the ignored preference setting I have create a new issue: #2777

[2017-01-07 18:36] #2589 closed

[2017-01-07 20:58] MHerbst opened #2778 "[yahooweather] Item values permanently change between UNDEF and a real value"
I have set the refresh interval to 60s (the default value) and now every 60s the item values change from UNDEF to a real value then back to UNDEF and then ...:

[code]

The same change happens of course in Basic UI and the Control page in Paper UI

Tested with openHAB Build 699 on Windows 10.

[2017-01-07 21:06] MHerbst opened #2779 "[yahooweather] Changing the refresh interval in Paper UI leads to message about an invalid WOEID"
This maybe a general problem in Paper UI but right now I only saw it in the Yahoo Binding.

I have edited the thing configuration and modified the refresh interval (from 60 to 67):
![image](https://cloud.githubusercontent.com/assets/616792/21745147/ebdc849e-d524-11e6-8f9d-9f8faddc4894.png)

After I pressed the save button I got the following messages in the Karaf console:
[code]
Please note the de

[2017-01-07 22:47] kaikreuzer commented on #2763
1. No, the idea is already in the header of the page. This is the input field for the name, it must not display any other content.

2.:

I do not explain it at all, because a user should not have to know about JSONs at all - this is only relevant for developers.

I am sure they will - all they have to do is to read the full rule by concatenating the different parts:

When... the energy consumption

[2017-01-08 19:36] maggu2810 commented on #2757
Why should a thing be removed if the bridge is removed at all?

[2017-01-08 19:38] #2642 closed

[2017-01-08 19:45] kaikreuzer commented on #2757
There is indeed no mechanism that would remove a thing in such a case.
It can be discussed whether such a feature should be introduced or not (see also https://github.com/eclipse/smarthome/issues/1763, which asks for the same), but it clearly is no bug in the current code.

[2017-01-08 19:45] #2371 closed

[2017-01-08 20:10] ThomDietrich commented on #2371
Thank you @maggu2810

[2017-01-08 21:29] mherwege commented on #2757
I cannot judge all consequences. In my case, the child items are left without any meaning and in an unitialized state (see log, handler missing). That does not make sense in my specific case. The things stop having a meaning when the bridge gets removed. They cannot do anything on their own.
I could add code to remove the child things before removing the bridge, but that may create an inconsistent

[2017-01-09 09:29] #2698 closed

[2017-01-09 10:14] sjka commented on #2779
Just did a quick debugging on it: The format of the WEOID in the log seems to be a pure formatting issue when writing the log output. At least it is correct in the query.

However, the fact that this log message gets written _at all_ points to an error with the yahoo API. I can reproduce it as well - the first call after updating the WEOID raises an error. Could it be that we hit some quota limits

[2017-01-09 10:25] sjka commented on #2779
One update: I noticed that if some configuration change is done, the binding fetches the weather data 3 times in a row from Yahoo:

[code]

The first two are to check if the configuration is valid, the last one to actually fetch the data. Doesn't sound too optimal to me...

[2017-01-09 10:57] sjka commented on #2778
The only source for API rate limits I could find is this one: [Usage Information and Limits](https://developer.yahoo.com/yql/guide/usage_info_limits.html). According to this, up to "2,000 requests/hour per IP" should be fine. So a refresh interval of 60 seconds should be well within the limit. Does anybody know more about this?

However, as seen in #2783 they must have additional measures in place

[2017-01-09 11:10] watou commented on #2778
👍  There may be no way to know specifically how often their weather data changes, but hitting the service more often than every five minutes has no use case I can imagine.

Recommend against that approach unless it's time limited, so possibly very old data isn't used.

[2017-01-09 12:05] MHerbst commented on #2778
Good idea. At least the default value schould be higher than 60s.

I think this is a good idea, it the values are not too old. It is definitely better than "undefined" values.

Regarding possible rate limits. On this URL https://developer.yahoo.com/weather/#ratelimits  there es a much less number:
"Use of the Yahoo Weather API should not exceed reasonable request volume. Access is limited to 2,000

[2017-01-09 12:33] #2779 closed

[2017-01-09 12:40] chriscolden opened #2784 "Basic UI: Displaying broken image when no icon is defined."
I'm getting a broken image displayed in the browser when no icon is defined. Classic UI doesn't add the img tags when no icon is defined.

[2017-01-09 12:47] kaikreuzer commented on #2784
@resetnow Could you check?

[2017-01-09 14:01] #2725 closed

[2017-01-09 15:28] kceiw commented on #1654
Hi @kaikreuzer,
After reading the code, I think we could
(assuming we're using the syntax "Thing DoorSensor changed from ONLINE to OFFLINE)
1. Have RuleEngineImpl listen to/handle ThingStatusInfoChangedEvent. I also assume OFFLINE means disconnect. Otherwise, we need to create a new ThingStatusInfo for Thing.
RuleEngineImple will execute the rule.
2. Create a new EventTrigger, for example, ThingSt

[2017-01-09 16:09] resetnow commented on #2784
I thought about that, looks ugly. Would it be better to replace icon to `none` if there is no matching icon like this:

<img src="https://cloud.githubusercontent.com/assets/2057191/21773122/4e1ec364-d6a7-11e6-839d-6d70fb915fe8.png" width="400">

Or remove the icon completely:

<img src="https://cloud.githubusercontent.com/assets/2057191/21773104/3c767986-d6a7-11e6-8d40-884fae60a4c5.png" width="400

[2017-01-09 17:22] #2709 closed

[2017-01-09 17:26] kaikreuzer commented on #2784
Yes, definitely, this is also how the Classic UI renders it.

[2017-01-09 17:32] lejonpart opened #2787 "Misleading error msg, Valid command types"
Hi

I found this error message to be somewhat misleading,

openhab> smarthome:send Projcast_Control Pause
Error: Command 'Pause' is not valid for item 'Projcast_Control'
Valid command types are: ( PlayPauseType RewindFastforwardType NextPreviousType RefreshType )

Why does is not say that Valid command types are PLAY PAUSE and so on ...?

openhab> smarthome:send Projcast_Control PAUSE
Command has

[2017-01-09 17:41] danchom commented on #2763
Yes, It is better but I mean something like this:
Tiggers:
    the energy consumption changes
    the temperature changes
Actions:
    change the color of my light
Conditions:
    someone is at home

Anyway the words: When, Then, "but only if" are also good for me.
BTW in this interface there is no way to set connections between modules. Do you have some plans about them?

[2017-01-09 17:43] danchom commented on #2764
LGTM.

[2017-01-10 07:36] adb76 opened #2788 "[REST Api] Inconsistent response of REST-Api for items with mapped values"
I'm currently using openHAB 2 build #692 with the following items / map Definition (as also described here: [https://community.openhab.org/t/mapping-of-item-values-not-correctly-shown-in-habpanel/19518](url))
[code]
de.map:
[code]
When I make a REST-Api call
`http://homenuc:8080/rest/items/Wohnzimmer_Fenster1_OpenClosed/state`

it returns **always** CLOSED respectively OPEN

When you call the item

[2017-01-10 07:48] kaikreuzer commented on #2763
Not yet - I'd go for the start with auto-wiring.
But if you have suggestions how this could be added nicely, feel free to tell us :-)

[2017-01-10 10:33] #2778 closed

[2017-01-10 10:44] kaikreuzer commented on #2775
Indeed, the HueLightHandler does not yet support CHANNEL_SWITCH for updates received from the hue bridge. This needs to be added.

[2017-01-10 12:14] sjka commented on #2788
This inconsistency indeed is weird... Thanks for reporting this!

Before I break bazillions of SmartHome solutions: Does anybody (@kaikreuzer, @cdjackson?) know any good reason for the states NOT being transformed at those two places (i.e. rest/items/.../state and in the Events)?

[2017-01-10 12:28] sjka commented on #2787
How about something like this?

[code]

[2017-01-10 12:31] lejonpart commented on #2787
@sjka A lot better :)

[2017-01-10 13:19] kaikreuzer commented on #2788
You are standing a good chance to do so ;-)

They simply provide the REAL item state, i.e. the full truth. Note that item states are for "headless" use, i.e. not UI related at all.

When defining an item like

[code]

you have to note that the part in quotes specifies a "default label" to use, if no other label is specified in a UI. So while there is one single state of the item, it might have man

[2017-01-10 13:25] kaikreuzer commented on #2788
FTR, actually, I think the correct fix would be to NOT map it in the sitemap endpoint either. See this discussion: https://github.com/openhab/openhab.android/issues/193#issuecomment-226801212

Would that make sense?

[2017-01-10 13:28] adb76 commented on #2788
Just for the novice openHAB user.

Wouldn't it then be better also not to map it in the call:
` http://homenuc:8080/rest/items/Wohnzimmer_Fenster1_OpenClosed `

[2017-01-10 13:42] kaikreuzer commented on #2788
Yes, I agree.

[2017-01-10 13:43] #2787 closed

[2017-01-10 14:55] lolodomo commented on #1617
I will implement the album art in the Sonos binding, it should not be so difficult.

I will add:

- a channel associated to an item of type Image that will contain the raw data of the downloaded image
- an advanced channel associated to an item of type String that will contain the HTTP URL of the image

We could decide later to suppress the second channel the day ImageItem is supported by most of

[2017-01-10 15:31] kaikreuzer commented on #2777
@aounhaider1 Can you have a look?

[2017-01-10 15:32] #2750 closed

[2017-01-10 15:36] kaikreuzer commented on #2741
There was a long discussion (which I unfortunately cannot find anymore right now) about this when the Player item type was introduced. The outcome was that we wanted to keep UI requirements simply and take the [Apple Remote](http://store.storeimages.cdn-apple.com/4662/as-images.apple.com/is/image/AppleInc/aos/published/images/M/M4/MM4T2/MM4T2?wid=572&hei=572&fmt=jpeg&qlt=95&op_sharpen=0&resMode=bi

[2017-01-10 15:36] #2741 closed

[2017-01-10 15:38] danchom commented on #2763
I'm not sure how cool is it, but we have expressed them as table:
output -> connection (moduleID / inputID)
input -> connection (moduleID / outputID)

[2017-01-10 15:46] maggu2810 commented on #2788
` http://homenuc:8080/rest/items/Wohnzimmer_Fenster1_OpenClosed `

Me, too.

[2017-01-10 16:30] #689 closed

[2017-01-10 17:41] metbril opened #2792 "Icon (color) not changing for MAPped items"
I have an item for which the label is using a MAP:

**network.items**
[code]

**network_nl.map**
[code]

**demo.sitemap**
[code]

The icon does not change to ON (green) or OFF (red). It appears to look at the MAPped value instead of the actual switch value. So the icon is always default/neutral (black)

I would expect that the label is only used for display purposes.

This applies to any UI: basic

[2017-01-10 18:53] sjka commented on #2788
So the remaining question is (which also came up in the android client related discussion): Do we need an additional field in the EnrichedItemDTO containing the mapped value?

[2017-01-10 22:36] rtvb opened #2793 "Explicit import of joda DateTime required"
Some date manipulations need explicit import of org.joda.time.DateTime.
Expected behaviour is that this is not required.

[code]

Please see this forum thread:
https://community.openhab.org/t/timer-and-date-calculations-in-rules-need-help/19843/12?u=rtvb

[2017-01-10 22:48] watou commented on #2793
Related issue: https://github.com/eclipse/smarthome/issues/1735

[2017-01-11 05:49] kirantpatil commented on #2763
:100: :+1: for
When... the energy consumption changes
then... change the color of my light
but only if... someone is at home

[2017-01-11 06:55] kubawolanin opened #2794 "Air Quality binding"
I started working on a binding that would give you information about [AQI](https://en.wikipedia.org/wiki/Air_quality_index) in a given location, based on geo coordinates.
I'm using [aqicn.org](http://aqicn.org) for that purpose.

Here's a [openHAB community thread](https://community.openhab.org/t/measuring-air-quality-with-aqicn-org/19899) about the idea.

I'm already successfully reading `aqi` va

[2017-01-11 07:24] adb76 commented on #2788
From my (maybe to simple) understanding I would assume "yes". The mapping is often used as a translation of the language or a translation to have a better understanding of the meaning of the value. If the REST-Api omits that, every UI which uses the REST services directly would have to implement such a translated view. Wouldn't it then be better to define a translation at one place and provide tha

[2017-01-11 08:32] hakan42 commented on #2794
I would provide all channels and leave it to the user to configure a channel for it.

And when fetching data from the API, leave the channels in UNDEF_STATE if that specific station provides no data for a given channel.

That way, you would give the user maximum flexibility. I go a similar way with my senseBox binding  (PR not merged yet, but you can read the sources on the PR list)

[2017-01-11 12:43] kaikreuzer commented on #2793
I hope the missing opening quotes were just a typo here on github and not really in your rule:
[code]

You are right, the joda time package should be implicitely imported, but this seems to have gone missing on the last Xtext upgrade. I'll provide a fix.

[2017-01-11 12:55] rtvb commented on #2793
I hope the missing opening quotes were just a typo here on github

Yes that was a typo

[2017-01-11 12:58] #2764 closed

[2017-01-11 13:01] kaikreuzer commented on #2702
@aounhaider1 I noticed that the filters on Inbox and Things only check labels, but not ids, while on items and extensions, also ids are taken into account. I would vote for checking ids in Inbox and Things as well, wdyt?

[2017-01-11 13:51] kaikreuzer commented on #2746
@kgoderis Did you see this issue? Any chance to fix it?

[2017-01-11 14:16] #2793 closed

[2017-01-11 14:34] rtvb commented on #2792
Related to #2788?

[2017-01-11 16:24] #2763 closed

[2017-01-11 16:32] danchom commented on #2763
May be connections can be expressed by unique colors or numbers.
For example:  if we have two ItemStatechangeTrigger, the first one for "the energy consumption changes" with event output mark as red or 1 and the second one for "the temperature changes" ,which can mark its  event output  as blue or 2 then the inputs which have to be connect to the "energy consumption changes" output must  select re

[2017-01-11 16:57] kgoderis commented on #2746
@kaikreuzer sorry for missing this issue. I will have a look at it asap

[2017-01-11 17:07] kgoderis commented on #2746
In fact, that is quite normal. The algorithm works back from years to seconds, pruning whatever it does not need anyways. The problem lies in the last 5-6 lines of the trace log. It should propose. 2017-01-04 16:20:00.000 as final candidate.

[2017-01-11 18:19] kgoderis commented on #2746
@kaikreuzer I just created and tested https://github.com/eclipse/smarthome/pull/2798 in a simple use case scenario (see below). Can you test it with the persistence service?

FYI, by putting the maximum number of candidates to 2 (instead of 1), the case whereby the final candidate would be equal to the start time is covered, e.g. at least one candidate will be later than the start date, and thus r

[2017-01-11 21:46] kaikreuzer commented on #579
I tried to use the results of https://github.com/eclipse/smarthome/pull/2587 for implementing user authentication in openHAB 2 and failed miserably :-(

Let me briefly mention the main issues I came across so far:

- There are special requirements (e.g. IP range checks) that lead to having to implement a custom SecurityHandler. This immediately brings a dependency on jax-rs osgi connector as well

[2017-01-11 21:57] marziman commented on #579
@kai,

small note: I proposed Shiro long time ago in this topic. There it was said it could introduce "dependencies" and it looks likeno one investigated Shiro usage for OH. Thats pretty strange to me. Since we know found out that our "own" kind of Security approach also creates dependencies and has his cons.
So again why we dont first look into enabling the usage of Shiro?
You didnt ask for my op

[2017-01-11 22:27] splatch commented on #579
I've used both shiro and spring security 3.x/4.x. I did use first one in basic web application, I know it is used in Sonatype's Nexus (starting from 3.x also hosted on karaf), second one in web apps and also for past years in OSGi environment. For my client I implemented spring security based authentication mechanism and bridged it to CXF via interceptors. We bridged also karaf JAAS login module f

[2017-01-11 22:44] marziman commented on #579
@splatch do you think we should further investigate Shiro as base Framework with wrapping API around? As you mentioned some experience from other projects..what would be the blocker from your point of view?

[2017-01-11 22:45] pawlik13 opened #2800 "[YahooWeather] Thing initialisation error in OpenHab2"
YahooWeather not working in the latest snapshot version of OpenHab2, throwing errors as below in openhab.log

In PaperUI, the Thing is showing as

`Status: UNINITIALIZED - HANDLER_REGISTERING_ERROR com.google.common.cache.CacheBuilder.maximumSize(I)Lcom/google/common/cache/CacheBuilder;`

openhab.log extract:
`
2017-01-10 22:25:59.876 [ERROR] [ome.core.thing.internal.ThingManager] - Exception occu

[2017-01-11 23:17] splatch commented on #579
There is no blocker from my side. Shiro is fine thing to start with. Back in early 2014 we decided not to use it because development seemed to be slowed down with one patch release every year. Spring offered experimental kerberos integration (which we never used btw) and didn't require too much wrapping. Both frameworks back then have had poor separation of `api` and `core` bringing too many depen

[2017-01-12 06:49] kaikreuzer commented on #579
@marziman We are all aware of this and @splatch had answered on that already at that time. And I fully agreed with him that if there is a way to avoid bringing external libs into the core ESH APIs, it should be done by all means!

Because any 3rd party lib should clearly only be a second choice for the reasons mentioned above.

[2017-01-12 08:17] kaikreuzer commented on #579
@splatch Many thanks for your detailed answer. I hope I didn't sound too harsh, it was just late last night ;-) I definitely didn't want to complain about the work you have done so far and I am well aware that you always said that there are still important parts missing.

I am still in support of your approach to keep a concrete implementation out of the core and rather only define APIs and wrappe

[2017-01-12 08:26] sjka opened #2801 "Update Guava to a more recent version"
In ESH, we are currently using Guava 10.1.

As discussed in https://www.eclipse.org/forums/index.php/t/1065860/, on of the main benefits of this version is that is is slightly smaller than newer versions (1.5M vs. 2.4M).

However, all Solutions I'm aware of are packaging a Guava 15 or higher anyway. So do we really need to stick to that old version? We ran into troubles a couple of times now, with

[2017-01-12 08:30] sjka commented on #2800
Thanks very much for reporting this here!

I will address this immediately in the binding in order to make it work again in openHAB as discussed in #2783 (the PR that introduced the dependency to Guava wich actually "broke" it).
At the same time I have created #2801 in order to discuss an upgrade  of Guava in ESH.

[2017-01-12 08:31] kaikreuzer commented on #2801
If they follow semver, it would mean that 20 is as incompatible to 15 as 10 to 15 ;-)

For the few things that we are actually using, I still think that >2MB is simply terribly fat.
Maybe we should define (in a good OSGi manner) only a few packages from Guava that we allow to use - including their valid version range, which we should then also ensure in the MANIFEST.MF.

[2017-01-12 09:07] kaikreuzer commented on #579
Maybe not a good idea after all. The less intrusive way would not to fiddle with the HttpContext, but to use a [servlet filter](http://stackoverflow.com/questions/19422371/programmatic-configuration-of-httpservice-with-servletlistener-and-filter). For openHAB, this [could be done through pax-web](http://stackoverflow.com/questions/7364238/how-can-i-register-a-servlet-filter-to-catch-all-http-reque

[2017-01-12 09:10] aounhaider1 commented on #2702
Yes, makes sense. I'll add that.

[2017-01-12 11:30] #2702 closed

[2017-01-12 12:33] adimova opened #2806 "InvocationTargetExceptions and NPEs are thrown while deinstall Automation bundle"
InvocationTargetExceptions and NPEs are thrown while deinstall Automation Bundle Resource Provider.

[2017-01-12 12:38] adimova opened #2807 "Wrong annotation in RuleResource"
Wrong annotation is used for RuleResource class in Automation REST API in org.eclipse.smarthome.automation.rest:
@GET
@Path("/{ruleUID}/config")
@Consumes(MediaType.APPLICATION_JSON) should be @Produces(MediaType.APPLICATION_JSON)

[2017-01-12 12:40] aounhaider1 commented on #2556
Would it make sense to define regex as a filter criteria in the parameter config description (with name "regex" and regular expression as the value) ?

[2017-01-12 13:13] sjka commented on #2801
That's a pretty valid point, indeed. I have created #2805 and #2809 in order to eliminate to outliers. Then we are left with only two packages when looking at our sources (i.e. not including imports from 3rd party libraries):

[code]

So it would be pretty simple to restrict usage to only these two packages, i.e. not allow usage of additional ones.

Looking at what we are using there, I see a huge

[2017-01-12 13:18] sjka opened #2810 "[Test failures] AutomationIntegrationTest"
[code]

[code]

see https://travis-ci.org/eclipse/smarthome/builds/191295087

[2017-01-12 13:24] splatch commented on #579
I thought about filter and pax-web because it allows to plug in standard filter based security. Can't remember if filter registration is already part of Http Service specification or not, but even if not - soon should be. :)
Http context reference will be needed just to bind servlets together with filter to group them into one "webapp" without having single WAR. After that regular Java EE filter s

[2017-01-12 14:12] maggu2810 commented on #2801
:+1:

[2017-01-12 14:13] #2777 closed

[2017-01-12 14:18] #2800 closed

[2017-01-12 14:19] #2011 closed

[2017-01-12 14:27] kaikreuzer commented on #2801
Sorry to be doubtful about that as well. Imho, using apache commons might not be the best solution either. Actually, Guava seems to be more modern and closer to the specification, at least this is what [Google claimes](https://code.google.com/archive/p/google-collections/wikis/Faq.wiki). The fact that apache commons 2.6 (which we use) does not support generics is indeed not nice.
As a matter of fa

[2017-01-12 15:54] maggu2810 commented on #2801
@kaikreuzer If my reading is correct the FAQ compared "Apache Commons Collections" to the "Google Collections Library". So, it is related to one of the Apache Commons artifact (https://commons.apache.org/). There is also not a commons 2.6 but every artifact has its own versioning as they are not related to each others. Or am I missing something?

[2017-01-12 21:32] pvds2 opened #2813 "SmartHome Designer fails to start"
running Java 8 v111, and eclipse smarthome v8 or v9 unzipped in the applications folder.
I see the splash screen and then an error is thrown. The log says this:

[code]
Anybody ran into this too and solved it?

BR

[2017-01-13 00:18] gh-h2s opened #2815 "[Hue Binding/Extended Color Light]: Brightness control changes color of light"
For the Osram Lightify Flex you can not change the brightness of the color temperature.

As workaround, I added the brightness channel to the ExtendedColorLight.xml.

`		<channels>
			<channel id="color" typeId="color" />
			<channel id="color_temperature" typeId="color_temperature" />
			<channel id="brightness" typeId="brightness" />
			<channel id="alert" typeId="alert" />
			<channel id="effec

[2017-01-13 07:13] kaikreuzer commented on #2815
You mean sending a Percent value to the color channel does not work?

[2017-01-13 07:19] kaikreuzer commented on #2813
I assume your are talking about the Designer, right?
Indeed, this is currently broken (not only on Mac) - and you are right, there wasn't an issue entered for it yet, so thanks for that.

Note: I can only confirm an issue for the 0.9.0-SNAPSHOT - the [official 0.8.0 release](https://www.eclipse.org/downloads/download.php?file=/smarthome/releases/0.8.0/eclipsesmarthome-incubation-0.8.0-designer-mac

[2017-01-13 07:22] kaikreuzer commented on #579
Not it isn't - at least not in the OSGi version used in ESH as a minimal requirement (4.2).

[2017-01-13 07:25] kaikreuzer commented on #2801
My example with 2.6 vs. 3.x referred to commons-lang. The same is true for commons-collection, there it is version 3.2 vs. version 4.x (which again comes with a new namespace).

[2017-01-13 07:55] kaikreuzer opened #2816 "GenericCompareCondition should support <= and >="
Currently, the compare condition only supports =, !=, < and >, it should also be possible to use <= and >= as an operator.

[2017-01-13 08:10] rtvb opened #2817 "[ENH] Additional people icons for use with presence status"
I would like to be able to use some additional icons that can be used for presence status.

- man-off
- woman-off
- boy-off
- girl-off
- baby-off

Additionally, any _1 or _1_1 (for parents) icons should have a typeless copy (for undefined state) and an ON copy (for present state) e.g.

[code]
For example, there already is a **parents-off** icon that matches **parents_1_1**:
![](https://github.com/

[2017-01-13 08:32] HolgerHees opened #2818 "Map transformation service and '%d' in openhab2 does not work"
It seams that %d is not supported as a placeholder with map transformation in openhab2

One possible solution is to replace %d with %s but this does not solve all problems.

e.g. with a group item where my map file looks like below:

5=AN
4=Einzeln
3=Einzeln
2=Einzeln
1=Einzeln
0=AUS

in openhab 1.x, I was using %d to map the group count value

now with openhab2, I can't do this anymore. If I chan

[2017-01-13 08:35] kaikreuzer opened #2819 "Default value ignored by Paper UI"
I have a config parameter defined as:
[code]
I would expect the Paper UI to show "=" as a selection, but the field is left empty:

<img width="264" alt="screen shot 2017-01-13 at 09 34 38" src="https://cloud.githubusercontent.com/assets/3244965/21923304/8e20c6e6-d973-11e6-8664-879bb732b085.png">

[2017-01-13 08:37] kaikreuzer opened #2820 "limitToOptions is ignored by Paper UI"
I have a config parameter defined with provided options and limitToOptions=false:
[code]
Nonetheless, I cannot enter any arbitrary value - I can only choose one of the given options:
<img width="288" alt="screen shot 2017-01-13 at 09 37 26" src="https://cloud.githubusercontent.com/assets/3244965/21923367/edc4bf1c-d973-11e6-8213-46c7d121a9be.png">

[2017-01-13 08:39] J-N-K commented on #2818
Please provide the full item configuration. I have an idea what the problem is. @kaikreuzer, you can assign this to me.

[2017-01-13 08:47] J-N-K commented on #2757
No, please don't remove things automatically (unless they where dynamically created by the bridge). The UNINITIALIZED state is fine. You can always assign a new bridge to the existing things and they start working again. Deleting them would require a lot of work to re-create them (especially for things that can't be auto-discovered).

Maybe (I didn't look in the code if something like this is alre

[2017-01-13 08:55] HolgerHees commented on #2818
**default.items**

Group:Switch:OR(ON, OFF)        Motiondetector_Switch           "Gartenlicht Details. [MAP(motiondetector_switch_de.map):%d]" <selfLightInfo>   (Security)

**motiondetector_switch_de.map**

5=AN
4=Einzeln
3=Einzeln
2=Einzeln
1=Einzeln
0=AUS
undefined=undefiniert
-=undefiniert

[2017-01-13 09:01] kaikreuzer commented on #2818
I cannot assign the issue here, but feel free to come up with a PR!

[2017-01-13 09:02] HolgerHees commented on #2818
Am happy and surprised about the quick reaction :-)

[2017-01-13 09:07] J-N-K commented on #2818
@HolgerHees, I don't think this should work. From the docs:

So you'll never get anything other than ON or OFF from this item defintion (at least if it is implemented according to the documentation). I'm not sure (and I don't have a OH1 setup available to check) thta this was different in OH1. It seems what you want is

Please try that and report back. If it is not working out of the box, I would

[2017-01-13 09:36] #2807 closed

[2017-01-13 09:37] #2806 closed

[2017-01-13 09:41] danchom commented on #2810
I think this is not a  problem, I can't reproduce it and as I see the Travis was run this test many times after that.
For me the problem was in delay of travis execution or problem with item state change.

[2017-01-13 10:26] HolgerHees commented on #2818
thanks for you help. Evertime I learn new thinks.

first, the behavior in openhab 1.x is different, If you use %d here you will get the count value from the group item. But after your hint, the new behavior in openhab 2.x makes more sence. Because it is more clearly.

and it works in openhab 1.x too. :-)

now my item definition looks like

Group:Number:SUM        Motiondetector_Counter          "G

[2017-01-13 10:26] #2818 closed

[2017-01-13 10:41] maggu2810 commented on #2801
Any reason not to bump the version of the used Apache Commons packages (haven't looked at the size, yet)?

[2017-01-13 10:43] kaikreuzer commented on #2801
Yeah, the reason is the changed package namespace. We would have to refactor all existing code, so it is a breaking change.
But nonetheless, I would agree that we should do this move sooner or later - unless we say that we completely want to drop commons and go for Guava instead :-)

[2017-01-13 10:45] pvds2 commented on #2813
Hi Kai,

I have retried this with the 0.8.0 version as you suggested. took your link to the offical site and downloaded the .zip. Moved the .zip to the Applications folder and unzipped. It fails as well. Same error log:

[code]

[2017-01-13 10:52] sjka commented on #2810
It appears to me a matter of timing. I didn't say it happens always, but usually stuff like this hits again when it hurts most - building releases, urgent fixes, etc. That's why so far in this project we had the good habit to fix also test instabilities that only occur sometimes.

[2017-01-13 11:52] #2813 closed

[2017-01-13 12:20] kohlsalem commented on #2190
I installed yesterday the latest snapshot of the designer - and my rules look pretty much like the image posted by rkoshak.

@kaikreuzer , since this seems to be an open issue for quite a while now, and Highlightig/Check/TypeAread are the only reasons to use the Designer, can i conclude this part of the project to be dead? Since more and more functionality moves into the GUI, i would understand th

[2017-01-13 12:41] danchom opened #2823 "Fix events and event order fired by the automation module"
When a rule is added the first NOT_INITIALIZED event is redundant.
For example:
osgi> 14:28:16.652 INFO  s.event.RuleStatusInfoEvent[:43] - rule_3 updated: NOT_INITIALIZED
14:28:16.657 INFO  s.event.RuleStatusInfoEvent[:43] - rule_3 updated: IDLE
14:28:16.658 DEBUG o.e.s.c.c.r.AbstractManagedProvider[:62] - Added new element rule_3 to ManagedRuleProvider.
14:28:16.658 INFO  smarthome.event.RuleAdd

[2017-01-13 12:49] #2746 closed

[2017-01-13 13:31] danchom commented on #2823
May be the NOT_INITIALIZED  should not be fired in case of resolved rule:
At the moment the events are:
1) added/updated -> NOT_INITIALIZED  -> IDLE <->RUNNING
2) added/updated -> NOT_INITIALIZED
3) DISABLED -> NOT_INITIALIZED  -> IDLE <->RUNNING
4) DISABLED -> NOT_INITIALIZED
5) IDLE / RUNNING -> NOT_INITIALIZED ->DISABLED
6) NOT_INITIALIZED ->DISABLED

but they should be:

1) added/updated -> ID

[2017-01-13 15:33] kaikreuzer commented on #2813
Could you try the latest 0.9.0-SNAPSHOT from https://hudson.eclipse.org/smarthome/job/SmartHomeDistribution-Nightly/, which has just been fixed today and works well for me?

[2017-01-13 17:30] kaikreuzer commented on #2823
The current situation is similar to [what we have on the Things](https://www.eclipse.org/smarthome/documentation/concepts/things.html#status-transitions). The important information here is that the state actually describes the handler status and the thing status at the same time - UNINITIALIZED describes the handler and it is a natural status on the transition to getting a Thing to ONLINE.

But I

[2017-01-14 07:12] gh-h2s commented on #2815
It only works for the color channel, but not for the color temperature channel. The color temperature channel is always at 100% brightness and can not be controlled.

The Osram Lightify Flex (RGBW) has 2 modes, the color mode (RGB) and the color temperature mode (tunable white, White + Red or Blue).

In the Philips Hue App you can control the brightness for both modes.

[2017-01-14 10:21] #2816 closed

[2017-01-14 10:40] kaikreuzer commented on #2815
As I said, you always control the brightness by sending a percent value to the color channel.
You adjust the color temperature by sending a percentage value to the color_temperature channel.

[2017-01-14 18:10] ThomDietrich opened #2826 "Event-based Triggers not working with constants"
Rule conditions involving constant variables or "strings" are never considered. Is this supposed to be supported?

Minimal Example:

[code]

[2017-01-14 18:48] kaikreuzer commented on #2826
No sorry, this is not supported.

What you need to know is that only the part between "then" and "end" is the Xbase script that has access to the variables and constant declarations. I do not see any good way to change this, it would rather be a huge and ugly hack.

[2017-01-14 19:30] gh-h2s commented on #2815
When I send the brightness value to the color channel, then the color channel will be set again. It's not possible to change the brightness in the color temperature mode.

The color or color temperature is not my problem. The problem is to set the brightness in color temperature mode without changing to color mode.

Color mode = Red/Green/Blue
Color temperature = White/Red/Blue

I added the bright

[2017-01-14 19:41] ThomDietrich commented on #2826
Okay already expected this to be such a kind of a problem. Thanks!

[2017-01-14 20:20] kaikreuzer commented on #2815
Ok, that's why I asked "You mean sending a Percent value to the color channel does not work?".

Your answer to this is hence "Set brightness to color --> Result: Red and not white with 50% brightness", so this is a bug.

Adding a brightness channel is no good solution. Instead, the bug should be fixed and sending a brightness value should not change the active color.

[2017-01-14 20:37] gh-h2s commented on #2815
In my case the separate brightness control is the best solution. I can control only the brightness without big color picker panel and without effect on my room color setup.

[2017-01-14 20:42] kaikreuzer commented on #2815
You can always use a slider as a UI control for a color channel, this will then only adjust the brightness.

[2017-01-14 20:50] jackdewinter opened #2827 "Exception in thread “Dir Watcher”"
When trying to develop my rules, I am getting the following quite frequently now. Once I hit this, I need to reboot OpenHab to get it working again.

Is there any more information I can provide? I can get this to repro by saving my .things, .items, and .rules files, changing each one and cycling back. Usually happens by the second or third cycle. Note that the uid issue does not show up in the log

[2017-01-14 20:57] kaikreuzer commented on #2827
Clearly, the FolderObserver should catch such exceptions and it should not cause it to crash.

[2017-01-14 21:38] eleson2 opened #2828 "Paper UI Leaves empty categories in database resulting in no icons in UI's"
Entering a category and then removing it results in a empty category field in the db.
That in turn leads to no icons in Classic and Basic UI's

Item sHallVitrin below lacks icon in UI's .
Removing the category line from the json files makes the icon appear in UI's.

Icons should show up in the UI's.

[code]

[2017-01-15 09:15] watou opened #2829 "Chart servlet legend opaque"
It appears that the chart servlet in ESH is based on older code than what evolved in openHAB 1, particularly in the area of styling.  [This commit](https://github.com/openhab/openhab/commit/2bcc99b8420bb276937b6f8d1f6799e33d47615c#diff-08acc2b1a27385f3e3a783bf0a2ce50dL148) shows the opaque `Color.LIGHT_GRAY` was changed to use the alpha channel for transparency of the chart legend, which @cdjackso

[2017-01-15 11:19] maggu2810 commented on #2810
👍

[2017-01-15 11:28] maggu2810 commented on #2823
I don't see a real cons if we change the status for rules at the moment, so okay for me.

[2017-01-15 20:41] jackdewinter opened #2830 "Phantom items appear after exception while saving items and things"
Log file below.  I am not 100% sure, but after that error happens is when this seems to occur.

I am not sure how I got into this state, but once there, I see logs like:
[code]
This was from development, and may have been caused by other bugs I reported.  The important things are "exec:command:office_deskbacklight_check" and "exec:command:office_deskbacklight_ping".  In both cases, these were name

[2017-01-15 20:54] MageGH opened #2831 "Duplicated entry after modifying config in text based mode"
Original entry:
Group GF_Wardrobe    "Wardrobe"      \<bath\>  (gGF)
Modified entry:
Group GF_Wardrobe    "Wardrobe"      \<wardrobe\>  (gGF)

On the Basic UI the entry will be duplicated and the duplication can be seen in the SmartHome-Designer also.

[2017-01-15 21:02] MageGH opened #2832 "CometVisu does not work on Win10"
I am getting the error below after installing CometVisu on build #717 (Win 10 Prof 64 bit).

HTTP ERROR 404
Problem accessing /cometvisu/. Reason:
Not Found

[2017-01-15 21:11] kaikreuzer commented on #2832
CometVisu is not part of ESH.
Please either enter an issue at https://github.com/openhab/openhab2-addons (but provide more details on your configuration plus log files) or ask for help at https://community.openhab.org/

[2017-01-15 21:11] #2832 closed

[2017-01-15 21:14] kaikreuzer commented on #2831
Looks like a duplicate of https://github.com/eclipse/smarthome/issues/637.

[2017-01-15 21:14] #2831 closed

[2017-01-15 21:20] kaikreuzer commented on #2830
It would be awesome if you could analyze it a bit yourself and come up with a short and easy example of how to reproduce a concrete problem. It should not involve non-ESH bindings, so best use the existing [demo configuration files](https://github.com/eclipse/smarthome/blob/master/distribution/smarthome/conf/things/demo.things) and describe a simple change that causes an issue.

[2017-01-16 07:35] sjka commented on #2823
I'm okay with changing them now. However, one thought about the name of the state: For Things we use UNINITIALIZED instead of NOT_INITIALIZED. IMHO we should strive for consistency throughout the project. Especially as the meaning is more or less the same.

[2017-01-16 09:12] aounhaider1 commented on #2820
Thats because its not supported here. It is only supported in multiple widget.

[2017-01-16 09:24] danchom commented on #2823
There is one cons, when a rule is added it will be without status until it goes into IDLE or NOT_INITILIAZED (uninitialized - I'm ok to change the name). If someone call getStatus(theRule) it will receive null. This can be long time in case of deadlock of handler initialization. May be it is better to have INITIALIZING status for this period of time.
For example:
added -> initializing -> idle
adde

[2017-01-16 09:25] kaikreuzer commented on #2820
What do you mean? What is the difference of a "multiple widget" to a parameter with limitToOptions=false?

[2017-01-16 09:30] aounhaider1 commented on #2820
For multiple=false we are using default material md-select. It does not provide the option to add new values. On the other hand, the widget that we are using for multiple=true is our own custom widget, that supports adding new values and so on.

[2017-01-16 09:31] kaikreuzer commented on #2820
So the bug is that the wrong widget type is used here? So I guess you can fix this.

[2017-01-16 10:11] kaikreuzer commented on #2823
Introducing INITIALIZING, we would then be very close to the Things statuses, which isn't bad.
But note that the state diagram of the Things say that UNINITIALIZED is the starting point.
So we would actually have:
added -> UNINITIALIZED -> INITIALIZING -> IDLE
added -> UNINITIALIZED -> INITIALIZING -> UNINITIALIZED (with details)

I think we should use the same definition in this case. Imho there

[2017-01-16 10:29] aounhaider1 commented on #2819
Shouldn't it be "defaultValue": "=" ?

[2017-01-16 10:36] kaikreuzer commented on #2763
I guess you will have to come up with a drawing to have me understand the idea :-)
In any case, I think it will be difficult to fit it into the current block/list based editor and probably the UI framework with its widgets might be too limited.
I therefore would like to go for two approaches:
- Use auto-wiring for the existing (simple) rule editor only. Anything that would require manual wiring sh

[2017-01-16 10:38] kaikreuzer commented on #2819
Should it? In https://www.eclipse.org/smarthome/documentation/development/bindings/xml-reference.html#xml-structure-for-configuration-descriptions, it says that the property name is "default"...

[2017-01-16 10:46] danchom commented on #2823
added -> UNINITIALIZED -> INITIALIZING -> UNINITIALIZED (with details)

this is ok for me. I think also there is no need of event for the first UNINITIALIZED(without details) state.

[2017-01-16 11:01] kaikreuzer opened #2834 "Missing supported contexts"
The documentation contains a list of [valid contexts for config parameters](https://www.eclipse.org/smarthome/documentation/development/bindings/xml-reference.html#supported-contexts).

This currently lists only stuff supported by the Paper UI (and "contexts [that] require a specific format").
Imho this should list ALL defined contexts that people are allowed to use (independent of whether certain

[2017-01-16 11:01] kaikreuzer commented on #2834
@aounhaider1 May I ask you to update that list accordingly?

[2017-01-16 11:15] kaikreuzer commented on #2190
@kohlsalem I would love to see this fixed myself, but I don't know how to do it (at least without spending quite some amount of time, which I simply do not have) and nobody else came up with a fix yet either.

So please help finding people that are deep in Eclipse RCP and Xtext and that are willing to give a hand here!

[2017-01-16 14:33] pawlik13 commented on #2668
Just to update - this issue still persists for the OH2 snapshot version (seen with 20170114).

Regards, Paweł

[2017-01-16 15:31] kaikreuzer commented on #2819
Now this is nasty. @aounhaider1 found out that this is due to the ConfigDescriptionParameterDTO - as "default" is a reserved keyword in Java, the DTO uses "defaultValue" as a field name instead of "default". Therefore, the serialized JSON becomes "defaultValue", although our XMLs contain "default". I think the right thing to do is to add a `@SerializedName("default")` to the field.
But this means

[2017-01-16 15:48] grouchal commented on #1093
Hi @kaikreuzer & @beowulfe I have read through this whole issue carefully and am still not clear what the situation is. Will this be Part of the OpenHAB 2 RCs?

[2017-01-16 16:30] magcode commented on #2757
Anyone has a real code example on how to remove the things? (Assuming this is totally fine as the bridge would recreate the things immediately when it comes back)

[2017-01-16 18:04] kaikreuzer commented on #2601
@ddudnik Any update from your end?

[2017-01-16 18:06] ThomDietrich opened #2836 "Javadoc outdated"
The javadoc over at https://www.eclipse.org/smarthome/documentation/javadoc was last generated `Tue Sep 27 15:56:41 CEST 2016`, hence doesn't include more recent changes.

[2017-01-16 18:28] ddudnik commented on #2601
@kaikreuzer Yes, although I've started just last week. Spent some time setting up the environment and understanding the project structure. Just today I merged the Jue sources retaining the git history and will move forward preparing the PR.

[2017-01-16 18:31] kaikreuzer commented on #2601
Perfect then :-)

[2017-01-16 18:35] mherwege commented on #2828
See also issue #2771.

[2017-01-16 18:37] kaikreuzer commented on #2828
@aounhaider1 This sounds like a bug in the Paper UI, could you please check?

[2017-01-16 19:49] #2827 closed

[2017-01-16 19:52] maggu2810 commented on #2819
I am fine with both.
Is there any need that the DTO for the REST interface uses the same name as the XML element or only to keep one wording if possible?

[2017-01-16 23:13] kaikreuzer commented on #2836
Updated with JavaDocs generated from the very latest code base.

[2017-01-16 23:13] #2836 closed

[2017-01-17 00:24] lolodomo opened #2839 "Paper UI: wrong label for Image items in Control frame"
In Paper UI control frame, Image items are all labelled "Camera image" rather than the label defined in the items file.

[2017-01-17 00:27] lolodomo commented on #1617
I have now implemented the album cover art: PR #2838

[2017-01-17 00:58] ThomDietrich commented on #2836
Thanks!

[2017-01-17 04:56] jackdewinter commented on #2830
I'll give it a try... stay tuned.

[2017-01-17 08:17] J-N-K opened #2840 "binding skeleton script creates invalid tests"
When using the binding skeleton script, the result is not compilable because of imports that can't be resolved.

[2017-01-17 09:26] regnets commented on #2603
Any progress on this? Do you need help or a tester?

[2017-01-17 09:29] ddudnik commented on #2603
@regnets no progress so far as I'm aware. Have to do https://github.com/eclipse/smarthome/issues/2601 first.

[2017-01-17 09:30] kaikreuzer commented on #2603
See here: https://github.com/eclipse/smarthome/issues/2601
This issue is a pre-requisite that has to be done first.

[2017-01-17 10:19] MohitPuri1996 commented on #1273
Have you Found solution for this ,i stucked in the same well,pls help me

[2017-01-17 10:41] kaikreuzer commented on #2840
Can you fix this?

[2017-01-17 11:12] J-N-K commented on #2840
I'll give it a try

[2017-01-17 12:19] kaikreuzer commented on #2819
What needs to be the same are the property names within the XML and the JSON - because both refer to the same [definition of config descriptions](https://www.eclipse.org/smarthome/documentation/development/bindings/xml-reference.html#configuration-descriptions) (which we actually should also update to also embrace JSON). The internal field name of the DTO can be different, but the input and output

[2017-01-17 12:30] regnets commented on #2601
I am really looking forward to this! If you need any help, just message me.

[2017-01-17 13:22] lolodomo commented on #1800
@watou @kaikreuzer : can we make a new step and adjust the sitemap syntax ? The Image element is already defined and as I understood we just have to make the url= parameter optional. @watou: is it already done or is it still something to be done ? Are you able to propose this change ?

[2017-01-17 13:39] kaikreuzer opened #2844 "default value of limitToOptions is unclear"
The [documentation](https://www.eclipse.org/smarthome/documentation/development/bindings/xml-reference.html#xml-structure-for-configuration-descriptions) says that the default value of the "limitToOptions" property is true in case it is not specified. The [code](https://github.com/eclipse/smarthome/blob/master/bundles/config/org.eclipse.smarthome.config.core/src/main/java/org/eclipse/smarthome/con

[2017-01-17 14:43] ddudnik commented on #2601
Hi @kaikreuzer , maybe you could help me out a bit.

I god a weird exceptions in org.eclipse.smarthome.config.discovery.test during 'mvn clean install'. I found a similar issue here https://bugs.eclipse.org/bugs/show_bug.cgi?id=469040 but it seems to be caused by something else now. Or can it be related to the fact that I use JDK8 maybe?

Here are the stack traces:
java.lang.NoClassDefFoundError:

[2017-01-17 14:46] ddudnik commented on #2601
An update on the issue itself: most work is done. I'll try to test the binding on my home OH2 instance over weekend.

[2017-01-17 17:31] J-N-K commented on #2840
Someone with deeper knowledge of the packages needs to look into this. I ran into the problem that org.eclipse.smarthome.core.thing.setup is not found. If I remove that from the archetype manifest, it complains about slf4j-api and an unkown type .jar.

[2017-01-17 19:14] #2828 closed

[2017-01-17 19:21] maggu2810 commented on #2844
Hm, I don't care who wins, but it should be consistent in code and documentation.
Do you prefer true or false?

[2017-01-17 19:23] maggu2810 commented on #2844
Hm, so let's change the documentation. The current behaviour has been this way the last month the same.

[2017-01-17 21:04] kaikreuzer commented on #2839
@aounhaider1 Could you fix that?

[2017-01-17 21:15] lolodomo commented on #2839
I think the issue is at this line: https://github.com/eclipse/smarthome/blob/a04274245f862494f19c43a45d36c03f28da006c/extensions/ui/org.eclipse.smarthome.ui.paper/web-src/partials/control.html#L227
"Camera image" should probably be replaced by something like "{{getLabel(null, item.label, 'Camera image')}}"

[2017-01-17 22:22] lolodomo commented on #1800
I mention here an interesting discussion in my PR for the Sonos cover art about the usage of RawType for image items and the lack of format indication that could help UI to render the picture.
The question is: is RawType without any content type indication sufficient for UI ?

[2017-01-17 22:22] ddudnik commented on #2601
@kaikreuzer to make the unit test issue more related to this ticket: I also got the failure when running test for hue, single test fails with:

java.lang.NoClassDefFoundError: org/eclipse/smarthome/binding/hue/test/HueBridgeHandlerOSGiTest$_assert_that_a_status_configuration_message_for_missing_bridge_IP_is_properly_returned_(IP_is_an_empty_string)_closure9
	at org.eclipse.osgi.internal.loader.Bun

[2017-01-17 22:37] lolodomo commented on #1800
Just an idea: maybe we could add an optional "format" parameter to the Image sitemap element to help UI ?

[2017-01-17 22:48] watou commented on #1800
Not to always be raining on people's parades, but the user should not need to know the image format, and may not even be able to know it.  As it is, Sonos and `RawType` are both depending on a smart image renderer, like in modern browsers, to sniff out the format from the raw image data since they don't offer a Content-Type header.

[2017-01-18 01:19] RyanRamchandar opened #2846 "Changing Item Type causes ItemStateChangedEvent to no longer be sent in SSE event stream at /rest/events"
**Expected behaviour:**
Change Item Type, for example from Switch to Dimmer, via the REST API or PaperUI and send a command to that Item via REST or PaperUI. The following Events should be emitted at `/rest/events` if the state changes: `ItemCommandEvent`, `ItemStateEvent` and `ItemStateChangedEvent `

**What happens instead:**
`ItemCommandEvent`, and `ItemStateEvent` are sent but not `ItemStateCh

[2017-01-18 03:06] cdjackson commented on #2844
The original intention was that it should default to true and I think this was implemented and tested when I originally implemented this so I'm guessing there has been some recent changes to change this?.  The reason is that it avoided breaking earlier code where there were only options.

If this changes please let eme know as this probably breaks things in aware where I assume the default is true

[2017-01-18 07:31] RyanRamchandar commented on #2846
Can confirm this also exists in https://openhab.ci.cloudbees.com/job/openHAB-Distribution/733/

[2017-01-18 07:55] DimitrisSar opened #2847 "Wrong average of Group:Number:AVG"
Maybe this is a bug...

The value of certain Group functions (MIN, MAX, AVG, SUM) is calculated incorrectly when using items with percentages.

Please see: https://community.openhab.org/t/wrong-average-of-group-number-avg-with-dpt-knx-5-001/20529

[2017-01-18 07:57] kaikreuzer commented on #2847
Could you paste a very short and simple example here that can be used to reproduce and analyze the issue?

[2017-01-18 08:06] DimitrisSar commented on #2847
Using openHAB 2.0 RC1 (with multiple KNX 1.x bound items).
Short example of the case to reproduce this issue:

2 defined items, having the following values for their state:
P11_J1 (Type=RollershutterItem, State=50, Label=P11_J1, Category=null, Groups=[Shutters])
P11_J2 (Type=RollershutterItem, State=100, Label=P11_J2, Category=null, Groups=[Shutters])

Are grouped in the "Shutters" Group.

Within

[2017-01-18 08:13] kaikreuzer commented on #2847
You are transforming PercentTypes to a DecimalType here, so it is imho fully correct that the value of the group item is a value between 0-1.

What happens if you define the group to be of Rollershutter type as well? `Group:Rollershutter:AVG`?

[2017-01-18 08:18] DimitrisSar commented on #2847
It works fine then 👍

Thank you Kai.   This was a miss-configuration, not an issue after all :)

[2017-01-18 08:19] kaikreuzer commented on #2847
Glad I could help :-)

[2017-01-18 08:19] #2847 closed

[2017-01-18 08:32] DimitrisSar commented on #2847
Sorry for not covering also another case from another user...  I will follow up with the post below:

He is experiencing the same problem (Group average being displayed incorrectly) when using "Number" type of items.

Example:
[code]

have a state of 38 and 40 correspondigly and are displayed as "38 %" and "40 %" on his sitemap, while the Group:Number:AVG shows "0.4%" when using:

[code]

[2017-01-18 08:56] kaikreuzer commented on #2820
Sorry, there are still issues with that widget after #2841.

1. Set values (which are not in the option list) are not shown as the current value when opening a page:
![screen shot 2017-01-18 at 09 51 51](https://cloud.githubusercontent.com/assets/3244965/22057171/d15836e4-dd63-11e6-93ee-2ecb5e1a5074.png)

On this picture, the parameter is set to "1", but it is not shown, unless you open the drop-d

[2017-01-18 09:18] maggu2810 commented on #2844
Let's have a look at the history...

[code]

[code]

[code]

The commit 5a6e726c041fe78535da52bc12f747123ce4f8b8 changes:
[code]

the default is false, so nothing has been changed by this commit.

So, let's have a look at the parent:

[code]

[code]

[code]

That commit introduced the limitToOptions member without a explicit initialitation.
So it has been initialized false from the beginning.

Or

[2017-01-18 09:36] kaikreuzer opened #2849 "Module outputs are not available in scripts"
The values of outputs of other modules are made available to script, which is also directly supported by the rule editor:

![screen shot 2017-01-18 at 10 15 23](https://cloud.githubusercontent.com/assets/3244965/22057952/507b7474-dd67-11e6-88b9-7b4b69045d65.png)

When trying to access those outputs, an exception is thrown.

The problem is that in the rule context, they are made available as e.g. "

[2017-01-18 09:44] cdjackson commented on #2844
I can't check as I am in India. Maybe there was an error or maybe it is initialised in the builder. In any case I think it makes more sense to initialise to true - in most cases if you supply options you want the selection to be limited to these options.

Sent from my iPhone

[2017-01-18 09:54] watou commented on #2844
The common usage of a list of options is that the user should be able to choose only from the available options.  The exceptional case is that the user should be able to type in his or her choice, ignoring the list of available options.  So, regardless of history, `limitToOptions=true` is the sensible default.

[2017-01-18 09:56] kaikreuzer commented on #2844
I agree, it should be true as default and that's what Chris also originally expected.

The problem has been introduced with https://github.com/eclipse/smarthome/commit/5a6e726c041fe78535da52bc12f747123ce4f8b8 - before this change, the JSON simply did not contain ANY value for limitToOptions, so it was up to the UI to know the default (and I assume HABmin then uses "true). With that commit above, w

[2017-01-18 10:14] kaikreuzer commented on #2834
Another comment: There is "Day of week" given as a supported context, but this is missing in the XML above. I assume the correct name would be "dayOfWeek", right? Please correct this as well.

[2017-01-18 10:23] watou commented on #2844
So the doc is right, the implementation of it needs fixed, and any code that relied on the wrong default also needs to be fixed.  That's my opinion, anyway!

[2017-01-18 10:32] maggu2810 commented on #2844
Really, I assume it has been introduces by 62ef11816a1f1332a6c9c3f5f54771732a22c6bb

I agree with @cdjackson, @watou and @kaikreuzer that using options implies that you want to limit to that options and not using the provided options as a limit is the corner case.
I am also fine with changing the impl, but if my assumption about the commit ID is correct it has been used by implementations (if some

[2017-01-18 11:38] kaikreuzer opened #2854 "Hidden files cause log exceptions in automation file provider"
Just came across this in my log:

[code]

I would suggest that hidden files (i.e. files starting with a ".") are always ignored.

[2017-01-18 13:05] #2854 closed

[2017-01-18 14:10] kaikreuzer commented on #2771
Should be fixed with https://github.com/eclipse/smarthome/pull/2843

[2017-01-18 14:10] #2771 closed

[2017-01-18 16:07] aounhaider1 commented on #2636
For JS files we can use an auto incrementing version number. There are libraries like https://www.npmjs.com/package/gulp-rev that can be used. For html files we can set the cache-control header with max-age. What do you think?

[2017-01-18 16:17] kaikreuzer commented on #2820
Sorry, I am still not happy with this. It feels very unintuitive for the user when entering a custom value.

I would expect, he can enter a value and click "OK" to save it:
<img width="524" alt="screen shot 2017-01-18 at 17 11 22" src="https://cloud.githubusercontent.com/assets/3244965/22072051/5a773e56-dda1-11e6-85ba-ddda0aca5d48.png">
Unfortunately, this value is NOT stored - it is only stored,

[2017-01-18 16:36] danchom commented on #2849
The keys of outputs in rule context are in form "moduleId.outputId". Here  "1.newState" the 1 is the moduleId. If you have modules of the same module type (they will have same output uids), what "newState" of which will you get?

[2017-01-18 16:37] kaikreuzer commented on #2849
See https://github.com/eclipse/smarthome/pull/2850#issue-201521946.

[2017-01-18 16:41] danchom commented on #2849
ok but if you have 2 item modules
print(context.get('1.newState')) - will return the state of the first one
print(context.get('2.newState')) -  will return the state of the second one
print(newState) - what will return this? State of the first or the second item?

[2017-01-18 16:45] kaikreuzer commented on #2849
Undefined, it might be the one or the other. That's why you should use the other option in case you have the same output id twice.

[2017-01-18 16:47] RyanRamchandar commented on #2846
@sjka Thanks for diving in to this.

[2017-01-18 18:15] #2846 closed

[2017-01-18 19:24] danchom commented on #2849
For me, the right way here, is to use inputs in script module and the script must be write using them. In that way the scripts can be reused and will not depend on state of the system (The inputs always will be available, the outputs of other modules can missed). Btw the inputs are also in available in rule context under their names.

[2017-01-18 19:42] MHerbst commented on #2636
@aounhaider1 Sounds good. I know the technique with incremented version numbers from CMS like Wordpress where it is working perfectly.

[2017-01-18 20:32] kaikreuzer commented on #2849
@danchom We discussed that already a long time ago: You are mixing up users with developers here.
Only developers have a chance to define a module TYPE (on which they could declare inputs that their script needs). But the usecase at hand here is for the (expert) end user: He uses the existing "ScriptAction" and can get hold of the rule context to do fancy stuff. Note that this "user" feature has b

[2017-01-18 20:50] kaikreuzer commented on #2847
I cannot confirm, all is as expected:

[code]

[2017-01-18 21:01] kubawolanin opened #2862 "[Paper UI] Configuration input ignores "pattern" attribute"
In `thing-types.xml` I'm able to define my parameters for the binding's Thing.
According to [the documentation](https://www.eclipse.org/smarthome/documentation/development/bindings/xml-reference.html#xml-structure-for-configuration-descriptions), I should be able to pass `pattern` property, which allows me to define validation Regular Expression.

In Paper UI, however, I'm unable to do it.

Let's

[2017-01-19 04:28] jackdewinter opened #2863 "Processing of things file hits problem, possibly with REGEX, and stops parsing .things file"
- Problem 1: the specified line for exec:command:office_desk_backlight_ping raises an error condition that causes the exec:command:office_desk_backlight_check line and others after it to be ignored
- Problem 1a: something in the content of the .thing line for the ping causes an error condition to occur.  That issue is not logged in the log file at general log levels, hence it is difficult to deter

[2017-01-19 04:31] jackdewinter commented on #2863
note: the rule seems to stop because of a " after the timeout value.  But I would expect a warning about the one line, and not stopping the entire file from loading.

[2017-01-19 07:23] danchom commented on #2849
May be I was not clear, I'm not talking about #1783. My proposal was to add some numbers of inputs (5 or 10) to the current ScriptCondition and ScriptAction module types. In that way the users will have ability co connect them to outputs of other modules and the advance users will have opportunity to write scripts with using these connected inputs (the rule engine set their values and make them av

[2017-01-19 08:07] sjka commented on #2863
No, tis has nothing to do with the regex. The problem in your case is the `timeout=30"`. So everything afterwards becomes a string, and you basically inverted strings and non-strings. The parser has no chance to figure out what you intended to do, unless we would limit what you are allowed to express within strings.

Please fix the syntax of your file. Apart from that, I don't see any bugs here.

[2017-01-19 08:13] #2863 closed

[2017-01-19 08:14] sjka commented on #2849
Why do you think it's convenient to have a fixed number of inputs and force the user to wire them in an additional step? In the end, the user will have to "remember" what exactly "input3" was. I can really recommend trying this out yourself!

Of course, this is what I would expect. What kind of useful input should come module wich did _not_ trigger the rule?

As will it be when the user changes it

[2017-01-19 08:21] kaikreuzer commented on #2849
@danchom My PR #2850 is meant to provide a solution for the "simple rule editor" as discussed in https://github.com/eclipse/smarthome/issues/2763#issuecomment-272826754 and I think this addresses it nicely.

Your ideas regarding script actions with defined inputs is something that would only be relevant for a (not yet existing) expert rule editor. Ok for me to discuss what makes sense there , but

[2017-01-19 08:28] kaikreuzer commented on #1665
FTR: Initial version implemented with https://github.com/eclipse/smarthome/pull/2858

[2017-01-19 08:33] kaikreuzer commented on #2862
Is this a duplicate of https://github.com/eclipse/smarthome/issues/2556?
If so, could you check if https://github.com/eclipse/smarthome/pull/2812 meets your requirements?

[2017-01-19 08:48] kubawolanin commented on #2862
Absolutely! Seems I overlooked this one.
Thank you.
Closing as it's a duplicate of #2556 being resolved by #2812

[2017-01-19 08:48] #2862 closed

[2017-01-19 09:00] kaikreuzer commented on #2715
How do you actually end up with PercentType values on NumberItems? Usually, PercentType is only used in conjunction with DimmerItems.

Can you show a concrete (small) example where a problem occurs (item definition, sitemap definition)?

[2017-01-19 09:21] danchom commented on #2849
@Kai, I'm not blocking #2850, I just share our experience and how we implemented these module types. I'm ok the current PR to be merged.
@sjka

It's not convenient to have a fixed number and I'll open discussion to invent a way to define them dynamically (in time of rule creation)

This is normal way to exchange dynamic data between modules. Through the connections the user define (shows) source i

[2017-01-19 09:47] J-N-K commented on #2715
Quite simple. KNX DPT 5.001 is mapped to PercentType and often used for humidity sensors, these are NumberItems in ESH.

https://github.com/openhab/openhab1-addons/blob/master/bundles/binding/org.openhab.binding.knx/src/main/java/org/openhab/binding/knx/internal/dpt/KNXCoreTypeMapper.java#L127

[2017-01-19 11:08] #2849 closed

[2017-01-19 15:18] J-N-K opened #2868 "Astro binding throws NPE"
`12:43:00.002 [ERROR] [org.quartz.core.JobRunShell         ] - Job astro:sun:local.job-event-start-noon#event threw an unhandled Exception:
java.lang.NullPointerException
        at org.openhab.binding.astro.handler.AstroThingHandler.triggerEvent(AstroThingHandler.java:304)[185:org.openhab.binding.astro:2.0.0.201701121723]
        at org.openhab.binding.astro.internal.job.EventJob.executeJob(Event

[2017-01-19 15:47] kaikreuzer commented on #2868
Sorry, Astro binding is not here but at https://github.com/openhab/openhab2-addons

[2017-01-19 15:47] #2868 closed

[2017-01-19 15:57] kaikreuzer commented on #2820
Ok, these things are solved by #2866, thanks.

What is left is my comment on #2866: "Same actually applies to the check boxes on the right, they are rather confusing.". Is it too hard to remove them?
Another usability weirdness is that the drop-down does not automatically close after selecting a value. For multiple=true, it certainly makes sense to keep it open, for multiple=false imho not.

[2017-01-19 16:41] EjvindHald commented on #1093
Hi @kaikreuzer & @beowulfe This is my first post, so I am not so familiar with open source dev. I have used Openhab2 for a few days now, and it is really impressive. Then I have read this post, and to me it seems like @kaikreuzer has suggested an implementation solution while @beowulfe is concerned about backward compatibility for bindings version 1.x. Is it @kaikreuzer who decides on this? If not

[2017-01-19 16:48] kaikreuzer commented on #1093
@grouchal & @EjvindHald: I still have to read the comments in detail, think about them and continue the discussion - I didn't yet find the time.
Anybody is invited to make suggestions on the best way forward; so if you have brilliant ideas, please don't keep them for yourselves.

[2017-01-20 04:07] jackdewinter commented on #2863
After I found the issue that you mentioned, I was partially okay.  My current issue is that it happened silently, instead of issuing some kind of warning.  I can see people making a mistake like that and not being able to notice it.

Why would the parsing need to deal with any strings that go beyond one line without some kind of concatenation?

[2017-01-20 07:33] kaikreuzer opened #2870 "DSL file parsing errors should log a warning"
Currently, DSL files that have a broken syntax that causes the parser to fail are half-parsed or silently ignored, see e.g. #2863 and #2580.

It would be helpful, if Xtext validation could be performed. Resources should be completely ignored, if they have syntax errors and a warning should be logged in those cases.

[2017-01-20 07:34] kaikreuzer commented on #2863
Afaik, the problem of having no warnings on parsing errors exists for all model files, i.e. items, rules, things, scripts and persistence.
I agree that this is a trap, but afair, there wasn't an easy solution. I have entered https://github.com/eclipse/smarthome/issues/2870 for further action.

[2017-01-20 08:11] sjka commented on #2863
Thanks @kaikreuzer. Apart from that I can really recommend using the Eclipse Smarthome/openHAB Designer to edit your files. There, you won't miss syntactical errors like this.

[2017-01-20 10:01] sjka opened #2871 "[PaperUI] items view does not update"
When having http://localhost:8080/paperui/index.html#/configuration/items open and e.g. updating an item DSL (i.e. removing/adding items), the displayed items stay the same. A refresh of course fixes it, but I would have expected the same behavior as for things etc.

@aounhaider1 could you please have a look?

[2017-01-20 13:22] sjka commented on #2190
no in-depth Xtext knowledge was needed. Just some unhappy services...

[2017-01-20 17:29] michaeljoos72 opened #2875 "Wrong Zodiac"
Hi

Today 20. January should be CAPRICORN=Steinbock (last day).
But Astro-Binding 2.00 (OH2) already shows AQUARIUS=Wassermann

It seems that we have a shift of one day

Michael

[2017-01-20 18:32] kubawolanin commented on #2794
Thank you @hakan42 for your insight! I did as you advised.
I've decided I'm going to publish this binding on `openhab2-addons` repo. Closing this issue for now.
For those interested in the binding itself, please check out (this pull request)[https://github.com/openhab/openhab2-addons/pull/1738].

Best regards!
Kuba

[2017-01-20 18:32] #2794 closed

[2017-01-20 19:35] timjakobi commented on #2847
Hi Kai,
see the output of karat console. I have knx:DPT9.001 temp items and knx:DPT5.001 humidity items. Both as Group:Number:AVG.
<img width="1280" alt="bildschirmfoto 2017-01-20 um 20 33 21" src="https://cloud.githubusercontent.com/assets/13568856/22162607/b55f565a-df4f-11e6-85c7-d5ba937e7928.png">

[2017-01-21 05:13] rtvb opened #2877 "[Hue Binding] Add support for groups"
The Philips Hue API has support for Groups.
Please add this support to the binding als well.

https://www.developers.meethue.com/documentation/groups-api

[2017-01-21 05:16] rtvb opened #2878 "[Hue Binding] Add support for scenes"
The Philips Hue API has support for Scenes.
Please add this support to the binding als well.

https://www.developers.meethue.com/documentation/scenes-api

[2017-01-21 06:51] rtvb opened #2879 "[Karaf] Remove SSH key after every restart"
Since the last update (build 741) I need to remove the SSH key every after every restart of OH2 before I am able to access the console.

[code]

[code]

[2017-01-21 06:59] rtvb opened #2880 "Log levels not kept after restart"
If I set a specific log level (for a binding) and remove it after use, the log level is set again after a restart. I expected that it is kept default. I now have to explicitly set the level to `INFO` (or any default level) to remove it permanently.

1. Set log level, e.g. `log:set DEBUG org.openhab.binding.mqtt`
2. Use log level
3. Remove log level, e.g. `log:set DEFAULT org.openhab.binding.mqtt`

[2017-01-21 07:24] watou commented on #2880
Sounds a bit like what is described here:  https://issues.apache.org/jira/browse/KARAF-2381

[2017-01-21 07:26] J-N-K commented on #2880
I have seen that, too. Didn't notice it only happens with DEFAULT, maybe that's why I was not able to reproduce it.

[2017-01-21 09:23] kaikreuzer commented on #2875
Please report this at https://github.com/openhab/openhab2-addons/issues, this is where the astro binding lives - thanks!

[2017-01-21 09:23] #2875 closed

[2017-01-21 09:32] kaikreuzer commented on #2879
Sorry, this is not at all ESH related.

[2017-01-21 09:32] #2879 closed

[2017-01-21 09:34] kaikreuzer commented on #2880
Guys, this is the issue tracker for ESH, not for Karaf or the openHAB Distro.

[2017-01-21 09:34] #2880 closed

[2017-01-21 09:40] watou commented on #2880
Of course this is obvious!  Are you saying this issue should be opened in a different issue tracker.  If so, which do you suggest?

[2017-01-21 09:48] kaikreuzer commented on #2880
Well, Karaf or openHAB Distro, but it depends if there is at all a bug, I didn't read the discussion and explanations on the linked Karaf issue.

[2017-01-21 18:21] rtvb commented on #2879
Where should I raise an issue then? At openHAB distro?

[2017-01-21 19:15] kaikreuzer commented on #2879
Probably nowhere, because I would expect that https://github.com/openhab/openhab-distro/pull/400 already fixed it.

[2017-01-22 15:07] MHerbst commented on #2672
Unable to reproduce this this problem with release version OH 2.

[2017-01-22 15:07] #2672 closed

[2017-01-23 10:55] sjka commented on #997
This definitely is a pain. The root-cause for all this is the fact that we actually are running more or less a complete runtime framework inside the designer. To my understanding we are doing this mainly to allow the scripts and rules (i.e. Xbase) to use the classpath for looking up what kind of commands should be there. IMHO this completely sucks.

For sure, Xbase _by default_ uses the classpath

[2017-01-23 11:10] kaikreuzer commented on #997
Yes, having a REST connection was also the intention of https://github.com/eclipse/smarthome/issues/619 and being able to directly read the available actions would be nice.

I only fear that this will mean quite some implementation work, which might not be long-lasting. My hope would be to offer a "designer runtime extension" in the future (see https://github.com/eclipse/smarthome/issues/1402), wh

[2017-01-23 12:03] tomhoefer commented on #2770
did it fail only once or have you seen it more often?

The only thing I could do is to increase the timeout from 10 sec to e.g. 30 sec....

[2017-01-23 12:19] #2870 closed

[2017-01-23 12:52] #2442 closed

[2017-01-23 13:35] sjka commented on #2770
I personally have seen it twice: One on Travis (as linked above) and once on my mac.

[2017-01-23 13:41] tomhoefer commented on #2770
Hmmm.. on your mac? Increasing the timeout will not help here...

[2017-01-23 15:09] kaikreuzer commented on #2190
Re-opening as I still have issues with the rule resolution:

![screen shot 2017-01-23 at 16 09 16](https://cloud.githubusercontent.com/assets/3244965/22209302/5426e478-e186-11e6-979c-536df5676495.png)

[2017-01-23 15:15] FusedHe3 opened #2882 "[BasicUI] Slider knob not showing in BasicUI on Microsoft Edge"
Hi everybody,

I know this isn't a major issue, but I noticed that the slider knob is missing when using the BasicUI in Microsoft Edge. This makes adjusting the slider a bit tricky.
**Edge:**
![snip_slider](https://cloud.githubusercontent.com/assets/25036470/22208950/09581e36-e185-11e6-9086-532c825785bc.png)
**IE:**
![snip_slider12](https://cloud.githubusercontent.com/assets/25036470/22209454/d047

[2017-01-23 15:33] kaikreuzer commented on #2882
@resetnow, could you please have a look?

[2017-01-23 15:36] kaikreuzer opened #2883 "[Paper UI] DateTime formatting broken on Safari"
This picture says it all:

![screen shot 2017-01-23 at 16 35 59](https://cloud.githubusercontent.com/assets/3244965/22210432/19548270-e18a-11e6-8c46-c129dbc95404.png)

@aounhaider1 Can you fix this?

[2017-01-23 15:43] kaikreuzer opened #2884 "[Paper UI] Widgets on Control UI change position on every browser reload"
On every browser reload (F5), the widgets are at a different position (using Safari), which is pretty annoying:

![screen shot 2017-01-23 at 16 40 29](https://cloud.githubusercontent.com/assets/3244965/22210643/cffe5f28-e18a-11e6-9fb7-fb936ff25e32.png)
![screen shot 2017-01-23 at 16 40 35](https://cloud.githubusercontent.com/assets/3244965/22210644/d00495fa-e18a-11e6-8d03-99cf73506926.png)
![scree

[2017-01-23 15:45] kaikreuzer opened #2885 "[Paper UI] "Reload" button at the top right of the Control UI is broken"
Clicking the "reload" button on the top right of the Control header makes the content disappear, but not refresh - happens on both Safari+Chrome:

![screen shot 2017-01-23 at 16 45 09](https://cloud.githubusercontent.com/assets/3244965/22210814/56a1e8a6-e18b-11e6-904b-1e777b57e636.png)

@aounhaider1 Could you please check?

[2017-01-23 17:44] juelicher opened #2886 "Not all bundles loaded on first start"
Hi,

by mistake I reported this issue in the openhab1-addons repository, where it was closed. As I still think, that the behavior, as described below, is a bug of the openHAB core I assume, that this is the right repository to report it.

I performed the following steps:

Started a clean install of OH2, without modifying any of the configuration files
-> Everything OK

Stopped OH2 and copied my co

[2017-01-23 18:44] maggu2810 commented on #2886
I don't see any relationship to the Eclipse SmartHome framework, it seems to be related to openHAB only.

If you don't know with openHAB issue tracker is the correct one (distro, core, ...) -- or perhaps all the time -- you should first try to find some help in the openHAB Community: https://community.openhab.org/

[2017-01-23 18:44] #2886 closed

[2017-01-23 19:34] MHerbst commented on #2884
There are some Javascript libraries that can layout boxes of different sizes gapless ("masonry layout"). The most famous is probably Isotope. But it is licenses under GPLv3.
I found another one that is licenses under MIT license: http://mcpants.github.io/jquery.shapeshift/

[2017-01-23 21:01] juelicher commented on #2886
Just wanted to help make this software better...

I assumed, that loading the bundles is part of the eclipse smarthome part, but probably I don't understand the dependencies of the architecture.

[2017-01-23 21:04] ddudnik commented on #2601
An update: I ran some tests on my local OH2 instance with new Hue bundle, seem to be alright so I'll submit the PR in the next days.

@regnets since you mentioned that you could help with testing, I'm attaching the newly assembled Hue binding jar (please change the extension from zip to jar, GitHub won't allow attaching jar files directly) which you can install manually on your OH2 server. Basical

[2017-01-23 21:11] ddudnik commented on #2601
@kaikreuzer

An update regarding weird NoClassDefFound errors. After trying different things and some googling I managed to find the root cause of that and it appears to be the Linux encrypted filesystem (which I'm using). Default limit for filename on linux is 255 characters, which is fine. However, when using encrypted FS, this limits becomes lower - 143 characters. The rest is used when encrypt

[2017-01-24 06:31] maggu2810 commented on #2886
We are grateful for any help! 😉
It could be difficult to find the correct tracker to report an issue.

Eclipse SmartHome is the core framework, it consists of different OSGi bundles that implement a lot of functionality.
But ESH is not a product or a solution itself.
It is also not something that implements a Karaf based runtime etc.

openHAB is a SmartHome product that is based on ESH and is usin

[2017-01-24 06:36] maggu2810 commented on #2601
@ddudnik Please correct me if I am wrong, but this seems to be a limitation of ecryptfs only and not on encrypted filesystems on Linux in general.
I am using an encrypted file system for years (on Linux) and never run into such a problem.

[2017-01-24 07:03] sja commented on #2312
It's still the same. In the mean time it's Chrome 55 in macOS 10.12. System setting: Always show scroll bars. The following screenshot shows a two-line script:
https://www.dropbox.com/s/b0uoteghyx4l41r/Screenshot%202017-01-24%2008.00.56.png?dl=0

[2017-01-24 09:01] ddudnik commented on #2601
@maggu2810 that's right, to be precise it is a limitation of eCryptfs when filename encryption is enabled (on by default I think) which is probably used in most Ubuntu installations. I was too soon to generalize :)

Here's a corresponding issue for reference: https://bugs.launchpad.net/ecryptfs/+bug/344878

[2017-01-24 11:19] sjka commented on #2190
Yes, indeed, I can confirm that rules are still awfully broken. Will have a look too.

[2017-01-24 12:46] kubawolanin commented on #2884
@MHerbst you don't actually need a library nowadays. In todays world you can use flexbox-based layout sufficiently. Take a look at [this example](https://medium.com/@_jh3y/how-to-pure-css-masonry-layouts-a8ede07ba31a#.6zq9ukteu).

[2017-01-24 13:50] aounhaider1 commented on #2884
@MHerbst It was indeed a bug. We are already using masonry by Desandro so we don't need another library for that.
@kubawolanin Essentially we can, but I don't see any reason we should reinvent the wheel when we already have much cleaner solution available.

[2017-01-24 13:54] kubawolanin commented on #2884
@aounhaider1 how utilizing a heavy library for a simple task like this is a cleaner solution? Flexbox allows you to accomplish this with just a few lines of CSS. I can help!

Reinventing the wheel would be writing flexbox spec by yourself :-)

Cheers

[2017-01-24 15:00] aounhaider1 commented on #2871
The runtime is not sending any item update events when DSL is changed. Strangely, the event is sent when I update an item through rest endpoint.

[2017-01-24 15:51] sjka commented on #2190
As it turned out there was a package imported twice in they dynamically created project, leading to an invalid manifest which could not resolve any classes except those from the JRE. I have created #2891 in order to prevent this. Could you please check if that solves your issues?

[2017-01-24 18:12] MHerbst commented on #2884
:-) I'd better have looked into the source code before ...

Flexbox has lots of advantage, but there are probably quite a few browser versions in use that do not support it fully.

[2017-01-24 21:23] sjka commented on #2871
Strange... I will check that.

[2017-01-25 10:20] danchom opened #2893 "Remove Quartz lib dependency from cron trigger"
Implementation of GenericCronTrigger should use build in cron scheduler instead of Quartz implementation.

[2017-01-25 10:22] torstesu opened #2894 "[sonos] Add support for clear player queue"
The current sonos binding does not provide a channel to clear the current queue of a player. The playlist channel only allows to add tracks from a playlist to a player's queue. Thus, when using the playlist channel multiple times on the same player with different playlists, the queue will represent a mix of the playlists added.

In many use cases, a user would prefer to clear the queue so to only

[2017-01-25 10:53] ThomDietrich commented on #2190
Somewhat related question: How complicated would it be to export what's special about the Designer as an eclipse ide plugin?

[2017-01-25 10:53] sjka commented on #2871
funny. we hit a "TODO" in GenericItemProvider 😄

I have created #2896 for the events. Could it be that they are still not processed properly by the PaperUI?

[2017-01-25 12:28] kaikreuzer commented on #630
I'd suggest to close this as won't do.
It would be some considerable effort and not really help to make anything easier for the normal user.
Instead, we should imho pursue https://github.com/eclipse/smarthome/issues/1402.

[2017-01-25 12:28] #630 closed

[2017-01-25 12:29] kaikreuzer commented on #2190
Not entirely. The error markers still appear when opening a rule and are greyed our shortly after. So it's a good step forward, but not yet there.

You mean like https://github.com/eclipse/smarthome/issues/630? To much effort and and it wouldn't solve any concrete issue.

[2017-01-25 12:30] kaikreuzer commented on #619
While this was a good idea 3 years ago when the issue was created, I suggest to close it and rather pursue #1402 for bringing the Designer closer to the runtime.

[2017-01-25 12:30] #619 closed

[2017-01-25 15:04] lolodomo commented on #2894
An additional channel is an option.
Another option would be to accept in the existing playlist channel either `<playlist name>` or something like `CLEAR#<playlist name>`. If the channel command starts with "CLEAR#', the binding will replace the queue content by the playlist content.

[2017-01-25 15:51] lolodomo commented on #2788
Any chance to make progress on this issue, I would be happy if HABdroid could display the right icon.

[2017-01-26 01:40] RyanRamchandar opened #2899 "REST SSE events stream delayed"
**What was expected:**
The SSE event stream at `/rest/events/` should emit events in a timely fashion (within 100ms) from the time an action triggers that event, ie. REST calls posting commands/state to Items, adding/removing Things, etc.

**What happens instead:**
There is a noticeable, unpredictable, delay between doing an action and the event emitted from the SSE stream. This delay can range fr

[2017-01-26 14:26] kaikreuzer commented on #2899
Did you do any analysis on WHERE this delay might be introduced?
I.e. at which moment is it logged in the runtime?
I probably would make sense to break your tests into two parts:
1. Send HTTP POST requests to items and check how long it takes for the changes to appear in the log file.
2. Send commands on the local console and check how long it takes until they are broadcasted via SSE.

[2017-01-26 14:38] #2885 closed

[2017-01-26 15:01] kaikreuzer commented on #2361
This can be closed, right?

[2017-01-26 15:06] kaikreuzer commented on #891
This has been implemented with https://github.com/eclipse/smarthome/pull/2814

[2017-01-26 15:06] #891 closed

[2017-01-26 15:09] kaikreuzer commented on #2894
I would strongly suggest not to introduce special syntactical commands within a command value.

[2017-01-26 16:33] lolodomo commented on #2894
To avoid source code conflicts, I will implement this enhancement (so with a new switch channel) as soon as my pending Sonos PR is merged.

[2017-01-26 17:40] rgerrans opened #2900 "In Sitemaps LabelColor and ValueColor not working on Group:Switches in BasicUI"
I've defined the following group switch:

`Group:Switch:OR(ON, OFF)	Motion	"Motion"	<motion>	(Sensor)`

In my sitemap I tried to apply the following label/value colors:

`Group item=Motion		label="Motion [%s]"	labelcolor=[ON="Red"] valuecolor=[ON="Red"]`

But in the BasicUI it doesn't show up in Red though it does in the Android App

[2017-01-26 18:07] rtvb opened #2901 "Iconset: inconsistent dynamic icons for dryer and washing machine"
https://github.com/eclipse/smarthome/tree/master/extensions/ui/iconset/org.eclipse.smarthome.ui.iconset.classic

the dynamic versions of `washing machine_2` and `dryer` are inconsistent. You would expect -0, -1, -2, -3 to match the state

state | washingmachine_2 | dryer
--- | --- | ---
(default) | ![](https://raw.githubusercontent.com/eclipse/smarthome/master/extensions/ui/iconset/org.eclipse.sma

[2017-01-26 22:42] sailorsail opened #2902 "References to items in the Frame declaration, within a sitemap, block updates on icons!"
In a clean install of openHAB 2.0 Release Build, I've used the following configuration:
file.items
[code]
file.sitemap
[code]
When I toggle 'Light_WCBig_Ceiling', within “WC1” page, the update of the icon is performed; no refresh is necessary on the user interface (either iOS or Web Basic UI).
However if I toggle 'Light_WCBig_Ceiling', within “WC2” page, the update of the icon is not performed.
Ne

[2017-01-27 06:32] kaikreuzer commented on #2902
Same question that I asked before: Did you identify this to be a problem with the Basic UI only? Does it work with the Classic UI and the native apps?

[2017-01-27 08:55] sailorsail commented on #2902
[I did](https://community.openhab.org/t/do-references-to-items-on-frame-declaration-in-the-sitemap-block-updates-on-icons/21083/5), but I forgot to mention it here! Either Basic UI, Classic UI or native iOS present the same behaviour.

[2017-01-27 10:33] pathec opened #2903 "Dynamically added channels can't link to items in PaperUI"
I've a Problem that the PaperUI does not found dynamically added channels with dynamic channel uid's, when I try to link a channel manually.
What means dynamic? A thing has no channels at first and all channels are added during thing creation. Additional a thing has multiple channels of the same channel type, so I attach a unique identifier to channel uid.

Example:

- static defined channel type

[2017-01-27 10:58] sjka opened #2904 "[Test failures] ScriptRuleTest a.k.a. 'context' is not set correctly in scripts"
As it seems, the `ScriptRuleTest` fails depending on the JVM version:

[code]

It relies on the `AbstractScriptModuleHandler` being able to inject a variable named `context` into the scope. However, it appears that this does not work with (at least) the following java versions:

* jdk1.7.0_51.jdk
* jdk1.8.0_31.jdk

It works though on

* jdk1.8.0_102.jdk

This variable was introduced with #2850. As

[2017-01-27 11:12] kaikreuzer commented on #2903
You are passing a channel UID instead of a channel type UID, so it is correct that you do not get a response.

So do I understand it right: The REST API correctly returns all (including dynamically added) channels of your Thing? Then the only problem is that the Paper UI crashes when trying to render it, so the Paper UI needs to be fixed here? If this is the correct summary, you should adapt the i

[2017-01-27 14:06] pathec commented on #2903
@kaikreuzer, yes the thing contains all generated channels and the REST API deliveries all channel types. Then it is probably a problem of PaperUI.

[2017-01-27 14:23] pathec commented on #2903
Same error in PaperUI when I make channel type uid shorter, for example: instead of "switchColorTemperature-ZWayVDev_zway_21-0-51-0" -> "switchColorTemperature0". So the underscores and dashes should not be the problem.

[2017-01-27 14:43] pathec commented on #2903
AngularJS model looks good to me, but maybe it help to find the problem:
![thingdetails](https://cloud.githubusercontent.com/assets/9437468/22374623/330364b4-e4a7-11e6-9520-645253a45222.png)

[2017-01-27 14:48] #2904 closed

[2017-01-27 15:17] kaikreuzer commented on #2903
@aounhaider1 Could you check why it isn't possible to link the channel?

[2017-01-27 15:19] kaikreuzer commented on #2903
@pathec The title now says "PaperUI can't render some channel types" - but the channels ARE rendered on the Thing detail page, right? So the problem is that there is a JS error once you click the "link" button? Could you please describe it in detail?

[2017-01-27 15:52] obartelt opened #2909 "Hue Binding: Offline Hue lights not reported as such"
When I switch a Hue light off manually (cutting power by using a wall switch), I get an event in the Karaf console:

[me.event.ThingStatusInfoChangedEvent] - 'hue:0100:001788253ecd:8' changed from ONLINE to OFFLINE: Bridge reports light as not reachable

But the light is still shown as "on" in OpenHAB (brightness as it was set (e.g. 100%), and the :switch channel set to ON).

Is that a bug? How ca

[2017-01-27 15:55] kaikreuzer commented on #2909
No bug, see https://github.com/openhab/openhab2-addons/issues/1776#issuecomment-275699086.

[2017-01-27 15:55] #2909 closed

[2017-01-27 17:10] maggu2810 commented on #2903
I don't understand why a thing should not consists of different channels of the same type.
Using the same channel type for different channels of one thing works fine for me.

[2017-01-27 17:21] pathec commented on #2903
That's my code to add channel to thing, when I'm try to add multiple channels of same type:

[code]

Resulting for the second channel in: _Duplicate channels zway:zwayDevice:141_32_62_157:21:switchColorTemperature_.

When I change the third line it works:

[code]

[2017-01-27 17:41] maggu2810 commented on #2903
Perhaps my reading was not correct.
The channel type of a channel is identified by the channel type UID.
So, two different channels (two different channel UIDs) can use the same channel type (channel type UID).

In your changed third line you still use `.withType(channelTypeUID)` so, isn't it using the same type?

[2017-01-27 17:58] pathec commented on #2903
You're right. I was wrong. The same type is possible but not the same channel uid. I change that in my comment above.

[2017-01-27 18:12] pathec commented on #2903
The problem is probably the `getChannelTypeById(...)` function of the PaperUI. Because how to move from the channel id (_switchColorTemperature0_) conclusions to the channel type (_switchColorTemperature_). Or I'm thinking wrong?

[2017-01-28 11:31] wborn opened #2911 "Advanced dynamically added channels are not hidden in Paper UI"
For #2663 I am dynamically adding advanced channels (`colorzone`, `temperaturezone`) to `colormzlight` Things. That works well, however Paper UI does not hide these `advanced` channels when configuring or controlling a Thing.

I did some research and to me it seems Paper UI uses the response from the `thing-types` REST service to determine if channels should be hidden.

However the dynamic channel

[2017-01-28 11:44] janssk1 opened #2912 "Better use standard URL encoding in Yahoo weather binding"
I wanted to play around using a simple binding, but too my surprise the bundled yahoo weather binding is not working on OpenHub2

The thing stays offline and the logs show 'The location for WOEID 966591 could not be found', even if the location is good.

It seems the binding generates incorrect HTTP requests towards yahoo

https://query.yahooapis.com/v1/public/yql?format=json&q=SELECT%20location%2

[2017-01-28 16:08] MHerbst commented on #2912
I am not sure whether the URL encoding causes the problem. I have tried it with your WOEID and I also got the message that it is wrong. But after some minutes correct values were retrieved.
Maybe it is just the wrong message. But anyway there is a problem (dont't know whether it is in the binding or on Yahoo's side).

[2017-01-28 17:08] syphr42 opened #2913 "MP3 AudioFormat used by URLAudioStream has an incorrect container"
AudioFormat.MP3 is defined as follows:

[code]

While URLAudioStream creates an AudioFormat defined as follows:

[code]

Based on the JavaDoc for AudioFormat.CONTAINER_NONE, I believe the bug is in URLAudioStream.

[code]

The container on URLAudioStream's AudioFormat should be AudioFormat.CONTAINER_NONE. Due to this, AudioFormat::isCompatible(AudioFormat) does not work correctly for URLAudioStrea

[2017-01-28 17:37] lolodomo commented on #2913
What is the consequence of this issue for the user ?

[2017-01-28 18:11] syphr42 commented on #2913
I found this while testing out a pull request to make the Squeezebox player an AudioSink (https://github.com/openhab/openhab2-addons/pull/1684). I would like to use a web-based TTS service without caching files on the hard disk since Squeezebox can simply stream the URL. However, Squeezebox needs to test for MP3 or WAV format compatibility and so the URLAudioStream is failing the compatibility tes

[2017-01-28 19:04] mhilbush commented on #2913
@syphr42,

 Glad to see you're testing the squeezebox PR.  Let me know if you run into any issues; there's a thread [here](https://community.openhab.org/t/squeezebox-speak-on-oh2/20843) on the forum where it has been discussed.  Or, you can post directly on the PR.

How familiar are you with the LMS?  I've run into some trouble getting pause to work properly after the notification.  The scenario i

[2017-01-28 19:34] lolodomo commented on #2913
Any chance that it could explain why I have difficulty with chromecast binding and play/say console commands?

[2017-01-28 21:43] syphr42 commented on #2913
@lolodomo Maybe. I haven't tried the Chromecast binding, so I can't say for sure. If you check the code and it compares a URLAudioStream's AudioFormat to AudioFormat.MP3 for compatibility then you are probably hitting this issue.

@mhilbush I posted some information about what I was doing on your PR. I'm not very familiar with the inner workings of LMS, but I'll poke around a bit and see what I ca

[2017-01-28 22:06] lolodomo commented on #2913
@syphr42 : what do you think about this line: https://github.com/openhab/openhab2-addons/blob/master/addons/binding/org.openhab.binding.chromecast/src/main/java/org/openhab/binding/chromecast/handler/ChromecastHandler.java#L289

[2017-01-29 11:20] PascalTurbo opened #2916 "Add lock to items"
This is a request for adding a lock state to every item which would allow the user to lock the current state of an item until it is unset. The idea isn't new. It's implemented on most KNX actors and works like charm.

### Use Case Motion Detector

In the normal mode, your motion detector will enable the light when you are moving and disable it, when no motion is detected anymore. But there are sit

[2017-01-29 11:24] lolodomo commented on #2913
For my problem, the reason is probably elsewhere as a FileAudioStreal is used, not a URLAudioStream .

[2017-01-29 11:46] meyercg commented on #2916
+1

[2017-01-29 12:02] mkotsbak commented on #900
Is this still unresolved? Will it be solved in #1783?

[2017-01-29 15:14] kaikreuzer commented on #2916
Sounds like a duplicate of https://github.com/eclipse/smarthome/issues/2240?

[2017-01-29 15:14] #2916 closed

[2017-01-29 15:15] kaikreuzer commented on #2916
Feel free to add your thoughts and examples there!

[2017-01-29 16:08] maggu2810 commented on #2911
Sounds like a bug to me.
Also for dynamically added channels the advanced flag should be considered by using the resp. channel type regardless if it is part of the thing type.

[2017-01-29 16:10] maggu2810 commented on #2912
Can you create a PR for that?

[2017-01-29 16:17] #2913 closed

[2017-01-29 18:43] resetnow commented on #2882
It looks like this particular problem is present upstream — I tried updating MDL to a latest version and it looked even worse. Also, even with the width property applied the knob is off by 10-20 pixels to the left. I'll try to fix it upstream and then backport the fix here — I assume in this case we won't have to deal with the legal approval process.

[2017-01-29 18:54] resetnow commented on #2882
Relevant issue: https://github.com/google/material-design-lite/issues/1625

[2017-01-29 20:26] FusedHe3 commented on #2882
Great, thanks!

[2017-01-30 07:14] kaikreuzer opened #2918 "[Paper UI] Multiple inbox entries shown for the same discovery result"
There are situations, where the Paper UI inbox does not correctly update itself and rather adds already known results another time. This is what I saw after leaving the inbox page open for a while:

<img width="260" alt="972c0e8a-d9a5-11e6-9115-edfb3d964078" src="https://cloud.githubusercontent.com/assets/3244965/22414942/edc279f2-e6c3-11e6-91ca-b31670db8d74.png">

See also https://github.com/open

[2017-01-30 07:27] mkotsbak opened #2919 "Stacktrace when adding "but only if" condition in OH2"
When I try to add a "but only if" "an item has a given state", I get the following stacktrace when trying to save it. I'm not sure the issue is in Smarthome or OpenHab2:

[code]

[2017-01-30 07:53] sjka commented on #2918
Repeating my comment from openhab/openhab2-addons#1667:

I see two action items:

* **PaperUI**: Check what can be done in order to prevent such event race conditions (@aounhaider1 any suggestions?)
* **jUPnP**: Check if such alternating discoveries can be prevented (jupnp/jupnp#73)

[2017-01-30 07:58] sjka commented on #2919
Thanks for this report.

Neither do I, hard to tell without further info. Let's figure it out...

It smells like classloader trouble. Question is: Two bundle instances, or a cached class reference.
Could you please paste the output of bundle:list here, just to exclude the first alternative?

[2017-01-30 08:07] #1338 closed

[2017-01-30 08:07] #2757 closed

[2017-01-30 08:27] mkotsbak commented on #2919
Where do I type "bundle:list"?

I tried in the console:

[code]

Got the shell from running /usr/share/openhab2/runtime/bin/shell

[2017-01-30 08:28] kaikreuzer commented on #2911
@maggu2810 I do not agree that this seems to be a bug in the Paper UI.

@wborn says: "However the dynamic channel types (colorzone, temperaturezone) are missing from the response" - so this is a problem in the REST API / ThingTypeRegistry and as such it looks like a duplicate of https://github.com/eclipse/smarthome/issues/2903 (although the analysis here on #2911 looks much more straight forward,

[2017-01-30 08:31] kaikreuzer commented on #2911
I should read more carefully. Yes, if a channel is not part of the thing-type, its according channel-type info should be requested from channel-types REST uri instead.

@aounhaider1 Can you fix that?

[2017-01-30 08:42] kaikreuzer opened #2920 "Allow multiple ExtensionServices"
Currently, the ExtensionResource expects exactly one ExtensionService implementation.
This prevents to have a solution providing potential extensions through different/independent services.
Instead of requiring such solutions to implement an aggregating services themselves, I think the better solution would be to make the ExtensionResource accept multiple services instead.

[2017-01-30 08:53] mkotsbak commented on #2919
Found it here: http://docs.openhab.org/administration/console.html

There is a lot there. What should I look for. Regarding rule engine I find:
[code]

[2017-01-30 09:23] ViToni opened #2921 "Automation: Rules cannot be distinguished by scope"
Rules can be created in different scopes.
Uses cases might be
* system rules
* rules created by an installing party
* rules created by the user
* rules created (automatically) by a remote UI

Currently there is no means to distinguish these rules and to find rules for a given scope in an easy way.

A solution might be to add a `Scope` property to Rule.
Changes needed would be
* `Scope` property fo

[2017-01-30 09:29] kaikreuzer opened #2922 "Enhance Extension definition"
I would like to propose several new optinal properties for an Extension, which could be used to render a more meaningful and better looking presentation in UIs of the according extension:

Currently, it has an ID, a label, a version and a link to an external documentation.

I would like to add the following properties (ALL of them optional, i.e. can be null):
- description
- link to (external) log

[2017-01-30 09:52] kaikreuzer opened #2923 "[Paper UI] Optionally present extensions in a card layout for easy browsing"
Currently, the Paper UI shows extensions as a flat list (sorted by category).

This is a good solution for "self-explaining" extensions, such as bindings, where the label of the extension almost says it all.

Once we add rule templates and similar things as extensions, we should imho think of better ways of presenting them - the user won't search for a specific label, but rather do "window shoppin

[2017-01-30 09:56] kaikreuzer opened #2924 "Implement ExtensionService for Eclipse IoT Marketplace"
The Eclipse Foundation is preparing an [IoT Marketplace](https://bugs.eclipse.org/bugs/show_bug.cgi?id=506792), which can host extensions specifically for ESH.
For this, we should have an ExtensionService implementation that can sync the content of the Marketplace and provide installation/uninstallation functionality.

Some remarks:
- The service should be configurable to allow filtering of the Ma

[2017-01-30 10:16] mkotsbak commented on #2919
Upgraded and restarted Openhab2 now and seems like I can't reproduce it anymore.

[2017-01-30 10:16] #2919 closed

[2017-01-30 10:45] kaikreuzer opened #2926 "Switch to Java 8"
As discussed earlier, we should upgrade the minimal Java requirement of ESH to become Java 8.

This includes
- [x] changing the Maven build (which also allows us to update to a more recent Tycho version)
- [x] Change Hudson build plan
- [x] updating the manifests
- [x] updating the documentation
- [x] addressing to-dos from https://github.com/eclipse/smarthome/wiki/Java-8-CP2-cleanup

[2017-01-30 10:46] kaikreuzer commented on #2926
@maggu2810 I won't take any actions before https://github.com/eclipse/smarthome/pull/2897 is done, but when creating the new build in the new repo, you might already want to consider this change.

[2017-01-30 12:49] cdjackson commented on #2924
Will this allow multiple binding versions to be incorporated? Eg can we have a stable, nightly and bleeding edge version so users can decide?

Below you say 'no betas' - I'm not sure if this means that you would only allow stable then?  If the IOT marketplace can support multiple versions then I think this would solve the issue that many people are asking on the OH forum about running some snapsho

[2017-01-30 13:14] sjka commented on #2923
I have created #2928 for enhancing the Extension class, which can be used in order to implement this here.  When implementing the card layout, please give feedback in #2928 in case something does not work out as expected from a UI's perspective.

[2017-01-30 13:17] kaikreuzer commented on #2924
Yes.

This was just an example. What I wanted to say with that is that it should be fully up to the solution to decide, which content from the Marketplace should be made available.

[2017-01-30 13:42] cdjackson commented on #2924
Great - I think this would be a very welcome addition.

[2017-01-30 14:50] clue42 opened #2930 "Incorrect url for buchen-maven-repo in pom.xml"
Hi, it appears that the url for the buchen-maven-repo ist not correct any more and hence the build process is timing out.
Changing the url
**from:** [http://buchen.github.io/maven-repo](url)
**to:** [https://github.com/buchen/maven-repo/](url)

in pom.xml works as expected and the build process is finishing successfully.

[2017-01-30 15:03] kaikreuzer commented on #2930
This will only work because you have the required plugin already in your local maven repo.

http://buchen.github.io/maven-repo is the correct url as documented [here](https://github.com/buchen/maven-repo/#usage).
https://github.com/buchen/maven-repo/ is a url that answers HTTP requests, but which does not host a Maven repo, so that's no valid fix.

[2017-01-30 15:14] clue42 commented on #2930
But why is it timing out then? Directly accessing the url gives a 404.

[2017-01-30 16:53] kgoderis commented on #2924
+1

[2017-01-30 18:11] resetnow commented on #2882
It seems Google's MDL is in limited support mode — it may not be possible to push a full fix there. So I have opened #2932 with a CSS fix for sliders, it doesn't fix them completely but at least the knob is visible and can be moved.

[2017-01-30 18:50] #2361 closed

[2017-01-30 21:05] metbril opened #2933 "UI: Default type in sitemap adds extra frame"
An item of type Player added in a sitemap as Default adds an extra frame to the sitemap when it is the first entry in a frame. This applies to both basic ui and classic ui

items
[code]
partial sitemap
[code]
![extraframe](https://cloud.githubusercontent.com/assets/559346/22441644/917bc476-e738-11e6-8cfd-728eaeaf4ba4.png)

[2017-01-30 21:13] wborn commented on #2911
Thanks for having a look at this issue @aounhaider1 . I just made a local build with your fix and now see that the advanced property is part of the REST response. The Paper UI does not seem to use this property to determine if the channels should be hidden when configuring a Thing.

See also the following screenshot:

![advanced-dynamic-channels](https://cloud.githubusercontent.com/assets/12213581

[2017-01-31 07:54] vilchev opened #2937 "Incorrect types of Configuration properties passed to ModuleHandlers"
At the moment if we declare configuration with an Integer type property
for example having a 'count' int type Configuration Property
...
        {
          "name": "count",
          "type": "INTEGER",
          "label": "Count",
          "description": "Count",
          "required": true
        }
....

When RuleEngine creates the ModuleHandlers the normalized configuration which is passed to t

[2017-01-31 08:05] danchom commented on #2937
Config property normalization converts all digit types (integer and decimal) to BigDecimal. This is the reason why the module handler receive BigDecimal instead of integer. For me it is not correct too.
@Kai could you explain why the normalization does not convert config values into types defined in their meta-data?

[2017-01-31 08:07] kaikreuzer commented on #2937
I do not see a bug here.
For both "decimal" and "integer", the internal data type is BigDecimal - you can rely on this. We might have to document that a bit more specifically though.

[2017-01-31 08:28] vilchev commented on #2937
If a user have declared its property type to be Integer and it receives something else in the end imho it is a bug (If user is not in depth with Configuration impl there is 100% chance of class cast except in the Handler).
We have an API that declares 4 types for Configuration property: TEXT, INTEGER, DECIMAL, BOOLEAN.
I don't see a point having the two types INTEGER, DECIMAL if at the end you wil

[2017-01-31 10:05] aounhaider1 commented on #2911
I have created https://github.com/eclipse/smarthome/issues/2939 for first issue.
And you are right, show more/less option is not available on Control page at all.

[2017-01-31 10:09] maggu2810 commented on #2930
For me the direct link to the used artifact is working:
www.portfolio-performance.info/maven-repo/name/abuchen/fix-info-plist-maven-plugin/1.0/fix-info-plist-maven-plugin-1.0.jar

[2017-01-31 10:12] maggu2810 commented on #2930
@clue42 Maven use some mechanism to access artifacts in the repo.
The normal lookup is: `repo-url / <groupId-replace-dots-with-slashs> / <artifactId> / <version> / <artifactId>-<version>.jar` (let's assume no classifier and type=jar).

So, if the link above is working for you, all should be fine.

[2017-01-31 10:12] #2930 closed

[2017-01-31 10:16] #2918 closed

[2017-01-31 10:44] #2884 closed

[2017-01-31 10:55] kaikreuzer opened #2940 "[Paper UI] Values should be right-aligned"
As can be seen on the screenshot below, some values are left-aligned, some are centered and others are right-aligned - this imho looks a bit messy.

I would suggest to right-align all values. A possible exception could the multi-line text, but even for this I would try it with right-alignment for now.

<img width="390" alt="screen shot 2017-01-31 at 11 52 33" src="https://cloud.githubusercontent.c

[2017-01-31 10:58] kaikreuzer commented on #2871
@sjka Is there still a problem in the Paper UI or is it working as expected with #2896?

[2017-01-31 11:15] #2556 closed

[2017-01-31 12:52] sjka commented on #2871
No - the item events now are sent by the framework (& received by the paper UI) but the list does not update dynamically. @aounhaider1 is having a look.

[2017-01-31 13:08] sjka commented on #2937
You are mixing up two things here. In the config description, you have the option to specify that a value is expected to be an [INTEGER](https://en.wikipedia.org/wiki/Integer) in the sense of a number without fractions. We explicitly do NOT refer to java types there (as you might have concluded from the TEXT already, as there is no such class in the java language).
For the sake of simplicity, ther

[2017-01-31 13:27] vilchev commented on #2937
You actually do that defining the min value and max value are references to java types(at least in the javadoc):

[code]

Well for single value, yes, its not a big pain to just do that but what about multiple=true? each Handler should normalize the whole list than?

[2017-01-31 13:48] danchom commented on #2937
@sjka If these types are only for GUI, what is going on when I have integer property A=4 (set by GUI) and I want to show its value using configuration (get from config)? The GUI has to normalize the value again or to it will show A=4.0.
Btw there is a bug in ConfigUtil.normalizeType(Object value, ConfigDescriptionParameter configDescriptionParameter) mehtod when config description is not specified

[2017-01-31 13:59] sjka commented on #2937
no, `BigDecimal` remembers the precision, i.e.

[code]

gives `42`. So ideally UIs should not need to "normalize" it again.

I agree, this is not consistent. Unfortunately it is like that since quite some time. You may of course "fix" it if you will care for all the open source and commercial bindings that you are going to break 😉

[2017-01-31 14:15] danchom commented on #2937
I can't understand, I've set integer, but receive something different "4" or BigDecimal("4"). Is it a normal?
How to explain to ModuleHandler implementer that the type that they have set does not have any meaning?

[2017-01-31 14:17] maggu2810 commented on #2937
[code]

Shouldn't we be consistent and use BigDecimal as long as the value is a Number type (Float, Integer, Long, ...)? I think so. Normalize type should return a Boolean, BigDecimal or a String if possible as this are the only types that are allowed.
If something is broken then, perhaps it needs to be fixed then.

[2017-01-31 14:19] maggu2810 commented on #2937
INTEGER does not mean the Java Integer type, but an integral number type.
DECIMAL also allows fractional number types.
The real Java type is another story, so I don't see why it should not be valid to use BigDecimal in both cases.
We have also TEXT and use String...
The one thing is a description and the other one is a type for the representation.

[2017-01-31 14:32] vilchev commented on #2937
Ok.. what is the purpose of having the two types(INTEGER, DECIMAL) instead of just NUMBER then?
Sorry maybe I have a problem to understand this concept, but why we do make the users to choose between the two types as in the end it is totally ignored?

[2017-01-31 15:52] kaikreuzer commented on #2840
fixed by https://github.com/eclipse/smarthome/pull/2942

[2017-01-31 15:52] #2840 closed

[2017-01-31 16:23] #2940 closed

[2017-01-31 17:00] rtvb commented on #2788
I am using mapped states to localize and or prettify my values. If I need dynamic icons as well then I (and others with me) would need to create custom icons for each mapping. This would be tedious if impossible at least, since there is no way to know what characters are used in a mapping (Unicode emoticons?)

Therefor I think it would be best to follow 1.x behavior and ALWAYS use the raw state fo

[2017-01-31 20:51] kgoderis opened #2945 "Thing Lifecycle : incorrect ThingStatus being reported, ThingHandler not being removed"
I am prudent to call this a bug, but I witnessed the following strange behaviour. I have defined a Thing (a Tesla binding Thing), and then stop and start the binding through the console to test the lifecycle of the Thing. In the beginning all goes well:

The binding is started:

osgi> smarthome things
tesla:models:v12killer (Type=Thing, Status=**ONLINE**, Label=Tesla Model S, Bridge=null)

The bin

[2017-01-31 21:34] kgoderis commented on #2945
[Solved, but with possible some documentation changes to be made]

The runtime expects the Handler to set the ThingState in initialise(). So, if the initialisation of the ThingHandler is off-loaded to a separate thread (because it would not return fast enough, or other reason), then still in initialize() it is expected to set the State explicitly. If not, the phenomena here above is observed. We s

[2017-02-01 00:52] wborn commented on #2911
Thanks for having another look at the issue @aounhaider1 . I've made another local build but found that the channels were still not being hidden.

After debugging I think the remaining issue is that the Paper UI code is using `thingConfigService.getChannelTypeById(...)` in `checkAdvance(channels)` and `filterAdvance`  to compare `channel.id` (colorzone0, colorzone1, etc.) against `channelType.UID`

[2017-02-01 07:51] LKuech commented on #2788
This bug is very confusing when using HabPanel to show important item states like contacts (which are defined with a transform).
e.g. using a dummy widget for the contacts: If the page is refreshed the shown text value is transformed and is reflection the real state, but in the same moment the icon is wrong as the icon provider does not understand the transformed value (in my case "Offen" for OPEN

[2017-02-01 07:52] vilchev commented on #2937
I see that this conversation goes to no end - I just wanted to share my view with you guys.

I do not know the usage of Configuration inside your whole project, but for Automation module this is like an API for clients that want to add a new ModuleType (ModuleType.json && ModuleHandler) to the system.

I see it as an incorrect behavior:

1. client creates json with ConfigProperty of type INTEGER
2

[2017-02-01 08:01] sjka commented on #2945
You are obviously right. If _you_ don't know it and don't see it, other people might also not see it. We have this info in there though:

(From [Thing Handler Documentation](https://www.eclipse.org/smarthome/documentation/development/bindings/thing-handler.html)):

"Only Things with status (cf. Thing Status) UNKNOWN, ONLINE or OFFLINE are considered as initialized by the framework and therefore **

[2017-02-01 08:04] rtvb commented on #2788
@LKuech to me this sounds as another use case to use the raw state for determining dynamic items and use the mapped state for display purposes in any UI.

[2017-02-01 08:22] lolodomo commented on #2788
@LKuech  :  it is exactly the same thing for HABdroid.
A very annoying bug that probably impacts all non english users.

[2017-02-01 08:36] kgoderis commented on #2945
In fact, it does so, but in a separate thread. And even when it is set in another thread, somehow this yields this phenomena of different ThingStates. Somehow it has to be set by the Thread that calls Initialize(), but I do not (yet) fully understand the reason for this

On the ThingHandler being present, maybe it was still the previous instance of the Handler being present? At the end I did a rat

[2017-02-01 09:14] maggu2810 commented on #2937
If you use INTEGER the scale of the used BigDecimal should be zero and not 1.
So, if 5 is changed to 5.0, then the BigDecimal has the wrong scale and I would consider that as a bug.

[2017-02-01 09:26] sjka commented on #2945
Okay, I could reproduce the issue in a test case. Will look into it and provide a fix.

[2017-02-01 09:30] danchom commented on #2937
I  thing the problem is not only with module handlers, the problem is always when you want to get data form the system. For example REST users will receive 5.0 value (with fraction) for INTEGER configuration property (without fraction) .
At the moment there is no way to denormalize  configuration property. The ConfiguUtil can be  extended with such method. On the other hand it is not convenient to

[2017-02-01 09:56] maggu2810 commented on #2937
IIRC (correct me if I am wrong) It is a limitation in the uaws REST JSON (de)serialization implementation that it does not keep the scale and not a problem that has been caused by using BigDecimal.

[2017-02-01 10:01] danchom commented on #2937
@maggu2810  GSON parses numbers from JSON to double values. I think for that reason they have scale 1.

[2017-02-01 10:11] vilchev commented on #2937
That was my point. For clearance please see the POST/ GET requests for CreatingRule/GetRule

Configuration property is of Type INTEGER , multiple=true

![post](https://cloud.githubusercontent.com/assets/12597047/22502856/8678f6d0-e877-11e6-9c62-93484b5503c1.png)
![get](https://cloud.githubusercontent.com/assets/12597047/22502857/8683cfa6-e877-11e6-8478-60a0affd234b.png)