[2017-03-27 09:23] jn-se opened #3186 "[REST/Persistence] API request for persistence items returns empty list"
I installed two persistence extensions: rrd4j and InfluxDB.

A GET request to "/rest/persistence" returns the following result:

`[
  {
    "id": "rrd4j",
    "label": "rrd4j",
    "type": "Queryable"
  },
  {
    "id": "influxdb",
    "label": "influxdb",
    "type": "Queryable"
  }
]`

A GET request to "/rest/persistence/items?serviceId=rrd4j" and "/rest/persistence/items?serviceId=influxdb" ret

[2017-03-27 09:30] kaikreuzer commented on #3185
@kgoderis This might be a bug in the cron scheduler, right?

[2017-03-27 09:44] kaikreuzer commented on #1093
@BennieGe, This is not at all about coding, but about fitting new features smoothly into the existing architecture. So what you need are no coding skills, but good analytical skills.
As mentioned above, any concrete suggestion of how such a solution might look like, is always welcome.

@beowulfe: Does this mean you would adapt the HomeKit support to check both the category and the tag and decide o

[2017-03-27 09:51] kaikreuzer commented on #3186
Even without the query parameter, there are no results as can be seen at http://demo.openhab.org:8080/rest/persistence/items.
Clearly looks like a bug.

[2017-03-27 09:57] kgoderis commented on #3185
@kaikreuzer most probably. I hope I can figure this one out, not sure how I will simulate a change in DLST over here.

[2017-03-27 10:08] kaikreuzer commented on #1700
Does the slider cause any issue? It is still the fastest way to get close to some desired value - and with large ranges, you usually do not want to have a precise number. For the cases where you need it, the number value itself can be selected and the desired value can simply be typed in.

[2017-03-27 13:00] beowulfe commented on #1093
For the grouped items, I pictured it more like:

Group MyCurtain [ "WindowCovering" ]
Dimmer MyCurtain_tilt <MyCurtain> [ "HorizontalTilt" ]
Rollershutter MyCurtain_pos <MyCurtain> [ "Blinds" ]

If a "Blinds" tag is found not in a WindowCovering group, it's exposed without any tilt.

Regarding HomeKit/Alexa inclusion/exclusion, what if we used a separate "HomeKit" and "Alexa" tag (Not as a prefix,

[2017-03-27 13:45] sjka commented on #3186
On a first glance it looks like this is a limitation of the compatibility layer: [QueryablePersistenceServiceDelegate](https://github.com/openhab/openhab-core/blob/master/bundles/org.openhab.core.compat1x/src/main/java/org/openhab/core/persistence/internal/QueryablePersistenceServiceDelegate.java#L91), or did I miss anything?

[2017-03-27 14:14] jn-se commented on #3186
Yes, found this line of code, too. But I'm not sure about the meaning because I'm not deeply involved in the source code. Can it be fixed easily?

[2017-03-27 15:09] kgoderis opened #3187 "Search box in paperUI does not always work as intended"
Entering "http" does not narrow down the list of bindings to the Httpd binding. Any other keyword (if minimal 3 letters) seems to work, but not his one.... (or any variation for that matter, e.g. Http, HTTP,...)

[2017-03-27 15:52] digitaldan commented on #1093
There are both thermostat controls (which we already support) as well as the ability to ask the current temperature of something (this could be a thermostat or something else, this is new). Locks are simply LOCKED/UNLOCKED for both setting and retrieving the state.

I would agree, except that for Alexa there is no binding or configuration other than tags, I don't want to do this in myoh as then th

[2017-03-27 16:39] hmerk commented on #3183
Should be fixed in #3188

[2017-03-27 16:56] digitaldan commented on #1093
One more thing I just went back and noticed that channel types can have default tags.  So we have system categories, custom categories, default tags and user defined tags.  This seems confusing to start mixing categories and tags to serve the same purpose.

https://www.eclipse.org/smarthome/documentation/development/bindings/thing-definition.html#default-tags

[2017-03-27 20:54] pdegeus commented on #3185
Just found this issue after noticing my influxdb stopped collecting data at exactly 3:00 this Sunday.
If it helps, my log file shows this:
[code]

[2017-03-28 07:43] markusjw commented on #1700
Yes, it seems to me that it is the slider that causes the issue. As said above, the problem rises especially when using large range number items with small steps.

There are use cases for "large range, but high precision". For example, if you can configure a light duration. For some applications youtwant to set it precisely for a few seconds (that is why the step should be in seconds), but in othe

[2017-03-28 09:34] maggu2810 commented on #3184
Can you test without nginx?
If the problem still occurs the best approach IMHO would be to attach a debugger.

[2017-03-28 09:38] maggu2810 commented on #3156
Really? I don't think not in general. I assume @kaikreuzer thinks about one channel type per different type.
It depends if a type could be advanced in some case and non-advanced in another case.

[2017-03-28 09:39] maggu2810 commented on #3187
@aounhaider1 Can you have a look at?

[2017-03-28 11:14] maggu2810 commented on #3183
Should be closed by #3188.
@hmerk Can you have a look at https://help.github.com/articles/closing-issues-via-commit-messages/ :wink:

[2017-03-28 11:14] #3183 closed

[2017-03-28 11:15] hmerk commented on #3183
@maggu2810 of course, I will check this.

[2017-03-28 11:16] maggu2810 commented on #3186
The persistence REST interface works for me with a binding that does not use the OH1 compatibility layer.
The compat1x bundle is not part of ESH and so I don't think it is a bug in the ESH REST/SEE Persistence stuff.

[2017-03-28 11:16] #3186 closed

[2017-03-28 11:25] jn-se commented on #3186
@maggu2810, which binding is working for you?

[2017-03-28 11:33] maggu2810 commented on #3186
A h2 persistence implementation that is not part of the openHAB or ESH code base (realted to #1956, #2081)

[2017-03-28 11:38] #3187 closed

[2017-03-28 14:59] kgoderis commented on #3184
@maggu2810 Did a quick check without nginx and the outcome is the same. So it is not nginx related. I will try to attach a debugger

[2017-03-28 17:48] lolodomo commented on #3156
That is exactly the problem and why I would like to put the advanced flag on the channel. If not, we could be forced to duplicate channel type making one advanced and the other not.

[2017-03-28 18:03] kgoderis commented on #3184
@watou @maggu2810 I am really wondering if the above issue is introduced by https://github.com/eclipse/smarthome/pull/2753?

- disabling nginx does nog change a thing
- recreating the http request by hand in an ordinary browser does work
- when attaching a debugger, it seems that the AsyncProxyServlet is fired up, but then it times out
- going via http (just to make sure that this is not an issue

[2017-03-28 18:07] kgoderis commented on #3184
For completeness, I have tried to load an image coming from another type of appliance : same result....

[2017-03-28 21:34] badplay opened #3190 "SmartHome Designer use with openhub 2 on qnap ?"
Hey
i have installed openhub2 on a qnap with http://docs.openhab.org/installation/qnap.html

but i dont find a folder called config .... i have set up a shared folder directly in the root but it is empty :(

so what should i do??

[2017-03-28 22:46] kaikreuzer commented on #1700
Jus thinking about that again: I actually thought that the slider should only be there for Dimmer items, i.e. the range will always be 0-100. So I actually agree with you: For number items, I'd tend to say that the slider is not really useful and we should dismiss it there.

@maggu2810 & @aounhaider1 Would you agree?

[2017-03-28 22:51] kaikreuzer commented on #3190
Sorry, this is not at all an issue about Eclipse SmartHome - I'd suggest you go and seek for help at https://community.openhab.org/tags/qnap.

[2017-03-28 22:51] #3190 closed

[2017-03-29 00:07] kaikreuzer commented on #3156
That is correct. See the [Sonos binding](https://github.com/eclipse/smarthome/blob/master/extensions/binding/org.eclipse.smarthome.binding.sonos/ESH-INF/thing/PLAY1.xml#L13-L54) as an example for that.

Could you give an example? I don't really see any real use for that - either a functionality is advanced (i.e. something that only expert users are interested in) or not. It should not really matte

[2017-03-29 06:06] maggu2810 commented on #3156
@kaikreuzer No, I don't know one at the moment.
My reading of the comment of @lolodomo has been that he complains about duplicate the number of channel types (channel_type1_non_adv and channel_type1_adv).
As my understanding fit to yours that a functionality is advanced or not, I written "Really? I don't think so in general". The last one "it depends if ..." was a note that I cannot state that the

[2017-03-29 07:04] maggu2810 commented on #1700
The PaperUI uses a slider for Dimmer items.
If the item type of a channel (type) is using "Number" I don't think that a slider is used at all.
Or do I miss something?

So, shoudn't this be solved by using another item type instead of dropping the slider for large values?

[2017-03-29 08:06] lolodomo commented on #3156
I already provided an example with different kind of temperatures: current tempetature, feeling temperature,  forecat min and max temperatures for today or for tomorrow or in 10 days...  My binding is defining a big number of channels and I want to make few of them advanced. I would like to limit the number of channel types.
But defining 2 instances of each channel types, one advanced and one not

[2017-03-29 08:34] maggu2810 commented on #3156
What I want to say above and I assume also @kaikreuzer:
If you have a channel type "temperature_current" then you have to think about if this type is advanced or not.
Why is a temperature_current in one use case not advanced and advanced in another?

[2017-03-29 10:54] lolodomo commented on #3156
Of course if I define one channel type for each channel, the problem would be resolved but that would be weird to define so many identical channel types.

[2017-03-29 12:58] markusjw opened #3191 "Paper UI: Thing Configuration page loads slowly"
For larger numbers of configuration parameters, the thing configuration page takes so much time to load that Firefox and Chrome show error messages. Sometimes waiting helps, but sometimes the browser does not manage to show the page at all.
Admittedly, I have things with up to 1000 parameters, but this also happens for smaller amounts like 50 parameters.

The page head loads correctly, so it is di

[2017-03-30 07:33] kaikreuzer commented on #3156
This is a contradiction in itself. A channel type is only identical to itself. So you might only end up defining similar but not identical channel types, which is imho fully ok.

[2017-03-30 09:07] kaikreuzer commented on #1700
So we are not having any problem after all. @markusjw Could you clarify?

[2017-03-30 12:07] itheiss opened #3192 "Configuration reload fails two times before successful reload"
Hi,

when I edit and save a config file inside the conf folder I see two IOExceptions before the reload is successful.

[code]
I am editing the files directly from command line using vi.

Regards
Ingo

[2017-03-30 13:38] lolodomo commented on #3156
As I have no chance to convince you, I close the issue.

[2017-03-30 13:38] #3156 closed

[2017-03-30 13:44] lolodomo commented on #1497
I close this issue because the general wish is to consider only the advanced flag on channel types (not channel group types).

[2017-03-30 13:44] #1497 closed

[2017-03-30 14:21] kaikreuzer commented on #3156
Hey, of course you have a chance, if you come up with a use case that shows the necessity.

I think this is what the discussion is really about - what is the right granularity of channel types. The status quo is that it is very fine-granular and as such, I think you have to agree that there is hardly a use case that would require to overwrite the advanced flag on channels.

[2017-03-30 14:35] markusjw commented on #1700
@maggu2810 I'm sorry, but Number items do show sliders. For me the problem is therefore reproducible.

[2017-03-30 14:39] aounhaider1 commented on #1700
@maggu2810 is right, PaperUI checks if stateDescription contains minimum and and maximum values, if so, it renders a slider instead of an input field.

[2017-03-30 14:41] aounhaider1 commented on #3191
Can you please provide the config description of your parameters?

[2017-03-30 15:12] markusjw commented on #3191
I provided some via e-mail.

[2017-03-30 15:55] sveco opened #3194 "Yahoo Weather Control - Pressure measurement not in hPa"
Hi. I am using OpenHab2 and binding-weather - 1.9.0.b4, pressure reading are strange to say the least:
My weather.cfg:

items:
Number 	 Pressure 	   "Tlak [%.1f hPa]"	<pressure>	{weather="locationId=home, type=atmosphere, property=pressure" }

It shows 34033.2 hPa, actual pressure is around 1005 according to yahoo page, 1009.14 on wxdata.weather.com. I suspect there is some problem with unit conve

[2017-03-31 08:23] kaikreuzer commented on #1700
So back to [my suggestion above](https://github.com/eclipse/smarthome/issues/1700#issuecomment-289928566) then - would everyone agree with that?

[2017-03-31 08:25] kaikreuzer commented on #3194
This was supposed to be already fixed with https://github.com/eclipse/smarthome/pull/2511.
@sjka Could you check why there is still an issue with that?

[2017-03-31 08:27] kaikreuzer commented on #3194
Ah, sorry, just read:

This is not at all about the Yahoo binding then, but about some old openHAB 1 binding. The correct issue tracker for you is hence https://github.com/openhab/openhab1-addons/issues.

[2017-03-31 08:27] #3194 closed

[2017-03-31 10:48] maggu2810 commented on #1700
I am fine with:
* DimmerItem => Slider
* NumberItem => No slider

I assume we inspect the min, max and step for Dimmers regardless that it's typical in the range of [0,100].

[2017-03-31 13:36] markusjw commented on #1700
@kaikreuzer Yes.
Firstly, that is a clear concept.
Secondly, that should solve the problem I am encountering. At least if my assumption is right that large Number item sliders are the cause.

[2017-03-31 15:13] adimova opened #3195 "Problem with UID duplication when importing automation resources"
Currently the AbstractRegistry class does not check if the key of a newly added object is unique for the registry. To ensure ID uniqueness, the providers have to perform this check before adding the object in the registry. This is implemented in the bundle resource provider, but not in the file resource provider. As a result:
- If you install a bundle with some automation resources, and later impo

[2017-03-31 17:44] MHerbst commented on #1700
@kaikreuzer Sounds good.

[2017-04-01 05:52] jpgnz commented on #3051
I'm seeing this exact same problem with the network binding, identical setup:

[code]
Logs are the same:
[code]
1. If both devices are ON, group(s) are ON
2. If both devices are OFF, group(s) are OFF
3. If devices have different status', group(s) are UNDEF

[2017-04-01 12:04] sveco commented on #3194
Upgraded to latest build, and switched to Wunderground, problem solved.

[2017-04-02 14:02] curryking1607 commented on #1093
Been following this for a long time now, wanted to participate anyways:
@beowulfe :

Would a HomeKit & Alexa enabled Item look like this ?
`Rollershutter MyCurtain_pos [ "Blinds"]`
or
`Rollershutter MyCurtain_pos [ "Blinds", "HomeKit" , "Blinds", "Alexa"]`
?

btw. has anyone a link to a full HomeKit datatype reference?

[2017-04-02 14:11] beowulfe commented on #1093
@curryking1607 - you'd use [ "Blinds", "HomeKit", "Alexa" ]. But, only if you'd changed the default option from "expose all items".

I'm not sure where to find a list of accessory types - I generally discover them using the simulator available in the developer tools from Apple.

[2017-04-02 14:43] curryking1607 opened #3197 "Color Tag shuts down HomeKit"
Hello,
just a quick question, but I didn't want to spam it in the 1093 section.
As soon as I add the "Lighting" tag to a Color Item in my .items config,
the HomeKit service shuts down and appear on the iPhone as "No Response".
This problem is not new and the logs, but has never been solved.
Would be kind of you to quickly have a look.

https://community.openhab.org/t/homekit-bug-with-colorpicker/1

[2017-04-02 15:23] curryking1607 commented on #1093
As I am lucky to own a Mac I will just list the available accessories here.
Nearly every item has some status values like active status, tampered status, low battery status, status fault, here are the accessory-individual values:

- air quality sensor: air quality (excellent, good,fair,inferior,poor,unknown); particulate density (0-1000); particulate size (2.5 micro-m or 10 micro-m)
- battery serv

[2017-04-02 18:04] kaikreuzer commented on #3197
https://github.com/openhab/openhab2-addons/issues/1651 is still open and as this seems to be an issue with the HomeKit add-on and not with ESH, that is also the right place for the issue.

[2017-04-02 18:04] #3197 closed

[2017-04-03 13:42] Videonisse commented on #1093
I'm not a developer but it seems Apple has documented their HomeKit API in this Reference Documentation. https://developer.apple.com/reference/homekit

Especially I found the list with "HomeKit Constants" interesting. It seems to be the complete list with common fields currently available. https://developer.apple.com/reference/homekit/homekit_constants

[2017-04-03 14:03] danchom commented on #3195
I think this check should be done in the registry, not in the provider. The provider should not have dependency to the registry. Also there is a problem if a third party provider does not do such check and the registry will end again with two module types with the same uids.
The other option is different providers to use different prefixes and when it provides a new module type / template it has t

[2017-04-03 14:15] Videonisse commented on #1093
For ease of use I below include all the HomeKit Accessory Service Types and copied the possible Characteristics per Service Type as from @curryking1607 post above. It seems not all fields are available in the Dev Tool.

_**Service Type**_	_Characteristics per Service Type_
**AirPurifier**
**AirQualitySensor**     air quality (excellent, good,fair,inferior,poor,unknown); particulate density (0-1000

[2017-04-03 14:27] Videonisse commented on #1093
Complete list with all currently available HomeKit Characteristic Types. Details about the type of the values are available here: https://developer.apple.com/reference/homekit/hmcharacteristic/characteristic_types

**_Characteristic Type_**
Active
AdminOnlyAccess
AirParticulateDensity
AirParticulateSize
AirQuality
AudioFeedback
BatteryLevel
Brightness
CarbonDioxideDetected
CarbonDioxideLevel
Carbo

[2017-04-03 16:17] rodneyrehm opened #3199 "Bindings should not be able to remove Things without user approval"
Way back when we first discussed the introduction of [Thing Status](https://www.eclipse.org/smarthome/documentation/concepts/things.html#thing-status) we argued that a binding should only remove things upon user request. The [Status Transitions](https://www.eclipse.org/smarthome/documentation/concepts/things.html#status-transitions) visualize this by having the binding react to the status `REMOVIN

[2017-04-03 16:25] Videonisse commented on #1093
Except of Apple HomeKit, I think the OIC framework from Open Connectivity Foundation (OCF) must one of the most important framework to be compatible with in the fast emerging IoT area. Is it possible to make SmartHome compatible with OCF from the beginning and use a similar semantic?

https://openconnectivity.org/resources/specifications

[2017-04-03 17:17] mag2bue commented on #2718
Will this feature be available in the next version?

[2017-04-04 05:40] maggu2810 commented on #3199
Which one?

You missed the first one: Fix the binding and use the API as intended. :wink:
If the documentation is not clear at this point we should improve it.

Using the `REMOVING` status as a precondition for the `REMOVED` status sounds okay. It does not really prevent wrong usage (a binding could still set the status first to removing and then to removed), but as a programmer you can use an API

[2017-04-04 05:42] maggu2810 commented on #2718
@kaikreuzer Does it make sense to add this to the model script execution code base?
@mag2bue / @tiktok7 If @kaikreuzer agree, will you create a PR?

[2017-04-04 13:15] adimova opened #3203 "REST command PUT with path /rules/{SomeRuleUID} and different UID in the body has deviating behavior"
Make REST call with following details:
path - /rules/{SomeExistingRuleUID}
command - PUT
body - valid rule JSON with uid - {OtherExistingRuleUID}.
Rule with UID set in the body is updated instead of the rule with UID set in the path.

[2017-04-04 13:19] kaikreuzer commented on #2718
Probably yes, it seems it was missed at the time to also port that change to ESH.

[2017-04-04 15:26] sjka commented on #3199
I agree. We weren't that strict with these kind of checks when it was first implemented. But since we now (without bigger complaints) throw IllegalArgumentExceptions in many other cases of attempted "misuse", I don't see any problems with it now.

I would assume that for most bindings it's going to be hard to tell the difference between a OFFLINE:COMMUNICATION_ERROR, OFFLINE:USER_WENT_AWAY_WITH_TH

[2017-04-04 16:04] rodneyrehm commented on #3199
It took me a while to understand what @kaikreuzer was trying to explain to me last night. You're absolutely correct, there is no reason to introduce a new status. `OFFLINE:CONFIGURATION_ERROR` is all we need.

absolutely. However, we all seem to agree on bindings not removing things without the user's consent. The docs should clearly state this and the API should enforce this.

[2017-04-04 18:10] maggu2810 commented on #2718
So @mag2bue / @tiktok7 only a PR is missing :wink:

[2017-04-05 06:02] sjka commented on #3199
nice 😄

I'm about to file a PR for those two things: disallowing bindings to initiate the removal and making the docu more explicit in that respect. Thanks for this feedback!

[2017-04-05 08:27] danchom commented on #3203
Merged by #3204

[2017-04-05 08:27] #3203 closed

[2017-04-05 17:32] #3199 closed

[2017-04-06 00:47] pabloNZ opened #3208 "Default sitemap item disregards visibility parameter"
https://community.openhab.org/t/sitemap-default-element-type-visibility-parameter/24802

Default sitemap items don't adhere to any visibility parameters.

[2017-04-06 10:37] tomhoefer opened #3209 "Firmware properties"
Currently the firmware domain object ```org.eclipse.smarthome.core.thing.binding.firmware.Firmware``` consists of the following meta information:
-uid
-vendor
-model
-description
-version
-prerequisiteVersion
-changelog
-onlineChangelog
-md5Hash

Now we have to support firmware updates that may lead to a factory reset of the device. For this reason we have to introduce additional meta information

[2017-04-07 06:26] sjka commented on #3208
I can reproduce this issue and I had a look into the code. It looks like several properties are not copied over from the "Default" placeholder widget into the concrete implementation. However, when trying to [quickly fix](https://github.com/sjka/smarthome/commit/2a2b6780f0b60449df31bc4af58ae3686f454d5a) this I stumbled upon the next related bug, so it requires some deeper analysis.

[2017-04-07 07:47] ViToni commented on #2921
Please review  the PR:
https://github.com/eclipse/smarthome/pull/3180

[2017-04-07 08:08] triller-telekom commented on #682
Since PR #1864 is merged already this bug can be closed. I just had a look at the current master branch and I don't see any reference to Apache HttpClient anymore. All references have been replaced with Jetty.

@kaikreuzer can you please close this bug?

[2017-04-07 08:23] kaikreuzer commented on #682
Indeed, thanks for noticing.

[2017-04-07 08:23] #682 closed

[2017-04-07 09:02] htreu commented on #2605
The order of channels and bridges is important here: when defining the Thing first and the channels last it should work. See your example reformatted here:
[code]
Does that fix your issue? We can close this issue then.

[2017-04-07 12:46] mackelito opened #3212 "Rule Engine NullPointerException"
The rule get´s triggered at the correct time but throws this error
2017-03-31 22:13:03.088 [ERROR] [.automation.core.internal.RuleEngine] - Fail to execute rule '[rule_2, null]': java.lang.NullPointerException

Running the rule manually by clicking the play icon works fine.

[2017-04-07 13:34] kaikreuzer commented on #3212
Looks like a duplicate of https://github.com/eclipse/smarthome/issues/3029, right?
If so, I assume you are using an older version as the issue is already fixed on master.

[2017-04-07 13:34] #3212 closed

[2017-04-07 13:40] kaikreuzer opened #3213 "Move Astro binding from openHAB2 to ESH"
The [Astro binding](https://github.com/openhab/openhab2-addons/tree/master/addons/binding/org.openhab.binding.astro) is a very useful binding, which is used by many openHAB users.
As it is not really a device integration, but rather a basic functionality that is useful for many use cases, I think it would be beneficial to make it a part of ESH itself and make it available to other solutions as wel

[2017-04-07 13:46] kaikreuzer commented on #3185
Any success @kgoderis?

[2017-04-08 16:31] MHerbst opened #3219 "Show channels (optionally) in alphabetical order in Paper UI"
On the "Things" configuration page in Paper UI the channels appear in in an unsorted order. If you have quite a large number of channels this is quite annoying because you permanently have to scroll up and down and search the channels that you want to configure.
In this example from the Homematic binding you can see the problem:
![image](https://cloud.githubusercontent.com/assets/616792/24830572/1

[2017-04-08 16:38] kaikreuzer commented on #3219
They should be sorted exactly in the order that is defined by the binding - this is done intentionally, so that a binding has a chance to sort them by topic/relevant/whatever.
So I would suggest you open an issue for Homematic to address this specifically in that binding.

[2017-04-08 16:38] #3219 closed

[2017-04-08 16:55] MHerbst commented on #3219
@kaikreuzer I agree with you that the binding should be responsible for the order but I am not sure whether it is possible (at least in the case when the channels are created dynamically like in the Homematic binding).
I have modified the implementation of the `ChanneltypeProvider` interface in the binding to return the channel types in a certain order (method `getChannelTypes`). But the order was

[2017-04-08 17:15] kaikreuzer commented on #3219
Well, this is then definitely something that I would consider a bug.

[2017-04-08 17:20] MHerbst commented on #3219
@kaikreuzer If you reopen this issue I could provide a clearer description or is it better to open a new issue?

[2017-04-08 17:21] kaikreuzer commented on #3219
I'd suggest a new issue.

[2017-04-08 17:32] MHerbst opened #3220 "Order of channel types returned by a binding gets lost in class ChannelTypeResource"
If a binding implements the method `ChannelTypeProvider#getChannelTypes` to return a dynamically created list of channels types the channel order gets lost and the channels appear in Paper UI in a "random" order.

This happens because the returned channel types are copied to a `HashSet` in method  `ChannelTypeResource#convertToChannelTypeDTOs`.

[2017-04-09 11:42] kgoderis commented on #3185
@kaikreuzer No(t yet). As you have might have noticed I am quite absent lately due to an overload @ my businesses.

[2017-04-10 07:12] svilenvul commented on #3213
Should we refactor [this PR](https://github.com/openhab/openhab2-addons/pull/1434) as well ?

[2017-04-10 07:27] sjka commented on #3213
yes, but wait until the binding actually moved (see https://github.com/openhab/openhab2-addons/pull/1434#issuecomment-292870324)

[2017-04-10 07:50] sjka commented on #3209
I'm okay with your proposal, as long as these properties are more or less means to customize the behavior of the FirmwareUpdateHandler. Anything that might be of a concern for the user should still become a first-class field.

[2017-04-10 07:57] sjka opened #3223 "[Test Failure] FSInternetRadioHandlerOSGiTest"
In a [Travis CI build](https://travis-ci.org/eclipse/smarthome/builds/220120289) of #3222, there was a weird problem in the `verify the volume is updated through the CHANNEL_VOLUME_PERCENT` of `FSInternetRadioHandlerOSGiTest`:

[code]

I can't really make sense of this on a first glance, but since the problem vanished on the second build of the very same commit it seems like the test is not stable

[2017-04-10 11:05] BenediktNiehues commented on #2964
As the PR #2965 is closed, this issue can be closed, too.
Will do that now...

[2017-04-10 11:05] #2964 closed

[2017-04-10 12:04] sjka commented on #3223
@m-memova, as you know these tests best, does anything cross your mind which could cause this?

[2017-04-10 12:48] danchom commented on #3195
@kaikreuzer what do you think about that?

[2017-04-10 18:45] kgoderis commented on #3184
@maggu2810 were you able to reproduce the problem?

[2017-04-11 03:17] DigitalBites commented on #2718
FYI... I have already implemented this and have been using it for the past couple days. I will create a PR so that others can use this as well. It appears that a number of people have been wanting this functionality and I bumped into needing it too. :)

[2017-04-11 06:33] m-memova commented on #3223
@sjka , I will take a look as soon as I can. As far as I remember the problem with these tests was that changing the item's status several times in one test case could not always be handled quick enough.

[2017-04-11 06:43] BenediktNiehues opened #3224 "TriggerModule which triggers if an items state matches a condition for at least a given time"
There should be a trigger for the rule engine which triggers a rule if an item state matches a condition like myNumberItem < 100. Additionaly there should be the possibility to tell the trigger not to fire the rule directly, but only if the value matches the condition for a given timebox. For example if the condition is myNumberItem < 100 and the timebox is 5 minutes the trigger will only fire the

[2017-04-11 10:52] ViToni commented on #2921
Will be resolved  by PR https://github.com/eclipse/smarthome/pull/3180.

[2017-04-11 11:30] #3220 closed

[2017-04-11 12:12] BenediktNiehues opened #3227 "Passing rules context with RunRuleAction"
If a set of actions and/or conditions from ruleA are executed with the RunRuleAction from anoter ruleB it would be helpful to have the context of ruleB as executionContext for ruleA, too. Therefore the RunRuleAction should forward the rule context of the calling rule.

[2017-04-11 13:06] maggu2810 commented on #3184
@kgoderis I edit your two posts, so the logs are marked as pre-formatted text -- much better to read.

I haven't tried to reproduce the problem, yet.
I can try to do it, if you give me instructions how to setup a runtime to reproduce the problem.

[2017-04-11 14:12] sjka commented on #2801
I give up. Whatever we will decide to to one day, it won't be what I initially described here, therefore I close this issue for now.

[2017-04-11 14:12] #2801 closed

[2017-04-11 14:32] triller-telekom opened #3231 "[Test Failure] NtpOSGiTest fails randomly on my local machine during mvn clean install"
Sometimes the test runs fine and sometimes it fails, I cannot really specify when. But it just happend twice after running "mvn clean install" -> reboot laptop -> "mvn clean install".

I am running Arch Linux on my machine.

testDateTimeChannelWithUnknownHost(org.eclipse.smarthome.binding.ntp.test.NtpOSGiTest)  Time elapsed: 10.182 sec  <<< FAILURE!
java.lang.AssertionError: The thing status was n

[2017-04-11 14:48] aounhaider1 opened #3232 "Support installing extensions from eclipse marketplace URL"
We already can install extensions and rule templates by id in ESH using rest endpoint. Having another rest endpoint, that supports installation of extensions directly from the marketplace URL, can be a useful feature IMO.

[2017-04-12 06:54] triller-telekom commented on #802
Since this is the Eclipse SmartHome project, I just tried "man smarthome" in the OSGI console and it prints out the help as follows:

osgi> man smarthome
---SmartHome commands---
	smarthome discovery start <thingTypeUID|bindingID> - runs a discovery on a given thing type or binding
	smarthome discovery enableBackgroundDiscovery <PID> - enables background discovery for the discovery service with th

[2017-04-12 08:39] kaikreuzer commented on #802
@triller-telekom Please note that ESH specifically contains an integration of the smarthome commands into the Karaf shell: https://github.com/eclipse/smarthome/tree/master/bundles/io/org.eclipse.smarthome.io.console.karaf

So this might need to be adjusted to also correctly show the help texts when being used in Karaf.

[2017-04-12 10:06] kaikreuzer commented on #3185
No rush - I know that you are waiting for any other things for me and I admire how you manage to do all that stuff despite of your businesses :-)

[2017-04-12 13:33] sjka commented on #3231
I just had a closer look at the debug output of the test execution on your machine. This is how it looks like on _my_ machine:

[code]

So it takes just a really short moment to realize that the host cannot be resolved. However, on your machine it behaves a little bit different:

[code]

Two things to notice:

1. It takes about 15 seconds to fail. Which is longer than the test timeout.
2. The log

[2017-04-12 22:56] aisebastian opened #3239 "Audio tests are failing"
Compiling from current master, the following tests fail:
[code]

[code]

[2017-04-13 06:21] BenediktNiehues commented on #3227
PR for this: #3240

[2017-04-13 07:09] sjka commented on #3224
To me that sounds reasonable.
@danchom, do you have any thoughts on this?

[2017-04-13 09:34] triller-telekom commented on #3231
Some more observations show that "random" is not really random here. It turns out that this test actually connects to REAL ntp servers, i.e. 0.pool.ntp.org which is bad practice for an integration test that runs ob every build on our build server.

The specific test that failed on my machine was because my machine could resolve "wrong.hostname". Thanks to the provider T-Online which has configured

[2017-04-13 10:56] davwil commented on #3166
In addition to chr-fritz if there is callback.next() or callback.upate() called along with callback.pending(), pending state is not set correctly.

So this code does not work:

[code]

neither does this:
[code]

but if defineSequence is called in between, it works:

[code]

[2017-04-13 11:28] Rossko57 commented on #3059
This may be related to #3162 i.e. evaluations at rules file parsing time
https://github.com/eclipse/smarthome/issues/3162

[2017-04-13 11:36] danchom commented on #3224
I think here is mixing concept of triggers and conditions. The triggers must  be triggering when something occurs, The conditions have to decide if the  rule's actions have to be executed or not.
This what you want to achieve is  some kind  of CEP (Complex Event Processing). Soon or late we have to work with such complex conditions, but we have to decide how to do that. IMHO there are two ways:
1)

[2017-04-13 11:47] Rossko57 commented on #3128
This feels a bit like multiple scheduling referenced here ?
https://github.com/eclipse/smarthome/issues/2580
(exposed by errors in _other_ rules in the file)

[2017-04-13 12:45] rtvb commented on #3128
AIRC I only had that single sample rule in a separate .rules file.

[2017-04-13 14:02] maggu2810 commented on #3239
Thanks for your report.
Does it fail all the time or sometimes?

Please use the "pre-formatted text" indications

[code]

[2017-04-13 18:51] llamahunter opened #3244 "IDE setup instructions don't work"
I followed the instructions here

https://eclipse.org/smarthome/documentation/development/ide.html

But I was left with a project with many build errors.

It's possible that there's a failure to download an Xtext Antlr SDK from

http://download.itemis.com/antlr-generator-3.2.0-patch.jar

Due to the server being offline.  Maybe there should be mirrors for that?

Running on MacOS 10.12.4
Using Java(

[2017-04-13 23:14] 9037568 commented on #3244
Unlikely to be because of the Xtext download failure.

I've never gotten a valid Eclipse workspace from those instructions, and I've made several attempts.

[2017-04-13 23:23] llamahunter commented on #3244
Are there other instructions on how to get a working ESH workspace?

[2017-04-13 23:25] 9037568 commented on #3244
Not that I'm aware of.  Hopefully someone else knows of some.

[2017-04-13 23:25] llamahunter commented on #3244
@kaikreuzer do you know?

[2017-04-14 06:38] aisebastian commented on #3239
Hello,

For me they fail every time. I don't know what those tests do and what other info might be needed from me.

P.S. I attempted to format it but failed. Got the hang of it now.

[2017-04-14 07:10] kaikreuzer commented on #3244
It works generally, I just did this exercise with two people last week without any issues.
We would have to look closer at your issue. "doesn't work" is usually not specific enough...

Question: Do you really need the ESH IDE or would the [openHAB IDE](http://docs.openhab.org/developers/development/ide.html) do for you as well? This is simpler as it does not require Xtext and code generation steps

[2017-04-14 07:49] maggu2810 commented on #3231
I agree that a test itself shouldn't depend on an internet connection.
We should consider how a test of a NTP client should be written do work without an internet connection.
Should we "imitate" a server and just offer the correct bytes that would be received by a real server?

The "feature" to return an IP address for a non-resolvable DNS entry is IMHO not a feature. If there is no DNS record, th

[2017-04-14 14:52] cdjackson opened #3246 "PaperUI does not respect limitToOptions=false"
The configuration parameter dropdown is rendered as a list only and it's not possible to enter values other than those in the list.

[2017-04-15 12:11] lolodomo opened #3248 "String Item auto creation: missing [%s] in label => no display in UI"
When you use channel auto linking, string items are created with a default label that does not contain a "[%s]" to display the item value.
In case the linked channel has no pattern defined, the result is that the item value is not displayed un UI when opening a page containing such a string item !
When the channel value is updated, Basic UI then updates the item value.

If I add a pattern "%s" to

[2017-04-15 12:27] lolodomo commented on #3248
An alternative would be to enhance TextRenderer:renderWidget to get the value from itemUIRegistry.getState(w) when getValue(w) returns an empty string.

[2017-04-15 12:48] lolodomo commented on #3248
In fact, it can be fixed just by an update in the method AbstractWidgetRenderer:getValue(Widget w).
I will propose a fix.

[2017-04-15 13:30] lolodomo commented on #3248
The second alternative is OK for Basic UI but does not solve the problem for Classic UI and HABdroid. Apparently Classic UI and HABdroid are just never display the value of such items ! That is worst than Basic UI.
I never used "auto link" mode but I am very surprised that noone has discovered and fixed this major bug before.
So I think the real solution is to have a label with [%s] when the item

[2017-04-15 13:31] lolodomo commented on #3248
@kaikreuzer : please comment (when you have time)

[2017-04-15 13:56] NolanGarrett opened #3252 "Unable to Convert From Celsius to Fahrenheit"
I have multiple Z-Wave devices that report temperature. They all report in Celsius. If you change to Fahrenheit and save, then go back to the device, it is reset to Celsius. After opening a ticket regarding the binding/HABmin2, I was instructed this is likely an ESH issue and to open a bug report here.

[2017-04-15 14:04] lolodomo commented on #3248
A third solution would be to consider a default pattern for any string channel. The change to do is in the method ItemUIRegistryImpl:getLabel(Widget w). Compared to my first solution, this solution would avoid creating again every items.
I am sure this solution would fix Basic UI, I can test it to verify that it fixed Classic UI and HABdroid too.

[2017-04-15 14:06] mhilbush commented on #3252
I ran into this as well with HABmin.  Did you try setting the scale using PaperUI?  I just did that and it worked on three different device types.  Try PaperUI and report back.  It you can set it using PaperUI, but not HABmin, it's likely a HABmin issue.

[2017-04-15 14:15] NolanGarrett commented on #3252
You are correct, PaperUI works fine. Closing this out.

[2017-04-15 14:15] #3252 closed

[2017-04-15 14:30] lolodomo commented on #3248
I tested the last solution and it fixed all UIs (Basic UI, Classic UI and HABdroid).

[2017-04-15 14:35] lolodomo commented on #3248
So I propose to replace this block https://github.com/eclipse/smarthome/blob/master/bundles/ui/org.eclipse.smarthome.ui/src/main/java/org/eclipse/smarthome/ui/internal/items/ItemUIRegistryImpl.java#L287
by
[code]
If my solution is validated, we can think if other item types needs a default pattern too. NumberItem ?

[2017-04-15 17:22] lolodomo opened #3254 "Voice manager and TTS: select the audio format"
The algorythm behind getBestMatch is not really clear to me. Can someone explain it ?
Is it right that the idea was to give priority to WAV format ?
As the TTS and sinks audio formats are in not ordered sets (Set<AudioFormat>), I am not really sure the result is the one expected.

I have now a use case where MP3 format is used by VoiceRSS but due to the low bitrate of the produced file, the audio

[2017-04-16 12:16] lolodomo opened #3255 "Defining new audio formats"
The current ESH framework defines only 2 predefined audio formats: MP3 and WAV.
I would like to add at least OGG and AAC.
Can you confirm that OGG format would be with OGG container and VORBIS codec ?
Can you confirm that AAC format would be with none container and AAC codec ?

[2017-04-16 13:39] cdjackson commented on #3246
My mistake - it does work, however once data is typed into the editbox, it's not possible to select from the list without emptying the editbox.

[2017-04-16 19:10] lolodomo commented on #3254
I would like to know if it was intentional to have the methods getBestMatch and getPreferredFormat more or less duplicated here https://github.com/eclipse/smarthome/blob/master/bundles/core/org.eclipse.smarthome.core.audio/src/main/java/org/eclipse/smarthome/core/audio/AudioFormat.java#L250
and here https://github.com/eclipse/smarthome/blob/master/bundles/core/org.eclipse.smarthome.core.voice/src/

[2017-04-16 19:25] lolodomo commented on #3254
To solve the problem identified by my use case (audio sink incompatible with low MP3 bitrate), I think the solution could be:
* to set the bitrate (64 kbps) in the MP3 format in the VoiceRSS binding (as it is what the service delivers)
* for audio sinks that don't support certain MP3 bitrates, define several supported MP3 formats, each one with an accepted bitrate, for example MP3 96 kbps, MP3 128

[2017-04-17 12:57] MrMontesa commented on #2826
Just for confirmation as to what I understand from this issue:
In rules it is not possible to react on certain string item changes. E.g:
`2017-04-16 21:48:03.074 [ItemStateChangedEvent     ] - harmonyhub_activity changed from PowerOff to Fernsehen
`

As this issue is referenced quite often in community forum it would be great to
a) use this issue as a feature request since I think there is necciss

[2017-04-17 13:22] MrMontesa commented on #2668
Came accross this issue today as well. Quite a bit annoying to have as many rules as cron entries needed.

My use-case:

[code]

[2017-04-17 16:56] lolodomo commented on #3255
Done with merged PR.

[2017-04-17 16:56] #3255 closed

[2017-04-18 06:12] kaikreuzer commented on #2826
Actually, my comment was about
[code]
Directly providing a string should actually work - so this should be analyzed, why this isn't triggered with
[code]
So let's re-open the issue.

[2017-04-18 07:30] triller-telekom commented on #3244
Indeed I also had trouble recently on setting up the ESH and openHAB IDEs due to problems with some mirrors. I was unable to download a few bundles. Once Eclipse has sorted out its restructuring of mirrors this issue should resolve itself.

@llamahunter: Whats the status for you? Does it work now? Have your tried it again?

[2017-04-18 08:40] sjka commented on #3062
@kgoderis are you working on this?

[2017-04-18 09:09] markusjw opened #3257 "Paper UI: Rollershutter buttons do not work"
I have the following problems with the Rollershutter widget in Paper UI (Control view):
- The buttons (up, down, stop) do not result in any commands sent to the thing channel.
- The read-only widget does not seem to show the correct value, at least not with the right formatting

The following features work for me:
- Entering a manual shutter level results in a command to the channel.
- Setting the

[2017-04-18 11:47] kgoderis commented on #3062
@sjka nope....

[2017-04-18 11:58] kgoderis commented on #3184
@maggu2810 The installation I tried it on is a plain-vanilla "Ubuntu apt-get" installation, adjusted for my own configs and with nginx.

[2017-04-18 12:04] kaikreuzer commented on #3062
... but willing to put it on your long to-do list?

[2017-04-18 12:40] htreu commented on #3239
Fails for me too. Running macOS 10.12.3, Java 1.8.0_121, maven 3.3.9.

[2017-04-18 12:47] htreu commented on #3239
The tests fail due to an already blocked port 8080. Please check if any process is using this port. I had an orphan ESH instance running in the background. Killing it will result in passing tests again.

[2017-04-18 12:55] kirantpatil commented on #579
Hi @madte,

Is CoAP binding with DTLS support available for public testing ?

Please post the source code link and instructions to test it.

Thanks.

[2017-04-18 13:22] maggu2810 commented on #3257
Which browser do you use?

@aounhaider1 Is this a known issue?

[2017-04-18 13:31] triller-telekom commented on #3192
I just tried to change my sitemap using vi on the command line and immediately after saving the file the reload was successful. I have tested it with Eclipse SmartHome and also on openHAB.

What kind of linux distribution are you using? How did you install openHAB? Your folder structure `/var/packages/openHAB2/target/src/conf` sounds "strange", i.e. why is there a `target/src` in there?.

Can you

[2017-04-18 14:27] #2912 closed

[2017-04-18 14:44] mdicke2s opened #3261 "[ThingStatus] Some invalid transitions (eg from ONLINE to UNKNOWN) are not propagated"
If a client requests a transition to UNKNOWN from a source state other than INITIALIZING, the transition is not executed (which is absolutely correct since the transition graph does not allow this). Actually in the code there is just a 'return' statement, so that the client doen't get any respond on what happened.

Therefore I suggest to change the code:
ThingManager#statusUpdated() should throw a

[2017-04-18 14:48] sjka commented on #3261
I agree, swallowing them silently is a little surprising...
A log statement would be another option, but I tend to agree that we should do it "the hard way" in order to make clear that the API was used in a way which is not anticipated.

[2017-04-18 15:47] markusjw commented on #3257
I am using Firefox 52.0.2

[2017-04-18 19:21] grouchal commented on #1093
Where are we with this issue?

[2017-04-19 06:44] itheiss commented on #3192
Hi,

thanks for looking into this. I am using openHAB on a Synology NAS (x86-based). openHAB is installed with a proper Synology package I maintain for myself. Synology packages install under ```/var/packages/<name-of-the-package>```. The ```/target``` folder is a fixed folder added by the Synology installer. Within the ```/target``` folder lives the content of the package e.g. the openHAB "source

[2017-04-19 07:13] lewie commented on #1560
I often use this powerfull  and fast embeddable code editor: https://ace.c9.io/
A full featured example with 110 languages: https://ace.c9.io/build/kitchen-sink.html

[2017-04-19 07:14] kaikreuzer commented on #3248
Sorry, didn't find any time yet and as you noticed, this is a complex topic...
Only added some remark on the PR just now: https://github.com/eclipse/smarthome/pull/3262#issuecomment-295134213

[2017-04-19 07:26] lewie commented on #1560
@aounhaider1, @kaikreuzer,
we could write highlighters for OH specific Syntax like things, channels, items, sitemaps and xText Rules etc. too.

Don't know if this BSD-license does conflict with OH2-license in front-end https://github.com/ajaxorg/ace/blob/master/LICENSE

[2017-04-19 07:28] kaikreuzer commented on #1560
BSD is compatible with EPL, so this should be no issue.

[2017-04-19 08:37] maggu2810 commented on #3261
I agree with the hard way and throwing an exception.

[2017-04-19 09:20] triller-telekom commented on #3192
If I move my conf folder into `conf-target` and set up a symlink `conf` pointing to `conf` and then edit my sitemap with vim on the console, the reload is successful for me without any exception.

Is your symlink pointing to a different file-system, maybe on NFS where it is sometimes not available?

[2017-04-19 10:55] #3239 closed

[2017-04-19 10:56] itheiss commented on #3192
The symlink is pointing to a Btrfs-Volume which is on the same physical hard disk.

[2017-04-19 10:58] triller-telekom commented on #3136
Hello,

I just tried to reproduce your problem and I used the following setup:

demo.things:
[code]

demo.items:
[code]

demo.sitemap:
[code]

My `basicui` fetches the icon for the slider from this URL:
http://localhost:8080/icon/slider?state=10&format=png

This is working fine and if I adjust the slider, the icon is updated properly. Also in my `classicui` the icon is loaded from this URL:
http:/

[2017-04-19 12:52] danchom commented on #3227
Merged by #3240

[2017-04-19 12:52] #3227 closed

[2017-04-19 13:34] m-memova commented on #3223
So the main issue was that the volume could be changed through two different channels. And there were several test cases changing it. Every volume change is related to sending a HTTP request which is asynchronous by its nature. I think that was the reason for the inconsistent behavior of the tests. Once in 200-300 times they could fail because of a thread concurrency issue. I made 2 changes in ord

[2017-04-19 13:38] danchom commented on #3099
We have internal discussion and have a new proposal for rule's configuration:
1) When add, update a rule, configuration references will be stored in the managed provider, but they always will be resolved in registry. The resolution will be done by the onAddElement/onUpdateElement which are called after the storing the rule. In that way the user/gui will always work with the resolved rules.
2) We c

[2017-04-19 13:41] maggu2810 commented on #3184
@kgoderis Sorry, but I don't know how I can setup a demo configuration to reproduce the problem.
Shouldn't it be possible to use the Eclipse SmartHome launch configuration that is shipped in the source tree, add some bundles, add a specific configuration, ... to reproduce it?

[2017-04-19 13:43] #3261 closed

[2017-04-19 14:34] aisebastian commented on #3239
Indeed I had an 8080 process, but I failed to realize that was the culprit. Thanks!

[2017-04-20 07:33] maggu2810 commented on #3223
I assume this one has been fixed by #3266

[2017-04-20 07:33] #3223 closed

[2017-04-20 07:35] #3128 closed

[2017-04-20 09:12] plamen-peev opened #3269 "Automation javadoc"
Automation javadoc must be fixed in order to compile the project with java 8.

[2017-04-20 09:15] sjka commented on #3231
Right, I think we all agree that the weird behavior of the DNS servers offered by a popular telco indeed should not bother us here. So let's ignore this point here.

Nevertheless, the dependency to the external system remains more than valid! (I just ran into another remote-communication related issue which randomly fails these test...). So as much as I love these tests for the fact that they are

[2017-04-20 09:23] martinvw opened #3270 "Some issues with the archetype"
There are some issues with the archetype, I'm planing on fixing them, but if there are others please let me know:

- I see that the Handler example contains a mix of tabs and spaces
- I see that the Handler example contains an outdated copyright header
- The xml files in the ESH-INF directory are not indented with tabs but with spaces, I believe the XML files should be indented with tabs.
- the bu

[2017-04-20 09:27] kaikreuzer commented on #3270
Please note that the about.html needs to be configurable as the [openHAB 2 script](https://github.com/openhab/openhab2-addons/blob/master/addons/binding/create_openhab_binding_skeleton.sh) requires a different version than the ESH one.

[2017-04-20 09:32] martinvw commented on #3270
Thanks for the reminder!

[2017-04-20 11:20] sjka commented on #3269
You mean "in order to remove the `-Xdoclint:none` statement from the [pom.xml](https://github.com/eclipse/smarthome/blob/master/pom.xml#L392)"? 😉

No, seriously, you are right in principal. However, just to make this clear: The project still compiles well with Java 8 currently because of this flag.

The only "pitfall" is the fact that this flag is declared in a maven profile which activates itself

[2017-04-20 11:47] kaikreuzer commented on #3224
Sorry for my late feedback, I was on holiday last week...

I agree with @danchom that this proposal seems to mix many different things together and that it probably is not a good candidate for adding it to the core modules (and yes, we have to think about a library of optional modules that we want to provide with ESH, but which are not there mandatorily).

From the mentioned options 1+2 and think

[2017-04-20 12:38] maggu2810 commented on #3231
DNS? I assume you mean NTP. Correct?

[2017-04-20 13:18] #2718 closed

[2017-04-20 13:33] #3161 closed

[2017-04-20 15:12] kaikreuzer commented on #3192
From the code I can see that this exception is thrown when "canRead" is checked on a file.
As you seem to have 4 subsequent notifications from the OS, I would assume that the OS updates the file in multiple steps and not as a single transaction. I could imagine that this is caused by editing a file through Samba, so that the Samba server actually ajusts the file permissions only after writing the

[2017-04-20 15:37] sjka commented on #3231
yes, NTP of course 😆

[2017-04-20 16:01] itheiss commented on #3192
I'am fine with that. Just wanted to bring this to your attention.

[2017-04-20 17:45] staehler commented on #3051
I've a problem which similar to this mentioned above. When a member of a group changes to UNDEF, the state of the group item changes to OFF:
Group:Switch:OR(ON, OFF) gFenster "Offene Fenster [(%d)]" <contact> // ON: offen, OFF: geschlossenes Fenster

2017-04-19 23:09:13.937 [ItemStateChangedEvent     ] - FensterGZ changed from ON to UNDEF
2017-04-19 23:09:13.938 [GroupItemStateChangedEvent] - gFen

[2017-04-20 19:30] martinvw commented on #3270
How are you about returning null, I would really like the `HandlerFactory.createHandler` to return an exception instead of null. Why?

http://www.yegor256.com/2014/05/13/why-null-is-bad.html

Another reason is that the case always means a programming error, because the framework had the responsibility to check `supportsThingType` and if that returns `true`  while `createHandler` can't handle it we

[2017-04-20 21:02] martinvw commented on #3270
Should the `about.html` contain the (dynamic) current date?

[2017-04-20 21:28] martinvw commented on #3270
Intellij marks this part of `pom.xml` unneeded, because it's inherited.
[code]

Can I remove it

[2017-04-21 07:53] kaikreuzer commented on #3270
I would move this discussion out from this issue since if we decide to change the current implementation, we should also address existing handler factories accordingly.

Where did you find this sentence? For the [Eclipse about.html](https://www.eclipse.org/legal/epl/about.php), it is actually June 5, 2006 as a fixed date. Afaik, it is the date of this about text has been last modified. Only the "T

[2017-04-21 07:57] martinvw commented on #3270
Makes sense to move out the discussion :-)

about the date:

[openHAB B.2](http://docs.openhab.org/developers/development/guidelines.html#b-osgi-bundles)

[2017-04-21 08:15] kaikreuzer commented on #3270
Maybe this should be weakened to "should be update, if the file content is changed".

[2017-04-21 08:38] svilenvul commented on #3231
As you have discussed above, I have opened PR that will ignore the tests until we add a local fake NTP server.

[2017-04-21 09:02] ViToni opened #3281 "Intropduction of a common filtering API"
While working on the Automation part of ESH (https://github.com/eclipse/smarthome/issues/2921) the idea came up to introduce a filtering approach to the RuleRegistry (see https://github.com/eclipse/smarthome/issues/2921#issuecomment-285375056).

However a change such as a filtering API might be better provided in a more general way and in a central place so it's available project wide and not only

[2017-04-21 09:06] danchom commented on #3269
The purpose of this PR is to improve and remove errors in java doc of automation module (according 1.8). It is not intended to change the pom.xml at all.

[2017-04-21 09:08] sja opened #3282 "Inconsistency SSE Type and REST State"
**tl;dr**
As a generic UI I have no chance to find out, which type the current state of an DimmerItem has, until I receive an event-message via SSE with that information. Thats a problem at initial rendering because I cannot trigger that event-message.

**Details**
I hope this is an understanding problem at my side. I tried to find an issue related to this but it is not easy to search for that top

[2017-04-21 09:22] martinvw commented on #3270
What do you think of this?

[2017-04-21 09:26] sjka commented on #3281
Why don't these "parts" then bring their own `Predicate`? I would prefer not re-inventing yet again another wheel...

[2017-04-21 09:30] kaikreuzer commented on #3281
If we add a new method to `Registry`, we cannot make a difference between the "parts" - it should be the same API for them all. And introducing our own `Filter` class could also directly refer to the types of the Registry and offer ESH specific methods that we want to allow for such a filter.

[2017-04-21 09:53] martinvw commented on #3270
@kaikreuzer since there seems to be no proper way to use an external file for the archetype generate I thought about adding a copy file command in both the windows and *nix script for openHAB and putting the default file here. Can you agree on that?

[2017-04-21 09:54] markusjw opened #3284 "Paper UI does not show thing type UID"
If I have seen that correctly, the Paper UI does at no place show the thing type UID of a thing.

It shows the thing type label and description and the thing UID. But for any of these values there are reasons why they might not necessarily contain information about the actual thing type UID.

Shouldn't a field for the thing type UID be added to the thing page?

[2017-04-21 10:48] #3192 closed

[2017-04-21 11:04] maggu2810 commented on #3281
I would prefer also the Predicate of Java 1.8 but I see the point that it cannot be used for the automation because of its limitation to Java 1.5

@kaikreuzer You pointed out an interesting topic. Ever base class or every API of the core that is used by automation stuff is limited to the 1.5 feature set, too.

[2017-04-21 11:29] sjka commented on #3231
just FTR:
The idea mentioned in #3280 is to...

[2017-04-21 12:17] triller-telekom commented on #3051
I am trying to debug the UNDEF problem, but somehow I cannot reproduce it. What I tried is to narrow it down to the 2 phone example and define my items like this:

[code]
First I verified it with the latest ESH and OH2 master branch where it works as expected. But when I downloaded the openhab2.zip and it worked too I got confused.

Could you please also download the openhab2 zip file and run the

[2017-04-21 12:32] triller-telekom commented on #1341
Since #1013 has been merged since quite a while I just tried the following use cases:

1. Edit a thing which was created via a .things file
- Result is a quick "Thing updated" popup, followed by a "409 CONFLICT" response and the thing is not changed

2. Delete a thing which was created via a .things file
- Result is a "409 CONFLICT" response and the thing is not deleted.

So I guess this is workin

[2017-04-21 12:37] #1341 closed

[2017-04-21 13:47] triller-telekom commented on #1739
This issue has been fixed.

Both GUIs, classicui and basicui do not throw an exception with the following items file:

[code]

and the following sitemap file:

[code]

In basicui there is a slider and the classicui shows up/down arrows.

@kaikreuzer: Can you please close this issue?

[2017-04-21 13:52] #1739 closed

[2017-04-21 13:54] kaikreuzer commented on #2100
Is this a duplicate of https://github.com/eclipse/smarthome/issues/2854?

[2017-04-22 09:02] lolodomo commented on #3248
@kaikreuzer : I think the correct approach and fix would be to update the item label for the item created automatically by the code in order to include the value (add "[%s]" in the label). Is it ok for you ?

[2017-04-22 11:14] lolodomo opened #3290 "Basic UI displaying an unexpected value for standard group"
With snapshot 889, I can see unexpected display of value for "standard" groups in Basic UI. It is not displayed immediately when opening a page containing a group but a value is then displayed probably when one of the items in the group is updated.

It only happens in Basic UI, there is no such issue using Classic UI or HABdroid.

The problem was introduced after snapshot 853.

I think the problem

[2017-04-22 11:37] lolodomo commented on #3290
Could it be in relation to merged PR #3274 ?

I think the problem could have been introduced during the last week becasue I did not notice it last weekend when implementing other stuff and running from Eclipse.

[2017-04-22 11:51] maggu2810 commented on #2100
I think so

[2017-04-22 12:24] lolodomo opened #3291 "Error building p2 repository"
Using Maven, the build of p2 repository is systematically failing.
Here are my logs:
[code]
and
[code]

[2017-04-22 12:30] kaikreuzer commented on #3291
Please check your log for the real error message  - the first excerpt above does not show any problem, the second line only the final report.

[2017-04-22 17:52] kgoderis commented on #3184
@kaikreuzer @maggu2810 I spend the last week investigating the issue, it was quite an adventure, and I made some progress but no resolution whatsoever. The problem is impossible to replicate. I installed a fresh new Ubuntu in a VM, and installed the latest SNAPSHOT OH2, and everything runs quite OK.

Then I made sure that my own environment was identical to this running version (even dit literal f

[2017-04-23 07:49] lolodomo commented on #3291
Memory problem:
[code]
How can I solve that ?

[2017-04-23 08:48] maggu2810 commented on #3291
Have you set the maven option correctly?

[code]

[2017-04-23 08:53] kgoderis commented on #3184
@maggu2810 I did the following test: I installed the latest snapshot (#889) on the machine that has proxying issues by merely downloading the .zip from cloudbees. Installed it, no modification whatsoever, and I put in demo mode after startup: proxying is not working for the demo.sitemap "multimedia" items

Is there anything that possibly could be influencing the JVM threading functionality? I pres

[2017-04-23 08:54] lolodomo commented on #3291
My current value was "-Xmx512m -XX:MaxPermSize=128m". I changed to your value and restarted. I came back when finished.

Is this documented somewhere ?

[2017-04-23 08:59] lolodomo commented on #3248
Not obvious to find where is done the automatic creation of item :(

Just to eliminate one solution: is it normal to have no state description with a pattern for a channel ?

[2017-04-23 09:11] lolodomo opened #3294 "Basic UI: text element updated when not expected"
When receiving a SSE event, Basic UI frontend takes the value from the label when the label contains something betwen []; if not, the value is the state value itself.
https://github.com/eclipse/smarthome/blob/master/extensions/ui/org.eclipse.smarthome.ui.basic/web-src/smarthome.js#L1624
But if the backend does not provide something between [] it might be because we don"t want a value displayed. Th

[2017-04-23 09:21] lolodomo commented on #3290
Maybe a normal group has now a state and due to #3294, this state is now displayed by Basic UI.

[2017-04-23 09:23] lolodomo commented on #3290
@triller-telekom : can you tell us if your change could have changed something relative to the state associated to a standard group ?

[2017-04-23 09:24] lolodomo commented on #3291
Problem solved when using the new maven options.
@maggu2810 : thanks a lot.

[2017-04-23 09:24] #3291 closed

[2017-04-23 09:26] lolodomo commented on #3294
@resetnow : this is for you ;)

[2017-04-23 09:28] lolodomo commented on #3290
By the way, how is defined the state of a standard group ?

[2017-04-23 09:38] lolodomo opened #3295 "State event: adding the transformed state value ?"
https://community.openhab.org/t/mapping-of-item-values-not-correctly-shown-in-habpanel/19518/16
The subject is: would it make sense to add the transformed state value in the state event.
The discussion is opened.

[2017-04-23 09:47] maggu2810 commented on #3291
I don't know if it is part of the documentation. Cannot search the source tree as I am on a trip.

It couldbe found there:
https://wiki.eclipse.org/EclipseSmartHome/Development/Build#Building_with_Maven

If the documentation is missing, we should add it.

[2017-04-23 10:29] kaikreuzer commented on #3291
Right here: https://github.com/eclipse/smarthome#3-building-with-maven

[2017-04-23 11:12] resetnow commented on #3294
I don't think I understand the problem. If there is no label with format defined in the sitemap, item state sill be displayed «as is». If there is a label format, there is this hack with []. Could you please explain what behaviour is expected here?

[2017-04-23 11:19] lolodomo commented on #3295
As I understand, it will be required only by UI not usimg sitemap like HABpanel.
SSE sitemap events already include raw and transformed state.

[2017-04-23 11:33] lolodomo commented on #3294
I think there are two subjects.

First is: shall we display a state if there is no format in label in all circumstances? For example for a standard group, I think the answer is no.

Second is that when you open a page, the backend is displaying no value if the item label does not comtain a format but later the frontend displays one value when receiving a SSE event. It is not consistent. We can dis

[2017-04-23 11:38] lolodomo commented on #3294
Note that only channels without pattern in state description are concerned.
If a patern is defined for the channel, it will be used.

[2017-04-23 11:45] lolodomo commented on #3294
And third sunject: maybe a different snippet without value should be used for standard groups ?

[2017-04-23 12:28] ruebox commented on #2098
Dear all,

I am familiar in Java programming and also developing of openhab addon. However, I a new to openhab2 core.
I.e. if you provide me some hints and support, I would be happy to contribute in fixing this issue.

[2017-04-23 19:16] Auto-Mark opened #3296 "BasicUI: Feature Request for optional Title Bar"
For some of my sitemaps it would be nice not to have a title bar displayed.
Maybe an option can be introduced to ommit the title bar.

So instead of
`sitemap demo label="My home automation" {...`
it could be
`sitemap demo nolabel {...`
or even just
`sitemap demo {...`

Example screenshot taken from http://docs.openhab.org/configuration/sitemaps.html

![clipboarder](https://cloud.githubusercontent.

[2017-04-23 19:29] kaikreuzer commented on #2098
Hi @ruebox, thanks for your interest to help on the core development!
For working on Eclipse SmartHome code, it is best to set up a dedicated IDE as described at https://www.eclipse.org/smarthome/documentation/development/ide.html. Alternatively, you can use the [openHAB IDE setup](http://docs.openhab.org/developers/development/ide.html) and also select the Eclipse SmartHome / Core option in step

[2017-04-24 04:24] maggu2810 commented on #3291
@kaikreuzer Sholdn't we add it to some section in "documentation, development" (e.g. https://github.com/eclipse/smarthome/blob/master/docs/documentation/development/notes.md).
To use a single source of information we could move the whole "Building with Maven" section to that file (or a separate one) and refer in the main README.md to that section.
WDYT?

[2017-04-24 06:52] kaikreuzer commented on #3291
Yes, probably makes sense to have that covered in the documentation. Currently, I do not see a good page for it, though (I doubt that anybody will find it on "notes.md"...).
I am anyhow now happy with the current docs structure (e.g. the "Thing definition" is much too big by now), we should probably come up with some restructuring.

[2017-04-24 07:09] maggu2810 commented on #3248
What about: https://github.com/eclipse/smarthome/blob/master/bundles/core/org.eclipse.smarthome.core.thing/src/main/java/org/eclipse/smarthome/core/thing/internal/ChannelItemProvider.java#L41

[2017-04-24 07:13] maggu2810 commented on #3295
What is the difference between this issue and https://github.com/eclipse/smarthome/issues/2788

[2017-04-24 07:14] maggu2810 commented on #3295
What is the difference between this issue and https://github.com/eclipse/smarthome/issues/2788 that has been fixed by you with #3135?

[2017-04-24 07:18] lolodomo commented on #3295
As I understood,  one developer of HABpanel does not want to use the REST API while the REST API is now ok with the raw and transformed state.

[2017-04-24 07:26] lolodomo commented on #3248
Thank you.
I will propose a fix.

[2017-04-24 09:35] maggu2810 commented on #3294
I assume this is not related to BasicUI only but should be defined as a common concept for all UIs.

[2017-04-24 10:11] n-kristev opened #3297 "UpDownType should include a neutral position"
I am currently working on a binding, and one of the devices is a blinds actuator. The `RollershutterItem`  class is the default class used for blinds, and it is using the `UpDownType` for its current blinds direction state.

However, there is a problem: a blinds actuator actually has 3 states (not moving, up, down), while the `UpDownType` only has `UP` and `DOWN.` At the moment I am working around

[2017-04-24 11:07] maggu2810 commented on #3297
The rollershutter item supports this types:
* PercentType
* UpDownType
* UnDefType

and this commands (+ RefreshType):
* UpDownType
* StopMoveType
* PercentType

If we look at the `setState` function we will see that every state that is set and is an instance of a convertible one, will be transformed to a percent type.
So, it seems if you set "up" or "down" as a state to signal the rollershutter i

[2017-04-24 11:47] n-kristev commented on #3297
@maggu2810 So it would like like the problem is that the shutter item state is ambiguous as it is currently defined. On one hand it shows the current position of the blinds, and on the other it also shows the direction they are moving.
It would seem like the state should be made to some kind of a compound type, which includes movement status (up/down/static), and current position.

[2017-04-24 12:14] kaikreuzer commented on #3297
The state simply describes the current position and not any transition. We also do not have information for Dimmers, whether they are currently being turned on or off or for Temperature values whether they are going up or down.
If you really need additional information about movement direction (and maybe even speed?), I would think that this should be modelled in additional channels.

[2017-04-24 13:33] Auto-Mark opened #3299 "Sitemap: Feature request chart period"
Currently the sitemap supports charts with some fixed periods:
[http://docs.openhab.org/configuration/sitemaps.html#element-type-chart](url)

In my application it would be helpful to view the data of the last 48 hours which is not included in the list of valid periods.

So it would be nice if the sitemap also supported the period 48h or 2D.

Thanks a lot.

[2017-04-24 13:41] n-kristev commented on #3297
I think I understand now, so the `UpDownType` in the state indicates only that the blinds are in top/bottom position, not that they are currently moving.
@kaikreuzer  Does this mean that I should not try to set `UpDownType` in the state through my binding at all?

[2017-04-24 13:47] kaikreuzer commented on #3297
When you set the state to UP or DOWN, this simply translates to 0% and 100% - so if this is what you intend, you can set the state, otherwise, better don't :-)

[2017-04-24 14:10] BenediktNiehues commented on #3224
@kaikreuzer , @danchom
IMHO this trigger should be part of the core modules; it has no complex expression logic, just additional comparators as @kaikreuzer already mentioned.  - The between comparator for me is not mandatory, so I could remove it if it is in your opinion too tricky for UIs... -
The most important requirement for this trigger is that the condition should match for a defined timespa

[2017-04-24 14:31] n-kristev commented on #3297
OK, thanks for clarifying this. Maybe a small comment in `RollershutterItem` would be helpful in the futire (I have created a pull request, feel free to discard it if you think it is not needed).

[2017-04-24 14:31] #3297 closed

[2017-04-24 16:27] resetnow commented on #3145
@kaikreuzer what do you think? If this is something you'd like to see implemented, it might be necessary to create legal review requests now so I can fix it later in the summer.

[2017-04-24 17:38] sjka opened #3302 "Reusable cache util"
As we have seen in eclipse/smarthome#2809 and now also in https://github.com/openhab/openhab2-addons/pull/1543, it would be useful to have little a utility to easily build a small cache. While guava offeres a nice one in some versions, it turned out it's not feasible for us to use because we'd need to update guava to a newer version (see #2801 why this is not a good idea).
Therefore I suggest to (

[2017-04-24 19:16] theRealMCQwerty commented on #3051
@kaikreuzer I see this item has moved to 'In Progress' but it is unclear to me from reading the comments what the change will be.
I got here because I have a group consisting of different item types that I use in a `when` clause of a rule using the `changed` trigger. I was hoping the group`.state` would reflect the last update meaning the state could change from 'ON' to '0' for example or any othe

[2017-04-24 20:41] kaikreuzer commented on #3051
@theRealMCQwerty I put it to "in progress", because @triller-telekom is looking into it. In case there is no bug, there of course won't be any change, so please discuss with him what there is to do.

[2017-04-24 21:36] kgoderis commented on #3184
@maggu2810 @kaikreuzer Found it! The culprit is https://github.com/eclipse/smarthome/blob/3ae5d7b1b284f2bde6199bfe8dad950fd38cae39/bundles/ui/org.eclipse.smarthome.ui/src/main/java/org/eclipse/smarthome/ui/internal/proxy/ProxyServletService.java#L71  in combination with org.eclipse.jetty.client.http.HttpClientTransportOverHTTP creating exactly Math.max(1, Runtime.getRuntime().availableProcessors()

[2017-04-25 03:08] dushanlk opened #3304 "REST Endpoints documentation page has no content."
No content available in this page, http://www.eclipse.org/smarthome/rest/index.html
But [here](http://www.eclipse.org/smarthome/documentation/features/rest.html#rest-endpoints) asking to visit.

[2017-04-25 07:06] lolodomo commented on #3294
@maggu2810 : yes a general discussion would be appreciated for the first subject.

Until now, considering classic UI, basic UI and HADroid, basic UI is the only UI to force the display of the state on a page update. There is no such problem with Classic UI and HABdroid.

To be clearer, what is additionally very annoying in basic UI is the inconsistency between page loading and page refresh.

[2017-04-25 07:32] kaikreuzer commented on #3304
Works for me on both Chrome and Safari. Do you have any browser plugins installed that might block the Javascripts?

[2017-04-25 07:56] htreu opened #3305 "Move groovy unit tests to JUnit, mockito & hamcrest"
In addition to the move to Java 8 with #2926 we want to move the existing groovy unit tests to a pure Java setup with JUnit, [mockito](http://site.mockito.org/) and [hamcrest](http://hamcrest.org/JavaHamcrest/). By getting rid of groovy we want to streamline the tooling and reduce complexity.

Steps to take:
* introduce OSGi dependencies for mockito & hamcrest -> will be introduced by #3258.
* ado

[2017-04-25 07:56] triller-telekom commented on #3051
@theRealMCQwerty: Can you please post your group setup and the rule you want to trigger?
You are saying that your group consists of different types, so what types are in there and what function is attached to the group? Where do you see that the group state changes to `UNDEF`, in the console output?

[2017-04-25 08:04] kaikreuzer commented on #3305
@maggu2810 I assume that plan gets your approval?

[2017-04-25 08:30] maggu2810 commented on #3305
Sure :wink:  :+1:

[2017-04-25 09:16] cdjackson opened #3306 "New thing status OFFLINE/THING_GONE required for removing things"
A thing handler (or at least a bridge) needs to be able to mark a thing under its control as "removed". This is needed when the user wants to remove a thing in systems where this must be done through the bridge, and only the bridge gets notified that the thing is gone.

Therefore, the bridge should be able to mark a thing as "OFFLINE" with detail "THING_GONE". It would also be desirable to have an

[2017-04-25 10:41] #3270 closed

[2017-04-25 11:04] maggu2810 commented on #3304
Works for me, too.

[2017-04-25 11:11] kaikreuzer commented on #3270
Yes!

[2017-04-25 12:31] Auto-Mark opened #3308 "BasicUI: Images and Charts not updating according to Configuration"
There's been a discussion in the community about images and charts not updating as expected:
https://community.openhab.org/t/basic-ui-image-refresh-rate-in-seconds-instead-miliseconds/27152

Some tests suggest that the refresh parameter is interpreted differently:
* ClassicUI: milli sec
* BasicUI: sec

**Fix**: Use same time base for all UIs

Also, in my own setup the update works only on images n

[2017-04-25 14:54] kaikreuzer commented on #3308
It should be a value in milli secs, see [here](http://docs.openhab.org/configuration/sitemaps.html#element-type-chart).

So I would say that it is a bug in the Basic UI. @resetnow, Would you agree?

[2017-04-25 15:06] sjka commented on #3304
Me too. Takes a moment though to load/render. Patience you must have 😉

[2017-04-25 15:17] resetnow commented on #3308
Yes, it's a bug, value is multiplied by 1000 in BasicUI. Obvious fix but I think we need to set a lower limit (50 ms?) to avoid accidental request spam.

[2017-04-25 15:25] ghys commented on #3295
Sorry for not chiming in before.
I was wondering if it made sense (or was advisable performance-wise) that the transformed state be included in the `ItemStateChangedEvent` payload - probably around [here](https://github.com/eclipse/smarthome/blob/3ae5d7b1b284f2bde6199bfe8dad950fd38cae39/bundles/core/org.eclipse.smarthome.core/src/main/java/org/eclipse/smarthome/core/items/events/ItemEventFactory.j

[2017-04-25 15:33] kaikreuzer commented on #3308
Yes, a lower limit makes sense. 50ms sounds sensible to me, maybe even 100ms.

[2017-04-25 15:47] ThomDietrich commented on #2826
@kaikreuzer I was okay to leave it with this but solving the forth case (comparison with a string) would be appreciated.

@MrMontesa the workaround is actually the very first example I've given.

[2017-04-25 20:19] MrMontesa commented on #2826
Hey @ThomDietrich ,
You're right for the basic rule trigger. But once you need a more sophisticated trigger like:
`Item XYZ changed from "string1" to "string2"`
You're example will be quite complex depending on the changes you need to cover.

use-case:
When harmony hub activity changes from "Off" to "TV", you'd like to set different lights compared to changes from "Off" to "BluRay". Then "TV" to "

[2017-04-25 23:59] ThomDietrich commented on #2826
No questions, I totally agree ;) That's how one would solve this and yes, string support in the condition would bring a huge improvement 👍

[2017-04-26 05:25] dushanlk commented on #3304
Hi All,

I have no any third party extensions on browsers to block JavaScript. I tried on Chrome, Firefox and Safari, still not getting the content. It prints some access control error in the browser console.

`XMLHttpRequest cannot load https://www.eclipse.org/smarthome/rest/swagger.json. No 'Access-Control-Allow-Origin' header is present on the requested resource. Origin 'http://www.eclipse.org'

[2017-04-26 05:39] kaikreuzer commented on #3304
The most obvious solution is to use https://www.eclipse.org/smarthome/rest/index.html, right?

[2017-04-26 05:45] dushanlk commented on #3304
Oh, Thanks a lot @kaikreuzer, :+1:  Unintentionally I was using without HTTPS. Hope we better to have auto HTTPS append on `http://www.eclipse.org` domain. Thanks all, Regards.

[2017-04-26 05:45] #3304 closed

[2017-04-26 09:21] #3213 closed

[2017-04-26 11:45] jwveldhuis opened #3313 "Configuration Description: how to set default of boolean type parameter?"
The `<default>` tag allows for String values only.
How to set a boolean parameter to 'true' by default on an 'Add Thing' configuration page?

[code]

[2017-04-26 11:54] jwveldhuis commented on #3313
Nevermind, it does work..

[2017-04-26 11:54] #3313 closed

[2017-04-26 12:37] #3269 closed

[2017-04-26 13:25] danchom commented on #3281
The Automation is not 1.5 compatible from a long time ago.  As I remember @kaikreuzer said that we can't obligate contributors to write 1.5 compatible code when the ESH is 1.7 compatible and we agreed with him. At the moment the automation module is 1.7 compatible. Now the situation is the same. If we use the 1.8 Predicate we will lose the support of some jvms as skelmir, but on the other hand, th

[2017-04-26 14:04] kaikreuzer commented on #3184
Congrats on figuring out that issue! Your servers clearly have too many cores :-D

I would expect this to work like this.
Maybe [this line](https://github.com/eclipse/smarthome/blob/master/bundles/ui/org.eclipse.smarthome.ui/OSGI-INF/proxy.xml#L11) needs to be changed to have `name="org.eclipse.smarthome.proxy` (i.e. remove the "ui.") and maybe also add a `configuration-policy="optional"` to it.

[2017-04-26 14:05] sjka commented on #3281
Hey, that's pretty good news! Would you please update https://github.com/eclipse/smarthome/blob/master/docs/documentation/development/guidelines.md#c-language-levels-and-libraries then accordingly?

[2017-04-26 14:16] kaikreuzer commented on #3281
Indeed good news that I also wasn't aware of - my last knowledge was that while contributors might write Java 1.7 code, you will make sure to do follow-up PRs that will port it down to 1.5.
If we can agree in general to allow Java8 CP2 compatible code for the automation engine (just like it is for the rest of ESH), it would be a huge relief and definitely helpful for having consistency within our

[2017-04-26 14:32] maggu2810 commented on #3184
Congrats @kgoderis :+1:

[2017-04-26 14:32] maggu2810 commented on #3184
I assume this is fixed by #3311 now

[2017-04-26 14:34] maggu2810 commented on #3281
Great news (not for you but at least for @sjka, @kaikreuzer and me) @danchom
:+1:

[2017-04-26 15:36] danchom commented on #3281
Yes this was the plan, but its hard to back port the code which is out of automation module. We have also decided to accept code containing guava lib for the same reason.

[2017-04-26 15:42] triller-telekom commented on #3051
With the PR mentioned above I implemented the behavior as describes in the PR for the openHAB documentation: https://github.com/openhab/openhab-docs/pull/373

[2017-04-26 15:57] cdjackson opened #3318 "PaperUI review / refactoring comments"
Over the past few days I spent some time extending PaperUI for a specific task - having looked through the code I thought I'd provide some 'review' comments and suggestions to improve its code readability and extendability...

### Proposed refactoring of PaperUI
* Move route definitions into the controllers rather than defining them in the app. This is more manageable as the routes are defined alo

[2017-04-26 15:57] triller-telekom commented on #3290
I am not quite sure what you mean by "standard group". I am assuming you mean something like this in your items file:

`Group name`

If that is the case then a change of an item should no more affect the status of the group, because the group does not have a type (i.e. baseItem) and thus it also does not have a function. Functions only make sense on types.

So the basicui cannot show any status of

[2017-04-26 16:02] staehler commented on #3051
Just for clarification: is my issue (mentioned above https://github.com/eclipse/smarthome/issues/3051#issuecomment-295830195)  fixed as well?

[2017-04-26 16:49] lolodomo commented on #3290
Ok let's wait for your PR to be merged and then I will ckeck again.

[2017-04-26 17:09] maggu2810 commented on #3318
Isn't that already done by the uglify module?
https://github.com/eclipse/smarthome/blob/77015c5/extensions/ui/org.eclipse.smarthome.ui.paper/gulpfile.js#L92

[2017-04-26 17:14] cdjackson commented on #3318
Maybe it should be, but from what I can tell the modules are not being minified. If I look at my production OH2 loaded in the browser it's pretty clear -:

![image](https://cloud.githubusercontent.com/assets/1041475/25447187/203f3826-2aac-11e7-8160-61b32399d7bd.png)

The name says it's minified, the file says otherwise...

[2017-04-26 18:13] ghys opened #3320 "Extend the Marketplace extension service to support the "UI" package type"
Hi,
Last week I added the ability to provision custom widgets to the HABPanel user interface for openHAB with OSGi bundles (registering additional resources and templates during the bundle's activation).
Today a first widget in this format was reviewed and accepted in the Eclipse IoT marketplace:
https://marketplace.eclipse.org/content/gauge-widget-habpanel
which incidentally is the first having "

[2017-04-26 20:27] kaikreuzer commented on #3320
Thanks @ghys! The custom widgets are a very nice feature of HABPanel.
I agree that the Eclipse IoT Marketplace looks like a good match for distributing such custom widgets.

A few things to maybe discuss before we move forward (additionally to [my comments here](https://community.openhab.org/t/new-feature-globally-provisioned-widgets-i-e-with-osgi-bundles/26994/5?u=kai)):
- So far the "UI" categor

[2017-04-26 20:53] olemr opened #3321 "Saving an edited .items file re-arranges sitemap groups"
Even minor editing in my .items file such as 'labeltext' or 'iconname' in Eclipse SmartHome Designer renders group-items in my sitemap shuffled when viewed in Basic UI or HabDroid.
Also happens after defining new items.
After a restart, the proper ordering is restored.

After a restart:
![image](https://cloud.githubusercontent.com/assets/28068256/25456266/af14574a-2ad2-11e7-8354-d4cec4395a46.png)

[2017-04-26 22:42] ghys commented on #3320
That's what I suspected, but I tried to try my luck and submit it anyway and it got approved ;) (maybe it was you?)
If there was a way to keep those widget bundles hidden in general-purpose UIs but still recognized as extensions, HABPanel could query the extensions API in a certain way to retrieve them and display a gallery of widget extensions designed for it? They would be installed and uninstal

[2017-04-27 01:52] Marty56 commented on #2410
asap = forever ?

[2017-04-27 07:29] htreu commented on #3318
In addition to the project/code structure I made a proposal on code style definitions for the JavaScript parts here: https://dev.eclipse.org/mhonarc/lists/smarthome-dev/msg00130.html

Regarding CSS pre-processors: I would vote for Sass with SCSS, although it adds some extra complexity with its Ruby runtime. Imho SCSS makes up for the effort.

[2017-04-27 08:19] triller-telekom commented on #3051
@staehler: Indeed you are right that the behavior you experienced is a bug. My PR #3051 fixes this issue.

BUT: The behavior that is now implemented is the correct arithmetic `OR`. So If you have one group member with status `ON` and one with status `UNDEF` the group status will be `ON`! That is if you define your group like:

[code]

[2017-04-27 09:28] #2100 closed

[2017-04-27 10:23] markusjw commented on #3257
The behaviour is the same in Chrome.
More precisely: The up/down buttons change the shown value to 0 or 100%, but do not result in a command.

[2017-04-27 11:14] wborn opened #3323 "New or existing properties not updated by PersistentInbox"
The PersistentInbox synchronizes existing configurations using new discovery results with the `synchronizeConfiguration(..)` method. It does not add or update Thing properties using new discovery results. I do not know if this is an issue/simply not implemented or some thoughful design decision.

It would be helpful if it did add or modify properties because otherwise this logic gets duplicated to

[2017-04-27 13:55] kaikreuzer commented on #3302
Sounds useful, especially as those implementations do not belong in bindings.

[2017-04-27 17:51] digitaldan commented on #1093
FYI, I am reviewing a PR for our Alexa skill to support locks, right now we are using the tag "Lock" until we have a defined ontology for it.

[2017-04-27 18:16] martinvw opened #3325 "Handling exceptions from the schedulers"
I think that it is a pity that at this moment (almost) every Runnable in openHAB (and most likely the also in the Eclipse Smarthome) contain a `catch Exception` and some (even) contain a catch Throwable. But this should imho not be a responsibility of the bindings, their code should be clean and straight forward.

One of the many examples is this one (chosen because its the first binding in the li

[2017-04-27 18:46] jayekub commented on #2668
+1

[2017-04-27 18:58] SpeedmaxX commented on #1093
Hi, I am also very interested in this issue. @kaikreuzer did you already find an agreement on the kind of tagging? Multitagging seems to be an easy way, but what of light would be right for homekit and Lightning for Alexa? That's why a notation like homekit:blinds sounds more transparent to me.
A solution for this question in the near future would be great, as I think, lot's of people are waiting

[2017-04-27 21:05] ViToni commented on #3281
Definitely great news to go beyond Java 1.5.

As far as I understood Java 1.8 (compact2) is the new baseline.

If my understanding is correct I would create a separate PR regarding some common `Predicate`s for Rules, but now base on Java 1.8 `Predicate`s.

[2017-04-28 05:08] FrankR59 commented on #2668
+1

[2017-04-28 06:27] sjka commented on #3325
Thanks for bringing up this topic. Indeed, it's a good idea!

Probably I'd use the first option, as it is straight-forward and you have the Runnable at hand, hence you can get a logger for it. So I don't see a need for the third option. However, I don't have any strong feelings about it.

Another question would be: What do you want to do then? Of course, logging the error. But afaik most handlers

[2017-04-28 06:45] #2668 closed

[2017-04-28 06:48] kaikreuzer opened #3327 "Remove "bundleContext" (and similar) from BaseThingHandler"
When the Thing infrastructure was refactored to NOT have thing handlers registered as OSGi services anymore, a few parts where "forgotten" in the BaseThingHandler:

[code]
I would claim that none of those should be in there - especially not as `protected` so that it becomes available to individual handler implementations.

Removing them will be an API breaking change, but therefore it should imho

[2017-04-28 06:51] martinvw commented on #3325
Nope I agree that option 3 does not add too much value, I started out with the third option in head but realised that the JDK already offered us some more standard solution for it.

Regarding changing the status, yes we could consider but I think that to do the properly we should wrap the ExecutorService and we would still have a problem with calling the protected `updateStatus` from the extended

[2017-04-28 06:54] sjka commented on #3327
I agree we should do it rather sooner than later!

I just remember a discussion with @sbussweiler about the bundleContext. There were some bindings using it, but nevertheless we should clean that up!

[2017-04-28 07:03] danchom commented on #3224
There are a lot of useCases i.e. you may want to trigger the trigger base on combination of events from  different items or other triggers (For example: you have to generate event when the alarm is ON and for a given delay the outdoor is not locked ). I think we should not add a new handler in the core for each separate case. If this usecase is important for your project, you can always create thi

[2017-04-28 07:11] Auto-Mark commented on #3308
Using basicUI CalDAV also is not updating. Maybe this is related to the issue described here:
[https://github.com/openhab/openhab1-addons/issues/5170](https://github.com/openhab/openhab1-addons/issues/5170)
And maybe the weather binding not updating is also connected to this:
[https://github.com/openhab/openhab-distro/issues/447](https://github.com/openhab/openhab-distro/issues/447)

[2017-04-28 07:37] BenediktNiehues commented on #3224
@danchom didn't get that

trigger would be on outdoor=OPEN with a delay and a condition alarm=ON

[2017-04-28 08:22] kaikreuzer commented on #3325
Sounds like a good thing to address.
Just one remark: The current ESH QueueingThreadPoolExecutor has been implemented, because there wasn't anything similar available in Java 7. In Java 8 though, there are [new thread pool implementations](https://docs.oracle.com/javase/8/docs/api/java/util/concurrent/Executors.html#newWorkStealingPool-int-) that might be worth a look whether they could be a repla

[2017-04-28 08:25] danchom commented on #3224
What happened if the outdoor is closed before the delay?

Actually this was not my usecase you have divided the items into trigger and condition, which is right,  but I mean in your handler has defined only one configuration property for itemName and you can listen for serials of events only from it. You can't combine events from two, three and more items.

[2017-04-28 08:54] svilenvul commented on #2437
PR is closed.

[2017-04-28 08:54] martinvw commented on #3325
Looking at the current implementation I would even say that option 2 makes the most sense since we already have our own ThreadFactory:

https://github.com/eclipse/smarthome/blob/master/bundles/core/org.eclipse.smarthome.core/src/main/java/org/eclipse/smarthome/core/common/QueueingThreadPoolExecutor.java#L215

Regarding switching to another executor, that requires some more thinking and maybe discu

[2017-04-28 09:40] #3232 closed

[2017-04-28 09:44] kaikreuzer opened #3329 "Provide help page for "drag to install" on Eclipse IoT Marketplace"
After #3258 has been implemented, we need to create a user documentation on how this feature can be used.
Currently, if the user clicks on the "Install" button in the Eclipse IoT Marketplace, he is forwarded to [this page](https://marketplace.eclipse.org/marketplace-client-intro?mpc_install=3345236).
For ESH listings, this should be replaced by ESH specific information - afaik, the Marketplace sup

[2017-04-28 10:52] svilenvul opened #3331 "Binding configuration persistence"
If this has been discussed already, excuse me, I couldn't find an open issue about it.

We are developing binding for openHAB and we want to store the username and the password for an account in a binding configuration.

The scenario is following:  the user enters the credentials in the PaperUI (Configuration -> Bindings -> Configure), binding configuration is updated, the runtime is stopped and t

[2017-04-28 11:11] BenediktNiehues commented on #3224
@danchom ah, now I got it, you would like to observe multiple item states at once...
Yes, that is not possible with this trigger, but that would be a usecase for a CEP trigger, otherwise its configuration would get too complex.
But if you don't want the trigger in core modules, I have no problem pulling that back to our codebase... Just thougth it could be useful for the community.

[2017-04-28 12:30] wborn commented on #3294
There are a lot of examples in README.md files where labels are omitted for simplicity. So if the behavior changes these will also need to be updated. Because of these examples, there will also be users who use items without labels.

[2017-04-28 15:15] kaikreuzer opened #3334 "Exceptions when installing ESH components at runtime"
I just found these exceptions in my log:
[code]
I am not really sure whether the culprit is the `AutomationResourceBundlesTracker` or the `ResourceBundleTracker`, but something is definitely wrong here.

@danchom & @sjka Any ideas?

[2017-04-28 15:35] kaikreuzer opened #3335 "Model validation fails with NPE"
I sometimes find exceptions like the following in my log:
[code]
I assume that there is some race condition bug within Xtext - accepting that it exists, we should at least catch and make the log nicer.

[2017-04-28 16:00] rodneyrehm commented on #3320
Hey there,

in response to [New feature: globally provisioned widgets (i.e. with OSGi bundles)](https://community.openhab.org/t/new-feature-globally-provisioned-widgets-i-e-with-osgi-bundles/26994/6) @kaikreuzer asked me to provide some feedback regarding the portability of widgets. Full disclosure: I'm a frontend developer and work with @kaikreuzer at Deutsche Telekom. I'm neither using OpenHAB,

[2017-04-28 16:07] sjka commented on #3334
Just a wild guess: the AutomationResourceBundlesTracker listens on bundle events for all bundles except UNINSTALLED, and then tries to find automation related stuff in them by calling `Bundle.findEntries(...)`. This enforces the OSGi framework to at least RESOLVE the corresponding bundle immediately. As most of them are declared with a "lazy" activation policy, I'd assume that they are even starte

[2017-04-28 18:49] kaikreuzer commented on #3334
Sounds plausible and I would agree that the bug seems to be in the automation part - so @danchom, your call :-)

[2017-04-28 19:19] kaikreuzer commented on #3145
Makes sense! We have similar tooling already in place for the Paper UI, so I would hope that we do not need to create too many new CQs. Maybe @htreu can have a closer look and come up with a suggestion for the Basic UI (so that it is as close as possible to the Paper UI build mechanisms).

[2017-04-28 23:54] ghys commented on #3320
Thanks @rodneyrehm for your input.
It's true Web Components might be a good fit for building those kind of discrete widgets and not depend on any framework.
I have no idea how to integrate those into an Angular 1.x app though - there are a few articles about this but it doesn't seem that straightforward, I know there are Components available in Angular 1.5+ (and 2 but that's another story) but I d

[2017-04-29 08:44] wborn commented on #2663
Obviously this issue can now be closed since #2953 got merged.

[2017-04-29 09:10] wborn commented on #651
I think this issue can be closed. The discussion on 2015-06-22 predates the creation of #483 (2015-10-07) in which the `temperature` channel was added to LIFX light Things. The `temperature` channel simplifies changing the color from a cool white to a warm white.

[2017-04-29 09:27] #2663 closed

[2017-04-29 09:27] #651 closed

[2017-04-29 11:02] maggu2810 commented on #3281
:+1:

[2017-04-29 11:08] maggu2810 commented on #3327
Okay for me as well

[2017-04-29 17:27] ruebox commented on #2098
Hi @kaikreuzer thanks for the fast feeback ... I will checkout the currently open issues for smarthome.
However, perhaps the bindings will be a good place for startup first ...
Nevertheless, please keep me in mind if I can contribute to a specific topic.

[2017-04-30 10:03] resetnow commented on #3145
I checked again and removed gulp-uglify — PaperUI already has it. This leaves two packages for CQ, the rest (including the build system) can be inherited from PaperUI. I think eslint would be useful for PaperUI too.

[2017-04-30 10:38] lolodomo commented on #2902
I can confirm this bug, I was able to reproduce it.
Will try to analyze it.
Maybe a problem with produced SSE events ?

[2017-04-30 12:11] lolodomo opened #3340 "Basic UI: missing value for switch element"
Either Classic UI or HABdroid are displaying for sitemap switch element the value (when defined in the item label) in addition to the switch control. Basic UI just displays the switch control without any value. I think this value should be displayed.

I prefer how it is displayed by Classic UI rather than HABdroid, that is at right just in front of the switch control.

[2017-04-30 12:29] lolodomo opened #3341 "Basic UI: switch control not switching to ON when a mapping is defined for the switch item"
When you have a switch item with a mapping defined, Basic UI is displaying the right state for the control when you open the page containing the item. But when the item state is updated to ON and so when an SSE event is received, the switch control remains OFF. Note that the icon is correctly adjusted.

If the page is reopened, of course the switch control is correctly set to ON. So the problem is

[2017-04-30 12:39] lolodomo commented on #3341
I already know the reason: Basic UI frontend is taking the state from the label if present inside the label. If a mapping is defined, the state considered will be neither ON nor OFF but the transformed state value.

[2017-04-30 12:40] lolodomo commented on #3341
There is a link with #3294

[2017-04-30 12:45] lolodomo commented on #3341
It can probably be fixed easily on Basic UI front side. I will try.

[2017-04-30 16:53] lolodomo commented on #2792
@kaikreuzer : this issue is fixed. Please close it.

[2017-04-30 17:34] #2792 closed

[2017-04-30 17:38] #3341 closed

[2017-04-30 18:12] lolodomo commented on #2784
@resetnow: what would be the best solution to display the none.png image and how to know if we need to use the none.png file ?
I took a look to the code and I saw that the img src tag for the icon in snippets is currently a pattern in which we replace different parts (category, state, ...). Of course, similar code in the JavaScript code to refresh the icon.
Do we need to change all snippets to hav

[2017-04-30 18:23] resetnow commented on #2784
@lolodomo there is a PR which illustrates the basic idea for that, but it was way too hacky so it wasn't merged https://github.com/eclipse/smarthome/pull/2799

It was meant to check the icon existence server-side.

[2017-04-30 18:28] resetnow commented on #2784
Just noticed I deleted the branch. There was a class that watched icon providers via OSGI, and there was a method getIcon, which would return "none" if there is no icon. Basically it was a proxy for all the icon providers.

[2017-04-30 18:37] lolodomo commented on #2902
In fact, all items in such a frame are simply not updated, even when the update is triggered outside.

I should mention some validation errors of my sitemap at OH startup when using such a frame:
[code]
Maybe it is something not accepted.
I should admit that Eclipse Smarthome Designer does not mention an error.

[2017-04-30 18:59] lolodomo commented on #2994
The mentioned PR was finally closed and we still are missing an icon for Number items.

Just after googling, why not this one for example ? http://icons.iconarchive.com/icons/custom-icon-design/pretty-office-10/128/Numbers-icon.png

[2017-04-30 19:10] lolodomo commented on #2784
Ok, I think that the real subject is the issue #2994 and the need to define a default icon in the iconset for any number item.
Do you agree that the problem mentioned in the current issue concerns only number items with no icon set ?
Using my sitemap, I noticed that problem only in this case.

[2017-04-30 19:20] resetnow commented on #2784
I too only have noticed it with numbers but I think a more future-proof solution would iclude other cases.

[2017-04-30 20:55] lolodomo commented on #3340
@resetnow: it was easy to add the value for switch (when the user defines soimething like "xxxx [%s]" as label for the item. The only difficulty I encountered was the following line:
https://github.com/eclipse/smarthome/blob/master/extensions/ui/org.eclipse.smarthome.ui.basic/web-src/smarthome.js#L1195
Now, I need that _t.setValuePrivate to be called after the command is pushed and an update is re

[2017-04-30 21:00] lolodomo commented on #3340
I also discovered that when I move the little slide, the change listener is called twice, meaning that 2 events are dispatched. Are you aware about that and is it a bug ?

[2017-04-30 21:00] resetnow commented on #3340
It messes up material design animations. You can remove that line, check current switch state (`input.checked`) in  setValuePrivate callback and only call material design functions when the state is actually changed.

[2017-04-30 21:02] resetnow commented on #3340
Which one — SSE event callback or DOM element `change`? I'm not aware of this.

[2017-04-30 21:05] lolodomo commented on #3340
I put a breakpoint here: https://github.com/eclipse/smarthome/blob/master/extensions/ui/org.eclipse.smarthome.ui.basic/web-src/smarthome.js#L1191
Then I use the UI to switch ON the item. I can see that my breakpoint is reached twice.

[2017-04-30 21:07] resetnow commented on #3340
That's weird — I would check the call stack and also see if restoring suppressUpdate changes that.

[2017-04-30 21:18] lolodomo commented on #3340
It was even before I comment suppressUpdate. It is not relative to my change. I am using Firefox for debugging.

I added the test to check that the state is really updated in setValuePrivate. I will produce a PR.

[2017-05-01 08:33] lolodomo commented on #2784
I found other cases when using selection elements in sitemap assicated to either a string item or number item.

[2017-05-01 11:03] lolodomo commented on #3143
I will work on this issue to fix it.

[2017-05-01 13:07] dikkedimi opened #3344 "Rules are not persistent"
Using OpenHAB2 which uses smarthome.

When restarting openhab2 or restarting my raspberry pi, rules made in the paperUI are set to uninitialized.

I have persistence working through MySQL

There used to be a workaround to let rules load after everything else is loaded, in openhab.cfg. Since openhab.cfg is now obsolete I'm trying to find the setting, but the documentation is unfortunately lacking.

[2017-05-01 14:52] kaikreuzer commented on #3344
I assume you are talking about the new experimental rule engine?
Can you post log files that show why the rules are not initialized?

[2017-05-01 14:58] dikkedimi commented on #3344
this is the only logentry I could find:
`[ERROR] [xt.xbase.jvmmodel.JvmModelAssociator] - Error calling inferrer
java.lang.IllegalStateException: ScriptServiceUtil not initialized yet!
	at org.eclipse.smarthome.model.script.ScriptServiceUtil.getInstance(ScriptServiceUtil.java:88)
	at org.eclipse.smarthome.model.script.ScriptServiceUtil.getItemRegistry(ScriptServiceUtil.java:94)
	at org.eclipse.sma

[2017-05-01 15:25] dikkedimi commented on #2694
Hi Kaikreuzer, this is my exact issue with the current openhab snapshot release!

[2017-05-01 15:40] hmerk opened #3345 "[WIP] Add support for CoffeMaker to WeMo Binding"
See https://community.openhab.org/t/wemo-coffe-maker/12667/8 and
https://github.com/openhab/openhab1-addons/issues/4275
Testing JAR can be found [here](https://drive.google.com/open?id=0BxdTuQI5IDvwTFppUUUzY0E0REk)

[2017-05-01 15:56] KidSquid1 commented on #3345
Attempted to install Coffee Pot Thing - received ERROR 409 - CONFLICT

[2017-05-01 15:59] hmerk commented on #3345
Please add your debug log

[2017-05-01 16:15] KidSquid1 commented on #3345
I've added logging as per docs as follows:

`# Logger - wemocoffee.log
log4j.logger.org.eclipse.smarthome.binding.wemo-0.9.0-SNAPSHOT = DEBUG, WemoCoffee

# File appender - wemocoffee.log
log4j.appender.WemoCoffee=org.apache.log4j.RollingFileAppender
log4j.appender.WemoCoffee.layout=org.apache.log4j.PatternLayout
log4j.appender.WemoCoffee.layout.ConversionPattern=%d{yyyy-MM-dd HH:mm:ss.SSS} [%-5.5

[2017-05-01 16:27] hmerk commented on #3345
I am not familiar with this, so please type
log:set TRACE org.eclipse.smarthome.binding.wemo
into karaf console, restart the binding and reproduce the error.
Then post the according logging.

[2017-05-01 16:46] KidSquid1 commented on #3345
Here's what I now see in the file:

`2017-05-01 11:45:38.625 [ERROR] [home.core.thing.binding.ThingFactory] - Thing factory (class org.eclipse.smarthome.binding.wemo.internal.WemoHandlerFactory) returned null on create thing when it reports to support the thing type (wemo:coffee).
2017-05-01 11:45:38.625 [WARN ] [g.discovery.internal.PersistentInbox] - Cannot create thing. No binding found that su

[2017-05-01 17:29] hmerk commented on #3345
Thanks, there seems to be a typo in the code, will take a look later

[2017-05-01 18:02] hmerk commented on #3345
Uploaded a new version with corrections in handlerFactory, use link from first post and try again please.

[2017-05-01 18:51] lolodomo opened #3346 "Basic UI: value not updated for a selection element in sitemap"
I have a selection item associated to a string item.
When I open the page containing this element, the value is correct.
Then if the value is updated, the selection element displays a blank value.

[2017-05-01 19:22] KidSquid1 commented on #3345
I installed the new .jar file as was able to successfully add the Coffee Maker....
One item to note, I now see 2 Coffee Makers in the INBOX, the second one was the newer item I was able to add.

![openhab](https://cloud.githubusercontent.com/assets/28264840/25591279/8b576acc-2e79-11e7-8bce-1b79401218b1.png)

[2017-05-01 19:31] hmerk commented on #3345
The first thing is an artifact and can be deleted. It should not reappear.
Please have the binding running and post the log entries regarding status updates and event subscription. I need to know what messages are received from the coffee maker. One further note, the device cannot be switched off remotely, just be switched on.

[2017-05-01 19:37] KidSquid1 commented on #3345
I have deleted the 1st coffee maker....

In the events.log I see the following:
[code]

I currently only see 2 channels:
- Switch
- Mode

[2017-05-01 19:44] KidSquid1 commented on #3345
More info from the logs...

[code]

[2017-05-01 20:15] hmerk commented on #3345
Yes, there are just two channels atm, I will add the rest soon.....
Thanks for the additional logs, which are very helpfull.

[2017-05-01 20:17] KidSquid1 commented on #3345
My pleasure...let me know what else I can do to assist.

[2017-05-01 20:19] hmerk commented on #3345
Nothing until I have uploaded the next version  😄

[2017-05-01 21:09] wborn commented on #2695
@resetnow  It seems there might be a slider (https://github.com/material-components/material-components-web/issues/25) in Material Components for web soon. It is currently scheduled for implementation in [iteration 22 (15-28 May)](https://www.pivotaltracker.com/n/projects/1664011).

Migrating from MDL to MDC-Web could be a more future proof option. :-) Although the [migration guide](https://github

[2017-05-01 21:25] resetnow commented on #2695
@wborn if I understand correctly, it also uses a lot of modern ECMAScript stuff, which​ doesn't have a broad browser support.

[2017-05-01 21:29] hmerk commented on #3345
@KidSquid1
Next update uploaded :
- added missing channels (we need to find some more information for the descriptions and units used)
- tried to improve GENA events

[2017-05-01 21:53] KidSquid1 commented on #3345
Have installed the new version...
In Paper UI, Configuration -> Things

CoffeMaker is stuck in INITIALIZING....for over 5 minutes...

Current Log is Below:

[code]

[2017-05-01 21:56] KidSquid1 commented on #3345
CoffeeMaker is now ONLINE !

Still only see the 2 channels,
SWITCH AND MODE

[2017-05-01 21:59] hmerk commented on #3345
OK, there seems to be an issue with the GENA events. I will check tomorrow.
In PaperUI, you should now see "SHOW MORE" on the right side.
Clicking there should show the new channels.

[2017-05-01 22:16] KidSquid1 commented on #3345
In lookin in Paper UI on the right hand side I do not see SHOW MORE
![openhab2](https://cloud.githubusercontent.com/assets/28264840/25597008/e96e5a9a-2e91-11e7-93f1-47a6afab7fa8.png)

[2017-05-01 22:18] hmerk commented on #3345
Strange, I will check tomorrow evening.

[2017-05-01 22:58] hmerk commented on #3345
@KidSquid1
Missing channels fixed and event subscription changed again.

[2017-05-01 23:05] KidSquid1 commented on #3345
I have installed the new version...

Still can not see additional channels.

Log Below...

[code]

[2017-05-01 23:22] ghys opened #3347 "Logic flaw in DialogProcessor"
The `processing` field in [`DialogProcessor`](https://github.com/eclipse/smarthome/blob/master/bundles/core/org.eclipse.smarthome.core.voice/src/main/java/org/eclipse/smarthome/core/voice/internal/DialogProcessor.java#L54) is initialized to `true`:
[code]

I think it should be `false` or the code in `ksEventReceived` will never run:
[code]

[2017-05-01 23:53] ghys opened #3348 "AudioSource requirement in KSpottedEvent"
In [KSpottedEvent](https://github.com/eclipse/smarthome/blob/master/bundles/core/org.eclipse.smarthome.core.voice/src/main/java/org/eclipse/smarthome/core/voice/KSpottedEvent.java#L28) an `AudioSource` has to be provided, but it isn't easily feasible to do so because the signature of the [`KSService.spot()`](https://github.com/eclipse/smarthome/blob/master/bundles/core/org.eclipse.smarthome.core.v

[2017-05-02 07:14] danchom commented on #3334
Actually the bundle which carries rule definitions is not needed to be resolved to import  rules into rule engine. The bundle can have resolving problems not related with the automation.

This is from getEntry's documentation:

I'll ask Ani to check for optimization.

[2017-05-02 07:19] htreu commented on #3146
Here are my findings regarding the loss of SSE connection during/after extension install:

The problem occurs only on extensions which extend the REST API of ESH. During install/uninstall of these extensions the OSGi JAX RS bridge ([found here](https://github.com/hstaudacher/osgi-jax-rs-connector/blob/master/bundles/com.eclipsesource.jaxrs.publisher/src/com/eclipsesource/jaxrs/publisher/internal/S

[2017-05-02 07:49] maggu2810 commented on #3334
Okay, this could be another resolving error. But I don't think we need to use an unresolved bundle. Should we try to be clever and check if some automation stuff is part of the resolving error? Let's fix this one by the user / packager / maintainer and use only resolvable bundles.

[2017-05-02 08:31] kaikreuzer commented on #3334
I agree with that - if a bundle is not resolvable, there is a reason for that and most likely its other content (i.e. the automation resources) does not make sense in that situation either.

[2017-05-02 08:31] aounhaider1 commented on #3257
I will check it.

[2017-05-02 08:31] danchom commented on #3334
I agree with that, Ani will try to do this, but I think this optimization is not related with the above exception.

[2017-05-02 09:29] lolodomo commented on #3143
I fixed the issue in Basic UI, distinguishing labelColor and valueColor.
I am waiting for my previous PR relative to Basic UI to be merged before submitting the fix.

By the way, the behavior in Classic UI has 2 bugs:
* the displayed value is not the mapped value.
* if you have only a labelColor defined, the value will inherit color from labelColor; if labelColor and valueColor are defined, the be

[2017-05-02 09:43] aounhaider1 commented on #3257
Seems to be working. This is the ESH consolse log.
<img width="925" alt="screen shot 2017-05-02 at 11 01 21" src="https://cloud.githubusercontent.com/assets/5161937/25612654/d589b520-2f2b-11e7-8ab9-51858d434154.png">

```The read-only widget does not seem to show the correct value, at least not with the right formatting```
Can you please describe what is not correctly shown (the expected and show

[2017-05-02 10:05] h9nry commented on #1674
i'm having exactly the same issue but the comment did not really help me to get it resolved. which file do i have to execute?

[2017-05-02 10:20] lolodomo commented on #3346
I fixed this issue, it occured when a transformation was used in the label of the associated item.
The item state has to be considered rather than the transformed state value.

[2017-05-02 10:37] lolodomo commented on #2784
As a workaround, adding `icon="none"` for the selection element in the sitemap of course avoids the broken image.

[2017-05-02 11:27] lolodomo opened #3349 "Basic UI: value at left of buttons not refreshed for switch element with mappings"
This issue concerns the switch elements with mappings in sitemap.
The value at left of buttons is correctly displayed when opening the page but then not refreshed.
Buttons state are correctly refreshed.

[2017-05-02 11:37] htreu commented on #1560
An alternative to [ace](https://ace.c9.io/) might be [tern.js](http://ternjs.net/).

[2017-05-02 11:43] kaikreuzer commented on #3340
@lolodomo Could you add some screenshots of Classic UI & Basic UI to show what the issue is exactly about and what your PR changes?

[2017-05-02 12:34] lolodomo commented on #3349
Additionally, labelcolor and valuecolor is not handled for switch element with mapping.

[2017-05-02 12:50] lolodomo commented on #3349
All fixed. PR coming.

[2017-05-02 12:57] lolodomo commented on #3340
Hre is the result in Basic UI (look at the frame labelled "Switch with value and color"):
![basicui](https://cloud.githubusercontent.com/assets/10186704/25618503/798bf384-2f47-11e7-8670-92b10ab9b72a.JPG)
As a comparison, here is the result in Classic UI:
![classicui](https://cloud.githubusercontent.com/assets/10186704/25618522/8a3f4a1e-2f47-11e7-8801-b4a7ceebaafe.JPG)
Before this change, you did n

[2017-05-02 13:00] lolodomo commented on #3340
As a comparison, here is the result in Classic UI:
![classicui](https://cloud.githubusercontent.com/assets/10186704/25618648/1357a7d8-2f48-11e7-9dca-a474041784e7.JPG)

[2017-05-02 13:14] sjka opened #3351 "thingUpdated() gets called during initialize()"
As observed in https://github.com/openhab/openhab2-addons/pull/2019#issuecomment-298440882 and https://www.eclipse.org/forums/index.php/t/1085852/ it seems that `ThingHandler.thingUpdated()` gets called while the handler is still in `ThingHandler.initialize()`. This puts the unnecessary burden of handling synchronization on bindings and is not intended.

[2017-05-02 13:39] triller-telekom commented on #3295
[This specific place](https://github.com/eclipse/smarthome/blob/3ae5d7b1b284f2bde6199bfe8dad950fd38cae39/bundles/core/org.eclipse.smarthome.core/src/main/java/org/eclipse/smarthome/core/items/events/ItemEventFactory.java#L255) to enhance the `ItemStateChangedEvent` is too low level to add such information. This layer is supposed to be GUI independent and thus this event does not need any `transfor

[2017-05-02 13:46] lolodomo commented on #3295
@ghys : if you are ok, I close this issue.

[2017-05-02 13:55] kaikreuzer commented on #3340
Thanks. Since when is this rendered like that in the Classic UI? I thought to only remember a discussion where the agreement was NOT to do it because it looks rather ugly (and instead go for the "mapping buttons"...

[2017-05-02 14:05] resetnow commented on #3340
It does look ugly btw, I just assumed this feature is missing from BasicUI

[2017-05-02 14:10] lolodomo commented on #3340
Please note that in all cases, displaying the value is oiptional and only happens if the user has requested it by defining a format in the label of the switch item.
As you can see, the third switch in my example has no value displayed.

[2017-05-02 14:13] lolodomo commented on #3340
And using mappings is of course another possible option. The user has several choices to display a switch.

[2017-05-02 14:17] lolodomo commented on #3340
And of course, I have not changed Classic UI, I think it is like that in Classic UI since a very long time.
My goal was only to add this useful feature in Classic UI too.

[2017-05-02 14:35] ghys commented on #3295
@lolodomo Sure, I agree with @triller-telekom.

[2017-05-02 14:36] hmerk commented on #3345
@KidSquid1
It seems, that there is an old binding artifact used, as I can see 4 schannels plus the "SHOW MORE" button.
Please delete your binding cache and start again.

[2017-05-02 14:38] lolodomo commented on #3295
Ok

[2017-05-02 14:38] #3295 closed

[2017-05-02 14:46] adimova commented on #3334
I don't agree with these arguments. findEntries will not cause a bundle to be started; the worst thing that can happen is that an attempt to resolve a bundle will fail because of missing dependencies. Logs like the one in this issue are the result of errors in the bundles, or strange coincidences (automation tries to resolve a bundle, this sends resolved event for this or some other bundle, then a

[2017-05-02 15:04] ViToni commented on #3281
Regarding the `common filter APi` I would introduce  a `stream()` method into the `Registry` and provide a default implementation for `AbstractRegistry`.

This approach makes a filterable `Stream` available without being invasive to exiting code.

[2017-05-02 15:11] KidSquid1 commented on #3345
I've never had to do that before...how do I delete the binding cache?

[2017-05-02 15:21] maggu2810 commented on #3334
@adimova I assume it is about the more and more used lazy activation (https://www.osgi.org/developer/design/lazy-start/). Could this lead to an activation if findEntries tries to inspect the content?

[2017-05-02 15:32] kaikreuzer commented on #3281
@danchom & @maggu2810: This idea has been discussed with @sjka and myself, and we came to the conclusion that his is probably the most modern and flexible way to provide filtering possibilities on all registries. After all, Java8 stream API is meant exactly for such purposes.

Let us know what you think and if you have any concerns.

[2017-05-02 15:35] adimova commented on #3334
From the page you linked:
"Lazy activation is a life cycle policy that mandates a bundle MUST be activated upon the first successful request to load a class from that bundle."
Bundle.findEntries does not load classes from the bundle, so it should not lead to bundle activation.

[2017-05-02 15:38] hmerk commented on #3345
simply delete folder /cache under /userdata

[2017-05-02 16:09] KidSquid1 commented on #3345
Ok...done - but painful.  After restarting after cache delete the CoffeeMaker Thing was in a state of Uninitialized, after giving it a bit of time to start up, I clicked to REMOVE the thing.  The CoffeeMaker thing became stuck in a state of REMOVING....After giving it time to process and complete, I eventually had to FORCE REMOVE the thing.  Once that was complete I restarted OH and was able to re

[2017-05-02 16:09] lolodomo opened #3352 "Default icon missing for selection element in sitemap"
If you define in your sitemap a selection element, UIs will by default consider an icon with name starting with selection. As no such icon exists in the classic iconset, a broken image is displayed.

If you add for example the tag icon="switch" in the sitemap, a switch icon is then displayed for the selection. Basic UI takes the current state into account to displayed the right icon. There is a bu

[2017-05-02 16:57] lolodomo commented on #3352
I proposed PR #3353 for the specific issue in Classic UI.

[2017-05-02 17:03] lolodomo commented on #3352
If we don't want to add a default icon for selection element, one alternative would be to consider the icon associated to the linked item when the user did not set an icon for the selection element.

[2017-05-02 17:31] hmerk commented on #3345
Ok, that looks good so far. Now we need two more tests.
Switching the coffemaker to ON via openhab to see, if command is handled correct,
when finished brewing, it should receive a GENA event with status update to be seen in UI.

[2017-05-02 17:50] lolodomo opened #3354 "Icon for volume muting"
In the classic iconset, we already have the icon soundvolume_mute.png.
![soundvolume_mute](https://cloud.githubusercontent.com/assets/10186704/25631317/4a0d0b06-2f70-11e7-942a-d8f04b7fdfb7.png)

Generally, sound muting is handled by a switch channel. That is the case for example in the Sonos binding. That's why I would sugget to add three icons in the iconset:
* mutevolume.png that will be the sam

[2017-05-02 17:53] lolodomo commented on #3354
So we will use
![soundvolume_mute](https://cloud.githubusercontent.com/assets/10186704/25631538/0185c07a-2f71-11e7-99bc-2b5b13c4057d.png)
and
![soundvolume](https://cloud.githubusercontent.com/assets/10186704/25631557/0acb2c7e-2f71-11e7-9aa5-a146a9773187.png)

[2017-05-02 17:55] lolodomo commented on #3354
For OFF state, we could rather use soundvolume-0.png
![soundvolume-0](https://cloud.githubusercontent.com/assets/10186704/25631661/5a66ead4-2f71-11e7-9457-7527e316fe7e.png)

[2017-05-02 18:55] ViToni commented on #3281
As reference here is the PR that shows the needed changes: https://github.com/eclipse/smarthome/pull/3355

[2017-05-02 19:31] KidSquid1 commented on #3345
Ok, I will test when I get home this evening and report back.  Just to confirm, should I see the status reported back in Mode or Brewed ?

![openhab2](https://cloud.githubusercontent.com/assets/28264840/25635523/0ad28d16-2f44-11e7-8b75-2d6e7ca52740.png)

[2017-05-02 22:42] KidSquid1 commented on #3345
Hello -

I have tested and can report the following:
1. When toggling "Switch" to "ON" the "Mode" instantly changes to "BREWING" yet the coffeepot does not start the  brewing cycle
![coffee1](https://cloud.githubusercontent.com/assets/28264840/25642139/84060280-2f5d-11e7-8875-17f4c7bcc757.jpg)

2. After a few minutes the "Switch" reverts back to the "OFF" position and "Mode" changes to "READY"
![c

[2017-05-02 23:06] lolodomo opened #3356 "Icons for motion / no motion"
In the classic iconset, we already have this icon named motion.png:
![motion](https://cloud.githubusercontent.com/assets/10186704/25642816/7912f01a-2f9c-11e7-9678-aa02282606ac.png)

Anyone to design the corresponding "no motion" icon ?

Then we could have motion.png, motion-on.png and motion-off.png.

[2017-05-03 06:19] hmerk commented on #3345
Thanks for further testing. I found another small typo which could have caused the problem.
Please try the new version.

[2017-05-03 07:35] markusjw commented on #3257
Concerning the formatting:
This is the item type configuration:
[code]
When both items (the linked channels) are set to 100.0, they show this:
![2017-05-03 paper ui rollershutter item number format](https://cloud.githubusercontent.com/assets/19324427/25651470/8c0c2d3e-2fe3-11e7-9518-8a8baaa6bffb.png)

[2017-05-03 07:55] resetnow commented on #2695
Upon a closer look, the modern stuff seems to be compiled to a more or less cross-browser Javascript. However, another thing I don't like about Material Components for web is that the code is way bigger than MDL. BasicUI in its current state is very lightweight client-side, and I'd like to keep it that way.

[2017-05-03 09:14] lolodomo commented on #3340
I believe we should have the ability to display the value even with the switch control keeping it not mandatory for users who think it is ugly.
If you think it is ugly like that, what would be your suggestion ? Would you prefer the value displayed just at right of the label like it is done by HABdroid ?

[2017-05-03 09:27] lolodomo commented on #3356
I would suggest to change color for this icon as it is almost not visible when using a dark theme like the one proposed by HABdroid.

[2017-05-03 09:27] lolodomo commented on #3354
I would suggest to change color for these icons as they are almost not visible when using a dark theme like the one proposed by HABdroid.

[2017-05-03 11:40] triller-telekom commented on #3346
If you have fixed it, can you please reference this issue in your PR with "Fixes #num" so this issue gets closed automatically once your PR gets merged?

[2017-05-03 11:54] lolodomo commented on #3346
The PR is not yet submitted. I have another PR waiting for a merge touching a common file. I don't want to introduce a conflict between PRs.

[2017-05-03 12:02] triller-telekom commented on #3175
I just had a look at this issue and just to make sure we are on the same page: my sitemap looks like:
[code]
and my items file:
[code]
This creates a website (`page1`) with a widget with heading "Demo Items" that contains one text entry saying "Philips Hue XX" where XX is the state.

If you click on "Philips Hue" in this website you get to a website one step deeper in the hierarchy (`page2`) where

[2017-05-03 12:11] triller-telekom commented on #3176
This issue is related to #3175

[2017-05-03 12:19] triller-telekom commented on #3346
As long as you do not touch the very same lines this should not be an issue, but I understand your concern, a merge of a conflict can be ugly.

[2017-05-03 12:27] danchom commented on #3281
Sounds good to me.

[2017-05-03 12:30] #2982 closed

[2017-05-03 12:43] lolodomo commented on #3175
Yes, my concern is the update of the heading on page 2 in your example when this heading contains something dynamic (an item state).
Would it make sense to create a widget for the page title ?

[2017-05-03 14:42] ppieczul opened #3359 "Item creation error for channels which have group defined"
If a channel has a group which was defined using:
`new ChannelUID(getThing().getUID(), groupId, id);`

its ID will look like:
`<thingid>_<groupid>#<channelid>`

Then, when such channel is linked to a thing and item is created for this channel, it will fail at
`org.eclipse.smarthome.core.items.ItemUtil.assertValidItemName(ItemUtil.java:75)`

due to passing # sign in the method
`org.eclipse.smarthom

[2017-05-03 14:59] kaikreuzer commented on #3099
Sorry, due to the Easter break I lost this from my view.

I am not fully clear on the implications of your suggestion. It actually means that if you do a `ruleRegistry.update(ruleRegistry.get(rule))` you will end up with a different system then before, am I correct? If so, this sounds highly unexpected and dangerous to me.

[2017-05-03 15:39] #866 closed

[2017-05-03 16:13] lolodomo commented on #3340
Interesting, users are asking for the value for the dimmer too.
https://community.openhab.org/t/basicui-and-slider-item-no-values-visable/11406

[2017-05-03 21:41] KidSquid1 commented on #3345
Hello -
I have downloaded and installed the new version - I did not clear the cache.

I flipped the "Switch" to the right and the "Mode" switched to "Brewing"  BREWING DID NOT START ON THE COFFEE POT
![image](https://cloud.githubusercontent.com/assets/28264840/25682778/fe8cbed8-301e-11e7-85a2-0bcd6c05069d.png)

After about 40 seconds or so, the "Switch" flipped back to the left and the "Mode" stat

[2017-05-03 21:57] hmerk commented on #3345
OK, I found an error in the message constructor for sending command. Please try the new version.

[2017-05-03 23:14] KidSquid1 commented on #3345
Sorry to report - same performance as above

![image](https://cloud.githubusercontent.com/assets/28264840/25685298/2aff36f0-302c-11e7-85f4-f504c6c6e9d7.png)

after about 40 seconds

![image](https://cloud.githubusercontent.com/assets/28264840/25685303/36679258-302c-11e7-9005-bd76319dd9ee.png)

Log file:

[code]

[2017-05-04 06:38] resetnow commented on #3340
I think this feature has been here for a while, it's just how ClassicUI formats labels:

https://github.com/eclipse/smarthome/blob/master/extensions/ui/org.eclipse.smarthome.ui.classic/src/main/java/org/eclipse/smarthome/ui/classic/internal/render/AbstractWidgetRenderer.java#L112

So any widget may contain a separate value string in ClassicUI. I would add it to BasicUI for the sake of consistency

[2017-05-04 06:41] kubawolanin opened #3362 "Rule is not executed when no event name is passed"
Environment / device: openHAB 2.0 Build #905 / RaspberryPI 3B with openHABian

Steps to reproduce:
1. Create a new rule responding to the event channel, e.g.
[code]
or
[code]
2. Try to trigger the events and see the results

Expected result: The rule is triggered and performed actions should be logged in the console.

Actual result: The rule doesn't trigger, nothing is being logged.

Note that bot

[2017-05-04 07:23] sjka commented on #3362
It looks like #3267 broke it.
@triller-telekom could you please fix it?

[2017-05-04 07:45] sjka commented on #3362
Oh, sorry, it was NOT this PR...  My bad!
Thanks for having a look anyway.

[2017-05-04 07:50] triller-telekom commented on #3160
@maggu2810 Thank you for your example branch. I could reproduce it and fix the bug.

[2017-05-04 08:59] sjka commented on #3359
Thanks for the report and the detailed analysis. However, I cannot reproduce this issue. Checking the code, the `ThingLinkManager.deriveItemName(...)` method replaces _everything_ which is _not_ valid (i.e. `[^a-zA-Z0-9_]`)  with `_` and the code has not change for at least a year.
What version are you using? Especially, what is the version of your `org.eclipse.smarthome.core.thing` bundle?

[2017-05-04 09:33] triller-telekom commented on #3362
Indeed it wasn't my fault. But I fixed it anyway :)

[2017-05-04 09:48] ppieczul commented on #3359
You are right, my fault, this issue is present in habmin only when habmin transforms channel name into item name it does not replace #. I am closing this and moving to habmin. Thank you.

[2017-05-04 09:48] #3359 closed

[2017-05-04 10:11] lolodomo opened #3367 "Label returned by UI backend: when including the state value ?"
https://github.com/eclipse/smarthome/blob/master/bundles/ui/org.eclipse.smarthome.ui/src/main/java/org/eclipse/smarthome/ui/internal/items/ItemUIRegistryImpl.java#L290

The label returned by UI backend will first use, if defined, the pattern defined in the item label. If not defined, it will look for a pattern in channel state description. If found, this pattern will be used to include the state a

[2017-05-04 10:16] lolodomo commented on #3367
Issue #3248 has a direct link to this subject.
Issue #3294 has a partial link to this subject.

[2017-05-04 10:29] lolodomo commented on #3367
Here is one proposal: we could decide that looking for a pattern in the channel state description will occur only if the item label contains "[]".
As a result:
* item label "text" will lead to "text" whatever the channel state description
* item label "text [%.1f"] will lead to "text [21.2]" whatever the channel state description
* item label "text []" will lead to "text" if there is no pattern in

[2017-05-04 10:52] #3257 closed

[2017-05-04 11:11] #3340 closed

[2017-05-04 12:41] #3362 closed

[2017-05-04 12:46] markusjw commented on #3257
@aounhaider1 Thanks for the commit.
What if no pattern is given? In that case I experience the same behavior as with the config above: a percent sign is shown unless the Rollershutter item is read-only.

[2017-05-04 13:09] lolodomo opened #3369 "Basic UI: display value for dimmer items"
https://community.openhab.org/t/basicui-and-slider-item-no-values-visable/11406

The wish is to optionally display the value for a dimmer item, when a format is set in the item label.

Classic UI is doing that, not Basic UI.

[2017-05-04 13:10] sjka commented on #3367
I see your point.

The channel defines such a format and from my point of view the "default" behavior should be that it gets used. If the user has to add empty brackets just to find out if maybe some default is hidden somewhere sounds a bit surprising to me.

How about turning it the other way round? By added empty `[]` you would override the default format, ending up with none (generously ignorin

[2017-05-04 13:13] sjka commented on #3359
Sure, no problem. Always happy with a bug that "fixes itself" 😄

[2017-05-04 13:29] kaikreuzer commented on #3348
I cannot tell - looking at the code, I also do not see a use case that would require the AudioSource/AudioStream as a property of the KS event. Assuming, the KSListener is always a dedicated callback instance for every audio source, I would say that we can remove this info from the event. Feel free to create an according PR!

[2017-05-04 13:31] lolodomo commented on #3367
I fully agree with you, that is better to do it in your way. The other advantage is that we have nothing to change in the automatic creation of items.

[2017-05-04 13:36] kaikreuzer commented on #3347
I agree.

[2017-05-04 13:48] danchom commented on #3224
I don't want to stop your PR, but I think this is a corner case of CEP and if all different cases are added into core modules we will end with a long list of module types and it will be hard for users to oriented in them.
If @kaikreuzer @maggu2810 or @sjka thinks that it is useful for ESH I don't mind to be added to core modules.

[2017-05-04 13:56] lolodomo commented on #3367
@sjka : what would be your suggestion for #3248 ?

[2017-05-04 14:00] #3051 closed

[2017-05-04 14:17] triller-telekom commented on #3175
In my opinion it would make sense, because in that way the heading can be treated like any other widget and we do not have to change our logic. And if it would appear as a widget the `PageChangeListener` would take care of the updates as it already does when it is on `page1`.

[2017-05-04 14:23] #3347 closed

[2017-05-04 14:25] #3160 closed

[2017-05-04 14:30] danchom commented on #3099
Actually not, it will replace in the storage a rule stored with references with the same rule with resolved references (as it works at the moment). From user point of view it is the same rule and same system, but the rule can't be configure anymore because the references are gone. Btw I think this is not a problem because the update command do this. It updates one rule (with config references) wit

[2017-05-04 14:37] hmerk commented on #3345
Hi, sorry for all this trouble. I misunderstood how to create the control message content. We have to send ALL attributes, even we only change one.
I corrected this, so please try the new version.

[2017-05-04 15:02] lolodomo commented on #3290
PR #3314 solved this issue.

[2017-05-04 15:02] #3290 closed

[2017-05-04 15:24] markusjw commented on #3257
Update: There is no problem with the buttons. I ran into that because of two reasons:
- I am not getting the log output shown above.
- I ignored the UpDownType and StopMoveType because value is empty. That was my fault.

[2017-05-04 18:53] lolodomo opened #3373 "Classic UI: value displayed for selection should be the mapped value"
For selection elements, Classic UI is displaying the raw value rather than the mapped value like in Basic UI or HABdroid.

[2017-05-04 19:44] kaikreuzer opened #3376 "LIFX binding causes endless loop when network disappears"
Regularly when doing demos, leaving the runtime active, but shutting down the network (or switching the Wifi), ESH hangs in an endless loop in the LIFX binding, causing 100% CPU load:

[code]
@wborn is there an easy way to fix this?

[2017-05-04 19:46] #3348 closed

[2017-05-04 19:47] wborn commented on #3376
I haven't seen this myself but I'll check if I can reproduce it by disabling my network.

[2017-05-04 19:49] sjka opened #3377 "[Test failures] FSInternetRadioHandlerOSGiTest again"
Travis hit this in (completely unrelated #3371):

[code]

[2017-05-04 19:52] sjka commented on #3377
@m-memova could you please have a look again? To me it looks like the assertion that the item state is `UndefType.NULL` is only correct by chance: If it never was set, then it is right. However, if due to lucky timing it was set, then it stays at this value. The ThingHandler actually does _not_ nullify item states in case of an invalid response. Therefore this assertion is wrong.

...or I am 😉

[2017-05-04 19:57] #2871 closed

[2017-05-04 21:05] kaikreuzer commented on #3354
Shouldn't we rather say that a "mute" channel should be of soundvolume category and thus we rename the icons to soundvolume_off.png and soundvolume_one.png?

I agree that the fully-black style does not really fit to the other classic icons.
@reitermarkus Any suggestion to make them a better fit?

[2017-05-04 21:17] lolodomo commented on #3354
If we keep soundvolume, soundvolume-off.png will correspond to sound muted. In this case, the state is reversed compared to our "mute" channel in the Sonos binding.
To use this icon, that will require to reverse the channel in the Sonos, that is naming it "unmute" rather than "mute".

I have not checked what other audio bindings are considering as channel, mute or unmute.

PS: "-" has to be used r

[2017-05-04 21:20] kaikreuzer commented on #3354
Ah, you are right, I missed that negation... Changing all such channels to "unmute" does not really sound like a valid option to me (afaik all others use "mute" as well).
So how about simply mute-on and mute-off?

[2017-05-04 21:23] lolodomo commented on #3354
mute-on and mute-off is perfect for me.

[2017-05-04 21:38] wborn commented on #3376
@kaikreuzer Yes I can reproduce it an already have a fix by changing the exception handling. There are some loops that just won't quit unless the right result has been achieved.

The `LifxLightDiscovery` class is also impacted by this which is also changed in PR #3324. So I would prefer to get that PR first merged to prevent merge conflicts.

I also have some other LIFX light online/offline improv

[2017-05-04 21:56] lolodomo commented on #3175
I took a look how is rendered the page title in Basic UI (and Classic UI - same way).
The change to do to make the page title dynamic is certainly largely too much difficult for me.

[2017-05-04 23:55] KidSquid1 commented on #3345
Success !!!

Installed the new binding...and moved the switch to the right
(notice the mode is now BREWING)
![image](https://cloud.githubusercontent.com/assets/28264840/25729373/96fe43a4-30fa-11e7-8ed8-1c313a33eb81.png)

A bit after the brewing cycle completed this is how the UI updated...
![image](https://cloud.githubusercontent.com/assets/28264840/25729382/aa123450-30fa-11e7-9202-fa89fbe8155c.pn

[2017-05-05 04:58] hmerk commented on #3345
Great, now it comes to the point where I need you help.
Polling intervall is one minute, the binding subscribes succsessfully to the deviceevents, but seem to receive none. This is what I already saw with the WeMo Maker. No clue how to solve this.
Regarding the other channels, please check what the WeMo App shows and post the results. There is no documentation to be found.

[2017-05-05 07:31] #3143 closed

[2017-05-05 07:31] #3346 closed

[2017-05-05 07:31] #3349 closed

[2017-05-05 07:38] lolodomo commented on #3248
I realized yesterday that there is nothing really blocking, any user can define a label with a pattern for the text element in the sitemap.

[2017-05-05 07:38] #3248 closed

[2017-05-05 07:40] lolodomo commented on #3294
I will fix the problem of consistency in Basic UI between the page loading and the page refreshing.

[2017-05-05 10:11] kaikreuzer commented on #3376
You are right, I should always first review and merge your open PRs before asking for anything further :-)

[2017-05-05 11:55] triller-telekom commented on #2697
@sjka @kaikreuzer This issue was fixed by the referenced PR, please close it.

[2017-05-05 11:58] #2697 closed

[2017-05-05 12:18] triller-telekom commented on #2549
The problem are the "-" in the item name `fsinternetradio_radio_SOME-ID-REMOVED_volume-absolute`. What did you do before this exception happened? Did you somehow configure the binding?
I don't see where the code might add the `SOME-ID-REMOVED` part, can you reproduce it with the latest ESH/openHAB version?

[2017-05-05 12:46] triller-telekom commented on #2463
@kaikreuzer @sjka Can you please close this issue as well?

[2017-05-05 12:53] triller-telekom commented on #2389
Running this ignored test on the current master branch of ESH leads to:
[code]

[2017-05-05 13:00] triller-telekom commented on #2200
@float2net Have you tried this again with the latest version? In our team we have set up the development environment a couple of weeks ago on several systems, i.e. Mac and Linux without problems. Can you try it again with the latest version?

[2017-05-05 13:30] triller-telekom commented on #2174
If the average is between 5-7 seconds then I guess its worth to print a warning if the request takes longer than 10 seconds. Can we close this issue then?

[2017-05-05 13:47] triller-telekom commented on #2106
@petarnv I do see that we have a `ConfigDispatchTest.groovy`, but I do not see the tests related to this issue? Does the issue still exist? If so, how did you reproduce it?

[2017-05-05 13:52] triller-telekom commented on #1706
@sjka @kaikreuzer This issue was fixed in in the referenced PR #1906. Please close it.

[2017-05-05 13:53] #1706 closed

[2017-05-05 14:27] petarnv commented on #2106
@triller-telekom, here is a link to the merged PR for the tests - https://github.com/eclipse/smarthome/pull/2108. There is a discussion about both of the above issues in that PR.

The first one (Incorrect Overriding) is fixed and there are couple of tests for it:
https://github.com/eclipse/smarthome/pull/2108/files#diff-3b462c420d8c1c8102ccca1c6c67da42R462
https://github.com/eclipse/smarthome/pull

[2017-05-05 14:27] #2106 closed

[2017-05-05 14:42] lolodomo commented on #3036
Should be tested again now that PR #3332 was merged.

[2017-05-05 14:48] lolodomo commented on #3031
That is not clear to me. Was it fixed or not ?

[2017-05-05 14:51] resetnow commented on #3031
Sort of, it doesn't work for Chrome on Linux because the SSE disconnection event is never triggered. You can try unplugging the cable and see what happens.

[2017-05-05 15:20] lolodomo commented on #2295
I just tested, it works for me in android chrome too.

[2017-05-05 15:47] mhilbush commented on #2174
NTP refresh occurs every 30 minutes on my systems, and I average about one failure per day.  For something that occurs with this regularity, WARN level seems a bit severe.  I would suggest either lengthening the timeout, or reducing the WARN to an INFO (or maybe even DEBUG).  Getting this in my log files on a continuing basis doesn't add a lot of value.

openhab.log
[code]
events.log
[code]

[2017-05-05 15:53] resetnow commented on #2295
@lolodomo did you use Default sitemap wide type? Because I don't think the problem with Default was solved

[2017-05-05 16:03] adimova commented on #3334
I can propose an optimization that will resolve only the bundles that are providers of Automation resources, instead of all bundles. What do you think? Or do you still want to restrict the states of the bundles that we are listening for?

[2017-05-05 19:41] ryanrdetzel opened #3385 "Switch Groups go to UNDEF when any switch is turned on"
I have two items both setup through the paper ui, both are switches.

`MudroomLight_Switch (Type=SwitchItem, State=OFF, Label=Switch, Category=Light, Groups=[gLights_Downstairs])
DownstairsBathroom_Switch (Type=SwitchItem, State=ON, Label=Switch, Category=Light, Groups=[gLights_Downstairs])`

I have two groups.

`
Group:Switch:OR(ON,OFF) gLights_All         "All Lights"
Group:Switch:OR(ON,OFF) gLi

[2017-05-05 19:42] ryanrdetzel commented on #3385
OFF works as expected and if both lights are ON the groups will be on. The issue seems to be if one of the switches is ON then the groups are UNDEF.

[2017-05-05 21:03] #2419 closed

[2017-05-05 21:04] #2463 closed

[2017-05-06 05:06] KidSquid1 commented on #3345
Here's what I see in the WeMo App....

1. The ability to set the timers to turn the coffee maker on...
2. The coffee maker's status (ready, brewing, etc)
3. A start brewing button
4. I receive an alert on my phone when the coffee has finished brewing.

I think the polling should be reduced a bit so that the alert when completed is not a minute or more delayed passed the completion point.

![image]

[2017-05-06 08:06] hmerk commented on #3345
Thanks for sharing this information. So the WeMo App does not show all the information we can read from the device. Therefore I will remove se somehow useless channel to reflect what the app shows. I will even reduce refresh time to 30 seconds, in the hope that it still works reliable.
Regarding Timer setting, this is something we cannot achieve in openHAB atm. For notifications, you have to use a

[2017-05-06 08:11] lolodomo commented on #2962
switch.png is unfortunately not grey but identical to switch-on.png meaning green. I would suggest to change that.
Then isn't it possible to change our icon management to use a generic undefined.png icon when the item state is undefined ? All undefined items will then have the same icon.

[2017-05-06 12:57] lolodomo commented on #2295
@resetnow : here is how is defined my item:
[code]
and a snippet of my sitemap:
[code]
Sp yes I use default in sitemap.
I don't know if it is important but it is not the first element of my frame.

[2017-05-06 13:05] lolodomo commented on #2295
Just tested, it does not matter if the player is the first element of the frame or not.

[2017-05-06 13:18] lolodomo commented on #2295
@resetnow: ok, I finally reproduced the issue, it only occured when the player is on the main page.
When in a sub page, it is working as expected.

[2017-05-06 13:35] lolodomo commented on #2295
I am aware of your issue #2370 but how do you explain that it works when the default element is not in the main page ? Is this something that could help solving the problem for the main page ?

[2017-05-06 13:37] resetnow commented on #2295
If you already have your setup you can check if the player on the main page and subpage have different IDs (in HTML code)

[2017-05-06 13:58] lolodomo commented on #2295
In the two cases, I see `data-widget-id="sonos_control"` while "nonos_control" is the name of my item.
So it is compliant with your analysis, we get item names rather than numbers for widget ID.
But still it does not explain why it works in one case and not in the other.

[2017-05-06 14:01] resetnow commented on #2295
This probably means SSE events are different in two cases.

[2017-05-06 14:09] lolodomo commented on #2295
For the sub-page, I can see the following code:
[code]
The parent (div) has `data-widget-id="%widget_id%"` meaning there is no substituion. Is it normal.

In the main page, the parent (div) has `data-widget-id="04"`

[2017-05-06 14:11] resetnow commented on #2295
Ok, maybe something changed from the last time I looked into it, I'll check again.

[2017-05-06 14:33] lolodomo commented on #2295
If I add a frame in the sub-page, it does not work anymore. So the problem seems to be the presence of a frame.
In the following example, only the second is correctly updated.
[code]

[2017-05-06 14:58] lolodomo commented on #2295
I have the feeling that "Default" add an intermediary <div> with no widget id. Or maybe that is the "Player".

I see no renderer class for the player, neither HTML snippet. Where is it ?

[2017-05-06 15:00] resetnow commented on #2295
Look up resolveDefault in ItemRegistryImpl

[2017-05-06 15:09] lolodomo commented on #2295
The code that adds a frame around children is here: https://github.com/eclipse/smarthome/blob/master/extensions/ui/org.eclipse.smarthome.ui.basic/src/main/java/org/eclipse/smarthome/ui/basic/internal/render/PageRenderer.java#L107
It is probably normal. But the "frame" snippet is used here without setting a widget id. Is it a problem ?

[2017-05-06 15:46] lolodomo commented on #2295
I can confirm that the problem is the widget id in the SSE event which is correct only in one of the 3 described cases:
* 0500 (page demo)
* sonos_control (page 0501) => OK
* 05020000 (page 0502)

[2017-05-06 15:51] resetnow commented on #2295
Events with numbers are actually correct and the one with item name isn't. Item name is used because when default widget is resolved to an actual widget, parent object reference (in EObject) is lost.

[2017-05-06 16:14] lolodomo commented on #2295
Ok, so the case that is working is in fact due to a double error, one in the SSE event and one in UI.

The widget id in sitemap event is ok when there is a frame probably due to this: https://github.com/eclipse/smarthome/blob/master/bundles/io/org.eclipse.smarthome.io.rest.sitemap/src/main/java/org/eclipse/smarthome/io/rest/sitemap/internal/PageChangeListener.java#L176

[2017-05-06 16:33] kaikreuzer commented on #2174
@mhilbush Did you try to use a different, more reliable ntp server?

[2017-05-06 16:42] mhilbush commented on #2174
I ran some tests a while back with ntpdate using 4 or 5 different ntp server pools.  Transactions were taking between 6 and 9 seconds with the occasional one exceeding 10 seconds (which is consistent with what I'm seeing with the ntp binding). I ran the tests from two different locations on the US east coast (New York and Maryland) to help rule out any influence from my local ISP connection (which

[2017-05-06 16:58] mhilbush commented on #2174
Quick sample from a couple pools shows most everything between 8-9 seconds.

[code]

[2017-05-06 17:04] lolodomo commented on #2370
Your second option looks interesting.
It could be an additional map in the item UI registry storing the original widget id for each replaced default widget.
I have the feeling it could work.

[2017-05-06 18:02] lolodomo commented on #2295
Do you know why this particular test on Frame is required in constructSitemapEvents ?
Are the frame widgets not yet in the list of widgets ?

[2017-05-06 18:16] lolodomo commented on #3040
It is a duplicate of issue #2933.
@kaikreuzer : please close this issue.

[2017-05-06 18:32] kaikreuzer commented on #2174
Interesting indeed - I can confirm similar times from my network.
You have convinced me that 30 sec timeout might be helpful.

[2017-05-06 18:36] #3040 closed

[2017-05-06 18:48] lolodomo commented on #2933
The bug is here: https://github.com/eclipse/smarthome/blob/master/extensions/ui/org.eclipse.smarthome.ui.basic/src/main/java/org/eclipse/smarthome/ui/basic/internal/render/PageRenderer.java#L107
A default element in sitemap leads to a widget without parent. The test is in this case not appropriate.

[2017-05-06 19:00] lolodomo commented on #2295
This particular case with Frame in constructSitemapEvents explains why we have a correct ID in SSE event when the default element in inside a frame. In this case, the original widget is considered, not the "resolved" widget.

[2017-05-06 19:59] kaikreuzer opened #3387 "Status Transition OFFLINE -> UNKNOWN"
I just had this during development:

[code]
I was in OFFLINE-CONFIGURATION_ERROR as I so far never had any valid configuration for my handler. Now I have some and I have a long running job to figure out whether my device is ONLINE or not - so I want to set the status to UNKNOWN meanwhile. Is that a valid wish?

[2017-05-07 06:06] KidSquid1 commented on #3345
I can't thank you enough for moving forward with this...
In regards to the scheduling, that's not an issue for me as my impression is that would take a considerable amount of time to code in binding as well as the interface to implement.  I honestly have set the schedule and not looked at it since.

I think moving the polling up to :30 will help, as long as the activity does not spam the log files

[2017-05-07 07:52] lolodomo commented on #2370
Why not building a full copy of the widgets with widget resolution for default rather than having a mix of original and new widgets ? This copy will have correct parent / children and so no problem widget id.

[2017-05-07 08:09] lolodomo commented on #2370
We could define a new object that inherits from Widget but add the id as property.

[2017-05-07 11:40] lolodomo commented on #2370
Adding a new object would mean changing a lot of code. I think we just need an additional field in the Widget class to store the internal id. As Widget class is generated from DSL, it requires to update the sitemap syntax. I don't know if it is possible to specify an "hidden" field in the syntax ?

Once we have this field in Widget, the changes will be simple to set and use it in the UI items regi

[2017-05-07 15:07] #3376 closed

[2017-05-07 15:09] kaikreuzer commented on #2082
As there wasn't any further feedback, let's close this issue.

[2017-05-07 15:09] #2082 closed

[2017-05-07 15:12] kaikreuzer opened #3389 "LIFX color temperature channel not working as expected"
When using the color temperature channel of LIFX bulbs, it slightly changes the tone, but it does not switch to "white mode". Instead, I expect it to always switch to a white tone (cold to warm), but not keep hue/saturation in place from before (same as in the LIFX app when switching from "color" to "white tone" color wheel).

This is afaik a regression - I remember that we discussed that in the p

[2017-05-07 15:16] kaikreuzer opened #3390 "LIFX Infrared channel not working as expected"
I just tried a LIFX+ bulb with IR support. From the app, it seems that the IR light can only be switched on and off, but it isn't able to dim it.

The LIFX binding offers IR as a dimmer, though. I tried that and checked the light intensity with an IP cam, but it seems that it indeed does not dim - I see some changed in intensity when using the slider, but this is not continuous and also not signif

[2017-05-07 18:07] MHerbst opened #3391 "Paper UI needs a manual refresh to show bridge on Configuration / Things"
Tested with a fresh installation of openHAB Build 909 on Windows 10 with Chrome 58.

I performed the following steps:

- Page "Inbox": "Search for things"
- Selected "Homematic Binding"
- Selected "Add manually" and again "Homematic Binding"
- Configured Homematic Bridge and saved the configuration
- Browser automatically opens page "Configuation > Things", which is empty:
![image](https://cloud.g

[2017-05-07 18:11] kaikreuzer commented on #3391
@aounhaider1 Could you please check?

[2017-05-07 18:20] MHerbst opened #3392 "Paper UI: Text entry field jumps from left to right and back"
Tested with openHAB build 909 on Windows 10 with Chrome 58 (Edge shows the same behavior)

This is the initial view of the configuration page for the Homematic bridge configuration:
![image](https://cloud.githubusercontent.com/assets/616792/25783695/452c7b90-3361-11e7-8a86-8ce9a6cbd7fb.png)
The text entry field "Callback Network Address" is located in the right column. I think there is a bug in la

[2017-05-07 18:26] kaikreuzer commented on #3392
@aounhaider1 Could you please check?

[2017-05-07 20:25] m-memova commented on #3377
Thank you, @sjka. It seems that you are right. We can be sure only that the thing will go offline when an exception is thrown. I will remove the item-state-assertion. Are you OK with that?

[2017-05-08 07:03] sjka commented on #3377
To my understanding it's just a matter of timing.
Anyway, it would be great if you could remove all of the null-item-state-assertions. It's not a feature of the handler to set them to null in case of an error, so it is consistent to also not check for it in a test-case which targets the handler.
Thanks for taking care of it!

[2017-05-08 07:23] triller-telekom commented on #2106
@petarnv Thank you for the clarification.

[2017-05-08 08:26] #2606 closed

[2017-05-08 09:11] #2706 closed

[2017-05-08 09:12] triller-telekom commented on #3385
This issue the same as https://github.com/eclipse/smarthome/issues/3051 and was fixed in my PR https://github.com/eclipse/smarthome/pull/3314 4 days ago. So the next release of ESH/openHAB should contain the fix.

@kaikreuzer @sjka Can you please close this issue?

[2017-05-08 09:21] #3385 closed

[2017-05-08 09:48] sjka commented on #3387
I guess so... We somehow didn't have this in mind. Thinking of it, pretty much every status detail of OFFLINE could result in UNKNOWN once you can communicate with it, be it that the network connection came, the bridge came back, the firmware has been updated...

Looks like we better remove this restriction entirely...?

Just for ONLINE->UNKNOWN I still don't see a valid use-case. Do you?

[2017-05-08 09:52] kaikreuzer commented on #3387
Probably the same as the one above: You have a valid configuration and your Thing is ONLINE and now you have to handle a configuration update (e.g. an IP address change) - UNKNOWN should be a valid status in that case.

[2017-05-08 09:57] sjka commented on #3387
let's drop the restriction completely then. I will prepare a PR.

[2017-05-08 10:10] aounhaider1 commented on #3391
I am unable to reproduce this issue. It seems to be working fine. Is this completely not working for you? A possible problem could be the loss of event stream. PaperUI tries to reestablish the connection ASAP but updates, such as add/remove thing, are lost in this case.

[2017-05-08 11:05] lolodomo commented on #2370
If we could have set the container for the created widget, our problem could have been solved by one line code !

I don't know what it is but I see methods eGet and eSet on the Widget class, and they are relative to feature. If we could use them to store the container, it could be one solution.

[2017-05-08 11:28] triller-telekom commented on #2226
There is another interesting use case for such profiles in the ESH forum: https://www.eclipse.org/forums/index.php/t/1085997

Basically the wanted feature is the possibility to adjust a raw value from a thing before it ends up in the logic of ESH by some value. This could also be done with a profile that adjusts each value on the respective channel by  a configurable value.

[2017-05-08 11:54] #3387 closed

[2017-05-08 13:03] triller-telekom commented on #608
I don't know who or what fixed this issue, but it doesn't exist anymore. The mapview site nicely inside the frame and the title `Location` is as large as the title `Demo items`

See my Screenshot:

![mapview](https://cloud.githubusercontent.com/assets/26876013/25805215/328075c0-33ff-11e7-8b0a-0ecfd9f8241b.jpg)

@kaikreuzer @sjka Can you please close this issue?

[2017-05-08 13:04] #608 closed

[2017-05-08 15:40] lolodomo opened #3396 "UI: default elements at first level of a sitemap are ignored"
Default elements at first level of a sitemap are ignored by Classic UI and Basic UI.
It is due to the fact that the widgets to be rendered are goitten with sitemap.getChildren(), meaning without any conversion of default element to a concrete element.

I will propose a fix.

[2017-05-08 16:47] MHerbst commented on #3391
@aounhaider1 I can reproduce it anytime with the Homematic binding. But I think it only occurs for bridge things that are created indirectly.
I have captured the steps I did with a screen record. You can watch the video here: https://drive.google.com/file/d/0B96-rrUfIcUWOWp5UGVGWjkwdTQ/view

Maybe you can try it also with this binding. It doesn't matter whether the binding can connect to a CCU or

[2017-05-08 17:55] AngelosF opened #3399 "PaperUI 2.1.0 Snapshot 0.9.0.201705081500 is blank"
After upgrade of the openHAB2 snapshot installation from 910 to 911, PaperUI comes up with only {{title}} > {{subtitle}} info
![paperui_error](https://cloud.githubusercontent.com/assets/25465966/25817634/9b80b9dc-3430-11e7-8b89-3f919f8130de.jpg)

OH Community Thread: https://community.openhab.org/t/paperui-empty-after-upgrade-to-snapshot-911/28051

[2017-05-08 18:02] kaikreuzer commented on #3399
Looking into it...

[2017-05-08 18:04] maggu2810 commented on #3281
No concerns

[2017-05-08 18:19] #3399 closed

[2017-05-08 18:21] kaikreuzer commented on #3399
New ESH stable build triggered: https://hudson.eclipse.org/smarthome/job/SmartHomeDistribution-Stable/193/

[2017-05-08 18:21] rodneyrehm commented on #3399
I'm not familiar with the PaperUI. But from what I can tell (after 3min of looking at it) the file [`filter.firmware.spec.js`](https://github.com/qivicon/smarthome/blob/90f06d47934beec534b5a936c4f3e575f83223cc/extensions/ui/org.eclipse.smarthome.ui.paper/web-src/js/filters/filter.firmware.spec.js) is included by [gulp concat controllers.js](https://github.com/eclipse/smarthome/blob/90f06d47934beec

[2017-05-08 18:39] sjka commented on #3367
fixed with #3372

[2017-05-08 18:39] #3367 closed

[2017-05-08 19:31] wborn commented on #3389
It would indeed be better if the temperature channel behaved like how it behaves in the App. The value currently only changes the K value of the HSBK quadruple.

The only issue with such a change is that it no longer allows you to programmatically set all elements of a HSBK value. The Kelvin values are always used to tint HSB values, see for instance this answer/discussion in the LIFX community: h

[2017-05-08 21:45] wborn commented on #3390
Thanks for the feedback! It looks like the endianness of the FIELD_STATE in `StateLightInfraredResponse` and `SetLightPowerRequest` needs to be changed to `.little()`:
[code]

It got copied from `SetLightPowerRequest` where the endianness does not matter. :-)

Now when I hook up a power meter it also shows correct readings when changing the slider. Changing the IR slider causes the power consumpti

[2017-05-09 07:32] triller-telekom opened #3404 "Basic UI: Icon on Slider does not change if label on item or sitemap-item exists"
The Slider does not update its icon in basicui with the following configuration:

items file:
[code]

sitemap file:
[code]

[2017-05-09 08:00] svilenvul commented on #3331
Could someone help me answering the question  - is binding configuration persisted ? How persistence can be added if it is missing ?

[2017-05-09 08:30] kaikreuzer commented on #3390
Ok, sure, if the IR light actually is dimmable, then let's stay with the dimmer channel here.
So please simply create a PR that fixes the behavior of it!

[2017-05-09 08:33] #2959 closed

[2017-05-09 08:42] triller-telekom commented on #3404
Configuration error: The `<light>` in the items file has to be `<dimmablelight>` then the icon changes according to the state of the slider.

[2017-05-09 08:42] #3404 closed

[2017-05-09 08:44] #3373 closed

[2017-05-09 09:16] sjka commented on #3331
Please post your support request in the [forum](https://www.eclipse.org/forums/index.php/f/271/). This will raise the chance to get somebody seeing & answering it. Thanks.

[2017-05-09 10:17] triller-telekom commented on #2695
Back to the original problem of @wborn: I just tried to reproduce your problem with the latest ESH and openHAB master branch and I cannot reproduce it anymore.

The latest snapshot is working correctly too:
https://openhab.ci.cloudbees.com/job/openHAB-Distribution/

https://openhab.ci.cloudbees.com/job/openHAB-Distribution/lastSuccessfulBuild/artifact/distributions/openhab/target/openhab-2.1.0-SNA

[2017-05-09 10:18] kaikreuzer commented on #3389
As I said, it already did so in the past, so we have a regression here.

Imho it is fully ok with dropping that "feature" as I fully agree with the comment from LIFX:
_"We went with kelvin also setting saturation to 0 as we felt it covers the most common use case where people would want the light to be set to white when they set kelvin."_

Actually, I doubt that setting a Kelvin value for any colo

[2017-05-09 10:53] philomatic commented on #3016
So,

I've finally checked this:

The JsonStorage only uses the old backup files if the current files are not readable / inavlid. However, if no current files are existing, new .json files are created.

In the case of a power failure at writing time, I guess that the linux fs (a RPi 3 in my case)  deletes invalid / corrupted files after power return / reboot.
At least this is the observed symptom o

[2017-05-09 11:11] maggu2810 commented on #3016
Hm, if there is a valid database backup but no -- also not an empty -- database, I assume it should be okay, to use the backup.

[2017-05-09 11:57] jduquennoy commented on #2226
That would indeed be awesome to be able to apply a profile to a given thing to alter the values it sends.
In my case, it would be to apply a bias to a value returned by a badly calibrated sensor.
Thanks for the work you are doing on this topic !

[2017-05-09 12:05] triller-telekom commented on #2468
This issue was fixed with PR #3381

@kaikreuzer @sjka : Please close this issue

[2017-05-09 12:06] #2468 closed

[2017-05-09 12:16] svilenvul commented on #3331
Thanks @sjka ! I have found actually a similar [thread ](https://www.eclipse.org/forums/index.php/m/1753954/?srch=binding+configuration#msg_1753954 )in the forum - maybe I will try to bring it back to life.

I have found as well the [XmlBindingInfoProvider](https://github.com/eclipse/smarthome/blob/78b6ef19d9fc8da7969f41228d3f3b56f21b8a7f/bundles/core/org.eclipse.smarthome.core.binding.xml/src/mai

[2017-05-09 12:38] #3331 closed

[2017-05-09 13:03] BenediktNiehues opened #3408 "ItemEventFactory has to use toFullString for GroupItemStateChangeEvent"
When creating GroupItemStateChangeEvent the ItemEventFactory uses toString() on the new and old state which would end up in an IllegalArgumentException during deserialization when the state is a RawType.

[2017-05-09 13:51] htreu commented on #1865
The error comes from an illegal xbase/xtext script:
The variables `a` and `b` are defined as type float. The literal numbers `10.0` and `2.0` are of type double. Despite that the first assignment may already fail, the 2nd assignment to `a` does switch the type of `a` to double (since `float - double = double`) and the assignment to `b` fails since the xbase parser resolved the operation as `float

[2017-05-09 13:51] htreu commented on #1865
@sjka pls close.

[2017-05-09 14:08] htreu opened #3412 "Evaluate webpack for the Paper UI build"
### Motivation
The last production bug in Paper UI #3399 was related to a more or less clunky build setup for the javascript files. All files are separately listed and the distinction between development build and production build makes it possible to break the concatenation/minification. This actually led to the bug mentioned above.

### Webpack to the rescue
To simplify the javascript build and

[2017-05-09 14:11] #1865 closed

[2017-05-09 14:31] htreu commented on #3396
Do you already have a solution in mind? I guess the sitemaps where meant to be divided into separate frames and not have single widgets on the top level (even though it works with non Default widgets).

You could implicitly combine all top level widgets into a Frame in the SiteMapProvider which will fix the problem for all renderings.
Another way would be to explicitly disallow widgets not wrapped

[2017-05-09 17:37] wborn commented on #3389
The need for having control over K values comes from the fact that when you use the App for picking colors, it does not use a default K value. Instead it uses the last selected K value from the whites picker. So it becomes difficult to exactly reproduce the colors selected in the App with the binding.

So what also could work is fixing the regression so the binding works exactly like the App. Then

[2017-05-10 06:21] #3389 closed

[2017-05-10 07:44] kaikreuzer opened #3416 "Remove Quartz dependency from Astro binding"
We are trying to make ESH fully Java8 CP2 compatible.
One part of this effort is to replace the use of the Quartz library (which requires a full JRE) by the new ESH scheduler implementation.
The Astro binding currently still relies on Quartz, so that it should be refactored.

[2017-05-10 07:45] kaikreuzer commented on #3416
@gerrieg Are you still willing to put this on your to-do list or shall we find someone else looking into this?

[2017-05-10 07:57] triller-telekom commented on #1174
If this one is related to #640 I am wondering if it is fixed by now, because #640 is closed.

@shorty707 Could you please provide your example sitemap so we can verify that the reload issue is gone in your case?

[2017-05-10 08:00] resetnow commented on #1174
I'm 99% sure it's fixed since there was a pull request specifically for this feature and I use it myself with charts.

[2017-05-10 08:05] #1738 closed

[2017-05-10 08:07] sjka commented on #1174
okay, I'll close it then. We can still re-open it in case of the unlikely 1% 😉

[2017-05-10 08:07] #1174 closed

[2017-05-10 08:14] #3390 closed

[2017-05-10 08:14] triller-telekom commented on #1166
Recently there have been a lot of changes/fixes to the basic UI regarding refresh/status update with formatting etc.

@shorty707: Could you please try your scenario again with the latest openHAB openhab-2.1.0-SNAPSHOT.tar.gz ? You can download it from here: https://openhab.ci.cloudbees.com/job/openHAB-Distribution/

Please report if the issue still exists.

[2017-05-10 08:43] sjka commented on #1896
Okay, it has been a while now... As we can see, there recently have been quite some topics which relate to this issue, therefore I'd like to get back to it now. I still think we should avoid using such a "startup level" construct wherever possible! But I have to admit that there are some use-cases which won't really work without it (e.g. related to the rule engine).

There recently was a [blog pos

[2017-05-10 09:47] triller-telekom commented on #1157
The status translation is working fine, but the problem here is that the zwave binding was/is reporting ON/Off instead of the expected Open/Closed. This is due to the fact that the zwave channel was/is reporting state updates for type `Switch` which is On/Off and not type ´Contact` which is Open/Closed.

That discussion needs https://github.com/eclipse/smarthome/issues/583 so bindings get some inf

[2017-05-10 10:03] sjka commented on #1157
Well, isn't the question actually whether `OnOffType.getStateAs()` should support translation to `OpenClosedType` (and vice versa) or not?

I can only speculate about the reasons, but I'd assume the unclear semantics (i.e. does OPEN mean ON or OFF? Depends on the context...) is the reason why this is not supported. @kaikreuzer right?

[2017-05-10 10:40] htreu commented on #3391
I downloaded the latest build 912 and tested on Chrome 58 (macOS) and can **not** reproduce the issue. After manually adding the Homematic Bridge with a fake ip address the bridge shows up immediately. Also checked Safari 10.1 and works there, too.

[2017-05-10 13:05] gerrieg commented on #3416
Willing yes, but i am currently very busy in my real life. I can not make a promise when i can do it. If someone else can remove Quartz, it would be a big help for me.

[2017-05-10 14:06] digitaldan commented on #1093
So I'll throw in one more complication for using generic tags.  Right now we us "Lighting" as a tag to expose items for Alexa, Homekit and Hueemulation.

The first problem is that it is not desirable to expose the same item to all 3, but since we depend on a generic, non application specific tag, it cannot be helped currently.

The second issue which just came up today is that some bindings automa

[2017-05-10 14:27] pkriens commented on #1896
Aren't there any companies that can run this through OSGi? This is a very foundational service and it belongs somewhere low in the stack like Equinox or Apache Felix?

I could provide an initial implementation since I got it already running

[2017-05-10 14:46] tomhoefer commented on #1896
Is it possible to describe what this would mean for a solution that bases on ESH?

[2017-05-10 15:27] markusjw commented on #1700
@aounhaider1 Do you have time to implement this?

[2017-05-10 15:46] SpeedmaxX commented on #1093
Another possibility would be, to configure these bindings in a different file, e. g. HomeKit.cfg.items

[2017-05-10 17:28] digitaldan commented on #1093
Once an item is loaded in the system, ESH does not care nor know which file it came from.  For services that use the REST api (like Alexa) all that is exposed is the item itself.   Also files are not the only way of defining items, some users are moving away from this and letting OH create the items which are stored through a persistence layer (jsondb right now).

[2017-05-10 17:37] wborn commented on #2695
@triller-telekom I've just retested the issue but it still remains when using the reproduction scenario. At step 4 the icon updates but the slider does not.

I've retested with:
* openHAB 2.1.0-SNAPSHOT Build # 912
* Ubuntu 16.04.2
* Chrome Version 58.0.3029.110 (64-bit)

[2017-05-10 17:44] SpeedmaxX commented on #1093
Ok, thank you. I am not that firm with developing in ESH.
Then we come back to beowolfe's approach, I think. Or, would a 'translation' help here?

[2017-05-10 17:50] MHerbst commented on #3391
I did some more tests with build 912 and I found the cause of the problem: it's the ESET firewall on my Windows machine. If I disable the firewall everything works fine. With an enabled firewall, I can reproduce the problem.
It makes no difference where openHAB is installed. With an activated firewall, it also happens if openHAB is installed on the same machine.
I will try to figure out which fire

[2017-05-10 17:50] #3391 closed

[2017-05-11 05:33] KidSquid1 commented on #3345
Hello -

I was able to get the rule above as well as several other working, I can't begin to thank you enough.
What else can I do to assist?  Will you have time to change the polling interval as we previously discussed?

Please let me know if there is any feedback I can provide.

Squid

[2017-05-11 07:24] aounhaider1 commented on #1700
I have to check but I think it is already implemented.

[2017-05-11 08:01] #3294 closed

[2017-05-11 08:21] triller-telekom commented on #2695
I just tried it again and it just works...

@wborn: Could you maybe provide a screencast where you download the latest snapshot, unpack it, start it, let the demo initialize and then open basic ui, change the slider and then enter the command?

@resetnow: I really cannot reproduce it, neither my colleagues, so could you please have a look and try to reproduce it?

[2017-05-11 08:29] kaikreuzer commented on #1093
If this is where we want to head on the long run, I think the tags are not the right approach, but we will have to introduce application specific configurations (and use the tags possibly only as a sensible default, if no other configuration is given).

The HomeKit add-on already is a proper "custom interface" that comes with its own configuration. We could extend this configuration to allow the u

[2017-05-11 09:51] sjka commented on #1896
As I don't have all the details figured out I'm not 100% sure yet. Ideally there would be no implications at all. I hope that in the startlevel configuration we can tie the services which need to be waited for to the existence of certain bundles, therefore providing a default configuration which should work ootb.
Worst-case: a solution needs to maintain a configuration which lists all services whi

[2017-05-11 09:56] triller-telekom commented on #820
By looking at the function `org.eclipse.smarthome.model.core.internal.ModelRepositoryImpl.getAllModelNamesOfType(ModelRepositoryImpl.java` I see that @maggu2810 has cloned the list in a commit on 18.04.2016, see:

https://github.com/eclipse/smarthome/blob/master/bundles/model/org.eclipse.smarthome.model.core/src/main/java/org/eclipse/smarthome/model/core/internal/ModelRepositoryImpl.java#L168

@ma

[2017-05-11 11:25] maggu2810 commented on #820
I don't know anymore :wink:
I close it now.

[2017-05-11 11:25] #820 closed

[2017-05-11 11:26] triller-telekom commented on #665
Even though the channel has `min` and `max` values we should not scale the value in an item's state.
For your use case I would rather propose to have a different temperature category, i.e. "room_temperature" that has different icons at a range between 0 and 50.

@kaikreuzer @sjka Can you please close this as "Won't fix"?

[2017-05-11 11:30] kaikreuzer commented on #665
I agree that a general mapping from [min,max] to [0,100] for determining an item won't be valid solution - to cover such use cases, we would probably need a feature that allows more fine-grained control over the icon generation/selection.

[2017-05-11 11:30] #665 closed

[2017-05-11 11:42] triller-telekom commented on #3356
How about a large "X" across your icon for "motion-off"? Maybe even in red?

[2017-05-11 11:45] triller-telekom commented on #3352
@lolodomo is this issue now fixed with your referred PR? If so, can you please close it?

Regarding the extra icon for selection: If we only need it for the classicui I think its not worth the effort because in the long run we would like to get rid of the classicui in favor for the new basicui.

[2017-05-11 13:18] kaikreuzer opened #3428 "Noisy logging of JsonStorage on a fresh installation"
A fresh installation welcomes the user with this logging:

[code]
It is perfectly valid that there aren't yet any database files, so I consider this a bug.

[2017-05-11 13:19] kaikreuzer commented on #3428
Introduced by https://github.com/eclipse/smarthome/pull/3407

[2017-05-11 13:49] philomatic commented on #3428
First of all, you're absolutely right that this noisy logging for a fresh installation is a bug. Sorry for that.

However, the point is, ext3 / ext4 seems to delete files (or at least hide from userspace) which became invalid. So, backups will be never used for these cases.

How about checking the backup folder and restoring only if there is a valid backup?
If no backup folder (respective backup f

[2017-05-11 14:23] lolodomo commented on #3352
No this issue is still open, an icon is missing in the classic iconset. All UIs are impacted.

[2017-05-11 14:28] lolodomo commented on #3356
For no motion i would imagine a similar icon to motion but with a man not moving and without the "circles" at left and right indicating movement.
For the colours, I could imagine green for no motion and red for motion.

[2017-05-11 15:57] #3392 closed

[2017-05-11 16:59] wborn commented on #2695
@triller-telekom I've now retested the issue with openHAB 2.1.0-SNAPSHOT Build # 914 and the slider now works better but I'm still able to get it to skip updates. I think this is due your code changes in PR #3403 (May 9th)?

These changes were not yet part of Build # 912 because it had:

[code]

Build # 914 does contain these changes:

[code]

So my original reproduction scenario no longer applies

[2017-05-11 17:34] pkriens commented on #1896
I think you should not try to have a global perspective but think local. For each subsystem, what should be ready before that subsystem can start? These 'things' need to be made into services. However, these are all local decisions that only care about the local situation. It is the global view that is so often violated, resulting in bugs.

[2017-05-11 17:55] resetnow commented on #2695
I was able to reproduce it: https://resetnow.ru/temp/esh-screencast-3.webm

[2017-05-11 18:26] resetnow commented on #2695
I think I'm looking at a different problem, sorry. This one can be explained by this comment: https://github.com/eclipse/smarthome/blob/master/extensions/ui/org.eclipse.smarthome.ui.basic/web-src/smarthome.js#L1304

[2017-05-11 18:41] wborn commented on #2695
The remaining problem I have looks exactly like the one in @resetnow 's screencast. Occasionally the slider misses an update. The original problem seems to be solved between build # 912 and # 914. So I think the issue can be closed now. :+1:

[2017-05-11 18:41] #2695 closed

[2017-05-11 18:42] resetnow commented on #3031
Just tried again with Chrome 58 on Linux — still doesn't work. Works with Firefox.

In Chrome dev tools, SSE connection is still listed as active even after the cable is unplugged — so this might be a browser issue.

[2017-05-11 21:02] wborn commented on #3031
@resetnow Did you also have a look at reconnection when the runtime is restarted?

In case of Chrome on Linux I do see the Offline notification popup when the runtime is stopped. When I then restart the runtime, the notification is removed. But it starts to continuously do "subscribe" calls which end up in a pending state.

See this screenshot:
![restart](https://cloud.githubusercontent.com/assets

[2017-05-11 21:09] resetnow commented on #3031
Stopping runtime also works for me. Didn't check the repeated calls though — it's supposed to stop subscribing once one of the calls succeeds. Not sure why they're pending.

[2017-05-12 05:50] sjka commented on #1896
I think we are on the same page here. I was referring to having one global _configuration_ for all the local decisions. But just to be sure, let me sketch up a little example (please ignore syntax, naming etc. for the moment) to illustrate my understanding:

Let's assume we have a couple of services which announce their "readyness" by registering a `ReadyMarker` service carrying a certain identifi

[2017-05-12 06:29] pkriens commented on #1896
Yes, this is exactly what the AggregateState service does ... However, some of these things look a bit like normal service dependencies?

[2017-05-12 06:35] kaikreuzer commented on #3136
Let's assume that this is already fixed by the latest Basic UI refactorings.
@metbril Feel free to re-open the issue, if you think there is still some bug that needs to be addressed.

[2017-05-12 06:35] #3136 closed

[2017-05-12 06:45] marcus-schneider opened #3432 "Paper UI does not store Things' Location in Build #914"
If you edit the location from within HABmin changes are applied successfully, changes from Paper UI are discarded.

[2017-05-12 06:46] kaikreuzer commented on #3432
I can confirm this issue, we will look into it, thanks!

[2017-05-12 06:56] #3428 closed

[2017-05-12 06:58] sjka opened #3433 "jsonDB: risk of missing files"
When writing to the jsonDB, it first moves the current file out of the way and then creates a new one at the same place. This can lead to missing files, when crashing the system at the right point in time. See https://github.com/eclipse/smarthome/pull/3429#issuecomment-300801580.

[2017-05-12 08:38] wborn commented on #3031
@resetnow After some more testing it looks like it opens so many connections that it exhausts the connection pool of the runtime. :-) Opening any other web page served by the runtime from a second tab also fails unless the tab that exausts all the connections is closed.

[2017-05-12 08:51] wborn commented on #3031
Actually it seems to be the maximum number of connections per website that is exhausted. Accessing the page from another browser/device does seem to work.

[2017-05-12 09:25] lolodomo commented on #2784
I think we should update the icon proxy to consider the none icon in case no provider is delivering the requested icon category, rather than returning a 404 error. We could log a message of course. The change is easy, I will propose a fix.

[2017-05-12 09:26] cdjackson commented on #3433
I'm happy to take a look at this unless anyone is looking at it already.

[2017-05-12 09:29] htreu commented on #3432
Its a bug in PaperUI, the method `update` was defined twice on the `thingService`. The 2nd definition is for updating firmwares and got called every time a thing should update. PR in the works.

[2017-05-12 09:48] #3432 closed

[2017-05-12 11:40] DanielMalmgren commented on #581
This would be a very welcomed feature, often when I'm troubleshooting my rules I'm not 100% sure which timers are running and which are not. Did anyone start any job on implementing it?

[2017-05-12 11:55] ThomDietrich commented on #2962
@lolodomo that might bring around some clarity but yet again I'm not sure if this will be the overall intuitive solution. In the example of the switch you'll see some icon (the user will not necessarily know the meaning of the "undefined" icon) and a switch in one of two valid non-undef positions.
I agree that the icons should be corrected to behave equally but as for the undefined state of an ite

[2017-05-12 12:26] kaikreuzer commented on #3195
Sorry @danchom, I failed to read this due to holidays/Easter season at that time...

Yes, I fully agree - the check should be within the registry as otherwise we have cyclic dependencies. Using prefixes is imho fine as a measure to avoid clashes; we already introduced "core." prefixes on module types, other providers could do it similarly.

[2017-05-12 12:38] kaikreuzer commented on #2962
I still disagree. A disabled element does not even let (or invite) the user to bring it into a defined state.
The icon and the label is what is there to display item states. Controls are there to issue commands in the first place. A physical wall switch does also not "grey out", just because it doesn't know if the light attached to it is REALLY on...

Again, I disagree. As mentioned above, all exi

[2017-05-12 16:54] shoeper commented on #3244
I do have the same issue. I tried it multiple times (this week, last week, the week before) and although it worked at the end of the last year I couldn't get it working since.

Also tried to follow these steps (https://www.eclipse.org/smarthome/documentation/development/ide.html) on a completely fresh machine - still many issues.

Here are two screenshots with some of the 100 errors. It would be g

[2017-05-12 18:07] ThomDietrich commented on #2962
I think I (finally) got your point and the course of our disagreement: In my perception of the presentation the right part (i.e. the switch) is what matters and hence should always hint a certain state the item is in. You however see this right part as the control part first and foremost and expect the left part (the icon) to be the presentation of the current state of an item. In my perception of

[2017-05-13 05:52] Marty56 commented on #2410
asap = never.
I gave up: Removed the SONOS binding and installed a local speaker!

[2017-05-13 07:58] lolodomo commented on #3396
It is not the purpose of my issue. My concern with this issue is only the handling of default elements in sitemap.
But to answer a little to your question, my feeling is that the current rendering of elements at top of a sitemap not being in a frame is acceptable in Basic UI while awful in Classic UI. But I need to make more tests with Basic UI.
I encourage you to open a specific issue.

[2017-05-13 08:45] lolodomo commented on #3308
I proposed a fix, setting the minimum value to 100 ms.

[2017-05-13 09:26] lolodomo commented on #3036
I tested and for me it is now working as expected.
@kaikreuzer : please close this issue.

[2017-05-13 09:43] maglnet opened #3445 "Rollershutter Items with wrong image state"
I updated my openhab2 installation to the latest snapshot. Now my Rollershutters are displayed wrong. They do not have a numeric state within the UI but `ON` / `OFF`.

I did some small check and I think the following lines could be the source of my problem.
https://github.com/eclipse/smarthome/commit/8ba0e7cdd141595e5d7fbe8a3d7716ce63cba799#diff-5d3a30bfebd36343f1f1d61e9f589de1R491

My understandi

[2017-05-13 16:25] lolodomo commented on #3093
Is it still open ?

[2017-05-13 16:42] lolodomo commented on #2605
@kaikreuzer : issue to close ?

[2017-05-13 16:58] briaeros opened #3446 "Create a new EveryChangeLastUpdate persistence global strategy ?"
I use smarthome by openhab, and configure an item on EveryChange.
The item update itself regurlary (every 30s or every minutes) , but each data change infrequently, so everyUpdate isn't an option.
The persistence database store the data at each change, but failed to store the last update timestamp before the change.

For example , if the item send value update every minutes and have the following

[2017-05-13 20:11] #2605 closed

[2017-05-14 07:16] #3369 closed

[2017-05-14 13:08] wborn commented on #3031
When a reconnect fails it starts a new timer for each failure. Reconnection still works when I change the code to read like:

[code]

Was there a reason for using `setInterval` here @resetnow? If you are OK with the change I'll submit a PR for it. It solves all the duplicate calls and after reconnection I'm again able to use the Basic UI without having to close the tab. :-)

[2017-05-14 13:15] resetnow commented on #3031
reconnection attempt may fail multiple times. Using setInterval ensures connection will be restored even if several attempts failed.

[2017-05-14 13:24] resetnow commented on #3031
I just tried restarting runtime with BasicUI page opened and I believe the issue is not related to usage of setIterval. Here is a screenshot from Firefox dev tools:

![screenshot from 2017-05-14 16-18-04](https://cloud.githubusercontent.com/assets/2057191/26034169/1c895658-38c1-11e7-91de-c1aba065ada9.png)

As you can see, after subscription servlet has started and subscribe call returned 200, Basi

[2017-05-14 14:09] wborn commented on #3031
@resetnow  I think there are two problems:
* The issue of the servlet not yet being fully started, which we could solve by making sure both calls return 200 within a certain timeframe. The order of which one is started first may be timing dependent and could change over time.
* The existing EventSource keeps trying to reconnect (every 3s) which causes onerror to be called. This causes multiple rec

[2017-05-14 14:17] resetnow commented on #3031
You're right about closing EventSource connection — I tested it with Firefox, I guess reconnection behaviour is different there. I assume this will fix the problem:

[code]

[2017-05-14 14:28] wborn commented on #3031
Yes that seems to work well for the EventSource on (tested Chrome desktop/mobile and Firefox). :-)

[2017-05-14 14:48] lolodomo opened #3448 "Add util methods in ESH core to dowload WEB image"
It was already discussed when implementing support of image items in UIs through rawType, we need some help methods that could be used by any binding implementing image channel.
In particular, we need a method returning a rawType from an URL.
Some code could be extracted from the sonos binding. I will propose something.

[2017-05-14 18:14] #3308 closed

[2017-05-14 18:24] kaikreuzer commented on #3446
This is actually your issue. The data in the database it fully ok - if you ask for the value at 10:59 it will tell you "1", so everything is fine.
I therefore don't think that solving your issue through a different way of persisting the data is the right approach.
If you use rrd4j for charts, you e.g. have the chance to define whether you want averages or absolut values being rendered - this is a

[2017-05-14 18:48] resetnow commented on #3031
Thanks for confirming — I have opened a PR for this part of the issue.

[2017-05-14 20:35] cweitkamp commented on #3416
I can offer my help. I am looking for something to do. But I have currently no clue how ESH scheduler works. Are there any examples or documentations for me. Where can I find the code?

Another question: Compiling the Astro binding from ESH repo with `mvn clean install` results into the following error for me. What I am doing wrong?
[code]

[2017-05-14 20:48] ghys opened #3450 "Voice: provide feedback after keyword spotting using a Switch item"
When using the `DialogProcessor`, there is no way to tell when the keyword (or "magic word") has been spotted by the KS service and the system is now awaiting an command to interpret from the STT service.

I would like to propose a way of providing some feedback to the user in the following manner:

1. Adding a new config parameter for the voice bundle accepting the name of a Switch item;
2. Havin

[2017-05-14 20:52] briaeros commented on #3446
Thanks for the answer.
I agree with you on the issue/symptom, but not on the solution.

If I look on the database, and I search for the value at 10:59, it says "Not Found".
And, without any more data, it's a reasonable asumption to do a linear interpolation beetween the only two value the database contains "10:00" and "11:00".(Once again, without only the databases informations, we don't know the

[2017-05-15 09:05] triller-telekom commented on #3244
The last week was pretty though if you had to rely on the eclipse infrastructure unfortunately. There were some problems regarding the resolving of the targetplatform so a couple of bundles could not be resolved and downloaded.

@shoeper  However your problem is because you did not generate the model files from xtext, which is step 8 and step 9 of the howto you were following: https://www.eclipse.

[2017-05-15 09:20] kaikreuzer commented on #3416
Thanks for the offer @cweitkamp!
[Here](https://github.com/eclipse/smarthome/tree/master/bundles/core/org.eclipse.smarthome.core/src/main/java/org/eclipse/smarthome/core/scheduler) is the code of the scheduler, the [unit tests](https://github.com/eclipse/smarthome/tree/master/bundles/core/org.eclipse.smarthome.core.test/src/test/java/org/eclipse/smarthome/core/scheduler) should give you an idea of

[2017-05-15 09:34] kaikreuzer commented on #3093
No, thanks for noticing.

[2017-05-15 09:34] #3093 closed

[2017-05-15 09:35] kaikreuzer commented on #3448
makes sense, thanks.

[2017-05-15 09:36] triller-telekom commented on #3445
Can you please provide some details about how your sitemap and items files look like?

Ist your item a `Rollershutter` and you set it to a `Switch` in the sitemap?

[2017-05-15 10:48] htreu commented on #1700
With the slider in place the validation of the input value was not necessary. How do we validate new values when the input is changed to input field?

[2017-05-15 11:52] aounhaider1 commented on #1700
Do you mean the validation of number input field? Currently, there is no client side validation on control page AFAIK.

[2017-05-15 13:29] triller-telekom commented on #2446
@DigitalBites: Did your PR fix the problem or can you still reproduce it?

[2017-05-15 13:44] danchom opened #3453 "Add TriggerChangeListener"
Each trigger uses RuleEngineCallback to notify  rule engine about its triggering, but the other triggers are not notified about the change and it is impossible to create a CEP handler base on triggered values of other triggers.
My proposal is to add Observer pattern to the RuleEngineCallback (it has to have opportunity to add/remove/notify TriggerChangeListeners) .
In that way a trigger handler ca

[2017-05-15 13:53] markusjw opened #3455 "Paper UI: Dimmer value format differs depending on readonly setting"
If I have seen this correctly, the Dimmer item needs the same change as the Rollershutter item in #3357.

Please also check what happens if no pattern (value format) is given. Do read-only and editable items show the same value format (Dimmer, Rollershutter, maybe others)?

[2017-05-15 14:53] digitaldan commented on #1093
I was hoping to avoid that, there is a certain elegance to being able to use the REST api for this without any changes.... but i also don't see a way without using tags or as you suggest a new endpoint/binding.  Would you be opposed to still using tags for Alexa, but make them application specific ( alexa:Lighting, alexa:Lock, alexa:CurrentTemperature) ?