[2017-05-15 15:04] dwradcliffe commented on #1093
Personally I actually like the idea of application specific tags. This would allow me the most flexibility to customize each service.

[2017-05-15 15:48] triller-telekom commented on #3282
I just had a look at the SSE Eventstream but I cannot find the place where it inserts the `type` of the state. To me it looks the same as if I query the `ItemResource` via rest call.

In both cases an `EnrichedItemDTO` object is created and this does not have any type information on the state. So why do you think the SSE stream has this information?

[2017-05-15 16:15] lolodomo commented on #3445
I am asking myself if we will not have a similar problem when using a `String `item combined with a `Switch `element with mappings in the sitemap ?
If true, it is a major problem.

Not sure we have these 2 cases in the demo sitemap.

The problem is that a `Switch `element in sitemap is not always linked to a OnOffType.

[2017-05-15 17:05] lolodomo commented on #3445
Sorry it is probably ok for String item as there is no conversion to OnOffType.

[2017-05-15 18:19] Auto-Mark commented on #3308
According to a user the behaviour hasn't changed:
[community.openhab.org](https://community.openhab.org/t/basic-ui-image-refresh-rate-in-seconds-instead-miliseconds/27152/8)

[2017-05-15 18:37] lolodomo commented on #3308
Normal, it is not yet included in OH snapshots. You will have to wait few days, the time for kaikreuzer to include a new ESH version in OH. The last is from the 12th of May.

[2017-05-15 19:00] hmerk commented on #2446
@triller-telekom #2617 which was merged Dezember 7th 2016.
This issue can be closed.

[2017-05-15 19:07] hmerk commented on #3345
@KidSquid1 Sorry for my late reply, busy times atm.
I will reduce the refresh time and remove the channels we are not shure about, but cannot do this before next week.

[2017-05-15 19:10] #2446 closed

[2017-05-15 19:12] kaikreuzer commented on #3308
You can always check here, which changes are already included in openHAB: https://hudson.eclipse.org/smarthome/job/SmartHomeDistribution-Stable/changes

[2017-05-15 19:43] sjka opened #3456 "[Test failures] FSInternetRadioHandlerOSGiTest failing"
Just recently the following FSInternetRadioTest started failing pretty persistently on Travis:

[code]

Hudson is still happy, so we still have nightly builds. It mainly hits the PR builds on Travis.

[2017-05-15 19:43] sjka commented on #3456
@m-memova Could you please heeeelp? 😢

[2017-05-15 20:16] KidSquid1 commented on #3345
@hmerk
No Worries - I appreciate all of the work you have done.  Let me know when you need me to test again.

[2017-05-15 20:39] cweitkamp commented on #3416
Thanks for those hints. That is all I need.

You're right. After execute Maven build from repo root the binding compiles without any error. I had to compile the repo root with `mvn -fae clean install` because some of the tests fail to run.

[2017-05-15 20:40] m-memova commented on #3456
Really? Again? What are you doing with those tests, man ? :-D I will take a look.

[2017-05-15 21:58] maglnet commented on #3445
Hi, my config looks like this:

Groups / Items:
[code]

And within my sitemap, I only added the Group:
[code]

Also if I add the item itself it doesn't work:
[code]

The result within the sitemap looks like this:
![grafik](https://cloud.githubusercontent.com/assets/4430279/26081178/f1301096-39c9-11e7-93e7-0c6bb28ce4bf.png)

If you need any other information, please ask.

Best regards
Matthias

[2017-05-15 22:07] lolodomo commented on #3445
Personnally, I am lost. I see "100 %" displayed in the UI. Isn't it what you expect ? What was the result before the change ?

[2017-05-15 22:08] maglnet commented on #3445
Oh, yes, sorry, that was a misleading information, I'm talking about the icon's state, please see the URL.

[2017-05-15 22:13] lolodomo commented on #3445
You mean, the icon at left ?

[2017-05-15 22:17] maglnet commented on #3445
Yes, the icon's source is `../icon/rollershutter?state=ON&format=png`. So `state=ON` is wrong here.
And this results in not showing the correct icon (e.g. with a closed blind, when the percentage is 100%).

[2017-05-15 22:23] lolodomo commented on #3445
Ok, that is clear now. Your initial analysis was correct. The new conversion to OnOffType leads to an unexpected icon in this case.
@triller-telekom : any idea ? should we avoid the conversion to OnOffType for Rollershutter items ?

[2017-05-15 22:26] lolodomo commented on #3445
I suppose the conversion is useful if you define that in the sitemap:
[code]

[2017-05-15 22:31] lolodomo commented on #3445
@maglnet : maybe your remark is only how looks like the icon rollershutter-on.png ? Would you expect that rollershutterèon.png be identical to rollershutter-100.png ?
Or do you expect in your case icon rollershutter-50.png when your rollershutter is half opened (50M) ?

[2017-05-16 02:31] dushanlk opened #3458 "Eclipse smarthome extensions REST API not available"
I cloned and built Eclipse smarthome 0.9.0.b4 and added

    features/karaf/esh-core/target/feature/feature.xml
    features/karaf/esh-ext/target/feature/feature.xml
    features/karaf/esh-tp/target/feature/feature.xml

XML files as feature-repos to apache-karaf 4.0.8. And then installed features and got following output,

[code]

When installing some features getting XML parse error as above. And

[2017-05-16 05:13] danchom commented on #3453
The main idea here is to create a script trigger which will be called by the RuleEngineCallback.

[2017-05-16 05:21] maglnet commented on #3445
@lolodomo : Before I updated my openhab installation to the latest snapshot version the parameter `state` had exactly the value that the percentage was showing. e.g. `?state=66` and was resulting in the icon next to this value (e.g. `rollershutter-70.png`).

So I would expect that It behaves like this again and so resulting in an icon representing the state of my real rollershutter :)

[2017-05-16 05:56] kaikreuzer commented on #3458
You should note that the extension REST API only is there if you have also installed an extension service (e.g. the Eclipse IoT Marketplace extension service). Did you?

[2017-05-16 06:12] SpeedmaxX commented on #1093
1+ for application specific tags

[2017-05-16 07:12] dushanlk commented on #3458
@kaikreuzer oh, no! I didn't. I'll try by adding an extension service. After your answer I'm checking the same implementation in OpenHab. Thank you!

[2017-05-16 08:04] IOOOTARobby opened #3459 "Wemo Insight: delayed update for state and power"
ESH Version: 0.9.0b4
Binding Version: installed from the addons section
Device: Wemo Insight, firmware version WeMo_WW_2.00.10966.PVT-OWRT.Insight

I was using the WeMo mobile app (on Android) and the PaperUI (on may laptop) at the same time.

These are the behaviors I was testing:

- clicking on the physical button on the WeMo while looking the two UIs
- using the button in the WeMo App while loo

[2017-05-16 08:11] Auto-Mark commented on #3308
Thanks for this clarification. I will do so in the future.

[2017-05-16 08:14] triller-telekom commented on #3445
@lolodomo : I did some debugging and I think the bug is within the client site and has something to do with using `Default` in the sitemap for the rollershutter.

I now have:
Items file:
[code]
Sitemap file:
[code]

What I observe is that the state in the sitemap is only updated once I completely reload the page, i.e. incoming SitemapEvents do NOT update it.

A breakpoint in `Smarthome.js` at `if

[2017-05-16 08:26] triller-telekom commented on #3459
You are not the only one to be affected by this behavior because it works as designed. The updating of the Wemo state in done as a polling job, see [here](https://github.com/eclipse/smarthome/blob/master/extensions/binding/org.eclipse.smarthome.binding.wemo/src/main/java/org/eclipse/smarthome/binding/wemo/handler/WemoLightHandler.java#L72) and [here](https://github.com/eclipse/smarthome/blob/maste

[2017-05-16 08:29] dushanlk commented on #3458
It works @kaikreuzer, Thanks a lot!

[2017-05-16 08:29] #3458 closed

[2017-05-16 08:35] sihui62 opened #3460 "Astro binding: Null Pointer exception"
Since around a couple of days the Astro binding is throwing a Null Pointer exception. It started already before moving the extension to eclipse smarthome.
Related community thread:
https://community.openhab.org/t/astrobinding-throws-an-nullpointer-error/27790
openhab.log:
[code]

[2017-05-16 09:20] sjka commented on #3460
Indeed, it looks like something goes wrong when calculating the night range:

[code]

gives

[code]

[2017-05-16 09:27] sjka commented on #3460
@gerrieg will you have a look at this?

[2017-05-16 09:34] IOOOTARobby commented on #3459
Hi @triller-telekom , thank you very much for the feedback!

I read about the polling approach, what confuses me is the different behavior in case of "switch off" and "switch on".

In case of "switch on", the PaperUI gets updated within 3-6 seconds, in case of "switch off" it takes a minute or more.

This is the reason why I have thought of a bug.

Is this the expected behavior?

[2017-05-16 09:50] sjka commented on #3460
@gerrieg Nevermind, I proposed #3461 to fix it. You may still look at it, of course... 😄

[2017-05-16 09:52] lolodomo commented on #3445
There are several issues with default elements, one is the refresh. I will work to fix all of them. But i have not thought about the state conversion.

Can you first try with switch rather than default in the sitemap ?

[2017-05-16 10:40] sjka opened #3462 "Race condition in BundleProcessorVetoManager"
With very unfortunate timing it is possible that the BundleProcessorVetoManager vetoes a bundle without actually processing the queued action as seen in this log:

[code]
As a result, the ThingHandler will not ne initialized.

[2017-05-16 10:57] htreu commented on #1700
I guess with #3437 merged and the `ng-min` and `ng-max` attributes + disabling the submit button is a completely sufficient solution. Can this be closed then?

[2017-05-16 11:03] kaikreuzer commented on #3459
@hmerk: I thought to remember that we had UPnP event subscriptions in the past, which broke because of some firmware updates on WeMo side, but wish in general should still be there - is there any open issue that should be addressed to make state updates appear instantly?

[2017-05-16 11:04] #3460 closed

[2017-05-16 11:18] #3462 closed

[2017-05-16 13:21] sjka commented on #3456
I don't know. Just executing them, I guess? 😉

The problem with these tests for sure is that they actually are integration tests, not only testing the binding, but indirectly also the complete ESH framework. That's why the are hit by asynchronous behavior, automated magic like autoupdate if item states, auto linking and all that. If some of these things change in a slight aspect (e.g. timing, impl

[2017-05-16 13:21] triller-telekom commented on #3445
@maglnet If you use `Switch` in the sitemap it will work again after my PR is merged.

@lolodomo I fixed this issue with my PR but it would be nice if you can take care of the `DefaultImpl` problems and maybe create a separate issue for this.

But why is the `RollerShutter` a `Switch` in the sitemap? I know we have it in the demo configs from openHAB but they are rendered differently from a switch

[2017-05-16 13:26] kaikreuzer commented on #3453
I am not sure if I fully understood your concept here.
A few design decisions of the current rule engine speak against such an implementation:
- Modules are independent of each other and thus their implementations should not depend upon another.
- If a trigger requires complex logic, it should itself be configurable in a way that it fully contains this logic.
- We do not have a contract about the

[2017-05-16 13:26] lolodomo commented on #3445
In fact, there is no specific sitemap element defined for the roller shutter. I have no idea why.

[2017-05-16 13:44] #3445 closed

[2017-05-16 13:47] m-memova commented on #3456
Thank you, you are right. I will read the documentation and I will try to rewrite the tests as soon as I can.

[2017-05-16 14:10] maggu2810 commented on #3036
I hope it is okay, if this issue is closed by another one, too :wink:

[2017-05-16 14:10] #3036 closed

[2017-05-16 14:12] lolodomo commented on #2784
@kaikreuzer : you can close this issue now that PR #3441 is merged.

[2017-05-16 14:13] #2784 closed

[2017-05-16 14:13] FND commented on #3282
I can't comment on the Java implementation behind the scenes, but here's what being sent over the wire:

[code]

As you can see, there we do have type information (in this case: `DateTimeType`, `DecimalType` and `StringType`).

That same information was not included in the item representations last time we'd checked (not sure whether we were using an outdated version; I'm afraid I can't check righ

[2017-05-16 14:14] danchom commented on #3334
Can we close this issue?

[2017-05-16 14:21] kaikreuzer commented on #3334
I would tend to say no - I just tested it and although it is a different, it still is something related. This is what I got when UNINSTALLING the automation bundles:

[code]

[2017-05-16 15:04] sja commented on #3282
A bit inconsistent because of that "Type" suffix. But yes, then we have everything together.
We used 2.1.0-SNAPSHOT build 839.

[2017-05-16 15:34] kaikreuzer opened #3468 "ScriptFileWatcher does not cancel scheduled jobs"
When uninstalling the scripted rule support, the following exception is thrown:

[code]

[2017-05-16 15:46] danchom commented on #3453
The triggers will stay independent, they will communicate through events. If the source trigger is not available the script trigger (or other trigger register as listener) won't receive events from it.

I'm not sure about that. Why we have to duplicate implementation logic of  core.ItemStateUpdateTrigger in complex condition when we just needs a result from it (the output values)? I think it will

[2017-05-16 16:27] maglnet commented on #3445
Thank you for the quick solution. 👍
I'll check this with an openhab snapshot in the next days.

[2017-05-16 16:38] hmerk commented on #3459
@kaikreuzer
We have UPnP event subscriptions implemented apart from WeMo Maker.
I will check if something changed with latest firmwareupdate.

[2017-05-16 18:00] frhei opened #3470 "FirmwareUpdateServiceOSGiTest fails"
Build of latest commit 5bf48f2df79dc5d5e9a9a9f65278f494d3b0884c fails in test case FirmwareUpdateServiceOSGiTest :
(but problem was already observed in builds of previous commits)
[code]

Build-Environment:
[code]

It seems that in my environment the german locale provider is used in class FirmwareUpdateService which lets the assertion in the test fail, because an english translation is expected.

[2017-05-16 19:22] sihui62 commented on #3460
Thx for the amazing fast support, @sjka

[2017-05-16 19:49] timonreinhard commented on #3459
Changing the on/off state of a Wemo Insight switch does _not_ cause an InsightParams event (`urn:Belkin:service:insight:1`) to be triggered. Which makes no sense, as the params were actually changed, but anyway, that's how the device works. A workaround would be to additionally listen to `urn:Belkin:service:basicevent:1` to get updates of the actual binary state.

[2017-05-16 19:54] hmerk commented on #3459
No, that's wrong, as it will change the "lastChangedAt" value. It worked since I implemented this, but I see other errors in my logs now, that I did not see prior last firmware update.
I will dig into this but can not start earlier than end of next week.

[2017-05-16 20:01] timonreinhard commented on #3459
Yip. That was the behavior before they updated the firmware. Now it's they way I mentioned above. ;)

[2017-05-16 20:07] hmerk commented on #3459
Ok, so I will have to figure out what else thy have changed and find solutions for the changes :-(

[2017-05-16 21:12] hmerk commented on #3459
Just did a quick check within my IDE and can see that ist still behaves like expected. After switching to on, we receive a GENA event with new insightParams:
[code]

[2017-05-16 22:18] timonreinhard commented on #3459
Please try switching that device on and off a couple of times in a row. I just double checked and can confirm that _InsightParams_ events don't get fired reliably for on/off state changes, while the _BinaryState_ events get fired as expected. I can provide a gist to reproduce using a different client implementation, if that helps.

In addition I sniffed the `NOTIFY` requests reaching my openHAB sy

[2017-05-17 05:22] hmerk commented on #3459
I will do some more tests and will implement subscribing to basicevent for the insight, as it does not harm..

[2017-05-17 05:23] KidSquid1 commented on #3345
Hello -

Something interesting I ran across. I have a rule that "reminds" me to refill the water every evening at 21:00 if the coffeemaker's status is "RefillWater" which is what I usually see it to be when it's in need of water.  I've been surprised a couple of evenings when I knew the coffeemaker is empty and the rule has not executed at the correct time.  After checking my rule and then the log

[2017-05-17 06:36] sillyfrog commented on #1093
Been watching this for a while, and +1 from me as well to application specific tags - easy to understand, and still powerful and flexible.

[2017-05-17 07:00] sjka commented on #3470
I can confirm this:

[code]

[2017-05-17 07:14] msfunty opened #3472 "Basic UI: Active switch item with mapping isn't highlighted any longer"
I'm using openhab2 and my configuration is based on sitemaps.

All switch items are being displayed but since a week (or so) the chosen item is not highlighted any longer.
When you click it button will be highlighted, but when you leave the page and go back it is not highlighted anymore.

[2017-05-17 07:19] triller-telekom commented on #3445
@maglnet: Please be aware that @kaikreuzer has to build openHAB with the newest ESH release which is not the case for every openHAB release.

[2017-05-17 07:23] BenediktNiehues opened #3473 "Inconsistency in RuleEvents status vs state"
There is a inconsistency in the RuleEngine in the usage of events. The EventImplementation is called RuleStatusInfoEvent and the topic is "smarthome/rules/{ruleID}/state".
Here the topic should be changed to "...status"
@kaikreuzer, @danchom, @marinmitev what do you think?

[2017-05-17 07:29] BenediktNiehues opened #3474 "RuleStatus "Running" not sufficient"
As user I would assume that if the Rule is in status "RUNNING", that currently the actions are performed. But it is also "RUNNING" if the conditions are evaluated.
Maybe there should be StatusDetails like "EvaluatingConditions" and "ExecutingActions" accordingly.
Furthermore we have to think about the ruleStatus handling for long running (asynchronous) actions..

[2017-05-17 07:33] lolodomo commented on #3472
Please provide a portion of your items and sitemap showing this issue.
It could be linked to the binding behind your channel that does not handle your command  ?

[2017-05-17 07:43] 0nse commented on #3474
To make this more clear: Assuming there were additional status `EVALUATING` and `EXECUTING`, `EXECUTING` would only be a briefly active status.

However, the actual, physical actions are likely to take longer until they have actually finished as they may depend on capabilities of some hardware. Thus, it would be great, if rules were `EXECUTING` for until the actual actions have been completed as o

[2017-05-17 08:40] #3468 closed

[2017-05-17 08:53] mherwege commented on #3036
Tested, and it works.

[2017-05-17 09:05] mherwege opened #3476 "BasicUI issue with updating default slider for dimmer item"
Issue #3036 has only been partially solved.

This is my test sitemap fragment:
[code]
Licht_Zithoek is a dimmer item. Updating any of the first 3 updates the top 3 immediately, but not the 4th (default item). Updating the default item will update the other 3 for me, but that may be because of the binding that I am using that gives immediate feedback from the physical device. So I am not sure if is

[2017-05-17 09:20] mherwege opened #3477 "No setpoint icon in BasicUI"
I put a dimmer item in a sitemap as a setpoint, without defining any icon. There is a missing icon symbol showing. It looks for http://openhabianpi:8080/icon/setpoint?state=0&format=svg which does not exist.

[2017-05-17 11:23] lolodomo commented on #3477
It is not specific to Basic UI but to the classic iconset. Icon missing in the iconset.

With a recent change I have done, UIs will now display the none icon in this case.

[2017-05-17 11:27] lolodomo commented on #3476
Your issue is relative to a general issue with default widgets.
I will test your case but I am almost sure that my PR #3471 will fix this case too.

[2017-05-17 11:46] danchom commented on #3473
For me it is ok, because the status is current representation of state. Also if we change the topic, this will break existing core which relays on it.

[2017-05-17 12:13] msfunty commented on #3472
I changed the title.
Normal switch items work, but when mapping is involved it doesn't.

Sitemap (partly):
Switch item=Ventilation_Fan_Level label="Fan" mappings=[1="A", 2="1", 3="2", 4="3"]

Items (partly):
Number  Ventilation_Fan_Level "Fan [%d]" <selfAiring> 	{comfoair="fan_level"}

That problem also exist for items binded to KNX and others. So I assume it is not related to a certain binding.

[2017-05-17 12:20] wkelle2s commented on #3473
Extending on @BenediktNiehues post, it would be great if the rule status events would behave consistently compared to the thing status change events (see the [events documentation](https://github.com/eclipse/smarthome/blob/master/docs/documentation/features/events.md)).

That is, the RuleStatusInfoEvent would always be sent if the status info of a rule is updated, even if the status did not change

[2017-05-17 12:42] danchom commented on #3474
If we add more states and corresponding events for them this will slowdown the RuleEngine. Actually the running state is an internal state which does not permit to run a rule before ending of previous execution. Even I think we should not fire an event for this state because I don't see why it is interesting for the user. The user has to know if his rule is idle (resoled and ready for run)  or it

[2017-05-17 12:43] danchom commented on #3334
@adimova please check this.

[2017-05-17 14:24] #3433 closed

[2017-05-17 14:27] kaikreuzer commented on #3477
Which is imho a fair solution here.

[2017-05-17 14:27] #3477 closed

[2017-05-17 14:45] #3470 closed

[2017-05-17 18:21] 0nse commented on #3474
In the past, we witnessed several users complaining about not being able to see when rules execute. Of course, the tech-savvy ESH user is most likely aware of their rules and their effects. However, there are also users that do not have them all in mind and wonder about how the state of some devices has been achieved. That is why we were asked whether a user can inspect when which rules run/ran.

[2017-05-17 19:25] lolodomo commented on #3472
Maybe a consequence of my PR #3368. I will check.

[2017-05-17 20:56] hmerk commented on #3459
Even my further testings prooved my comment given yesterday, I implemented the requested "basicevent" subscription with #3480

[2017-05-18 04:46] lolodomo commented on #3352
The icon "none" is now displayed in this case by UIs.

[2017-05-18 04:46] #3352 closed

[2017-05-18 05:17] frhei commented on #3470
The provided fix works fine!
Thanks for solving :)

[2017-05-18 05:42] frhei opened #3481 "FolderObserverTest fails in project org.eclipse.smarthome.model.core.test"
Build of latest commit ea5b67372d8a7dd00c52e8d41c699e4a440a5d72 fails in test case FolderObserverTest of test project org.eclipse.smarthome.model.core.test:

[code]

Build Environment:
[code]

A property of the Files class in code line `Files.set.setAttribute (mockFileWithValidExt.toPath(), "dos:hidden", true);` is not found.
Code is only extecuted on windows system and a remark says
`//windows ne

[2017-05-18 07:24] danchom commented on #3474
I think the users want to see history of rule execution, which is available in logs, instead of actually rule execution (the running state arrears for very  small period of time)
As I understand that at the moment there is no way see if the actions are executed or not, because the condition can be unsatisfied.
May be we can extends the rule states with the following ones: unsatisfied and executing

[2017-05-18 08:16] maggu2810 opened #3482 "Thing Handler: act on label changes"
I would like to synchronize the thing label with an external system that also manages the name.
So, if the user changes the label of the thing the handler should send that change to the external system.

Currently there is no notification of the handler if the thing's label has been changed.

WDYT about?
Could we add a notification / callback so the handler knows about a changed thing label (same

[2017-05-18 08:32] hmerk commented on #3345
To be honest, I have no clue, as I don't have this device.
First thing I would check is if the original WeMo App showes the same results, this indicates that it is definitely the device changing its state automagically....

[2017-05-18 08:41] adimova commented on #3474
May I propose the present "running" event to be fired when the result of evaluation of the conditions is known and the event to contain this information as property, this will be a backward compatible change?

[2017-05-18 08:59] danchom commented on #3473
@wkelle2s  rule status represent current state of the rule. There is a state graph which defines how the  rule moves from one state to another.

I don't understand what do you mean.

[2017-05-18 09:04] danchom commented on #3474
You mean not to change the current states, but to delay the Running state event until the result of condition evaluation and add this result into the running event. Yes this will be backward compatible.
I think this is good proposal.

[2017-05-18 09:25] sjka commented on #3481
Thanks for reporting this, there indeed was a typo in the groovy test-case.
How about #3483, does it fix it (sorry, I can't try it out myself right now...)?

You can try it out by [checking out this PR locally](https://help.github.com/articles/checking-out-pull-requests-locally/):

[code]

[2017-05-18 11:24] kaikreuzer opened #3484 "Introduce a differentiation between handler and device configuration"
Currently, the config descriptions on Things are meant to define what configuration a handler requires in order to access and use a device.
It is a common misconception that those configurations should represent the configuration of a remote device itself.

Device configuration management is clearly a need for many (not externally managed) device bindings, though.

This issue is meant as a follow-

[2017-05-18 11:31] kaikreuzer commented on #3126
I am afraid it is not as easy as I had hoped; as our current API relies heavily on abstract classes, the API and the implementation are not cleanly separated.

With Java8 and default implementations on interfaces, we might have better mechanisms at hand now for our API design. But in order to come up with independent "API bundles", we will have to refactor (and break) a couple of existing APIs. Th

[2017-05-18 11:40] #1244 closed

[2017-05-18 11:44] #3459 closed

[2017-05-18 11:44] #3481 closed

[2017-05-18 12:02] kaikreuzer commented on #3482
Afaik, the label is a part of the Thing itself, so when it is updated, a ThingUpdatedEvent is sent - you could hence subscribe to these events and check old vs. new version to see if the label has changed. Would that be good enough for your requirement?

[2017-05-18 12:20] shoeper commented on #3244
@triller-telekom I've followed all the steps and the model generation was part of the setup tasks.

[2017-05-18 12:33] triller-telekom commented on #3244
No, the output looks fine so far. What problems are remaining now?

BTW: PLEASE!!! Do NOT work as a user root in a linux system, create a normal user account! (I am assuming you work as root because of the directory `/root/dev/`...

[2017-05-18 12:35] shoeper commented on #3244
Sometime ago http://localhost:8080/paperui/index.html was automatically launched and now throws a 404 although it's part of my run configuration. It looks like it starts now, but because of that I don't know how to verify.

It is just a VM at digital ocean because I found my laptop would be too slow. Am throwing it away once I figured out how to get it working.

[2017-05-18 12:54] triller-telekom commented on #3244
Does the basicui work for you? I.e. http://localhost:8080/basicui/app

Do you get any error messages on the console while ESH starts up? The problem view is empty now? And you used the checked in launch configuration?

[2017-05-18 13:05] shoeper commented on #3244
The basic UI works.

Console messages:
[code]

There are 18 errors remaining: https://seafile.zfn.uni-bremen.de/f/04bd933117/?raw=1

[2017-05-18 13:15] triller-telekom commented on #3244
You have to get rid of the remaining errors, there are still some model files not generated somehow.

Can you please try to rebuild the projects which have errors, i.e. select them and then "Project -> Clean -> Clean Selected projects" and let them build again?

If that does not work, then please run `Generate All Models.launch` from the `org.eclipse.smarthome.model.codegen` project

[2017-05-18 13:19] shoeper commented on #3244
Ok, am going to clean all projects and Generate all models.

[2017-05-18 13:33] shoeper commented on #3244
So there are 0 errors and 2247 warnings.

I generated the models, this is the output
[code]
Looks ok from my point of view.

Went to the targetplatform folder and ran the SmatHome launch configuration.
Console output is
[code]

And again, the basicui works while the paperui does not.

[2017-05-18 13:35] shoeper commented on #3244
BasicUI is available at http://localhost:8080/basicui/app
I'd expect the PaperUI at http://localhost:8080/paperui/index.html. But it says 404 page not found.

[2017-05-18 14:03] triller-telekom commented on #3244
did you activate the ui.paper bundle in the launch configuration under plugins?

[2017-05-18 14:47] shoeper commented on #3244
Yes

[2017-05-18 15:04] maggu2810 commented on #3482
Using the `ThingUpdatedEvent` works. Thanks for that tip.

[2017-05-18 15:04] #3482 closed

[2017-05-18 15:13] triller-telekom commented on #1694
Since this issue is now on our roadmap to be implemented, I just had a discussion with @kaikreuzer about how to proceed. The outcome of our discussion is as follows:

Since `Locale` and `Location` are somehow "related" we thought about adding a location to the existing [LocaleProvider](https://github.com/eclipse/smarthome/pull/1519). This way we would store the location also with config admin and

[2017-05-18 15:24] kgoderis commented on #1694
Q : Can the location be provided by a binding, for example a weatherstation with a built-in gps receiver?

[2017-05-18 15:30] triller-telekom commented on #1694
Interesting question. This feature is meant to be one that is provided as a system service to everyone and configured ONCE through the user at start-up. It can be changed later, i.e. if the user moves the installation somewhere else, but it is meant to be a rather static value.

A binding should not set any core configuration parameter, so the answer to your question would be no. However, one coul

[2017-05-18 15:35] kaikreuzer commented on #1694
@kgoderis I was just remembering the [ConfigAdmin Binding](https://github.com/openhab/openhab1-addons/wiki/Config-Admin-Binding) of openHAB 1 - this can actually be used to make a binding push information into the ConfigAdmin.

[2017-05-18 15:37] kgoderis commented on #1694
Can the concept be extended with a radius so that we have a geofence definition?

Sent from my iPhone

[2017-05-18 15:38] triller-telekom commented on #1694
May I ask what the use case for a geofence would be?

[2017-05-18 15:39] kgoderis commented on #1694
@kaikreuzer right indeed. Maybe we should build a OH2 version of that binding

[2017-05-18 15:41] kgoderis commented on #1694
@triller-telekom presence of object and persons for example

[2017-05-18 15:46] triller-telekom commented on #1694
@kgoderis : Why do you need a radius on the location for this scenario? If you want to calculate whether a person with position latX,lonY is within Z meters of the location you could calculate the distance between the 2 and at this place where you do this calculation you can also have the "radius", i.e. the max distance that you accept.

[2017-05-18 15:47] kaikreuzer commented on #1694
No, I think it is just fine where it is ;-)

[2017-05-18 16:18] kgoderis commented on #1694
@kaikreuzer no urge then to get rid of OH1 and have a consistent set of ESH/OH2 bindings? Too bad ;-)

[2017-05-18 16:27] kgoderis commented on #1694
Yes, that is possible of course, I was just thinking of https://github.com/eclipse/smarthome/pull/1042 and how to generalise that with respect to PointType

[2017-05-18 16:40] kgoderis commented on #3484
+1 and for completeness : https://github.com/eclipse/smarthome/issues/1977

Now, @kaikreuzer, how would you treat those pieces of information that are part of the configuration of the remote device, *and* that are required by the handle in order to access and use a device? If duplication is a no-no in these circumstances, that would mean you need a system where you store everything together, but m

[2017-05-18 16:49] #3184 closed

[2017-05-18 16:57] KidSquid1 commented on #3345
@hmerk

Discovered the following (looks to be a WeMo binding for Control4) while wandering the net....this may help us figure out what the additional channels are:

-------------------------------------------------------------------------------------------
OVERVIEW
-------------------------------------------------------------------------------------------

This driver is used to control a single M

[2017-05-18 17:01] hmerk commented on #3345
Great finding, I will have a closer look next week

[2017-05-18 18:06] IOOOTARobby commented on #3459
Guys, you are a war machine, thanks!

Please, could you suggest me the quickest way to test the fixed version?

[2017-05-18 19:07] lolodomo opened #3488 "Classic UI: update of widget visibility only when reloading the page"
In Classic UI, there is no dynamic display of widgets depending on a visibility attribute.
The visibility attribute is considered only when the page is reloaded.

PS: Basic UI is doing that dynamically.

[2017-05-18 19:12] lolodomo opened #3489 "Classic UI: update of a switch not working in a subpage"
For a switch element located in a subpage, when the switch value is updated externally, the value of the switch and its icon are updated as expected but the switch control itself is not.

If the switch is in the main page, it is working as expected.

[2017-05-18 19:14] lolodomo commented on #3489
If someone can give me tips on how is handled (and where in the code) the page refresh in the front side of Classic UI, I could take a look and try to fix this issue.

[2017-05-18 19:30] lolodomo commented on #3396
@htreu : for your comment about widgets at top level of a sitemap and not in a frame, here is the current situation:
* in Basic UI, the rendering is ok in my opinion
* in HABdroid, the rendering is ok but HABdroid is doing some wrong grouping if you have a widget between two frames
* in Classic UI, I improved the rendering by adding a frame around everything when you have at least one widget of th

[2017-05-18 21:35] frhei commented on #3481
Thanks for solving quickly!
Test executes now, but unveils more general problem with windows hidden files.
Please see PR #3490.

[2017-05-19 04:17] Snicka commented on #2998
Did this ever get merged into the mainline? I still see this issue with 0.9.0.201704261358 and clearing the OPML uri is the only fix. iHeartRadio is used on the system occasionally which causes all Text to Speech to stop working.

[2017-05-19 06:09] nanosonde opened #3491 "Sonos: Event published as "Undefined""
I was sent over from [this](https://github.com/openhab/openhab1-addons/issues/4902) issue concerning the Sonos binding.

The Sonos binding is causing an "Undefined" event on the MQTT eventbus topic when playing or pausing a Sonos speaker.

After some investigating I found out that this is possibly related to state transition "TRANSITIONING" which is also sent by the player besides the states "PLAY

[2017-05-19 06:11] lolodomo commented on #3472
Unfortunately, I can confirm the issue using the scene widget from the demo sitemap.

[2017-05-19 06:30] lolodomo commented on #3472
I think it has no link with my change but might be again a consequence of PR #3332.
@triller-telekom : could you please take a look ? You can reproduce the issue with the demo sitemap using the 2 "scene" widgets (selection and switch/mappings).
Probably the issue is the conversion of number to ON/OFF ?

[2017-05-19 06:34] triller-telekom commented on #3489
Have a look at [SwitchRenderer](https://github.com/eclipse/smarthome/blob/master/extensions/ui/org.eclipse.smarthome.ui.classic/src/main/java/org/eclipse/smarthome/ui/classic/internal/render/SwitchRenderer.java)   . The classicui is prerendered on the server side and then the client only polls the newly created html site from the server in a [loop](https://github.com/eclipse/smarthome/blob/master/

[2017-05-19 06:35] rodneyrehm opened #3492 "Thing Network Graph"
I'm a frontend developer at qivicon, where we've been dabbling (internally) with visualizing the ZigBee mesh network to better understand certain problems we have. We've realized that this sort of visualization could help our users better understand their own smart home networks. @kaikreuzer alerted me to similar (virtually identical) efforts @cdjackson has done, so here's my take on baking this i

[2017-05-19 06:47] lolodomo commented on #3472
I think the fix is to not try converting to OnOffType when the widget is a switch with mappings.

[2017-05-19 07:22] lolodomo commented on #3491
Yes the transitioning state exists since ever and is only used by Sonos when going from pause/stop to playing state.
When this state is used by Sonos, thee binding is setting the channel to UNDEF but there is always another final state dent by Sonos that will lead to the channel being set to a non UNDEF state.
All this looks good to me.

[2017-05-19 08:04] maggu2810 commented on #3282
@kaikreuzer @sjka Any change to make this consistent? We will break the API and so every UI and other consumers of the event stream.
We removed the `Type` postfix sometime on the REST API, too.
So I think it is a way to go in front of a 1.0 version.

[2017-05-19 08:09] triller-telekom commented on #3244
Ah I forgot that there is an additional step necessary for paper ui. Unfortunately it is hidden [here](https://www.eclipse.org/smarthome/documentation/development/notes.html).

[2017-05-19 08:16] kaikreuzer commented on #3282
@maggu2810 I agree, this is inconsistent and was probably missed when we changed the ItemResource. It looks as if `ItemEventFactory` is the one to address as well as this uses the simple class name of the type, which leaves the "Type" postfix in place.

[2017-05-19 08:26] htreu commented on #3396
@lolodomo I guess your current solution in #3471 does fix this problem for most situations. And I agree that especially

would make for a complex change to fix. This can be closed then.

[2017-05-19 08:29] #3396 closed

[2017-05-19 08:30] kaikreuzer commented on #3396
Actually - I better leave it open as it will be auto-closed once #3471 is merged.

[2017-05-19 09:24] triller-telekom commented on #3472
Indeed you are right. In this case the Sitemap Switch points to  a NumberItem which usually is not on/off but multiple settings. I created a PR to fix this.

But I am curious on how many more bugs we find due to my conversion method in PR #3332... Initially I fixed a bug with it but it looks like a lot of functionality relied on that bug ;-)

[2017-05-19 09:46] lolodomo commented on #3472
Your PR was a clear improvement but it would have needed more testing ;)

[2017-05-19 10:28] codefalk commented on #2775
Hi, any news on this - something I can test?

[2017-05-19 14:18] sjka commented on #2998
No, there never was a PR to fix this. So we better re-open this.

[2017-05-19 15:32] lolodomo commented on #3489
I see that we are using `checked="true"`.
Wouldn't it be better to use `checked `or `checked="checked"` ?
http://stackoverflow.com/questions/7851868/whats-the-proper-value-for-a-checked-attribute-of-an-html-checkbox

[2017-05-19 16:49] lolodomo commented on #3208
@sjka @kaikreuzer  : please close this issue, the merged PR #3471 fixed it.

[2017-05-19 16:49] lolodomo commented on #2933
@sjka @kaikreuzer  : please close this issue, the merged PR #3471 fixed it.

[2017-05-19 16:50] lolodomo commented on #2370
@sjka @kaikreuzer  : please close this issue, the merged PR #3471 fixed it.

[2017-05-19 16:50] lolodomo commented on #2295
@sjka @kaikreuzer  : please close this issue, the merged PR #3471 fixed it.

[2017-05-19 16:51] lolodomo commented on #3476
@sjka @kaikreuzer  : please close this issue, the merged PR #3471 fixed it.

[2017-05-19 17:59] #3476 closed

[2017-05-19 18:00] #2295 closed

[2017-05-19 18:00] #2370 closed

[2017-05-19 18:00] #2933 closed

[2017-05-19 18:00] #3208 closed

[2017-05-20 08:28] lolodomo commented on #3489
This bug is really not obvious to reproduce but I finally found how.
To reproduce it with the demo sitemap, duplicate the "DemoSwitch" switch from the page "Widget Overview" into the page "Group Demo".
[code]

Start OH and open the "Widget Overview" page in Classic UI and Basic UI. Use Basic UI to toggle the switch. The change is OK in Classic UI. Now go to the "Group Demo" with Classic UI. Toggle

[2017-05-20 08:35] lolodomo commented on #3489
In the HTML code, we have:
[code]

What is WA ? What backend method is finally called by "WA.Request" ?

[2017-05-20 08:42] lolodomo commented on #3489
Ok I found, WebAppServlet.service is called.

[2017-05-20 09:32] lolodomo commented on #3489
Ok, I can confirm that the backend is returning a correct page with or without "checked=true" to the frontend.
I don't know how it is then handled by the frontend but there is probably a conflict between the result of 2 different pages http://192.168.1.x:8080/classicui/app#_1001 and http://192.168.1.x:8080/classicui/app#_1001. Could it be due to a kind of cache in the browser ? **Is there a way in

[2017-05-20 09:37] lolodomo commented on #3489
Just to be clear, when you only access one of the 2 subpages, it is working well. The problem appears as soon as you have opened the 2 subpages.

[2017-05-20 13:57] lolodomo commented on #3176
I fixed this issue for Classic UI, it was easy compared to what must be implemented for Basic UI.

Note that if the linked item is a group with a function, the title will be updated only when the group state changes. So if your label indicates for example the number of opened windows, the title will change only when the value is going from non zero to zero or from zero to non zero. It is due to th

[2017-05-20 18:09] lolodomo commented on #2902
I fixed this problem for Classic UI.

I will fix it later for Basic UI. I know how to fix it. The bug is here: https://github.com/eclipse/smarthome/blob/master/bundles/io/org.eclipse.smarthome.io.rest.sitemap/src/main/java/org/eclipse/smarthome/io/rest/sitemap/internal/PageChangeListener.java#L129

[2017-05-20 19:07] lolodomo commented on #2902
I also fixed the problem for Basic UI.

[2017-05-20 19:24] lolodomo commented on #3175
The frame title is also not updated when the frame is linked to an item.

[2017-05-21 06:23] michaeljoos72 opened #3498 "Width & Refresh of Images in BasicUI"
Hi

I've added a Webcam-Image to my Sitemap:

Image icon="camera" url="http://user:password@xxx.xxx.x.xx/axis-cgi/jpg/image.cgi?camera=1&resolution=640x360&compression=25" refresh=10000

With that I found 2 issues:

1) Autorefresh doesn't work in BasicUI. Tried that with Chrome and Edge. Classic UI looks good!
2) BasicUI doesn't scale the image to it's width. In ClassicUI this is, as I can see, se

[2017-05-21 07:12] lolodomo commented on #3176
I have even fixed the case of the group item in the title. So this issue is fully fixed by my PR.

[2017-05-21 09:57] maggu2810 commented on #1694
sounds reasonable for me

[2017-05-21 10:35] #586 closed

[2017-05-21 13:24] sihui62 commented on #3460
Unfortunately the fix does not seem to work or there is a new issue:

https://community.openhab.org/t/astrobinding-throws-an-nullpointer-error/27790/15?u=sihui

[2017-05-21 17:49] kaikreuzer commented on #3498
I would also vote to scale images in width, but I remember that @resetnow was against it as he said that this leads to too huge images that might not fully fit on the screen (wrt their height).
But maybe he is willing to reconsider it after I am not alone anymore asking for this feature ;-)

[2017-05-21 17:53] resetnow commented on #3498
Do you think we could add `width="percentage"` to Image sitemap member? This way, we could make BasicUI images 100% by default and provide a way to override that.

[2017-05-21 17:54] kaikreuzer commented on #3498
No, I wouldn't want to add css-like styling - the layout is left on purpose to the UIs.

[2017-05-21 18:01] resetnow commented on #3498
Well, it's up to you in the end of the day, but just for the reference here is how it looks on 2k screen:

![screenshot from 2017-05-21 20-57-52](https://cloud.githubusercontent.com/assets/2057191/26286224/9d4beec0-3e68-11e7-806d-584bf01dcae8.png)

Maybe a default image width as BasicUI setting?

[2017-05-21 20:12] resetnow commented on #3498
Also, charts can stay at their default width, since they are a separate entity. And images can be enlarged.

[2017-05-21 20:13] cweitkamp commented on #3416
Today I pushed a first shot in my ESH [Fork](https://github.com/cweitkamp/smarthome/tree/AstroScheduler). The code compiles and I put the .jar file in my openhab2/addons folder. I configured some events in my test environment and let it run some days.

@kaikreuzer Should I already open a PR and mark it with [WIP] in the title?

[2017-05-21 22:38] lolodomo commented on #3498
For the refresh, i should have already fixed it. To be tested when the fix is available in OH snapshot.

[2017-05-22 05:03] sjka commented on #2190
I just had another look at it (sorry it fell off my desk...). I _think_ I figured out the reason for the greyed out markers: The script and model runtimes trigger another validation, interfering with the same resources that are displayed in the editors. So while in #2873 the items runtime bundle was necessary to fix the item resolution, the rules and script runtime should not have been added. I wi

[2017-05-22 05:33] htreu commented on #2963
I´m about to push a PR for this: Right now the complete collection from the storage will be serialised to JSON and held as a separate String in memory. This can get really large as your observations show. My solution is to directly stream during JSON serialisation which will reduce memory usage significantly for large collections. In addition I´m trying to build something similar for the other RES

[2017-05-22 05:34] kaikreuzer commented on #3498
I like it! Btw, charts can be requested with different resolutions, so that the font size is smaller, so you simply have a proper hi-res image. (don't ask me for the details right now, though).

[2017-05-22 05:36] kaikreuzer commented on #3416
Yes, please do so!

[2017-05-22 05:56] resetnow commented on #3498
Ok — then we can resize images to 100% width by default. I think I'll use a userscript for desktop.

[2017-05-22 07:45] sjka commented on #3460
Please bear in mind that openHAB does not use the Eclipse SmartHome master branch directly, but only consumes the latest "stable" build. Here you can see when it was built the last time and what it included: https://hudson.eclipse.org/smarthome/job/SmartHomeDistribution-Stable/changes

As you can see, my fix didn't make it into stable, hence also not into openHAB yet.

[2017-05-22 07:48] sihui62 commented on #3460
Thx for clarification. As a non programmer those details are not easy to catch ;-)

[2017-05-22 08:37] maggu2810 commented on #3460
Perhaps we could create a wiki page for that information (similar to e.g. https://github.com/eclipse/smarthome/wiki/ESH-used-in-openHAB) and only add a link to that one in the comments. It seems that this information is added to multiple issues the last days (IMHO).

[2017-05-22 08:59] triller-telekom commented on #3489
@lolodomo Thank you for your extensive analysis!

In the long run we would like to get rid of the classicui anyway, in favor for the basicui. So if you find such nasty bugs which afford a lot of work, I think its not worth fixing them in classicui unless you are really really interested in fixing it :). However, if you find "one line fixes" for classicui, feel free to do them.

[2017-05-22 09:14] sjka commented on #3460
Thanks for pointing me to it. Somewhere in my head I knew we had it, but didn't remember to look it up.

No need, the one you referenced already contained the missing piece of information.

That's all it would have needed.

[2017-05-22 12:13] #2902 closed

[2017-05-22 13:44] #2396 closed

[2017-05-22 14:02] htreu commented on #2963
Hi @bodiroga and @shoeper: It would be awesome to get some feedback if you could test with the results from the PR #3500. I only did rudimentary memory tests with VisualVM but not on a restricted device. In case of the ~200k data points from MySQL the result was a decrease of ~200MB in memory usage.

[2017-05-22 14:29] triller-telekom commented on #3344
Having rules initialized after everything else is initialized will be possible once #1896 is resolved.

@dikkedimi: Is your bug reproducible? I.e. does it occur every time you restart openHAB, or just "sometimes"? It would also be nice to have some log output about which services have been started already, i.e. in which state the system is when it tries to load the rules.

[2017-05-22 14:38] #3472 closed

[2017-05-22 15:22] cweitkamp commented on #3416
PR #3501

[2017-05-23 07:31] danchom commented on #3474
@kaikreuzer, @sjka, @maggu2810 , what do you think? Do we have to delay the Running state event until end of condition calculation and add RuleStatusDetails=UNSATISFIED, when the condition check was not passed.
The proposal is to delay only the status event for the running state, not to change the states themselves. Rule will go into running state immediately when the rule is triggered.

[2017-05-23 07:35] ctron opened #3502 "Publish artifacts on Maven Central"
I just wanted to build a simple example for Eclipse Smart Home, which would be needed to be built inside the already existing project. That project uses a Maven build with the maven-bundle-plugin and thus having artifacts on maven central would be the easiest approach.

However I was unable to find artifacts of Smart Home on Maven Central.

[2017-05-23 07:54] maggu2810 commented on #3502
I don't think the bundle will be published to Maven Central before v1.0.0
Why not using the Eclipse SmartHome maven repository of the Eclipse infrastructure?

[2017-05-23 07:57] maggu2810 commented on #3502
* https://repo.eclipse.org/content/repositories/smarthome-releases/
* https://repo.eclipse.org/content/repositories/smarthome-snapshots/

I assume you should use the snapshot one to get the recent artifacts.

[2017-05-23 11:52] ctron commented on #3502
Yes, that is what I am doing now 😉

However this approach has two drawbacks. 1) Adding an additional repository to makes it slower when working with snapshot updates, maven pings all repositories for each artifacts. So this will double the download time. 2) That causes some hickups when combining this with the Karaf Maven plugin and validation. At least for me. I resorted to adding bundle dependen

[2017-05-23 11:54] sjka opened #3504 "[Scheduler] ConcurrentModificationException in ExpressionThreadPoolManager"
When testing #3501 the log showed plenty of these:

[code]

[2017-05-23 11:54] sjka commented on #3504
@kgoderis could you please have a look?

[2017-05-23 12:18] sjka opened #3505 "[Scheduler] ArrayIndexOutOfBoundsException in scheduler"
When trying it out #3501, I ran into this here:

[code]

[2017-05-23 12:21] sjka opened #3506 "[Scheduler] Excessive use of SimpleDateFormat"
When looking into [AbstractExpression.java](https://github.com/eclipse/smarthome/blob/3ae5d7b1b284f2bde6199bfe8dad950fd38cae39/bundles/core/org.eclipse.smarthome.core/src/main/java/org/eclipse/smarthome/core/scheduler/AbstractExpression.java), I noticed it is using `SimpleDateFormat` excessively, mainly for logging on trace level - regardless of whether logging is enabled for this level or not. Th

[2017-05-23 12:22] sjka commented on #3505
@kgoderis could you please have a look?

[2017-05-23 12:23] sjka commented on #3506
@kgoderis could you please have a look?

[2017-05-23 12:39] sjka commented on #3505
Having discovered #3506 I suppose this could be the root cause: It's using a static (!) SimpleDateFormat. And this class is well-known for not being thread-safe as much as it could get...

[2017-05-23 13:28] maggu2810 commented on #3474
Publishing every state (running:triggered, running:check-condition, running:execute-actions) is IMHO to noisy for rules.

I don't know if we need a general concept to publish the rules running state as events at all.
I would be interested in the opinions of the others...

If some users want to get a feedback about the execution, I think there are several ways to give some feedback (a special actio

[2017-05-23 14:19] maggu2810 commented on #3502
@ctron I agree with your points.
I create "releases" of ESH using a fixed classifier myself from time to time to have a non-snapshot and fixed reference in a custom Maven repo. This way I don't need to resolve the snapshots all the time.
Publishing artifacts to Maven Central is perhaps more a topic to PMC then the committer, so let's comment this topic by @kaikreuzer.

IMHO
If we ever decide to pu

[2017-05-23 14:49] digitaldan commented on #1093
@kaikreuzer if you do not object, I would like to change our alexa app to use name spaced tags.  I think this is a good compromise for now.

[2017-05-23 19:24] kaikreuzer commented on #3502
Well, @ctron is on the PMC himself, so he actually knows best what there would be to do!
I think we should only publish "real" releases (i.e. the ones that have gone through the Eclipse process) to Maven Central (and not any "fixed classifier" builds).
So @ctron, the main issue is that we are not doing releases often enough. If I'd tell you that 0.9.0 will be on Maven Central, it wouldn't really h

[2017-05-23 19:47] kaikreuzer commented on #1093
Sorry, but I do object. This is not what the tags were introduced for and taking this route now just because it feels most pragmatic opens the door to a potential chaos in future.

Maybe as a background so that you understand my hesitation: I have once seen an ESH-based system that used tags for almost everything - there were item tags for thing properties and configuration, for Z-Wave network inf

[2017-05-23 19:51] grouchal commented on #1093
I think this issue needs to swiftly be bought to a conclusion, or as you can see people are just going to implement their own ideas. As this issue has been open 16 months now, it must be time to decide.

[2017-05-23 19:53] kaikreuzer commented on #1093
You should note that we are not talking about this issue here, but about finding a solution for Alexa-specific configuration. Probably best to create a completely separate issue for such a discussion.

[2017-05-23 20:43] SpeedmaxX commented on #1093
Hi, I think we should solve this, especially as a lot of people are waiting e.g. for rollershutters for "siri's HomeKit". External config files are ok, too. But, please let's make a decision. Thanks!

[2017-05-24 03:56] grouchal commented on #1093
Exactly @speedmaxX - I was referred to this issue as the blocker to HomeKit integration and since I have been watching it nothing has happened. It just needs a decision to be made.

[2017-05-24 05:25] #3455 closed

[2017-05-24 06:43] kgoderis commented on #3506
@sjka Indeed, that was all from before someone pointed me out isTraceEnabled() (or alike) on Logger.

[2017-05-24 09:22] triller-telekom commented on #3209
@kaikreuzer this issue has been implemented in pr #3210. Can you please close it?

[2017-05-24 09:27] #3209 closed

[2017-05-24 09:36] htreu opened #3513 "PaperUI fails to render boolean thing-type parameter with context=network-address"
Given a thing-type configuration with the following config-description snippet:

[code]

The switch for the handling parameter is not rendered in PaperUI. When the <context> tag is removed the switch gets rendered. PaperUI should ignore all unknown <context> values and behave just like it was not set.

[2017-05-24 09:37] htreu commented on #3513
@aounhaider1 could you have a look at this please?

[2017-05-24 11:07] kaikreuzer commented on #2998
@sjka & @lolodomo: What was https://github.com/eclipse/smarthome/pull/3037 about then?

[2017-05-24 11:51] kaikreuzer commented on #3099
Sorry, but I am completely lost now.
1+2 do not make any sense to me - we talked about having configurations on rule level as a new feature, but 1+2 would destroy any potential use of them; if every placeholder is resolved anyhow, we would not have to store the configuration in the first place.

Not it is not - it is a different rule now, which only behaves (currently) in the same way as the previ

[2017-05-24 12:09] kaikreuzer commented on #3099
As a solution, I would still stick with the initial one:

If you don't like that approach as it is too implicit, we might make the "to-be-resolved" parameters explicit within the rule templates - e.g. by introducing two different config descriptions to them instead of a single one as right now.

[2017-05-24 12:33] kaikreuzer commented on #3474
I also agree with @danchom and @maggu2810 that several events per execution would be too noisy and of no real use.

My assumption actually is that conditions should always be processed VERY quickly and not delay the execution. If a trigger triggers, it will expect that the actions are executed immediately and (3rd-party) conditions should not delay this.

But thinking about this, I actually agree

[2017-05-24 12:40] #3282 closed

[2017-05-24 13:06] sjka commented on #2998
ouch, good fooled by the missing auto-linking... So indeed, it _should_ be fixed.
Nevertheless, I can't explain why @Snicka still sees this. @lolodomo do you?

[2017-05-24 13:13] sjka commented on #3474
I agree so far, conditions should not be considered as "RUNNING" - from a user's perspective.

However, if I understood it correctly, a rule will only be in "RUNNING" status until the action handler returns, i.e. long-running stuff will not be covered anyway. Maybe I'm the only one here, but to me this feels confusing. That I'd rather see nothing flickering in the UI if it is lying to me anyway.

[2017-05-24 13:41] sjka commented on #3474
Oh, I just learned that rule actions in fact are executed synchronously. So please forget my above comment.

[2017-05-24 14:11] digitaldan commented on #1093
This I agree with, I also do not think the tagging is necessarily the best solution.   Its a bit confusing  with so many layers of tags (system categories, custom categories, default tags and user defined tags), and I could see this getting abused.  I admit I don't work much in this part of the code, so I have not given it the same amount of thought you have.

My hesitation in producing a new REST

[2017-05-24 15:38] kaikreuzer commented on #3453
Well, so they depend on each other - not by Java code but by relying on specific outputs from the other trigger.

This is only an internal implementation detail, nothing tells you that it stays like this as this isn't part of any API contract. That's why I said "Every module potentially gets its very own callback instance", which imho actually might be a cleaner architectural approach as it clearl

[2017-05-24 17:30] mhilbush opened #3516 "PaperUI has empty Control page"
The Control page is completely empty if I have Things in Uninitialized state.  The Things are Uninitialized because the binding for those Things is uninstalled.  If I delete those Things, the Control page is populated again.

Here's an image showing the empty Control page, along with the network trace showing all the Things being received by PaperUI.
<img width="1440" alt="screen shot 2017-05-24 a

[2017-05-24 17:32] mhilbush commented on #3516
Here's the Control page after deleting the Uninitialized Things.
<img width="1412" alt="screen shot 2017-05-24 at 1 31 33 pm" src="https://cloud.githubusercontent.com/assets/19286354/26416883/6a6cf61a-4085-11e7-8a73-4a74ddcf6510.png">

[2017-05-24 17:42] kaikreuzer commented on #3516
Thanks for figuring out the cause for this!
@aounhaider1 or @htreu Would you have a chance to have a look?

[2017-05-24 17:51] mhilbush commented on #3516
Thanks.  I've been scratching my head over this one for quite a while.  I tried a bunch of different things (no pun intended).  I deleted those Uninitialized Things for another reason, then I noticed that the Control page was working again.  As the saying goes, it's better to be lucky than good.  :-)

[2017-05-24 18:12] lewie commented on #3195
I have tested JavaScript Rules and have the effect, that sometimes a deleted Script was not deleted from "openHAB registry" after it was deleted out of script files. It then continues until I restart openHAB again.

I have suspected the error in my JavaScript, but that fits rather to this issue?

Because: [The same effect also appears with jython scripts.](https://community.openhab.org/t/openhab-2

[2017-05-24 19:21] martinvw commented on #3351
Pitty, was no one yet able to make progress on this, it's blocking openhab/openhab2-addons#2019

Was it confirmed to happen, do we have any call traces where the calls actually come from, because the code  I see in openhab/openhab2-addons#2019 does do an async initialization.

And the documentation (which can of course be incorrect or outdated) states that `ThingHandler.thingUpdated` is:

[2017-05-24 19:26] martinvw commented on #3351
There it starts, it was changed in #3088

I think it might actually be really closely related to that change. @sjka can you look along with me?

[2017-05-25 13:06] #3516 closed

[2017-05-25 14:19] kaikreuzer opened #3518 "[Paper UI] Sliders for Dimmer items have lost % sign"
So far, the Paper UI showed the textual percent value for sliders. This does not seem to be the case anymore:

<img width="382" alt="screen shot 2017-05-25 at 16 18 00" src="https://cloud.githubusercontent.com/assets/3244965/26453947/d470e036-4165-11e7-8d89-65150f70e2b1.png">

@aounhaider1 & @htreu Any idea what might have caused this change?

[2017-05-25 14:56] kaikreuzer opened #3519 "[Paper UI] Brightness slider must not send HSB commands"
Using the brightness slider (the middle one) for color channels in the Paper UI results in HSB commands being sent. Instead, it should send PercentTypes only, because otherwise it is not possible to adjust the brightness if the hue&saturations settings might not be correct in the UI (e.g. because the color has been adjusted using a color temperature control).

As far as I remember, this used to be

[2017-05-25 15:43] kaikreuzer opened #3520 "NPEs when initializing items"
The demo setup of openHAB now results in such exceptions in the log:

[code]

See also https://community.openhab.org/t/java-lang-nullpointerexception-every-few-seconds/28944

[2017-05-25 17:13] martinvw commented on #3520
If you agree I would like to intercept it way earlier and transform the `null` to a `UnDefType.NULL` let me check where that should be done then...

[2017-05-25 17:30] martinvw commented on #3520
Found something, preparing a PR

[2017-05-26 05:51] martinvw opened #3522 "Upgrading commons.lang to commons.lang3"
Sometimes developer of bindings tend to bring along commons-lang3 for which I cannot completely blame them.

Is there a reason we choose for commons.lang 2.6, it is the newest version not being commons-lang3 but dates back to january 2011. Commons lang broke backwards compatibility (by switching package structure) to include support for Java 5...

**So my question**: can we please upgrade with of

[2017-05-26 06:59] sjka commented on #3522
Only that its API is not compatible, see e.g. https://github.com/eclipse/smarthome/issues/2801#issuecomment-272413821. Apart from that I'm not aware of any good reasons.

That's not so ideal for solutions running on devices having very limited resources as it adds ~500kB to the footprint. We certainly _will_ need a transition phase, but we should keep it as short as possible!

Talking about size:

[2017-05-26 07:08] martinvw commented on #3522
Good that you added the reference to the other issue, thanks!

Is the count only for smart home or also for openHAB

[2017-05-26 07:18] sjka commented on #3522
Good point. The count is for ESH only.

In openHAB2-addons the numbers are similar but definitely a bit more diverse:

[code]

However, it clearly is not representative as the majority of the bindings is "hiding" in PRs.

Anyway, whatever we do here in ESH, openHAB of course is free to decide differently and allow more dependencies than the ESH core.

[2017-05-26 07:26] htreu commented on #2384
The initial build of PaperUI is now part of the manual setup tasks. Once #3515 is merged this should be fixed then.

[2017-05-26 07:30] kaikreuzer commented on #3522
Well, yes and no. So far we said that openhab bindings in openhab2-addons should respect the very same rules as ESH bindings, so that they are easily interchangeable. Otherwise we would not be able to potentially move bindings to ESH (as just done with Astro) anymore.

[2017-05-26 08:03] sjka commented on #3351
Yes, I think I know what the problem is here:

1. There indeed was a conscious decision to also inform the handler about an update as soon as the `initialize()` method returned. The assumption is the even if the Thing is not yet in ONLINE/OFFLINE/UNKNOWN status, the ThingHandler still started doing something, hence also needs to be informed if something changed.  You are right, the documentation n

[2017-05-26 08:22] #2384 closed

[2017-05-26 08:24] htreu commented on #2327
I will take a look at this and will propose a first version of such a bundle. stay tuned.

[2017-05-26 08:27] kaikreuzer commented on #3195
@lewie I doubt that this is related, because the JSR233 rules are not "imported" but provided through the ScriptedRuleProvider.

[2017-05-26 09:06] htreu opened #3523 "[BasicUI] Icons & font MaterialIcons-Regular are missing"
In BasicUI some of the icons do not show up, i.e. the group navigation (arrow left/right) or the color picker items. In addition the requested font MaterialIcons-Regular is not available from the web/fonts folder. I wonder why this ever worked because the files for this font never were part of the repository according to git history.

![image](https://cloud.githubusercontent.com/assets/1729268/264

[2017-05-26 09:25] kaikreuzer commented on #3523
@htreu I didn't look into it, but just want to mention that all looks good in the very latest openHAB distro build nonetheless:

<img width="1058" alt="screen shot 2017-05-26 at 11 25 37" src="https://cloud.githubusercontent.com/assets/3244965/26489046/112d9b36-4206-11e7-81e0-06e06c16352c.png">

[2017-05-26 10:36] htreu commented on #3523
In openHAB the fonts are provided by a fragment, see https://github.com/openhab/openhab-core/tree/master/bundles/org.openhab.ui.basicui/patch/web/fonts

[2017-05-26 10:38] aounhaider1 commented on #3518
It is caused by https://github.com/eclipse/smarthome/pull/3466 which solved https://github.com/eclipse/smarthome/issues/3455. I intentionally removed the manual formatting done in PaperUI. Now it only formats it according to the given pattern. But I think to accommodate what you said, we can check if the pattern is empty and can do manual formatting in that case. Wdyt?

[2017-05-26 10:50] kaikreuzer commented on #3518
We only render the slider for Dimmer items which are by definition always % values - so yes, I would say if there is no formatting pattern, the % should always be displayed as the default.

[2017-05-26 10:55] htreu commented on #3523
It seems the font provided by the above mentioned fragment in openHAB is different from the MaterialIcons-Regular font which is already part of ESH in PaperIU.

I suggest to add the PaperUI version of the font to BasicUI (we already have a CQ for this version) and remove the patch here.

@resetnow is there anything to be said against this?

[2017-05-26 12:55] aounhaider1 commented on #3519
It is still sending brightness as a percent value between 0-100.

[2017-05-26 12:59] #3351 closed

[2017-05-26 13:00] #3518 closed

[2017-05-26 13:02] kaikreuzer commented on #3519
Can you prove this by showing a log of the runtime when adjusting the slider? I only saw HSB events being logged there... Do we somewhere convert the command from percent to HSB?

[2017-05-26 13:05] lolodomo commented on #3175
PR #3526 is fixing the issue with the frame title.
Remains to fix the page title.

[2017-05-26 13:56] #3505 closed

[2017-05-26 13:56] #3506 closed

[2017-05-26 14:00] #3504 closed

[2017-05-26 20:05] #3450 closed

[2017-05-26 20:08] resetnow commented on #3523
IIRC the mentioned commit contains changes​ caused by using the same Material Icons font as PaperUI. I'll check if it's correct. I have to note that for me the fonts provided by openHAB overlay work well.

[2017-05-26 21:27] kaikreuzer opened #3527 "initialize() is called even though not all required config params are set"
I came across this bug while testing the Tradfri binding:

Its bridge defines an host and a token as required configuration parameters.
The discovery naturally only fills the host, but leaves the token null.
Nonetheless, the ThingManager calls `initialize()` on the bridge handler.

Here's the log:
[code]

[2017-05-27 10:28] martinvw commented on #3520
Only one part was fixed, a real fix is still needed, see discussion in the PR

[2017-05-27 10:41] smerschjohann opened #3528 "Jsr223 Rule-Id Generation"
In the current master branch, the generation of ruleids für jsr223 rules is broken. The following change has to be changed or reverted: https://github.com/eclipse/smarthome/commit/55e50bb55eb848710cb4c502e3b6902722ebdc5b#diff-4bf68980513df193d701ca2fdaceb9cbR172

It seems that the hashCode() cannot be used to uniquely identify the scripts. Futhermore, the "new names" do not contain the classnames

[2017-05-27 10:43] smerschjohann commented on #3528
see also the discussion here: https://community.openhab.org/t/openhab-2-jython-support/27777/14

[2017-05-27 11:34] sjka commented on #3520
That was Github's auto-close.

[2017-05-27 12:58] kaikreuzer commented on #3528
Imho it should - so if it currently does not result in a proper hash value, the implementation of the `hashCode()` method should be changed in the rules.

Right, this resulted in far too long IDs (and incredibly ugly labels, which weren't usable in the UI).

If people need a way to identify where the rules come from, shouldn't there simply be a way for the user to define an id himself within a rul

[2017-05-27 20:21] m-memova commented on #3456
@sjka, I am currently rewriting the tests but I noticed something that is a little bit strange to me. In the FrontierSiliconRadioConnection class there is a method `public FrontierSiliconRadioApiResult doRequest(String requestString, String params)`. And that method could return null. But in the FrontierSiliconRadio class it is called as a void method. (`conn.doRequest(REQUEST_SET_MODE, params); `

[2017-05-29 05:27] sjka commented on #3527
Hm, that doesn't really make sense... I cannot reproduce it here. Therefore I created #3529 in order to better understand what's going on.

[2017-05-29 06:23] htreu commented on #3523
@resetnow yes the overlay works well. But in ESH the font is completely missing and the version from PaperUI (which would be nice to use since it already has CQ) uses the "old" codes.

[2017-05-29 06:56] danchom commented on #3474
The RUNNING state is used by the RuleEngine to run the rule only when previous ran was finished. If we set Running state after conditions' check  then the triggers can try to run the rule concurrently  and the result will be unpredictable.
May proposal was to delay the event for the running state (after the condition check), not to change the rule states.
The other option is to add a new state i.e

[2017-05-29 07:02] danchom commented on #3474
There is another option, to remove the running event at all (not running state). This will increase the performance. The rule engine execution can be check in the log. For me this is best approach.

[2017-05-29 07:21] antares2001 opened #3530 "NullPointerException on groups as switches in sitemaps"
Referencing the discussion here https://community.openhab.org/t/null-pointer-exception-on-group-items/28167/10 I currently experience the following issue (copying the forum post) running the version 2017-05-28 of OpenHAB (unstable, from jfrog apt repository on Debian 8).:

I have the following line in my sitemap:

`Switch item=gFensterRollos label="Fensterrolläden" icon="rollershutter"`

and items

[2017-05-29 07:25] kaikreuzer commented on #3530
@triller-telekom Could you please have a look?

[2017-05-29 07:28] sjka commented on #3530
could be related to #3520

[2017-05-29 07:56] maggu2810 commented on #3528
Isn't it a common mistake to use the `hashCode()` method for a unique identification?

[2017-05-29 08:03] maggu2810 commented on #3528
Isn't it a common mistake to use the `hashCode()` method for a unique identification?

There are several articles about the topic e.g. part 2 "HashCode collisions" of http://eclipsesource.com/blogs/2012/09/04/the-3-things-you-should-know-about-hashcode/

[2017-05-29 09:13] maggu2810 opened #3533 "Test failure(s): FirmwareUpdateServiceOSGiTest: correct firmware status"
https://travis-ci.org/eclipse/smarthome/builds/237073476

[code]

[log.txt](https://github.com/eclipse/smarthome/files/1035384/log.txt)

[2017-05-29 10:22] kaikreuzer commented on #3528
Thanks, you are obviously right that this was indeed a bad idea.

Having another look at it, I have now adapted the code to follow the idea of the Rule Engine in general: If there is no user defined id provided, it is simply left to the Rule Engine itself to determine a unique id for the rule. Additionally, I have adapted the ids of the modules as well, since they can simply be continuously number

[2017-05-29 11:03] dushanlk opened #3535 "How to set addons location"
I'm developing a new extension service for eclipse smarthome. But still I couldn't set add-ons bundle location to karaf config. When fetching properties for given service id using configuration admin it's null. When I was looking on OpenHab shell, it has

[code]
Still I couldn't figure out how this came to config from OpenHab. Is this came from OpenHab extension service or somewhere else. Can you

[2017-05-29 11:31] sjka commented on #3535
This is a question about openHAB, so please ask in their community forum: https://community.openhab.org/

[2017-05-29 11:31] #3535 closed

[2017-05-29 12:27] maggu2810 commented on #3533
[code]

[2017-05-29 12:30] maggu2810 commented on #3533
@sjka You touched that file the last time. Could it be related?

[2017-05-29 14:44] #3519 closed

[2017-05-29 16:56] volkerrichert opened #3539 "/rest/items returns 500 NullpointerException if the state of an Item is null"
Hi!

The call to /rest/items results in a internal server error, if an item state is null. I debug it down to EnrichedItemDTOMapper.java#46 [https://github.com/eclipse/smarthome/blob/master/bundles/io/org.eclipse.smarthome.io.rest.core/src/main/java/org/eclipse/smarthome/io/rest/core/item/EnrichedItemDTOMapper.java#L46]

`String state = item.getState().toFullString();`

This happend using the late

[2017-05-29 17:00] kaikreuzer commented on #3539
This is very likely the same root cause as https://github.com/eclipse/smarthome/issues/3520 and thus I hope that https://github.com/eclipse/smarthome/pull/3537 will fix this.
@triller-telekom would you agree?

[2017-05-29 17:06] volkerrichert commented on #3539
yeap, looks like.

[2017-05-29 19:08] sjka commented on #3533
I knew the it was a pretty hot potato 😩
No, it's not. I will have a look at it anyway, tomorrow.

[2017-05-30 06:26] danchom commented on #3528
I also think that adding a hash code as part of the uid is not good idea. I prefer Kai's approach which increments index.

[2017-05-30 07:30] triller-telekom commented on #3539
Yes it is definitely the same issue and the pr #3537 should fix it since its a `DimmerItem` which is affected by the bug.

[2017-05-30 07:35] #3528 closed

[2017-05-30 07:42] maggu2810 commented on #3533
Thanks a lot :+1:

[2017-05-30 11:22] sjka commented on #3533
I really have no idea how the locale provider should be _directly_ related to the ManagedThingProvider. My best guess is that it happens _indirectly_ because we are registering a Storage only, it just takes a little bit more time now for the framework to realize that all its dependencies are now fulfilled and to bring it up. We are now changing the locale provider's configuration via config admin,

[2017-05-30 12:02] #3533 closed

[2017-05-30 13:29] antares2001 commented on #3530
@kaikreuzer, @sjka, @triller-telekom
Question: if a certain item returns null, which obviously leads to this exception, why is the exception not caught where the UI is generated / the item placed in to the UI, so that the item simply does not appear in the UI, but sitemap shows all the other valid items? Currently, the sitemap does not function at all (i.e., does not load) when this happens which

[2017-05-30 13:34] maggu2810 commented on #3530
I agree

[2017-05-30 13:41] kaikreuzer commented on #3530
No, it does not return null, but it internally has a null state which is a fatal illegal system state. This needs to be fixed again and then this will never happen.

I don't think that UIs can/should catch any RuntimeExceptions as if they were expected.

[2017-05-30 14:31] danchom commented on #3099
I agree with you, and for this reason we have returned a rule containing references to rule's configuration properties (which is not display well in the GUI). We have treated rule template and rule with configuration in same way. May be the aproach can be to resolve the configuration properties related to templates and leave the rest configuration properties with references. I think this is your l

[2017-05-30 15:13] kaikreuzer opened #3548 "Update to jsonpath 2.1.0"
We already have jsonpath 2.1.0 approved by a CQ and included in the 3rd party repo.
Unfortunately it turned out that we also need to update [json-smart and asm](https://github.com/eclipse/smarthome/pull/3545#issuecomment-304874825) at the same time.

I have created CQs 13627 and 13628 for those libraries.

[2017-05-30 16:10] #3520 closed

[2017-05-30 16:10] #3530 closed

[2017-05-30 16:10] #3539 closed

[2017-05-30 17:14] anthonygillet commented on #1093
I like @digitaldan's idea of a web interface to select the items that are exposed.  However, this would mean that each individual binding that deals with tags (HomeKit, HueEmulation, Alexa) would need to implement essentially that same interface, if they want to provide the same level of functionality.

So we want to have the tags standardized and owned by ESH.  Would it make sense for OH to then

[2017-05-31 11:27] kaikreuzer commented on #3491
"All this looks good to me."

@lolodomo You mean the current behavior looks good to you and thus the issue should be closed?

[2017-05-31 11:29] kaikreuzer commented on #3492
@cdjackson As you have already experience with a similar feature in HABmin for Z-Wave, I would be very interested in your feedback on this idea!

[2017-05-31 11:33] kaikreuzer commented on #3302
With https://github.com/openhab/openhab2-addons/issues/2009, I just came across another issue, where it would be tremendously helpful to have that feature available in the ESH core.

@cweitkamp Would you maybe be interested in addressing this?

[2017-05-31 11:48] htreu commented on #3246
@cdjackson can this be closed then? I guess we should provide a new issue if the behaviour you described is not acceptable.

[2017-05-31 11:53] lolodomo commented on #3491
Yes but that is only my opinion.

[2017-05-31 11:59] kaikreuzer commented on #3491
Do you see any value in having the Undefined intermediate state? If not, I would agree with @nanosonde that it should not be set/send, but rather be swallowed.

[2017-05-31 12:06] lolodomo commented on #3491
Transitioning state is considered as Undefined by ESH.
If you prefer ignoring this state, the binding code has to be changed.

[2017-05-31 12:45] cdjackson commented on #3492
Sorry - I missed this - it looks very interesting.

I have currently implemented a network graph "similar" to the first graph (I say similar - it's similar in structure, but looks different). This is implemented for the Zigbee binding under Paper UI (@kaikreuzer I think I sent you a picture of this running in PaperUI a couple of months back).

In my implementation I didn't want to mess with the ba

[2017-05-31 12:45] cdjackson commented on #3492
Sorry - I missed this - it looks very interesting.

I have currently implemented a network graph "similar" to the first graph (I say similar - it's similar in structure, but looks different). This is implemented for the Zigbee binding under Paper UI (@kaikreuzer I think I sent you a picture of this running in PaperUI a couple of months back).

In my implementation I didn't want to mess with the ba

[2017-05-31 13:55] maggu2810 opened #3551 "Method name case"
Is there any reason to use an upper case `L` for a method name `unload`?

https://github.com/eclipse/smarthome/blob/7911cb2/bundles/automation/org.eclipse.smarthome.automation.module.script/src/main/java/org/eclipse/smarthome/automation/module/script/ScriptExtensionProvider.java#L67

Can we change `unLoad` to `unload`?

[2017-05-31 14:15] cweitkamp commented on #3302
@kaikreuzer Thanks for suggesting me as potential participant for this implementation. Of course I want to help you with this. I am going to start working on it next weekend.

[2017-05-31 14:22] kaikreuzer commented on #3302
Great, thank you!
A good package for it might be `org.eclipse.smarthome.core.common`, but feel free to come up with any better suggestions and improvements to the implementation from @sjka :-)

[2017-05-31 14:32] sjka opened #3552 "ExpressionThreadPoolExecutor has not way to access scheduled expressions"
There currently is no way of finding out which expressions have been scheduled currently in a ExpressionThreadPoolExecutor

[2017-05-31 14:34] sjka commented on #3552
Some more context: it maintains an internal `Map<Expression, Runnable> scheduled` which is maintained internally, but you will need to keep a copy of all the expressions that you ever scheduled if you want to remove them later on by calling `remove(Expression)`.

[2017-05-31 15:04] nanosonde commented on #3491
Hi!
Ok, maybe the problem is only linked to the case where both bindings (sonos and MQTT-eventbus) should work together.

The original problem that was reported in [this](https://github.com/openhab/openhab1-addons/issues/4902) issue is that only the aforementioned UNDEF state can be seen with MQTT on the event bus.
The final states (PLAYING/STOPPED) are never transmitted over MQTT.

I was assuming

[2017-05-31 15:45] lolodomo commented on #3491
There is certainly another reason. Check your event logs and you will see that the PLAYING state is sent.

[2017-05-31 17:13] cdjackson commented on #3246
We can close it and open another if you prefer?

[2017-06-01 06:00] kaikreuzer commented on #3548
FTR: Both CQs have been approved for check-in.
I'll have a new try with a PR soon!

[2017-06-01 06:06] lolodomo commented on #3491
You can also check in any UI that the player state is defined.

[2017-06-01 06:22] nanosonde commented on #3491
Yes, the player state is defined in the UI and the event log also shows the correct final state.
But, I have no explanation why the MQTT eventbus binding behaves this way when used with the Sonos binding.

I have setup the OH dev env to debug the problem. So far I can only observe this:
* The MQTT eventbus binding gets events from the event bus.
* The MQTT eventbus binding ONLY sees the UNDEF stat

[2017-06-01 06:37] rodneyrehm commented on #3492
I was looking for a (well defined) format that didn't require loading all the things and having to do any nodes/edges calculations in each client - this setup seemed like the obvious choice. However, I'm not fixated on this particular structure.

What exactly would the list of neighbours include? Does each item in there contain the data defined for edges?

Is this more than an array of IDs?

We al

[2017-06-01 07:08] kaikreuzer commented on #3548
Created https://github.com/eclipse/smarthome/pull/3554 for the p2 repo.

[2017-06-01 07:09] #3551 closed

[2017-06-01 07:27] lolodomo commented on #3491
It looks like a bug in the MQTT event bus. Maybe the player state is not considered by MQTT  ?

[2017-06-01 07:46] cdjackson commented on #3492
Yes, but I guess you have the network graph in mind so defining nodes and edges makes sense. My point is that in my opinion this interface should provide the network topology such that it can be used in a graph, or other displays that may be of interest (you already showed a heatmap for example and I can think of others). These other displays would require the data in a different format rather tha

[2017-06-01 08:23] htreu commented on #3246
@kaikreuzer please close here. With #3555 merged we can describe the bug and create a new issue.

[2017-06-01 08:26] htreu opened #3556 "[PaperUI] multiselect with limitToOptions=false select behaviour"
Follow up from #3246. Once #3555 is merged a the bug can easily be reproduced.

Original description from @cdjackson:

[2017-06-01 08:27] #3246 closed

[2017-06-01 08:39] dushanlk opened #3557 "REST API documentation page is not working"
REST API [documentation page ](https://www.eclipse.org/smarthome/rest/index.html) has been crashed, affected by other change or malfunctioning.

![imsgropn](https://cloud.githubusercontent.com/assets/8017655/26671560/861c8dee-46e8-11e7-896f-43b98b96d88f.png)

[2017-06-01 08:46] sjka commented on #3557
Oh, your're right, that's not how it is supposed to look like...
Thanks for pointing this out!
I will have a look.

[2017-06-01 09:02] sjka commented on #3557
Ok, the REST API documentation should be back at it's old glory now.

[2017-06-01 09:02] #3557 closed

[2017-06-01 09:27] dushanlk commented on #3557
Thank you for the immediate fix @sjka :+1:

[2017-06-01 13:18] #3548 closed

[2017-06-01 13:31] mhilbush opened #3561 "[basicui] Charts not updating on refresh interval"
After installing build 929, my charts no longer refresh at the refresh interval defined in my sitemap.

The charts load fine the first time when loading the page, and if I manually refresh the page. But, at the refresh interval defined in the sitemap, the charts don't render, and all I get is a broken image.

See here for more details.
https://community.openhab.org/t/charts-not-displaying-at-refre

[2017-06-01 13:36] kaikreuzer commented on #3561
@resetnow Maybe you have an idea as well?

[2017-06-01 15:34] sjka opened #3562 "ScriptServiceUtil not initialized yet on startup"
[code]

See https://community.openhab.org/t/snapshot-930-not-starting-properly/29252

[2017-06-01 15:35] sjka commented on #3562
Just found the root-cause, will create a PR asap

[2017-06-01 15:45] sjka commented on #3562
The stacktrace came in via `ModelRepositoryImpl`. This class would never ever tried to load (& validate) a model, it the respective `ModelParser` was not there. However, the rule-`ModelParser` didn't give a s**t whether the scripts stuff is available or not (although the whole rules stuff is nothing else than a few scripts plus some triggers. Hence adding this simply static dependency should fix i

[2017-06-01 16:18] rodneyrehm commented on #3492
I'm good with changing the structure as long as I get all the data I need, including the protocol.

Would the `route` be populated for every node, or only where the binding knows what's going on? Is `joinStatus` a thing in multiple protocols, or is that a ZigBee only property?

[2017-06-01 16:32] cdjackson commented on #3492
I think these things are protocol dependant (joinStatus certainly is a ZigBee only property). I think we should have a way to define this sort of thing even if it’s not displayed in a “generic” UI - it gives the option to implement a specific UI for implementations that want to do this.  Maybe the best option is a dictionary of properties in the node (and potentially the neighbour as well?).

[2017-06-01 17:04] lolodomo commented on #3561
My change is certainly not the reason of this problem. I fixed the refresh interval (ms vs seconds), not what is done during refresh.

[2017-06-01 17:09] mhilbush commented on #3561
Thanks for checking.  So the problem was hidden because the chart refresh rarely, if ever, occurred (due to the chart refresh interval in ms being multiplied by 1000)?

[2017-06-01 17:15] lolodomo commented on #3561
Yes certainly.
If we have a chart setup in the demo sitemap, I could have a look.

[2017-06-01 17:19] lolodomo commented on #3561
The problem is probably that data-proxied-url is not set when using charts. It will explain the null you get in your url.

[2017-06-01 17:20] mhilbush commented on #3561
Yep.  I was just looking at that line of code.

[2017-06-01 17:23] lolodomo commented on #3561
Confirmed, not set in ChartRenderer.

[2017-06-01 17:28] lolodomo commented on #3561
Explanation found. Remains to find the best fix. Is the URL a fixed URL ?

[2017-06-01 17:39] lolodomo commented on #3561
We have to take care about the chart period change.

[2017-06-02 06:02] lolodomo commented on #3561
I will propose a fix.

[2017-06-02 06:09] lolodomo commented on #3308
Please note that refresh intervals look like inappropriate for charts in the demo sitemap:
[code]
I am not sure but my first feeling is that these values are in seconds rather than in milliseconds ?

[2017-06-02 06:20] lolodomo commented on #3561
The chart in the demo sitemap is just not working at all for me when using Eclipse, even when the page is first displayed, neither in Basic UI nor in Classioc UI.
What do I miss ? Is there special bundles to enable ?

[2017-06-02 06:23] lolodomo commented on #3561
Here is the URL I can find in the HTML code:` /chart?groups=Weather_Chart&period=h&t=1496384548796`

[2017-06-02 06:25] kaikreuzer commented on #3561
You might be missing a persistence service? If no data is persisted, the charts won't be able to render.

[2017-06-02 07:23] lolodomo commented on #3561
Ok I will start rrdj.

I think we have another problem, the refresh interval should be in ms according to OH 1 wiki but in the demo sitemap they seem to be in seconds for charts. I will check what values I set in my own sitemap but I am sure the values in the demo sitemap have introduced confusion for any user.
Is it clear that the refresh interval for chart is like for image in ms ?

[2017-06-02 07:26] lolodomo commented on #3561
For example, 600 is used for the first chart. Was the wish to refresh it every 10 minutes or really every 600 ms ?

[2017-06-02 07:32] lolodomo commented on #3561
In the OH2 documentation, it is said that unit is ms too.

[2017-06-02 07:40] kaikreuzer commented on #3561
Yes, afair, they should be in ms. So the openhab demo sitemap indeed has incorrect values!

[2017-06-02 10:14] cweitkamp opened #3566 "[audio] New exception type if audio sink doesn't support the served AudioStream."
When looking into [https://github.com/openhab/openhab2-addons/pull/2303](https://github.com/openhab/openhab2-addons/pull/2303) we came up with the question if we need an additional exception type `UnsupportedAudioStreamException` to be thrown if an audio sink doesn't support the served `AudioStream`. Currently e.g. the [Sonos](https://github.com/eclipse/smarthome/blob/master/extensions/binding/org

[2017-06-02 10:35] maggu2810 commented on #3566
If there are more bindings that support only an subset of streams we could also thing about a new function `Set<Class<? extends AudioStream>> getSupportedStreams()`.
There is already a similar function for the supported formats.

I prefer "check precondition, then do it or leave it" instead of "do it and catch throwables".

So, the new exception itself is okay to exist, but I also would prefer if

[2017-06-02 10:52] ThomDietrich opened #3567 "Better handling of configuration file parsing errors"
https://community.openhab.org/t/influxdb-openhab2-does-not-store-everyhour-but-everychange/29305/11

The error is related to `*.persist` files but is probably transferable to other configuration files. I remember problems due to malformatted configuration files have been discussed in the past. If the syntax of the file derives to some degree from the expected standard format, the file or parts of

[2017-06-02 12:24] sjka commented on #3567
The ModelRepository does some syntactical validation, and if that fails it will be logged and the file will be ignored completely. It's like that since about end of January this year, in order to mitigate exactly this. So what dimensions of "the past" are you referring to? Before or after?

I just checked the syntax:
* The position of the curly braces have no impact at all.
* The default block is

[2017-06-02 12:33] kaikreuzer commented on #3567
As https://github.com/openhab/openhab2-addons/pull/2285 was just merged, I actually expected a much more detailed error report here after my comment in the forum ;-)
I could have told you that validation errors are shown. I understood you that you wanted to have a change in the DSL grammar to allow a more flexible syntax. But this would need to be described in detail.

[2017-06-02 13:06] ThomDietrich commented on #3567
@kaikreuzer I can't give more details. I'm just the one creating the issue as the result of the community thread discussion and the claims made there. Ideally I would have investigated the problem myself but at that moment I was not able to interact with my system, nor did I have the time.
I believe it's better to open an issue prematurely (although not ideal) rather than forgetting about it.

@sj

[2017-06-02 13:06] #3567 closed

[2017-06-02 13:57] sjka commented on #3567
Yes, I think so too.

If you encounter some concrete issues anywhere (which are not yet fixed in 2.1-SNAPSHOT) I'm always happy to have a look!

[2017-06-02 15:02] NorbertHD opened #3569 "[Astro PaperUI] Radiation wrong, unit missing, negative values"
Astro in PaperUI has some errors. When the altitude is not set, the radiaton values are reasonable.
![rad](https://cloud.githubusercontent.com/assets/8472266/26731465/7879cc84-47b4-11e7-8eb0-c2a68607c232.png)

But if I set the altitude to e.g. 100 m the values are way to high and diffuse radiation is negativ.
![rad2](https://cloud.githubusercontent.com/assets/8472266/26731481/8a938216-47b4-11e7-9c

[2017-06-02 16:00] NorbertHD opened #3570 "[Hue PaperUi] Icons missing, Text not aligned"
At Hue devices in the PaperUI the (light/power) icons are missing in front of "Brightness", "Saturation" and "Off/On".
At least the text should be aligned to the lines with icons.
![hue1](https://cloud.githubusercontent.com/assets/8472266/26734010/edd20412-47bc-11e7-9a90-d8a330876c65.png)
![hue2](https://cloud.githubusercontent.com/assets/8472266/26734015/f1d4a268-47bc-11e7-95ce-3144580afa24.png)

[2017-06-02 16:05] kaikreuzer commented on #3570
I'd agree. @aounhaider1 is this something you could look at?

[2017-06-02 18:41] sebmarchand opened #3571 "[BasicUI] Image not resized properly"
Image displayed in the Basic UI (by adding an Image element in the Sitemap) are not resized properly). In my setup I'm trying to display a screenshot from a security camera that has a 1920*1080 resolution, and the  image is always bigger than its container.

Adding this to the page's css (via the Chrome dev console) fix the issue:

img {
    max-width: 100%;
    max-height: 100%;
}

I don't have m

[2017-06-02 20:02] kaikreuzer commented on #3571
@resetnow Could you have a look? So far, images were always too small, now they seem to be too big 😲

[2017-06-02 22:27] lolodomo commented on #3561
Sorry I gave up, impossible to make chart working for me from Eclipse !
If someone wants to try, here is the change I propose:
[code]

[2017-06-03 05:43] cweitkamp commented on #3302
PR #3572

[2017-06-03 07:27] martinvw opened #3573 "[Hue] non working blink (none, alert, la), WARN in the log"
At this moment the blink does not seem to work, however I believe I remember to have used in the past, any hints?

The log contains the following

[code]

[2017-06-03 07:57] martinvw commented on #3573
Hooray, solved.

I misconfigured the item I configured it as `Switch`, it should have been a `String`

[2017-06-03 07:57] #3573 closed

[2017-06-03 11:39] lolodomo commented on #3561
Ok I got it work !

[2017-06-03 12:18] lolodomo commented on #3561
Ok, that was my fault and the result of changes in the demo items and sitemap.
I should now be able to try my fix.

[2017-06-03 15:31] lolodomo opened #3577 "Rules: global variables no more initialized"
In my rule file, I have at top few global variables:
[code]
With new installed build 937, at startup, I have now these warnings:
[code]
It looks like all variable init that use a call to a function are failing.
Then my rules are failing because the variable pattern2 is null (for example).

What was changed ? Is there a new way to define global variables ?

PS: With the previous installed builds, i

[2017-06-03 15:38] lolodomo commented on #3577
I just checked that if I force the reload of my rule file (using a touch command) while OH is running, then the variables seems to be correctly initialized (no warnings displayed and rules working as expected).

[2017-06-03 19:55] kaikreuzer commented on #3577
The only recent change that could have an impact on startup behavior of rules is imho https://github.com/eclipse/smarthome/pull/3563. But as build 889 was quite old already, I am not sure if there might be other stuff that could cause this...

[2017-06-03 19:57] #3571 closed

[2017-06-03 20:01] lolodomo commented on #3577
I discovered I already had this problem 16 months ago when using beta 2.
https://community.openhab.org/t/oh2-variable-initialization-in-rules-file-fails-at-startup/7164
It has then disappeared.
I will try the advice I got on the forum.

[2017-06-03 20:09] kaikreuzer commented on #3577
Indeed the very same. That leaves the question: Why do your rules still look the same?

[2017-06-03 20:19] lolodomo commented on #3577
Because my rules are stable and I don't update them often.
And as the problem disappeared, I did nothing.
By the way, it looks like a real bug.

[2017-06-03 21:47] sebmarchand commented on #3571
Wow, thanks for the quick fix!

[2017-06-04 08:34] rodneyrehm commented on #3492
Agreed. One node would be served up by one binding, so properties on a single node cannot clash. In the qivicon world we call this the `detail` map.

If these properties are described using standard means even a generic UI would have the chance to render *something*. Can we use standard config parameter descriptions for this?

The option to provide a "specific" UI for a binding is always there - b

[2017-06-04 09:00] cdjackson commented on #3492
Yes, agreed it could render a list - same sort of thing as with thing properties now.

I think my comment that you are responding to here was about adding protocol specific information - maybe you have a different view of this? I would have thought that a simple map, the same as the thing properties, would be fine. Why do you need the complexity of the parameter descriptions for a list of properti

[2017-06-04 12:44] steve-bate opened #3579 "JSR223 Scripting: Script reloading is broken"
@smerschjohann  The script engines are being registered using the file name but they are queried (for reloading purposes) using a "script identifier" (based on the file URL). This causes scripts to not be reloaded correctly.

In `ScriptFileWatcher.importFile`, I changed:

[code]
to
[code]
and that fixed the problem for me.

[2017-06-04 12:49] steve-bate opened #3580 "JSR223 Scripting: SimpleRule does not set rule UID"
@smerschjohann  The `SimpleRule` class does not set the rule UID and this causes issues when the rule event publishers try to use the UID to generate event messages. In my local environment, I solved the problem by adding a `SimpleRule` constructor that initialized the UID. I also added a constructor to allow the user to specify a prefix for the UID (to make it more user-friendly when logging).

[2017-06-04 13:08] steve-bate opened #3581 "JSR223 Scripting: log discovered script engine factories."
@smerschjohann It would be useful to log (info level) the discovered script engine factories so that users can verify that they've installed and configured the related JSR223 libraries correctly. There was similar logging in openHAB1.

[2017-06-04 17:00] KidSquid1 commented on #3345
@hmerk

Hello -

Just thought I would check back in with you...I'm sure you are busy - just wanted to see if you might have an ETA on making the changes we discussed.

Thanks,

Squid

[2017-06-04 17:16] hmerk commented on #3345
Yes, very busy atm, but fortunately, I have a week of, so will prepare everything for the official PR during the week.

[2017-06-04 20:15] rodneyrehm commented on #3492
No, I agree with all of this being protocol specific. But protocol is not an entity in ESH so we can't really do anything with them right now. That's how I got back to bindings…

I was thinking about (ab)using the config descriptions for their data type, format and labeling aspects. Maybe the Item metadata is more in line with what's needed here? From a generic UI perspective I care less about the

[2017-06-05 08:51] #3561 closed

[2017-06-05 09:12] kaikreuzer commented on #3580
@steve-bate Can you elaborate why not setting a rule UID causes issues?

Note that this is the normal case: A newly added rule should not have a UID set, but it is the rule engine, which assigns a unique id to the rule.

[2017-06-05 09:48] ppieczul opened #3584 "[PaperUI] UI does not refresh channel types"
My binding creates channel types during runtime, after initialize() finishes, but before thing status goes to online, based on the information it obtains from the remote device (which takes some time). It calls editThing and updateThing to make the channel changes.
This causes issues with paperui. On the first creation of a thing, binding builds channel types and channels in runtime as stated abov

[2017-06-05 10:09] steve-bate commented on #3580
@kai Given the Jython rule below...
[code]
I see the following exception information in the log...

[code]

The `uid` member has protected scope in the `org.eclipse.smarthome.automation.Rule` class (`SimpleRule` is a subclass) and there no public accessor. It seems like the only way that `uid` can be set is by a subclass or provided in the `Rule` constructor.

I see the `ScriptedAutomationManager`

[2017-06-05 10:50] shorty707 commented on #3562
this issues still exists with the most current build

can not confirm this is solved! @sjka @kaikreuzer

[2017-06-05 10:55] shorty707 commented on #3562
build 938 is the one I have problems with

[2017-06-05 11:35] smerschjohann commented on #3579
Thank you. I guess, my last refactoring was not that clean...

[2017-06-05 11:54] smerschjohann commented on #3580
I keep track of the added rules using their UID. If the scriptfile is modified or deleted later on, those rules are removed from the rule engine. If looking at the source of the RuleEngine, I don't see any way to figure the ruleID out, if it is not assigned by my code beforehand.

I don't even see where the RuleEngine itself assigns a ruleID. If looking at `addRule` of `RuleEngine`, the Rule-objec

[2017-06-05 14:57] cdjackson commented on #3492
Ok, I was thinking in my mind protocol = binding. I know this isn't 100% true in some cases, but as you say we don't have any information on protocol, and to be honest I'm not really sure it's needed as most users probably don't care (or know) about the protocol.

[2017-06-05 15:13] rodneyrehm commented on #3492
This is certainly the case for everything qivicon does right now. But if I understood @kaikreuzer correctly, Bluetooth wouldn't be handled by a single binding. That said, ignoring the topic of aligning protocol specific data across bindings until the first real problem pops up is fine by me.

So far we've aligned on my data in your structure including a `detail` map for protocol specific data. But

[2017-06-05 17:45] hmerk commented on #3345
@KidSquid1
Please try latest version. Changelog:
- Made refreshInterval configurable, defaults to 60 seconds
- Changed DateTime Channels accordingn to your findings.

PR for release submitted.

[2017-06-05 18:22] MHerbst commented on #3329
In addition to the documentation the "tooltip" text needs also to be changed:
![image](https://cloud.githubusercontent.com/assets/616792/26797282/a62714a0-4a2c-11e7-9dc2-9f0f11fc36ff.png)

[2017-06-05 22:42] KidSquid1 commented on #3345
@hmerk

Is the latest version at the Google Docs link you originally sent?

Thanks,

Squid

[2017-06-05 22:55] hmerk commented on #3345
@KidSquid1
Yes, same link as in original post.

[2017-06-05 23:08] KidSquid1 commented on #3345
@hmerk

I have installed the new version - yet I do not see the following:

"Made refreshInterval configurable, defaults to 60 seconds"

Where might I adjust this?

[2017-06-06 06:29] hmerk commented on #3345
@KidSquid1
In PaperUI, goto configuration -> things, pick your coffee maker thing and click the pencil to enter edit mode. You should see the refresh config on the right side of the page.

[2017-06-06 06:47] danchom commented on #3580
I'm not sure if this is right behaviour here. The rules are imported instead of provided, this means when the rules are added into RuleEngine they stay there, until the rules are explicitly removed by the user (through the RuleRegistry interface). This is the behaiviour of  RuleResourceBundleImporter. This is done because the rules are acctually stored into managed rule provider which permit to sa

[2017-06-06 07:06] kaikreuzer commented on #3580
I think we are all confused by the misleading class names (and the fact that there isn't a clear separation of concerns) - a class diagram as a dev documentation would definitely help here...

The `ScriptedAutomationManager` actually does NOT import rules, but it passes them to `RuleSupportRuleRegistryDelegate`, which internally holds a `ScriptedRuleProvider` which registers as a normal provider i

[2017-06-06 07:18] #3579 closed

[2017-06-06 07:30] danchom commented on #3580
Ok I agree, I didn't know that this is a separate rule provider.

I agree that uid is better to be set by the provider, but in case of mistake or wrong rule  provider the RuleEngine must assign them, otherwise these rules can't be added.

[2017-06-06 08:01] kaikreuzer commented on #3580
It can be discussed whether we want to consider them as valid rules at all, because otherwise they should not be added (or better say "provided") anyhow.

[2017-06-06 08:17] kaikreuzer commented on #3584
@aounhaider1 Can you comment on this?

[2017-06-06 11:57] htreu commented on #3570
I guess alining the text (.g. "Brightness" and "Saturation") with the first line "Color" will introduce a lot of whitespace to the card. And for smaller cards (3 cards in a row) the text "Brightness" interferes with the slider.

![image](https://cloud.githubusercontent.com/assets/1729268/26827847/49b7f912-4abf-11e7-893d-3343a67d19c6.png)

![image](https://cloud.githubusercontent.com/assets/1729268

[2017-06-06 13:04] kaikreuzer commented on #3570
I'd be ok with the one icon, but having the texts aligned and the sliders shrunk as much as needed.

[2017-06-06 13:20] KidSquid1 commented on #3345
Hmm...

I do not see it.

![image](https://cloud.githubusercontent.com/assets/28264840/26831135/ec28cb24-4a90-11e7-8c68-4ea29f865f57.png)

[2017-06-06 13:24] hmerk commented on #3345
Please check you log if it is really the latest binding version.
You should see an entry like
`Creating a WemoCoffeeHandler V0.3 for thing ...`

[2017-06-06 13:45] hmerk commented on #3345
@KidSquid1
Just uploaded another update. Handler will identify as V0.4

[2017-06-06 13:51] mherwege commented on #3562
I have the same problem with build 938.

[2017-06-06 14:00] #3581 closed

[2017-06-06 14:02] maggu2810 opened #3590 "scripts: ctx.ruleUID not available"
#3007 added the ruleUID variable to the ctx object, so we could use `ctx.ruleUID` inside of scripts.

#1783 removed ruleUID from ctx but add it to the global namespace, so a script could access the rule's UID by using `ruleUID` (without `ctx.`).

#1783 has been merged "long" time ago, but "my" instances still uses an ESH version before that changes.
Now I tried to update that instances using a mor

[2017-06-06 14:12] maggu2810 opened #3591 "PaperUI: Rules loads Extensions"
If you don't use an extension service but open the rule category in the PaperUI (http://127.0.0.1:8080/paperui/index.html#/rules) it complains about a non available service using a notification:
ERROR 503 - Service not available

The service that is not available is the extension one.
I don't think we need to warn every time the rules category is opened that the extension service is not available

[2017-06-06 14:18] KidSquid1 commented on #3345
@hmerk

I removed the previous version and downloaded your latest update.  I can now confirm seeing the Polling Interval option in PaperUI.

Thanks

[2017-06-06 14:20] kaikreuzer commented on #3591
Yes, clearly a bug.

[2017-06-06 14:43] mherwege opened #3592 "Sitemap validation error in log when starting"
When starting, I get the following error in the log file:
[code]
I don't have any labelcolor defined in my sitemap. I do have a valuecolor, and that works as expected. The whole sitemap looks as expected. The only thing I can think of that could be causing this is that I have one item at the top of the sitemap that is not in a frame.

[2017-06-06 19:45] NorbertHD opened #3594 "[Hue] Exception when adding hue bridge"
When I add the hue bridge at the inbox of PaperUI, I get exceptions in the log file:
[code]

[2017-06-07 06:58] sjka commented on #3562
@mherwege good that your home is working right now - the rest of course does not sound so well...
Would you happen to have the full stacktraces from one of your huge logs? The problem here is not that the ScriptServiceUtil is being _used_ at different places (they are easy to find), it's rather that the rules and script files should not have been read at all while the ScriptServiceUtil is not read

[2017-06-07 07:17] danchom commented on #3474
We have internal meeting and have following proposal:
Add new TRIGGERED state which will be activated immediately after the idle state. An event will be fired for this state and it will contain a map of triggered data.
The RUNNING state will follow the triggered state only when the conditions are satisfied and actions are executed. Otherwise the rule will go into IDLE state.
The state graph will b

[2017-06-07 07:23] danchom commented on #3453
See https://github.com/eclipse/smarthome/issues/3474#issuecomment-306708620

[2017-06-07 07:35] mherwege commented on #3562
@sjka Here are two log files. The first one is the failed start. I only provided the first 5Mb, but the following 85Mb are a continuous repeat. If you need them all, we should find another way of sending them. The second file is the startup after cleaning temp and cache until my system is up and stable. At the end I tried a few switches through Basic UI that got executed well. The same error is st

[2017-06-07 08:17] sjka commented on #3562
Perfect! That'll do...
Thanks for the quick response!

[2017-06-07 09:24] cweitkamp commented on #3566
@maggu2810 One question: If we introduce a new abstract `getSupportedStreams()` method in the class [AudioSink](https://github.com/eclipse/smarthome/blob/master/bundles/core/org.eclipse.smarthome.core.audio/src/main/java/org/eclipse/smarthome/core/audio/AudioSink.java) it will have an impact on all existing AudioSink implementations in the different bindings. Is there a strategy to handle such cha

[2017-06-07 09:28] triller-telekom commented on #3592
Could you please post a minimal sitemap from your setup which causes the exception? That would be very helpful for debugging.

[2017-06-07 09:31] triller-telekom commented on #3594
Did you press the pairing button on the bridge before you tried to add it?

[2017-06-07 09:32] kaikreuzer commented on #3594
The exception occurs before the user has a chance to press the button. I have seen that exception as well in the past - it definitely needs to be caught and not logged.

[2017-06-07 10:00] kaikreuzer commented on #3566
We could work with a default implementation on the interface for backward compatibility.

What I do not like about `getSupportedStreams()` is the fact that an implementing service needs to be aware of the different types of streams. So adding new classes might become difficult in future.

So what do we actually need here?
The issue that we came across is that we didn't find a way to play unbounded

[2017-06-07 11:07] maggu2810 commented on #3566
Perhaps I am wrong, but `getSupportedStreams()` does not introduce that type dependency. The type of the stream is already checked by the different `process` function.

So, if we find a way that every binding only needs to support audio streaming or not and all different types could be handled generic, is would be the best option.

Also I don't think that a binding needs to be aware of all types.

[2017-06-07 11:50] mherwege commented on #3592
Here is the minimal sitemap that gives me the error:
[code]
If I remove one of the two lines, the issue is gone. Also, in the frame, the error only kicks in with an icon linked to the item.

[2017-06-07 13:03] kaikreuzer opened #3600 "Paper UI hides too much from the description texts"
Since recently, the Paper UI shows a "more" button, if a description is longer than a line:

<img width="539" alt="screen shot 2017-06-07 at 15 01 38" src="https://user-images.githubusercontent.com/3244965/26879652-3c104b7e-4b92-11e7-8177-f53bdf62a4b2.png">

While the idea is nice, I think this should only become active if the description exceeds a certain number of lines (3?). In the example abov

[2017-06-07 13:44] amitjoy opened #3602 "Return Queue of Runnables in ExpressionThreadPoolExecutor"

[2017-06-07 13:52] #3345 closed

[2017-06-07 14:01] kaikreuzer commented on #3562
FTR: The latest openHAB distro 939 contains @sjka's latest changes - so time to do some new testing with

[code]

[2017-06-07 14:26] sjka commented on #3562
Minor correction, we need the script logs too, so for testing please use these here:

[code]

[2017-06-07 14:39] IOOOTARobby commented on #3459
Bump? 🙏

[2017-06-07 14:57] mherwege commented on #3562
Damn, I was too quick. I did the upgrade only with the core debug enabled. The error appeared, although the upgrade was much smoother then yesterday. So no 85Mb log spam.
I then restarted the service with both debug lines enabled, and the error did not show up anymore. It looks like we are out of luck catching this one.
If it still helps, I have attached both debug logs of the full start again. Lo

[2017-06-07 15:42] kaikreuzer commented on #3562
Note that the it is (unfortunately) "normal" that directly after the update there are many errors in the log - this is definitely unrelated to this issue here.

So I count it as a good sign that you say that the issue does not occur on subsequent restarts anymore. Does it mean that the distro starts all fine and is fully usable?

[2017-06-07 16:00] digitaldan commented on #595
ping!
We also have a need for this in an upcoming omnilink 2.0 binding, I would vote to be able to configure this on the channel level.

[2017-06-07 16:09] triller-telekom commented on #3592
I just debugged this exception and the message you got is misleading

Instead of
[code]

you should have got:

[code]

This is because we usually do not allow items on a sitemap without frames surrounding them. However if our parser is able to work with the wrongly formatted sitemap it will print this warning and use it anyway.

I will create a PR that fixes this error message.

[2017-06-07 16:13] mherwege commented on #3562
I am aware of the "normal issue" after an update. I can confirm that this build did start and is fully usable, immediately after the update and on a subsequent restart. The error only appeared just after the update this time and was only triggered a limited number of times.
So it looks all good for now. I will keep watching this on future updates.

[2017-06-07 16:26] cdjackson opened #3605 "Discovery should be able to activate per bridge, not per binding"
If a binding has multiple bridges, it should be possible to activate discovery for each bridge separately - not just for the binding. At the moment it's not possible to select which bridge is activated for discovery, and therefore which bridge a new device will attach to, and this is a problem where this needs to be controlled.

[2017-06-07 16:41] #3592 closed

[2017-06-07 16:57] jurviz commented on #3562
I have just tried to upgrade from a running build #938 to the latest build.
I have the same symptoms again. Last time a did a purge and reinstall to get a running build #938.
The system does not startup successfully after a bunch of exceptions.
I can provide logs if needed.

[2017-06-07 16:58] sjka commented on #3562
Yes, please with both DEBUGs enabled:

[code]

[2017-06-07 17:03] jurviz commented on #3562
openhab is currently stopped. How can i set the logs before starting again?

[2017-06-07 18:54] kaikreuzer commented on #3562
Start it, set the log levels and stop it again :-)

[2017-06-07 19:51] martinvw opened #3607 "RulesJvmModelInferrer - Duplicate field"
After being busy setting everything up (via the Eclipse Smarthome Designer) I got a lot of warnings when saving:

[code]

It seems I'm not the first and only one, see also

https://community.openhab.org/t/oh2b5-duplicate-field-item-name/19480
https://community.openhab.org/t/why-do-i-get-warn-duplicate-field-sonosplay-save/12108
https://community.openhab.org/t/astro-binding-duplicates/12384

And th

[2017-06-07 20:03] mherwege commented on #3592
OK, accepted.
The funny thing is that the following sitemap does not give an error though. I would then expect that one to also be a problem:
[code]

[2017-06-07 21:04] jurviz commented on #3562
I have started openhab, but i can't get a karaf console connection to set the log level.
These are the messages from openhab.log:
2017-06-07 22:51:48.677 [INFO ] [.dashboard.internal.DashboardService] - Started dashboard at /start
2017-06-07 22:51:48.715 [ERROR] [org.openhab.binding.jeelink         ] - FrameworkEvent ERROR - org.openhab.binding.jeelink
org.osgi.framework.BundleException: Could not

[2017-06-07 21:14] jurviz commented on #3562
The system is now in an unusable state.

[2017-06-08 07:27] kaikreuzer commented on #3605
This is only relevant for bindings, which have an active pairing mechanism for having new devices join the network, right?
We still do not have any clean support for such cases in general - e.g. it isn't possible to easily remove undesired devices from the network again, once they have joined and are listed in the inbox.

Is it a realistic use case for end users to have multiple such bridges? Or i

[2017-06-08 07:28] triller-telekom commented on #3592
I just tried this sitemap and I get the same "error":
[code]

So this is fixed as well.

[2017-06-08 07:42] cdjackson commented on #3605
Yes, I guess it’s just for bindings with active join mechanisms… And yes, it’s a realistic case - we have this problem now on ZWave as people are using multiple dongles and they can’t control which dongle a device will connect to. Another use case I have is BLE devices have limited connections available - maybe as few as 3 simultaneous connections. If people want / need multiple connections, it ma

[2017-06-08 09:28] sjka commented on #3607
Thanks for reporting this. As you already opened this issue, let's continue here.

Could you please quickly check whether you maybe really ended up with duplicate items in the registry (e.g. by checking the output of `http(s)://<openHAB>/rest/items`)?

That could already be a really good starting point for the analysis. So if you can confirm that the indeed are duplicated, we "only" will have to f

[2017-06-08 09:37] sjka opened #3610 "[Astro] NPE in SunCalc.setPositionalInfo()"
Just saw this here in my logs:

[code]

[2017-06-08 09:46] martinvw commented on #3607
How can I view the file my Ubuntu reports it as binary?

PS: I believe it was temporarily resolved by a restart

[2017-06-08 09:51] sjka commented on #3607
So this more or less rules out the possibility that the items ended up in the wrong provider. Which is the good news. Bad news is that we need another candidate...

PS: btw, the json-db files should be plain json files which you could use any text editor at. Only mapdb uses a binary format (where I would also have no idea how to look into properly)

[2017-06-08 09:59] sjka commented on #3569
@gerrieg this looks like something for the expert

[2017-06-08 10:47] martinvw commented on #3607
Then I found it in the mapDB most likely :-D I'll try check again tonight

[2017-06-08 10:55] emme-g opened #3611 "[astro] solar midnight trigger channel"
Hello everybody,
I write here in Github after starting a post in the Openhab Community about my idea/need to have a new trigger group for the "solar midnight" of the Sun thing [https://community.openhab.org/t/astro-binding-solar-midnight-trigger-channel/28442].
Basically I would like to have a trigger channel for the solar midnight (when the solar azimut is 0) because I want to configure some rule

[2017-06-08 11:09] htreu opened #3613 "[WIP] Handling of default & required ConfigDescriptionParameters"
**WIP: description will change.**

Follow up for #2819.

This issue describes how handling of default and required configuration parameters should be handled in the future:

### ConfigDescriptionParameter
ConfigDescriptionParameters are the meta description for configuration parameters for Things, Channels and Services. A ConfigDescriptionParameter can define a parameter to be _required_ and also

[2017-06-08 11:23] triller-telekom commented on #3610
This is fixed in PR #3503

[2017-06-08 12:47] jurviz commented on #3562
I had to purge installation and reinstall to get it running again.
Build #939 is now active.

[2017-06-08 14:00] #2819 closed

[2017-06-08 14:02] #3562 closed

[2017-06-08 14:10] #3176 closed

[2017-06-08 14:10] #3488 closed

[2017-06-08 15:04] triller-telekom commented on #3594
The exception occurred if the bridge was added as a thing and afterwards a new scan for things was trigged. Then the offline bridge was trying to scan for lights which didn't work.

[2017-06-08 16:53] gerrieg commented on #3569
The radiation has been implemented by @clinique

@clinique
Can you please check this and when you're there, can you please fix the other two small issues too?  😉 Thanks!

[2017-06-08 17:09] martinvw commented on #3607
Okay, here I have it:

[code]

[2017-06-08 17:14] martinvw commented on #3607
Okay, so it happens while viewing with habmin and paperUI while editing with Eclipse Smarthome Designer. I assume that does not create a `.zwave.items` file and if it does that is properly ignored now given earlier PR's.

I would assume this is my smart home version:

[code]

[2017-06-08 20:11] sjka commented on #3607
Okay, thanks.

As it is not persistent after a reboot, I would assume there items are not in the mapdb. It could still be some traces from the past, or a rule configuration why it is in there.

I will start looking into it tomorrow.

[2017-06-08 20:12] sjka commented on #3569
Oh, right... Thanks!

[2017-06-08 20:24] tmrobert8 opened #3620 "PaperUI advanced configuration group"
This may or may not be a bug - seems to work differently then channel advanced settings.  For a transport that I've been working on - I have a configuration descriptor (below).  When you go to Configuration->Services->Press the Configure button on my transport - I expected the advanced group to be hidden behind a 'Advanced' or 'Show More' type of button - but it was simply displayed as is (see the

[2017-06-08 20:41] martinvw commented on #3607
Great, if you need anything or want me to enable specific logging just give a shout!

[2017-06-08 20:42] #3594 closed

[2017-06-08 21:46] clinique commented on #3569
@gerrieg , sure, I'll do

[2017-06-09 05:43] #3570 closed

[2017-06-09 06:30] sjka opened #3622 "State changes of group members don't trigger rules anymore"
So far, it was possible to group items (even without a function) and use this group as a trigger ("received update") for rules whenever one of its members changed their values.

see https://community.openhab.org/t/groups-seem-to-be-broken/29307

This regression was introduced in #3314.

[2017-06-09 06:46] danchom commented on #3474
@kaikreuzer, @maggu2810 , @sjka what do you think about this propolsal?

[2017-06-09 06:49] htreu commented on #3620
I noticed this too a few days ago. Will have a look at it later.

[2017-06-09 06:54] 0nse commented on #3474
@danchom this would suffice for our use cases

[2017-06-09 06:59] triller-telekom commented on #3622
The way I understood group states are that they are calculated by their members through a function. So it a state of an item has changed the group state should be recalculated.

This is done [here](https://github.com/eclipse/smarthome/blob/master/bundles/core/org.eclipse.smarthome.core/src/main/java/org/eclipse/smarthome/core/items/GroupItem.java#L314).

Such a recalculation only makes sense if th

[2017-06-09 07:06] kaikreuzer opened #3623 "add (german) translations for system channel types"
System channel labels are currently only available in English. There are bindings that expect German texts, so this should be added (further languages upon request I would say).

See https://github.com/openhab/openhab2-addons/issues/1668.

[2017-06-09 07:12] lolodomo commented on #3175
The fix for the page title is I think now easy (the function setTitle already exists).
@resetnow: I have to fix in case of SSE listener and in case of long pooling listener. Can you tell me in which case the long pooling is used and how I can enable this mode ?

[2017-06-09 07:17] resetnow commented on #3175
@lolodomo you can temporarily replace `featureSupport.eventSource` value with `false`

[2017-06-09 07:24] kaikreuzer commented on #3622
I think in general @triller-telekom fix makes sense, it is just unfortunate that it has these side effects on existing users.

The question to me really is: WHAT update do group items without a type receive? I see in the rules that they react on "received update", but it is really completely undefined what goes in there - and as such, having such a state update of the group is simply wrong.

I rem

[2017-06-09 08:12] kaikreuzer opened #3624 "Introduce possibility to use @NonNull and @Nullable"
Introduce possibility to use @NonNull and @Nullable annotations in IDE and Maven build.

[2017-06-09 08:22] #3302 closed

[2017-06-09 08:49] kaikreuzer commented on #3474
@danchom Sounds like an acceptable compromise to me, thanks!

[2017-06-09 08:50] triller-telekom commented on #3622
Since this issue seems to affect quite a lot of people and there might be some further follow up discussions on how to solve it properly, I did some tests to find a workaround.

Every group that should receive state changes on their member items need a type, so please define the group like this:
[code]
instead of
[code]

It doesn't matter what kind of types you put into such a group. The `Switch`

[2017-06-09 09:49] cweitkamp opened #3625 "[Yahoo] Change used cache utils to ESH ExpiringCache"
Follow up to PR #3572

[2017-06-09 11:12] cweitkamp commented on #3625
PR #3628

[2017-06-09 12:40] m3tatai opened #3630 "Paper ui not showing switches"
Hello guys,

when i'm using these items,

	Dimmer Wohnzimmerlicht_D
	"Wohnzimmerlicht_D"
	(gMilightWohnzimmer)
	[ "Lighting"]
	{ channel="milight:rgbwLed:F0FE6B2DC252:1:ledcolor"}

	Switch Wohnzimmerlicht_S
	"Wohnzimmerlicht_S"
	(gMilightWohnzimmer)
	[ "Lighting"]
	{ channel="milight:rgbwLed:F0FE6B2DC252:1:ledbrightness"}

i'm able to watch both in basic ui, but in paper ui the switch didn't appea

[2017-06-09 12:41] aounhaider1 commented on #3620
The problem here is that PaperUI checks the advanced property of parameters only and not of the group. In the above case it is false for all parameters, so the questions is should the advance property on group supersede the advance property of encapsulating parameters?

[2017-06-09 12:43] tmrobert8 commented on #3620
According to [Eclipse SmartHome XML reference](https://www.eclipse.org/smarthome/documentation/development/bindings/xml-reference.html) - there is no advanced property on the parameter itself (that's why I went with a group instead).  Is this an oversight on the document?

[2017-06-09 12:51] kgoderis commented on #3552
@sjka in the light of the recent discussion on Astro, and in the context of "don't mess with the Expressions of your neighbour", shall we close this? If not, then it is a question of adding a method to return the keys of the map, but then one can still tamper. As an alternative, we could work with a Map<String,Map<Expression,Runnable>> structure (with String whatever id) and .getExpressions(String

[2017-06-09 12:56] aounhaider1 commented on #3620
The doc should be updated in that case, the advance property is part of the Parameter description https://github.com/eclipse/smarthome/blob/master/bundles/config/org.eclipse.smarthome.config.core/src/main/java/org/eclipse/smarthome/config/core/dto/ConfigDescriptionParameterDTO.java#L41.

[2017-06-09 12:58] triller-telekom commented on #3602
@sjka @kaikreuzer This issue is obsolete now and can be closed.

[2017-06-09 13:07] tmrobert8 commented on #3620
Interesting - something strange is still going on however.  See the following screen prints when I tried to use that (and I am running the latest and greatest).  I double checked that xsd and the ConfigDescriptionParameter - both seem to indicate that advanced is allowed but clearly it's getting flagged...

![image](https://user-images.githubusercontent.com/20641634/26976669-d70dd612-4cf2-11e7-97d

[2017-06-09 13:12] aounhaider1 commented on #3620
Should be added as a tag:
[code]

[2017-06-09 13:15] tmrobert8 commented on #3620
AHH - thanks I totally misread the xsd in my quick look.  You are correct and it does correctly show the "Show More" button in that case..

[2017-06-09 13:24] triller-telekom commented on #1475
I have included Noise and Moisture in #3629 but I don't know what you understand by the term "Tilt".

[2017-06-09 16:53] #3602 closed

[2017-06-09 18:14] sjka commented on #3607
Not necessary, I just ran into this situation myself. Unfortunately in my productive system, which did not have the debugger enabled. But nevertheless...

I attached a cleaned-up excerpt from my logs (unfortunately no debug enabled before): [2017-06-09_openhab.log.txt](https://github.com/eclipse/smarthome/files/1064500/2017-06-09_openhab.log.txt)

Some interesting observations:
* I did several upd

[2017-06-09 18:44] martinvw commented on #3607
Then I might have another hint in another topic :-D

https://community.openhab.org/t/design-pattern-time-of-day/15407/46

It looks like the file is first read empty:

[code]

Then a few 100 msec later:

[code]

Do you think it is related?

[2017-06-09 18:46] martinvw commented on #3607
So it looks maybe like that the items are first removed because the file was just imported being empty (bug in the editor???) then the ChannelItemProvider recreates them. And then they are actually really reloaded and double.

[2017-06-09 19:35] antares2001 commented on #2333
Hello @kaikreuzer

not having seen this thread, I also opened a question on the forum: https://community.openhab.org/t/how-to-prevent-overlap-of-say-commands/29644/10

I think that is actually in sync what you say that the say command should be synchronous and not asynchronous (as it seems to be right now).

[2017-06-09 20:23] sjka commented on #3607
I'm now able to reproduce it every now and then even in the IDE. You are right, it apparently involves a broken model, at least it help me getting into that situation. And yes, of course the ChannelItemProvider jumps in if the model-items are gone - but it should clean them up again once the model-items come back.

It's still hard figuring out what _really_ happens because it only happens sometime

[2017-06-09 20:25] martinvw commented on #3607
It starts to sound like an exciting bug hunt :-D

Please keep me/us posten 👍

[2017-06-09 20:44] sjka commented on #3607
Ha, I think I found the little bugger:
It's in the [ChannelItemProvider lines 266+](https://github.com/eclipse/smarthome/blob/3ae5d7b1b284f2bde6199bfe8dad950fd38cae39/bundles/core/org.eclipse.smarthome.core.thing/src/main/java/org/eclipse/smarthome/core/thing/internal/ChannelItemProvider.java#L266)

When the GenericItemProvider reads the fixed items file in, it first creates the links (and adds th

[2017-06-09 20:56] kaikreuzer commented on #3584
Maybe @htreu instead...?

[2017-06-10 07:56] mog1919 opened #3632 "Add support for WeMo Dimmer Light Switch"
The WeMo Dimmer Light Switch is not auto-detected as a "Thing" with in OpenHab with the WeMo binding.

Also mentioned in this thread
https://community.openhab.org/t/wemo-dimmer-switch-not-auto-detected/29690

[2017-06-10 08:04] lolodomo commented on #2333
There are two different cases.
If you have a rule with several TTS calls in sequence, we should have this correctly handled. Considering the code of the Sonos audio sink, my feeling is that the process method called by "say" only returns when the TTS has finished.

Another case is when you have several rules trigerring "say" commands that overlap. This case is clearly not handled by ESH.

@kaikreu

[2017-06-10 13:17] smerschjohann commented on #3580
@kaikreuzer The `RuleSupportRuleRegistryDelegate` can also be used directly by the scripts but still allow the removal of all rules which where added using that script if it is unloaded see `removeAllAddedByScript`.

So the resolution as I understood is that the `ScriptedRuleProvider` requires all rules that are about to be added to have a UID, am I right?

[2017-06-10 17:13] lolodomo commented on #3408
PR is merged. Issue to be closed.

[2017-06-10 19:58] sjka commented on #3607
As you wanted to be kept updated: I just started writing test-cases for this issue and by doing so I understood a little more about the mechanism.

It actually needs three things to cause this issue:

* The GenericItemChannelLinkProvider has some amnesia. It clears its context map, so it doesn't properly remember what it created/provided before. It needs an even number of updates, before a model r

[2017-06-10 20:00] sjka commented on #3408
Ah, wrong syntax for the auto-close... Thanks for the hint!

[2017-06-10 20:00] #3408 closed

[2017-06-10 20:03] martinvw commented on #3607
:-D

Great that you were able to track this down so quick and complete thanks!

[2017-06-11 09:03] lolodomo commented on #3299
I will add the two days choice.

[2017-06-11 09:53] lolodomo commented on #642
Is it sill true ?
Just reading the code of the default chart provider, I have the feeling that it is handed by the convertData method ?
https://github.com/eclipse/smarthome/blob/master/bundles/ui/org.eclipse.smarthome.ui/src/main/java/org/eclipse/smarthome/ui/internal/chart/DefaultChartProvider.java#L232

[2017-06-11 10:04] antares2001 commented on #2333
@lolodomo, @kaikreuzer

technically as you can see in the code I posted in the above forum thread, I am using a String item that I monitor for change with a rule. If the string command changed, the rule will be invoked and call say with the content. So I would say that from @lolodomo's last post the first case applies here.

My hope was that the say command will stop execution of the rule until it

[2017-06-11 10:13] lolodomo commented on #2333
My strange feeling is that the problem is inside the rule engine, not the audio sink.
By the way, we probably could add a "synchronized" on the process method of the audio sink to be sure that it is not executed a second time while the first execution is not finished. But I am not sure at all that the problem is in the audio sink itself.

[2017-06-11 11:03] lolodomo commented on #2333
In fact the "synchronized" should even be in the voice manager to be valid for any audio sink.

[2017-06-11 14:38] sjka opened #3635 "[Automation] circular service reference"
[code]

[2017-06-11 15:00] sjka opened #3636 "NPE in GenericThingHandler"
[code]

What I did:
* Updated a binding which now requires different configuration parameters (with my old config it failed with NPEs, just in case it matters)
* I corrected them (i.e. added the missing config)
* I renamed by things within the bridge (as with the new config I am allowed to freely chose their names)
* Ended up with old AND new things, all with "UNKNOWN"  status

![image](https://us

[2017-06-11 17:36] khan-git commented on #3607
Good work.
This thing has been bugging me a lot.

[2017-06-11 17:59] kaikreuzer commented on #3635
Looks slightly different than https://github.com/eclipse/smarthome/issues/2413, but it shows that we still seem to have issues with cycles in the automation component.

@danchom As you had already analysed the service dependencies in detail, do you have any idea what might have caused this?

[2017-06-11 19:30] kaikreuzer commented on #3635
I can add another slightly different exception:

[code]

[2017-06-12 05:40] lolodomo commented on #3354
Can someone explain when script _iconcopy is run ?
Even if the icon is created by the script, we have to add it in the repo ?

[2017-06-12 06:17] kaikreuzer commented on #3354
It is a helper script for the maintainers, it isn't automatically executed.
So yes, the result of its execution needs to be checked into the repo.

[2017-06-12 06:28] #3299 closed

[2017-06-12 06:34] htreu commented on #3584
added to the queue :-)

[2017-06-12 07:27] #3591 closed

[2017-06-12 07:28] #3625 closed

[2017-06-12 08:41] danchom commented on #3635
https://github.com/eclipse/smarthome/issues/3195#issuecomment-301063092

[2017-06-12 08:50] danchom commented on #3635
The fisrt cycle depebdency will be fixed when the issue #3195 is implemented. As Kai seid here:
 https://github.com/eclipse/smarthome/issues/3195#issuecomment-301063092
the cyclic dipendency is due to the ModuleTypeResourceBundleProvider has depencency to the ModuleTypeRegistry (because it checks unique of ids. This check must be done in registry as proposed in the  #3195).
@adimova  will start to

[2017-06-12 09:58] cweitkamp commented on #3623
@gerrieg Do you have time for to look into this? If not, I can offer my help.

[2017-06-12 10:21] kaikreuzer commented on #3580
"providing a rule" and "adding a rule to the registry" are two very different concepts and I think that should be treated that way in scripts as well. So how about being able to add (or maybe better call it "register"?) rules to the ScriptedRuleProvider within scripts directly?

Let me reformulate it: The ScriptedRuleProvider should provide a set of rules, which all have UIDs, yes.

[2017-06-12 10:42] lolodomo commented on #3354
What colour would you suggest instead of full black ?

[2017-06-12 11:43] aounhaider1 commented on #3584
Is it possible to get the binding that you are using? It will make the debugging much easier.

[2017-06-12 11:46] aounhaider1 commented on #3620
@kaikreuzer, @htreu what do you think the behaviour should be in this case?

[2017-06-12 11:50] sjka commented on #3635
Thanks for the quick analysis!

[2017-06-12 13:42] htreu commented on #3620
@aounhaider1 My guess is that the `advanced`property on parameter groups should indeed supersede the property of the encapsulated params and display the `More` button for this group.
I will propose a fix for this.

[2017-06-12 13:44] aounhaider1 commented on #3620
Ok. Already did that. Will create a PR shortly.

[2017-06-12 14:02] #3600 closed

[2017-06-12 15:13] #3607 closed

[2017-06-12 15:36] gerrieg commented on #3623
@cweitkamp yes please, any help is welcome. I'm very busy atm.

[2017-06-12 16:09] clinique commented on #3569
Pushing a PR adressing first two bugs, but the third one is as designed.

[2017-06-12 16:43] ppieczul commented on #3584
Attached is a simple test - it includes source code and jar in target subdir.

How to perform the test:
1) switch simple mode to OFF in paper UI
2) install binding and create a thing for it in the paper UI
    - during initialization, thing will create one channel type, called static-channel type, spawn a thread and return from initialization
    - every 10 seconds the thread will create a static-

[2017-06-12 17:51] NorbertHD commented on #3569
@clinique Thank you very much.

I have 3 other small issues:

"Moon age" and "Moon illumination" also don't have units. They should have "d" and "%".

The label of the "Full moon" channel-type is wrong (New moon):
[code]

[2017-06-12 21:17] cweitkamp commented on #3623
@kaikreuzer One question: I have two different ways to solve this in my mind. Which one do you/we prefer?

1. A system-wide translation for a system channel, means one system channel always has the same name and the develops don't have the chance to overrule that translation.

2 . A binding dependant translation for a system channel, means there will be a default translation for one system channel

[2017-06-12 21:26] clinique commented on #3569
Ok, I'll integrate these small issues in the same PR

[2017-06-13 06:20] htreu commented on #3620
Tnx a lot @aounhaider1! I´m also working on this but did a lot of refactoring left & right in the code. My suggestion is to merge your PR and I will rebase and propose my refactoring afterwards.

[2017-06-13 06:37] #3620 closed

[2017-06-13 06:37] kaikreuzer commented on #3620
#3640, so @htreu go and rebase :-)

[2017-06-13 07:16] clinique commented on #3569
PR was already merged.

[2017-06-13 09:18] sihui62 opened #3645 "PaperUI: creating a Group with Base type Contact gives wrong functions dropdown dialog"
Trying to create a new group in PaperUI with Base type Contact does not give the correct functions dialog dropdown, instead of "OPEN/CLOSED" functions it shows available functions for Base type Switch "ON/OFF":

![3](https://user-images.githubusercontent.com/10405486/27075218-c9973192-5029-11e7-924e-c486bc41f068.JPG)

Related community thread:
https://community.openhab.org/t/group-settings-for-con

[2017-06-13 10:59] #3636 closed

[2017-06-13 12:33] sjka opened #3651 "Save Actions: final modifiers"
As just pointed out in https://github.com/eclipse/smarthome/pull/3650#pullrequestreview-43702946, there are several mistakes which could not happen if we were using `final` modifiers for method arguments and private fields (where applicable), ideally supported by the IDE:

![image](https://user-images.githubusercontent.com/2592443/27082195-172b190e-5044-11e7-8ae0-f9a3cdf2dc5e.png)

So far, we trea

[2017-06-13 12:41] maggu2810 commented on #3651
The last time we talked about (IIRC it has been at the time of switching from Yoxos to Oomph) I would like to use it (also for local variables) but Kai don't like it.

I am still a friend of using final whenever possible, so from my side :+1:

[2017-06-13 13:04] sjka commented on #3651
In my opinion, having it everywhere totally obfuscates the code. Therefore I tend to agree with @kaikreuzer about this point. Java is broken there from a language perspective: "final" should have been the default.

We use it for private fields manually already wherever possible, so I seems pretty clear that it would not hurt having this as a save action.

Remains the method parameters where we as

[2017-06-13 14:37] #2491 closed

[2017-06-13 15:16] #3610 closed

[2017-06-13 18:03] hmerk commented on #3632
As mentioned in the forum post, we need captured traffic between WeMo App and the dimmer devices, as there is no documentation of the used attributes to be found.

[2017-06-13 18:51] #3645 closed

[2017-06-13 18:55] NorbertHD commented on #3569
I don't think that the PR fixes the altitude problem.
The parenthesis around the expression "(altitude / 1000)" makes it now an integer division.
So all altitude values between 0 and 999 m have the same result of 0.
When you set the altitude to 1000 m or above you should see wrong radiation values again.

[2017-06-13 20:34] hmerk commented on #3632
Fist Binding version to test can be found at
[(https://drive.google.com/open?id=0BxdTuQI5IDvwTFppUUUzY0E0REk](url)
So far, the following should work:

- Autodiscovery
- Switching ON/OFF (channel "state")
- Polling ON/OFF state every 2 minutes.

[2017-06-13 21:58] lolodomo commented on #3175
PR #3631 fixing the update of page title for SSE browsers is merged.
Non SSE browsers like IE or Edge still have the page title not updated.

[2017-06-13 21:58] #3175 closed

[2017-06-14 06:17] martinvw commented on #3325
Just a few nights ago I realised something important (with respect to this issue) if we handle the logging of the exception outside of the actual runnable, we still terminate the repeated tasks so I think a combination of 2 & 3 can be the only real solution. I will try to create a WIP PR in the upcoming week.

[2017-06-14 07:00] htreu commented on #1700
@MHerbst or @markusjw are you able to verify the fix for this issue with the latest SNAPSHOT build?

[2017-06-14 07:16] #3552 closed

[2017-06-14 07:18] kaikreuzer opened #3657 "[Paper UI] Show configuration page of newly added things, if required params are not set"
If a new Thing is added from the Inbox, which does not have all required parameters set in the config (e.g. because some user password is required), no handler is instantiated and the Thing status goes to "configuration pending".

It is difficult for the user to figure out that he needs to go into the Thing configuration to fill in some more details, before he can use the device.

I'd therefore su

[2017-06-14 07:18] kaikreuzer commented on #3657
@htreu As discussed :-)

[2017-06-14 07:29] kaikreuzer opened #3658 "[Paper UI] Add QR-code support"
There are devices that come with a QR-code for their PSK.

It is quite cumbersome for users to type such a long PSK string manually into the Thing configuration.
Therefore, it would be cool if we could add a "qrcode" context to parameters, which will make it possible on smartphones and tablets to use the camera and have the field filled by scanning the code.

[2017-06-14 07:29] kaikreuzer commented on #3658
@htreu Is this something that Angular supports in general or would that be a bigger issue to implement?

[2017-06-14 08:50] #3513 closed

[2017-06-14 13:59] sjka commented on #3527
As per your analysis: The binding's discovery service "discovers" the existing thing and synchronizes its configuration.  Thereby it does not yet normalize the values, so it replaces the existing BigDecimals with Integers. Will push a PR...

[2017-06-14 14:09] mherwege opened #3663 "error message at startup: Could not load implementation object class org.openhab.io.rest.docs.internal.RESTDashboardTile"
I got the following error every time I start openHAB. I noticed it a while ago already, and it is still there in the latest snapshot release.
It does not seem to do much harm, as I can use the system normally after full startup.

[code]

[2017-06-14 14:46] kaikreuzer commented on #3663
There is no reference of ESH in this stacktrace, so this is a pure openHAB issue.
I thought I had this actually fixed recently through https://github.com/openhab/openhab-core/pull/156 - it is weird that you still see this :-(

[2017-06-14 14:46] #3663 closed

[2017-06-14 14:49] #3527 closed

[2017-06-14 14:52] sjka opened #3664 "Persistent Inbox updates non-normalized configuration parameters"
The binding's discovery service "discovers" the existing thing and synchronizes its configuration. Thereby it does not normalize the values, so it e.g. replaces existing BigDecimals with Integers.

[2017-06-14 14:57] #3664 closed

[2017-06-14 14:58] sjka commented on #3664
@martinvw this looks like a pretty good candidate for what we were searching for, doesn't it?

[2017-06-14 15:16] #3630 closed

[2017-06-14 15:36] martinvw commented on #3664
You mean the one where sometimes other types popped-up, yes this looks likely 👍

[2017-06-14 17:15] kaikreuzer commented on #3623
I would tend to option 1. Note that we are talking about channel types here - so a binding anyhow has the chance to overwrite the label and description for the channels (if I am not mistaken).

[2017-06-14 17:42] MHerbst commented on #1700
@htreu I have tried it with about the same number of items but now everything works fine. Tested with Chrome, Firefox and Edge. In my opinion this issue can be closed.

[2017-06-14 17:42] #1700 closed

[2017-06-14 17:45] htreu commented on #3658
Scanning a QR code from the smartphone camera relies on the browser to support the MediaCapture and Stream API (https://developer.mozilla.org/en-US/docs/Web/API/MediaDevices/getUserMedia) which is currently only available on the Desktop (Chrome, Edge, Firefox, Opera) and Android (Chrome, WebView). The support for iOS/macOS was just announced: https://webkit.org/blog/7726/announcing-webrtc-and-medi

[2017-06-16 08:16] #3448 closed

[2017-06-16 10:33] kaikreuzer commented on #2963
Fixed by #3500.

[2017-06-16 10:33] #2963 closed

[2017-06-16 11:03] sjka opened #3672 "[Trådfri] Gateway does not come back online after being unplugged"
Steps to reproduce:
* Have a bridge with bulbs configured so they are ONLINE
* Unplug the power cable of the gateway
* Wait until the thing are OFFLINE
* Replug the power cable

I'd expect that the schedule job (every minute) would make it get back online. However, this job continues to run into CoAP errors because of response timeouts. I don't get why though.

Maybe it would be easiest to wiresha

[2017-06-16 11:48] andreasreinhardt opened #3673 "[HttpUtil] guessContentType for downloadData not sufficient for JPEG"
`org.eclipse.smarthome.io.net.http.HttpUtil.downloadData(String, String, boolean, long)` uses `java.net.URLConnection.guessContentTypeFromStream(InputStream)` tries to determine the actual MIME type of content if no header was sent from the server. This implementation is not sufficient for JPEG (see [Wikipedia](https://en.wikipedia.org/wiki/Magic_number_%28programming%29#Magic_numbers_in_files), e

[2017-06-16 11:58] kaikreuzer commented on #3673
Could you come up with a PR to fix this?

[2017-06-16 11:59] andreasreinhardt commented on #3673
I'm not sure, whether I am allowed to contribute.

[2017-06-16 12:17] sjka commented on #3672
With wireshark it look like indeed there are no replies anymore to this client from the gateway (10.20.0.216):

![image](https://user-images.githubusercontent.com/2592443/27226091-9e33740e-529d-11e7-872a-a16d92d33f7e.png)

Restarting the tradfri bundle (i.e. using new clients) also does not help, but changes the symptoms a little - it is now busily shaking hands all the time:

![image](https://use

[2017-06-16 12:18] andreasreinhardt commented on #3673
I'm currently preparing a pull request, give me some more minutes.

[2017-06-16 12:22] sjka commented on #3672
PS: in order to decrypt the content, you need a recent version of wireshark (did not work on 2.2 for me, works with 2.4.0rc1), enter the code as a hex value as pre-shared key into the DTSL protocol configuration and capture the communication from the beginning (i.e. including the SSL handshake).

[2017-06-16 13:16] pgfeller opened #3676 "Get list of item via REST API returns null reference exception (error 500)"
Hi,

using OH 2 build 947 I have the following issue (discussed in https://community.openhab.org/t/rest-items-does-not-work-faulty-item-definition/30052):

A rest query for all items returns:
`  "error": {
    "http-code": 500,
    "exception": {
      "class": "java.lang.NullPointerException"
    }
  }
}`

Karaf is able to list the items (smarthome:items list) - classic UI and rules work well, bu

[2017-06-16 13:21] kaikreuzer commented on #3676
Thanks for reporting, this is clearly a bug in `EnrichedItemDTOMapper`.

[2017-06-16 13:24] #3672 closed

[2017-06-16 14:03] Snicka commented on #2998
Not sure why I'm seeing this but I updated my OH2 snapshot yesterday and I still have to clear the OPML string to get TTS to work. My current version is:
191 | Active   |  80 | 0.9.0.201706091022     | Sonos Binding

[2017-06-16 15:33] kaikreuzer opened #3678 "Bug in parameter value normalization"
Just found that in my log using the most recent code:

[code]

Not sure what is causing this, but my suspicion is that it might be related to https://github.com/eclipse/smarthome/pull/3662. @sjka wdyt?

[2017-06-16 15:36] sjka commented on #3678
Ha. Yes it is. And it's even correct:

[code]

[2017-06-16 15:44] #3334 closed

[2017-06-16 16:17] kaikreuzer opened #3680 "io.rest uses gson 2.5.0, although we so far only support gson 2.3.1"
I found this in my logs:

[code]
A closer analysis shows that this method is only publicly available in gson 2.5, while my setup only has gson 2.3.1 available.

Interestingly, our smarthome.target resolves 2.2.4 AND 2.5.0, so the IDE picks up 2.5.0 and compiles against it.

As far as I remember, we wanted to be compatible with gson 2.3.1, but it all seems to be a bit messed up right now...

[2017-06-16 17:45] sjka commented on #3680
it's probably the jax-rs adapter which brings the newest gson version. Looking into it, it's so dead-simple that we could bring our own instead easily and remove it from our target scope.

[2017-06-16 18:17] #3678 closed

[2017-06-16 18:19] #3680 closed

[2017-06-16 19:51] kaikreuzer opened #3683 "NPE in Tradfri binding"
From my logs, directly after discovering a light:
[code]

Looks as if we need some more null safeguard...

[2017-06-16 20:15] kaikreuzer opened #3684 "[Paper UI] Labels for group functions are incorrect"
The Paper UI uses incorrect descriptions for boolean group functions. Just two examples:

AND(OFF,ON) shows
[code]
while it should be
[code]
and OR(OFF,ON) shows
[code]
while it should be
[code]

I didn't check the others - if we are lucky, these are the only ones that got mixed up.

[2017-06-16 20:41] kaikreuzer opened #3685 "[Tradfri] Handler takes more than 5000ms"
From my log:
[code]
Note that my gateway was in a weird state - it never responded and I had to reboot it.
Nonetheless, we should make sure that the handler initialization does not block in such a case.

[2017-06-16 20:42] kaikreuzer commented on #3685
What I am also not quite clear about is why we see a ThingUpdatedEvent here...

[2017-06-16 20:50] AngelosF opened #3686 "ISE: No active update transaction"
System info:
openHAB 2.1.0 Snapshot #950
Debian Jessie (Linux 3.16.0-4-amd64 #1 SMP Debian 3.16.43-2 (2017-04-30) x86_64 GNU/Linux)
Java HotSpot(TM) 64-Bit Server VM (build 25.131-b11, mixed mode)
binding = knx1,mqtt1,zwave,weather1,samsungtv,astro,ntp,wol1

In my openhab.log, I have the following type of entries (one for every channel of every thing that I have configured in my system):
[code]

[2017-06-16 20:52] AngelosF commented on #3686
Additional info:
https://community.openhab.org/t/oh2-snapshot-947-paperui/30017/16
https://github.com/eclipse/smarthome/blame/9d96c90bc1257e936f7b0dbe7cb725f97a1761c5/bundles/model/org.eclipse.smarthome.model.thing/src/org/eclipse/smarthome/model/thing/internal/GenericItemChannelLinkProvider.java#L62

[2017-06-16 21:08] kaikreuzer commented on #3686
Likely to be related to https://github.com/eclipse/smarthome/pull/3641.

[2017-06-16 21:38] kaikreuzer opened #3687 "[Paper UI] On/Off toggle not in sync with slider"
When looking at a dimmer item, a slider and a toggle is rendered. When the slider is moved to 0 %, the toggle should go OFF, but it doesn't. If the toggle is OFF and the slider is moved to any value > 0%, it should go ON, but it doesn't.

<img width="427" alt="screen shot 2017-06-16 at 23 37 57" src="https://user-images.githubusercontent.com/3244965/27245603-ded02d00-52ec-11e7-9bb9-da3846347cd6.pn

[2017-06-16 21:43] sjka commented on #3686
Just some background info: The GenericItemChannelLinkProvider was always built in a way that it needs to have `startConfigurationUpdate()` and `stopConfigurationUpdate()` to be called before and after it processes the binding configs, just like a transaction. It should not matter if previously there have been any items/links or not.

All I did was making any misuse of it. Obviously I missed to spo

[2017-06-17 05:44] #3686 closed

[2017-06-17 06:56] lolodomo opened #3689 "Binding configuration could not be parsed correctly : No active update transaction"
Using snapshot 950, I got tons of errors of the same type at startup:
[code]
Probably for all my channels.
As a probable consequence, lots of bindings are not working.
Waiting for a fix, I switch back to snapshot 937.

[2017-06-17 07:26] lolodomo commented on #3689
Duplication of #3686

[2017-06-17 07:26] #3689 closed

[2017-06-17 08:10] lolodomo opened #3690 "Basic UI: problem of icon URL with colorpicker widget"
Using the demo sitemap, when opening the page "Widget Overview", you can find such log:
[code]
The icon proxy is returning a PNG icon while Basic UI is set to use SVG.
Here is the sitemap that generates the issue:
[code]
I analyzed the problem and discovered that the HttpServletRequest received the following URL: "/icon/slider" meaning without state and format parameters.
I traced the generated sn

[2017-06-17 08:15] lolodomo commented on #3690
For information, it is working well in Classic UI but in this case the snippet is not including the state in the icon URL.

I could probably reverse the order of parameters in the URL to have the format first. It will probably avoid considering PNG rather than SVG but the real problem is the state value.

[2017-06-17 08:31] lolodomo commented on #3690
Except if someone tells me how to avoid problem with the "#" in the icon URL path, I propose to suppress the state from the icon URL for the colorpicker widget.

[2017-06-17 09:46] lolodomo commented on #3690
And we habe to consider the reload of icon in the front JD that icludes the state in the path too.
Some kind of character escaping is probably required.

[2017-06-17 12:22] pgfeller commented on #3676
Many thanks for the feedback. After some experiments I've found that the problem is gone after I cleaned the tmp directory. I wonder if I did make a mistake during the update ... Maybe it would be worth to clean the tmp @ startup - or after an upgrade automatically?

Not sure if this is to be handled as bug, or user error - maybe no action is required; but as many problems in the forum are solved

[2017-06-17 13:31] NorbertHD commented on #3569
Now with build 951, where the PR is included, I get really wrong radiation values, when altitude is above 1000 m.
![radi](https://user-images.githubusercontent.com/8472266/27253208-925f5d36-5370-11e7-8db9-9629ee1889af.png)

I think there are parenthesis missing in the M Expression and the "(altitude / 1000)"  expression should be turned back in a double division.

Please use the following diff:
[c

[2017-06-17 20:24] kaikreuzer commented on #3676
Both cache and tmp folders are cleaned on an apt upgrade. The cache cleaning has been missing until yesterday, but is in place now as well: https://github.com/openhab/openhab-linuxpkg/pull/51.

As you cannot reproduce it anymore, I close this issue. Nonetheless, I think that an NPE should not happen at that place, but I cannot really say what was null and if that only occurred because of a messed

[2017-06-17 20:24] #3676 closed

[2017-06-17 20:53] kaikreuzer opened #3692 "Allow add-ons to provide custom meta-data on items"
This is a continuation of the discussion at https://github.com/eclipse/smarthome/issues/1093#issuecomment-303422314.

We have multiple add-ons (HomeKit, Alexa, ImperiHome, ...) that want to expose items to external systems and which require some special meta-information like a mapping to the type system of the remote system.

So far the approach was to use semantic tagging, but this has the drawba

[2017-06-17 21:02] kaikreuzer commented on #1093
Sorry (again) for my late reply...

@digitaldan Your option (1) is the one that fits in this issue as it is about using the "central" semantic tags - but if I understand the discussion right, we are all looking rather for a solution for your option (2), which is really a different kind of issue and thus I'd like to suggest to decouple the discussion and continue it on https://github.com/eclipse/sm

[2017-06-18 19:17] eleson2 opened #3694 "Paper UI: Switch commands doesn't trickle down in nested groups"
Having a group `AllLamps` with three lamps plus the group `WindowLamps` with additional lamps.

Switching `AllLamps`off  turns the three lights off, but not the lamps in the group `WindowLamps`.
However , Sending commands directly to `WindowsLamps` does act on the lamps in the group.
So the behavior seems to differ depending on nesting of groups.

[2017-06-18 19:28] kaikreuzer commented on #3694
Please remove Paper UI from the title, unless you think it is related to the Paper UI in any way.

Could you provide a simple reproducible scenario? It should be enough to provide the item definitions, a "smarthome:send <itemname> OFF" console command with the according event log output.

[2017-06-18 21:12] eleson2 commented on #3694
AFAIK , groups in items file does not behave like this.
So from my point of view Groups entered in Paper UI  acts like this.

Tried to create this Scenario in paper UI:
[code]
default.sitemap:
[code]
But this works as expected!

So I cant reproduce it easily.
My problems remains, but it doesn't seem to be neither consistent nor repeatable.

I will close the ticket.

[2017-06-18 21:12] #3694 closed

[2017-06-19 03:22] davidgraeff opened #3695 "io.transport.mqtt: Too restrictive"
## API is too restrictive
The io.transport.mqtt bundle is very restrictive in what functionality it exports. At the moment it allows:
* (un)registerConnectionObserver: Notification about dis/connection to a **known** broker.
* (un)registerMessageConsumer: Subscribe to a topic on a known broker.
* (un)registerMessageProducer: Send data to a known broker.

It does not allow to alter or enumerate the

[2017-06-19 06:57] hmerk commented on #3632
Making progress with the help of the community.
Main functionality is handled in the SetBinaryState/GetBinaryState methods of "basicevent" actionsService.

It also seems that subscribing to GENA events should be possible giving the following result:

`<s:Envelope xmlns:s="http://schemas.xmlsoap.org/soap/envelope/" s:encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"><s:Body>
	<u:GetBinarySt

[2017-06-19 10:28] #3690 closed

[2017-06-19 11:05] maggu2810 commented on #3624
If we add

[code]

to the `Import-Package` section of a manifest file we can already use the Eclipse JDT nullness annotations on that bundle.

---

My suggestion for the nullable annotations and checks:
* add `@Nullable` annotations for existing code only if needed or changes are done at the code. So, no need to start reading all interfaces and classes and add it just to use it on every place
* us

[2017-06-19 12:49] kaikreuzer commented on #3590
@smerschjohann Could you please comment?

[2017-06-19 15:36] hmerk commented on #3632
New version ready for testing.
(https://drive.google.com/open?id=0BxdTuQI5IDvwTFppUUUzY0E0REk

Changelog:
+ Added methods for channel brightness.

[2017-06-19 16:31] #1694 closed

[2017-06-19 19:50] mikenemat commented on #3632
Hey there @hmerk . I'm testing your latest build with the Wemo Dimmer right now and the following things are working really well: Autodiscovery, polling, BinaryState events.

However, I can't seem to get OpenHAB to control the Wemo Dimmer. The channels/items are configured properly. The actions just do not seem to be sent over the network to the Dimmer. Changes to the dimmer via the Wemo app are r

[2017-06-19 19:58] mikenemat commented on #3632
Just noticed another issue. When the brightness levels are synchronized, the value appears to be incorrect. For example, <brightness>62</brightness> in the logs translates to 24% in PaperUI

[2017-06-19 20:07] hmerk commented on #3632
@mikenemat
Thanks for your feedback, I will check your logs to see where the issue is.
According to brightness, that seems to bee an easy one. As for the bulbs, I recalculated the value, which seems to be unnecessary for the dimmer. Just a few lines of code to delete.

[2017-06-19 21:59] hmerk commented on #3632
Next version ready for testing.
https://drive.google.com/open?id=0BxdTuQI5IDvwTFppUUUzY0E0REk

Changelog:

- Removed recalculation of brightness values
- Corrections for command-handling
- Changed some logging settings for testing

@mikenemat
Please test again.

[2017-06-19 22:55] seasickmonkey commented on #3632
Bender here. I have installed the newest version and the dimmer works! However, the switch channel stopped working.

[2017-06-19 23:47] mikenemat commented on #3632
Seeing the same thing as @seasickmonkey. Dimmer works great (while turned on) but cannot switch on/off

[2017-06-20 04:46] hmerk commented on #3632
@seasickmonkey @mikenemat
Thank you both for testing. I will check @seasickmonkey logs this evening.
As it worked before, it should be easy to fix.

[2017-06-20 08:02] plamen-peev opened #3702 "Java runtime permission is required in RuleEngineCallbackImpl"
When the automation is running in security mode, a java.lang.RuntimePermission is required when a rule is removed.
The problem comes from `RuleEngineCallbackImpl` because `shutdownNow()` is called on `ExecutorService` instance.
[eshStackTrace.txt](https://github.com/eclipse/smarthome/files/1087401/eshStackTrace.txt)

My suggestion is to shange the `dispose()` method to look like this:

    public

[2017-06-20 08:23] kaikreuzer commented on #3702
Could you create an according PR?

[2017-06-20 10:22] plamen-peev commented on #3702
You can see the changes in this PR [https://github.com/eclipse/smarthome/pull/3703]()

[2017-06-20 10:23] plamen-peev commented on #3702
Yo can see the changes in [https://github.com/eclipse/smarthome/pull/3703](url)

[2017-06-20 10:30] plamen-peev commented on #3702
You can see the changes [here](https://github.com/eclipse/smarthome/pull/3703)

[2017-06-20 11:56] clinique commented on #3569
Ok, new PR submitted. Your corde solves the calculation problem. Thanks

[2017-06-20 12:02] htreu commented on #3695
Hi @davidgraeff, thanks a lot for starting this discussion. Could you describe your use case in more detail and give some examples?
Regarding your proposed changes:

1) Yes, this would be okay. Right now the MqttService instantiates the MqttBrokerConnection and sets all the connection properties afterwards. With the proposed change it would be nice to have MqttBrokerConnection immutable and give a

[2017-06-20 12:42] s4ndst0rm opened #3705 "astrobinding triggers constantly"
As described here:
https://community.openhab.org/t/astro-bindings-fires-triggers-constantly/30254/4

the astro binding constantly triggers its events.

event.log:

2017-06-20 08:51:55.064 [ChannelTriggeredEvent ] - astro:moon:local:rise#event triggered START
2017-06-20 08:51:56.063 [ChannelTriggeredEvent ] - astro:moon:local:rise#event triggered START
2017-06-20 08:51:57.072 [ChannelTriggeredEvent

[2017-06-20 12:49] kaikreuzer commented on #3705
I have seen the same recently - @amitjoy Any chance you could have a look?

[2017-06-20 12:57] davidgraeff commented on #3695
3. & 4.: I basically implemented everything that I've listed to see if it is feasible. And yes, I stumbled over those delegating methods. The question is, how much is backwards compatibility important. At the moment I have archived everything without removing anything of the old MqttService interface.

[2017-06-20 13:17] maschenborn commented on #3705
Same here - but the problem stopped after defining earliest and latest time (I tried it with 00:00 and 23:59)

[2017-06-20 13:41] maggu2810 commented on #3695
@davidgraeff How do you intend to handle command / state vs. publish / subscribe?
If there is "next_great_mqtt_iot_spec/doorbell/state" I assume "doorbell" is the item name and "state" an indication that it is a state and not a command.
If a command is published is the topic for item "doorbell" equal to "next_great_mqtt_iot_spec/doorbell/command"?
Which topic (e.g. using wildcards) is the client s

[2017-06-20 14:08] davidgraeff commented on #3695
@maggu2810: This is a usage example for the proposed API changes, please don't pinpoint me on that imaginary non existing binding with the imaginary non existing next _big mqtt iot standard spec_. There a lot of COAP Iot wanna be standard specs that specify all kind of resource ids and their exact value ranges. If an mqtt ios standard spec appears that defines topics/states/commands, it would be e

[2017-06-20 14:12] kaikreuzer opened #3709 "[Paper UI] Support "location" context for config parameters"
According [to the docs](https://github.com/eclipse/smarthome/pull/3587/files#diff-8e67ab95e48e5025e43751c8d5255b9eR131) we now have a "location" context for config parameter.

For this, it is expected that the Paper UI renders a dedicated widget. We already have an OSM widget for Location items, so it would make sense to use the same here. It must be possible to select a location from the map, but

[2017-06-20 14:14] kaikreuzer opened #3710 "Remove separate altitude parameter from Astro binding"
When approving my auto-discovered Sun thing, I got this in my log:

[code]
The issue is that the discovery now adds "<lat>,<long>,<alt>" in the geoLocation config parameter of the Thing, while it expects the altitude to be filled into the dedicated "altitude" parameter instead.

As we will soon have a [location context](https://github.com/eclipse/smarthome/issues/3709), which also includes altitud

[2017-06-20 14:57] bytedealer opened #3711 "[FS Internetradio] OutOfMemory Leaks with openHAB 2?"
I am using openHAB 2 on a DS214play (2.0.0.001-DSM6) and bought some Silvercrest SMRS 35 A1 and a SMRB 40 A1 with FS chip. Everything is starting and being controlled perfectly. But after a couple of hours, less than one day, there is an interruption and errors coming up.

First:

[code]
and later I get a lot of them:

[code]

until openHAB crashes (because the system does not respond anymore).

I

[2017-06-20 15:34] schnidrig opened #3713 "Second parameter on core.ChannelEventTrigger to allow for filtering on the payload"
EventChannels can generate numerous different events.
Currently it is not possible to specify which one of them should trigger an event.

In order to be able to distinguish between the different events one would need a filter on the payload. Please consider adding a second parameter on core.ChannelEventTrigger which can be used as payload filter.

[2017-06-20 15:36] schnidrig commented on #3713
[](https://community.openhab.org/t/two-trigger-with-a-condition-each-in-one-single-rul/30225)

[2017-06-20 17:16] amitjoy commented on #3705
@kaikreuzer I started looking into this. It occurred to me once but I couldn't replicate it at all thereafter.

@maschenborn @s4ndst0rm Could you guys kindly give me a hint on reproducing this?

[2017-06-20 18:35] amitjoy commented on #3705
I have made some modifications to increase performance and currently performing a long running task to look for repetitive ChannelTriggeredEvents.

[2017-06-20 19:50] s4ndst0rm commented on #3705
@amitjoy: I don't know how to reproduce. It happens all the time and every trigger fired by astro binding. I dont do any special... Tried to uninstall/reinstall the astro binding but this didnt help.

Which infos do you need and how can i help?

@maschenborn: Ive defined earliest and lastest time in the events i'm using in my rules but this did not solve the problem. Where did you configured the v

[2017-06-20 20:36] hmerk commented on #3632
@seasickmonkey @mikenemat

Dumb me, it was just a one letter type, fixed it it now the state channel schould be back to work.
New version at the same link.

[2017-06-20 20:37] maschenborn commented on #3705
@amitjoy @s4ndst0rm problem returned for me - earliest and latest are no solution.
I just had the situation that the sunset-event was fired since ~90 minutes.
After saving the settings of the event in paperui it stopped for the moment - but started again after a few minutes to fire... strange behaviour

[2017-06-20 21:37] mikenemat commented on #3632
Working great @hmerk . Thanks!

I'm a bit new to OpenHAB 2 and channels. What is the proper way to control both state and brightness from a single item?

Right now I have a rule like this...but it was never needed with OpenHAB 1.x style Dimmer items.

rule "wemoDimmer"
when
    Item wemoDimmerBrightnessItem received command
then
    if(wemoDimmerBrightnessItem.state == 0) wemoDimmerStateItem.sendC

[2017-06-20 21:47] hmerk commented on #3632
This is typically WeMo ... WeMo App also shows two "widgets", a switch and a slider, caus you can switch the lights/dimmer of without changing the brightness value. After switching on, the old value will be restored.
You can define a slider and a switch in your sitemap and bind both to channel brightness, it accepts ON/OFF commands as well, were ON is interpreted as 100% and OFF is 0%.

[2017-06-20 21:49] mikenemat commented on #3632
Thanks @hmerk that makes perfect sense. I will keep the rule in order to emulate traditional dimmers.

[2017-06-20 22:39] seasickmonkey commented on #3632
Thank you, @hmerk!

[2017-06-21 08:14] svilenvul commented on #3711
I have a guess :
 - In the [periodic refresh job](https://github.com/eclipse/smarthome/blob/master/extensions/binding/org.eclipse.smarthome.binding.fsinternetradio/src/main/java/org/eclipse/smarthome/binding/fsinternetradio/handler/FSInternetRadioHandler.java#L53) we have a call to [radioLogin()](https://github.com/eclipse/smarthome/blob/master/extensions/binding/org.eclipse.smarthome.binding.fsin

[2017-06-21 08:54] triller-telekom commented on #3673
Could you please create a PR with your fix?

[2017-06-21 09:02] kaikreuzer commented on #3673
@triller-telekom Already there since 5 days and under discussion: https://github.com/eclipse/smarthome/pull/3674

[2017-06-21 09:07] #3710 closed

[2017-06-21 10:07] triller-telekom commented on #3673
THX, I expected a direct link to the PR, which you just created now :)

[2017-06-21 10:08] kaikreuzer commented on #3711
Depends on the effort to do so. If you have already identified a bug, you might simply go for fixing it and leave the testing to users with real devices.

[2017-06-21 10:38] Celaeno1 opened #3718 "[astro] astroDawn#start -->value is empty (not available)"
I have a problem. Channel **astroDawn#start** is not running anymore. I first recognized it with build 920 and after this until now I used build 940 (0.9.0.201706071228), today I updated to build 958 (0.9.0.201706191632), but it is still not running! --> **astroDawn#start** is empty! See also here:
[link](https://community.openhab.org/t/astro-binding-with-weather/30315/3) and here: [link](https://

[2017-06-21 10:43] kaikreuzer commented on #3718
@amitjoy Would you think that this is fixed by #3716 as well?

[2017-06-21 11:52] #3705 closed

[2017-06-21 11:55] amitjoy commented on #3718
@Celaeno1 Could you kindly let me know your location that has been set to the Sun thing? For your information, in most of the places in Germany, right now there exists no astronomical dawn but the places in Munich, Ulm do have. If have change your location to any of the places in Munich, the astronomical dawn will show up.

[2017-06-21 12:38] kaikreuzer opened #3719 "CME in AbstractExpression of Scheduler"
Just found this in my log:

[code]

At a first glance, I have no idea how we can run in concurrent modifications here, but there must be some situations that need to be considered.

[2017-06-21 12:56] sihui62 commented on #3718
For my test (although not Celaeno1 ;-)) I have used a location in the northwestern part of Germany and you are right, no data shown on suncalc:

![1](https://user-images.githubusercontent.com/10405486/27385109-c8ed1d92-5691-11e7-96fe-4b6b9585d168.JPG)

[2017-06-21 13:25] maggu2810 commented on #3719
The AbstractExpression itself is not thread safe, so we need to check if the same object is used and modified by different threads.

[2017-06-21 13:28] svilenvul commented on #3711
Running the test (login attempt with invalid PIN) for 30 seconds results in 274 new Threads, before the changes.

[2017-06-21 14:57] Celaeno1 commented on #3718
Ok, this is no binding issue, it's an astronomical issue. "Astronomical dawn" is "n/a" in my hometown. I understand. Thanks!

[2017-06-21 14:57] #3718 closed

[2017-06-21 17:44] hmerk commented on #3632
@seasickmonkey @mikenemat
Excellent guys, thanks for your feedback.
So as basics are up, we come to the fun stuff....
May I ask you to set the sleep timer through WeMo app to 26 minutes wait three minutes and enable the timer.
Wait another three minutes and disable the timer again.
This should result in three different log entries I ask you to post for analysis.
Do similar testing with the night m

[2017-06-22 06:29] lolodomo opened #3722 "Paper UI: Control panel not usable"
I can see things appearing in the page but the page looks as "locked", scrolling is not working.
I have only less than 30 things (one is OFFLINE).
I decided to use location in my things to have several tabs, thinking it will help to accelerate rendering of things but it does not help (even worst ?).

[2017-06-22 07:08] htreu commented on #3722
@lolodomo I tried to reproduce your issue w/o success. I did configure some (~20) things, some of them offline and tested in Chrome (58) and Safari (10.1) but scrolling and thing control is possible. Can you give some more details on how to reproduce the issue?

[2017-06-22 07:38] lolodomo commented on #3722
One important point is that my OH server is run by a slow machine (RPI 2) but except with that I encounter no performance issue with OH.

The control page has always taken a lot of time to load but in the past you just have to wait and then you could use it. Now there seems to be a kind of loop.
The problem occurs with Firefox on PC and Chrome on Android. On Firefox I have a permanent popup asking

[2017-06-22 07:46] kaikreuzer commented on #3722
@htreu Might that be in any way related to the new REST streaming? Although it was meant as a performance improvement, maybe we have overlooked something that can cause issue?

@lolodomo Do you have the REST API docs add-on installed? If so, it would be interesting how long requests to get all things and all thing-types actually take.

[2017-06-22 08:27] lolodomo commented on #3722
I will install the REST API docs and mesure rhe requests duration later in the evening.
Other information :  I am running build 951.

[2017-06-22 10:29] ReidChris opened #3723 "Wemo Bulb states showing incorrectly"
I have two Wemo bulbs in lamps (hallway lamp and livingroom lamp) that are connected to a wemo bridge.

They're configured in Openhab2 , on my sitemaps and work fine. Recently though, if I change the state (on, off) or brightness of either bulb, the non-changed bulb also shows the changes in the UI but not physically (i.e. only one will dim or turn on/off) but both will show the changed UI.

The l

[2017-06-22 11:06] antares2001 commented on #3031
Hello @resetnow

has there been an update on this? I also face on the current unstable build of OpenHAB that when it looses connection only a page reload helps (or sometimes long waiting) to be able to interact with BasicUI. Especially when using refresh options for images (for ip cameras) in my multi-level sitemap this happens very often and makes the usage rather inconvenient (having to usually

[2017-06-22 11:09] resetnow commented on #3031
@antares2001 could you please provide a bit more details?

1. What device and browser are you using to access BasicUI?
2. Does your device use wireless connection?
3. Does openHAB server use wireless connection?

[2017-06-22 11:50] sjka commented on #3719
I can only see a very poor attempt of synchronization [here](https://github.com/eclipse/smarthome/blob/caa91af3c2c390afb0dc864816b9a70ddefd6fa5/bundles/core/org.eclipse.smarthome.core/src/main/java/org/eclipse/smarthome/core/scheduler/AbstractExpression.java#L364). Otherwise it is completely unprotected, as the original is exposed publicly and modified in several places.

[2017-06-22 14:23] #3719 closed

[2017-06-22 14:58] htreu commented on #3709
We implemented this using OpenLayers (https://github.com/openlayers/openlayers). We need a CQ for version 4.2.

[2017-06-23 05:10] sihui62 opened #3727 "Astro binding: adding things causes config.xml error regarding lat/lon"
Snapshot 961:
Adding an astro thing through PaperUI causes error in openhab.log, also existing things don't trigger anymore:

[code]
Maybe related to this change: https://github.com/eclipse/smarthome/commit/3585905d04281df5442ce39ea5dfb92611002411

On startup I'm seeing:
[code]

Community forum: https://community.openhab.org/t/astro-binding-does-not-trigger-has-no-future-executions-anymore/30403

[2017-06-23 05:22] sjka commented on #3727
It already has been fixed by #3721

[2017-06-23 05:22] #3727 closed

[2017-06-23 05:51] lolodomo commented on #3722
The 2 requests are running fast, around 1 second.

[2017-06-23 06:41] kaikreuzer commented on #3727
And available since at least distro build 963.

[2017-06-23 09:09] dvehof opened #3728 "astro binding missing events"
I am using the following openhab2 SNAPSHOT:
[code]

Sometimes my rules, based on astro events, are not fired. As I look into my events.log I am missing some events of the astro binding. Examples (These are ALL events of my astro:sun:rolladen Thing in the events log in that time:

[code]

As you can see, sometimes the START events are missing, sometimes the END events are missing.
What could be cau

[2017-06-23 11:13] htreu commented on #3709
Although we only use a subset of functions from OpenLayers its not crystal clear which JavaScript files are actually used by our custom build of the library.

@kaikreuzer or @maggu2810 or @sjka please create a CQ for https://github.com/openlayers/openlayers/tree/release-v4.2.0

[2017-06-23 11:27] maggu2810 commented on #2810
@sjka This report is rather old. Are you willing to close this issue?

[2017-06-23 11:28] maggu2810 commented on #3377
Hopefully solved by #3398

[2017-06-23 11:28] #3377 closed

[2017-06-23 11:28] maggu2810 commented on #3456
@m-memova Do you still work on this topic?

[2017-06-23 11:31] #1382 closed

[2017-06-23 11:58] maggu2810 commented on #3008
Fixed by: #1783

[2017-06-23 11:58] #3008 closed

[2017-06-23 12:02] maggu2810 commented on #3114
ping...

[2017-06-23 12:05] maggu2810 commented on #3157
Looks different now:

[code]

[2017-06-23 12:20] maggu2810 commented on #2770
@sjka Are you willing to close this issue? It's an old one...

[2017-06-23 12:28] maggu2810 commented on #3016
I close this WRT #3407, #3429, #3439

[2017-06-23 12:28] #3016 closed

[2017-06-23 12:32] maggu2810 commented on #3416
Fixed by #3503

[2017-06-23 12:32] #3416 closed

[2017-06-23 13:07] sjka commented on #2770
it's old but not really fixed afaik. Nevertheless I'm happy to close until it happens again.

[2017-06-23 13:07] #2770 closed

[2017-06-23 13:08] #2810 closed

[2017-06-23 13:32] htreu commented on #3722
@lolodomo could you please try with the PR I did? Its a very simple attempt to speed up control page rendering.

[2017-06-23 13:56] martinvw commented on #3692
A very generic idea. So what if add-ons could implement a certain class to provide scoped (prefixed like Alexa:) meta-tags. The ui could then provide a drop down based on all those provided tags

[2017-06-23 14:22] anthonygillet commented on #3692
Continuing the discussion from 1093...

Could you elaborate on what you mean here?  I'm not sure exactly why a boolean flag would not work.  I figured that the complexity should be pushed down to the individual addons.  Once an item is exposed to an addon, the addons themselves could provide additional metadata if necessary.  For example, HomeKit internally will need to map the OH semantic tags to

[2017-06-23 14:37] maggu2810 opened #3732 "fsinternetradio test: Migrate from Groovy to pure Java"
I am working on this topic.
So, no need to change the Groovy tests at the moment.

[2017-06-23 14:38] maggu2810 commented on #3456
See #3732

[2017-06-23 18:13] digitaldan commented on #3692
I'll start with what I have done so far with a simple Alexa binding, maybe we can talk about what works and what does not with this approach. Note that I am very neutral on this solution, so I'm not trying to push this over something else, its just what I came up with a after a few hours of prototyping.

By default (today) Alexa will use any item that has voice tags exposed.  For simple use cases

[2017-06-23 18:29] martinvw commented on #3692
I must say that I also liked the imho intuitive way I used homebridge with OH1.8.

There I just had a sitemap to expose items to homekit, the sitemap allowed:

- Overriding of the labels
- Selection which items should be exposed
- More or less mapping of types although that was not fine grained (enough).

Could such a solution help us? Or is this too much of a work around.

[2017-06-23 19:06] sihui62 commented on #3728
I can confirm that astro triggers are not working anmyore, snapshot 964.

Astro thing `astro:sun:shutterkitchen` created through PaperUI, geolocation northwestern part of Germany, offset=0, latest=20:45, refresh interval 3600, trigger channel `Channel 'astro:sun:shutterkitchen:set#event' triggered END` , debug log shows:
[code]
So there is only an indication (refresh) from one of my other astro th

[2017-06-23 20:00] DominikHolzapfel opened #3734 "Change in Tradfri Group updates single Items, but change in Items doesn't update the Group"
I have a Tradfri lamp with 5 lightbulbs.
In my items file I have the 5 brightness and color channels and two according groups (see below). When I change the group value, the single lightbulbs are all updated. But when I change the lightbulbs (via the Remote or via the Web-UI), the group value doesn't reflect those changes.

My items file:
[code]

Log when changing the value of the group:
[code]

L

[2017-06-23 20:15] digitaldan commented on #3692
I have never been a fan of overloading the current sitemap structure for this, but I understand your point about simplicity, and I think its worth talking about.

One aspect to this is that we are still dealing with a UI, just a voice UI vs a visual UI.  So, I guess one thought is do we have something similar to the sitemap (voicemap?) where you can lay out what voice items, types and labels you w

[2017-06-23 20:23] digitaldan commented on #3692
The Alexa binding i have prototyped I think accomplishes this, and to your next point, if you need to have items exposed differently, you can create duplicate items with different labels and tags and only expose those to a particular service.

This works, I think, but I'm not sure is ideal.  There are now several places a user has to change things, and it can be difficult to explain.   Tagging an

[2017-06-23 20:44] mueller-ma opened #3735 "smarthome/extensions/ui/iconset/org.eclipse.smarthome.ui.iconset.classic/README.md contains invalid link"
The renamed powersocket items are now invalid links, since it wasn't renamed in the readme

[2017-06-23 21:32] ThomDietrich commented on #3735
Ah here it is. Thanks!

[2017-06-24 00:17] hmerk commented on #3723
I tried to track this down to a root cause, but without success. I can this behaviour in my IDE, but not with every start of openHAB.
There is definitely just one command send to one bulb, so I have no clue where the second ItemStateChangeEvent is originated.

@sjka Do You have a clue how to identify the cause for the second event ?

The Presence of a rule seems to block the binary state of the bu

[2017-06-24 03:04] ReidChris commented on #3723
Thanks for looking into this.
I've also noticed that changing the dimmer level of one bulb changes the value (but not the physical brightness) of the other, but this shows in the UI randomly and not everytime. The log shows the changes applying to both bulbs. In the screenshot, I had clicked the "Hallway Lamp" to On, but the logs show the "Living Room Lamp" also changing. The UI in PaperUI and Bas

[2017-06-24 06:58] martinvw commented on #3692
What about introducing types in/of sitemaps? @kaikreuzer wdyt?

[2017-06-24 07:22] #3735 closed

[2017-06-24 07:26] kaikreuzer commented on #3728
@amitjoy & @triller-telekom This sounds like a critical regression to me, could you please check?

[2017-06-24 07:31] amitjoy commented on #3728
I roughly looked at it. I have set custom date for Sunrise and the logs are a bit weird.

[code]
It still fires the event but `ExpressionThreadPoolManager` keeps on saying that the scheduled time has no future. I looked at the source of this log and it appears if the cron expression denotes a time that is not a future time.

[2017-06-24 07:35] kaikreuzer commented on #3728
@amitjoy Thanks for looking into it!
@kgoderis Might there be an issue with the scheduler service? These logs indeed look a bit weird...

[2017-06-24 07:38] amitjoy commented on #3728
Even the END event gets triggered as well.

[code]

And the strange thing is that if the event has no future executions anymore, then how could the event be fired at the first place? I will try my best to find if there is anything interesting going on.

[2017-06-24 07:44] lolodomo commented on #3722
I am now building your PR. I will let you know if it resolves the issue or not.

[2017-06-24 11:11] tomhoefer commented on #3728
@amitjoy I assume we need a fix for this as well, dont we?

[2017-06-24 11:22] amitjoy commented on #3728
@tomhoefer I have tried to trigger custom sunrise events and the START and END events are fired at the specified times. In addition, there are some scheduler-related logs that are a bit strange to me. I have enclosed the logs in this thread as well. I have debugged astro-binding's `DailySunJob` that triggers range events but I couldn't find any potential issue. I might be missing something. I will

[2017-06-24 13:48] kgoderis commented on #3728
Mhhh... to me they look OK, that is if you consider

`09:26:54.010 INFO  o.e.s.c.s.ExpressionThreadPoolManager$ExpressionThreadPoolExecutor[:225] - Expression '54 26 9 24 6 ? 2017' has no future executions anymore`

then in theory the expression should not trigger anymore after 09:26:54.000 . It is thus 10 ms too late, but I suspect that we have somewhere a comparison problem in the code where the

[2017-06-24 13:58] kgoderis commented on #3728
@kaikreuzer @amitjoy @triller-telekom

Is https://github.com/eclipse/smarthome/blob/master/extensions/binding/org.eclipse.smarthome.binding.astro/src/main/java/org/eclipse/smarthome/binding/astro/internal/job/Job.java#L57 the culprit?

It seems a CronExpression is created based on some event data, with precise timing information, and then scheduled for (immediate) execution a few lines later (and

[2017-06-24 14:08] amitjoy commented on #3728
@kgoderis [1] creates a cron expression out of an expected future time when some event is scheduled to be fired. The cron expression explicitly specifies the seconds, hours, minutes and the rest to schedule a specific event. I am not sure if `CronExpression` class also considers the milliseconds to schedule an event. My idea was to execute the scheduled event as soon as the exact time ticks withou

[2017-06-24 14:15] kgoderis commented on #3728
ah.... AFAIRemember I did some rounding whilst crafting the CronExpression class, as milliseconds are not specified in the Quartz definition anyways. Maybe you can try to schedule the expression to first second in the future?

[2017-06-24 14:32] amitjoy commented on #3728
I could try to schedule it in the first second in the future. Currently astro binding creates all schedules based on future date - for example, `0 59 19 24 6 ? 2017` and astro binding expects to have the scheduled event triggered `at 07:59 PM, on day 24 of the month, only in June, only in 2017`. And sometimes the events get triggered and sometimes not with the message - `Expression 'X' has no futu

[2017-06-24 19:46] lolodomo commented on #3041
@resetnow : with all my short sessions using Basic UI from a server started by Eclipse, I have encountered several hangs of Basic UI when changing page. So I think there is probably a problem.

[2017-06-24 20:41] resetnow commented on #3041
By hang you mean it's no longer receiving updates or it's impossible to navigate to other pages?

[2017-06-24 20:55] lolodomo commented on #3041
I mean the requested page is not displayed immediately. You have to reload or wait for a long time. To be clear, it happens when changing page and I think in particular when going back to the parent page.
I will try to identify more precisely when it happens.

[2017-06-25 09:18] lolodomo opened #3741 "Considering a default pattern for string and number channels"
All the string channels provided by the Sonos binding are defined without any pattern. As the result, the channel value is not displayed in UI if you use the auto-link mode of Paper UI and you forgot to define a label with pattern "%s" in your sitemap.

I propose to add a default pattern "%s" to these string channels.
@kgoderis @kaikreuzer : are you ok with that proposal ?

[2017-06-25 09:41] lolodomo opened #3742 "UI: displaying a specific "undefined" icon when state is NULL/UNDEF"
To follow a discussion started in #2962 , I would like to propose adding an "undefined" icon category in the iconset and then use this icon each time the item state is NULL or UNDEF, in replacement of the requested icon category.
Before going further, is the principle ok for the maintainers ?

The first option is to implement that in the icon proxy. I already tried this option and I face off one p

[2017-06-25 11:01] lolodomo opened #3743 "Classic UI: bad display when value contains XML"
This can be checked for example with the zonegroup channel of the Sonos binding.
Some character escaping is probably missing.

[2017-06-25 11:08] lolodomo opened #3744 "Basic UI: bad refresh of value containing XML"
The value containing XML seems to be correctly displayed, even if truncated, when the page is first opened but when an update is sent the dispayed value rhen looks like an empty string.
Can be checked with the zonegroup channel of the Sonos binding

[2017-06-25 11:28] lolodomo commented on #3744
In backend, StringEscapeUtils.escapeHtml is applied to the value.
I see no character escaping in front end when handling update event.
@resetnow: are you doing the same analysis ?

[2017-06-25 11:31] lolodomo commented on #3744
I will have to look at the label (in event) received in this case too.

[2017-06-25 11:55] resetnow commented on #3744
I see what you mean. Escaping code can be taken from <a href="https://github.com/eclipse/smarthome/blob/master/extensions/ui/org.eclipse.smarthome.ui.basic/web-src/smarthome.js#L1401">setTitle</a> and should be applied to all values in SSE event listener (not sure about long-polling one). If you're going to make a PR, please say so, so we don't end up with two identical PRs.

[2017-06-25 12:06] lolodomo commented on #3744
I will propose a fix. The " could be another character to escape ?

[2017-06-25 12:08] resetnow commented on #3744
I don't remember using labels or values as HTML attributes anywhere but just in case escaping it won't hurt.

[2017-06-25 21:48] GarethBlain opened #3745 "powerOnBrightness is ignored when "empty" in the things file"
I really want to keep all my config for things together (in the .things file rather than the PaperUI option) but adding a Lifx light I want the powerOnBrightness to be the previous power off value and setting it to empty in the PaperUI things config works fine when you add it (as a thing) using PaperUI  BUT if you want to add it in the .things file then following the demo.things file [here](http:/

[2017-06-25 23:20] Bonanzarama commented on #3632
@hmerk, I did the test for the timer (set to 26, 3minutes wait, enable, 3 minutes wait, disable.
My logs in /var/log/openhab2/ didn't show anything but I captured the output of log:display in karaf console if that's of help.
[wemo_timer_test.txt](https://github.com/eclipse/smarthome/files/1100713/wemo_timer_test.txt)

[2017-06-26 03:35] Bonanzarama commented on #3632
Night mode: changed times (start 10pm, end 8:30am) and adjusted brightness, 3-4 min wait,  enable night mode (though it was only 7:30), wait ...10 minutes (or so, busy), disable, wait 3,  change start time to 7:30pm, wait 15 or 20, enable, wait 3, disable, wait.  Again, used log:display from karaf.

[wemo.night.test.txt](https://github.com/eclipse/smarthome/files/1100981/wemo.night.test.txt)

Apol

[2017-06-26 06:25] hmerk commented on #3632
Thanks @Bonanzarama
These logs are really helpfull.

[2017-06-26 06:58] sjka commented on #3745
The problem I can see in the lifx binding is that it specifies 100 as the default value [here](https://github.com/eclipse/smarthome/blob/master/extensions/binding/org.eclipse.smarthome.binding.lifx/ESH-INF/config/config.xml#L21). Therefore, if you don't include the `powerOnBrightness` parameter in your DSL file, it will automatically use the 100 (and in fact it _should_ do the same in the PaperUI

[2017-06-26 07:27] m-memova commented on #3456
I have refactored the tests. They are pure Java tests now but some more changes are needed in order to use Mockito. @maggu2810 , did you start working on that ?

[2017-06-26 07:31] kaikreuzer commented on #3114
Yes - but the JavaScript code should be specific for this individual rule, so it should be possible to avoid such collisions.
Note that the old DSL rule engine also has preset keywords that depend on the used trigger ("receivedCommand", "previousState", etc.). so this feature here in the new rule engine is in line with that.

[2017-06-26 13:38] dvehof commented on #3728
@amitjoy : Is there anything I can do to help you? Further Information needed or should l test something?

[2017-06-26 16:10] kaikreuzer commented on #3728
@dvehof & @sihui62 I will provide a new distro build later this evening that will contain the fix (I'll ping you as soon as it is available) - it would be awesome if you could install it and let it run tonight and report your findings after sunrise tomorrow :-)