[2016-11-07 18:03] kgoderis commented on #2394
Just had a look at the code - this is complicated stuff, I would definitely not want to fiddle with that.

cron-utils supports different cron expression formats, including Quartz. Since we have used Quartz historically, I would not introduce other/new cron formats at all in our own code base.

[2016-11-07 18:19] kaikreuzer commented on #2394
ack to both :-)

[2016-11-08 11:39] danchom commented on #2389
Unfortunately we can't reproduce the problem. Is there stacktrace  or something else?

[2016-11-08 13:14] svilenvul commented on #2101
I guess this can be closed.

[2016-11-08 13:14] #2101 closed

[2016-11-08 17:07] maggu2810 commented on #2413
If I think about all the circular service reference detection messages we received (at least from the time I started ESH development) there has been no one that has been caused by a SCR / DS implementation bug. If it has not been reported by a special environment this has been caused (most of the time), because the currently used start up order does not raise / hides the circularity.

@danchom Is

[2016-11-08 21:36] marziman commented on #579
@splatch thx!
@kaikreuzer did you review and test it?

[2016-11-08 22:05] derchrisuk opened #2419 "Colorpicker SVG missing"
Hi,

while testing OpenHAB2, we discovered that the colorpicker.svg is missing.
Checked the org.eclipse.smarthome.ui.iconset.classic-0.9.0-SNAPSHOT.jar and could not find it in there either.

[2016-11-09 07:01] kaikreuzer commented on #579
@marziman Check https://github.com/eclipse/smarthome/pull/2359#pullrequestreview-7199655

[2016-11-09 09:22] danchom commented on #2413
I'm agree that SCR is widely used and errors in implementation is almost not impossible, but in the stack trace, I don't see any line related with automation modules and I can't  see potential problems related with cycle dependency.
May be first it is better to give us a log containing list order of started bundles where this cycle dependence is appeared.

[2016-11-09 09:38] kaikreuzer commented on #2413
@maggu2810 I just tested on a recent OH2 with Karaf, which includes version 0.9.0.201611041332 - it does not show any problems wrt cyclic dependencies.

[2016-11-09 09:47] maggu2810 commented on #2413
Hm okay, but I assume you are using perhaps another start up order, another OSGi Framework (Equinox instead of Felix), perhaps another SCR version, ...

Do you think it is an error in my custom distribution and we should wait until openHAB runs into this error, too?
I could have a look at, but IIRC I install ESH bundles only (and third party stuff like the dependencies, but no other "SmartHome" re

[2016-11-09 09:54] kaikreuzer commented on #2413
Well, my point was only that @danchom is right that it isn't easy to see what your problem might be. From the dependency diagram, there are no obvious circular dependencies and the log that you provided does not have any helpful information either. Hence I think it first needs to be further analysed in your specific packaging and if this analysis then shows a circular service dependency within the

[2016-11-09 10:01] maggu2810 commented on #2413
Agree

Agree, but it is the only one that is traced using the default settings. Perhaps I should increase the log level.

Okay for me. But as I have really no time to dig into that automation stuff myself (sorry about that), we could:
* close it with a mark that we need more feedback from the reporter (me in this case)
* keep it open as long as it is further analysed by someone

Just want to repor

[2016-11-09 10:57] kaikreuzer commented on #2413
If this is ok for you, I'd suggest to take that path. We all have it in the back of our head now that there is a potential problem, so if anyone using the automation bundles actively comes across it, we can revive the analysis.

[2016-11-09 14:36] mhilbush opened #2427 "BasicUI: Can't scroll through entire Selection list"
If I define a Selection widget in the sitemap with more options than will fit in the browser window, I'm unable to scroll through the entire list of options.  This can be reproduced on multiple platforms and multiple browsers.  This is on build 555.

Sitemap widget:
[code]

Scrolling all the way to the bottom of the list works fine.
![screenshot from 2016-11-09 09-16-40](https://cloud.githubuserco

[2016-11-09 14:45] kaikreuzer commented on #2427
@resetnow Could you have a look?

[2016-11-10 09:42] hakan42 opened #2428 "Mixed content on Paper UI when showing Location items"
When displaying Location items, a map segment from http://www.openstreetmap.org is included, which leads to a "mixed content" warning if the Ui is accessed via https (for example when behind a reverse proxy which adds SSL capability)

[2016-11-10 09:48] #2428 closed

[2016-11-10 09:55] hakan42 commented on #2428
Wow, this was fast, thank you 😄

[2016-11-10 10:01] kaikreuzer commented on #2428
I thank you for not only entering an issue, but also directly delivering the fix for it - that's how I like it 👍

[2016-11-10 10:59] #1798 closed

[2016-11-10 11:01] shankarkalmade opened #2431 "Audio command input to ESH"
Hi I am working on integrating voice based command to ESH and there is not much documentation available. Can you please suggest better documentation or code snippet to start with

[2016-11-10 11:06] kaikreuzer commented on #2431
Please use our forum for general questions/discussions: https://www.eclipse.org/forums/index.php/f/271/

Note that there is currently a pending PR regarding audio documentation: https://github.com/eclipse/smarthome/pull/2425

[2016-11-10 11:06] #2431 closed

[2016-11-10 14:23] J-N-K commented on #2190
This is broken since commit 0b3f1f3d04e1cc552bb3b5e3f086d397293fbbe9 (#1828), I guess the ModelParser needs to be enabled in the Designer. However I didn't find out how to do so.

[2016-11-10 15:47] svilenvul opened #2433 "Watch Service - Register Directories After Service Initialization"
The current implementation of the AbstractWatchService has an option to watch sub directories, but not to register them after service initalization.

A workaround is made in the FolderObserver by calling [initializeWatchService()](https://github.com/eclipse/smarthome/blob/6dd1df77136a70ec55da6746be05bf65b78ba15b/bundles/model/org.eclipse.smarthome.model.core/src/main/java/org/eclipse/smarthome/mod

[2016-11-10 16:01] svilenvul commented on #2433
Ahh and something else has to be taken into consideration. With this approach the classes that extend AbstractWatchService would have to manually process the folder CREATE event and call the super class method to register the directory.

[2016-11-10 16:22] #2413 closed

[2016-11-10 20:23] ThomDietrich opened #2434 "Extend ProxyServlet connection timeout"
Class ProxyServlet has a [connection timeout of 5000ms](https://github.com/eclipse/smarthome/blob/master/bundles/ui/org.eclipse.smarthome.ui/src/main/java/org/eclipse/smarthome/ui/internal/proxy/ProxyServlet.java#L761).

**Short:** Is it possible to extend this timeout?

**Long:** On a "Raspberry Pi 3 Model B Rev 1.2" with openHAB and InfluxDB+Grafana all on one system, the png creation used for a

[2016-11-11 06:09] lolodomo commented on #1617
So what are we doing finally ?
We have to wait for implementation of ImageItem in all UIs first ?
Is there already a binding using the ImageItem ?

[2016-11-11 07:07] kaikreuzer commented on #2434
Ok for me to increase it. What value would you suggest? Is hard-coded ok or shall we add optional configuration of this value through ConfigAdmin?

[2016-11-11 08:10] kaikreuzer commented on #1617
@watou: I think there is a substantial difference in the vulnerability severity nonetheless. While it is true that any binding that reaches out to some external system means some risk (which should be carefully assessed and mitigated when developing that binding), the proxy servlet here means that the core  runtime of ESH (without ANY bindings installed) could be used as a proxy to any HTTP resour

[2016-11-11 09:26] watou commented on #1617
@kaikreuzer: As I put in the [code comments](https://github.com/watou/smarthome/blob/c486f4431fed5bcd1880669b4793caa944f36112/bundles/ui/org.eclipse.smarthome.ui/src/main/java/org/eclipse/smarthome/ui/internal/proxy/ProxyServlet.java#L60), if you don't use the `item=` feature in your sitemaps then the behavior is the same as before.  The passive act of allowing unsecured access to the REST API on

[2016-11-11 09:40] svilenvul opened #2437 "Static Code Analysis Checks"
I would like to continue a discussion that started here : [Add Analysis Tool for New Bindings ](https://github.com/openhab/openhab2-addons/issues/1289)

I will give some highlights :) :

The Jenkins instance checks the Quality Gates (execute all the plugins and continues on error - generate the report only) and Jenkins will fail if the report breaks the limits.

[2016-11-11 09:42] svilenvul commented on #2437
I have built a prototype following some of the things discussed above, a PR will be opened shortly.

[2016-11-11 10:08] lolodomo commented on #2295
Is it something now resolved ?
I just tested with snapshot 554. My sitemap is defined like this:
[code]
and I can confirm that the item state is updated automatically in Basic UI when I play with it outside (with the Sonos application).

[2016-11-11 10:10] kaikreuzer commented on #2437
Great, looking forward to it!

[2016-11-11 10:35] lolodomo opened #2438 "Paper UI - configure basic UI - icon format not set"
Just a minor thing. In Paper UI, if you open either Configuration => Services => UI => Basic UI or Configuration => Services => UI => Classic UI, the bahaviour with "icon format" is different.
For Classic UI, the field is alread filled with a value.
With Basic UI, the field is not filled and you have to select one value as it is a mandatory field. I was expecting "Vector" to be selected automatica

[2016-11-11 10:44] kaikreuzer commented on #2438
This is not an issue of the Paper UI - it correctly shows what is configured in the solution (in your case, openHAB, which defines the default settings [here](https://github.com/openhab/openhab-core/blob/master/features/openhab-core/src/main/feature/feature.xml#L112).
All seems correct in there and in my freshly installed OH2 distro, it all looks good:

<img width="656" alt="screen shot 2016-11-11

[2016-11-11 10:44] #2438 closed

[2016-11-11 10:45] ThomDietrich commented on #2434
The reporting user in the community mentioned 8 seconds in his tests. If no downside comes with it (other processes depending on the timeout), I would go up to 15-30 to stay safe. ConfigAdmin: Up to you, I would be okay with a hard-coded value.

[2016-11-11 10:50] lolodomo commented on #2438
Maybe I don't remember exactly in which UI the icon type is not set and the problem may be more with Classic UI than Basic UI.
I searched for kind of config in all repo except openhab-core !
In the file you are pointing, I can see that iconType is defined for Basic UI but not for Classic UI. Maybe it explains what I notice.

[2016-11-11 10:55] kaikreuzer commented on #2438
Indeed, as you can see in the referenced file, it is not set for the Classic UI. Feel free to create a PR for it!

[2016-11-11 11:22] lolodomo commented on #1138
@resetnow @kaikreuzer : I just tested again this issue (I am running snapshot 554) and I can see now that items are displayed / hidden automatically without reloading the frame. The problem I noticed is that certain items are displayed with a non updated value. I can see that with the Sonos binding and "artist" and "album" items. I have one frame that uses visibility attribute for few items includ

[2016-11-11 11:33] lolodomo commented on #1614
@reitermarkus : would it be possible to have a different color, probably grey, for a non defined item ?
switch.png would be gey, switch-on.png would be green (as it is) and switch-off.png would be red (as it is).

[2016-11-11 12:14] resetnow commented on #2295
@lolodomo are you using Internet Explorer or Edge by chance?

[2016-11-11 12:18] lolodomo commented on #2295
@resetnow : no I am using Firefox on Windows.

[2016-11-11 12:22] lolodomo opened #2442 "Basic UI: valuecolor attribute not considered when the value is updated"
I defined in my sitemap different colors for some of my temperature items.
In Basic UI, when I open a frame containing this item, the color is correctly set. With the time, remaining on the same frame, the value is updated but the color is not updated.
Example:
[code]
Tested with snapshot 554.

[2016-11-11 12:51] lolodomo opened #2443 "Basic UI: not updating the value of a group item"
I have a group item that displays the number of lights ON:
[code]
When the frame containing this item is opened and one light is switched ON or OFF, the valie is not updated in Basic UI.
Value is correct if I reopen the frame.
[code]
PS: it is OK in Classic UI and HABdroid.

[2016-11-11 13:32] DavidR1953 opened #2444 "PaperUI prevents Windows from sleeping."
Using Chrome, Windows7 for PaperUI access to a Raspberry Pi build #577
PaperUI opens an audio stream, and my Windows settings allow this to prevent sleeping, which I guess many other people have.
Windows shows this:

[code]

Closing PaperUI causes the [DRIVER] entry to go away, and Windows will subsequently sleep.

[2016-11-11 13:48] kaikreuzer commented on #2444
@aounhaider1 Could you please have a look?

[2016-11-11 13:48] kaikreuzer commented on #2444
@gyhs Does HABPanel have a similar issue?

[2016-11-11 14:05] kaikreuzer commented on #2434
I'd go for 15 hardcoded seconds then - I think everything that takes longer is anyhow not acceptable to the user of the UIs...
@maggu2810 Any preferences from your end?

[2016-11-11 14:22] maggu2810 commented on #2434
I still think about, what about if we receive some weeks later an issue "on my embedded board it takes <current_timeout> + 1"...
IIRC we increased the NTP timeout multiple times (I could be wrong).

But I agree, longer as 15 seconds is perhaps not accepted anyhow.

[2016-11-11 15:04] ThomDietrich commented on #2434
fine with me. I guess the RPi 3 is already at the lower end of possible OH platforms. Everything below that and running multiple applications is questionable

[2016-11-11 15:09] kaikreuzer commented on #2434
At least you should not run any bigger databases of image rendering on them...

[2016-11-11 17:06] lolodomo opened #2445 "Sonos binding: class ZonePlayerConfiguration"
his class is unused except for constants UDN and IDENTICATION.
It should be fixed to match the real configuration of a Sonos thing, that is with only two fields: udn and refresh. Then this class could be used in ZonePlayerHandler. If not used, the class should be simply removed.
IDENTIFICATION constant should probably be moved to SonosBindingConstants.

[2016-11-12 04:15] DigitalBites opened #2446 "WeMo Binding will not pull device status or fire event updates on restart"

[2016-11-12 05:27] DigitalBites commented on #2446
Lots more details at the link below - this is to fix the issue of having to restart the binding after openHab2 restarts. Will provide a pull request after I've completed my testing.

https://community.openhab.org/t/wemo-insight-switch-not-initalized-after-start-openhab2/15921/10?u=digitalbites

[2016-11-12 10:08] lolodomo opened #2448 "sendMiosAction action cannot be resolved after a startup"
I just discovered that when starting OH 2, the MiOS action in rule is sometimes not working at all:
[code]
If I run "touch wmy rules.file>" to force a reload the rules, then the rule is working again.

I presume that it could be because at startup the rules are loaded before the MiOS action binding is loaded ?

[2016-11-12 10:21] DigitalBites commented on #2446
#2447 should fix this. :)

[2016-11-12 10:27] lolodomo commented on #2410
@kgoderis : the information was given by someone how to select the optical line-in of the playbar. It is just anoher special URI. Unfortunately, I don't succeed finding the information again.
So, if true, @Marty56 suggestion is good.
PS: I own no playbar to test that.

[2016-11-12 11:42] kgoderis commented on #2410
@Marty56 is it only the playbar you want to switch or also a sub and play:1's?

Sent from my iPhone

[2016-11-12 11:56] lolodomo commented on #2410
I found information again:
https://community.openhab.org/t/sonos-save-and-restore/15949
https://github.com/jishi/node-sonos-http-api/issues/109
Apparently, URI to be used would be: x-sonos-htastream:RINCON_XXXXXXXXXXXX01400:spdif

[2016-11-12 14:13] ghys commented on #2444
@kaikreuzer not the current master branch which doesn't include the patch (https://github.com/openhab/org.openhab.ui.habpanel/pull/56, equivalent to https://github.com/eclipse/smarthome/pull/2344) adding IE/Safari support. I also tried after merging it and it would appear so. My wild guess is, it's caused by the `<bgsound>` element.

[2016-11-12 15:58] Marty56 commented on #2410
@kgoderis
I only own a playbar.

[2016-11-12 18:46] lolodomo commented on #2445
I updated the code. I will submit a PR as soon as I can test the code.

[2016-11-12 19:15] lolodomo opened #2450 "Maven: Could not find "org.codehaus.groovy23.feature.feature.group/2.9.2.xx-201611092339-e46""
Strange behavior. If I compile the smarthome from the top, no problem. If I move to extensions/binding/org.eclipse.smarthome.binding.sonos and run maven, I got this error:
[code]
I removed my .m2\repository earlier today.

[2016-11-12 19:26] kaikreuzer commented on #2450
You should rebase on the current master - https://github.com/eclipse/smarthome/pull/2441 has already fixed that issue.

[2016-11-12 19:26] #2450 closed

[2016-11-12 21:08] lolodomo opened #2452 "smarthome:audio play with Sonos: stop after few seconds"
I tried (with snapshot 583) the console command "smarthome:audio play" with one of my Sonos as sink.
The playback starts as expected but then stops suddenly after few seconds.

[2016-11-12 21:14] lolodomo opened #2453 "Paper UI: voice configuration"
Using snapshot 583, I just played with TTS. I installed VoiceRSS, set my API key and selected VoiceRSS engine in Configuration => System => Voice.
After a restart, I discovered that this panel does no more offer to select the voice. I see now only two fields: Default Text-to-Speech and Default Human Language Interpreter.

When I run a smarthome:voice say command, I don't know what language is sele

[2016-11-12 21:48] kaikreuzer commented on #2453
This isn't a bug in the Paper UI, but an issue in the VoiceRSS service. It uses the same ID for all its voices:
[code]
so the Paper UI does not stand a chance to distinguish them.
This should therefore be reported at https://github.com/openhab/openhab2-addons/issues.
@JochenHiller FYI, we discussed that issue already.

[2016-11-12 21:48] #2453 closed

[2016-11-12 22:03] lolodomo opened #2454 "Classic UI no more able to open certain frames"
With snapshot 583, I discovered that few of my frames cannot be opened in Classic UI. I got this error:
[code]
PS: it was working well whith my previous snapshot (554).

[2016-11-12 22:10] lolodomo commented on #2454
For information, Basic UI and HABdroid are still able to open these frames. So the issue is really only for Classic UI.
Last thing, it is a frame attached to a group item, I don't know if it is important.

[2016-11-12 22:13] kaikreuzer commented on #2454
Could you come up with a very simple sitemap that has this problem? Or is it possibly even happening on the demo.sitemap?

[2016-11-12 22:29] lolodomo commented on #2454
I doubt because I have several frames in my sitemap and only two of them which are similar are failing to load. I can tell you that this frame is attached to a group item and this group has 30 items including a Player item.
I have another frame with more items that can be displayed. And I have another frame with a Player but less items that can be displayed too.

[2016-11-12 22:39] lolodomo commented on #2450
@kaikreuzer : sorry but even when being identical to master, I encounter this problem.
If I compile everything, no error.
If I compile only the Sonos binding, it fails with this error.

[2016-11-13 00:11] ghys commented on #2444
Fixed it for HABPanel like this: https://github.com/openhab/org.openhab.ui.habpanel/pull/56/commits/35fa2df054a1aec3afbe7c206aede28617c4d0aa
Basically create everything dynamically and closes the AudioContext when playback ends (or an error occurred). The latter is probably the most important.

[2016-11-13 05:04] Marty56 commented on #2333
@kaikreuzer
I do not understand your answer but maybe you did not understand my request aswell.
Example:
say("first sentence")
Thread::sleep(some first sentence dependent delay)
say("second sentence")

If user does not add the Thread::sleep(some first sentence dependent delay) and the second "say" will overwrite the first and the frist "say" will not be played completely and interrupted.
It would

[2016-11-13 05:11] Marty56 commented on #1823
I do not know whether this is related. I have 8 different rule files and I am seeing that randomly two rules are never been loaded. It seems like the old OP1.x bugs which could be worked arround by touching the rule files with a script.
If this is not related then I would open a different issue.

[2016-11-13 08:19] kaikreuzer commented on #2450
Which means that it picks up an old version of the target platform in that case.
Always run the build from the root of the repo - all other ways are on your own risk ;-)

[2016-11-13 08:20] #2448 closed

[2016-11-13 08:59] lolodomo commented on #2450
It has always worked until mow !
Running mvn on root is not a usable alternative as it takes ages on my slow PC.
Please reopen the issue.

[2016-11-13 09:13] lolodomo commented on #2453
@kaikreuzer @JochenHiller : I think it could be simply fixed by updating the methods getAvailableVoices() and getAvailableVoices(Locale locale) in class VoiceRSSCloudImplementation. The default voice for a locale could be named using locale.toLanguageTag()

[2016-11-13 09:48] maggu2810 commented on #2450
Maven resolve Snapshots from the external repo all 24h (let's assume you do not use offline builds, as it is not supported by the current upstream ESH configuration).
As long as the external targetplatform snapshot is not the correct one, you will run into this error.

Instead of building the Sonos artifact only, you should build the targetplatform and the sonos artifact in one run.

If you use
[c

[2016-11-13 10:45] lolodomo commented on #2450
@maggu2810 : thank you for your help.
I tried your command and I got that new error:
[code]
If I correctly understood, I should wait for one day to have this problem automatically resolved.

[2016-11-13 11:27] maggu2810 commented on #2450
It is a little bit more complicated.
In this special case it depends if a new official snapshot build is done.

[2016-11-13 12:39] lolodomo commented on #2452
As I can see in the current code of the Sonos binding, there is a 10 seconds hardcoded for the audio servlet call. i imagine the difficulty is to determine the duration of a MP3 file from the file ?

[2016-11-13 14:56] paulianttila opened #2455 "Bridge.getHandler() cause NoSuchMethodError exception"
I tested rfxcom binding changes with latest smarthome sources. I meet weird behaviour with bridge handler

[code]

I recognised massive refactoring for bridge/thing handling by commit #2087. Is this know change/behaviour or a bug somewhere?

More complete log:
[code]

[2016-11-13 15:25] shorty707 commented on #2352
To the documentation of say() ... I think the following should work for VoiceRSS ... but results in "cannot be resolved to an item ?
say("Hallo Welt",de_DE)

[2016-11-13 20:02] kaikreuzer commented on #2455
@paulianttila If you are working on the latest source of ESH, you will also have to pull https://github.com/openhab/openhab2-addons/pull/1394, which adapts the OH2 bindings to this refactoring. You can find the details of this change in https://github.com/eclipse/smarthome/pull/2087.

[2016-11-13 20:02] #2455 closed

[2016-11-13 20:27] #2427 closed

[2016-11-13 23:13] kaikreuzer commented on #2452
Can you link to the code which you mean? No, in general the length of the mp3 should not matter - Sonos should play it back until it is finished and then switch back to the original playlist.

[2016-11-13 23:25] lolodomo commented on #2452
Line 87 in SonosAudioSink
https://github.com/eclipse/smarthome/blob/master/extensions/binding/org.eclipse.smarthome.binding.sonos/src/main/java/org/eclipse/smarthome/binding/sonos/internal/SonosAudioSink.java#L87

[2016-11-14 06:56] kaikreuzer commented on #2452
Ah, ok. This parameter is actually meant to define how long a stream can be requested from the http servlet (time of the request). Once it started serving it, it should keep running; if this is not the case, it is indeed a bug (but rather in the AudioServlet than in the Sonos binding).

[2016-11-14 07:02] lolodomo commented on #2452
Ok, so the problem is elsewhere as the playback starts.
The console is "locked", is it normal ? It should start the job in background and then return ? Maybe there is a timeout in the console ?

[2016-11-14 08:06] kaikreuzer commented on #2452
Yes, blocking is normal; see also https://github.com/eclipse/smarthome/issues/2333 (1).
For the console it might make sense to launch these commands in a separate thread, though, this isn't currently done.

[2016-11-14 08:11] kaikreuzer commented on #2333
I agree, this sleep should not be required - and that's what I meant with they should be "synchronous", i.e. only returning once the say command is fully executed.
It might not always easy to implement it that way, especially if streams are played on some client like through the webaudio sink.

[2016-11-14 08:13] kaikreuzer commented on #1823
I cannot tell. But please only open a new issue, if you have an easy way to reproduce it (e.g. provide some dummy rules that can be dropped in the system and which only do logging and thus show, which ones are loaded/executed and which ones aren't.

[2016-11-14 08:16] lolodomo commented on #2452
Please try with a music MP3 file of 4 minutes for example and you will reproduce the issue.
I just forgot to check the logs.

[2016-11-14 10:03] #1657 closed

[2016-11-14 11:14] satish-nikam opened #2461 "OpenHAB 1 reference in iconset bundle/API"
Follwing files in iconset bundle/API has OpenHAB 1 reference.

smarthome/extensions/ui/iconset/org.eclipse.smarthome.ui.iconset.classic/src/main/java/org/eclipse/smarthome/ui/iconset/classic/internal/ClassicIconProvider.java
smarthome/extensions/ui/iconset/org.eclipse.smarthome.ui.iconset.classic/README.sh
smarthome/extensions/ui/iconset/org.eclipse.smarthome.ui.iconset.classic/README.md

It shows

[2016-11-14 11:22] kaikreuzer commented on #2461
Well, this is a reference to the history where it comes from. Why is this a problem?

[2016-11-14 13:19] svilenvul commented on #2341
The tests for ConfigDispatcher [#2108](https://github.com/eclipse/smarthome/pull/2108) are merged as well, and a PR is opened for this issue: #2432

[2016-11-14 13:53] #2444 closed

[2016-11-14 17:25] kaikreuzer opened #2463 "Basic UI: Colorpicker not updating on state changes"
If the color picker dialog is open and the item state changes, the picker does not update its color.
While this is probably good while using the picker (you do not want the know to jump around all the time), it would be nice if it would update itself whenever the knob is not used (i.e. the user does not actively change anything).

@resetnow Is this possible without too much effort?

[2016-11-14 17:31] madte commented on #579
Hello ESH developers,
I am currently working on my master thesis "Towards a secure wireless smart home - design and implementation" at the Freie Universität Berlin. I chose openHAB as base for the protoype I am going to implement during the thesis.
One very important aspect regarding a secure smart home is the protection against unauthorized resource access through the enforcement of an access con

[2016-11-14 20:29] cauer71 commented on #2352
Is it now possible to activate the language output in german?

[2016-11-14 21:21] resetnow commented on #2463
Yes, I'll do it as soon as I have time.

[2016-11-14 23:17] lolodomo commented on #2452
I just tried again. I can confirm that there is no error logged. What seems to happen is that the Sonos handler decided the end of the playback while not finished. I have the feeling now that the problem could be in the notification sound mechanism and how it detects end of playback.
I will have to add traces to understand what happens exactly.

[2016-11-15 00:06] lolodomo commented on #2452
Ok found.
waitForFinishedNotification in the Sonos binding handler is using a timeout of 10 seconds.

[2016-11-15 00:11] lolodomo commented on #2452
https://github.com/eclipse/smarthome/blob/master/extensions/binding/org.eclipse.smarthome.binding.sonos/src/main/java/org/eclipse/smarthome/binding/sonos/handler/ZonePlayerHandler.java#L2286

[2016-11-15 09:35] kgoderis commented on #2452
@R-Edelhoff Roland, can you have a look at this since ( I think) the notification code was added by you?

[2016-11-15 10:39] R-Edelhoff commented on #2452
Yes, we have limited the notification sound duration to 20s as it was supposed for short notifications and not for complete audio tracks. If we have a use case for playing whole tracks we could think about increasing the maximum play duration.

[2016-11-15 11:07] danchom opened #2465 "Extends functionality of composite module type handler"
At the moment the outputs of Trigger and Action composite module types can reference the outputs of their child modules (in form of childModuleId.outputId). I think it will be better if the composite output can access data from beans or maps produced by the outputs of child modules.
For example:
A - is a module with output 'out1' producing on its output bean B
B - is a bean which has a method getC

[2016-11-15 17:53] BlinkyBillToo opened #2468 "Classic UI not displaying sitemap mappings correctly"
I have the following sitemap
`sitemap Test label="Test"
{
	Frame label="Indoor Climate Control" {
		Selection item=HVAC_5_thermostat_mode icon="climate" mappings=[0="Off",1="Heat",2="Cool",3="Auto"]
	}
}
The item is from a CT-100 Thermostat.

When I make a selection in the classic UI and return to the Frame, the mapping key is displayed and not the mapping text, as shown below
<img width="240" alt

[2016-11-15 18:53] #2445 closed

[2016-11-15 19:34] #2321 closed

[2016-11-15 20:27] wborn commented on #2321
Thanks for making this happen Kai and Karel!

[2016-11-15 21:24] lolodomo commented on #2452
Ok so it is only a limitation of the Sonos audio sink.
I agree that I see no real need for playing a long file.
Maybe this limit should be documented somewhere in docs.openhab.org, maybe in the page describing audio management.
We could at least increase a little this timeout in case users would like to speech a long text.
To avoid this limit, I think the solution would consist in computing the fi

[2016-11-16 07:03] kaikreuzer commented on #2321
The kudos go to you @wborn for making this extensive refactoring!

[2016-11-16 13:22] rene54321 opened #2471 "Hue group issue since latest snapshot"
Hi,

I have upgraded to latest snapshot build from today. Now the Hue groups are not working anymore. The old release from 11.11.16 was working fine. Has something changed since than?

Following error in the log when I turn off and on an light of that group:

[code]

Also the Paper UI control tab Show internal error 500. I am also not able anymore to switch an Hue Color Group on and off. As sugges

[2016-11-16 13:32] kaikreuzer commented on #2471
If it worked before, it might be related to https://github.com/eclipse/smarthome/pull/2393 or a similar change. @sjka WDYT?

[2016-11-16 14:14] kaikreuzer commented on #1617
@watou, you are right in all points. My concerns stated above were actually related to changing the ProxyServlet to accept itemNames as parameters (and not only widgetIds) and in such a case, it would not have been a deliberate decision of the user to open this hole. But your implementation indeed stays with the widgetId and so I agree that it is up to the user whether he wants to use it or not.

[2016-11-16 14:42] kaikreuzer commented on #2465
Sounds useful. I guess you want to implement that in the resolver using reflection, right?

I'd prefer to align this with the Javascript syntax, i.e.:

[2016-11-16 15:38] kaikreuzer commented on #2468
I can confirm this issue (imho it was working in ESH recently), but couldn't yet find an obvious reason for this regression.

[2016-11-16 16:11] kaikreuzer commented on #2452
I think the 20 seconds limit is ok, because it only applies for notification sounds on Sonos (which restore the original playlist afterwards). The feature is not meant to stream whole songs or similar.
Note that I also use the "normal" playURI of Sonos when serving urls (e.g. Internet radio streams).

We could circumvent the issue by always using playURI, but this obviously would throw away all th

[2016-11-16 18:29] lolodomo commented on #2452
@kaikreuzer : I corrected my comment about 10 seconds, it was just a bad reading of the constant value in the code ! I just tried again and compute the timeout and I can confirm that it ends after a little more than 20 seconds. So I see no problem with the AudioServlet.

Your idea to define another audio sink for Sonos looks no so bad but will make things even more complex to understand for the fi

[2016-11-17 00:25] lolodomo opened #2474 "Sonos notification sound: not working when line-in is playing"
Playing with the new TTS feature, I tested the Sonos notification mechanism with a lot of different sources being played and with the queue being filled or not.
It is working very well except in one case, when the current source is the line-in. The behavior is even different, depending on whether the queue is empty or not. In one case, the TTS audio is rendered but the line-in is then not restored

[2016-11-17 07:04] danchom commented on #2465
Yes the access to beans will be through the reflection.
I think I can support JS syntax. I will converted [] into dots.
A.out1.c[y]  -> A.out1.c.y -> C.getMap().get(y) value
Is this ok for you?

[2016-11-17 07:28] kaikreuzer commented on #2465
Why would you want to use dots instead of square brackets? What is the problem to allow the reference to be `A.out1.c[y] `? I think it would be important to see the difference of a field or a map access. In theory. For the implementation it should be even easier, because whenever you come across square brackets, you know that you need to use `get("y")`, while for dots you need to use `getY()`. In

[2016-11-17 07:57] lolodomo opened #2475 "Support for DLNA Media Renderers in Sonos binding"
I trace here a work in progress to add support for any DLNA Media Renderer in the Sonos binding.
The binding will automatically discover any DLNA media renderer. A new "DLNA" thing type will be added. This thing type, like any Sonos thing type, will allow to control playback, adjust volume, start playback of an URI and show the DLNA media renderer as an audio sink in openHAB (and so offer the TTS

[2016-11-17 08:07] kaikreuzer commented on #2475
Why would you want to add that to the Sonos binding? Imho, it should be a new DLNA binding as it is in no way related to Sonos hardware, right? Rather comparable with e.g. the Chromecast binding of openHAB2.

[2016-11-17 08:23] lolodomo commented on #2475
Because we have already almost everything in the Sonos binding. A DLNA binding will be a kind of duplicate of the Sonos binding and will require a double maintenance.
I have no time and no wish for developing a new bindong so I stop immediately my work ( I just lost few hours of my free time).

[2016-11-17 08:25] kaikreuzer commented on #2475
I didn't mean to offend you, I just asked a simple question...

[2016-11-17 08:28] lolodomo commented on #2475
This was discussed on the forum in the past and I got an encouragement from @kgoderis to go in this way.

[2016-11-17 08:31] lolodomo commented on #2475
Xxxcchttps://community.openhab.org/t/dlna-upnp-binding/1790

[2016-11-17 08:34] lolodomo commented on #2475
In fact, we could even rename the Sonos binding in DLNA binding and have support for specific Sonos features.

[2016-11-17 08:43] #2461 closed

[2016-11-17 09:00] kaikreuzer commented on #2452
I agree, so I would suggest to only add such a feature if there is really a demand.

[2016-11-17 09:23] kaikreuzer opened #2477 "More flexible configuration references in Composite modules"
A configuration of a child module within a composite module can refer to a configuration value of the composite module using the $ symbol:

[code]

This only works if this placeholder is the parameter value as a whole.
I know tried to define a module type like this:

[code]
what is currently not supported - but I think it would be a worthwhile enhancement.
I am not sure though, whether a $ symbol

[2016-11-17 09:46] lolodomo commented on #2452
That is OK for me.
By the way, the limit is now documented.

[2016-11-17 09:49] danchom commented on #2465
1) At the moment we don't use [] anywhere in our json syntax. I think it will be easier for the users to access data in unified way.
2) I think to implemented this feature by recursion

Agree, It will be clean how to parse it. There are not problems like:
A.out1.c is a map and  a.c reference is looking for.   First we have to check for 'a.c' key in the map and if it does not exist then check for A

[2016-11-17 09:51] kgoderis commented on #2474
@lolodomo Tx. Where you able to pinpoint the exact location of the issue in the code base?

[2016-11-17 09:56] kgoderis commented on #2475
Ok - maybe my misunderstanding in the openhab.org thread, but I thought you copied over the Sonos code base and turned that into a DLNA binding. I have no experience at all with DLNA so difficult for me to judge to what extend DLNA and Sonos is overlapping. Now, with the Sonos binding being quite a complex chunk of code I would personally not introduce new stuff in there, but keep it specific to S

[2016-11-17 10:00] kaikreuzer commented on #2475
If there is code in common, we should use this opportunity to actually take some code out of Sonos and move it e.g. in the io.upnp bundle (or create a io.dlna bundle that can be shared and reused).
Note that there are probably also others requiring similar code, see e.g. https://github.com/openhab/openhab2-addons/pull/1431/files#diff-33d9ad525c7fd29cda2c1d2404bd5c2bR34.

[2016-11-17 10:11] tavalin commented on #2475
I have no time and no wish for developing a new binding so I stop immediately my work ( I just lost few hours of my free time).

You have to remember not everyone has a Sonos so to have to install the Sonos binding to control my DLNA-capable Onkyo/Yamaha/any-other-brand AVR is not intuitive from a user-perspective.  As Kai said, if we can create some reusable DLNA code then moving it to it's own p

[2016-11-17 10:21] lolodomo commented on #2475
Ok, I agree with you. So I close this enhancement proposal and let someone else work on a proper DLNA binding.

[2016-11-17 10:21] #2475 closed

[2016-11-17 10:22] Dizlem opened #2478 "Basic UI Incremental Refresh not working for group count updates"
When using Basic UI if a group state changes e.g. a set of lights, the symbol changes from green to red or visa versa but the group count in brackets does not auto update on the web page (it is all correct following an F5 refresh). Same on all my groups.

This works on the iOS app and the Classic UI just not in the Basic UI, so Kai has suggested this is a bug in the new incremental refresh process

[2016-11-17 10:23] lolodomo commented on #2474
I think "playNotificationSoundURI" does consider the case of "x-rincon-stream".
I can try to fix the issue.

[2016-11-17 13:12] lolodomo commented on #2474
What is required is just a method isPlayingLineIn + a special handle method for this case that will look very similar to handleRadioStream. I will propose a fix later today.

[2016-11-17 13:16] rene54321 commented on #2471
Hi,

still the same with the build from today:

2016-11-17 14:13:08.515 [WARN ] [pse.smarthome.core.items.GenericItem] - failed notifying listener '[gHueLights_TV_Rack_Color (Type=GroupItem, BaseType=ColorItem, Members=3, State=null, Label=TV Rack, Category=colorwheel), Licht_Farbe_WZ_TV_Rack_Links, The argument 'state' must not be null or empty.]' about state update of item java.lang.IllegalArgum

[2016-11-17 13:20] kaikreuzer commented on #2471
Nobody claimed that anything has been fixed meanwhile.

[2016-11-17 13:48] #2454 closed

[2016-11-17 14:02] lolodomo commented on #2478
That looks like a duplicate of my issue #2443.

[2016-11-17 14:04] kaikreuzer commented on #2478
Yes, you are right. Closing as duplicate then.

[2016-11-17 14:04] #2478 closed

[2016-11-17 14:35] svilenvul commented on #2408
I think the implementation is made this way, because of the [thing-description-1.0.0.xsd](https://github.com/eclipse/smarthome/blob/master/bundles/core/org.eclipse.smarthome.core.thing.xml/thing-description-1.0.0.xsd#L48). The sequence element assumes that an order is expected.

[2016-11-17 15:52] kaikreuzer opened #2481 "NPE when starting the ThingManager"
I just came across this in my log file during startup:

[code]

The NPE occurs because the handler is null (which might be due to the fact that I have Things for which no binding bundle is started).

[2016-11-17 15:53] kaikreuzer commented on #2481
@sbussweiler Very likely related to https://github.com/eclipse/smarthome/pull/2087 - may I ask you to have a look?

[2016-11-17 18:06] kaikreuzer commented on #2481
Further investigation showed that I had a binding, which declared a certain Thing type to be a bridge, but instantiated a ThingHandler and not a BridgeHandler for it - as a result, [this code](https://github.com/eclipse/smarthome/blob/master/bundles/core/org.eclipse.smarthome.core.thing/src/main/java/org/eclipse/smarthome/core/thing/internal/BridgeImpl.java#L69) returned null, although a handler w

[2016-11-17 18:37] lolodomo commented on #982
Just to mention that this warning is still present in snapshot 593. It only happens when stopping openHAB, Minor issue.

[2016-11-17 20:49] arins opened #2482 "Basic ui GUI not updating when zwave device is changing state from on or off"
Hi!
I own this dimmer [https://www.m.nu/flush-dimmer-gen5-qubino](https://www.m.nu/flush-dimmer-gen5-qubino)

My config looks like this

[code]

When I switch the light on (not dimming) from the actual dimmer on the wall the basic ui GUI is not updating but the watt meter is updated with correct value. If I refresh the page the switch is set to ON in the GUI.
Same thing happens if I switch the lig

[2016-11-17 23:07] gauranggunde opened #2483 "Connected Lighting Binding using the CoAP protocol - Microchip Technology"
The CoAP Connected Lighting binding provided by Microchip Technology allows for connectivity with the Lighting setup based on PIC micro-controllers using the Constrained Application (CoAP) protocol. A user would be able to interact with the lighting setup using OpenHAB as the UI through the provided binding.

[2016-11-18 06:43] lolodomo commented on #2474
I fixed it. I will prepare a PR.

[2016-11-18 06:47] lolodomo opened #2485 "Sonos notification sound: restore a wrong volume level"
When requesting the playback of a sound to a group member that is not the coordinator of the group, the restored volume after notification is the original volume of the group coordinator for all group members (rather than the individual volume for each Sonos device).

[2016-11-18 08:06] lolodomo commented on #2485
In fact, after more experiments, it looks like the volume is set only for the adressed sonos device and after notification its volume is restored not to its original volume but to the volume of the group coordinator.
Should be easy to fix, I will take a look.

[2016-11-18 08:36] lolodomo commented on #2485
@R-Edelhoff : what was exactly your intention regarding volume when requesting the playback of a notification ?
Was your intention to set a volume value for all the group members (of the current group) or only the adressed device ?
Finally, of course I imagine your intention was to restore the original volume values for all impacted Sonos devices.

[2016-11-18 08:46] maggu2810 commented on #2481
I would prefer option 2 but perhaps instead of simple return null we should also write a log message.

[2016-11-18 09:38] sbussweiler commented on #2481
I will provide a proposal for solution 2 ;-)

[2016-11-18 11:45] danchom commented on #2477
We have already support for this. You have to use following syntax:
"cronExpression":"0/${seconds} * * * * ?"

You can check module type of ItemStateChangeTrigger where we already use this feature.

"children":[
            {
               "id":"itemStateChangeTriggerID",
               "type":"GenericEventTrigger",
               "configuration":{
                  "eventSource":"$itemName",

[2016-11-18 11:46] sbussweiler commented on #2481
See #2487

[2016-11-18 11:59] danchom commented on #2477
The difference between single and multiple references are:
1) When use single ref $x, it is replaced by the value of the object x, There is a type value check between types of property containing the reference and the type of referred property.
2) in the complex case where the  referred  property is part of some string pattern, the property is converted to string and after that it is replaced into

[2016-11-18 12:40] rene54321 commented on #2471
Hi,

any news here? Seems I am the only one with this problem :-(

[2016-11-18 12:58] kaikreuzer commented on #2471
Did you notice that there are 210 open issues here?

[2016-11-18 13:03] rene54321 commented on #2471
You are right sorry.

[2016-11-18 13:05] maggu2810 commented on #2471
Do we have any information about the ref used by the latest known working version?

[2016-11-18 13:08] rene54321 commented on #2471
Hi,

thats an good question. I think the old version was around the 11.11. But I am not 100% sure as I do the updates often in the last time.

[2016-11-18 13:24] kaikreuzer commented on #2471
@maggu2810 : I am pretty sure that it is related to the changes done in the context of https://github.com/eclipse/smarthome/pull/2334.

[2016-11-18 13:38] kaikreuzer commented on #2477
Interesting, thanks for pointing that out - I indeed missed that. Maybe it is worth to add a section to the documentation for that feature as well?

It would be less error-prone. Can we always automatically decide whether the value or its string should be used, if we only find "${x}"? if the types map, we probably could always go for the value, if the target is a string, we could always use a toSt

[2016-11-18 13:48] kaikreuzer commented on #2481
Fixed by https://github.com/eclipse/smarthome/pull/2487

[2016-11-18 13:48] #2481 closed

[2016-11-18 13:51] petarnv opened #2489 "Proposal for tests for org.eclipse.smarthome.core.audio"
`org.eclipse.smarthome.core.audio` is one of the core bundles, that is not tested. I'm thinking of implementing tests for it, but recently I've seen a couple of PRs, related to the audio (e.g. https://github.com/eclipse/smarthome/pull/2426). @kaikreuzer, are you planning other changes of the audio and do you think that it is a good moment for tests for that bundle to be implemented?

[2016-11-18 13:57] danchom commented on #2477
I think if the property value is just ${x} we have always replace it with its value.
When it is part of the pattern :  "bla ${x} bla${y}" it should be replaced with its toString value.
Should we have to support $x for backward comparability for existing module types?

[2016-11-18 14:01] kaikreuzer commented on #2489
Hi @petarnv! I think this bundle is done for the moment, I do not expect any bigger additions or refactorings for now - so yet, having test coverage on it would be awesome!

[2016-11-18 14:02] lolodomo opened #2490 "System interpreter: adding french syntax"
I am interested in adding french syntax to the system rule interpreter.
Will work on it and propose a PR when done.

[2016-11-18 14:04] kaikreuzer commented on #2477
No, because the child config parameter could be of type STRING, while the composite parameter is a DECIMAL.

Not because of me - we could simple adapt all module types within ESH, no need for backward compatibility. @maggu2810 fine for you as well?

[2016-11-18 14:05] kaikreuzer commented on #2490
Nice :-)

[2016-11-18 14:10] lolodomo commented on #2490
In french, the equivalent of "the" can be "le", "la" or "l'" like for example "le machin", "la chose" or "l'exemple".
Considering that my item has "exemple" for label, will the current code be able to recognize "l'exemple" as being "l'" + my item label ?

[2016-11-18 14:33] kaikreuzer commented on #2490
No idea - have a try yourself. I fear that it won't work as expected - you might need to adapt the tokenizer to also treat ' as a symbol where words need to be separated.

[2016-11-18 14:40] kgoderis opened #2491 "BaseThingHandler:channelLinked() called frequently / too much"
In a simple setup with a single Item -> Channel definition in the DSL, the above method is called three times (for the given channel) at startup of the runtime, twice triggered by ThingManager.added() and once by ItemRegistry.allItemsChanged().

Expected behaviour would be that the method is called once for each time an Item definition is parsed, taking into account the fact that "temporary" items

[2016-11-18 14:49] kaikreuzer commented on #2181
@svilenvul FTR: #2087 has finally been merged this week!

[2016-11-18 14:50] kaikreuzer commented on #2491
I agree, this is an unwanted behavior. Maybe this is something that is also related to https://github.com/eclipse/smarthome/issues/1896 and should be considered in that context.

[2016-11-18 15:28] lolodomo commented on #2490
I took a look to the method tokenize and I discovered that all ' are first suppressed. Hopefully, it was well thought ;) and we have locale as parameter for this method and I can update the method in case of franch.
I think I should replace any ' by a space so that a text like "faire l'action" will become "faire l action".

[2016-11-18 15:59] lolodomo commented on #2490
@kaikreuzer : we have the console command "smarthome:voice interpret" but is there an available call to the interpreter we can use in rules ?

[2016-11-18 16:07] kaikreuzer commented on #2490
Yes, right here: https://github.com/eclipse/smarthome/blob/master/bundles/model/org.eclipse.smarthome.model.script/src/org/eclipse/smarthome/model/script/actions/Voice.java#L73

[2016-11-18 18:09] lolodomo opened #2493 "Interpret console command with system interpreter displays null"
My default HLI is set to "Rule-based interpreter".
When I run the command "interpret" in the console, I get just a "null" as result.
[code]
Of course I have an item named VoiceCommand.
I tried to set my locale in Paper UI but no change.

[2016-11-18 18:14] lolodomo commented on #2493
Oups, in fact it is working, my rule is correctly triggered.
It just surprising to get this "null" displayed.

[2016-11-18 19:17] lolodomo commented on #2450
@maggu2810 : this time, after updating my repository, even with Maven calling at top, it fails ! I can no more compile ! I already tried to delete my ".m2\repository" folder. Any help would be really appreciated.
[code]

[2016-11-18 19:48] MHerbst commented on #2450
This seems to be a Maven problem. Some hours ago there was a modification in Maven to use https instead of http. Unfortunately the certificate on repo.maven.apache.org does not match the hostname.
You can find more information and a bypass here: https://issues.sonatype.org/browse/MVNCENTRAL-1369

[2016-11-18 21:02] maggu2810 commented on #2477
I used it on very few places, so fine to change for me as well.

[2016-11-18 22:25] maggu2810 commented on #2450
Hi @lolodomo, I think about your concerns again and tried to find a solution.
There is something you can do... But you should know that this is unsupported and my break your machine, your home or the whole universe (okay, I don't think so) :wink:
IIRC there is no official support to build only a subset and not the whole reactor using Maven.

I tried it myself with an empty local maven repo and it

[2016-11-18 22:50] lolodomo opened #2494 "Used locale by interpret console command"
The "interpret" command considers only the default locale of your machine. Is it expected ?
I would have expected that it used the locale settings of openHAB if defined.
In my case for example, no chance to try with english as my machine is setup to a French locale.

An alternative would be to have the locale as a first optional argument of the command.
Any suggestion ?

[2016-11-18 23:16] lolodomo commented on #2474
PR fixing the issue has been submitted.

[2016-11-19 09:37] lolodomo commented on #2450
The Maven problem that occured yesterday has been fixed, I can again compile everything from the root.

@maggu2810 : thanks, I will try that later.

[2016-11-19 10:44] MHerbst opened #2495 "Endless loop with stack overflow in bridge configuration with build #595"
I originally posted this issue in the openHab repository () but the problem also happens with the Hue binding. So it seems to be a general problem.

I have downloaded the latest online build of openHab. Then I installed the Homematic binding.
I have entered a value for the gateway address (I left all other settings unchanged) and tried to save the configuratoin. But I got a server error 500 and th

[2016-11-19 10:58] tavalin commented on #2495
I noticed the same thing with build #595 on both a RPi2 and my Window desktop.

[2016-11-19 11:02] hakan42 commented on #2495
The same happens with a clean "mapdb" directory and "discovering" a Hue gateway to initialize the system.

[2016-11-19 11:14] hakan42 opened #2496 "[hue] Osram Lightify Plug not recognized during discovery"
I have three Plugs from Osram integrated into my Hue network: (Links, sorry for the Amazon link but I could not find any neutral documentation, even on osram.de)

https://www.google.de/?gws_rd=ssl#q=osram+lightify+plug

https://www.amazon.de/Schnittstelle-Erweiterung-LIGHTIFY-Systems-herk%C3%B6mmlicher-Leuchtmittel/dp/B00YSXBP90

During discovery through OH2 (Build 594), I am told that the plugs a

[2016-11-19 11:28] maggu2810 commented on #2495
Steps to reproduce (no e.g. Hue HW necessary):

* Build the latest ESH and start a distribution
* Install Paper UI
* Install Hue Binding
* Open Paper UI in the Browser
* Navigate to: Configuration, Things
* Add Things, hue Binding, Add manually: Hue Bridge
* Add a dummy "Network Address"

[2016-11-19 12:10] maggu2810 commented on #2495
It is currently caused by the call to `mapper.toJson(value);` where mapper is Gson and value if a BridgeImpl.

Will have another look at it later.

[2016-11-19 12:18] lolodomo commented on #2494
@kaikreuzer : if you are ok, I will replace "Locale.getDefault()" by "localeProvider.getLocale()" for the console command.

[2016-11-19 12:51] maggu2810 commented on #2495
Recently a non-transient logger field has been added to the Bridge implementation.
The serialization of the logger field caused the problem.
A fix has been created, see #2498

[2016-11-19 17:03] #2495 closed

[2016-11-20 11:21] SergVM commented on #989
Hello! And what about the uncertain value?
19:14:22.578 [WARN ] [rm.AbstractFileTransformationService] - Could not transform '-' with the file 'humidex.scale' : Scale can only be used with numeric inputs
Thank you!

[2016-11-20 11:46] watou commented on #989
It might make sense to special-case the `[..]` catchall to handle any input.  I can submit a PR if no one objects.

[2016-11-20 12:36] SergVM commented on #989
I do not know what PR, but I do not mind ;)

[2016-11-20 12:41] watou commented on #989
@SergVM: Reading the history further, it looks like your transform should have returned the empty string, in addition to having logged the warning you showed.  Did the transform return the empty string?  This was decided and changed back in February/March.  See https://github.com/eclipse/smarthome/issues/1107.  If the transform returned the empty string as intended, is that not sufficient for your

[2016-11-21 00:05] SergVM commented on #989
Hello! Yes, I figured out already!
[..] = Undef
you must make the last
[0..10] = test1
[11..20] = test2
[..] = Undef
As stated in the above example, all the fault of my bad English.
Now all is well, thank you!

[2016-11-21 07:22] #2493 closed

[2016-11-21 08:21] lolodomo commented on #2494
Fixed by PR  #2497

[2016-11-21 08:21] #2494 closed

[2016-11-21 09:55] kaikreuzer commented on #2496
We indeed only have support for [dimmable plug-in units](https://github.com/eclipse/smarthome/blob/master/extensions/binding/org.eclipse.smarthome.binding.hue/src/main/java/org/eclipse/smarthome/binding/hue/internal/discovery/HueLightDiscoveryService.java#L56), not for On/Off ones - this is the first time that I see those. Support would need to be added to the binding.

[2016-11-21 10:22] #2452 closed

[2016-11-21 10:43] lolodomo opened #2501 "New rule action "interpret" with a given HLI as parameter"
I will add a new action "interpret" that will take a HLI as second parameter.

@kaikreuzer : when I look at the class org.eclipse.smarthome.model.script.actions.Voice, I see that sometimes the parameter "text" (say and interpret actions) is of type Object, sometumes of type String.
Is there a valid reason to not have always the same type ? Should we use type Object or String ?

[2016-11-21 10:46] R-Edelhoff commented on #2485
The behaviour is dependent of the type of group. In case of an Ad-hoc group the notification volume should be applied to the selected sonos speaker. After the notification the previous volume of the  selected speaker should be applied.

In case of a bonded group (stereo pair, 5.1) the volume of the coordinator should be applied after notification.

As i can see it in the code the coordinator volum

[2016-11-21 10:49] lolodomo commented on #2485
As you seem to have a clear idea of what has to be changed, can you propose a fix ?

[2016-11-21 13:12] sjka commented on #2471
at least the timing matches. will have a look.

[2016-11-21 15:18] R-Edelhoff commented on #2485
i could arrange a fix but this would require some time in consideration with testing etc.

[2016-11-21 18:52] NorbertHD opened #2502 "Yahoo Weather shows wrong air pressure"
The Yahoo Weather binding shows the wrong air pressure. Currently it shows 33491 hPa which is about 33 times to high. Normal air pressure is around 1013 hPa.

[2016-11-21 18:52] NorbertHD opened #2503 "[Paper UI] Astro Control 12 hour format"
In Paper UI in Control view the Astro binding shows times in 12 hour format without am/pm abbreviation.
 Can somebody please change it to 24 hour format? It's in org.eclipse.smarthome.ui.paper-0.9.0-SNAPSHOT.jar file controllers.min.js line 2452.

Change
 return $filter('date')(date, "dd.MM.yyyy hh:mm:ss");
 To
 return $filter('date')(date, "dd.MM.yyyy HH:mm:ss");

Capital letter HH is 24 hour for

[2016-11-21 18:53] #2474 closed

[2016-11-21 20:50] sjka commented on #2471
I think I found the root cause: #2504
As there are no tests so far covering group items, I would ask everybody following this issue to double-check that I didn't miss anything else in that area...

[2016-11-21 21:39] kaikreuzer commented on #2503
@aounhaider1 Could you check the formatting?

[2016-11-22 07:38] #2471 closed

[2016-11-22 08:24] sjka commented on #2502
I just checked: that's what comes back from the Yahoo API, claiming pressure values have the unit "mb" (which I assume stands for "millibar"). So from that perspective the binding is okay, the bug lies on Yahoo side.

Anyway... The closest unit I could find would be [inHg](https://en.wikipedia.org/wiki/Inch_of_mercury), which could explain the values: currently we get for Berlin

[code]

which mat

[2016-11-22 08:26] lolodomo commented on #1653
@rtvb : can you confirm this issue (problem with notification) can be closed ? If true, please close it. If not, please explain how to reproduce it ?

[2016-11-22 08:34] lolodomo commented on #2329
@Marty56 : can you close your issue ?
If not, tell us how to reproduce it. When calling the feature, what was being played by your Sonos ? What value are you assigning to the item to trigger the notification ?

[2016-11-22 08:40] sjka commented on #2491
Are you sure it's not the auto-linking in "simple mode" of the ChannelItemProvider? As long as I have it enabled, I see two (not three) calls in total, which I understood is expected because it might be faster than the loading of the item files, gracefully cleaning up after itself once the DSL is loaded. Without the ChannelItemProvider, there is only one call.

[2016-11-22 08:50] maggu2810 opened #2506 "NTP Test: IDE errors"
My Eclipse IDE shows the following errors for the NTP Test project:

| Description | Resource | Path | Location | Type |
| ----------- | -------- | ---- | -------- | ---- |
| The type org.osgi.service.component.ComponentContext cannot be resolved. It is indirectly referenced from required .class files | NtpOSGiTest.groovy | /org.eclipse.smarthome.binding.ntp.test/src/test/groovy/org/eclipse/smarth

[2016-11-22 08:53] maggu2810 commented on #2506
It could be solved by adding the package org.osgi.service.component to the "Import-Package" section.

[code]

But if it is only indirectly referenced shouldn't the class be available by the dependency at all?

[2016-11-22 09:19] kaikreuzer commented on #2502
In [older versions](https://github.com/eclipse/smarthome/blob/0.7.0-release/binding/org.eclipse.smarthome.binding.yahooweather/src/main/java/org/eclipse/smarthome/binding/yahooweather/handler/YahooWeatherHandler.java#L123) of this binding, we also provided a "unit" parameter in our request, defining whether we want metric or us results. Maybe the API is providing correct us results and we just wro

[2016-11-22 09:36] lolodomo commented on #1479
Issue to close, no ?

[2016-11-22 09:56] sjka commented on #2506
Not sure if it helps, but at least I do...

[2016-11-22 09:59] lolodomo commented on #635
@kaikreuzer : to be closed ?

[2016-11-22 10:02] maggu2810 opened #2510 "Paper UI: Extensions menu"
IIRC The Extensions navigation menu entry has been only visible if there has been an extension service in the past.
Why is it visible now all the time?

[2016-11-22 10:03] maggu2810 commented on #2510
Is it related to #2320?

[2016-11-22 10:04] kaikreuzer commented on #2510
@aounhaider1 Could you comment?

[2016-11-22 10:04] NorbertHD commented on #2502
Perhaps you should only transform if a condition is met. Like: if value greater 15000 then value = value / 33.86389.
If Yahoo eventually sends really millibar(hPa) then it works also.

[2016-11-22 10:32] #2503 closed

[2016-11-22 10:44] sjka commented on #2502
Good thought, I did it like that in #2511

[2016-11-22 10:53] kaikreuzer commented on #2510
@kolkoo As you did #2320, do you have any suggestion how this could be solved?

[2016-11-22 11:13] petarnv commented on #2506
@maggu2810, last time I was working on the NTP Tests, there were no such errors. Now, when I pull the latest changes, I get the same errors. The only solution, that I can find is the same as yours - https://www.eclipse.org/forums/index.php/t/823810/.

[2016-11-22 11:20] sjka commented on #2502
PS:

btw, we [still](https://github.com/eclipse/smarthome/blob/master/extensions/binding/org.eclipse.smarthome.binding.yahooweather/src/main/java/org/eclipse/smarthome/binding/yahooweather/handler/YahooWeatherHandler.java#L157) do that. And it's effective: if we switch it to "f", then we get the us units. Funny enough, the pressure is equally wrong there: it actually is in mb but claimed to be inH

[2016-11-22 11:21] kaikreuzer commented on #2502
Do they have an issue tracker where we could report that? 😎

[2016-11-22 11:53] #2502 closed

[2016-11-22 11:55] sjka commented on #2502
Nothing you would consider as such - the only thing I could find is the YDN forum. Apparently those who are left are shielded pretty well from the public. I [tried](https://developer.yahoo.com/forums/#/discussion/11441/pressure-uses-the-wrong-units-in-the-weather-table)  nevertheless...

[2016-11-22 12:02] sjka commented on #2506
As it is a test fragment anyway, it surely does not hurt to add this dependency to it then.

[2016-11-22 12:06] sjka commented on #2408
This is correct. However, it's not that trivial to change the XSD accordingly, as the obvious choice (`<xs:any>`) does not allow choices inside. So things get pretty messy, considering we need to keep full backward compatibility. But maybe you have a good idea...?

[2016-11-22 12:10] maggu2810 commented on #2506
You are right, I don't think it is important for the test bundles...
But I think we should know what we are doing and why this is necessary.

[2016-11-22 13:17] #2506 closed

[2016-11-22 14:32] kaikreuzer commented on #991
@sbussweiler Ping!

[2016-11-22 14:34] kaikreuzer opened #2517 "ERROR in log after adding a hue bridge"
When I approve a newly discovered hue bridge, the light discovery service tries to read the connected lights, but fails, since the bridge has not yet been paired at that moment:

[code]

As this is a standard situation, there must not be any error logging.

[2016-11-22 19:05] Marty56 commented on #2329
@lolodomo
I am using build #595 and the issue is not resolve.
My rule works if I am using
sendCommand(SZ_playuri, uri + "doorbell.mp3")
 but
when replacing this statement by
sendCommand(SZ_notificationssound, uri + "doorbell.mp3")
no sound will be heard.

[2016-11-22 19:58] kgoderis commented on #2491
@sjka mmh... even then, wouldn't it still be more logical to have a single call off channelLinked()? I presume you do not have the ItemRegistry originated call in your test?

[2016-11-22 20:33] lolodomo opened #2520 "genericthingprovider: ConcurrentModificationException"
Using snapshot 607, here is an exception I got at startup:
[code]

[2016-11-22 21:35] #1479 closed

[2016-11-22 21:38] lolodomo commented on #2329
What is the value of your variable uri ?
Is the result dependent on what is your current source ? Same thing if your current source is a tune-in radio station ?

[2016-11-22 21:56] #2496 closed

[2016-11-23 03:01] beowulfe commented on #1093
I think you're right - the channel categories should work. We're not really solving for the complex devices that are typically represented by multiple Items. Requiring a Group for a Thermostat always seemed a little strange to me. However, we're also not really making things worse in that area with these changes.

The channel categories differ a bit from the tag names we were using: i.e. "lighting

[2016-11-23 07:25] kaikreuzer opened #2521 "ClassCastException in HandlerFactories"
There are reports from a number of bindings about ClassCastExceptions, when trying to instantiate a handler for a bridge - the Thing framework seems to hand in a Thing (and not a Bridge) instance in that case. Before the Thing refactoring, this code was working, so it seems that this must be some bug in the framework, not in the bindings. See a log here:

[code]

More infos also at https://github.

[2016-11-23 07:32] sjka commented on #2521
Just to be clear: in this case the binding is perfectly right to assume it's a Bridge:

[code]

[2016-11-23 08:07] sjka commented on #2521
I'm trying to reproduce this issue with latest smarthome/master and openhab2-addons/master. However, I always correctly get a Bridge instance.

@re-vo-lution can you give me any hints on how to reproduce it? How was the wrong "Bridge" created - via a .thing file or in the PaperUI? And if the latter, was it existing already in the database before you applied the update or did you newly create it af

[2016-11-23 08:21] re-vo-lution commented on #2521
I will explane my way.
I created the system by using the openhabian-image and updated the system with apt-get update and apt-get upgrade actuall OH2 build. i have used the files in /etc/openhab2/ from my backup(all files like rules, items..., but without things). I installed the homematic binding with paperUI and get this error in the logfile.

[2016-11-23 08:36] re-vo-lution commented on #2521
addintional info: some user tell that the innogy binding works with OH2 build 477 to 577, but for example with 602 and in my cose with 609 its not working.

[2016-11-23 10:51] sjka commented on #2521
With innogy binding you mean the one that is displayed as "RWE SmartHome Binding", right? Is it exactly the same error? Otherwise I'd say let's not mix up different stuff in this issue.

However, if it _is_ the same, then this would a good hint - I'm just not aware that there is a native openHAB2 binding for RWE/innogy, so we'd need to look at the compatibility layer...

[2016-11-23 13:28] re-vo-lution commented on #2521
@sjka : No, i mean the new innogy-binding in apha status from Olliver Kuhl. I showed the rror message from this binding here:
[https://github.com/openhab/openhab2-addons/issues/1462](url)

This is not exact the same error, but its also about the bridge handler and this error haves some other people, you can show here:

[http://www.innogy-smarthome-forum.com/thread-openhab-2-innogy-smarthome-bindin

[2016-11-23 13:47] #2520 closed

[2016-11-23 15:00] sjka commented on #2521
Oh, I see, thanks. From that I can tell that the innogy problem is completely unrelated - this is something that needs to be fixed in the binding itself (i.e. "handlers" of a Bridge need to implement the BridgeHandler interface, not the ThingHandler interface).

So let's focus on your Homematic issue here. I'm still struggling to understand where this "Thing" instance (which actually should have b

[2016-11-23 15:18] re-vo-lution commented on #2521
i activate the logging in  karaf with these both lines and hope this was correct.
log:set DEBUG org.org.eclipse.smarthome.*
log:set DEBUG org.openhab.binding.homematic.*

Then i uninstall the binding and installed it again. For the new installe here its the logging:

2016-11-23 16:15:19.455 [DEBUG] [org.openhab.binding.homematic       ] - BundleEvent INSTALLED - org.openhab.binding.homematic
2016-

[2016-11-23 16:17] kolkoo commented on #2510
We can make the root resource return only currently available services. I can prepare a PR. Should I?

[2016-11-23 16:51] kaikreuzer commented on #2510
Would be awesome :-)

[2016-11-23 16:58] kolkoo commented on #2510
#2523

[2016-11-23 18:44] hakan42 commented on #2521
Just for the record: This happens during the netatmo binding initialization too:

    Caused by: java.lang.ClassCastException: org.eclipse.smarthome.core.thing.internal.ThingImpl cannot be cast to org.eclipse.smarthome.core.thing.Bridge
            at org.openhab.binding.netatmo.internal.NetatmoHandlerFactory.createHandler(NetatmoHandlerFactory.java:53)[196:org.openhab.binding.netatmo:2.0.0.201611

[2016-11-23 20:47] kaikreuzer commented on #2521
@hakan42 Is this with things coming from the mapdb database that was created with an earlier version? Or can you reproduce this by starting from an empty db and adding a thing in the latest snapshot?

[2016-11-23 21:03] hakan42 commented on #2521
I am pretty sure that it was with a clean mapdb as I wanted to test the initialization of hue.

I will check with tonight's build and an empty mapdb again and report.

[2016-11-24 03:01] Marty56 commented on #2329
I will answer the question on the weekend. Currently I have no access.

As far as I can recall:
uri contains a string pointing to the directory in which the sound is stored.
Since it is working when using "playuri" command, I do not think that this is a root cause.

When I am playing a tune-in radio station. Sound is stopping, the volume is set to the notification volume (which was defined and not

[2016-11-24 07:31] re-vo-lution commented on #2521
With the build 610 the homematic-binding works at my installation. But the bridge was not automatically added to the inbox, i must add it manually. After i set the CCU IP-Adress that the things of homematic are automatically added to inbox.

[2016-11-24 08:12] JungeG opened #2527 "Yahoo Weather Bindings shows wrong Air Pressure"
after installing the Yahoo Weather Binding and setting the woeid 15002743 (Pinneberg). The air pressure is displayed with 33931,6 hPa, the web page shows 1002.0 Millibar - see attachment.
![yahoo weather binding](https://cloud.githubusercontent.com/assets/20333190/20590884/f697949a-b225-11e6-8c50-9be90008a28d.png)
![yahoo web page](https://cloud.githubusercontent.com/assets/20333190/20590885/f698c

[2016-11-24 08:30] hakan42 commented on #2521
@kaikreuzer  With build 610, the ClassCastException still occurs in the netatmo binding. I have started with a completely fresh installation, empty mapdb directory, empty cache and tmp directories.

[2016-11-24 08:33] hakan42 commented on #2496
Sorry to reopen this, but with (offline) build 610, I still get the "unsupported light" message for my bulbs:

    2016-11-24 08:28:33.481 [DEBUG] [l.discovery.HueLightDiscoveryService] - discovered unsupported light of type 'On/Off plug-in unit' and model 'Plug_01' with id 8
    2016-11-24 08:28:33.486 [DEBUG] [l.discovery.HueLightDiscoveryService] - discovered unsupported light of type 'On/Off p

[2016-11-24 08:54] kaikreuzer commented on #2527
Duplicate of https://github.com/eclipse/smarthome/issues/2502

[2016-11-24 08:54] #2527 closed

[2016-11-24 09:04] lolodomo opened #2528 "ContactItem: OpenCloseType as accepted command type"
OpenCloseType is not listed as an accepted command type for a contact item.
My feeling is that it should.

[2016-11-24 09:18] lolodomo opened #2529 "System HLI: not accepted command type"
The system HLI returns a wrong message when you request a command to an item and the command type is not accepted by the matched item type. The error tells you that no match was found with this label while it should indicate no match with this label and command type.
I would suggest to update the message of the property "no_objects" for all languages to include the command type.

[2016-11-24 09:22] maggu2810 commented on #2496
@kaikreuzer Would it be possible (using some automated mechanism) to identify the ESH Git rev that is used in the OH builds?

[2016-11-24 09:23] watou commented on #2528
ContactItem is meant to represent a passive contact closure (like a reed switch) or similar device that can only report its state as open or closed.  It doesn't make sense to command such a device to change its state.  Other item types like RollerShutterItem or SwitchItem can be commanded to change their state.

[2016-11-24 09:23] lolodomo commented on #2529
In English, we could replace "There is no object named like that." by "There is no object named like that accepting <command> command."
What do you think ?

[2016-11-24 09:26] maggu2810 commented on #2529
@lolodomo I agree, that the message should be changed.
I am not familiar with the HLI code, but if the item is found but the command type does not fit, shouldn'T the error message be "The referenced object does not accept the given command type" (or something similar)?

[2016-11-24 09:27] lolodomo commented on #2528
Ok.
@watou: so we have no item that can accept an OPEN or CLOSE command ?
In this case, I think we should suppress these command types from the system HLI.

[2016-11-24 09:30] lolodomo commented on #2529
That would be even better but that requires to add a new error message.
The change is a little more complex to do but of course doable.
I can go in that direction.
I need the same message in German ;)

[2016-11-24 09:31] lolodomo commented on #2529
Other point: there are commands for opening and closing things but they don't work as the OpenCloseType command tyoe is accepted by no item.
Should we suppress these commands from the syntax ?

[2016-11-24 09:34] kaikreuzer commented on #2529
Note that both are different cases and both are valid (the one where the item does not exist, the other where the command is invalid for an existing item).

I would say yes.

[2016-11-24 09:35] maggu2810 commented on #2529
If we have the correct one in English, I will give you one :wink:

[2016-11-24 09:35] kaikreuzer commented on #2528
We could actually think about not having OpenClosedType implement Command anymore. I don't know what bindings might make break through that...

[2016-11-24 09:38] lolodomo commented on #2529
In English, it could be:

[2016-11-24 09:39] kaikreuzer commented on #2496
Well, it is fairly easy to find out the timestamp of the build:

[code]

And with https://hudson.eclipse.org/smarthome/job/SmartHomeDistribution-Stable/changes, it is easy to see what PRs have already made it in the build and which don't (hint to @hakan42: This one here isn't yet published).

[2016-11-24 09:43] maggu2810 opened #2530 "Test failure(s): Hue: nupnp discovery"
The Hue test fails with the recent master (at the time of writing -- rev is stated below).

[code]

[code]

[code]

[code]

[2016-11-24 09:43] sjka commented on #2521
Okay, I just downloaded openHAB2 610, fresh database, empty config, fresh everything. I installed the netatmo binding, added a new "Netatmo API" thing (which is the bridge) via the PaperUI, entered some bogus as the credentials and all went fine:

[code]

somehow we are still looking at the wrong place... Our main focus should not be the bindings, but the question who or what created these wrong b

[2016-11-24 09:44] maggu2810 commented on #2530
Is this related to #2526?

As it seems not every machine is involved, its perhaps timing related.

[2016-11-24 09:45] sjka commented on #2521
PS: [Off-Topic]: Of course I raised https://github.com/openhab/openhab2-addons/issues/1472 for the bridge being ONLINE instead of OFFLINE (Configuration Error), but that's a different story...

[2016-11-24 09:45] kaikreuzer commented on #2530
https://github.com/eclipse/smarthome/pull/2526 isn't merged, so it cannot be related, can it?
On Travis, #2526 has succeeded.

[2016-11-24 09:46] maggu2810 commented on #2529
For example:

[code]

[2016-11-24 09:47] maggu2810 commented on #2530
Why? If #2526 solved this error, it could be related.

[2016-11-24 09:48] kaikreuzer commented on #2530
Ok, related in a positive sense then. I read it as "failing tests could be due to #2526"...

[2016-11-24 09:49] maggu2810 commented on #2530
Yes, "positive sense" was the intention. I am not a pessimist :wink:

[2016-11-24 09:50] sjka commented on #2530
let's ask @chriskn to have a look anyway...

[2016-11-24 09:56] maggu2810 commented on #2496
That allows the reporter to check.

I think about a method for the ESH developers.
I don't think, that:
* downloading the respective OH distribution
* check the timestamp of the ESH bundles
* go to the URL and check the changes
* ..
is something someone want to do to help on a problem.

So we could ask the reporter to report the ESH timestmap in addition to the OH build number.
I assume the timest

[2016-11-24 10:04] chriskn commented on #2530
Seems like an additional bridge is discovered which was not included in the test. I will add a inbox cleanup to the test asap

[2016-11-24 10:13] sjka commented on #2491
Okay, when I run Eclipse SmartHome "as it is", I see those two calls:

1) originating from the ChannelItemProvider, because it created one of these dynamic items while my sjka.items file was not yet loaded:

[code]

One of the next log entries indicate that now my items file got loaded:

[code]

2) As a result, we have another channelLinked call, this time originating from the ItemRegistry because

[2016-11-24 10:29] hakan42 commented on #2496
Ah, cool, I will keep a bookmark on the changes page.  And in the meantime, compile this one binding from sources myself 😄

for my understanding: Is this "-Stable" build job automatically building master or is it somehow triggered manually?

[2016-11-24 10:32] kaikreuzer commented on #2496
I trigger it manually in order to keep the disruptions low.
https://github.com/eclipse/smarthome/pull/2519 is e.g. a breaking change that will require adaptions in openhab-core, so if I'd create a stable release now, it would break the distro...

[2016-11-24 10:34] hakan42 commented on #2521
The only difference that comes to mind is that I have my netatmo binding in a netatmo.things file:

    netatmo:netatmoapi:home
    [
    	clientId = "my-clientid-at-netatmo",
    	clientSecret = "my-secret-at-netatmo",
    	username = "my-user-name-at-netatmo",
    	password = "my-password-at-netatmo",
    	readStation=true,
    	readThermostat=false
    ]

with the values in the netatmo.things f

[2016-11-24 10:48] sjka commented on #2521
This seems to be highly relevant. I notice that in your things file the "Bridge" keyword is missing - which is okay if it gets inferred from the ThingType. But for this, the binding has to be loaded first.
So adding the "Bridge" keyword in front definitely should fix _your_ problem. And I will check if maybe the loading order (things file vs. binding) causes this bug.

[2016-11-24 11:03] sjka commented on #2521
Yep, that's definitely it:

* Loading .things file before the binding: ClassCastException
* Loading .things file after the binding: All good.

May happen with ANY binding if you leave out the "Bridge" keyword in your .things files.
I'm now looking into fixing it.

Btw: @kaikreuzer how optional is the "Bridge" keyword? I couldn't find any clue in the docu that it is, and also the bindings include i

[2016-11-24 11:09] kaikreuzer commented on #2521
Well, the documentation is indeed not clear on that. It says "The first keyword defines whether the entry is a bridge or a thing" and "It is possible to skip the Thing keyword", which reads as "you can skip the 'first' keyword and simply start with the UID".

Do you have any explanation, why it worked in the past? Was that merely a lucky coincidence?

[2016-11-24 11:22] lolodomo commented on #2528
I close the issue as it is finally expected to not have OpenCloseType as accepted command type for a ContactItem item.

[2016-11-24 11:22] #2528 closed

[2016-11-24 11:42] hakan42 commented on #2521
Yes, adding "Bridge" to the things file does fix the problem. Confirmed fix 😄

[2016-11-24 12:14] kaikreuzer commented on #2485
Fixed through #2516

[2016-11-24 12:14] #2485 closed

[2016-11-24 13:03] lolodomo commented on #2329
You're right but it could help to reproduce to know what was your URI.
Checking the code for differences in the two cases, playuri is clearing the queue beofre inserting a new item inside while notificationsound is just adding a new item at the end of the queue. The other difference is that adduritoqueue and setcurrenturi are called in a different order.

[2016-11-24 13:06] kgoderis commented on #2491
FYI, I do have  a ItemRegistry.allItemsChanged() triggered call as well. Will provide a log of that, but that as such does not change the question/issue as you summarise here above.

The link-unlink-link behaviour is a bit confusing, and there is no good way to deal with it in a binding.

[2016-11-24 13:46] sjka commented on #2521
that's good to have your confirmation, thanks! So we now have an official workaround. We all can use our smart homes again while I'm hunting the root-cause.

not yet. Just looks like really unfortunate timing: The ThingHandlerFactory is registered already while the ThingTypeRegistry is not yet aware of the ThingTypes (i.e. xml processing still in progress), so the GenericThingProvider tries its be

[2016-11-24 14:14] maggu2810 commented on #2530
Fixed by: 2531

[2016-11-24 14:14] #2530 closed

[2016-11-24 14:46] #2394 closed

[2016-11-25 11:24] sjka commented on #2510
just fyi: #2523 has been merged.

[2016-11-25 11:46] Marty56 commented on #2329
Hi lolodomo
The string uri contains "//nac/Users/martin/OH2/conf/sounds/".
I realized that if my TV is running at my playbar, playuri produces sound.
but notificationsound does not.
If I have switch off the TV or also playing a tune in radio station it is also working now with notificationsound.

It is kind of strange. The test I did last week I used the play1: and had problems. These problems som

[2016-11-25 11:52] Marty56 opened #2534 "say command and marytts:bits3hsmm not working when using webaudio"
Having set language to de, the newly enhanced "say" command is producing a kind of mikimouse sound when using selection the german voices under Windows 10.
It seems that the sampling rate is a factor 10 to fast.
e.g.
say("dies ist ein Test","marytts:bits3hsmm","webaudio")
same is happending with marytts:bits1hsmm

using "marytts:cmuslthsmm" it is working but not usable due to the american language

[2016-11-25 12:00] lolodomo commented on #2329
In this case, please close this issue, your problem is the support by the binding of the digital line-in of the playbar and you already opened the issue  #2410 for that. You could rename your description in the other issue to ask for a general support of playbar optical line-in.

[2016-11-25 12:05] maggu2810 commented on #2510
I know, I merged it. :wink: Thanks for the reminder. There has been to much tasks open... Sorry

[2016-11-25 12:05] #2510 closed

[2016-11-25 12:31] sbussweiler commented on #991
This status handling has been fixed long time ago @kaikreuzer (but not from me ;-) ). You can close it. See [here](https://github.com/eclipse/smarthome/blob/master/extensions/binding/org.eclipse.smarthome.binding.hue/src/main/java/org/eclipse/smarthome/binding/hue/handler/HueLightHandler.java#L109)

[2016-11-25 12:35] sbussweiler commented on #955
I think this refactoring is done with #2087.

@kaikreuzer  What do you think?

[2016-11-25 12:48] kaikreuzer commented on #991
Then we have an issue less, wonderful :-)

[2016-11-25 12:48] #991 closed

[2016-11-25 12:49] #2329 closed

[2016-11-25 13:19] lolodomo commented on #2410
Please note that a general support for the optical line-in is requested by this issue, meaning the notication mechanism should work as well.

The playbar has only 1 line-in that is the optical line-in ?  Or 2 line-in, one digital + one analog ?

[2016-11-25 13:31] kaikreuzer opened #2535 "Support of "multiple" in service configurations"
I have a config description of a service that looks like this:

[code]

I expected the Paper UI to allow me to choose any number of items for this parameter, but it only renders a single drop-down box. If I remove the "context", it also only renders a single text entry box.

[2016-11-25 13:35] lolodomo commented on #2410
@Marty56 : if I update the code iand provide it through a new branch in my fork, would you be able to compile and test it ?
PS: I have no mean to test it myself.

[2016-11-25 13:56] kaikreuzer commented on #2534
This is a bug of MaryTTS (see https://community.openhab.org/t/sonos-audio-sink-say/15576/24?u=kai), which is maintained at https://github.com/openhab/openhab2-addons/tree/master/addons/voice/org.openhab.voice.marytts.

[2016-11-25 13:56] #2534 closed

[2016-11-25 14:05] kaikreuzer commented on #955
At least it won't get any better than this ;-)

[2016-11-25 14:05] #955 closed

[2016-11-25 15:28] Marty56 commented on #2410
No, I cannot compile. I do not have the IDE installed nor do I know how to do this

[2016-11-26 12:13] J-N-K opened #2538 "Persistence REST API w/ boundary returns wrong (?) timestamp on last point"
The REST API returns values from a chosen persistence service. It queries the persistence service with starttime&endtime and returns these values. If the boundary option is set to true it additionally queries the persistence service for the values at the boundaryies and adds these before and after the other dataset.

In PersistenceResource.java l. 263 it adds the "start" value, using the starttime

[2016-11-26 13:00] hakan42 opened #2539 "Basic UI behind SSL proxy uses REST URLs with plain http"
Originally I opened this ticket as https://github.com/openhab/openhab-core/issues/84

Here I am again, using build 612 behind my nginx reverse proxy 😄

Page https://my-server/basicui/app?sitemap=sunlight tries to load

http://my-server/rest/sitemaps/events/aaca358d-e467-4af6-91b1-9939fec1adf6?sitemap=sunlight&pageid=sunlight

(notice the plain "http"), which in turn leads to "mixed content" warnin

[2016-11-26 13:12] kaikreuzer commented on #2539
@resetnow Could you check how the SSE connection is created?

[2016-11-26 15:34] BClark09 commented on #2539
I believe this is a proxy error, not a smarthome one.

Have you set:

[code]

[2016-11-26 16:23] #2324 closed

[2016-11-26 16:25] kaikreuzer commented on #2031
I assume this does not occur anymore with the latest LIFX refactoring

[2016-11-26 16:25] #2031 closed

[2016-11-26 16:27] kaikreuzer commented on #2183
I'd assume that with https://github.com/eclipse/smarthome/pull/2087 this does not occur anymore. If you still see a problem, feel free to re-open.

[2016-11-26 16:27] #2183 closed

[2016-11-26 16:30] kaikreuzer commented on #772
This has been implemented with https://github.com/eclipse/smarthome/pull/2343

[2016-11-26 16:30] #772 closed

[2016-11-26 17:13] hakan42 commented on #2539
@BClark09  the problem was once again in front of the computer 😄

Setting X-Forwarded-Proto fixed my problem. Reading the documentation more concentratedly would have pointed me to this 😊

[2016-11-26 17:13] #2539 closed

[2016-11-26 19:14] michelde opened #2540 "sendHttpPostRequest works different for OH2"
Last week I migrated from OH1 to OH2 and experienced that some of my rules where not working anymore. My rules is about to send a new value to my Volkszaehler for logging purposes.
The rule which worked within OH1 was:
[code]

To get it working I needed to change the `sendHttpPostRequest(request)` to `sendHttpPostRequest(request, "application/json", "")`.

Within log I could see:
`20:12:29.860 [IN

[2016-11-26 19:44] J-N-K commented on #2540
The NPE is caused by missing parenthesis in l. 210 in HttpUtil.java:

`if (method.equals(HttpMethod.POST) || method.equals(HttpMethod.PUT) && content != null) {
            request.content(new InputStreamContentProvider(content), contentType);
        }
`
Since && has higher precedence than || this is equal to

`if (method.equals(HttpMethod.POST) || (method.equals(HttpMethod.PUT) && content != nul

[2016-11-26 22:48] 9037568 commented on #2540
For the case in question, don't all of those expressions result in an
ultimate "true" value and execute the associated code block?

In which case, the NPE can't come from here?

[2016-11-26 23:06] watou commented on #2540
I think the issue is that HTTP POST isn't also verifying that content isn't null with && taking precedence.

[2016-11-26 23:44] 9037568 commented on #2540
Right you are.  I need more coffee.

[2016-11-27 08:26] watou commented on #2540
See #2541

[2016-11-27 08:38] J-N-K commented on #2540
Oops. Seems I'm a little bit late on this one.

[2016-11-27 08:46] watou commented on #2540
Great minds think alike!  😄   I put the `content != null` at the beginning of the expression since it's the first thing to consider, otherwise either PR fixes.

[2016-11-27 08:57] J-N-K commented on #2540
Looking at it I was thinking whether for readability it would be better to enclose `content != null` in braces, too. Of course != is evaluated first and it works that way, I have seen something similar in another place, where `if (foo - 1 > bar) {`. I had to think twice if this is evaluated in the way it should be.

[2016-11-27 09:02] watou commented on #2540
In a case like `if (foo - 1 > bar) {` I can see how parentheses around `foo -1` improves the clarity and removes doubt as to operator precedence.  In the case of `content != null && <expr>` it seems clear enough.  I suppose it's a matter of personal preference...

[2016-11-27 11:09] #2540 closed

[2016-11-27 12:20] Marty56 opened #2543 "Different rules using the same Time cron statement are not triggered"
It seems that OH2 Timers are not working if the same timer is used in different rules.
Bug was found in build 615.

Example:
rule "Uhr incrementieren"
when
	 Time cron "0 0/1 * * * ?"
then
	logInfo("erstes Timerule","eins")
end

rule "Uhr incrementieren"
when
	 Time cron "0 0/1 * * * ?"
then
	logInfo("zweites Timerule","zwei")
end

in Log I am receiving

10:14:00.034 [INFO ] [marthome.model.script

[2016-11-27 12:23] kaikreuzer commented on #2543
You should note that the rule id must be unique - having two rules with exactly the same id is not valid and I guess this is what causes your issue.

[2016-11-27 12:30] wborn opened #2544 "Wrong chart URLs in Basic UI when using non-default persistence service"
I have an outside temperature chart with several periods similar to that of the demo. The only difference is that it uses JDBC as persistence service. I.e. this is how the sitemap looks:

[code]

When I initially open the Basic UI page with these charts it shows the correct graph image. However when changing the chart period several times it starts to use the wrong URL to the chart image.

A corre

[2016-11-27 13:08] Marty56 commented on #2543
You are correct!
After I have been unique names, the triggers worked again.

[2016-11-27 13:08] #2543 closed

[2016-11-27 13:35] JueBag opened #2545 "Rules using a CRON statement are triggered more then once"
Starting with nigthly online build #611, and continued on #617 I'm observing that my cron triggered rules are executed twice or sometimes even more often. This behaviour started after the update for #611, stopped out off unknown reasons for 2-3 days and then reappeared again. The update to #617 didn't change that.

My cron-statement
 `Time cron "50 7,17,27,37,47,57 * * * ?"`

A typical log entry l

[2016-11-27 14:11] kaikreuzer commented on #2545
I would be great (and especially helpful) if you could post a simple rule file with a single cron triggered rule that triggers very often and can be used to reproduce it.

Here is my example (using build 614 on a RasPi3):
[code]
Log at startup:
[code]

Looks all good to me.

[2016-11-27 16:00] JueBag commented on #2545
Your rule is working correctly, I figure you have entered into a running OH2 instance!
When starting OH2 with already saved rule-file (I'm using your example inside the file "price.rules") the log looks like (I omitted parts of the log to shorten the list):
[code]

So it looks to me as if the problem only occurs when using the rules file unchanged since system started, a "touch" of the file (savin

[2016-11-27 17:35] kaikreuzer commented on #2545
No, I didn't - my log was directly after a runtime restart.
We should try to find out what is different on your system in comparison to mine.
Is your prices.rules the ONLY rule file you have in it? Does it only contain this one rule that I posted?

[2016-11-28 08:29] maggu2810 commented on #2410
The instructions for the IDE setup could be found here: http://www.eclipse.org/smarthome/documentation/development/ide.html

[2016-11-28 09:09] aounhaider1 commented on #2535
You are right, it is not working for context='item'. I'll fix that. However, it works fine if you remove the context field. The input field shown in this case is, in fact, a multiple field but we are unable to add any new options, as server is returning the limitToOptions=true in this case (I think it is default value?).

[2016-11-28 10:08] watou commented on #2544
I fixed the same bug in the Classic UI [here](https://github.com/eclipse/smarthome/pull/1106/files).  I suspect the Basic UI copied that bug from Classic UI.

[2016-11-28 10:29] kaikreuzer commented on #2535
If no options are provided, "limitToOptions" does not have any meaning and should be ignored. Not sure if we can change that easily on the runtime side (as true is a sensible default when options are provided).

[2016-11-28 11:09] JueBag commented on #2545
No,  my price.rules file contains my two other rules that use cron statements. Both show the same faulty behaviour. Additionally I have other rules files, all without cron statements and all without the above posted problems.
My compleye setup contains the UIs: Basic, Classic, Paper and HABPanel
Bindings Sonos, Intertechno, Network
Transformations JSONPath,Map, RegEx
Persistence MapDB, RRD4J
Voice

[2016-11-28 11:12] kaikreuzer commented on #2545
So you confirm that my setup from above works as expected? What is the minimal change to it to make the problem appear then?

[2016-11-28 11:39] svilenvul commented on #2437
I have created a simple online poll, where you can vote for the automated code checks that you want to be added to the Static Code Analysis Tool. Please share your opinion, you have only to enter a name to vote.

The initial suggestions listed there are from the [ESH Code Guidelines](http://www.eclipse.org/smarthome/documentation/development/guidelines.html), feel free to add your own suggestions

[2016-11-28 12:15] JueBag commented on #2545
Did I say something  in that direction, not in my understanding.
I see that on your system the problem does not show up. Besides the workaround of "touching" the rules file, I have so far not been able to find  a reduced setup that doesn't show the problem. Will continue to search and will report findings asap.

[2016-11-28 13:09] janKG opened #2548 "[FS Internet Radio] Method failed: 404"
The FS Internet Radio is throwing the following warning on a recent OH2 snapshot build. I enabled trace logging for better context:

[code]

The warning is displayed every few seconds. Not sure if it's a problem with ESH/OH2 or the radio itself (which is a Medion P85035)

[2016-11-28 13:27] janKG opened #2549 "[FS Internet Radio] Invalid item name"
The Frontier Silicon Radio binding is causing the following warning on startup.

I'm running a recent OH2 Snapshot build.

`[ore.common.registry.AbstractRegistry] - Could not add element: The specified name of the item 'fsinternetradio_radio_SOME-ID-REMOVED_volume-absolute' is not valid!
java.lang.IllegalArgumentException: The specified name of the item 'fsinternetradio_radio_0e0a[...]_volume-abso

[2016-11-28 14:10] Marty56 commented on #2410
I am aware on these documentation but I since I am not using Java in my profession this amount of engagement is not justified for the time being.
Maybe situation is looking different in half a year

[2016-11-28 14:32] vilchev opened #2550 "CompositeTriggerHandler wrongly "dispose" child handlers"
Currently CompositeTriggerHandler does:

[code]
The idea behind
`            handler.setRuleEngineCallback(null);`
by now is to stop child handlers from notifying (trigger) the composite handler.

Most of Handler implementations, however, wouldn't expect `ruleCallback=null` (they can even have isNull check and never bother to set the new null value). The right way to notify given handler to stop w

[2016-11-28 14:45] danchom commented on #2550
Agree. The RuleEngineCallback has to be set by the setRuleEngineCallback and removed by the handler's dispose method.
We have to check implementation of current module handles if the remove the reference to the rulecallback.

[2016-11-28 16:13] kaikreuzer opened #2551 "LIFX throws NPE"
Trying to control a LIFX bulb (where the Thing is set to OFFLINE, whyever), I get this exception in the log:

[code]

[2016-11-28 16:13] kaikreuzer commented on #2551
@wborn & @kgoderis Could you have a look?

[2016-11-28 17:57] wborn commented on #2551
Light temperature and HSB values will remain null unless they are received from the light itself. When the light has never been online they will thus remain null.

Both values are required when updating one of them because they are updated using the same packet. This exception does not occur when I disconnect power from one of my lights that has been online.

Solutions could be:

1. use a fallback

[2016-11-28 18:43] kaikreuzer commented on #2551
Not sure that I can follow you.
As you can see, I tried to send a HSB command, i.e. I specifically defined all details (hue, saturation, brightness) and I simply expect the bulb to switch to this color - regardless whether there has been any communication before. There should be no information missing to send the appropriate request.
If the bulb expects a value for the temperature although I am se

[2016-11-28 20:07] wborn commented on #2551
Thats right, the LIFX bulbs also expect a temperature value even though you only change HSB. And vice versa when you only change the temperature while HSB is null.

I checked some more code and we already use `HSBType.WHITE` as color default in `CurrentLightState.setPowerState` (see #2318). Do you have a preference for the temperature default? The range is from 2500K (warm) to 9000K (cool).

[2016-11-28 20:24] #2529 closed

[2016-11-28 20:37] lolodomo commented on #2490
Now implemented and merged.

[2016-11-28 20:37] #2490 closed

[2016-11-28 20:45] binderth opened #2553 "sendHttpRequest - configuring Timeouts and possibly using answers"
## Expected Behavior
I'm using openHAB2 and in the config-file http.cfg you can define the timeout for http-binding, but the actions in ESH like sendHttpGetRequest are not using those configurations.

in the http-binding config file, I defined a 20sec timeout
[code]
This timeout should be applied to every function/method of the binding or surrounding , in my case also for `sendHttpGetRequest` acti

[2016-11-28 20:50] JueBag commented on #2545
It is embarrassing for me, but it are the rules in my "price.rules" file. The problem occurs when I use my rules, it disappears when using the rule from @kaikreuzer.
I did use those rules for some month without problems!
I do need some more time to find the reason why the rules are causing that error, I will continue to search tomorrow and report.
Here is the code one of the rules:
[code]

[2016-11-28 21:14] wborn commented on #2544
@watou the issue in your link indeed seems to be related.

I can think of some reasons why unix time would be preferred over using a random:
* the `&random=1` in the initial URL may be cached causing the wrong initial graph to be shown
* using `&t=unixtime` in URLs theoretically makes it possible to share cached graphs between clients, however since unixtime is in millis it will not likely happen

[2016-11-28 22:39] watou commented on #2544
Yes, the purpose of the `t` or `random` parameter is only to bust the cache, so a unique value is needed.

[2016-11-29 07:50] kaikreuzer commented on #2551
That makes sense.

My point is that it should not matter. "red" color has a fixed color temperature and it simply is not possible to set it to 2500K-9000K. Color temperature really only makes sense for different tones of white. Afaik, LIFX only uses this value as a starting point, if you switch their app to "white tones" control. In this app, they seem to set 3000K as a default, which they also ca

[2016-11-29 08:53] kaikreuzer opened #2555 "Things should automatically inherit channels from their (current) thing type"
I know that this has been discussed already, but I couldn't find an according issue for it, so I am entering one:

There is currently a mismatch in how Things are created that are read from a) the storage and b) from DSL.

In the DSL case, the Thing is constructed based on its type (and the channels declared within this type). Channels that are specified in the DSL are additionally added to it.

T

[2016-11-29 09:06] sjka commented on #2555
Fully makes sense from my point of view. However, the implementation is going to be a little bit tricky as now the ManagedThingProvider will also have to wait until all XMLs have been processed, i.e. the ThingTypes are available. Just wanted to point out this limitation which we would newly introduce.

[2016-11-29 09:11] kaikreuzer commented on #2555
Alternatively, could we have a service that updates Things in the registry dynamically when a thing type appears? That way, it could be the same mechanism (and implementation) for Managed+Generic and we would not even block the creation of Things in case no type information is available.

[2016-11-29 09:16] maggu2810 commented on #2555
Make sense for me, too.

Wouldn't it be make sense to wait for all the thing handling (and perhaps other stuff)  until all XMLs of a binding has been read?
This would also solve stuff #1550

[2016-11-29 10:31] kaikreuzer commented on #2553
The http binding (which does not exist in ESH at all) is completely unrelated to the action that can be used in scripts. It is hence not possible to re-use or share any configuration here.

So the best option to make the timeout configurable is imho adding additional methods, which accept a timeout parameter.

Would you want to create a PR for that?

[2016-11-29 10:38] clinique opened #2556 "parameter.pattern does not seem used for validation"
I wanted to introduce such control for the Netatmo binding without success. Tested also on the AmazonDashbutton that restrict by regular expression the "MAC address" configuration item while Paper UI allows the entry of non matching value.

[2016-11-29 11:47] steand commented on #2545
@kaikreuzer

Hi Kai,

I have the same behavior.
The rule is:
[code]
The cron-job start's 2 times sometimes 3 times.
After reloading of the rulefile it work normal.
After shutdown and restart openhab2 there are two cron-jobs.

Extract (Only rules "SunW") from openhab.log:
[code]
Sometimes the scheduler change by self to multiple  starts.
Furthermore I run my installation with `DEBUG org.quartz`. Ma

[2016-11-29 13:23] J-N-K commented on #2553
I can prepare a PR for the timeouts, it's a diligent but routine piece of work. However, I don't get  what is requested by

4. additionally: interpret the answer of the requested URL

As far as I can see the response is returned as String.

[2016-11-29 13:31] steand commented on #2545
@kaikreuzer
@JueBag
I think I have found the problem.
After copy my rule to the clear system i had the same behavior: rule is start twice.
In the rulefile was a missing `end`.
[code]
After I put in the `end` it works on both installations.
My feeling is, if in the rulefile is a error (what the parser not found) the problem is coming up.

Regards Stefan

[2016-11-29 13:42] binderth commented on #2553
Hi there,

I just read and misinterpreted the comment on the Action
[code]
I read "just ignored" so, that the responses won't appear anywhere, but in the code I just saw `return response;`. So No 4 is already in place, I guess! 👍

[2016-11-29 13:51] kaikreuzer opened #2559 "ThingHandlers stay UNINITIALIZED of registration runs into timeout"
The method `ThingManager.registerChildHandlers()` has the following code:

[code]
Within `registerHandler` the handler registration is done in a "Safe" call, i.e. it might return after 5 seconds without having successfully registered the handler by that time.
As a result, `initializeHandler` will simply do nothing, since it checks whether the handler is correctly registered already.

The outcome i

[2016-11-29 14:01] aounhaider1 opened #2560 "Rollershutter with slider"
As the rollershutter item accepts percent value (http://www.eclipse.org/smarthome/documentation/concepts/items.html). Would it make sense to also have a slider for it on control page?

[2016-11-29 14:31] kaikreuzer commented on #2545
Thanks Stefan, this is a very good observation and can indeed explain the behavior!
If a rule cannot be parsed, the whole file is re-parsed whenever new items or actions appear - possibly this re-parsing creates a new job for "correct" rules as well.

Can the others confirm that this is only happening in case of invalid rules?

[2016-11-29 14:45] kaikreuzer commented on #2556
I agree, we should consider this information.
Potentially not only in the UI, but also on the server side when accepting configurations.

@aounhaider1 How difficult would it be to add a check for regex expressions in the Paper UI?

[2016-11-29 14:59] lolodomo commented on #2559
I can confirm that I already noticed cases where certain things remain in UNINITIALIZED state.
It does not occur very often.

[2016-11-29 15:03] aounhaider1 commented on #2556
There is support for regular expressions in JS as well as a wrapper in Angular. So simple validation should not be hard to implement.

[2016-11-29 16:26] dstivanov commented on #2341
@svilenvul @maggu2810 As all the PRs in regard to this issue are merged I am going to close it.

@tomhoefer You can now continue you work on https://github.com/eclipse/smarthome/pull/1668 . Thanks for your patience!

[2016-11-29 16:28] kaikreuzer commented on #2341
@dstivanov We are only left with failing unit tests now, see https://github.com/eclipse/smarthome/pull/2557#issuecomment-263602682.

If they are not fixed, we will have to revert it (again)...

[2016-11-29 17:22] J-N-K commented on #2553
I adjusted the doc, too.

[2016-11-29 18:12] JueBag commented on #2545
The problem on my side is different, it appears when the system is started (by "sudo systemctl start openhab2") and is gone when the rule is saved afterwards.
During my tests I observed that the cron statements is scheduled once early during startup and some time after that (items have been restored and the login to myopenhab is performed) the cron statement is either scheduled again or removed an

[2016-11-29 18:16] kaikreuzer commented on #2341
Ok, all seems well now!

[2016-11-29 18:16] #2341 closed

[2016-11-29 19:37] skywayne commented on #2545
I think Stefan is on to something.  When my system starts   (same with build 611 and 623) I get:

2016-11-30 08:28:01.812 [DEBUG] [e.internal.engine.RuleTriggerManager] - Scheduled rule 'Test' with cron expression '0/5 * * * * ?'

2016-11-30 08:28:26.469 [DEBUG] [e.internal.engine.RuleTriggerManager] - Removed scheduled cron job 'GeneralSecurity - Copy.rules#Test#0/5 * * * * ?'
2016-11-30 08:28:26

[2016-11-29 19:43] kaikreuzer commented on #2545
Yes, this was exactly my thought as well!

[2016-11-29 19:49] skywayne commented on #2545
I have just confirmed this behaviour on my system.  Removing the end from a simple rule file (i.e. only containing the Test rule example given above) makes all of the Cron rules in any of the rule files run multiple times

[2016-11-29 19:50] JueBag commented on #2545
Found my problem, it is the adding of "\" to the URL string. If I remove those (there are 2 instances) the rules is triggered only once.
That character was added in order to "escape" the "," character.

[2016-11-30 08:02] sjka commented on #2559
btw, we have this pattern 4 times within the ThingManager, i.e. everywhere where registerHandler(...) ist called. Therefore I think it would make sense to remove the SafeMethodCaller from the doRegisterHandler block and protect the above to lines instead together, so it is ensured the second line will always be executed after the handler was registered, even if it took too long.

[2016-11-30 08:20] sjka commented on #2560
maybe it's personal preference, but I don't miss the slider control.
It's good to have the percent values though in rules.

[2016-11-30 10:32] kaikreuzer commented on #2560
I like the fact that the Paper UI offers UP/DOWN/STOP buttons for Rollershutter - my suggestion would be to additionally make the percent value editable, so that users can manually post a certain value. This would cover all cases for testing and also provides the most often used controls for users.

[2016-11-30 10:42] #2551 closed

[2016-11-30 11:34] #2553 closed

[2016-11-30 11:37] #2544 closed

[2016-11-30 12:12] kaikreuzer commented on #2437
These are the agreed rules for the project, so if technically feasible ALL of them need to be checked by the tool - because this is one of the main manual jobs currently done during a review.

If anybody says that any of these is not important to check, we should discuss to adapt the guidelines, not discuss adapting the tooling!

The potential interesting rules from PMD/Checkstyle/FindBugs are imh

[2016-11-30 15:51] kaikreuzer commented on #579
Hi @madte and sorry for my late reply!

What you describe reminds me of a new Eclipse project proposal: https://projects.eclipse.org/proposals/eclipse-keti
They are doing an ABAC system, but it seems to me that it won't be easily integratable into the Eclipse SmartHome stack, but would rather have to be deployed as a separate process that proxies requests to the ESH REST API - not really ideal.

B

[2016-11-30 16:22] maggu2810 commented on #2545
@JueBag You started the issue, so I think the issue is yours and you should close it if your problem is solved.
If there is an additional problem of @steand that is still present, we should open a separate one.

[2016-11-30 17:28] JueBag commented on #2545
Understood.
My problem was clearly caused by a changed behaviour of strings. The use of the escape character ("\") in a string caused the rule to be triggered twice.
A change  or save of the causing .rules file  during the runtime of the OH instance stops the misbehaviour.
Although this is a behaviour of OH that leaves room for discussion,  I think this not worth an issue. So I'd like to close thi

[2016-11-30 17:39] maggu2810 commented on #2545
All fine (for me)

[2016-11-30 20:46] #2545 closed

[2016-11-30 22:12] #2559 closed

[2016-12-01 11:04] mboesling opened #2578 "Hue brightness conversion is not bijective"
The brightness conversion of a percent value to a hue value and then back to percent should be the same value. E.g. 67% => 170 => 67%
Currently the conversion done in LightStateConverter will end in 66% cause the value cast to int instead of being rounded.

[2016-12-01 11:54] kaikreuzer opened #2580 "CRON rule triggered multiple times if in same file as an invalid/unresolved rule"
See discussion at https://github.com/eclipse/smarthome/issues/2545:

There are situations where the same rule is scheduled multiple times. It appears to happen if rule files are refreshed and contain rules that weren't correctly parsed before (due to syntax errors or potentially unresolved item or action names).

[2016-12-01 11:55] kaikreuzer commented on #2545
I actually think it is worth an issue (while maybe not a priority for fixing).
But I can imagine that the same effect can happen, if rules are fully correct and just item or actions aren't existing when first being parsed.

To keep track of our discussion here, I entered Although this is a behaviour of OH that leaves room for discussion, I think this not worth an issue.

[2016-12-01 13:21] hakan42 opened #2581 "Missing syntax validation in persistence definition files"
Using many builds up to and including 624, trying to get influxdb persistence working, I had this influxdb.persist file, notice the

[code]

after a very long debugging and reconfiguration session, I noticed that I was missing the "strategy" keyword:

[code]

Surprisingly, the first file was loaded and parsed by the ESH core, but of course no persisting happened. Only after adding the proper "stra

[2016-12-01 13:43] kaikreuzer opened #2582 "Thing stays in INITIALIZING state if initialize() failed once"
Scenario:
I create a Thing with a wrong configuration that makes the handler's initialize() method throw an exception (in my case an IllegalArgumentException()).
It is questionable whether this is allowed for the implementation or not - I would say this should not happen, instead the thing status should be set accordingly.
But in any case, this situation (due to a bug) is irrecoverable, because if

[2016-12-01 14:37] sbussweiler commented on #2582
Can you re-test your mentioned behavior with this [branch](https://github.com/qivicon/smarthome/tree/fixed-thing-update)?

[2016-12-01 17:54] lolodomo commented on #2582
What would happen if the thing handler initialization exits in timeout ?

[2016-12-01 22:14] lolodomo opened #2585 "Exception (TimeoutException) for Sonos thing"
Here is the exception I got at first startup of snapshot 627:
[code]

[2016-12-01 22:29] lolodomo commented on #2585
I don't know if there is a link but when exiting from OH, I got this:
[code]

[2016-12-01 23:27] lolodomo commented on #2585
The error occurs at each startup.

[2016-12-01 23:42] lolodomo commented on #2585
As a result, the Sonos binding is not working well.

[2016-12-02 06:53] kaikreuzer commented on #2585
@sjka & @sbussweiler, Might this be a side effect of https://github.com/eclipse/smarthome/pull/2568?

[2016-12-02 07:33] sjka commented on #2585
Doesn't look like it, as this is not about handler registration, but simply a call to ThingHandler.thingUpdated() only. So it seems this indeed took too long. This rather looks like an issue with sonos, especially as it's not usable afterwards. The TimeoutException keeps the thread running, so it should become usable eventually. We are once again not logging the execution point of the "hanging" th

[2016-12-02 07:35] sjka commented on #2585
No, wait, hang on a second... @lolodomo could you please search your logs again for a line like this?

```Timeout of {}ms exceeded, thread {} ({}) in state {} is at {}.{}({}:{}).```

That should at least tell us where the sonos handler is hanging so long.

[2016-12-02 07:40] sjka opened #2586 "Cannot unregister handler during shutdown"
On shutdown, we observed the following:

[code]

On a first glance this is completely harmless during shutdown, but doesn't look nice anyway. Therefore we should fix this anyway.

[2016-12-02 07:41] sjka commented on #2585
btw, the "Cannot unregister handler" during shutdown of course it not nice, but rather harmless and unrelated to this. I created #2586 to fix it.

[2016-12-02 07:47] sjka commented on #2582
Nothing really. The TimeoutException does not EXIT the initialization, but only makes the rest of the framework continue doing its job. The initialization runs in a separate thread and will continue running anyway. Maybe we should be more clear in the warning message that we print to the logs.

It's the ThingHandler's duty to set the Thing to ONLINE or OFFLINE at the end of the initialization. So

[2016-12-02 07:52] kaikreuzer commented on #2585
Just tested with a Sonos speaker and it works for me, so there does not seem to be a general issue with the Sonos binding.
@lolodomo It seems you have defined it in a things file, is that right?

@sjka Note that this log is from the system startup. So it is not the shutdown of the system, where this occurs, but when disposing the handler because it didn't initialize correcty, which is a bit unexpe

[2016-12-02 07:58] lolodomo commented on #2585
@sjka : no such log entry

@kaikreuzer : yes of course my Sonos are defined in a thing file like this:
[code]

[2016-12-02 08:08] kaikreuzer commented on #2585
Works for me as well with a things file. Here are my logs:
[code]

Unrelated to your problem, what I observe is that the Thing is OFFLINE for one minute as it seems to fail to get the UPnP notification that the speaker is found in the network (you can see that the inbox correctly notices it). @kgoderis Is this something you could check if it can be improved?

[2016-12-02 08:15] lolodomo commented on #2585
This is something else we discussed several months ago. There is probably a bug in jupnp. I am the one who implemented the retry mechanism in the Sonos binding.

[2016-12-02 08:48] lolodomo commented on #2585
The "cannot unregister handler" is at shutdown not at startup.
The timeout exception is at startup.

[2016-12-02 09:05] kaikreuzer commented on #2585
[code]
23:07:09.662 minus 5 seconds is 23:07:04:662. So your shutdown happens already 1 second after the startup at
[code]
?

[2016-12-02 09:27] lolodomo commented on #2585
Ok, there is apparently a "dispose" called but it was not me shutting down openHAB.
In the next startups, I don't think that I have this warning about disposing handler that takes more than 5000 ms. I will check.
[code]
It does just show that the binding has just been installed. Remember it was my first startup.
Maybe after the install, the bundle is stopped before being restarting. It could expla

[2016-12-02 09:30] kaikreuzer commented on #2535
@aounhaider1 This doesn't seem to work correctly yet.
With the item context, I see:

<img width="205" alt="screen shot 2016-12-02 at 10 27 37" src="https://cloud.githubusercontent.com/assets/3244965/20828924/0be0161a-b87a-11e6-8784-4256c98bc19d.png">

But the "Search" text stays there, even if I have selected items from the list (while I see in expert mode that the value is correctly set). I would

[2016-12-02 09:42] kaikreuzer commented on #2535
@aounhaider1 Another question: What format is the configuration sent for multiple values?

What I receive in my service is:
[code]

Shouldn't it be a simple comma-separated list instead? Why are there double brackets around it?

[2016-12-02 09:57] sbussweiler commented on #2586
If the bundle (which is providing the handler factory) is shutting down first, this is a valid warning. What kind of fix do you want to provide?

[2016-12-02 09:59] kaikreuzer commented on #2586
What is valid about this warning? When a bundle shuts down, it must be made sure that all its handlers are unregistered and disposed cleanly.

[2016-12-02 10:10] sbussweiler commented on #2586
Sure, this is ensured by ThingManager.removeThingHandlerFactory(ThingHandlerFactory). But this warning above is coming from ThingManager.thingRemoved(). Means, a thing has been removed and there is no factory available at this moment.

[2016-12-02 10:13] kaikreuzer commented on #2586
So at this moment no handler is registered then, hence "Cannot unregister handler" is somehow obvious right? But the message sounds as if it TRIED to unregister the handler (which isn't there anymore, so even the attempt does not make any sense).

[2016-12-02 10:28] sbussweiler commented on #2586
ThingManager.thingRemoved() tries to find a corresponding factory to unregister & dispose the handler of the removed thing.

But the message sounds as if it TRIED to unregister the handler (which isn't there anymore, so even the attempt does not make any sense).

I agree. This behavior is also implemented. In the case above it seems that the ThingManager starts to unregister the handler, _at the s

[2016-12-02 10:33] lolodomo commented on #2582
You mean the thing handler init is not interrupted after 5 seconds ?

[2016-12-02 10:37] sbussweiler commented on #2582
Exactly.

[2016-12-02 12:00] lolodomo commented on #2586
I link to the issue #982 as it could be more or less the same thing?

[2016-12-02 17:18] lolodomo commented on #2585
I can confirm that the "disposing handler takes more than 5000ms" only occured once for the Sonos binding. The next time, I got the exception without this warning.

[2016-12-02 17:30] lolodomo commented on #2585
I can confirm that the exception is not systematic. New start and this time, it was ok. That looks clearly as a timing issue.

[2016-12-02 17:36] lolodomo commented on #2582
I have since ages an issue with the astro binding that is sometimes remaining in INITIALIZING state. I hope that it could be due to the same reason.
When I run in the console a bundle:stop and then a bundle:start, I got this error:
[code]
and the thing is remaining in INITIALIZING state.
I even tried to uninstall the astro feature and install it again (through the console) and same result and same

[2016-12-02 18:01] lolodomo opened #2588 "Rule action interpret triggering a TTS in case of interpretation error"
Currently, the interpret action in rule is triggering a command saying the error when the interpreation produces an error. It is working, it is really fun and cool but I think it should be optional.
Additionaly, the text is played by the default audio sink and you have no choice of audio sink.
What do you think about the idea to add a parameter to the interpret action that would be the audio sink

[2016-12-03 03:45] 9037568 commented on #2396
This allows an implementing class to throw any exception it needs to. That seems both fitting and necessary.

[2016-12-03 09:33] wborn commented on #2082
@cbcoursera1 PR #2321 should have significantly improved switching large groups of  LIFX lights. Have you found some time to retest it? Sending packets to lights is now done using a thread pool which allows for more concurrency. Therefor I think this issue can be closed.

[2016-12-03 20:00] MHerbst opened #2589 "PaperUI: translations of "description" is ignored"
I have set the language and locale to "German" resp. "de_DE". The PaperUi shows the translated names of the things but the "...description" entries in the properties file are ignored.

This is an example from the Yahoo Weather binding:
![image](https://cloud.githubusercontent.com/assets/616792/20861883/7f82ce60-b99b-11e6-98d6-d1da5d67c33f.png)

[2016-12-03 22:25] kaikreuzer commented on #2589
Did you set the locale of your runtime or the locale of the Paper UI (in Preferences menu)?

[2016-12-04 09:47] MHerbst commented on #2589
I set everything in the Paper UI (under Preferences I selected German and under System/Locale I set the locale to de_DE).
I tried it again this morning and have some additional information that may help. For the Homematic things the display texts are correct under Things/Configuration:
![image](https://cloud.githubusercontent.com/assets/616792/20865302/88ca711c-ba0e-11e6-9a3c-af413f6cd271.png)

BT

[2016-12-04 10:02] kaikreuzer commented on #2588
Sounds good. How would you suggest to express that the response should be played on the default audio sink (as it is today)?

[2016-12-04 10:08] lolodomo commented on #2501
Implemented and merged

[2016-12-04 10:08] #2501 closed

[2016-12-04 10:23] lolodomo commented on #2588
The 2 current "interpret" actions will use TTS with the default audio sink. Unchanged.
I will add a third interpret action with a new parameter that will be the audio sink to use. If this parameter is null, TTS will not be used. If not null, it will be the audio sink to use with TTS.
To disable TTS or to choose another audio sink than the default one, the user will use the new "interpret" action w

[2016-12-04 10:28] kaikreuzer commented on #2588
Sounds good!

[2016-12-04 15:10] cdjackson opened #2591 "Things initialising before XML files are read"
I don't know if this issue has come back with the new thing lifecycle, but it seems to have returned and at least in my system is preventing ZWave working -:

[code]

[2016-12-04 17:37] kgoderis opened #2592 "Push Jetty to 9.3+"
For some reason I can not find back earlier discussion on migration to Java 8, but I was wondering if this is the mean reason of not adopting Jetty 9.3.x? We are currently with 9.2.12 in the target platform definition.

I would need Jetty 9.3 for the ACME protocol implementation, as Jetty 9.3 supports Server Name Indications (SNI) during TLS/SSL negotiation.  This allows the key store to contain m

[2016-12-05 05:45] beowulfe commented on #1093
What do we tell users that are using older bindings that don't yet conform to the new system channels? Is there a concept of a transform that works on the item value, instead of just the label?

[2016-12-05 07:52] kaikreuzer commented on #2591
Sounds as if there indeed is a regression. @sbussweiler Could you check if this could have been caused by the ThingManager refactoring?

[2016-12-05 07:55] maggu2810 commented on #2592
If we bump Jetty in the target platform of ESH and begin to use Jetty 9.3+ features in ESH bundles, then every product that would like to use that recent ESH bundles needs to bump Jetty, too.
I don't know if this is such an easy task for everybody.

For the ones that are using Karaf and Pax Web a bump to Pax Web 6.0.x would be necessary to use Jetty 9.3.5.v20151012. Pax Web 4.2.x uses Jetty 9.2.x.

[2016-12-05 08:02] kaikreuzer commented on #2592
As @maggu2810 says, changing the ESH TP wouldn't help you. The Jetty in the ESH TP is only used to have an HTTP server available when developing in the IDE. Every solution is free to choose an OSGi 4.2 compatible HttpService.

Note: I once (more than a year ago) tried to update the TP to Jetty 9.3, but unfortunately, the Jetty guys didn't take the effort anymore to provide all its dependencies in

[2016-12-05 08:57] kgoderis commented on #2592
@kaikreuzer @maggu2810 Ok, that is pretty clear. I can stick to http challenges for ACME (e.g. 9.2.x), it is just a little less secure, but I will document that for end users. Those not wanting to expose their complete OH instance via http will then still need to rely on nginx or equivalent to split/redirect streams

[2016-12-05 09:08] kaikreuzer commented on #2592
Ok, so I close this issue here.
@kgoderis FYI: Karaf 4.1 will use Pax-Web 6, see https://issues.apache.org/jira/browse/KARAF-4093. Official release date is 11/2016, but they seem to be a little behind their schedule ;-)

[2016-12-05 09:08] #2592 closed

[2016-12-05 09:26] kgoderis commented on #2592
@kaikreuzer Do we intend to use Pax-Web 6 in ESH/OH?

[2016-12-05 09:27] kaikreuzer commented on #2592
Not ESH as explained above. But OH2 will always try to use a current version of Karaf, yes.

[2016-12-05 09:43] kgoderis commented on #2592
Mhh... since we have some servlets in ESH, and some in OH2, should they not be treated equally wrt HttpService manipulations and so forth? Potentially, we can  influence HttpService from OH2 which might not be desired for the ESH servlets. Let's see what Pax-Web 6 will offer additionally

[2016-12-05 11:15] bbolte commented on #2560
I am currently developing a binding with a Rollershutter and like the Paper UI for quick testing of the functionality. The up/down/stop buttons are good, but I miss the possibility to see/set the current position of the Rollershutter in percent for testing the full functionality of the binding and the device. As a workaround, I am currently defining an additional Dimmer channel, which forwards the

[2016-12-05 12:24] sjka commented on #2591
At least it's not obvious...

@cdjackson  would it be much effort for you to enable TRACE logging for

[code]

and reproduce the problem?

[2016-12-05 12:26] sjka commented on #2578
with #2579 being merged we can close this one, right?

[2016-12-05 12:34] sjka commented on #2585
FYI, regarding the question where it's hanging: I just noticed that the log entry I was asking for is on DEBUG level, so you would need to enable DEBUG logging for the `org.eclipse.smarthome.core.common` package if you wanted to find that out.

[2016-12-05 12:36] #2578 closed

[2016-12-05 14:12] kaikreuzer commented on #2592
ESH servlets should work on any OSGi HttpService. OH2 servlets are free to use features of Jetty.

[2016-12-05 14:25] maggu2810 commented on #2592
If we don't care to add some stuff to the p2 third party repo that is generated using Maven artifacts, too, I don't think it is too much work (I already use a bndtools + Maven Repo only launch config that uses also Jetty - at the moment still 9.2.x).

[2016-12-05 14:29] maggu2810 commented on #2592
Perhaps we will see it at the end of the year: https://lists.apache.org/thread.html/bd8ba20671c3ed50f32b626907068d40738f03df20bc83d2f3494340@%3Cdev.karaf.apache.org%3E

[2016-12-05 18:10] cdjackson commented on #2591
I tried another test, and tonight it’s working ok - same code as yesterday - as far as I know, nothing changed except the test tonight doesn’t have a zwave stick plugged in as I’m travelling, but that shouldn’t matter as the stick isn’t initialised until after the bridge is initialised so I don’t think it should impact the reading of the XML!

[2016-12-05 18:16] kaikreuzer commented on #2591
I remove the "critical" flag until you find the problem back again :-)

[2016-12-06 05:16] lsafelix75 opened #2596 "BridgeHandler or ThingHandler Are Not Disposed after Bundle Uninstalled?"
Hi,

Just want to understand more on the new thing life cycle.
Let's say I already have a custom bundle with bridge and child things initialized (called initialize()). Then i decide to uninstall the bundle and update a new one and start it. Issue that i have noticed is, those new bridge/child thinghandler never call initialize() anymore. Is this as expected?

Assume that creation things are in the

[2016-12-06 08:15] sjka commented on #2596
No, this clearly is not intended. Will have a look...

[2016-12-06 08:34] sjka commented on #2596
So far I can't confirm this behavior. My things get initialized again. So we might need full debug logs of `org.eclipse.smarthome.core.*`, `org.eclipse.smarthome.config.core.*` and your custom binding in order to see what might have gone wrong in your case.

[2016-12-06 08:35] sjka commented on #2596
so whatever the root cause is, it might be the same as in #2582

[2016-12-06 08:48] sjka commented on #2596
@lsafelix75 what is the state of your custom things? Are they maybe in `INITIALIZING`?

[2016-12-06 08:53] sjka commented on #2582
@sbussweiler nope.

It will detect it's `INITIALIZING` already [here](https://github.com/eclipse/smarthome/blob/master/bundles/core/org.eclipse.smarthome.core.thing/src/main/java/org/eclipse/smarthome/core/thing/internal/ThingManager.java#L611) and only print a warning like this:

[code]

[2016-12-06 09:06] sjka commented on #2582
btw, the LIFX binding is... well, let's say *a little special*...:

[code]

[2016-12-06 09:12] sjka commented on #2582
see #2597

[2016-12-06 09:20] aounhaider1 commented on #2535
PaperUI is sending the values as an array and I think its event stored correctly on the server but while getting the configurations it converts the the array into a string, that is causing the double brackets.
About showing the selected values, I think a good approach would be to show a placeholder like "3 item(s) selected".
The dropdown vanishes as there are no matching elements in the options. A

[2016-12-06 11:08] sbussweiler commented on #2582
The framework is starting the handler initialization for an updated thing, if the handler is not initialized. See #2599.

[2016-12-06 12:00] lsafelix75 commented on #2596
sjka, the bridge is in "Initializing" state and the child things are in "uninitialized" state.

[2016-12-06 12:09] lsafelix75 commented on #2596
@sjka ... this is my log. You will notice, thing got "created" by the logger.debug() in "initialize()" of both bridge and thing is never printed out (or not executed)

2016-12-06 20:04:27.549 [INFO ] [rthome.io.transport.mqtt.MqttService] - MQTT Service initialization completed.
2016-12-06 20:04:27.561 [INFO ] [t.mqtt.internal.MqttBrokerConnection] - Starting MQTT broker connection 'local'
2016-12

[2016-12-06 12:36] sjka commented on #2596
okay, that means you will have to look at the `initialize()` method of your custom binding. It is within the responsibility of this method to set the Thing's state to either `ONLINE` or `OFFLINE` sooner or later. It looks like this didn't happen! And while the Thing is in `INITIALIZING` state, the framework will not initialize it again, no matter how often you restart your bundle.

[2016-12-06 13:16] ddudnik opened #2601 "[Hue Binding]: Change/Update the library underneath which actually talks to Hue API"
Currently used library (https://github.com/Q42/Jue) is not maintained any longer since December of 2014 and will become more and more outdated with respect to Hue API. It is important to deal with this issue to be able to support all the newest and future features of Hue API (one example of such a feature is Sensor API).

After a short discussion with @kaikreuzer (https://github.com/openhab/openha

[2016-12-06 13:29] ddudnik commented on #2601
Jue library is under MIT License, which I guess permits to take it right away and include into Hue Binding source code.

@kaikreuzer Please correct me if I'm wrong.

[2016-12-06 14:10] danchom opened #2602 "Improve normalization of modules'configuration properties."
At the moment the normalization of configuration properties are base on the configuration values instead of meta info, defined in ConfigDescriptionParameter, for this value.  This is a problem when the configuration property is defined as multiple or when it has a default value and its type is not string one (default value is always defined as String).
The proposal is to do normalization base on t

[2016-12-06 14:12] kaikreuzer commented on #2601
In theory you are right, but we very much avoid to mix licenses within the ESH source repository. Thus I prefer to have the code being contributed under EPL. I will go and check with the author whether this is an option for him.

[2016-12-06 14:16] #2180 closed

[2016-12-06 14:17] ddudnik opened #2603 "[Hue Binding]: add support for Sensor API"
This issue is cloned from https://github.com/openhab/openhab2-addons/issues/1260 since Hue Binding is maintained in eclipse/smarthome repository.

Original issue description by @regnets

Additional description from me:

[2016-12-06 14:25] #1569 closed

[2016-12-06 14:26] danchom commented on #1569
Implemented by #2070

[2016-12-06 14:29] danchom commented on #1568
Implemented by #2075, #2085 and #2062

[2016-12-06 14:29] #1568 closed

[2016-12-06 14:33] danchom opened #2604 "Change Rule execution: the a actions must stop on first failure"
1) When a rule action throws an exception, the message has to be put in status detail and the RuleEngine has to stop execution of rest actions.
2) When a rule condition throws exception the exception must be put in the rule status details.

[2016-12-06 14:45] kaikreuzer commented on #2602
I see in the RuleEngine code:

[code]
so it seems to already respect the ConfigDescription. Can you point to the place in the code that you want to address?

[2016-12-06 14:46] regnets commented on #2603
If you need an additional tester i would be glad to support you!

[2016-12-06 15:08] lsafelix75 opened #2605 "How to Setup Channels for Bridge?"
Is it possible to define a channel for a bridge?  i am getting the following error in runtime
_!ENTRY org.eclipse.equinox.cm 4 0 2016-12-06 22:56:04.763
!MESSAGE Given uid must not be null.
!STACK 0
java.lang.IllegalArgumentException: Given uid must not be null._

###

Bridge myswitch:broker:mygateway1 [ gateway="my switch", pollingInterval=50 ] {
      Switch: status [ subtopic="status"]

    Thi

[2016-12-06 15:19] kaikreuzer commented on #2601
All listed Java ones are dead since 2-4 years...

[2016-12-06 15:22] ddudnik commented on #2601
@kaikreuzer Yeah, I also did a brief review of other existing Java libraries and it seems all of them are not maintained any longer, mostly because Philips provides an official Java SDK now. Makes sense, I guess, since most developers would not required some other alternative than using an official SDK which would work just fine for an Android app etc.

I was also looking at Jue library more close

[2016-12-06 15:24] tomhoefer opened #2606 "Support firmware updates in paper ui"
This is a proposal how to integrate the firmware update feature into the paper UI. For this purpose we have to provide some more REST endpoints first of all:

- Get firmware status for a thing (provides the firmware status info domain object)
GET /things/{thing-uid}/firmware/status

- Update firmware for a thing
POST /things/{thing-uid}/firmware/update/{firmware-version}

- Get all firmwares for t

[2016-12-06 15:42] danchom commented on #2602
Yes you are right, it is done for rule modules' configuration data. Sorry, I've forgot about this .  But there isn't normalization when we add rule by template (normalization of rule's configuration). In the RuleEngine's getRuleByTemplate() method we call validateConfiguration(r1) which can failed because the parsed json data (part of the configuration object) can be different value from expected

[2016-12-06 16:10] hfanieng commented on #2603
👍

[2016-12-06 17:08] lsafelix75 opened #2607 "MqttBrokerConnection Exception .. how to catch?"
Hi,

I am using ESH's Eclipse SmartHome MQTT Transport Bundle as part of my openhab2 custom binding. In order to capture the MQTT connection state, i have implemented a class to 'implement" MQTTConnectionObserver() class. From there, i could intercept connection status via "setConnected(). However, whenever there is an exception like lost MQTT connection or like following, how do i catch them? I d

[2016-12-06 18:34] kgoderis opened #2609 "[Sonos] Test Firmware 7.0"
Noticed today that Sonos has released firmware 7.0. At first sight, this release seems to support speakers directly from the Spotify app, which makes me believe that the protocol for controlling players could have been altered, extended, or generalised (DLNA?).

Someone with a bit of ample time should take the leap forward and test the binding against this firmware.

[2016-12-06 23:06] lolodomo commented on #2609
Main features tested and no problem detected for me.
I had just to restart openHAB to have correct translating of commands to the group coordinator.

[2016-12-06 23:16] lolodomo opened #2610 "Rule actions say and interpet: inconsistent parameter type"
We have 3 versions of the say rule action. They all provide as first parameter the text to be said.
One expects an Object class while the 2 others expects a String class.
This makes thing confusing for any user.
I would suggest to have a String parameter in all cases.
Same thing for interpret.

[2016-12-07 01:48] lsafelix75 commented on #2596
Ok thanks for the advice. I can't reproduce the issue anymore after restart karaf. I have a feeling that the override dispose () isn't completed properly after uninstall due to mqtt connection exception which I open another issue on forum.

[2016-12-07 07:48] kaikreuzer commented on #2610
The reason why Object is used as a parameter is to allow StringType instances as a parameter, e.g. "receivedCommand" or "MyItem.state". Imho it makes a lot of sense, because having to always add `toString()` is annoying.

[2016-12-07 07:55] lolodomo commented on #2610
In this case, we should use Object in all cases. Is it ok for you ?

[2016-12-07 07:57] kaikreuzer commented on #2610
I would think so - not sure if I overlook anything, though.

[2016-12-07 08:18] lolodomo commented on #2610
I will update my PR #2593 to include this fix.

[2016-12-07 10:14] kaikreuzer commented on #2606
Shouldn't the button only be shown, if firmwares are available? Shouldn't it better be called "Show available firmwares"?

As a modal dialog, an expanded section on the current page or as a new page?

I guess there are devices that are not downgradable. Is this already respected in the list of available firmwares, so that older versions do not turn up at all?
Should the dialog close after the user

[2016-12-07 10:17] danchom opened #2613 "Add runNow(ruleUID) method in ruleRegistry."
The runNow(UID) method has to execute actions without evaluating rule's conditions. The executed actions must not have inputs or the input must have default values.
If the input is connected the runNow method has to use input's  default value.
The method has to execute as much as possible actions of the rule. (It will not stop on the first fail of action execution)

[2016-12-07 10:24] kaikreuzer opened #2614 "Paper UI: Filtering mechanisms for Item list"
Currently, the Item list is a flat list and if there are many items defined, it is almost unusable, because the user cannot find the one(s) he is looking for.

I would therefore suggest the introduction of some clever search and filter mechanism:

- There should be a free-text search field at the top, similar to what we have on the Extensions tab.
- It should be possible to filter for items that b

[2016-12-07 11:14] kaikreuzer commented on #2613
I'd think this is a duplicate of https://github.com/eclipse/smarthome/issues/689, right?

[2016-12-07 14:14] maggu2810 opened #2616 "automation: bind method not found"
With a recent build I run into this errors:

[code]

The class `RuleRegistryImpl` has a `setTemplateRegistry` method using type: `RuleTemplateRegistry`
But the component XML is using type: `org.eclipse.smarthome.automation.template.TemplateRegistry`

[code]

The class `AutomationResourceBundlesTracker` has a `setProvider` method using type: `AbstractResourceBundleProvider`
But the component XML is

[2016-12-07 14:53] maggu2810 commented on #2616
@danchom Can you give me some details about that mismatch between XML and implementation?

[2016-12-07 19:57] kubawolanin commented on #2614
For what I have seen PaperUI is using Angular Material framework.
I may suggest using [md-autocomplete](https://material.angularjs.org/latest/demo/autocomplete) component instead of [md-select](https://material.angularjs.org/latest/demo/select).
I'm involved in HABPanel more nowadays (need to finish a few things I'm working on), but I may jump in later on.

[2016-12-07 22:38] bdleedy commented on #2371
Workaround is a space in front of [, but I can confirm this issue.

[2016-12-07 22:42] ThomDietrich commented on #2371
An item should always have a label. If you want your sitemap to not show a label, define `label=""` for the corresponding element there.

Maintainers: This is a bug. It should be either supported or forbidden to have no label defined for an item. The "MMAP" error is clearly a bug in the evaluation algorithm.

[2016-12-07 22:50] bdleedy commented on #2371
If I take a String in items and then in the sitemap have Text item=thatstring, the label for the sitemap element is on the left and the label for the item is on the right. That doesn't blank the items label.

[2016-12-07 22:55] ThomDietrich commented on #2371
I believe you got me wrong?

[code]

[2016-12-07 22:57] bdleedy commented on #2371
Yeah, that's exactly what I'm talking about. So with that config, nothing would be on the left but "Episode..." would be on the right.

[2016-12-07 23:04] ThomDietrich commented on #2371
Sorry, of course the value placeholder has to be in there. With the corrected example above:

![grafik](https://cloud.githubusercontent.com/assets/2870104/20990589/dcf59370-bcd9-11e6-9a12-68e9720c8802.png)

[2016-12-08 08:05] maggu2810 commented on #2616
Seems to be caused by #2486

[2016-12-08 08:21] tomhoefer commented on #2606
Sure, this is also possible. My original intention was to avoid the additional call.

I would prefer the same look and feel as it is implemented for the current properties view. So for the moment we should simply expand the current page.

No.

Once the button has been pressed then we could show a kind of a modal dialog ("Firmware update started...") and close the expanded firmwares section. The pa

[2016-12-08 08:25] maggu2810 commented on #2616
It is caused by #2486 commit id c51e6de291dae99a89e011a776801e11663638b8
After I reverted it, it is working.

[2016-12-08 08:55] maggu2810 opened #2620 "Authentication API: Add documentation"
This issue continues https://github.com/eclipse/smarthome/pull/2587#issuecomment-265682729

[2016-12-08 08:55] maggu2810 commented on #2620
Don't know why it has been asked me for authentication. Tried different combinations now. I does not ask me anymore.
But it does not work.

I tried Karaf with ESH (+TP) and no other stuff (using my sample karaf packaging) and accessed tested the GET method of rest/things

http://127.0.0.1:8181/rest/things
[code]

[code]

[code]

[2016-12-08 09:03] maggu2810 commented on #2620
@splatch So, could you explain it for me - for a noob of that authentication stuff:
How can I get the Paper UI working again in my Karaf contain without authentication?

[2016-12-08 09:48] maggu2810 commented on #2620
* So, as soon as com.eclipsesource.jaxrs.provider.security is installed (could be wired), authentication is necessary. Correct?
* If no authentication module is provided we will receive a 403. Correct?
* If I add com.eclipsesource.jaxrs.provider.security I can see the same behaviour.

* Why has the security provider been added to the normal feature that brings basic jax-rs support?
https://github.

[2016-12-08 10:09] kaikreuzer commented on #2620
As mentioned in https://github.com/eclipse/smarthome/pull/2587#issuecomment-265684672: The jax-rs security bundle processes the REST annotations and enforces security.

Correct.

Because I didn't think of this implication - my assumption was that if no AuthenticationProvider implementation is available, this bundle will accept all requests, but it is the other way round.

So the fix should be simp

[2016-12-08 10:15] maggu2810 commented on #2620
#2621 will solve it as long as no one install the jax-rs security provider because of some reason (also the Eclipse IDE SmartHome launch config does not include the rest.auth bundle in its "standard" config).

[2016-12-08 10:18] maggu2810 commented on #2620
@kaikreuzer Let's assume I want to use jaas or basic authentication for the REST interface, do you have any guide how to setup Karaf to state which roles has been assined to some username (+password)? As it is not related to ESH I don't care about any documentation here, but I assume you would like to use it one time in openHAB.

[2016-12-08 10:43] kaikreuzer commented on #2620
It is right that I want to use it for openHAB, but I still have to figure out the next steps myself - I only wanted to have @splatch's work merged as a starting point. It is clear that parts are still missing to make it work for solutions like openHAB. There e.g. needs to be some login page/mechanism, the UIs need to be enabled to send authorization headers with their requests etc.

[2016-12-08 10:55] maggu2810 commented on #2620
#2621 has been merged, so it is working for me and for the moment as previously.
I still don't know how to handle the case if the jax-rs security provider is injected by some other bundles in my runtime (as written above e.g. if I enable the bundle in the Eclipse IDE runtime).
I assume the general approach (not the Karaf relate part) should be documented in the ESH documentation (the concept about

[2016-12-08 12:27] danchom commented on #2616
Hi maggu2810, this was a huge refactoring and we missed this mist match, because we don't meet such problems on our implementation  of SCR. I hope this PR will fix the problem.

[2016-12-08 13:51] kaikreuzer commented on #2607
An IllegalStateException sounds like nothing that you should catch and continue. I do not know this code, I think you will have to analyse yourself what is going wrong there.

In general, please use the forum at https://www.eclipse.org/forums/index.php/f/271/ for questions, not the issue tracker here. Thanks!

[2016-12-08 13:51] #2607 closed

[2016-12-08 15:15] #2535 closed

[2016-12-08 16:20] hmerk opened #2630 "[BUG] digitalSTROM Binding : dssBridge OFFLINE - CONFIGURATION ERROR since change to JsonDB storage"
Since thing definitions are stored in JsonDB, the dssBridge is not going ONLINE after openHAB is started.
The error message in PaperUI says that the fields "Sensor update interval", "Total power update interval", "Wait time sensor reading" and "Delays to be slaked trash bin devices" have to be of type number, but aren't.
Going into editing mode and just confirming without any changes brings the ds

[2016-12-08 18:02] #2616 closed

[2016-12-08 20:33] #2610 closed

[2016-12-08 20:38] lolodomo commented on #2588
Enhancement merged.

[2016-12-08 20:38] #2588 closed

[2016-12-08 20:59] #2127 closed

[2016-12-08 21:31] kaikreuzer commented on #2601
Good news: I reached the original author of the lib and he got me in contact with the company who is holding the copyright on it. They are ok with our plan to contribute the sources directly to ESH under EPL!

We should prepare a PR, which refactors the code accordingly and adds the sources instead of the jar. @ddudnik, did I get you right that you volunteered for that?

The sources that must be t

[2016-12-08 21:39] #1593 closed

[2016-12-08 23:12] hmerk commented on #2630
I found the solution myself and provides aPR for it.

[2016-12-09 07:55] maggu2810 commented on #2601
Wouldn't it make sense to keep it in a separated repository but as a subproject of Eclipse SmartHome?
So other guys (non-ESH users) can consume the library, too.

[2016-12-09 07:58] kaikreuzer commented on #2601
No, I don't think it would be worth the effort. The original lib has only 9 forks (possibly 5 from us) and the interest in it seems pretty low - as @ddudnik pointed out, almost everyone else uses the official Philips SDK instead.

[2016-12-09 14:20] kgoderis commented on #2609
@lolodomo Did you encounter any further problems (see your other remark)?

[2016-12-09 15:54] lolodomo commented on #2609
No but I have not done additional tests.

[2016-12-09 19:34] MHerbst opened #2636 "Problems with linking channels to items after fresh install of Build 634"
I made a fresh install of build 634 (on Windows 10) and installed only the Yahoo binding.

In the first test I did not create any items. Instead I opened the thing configuration and selected the option "+Create New Item"
![image](https://cloud.githubusercontent.com/assets/616792/21061735/dfb8cc9c-be4d-11e6-879b-75437c904401.png)
When I press the "Link" button I get an error message "Error 405 Meth

[2016-12-09 19:41] kaikreuzer commented on #2636
The LINK button should not be active if "create new item" is chosen. Instead you should be able to either create an item yourself or to link an existing one here.

@aounhaider1 Could you please have a look?

[2016-12-09 20:13] MHerbst commented on #2636
That's right, but if you select "create new item" it should be somehow possible to "jump" to the item definition page. After I selecte "Create new item" the blue text "item" appeared above the selection. Becaue of its colour it looks like a hyperlink, but it has no function. So the meaning of this text is also not clear.

[2016-12-09 20:28] kaikreuzer commented on #2636
Could you try to clear your browser cache? I just tested it and it correctly opens a "create item" dialog:

<img width="1244" alt="screen shot 2016-12-09 at 21 28 28" src="https://cloud.githubusercontent.com/assets/3244965/21063556/795282d2-be56-11e6-9267-ac554178d9da.png">

[2016-12-09 20:45] MHerbst commented on #2636
That's it. After cleaning the cache it worked as expected. This solution apparently was too easy for me ...

Maybe it would be a good idea to prevent these pages from caching as long as it is in beta state. Or at least to set short expiry dates, e.g. maximum 1 day.

[2016-12-10 09:53] lolodomo commented on #2585
Unfortunately, I installed an updated version of the Sonos binding and now, even after installing again the version packaged with the snapshot 627, I am no more able to reproduce the exception. With my install/uninstall, I probably changed timings and order things are started.
I will let you know what happens when I install a new fresh snapshot from scratch.

[2016-12-10 15:27] kubawolanin opened #2637 "[bug] PaperUI: Can't link items with parenthesis"
In openHAB 2.0 build 636 I've observed that I can no longer link items with Thing's Channels, if given Channel has parenthesis in the name.

Steps to reproduce:
1. Find a Thing with Channel containing parenthesis (for me it was GreenWave PowerNode 6 from Z-Wave binding)
2. Try to link an Item by clicking on blue circle

Expected result:
"Link Item" modal window should occur

Actual result:
There's

[2016-12-10 15:31] kubawolanin commented on #2637
Possibly it's a duplicate of #2636

[2016-12-10 17:07] kaikreuzer commented on #2637
I doubt that it is a duplicate - if so, it should disappear after clearing the browser cache.

@aounhaider1 Could you please have a look?

[2016-12-10 19:33] MHerbst opened #2638 "[PaperUI] Issue more user-friendly error message when trying to modify automatically created item"
I have created some items automatically by activating simple mode and selecting some channels. Then I switched of simple mode and tried to modify the category of an automatically created item.
Paper UI's reaction was error message "405 method not allowed". In addition the log shows this warning:
[code]
If it is not allowed to modify automatically created items then it would be better (and more use

[2016-12-10 19:42] kaikreuzer commented on #2638
Right, but the problem is that the UI can only find out if it is modifiable when doing so. There isn't any information like "read-only" available. Adding such an information would require a rather tricky refactoring.

[2016-12-10 19:45] MHerbst opened #2639 "Use of UTF-8 encoding for i18n properties files"
While testing the Kodi binding with the german translation properties file I realized that all german umlauts where not displayed correctly.
The same problem appears in the Yahoo binding's description:
![image](https://cloud.githubusercontent.com/assets/616792/21075693/a283f24a-bf18-11e6-8fea-00e0e80a18a4.png)
The reason is simple: the properties file where the texts are stored uses encoding ISO 8

[2016-12-10 19:49] MHerbst commented on #2638
I understand. But it would help if a more meaningful error message could be shown. "method not allowed" is very general.

[2016-12-10 19:51] kaikreuzer commented on #2638
I agree, that should be easy to be caught and changed by the Paper UI here.
@aounhaider1 Could you do this?

[2016-12-10 21:18] individualist opened #2640 "Adding an Item in PaperUI fails with no error if Name field contains a space."
To Reproduce:
Under Configuration->Items click (+) to add an item.
Fill in all required fields, but in the "Name" field supply a name containing a space, such as "Office Lights"
Click (+) to add the item.

Results: You are returned to the Items list without an error and without the item being added.

Expected results:
If spaces are not allowed in item names,  a message to that effect should be giv

[2016-12-10 21:21] kaikreuzer commented on #2640
@aounhaider1 Is the item name validation broken?

[2016-12-10 23:09] hakan42 commented on #2639
I seem to remember that java property files are defined by the JVM to be in  8859-1. A leftover from the bad old days of Java 0.9 perhaps?

I tend to use the character constant way in all my projects.

[2016-12-10 23:49] kceiw commented on #1654
Hi @kaikreuzer . Can you point me how to start? I would like to implement it in spare time. I look at the document https://www.eclipse.org/smarthome/documentation. But still I am not sure how to do.

[2016-12-11 08:28] lolodomo commented on #1137
I tested again this issue and good news the problem has disappeared.

[2016-12-11 08:28] #1137 closed

[2016-12-11 08:54] lolodomo opened #2642 "addThingHandlerFactory thrown ConcurrentModificationException"
With snapshot 636.
[code]

[2016-12-11 09:09] lolodomo commented on #2585
With the snapshot 636, I only get the exception at the first startup, unfortunately before I can set the DEBUG logs.

[2016-12-11 09:53] MHerbst commented on #2639
Your memory was correct @hakan42 . I checked the Java documentation and it explicitly says that properties files are read with 8859-1. Only properties files in XML format can use UTF-8 or UTF-16.
UTF-8 seems to work (at least on Windows OS), but I agree with you that it is better to stick with 8859-1. BTW: the Java SDK event contains a little utility to create the correct UTF-8 constant values (ht

[2016-12-11 09:55] lolodomo commented on #2585
Got it finally:
[code]

[2016-12-11 12:24] lolodomo commented on #2585
I think I have the explanation. We have a lock to avoid removing GENA suscriptions while they are being added.
If the thing is updated while GENA subscriptions are being added, handler disposing will be locked and this could probably explain the timeout.
No clear udea how to fix that.
What is the reason of this thing update just after the thing handler initialization?

[2016-12-11 12:40] lolodomo commented on #2585
In fact, didpise() first cancel the polling job before remving GENA subscription.
Does the cancel only cancel the next scheduling of the job or does it interrupt the current running of the job too?

[2016-12-11 15:40] lolodomo commented on #2585
Cancel with true as parameter normally interrupts the running task. So my analysis was probably wrong.
So anyone to help me analysing why there is a thing update and it ends in timeout?

[2016-12-11 17:50] lolodomo commented on #2214
Fix now merged.

[2016-12-11 17:50] #2214 closed

[2016-12-11 22:05] maggu2810 commented on #2636
@MHerbst Is there still something missing or could the issue be closed?

[2016-12-11 22:08] kaikreuzer commented on #2636
I was waiting for @aounhaider1 to comment whether there can be anything enhanced wrt cache expiry.

[2016-12-12 06:14] rtvb commented on #1653
I haven't been using oh2 recently. So I can't confirm. Sorry.

Op Di nov 22 2016, om 09:26 schreef lolodomo:

Links:

  1. https://github.com/rtvb
  2. https://github.com/eclipse/smarthome/issues/1653#issuecomment-262176979
  3. https://github.com/notifications/unsubscribe-auth/AAiI8gycaqiZFdghbheS4em1U_tHZSbQks5rAqdGgaJpZM4Iy4wG

[2016-12-12 07:29] MHerbst commented on #2636
@maggu2810 My particular problem was solved by cleaning the browser cache, but the general problem remain.
@kaikreuzer The https protocol allows to configure a cache expiry for each file that is transferred. So in general it is possible to limit the cache time to e.g. 1 day by settings in the http header that is sent with each file. If the files are served by a web server like NGINS or Apache the

[2016-12-12 08:46] kaikreuzer commented on #2585
Your thing comes from a things file. @sjka Do you know why the GenericThingProvider causes a thing update here and not merely adds it once?

[2016-12-12 09:30] danchom commented on #2613
Yes it is the same issue. I'll close it.

[2016-12-12 09:30] #2613 closed

[2016-12-12 10:10] kaikreuzer commented on #2639
@MHerbst I do not yet understand the problem and your solution.
Java expects property files in ISO8859-1 and this is what the IDE uses as an encoding. So having an "ü" in there (and correctly displayed in the IDE) should be just fine - no need to replace it by any escape sequences. Might the problem not rather be somewhere else in the chain?

[2016-12-12 11:46] MHerbst commented on #2639
@kaikreuzer I agree with you that we don't have a problem in the IDE (it was only my first thought that the encoding was wrong).
But in order to get correct characters in browser (e.g. in Paper UI) all characters must be encoded as valid UTF-8 characters. Otherwise only a question mark is shown.

I see two possible ways to solve this problem:
1.  Using of Unicode escapes in the .properties files.

[2016-12-12 12:24] sjka commented on #2642
That somehow makes sense - the `XmlChannelTypeProvider` internall uses an ordinary `HashMap` with `synchronized` protection sloppily applied not on all places where it is accessed. Need to have a closer look in order to fix it properly.
Thanks for the report!

[2016-12-12 12:40] kaikreuzer commented on #2639
Imho, option 2 is the correct one. If property files are supposed to e in ISO8859-1, we should not constrain our developers to use pure ASCII instead. In general, Java should be able to handle the conversion transparently. I assume that we some where have a bug on the way from reading the property file to serving it through the REST API.

[2016-12-12 12:40] #2640 closed

[2016-12-12 12:41] #2638 closed

[2016-12-12 14:10] kaikreuzer commented on #1654
Hi @kceiw Unfortunately, this isn't too trivial - you should have some understanding of Xtext/Xtend/Xbase.

FTR, this is the place where item names are made available and resolvable within scripts/rules:
https://github.com/eclipse/smarthome/blob/master/bundles/model/org.eclipse.smarthome.model.script/src/org/eclipse/smarthome/model/script/jvmmodel/ScriptJvmModelInferrer.xtend

And the classes in h

[2016-12-12 14:35] markusjw commented on #1035
What if a binding programmer wants to override handleConfigurationUpdate(), but mainly use the suggested code of BaseThingHandler?
The variable callback is private. What should an overriding method do to fire all necessary notifications?

[2016-12-12 20:53] MHerbst commented on #2639
OK, I will try to find out what's maybe going wrong.
I have set up a test environment where I can remote debug the Smarthome classes and I think I know where I have to start :-).
Maybe #2589 is related to this problem.

[2016-12-12 21:04] MHerbst commented on #2589
I have some additional information from some tests with the REST API. IF I execute this request with "Accept-Language" set to "de"
[code]
I get the correct german description for the binding. If I set "Accept-Language" to "de_DE" or if I leave it empty.

[2016-12-13 07:16] lolodomo opened #2649 "Weather binding"
We don't have an equivalent of the OH 1.x weather binding in Eclipse smarthome or OH2. We only have  the Yahoo weather binding but it provides apparently less data than the 1.x binding.
Any reason for that ?
Any work in progress ?
Any problem with the proposal of a general weather binding in Eclipse smarthome with several possible providers that will be a migration of the 1.x binding ?
I am a cand

[2016-12-13 15:17] madte commented on #579
Hi kaikreuzer,
also have to excuse my slow reply! I wasn´t involved much with Access Control lately as I am currently working on secure session establishment, e.g. pairing/comissioning and communication encryption for that I btw develop a CoAP binding with optional DTLS support which I want to commit to the OH2 project when it´s done.

To your questions:

I think even ABAC is a rather complex AC m

[2016-12-13 19:27] lolodomo commented on #2649
Here is my proposal:
* Bridges:
  * weather:geoLocation:locationId with config parameters: latitude, longitude
  * weather:yahooLocation:locationId with config parameter: woeid
* Things:
  * weather:yahooData:locationId:id with config parameter: updateInterval
  * weather:hamData:locationId:id with config parameters: clientId, clientSecret, updateInterval
  * weather:providerData:locationId:id wit

[2016-12-14 05:35] watou commented on #2649
I think each weather provider should have its own Bridge Thing handler implementation, hiding all provider specific details there, but feed data to a common set of Things like Conditions, Forecast, etc.  The binding itself should have no configuration.  The YahooWeather binding was meant mainly as a code example, iirc.

[2016-12-14 07:26] #2596 closed

[2016-12-14 10:05] kaikreuzer opened #2651 "Allow menu text customization for extensions"
It would be nice if ESH solutions could be able (using a fragment like [this](https://github.com/openhab/openhab-core/tree/master/bundles/org.openhab.ui.paperui/patch/web)) to customize the label of the "extensions" menu entry (and the "Extensions" page itself). See https://github.com/openhab/openhab-distro/issues/352.

[2016-12-14 10:37] #2637 closed

[2016-12-14 12:03] kaikreuzer opened #2653 "Extensions should be able to optionally provide a link to online documentation"
Extensions currently only have a label that do not necessarily provide much information to the user.
Instead of adding icons, descriptions etc. (which might be useful in future as well), I would like to see the possibility to optionally provide a link to online documentation.

The Paper UI should then open a browser tab with that link, if the user clicks the extension text (which currently does no

[2016-12-14 12:27] #2521 closed

[2016-12-14 12:53] #2477 closed

[2016-12-14 13:21] kaikreuzer commented on #2649
👍 . This would imho be the correct approach, following the ESH design idea.

Not even that - only the channels should have the same tagging - imho the clean way is to define a weather-related tag library in the context of https://github.com/eclipse/smarthome/issues/1093.

[2016-12-14 13:23] #1977 closed

[2016-12-14 13:59] m-memova opened #2655 "Tests for org.eclipse.smarthome.core.voice"
I would like to implements some tests for the org.eclipse.smarthome.core.voice bundle (mainly for the VoiceManager) and I was wondering if someone is planning some significant changes there.
In addition, while I was examining the code I could not find out how the KSEvent-s and STTEvent-s occur.
There are methods which handle them (in the DialogProcessor class) but how are they fired?
Any help is a

[2016-12-14 15:24] lolodomo commented on #2649
Ok to have a bridge thing for each provider. The bridge thing will be in fact a mix of provider and location. We will provide no channels on the bridge things but the bridge thing will retrieve data from provider and dispatch the result to the things.

Then I think it is a good idea to have one weather thing for the current weather data, another one (same think type) for the 1 day forecast, anothe

[2016-12-14 18:09] MHerbst commented on #2653
I already had a similar idea but you were faster with the issue :-). I thought about adding an additional  image with a question mark. On clicking the icon it would then show the help text.

I think it should be possible to create the documentation for each binding e.g. from the existing README.md files.
Maybe it is possible to render the markdown files to HTML files during the maven build and eit

[2016-12-14 18:13] MHerbst commented on #2589
It seems so, but I not absolutely sure yet. Maybe it is combination of Paper/Basic UI and server side. In my test I create an own REST request.
I have planned to perform more tests and log the REST request that were executed by Basic and Paper UI with different combinations of language and locale.

[2016-12-15 07:00] lolodomo commented on #2649
Is Eclipse SmartHome the right place for this binding or should I consider an openHAB 2 binding ?
Can I take source files from OH 1.x binding and just rename the package/includes and the licence header to be compliant with Eclipse SmartHome ?

[2016-12-16 10:31] #2651 closed

[2016-12-16 14:59] #2560 closed

[2016-12-16 15:20] ThomDietrich commented on #2434
Was just remembered of this issue. Is anything holding this back? In case you are waiting for PR from me, I would prefer for one of you to handle that.

[2016-12-16 15:24] kaikreuzer commented on #2434
You mean like https://github.com/eclipse/smarthome/pull/2659?

[2016-12-16 15:26] ThomDietrich commented on #2434
:sweat_smile: Thanks.

[2016-12-16 15:26] #2434 closed

[2016-12-16 16:16] kaikreuzer commented on #2653
@MHerbst:
- "Adding them to the OSGi bundle": We were also thinking about this option in the beginning, but we discarded it for the following reasons:
Adding them to the OSGi bundle could potentially heavily increase the size and as we target small systems, this might not be a good thing to do. We therefore do NOT include the README.md and the doc folder in the build.properties of a bundle.

- "lo

[2016-12-16 18:53] #2653 closed

[2016-12-16 21:37] MHerbst commented on #2589
@kaikreuzer I have executed some more tests and to me it looks like there is a either problem with the language string passed to methods implementing the REST API or the method that tries to parse the language is implemented too simple. In my test environment I used a fresh openHAB installation (Build 644), no explicit locale was set and language in preferences was set to "German" (same as the bro

[2016-12-16 22:38] wborn opened #2663 "[LIFX] Add support for MultiZone Light Control"
The new LIFX protocol adds [MultiZone Light Control](https://lan.developer.lifx.com/docs/multizone-light-control) functionality. This way you can change the color and color temperature per zone. The protocol allows for controlling at most 256 zones.

The [LIFX Z](http://www.lifx.com/products/lifx-z) is the first light to support this new functionality. Each strip has 8 zones consisting of 6 LEDs.

[2016-12-17 07:03] Marty56 commented on #2609
My uses case seem to work but I am only using a fraction of the available options

[2016-12-17 12:07] kgoderis opened #2666 "<item-type> Type not enforced on channels"
"State" channels Types must define an item-type. It seems that this type is not enforced or checked by the runtime

For example, when declaring in ESH-INF .xml:

[code]

and a Thing with a Channel like in a .things:

`  Thing generic someGenericActor {
        Channels:
            Type generic : ga_8_5_0 [ ...]
        }
`

and furthermore an Item in an .items like:

`Number SomeNumber { channel=

[2016-12-17 12:25] maggu2810 commented on #2666
@kgoderis In your beginning of your comment the `<item-type>` is not shown. You need to use `&lt;` and `&gt;` if you want to use the angle brackets in a GitHub comment (or use some other styling characters like "code" or "pre-formatted", ...).

[2016-12-17 12:27] kgoderis commented on #2666
@maggu2810 tx, missed one. Nevertheless, any thoughts on the issue itself?

[2016-12-17 13:50] lolodomo commented on #2410
@Marty56 : I tried to implement this feature for you but I need you for testing. Please download and deploy the followed jar (first uninstall the Sonos feature): http://lg.hc.free.fr/openHAB/org.eclipse.smarthome.binding.sonos-0.9.0-SNAPSHOT.jar
What needs to be tested:
* channel linein should be set to ON for your Playbar thing (meaning that there is something connected to the optical line-in of

[2016-12-17 15:48] maggu2810 commented on #2666
Please correct me if I am wrong:
If we consider a thing as a internal representation of the outside world the channels and what a channel looks like is more or less fix.
For non fixed stuff we already support dynamic channels.

Different item types support the same command and state types, so it is possible to use another item if the state / commands fit to the resp. channel. So a runtime check is

[2016-12-17 16:24] Marty56 commented on #2410
Great!
Not sure whether I can follow you correctly
1. I have deinstalled the old sonos binding then

2. I have added the jar. file into the addons directory
Hopefully it has installed it correctly how can I check it.

3. getting tons of error message. Log attached
[Archiv.zip](https://github.com/eclipse/smarthome/files/658920/Archiv.zip)

[2016-12-17 16:27] Marty56 commented on #2410
also I do not really understand your third point.

[2016-12-17 16:31] lolodomo commented on #2410
I see nothing relative to Sonos in your logs !
Please log to the console and run these commands:
[code]

[2016-12-17 16:32] lolodomo commented on #2410
My first point is the use of the channel in order to ask the playback of the line-in.
Give me already a feedback for the other points.

[2016-12-17 16:44] Marty56 commented on #2410
I have to leave now and have to postpone further analysis until tomorrow.

[2016-12-17 16:59] lolodomo commented on #2410
No problem, I will wait for the result of your commands.
Don't forget to suppress sonos from your line "binding=" in your addons.cfg file in case these line is uncommented in your config.
Please enable DEBUG logs for the binding and restart OH:
[code]

[2016-12-17 18:08] #2404 closed

[2016-12-18 05:12] Marty56 commented on #2410
I have created a new OH2 instance on another computer, have added your binding in the addons folder, additional I have added a things, items and a small rule file.
The installation creates an error. See logs.
[Archiv.zip](https://github.com/eclipse/smarthome/files/659262/Archiv.zip)

[2016-12-18 05:16] Marty56 commented on #2410
also

feature:list | grep onos

esh-binding-sonos                         | 0.9.0.SNAPSHOT   |          | Uninstalled | openhab-aggregate-xml   |
openhab-binding-sonos                     | 0.9.0.SNAPSHOT   |          | Uninstalled | openhab-aggregate-xml   | Sonos Binding

[2016-12-18 08:15] lolodomo commented on #2410
@Marty56 : are you confortable with new jar deployment in OH 2 ?
What version of OH 2 are you running ?
Please run the following console commands:
bundle:list -s | grep oogle
bundle:list | grep onos
bundle:list | grep UPnP
I am using this jar in my production environment with no such problem.

Anyone else to give it a try ?

[2016-12-18 08:36] lolodomo commented on #2410
@Marty56 : First install OH 2 without the jar. When OH 2 is running well, stop it. Put my jar in addons subdirectory and restart OH.

[2016-12-18 09:39] Marty56 commented on #2410
Did exactly this using standard package. Restarted same result. see log.
[Archiv.zip](https://github.com/eclipse/smarthome/files/659339/Archiv.zip)

[2016-12-18 09:47] lolodomo commented on #2410
Please run the requested commands. Here is what you should get:
[code]

[2016-12-18 09:58] Marty56 commented on #2410
openhab> bundle:list -s | grep oogle
 12 | Active    |  80 | 2.3.1                 | com.google.gson
 13 | Active    |  80 | 18.0.0                | com.google.guava
 14 | Active    |  80 | 3.0.0.v201312141243   | com.google.inject
openhab> bundle:list | grep onos
179 | Installed |  80 | 0.9.0.201612171240    | Sonos Binding
openhab> bundle:list | grep UPnP
160 | Active    |  80 | 2.2.0

[2016-12-18 10:11] lolodomo opened #2667 "Sonos binding: power off / power on"
I am testing the correct handling of the binding when powering off and powering on a Sonos device.

@kgoderis : I would like to understand what is the reason to call onUpdate() in thingDiscovered ? It is already called when the thing is initialized; this call will in fact do nothing as the job is already started.
https://github.com/eclipse/smarthome/blob/master/extensions/binding/org.eclipse.smart

[2016-12-18 10:16] maggu2810 commented on #2410
@lolodomo I own some Sonos devices and also a Playbar, too.
If you give me the URL to your branch and the steps I should test with the Playbar, I can do it as well.

[2016-12-18 10:16] lolodomo commented on #2410
com.google.guava is active so I don't understand your resolv error.

[2016-12-18 10:17] lolodomo commented on #2410
@maggu2810 : excellent, I will push my branch.

[2016-12-18 10:24] lolodomo commented on #2410
The changes are now available in my branch "sonos" in https://github.com/lolodomo/smarthome.git

[2016-12-18 11:26] maggu2810 commented on #2410
Need to check again later, but ATM I don't see that channel (I used the PaperUI and also looked at the advanced channels).

[2016-12-18 15:22] maggu2810 commented on #2410
@lolodomo Do we need to add
[code]
to the Playbar thing-type XML?

[2016-12-18 15:27] lolodomo commented on #2410
I forgot to check channels available for the playbar thing type. I will do.

[2016-12-18 15:32] lolodomo commented on #2410
Ok "linein" and "playlinein" channels have to be added to the playbar think type. I will update my code.

[2016-12-18 15:45] maggu2810 commented on #2410
Are the states only updated on changes?
* My Playbar currently plays something that is connected by the optical in.
* I added the Playbar using the PaperUI.
* I waited some minutes to give them a change to update their states.

[code]

[2016-12-18 15:58] lolodomo commented on #2410
Playlinein channel is only a command so it is normal that its state is not updated.

I was expecting linein channel to be updated through a notification (new service subscribed). Can you emable DEBUG logs for the binding and restart, I eould like to check if subscription to the service HTComtrol is succeeded.

[2016-12-18 16:29] maggu2810 commented on #2410
@lolodomo After a restart of the Eclipse SmartHome runtime I received the updates.

[code]

Will try again with a clean environment and add the Playbar again, I assume it should work without a restart of the runtime.

[2016-12-18 16:34] lolodomo commented on #2410
Cool, at least the first test case is OK, meaning the binding detects now a connected line-in.

[2016-12-18 16:37] maggu2810 commented on #2410
It does not work without a restart.
The following log starts with adding the discovered Playbar.
After adding the thing, the two line-in channels has been added and two polls has been done.

[code]

[2016-12-18 16:48] lolodomo commented on #2410
How did you add the 2 missing channels ?
They have to be added in the PLAYBAR.xml file.
You probably received the notif before the channels were added.

[2016-12-18 16:51] maggu2810 commented on #2410
Sure, without adding them to the thing-type XML it would not work in the previous case, too.

I added them to the thing-type XML and added the thing using the PaperUI.
The simple mode has been activated, so a item and an item channel link has been created for every non-advanced channel.
I used the PaperUI + simple mode to create the item and the item channel link for the two advanced line-in chann

[2016-12-18 17:11] lolodomo commented on #2410
I updated my branch with an updated PLAYBAR.xml.

@maggu2810 : why these 2 items in particular are added (and linked to the channel) 11 seconds after all others ?
Maybe you just discovered a major issue but this issue has no direct link with my enhancement.

[2016-12-18 17:14] maggu2810 commented on #2410
As written above, the channel-type `linein` and the channel-type `playlinein` are advanced channels.
See the `channels.xml` file:
[code]

So this channels are ignored in simple mode and has been added manually.

11 seonds... Yes, I need this time to open the channel list of the thing in the PaperUI and link them.

[2016-12-18 17:21] lolodomo commented on #2410
Note that the Sonos binding is not yet able to update channels immediately after a new item is linked. The REFRESH command is even not handled in handleCommand().
So your channels have to be linked when the thing is initializing and the binding receives all information from subscribed services. If linking is done later, the items will be updated when the Sonos is notifying a change.
In our use cas

[2016-12-18 17:29] lolodomo commented on #2410
@maggu2810 : you have clearly identified a new problem with this binding: the channels are not immediately updated when a new item is linked to a channel.
The "linein" channel would for example require to subscribe again to HTControl when the item is linked or would require to store internally the connection status of the line-in.
Can you create a separate issue asking for a correct handling of ne

[2016-12-18 17:35] lolodomo commented on #2410
In fact, teh current  connection status of the line-in is already stored and what we have to implement is the handling of the REFRESH command.

[2016-12-18 18:34] dschulte opened #2668 "Multiple time cron expressions in rule not working"
As requested ( https://github.com/openhab/openhab-distro/issues/355 ) I'm opening a new issue.

Works (fires every five seconds):
[code]

Doesn't work as expected (second cron doesn't fire):
[code]

I'm using the current apt version of openhab:
[code]

[2016-12-18 19:28] lolodomo opened #2669 "Sonos binding: no value set immediately when linking an item to a channel"
The Sonos binding is not yet handling REFRESH command.
When the user links an item to a channel, the item value is not set until there is an event from the Sonos device providing a new value.

[2016-12-18 19:29] lolodomo commented on #2410
I created the issue #2669

[2016-12-18 20:22] maggu2810 commented on #2410
Thanks @lolodomo, I will test your other points tomorrow...

[2016-12-18 22:04] MHerbst opened #2672 "Contact item displayed wrong in Paper UI depending on the label"
I have created two items (with the Homematic add-on) of the same type. For both things I have created an item (type: Contact, category: Contact). Although both items are configured identically they appear different on the "Control" page in Paper UI:
![image](https://cloud.githubusercontent.com/assets/616792/21296819/93945e2a-c574-11e6-9f54-32c50558a5f1.png)
Also the state of the righ contact does

[2016-12-18 22:13] lolodomo commented on #2410
Please note that there is no "content" in the channel names. I corrected my initial message.

[2016-12-18 22:23] MHerbst opened #2673 "Paper UI: Message "ERROR 404 - Not found" when trying to delete an item"
Tested with Build 650.

I have selecte a thing's channed and created and linked a new item. Then I tried to delete this item. But I got message "ERROR 404". Then I unlinked the item from the channel and tried again to delete the item in Paper UI. But the same message appeared. There was no message on the console.

In another attempt I tried to delete the item directly via the REST API:
[code]

[2016-12-19 07:30] kgoderis commented on #2667
@lolodomo First of all it has been a *long* time ago that I have written the Sonos code at the time, so my answers might not be 100% ok here.

Yes, but if it can be done in a better way, then we should do that

As far as a I remember there is a time-out mechanism at the UPNP level with very long time-outs. I *think* this is the reason we have these side-effects, and why devices are reported regist

[2016-12-19 07:35] kgoderis commented on #2663
ok, I have catch up with this during the xmas break then. In the short term I have no clue what this is all about, but cfr the question on the channels, do the LIFX lights report how many zones they operate? if so, and if reported, you could use dynamically created channels to support each color/temp combo.  I presume that the number of zones on a light is not something which is user settable? e.g

[2016-12-19 11:47] marcelrv commented on #1617
while I was trying to add album art to the onkyo binding I bumped into this tread.
In case of Onkyo I also get from the receiver an url to the image.

Is now the recommendation to somehow proxy the image, or can the binding simply pass the url and the client is retrieving the image? In the latter is the binding expected to use a ImageItem or StringItem in that case?

[2016-12-19 12:54] lolodomo commented on #1617
@marcelrv : @kaikreuzer does not like the URL in string item and would like an ImageItem (even if ImageItem is not yet supported by any UI except Paper UI !). If you want to be the first to implement that in the Onkyo binding, that would be excellent and we will then copy in the Sonos binding.

[2016-12-19 13:23] lolodomo commented on #2667
I discovered that we can call addStatusListener (from the transport UPnP bundle) to create a scheduled job that will run a certain UPnP action and trigger onStatusChanged when the UPnP device becomes accessible or inaccessible. It could have been used in the Sonos binding. The Sonos binding rather implements its own scheduled job, the reason is probably that this job is doing more things (few UPnP

[2016-12-19 13:25] lolodomo commented on #2669
I think I know how to fix that and that is not very difficult. I will propose a fix.

[2016-12-19 13:26] kaikreuzer commented on #1617
I hope it is not just me, but that others agree that this approach makes sense :-)

[2016-12-19 13:29] lolodomo commented on #2410
An additional check would be to check the value of the channel currenttransporturi when the line-in is playing: it should be x-sonos-htastream:RINCON_XXXXXXXXXXXX01400:spdif.

[2016-12-19 13:35] lolodomo commented on #1617
The approach makes sense but as this item type is not yet handled by UI, it will probably discourage developers to implement it.
By the way, as soon as I have a little time, I will prepare the Sonos binding for it by storing the URL in a variable.

What I would appreciate is that we could use a String item (with URL) at least until the ImageItem is supported by Basic UI, HADdroid and the UI for iP

[2016-12-19 13:55] watou commented on #1617
My concerns are that there is no support for streaming potentially large RawType states (unless I've missed it), there is no indication of MIME type, the binding will update the ImageItem's state even when no clients are interested in it, and it puts the binding in the job of taking an HTTP resource, re-marshalling it over a proprietary protocol and delivering it to a client that could have handle

[2016-12-19 13:56] kaikreuzer commented on #2639
I just tried option 2 the way it is suggested [here](http://stackoverflow.com/a/6995374) - unfortunately, the black-squared questionmark is then only replaced by a normal questionmark, but not by the correct character.
I tried to chase this down in the debugger, but I am left very puzzled. It seems that the Java PropertyResourceBundle already reads it wrongly; the chars are not correctly returned

[2016-12-19 14:01] lolodomo commented on #1617
You're right, it would add load to the server even when no UI is requiring the image.

PS: at least, we could disable the transfer of data when no item is linked to the channel.

[2016-12-19 14:01] kaikreuzer commented on #574
This has meanwhile be implemented.

[2016-12-19 14:01] #574 closed

[2016-12-19 14:04] kaikreuzer commented on #572
At least I cannot reproduce this, so I assume it is fixed.

[2016-12-19 14:04] #572 closed

[2016-12-19 14:09] kaikreuzer commented on #590
This has been fixed a long time ago.

[2016-12-19 14:09] #590 closed

[2016-12-19 14:10] #2582 closed

[2016-12-19 14:12] kaikreuzer commented on #2672
This is very likely a duplicate of or at least related to https://github.com/eclipse/smarthome/issues/1550

[2016-12-19 15:13] kgoderis commented on #2666
@maggu2810 Not sure I follow you here on the dynamic channel bit.

Ok, so, if we the item-type has to be defined for good reasons like the UIs, then the current behaviour 0  whereby an Item of any kind can be pushed on the Channel without the type being checked - is a bug, no?

@kaikreuzer your thoughts?

[2016-12-19 15:15] maggu2810 commented on #2410
linein does not seems to be changed while running (but set on first time)

[code]

Now I changed from line-in to a amazon prime stream.

[code]

Now I changed from a amazon prime stream to line-in.

[code]

[2016-12-19 15:28] lolodomo commented on #2410
That's normal, linein channel is not expected to be updated when you change source of playback. It is just expected to show whether the line-in is connected or not. I assume (to be checked) that it should be updated when you disconnect or reconnect your line-in. To be honest, I have not checked the same thing for the analog line-in of a Play:5 for example but I should. This channel is not set to O

[2016-12-19 15:33] maggu2810 commented on #2410
Ah okay, sorry. Didn't know the meaning of all that channels. 😉
So, is there still something that should be tested?

I tried to play the doorbell.mp3 using the command line, but it does not succeed.
Do I need to enable some missing stuff in the Eclipse SmartHome launch configuration?

[2016-12-19 15:34] maggu2810 commented on #2669
👍

[2016-12-19 15:48] maggu2810 commented on #1617
Me, too. But @watou has a good point. Also if no one is interested in the image it will always be downloaded by the bindings etc. I don't know if this will lead to heavy load but it is something that should be considered.

I don't know much about the current ESH proxy servlet, but I played around the Jetty Proxy Servlet for some other stuff and I think it could be used to provide dynamic proxied s

[2016-12-19 16:17] lolodomo commented on #2410
To play a sound from the console, you need to define your Sonos as the default audio sink. I do it with Paper UI.

[2016-12-19 16:25] maggu2810 commented on #2410
Really? As i tested the Chromecast binding it has been enough to add the correct sink on the command line itself.

[2016-12-19 16:57] kaikreuzer commented on #2655
Hi @m-memova! No, there are no substantial changes planned.

The KSEvent-s and STTEvent-s are fired by implementations of KSService and STTService (they take KSListeners resp. STTListeners as an argument, DialogProcessor implements those two interfaces).

Unfortunately, there is no implementation of KSService nor STTService within ESH yet - so you won't find any code where this is used. It probabl

[2016-12-19 16:57] lolodomo commented on #2410
Yes, you are probably right, I probably do a mismatch with the say command.
Does the play command work when your playbar is not playing the line-in ? If it does not work, that means you have something not well setup because it is something that works for me (even without the current changes). If it does not work only when the line-in is playing, that means that I missed something and my changes ar

[2016-12-19 17:14] MHerbst commented on #2639
As far as I could see the Java PropertyResourceBundle returns a string encodes with ISO 8859-1 and this string must then be converted to UTF-8. In a separate test program it tried it this way (it is not exactly the same as in the Stackflow example but very similar:
[code]
It seems to work (but I am not absolutely sure why ...) but before adding it to the Smarthome code I wanted to make sure that t

[2016-12-19 17:51] kubawolanin opened #2680 "Paper UI: Search box for Things and Items view"
Add-ons/Extensions views currently have a great feature that allows you to search through all visible items and filter out only those matching your search phrase.
It would be a great addition to the usability if similar feature was implemented in Things and Items menu.

![search-things](https://cloud.githubusercontent.com/assets/2270505/21323050/2ab39332-c61c-11e6-994a-87d6942033d7.PNG)

[2016-12-19 17:58] kaikreuzer commented on #2680
Yes, definitely needed when you buy more and more Things ;-)
I also already asked @aounhaider1 to add this to the Things menu (and Items as well in the context of https://github.com/eclipse/smarthome/issues/2614).

[2016-12-19 18:03] wborn commented on #2663
With the LIFX Z the number of zones is fixed depending on how many strips you have chained. After you add/remove a LED strip you press a button on the controller to do a zone count. The whole process is shown in this [support video](https://player.vimeo.com/video/195544854).

In the LIFX App zones function a bit like a group of lights. When you apply a theme to a LED strip, it colors each LED stri

[2016-12-20 07:40] m-memova commented on #2655
Thank you, @kaikreuzer! I assumed it's something like that but I wanted to be sure. Meanwhile, while I was playing with the Paper UI and the console, I noticed something else: when I tried the command "say %itemName%", I got an error message on the console (for bad expression). But according to the code that should return the item's state. Could you please take a look? Am I doing something wrong o

[2016-12-20 08:10] marcelrv commented on #1617
I'm missing the point wrt to the security. If the binding would provide an **not** proxied url, what is the security concern? The worse thing that could happen is that it points to a location on a local network, which is unreachable from the internet location. It would also ensure the user has access & proper mime-types, no unnessesary burden on restrained seervers etc.

If there is from the bindi

[2016-12-20 08:32] kaikreuzer commented on #2666
Well, not sure if it has to be called a bug. It is not a strict check here - ok, it could be prevented that state updates are sent that do not make any sense for the item type. But note though, that this was possible in OH1 as well - a binding was always able to send updates as an event that didn't make sense.

If we really see that we need such channel types, maybe we can have these defined as sy

[2016-12-20 08:35] #2602 closed

[2016-12-20 08:55] kaikreuzer commented on #2663
You are thinking about channel groups as we would need color and color temperature channels, right?
If we'd assume that color temperature does not make much sense, we could go for dynamic advanced color channels for each zone. I don't mind the huge number of channels - after all, such a light strip has so many individual parts to control, so the complexity is in the device, not in our code.

I don

[2016-12-20 09:52] kaikreuzer commented on #2649
I do not know the details of the OH1 weather binding, but as discussed above, I doubt that it at all fits into the architecture (if my understanding is right that it internally uses yet another abstraction to be able to plug in different providers). There should be dedicated bindings for the different providers instead (and if there is code in common, we can discuss the creation of a shared bundle

[2016-12-20 10:08] maggu2810 commented on #2410
@lolodomo It seems the smarthome audio play implementation of the Sonos binding needs further testing.
After adding all of my Sonos players, I used `smarthome audio play <sink> doorbell.mp3` to test it on different players.
I received exceptions all the time (stack trace shows that it was caused by the Sonos binding).
After that I restart the runtime (so, it could be related to the issue you alrea

[2016-12-20 10:26] maggu2810 commented on #1617
IMHO there are no security concerns if a string item provides an URL.
The security concerns has been if the proxy servlet is able to be used to proxy every URL and an user could use it to load whatever he wants.
I tried to address that topic above in my code example.
If we ever would use the proxy servlet to provide a proxied URL we need to filter the requests.

But as already written by @kaikreuz

[2016-12-20 10:33] #2673 closed

[2016-12-20 10:36] kaikreuzer commented on #2673
It is actually a different item that gets added, it only has the same name. This is actually a feature - for any existing link that points to an item that does not exist, a "virtual" item is automatically created; so indeed, you will first have to remove the link and then the item.

[2016-12-20 10:42] maggu2810 commented on #2649
I agree that it would be "better" to create different bindings for different weather data providers and if there is code to share, we can create a bundle that contains all that shared code.

[2016-12-20 11:07] #2604 closed

[2016-12-20 12:29] kaikreuzer commented on #2655
I've not tested that, but it would be nice to see it working.
@lolodomo Have you ever tried that?
@m-memova Feel free to open an issue if it isn't working as expected, thanks!

[2016-12-20 12:32] lolodomo commented on #2410
I am using the say feature daily and it is working well with my Play:5 and my Connect:amp.
I will test again the play console command later today but I think it is working with my 2 Sonos.
But if you can provie a strack trace with an error, of course we will study the problem and fix it.

[2016-12-20 12:36] lolodomo commented on #2655
No, I have never tried that, I even did not know it was an available feature. But I can try later to day and confirm if that fails for me too.

[2016-12-20 12:42] lolodomo commented on #2655
@m-memova : you're right, I see the corresponding code. Do you get an error in the console ?
What happens with this command: smarthome:voice say The state is %itemName%
Do you get at least the first part of the message ?

[2016-12-20 13:01] lolodomo commented on #2649
It will be a pity to not re-use the good work done with the 1.x weather binding.
There is not really an abstraction but the data parser for each provider is storing the retrieved data in a Java structure common to all providers. That is a good idea and looks like a good implementation. And thiese parsers are working well I suppose.

If we create a binding for each provider, we will have a lot of d

[2016-12-20 13:16] lolodomo commented on #2655
I am not sure but I think this line is not correct: https://github.com/eclipse/smarthome/blob/master/bundles/core/org.eclipse.smarthome.core.voice/src/main/java/org/eclipse/smarthome/core/voice/internal/VoiceConsoleCommandExtension.java#L105
I think it should be:
'''
String itemName = word.substring(2, word.length());
'''
rather than:
'''
String itemName = word.substring(1, word.length() - 1);
'''

[2016-12-20 13:39] m-memova commented on #2655
I think that line is correct. The substring begins with the character at the specified index and extends to the end of this string or up to endIndex – 1, if the second argument is given. So if String word = "%itemName%", word.substring(1, word.length() - 1) returns "itemName".