[2016-07-04 18:12] MHerbst commented on #1760
@mathieubrochard I have just installed it in my Neon environment. After the Eclipse workbench finished its automatic work I executed Help/Perform Setup Tasks to execute the necessary model generaton. Then most projects were OK.
There seems to be a little problem with the delivered launch configuration. When I tried to start the openHAB runtime the first time it did not run because of a problem wit

[2016-07-04 18:19] maggu2810 commented on #1760
It seems to me that you are mixing openHAB and Eclipse SmartHome here.
Eclipse SmartHome does not contain an openHAB runtime.

The setup files for Eclipse SmartHome and the openHAB distro differs, too.
So, please report the openHAB stuff to the openHAB issue tracker and the Eclipse SmartHome one here. :wink:

Or do I miss-understand something?

[2016-07-04 18:24] MHerbst commented on #1760
Oh you are absolutely right. Should wear my reading glasses :-).  I wil remove the last paragraph.

[2016-07-04 19:48] maggu2810 commented on #1432
Will reopen it if the error occurs again.

[2016-07-04 19:48] #1432 closed

[2016-07-04 20:06] maggu2810 opened #1801 "Cannot create rules using Paper UI / configuration broken"
My intention was to test #1683 but it seems it is not possible for me to use the trigger to create rules using the Paper UI.

I added two triggers (two item state change triggers on the first try, two item state update triggers on the second try) to the rule and tried to save the rule.
I see an error on the console log.

I have used the Firefox to create that rules.

[code]

[code]

[code]

[2016-07-04 20:13] maggu2810 commented on #1801
That is the POST data of the PUT method:

[code]

That is the content of the GET method:

[code]

[2016-07-04 20:50] kaikreuzer commented on #1800
Yes, absolutely, there is even an [ImageItem](https://github.com/eclipse/smarthome/blob/master/bundles/core/org.eclipse.smarthome.core/src/main/java/org/eclipse/smarthome/core/library/items/ImageItem.java) type, although I just noticed that this isn't listed in the documentation.

The Paper UI already supports it and we should imho also add support in the Classic UI and the Basic UI.

[2016-07-04 23:27] marcelrv opened #1802 "paperUI does not show all config properties"
In the current OH nighties I'm getting empty parameters:
![image 5](https://cloud.githubusercontent.com/assets/5871213/16570821/3aa52000-424e-11e6-8422-1032cb305f01.png)

in the REST interface & in habmin2 these seem to be visible like earlier.

![image 6](https://cloud.githubusercontent.com/assets/5871213/16570841/bcd4a78a-424e-11e6-8c6c-ad7f2fdccf8c.png)

no errors in console outside of these (b

[2016-07-05 07:38] mathieubrochard commented on #1760
Hi all, thanks for your responses.
I just followed these steps [here](http://www.eclipse.org/smarthome/documentation/development/ide.html).
I don't understand why you are talking about openHAB, what is the relation with Smart Home?

Thanks.

[2016-07-05 07:47] maggu2810 commented on #1760
@mathieubrochard openHAB is an open source project that is based on the Eclipse SmartHome framework. It is not an Eclipse project but contains much more bindings. The Eclipse SmartHome is more a framework and not a product on itself, so the most people are using openHAB and the openHAB IDE instructions. But if you want to be independent of openHAB and develop / fix / improve stuff of the Framework

[2016-07-05 07:56] mathieubrochard commented on #1760
@maggu2810 Alright thanks for your explanations.
I will completely reinstall the Eclipse SH development environnement and will note all the suspicious messages.

[2016-07-05 08:01] maggu2810 opened #1803 "docu: IDE setup should use Neon"
The Eclipse SmartHome IDE setup (at least the Groovy Repo site) supports now the Eclipse Neon release.
Perhaps we could change the screenshot that still shows "Mars".

The screenshots has been created on a Mac, so perhaps it would be nice if someone using a Mac can create a new one.

<img src="https://raw.githubusercontent.com/eclipse/smarthome/master/docs/documentation/development/images/ide1.png

[2016-07-05 08:02] maggu2810 commented on #1760
Use "Neon" on step 3.
If step 8 and step 9 are done and there are still errors, please report it here.

[2016-07-05 08:15] #1803 closed

[2016-07-05 09:20] maggu2810 commented on #1801
This format is generated by the Paper UI

[code]

If I move the itemName from "configuration" to "configuration.properties"

[code]

it seems to be working.

[2016-07-05 09:23] maggu2810 commented on #1801
The Configuration object is used by different classes.
IIRC we never used a subelement "properties" for the configuration key value pairs.

Why do we need to use that for rules?

[2016-07-05 09:33] aounhaider1 commented on #1801
PaperUI is not setting the properties field. It is returned in the response when a rule is requested. I think something is broken on the server side. I also tried posting these triggers with itemName set. The post clearly shows that itemName is posted. But on the server side it is unable to find itemName.

[2016-07-05 09:39] maggu2810 commented on #1801
It seems to me, that we are using DTO objects for JSON (de)serialization.
This is not be done for the REST Rule API.

Here a map is used for the configuration and we translate between the map and the Configuration class object:
https://github.com/eclipse/smarthome/blob/master/bundles/core/org.eclipse.smarthome.core.thing/src/main/java/org/eclipse/smarthome/core/thing/dto/ThingDTO.java#L29

For the

[2016-07-05 09:44] kaikreuzer commented on #1745
I would expect the addServiceListener method to be clever enough to notice that it already has the same instance as a listener and thus does not add it a second time.

The [code in JmDNS](https://github.com/jmdns/jmdns/blob/master/src/main/java/javax/jmdns/impl/JmDNSImpl.java#L949) also seems to do so, although it looks fishy that it tests for the listener, but adds the status object... So this mi

[2016-07-05 09:47] aounhaider1 commented on #1802
Can you please provide the config-description of the thing? I am unable to reproduce this issue using normal things.

[2016-07-05 10:30] marcelrv commented on #1802
sure
https://github.com/openhab/openhab2-addons/blob/master/addons/binding/org.openhab.binding.max/ESH-INF/thing/thing-types.xml

[2016-07-05 11:24] kaikreuzer commented on #1801
@maggu2810 This sounds to me as if your merge of https://github.com/eclipse/smarthome/pull/1773 was a bit too optimistic...?

[2016-07-05 11:39] maggu2810 commented on #1801
There is a EnrichedRuleDTO, but no rule DTO is used on add new or change existing rules.

#1773 does not break the REST API itself, but perhaps it does not fix it.
The REST API does not use a DTO object but the Rule class.
This has not been changed by #1773. Using the Rule class for JSON (de)serialization causes the error IMHO.

But you are right, it was perhaps too optimistic to think that the ch

[2016-07-05 11:41] maggu2810 commented on #1801
The REST API does not use a DTO object but the Rule class.

See "Rule rule" argument here:
https://github.com/eclipse/smarthome/pull/1773/files#diff-204438a2e20a2f84ce7ddfb5194e2335L162

[2016-07-05 11:42] kaikreuzer commented on #1801
#1773 was supposed to fix https://github.com/eclipse/smarthome/issues/1724#issuecomment-229049208, but it obviously does not.

@danchom Could you please join in?

[2016-07-05 12:17] kaikreuzer opened #1806 "Swap label and thing type in Inbox of Paper UI"
Currently, the inbox shows the thing type label ("Hue Bridge") bold and the discovery result label small underneath:

<img width="254" alt="screen shot 2016-07-05 at 14 15 01" src="https://cloud.githubusercontent.com/assets/3244965/16584225/e26aaaa0-42ba-11e6-90be-b0c0ec91c5b5.png">

If you have many devices of the same type, the bold label is always identical, which isn't very helpful.

On the th

[2016-07-05 12:19] kaikreuzer opened #1807 "Hide "show/hide ignored" button, if there are no ignored entries"
The inbox always shows the "show/hide ignored" button. I would assume that it is easy to suppress this button in the case that there are no ignored entries in the inbox. If this assumption is right, I would suggest to implement it that way.

[2016-07-05 12:26] kaikreuzer opened #1808 "Remove toggle on Dimmer widget in Paper UI"
For "Dimmer" items, the Paper UI currently renders a slider AND a toggle. As Dimmer is used for color temperature, audio volume, etc. the toggle often does not make sense.
Since the Color widget also only renders sliders, I would suggest to remove the toggle from the dimmer as well.

[2016-07-05 13:08] #1802 closed

[2016-07-05 14:21] mathieubrochard commented on #1760
So, here some news:

* I deleted the smarthome folder (created by the Eclipse Installer by Oomph).
* I deleted the .p2 folder (in my home directory)
* I reinstalled all the stuff according to the Eclipse Smart Home documentation
* After Eclipse launched, I did Help -> Perfom setup task
* I did Project -> Clean

It's working now 👍
Did on macOS El Captain and Eclipse Neon.

[2016-07-05 14:21] #1760 closed

[2016-07-05 15:16] maggu2810 commented on #1760
Good news. Happy coding :wink:

[2016-07-05 15:40] #1807 closed

[2016-07-05 15:40] #1806 closed

[2016-07-05 19:55] #870 closed

[2016-07-06 05:18] s-simma opened #1818 "Basic UI improvement"
icons like: light, door, contact etc. have an icon for open and closed state.
In my opinion it would be very helpfull to have an additional icon for "UNDEF".
(could be a small red x in the icon)
This would allow the user to immediately see, if a device is out of order (if a binding supports this)
What do you think about this ?

[2016-07-06 07:05] kaikreuzer commented on #1796
Interesting, looks like a new bug indeed.

Btw, PR #1419 introduced a [dependency from config.xml to core.thing](https://github.com/eclipse/smarthome/pull/1419/files#diff-188c79a5e1a6db4e2aa51877fb8bf2a7R25), which needs to be removed - maybe this can be done as well while fixing this bug.

[2016-07-06 07:10] danchom commented on #1801
I'll check this

[2016-07-06 07:51] maggu2810 commented on #1801
@danchom Have a look at #1816, I already implemented "something"

[2016-07-06 11:21] kaikreuzer opened #1820 "Circular dependency in services"
Unfortunately, #1810 has now introduced a circular dependency of services:

ScriptRuntime->ScriptServiceUtil->ScriptEngine->ScriptRuntime

This results in these warnings:
[code]

[2016-07-06 11:40] maggu2810 commented on #1820
If the script service util collects all the stuff, why can't we move the "activation" logic to that activate method and drop the ScriptRuntime implementation at all?

I cannot test if it is working at the moment, but will do this later:
https://github.com/eclipse/smarthome/compare/master...maggu2810:issue1820?expand=1

[2016-07-06 11:40] maggu2810 commented on #1820
If the script service util collects all the stuff, why can't we move the "activation" logic to that activate method and drop the ScriptRuntime implementation at all?

I cannot test if it is working at the moment, but will do this later.
Can you perhaps have a look at the concept here:
https://github.com/eclipse/smarthome/compare/master...maggu2810:issue1820?expand=1

[2016-07-06 11:42] maggu2810 commented on #1820
What is necessary to do to reproduce the error you run into?

[2016-07-06 11:42] kaikreuzer commented on #1820
Dropping the runtime still means a circular dep between scriptserviceutil and scriptengine.
I am just doing a refactoring to remove the dep from ssu to se and use a servicetracker for this instead.

[2016-07-06 11:43] kaikreuzer commented on #1820
I saw this using the latest OH2 distro with the demo packaging. I have no clue why it didn't occur during my tests yesterday, though...

[2016-07-06 11:49] kaikreuzer commented on #1820
No, you are right, it might resolve it - if it is really ok to start the scriptengine independently from any services that the util requires. I am not sure about that...

[2016-07-06 11:55] kaikreuzer commented on #1820
Ok, so this is the PR following your suggestion: https://github.com/eclipse/smarthome/pull/1821

[2016-07-06 12:07] kaikreuzer commented on #1820
But [this line](https://github.com/eclipse/smarthome/pull/1821/files#diff-d784eb9651be376086f3c3a52d8e6540L28) let's me doubt that we can do that without introducing a dependency from scriptEngine to util...

[2016-07-06 12:57] kaikreuzer commented on #1820
Analyzing it further, I indeed think that it is not valid - [this is my explanation](https://github.com/eclipse/smarthome/pull/1821/files#diff-b26cccad75e46537e712f8f529704627R16) for it.
I have updated the PR to now use a service tracker in order to resolve the circular dependency.

[2016-07-06 13:21] #1820 closed

[2016-07-07 07:13] kaikreuzer opened #1823 "ModelRepository startup issue"
Unfortunately https://github.com/eclipse/smarthome/pull/1821 didn't yet fully solve the issue.
On the latest builds, I get this exception at startup time:

[code]

[2016-07-07 08:18] #1083 closed

[2016-07-07 08:36] kaikreuzer commented on #1823
Why do you think it has to do with the doSetup?

I cannot really understand the exception yet. It occurs when the RuleEngineImpl is activated. As RuleEngine depends on ScriptEngine and ScriptEngine depends on ScriptServiceUtil, I would have assumed that SSU.activate() has already been executed at that point. Do you have an explanation, why this isn't the case?

[2016-07-07 08:38] kaikreuzer commented on #1823
Nonetheless, the exception also shows that ModelRepository has a (yet undeclared) dependency on SSU - but if we declare this dependency, we will end up with another cycle...

Well, it is not working yet, so we have to touch the implementation :-/
And even by moving to the new rule engine, we will still need most of the services as they are needed for the Xtext processing, so I doubt that we will w

[2016-07-07 08:42] kaikreuzer commented on #1823
FTR, I am also getting exceptions like this, where I have no clue what they mean:
[code]

[2016-07-07 08:47] maggu2810 commented on #1823
You know that it is a dynamic one?

[2016-07-07 08:50] kaikreuzer commented on #1823
1..1 - doesn't that also mean that it has to be set before activate is called, even in the dynamic case?

[2016-07-07 08:56] kaikreuzer commented on #1823
Ok, so this is indeed a wrong order:
[code]

RuleEngine is started before ScriptEngine - so you think changing dynamic to static would solve this?

[2016-07-07 08:59] maggu2810 commented on #1823
I have read the section in the compendium spec. I would assume that it should be set before the activate method is called. But the spec starts with "The dynamic policy is slightly more complex", so perhaps I need some more rounds of reading. :wink:

[2016-07-07 09:04] kaikreuzer commented on #1823
Yeah, the spec isn't really clear - but I understand it the way that dynamic only means that you might get another service being set when you are already activated. Well, but in any case, switching to static won't hurt...

[2016-07-07 15:49] maggu2810 commented on #1700
For me it has been the combination of the (unused but active) Z-Wave binding in the runtime and the circumstance that the Paper UI loads all thing types "/rest/thing-types".
The response content length is 1,579,263 Bytes

[2016-07-08 06:17] #1801 closed

[2016-07-08 06:59] kaikreuzer commented on #1818
This question is not about the Basic UI, but about the [classic icon set](https://www.eclipse.org/smarthome/documentation/features/ui/iconset/classic/readme.html).
This already provides fallback icons (also used for UNDEF state). If you feel that some icon should be changed there, please make a concrete suggestion.

To generally mark them with a red x imho does not make sense, because there is no

[2016-07-08 06:59] #1818 closed

[2016-07-08 08:48] danchom opened #1830 "Wrong method name in RuleTempalte"
The method RuleTempate.getConfigurationDescription(), which returns a list of ConfigurationDescription objects, should be renamed to RuleTempate.getConfigurationDescriptions() as in the  Rule.getConfigurationDescriptions().
On the other hand in the JSON API for ConfigurationDescription we are using configDecriptions field.
We can rename then into getConfigDescriptions() methods. What do you think?

[2016-07-08 09:04] maggu2810 commented on #1830
If we return a collection I assume it is okay (at least for me) to use the plural in the method name.
So, okay for me.

[2016-07-08 10:10] kaikreuzer opened #1831 "Discovery result toast links to wrong url"
When a discovery result is created in the background, the toast links to "inbox/setup" and hence ends up on the page that lists the bindings, while it should instead link to "inbox/search" in order to show the current inbox entries.

[2016-07-08 10:16] kaikreuzer opened #1832 "Thing detail page should show Thing label"
The label is currently not displayed on the detail page:

<img width="657" alt="screen shot 2016-07-08 at 12 13 57" src="https://cloud.githubusercontent.com/assets/3244965/16684476/865aac36-4505-11e6-8f3e-31fc1307d6db.png">

I would suggest that it should look similar to the thing list entry:

<img width="811" alt="screen shot 2016-07-08 at 12 15 00" src="https://cloud.githubusercontent.com/assets

[2016-07-08 11:38] aounhaider1 commented on #1832
Should I display something like "no label" or "unknown" when a thing does not have a label?

[2016-07-08 12:09] kaikreuzer commented on #1832
What do we show in the thing list? Probably nothing - so I would do it the same way here.

[2016-07-08 12:34] #1832 closed

[2016-07-08 12:45] davidgraeff opened #1836 "xml <thing-type/channels/channel>: Allow optional channels"
Hi,
I feel the need that a <thing-type> described in the ESH-INF directory of an addon should allow to define channels, which are optional (may be created dynamically or may be absent). At the moment you can do this:
[code]
and I propose to allow something like this:
[code]

This should have the effect, that the framework does not auto generate such a channel if a corresponding thing is created. T

[2016-07-08 12:50] kaikreuzer commented on #1836
Yes, for architectural discussions, the forum is the right place for now.

[2016-07-08 12:50] #1836 closed

[2016-07-08 13:06] #1808 closed

[2016-07-08 13:11] #1831 closed

[2016-07-08 20:00] #1830 closed

[2016-07-08 20:07] #1823 closed

[2016-07-09 06:01] s-simma commented on #1818
@kaikreuzer
so if i understand you correct this mean for e.g. the icon "light"
ON uses icon "light-on.svg"
OFF uses  "light-off.svc"
Fallback (e.g.UNDEF/NULL) uses "light.svg"
this would be perfect !

But the icon "light-on.svg" is the very same as "light.svg". Is it possible to overwrite "light.svg" with a user defined icon in folder ../conf/icon/basic?

otherwise i would suggest to put a (x) gre

[2016-07-09 07:09] kgoderis commented on #1800
@kaikreuzer We should/could add that to the Sonos binding as well

[2016-07-09 09:25] lolodomo commented on #1745
As I understood, serviceResolved is not always called, only if resolution is possible.So having the code in serviceAdded and in serviceResolved is I think the best solution.

Ok I will keep all existing calls to addServiceListener, hoping a fix in JmDNS library in the future. But until this fix, even after background discovery is disabled, one listener will still be registered ! So in serviceAdded

[2016-07-09 09:33] maggu2810 commented on #1745
Configuration property, see here:
https://github.com/eclipse/smarthome/blob/0d7a5c0/bundles/config/org.eclipse.smarthome.config.discovery/src/main/java/org/eclipse/smarthome/config/discovery/AbstractDiscoveryService.java#L342

[2016-07-09 09:47] lolodomo commented on #1745
And this configuration property can be changed dynamically while OH is running and the change is correctly handled (meaning the background discovery is stopped) ?

[2016-07-09 11:24] maggu2810 commented on #1745
It is not openHAB specific but "normal" OSGi service behaviour.

If the configuration is changed on runtime this method is called:
https://github.com/eclipse/smarthome/blob/0d7a5c0/bundles/config/org.eclipse.smarthome.config.discovery/src/main/java/org/eclipse/smarthome/config/discovery/AbstractDiscoveryService.java#L354

[2016-07-09 12:14] lolodomo commented on #1745
@maggu2810 : thanks for the explanations.

[2016-07-09 16:44] fivesails opened #1842 "BasicUI requires manual reload to reflect actual item status"
I set up openHAB on a VM with the following details:
OS: Debian GNU/Linux 8.5 (jessie)
Java: Oracle Java
java version "1.8.0_91"
Java(TM) SE Runtime Environment (build 1.8.0_91-b14)
Java HotSpot(TM) 64-Bit Server VM (build 25.91-b14, mixed mode)

openHAB: openhab-offline-2.0.0-SNAPSHOT from 2016-07-01

openHAB ist connected to KnX in tunnel mode.

Some items are defined for testing purposes:
`Swit

[2016-07-09 17:10] maggu2810 commented on #1842
Is this what you are looking for:
https://github.com/eclipse/smarthome/tree/master/extensions/ui

[2016-07-10 06:26] airix1 opened #1843 "persistence extension missing sumSince"
Seems this was added in a commit but was then reverted.

[https://github.com/eclipse/smarthome/pull/374/commits]

[2016-07-10 08:19] maggu2810 commented on #1843
Hm, there is no comment why the PR has been closed.
Perhabs @J-N-K, @teichsta or @kaikreuzer can give us some informations what has been wrong about.

[2016-07-10 09:27] kaikreuzer commented on #1842
Apart from https://github.com/eclipse/smarthome/issues/1166, status updates work well in the Basic UI, so if nothing happens, it must be due to your configuraiton.

[2016-07-10 09:27] #1842 closed

[2016-07-10 15:26] hazzeh opened #1845 "Group functions for rollershutters show wrong value"
There is a "bug" for the group functions (MAX/MIN/AVG..) for rollershutters I think.
Or is it by design?
When using group functions, for example MAX, the group value will be in decimal, not percent.
items:
Group:Rollershutter:MAX gBlinds "Blinds"

rest:
{
  "members": [
    {
      "link": "http://localhost:8080/rest/items/blind1",
      "state": "59",
      "type": "RollershutterItem",
      "nam

[2016-07-10 16:44] cdjackson commented on #1796
I'm wondering if this is in any way linked to the binding startup issues at the moment - maybe not of course, but given that this bug means that the binding startup order has changed, maybe it's linked?

[2016-07-10 17:33] kaikreuzer commented on #1796
Yes, definitely needs to be analyzed.

[2016-07-10 17:37] kaikreuzer commented on #1845
Looks indeed like a bug to me, happy to accept your fix as a PR!

[2016-07-10 18:21] mhilbush opened #1847 "Binding initialization stalls during startup (intermittently)"
There have been numerous reports of bindings "stalling" (for lack of a better word) at startup.  I have experienced the problem with the zwave and systeminfo bindings.  Others have reported similar behavior with knx, rfxcom, meteostick, and max.

I first noticed this behavior with the 6/19 build, and it continues through the most current build (#399). At the time I was installing builds on almost

[2016-07-10 18:52] fivesails commented on #1842
First of all, thank for your replies!

My configuration for the BasicUI is

        org.eclipse.smarthome.basicui:defaultSitemap=fasan
        org.eclipse.smarthome.basicui:iconType=svg
        org.eclipse.smarthome.basicui:enableIcons=true
        org.eclipse.smarthome.basicui:condensedLayout=true
        org.eclipse.smarthome.basicui:capitalizeValues=false

I don't see what of the above could le

[2016-07-10 19:02] kaikreuzer commented on #1847
All cases that you mention refer to the Z-Wave binding. Does the same problem occur with e.g. any of the ESH bindings or anything "simpler" than Z-Wave?

[2016-07-10 19:17] mhilbush commented on #1847
I experienced it with zwave and systeminfo.  I'm unable to provide specific details on systeminfo because systeminfo was not in debugging mode at the time.

In the forum topics cited above, others have commented that they've seen similar behavior with other bindings, including as knx, rfxcom, meteostick, max, and ntp.  I referenced those in this issue, but I don't have any specific log detail, suc

[2016-07-10 19:18] cdjackson commented on #1847
Yes - This is the same issue that I periodically have with the meteostick binding. There are also reports on the MAX binding and RFXCOM binding and Astro. I wouldn’t like to say if it’s all ‘exactly’ the same as there aren’t logs for all these instances.

I don’t believe this is anything to do with zwave - it started happening with no changes to the binding - of course, I could be wrong...

[2016-07-10 19:32] kaikreuzer commented on #1842
I just tested it with openhab-offline distro 401 and the demo packaging. Having two browser windows side by side, I switch something in the Classic UI and the toggle switches in the Basic UI, so all looks fine.
Is it maybe browser specific? I used Chrome for testing.

[2016-07-10 19:50] kaikreuzer commented on #1847
Does this only happen on Karaf or did anyone see this happening when being started from within the IDE?

[2016-07-10 19:52] cdjackson commented on #1847
I’ve personally never seen any of these issues in the IDE.

[2016-07-10 20:01] marcelrv commented on #1847
@kaikreuzer installed today complete clean fresh version.
Indeed stalling issue still occurs, at least with the MAX! binding.

Discovery services work fine, but seems like something goes haywire with the initialize method. I think it may be at the time the status update is done (as the thing goes never online)
I also see that once the issue occurs, the logout command in karaf goes very slow.

[cod

[2016-07-10 20:09] marcelrv commented on #1847
btw, I can also confirm that in the IDE this issue does not happen

[2016-07-10 20:10] cdjackson opened #1848 "IDE Tooling error"
I'm getting the following error when the IDE starts. It's causing some significant issues in the IDE (eg inability to set breakpoints!).

![image](https://cloud.githubusercontent.com/assets/1041475/16715783/a1942ddc-46e1-11e6-9ea5-fc9f53a1add2.png)

This started today when I ran all the various updates (ie resynced all repos and ran the setup tasks) and I've not managed to get rid of it. I've also

[2016-07-10 20:24] maggu2810 commented on #1845
Could this be related to #1514?

[2016-07-10 20:38] hazzeh commented on #1845
Yes, it seems to be the same problem. My PR makes the same change for RolleshutterItem as #1514 did for DimmerItem.

[2016-07-10 20:55] cdjackson commented on #1848
Another error during save - again - with a clean install.

![image](https://cloud.githubusercontent.com/assets/1041475/16716041/d6a213ac-46e8-11e6-9fd7-a18920ea9599.png)

[2016-07-10 21:04] kaikreuzer commented on #1848
Just to be clear: This is a completely clean install of the ESH IDE (not OH2) using the Eclipse Installer and Eclipse Neon as a base?

[2016-07-10 21:07] cdjackson commented on #1848
This was a fresh install of the IDE and I ticked ESH and OH2 distro’s. Do you want me to move this under OH2?

[2016-07-10 21:09] kaikreuzer commented on #1848
Well, yes, if this issue is NOT about https://www.eclipse.org/smarthome/documentation/development/ide.html, then better report it at openhab-distro. Would be interesting though if the same happens for the ESH IDE.

[2016-07-10 21:11] cdjackson commented on #1848
Well, I used the instructions on that page, but I ticked the boxes in the openHAB2 github section. This includes ESH…

[2016-07-10 21:20] cdjackson commented on #1848
I just installed the ESH runtime and it's got the same issue, so reopening...

[2016-07-10 21:27] cdjackson opened #1849 "Installing extensions through UI doesn't complete"
There doesn't appear to be an extension complete event being sent when extensions are installed, so PaperUI continues to show the progress indicator even though in the console the binding is installed.

[2016-07-10 21:35] fivesails commented on #1842
First, I thought the browser might be a point (I was using Safari 9.11 on Mac OS X 10.11.5). However, latest tests with openhab-offline distro 403 and Chrome (v 51.0.2704.106 (64-bit) on the above mentioned OS), lead to the same result. I will do more testing and will post the results.

[2016-07-10 22:32] marcelrv commented on #1479
@sbussweiler
Seems bridgeStatusChanged() is called for each status update from the bridge.
Shouldn't that be only when the status has actually changed? (otherwise it should be called bridgeStatusUpdated() ...)

Also seems like it is not called when the bridge is removed. I thought the intention was to depreciate bridgeHandlerDisposed(), in that case I think we should call bridgeStatusChanged() als

[2016-07-11 05:16] maggu2810 commented on #1848
Hm, interesting.
I tested the IDE installation two days ago and it worked for me.
See: https://www.eclipse.org/forums/index.php?t=msg&th=1078937&goto=1737544&#msg_1737544

[2016-07-11 05:23] mdilger commented on #1847
Guys, I have just installed snapshot #402 and have now restarted 6 times in a row without problems

[](https://community.openhab.org/t/binding-not-starting-consistently-since-6-19-build/11741/49)

[2016-07-11 06:18] cdjackson commented on #1848
Maybe it's an issue at my end, but I upgraded my existing IDE, and then did two fresh installs (one for OH2 and one for ESH) and they all do the same thing. It is unusable really as it won't save files without errors and wont set breakpoints.

All the errors seem to be related to SubMonitor issues such as the following.

https://github.com/groovy/groovy-eclipse/issues/172

[2016-07-11 06:54] maggu2810 commented on #1848
Have you choosen Neon and a Java 8 on your fresh installation?

[2016-07-11 06:57] maggu2810 commented on #1848
FYI: It makes a difference if you are using Eclipse SmartHome IDE setup or openHAB + ESH.
There are different setup files (instructions for the Installer):
* https://github.com/eclipse/smarthome/blob/master/targetplatform/EclipseSmartHome.setup
* https://github.com/openhab/openhab-distro/blob/master/launch/openHAB2.setup

[2016-07-11 07:07] kaikreuzer commented on #1849
Created https://github.com/openhab/openhab-distro/issues/248.

[2016-07-11 07:13] kaikreuzer commented on #1848
I have just installed the ESH IDE from scratch and everything works smoothly, so I very much assume it is a local problem with your system, @cdjackson. Try to also start with a clean bundle pool, maybe you have some corrupted jar file in there. Make sure to use Neon, not Mars.

[2016-07-11 07:13] #1848 closed

[2016-07-11 07:15] #1845 closed

[2016-07-11 07:25] cdjackson commented on #1848
Strange - this initially started on an existing system when the setup tasks were run but two clean installs have done the same. Do you know if there's a common area where the bundles are stored (on a Mac) that I could/should purge.

Thanks.

[2016-07-11 07:27] kaikreuzer commented on #1848
Yes, the bundle pool that I mentioned above. You choose it on the first page of the installer:

<img width="810" alt="screen shot 2016-07-11 at 09 26 52" src="https://cloud.githubusercontent.com/assets/3244965/16722842/a46f989e-4749-11e6-8fb7-0e05cd8f5450.png">

[2016-07-11 07:32] kaikreuzer opened #1850 "NPE in ThingManager on shutdown"
[Here](https://community.openhab.org/t/testing-z-wave-binding-on-openhab-2/7522/1383) an NPE has been reported on shutdown:

[code]

There clearly should be a null check and a safer handling within the ThingManager.

[2016-07-11 07:40] kaikreuzer commented on #1843
See https://github.com/eclipse/smarthome/pull/376#issuecomment-139881518.

@J-N-K didn't want to finish #376, because he waited forever for some of his PRs being reviewed on OH1 and thus he has left the project frustratedly.

So if anyone wants to add sumSince (according to what has been discussed in #376), please do so!

[2016-07-11 07:40] cdjackson commented on #1848
Thanks.

[2016-07-11 07:49] kaikreuzer commented on #1818
Yes, in conf/icons/classic, see https://community.openhab.org/t/available-icons/4088

[2016-07-11 08:06] watou commented on #1843
I will!

[2016-07-11 10:55] s-simma commented on #1793
Thanks a lot. With snapshop 402 system startup rule works great now.

[2016-07-11 10:59] kaikreuzer commented on #1793
Glad to hear, thanks for the feedback!
FTR: This PR did a major refactoring to make this work: https://github.com/eclipse/smarthome/pull/1828

[2016-07-11 10:59] #1793 closed

[2016-07-11 11:29] maggu2810 commented on #1847
I am using Eclipse SmartHome based distributions myself that differ from openHAB.
So I am willing to do some tests if I can reproduce it there, too.

Is there any scenario that should be tested that triggers the failure very frequently?
Can I use Eclipse SmartHome bindings e.g. Sonos (hardare for this binding available), YahooWeather or NTP?
I assume I can also add the Z-Wave binding to the runtim

[2016-07-11 13:15] kaikreuzer commented on #1770
As the startup rule management has been optimized by https://github.com/eclipse/smarthome/pull/1828, I would assume that this now does not occur anymore (unless the item is really missing).

[2016-07-11 13:15] #1770 closed

[2016-07-11 13:20] kaikreuzer commented on #1771
With https://github.com/eclipse/smarthome/pull/1828, the startup rules should not only be executed when all items are initially loaded - so I hope that this problem is mitigated.

[2016-07-11 13:20] #1771 closed

[2016-07-11 14:29] s-simma commented on #1818
Works fantastic. Thanks !!

[2016-07-11 17:52] kgoderis commented on #1200
@kdavis-mozilla any progress made on this?

[2016-07-11 18:04] kgoderis commented on #584
@kdavis-mozilla (@kaikreuzer) Cfr #1200, where are you standing?

[2016-07-11 21:56] cdjackson commented on #1849
Ok - I agree that there is an event. I knew this, but it doesn’t seem to be propagated to SSE and the UI doesn’t complete the installation so I would think that this issue still stands doesn’t it?

[2016-07-11 22:23] tavalin commented on #1849
I installed the Yahoo Weather binding earlier and it popped up a toast message saying the extension had been installed. So if what @kaikreuzer is saying is correct then at least sometimes the event manages to reach the UI.

[2016-07-12 07:13] kaikreuzer commented on #584
@kgoderis Unfortunately @kdavis-mozilla and team stopped working on these features.
I am currently trying to reconcile their state of work, clean it up and create a PR from it - I hope to have that available by the end of this week and I hope @hkuhn42 will be able to help reviewing and commenting it then.

[2016-07-12 07:13] kaikreuzer commented on #1200
See https://github.com/eclipse/smarthome/issues/584#issuecomment-200248443.

[2016-07-12 07:22] sbussweiler commented on #1479
Shouldn't that be only when the status has actually changed? (otherwise it should be called bridgeStatusUpdated() ...)

Really? I think there is only a call if the status has been changed. See ThingManager [here](https://github.com/eclipse/smarthome/blob/master/bundles/core/org.eclipse.smarthome.core.thing/src/main/java/org/eclipse/smarthome/core/thing/internal/ThingManager.java#L203).

That's cor

[2016-07-12 09:17] kaikreuzer commented on #1847
All, good news! I think I have found the issue - it had been introduced by https://github.com/eclipse/smarthome/issues/1847.

Will work now on a fix and provide you an update soon.

[2016-07-12 09:20] maggu2810 commented on #1847
As I am very interested in, could you please fix the reference?

Thanks

[2016-07-12 09:21] kaikreuzer commented on #1847
It is a recursive bug ;-) Fixed the link!

[2016-07-12 10:47] lolodomo commented on #1271
I close this issue because the problem seems to have disappeared.

[2016-07-12 10:47] #1271 closed

[2016-07-12 16:16] clinique commented on #601
Wow, great, was digging a bit in opened issues and discovered your last comment @kaikreuzer  ! So I must rewind the rubber to see where I was headed on this and propose a new PR !

[2016-07-12 16:55] kaikreuzer commented on #1847
All, please have a look at #1856 - I hope it solves the issue once and for all!

[2016-07-12 21:47] #1843 closed

[2016-07-13 04:00] pabloNZ commented on #1517
I'm having this issue occur on the latest snapshot #405. Can anyone else confirm?

[2016-07-13 08:53] kaikreuzer commented on #1517
@pabloNZ If you do, please enter a new issue with a details exception. Best if you can provide a modified demo.rules file with which it can be reproduced.

[2016-07-13 10:23] #1796 closed

[2016-07-13 12:43] kaikreuzer commented on #1847
Unfortunately, #1856 does not fully solve the issue yet :-(
I wonder, why I only ever notice it on the officially build OH distro and never on my local test builds before...?
Anyhow, I just have this in my log, which leaves the Things in uninitialized status:

[code]

[2016-07-13 18:15] #1847 closed

[2016-07-14 08:27] maggu2810 opened #1862 "Documentation automation schema"
Perhaps I am wrong, but I assume at least the visibility of the module-type schema is outdated:
https://github.com/eclipse/smarthome/blob/master/docs/documentation/development/rules/ModuleTypes_schema.json

[2016-07-14 13:21] tavalin commented on #1651
Any more ideas about this? I'm still experiencing it with latest snapshots.

[2016-07-14 17:49] kgoderis commented on #1393
@kaikreuzer

Considering:

[code]

the output of :

[code]

is

2016-07-14 19:48:00.945 [ERROR] [.script.engine.ScriptExecutionThread] - Rule 'openHAB Host Volume Control': null

Sound to me that the Action is not working (latest snapshot) (there are no import statements, as per documentation)

[2016-07-14 18:38] kgoderis commented on #1479
@sbussweiler ( @kaikreuzer ) I just noticed that when shutting down the runtime, and when the Bridge happen to be disposed before the child Things, the method in the child ThingHandler     `public void bridgeHandlerDisposed(ThingHandler bridgeHandler, Bridge bridge)`
is called with bridgeHandler being null

In the new lifecycle, would it not be more logical to have the Bridges dispose *after* thei

[2016-07-14 19:05] lolodomo opened #1863 "Hue binding: wrong id for discovered lights"
The thing type UID is missing for the discovered lights in the inbox.
I got hue::bridge1:1 and hue::bridge1:2

[2016-07-14 19:12] kaikreuzer commented on #1863
This is a feature, not a bug, see https://github.com/eclipse/smarthome/pull/1652#issuecomment-228901180.

@sjka: The decision to remove the thing type there seems to lead to quite some confusion and issues...

[2016-07-14 19:22] lolodomo commented on #1863
Having the thing type in the discovered thing would help me set properly my thing file.
I am not sure if I have to use 0200 or 0210 (or even 02200) !

[2016-07-14 19:37] kaikreuzer commented on #1863
How about reading the docs? http://docs.openhab.org/addons/bindings/hue/readme.html#full-example

[2016-07-14 19:41] lolodomo commented on #1863
Already done but it does not help to identify at 100% the type of my light !

[2016-07-14 19:43] lolodomo commented on #1575
For information, with snapshot distribution 408 (offline), even if I have problems with bindings not initializing, I noticed that the warnings mentioned in this issue have dissapeared.

[2016-07-15 05:28] kaikreuzer commented on #1575
ok, thanks, so I close this.

[2016-07-15 05:28] #1575 closed

[2016-07-15 05:48] maggu2810 commented on #1863
Isn't the model ID property enough to identify the light?
https://github.com/eclipse/smarthome/pull/1789/files#diff-8fa06d6d05ccc8c9a1724a0b84c61e5fR113

[2016-07-15 05:56] kaikreuzer commented on #1863
Properties are not shown on a discovery result and you cannot derive a thing type from it.
But @lolodomo, if you once accept the discovered bulb, the thing list will also show you its thing type. So you can delete the thing again and manually define it in the things file then.

[2016-07-15 06:36] chrisschauer commented on #1479
Hi @kgoderis

this is exactly the requirement which was previously discussed: See the summary in: https://github.com/eclipse/smarthome/issues/1479#issuecomment-221282330

Its also my wish to have an hierarchically correct orde

[2016-07-15 06:56] maggu2810 commented on #1863
You see, I have not used the Hue binding for a time and don't know if the model suffers the needs, so the real thing type does not need to be known :wink:

Regardless of this use case:
Should we modify the Paper UI, so it shows the properties of the discovery result (the DiscoveryResultDTO contains the properties)?

[2016-07-15 06:59] kaikreuzer commented on #1863
No, I don't think there is much value in this (and it would rather cause irritation as some of the properties will be used for the thing configuration later on).
Discovery is not mean to be a tool to find the right content for a things file...

[2016-07-15 07:57] marcelrv commented on #1479
think you are right. Guess I was seeing some artifact from the recent startup issues that was causing it not to work well. Now that is fixed I don't see it happening.

[2016-07-15 08:51] lolodomo commented on #1575
You mai have waited for other feedbacks.

[2016-07-15 09:03] maggu2810 commented on #1863
Okay

That was never my intention. I don't talk about think files.
If the discovery can already provide properties like vendor id, product id, model, serial number, remote id etc. I think it is good to know. At least something similar to the thing view page where I can look at the properties.
If my discovery mechanism shows me a lot of sensors of the same type, I perhaps need some informations to

[2016-07-15 09:06] lolodomo commented on #1863
A table in the documentation showing what thing type to use for each hue light model would help a lot.
I could take the model I'd in the properties and then search in the documentation.

[2016-07-15 10:29] kgoderis commented on #1479
@chrisschauer Tx, I should take more time to read all comments top to bottom ;-)

[2016-07-15 15:14] kaikreuzer commented on #1575
I can re-open the issue at any time.

[2016-07-15 17:03] jsjames opened #1865 "Float issue in rule"
I've tried to narrow this one down to the simplest example. This code will generate the below error. This issue occurred in 1.8 as well (was hoping 2.0 would address).

var float a = 10.0
var float b

a = a - 2.0
b = a \* 2.0

2016-07-14 17:14:00.031 [ERROR] [ntime.internal.engine.ExecuteRuleJob] - Error during the execution of rule Float Test: An error occured during the script execution: Could n

[2016-07-15 17:05] jsjames opened #1866 "Another float issue without preceding 0."
I am running on a Raspberry Pi 3. Decimal floats need to start with a 0 (i.e. 0.14 vs. .14). Took me a long time to track this one down. A simple assignment like the following:

var float b;

b = .14 will generate the following error.

2016-07-14 16:30:00.013 [ERROR] [ntime.internal.engine.ExecuteRuleJob] - Error during the execution of rule Float Test: An error occured during the script execution

[2016-07-15 17:17] kaikreuzer commented on #1393
@kgoderis I can reproduce this.

Checking
[code]
I see that the audio action is not registered as a service - so that is some issue in the compat bundle. As I am anyhow refactoring the whole audio stuff right now, give me a few days and I will make sure that it works again in the new version.

[2016-07-15 19:49] lolodomo opened #1867 "RFXCOM binding: NPE at initialization"
I have a bridge and 3 things.
A null pointer exception occured for each thing at startup with recent snapshots (is OK in beta 3)::
[code]

[2016-07-15 19:52] lolodomo commented on #1867
Sorry, issue created in wrong repo.

[2016-07-15 19:52] #1867 closed

[2016-07-16 00:30] haltmann commented on #603
Hello,

Just take a look at these  awesome creatures, I love them! More info here <http://answer.stefanoaugello.info/e4dqbkr>

Later, herbert.altmann@heal-it.info

[2016-07-16 00:30] haltmann commented on #618
Hi,

I saw that stuff and it instantly filled me with energy and hope, just take a look here <http://amazing.prophecysecondcoming.com/e4jvjivj>

All the best, herbert.altmann@heal-it.info

[2016-07-16 00:30] haltmann commented on #689
Hi,

I've just found something really interesting and OMG ... it's  amazing, just take a look <http://ambition.spencerchen.com/e4qxirss>

Pardon my monkey thumbs, herbert.altmann@heal-it.info

[2016-07-16 07:52] maggu2810 commented on #603
It seems that the comment of @haltmann is spam.
Don't click on the link, it points to a site, has offers a "financial method".
The common ***

[2016-07-16 10:58] lolodomo opened #1869 "Hue binding: things remaining in INITIALIZING state"
When starting OH, I noticed that my hue bridge thing is ONLINE (as expected) but my hue light things remain in INITIALIZING state.

HueLightHandler:initialize looks really weird to me. If run when the bridge is in state INITIALIZING, it will apparently set the thing state to INITIALIZING ! At my knowledge, a binding should only set state to ONLINE or OFFLINE.
And there is probably rare cases while

[2016-07-16 11:18] lolodomo commented on #1869
In HueBridgeHandler:onConnectionResumed, just after setting state to ONLINE, there is a loop on all things to call initialize. I think this code should be suppressed and replaced by implementing bridgeStatusChanged on HueLightHandler.

[2016-07-16 19:40] kaikreuzer commented on #1479
@sbussweiler FTR: There seem to be MANY issues with most bindings regarding the bridge/thing startup lifecycle, see [this discussion](https://community.openhab.org/t/binding-not-starting-consistently-since-6-19-build/11741/93?u=kai). I therefore think that this has a very high priority and really must be addressed. See also https://github.com/eclipse/smarthome/issues/1869.

[2016-07-16 19:43] kaikreuzer commented on #1869
You are right, that looks buggy. The code seems to assume that it is only called if the bridge is either ONLINE or OFFLINE. Something that is only true once #1479 is implemented.

[2016-07-16 20:23] lolodomo commented on #1869
If you want, I can provide a fix, I think that is easy to fix.

[2016-07-16 20:25] kaikreuzer commented on #1869
Will it also fix the issue that you have reported?

[2016-07-16 20:33] lolodomo commented on #1869
What other issue ? #1863 ?
I propose to fix this issue, that is the initialization of the binding. I will just fix the initialize method, add the method bridgeStatusChanged and change the method onConnectionResumed.

[2016-07-17 09:30] lolodomo commented on #1863
My light model id is LLC011. So what thing type should I use ? 0200 or 0210 or 0220 ?

[2016-07-17 11:03] kaikreuzer commented on #1863
It is 0200. You will find the types listed on http://www.developers.meethue.com/documentation/supported-lights (but you need to create an account there in order to get access).

[2016-07-17 11:04] kaikreuzer commented on #1869
Fixed by https://github.com/eclipse/smarthome/pull/1870

[2016-07-17 11:04] #1869 closed

[2016-07-17 12:45] kaikreuzer opened #1871 "ThingHandler.channelLinked() not called for all channels after handler initialization"
The [documentation](https://www.eclipse.org/smarthome/documentation/development/bindings/thing-handler.html#channel-links) reads:

According to https://github.com/openhab/openhab2-addons/issues/1125, this does not seem to be the case anymore.

Related to this, the JavaDoc of 'ThingHandler.channelLinked()' is not very helpful and it should imho contain the same information as the documentation.

[2016-07-17 12:47] kaikreuzer commented on #1397
This is by now supported through the new generic types for hue.

[2016-07-17 12:47] #1397 closed

[2016-07-17 12:48] kaikreuzer commented on #1871
@sbussweiler Can you take that into the scope when working on https://github.com/eclipse/smarthome/issues/1479?

[2016-07-18 06:34] sbussweiler commented on #1479
@kaikreuzer I'm trying to start this week with the implementation ;-)

[2016-07-18 06:40] sbussweiler commented on #1871
@kaikreuzer I can do...

[2016-07-18 09:55] kaikreuzer opened #1874 "hue binding does not support switchable sockets anymore"
Since the switch to generic types, the hue binding does not support switchable sockets thus as [this one](http://www.philips.de/c-p/6916531PH/livingwhites-adapter) anymore.

See https://community.openhab.org/t/hue-power-socket-dimmer-not-longer-supported-as-thing/12453.

[2016-07-18 09:56] kaikreuzer commented on #1874
@afuechsel I assume this is a regression caused by https://github.com/eclipse/smarthome/pull/1652.

[2016-07-18 13:21] michaeljoos72 opened #1875 "Sonos Alarm Channel not working"
Hi

Tried to use this channel for a Sonos Play1:
Alarm is running (Set to ON if the alarm was triggered)

The status never changes to ON. All other channels are working except this.

A known issue?

Thanks
Michael

[2016-07-18 13:26] kaikreuzer commented on #1866
.14 is no valid syntax for Xbase, see https://bugs.eclipse.org/bugs/show_bug.cgi?id=366004#c2.
As the rule engine uses Xbase as the scripting language, this is not a bug and also cannot be changed.

[2016-07-18 13:26] #1866 closed

[2016-07-18 14:13] maggu2810 opened #1876 "Lazy activation of esh.core.thing.xml"
The lazy activation of core.thing.xml breaks the runtimes based on Bnd.

The core.thing.xml bundle contains no public class, so it will not be activated on the first usage -- as there is no one.
It also does not contain any DS -- if my reading of some comments is correct, a DS could also lead also to an activation.

It seems "Peter Kriens" and "Neil Bartlett" agreed that it is okay to not activate

[2016-07-18 14:30] kaikreuzer commented on #1876
sorry, I must have added that accidentially.
But I hope bnd is fine with lazy activation for any bundle that exports a package or contains a DS component?

[2016-07-18 14:31] markusjw commented on #1578
Wouldn't this make sense for the other two system channels as well?

[2016-07-18 14:32] #1876 closed

[2016-07-18 14:33] maggu2810 commented on #1876
I will have a look at if one of these guys can give us more information about that topic.

[2016-07-18 14:34] maggu2810 commented on #1578
I think so :wink:

[2016-07-18 14:35] kaikreuzer commented on #1578
Me too :-)

[2016-07-19 00:08] #1850 closed

[2016-07-19 00:45] kaikreuzer commented on #1800
@kgoderis Yes, this should probably be covered by https://github.com/eclipse/smarthome/issues/1617.

[2016-07-19 06:24] lolodomo opened #1880 "Hue binding: initialization incomplete"
Hue binding initialization is sometimes incomplete. This can be seen because when it occurs, light properties are not set.
I am investigating. It could be or not a consequence of my change done in file HueBridgeHandler by PR #1870.

[2016-07-19 09:47] joergkling commented on #1863
The correct thing type can be identified by checking the table listing the channels in the docu. I tried to explain this in the enhanced example section but obviously this needs some more work. Will do that in the next couple of days.

[2016-07-19 09:52] joergkling commented on #1863
BTW, can I suggest to remove one of the colons from the generated UIDs?

Current: hue::bridge1:1
New: hue:bridge1:1

Reason: The current naming convention is confusing as it looks like that something between the colons is missing.

[2016-07-19 15:44] kaikreuzer commented on #1200
@kgoderis Once #1882 is merged, we should be good to implement this feature as well.
(it was a bit too big, so I didn't include it in #1882 as it requires the servlet for sending the stream to the speaker)

[2016-07-19 16:48] maggu2810 opened #1883 "BaseThingHandlerFactory needs config.core"
It is not a real problem, just want to know if this has been done by intention...

We "declared ConfigValidationException as RuntimeException in order to avoid indirect dependency on org.eclipse.smarthome.config.core.validation for bindings" (PR #1287, comment #1149)

The BaseThingHandlerFactory that the most handler factories are based on, brings a dependency to the config.core bundle.

I add a t

[2016-07-19 17:15] maggu2810 opened #1884 "SmartHome Runtime error: unresolved compilation problems"
Have not used the "SmartHome Runtime" in the IDE for a while.
Is this (see log) a local error on my machine or does this occur on other systems, too?

[code]

[2016-07-19 17:30] maggu2810 opened #1885 "Paper UI: Configuration Options value 0"
It seems that the Paper UI does not handle configuration options with value 0 correctly.
If I am using the following parameter in a configuration-description, the Paper UI does
* not set the default value on thing creation
* mark the selection as invalid (red line instead of gray line) if "0°" is choosen.

[code]

If I am replace the value, all is fine.

[code]

I cannot identify the location the

[2016-07-19 19:23] kaikreuzer commented on #1884
It works for me. Your log looks to me as if some of the projects are not built (or possibly cleaned/built by Maven). Did you try to re-compile all projects in the workspace?

[2016-07-19 19:27] kaikreuzer commented on #1883
Since our [archetype has this dependency](https://github.com/eclipse/smarthome/blob/master/tools/archetype/binding/src/main/resources/archetype-resources/META-INF/MANIFEST.MF#L12) since the beginning, I would say all is fine.
In #1287, we only wanted to avoid having to depend on validation stuff although it might not be needed. But config.core contains all the ConfigDescription business, which is

[2016-07-19 20:49] maggu2810 commented on #1884
Okay, fine. Then I will try to clean up my local environment.
I already run the "perform setup task" and cleaned (and build) all projects in the IDE.

If it is working on your machine, I am pretty sure that the repo is in a good shape.
Thanks for your feedback.

[2016-07-19 20:49] #1884 closed

[2016-07-19 20:50] maggu2810 commented on #1883
Thanks for clarification.

[2016-07-19 20:50] #1883 closed

[2016-07-20 05:17] kgoderis commented on #1200
Ok - have this on my todo list

[2016-07-20 13:48] kaikreuzer opened #1886 "Paper UI should support state options in control UI"
I just came across [this channel](https://github.com/pail23/openhab2-addons/blob/de6de5f12f1fa1a3f8c5f9c42bf6adee798e560a/addons/binding/org.openhab.binding.onkyo/ESH-INF/thing/thing-types.xml#L82) and noticed that the Paper UI only renders me a string input field instead of a selection box:
<img width="346" alt="screen shot 2016-07-20 at 15 45 31" src="https://cloud.githubusercontent.com/assets/3

[2016-07-21 04:27] beowulfe opened #1887 "BaseBridgeHandler.editThing() returns a ThingBuilder instead of a BridgeBuilder"
Calling editThing() on a BaseBridgeHandler and updating the bridge returns a ThingImpl instead of a BridgeImpl. Edit operation should not convert a Bridge into a regular Thing.

This is similar to the issue resolved in #1467

[2016-07-21 15:58] #1885 closed

[2016-07-21 21:00] #1871 closed

[2016-07-22 04:30] polarathene opened #1893 "[HUE] Binding setup via UI?"
To setup a HUE Bridge, the binding needs to be installed and then openHAB needs to be restarted with the user pressing the pairing button on the bridge to authenticate with openHAB so it can control HUE bulbs.

Is the restart of openHAB required or would it be possible to trigger the pairing/authentication via UI button in config instead? If restarting of openHAB is required, likewise would it not

[2016-07-22 06:49] kaikreuzer commented on #1893
Please discuss issues around openHAB at https://community.openhab.org/ and only enter bug reports here if a bug in ESH has been identified.
Afaik, there is no need to restart openHAB either, the binding simply keeps trying until the user has pressed the pairing button on the bridge.

[2016-07-22 06:49] #1893 closed

[2016-07-22 09:36] kaikreuzer opened #1895 "Config pages do not consider password fields correctly"
When a config parameter is marked with "<context>password</context>", its content should be masked by the UI. But currently, I see the clear text instead:

<img width="449" alt="screen shot 2016-07-22 at 11 36 26" src="https://cloud.githubusercontent.com/assets/3244965/17053081/9251f08e-5000-11e6-94e8-1715e23e3e7f.png">

[2016-07-22 10:09] #1887 closed

[2016-07-22 11:46] tomhoefer opened #1896 "Avoid sending of events and notification of listeners during startup / shutdown of ESH"
Hi all,

in our project we have a lot of event subscribers and registry change listeners implemented which are called during startup / shutdown of ESH as a matter of course. In shutdown phase these services will update their model accordingly which results in the problem that the model cannot be re-built after next startup (because the subscribers / listeners have been assumed that the item / thin

[2016-07-22 12:32] maggu2810 commented on #1896
How do you want to decide that the framework is started or shut down?
If I update one Eclipse SmartHome bundle that triggers some restarts (deactivate, activate) of bundles and / or services. Which one is responsible for a whole "startup" / "shutdown" state?

Isn't this product specific which services needs to be available to signal "all present" / "normal runtime"?

[2016-07-22 12:38] tomhoefer commented on #1896
In our product we can rely on our OSGi runtime that the framework is started. For solutions running e.g. on Equinox I thought to use a framework listener and listen on the ```FrameworkEvent.STARTED```

[2016-07-22 12:45] #1895 closed

[2016-07-22 12:53] maggu2810 commented on #1896
I have assumed you are talking of the Startup and Shutdown phase of the Eclipse SmartHome framework. But you refer to the start and stop of the OSGi Framework. Correct?

So, there are some options, using a FrameworkListener, using a SynchronousBundleListener for bundle 0 to handle on the stopping event, ...

Is the intention that the Eclipse SmartHome framework does not fire any event as long as t

[2016-07-22 15:04] tomhoefer commented on #1896
Yes

Yes

I think this depends on the used OSGi runtime. In our project we dont want to be informed if entities are added or removed during startup and shutdown. We have already a dedicated state that declares the framework as started.

Especially ItemAddedEvent, ItemRevomedEvent, ThingAddedEvent and ThingRemovedEvent

Can you give me an example for which bundle / service you think we need to reac

[2016-07-22 15:14] maggu2810 commented on #1896
No, not ATM.
I need to think about the whole topic in more details.

You have written you are doing this already, so I assume you know that it is working and how it is working (the architecture). I don't. :wink: Give me some time.

[2016-07-22 15:21] tomhoefer commented on #1896
Haven´t yet started with the implementation ;) But because it is urgent I think that I will provide a PR in the following week

[2016-07-22 15:44] kaikreuzer commented on #1896
I agree that it isn't easy to say whether the system is up or not up. What does it mean if the OSGi framework keeps running, but ALL ESH bundles are fully stopped and restarted? I would consider this that ESH is NOT up - hence the feature should not about the OSGi framework, but about ESH itself.

"Up" means for me that certain services have started and are available. How can this be determined an

[2016-07-23 10:58] lolodomo opened #1900 "Sonos binding: problem with mute channel"
Assuming your Sonos sound is not mutted, you use the switch associated to the "mute" channel in UI to mute it. That works but immediately after the switch state is restored to OFF state. Important, I am using a switch with autoupdate=false.

Tested with beta 3.

Just in case it could help: if I correctly remember, there is something weird with mute in the Sonos firmware:  you have to ignore case b

[2016-07-23 11:18] lolodomo opened #1901 "Sonos binding: channels not set after a restart"
It looks like sometimes (most of times in fact), after a restart of openHAB; the Sonos binding is not setting the channels anymore.
Maybe the registration with the Sonos fails ?

Tested with beta 3.

[2016-07-23 11:31] lolodomo opened #1902 "Sonos binding: NPE when using player item for a slave Sonos"
When using the player (play, pause, next, prev buttons) with UI for an item associated to a Sonos being only a slave member of a group, it triggers a null pointer exception:
[code]

Tested with beta 3.

[2016-07-23 17:25] lolodomo opened #1903 "Sonos binding: invalid subscription ID"
It is not the case with beta 3 but in recent snapshots, we can find in the logs error messages of this kind:
[code]
Subscriptions with the Sonos is not valid and as a result channels are not refreshed.

[2016-07-23 17:30] kgoderis commented on #1903
I presume you get this one after you restart the binding? Then it is normal and these can be neglected

Sent from my iPhone

[2016-07-23 18:33] lolodomo commented on #1903
Note that these errors are noit always present at every startup.

When the erros are present, it looks like the registration is not done, and the channels are not updated.
Maybe the error that is due to an old registration breaks something in the new registration ?

[2016-07-23 18:42] lolodomo commented on #1900
I investigated this issue and discovered what's wrong.
In methoid onValueReceived, the value is compared to "On" while the received value is either "0" or "1". As a result, "1" leads to set the channel to OFF state.
[code]
Why checking "On" value ? Do I miss something ?
This comparison with "On" is done for several variables: CurrentLEDState, GroupCoordinatorIsLocal, MuteMaster, LineInConnected, A

[2016-07-23 18:54] kgoderis commented on #1900
This could very well be due to a change in the Sonos firmware. The binding was developed a number of firmware iterations ago and I do not test it fully against each firmware update. Any ways you found the issue and it only requires a quick fix

Sent from my iPhone

[2016-07-23 19:06] lolodomo commented on #1903
It looks it happens only if you restart OH quickly. It makes sense that if you wait a little the Sonos should probably stop using the old registration.
But unfortunately, each time it happens, registration by the binding is not active at all.

[2016-07-23 19:07] lolodomo commented on #1900
I let you propose a fix ?
Please check all the channels where there is this comparison with "On".

[2016-07-23 19:42] lolodomo commented on #1902
I investiguated this one too.
The bug is in method getHandlerByName. It only searches for things having the same type as the current thing. But my Sonos are of different types sonos:CONNECTAMP and sonos:PLAY5.
And there is no reason to put the second loop inside the first.
I will propose a fix.

[2016-07-23 19:47] lolodomo commented on #1902
And there is the same error in restoreAllPlayerState and saveAllPlayerState.

[2016-07-23 20:14] lolodomo commented on #1900
I will propose the fix.

[2016-07-24 06:14] kgoderis commented on #1903
Hmm seems like a shortcoming in the UPNP stack in the Sonos then. Maybe we should investigate if we could pick up the subscription information and explicitly unsubscribe these subscriptions. (It has been a long time since I was in that part of the code, i am not sure this is possible at all)

Sent from my iPhone

[2016-07-24 06:17] kgoderis commented on #1902
Initially there was only one type of Sonos thing but that got changed some time ago by someone
I do not recall why I had that loop there, there must have been a reason so better test it afterwards so that we do not break other stuff

Sent from my iPhone

[2016-07-24 07:21] lolodomo commented on #1903
As you previously said, it should not be a problem to receive data from the Sonos for something now unregistered, we should just ignore it. Maybe a warning would be better than an error in this case.
But by the way, we should initiate a valid registration in all cases.

[2016-07-24 07:27] lolodomo commented on #1902
This loop is to get the handler of the group coordinator.
In fact, there are first one search considering the default UID that would be given by the automatic discovery and then a second search through all things.

[2016-07-24 08:09] kgoderis commented on #1903
The data is ignored, the messages are coming from the jupnp library

Sent from my iPhone

[2016-07-24 11:41] joergkling commented on #1792
Sorry, need to reopen this one. The OSRAM bulbs do not switch of anymore with the latest version:

196 | Active   |  80 | 0.9.0.201607221840    | Eclipse SmartHome hue Binding

Could that be because of [PR 1870](https://github.com/eclipse/smarthome/pull/1870/)?

[2016-07-24 12:12] thhart opened #1907 "ItemStateChangedEvent RawType fully logged into console"
Hi, I have an update using a RawType in my binding, this is working good, but in the console the whole binary data is logged, IMHO this should be avoided.

2016-07-24 14:10:03.012 [INFO ] [ome.event.ThingStatusInfoEvent:43   ] - 'zipato:camera:028b0269:c62f8b03-f4e2-4769-80f8-a09e3c78593f' updated to **[LOT OF BINARY DATA]**

[2016-07-24 12:18] watou commented on #1907
Is this the same as #1798?

[2016-07-24 16:07] kaikreuzer commented on #1907
looks like it.

[2016-07-24 16:07] #1907 closed

[2016-07-24 19:59] thhart commented on #1798
Can you explain this further please. Sorry for being this direct but IMHO it is not very good design to have a full Base64 encoding nor a full data return in a toString() method.

[2016-07-25 07:35] chr-fritz opened #1908 "Breaking API Change: BridgeBuilder"
@b2b0b73bd319ea5ae5877c6fffaa075225b7ca23 breaks the API of BridgeBuilder.
Before this commit the following code compiles without any problems:
[code]
After this commit it failes with "incompatible types: Thing cannot be converted to Bridge".

[2016-07-25 07:48] maggu2810 commented on #1908
You are right, it is caused by #1894 the fix for #1887.
The with... methods of the bridge builder change the instance information to thing builder.

The only solution I know about (if we don't want change the usage of BridgeBuilder) would be to override all with... methods of ThingBuilder in BridgeBuilder, calling the super method, and return a BridgeBuilder instance.

[2016-07-25 08:05] kaikreuzer commented on #1908
fixed by #1911

[2016-07-25 08:05] #1908 closed

[2016-07-25 08:05] maggu2810 commented on #1798
IIRC:
Currenty every type should have a static method valueOf(String) that returns an instance of that type.
The instance should be equal to the one the toString method is called to receive the string.
So `Type.valueOf(type.toString()).equals(type)` should be true all the time.

[2016-07-25 08:36] afuechsel commented on #1874
As I have no such device, I have no clue why it is not working. Can you give some more details, how it was previously configured? What was the thing type of this device?

[2016-07-25 09:12] afuechsel commented on #1880
@lolodomo Since you removed the code from HueBridgeHandler#onConnectionResumed, that looped through all connected children to initialize their properties and added the code to onBridgeStatusChanged, this could lead to this situation; as this callback is called from the ThingManager but the polling loop in the binding has not yet discovered all connected lights with their ids therefore your initial

[2016-07-25 09:32] lolodomo commented on #1880
@afuechsel : did you encounter the problem ?
If onBridgeStatusChanged is called early,, nothing is initialized because the bridge is not ONLINE. The bridge state switches to ONLINE in HueBridgeHandler#onConnectionResumed and this triggers calls to onBridgeStatusChanged with an ONLINE bridge and so a real first initialization of lights.

[2016-07-25 09:37] lolodomo commented on #1880
This issue is closed by PR #1899.

@afuechsel : I will reopen issue #1869 if you are sure that my PR #1870 has really broken something.

[2016-07-25 09:37] #1880 closed

[2016-07-25 09:58] foxytocin commented on #1874
Hi,
it was automatically configured with paper ui. In the past it was shown up in the inbox.

In the items file i used it as dimmer item. Because the socket has two modes. There is an switch on the backside where you can switch between on/off or dimmer mode for the device.

[2016-07-25 10:06] afuechsel commented on #1880
Ok, if #1899 fixes it I am fine. Didn't have the time to recheck this issue yet, just thought, it is still open.

[2016-07-25 10:43] lolodomo commented on #1903
I have in memory that Sonos (bug in firmware ?) does not allow having several subscritptors from the same host. In this case, it only dispatches events to one of them.
In case it could help...

[2016-07-25 11:49] afuechsel commented on #1792
I would assume so. As I already commented on #1880, the removal of the initialization loop in HueBridgeHandler#onConnectionResumed could sometimes lead to the situation, that the properties would be initialized right before the polling loop resumed the connection so the lightId is still null and model or type values could not be retrieved. And so also the OSRAM hack would not work as the binding j

[2016-07-25 11:53] afuechsel commented on #1874
@foxytocin what was the thing type of the discovered thing?

[2016-07-25 13:35] lolodomo commented on #1792
The PR that suppressed the loop in bridge handler is 1870. You can restore the code if you think that is the problem (I am not sure at all but I am not deep in hue code) but don't suppress the changes I have done with PR1870 and 1899 in the light handler.

[2016-07-25 13:39] foxytocin commented on #1874
Can check this on weekend. Because i'am away from my installation.

[2016-07-25 13:40] kaikreuzer commented on #1874
It seems the Philips documentation isn't complete :-/
The plug has the type "Dimmable plug-in unit", see [here](https://community.smartthings.com/t/updated-as-of-march-24-2016-hue-lights-groups-scenes-oh-my/36105/165).
PR #1913 adds this.

[2016-07-25 13:59] afuechsel commented on #1874
well, should we think about a fallback mechanism if we get an unsupported type? But fallback to what?

[2016-07-25 14:01] kaikreuzer commented on #1874
No idea - you already print out a log message as a fallback - I guess, this is the best we can do.

[2016-07-25 15:48] #1874 closed

[2016-07-25 22:00] wborn opened #1915 "[LIFX] IllegalMonitorStateException may occur when unlocking after sending broadcast packet"
Often during initialization of the LifxLightHandler, the following exception is thrown in my setup:

[code]

The `LifxNetworkThrottler.unlock()` method always tries to release all locks. Even those of other threads. The exception seems to occur when a bulb is added that was not yet available before the `LifxLightHandler.broadcastPacket(..)` method called `LifxNetworkThrottler.lock()` .

As a resul

[2016-07-25 23:11] cdjackson commented on #588
Sorry - I missed this comment...

Yes - this causes problems - both for configuration, and also for properties since I am also storing some device information in the properties to allow it to be used in the UI. Maybe this is also not intended, but currently there are two options - properties, or some sort of read-only configuration (which doesn't seem right for low level device information).

For

[2016-07-26 07:10] afuechsel commented on #1792
@joergkling could you test if my fix in #1920 really fixes your issue with the OSRAM bulbs now? I partly reverted some of the changes in #1870.

[2016-07-26 08:13] kgoderis commented on #588
@kaikreuzer I also was not aware that Configuration was intended to configure the handler only and not the devices. Now I understand your answers to all my previous questions on the subject. With Things representing physical objects, and transitioning from openhab1, this indeed is not a very easy concept to naturally assume

Still, as chris, I do think there are many use cases where you have to re

[2016-07-26 08:25] afuechsel commented on #588
@kgoderis, I understand very well your wish to have a concept for configuring the devices but how far would you go? I mean, devices could have many configuration parameters, some of them might even be depending on each other. Which one would you like to configure? Each of it? Only a part of it? You may very easily end up in a configuration hell.

The device configuration API often is much more com

[2016-07-26 08:34] #1915 closed

[2016-07-26 08:35] kaikreuzer commented on #1915
34 LIFX bulbs? Wow :-)

Thanks for providing the fix yourself!

[2016-07-26 09:27] kaikreuzer opened #1922 "Use OSM for editing a location item in Paper UI"
A location item is rendered with an OSM map in the Paper UI. If the item is editable, currently the user has to manually edit the coordinates.
It would be nice if he could click on the map, which then opens full screen and he could chose a location directly on the map.

[2016-07-26 09:49] kgoderis commented on #588
It will always be a subset of configurations parameters that would be configured, obviously, and it is to the binding to deal with the complexity so that is not a big issue. I think nobody expects tone able to fully configure a device from ESH/oh

On the other hand for example the Helios binding (ip door phone ) I have one thing type and 1 handler implementation that covers the common denominator

[2016-07-26 13:41] #1886 closed

[2016-07-26 15:01] joergkling commented on #1792
sure, will do once the changes are in a compiled form.

[2016-07-26 18:44] lolodomo opened #1924 "InstantiationException StringType at startup"
With snapshot 426, at each startup, now I got these 2 warnings:
[code]
Is it normal ?

[2016-07-26 18:54] lolodomo opened #1925 "Rules errors with HSBType"
With offline snapshot 426, I got these rule errors:
[code]
The same rules were OK in beta 3.
I have code like this in my rules (for hue lights):
[code]
Has something changed regarding HSBType ?

[2016-07-26 20:25] lolodomo opened #1926 "XmlDocumentBundleTracker exception at startup"
Using offline snapshot 426, I got this error at startup:
[code]

[2016-07-26 20:40] lolodomo commented on #1926
It is not systematic.

[2016-07-26 21:32] lolodomo commented on #1925
My channel link was wrong.

[2016-07-26 21:32] #1925 closed

[2016-07-26 21:51] lolodomo opened #1927 "Paper UI: configuration parameters missing"
Using offline snapshot 426, editing thing configuration, some of the parameters are missing.
I first thought it was all parameters I have set in my thing files but there is no absolute logic in fact.

[2016-07-26 21:57] lolodomo opened #1928 "Paper UI: no channels for hue things"
With offline distro 426, sometimes Paper UI does not display any channels for my hue things.
My things and items are defined in config files.

[2016-07-26 22:01] lolodomo commented on #1574
This problem disappeared in snapshot 426. So I close the issue.

[2016-07-26 22:02] #1574 closed

[2016-07-27 07:14] kaikreuzer commented on #1927
See also https://community.openhab.org/t/new-install-openhab2-zwave-port-path-missing/12686

[2016-07-27 07:53] kaikreuzer commented on #1924
No...

[2016-07-27 08:39] kaikreuzer commented on #1928
Please analyze this in more detail and post an example things-file with which it can be reproduced.
Is it specific to hue? Does it happen for other things as well? What does "sometimes" mean?

[2016-07-27 08:51] maggu2810 commented on #1792
I assume @afuechsel would like to ask if you can test, so we know if we should merge it at all. Correct?

[2016-07-27 09:05] maggu2810 commented on #1927
@kaikreuzer Thanks for an example that could be used for analysing.

[2016-07-27 09:09] joergkling commented on #1792
What I was trying to say with my last comment is that I am not a java developer. So I need somebody to provide me with a binary version of the binding. Last time @afuechsel adviced me to wait for the merge and use the nightly build. Happy to try another approach, but I need the binary.

[2016-07-27 09:16] kaikreuzer commented on #1927
The example to reproduce is given in https://community.openhab.org/t/new-install-openhab2-zwave-port-path-missing/12686 - it happens with the Z-Wave binding.
The parameter definition in there is
[code]

[2016-07-27 09:16] maggu2810 commented on #1792
Ah, okay, I understand.
Perhaps @afuechsel can build it for you.

[2016-07-27 09:18] maggu2810 commented on #1927
I have already seen it. That you I said thanks, that you have given one (I really want to say thanks and not blame you that you should add one).. :wink:

[2016-07-27 09:19] kaikreuzer commented on #1927
Ah, ok :-)

[2016-07-27 09:58] lolodomo commented on #1928
I think I have seen that only with hue things.
If I start several times OH2, sometimes hue things have channels displayed in Paper UI, sometimes not.
I will give you my thing file later today but it is basic with a bridge and 2 lights.

[2016-07-27 12:54] R-Edelhoff commented on #1902
The method getHandlerByName() is supposed to return the ThingHandler instance for the given Sonos player UDN (RinconID), which is used to invoke actions on another player then the currently handled one. This is required for delegating commands to the coordinator speaker when invoking basic control actions on a slave.
According to your stacktrace you invoke the NEXT command which fetches the coordi

[2016-07-27 12:59] danchom commented on #1641
Fixed

[2016-07-27 13:19] lolodomo commented on #1902
As previously explained there was a bug in this method that only consider things of the same type of the current thing. My 2 Sonos are paired to things but are of different types.
This problem is fixed by my PR.

NPE were possible if the group coordinator was not paired to a thing (not my case). This is fixed in my PR too.

[2016-07-27 13:20] R-Edelhoff commented on #1902
Regarding restoreAllPlayerState and saveAllPlayerState you are right. It will only be invoked on the currently handled ThingHandler instance. It should be invoked for all registered ThingHandlers of different player types.

[2016-07-27 13:29] kgoderis commented on #1902
I initially had the comparison in there just to speed up the loop, but that was before the proliferation of thing types. We should scan the remainder of the .java for similar bits of code.

If I remember well the getHandlerByName() can take either a rincon id or a thing ID, so the two loops need to stay in there. The type comparison can indeed be removed, unless we want to comparie on the binding

[2016-07-27 13:41] lolodomo commented on #1902
I kept the two loops but suppressed their imbrication. First loop is unchanged. Second loop was fixed but still checks the thing type.

[2016-07-27 14:25] #1927 closed

[2016-07-28 07:19] #1924 closed

[2016-07-28 07:24] kaikreuzer opened #1932 "NPE in mDNS Service"
During the installation of some extensions (which might have triggered some bundle restarts), I just observed this exception in the log:

[code]

[2016-07-28 09:54] kaikreuzer opened #1934 "Add Group Item support to Paper UI"
Currently the Paper UI allows the maintenance of items with the exception of Group items.

We should add support for Group items as well.
They are a bit more complex in terms of supported properties and features. A good explanation is given [here](https://github.com/openhab/openhab/wiki/Explanation-of-items#group).

So when selecting "Group" as the item type, there should be a new field "Base type

[2016-07-28 11:14] afuechsel commented on #1751
should be fixed with #1799. please recheck @sjka

[2016-07-28 11:15] afuechsel commented on #1511
should be fixed with #1799. @maggu2810 please recheck.

[2016-07-28 15:26] joergkling commented on #1792
@afuechsel or @lolodomo, could one of you kindly provide me with a binary version of the HUE binding which includes the changes from https://github.com/eclipse/smarthome/pull/1920? I would then do some testing with the OSRAM bulbs. Thanks!

[2016-07-29 09:24] R-Edelhoff commented on #1902
The bug fixes done within this PR are fine in my opinon.

However i would not introduce a nullcheck everytime we request the coordinatorHandler.
Reporting a warning in this case is good. But additionally i would throw an unchecked runtime exception when the coordinator is not available (paired) to indicate that the system will not behave as expected.
The outcome in both ways (nullchecks or excepti

[2016-07-29 09:39] kgoderis commented on #1902
Fine for me, is also what was suggested earlier on

Sent from my iPhone

[2016-07-29 13:00] bdleedy commented on #1657
1 mystery solved... Firefox quickly and happily installed on the server. Working now. I couldn't figure out why I could access remotely (firefox) and not locally(IE).

[2016-07-29 13:42] lolodomo commented on #1902
I need a little time to finidh the change and test it. Should be done probably before the end of this week.

[2016-07-30 00:50] lolodomo opened #1939 "Default thing name"
Could it be possible to have a default thing name when not defined in the config files ?
For my NTP and astro things, I defined no name in my config files.
After starting openHAB, sometimes my NTP thing has no name, sometimes it has "NTP Server" as name.
My astro thing has sometimes no name, sometimes "Astro sun data"..
The behavior should be always the same.

[2016-07-30 00:56] lolodomo commented on #1928
With offline distribution 430, I am not able to reproduce this issue. That's weird.
My hue things even always initializes correctly.

[2016-07-30 00:56] lolodomo commented on #1924
Please reopen this issue, I am still seeing these warnings with offline distribution 430. But it is less frequent, I mean not at each startup.

[2016-07-30 01:23] lolodomo commented on #1928
I was finally able to reproduce the issue but it seems to be a consequence of issue #1926.
If I have not the exception, the channels are present. When I have this exception (not often), the channels are missing.

[2016-07-30 01:32] lolodomo commented on #1901
I have the feeling that GENA subscription is simply not working always at startup.
We should have something that checks that we receive something from the events we subscribed to. If not, at least a warning should be logged.

[2016-07-30 01:44] lolodomo commented on #1901
Just an idea (something to check): maybe the services are not unregistered correctly when OH2 is shutting down.

[2016-07-30 08:14] lolodomo commented on #1901
I enabled the DEBUG log for org.eclipse.smarthome.io.transport.upnp and I got interesting log entries:
[code]
All GENA subscriptions failed.
And there is this error "Current state of service prevents invoking that action. Connection error or no response received".
But some invoked actions are working.

[2016-07-30 08:15] kaikreuzer commented on #1924
Could you again provide a log and the exact version of the org.eclipse.smarthome bundles (do "bundle:list -s" on the console)?

[2016-07-30 08:19] kaikreuzer commented on #1928
Ok, thanks. So let's see if a fix of #1926 solves this as well.

[2016-07-30 08:23] lolodomo commented on #1924
[code]
and log warnings:
[code]

[2016-07-30 08:33] lolodomo opened #1940 "ItemStateChangedEvent no more logged in the console"
The ItemStateChangedEvent events are no more logged in the console; they are present in file file events.log.

[2016-07-30 08:48] cdjackson commented on #1477
@sjka sorry - I missed your comment.

The issue is still there - as I said in the initial report, this can be worked around, it just seems wrong that when I define something as an Integer in the configuration, that I get a Decimal (ie it arrives with decimals).

I just confirmed that if I set a value in HABmin, it is sent as (for example) 1800, but when it is passed into the thing handler ```handl

[2016-07-30 08:58] cdjackson commented on #1477
@sjka said ->

So this is a change from what was previously done in the config - previously we received Integers. If this is now confirmed that we will always get BigDecimal (which I would agree is more consistent with the configuration store) then I'm fine with this.

I don't however agree that the normalisation is working in this instance, since I still see the scale and ```.0``` on the end of t

[2016-07-30 09:00] lolodomo commented on #1901
GENA subscriptions are requested in onUpdate method and so while initialize() is called by the framework. Is it too early for any reason ?

Should we not delay the starting of the polling job of few seconds in order to be sure that the GENA subscriptions are ok when the first actions are invoked ?

[2016-07-30 09:13] kgoderis commented on #1901
Mmhhhh *normally* these two things should be related as the subscriptions are for data transfer from the UPNP device to openhab, whilst the polling is done from openhab to the UPNP device
You can invoke an Action at all times ef without subscription if I am not mistaking...

K

Sent from my iPhone

[2016-07-30 09:13] lolodomo commented on #1901
I think that method "failed" in UpnpSubscriptionCallback should trigger something in the UPnP participant to inform it that the subscription failed ? Same thing for method "established" ?

In the method "failed", I think that would better to have a warning log rather than a debug log ?

@kaikreuzer : please enter in the discussion, the problem could be either in the Sonos binding or in the UPnP tr

[2016-07-30 09:18] lolodomo commented on #1901
@kgoderis : yes, I know, you are right.
Why my first action invokation failed ?

PS: of course, I have sometimes a normal startup with no errors and with GENA subscriptions working.

[2016-07-30 09:26] lolodomo commented on #1901
Maybe the GENA subscriptions should be requested by a (delayed) thread ?

This is done while the thing is even not yet ONLINE.

I would be curious to know if it can help if I delayed the polling job by 1 second and request the GENA subscriptions in another thread delayed by few seconds.

[2016-07-30 09:51] lolodomo commented on #1903
Will see if a fix for issue #1901 fixes this one too. But that is probable.

[2016-07-30 10:02] lolodomo opened #1941 "Enhancement proposal for UPnP transport service (GENA subscription)"
I would suggest to add 2 methods in interface UpnpIOParticipant: onSucceededSubscription and onFailedSubscription.
Of course, class UpnpSubscriptionCallback should be adjust in consequence to trigger these new methods.

These changes would allow any binding using the UPnP transport service to be informed if a GENA subscription failed or succeeded.

[2016-07-30 10:28] lolodomo commented on #1901
I tried to put GENA subscriptions in a delayed thread but unfortunately it does not avoid random failing subscriptions !

[2016-07-30 11:03] lolodomo commented on #1901
I updated the UPnP transport bundle to get the error message:
[code]
Could it be a too short timeout used by jupnp ?

[2016-07-30 11:15] lolodomo commented on #1901
@kaikreuzer : what HTTP timeout is used in jupnp ?
Can I update it through eclipse smarthome code or a setting ?

[2016-07-30 12:19] lolodomo opened #1942 "Sonos binding: playing a playlist failed"
Here is the exception:
[code]

[2016-07-30 12:27] lolodomo opened #1943 "Sonos binding: playing a track should first switch to the queue"
When requesting to play a track number from the queue, the binding should first switch to the queue if the queue is not being the current source.

[2016-07-30 12:32] lolodomo opened #1944 "Sonos binding: playing a radio leads to an exception (XML parsing error)"
Here is the exception:
[code]

[2016-07-30 12:41] lolodomo commented on #1942
Probably due to escaped characters ?

[2016-07-30 12:42] lolodomo commented on #1944
Probably due to escaped characters ?
The name of one of my radios has a non ASCII character.

[2016-07-30 12:45] lolodomo commented on #1942
Items are added in the queue but mixed with the items already present in the queue.

And these items are not readable. When playing the item from the Sonos application, the track is read less than one second and then it goes to the next item.

[2016-07-30 12:52] kgoderis commented on #1942
We already has a similar issue in the past. It was solved but it seems it occurs again at other places

Sent from my iPhone

[2016-07-30 13:11] lolodomo commented on #1942
The items are finally added at the beginning of the queue. Random playback was enabled, that explained the random order I saw..

If I used a playlist with only classic characters, I get the exception but finally the items are added to the queue and the playback is started as expected.

So the only problem seems to be with playlists containing special characters.

[2016-07-30 13:23] lolodomo commented on #1942
@kgoderis : it is something I already fought with when updating the Vera Sonos plugin.
I will take a look.

[2016-07-30 18:24] maggu2810 commented on #1511
Will close this issue until I run again into this failure.

[2016-07-30 18:24] #1511 closed

[2016-07-30 18:48] maggu2810 commented on #1939
This could be related to #1550

[2016-07-30 19:34] lolodomo opened #1945 "Sonos binding: cannot play a Spotify album as Sonos favorite"
Using the "favorite" channel, I can play a Spotify track set as a Sonos favorite but I cannot play a Spotify album set as a Sonos favorite.
This could be due to the fact that few services like Spotify require that the content of the favorite to be put in the queue.

[2016-07-30 19:47] lolodomo commented on #1903
I can see with logs that even when I got invalid subscription ID, the binding tries to subscribe to events.
The only problem is GENA subscriptions that regularly failed at startup and that is covered by issue #1901.

[2016-07-30 19:47] #1903 closed

[2016-07-30 19:57] kaikreuzer commented on #1939
Very likely, so I'd suggest to close this as duplicate.

[2016-07-30 19:57] #1939 closed

[2016-07-30 20:02] kaikreuzer commented on #1924
The last stable ESH build is from July 27, while this fix only went into the nightly of July 28. So you will have to wait for the next [stable build](https://hudson.eclipse.org/smarthome/job/SmartHomeDistribution-Stable/changes) in order to find this fix in openHAB.

[2016-07-30 20:04] kaikreuzer commented on #1940
This is no ESH topic, just a logging configuration of openHAB. This change is related to https://github.com/openhab/openhab-distro/issues/224.

[2016-07-30 20:04] #1940 closed

[2016-07-30 21:24] kaikreuzer commented on #1901
I don't know, probably one defined in the UPnP specs.

No, I am not aware of such a setting, but I also doubt that it will make any difference. I think it is rather the Sonos speaker that does not respond in certain constellations, so the bug is probably rather in the Sonos firmware than in ESH or jUPnP...

[2016-07-30 21:35] lolodomo commented on #1901
The GENA subscription I implemented for the Vera Sonos plugin is very reliable. So I don't think the problem is in the Sonos firmware.
I am almost sure that the problem is due to the timeout. In the Vera plugin, I am using a 5s timeout. I think (that is old now and I am not sure) that I discovered that a 2s timeout was not enough.

What do you think about my idea to have a way to notify the bindin

[2016-07-30 21:38] kaikreuzer commented on #1901
Sounds ok to me, but as I never dealt with Sonos and GENA myself in depth, I would like to leave the further discussion to you, @kgoderis and @R-Edelhoff, since all of you have spent quite some time with that already and hence are the experts.

[2016-07-30 21:40] kaikreuzer commented on #1941
Ok for me, but I would suggest to call the methods onSubscriptionSucceeded and onSubscriptionFailed.
Feel free to create a PR for it.

[2016-07-31 07:19] kgoderis commented on #1945
When initially developing the binding the Spotify service was not yet available on Sonos. In fact, few services were, and so I did not spend much time on that. If you could propose a PR for this.....

[2016-07-31 07:43] lolodomo commented on #1941
I changed my mind a little, I think all this should be managed by the transport UPnP service and what we need is just a new method indicating if a service subscription is active or not.
So I propose now to add this method to the UpnpIOService interface:
[code]
This change will not require any change in the bindings using the transport UPnP service.

[2016-07-31 07:54] lolodomo commented on #1901
Unfortunately, I don't find in jUPnP where are implemented the low level HTTP calls ! I can't control what HTTP timeout is used :(

What I will do as a workaround for the Sonos binding is first implementing #1941 in the UPnP transport service. Then I will include in the Sonos polling job a control of each subscription. If the subscription is not active, the polling job will request a new subscript

[2016-07-31 08:12] kgoderis commented on #1901
Maybe it is wiser to have the jupnp track the subscriptions and maintain them and not have that kind of detail in a/the Sonos binding. Jupnp already has a pool of threads that can be used for this purpose.

Sent from my iPhone

[2016-07-31 08:17] kgoderis commented on #1901
And have callbacks in ioparticipant to notify about changes in the state of a subscription.

Sent from my iPhone

[2016-07-31 08:19] lolodomo commented on #1901
jupnp is certainly dealing with automatic renewing of subscriptions.
In our case, the subscription failed because jupnp probably does not wait enough for a Sonos response. In this case, jupnp can just notify that the subscription failed. So this case cannot be included in jupnp. The thing that could help in jupnp is a way to set the timeout.

[2016-07-31 08:25] lolodomo commented on #1901
Callbacks in ioparticipant was my initial idea but it will require to update all bindings using the UPnP transport service (at least 3 bindings). What needs to know a binding is only if a subscription is active, that is why I propose to keep the stuff in the transport UPnP service and just provides a method to the bindings that indicates if the subscription is active or not.

[2016-07-31 08:33] kgoderis commented on #1901
I understand but still I think we should solve it in jupnp.

Sent from my iPhone

[2016-07-31 08:33] kgoderis commented on #1901
Notify callbacks can be optional for a binding to implement....

Sent from my iPhone

[2016-07-31 08:34] lolodomo commented on #1939
I added a name in my config file ;)

[2016-07-31 08:42] lolodomo commented on #1901
Yes, there is absolutely something to fix in jupnp because there is no reason that GENA subscriptionss fail for Sonos. Unfortunately I am not able to fix jupnp, implementation is too much complex for me :(

Yes, any binding could choose to implement or not these callbacks, but at least the override method of the interface should be declared, meaning a minor change in the bindings. If we go to this

[2016-07-31 08:48] lolodomo commented on #1901
Another solution would be to update the transport UPnP service to have the method addSubscription returning if subscription is OK or not. It will require that this method waits for the result notification. But doing that, the binding will immediately knows if its request is OK or not.

[2016-07-31 08:53] kgoderis commented on #1901
Did you in your installation ever see subscriptions fail after the initial startup sequence?

Sent from my iPhone

[2016-07-31 08:59] lolodomo commented on #1901
Not sure to understand your question.
I am testing the Sonos binding only since few days.
If your question is about subscription renewal, it is something I have not yet checked. I imagine it could fail for the same reason (if my hypothesis is right).
I have no other binding using the transport UPnP service (and so jupnp).

[2016-07-31 09:08] lolodomo commented on #1901
When I tried to delay the GENA subscriptions, I first thought the problem was solved because I got 2 consecutive success but finally the third startup failed, so I forgave this solution.

[2016-07-31 09:17] lolodomo commented on #1901
What is strange is that I am the first to detect this problem.
The failure rate is high and most of users should have seen at least that most of channels are not updated.

[2016-07-31 09:29] kgoderis commented on #1901
I have seen failures on subscriptions because of differences in Sonos hardware (before the change of the thingtypes) (I have play:1, playbar, sub, connect:amp, zp120 - 25 devices in total), and after a restart of the binding but nothing else. Openhab runs on a Mac mini

Sent from my iPhone

[2016-07-31 16:38] lolodomo commented on #1901
Interesting, I discovered that I can have sometimes another error:
[code]

[2016-07-31 18:01] kgoderis commented on #1901
What kind of Sonos device are those 2? Some Sonos do not implement certain UPNP subdevices

Sent from my iPhone

[2016-07-31 19:14] lolodomo commented on #1901
Connect amp and Play 5.

[2016-07-31 19:34] lolodomo commented on #1944
I fixed this issue, there was a missing catch for the exception.
Will provide a PR when my previous PR is merged.

I am still having a problem to select a radio with special characters (accents) in the name. But maybe that is more a problem in my rule ? Here is my rule code:
[code]
There is no matching, maybe a question of encoding ?

[2016-07-31 19:38] lolodomo commented on #1942
The exception was the same as the one described in issue #1944.

The other problem I fixed is that it is necessary to change the current URI to switch to the queue. If not it was working only if current URI was pointing to the queue.

I will provide a PR when my previous PR is merged.

[2016-07-31 19:39] lolodomo commented on #1943
I fixed this issue.
I will provide a fix as soon as my previous PR is merged.

[2016-07-31 22:24] lolodomo commented on #1945
Ok, I fixed this one too, there was just a little thing to change in playFavorite.
With the fix, all favorite that is a container object will be "injected" in the queue.

I will try to test with all kinds of things in favorite.

I will provide a new PR fixing this issue as soon as my previous PR is merged.

[2016-08-01 06:14] lolodomo commented on #1792
@joergkling : could you please test the last nightly build and confirm your problem ?

[2016-08-01 08:00] lolodomo commented on #1901
For the error "Could not find an upnp device for participant", I know what(s wrong. The binding probably invokes actions (or subscribes services) while the jupnp library has not yet discovered the UPnP device.
We have to ckeck if the UPnP device is registered before starting anything in the binding. I will at least change that.

[2016-08-01 08:16] joergkling commented on #1792
Thanks @lolodomo, tried the latest nightly build (smarthome) but unfortunately the OSRAM bulbs still don't switch off.

219 | Active   |  80 | 0.9.0.201607300907    | Eclipse SmartHome hue Binding

[2016-08-01 08:28] afuechsel commented on #1792
@joergkling @lolodomo afaik the nightly build would not help as the pr is not yet merged so it is not built or am I wrong? @kaikreuzer ?

[2016-08-01 08:56] kaikreuzer commented on #1792
I think @lolodomo is fully aware that #1920 isn't merged yet. So when he asked to test the nightly build, I guess he wanted to be sure that the issue at all still exists.
Note that he wrote [here](https://github.com/eclipse/smarthome/pull/1920#issuecomment-236328537) that he actually does not see any general problem with the setting of the properties anymore.

[2016-08-01 09:01] afuechsel commented on #1792
It's interesting, that the problem does not occur for @lolodomo but for @joergkling. Thinking about this PR, it may be, that @lolodomo is right and it won't fix anything. I still would like to enable @joergkling to retest with this PR although we think, it should not make a difference. just to be sure. How can we provide him with a hue binding of this PR? Would the jar-file be enough?

[2016-08-01 09:06] joergkling commented on #1792
The issue here is only valid for OSRAM bulbs which are on a software version from prior Q1 2016.

@afuechsel, yep, a jar of the binding is sufficient. (assuming I can copy it to addons folder and do the unload/load in the console)

[2016-08-01 12:25] lolodomo commented on #1941
The UpnpIOParticipant interface is actually used by 3 bindings:
- Wemo in eclipse smarthome repo
- Sonos in eclipse smarthome repo
- Samsungtv in openhab2-addons repo

If I change the interface to add a new method, these 3 bindings will have to be updated. How can I schedule the changes in the 2 repo without breaking the nightly builds ?

Finally I would like to add just a new method named onSubsc

[2016-08-01 12:33] afuechsel commented on #1792
@joergkling github only accepts zip files, so I zipped the jar before adding it here. Please try with this binding. Would be interesting to see, if this makes a difference. Although we all (including me now) think, it won't make any....

[org.eclipse.smarthome.binding.hue-0.9.0-SNAPSHOT.jar.zip](https://github.com/eclipse/smarthome/files/393716/org.eclipse.smarthome.binding.hue-0.9.0-SNAPSHOT.jar.

[2016-08-01 12:48] lolodomo commented on #1901
I have reduced the failure rate by
- moving the GENA subscriptions to the polling job, that is running it asynchronously in a separate thread rather than during initialize() - having too much code inside initialize() could lead to several problems
- delaying GENA subscriptions and actions invokations by the polling job if the UPnP device is not yet registered by jupnp - not frequent but it can hap

[2016-08-01 13:04] lolodomo commented on #1901
Another point I never mentioned: when it fails, it fails for all subscriptions and for all my Sonos (2).
Ok for all or KO for all.

[2016-08-01 13:12] kgoderis commented on #1901
Interesting. That would point to an issue in the UPNP library

Sent from my iPhone

[2016-08-01 13:31] ivivanov-bg opened #1947 "DiscoveryServiceRegistry: expose DiscoveryService timeout"
Currently when a DiscoveryService is registered a timeout in seconds is specified.

This timeout however is not accessible at service use time (for eg. to show some loading indicator to the end-user).

It will be good to have a method created in the DiscoveryServiceRegistry to retrieve the maximum discovery step timeout (as there might be more than one service available) by thingTypeUid (or binidn

[2016-08-01 15:16] thhart opened #1948 "Text type configuration not working"
I have created a config-description as seen below, unfortunately it looks like only integer configuration is working currently, when I want to configure my thing only the "poll" parameter is working:

![paper ui - mozilla firefox_144](https://cloud.githubusercontent.com/assets/2632538/17298759/97ca3aea-580b-11e6-9ab5-d82b789869bb.png)

[code]

[2016-08-01 15:23] kaikreuzer commented on #588
@kgoderis As a long time openHAB 1 user, you should have been aware of that - to make it even more obvious, I have tried to document [how "Things" came up in the first place](http://docs.openhab.org/tutorials/migration#understanding-things).

Why this? You can define your Thing dynamically without requiring a thing type. Ok right now this won't work with DSL defined things; but would it be all fin

[2016-08-01 15:33] #1863 closed

[2016-08-01 15:36] kaikreuzer commented on #1863
@joergkling This isn't possible due to the way the ThingUIDs are constructed (it must be clear that "bridge1" refers to a bridge and is not the id of the Thing.

But note that #1946 reverts the change in the light discovery in order to avoid such confusion; the discovered UIDs will now be `hue:0200:bridge1:1` etc, so hopefully similar to what you would expect.

[2016-08-01 15:46] joergkling commented on #1863
great, this will also help explaining the manual thing definition in the documentation.

[2016-08-01 18:18] joergkling commented on #1792
Thanks, @afuechsel, I was able to install the binding. And yes, there seems to be no difference (in functionality & log) between the binding from yesterday's build and your ad-hoc version.

While testing I realized that I mixed up something and might have misled you :$ First off all, turning off the OSRAM bulb using a **switch** item is working.

But I can see a difference with the OSRAM bulbs whe

[2016-08-01 19:07] lolodomo commented on #1948
It has been fixed recently.
Do you use a very recent distribution ?

[2016-08-01 21:10] thhart commented on #1948
I use the development environment under Eclipse, I tried to update all git resources but I am not quite sure about the Runtime itself, how to check the correct version/build and update the Runtime?

[2016-08-02 06:24] afuechsel commented on #1792
Ok, so I will close this PR and not merge it. It doesn't fix your issue.

I still wonder, why it works for @lolodomo, setting the properties happens at exactly the same place, where the OSRAM hack is initialized. We need to retest it ourselves but I am still lacking the needed devices.

And yes, I understood your original issue in the way you described the dimmer: it is a bug in older OSRAM firmwa

[2016-08-02 06:46] lolodomo commented on #1792
For information I just own Philips hue color lights, not OSRAM.

[2016-08-02 06:51] afuechsel commented on #1792
@lolodomo yes, I understand, but you confirmed, that properties had been set for you each time. And as the OSRAM hack is initialized at exactly the same place, this is related. Furthermore, I added some test cases for both the property settings and the OSRAM hack, that are alyways green, confirming that OSRAM should work. There's probably a bug in my test cases then as well. I need to retest this

[2016-08-02 07:02] chr-fritz opened #1951 "Breaking API Change in #1933"
The PR #1933 removes the method `withMessageKey()` and introduces the new method `withMessageKeySuffix()`. This breaks the compatibility with the ESH version 0.8.0. Better would be to set the method `withMessageKey()` deprecated and remove them in a later version.

[2016-08-02 07:35] joergkling commented on #1792
All, please stop working on this for the moment. I just tested the OSRAM bulbs on a freshly installed system using the PaperUI only and there it works!!! So perhaps this is a local issue. Will do some more tests and report back.

[2016-08-02 08:31] kaikreuzer commented on #1792
Ok, let's close it and in case you still see a problem, feel free to re-open (or create a new issue with a new description).

[2016-08-02 08:31] #1792 closed

[2016-08-02 09:11] tomhoefer commented on #1951
Even if we would introduce withMessageKey again then the corresponding message could not be translated. For this reason bindings for ESH 0.9 should be adopted to the new operation.

[2016-08-02 09:14] kaikreuzer commented on #1951
Which sounds fine for me as there are hardly any bindings out there yet that use the pretty new config status feature.

[2016-08-02 09:14] #1951 closed

[2016-08-02 09:30] kaikreuzer commented on #1948
For the ESH IDE, please see https://www.eclipse.org/smarthome/documentation/development/notes.html#paperui-development-jshtml on how to work on the latest Paper UI sources.
If you are on the OH2 IDE, please make sure that you have reloaded the target platform. It should show a version from Aug 1 for the ESH bundles:

<img width="458" alt="screen shot 2016-08-02 at 11 29 50" src="https://cloud.gith

[2016-08-02 09:30] #1948 closed

[2016-08-02 09:39] lolodomo commented on #1944
Regarding my problem of accents, I checked that this call returns true (as expected) :
[code]
But this one returns false:
[code]
So I don't think the problem is inside the binding but how you have to handle non ASCII character sin rule when setting an item.

[2016-08-02 09:48] kaikreuzer commented on #1043
FTR, here is some initial code for the further discussion: https://github.com/eclipse/smarthome/pull/1936 (thanks @phxql)

[2016-08-02 09:51] lolodomo commented on #1944
If I change my rule like that:
[code]
Then the following code:
[code]
returns:
[code]

[2016-08-02 09:54] resetnow commented on #1721
I assume this can be closed?

[2016-08-02 09:55] kaikreuzer commented on #1721
I'd say so.

[2016-08-02 09:55] #1721 closed

[2016-08-02 09:57] lolodomo commented on #1944
Is the problem with "command.toString()" that will not build a string independently of its original encoding ?

PS: Command object is coming from handleCommand

[2016-08-02 10:15] kaikreuzer commented on #1941
You can prepare a PR for the openhab2-addons repo and I will make sure that I merge it as soon as the ESH changes are released to be included in openHAB. (see e.g. https://github.com/openhab/openhab2-addons/pull/1140 where the same is done).

[2016-08-02 10:16] kaikreuzer commented on #1941
@kgoderis Is that approach ok for you?

[2016-08-02 10:37] lolodomo commented on #1944
What stupid I am, I was not using the right letter in the rule !
I suppressed my previous messages.

[2016-08-02 11:30] danchom commented on #1862
Yes it should be updated.
@Ani please update the json schema.

[2016-08-02 11:55] danchom commented on #1651
Unfortunately I can't reproduce your problem, but I guess what is going on:
1) The rule is loaded from DB
2) The module handler factory (BasicModuleHandlerFactory) is registered.
3) The rule engine was notified about new types carried by the BasicModuleHandlerFactory and tries to resolve NOT_INITIALIZED rules
4) The rule resolution fails because the needed the needed MuduleTyeps were not parsed by

[2016-08-02 13:35] lolodomo opened #1954 "Sonos binding: currenttitle channel temporarily reset when changing radio station"
A little bug: when a new radio is selected, the title channel is reset and only set later, maybe when the polling job is run ?

[2016-08-02 15:59] #1926 closed

[2016-08-02 16:16] #1932 closed

[2016-08-02 16:34] lolodomo commented on #1745
PR #1745 fixed this issue.

By the way I opened an issue in JmDNS project.

[2016-08-02 16:34] #1745 closed

[2016-08-02 16:39] kgoderis commented on #1941
@lolodomo For my understanding, onSubscriptionResultReceived is same as `public void isSubscriptionActive(UpnpIOParticipant participant, String serviceID)` you mentioned before, or is rather meant to be a callback?

@kaikreuzer I am ok with this, but independently from this I would try to look into the jupnp http time-out issue, and see if we should not add some time-out parameter to the method to

[2016-08-02 17:00] lolodomo commented on #1600
I opened the same issue few days ago: #1942.
So this issue will be fixed by my PR being in the pipe.

[2016-08-02 17:00] chrisschauer opened #1955 "WeMo discovery crashes if there are no paired devices"
**Reproduce:**
 * Install wemo binding
 * Connect WeMo Link with WiFi (do not add some LED light or something else)
 * Scan for Wemo -> WeMo Link should appear in Inbox
 * Approve WeMo Link (Bridge)
 * Execute Scan for "wemo"

**Log:**

[code]

**Reason**
This is a correct response:
[code]

But  ```<DeviceLists>0</DeviceLists>``` cannot be parsed as xml in https://github.com/eclipse/smarthome/blob

[2016-08-02 17:10] lolodomo commented on #1617
I could take a look for repeat and shuffle features but if I correctly remember they are mixed in the same setting.

[2016-08-02 17:44] lolodomo commented on #1941
@kgoderis : you're right, that is the same idea. In fact, I hesitated between two implemntation options and explained the two in the discussion:
- option 1: just adding a new method in the UPnP service; the bindings should call this method when they want to know if a subscription is active or not.
- option 2: enhancing the UpnpIOParticipant interface to add a new notification method. The bindings

[2016-08-02 17:48] lolodomo commented on #1800
Is the ImageItem type alreaded supported by HABdroid ?

[2016-08-02 18:13] kgoderis commented on #1941
@lolodomo me too. For the other 2 bindings just provide a standard implementation of the method that does nothing at all. That's 2 lines of code ;-)

[2016-08-02 19:01] kaikreuzer commented on #1875
fixed by #1905

[2016-08-02 19:01] #1875 closed

[2016-08-02 19:02] kaikreuzer commented on #1900
fixed by #1905

[2016-08-02 19:02] #1900 closed

[2016-08-02 19:02] kaikreuzer commented on #1902
fixed by #1905

[2016-08-02 19:02] #1902 closed

[2016-08-02 19:03] kaikreuzer commented on #1745
Thanks, and I already fixed it today: https://github.com/jmdns/jmdns/pull/86

[2016-08-02 19:05] kaikreuzer commented on #1800
No, feel free to enter issues for the mobile apps in their respective openHAB repos.

[2016-08-02 19:12] lolodomo commented on #1745
@kaikreuzer : cool.
Will remain to update the library used in openHAB.
When new library is included in the nightly builds, let me know and I will enable traces to check that all is ok.

[2016-08-02 19:19] kaikreuzer commented on #1745
The new lib might take a moment - last release is a couple of months old already; if my time allows, I will do a new release by the end of this week, let's see.

[2016-08-02 19:29] lolodomo commented on #1901
Here is an exemple of logs:
What is interesting is that the feedback of failures arrive 10 seconds after calling. That would mean that the timeout is around 10 seconds which is more than expected.
Maybe the problem is elsewhere in the jupnp library.
[code]

[2016-08-02 21:04] lolodomo commented on #1945
PR #1957 will fix this issue.

[2016-08-02 21:05] lolodomo commented on #1944
PR #1957 will fix this issue.

[2016-08-02 21:05] lolodomo commented on #1943
PR #1957 will fix this issue.

[2016-08-02 21:06] lolodomo commented on #1942
PR #1957 will fix this issue.

[2016-08-02 21:06] lolodomo commented on #1600
PR #1957 will fix this issue.

[2016-08-02 21:08] kaikreuzer commented on #1945
fyi, it is better to say "fixes #1945" in a comment on #1957, because this will enable the github "auto-close" feature and will also automatically add a link here.

[2016-08-02 21:10] lolodomo commented on #1941
Let's go for option 2.

I will wait for the merge of my PR #1957 before proposing a PR for this enhancement.

[2016-08-03 09:02] lolodomo opened #1959 "Bundle sometimes started several times"
Somestimes, I can see at startup that my Powermax bundle (1.x binding) is started several times:
[code]

[2016-08-03 09:38] lolodomo commented on #1941
Ok, I have implemented the updated API and used it in the Sonos binding to restart the GENA subscriptions when tey failed. It works well.
I will provide a PR when my pending PR for Sonos binding is merged.

Of course, this should not prevent from searching what's wrong in jupnp.

[2016-08-03 10:03] watou commented on #1959
Might this be an issue to solve in the binding, or have you seen a similar issue in other 1.x bindings?  I see above [this line](https://github.com/openhab/openhab/blob/master/bundles/binding/org.openhab.binding.powermax/src/main/java/org/openhab/binding/powermax/internal/PowerMaxBinding.java#L445) that you are taking action on the `updated()` method when `config` is `null`, which might be related

[2016-08-03 10:03] kaikreuzer commented on #1959
This is not related to ESH, since ESH does not even support openHAB 1.x bindings.

Probably best to report at https://github.com/openhab/openhab-distro, but it would be helpful if you first further analyze whether it is specific to this bundle .

[2016-08-03 10:03] #1959 closed

[2016-08-03 11:17] lolodomo commented on #1959
@watou : that's right, I think I have seen that only for the Powermax binding.
In fact it does not happen very often.
In fact, I am taking actions when config is not null but not when null. Do you think I should add this when config is null ?
[code]

[2016-08-03 11:53] lolodomo commented on #1901
In addition to the GENA subscription problem, I think there is another problem when GENA subscriptions succeeded because for example state and control channels are apparently not always set at startup. Later, when Sonos state is updated, the channels are updated.
It could be either a bug in the binding or a bug in the UPnP transport service / jupnp library that would miss the first GENA notificati

[2016-08-03 12:22] sjka commented on #1751
running 40 iterations didn't bring up a single failure, so I think it's safe to say this indeed has been fixed.
Thanks!

[2016-08-03 12:22] #1751 closed

[2016-08-03 12:40] ivivanov-bg commented on #1954
Is the title channel updated at all?

From what I've seen - playing radio (through TuneIn in Sonos App) neither the currenttitle nor the currenttrack channels are updated.

I have even created a small fix for this.

[2016-08-03 13:20] lolodomo commented on #1954
Yes I can see the currenttitle channel set with the station name and the station frequency. Just that after a change of station, the channel is set to empty during a certain time.
currenttrack channel looks good for me.

[2016-08-03 14:04] lolodomo commented on #1954
currenttrack channel is immediately updated and contains as first part what will be set later in currenttitle channel.
There is something in the code relative to opmlurl, an undocumented binding parameter.  When set, the binding uses this URL to get station info but apparently do it not too often. By the way, this option is not set in my case and I don't understand its need.

[2016-08-03 14:36] lolodomo commented on #1954
This opmlurl is in a certain way provided by the factory when the handler is created.
So the problem is in the parse of the result of this query. The info are correctly retrieved but the title variable is not correctly set.
Should be easy to fix.

[2016-08-03 16:31] watou commented on #1959
The binding is taking actions on [lines 430-443](https://github.com/openhab/openhab/blob/master/bundles/binding/org.openhab.binding.powermax/src/main/java/org/openhab/binding/powermax/internal/PowerMaxBinding.java#L430) regardless of `config` possibly being `null`.

I think the binding should completely ignore calls to `updated()` when the `config` parameter is `null`.

[2016-08-03 17:07] lolodomo commented on #1901
Ok, understood. The first notifications are bypassed because onValueReceived bypasses everything until the thing is ONLINE. The thing becomes ONLINE later while updatePlayerState is called in the polling job.

@kgoderis : what was the reason to check the thing state in onValueReceived ? In my opinion, if we receive something, we should even make the thing ONLINE if not yet ONLINE.

[2016-08-03 17:25] ivivanov-bg commented on #1954
In my setup - the opmlUrl is not provided (It's set to null) so the information has to be retrieved by the UPnP services the player provides. And the only way to do this is using the code above.

I'm not sure if it's related to the radio stations which are been played (even though I have tried few local stations for Sofia, Bulgaria but also some German stations as well and the result was always th

[2016-08-03 18:17] lolodomo commented on #1954
I have done nothing and I can tell you that opmlurl is set in my case. It is retrieved by the handler factory like that:
[code]
I assume this is defined somewhere in a config file of the OH2 distribution. Are you using a standard distribution ?

In fact, the problem was that the title was set and then imlmediately reset in updateTrackMetaData. I fixed that by replacing:
[code]
by
[code]

@ivivanov

[2016-08-03 18:22] lolodomo commented on #1954
This setting is defined in file runtime/etc/services.cfg:
[code]

[2016-08-03 19:11] lolodomo commented on #1901
Last point is that, to have a correct init state of all channels, the binding should know the group topology first.
Putting service ZoneGroupTopology as first service subscription could help but will not be a garantee that the group topology is loaded first.

[2016-08-04 07:43] sjka commented on #1896
IMHO, a single state will not fit all of our needs. As @kaikreuzer pointed out, we e.g. have services that require other services to be up and running and fully loaded (whatever that means). Then again, there might be other services which depend on the previous ones to be started. So we will end up having several different levels of "active", like e.g. the start levels for bundles in OSGi. Additio

[2016-08-04 08:13] #1955 closed

[2016-08-04 08:36] ivivanov-bg commented on #1954
I guess with the latest change both cases will be addressed

[2016-08-04 09:19] lolodomo commented on #1954
My change will only fix the current implementation using Opml URL.
Your case is another issue or maybe more a feature request that is not yet implemented in the binding. Please enter a new issue/request in this case.

[2016-08-04 09:33] kgoderis commented on #1901
@lolodomo a very long time ago I had a discussion with Kai on how we could check whether devices are online/offline. Unfortunately, I can't remember all the options we discussed, but we decided to implement a separate polling mechanism. But yes, if we receive something we should put the device ONLINE.

[2016-08-04 09:44] lolodomo commented on #1901
@kgoderis : finally I keep the code unchanged in method onValueReceived but I made a change to be sure that the thing state is initially ONLINE.
You can see the little changes in my PR #1957 waiting for your feedback.

[2016-08-04 10:00] kgoderis commented on #1901
mmh... that could lead to a strange effect that the device is ONLINE, and then OFFLINE after startup. Maybe it does make more sense to remove https://github.com/lolodomo/smarthome/blob/4beded998c785bb83a52138dd42b2e48a017739f/extensions/binding/org.eclipse.smarthome.binding.sonos/src/main/java/org/eclipse/smarthome/binding/sonos/handler/ZonePlayerHandler.java#L365 altogether. I am not sure what I

[2016-08-04 10:12] lolodomo commented on #1954
PR fixing this issue is now merged.

[2016-08-04 10:12] #1954 closed

[2016-08-04 10:12] lolodomo commented on #1945
PR fixing this issue is now merged.

[2016-08-04 10:12] #1945 closed

[2016-08-04 10:12] lolodomo commented on #1944
PR fixing this issue is now merged.

[2016-08-04 10:12] #1944 closed

[2016-08-04 10:13] lolodomo commented on #1943
PR fixing this issue is now merged.

[2016-08-04 10:13] #1943 closed

[2016-08-04 10:13] lolodomo commented on #1942
PR fixing this issue is now merged.

[2016-08-04 10:13] #1942 closed

[2016-08-04 10:15] lolodomo commented on #1901
Yes, this test is probably useless.

[2016-08-04 10:18] lolodomo commented on #1600
PR fixing this issue is now merged. This issue has to be closed.

[2016-08-04 13:18] lolodomo commented on #1901
Here is the summary of the situation:
- There is probably a bug in the jupnp library making the GENA subscriptions sometimes failing
- With the last PR I submitted (not yet merged), there is a retry mechanism implemented that makes the binding finally reliable
- there is probably still a problem at startup with Sonos things that are slave members of a Sonos group. I have to test this case but I th

[2016-08-04 14:43] markusjw commented on #1700
I just wanted to raise the same issue.
The effect is reproducible when you have a Number item (usually defined via a thing channel) with a high maximum value, combined with a small step value.
An example would be an energy counter item which can reach high numbers, so that such item definitions actually exist.
If there are several of these items, the page script can take minutes to load. It seems

[2016-08-04 15:46] kaikreuzer opened #1970 "Reduce font size of headers in config param descriptions"
Config parameter descriptions are allowed to have HTML tags, e.g. h1, h2, etc.
The Paper UI renders them currently in the context of the page, i.e. h1 is HUGE. Instead, h1 should be interpreted to be the biggest font "within the description" and this should be really small as a parameter description is a text that should not stand out on the page.

[2016-08-04 16:07] kaikreuzer opened #1971 "Move "system" service configuration on a page of its own"
Currently, the Configuration->Services menu is a collection of all kind of different services in the runtime, which makes sense as a generic mechanism to allow any kind of extensions.

What I notice from a solution perspective though is that the "system" tab is rather difficult to find and not well usable as it is an aggregation of many small services with a few parameters only.
From a user perspe

[2016-08-04 16:14] cdjackson commented on #1971
Since changes are being suggested here (although I guess this is mainly looking at PaperUI) can I further suggest that a “services/types” interface is added to allow grouping of services in the same way as is added for extensions. Maybe this should be a separate issue, but I thought I’d add this comment as it is an issue related to the way that the UI presents the services.

[2016-08-04 16:25] kaikreuzer commented on #1971
Hm, the services are already grouped through their category (like [here](https://github.com/eclipse/smarthome/blob/master/bundles/core/org.eclipse.smarthome.core/OSGI-INF/localeprovider.xml#L18)), so what exactly are you requesting?

[2016-08-04 16:28] cdjackson commented on #1971
Yes, they are grouped - that’s fine and understood - but there is no information about the groups. So, we have (from memory) a group id of ‘system’, and ‘ui’, but the user interface must interpret these and display something nicer. I’m suggesting adding a /types endpoint that would provide {type: “system”, label: “System”} which could be i18n.  This is how it’s done in Extensions (take a look at t

[2016-08-04 16:41] kaikreuzer commented on #1971
Well, this would be a much bigger change as it requires a bigger infrastructure underneath (with interfaces to be implemented etc.).

No, the Paper UI shows them as they are - good enough for now :-)

Yes, please!

[2016-08-04 16:43] cdjackson commented on #1971
Ok - so HABmin also does the same (I capitalise it), but it just seems better to treat this in a standard way.

I'll open a separate issue.

[2016-08-04 16:46] cdjackson opened #1972 "REST "Services" endpoint should provide service types"
In the "services" endpoint, services are grouped with a type - this allows the UI to display services in a consistent way. However, the 'type' is not necessarily a user presentable string, and it's not internationalised.

The "extensions" endpoint provides the same interface, however this also provides a extensions/types endpoint to provide the type->label link. This should also be implemented for

[2016-08-04 17:57] raerae1616 commented on #640
+1 for getting this resolved sometime.  I'm just getting OpenHAB working and I stumbled upon this annoying bug within the first day of creating a small sitemap with the current date/time being displayed.

[2016-08-04 19:31] kaikreuzer commented on #640
I agree. Will try to come up with some suggestion in the next two weeks and implement the server side, so that @resetnow can finally get that done in the UI.

[2016-08-05 08:31] lolodomo opened #1974 "Things appear as ONLINE in Paper UI while the associated binding is not installed"
For example, I have things defined in my config files for Sonos devices.
The Sonos binding is not yet installed.
But my 2 things appear as ONLINE in Paper UI.

[2016-08-05 08:33] kaikreuzer commented on #1974
What does the console show if you do a "smarthome:things"? Are they shown ONLINE as well?

[2016-08-05 09:34] lolodomo commented on #1974
These things are not listed when using the console command.
It looks like Paper UI is considering by default a status ONLINE while the default should UNINITIALIZED.

[2016-08-05 09:37] kaikreuzer commented on #1974
That's not possible - this means they do not exist.

No, it does not. See here an entry for a Thing for which no binding is installed:

<img width="1152" alt="screen shot 2016-08-05 at 11 36 25" src="https://cloud.githubusercontent.com/assets/3244965/17432733/05d7af5c-5b01-11e6-97ed-d931e2ea5634.png">

[2016-08-05 09:47] kaikreuzer commented on #1947
Implemented with https://github.com/eclipse/smarthome/pull/1964.

[2016-08-05 09:47] #1947 closed

[2016-08-05 10:25] kaikreuzer opened #1975 "Paper UI should consider discovery timeouts"
As discussed in https://github.com/eclipse/smarthome/pull/1964#issuecomment-237770635, the /scan call now returns a discovery timeout in seconds.
The Paper UI should respect this value and stop showing "Searching for Things..." once the timeout is reached.

[2016-08-05 14:09] kaikreuzer opened #1976 "Do not render disabled selection boxes"
The Paper UI currently renders selection boxes that are disabled, if an item is read-only and provides options in its state description:

<img width="419" alt="screen shot 2016-08-05 at 15 39 58" src="https://cloud.githubusercontent.com/assets/3244965/17439159/ea7a94ec-5b26-11e6-90a7-8f2d447e0dac.png">

This does not make much sense - instead, the Paper UI should simply render the current state as

[2016-08-05 15:31] kaikreuzer opened #1977 "Do not persist changes to a Thing when done from the Thing handler itself"
As discussed [here](https://www.eclipse.org/forums/index.php?t=msg&th=1079343&goto=1739523&#msg_1739523), we suggest to allow Thing handlers to do dynamic changes to the Thing structure during runtime, indifferently whether where the Thing definition came from (DSL, database, etc.).
These changes should NOT be persisted, since it is assumed that the handler does them upon every start anyhow.

[2016-08-05 20:45] cdjackson commented on #1698
This issue seems to be resolved - it continues to work now, and the following is logged -:

[code]

[2016-08-05 20:45] #1698 closed

[2016-08-06 20:26] lolodomo commented on #1974
In fact, my binding was automatically reinstalled at each startup !
Finally, that is not so clear for me how to "definitively" uninstall a binding.
I have now the strange feeling that it the binding was set one day in my file addons.cfg, it will always be installed even if you suppress it from addons.cfg and run a bundle:uninstall.
@kaikreuzer : what command has to be run to uninstall a binding an

[2016-08-06 20:26] #1974 closed

[2016-08-06 20:29] cdjackson commented on #1974
If you uninstall the binding (using the uninstall command) in the console, then it won’t start again at the next restart. Karat will maintain the state of bindings that are running, logging states etc. I think if you just stop if, it will restart next time.

[2016-08-06 20:36] lolodomo commented on #1974
It is not what I am seeing now !
I probably missed something...

[2016-08-06 20:40] kaikreuzer commented on #1974
You should uninstall the feature, not only the bundle (`feature:uninstall ...`)

[2016-08-06 23:02] ThomDietrich opened #1980 "Docs: menu wrongly positioned (993<->1063px)"
On a smaller display with the Browser width between 993 and 1063px the menu get's "pushed away" by the logo:
![2016-08-07 00_52_58-fotos](https://cloud.githubusercontent.com/assets/2870104/17459456/5bff1986-5c39-11e6-90f6-b4b49a2db7e6.png)

I wanted to hack up a quick fix. Either of these are okay'ish solutions:

[code]

I'll have to look for a better solution though,  this only solves one problem

[2016-08-06 23:23] ms777 opened #1981 "Wemo binding: Docs: Motion Sensor Example"
under Full Example / demo.items, the line
`Switch MotionSensor  { channel="wemo:Motion:Sensor1:state" }`
should be replaced by
`Switch MotionSensor  { channel="wemo:motion:Sensor1:motionDetection" }`

under Full Example / demo.things, it might be helpful to add a line
`wemo:motion:Sensor1  [udn="Sensor-1_0-221337L11xxxxx"]`

[2016-08-07 16:52] kaikreuzer commented on #1981
Could you or @hmerk create a PR for it?

[2016-08-07 17:02] #1934 closed

[2016-08-09 13:43] petarnv opened #1983 "Proposal for tests for the NTP binding"
I would like to implement tests for the org.eclipse.smarthome.binding.ntp binding.
There are various test cases:

1. We can put values in the configuration parameters such as hostname, timeZone, etc.
and check if the state of the channels of the thing is updated with the right values.

2. We can check that on handleCommand() and on channelLinked() the time is refreshed
and because of that the stat

[2016-08-09 15:19] sjka commented on #1983
as a general rule, IMHO it is _always_ good to have tests for bindings, therefore any contribution is warmly welcome!
Just make sure that they don't rely on any real servers or even having internet access at all - everything has to run locally without relying on some external infrastructure.
Happy coding!

[2016-08-09 17:16] marcelrv commented on #1983
I agree, this would be a nice thing to have.
Also, as NTP binding is relatively simple this should not be a major task.

@petarnv, will you make a PR for this?

[2016-08-10 11:03] petarnv commented on #1983
@marcelrv , yes I think to make a PR after I'm ready.

[2016-08-11 15:20] maggu2810 opened #1992 "Test failure(s): core.thing.firmware.FirmwareUpdateServiceOSGiTest"
Hudson build failed.

[code]

Full log: [SmartHomeDistribution-Nightly#1242.txt](https://github.com/eclipse/smarthome/files/413553/SmartHomeDistribution-Nightly.1242.txt)

[2016-08-11 15:21] maggu2810 commented on #1992
@tomhoefer Could you have a look at (because it is raised by the firmware stuff)

[2016-08-11 15:57] tomhoefer commented on #1992
i will check

[2016-08-12 11:08] m-memova opened #1993 "Proposal for tests for the FSInternetRadio binding"
I would like to implement some tests for org.eclipse.smarthome.binding.fsinternetradio. I think I would create one test class for the DiscoveryParticipant and one for the Handler. I will use a mocked HttpServlet so I will be able to check if  the channels are updated properly when a certain command is given.
Since I am new to ESH and OSGi, any comment/advice will be greatly appreciated.

@paphko,

[2016-08-12 12:02] paphko commented on #1993
Hi @m-memova,
Tests are always a good thing to have :-)
Your proposed tests would definitely be a good starting point. Then we could easily add further tests when reasonable. Right now, I don't have any further test scenarios in mind which would be reasonable with a mockup.

[2016-08-12 15:46] maggu2810 opened #1994 "Paper UI: Rule Action"
I tried to use a "Post command to Item" action.
The field to insert the command that should be post is missing.

[2016-08-12 15:50] maggu2810 commented on #1994
I have to add, that I am not using the current master, but the base of #1683 (a770bd0085eb2244174309a4f22d598d8cf4c581).

@danchom Could this be realted to your changes?

[2016-08-12 16:22] maggu2810 commented on #1994
* It is working in the current master.
* It is working if I rebase #1683 (a770bd0085eb2244174309a4f22d598d8cf4c581) to the current master.

I will close this issue as it is obsolete.

[2016-08-12 16:22] #1994 closed

[2016-08-12 20:03] #1975 closed

[2016-08-13 22:37] digitaldan opened #1996 "Edit thing in BaseThingHandler not working as expected"
When calling editThing() in BaseThingHandler a subset of a thing is returned causing the loss of properties, label and location (if the thing is persisted). I believe this is the root cause of https://github.com/openhab/openhab2-addons/issues/1185 . PR is coming shortly, just testing now.

[2016-08-15 13:25] #1641 closed

[2016-08-15 13:33] maggu2810 opened #1997 "project naming"
All artifact names start with "Eclipse SmartHome" except "DigitalSTROM Binding".

[code]

[2016-08-15 13:39] maggu2810 opened #1999 "javasound: artifact uses wrong groupId"
The groupId should be `org.eclipse.smarthome.io` but is `org.eclipse.smarthome`.

[2016-08-15 14:52] maggu2810 commented on #1999
Related to: #1882

[2016-08-15 14:53] maggu2810 opened #2001 "audio / voice refactoring: old files remaining"
The PR #1882 does not clean up old files completely.
There are still remaining files left:
* https://github.com/eclipse/smarthome/tree/6be3a45/bundles/io/org.eclipse.smarthome.io.audio
* https://github.com/eclipse/smarthome/tree/6be3a45/bundles/io/org.eclipse.smarthome.io.voice

[2016-08-15 18:10] kaikreuzer commented on #2001
Fixed by https://github.com/eclipse/smarthome/pull/2002

[2016-08-15 18:10] #2001 closed

[2016-08-15 18:34] kaikreuzer commented on #1997
fixed through https://github.com/eclipse/smarthome/pull/1998.

[2016-08-15 18:34] #1997 closed

[2016-08-15 18:39] kaikreuzer commented on #1999
fixed by https://github.com/eclipse/smarthome/pull/2000

[2016-08-15 18:39] #1999 closed

[2016-08-15 19:19] kaikreuzer opened #2003 "Build broken since Aug 11"
The ESH nightly build is broken since Aug 11, see https://hudson.eclipse.org/smarthome/job/SmartHomeDistribution-Nightly/buildTimeTrend

@maggu2810 & @sjka, did you already analyze what exactly is wrong?
It seems that many failures are due to FirmwareUpdateServiceOSGiTest - @tomhoefer maybe you could check why this is failing?

[2016-08-15 19:41] tomhoefer commented on #2003
@maggu2810 has already created #1992 for this purpose... I will check why the test fails

[2016-08-15 19:45] kaikreuzer commented on #640
@resetnow I have spent some thoughts on this and would like to have your feedback before going to implement anything.

My assumptions are:
- When navigating to a new page, you always do a request like /basicui/app?w=FF_Bath&sitemap=demo.
- It is enough to receive updates for widgets of the page that is currently shown.
- You only need the SSE connection for receiving updates of page/widget infos.

[2016-08-15 20:47] resetnow commented on #640
@kaikreuzer Yes, this will decrease the traffic on the SSE connection and
shouldn't be hard to implement client-side.

I assume this change would also introduce widget-related SSE events?

[2016-08-16 09:24] kaikreuzer commented on #640
Yes, that's the idea - to send widget events that contain the same information about the widget as you get when requesting a complete page.
We might also require an event to trigger a full page refresh for cases where widgets disappear or are added (based on their visibility). I think a full refresh is the simplest solution, introducing events for added and removed widgets and their positions migh

[2016-08-16 09:29] #1996 closed

[2016-08-16 10:21] kaikreuzer commented on #2003
Thanks @tomhoefer, the firmware tests seem to pass now.

Now there is a problem with io.net.tests. The log entry is:
[code]

@svilenvul I would assume this is related to the Jetty HTTP client PR. Is the test execution through Maven working for you? Could you please check how it could be fixed?

[2016-08-16 11:01] tomhoefer commented on #2003
I just recognized that the fix is not complete... I have to provide an additional PR

[2016-08-16 11:04] tomhoefer commented on #2003
Ah... it is complete... the failing local test was because of a PR to be contribuetd for initial determination of the firmware status...

[2016-08-16 11:19] svilenvul commented on #2003
@kaikreuzer
Locally in Maven there are no problems. We had no problems in the integration build as well...
I guess this is the reason - https://www.eclipse.org/jetty/documentation/9.3.x/what-jetty-version.html.  Jetty 9.3 requires Java 1.8 at runtime.
Should I change to version in the target platform to 9.2 ?

[2016-08-16 12:11] maggu2810 commented on #1757
* Failed  #1246	Aug 15, 2016 10:05:39 AM
[SmartHomeDistribution-Nightly.1246.consoleText.txt](https://github.com/eclipse/smarthome/files/420207/SmartHomeDistribution-Nightly.1246.consoleText.txt)

* Failed  #1249	Aug 16, 2016 7:05:39 AM
[SmartHomeDistribution-Nightly.1249.consoleText.txt](https://github.com/eclipse/smarthome/files/420208/SmartHomeDistribution-Nightly.1249.consoleText.txt)

[2016-08-16 12:11] maggu2810 commented on #2003
The automation module timer test is still present, too. See https://github.com/eclipse/smarthome/issues/1757#issuecomment-240083571

[2016-08-16 12:16] #1791 closed

[2016-08-16 15:04] maggu2810 opened #2009 "Paper UI: Item creation broken"
With the recent master I am not able to add a new item (http://127.0.0.1:8080/ui/index.html#/configuration/item/create) anymore.
The "+" is grey, not white (`name` given and `type` chosen)

commit id: c196f1fd13c92aba1626ab13c8991520f956f765

[2016-08-16 19:09] kaikreuzer commented on #2003
@svilenvul, Hoping that all code still compiles (i.e. you do not use any 9.3 features), this is probably the best thing to do, yes.

[2016-08-16 19:29] kaikreuzer commented on #2009
@aounhaider1 Could you please check?

[2016-08-17 12:57] aounhaider1 commented on #2009
I found the reason for above behaviour and have fixed it but I still am unable to add normal items. It gives an Internal Server Error. I debugged it and the problem seems to be here when we dont send groupNames and tags (we are not sending tags from PaperUI) https://github.com/eclipse/smarthome/blob/master/bundles/core/org.eclipse.smarthome.core/src/main/java/org/eclipse/smarthome/core/items/dto/I

[2016-08-17 13:50] maggu2810 commented on #2009
@aounhaider1 Can you give me a link to your branch

[2016-08-17 14:00] aounhaider1 commented on #2009
Here it is:
https://github.com/qivicon/smarthome/tree/bug-create-item

[2016-08-17 15:03] maggu2810 commented on #1327
Will give it a try and assume it has been solved now.

[2016-08-17 15:03] #1327 closed

[2016-08-17 15:04] #1506 closed

[2016-08-17 15:05] maggu2810 commented on #1992
Should be solved by #2004

[2016-08-17 15:05] #1992 closed

[2016-08-17 15:46] maggu2810 opened #2011 "Test failure(s): automation.integration.test.AutomationIntegrationTest.assert that a rule based on a composite modules is initialized and executed correctly"
[code]

`Hudson, SmartHomeDistribution-Nightly: Failed Build #1252 (Aug 17, 2016 11:01:41 AM)`

[SmartHomeDistribution-Nightly.1252.consoleText.txt](https://github.com/eclipse/smarthome/files/422951/SmartHomeDistribution-Nightly.1252.consoleText.txt)

[2016-08-17 15:47] maggu2810 commented on #2003
And another one: #2011

[2016-08-17 15:58] maggu2810 commented on #2009
@aounhaider1 Have a look at #2012

[2016-08-17 18:18] kaikreuzer commented on #2009
#2012 is merged - @aounhaider1 Could you please test it and create a PR?

[2016-08-17 18:29] kaikreuzer commented on #2011
@BenediktNiehues & @marinmitev As you are the two authors mentioned in this test, could you please help fixing it asap? Note that #2003 depends on it.

[2016-08-17 18:31] #1976 closed

[2016-08-17 19:48] kaikreuzer commented on #2011
FTR: Latest build is green again, so this does not seem to be a blocking, but an irregularly occurring test failure - I hence reduced the urgency of it.

[2016-08-17 19:49] kaikreuzer commented on #2003
[Build 1253](https://hudson.eclipse.org/smarthome/job/SmartHomeDistribution-Nightly/1253/) is green again, so I am closing this issue.

[2016-08-17 19:49] #2003 closed

[2016-08-17 20:17] hmerk commented on #1981
Done with PR #2013

[2016-08-17 20:19] #1981 closed

[2016-08-17 21:11] #1689 closed

[2016-08-17 21:32] kaikreuzer commented on #640
FTR: I have started some implementation in my fork, see https://github.com/kaikreuzer/smarthome/commit/c2af196a018a4bc2293d35b4a26fedee7cfdc622.
Still some work to do, but I hope this goes into the right direction.

[2016-08-17 23:02] digitaldan commented on #640
FYI this will make it much easier to get the android client using sse as well

[2016-08-18 08:54] aounhaider1 commented on #2009
Yes, https://github.com/eclipse/smarthome/pull/2012 solves the item creation issue.

[2016-08-18 14:19] Mixajlo opened #2019 "Paper UI calls thing-types twice on a single page load"
Monitoring paper ui, i've noticed that paper ui makes two rest calls to thing-types.

[2016-08-18 14:34] aounhaider1 commented on #2019
Yes PaperUI is currently behaving this way. I'll fix it.

[2016-08-18 16:44] cdjackson opened #2020 "handleCommand should not be called before thing is initialised"
There's nothing to stop a command being sent to a channel when the thing hasn't been initialised - in fact, this is probably guaranteed to happen since ```handleCommand(channelUID, RefreshType.REFRESH);``` is called from ```channelLinked```

The log below shows the thing being created, the XML files being read, and in the middle of this  ```handleCommand``` is called. Later the thing is initialise

[2016-08-18 19:35] #1970 closed

[2016-08-18 19:39] kaikreuzer commented on #640
Right, I am designing it in a way that it is also consumable by the native (also iOS) clients which use merely the REST API (and thus we can get rid of the long-polling-fake solution for sitemap refreshs).

[2016-08-19 13:26] sbussweiler commented on #1479
Hello @all,

I provided a first implementation of the Bridge-Thing life cycle refactoring. Sorry, that it took soo long, but I was really busy.

You can find the current implementation [here](https://github.com/qivicon/smarthome/tree/thing-bridge-lifecycle-refactoring). Please note, this is not the final state in order to create a pull request. There is an ongoing minor API discussion, missing Jav

[2016-08-20 11:51] maggu2810 commented on #2020
I agree that a thing should only be used if it is initialized.

[2016-08-20 12:26] #2009 closed

[2016-08-20 12:27] #2020 closed

[2016-08-20 14:01] maggu2810 opened #2023 "FirmwareUpdateServiceOSGiTest still broken"
It seems #2004 does not solve all problem.

Log attached: [log.txt](https://github.com/eclipse/smarthome/files/428346/log.txt)

[2016-08-21 08:49] lolodomo commented on #1941
Enhancement done and merged.

[2016-08-21 08:49] #1941 closed

[2016-08-21 10:21] tomhoefer commented on #2023
This should be fixed once #2008 is merged. If required I can provide an additional PR to fix this issue...

[2016-08-21 11:59] maggu2810 commented on #2023
Ah, thanks. Perhaps someone who can test the firmware stuff can give his agreement, that #2008 is fine.

[2016-08-22 09:49] tomhoefer commented on #2023
maybe @sjka can give his agreement since we are already using this feature

[2016-08-22 10:17] markusjw opened #2024 "Paper UI - Items are overlapping"
In Paper UI, the Number item representation in an item list is overlapping with the next list entry (see Screenshot).

![2016-08-22 paper ui overlap bug](https://cloud.githubusercontent.com/assets/19324427/17851294/80be8bb0-6861-11e6-9d21-8c7b01fae62e.png)

This occurs in the daily version of 2016-08-17, but not in the on of 2016-06-16.

[2016-08-22 10:20] kaikreuzer commented on #2024
@aounhaider1 Could you please have a look?

[2016-08-22 10:22] kaikreuzer opened #2025 "Not possible to create items through Paper UI anymore"
Trying to create a new item through the Paper UI (e.g. when creating a link in advanced mode), I get a 400 Bad request now and find this in my log:

[code]
I assume that we missed a place where "Item" needs to be removed.

[2016-08-22 10:22] kaikreuzer commented on #2025
@aounhaider1 Could you please have a look?

[2016-08-22 10:29] kaikreuzer opened #2026 "404 when accessing Configuration->System"
Using the latest OH2 build, the Paper UI shows an "ERROR 404 - Not found" when accessing the System configuration and it seems that it stops rendering the page (at least it leaves an empty box with no configuration parameters at the end).

Looking at the javascript console, I see

[code]

This probably occurs when no configuration has been set yet. I think the Paper UI should silently ignore such

[2016-08-22 10:29] kaikreuzer commented on #2026
@aounhaider1 Could you please have a look?

[2016-08-22 10:56] petarnv commented on #1983
I have started working on this issue. With most of the tests cases everything is fine, but in the cases, where we have to test a time zone, there is a problem.
The string channel is updated with a string containing the network time, so the only thing that we can get from the item registry after the update is a date, formatted as a string.
With the Java 7 date time API we cannot parse this string t

[2016-08-22 12:59] maggu2810 opened #2027 "use JmDNS 3.5.1"
It seems JmDNS 3.5.1 has been released a few weeks ago (https://github.com/jmdns/jmdns/releases/tag/jmdns-3.5.1).

Shouldn't we use the new version in the whole project (it is at least missed in the ESH Karaf Targetplatform):
https://github.com/eclipse/smarthome/blob/master/features/karaf-tp/src/main/feature/feature.xml#L146

[2016-08-22 19:37] kaikreuzer commented on #2027
Fixed by https://github.com/eclipse/smarthome/pull/2028.

P.S.: @maggu2810, please note the [Github auto-close feature](https://help.github.com/articles/closing-issues-via-commit-messages/#keywords-for-closing-issues) - it would be nice if you could add something like "fixes #xyz" to the PRs, so that the issues are automatically closed.

[2016-08-22 19:42] #2027 closed

[2016-08-22 22:04] kaikreuzer commented on #1983
- We cannot do (3), since we have to be compatible with Java7.
- Since we would like to move to Java8 soon, we should not do (2), since it would cause trouble when we upgrade (since then Java8 API would clearly be preferred over Joda Time).
-> I'd go for (1) for the moment.

[2016-08-22 23:43] rocket59 opened #2031 "LIFX Binding White and Colour Light brightness channel issues (raspberry pi)"
1) Color light

Since moving from binding snapshot 0.8 to 0.9 the brightness slider in the color channel no longer works properly (with the Original bulbs) in paperui.

Moving the slider in the Control Tab causes erratic behaviour in the lamp brightness. Exiting the Control Tab and re-entering the tab will see the slider at the correct position for the actual brightness level, but erratic slider c

[2016-08-23 01:00] gnalbandian commented on #579
Have there been any progress on this matter?

[2016-08-23 06:23] svilenvul opened #2032 "Target Platform - multiple versions of Jetty"
After the change in #1864 and #2010 there are multiple versions of the following bundles:
- org.eclipse.jetty.io - 8.x.x and 9.x.x
- org.eclipse.jetty.util - 8.x.x and 9.x.x
- org.eclipse.jetty.http - 8.x.x and 9.x.x

When I tried to implement Junit Plug-in test that includes the both versions of these Jetty bundles, I found out that there is bug in Junit PDE and it does not support two versions o

[2016-08-23 06:42] splatch commented on #579
@gnalbandian I pushet a bit more code [in my branch](https://github.com/Code-House/smarthome/commits/esh-authz), but it is still far from calling it complete. As far I know there is new part in manual on how to get authentication setup with nginx.

[2016-08-23 08:41] chrisschauer opened #2034 "AbstractWatchService does not follow symlinks"
**Problem**
The automatic reload of models fails if the folder to listen for changes is symlinked. For this reason ESH does not trigger reloads of items, rules etc.

**Steps to reproduce**
The easiest way to reproduce this is using openHAB.
* Download openHAB 2.0 SNAPSHOT with demo items on a linux based machine and install it
* Copy the` [openhab-home]/conf` folder to another folder e.g` /opt/tes

[2016-08-23 08:56] #2025 closed

[2016-08-23 09:54] aounhaider1 commented on #2024
Can you please provide some more details on how to reproduce this? What browser are you using? And which two things are overlapping (and their xml) ?

[2016-08-23 12:55] aounhaider1 commented on #2026
The fonts should be available if npm install is successful. Can you please check if npm install is throwing any errors? Its working fine for me.

[2016-08-23 13:27] markusjw commented on #2024
The problem occurs for each writeable Number item (which shows a slider and has therefore several lines). The slider is overlapping with the following item in the list. In the screenshot, each visible slider belongs to the item above it. "Change mode" is an Enum item and has no slider.

Firefox and Chrome show the same result. IE does not work at all, as you know.

This is the thing xml:
[2016-08-

[2016-08-23 19:36] kgoderis commented on #1847
@kaikreuzer @maggu2810 @cdjackson I was away on holidays, just upgraded the runtime here, and ran in the same problems. My findings are:

1. I see a lot of errors similar to

`[ome.core.thing.internal.ThingManager] - Meta-data of bundle 'org.openhab.binding.systeminfo' is not fully loaded ([org.eclipse.smarthome.config.xml.osgi.XmlDocumentBundleTracker$1@4dd96849(/ESH-INF/thing/), org.eclipse.smar

[2016-08-23 20:28] kgoderis commented on #1479
@sbussweiler Just some thought :

should not happen if

is the case/happening, no? e.g. avoid that a ThingHandler receives a bridgeStatusChanged(ThingStatusInfo bridgeStatusInfo) before it is initialised, as the initialisation of the bridge itself will trigger a change of its status, and hence the call to the child ThingHandler

[2016-08-23 20:29] kgoderis commented on #1479
What do you mean exactly? that a dispose() should be quick/fast? but what with the use case that a child ThingHandler needs to communicate with the physical device to unregister it from a network or alike?

[2016-08-23 20:31] kgoderis commented on #1479
Just being the devil's advocate: does all of this still make sense if there is a cascade of Bridges? (not that I know of any binding having this, but in theory - at least a long time ago - it was theoretically possible to do that)

[2016-08-23 20:39] kgoderis commented on #1479
mmh... I guess you mean for the purpose of simply tracking them, right? In some occasions handlers need access to one or the other Registry. In order to simplify things, I often have that binding's ThingHandlerFactory (since it is a singleton anyways) bind the OSGi services, and pass them on as arguments to the ThingHandler constructors. If the ThingManager is the "disc jokey" for all the ThingHan

[2016-08-24 04:59] kaikreuzer commented on #2026
@aounhaider1 `web/fonts/Roboto-LightItalic.woff` is included in build.properties bin.excludes, therefore it is not available in the binary build. This was done to reduce the size of the Paper UI and this font has not been used before. If we now need it, please remove it from the exclusion list, if we can live without that font, please adapt the code.

[2016-08-24 06:51] maggu2810 commented on #1479
@sbussweiler I will try to test your changes, but it takes some time.

[2016-08-24 10:36] mhilbush opened #2038 "Error during shutdown: unsetInbox method not found"
Seeing this at shutdown.

`
2016-08-23 07:52:57.970 [ERROR] [g.eclipse.smarthome.config.discovery] - [org.eclipse.smarthome.config.discovery.internal.DiscoveryServiceRegistry(7)] unbind method [unsetInbox] not found; Component will fail
`

Method in `DiscoveryServiceRegistryImpl` is actually called removeInbox.

Assuming that this is because the latest zwave binding uses the new extended discovery

[2016-08-24 13:34] markusjw opened #2039 "Paper UI: Disable Dimmer item when read-only"
Items with type Dimmer that are also configured as read-only should not be editable in the Control view.
Maybe there should not even be a slider.
See #1587

[2016-08-24 15:03] markusjw opened #2040 "Paper UI: Thing config page does not load completely"
For things with a higher number of configuration parameters (tested with around 50), the configuration editing page has serious problems.
(For a thing with about 15 config parameters, there was no problem.)

When opening it first, only an empty page header is shown:
![2016-08-24 paper ui config view bug](https://cloud.githubusercontent.com/assets/19324427/17935513/e5bda350-6a1b-11e6-8d93-7ca67e5f0

[2016-08-25 06:50] sbussweiler commented on #1479
@kgoderis, thanks for your feedback!

`ThingHandler.bridgeStatusChanged()` is never called before a child thing has been initialized. The first bridge status change to ONLINE/OFFLINE is initiated by the bridge initialization itself. In that case `ThingHandler.bridgeStatusChanged()` is _not_ called (because it is not really a change), but `ThingHandler.initialize()` of all child things. I refactore

[2016-08-25 08:26] kgoderis opened #2042 "Dynamic channels defined in DSL are not created (re-open #1847)"
Dynamic channels, defined in ESH-INF/, when declared through the DSL, are not created. This error occurs since the XML bundle loading refactoring.

In ESH-INF: [Abbreviated]

[code]

in .things DSL Declaration:

[code]

Then the Thing "ip1" only has the errorsall and errors5min channels, e.g. the dynamic channels ga_8_5_2 and others are not created. This happens only with Karaf, not in the IDE

So

[2016-08-25 09:23] maggu2810 commented on #1847
@kgoderis I assume I don't understand the problem. The "deferring handler initialization" is no error itself, it is only a log message that the XML files are not fully processed yet and the handler initialization will be done later.

Do you want to say, that the handler initialization not done at all?

[2016-08-25 09:25] maggu2810 commented on #1847
I think we should split your problem. "Deferred Handler initialization" and "missing dynamic channels". (I replied to the first one above)

[2016-08-25 09:29] #2034 closed

[2016-08-25 10:13] kgoderis commented on #1847
is it initialised, but part of the channels as defined in the XML are not added to the Thing. I have created https://github.com/eclipse/smarthome/issues/2042

[2016-08-25 10:16] cdjackson commented on #1847
This all works ok in the zwave binding.
Karel - have you changed the definition to add new channels to the XML? If so, they won’t be added unless you delete the thing and add it again (at this stage anyway - I think there’s moves to change this with the thing migration service).

[2016-08-25 11:03] maggu2810 commented on #2042
* I started my custom Karaf distribution that is using Eclipse SmartHome, too.
* I installed the Yahoo Weather binding feature
* I have added a test.things file (containing an additional channel)
* I see the thing with the additional channel in the Paper UI
* I restarted the custom distribution (keep the feature installed and the test.things in the FS)
* I reloaded the Paper UI and does NOT see th

[2016-08-25 11:55] kgoderis commented on #1847
@cdjackson Did a bundle:restart a few times. Will try your suggestion.

[2016-08-25 12:01] kgoderis commented on #1847
@cdjackson Not sure what you mean by "adding" in this context (@ runtime?), but cold starting the runtime generates the problem, with the correct definition in place.

[2016-08-25 12:03] cdjackson commented on #1847
By ‘adding’ I meant to recreate the thing so that it re-read all the definitions. If the correct definition is already in place then it’s probably broken.

[2016-08-25 12:06] aounhaider1 commented on #2024
@markusjw can you please check if https://github.com/eclipse/smarthome/pull/2043 solves this issue for you?

[2016-08-25 14:58] aounhaider1 opened #2045 "Allow specifying location while approving things from Inbox"
Should we allow optionally specifying thing's location while approving it from Inbox?

[2016-08-26 06:39] maggu2810 opened #2049 "Paper UI: rule handling"
If a new rule is added using the Paper UI a post method is done to path /rest/rules and the payload contain the rule.
The response header contains the key "location" to the "path" of the newly created rule.

* The Paper UI does not use this URL to fetch the rule (perhaps a modified one IIRC we have a autoconnection feature) and to add it to its rule storage. Instead it loads the whole list of all

[2016-08-26 07:02] sjka commented on #2049
@aounhaider1 could you please have a look?

[2016-08-26 07:03] sjka commented on #2045
good idea, imho

[2016-08-26 08:13] sjka opened #2051 "Thing properties are neither persisted nor fully transient"
As it seems, #1682 does not deliver what the title promises: it only never persists any property _changes_. However, when a thing initially is created (e.g. by ```Inbox.approve(...)```), then the properties are initially persisted. An can never be changed again. That's surprising, but at least consistent with the documentation ("Note, that in contrast to configuration updates, property changes are

[2016-08-26 08:54] sjka commented on #2042
funny, as the XML loading change only defers the handler initialization, but nothing else. Anyway, that does not sound good. Thanks for the detailed analysis, I will have a look...

[2016-08-26 09:14] sjka commented on #2042
looks like the culprit is #365 - when the ThingHandlerFactory is not yet ready, there will be Thing created during retry, but that's not merged with the stuff coming from the DSL.
Will provide a fix.

[2016-08-26 10:27] markusjw commented on #1700
@aounhaider1 Does this information help to find out more about the problem?
I hope there is a solution because right now the Control UI is just not usable for things with wide range Number items.

[2016-08-26 11:10] #2019 closed

[2016-08-26 11:12] #1502 closed

[2016-08-26 11:20] #2038 closed

[2016-08-26 11:37] maggu2810 commented on #2045
Okay for me.

If the location string still something product specific?
IIRC we don't define ATM if it is an item name, a human readable string etc.

If it is not product specific, but limit by the ESH framework to some specific type, we should define it before it is used in to much places.

[2016-08-26 13:21] sjka commented on #2045
I'm not aware this has changed

You can already edit the location field as part of the thing editing page. So offering a "string" field would not make the situation much worse than it is. Apart from it being more convenient to actually fill it out.

[2016-08-26 22:19] kaikreuzer commented on #2051
#1682 was only about allowing bindings to do (non-persistent) modifications. It did not mean to completely remove persistence of properties. They can still be defined through the inbox and e.g. the Rest API and this imho makes a lot of sense this way.

[2016-08-27 06:13] #1757 closed

[2016-08-27 06:19] markusjw commented on #2051
What is then the solution to pass temporary information from the inbox to the binding? In that case it is sad that the binding cannot delete properties defined by the inbox.

[2016-08-27 20:36] kaikreuzer commented on #2040
@aounhaider1 Could you please have a look and try to reproduce?

[2016-08-27 20:38] kaikreuzer commented on #2039
I'd agree. @aounhaider1, could you please have a look?

[2016-08-27 20:46] kaikreuzer commented on #2051
I cannot provide any solution, since this was never a requirement. And "passing information" rather sounds like a misuse of the properties, so it might be a good thing that this isn't possible anymore and that a proper solution should be discussed :-)
Could you elaborate a bit on your use case?

[2016-08-28 14:57] maggu2810 opened #2057 "Test failure(s): automation.module.timer.internal.RuntimeRuleTest"
Related to: #1757, #2054

The last changes shows the error in more details.
The rule itself is using wildcards for the cron job timer.
The rule should be disabled but is not disabled after 10 seconds.
I don't know if the rule is triggered such frequently that the disabling does not work anymore.
@danchom Could you give me some informations why the disable does not work?

[code]

[2016-08-28 15:15] maggu2810 commented on #2057
Another point:
It seems that a rule is trigger as much as possible if a timer fulfils the requirements.
Is this expected behaviour?
If I use a cron timer as trigger and the minimum time unit we can configure are seconds, I would assume that a rule is not triggered multiple times in that second. But it seems that the assumption has been wrong.
If I use e.g.
So it seems that if I use e.g. 6 for hour

[2016-08-28 15:49] maggu2810 opened #2058 "Artifact names: Transform[ation]"
Should we use "Transform Service" or "Transformation Service"?
Currently we are using a mixture of both.

[code]

[2016-08-28 16:51] kaikreuzer commented on #2058
I would vote for Transformation.

[2016-08-29 07:04] kaikreuzer opened #2059 "NPE in HttpUtil when accessing a https url"
There are reports about NPEs in HttpUtil, since it had been changed to use the Jetty client library, see https://community.openhab.org/t/getting-a-npe-from-a-https-request/13610

[2016-08-29 07:05] kaikreuzer commented on #2059
@svilenvul Could you please check?

[2016-08-29 07:36] maggu2810 opened #2060 "Paper UI: rollershutter widget"
The control buttons of the rollershutter are not centered anymore.
Tested commit id: f77110576a1b91d7241039e7270c787d557420bb

Browser: Firefox 48.0

![rollershutter-big](https://cloud.githubusercontent.com/assets/204670/18044021/c92fd312-6dcb-11e6-840f-cd10cb60ee5f.png)
![rollershutter-small](https://cloud.githubusercontent.com/assets/204670/18044020/c92f9190-6dcb-11e6-86ea-7bb000f07898.png)

[2016-08-29 07:36] maggu2810 commented on #2060
Another question: Why is there a degree character in front of the position?

[2016-08-29 07:43] kaikreuzer commented on #2060
@aounhaider1 Could you please check?

[2016-08-29 08:10] svilenvul commented on #2059
OK, I will take a look

[2016-08-29 09:51] #2058 closed

[2016-08-29 11:06] vilchev opened #2062 "Modify org.eclipse.smarthome.automation.module.core to use DS"
By now the module was using Activator and SurviceTracker for tracking its dependency services: ItemRegistry, EventPublisher.

Modify module to use Declarative Services

[2016-08-29 11:24] svilenvul commented on #2059
I have found the problem, I have missed to configure Jetty HttpClient to perform https requests. PR will follow soon.

[2016-08-29 14:27] kaikreuzer opened #2066 "io.rest sometimes throws a NCDFE"
io.rest declares its dependency to io.transport.mdns as optional. If the dependency is not resolved, this can result in NCDFEs:
[code]

[2016-08-29 14:38] maggu2810 commented on #2066
As you already know the mDNS part is used to publish the REST interface.

I already moved the logic to a separate bundle and used an enhanced logic, so it also respects http(s) port configuration that is done by configuration admin.
I already send you a link some time before, but my code cannot be merged because it is using Bnd, Java8 etc.

So what are your ideas for ESH?

[2016-08-29 14:52] kaikreuzer commented on #2066
I didn't think about a solution yet. Two possibilities I see:
1. Make the dependency mandatory
2. Move the MDNSAnnouncer to a new bundle io.rest.mdns

What are your ideas for ESH?

[2016-08-29 14:55] maggu2810 commented on #2066
Your point "2" (+ point "1" for the new bundle) :wink:

[2016-08-29 15:12] kaikreuzer commented on #2066
Ok, will try to do it this week then!

[2016-08-29 15:14] maggu2810 commented on #1479
@sbussweiler If I merge your code in the current master branch and start a build, I run into a build failure.
See build.stdout.txt...

[build.stderr.txt](https://github.com/eclipse/smarthome/files/442691/build.stderr.txt)
[build.stdout.txt](https://github.com/eclipse/smarthome/files/442692/build.stdout.txt)

[2016-08-30 07:12] m-memova opened #2069 "Implement tests for org.eclipse.smarthome.model.core.internal.FolderObserver"
I implemented some tests for org.eclipse.smarthome.model.core.internal.FolderObserver.
Basically I check if the correct ModelRepository's methods are invoked when some events in the watched directory are triggered. I will create a PR later today.

[2016-08-30 07:16] sbussweiler commented on #1479
@maggu2810 very strange... On my machine the build is green. I think you have the latest version from github and tried to run it more then once? Maybe a timing issue?

[2016-08-30 07:50] maggu2810 commented on #1479
I have running other tasks on my machine in parallel, so perhaps a timing problem. But at least it shows that it is not stable or the test is error-prone.
I used the recent master of yesterday and merged your branch...
I can skip the tests, but if there is still some timing related issue, perhaps we should fix that first. ? WDYT?

[2016-08-30 09:26] kgoderis commented on #1200
@kaikreuzer I just studied org.eclipse.smarthome.core.audio and before I embark on this task, just a question: are mp3 or alike served by a web server are to be considered AudioSources or not? You know this is the workaround for the Sonos players, but this might be generalised. On a separate note, is cascading of AudioSources and AudioSinks something that should be avoided? e.g. think along someth

[2016-08-30 09:32] aounhaider1 opened #2072 "PaperUI: Replace button-icons with clickable-icons"

[2016-08-30 10:22] aounhaider1 commented on #2040
@markusjw I was unable to reproduce the issue with 89 different parameters. The problem might be because of some specific combination of parameters. Can you please provide the complete config file of the thing?

[2016-08-30 10:56] chrisschauer opened #2073 "WeMo: Throws UnsupportedCharsetException during discovery"
I have problems discovering WeMo LED bulbs. The insight-switch works fine!

**Steps to reproduce**
* Add WeMo Binding
* Install an WeMo Link Device
* Apply the WeMo Link Device on inbox
* Start discovery on WeMo Link

**Error**
No device (e.g. LED bulb) found.

Error-Log:
[code]

The cause could be the replacement of Apache HTTP Client through Jetty client.
@hmerk: Do you get the same error?

[2016-08-30 11:02] aounhaider1 commented on #2039
Are you sure, you are on latest master? This should be working already, as it was implemented in https://github.com/eclipse/smarthome/pull/2007.

[2016-08-30 11:08] markusjw commented on #2039
I noticed this in a daily version of openHAB. And from the title I could not see that #1976 addresses the same issue. We can close this then.

[2016-08-30 11:08] #2039 closed

[2016-08-30 11:08] sjka commented on #1479
I also tried to reproduce it but couldn't. However, I ran into this one in ~12% of the iterations:

[code]

[2016-08-30 11:20] vilchev opened #2075 "Modify org.eclipse.smarthome.automation.parser.gson to use DS"
By now the module was using Activator
Modify module to use Declarative Services components

[2016-08-30 12:13] sbussweiler commented on #1479
@sjka This was a timing issue. I added some wait for assert statements...

@maggu2810 I'm not able to reproduce it. The default timeout (10 seconds) should be more than  enough. Please give me a hint if this error still occurs.

[2016-08-30 12:49] markusjw commented on #2051
The use case is as follows:
The discovery process has some information that the specific thing handler needs when initializing the first time. As this information is thing-specific, my solution was to store it as a flag at the thing using a temporary thing property.
Unfortunately, the property is not temporary because it is persisted once and cannot be removed later. The problem that follows is th

[2016-08-30 13:31] aounhaider1 commented on #2060
The degree character is probably with minimum value of the slider. It will be fixed once https://github.com/eclipse/smarthome/pull/2043 is merged.

[2016-08-30 13:56] #2060 closed

[2016-08-30 14:35] #2059 closed

[2016-08-30 15:06] kaikreuzer commented on #1200
No. AudioSource is for audio sources "which can provide a continuous live stream of audio. Its main use is for microphones and other "line-in" sources".
For selecting some mp3 file from the filesystem, we will actually require some kind of new service, which then provides an AudioStream for the selected file - but this is nothing that is in scope of this issue here. For the start, some rule action

[2016-08-30 15:13] hmerk commented on #2073
@chrisschauer I did not update to the latest snapshots, therefore did not see this.
I will check and try to fix asap.

[2016-08-30 15:42] kgoderis commented on #1200
Let us refactor the sonos part after I get it working?

This is not what I meant, in fact. I was just wondering if one can daisy chain various Sinks and Sources ? i.e. have audio processing in there, mixing of AudioStreams, and so forth, to get to functionalities like a Public Address system or alike. In the example above, the "mp3 via http" step would be a Sink and Source, connected to the TTS So

[2016-08-30 15:45] #2024 closed

[2016-08-30 15:47] #2032 closed

[2016-08-30 16:07] #2026 closed

[2016-08-30 16:40] cbcoursera1 opened #2082 "LIFX binding feature request: implement postCommand and UDP broadcast"
LIFX bulbs currently change (relatively) slowly and serially when making changes to a group. My understanding is that this can be sped up or made simultaneous in two ways:

**Implementing postCommand**
This would allow multiple commands to be sent in parallel via the event bus. sendCommand, currently used, only allows for a single thread in the event bus.

**Creating a UDP broadcast Thing**
This w

[2016-08-30 17:12] kgoderis commented on #2082
Pls note that sendCommand and postCommand are only relevant for events from the bulb towards the ESH runtime, not from the runtime to the bulb

On the UDP broadcast it should be noted that even as the command is send to a Group, the ThingHandler get notified individually, eg it does not differentiate between commands send to a group or item directly. So, it would be difficult to group bulbs at the

[2016-08-30 17:13] kgoderis commented on #2082
... Concurrent.

To be investigated but I understand your concern

Karel

Sent from my iPhone

[2016-08-30 17:34] cbcoursera1 commented on #2082
I'm not following your statement about commands from the bulb to the ESH runtime, maybe I haven't explained myself well.

I'm using OpenHAB and trying to write a rule that will simultaneously change several bulbs, and I'm using sendCommand() in my rule script to make the changes to the bulbs. So my thinking is that this is a command from the ESH runtime to the bulb, but maybe I'm not completely un

[2016-08-30 18:24] kgoderis commented on #2082
Ok that is ok ;-)

I thought you were referring to https://github.com/openhab/openhab/wiki/How-To-Implement-A-Binding , near the end of the page. in your case, doing postCommand() should work

[2016-08-30 18:31] kgoderis commented on #2082
The ThingHandler already uses both broadcast and unicast sockets. The broadcast mainly for service discovery, and the unicast for one to one communications to the bulb. The ThingHandler gets called on handleCommand() by the runtime whenever you do a postCommand in a Rule or alike, but it can not differentiate wether that postCommand was done on a linked Item, or on a Group. So, the ThingHandler ha

[2016-08-30 18:41] kgoderis commented on #2082
Just did a small test over here, and postCommand or sendCommand in Rules do not change a dime in terms of switching behaviour. Note, my lamps too do not switch at the same time, but is not really an issue for me

[2016-08-30 19:10] kgoderis commented on #2082
Have to take this back after re-reading my own code. The lock() is private to the Handler, so it is not blocking other Handlers. In short, I have no clue why there is a delay between switching bulbs :-(

[2016-08-30 21:49] cbcoursera1 commented on #2082
I'm not able to use postCommand() at all, actually. I wonder why you are?

Here the the two rules I'm using

`rule "Switch test 1"
when
	Item FF_CB_Bed_Lights_Sw received command
then
	sendCommand(LIFX_00_color, receivedCommand)
end

rule "Switch test 2"
when
	Item FF_CB_Bed_Lights_Sw1 received command
then
	postCommand(LIFX_00_color, receivedCommand)
end`

The second first rule works fine, the se

[2016-08-31 07:38] kaikreuzer commented on #2082
No, but I also didn't have the chance to test it yet. Anyhow, I also only have 3 LIFX bulbs, so my testing won't be any better than yours...

[2016-08-31 07:51] kaikreuzer commented on #1200
You mean you first implement this servlet in the sonos binding and then we refactor it out? Ok, but I would do it before it is merged then.

You cannot daisy chain them, because a sink does not have any output that could be fed into a source. What you can do is to chain processing of AudioStreams and at the end you feed the result to a sink.

No, as explained above, this would only be a sink, but

[2016-08-31 09:31] kaikreuzer commented on #2031
This sounds to me like https://github.com/eclipse/smarthome/issues/1778, which has been fixed a while ago. Are you sure that you are using the latest code?

[2016-08-31 09:57] kgoderis commented on #2082
yes, I made a mistake in all my hurry. You only have sendCommand in the Rules.

When switching a bulb on/off, in fact, the binding is sending a series of LIFX protocol messages to the bulb. Yesterday I noticed that in fact, the binding sends all messages for a given bulb, before sending the messages of the next bulb, instead of interleaving the messages (e.g. first set the color on all bulbs, then

[2016-08-31 10:01] kgoderis commented on #1200
mmh... and if you implement both AudioSink and AudioSource interfaces on a class...

Anyways, it was a theoretical question above all

[2016-08-31 10:16] rocket59 commented on #2031
I believe so, have had this issue since early August. I'm currently using build #454 of OH2.

[2016-08-31 10:40] kaikreuzer commented on #2031
@kgoderis Can you reproduce this issue?

[2016-08-31 11:21] sjka commented on #2023
As #2008 is merged I assume we can close this one too, right?
At least I haven't seen this bug again since then.

[2016-08-31 13:10] vilchev opened #2085 "Modify org.eclipse.smarthome.automation.commands to use DS"
By now AutomationCommands were activated through BundleActivator. Dependencies were tracked by implementing ServiceTracker.

[2016-08-31 13:47] sbussweiler commented on #1479
I created the PR #2087. Please feel free to comment.

Please not that I created a new [branch](https://github.com/qivicon/smarthome/tree/thing-bridge-lifecycle).

[2016-08-31 14:11] tavalin commented on #2082
How do groups work in LIFX? Does it have any native group mechanism for addressing multiple bulbs with a single request/packet?

[2016-08-31 14:21] chriskn commented on #2057
Is it possible that this is a timing issue related to the performance of the build system?
This test worked for month and still works in our build system and local on my machine.

[2016-08-31 14:46] maggu2810 commented on #2057
@chriskn This test is failing on different systems since a long period from time to time (the Eclipse Hudson build system, Travis CI, ...). See #1757

I am still not sure if a timer that configurable granularity are seconds should trigger multiple times between a second.
Normally cron jobs are not executed more than once in a second why should we do it?
I assume that the "trigger as much as possib

[2016-08-31 14:57] maggu2810 commented on #2023
It seems so. Thanks for the reminder.

[2016-08-31 14:57] #2023 closed

[2016-08-31 16:08] cbcoursera1 commented on #2082
From my experimenting, sending a command to a group (including LIFX bulbs
and Orvibo outlets) produced the same response as iterating through the
items in the group and sending commands individually.

On Aug 31, 2016 10:11 AM, "Daniel Walters" <notifications@github.com> wrote:

How do groups work in LIFX? Does it have any native group mechanism for
addressing multiple bulbs with a single request/p

[2016-08-31 16:14] maggu2810 commented on #2057
Okay, at least the normal quartz usage triggers the job only once a second.

@danchom What causes the "NONE" prints here (I assumed it has been by the executed cron jobs)? Why does the deactivate not work after 10 seconds?

[2016-08-31 16:27] tavalin commented on #2082
@cbcoursera1 that wasn't what I meant.

As an example, I have a couple of MiLights which are assigned as part of the same "group" on the MiLight hub.  OH sees this as one Thing, and as such control of the "group" is done is done via one UDP packet to the MiLight hub rather than multiple packets.  I was wondering if the LIFX API allowed native grouping such that it could be modeled as one Thing wit

[2016-08-31 16:34] kgoderis commented on #584
@kaikreuzer playSound is M.I.A. ? cfr the initial post in this thread

[2016-08-31 17:02] kaikreuzer commented on #584
Well, at the moment it is still only available in the [compat layer](https://github.com/kaikreuzer/openhab-core/blob/master/bundles/org.openhab.core.compat1x/src/main/java/org/openhab/io/multimedia/actions/Audio.java#L59), but I plan to migrate this to the new framework (and have it moved to ESH).

My biggest issue there is that [the plain javasound sink](https://github.com/eclipse/smarthome/tree/

[2016-08-31 17:11] kgoderis commented on #584
I need it for Sonos in my setup so I will give it a go

Sent from my iPhone

[2016-09-01 05:49] lolodomo commented on #1200
What is the way to trigger this (TTS, selection of TTS engine, playback of output by Sonos, ...L ?
Is there an action we can use in a rule ?

[2016-09-01 06:30] JueBag commented on #1200
Qoute:[ Will the Sonos resume playback after playing a TTS message ?]
If the TTS was started by rule using .Save before the playback and .Resume after it would work.

[2016-09-01 07:01] kgoderis commented on #1200
@lolodomo you would use the say() command in rules, but as discussed with Kai elsewhere, I will also provide a OH2 implementation of the playSound() action so that you can play mp3 in rules. So, in essence, the only thing that will change from a Sonos point of view is that you will be able to play an mp3 on any Player without having to go through the line-in of one of the Players.  You could still

[2016-09-01 07:06] kaikreuzer commented on #1200
@kgoderis I would actually expect this action directly in ESH, not in OH2. As it will be decoupled from the jl library, this should be fine.

[2016-09-01 08:00] sjka opened #2089 "Thing label changes are not considered"
When changing a label of a Thing in the DSL, this change is not reflected while the framework is running.

[2016-09-01 08:08] sjka opened #2091 "Thing updates are not reflected in the PaperUI"
having fixed #2089, I noticed that thing updates (e.g. label changes) are not reflected in the PaperUI. I had to refresh the page in order to see them.
I saw that the PaperUI is not listening to `smarthome/things/*/updated` events yet (unlike for items, where it does it already). Wouldn't it make sense to do so for Things?

[2016-09-01 08:08] sjka commented on #2091
@aounhaider1 wdyt?

[2016-09-01 09:17] aounhaider1 commented on #2091
Actually this should not happen. Currently, View thing is being loaded with a force update from the rest endpoint instead of serving from local storage.
However, listening to thing updates can potentially improve the number of requests sent to the server.

[2016-09-01 10:15] #2089 closed

[2016-09-01 13:48] cbcoursera1 commented on #2082
Ah I see. Yes, it does, I'm not familiar with how it works but there's a
discussion here:

https://community.lifx.com/t/lan-protocol-group-support/253

On Aug 31, 2016 12:59 PM, "Daniel Walters" <notifications@github.com> wrote:

[2016-09-01 15:05] kaikreuzer opened #2095 "Warning during startup of rules"
In the ESH demo setup, I find the following in the logs:

[code]
Analyzing it, I noticed that this is not a problem of Xtext+co, but that the cause is the fact that there are two DemoDimmer items available in the ItemRegistry, which is clearly a bug.

[2016-09-01 15:23] kaikreuzer commented on #1769
FTR: I have just fixed an issue (https://github.com/eclipse/smarthome/issues/2095), which caused these messages - yours might have been due to the same root cause.

[2016-09-01 21:56] hmerk commented on #2073
@chrisschauer
I now can confirm that the Jetty client causes this issue. Unfortunately, there is no straight option to set a chartset for the contentype.
I will file an issue to address this in the right place.

[2016-09-01 22:14] hmerk opened #2097 "Replace Apache HttpClient 3.x with Jetty #1864 breaks UTF-8 usage in contentType header"
With Apache HttpClient, one could use the following string for setting Http contentType header:
String contentHeader = "text/xml; charset=\"utf-8\"";
which is used/needed in WeMo Binding, see #2073

Jetty does not support setting the charset.

@svilenvul as you created #1864 can you have a look into this. Thanks!

[2016-09-01 23:09] jmichaluk opened #2098 "Items label, state, and category values lost on server restart"
Not all information is surviving a server outage. As shown below, the state, label, and category information is not being restored. The Paper UI also showed only a dimmer and no on/off switch after the restart.
I would have expected all information to be restored.

Before the server went down the Rest call for items returned something similar to the following:

[code]

After the server came back u

[2016-09-02 07:37] chrisschauer commented on #2073
@hmerk
Thanks for investigating this issue

[2016-09-02 07:43] chrisschauer commented on #2073
@hmerk
I just saw, the content-type is defined as
`    static String contentHeader = "text/xml; charset=\"utf-8\"";
`
https://github.com/eclipse/smarthome/blob/master/extensions/binding/org.eclipse.smarthome.binding.wemo/src/main/java/org/eclipse/smarthome/binding/wemo/internal/http/WemoHttpCall.java#L25

The Charset is defined with double quotes. I think http content-types are defined without quo

[2016-09-02 07:48] maggu2810 commented on #2098
How do you create such items?
Are the item created by the REST interface or do we talk about temporary created items because on item channel link is present?
The label, category, tags etc. should be stored for persistent items.
The state is not stored (if you use persistence and restoreOnStartup it could work but this is another topic) and IMHO it makes no sense to keep the old item state over a p

[2016-09-02 07:48] #2095 closed

[2016-09-02 07:56] kaikreuzer commented on #2098
FTR: If the items are not manually defined, but inferred by the channel links, https://github.com/eclipse/smarthome/issues/1550 is likely to be the cause for the labels to disappear.

[2016-09-02 08:01] snoekieboe opened #2100 "Prevent hidden files from being parsed"
When using Mac OS X to edit Openhab files through an SMB share, files with a leading ._ are created by Mac OS X to store file information about the actual file in.

**Example:**
Create/edit a file called "test.item" using OS X finder application  and Mac OS X also creates a file called "._test.item".

Although these ._ files do not contain any valid information for Openhab, they are being parsed c

[2016-09-02 08:06] maggu2810 commented on #2057
[log.txt](https://github.com/eclipse/smarthome/files/451412/log.txt)

Some lines of the log:
[code]

Why is the rule already enabled if the state is disabled before?

@danchom I reported this error on "Jun 28" the first time. Any reason you do never reply to this topic?

[2016-09-02 08:18] svilenvul commented on #2097
@hmerk
I am not sure, that I understand this correctly. Do you mean that the request created by the HttpUtil#executeUrl() does not have the correct contectType header? I have prepared a simple [test case](https://github.com/svilenvul/smarthome/blob/2097-jetty-failed-request/extensions/binding/org.eclipse.smarthome.binding.wemo.test/src/main/groovy/org/eclipse/smarthome/binding/wemo/test/WemoHttpCa

[2016-09-02 08:33] svilenvul opened #2101 "Implement tests for the Wemo Binding"
I have started working on tests for the WemoBinding.
I will try to test the different handlers and the DiscoveryService. I have found some example responses from the most of the supported devices in internet that I will use to mock a sample device, when this is needed.

@hmerk
I will appreciate any comment/advice

[2016-09-02 09:44] maggu2810 commented on #2057
I think the setEnabled method of the rule registry does not work as expected.
I changed the test and the only thing the test does now is to enable and disable the rule very often.
If "setEnabled" is done only once for disable and only once for disable it fails all the time using just enough iterations.
If you uncomment the setEnabled call in the waitForAssert so it tries to do it multiple times, t

[2016-09-02 09:58] maggu2810 commented on #2057
I removed the triggers, conditions and actions of the rule.
No failure anymore.

I enabled only the triggers (the one timer trigger), the setEnabled fails again (at least once in 1000 iterations).

@danchom Could the disable or enable fail if the rule is currently running?

[2016-09-02 12:05] vilchev opened #2103 "Bug in ConnectionValidator (Throwing IAE in the wrong place) when starting the org.eclipse.smarthome.automation.sample.extension.java"
When starting the sample.extension.java demo

AirConditionerSwitchOnRule  is in NOT_INITIALIZED (HANDLER_INITIALIZING_ERROR) State with the following error logs:

osgi> 15:01:44.245 INFO  s.event.RuleStatusInfoEvent[:43] - AirConditionerSwitchOnRule updated: NOT_INITIALIZED (CONFIGURATION_ERROR): Validation of rule AirConditionerSwitchOnRule has failed!  Invalid Connection "currentTemperatute" :

[2016-09-02 12:12] marinmitev commented on #2103
There is a need of clarification that the rule action has correct configuration for the input which refers to existing trigger output. The problem is in the connection validator logic
Additional small issue is the typo error "currentTemperatute" instead of "currentTemperature"

[2016-09-02 12:43] maggu2810 opened #2105 "ESH Scheduler: Cron expression has no future"
I am using the ESH scheduler (thanks for your work @kgoderis) and add a job using a cron expression.
To execute the job every second I used this expression: `* * * * * ?'`

It runs for about two minutes and stops then
[code]

[code]

@kgoderis Can you explain me, why this crone expression has no future executions anymore?

[2016-09-02 12:45] petarnv opened #2106 "Implemented tests for org.eclipse.smarthome.config.dispatch.internal.ConfigDispatcher"
I have implemented several tests for org.eclipse.smarthome.config.dispatch.internal.ConfigDispatcher.
They test mainly different cases for processing files from configuration directory and its subdirectory.

I have found some unexpected behavior of the ConfigDispatcher:
    1) **Incorrect Overriding** - The last modified file in the configuration directory is not guaranteed to be the last processe

[2016-09-02 12:49] marinmitev commented on #2057
@maggu2810 please note that @danchom is on a sick leave this week.

[2016-09-02 12:54] maggu2810 commented on #2057
@marinmitev Thanks for this information. @danchom Get well soon!

[2016-09-02 13:01] maggu2810 opened #2107 "ESH Scheduler: CME"
I received this one:

[code]

The only thing I currently play with is one scheduled job that is using a "every second" cron expression.

[2016-09-02 13:50] petarnv opened #2109 "Incorrect overriding of properties in org.eclipse.smarthome.config.dispatch.internal.ConfigDispatcher"
In ConfigDispatcher files are processed as listFiles() method ordered them and this order is never guaranteed(https://docs.oracle.com/javase/7/docs/api/java/io/File.html#listFiles()), i.e. the order can be alphabetical or some other order, which may cause the latest value for a property to be overridden by another value of the same property.

I have made a PR with tests for this: https://github.co

[2016-09-02 13:53] vilchev opened #2110 "Class cast exception in TemperatureConditionHandler [org.eclipse.smarthome.automation.sample.extension.java module]"
ClassCast exception occurs when trying to execute following console command

osgi> smarthome welcomehome activateAc off 10

16:51:00.108 DEBUG o.e.s.a.c.internal.RuleEngine[:46] - The trigger 'AirConditionerRuleTrigger' of rule 'AirConditionerSwitchOnRule' is triggred.
SUCCESS
osgi> 16:51:00.110 ERROR o.e.s.a.c.internal.RuleEngine[:921] - Fail to execute rule '[AirConditionerSwitchOnRule, java.mat

[2016-09-02 13:55] petarnv opened #2111 "No update of the configuration on delete of a property in a configuration file in org.eclipse.smarthome.config.dispatch.internal.ConfigDispatcher"
On delete the file should be processed and the configurations should be updated, but in ConfigDispatcher, when file is deleted, it is only processed, but not updated. An update happens only when new content is added, but not when it is deleted.

I have made a PR with tests for this: https://github.com/eclipse/smarthome/pull/2108

This behavior can be seen in the following ignored test:
"configurat

[2016-09-02 14:29] #2103 closed

[2016-09-02 14:32] #2110 closed

[2016-09-02 14:38] #2107 closed

[2016-09-02 16:22] kgoderis commented on #2031
I have troubles reproducing it but that is due to my environment. paperUI is not able to render the '000 of things I have in the Control tab. pfff.... I never use the paperUI so I have to test it from scratch, but I am a bit confused: @rocket59 the colorlight only has a color and temperature channel, e.g. wdym with brightness slider?

Now, I did some testing with the colorpicker slider in the clas

[2016-09-02 16:27] kgoderis commented on #1200
ESH fine indeed...

[2016-09-02 17:09] kgoderis commented on #2105
No, I have no clue why that is happening. I tested this kind of wild-fireing scenario during development. The issue lies within https://github.com/eclipse/smarthome/blob/90c80c1ceb54546a9af83e775485cda1a038cee2/bundles/core/org.eclipse.smarthome.core/src/main/java/org/eclipse/smarthome/core/scheduler/AbstractExpression.java#L209

The general approach is that a number of "next occurrence" candidate

[2016-09-02 17:17] kgoderis commented on #2105
Ok - I think I found the issue. I think that in https://github.com/eclipse/smarthome/blob/90c80c1ceb54546a9af83e775485cda1a038cee2/bundles/core/org.eclipse.smarthome.core/src/main/java/org/eclipse/smarthome/core/scheduler/AbstractExpression.java#L209 the collection https://github.com/eclipse/smarthome/blob/90c80c1ceb54546a9af83e775485cda1a038cee2/bundles/core/org.eclipse.smarthome.core/src/main/ja

[2016-09-02 17:30] maggu2810 commented on #2105
I am currently running this test:
[code]

[2016-09-02 17:30] maggu2810 commented on #2105
It stops after `new value: 99`

[2016-09-02 19:39] kgoderis commented on #2105
Ah... That is in line with my hypotheses of exhausting 100 candidate dates..... In fact we use getdateafter() in an unintended way. Either the expression is parsed and we query a fixed candidate set, or either the candidate set is dynamic (our case), in which it needs to be updated in each call to getdateafter()

[2016-09-02 20:21] #2042 closed

[2016-09-03 06:07] phieber opened #2115 "Auto format (correct indent) the entire .sitemap document"
It would be really helpful to have an auto indent function in Designer (Eclipse).
Version 0.8 doesn't have this functionality.
As an Eclipse user, I am used to press Strg+Ctrl+F

[2016-09-03 06:21] kgoderis commented on #2105
@maggu2810  Maybe there is a thing or two we need to discuss and decide upon. I reflected on the problem you encounter and the "problem" lies in the fact that in terms of expressions like cron, RFC 5545 and alike is that in some expression languages/definitions a real start date of the date expression is not defined. This is for example the case with cron expressions. On the other extreme, an Date

[2016-09-03 16:06] cdjackson opened #2116 "Config description builder should use i18n"
Currently I don't think there's any way to internationalise the config descriptions. The builder should provide i18n versions of its functions in the same way the config status provider does.

[2016-09-04 08:57] kgoderis commented on #1847
@kaikreuzer @maggu2810 shall we continue in this thread, or open an new issue? the issue of some bindings not initiliazing is still there

[2016-09-04 09:04] kaikreuzer commented on #1847
I'd suggest to first review and merge https://github.com/eclipse/smarthome/pull/2087 as this is anyhow changing a lot of the underlying infrastructure.

[2016-09-04 17:30] igorrobertifoc commented on #1393
Hello, I have:

2016-09-04 17:21:51.105 [INFO ] [el.core.internal.ModelRepositoryImpl] - Refreshing model 'test.rules'
2016-09-04 17:22:04.100 [ERROR] [.script.engine.ScriptExecutionThread] - Rule 'Voice': Script interpreter couldn't be obtain

For the first day it was working, then they give this error.

`
rule Voice control
when
    Item VoiceCommand received command
then
    var String command

[2016-09-04 19:24] igorrobertifoc opened #2117 "bug Rule : Script interpreter couldn't be obtain"
I have the same problem posted on
https://github.com/eclipse/smarthome/issues/1393.
and discussed on
https://community.openhab.org/t/intermittant-rule-issue/11663/8

it seem that rules, when are updated ( or refreshed by the system ), the "old" version stay on memory and generate the error :Script interpreter couldn't be obtain

my test.items
[code]
my test.rules
[code]
With openhab android is nec

[2016-09-04 19:57] #2066 closed

[2016-09-04 20:33] igorrobertifoc commented on #2117
Just an information can maybe help, I installed the new rules manager V2 (maybe some conflict)

[2016-09-05 08:08] maggu2810 commented on #2105
Hi @kgoderis, thanks for your detailed analysis.
I assume point 2 is a "no-go" because it will break cron expressions that hit more then 100 times.

I don't know much about the current scheduler code base, but if no candidate was found I assume you refer to "the 100 candidates of the first search are consumed completely". If the real search for candidates does not found anyone, I assume set the st

[2016-09-05 09:32] maggu2810 commented on #2040
@markusjw Have you seen the message of @aounhaider1?

[2016-09-05 09:40] maggu2810 commented on #1847
@kgoderis Is it okay for you to create a new one after #2087 has been merged?

[2016-09-05 09:40] aounhaider1 commented on #2040
He sent me the description this morning. I am able to reproduce the issue with that. However, I have a question about context. Is it possible to have a parameter with context=time and type=integer?

[2016-09-05 12:07] kaikreuzer opened #2118 "Paper UI should support "advanced" config parameters"
Configuration parameters can be marked as "advanced".
The Paper UI should respect this setting and hide those by default and only show then when the users asks for it (similar as for advanced channels).

[2016-09-05 13:18] sjka commented on #2116
I'm not sure if I really get your question. You are aware of `ConfigDescriptionProvider.getConfigDescription(URI, Locale)` and the [ConfigI18nLocalizationService](https://github.com/eclipse/smarthome/blob/master/bundles/config/org.eclipse.smarthome.config.core/src/main/java/org/eclipse/smarthome/config/core/i18n/ConfigI18nLocalizationService.java)? What is it that you are missing? Help me understa

[2016-09-05 14:02] kgoderis commented on #2105
Indeed, and in that case the getTimeAfter call should return null. And as you suggest, we first have to try to replenish the pool of candidates, and if none come up, we return the null value.

The question is: it is the responsibility of the calling party to first set (or re-set) the start date, and then do the call, or do we let the Expression handle this based on what it finds?

[2016-09-05 14:02] kgoderis commented on #1847
ok

[2016-09-05 14:36] maggu2810 commented on #2105
* `getTimeAfter(Date)` builds the candidates if the candidates is empty
* this is done by set the start date and parse the expression
* after that the candidates are not empty anymore
* the collection returned by getCandiddates is sorted all the time
* Is there any other function that adds candidates? Shouldn't be it enough to call sort after parseExpression once?

Can we do something similar to t

[2016-09-05 14:55] #2049 closed

[2016-09-05 15:40] cdjackson commented on #2116
Sorry - I should have been clearer that this is to do with the builder, for defining configuration description programatically.

If I want to create a config description using the builder -:

[code]

how does this get internationalised? Can I still describe this somewhere so that the i18n file is used? I don't think so, but maybe I'm wrong?

On the other hand, the ```ConfigStatusMessage.Builder```

[2016-09-05 16:08] maggu2810 commented on #2105
Does this concept with that candidates work for cron expressions at all?
The getTimeAfter(Date) is described this way: "Returns the next date/time <I>after</I> the given date/time which satisfies the expression."

But if we are using candidates and the lookup is done in the candidates (which could be unlimited for cron expressions) then we will only receive correct results if "afterTime" is never

[2016-09-06 07:47] #1971 closed

[2016-09-06 07:58] maggu2810 opened #2121 "Item initialization / item channel link handling"
This issue should continue the non-topic discussion started here: #2087

@maggu2810 (https://github.com/eclipse/smarthome/pull/2087#issuecomment-244746937)

I see a lot of
[code]
now.
After that messages, I see
[code]
and all the
[code]

My thing handlers call `updateState(channelIdWithoutGroup, state);` so if the framework tries to update items, it already knows the item names that are linked to